[2017-12-26 15:53] OrenLX opened #1663 "Simple page.goto doesn't resolves on webapp."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Windows 10
* URLs (if applicable):

Hello,

I am working in company which needs to log into third side website, where we can fetch data about our users. The third side website built with angular and uses routers.

- The first page.goto (the login page) works well.
- After the login - I

[2017-12-26 16:03] Glennvd opened #1664 "page.on('request') doesn't take header overrides into account when processing redirects (301/302)"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13
* Platform / OS version: any
* URLs (if applicable): https://try-puppeteer.appspot.com/

**What steps will reproduce the problem?**
[code]
I've included the following minimal puppeteer code and 2 sample urls. https://www.whatismybrowser.com/detect/what-http-headers-is-my-browser-sending which is a basic page tha

[2017-12-26 18:20] bhoomit opened #1665 "async function inside evaluate fails"
#### Code
[code]
#### Error
[code]

[2017-12-26 18:23] mboeser commented on #1657
Thanks @yujiosaka, I can confirm that worked. Curious as to why the change, scalability perhaps... Is it safe to say url will no longer be a property moving forward? If so, the docs and examples will need some updating too.

[2017-12-26 18:46] pulento commented on #433
+1

[2017-12-26 19:14] namma-geniee opened #1666 "load vs network-idle"
Please help me differentiate "load" and "networkidle"!

Thank you!

[2017-12-26 19:37] abhiapsunde commented on #1610
Hey @ebidel I stumbled upon a document authored by you [headless chrome](https://developers.google.com/web/updates/2017/04/headless-chrome) which talks about `--gpu-disable` for some older versions of chrome [not that old, but early 2017]. You mentioned the limitation will eventually go away, no definite timeline though.
Do you think issue I'm seeing on Windows and Ubuntu is because of something t

[2017-12-26 21:28] vsemozhetbyt commented on #1665
I cannot reproduce with this code and puppeteer v1.0.0-rc on Windows 7 x64:
[code]
Can you provide your configuration and a runnable code fragment with this issue?

[2017-12-27 01:27] jtundag opened #1667 "Can I use this for other browsers?"
Can I use puppeteer in other browsers? eg. firefox, safari, ie, edge?

[2017-12-27 02:17] nylen commented on #1667
No, it's very specific to Chrome.

_Edit: This is no longer true!  See https://github.com/GoogleChrome/puppeteer/issues/1667#issuecomment-445089302_

[2017-12-27 02:20] nylen opened #1668 "page.click fails if webpage redefines window.Node"
If a webpage redefines `window.Node` (to a function, in my case), then calling `self.page.click( 'selector' )` will fail with the following error:

[code]

The error occurs here:  https://github.com/GoogleChrome/puppeteer/blob/v0.13.0/lib/ElementHandle.js#L47

`Node.ELEMENT_NODE` is `undefined` at this point.

[2017-12-27 03:15] vipk31 commented on #1668
Ok

[2017-12-27 03:15] bhoomit commented on #1665
puppeteer v1.0.0-rc ( git://github.com/GoogleChrome/puppeteer.git#fc2fc0d ) centos-release-7-3.1611.el7.centos.x86_64

[code]

[code]

[2017-12-27 03:39] rustkt commented on #1649
You should use the path below:
`/Applications/Chromium.app/Contents/MacOS/Chromium`

[2017-12-27 04:06] pokka commented on #487
Still not getting the cache, all resources(png, css) got 200, but I'm using headless mode.
Can anyone help?

Tested in v1.0.0-rc:
[code]

[2017-12-27 06:31] pokka commented on #1548
@aslushnikov I'm ran your code, and got `200` for all, the version is v1.0.0-rc.
please check it, Thanks.

[2017-12-27 07:24] shprink commented on #557
I have another missing dependency on firebase functions: `libX11-xcb.so`

[code]

[2017-12-27 08:07] vsemozhetbyt commented on #1665
Can anybody reproduce on centos?

[2017-12-27 09:03] yilip commented on #1488
Any idea to solve this problem?

[2017-12-27 09:41] surendra-y commented on #373
Hey @pavelfeldman ,

I tried the following code it is not showing the template as expected.
I have used the following code:

index.js
[code]

package.json
[code]

It is not printing the the headers as Expected.

Any help would be appreciated.

Thank you.

[2017-12-27 09:51] bhoomit commented on #1665
I'm able to reproduce the same on Mac OS Sierra

[2017-12-27 10:13] seekshiva opened #1669 "Provide option to set dpi of generated screenshot"
### Steps to reproduce

* Puppeteer version: all?
* Platform / OS version: all?
* URLs (if applicable): -

**What steps will reproduce the problem?**

screenshot api doesn't allow setting dpi of target image

**What is the expected result?**

screenshot api allows setting dpi of target image

Sort of similar to #1057 (which is for setting dpi for pdf)

[2017-12-27 10:14] yujiosaka commented on #1664
@Glennvd

I found your report very interesting because it can be reproduced even without puppeteer.
I implemented an example with [chrome-launcher](https://github.com/GoogleChrome/chrome-launcher) and [chrome-remote-interface](https://github.com/cyrus-and/chrome-remote-interface), which reproduces exactly the same result.
[code]

This means that it's not a puppeteer's bug, but probably a Chromium'

[2017-12-27 10:57] Glennvd commented on #1664
I wasn't 100% sure in which category the bug belongs, but I've submitted an issue [here](https://bugs.chromium.org/p/chromium/issues/detail?id=797733).

[2017-12-27 13:33] TomasHubelbauer commented on #1667
@crow1796 Someone put together https://www.npmjs.com/package/puppeteer-fx which attempts to reimplement Puppeteer API for Firefox, but it's very alpha and the author doesn't see to plan on developing it any further alone because it suits their needs as it is now.

IE and Edge are also programmable I think, because they can be scripted for Coded UI test automation and MS Test. So in theory a simila

[2017-12-27 15:43] patrickeakin opened #1670 "Feature Request: Puppeteer in the devtools console"
I am building a suite of automated tests using Puppeteer, Mochajs and Chaijs. While building the tests I rely heavily on the devtools console to find the right way to select elements, to traverse nodelists, to determine what to validate, basically to figure out what i need to do in my Puppeteer scripts. Though there is always a translation that needs to happen which involves experimenting with Pup

[2017-12-27 20:03] dewijones92 commented on #299
@ecovirtual thanks for that solution 👍

[2017-12-27 20:56] JoelEinbinder commented on #1096
The keyboard event we are abusing to send accepts a 4 character UTF16 string, but it only uses the first character. This is causing large emoji characters to be truncated.

WebKit sends a `char` event for emoji, but Chromium doesn't. So we should add a new protocol method to send just an `input` event.

[2017-12-28 01:57] mboeser commented on #1666
I believe it's when the browser fires the Load event. Curious to know if 'networkidle' is dependent on the load event first then listens to network activity.

https://developer.mozilla.org/en-US/docs/Web/Events/load

[2017-12-28 02:58] #980 closed, assigned to JoelEinbinder

[2017-12-28 03:29] aslushnikov commented on #1384
There's been an extensive discussion about throwing an error in #1099. Returning currently selected options seems to be a good compromise to me that satisfies all the interested parties.

The throwing behavior could be simulated with little effort:
[code]

Closing this for now; we can revisit this later if there are many clients who are unhappy with the API.

[2017-12-28 03:29] #1384 closed, assigned to nobody

[2017-12-28 03:38] aslushnikov commented on #1670
I'd love this as well. We'll see if we can allocate some time to implement this.

[2017-12-28 03:40] aslushnikov commented on #1669
You can use [`page.emulate`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageemulateoptions) to setup a viewport with a different scale factor.

[2017-12-28 03:40] #1669 closed, assigned to nobody

[2017-12-28 03:49] aslushnikov commented on #1668
Thanks for the heads-up. This has the same core issues as #609. Closing as dupe, please upvote to have it fixed and to influence our prioritization

[2017-12-28 03:49] #1668 closed, assigned to nobody

[2017-12-28 03:51] aslushnikov commented on #609
As reported in #1668, `page.click(selector)` doesn't work if page redefines `window.Node`

[2017-12-28 03:53] aslushnikov commented on #1667
Puppeteer works atop of Chrome DevTools protocol and is only compatible with Chrome.

[2017-12-28 03:53] #1667 closed, assigned to nobody

[2017-12-28 04:04] aslushnikov commented on #1666
I assume we're talking about the `waitUntil` argument of `page.goto` method and others.

The "load", "networkidle0" and "networkidle2" arguments tell puppeteer when to consider navigation
successful. In this regards, "load" and "networkidle" arguments are orthogonal:
-  `load` argument corresponds to the [`load`](https://developer.mozilla.org/en-US/docs/Web/Events/load) event in the page. In certa

[2017-12-28 04:04] #1666 closed, assigned to nobody

[2017-12-28 04:06] aslushnikov commented on #1665
@bhoomit what's your node.js version and what version of chromium do you run with puppeteer?

[2017-12-28 04:08] aslushnikov commented on #1664
Thanks @Glennvd @yujiosaka for the investigation!

[2017-12-28 04:09] aslushnikov commented on #1663
Yes, the hash-only navigations don't work currently. Closing this as dupe of #257 (please upvote the issue to influence our prioritization).

[2017-12-28 04:09] #1663 closed, assigned to nobody

[2017-12-28 04:11] aslushnikov commented on #1662
@jydchanglong you can click it with javascript:

[code]

[2017-12-28 04:11] #1662 closed, assigned to nobody

[2017-12-28 04:12] aslushnikov commented on #1660
It looks like this exception is thrown by `page.goto` method. You can catch the promise rejection there and reload the page if necessary.

[2017-12-28 04:12] #1660 closed, assigned to nobody

[2017-12-28 04:14] aslushnikov commented on #1659
@JoelEinbinder is there any way to simulate `dblclick` event? Will the [mouse.click](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#mouseclickx-y-options) with `clickCount` argument work?

[2017-12-28 04:20] JoelEinbinder commented on #1659
Yep! `dblclick` is fired by `clickCount`, not by the timeout. That way we can send clicks as fast as possible without triggering double click, or send double clicks with arbitrary delay in between each click.

[code]

[2017-12-28 04:20] #1659 closed, assigned to JoelEinbinder

[2017-12-28 06:10] canonic-epicure commented on #1659
Good to know. This detail (setting `clickCount` for simulating double click) should be mentioned in docs for "click" method then..

[2017-12-28 06:23] kottackalaiswarya opened #1676 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1)"
<!--

I was trying to run a CORDOVA Project . But after i install the SDKs required, i was getting errors while running the app.
**ERRORS**
[code]
 Please help me in solving this issue so as to run the project.

[2017-12-28 07:08] anvaka commented on #1523
@gregorym make sure you launch chrome with `--single-process`:

[code]

Looking at your log files it seems like debugging target never responds to the debugging client. `Page.enable` is sent, but no `Target.receivedMessageFromTarget` message afterwards (which is required)

This [argument is set](https://github.com/sambaiz/puppeteer-lambda-starter-kit/blob/52351d0e50c8f611e8949c23ebd0fabb721ea169/s

[2017-12-28 07:15] JoelEinbinder commented on #1665
Are you transforming your code with babel? The babel async function code isn't compatible with Puppeteer. We call `function.toString` and send your code into Chromium, but babel messes with that and we end up sending an incomplete string. You can get around this by using template strings instead of functions.
[code]

[2017-12-28 07:22] JoelEinbinder commented on #1653
You can start Puppeteer with `about:blank` like so:
[code]

[2017-12-28 07:31] harisibrahimkv commented on #617
Seems like you can use the `page.select()` method for this.

https://stackoverflow.com/a/47435873

[2017-12-28 07:44] fran0254 opened #1678 "How to detect the internet/connection going offline"
Is there a way to exit or close my script when there is no internet connection?

[2017-12-28 09:28] canonic-epicure opened #1679 "[Feature request] Mouse wheel API calls"
Sounds a bit old in our age of touch interfaces, but would be great to have native mouse wheel simulation (to use with existing code).

[2017-12-28 10:42] ZaninAndrea opened #1680 "Get network requests"
Is it possible to get the network requests (as in the chrome dev tools network tab)? I checked Chrome DevTools Protocol and they offer APIs to do that, but puppeteer does not.
I was wondering whether there is a way to make this work in puppeteer or to get the Chrom DevTools Protocol instance and use its APIs.

[2017-12-28 11:13] pavsidhu commented on #1650
@benjamingr I tried doing what you said, updating puppeteer node_modules, and still no luck. It's strange because yesterday, it was working fine, `browser.newPage()` resolved and now today it isn't. I can't put my finger on what the issue is here.

[2017-12-28 14:38] Everettss commented on #1678
Use [`window.addEventListener('offline', cb)`](https://developers.google.com/web/updates/2011/06/navigator-onLine-in-Chrome-Dev-channel)

Here is an example of usage, but remember that there is hack with `process.exit()` since promise `page.waitFor(30000)` can still be funning after `isOffline` resolves. It only showcases that you can listen to `offline` event.

[code]

[2017-12-28 14:53] avitavdi opened #1681 ""'Page.getFrameTree' wasn't found undefined" when using chrome"
Trying to automate filling a form.
When trying to use chrome Im getting the following error:
UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Protocol error (Page.getFrameTree): 'Page.getFrameTree' wasn't found undefined

Same code works with the out of the box chromium packaged with puppeteer. but I get different type of captach when using chromium thats why

[2017-12-28 16:40] riskers opened #1682 "mouse.click is invalid"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: mac OS 10.13.2
* URLs (if applicable): https://codepen.io/riskers/full/xpqPee/

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

get image:

<img width="582" alt="screenshot 2017-12-29 00 39 36" src="https://user-images.githubusercontent.com/5653652

[2017-12-28 20:57] yujiosaka commented on #1682
It's working for me with the following environment:

- Puppeteer version: 0.13.0
- Platform / OS version: mac OS 10.0.5
- URLs (if applicable): http://7rfjqi.com1.z0.glb.clouddn.com/index.html

[2017-12-28 21:07] yujiosaka commented on #1657
@mboeser
The API changed [here](https://github.com/GoogleChrome/puppeteer/pull/1621). It seems that the docs and the examples are changed correctly at the same timing. The reason is written in the PR description btw.
It happens when you use master branch, and it's a good thing :)

[2017-12-28 21:18] mboeser commented on #1657
Thanks for pointing that out. I will now close this.

[2017-12-28 21:18] #1657 closed, assigned to nobody

[2017-12-28 21:20] yujiosaka opened #1683 "It would be useful to have Node.js version to the issue template"
The current Issue template asks the following questions.

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):

I noticed some folks adds Node.js version to this list, and I found it very useful.
It would be nice have it in the template.

[2017-12-28 21:28] melkayam92 commented on #1649
@indexmotion Thanks! its worked.

[2017-12-28 22:24] #1683 closed, assigned to nobody

[2017-12-29 03:37] segmentationfaulter opened #1689 "Cannot take a screenshot using puppeteer, it dumps an empty image file"
I am having a skeleton html file named `test.html`, and here is what it contains:

[code]

then I have another file aimed at opening the above file in chrome headless, inject an image into its `body` and then take its screenshot, have a look:

[code]

Upon running this code, I get an empty image as a screenshot, whereas I was expecting it containing an image. You can also note that I am dumping th

[2017-12-29 03:41] Alex1990 commented on #683
I have come cross the same issue.

[code]

[code]

The `Page.pdf()` options:

[code]

Then, the below image shows the result.

![image](https://user-images.githubusercontent.com/3141679/34428934-b374f660-ec8c-11e7-8e4b-c25c1f3e04d1.png)

And, then there is one extra page.

[2017-12-29 03:50] rustkt commented on #1649
My pleasure, it sometimes really puzzle people but "xxx.app" is just a folder on OS X essentially, not an executable. Now please close this issue, thanks!

[2017-12-29 06:54] riskers commented on #1682
@yujiosaka thx...

it's my fault.

[2017-12-29 06:54] #1682 closed, assigned to nobody

[2017-12-29 07:10] JoshuaKGoldberg opened #1690 "Support for Node 5?"
I'd like to use this in the build step for a package that supports Node 5. README.md states at least version 6.4 is required - is there a reason?

[2017-12-29 10:16] Everettss commented on #1689
This is due to that you didn't wait for the image to download. It is a race condition between image download and taking a screenshot.
You should wait for image `onload` like this:

[code]

[2017-12-29 10:20] philipp-winterle commented on #1591
You are absolutely right, but it is too much and its not related to my code. On the other hand Iam not allowed to share this code. More to the code of penthouse. For that I put the link in the description to have a look at the code.

I can say that Iam using child processes to speed up what Iam doing and it happens not every time and not at the same time.
Sorry that I can't help more. :(

[2017-12-29 10:55] Everettss commented on #1680
You should check [`page.tracing`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-tracing) methods. Results from `page.tracing` contains all data from network tab and much more.

I wrote an article ["Test website performance with Puppeteer"](https://michaljanaszek.com/blog/test-website-performance-with-puppeteer#extractDataFromNetworkTrace) containing example how to extract

[2017-12-29 15:08] guillem-catala commented on #1656
I have found the bug. The problem is that I'm making screenshots so fast that sometimes the clip I pass as a parameter to the Page.screenshot method contains invalid values, like a bounding box of 0 height because the browser has not yet calculated the dimensions of the element.

I think this needs a fix in puppeeter maybe checking that values are greater than 0 here
https://github.com/GoogleChrom

[2017-12-29 16:50] alixaxel commented on #1421
I think this would be helpful, or at least it should be boldly documented... It's so easy to fall into this trap.

[2017-12-29 17:43] nylen commented on #609
Suggest renaming this issue to something more general, like: "Puppeteer methods break if pages redefine built-in global objects"

Is this sort of thing even possible to work around at the library level?  I did this in my code, which seems to work ok:

[code]

[2017-12-29 22:16] skyiea opened #1693 "[Feature request] Ability to set instance prefs and localState in addition to args"
I want to provide Chrome instance with `prefs`/`localState`. Using *ChromeDriver*'s `chromeOptions` (https://sites.google.com/a/chromium.org/chromedriver/capabilities) I could set something like this:
[code]
Is it possible to do the same with *puppeteer*? (I saw the workaround for setting download dir through `_client`, but the question is more general)

Here is related issue: https://github.com/G

[2017-12-29 22:16] chanlvh commented on #919
is there somewhere to track if those api changes landed on stable yet?

[2017-12-29 22:41] brigand opened #1694 "Conditional catch for errors"
<sup>Issue template didn't really apply.</sup>

I can't find anything in the api docs page about error handling. The main type of error that's encountered is a timeout. The issue is that there's no documented way to distinguish the type of error received in the `catch` after awaiting a promise that rejects.

The issue is that good code (most of the time) needs to do conditional catches to avoid si

[2017-12-30 05:55] seekshiva commented on #1669
That doesn't work. When I do `setViewport()` with `{ height: 100, width: 100, deviceScaleFactor: 2 }`, and take screenshot with `clip: { top: 0, left: 0, width: 100, height: 100 }`: The screenshot image generated has 200x200 pixels and the file is at 72dpi. If I set deviceScaleFactor: 4, the resultant screenshot image is 400x400 pixels with 72dpi.

As you can see, changing deviceScaleFactor is onl

[2017-12-30 06:45] seekshiva commented on #1669
You can check the dpi setting on an image by opening it in Photoshop or a similar app.

[2017-12-30 11:33] yujiosaka commented on #1665
@JoelEinbinder
It's good to know. May I make a PR to add the message to the docs not to use transpiler?

[2017-12-30 15:49] gpetrov opened #1695 "Allow Chromium extension url pages and webviews to be recognized as regular pages"
Currently if you open pages with urls like:  chrome-extension://fjjllfpmlaejicjkpknbdicd...
Those get:

[code]

so the type is **app** and target.page() doesn't work to obtain the target page, due to this check:

[code]
at https://github.com/GoogleChrome/puppeteer/blob/master/lib/Browser.js#L194

The same is also valid for pages within a webview
[code]

so the check should be changed to
[code]

[2017-12-30 22:06] skyiea opened #1696 "[BUG] Browser closes after 5s timeout if notification with requireInteraction flag is opened"
I'm trying to switch to `puppeteer` to test Chrome extension, and facing an issue that drastically increases time needed for tests to run - from 1s to 6s.
I've nailed exact culprit. [On extension install](https://developer.chrome.com/extensions/management#event-onInstalled) I'm showing notification with a flag `requireInteraction` set to `true`.

With that flag `browser.close()` holds for 5 second

[2017-12-30 22:14] skyiea opened #1697 "[Question] How to know that browser is opened with Puppeteer"
Is there a way to know (from page's JS) that the browser is running with Puppeteer? I saw the tip to check for `headless` string in `userAgent`, but I'm running with `headless: false` (testing extension).
I'd like to switch some features if the extension is run in tests.

[2017-12-30 22:37] #1649 closed, assigned to nobody

[2017-12-30 23:20] bitliner commented on #386
Sometimes I solve it by removing the need to switch page, by removing `target="_blank"` attribute:

[code]

[link](https://stackoverflow.com/a/48038701/875692)

[2017-12-31 03:45] patrickeakin opened #1698 "Needs to be republished to npm."
Looks like the code published to npm is 2 months old. I'd like to get the latest `xpath` goodness into my project via yarn. Is there a release scheduled soon?

[2017-12-31 07:49] getmonyinfo commented on #1467
+1 it's still there

[2017-12-31 09:38] yujiosaka commented on #1697
@skyiea
How about setting a user agent like 'puppeteer', so that you know from `window.navigator.userAgent` ?

[2017-12-31 10:23] marco-pragliola commented on #1698
Just specify the latest version explicitly.

`npm i puppeteer@1.0.0-rc`

(Example with `npm`, just do the equivalent for `yarn`)

[2017-12-31 10:33] skyiea commented on #1697
@yujiosaka It works. Though I would thought it shouldn't, because I'm testing chrome extension, which has `background.js`, which executes immediately on extension (browser) start (before I could change `userAgent`). But surprisingly it came out that `page.setUserAgent` is executed _before_ `background.js`.
The matter is closed. Thanks.

[2017-12-31 11:01] skyiea opened #1699 "[BUG] Different color shades of screenshots taken from different displays"
I'm trying to use `puppeteer` for visual regression testing.
When I do `page.screenshot` output images differ (in shades of colors) on different displays (MBP built-in display vs Dell monitor display).
Am I missing some option?

[2017-12-31 13:30] skyiea commented on #1697
I was wrong.
`background.js` is opened with default `userAgent`. After `page.setUserAgent` it seems to reload the page, that's why I've thought everything is cool.

[2017-12-31 17:02] patrickeakin commented on #1698
Thanks @marco-pragliola

[2017-12-31 17:53] ebidel commented on #1678
I like the idea of using the browser's apis for this. Especially since there's built-in support for an `offline` event.

Instead of hijacking console events, you could also listen for the browser's `offline` event in the page, and then emit your own on `page` using `exposeFunction`:

[code]

And you'll want to use something like @Everettss shows with `Promise.race` to make sure the script eventual

[2017-12-31 18:05] #1678 closed, assigned to nobody

[2017-12-31 18:08] ebidel commented on #1680
^ 👍  You can also intercept/collect network requests as they happen:
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetrequestinterceptionvalue

[2017-12-31 18:08] #1680 closed, assigned to nobody

[2017-12-31 19:06] ebidel commented on #1698
I suspect we'll probably do a release early next year after the holidays. Until then you can pull from master.

[2017-12-31 19:06] #1698 closed, assigned to nobody

[2017-12-31 19:11] ebidel commented on #1697
Extensions run in an isolated world from the page, but that's interesting that the UA isn't preserved when the background page fires up.

Maybe you could inject a variable (`window.PUPPETEER = true`) into the page and have your background page read it?

[2018-01-01 00:31] ebidel commented on #1696
What if you use the web notification api instead of the crx api?

[code]

I created a page without extensions involved which registers an empty service worker and displays a notification. After the user grants access, the notification shows but doesn't hang on `await browser.close()`. You may also want to try closing it yourself (`Notification.close()`) to see if that works (what the script does a

[2018-01-01 06:15] segmentationfaulter commented on #1689
@Everettss Thanks man, it solved it.

[2018-01-01 06:15] #1689 closed, assigned to nobody

[2018-01-01 07:03] theoutlander opened #1700 "Error: kill ESRCH on puppeteer.launch({}) on CircleCI"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Ubuntu on CircleCI
* Node.js version: 8.9.1

**What steps will reproduce the problem?**
Not sure how to repro this. Maybe try launching puppeteer on CircleCI via npm test? This works fine locally on OSX.

It fails on the following call:
```  const browser = await puppeteer.launch({})``

[2018-01-01 14:01] stephanreiter opened #1701 "host-rules ignored"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Debian Stretch 9.2
* Node.js version: 8.9.3

**What steps will reproduce the problem?**

[code]

**What is the expected result?**
I expected 127.0.0.1 to be contacted for the web page and then an HTTP 404 error (I am not running a web server on localhost).

**What happens instead?**
Re

[2018-01-01 14:58] skyiea commented on #1697
@ebidel Extension _content scripts_ run in isolated scope from the web-page, not background/options/browser-action-popup. Anyway, don't think there is anything to do with isolated scope.

Setting global variable won't help, because:
1. Browser gets opened with an extension within (loaded through `--load-extension` arg).
2. Extension's `background.js` is executed. _<- here I need to know whether it

[2018-01-01 20:49] JoelEinbinder commented on #1701
Remove the quotes:
[code]

[2018-01-01 20:54] JoelEinbinder commented on #1700
Looks like the chrome process is failing to launch. Can you try some of the workarounds posted in https://github.com/GoogleChrome/puppeteer/issues/290?

[2018-01-01 21:00] stephanreiter commented on #1701
Doesn't work.

chrome process arguments are obviously wrong with this, i.e. ..... --hide-scrollbars --mute-audio --host-rules=MAP * 127.0.0.1 --no-sandbox  => "--host-rules=MAP" "*" "127.0.0.1" are three separate argvs.

[2018-01-01 21:11] stephanreiter commented on #1701
Nevermind that comment of mine about the process args. I used "ps aux | grep chrom" to check that and there's no way to tell from it whether there are three separate value or just one value passed to the executable.

Nevertheless, chrome contacts the host 93.184.216.34 instead of 127.0.0.1 (checked with tcpdump).

[2018-01-01 21:15] skyiea commented on #1670
@patrickeakin You can open `node` process in CLI and use `puppeteer` to control the browser command by command, step by step. This way you don't need to run your scripts over and over again. Is that what you meant?

[2018-01-01 21:16] JoelEinbinder commented on #1701
Ah, I was running `headless: false` to see what is going on. The combination of both removing the quotes and headful mode made it work for me. But there also seems to be some caching going on so I'm not 100% sure.

[2018-01-01 21:21] JoelEinbinder commented on #1701
Looks like the `--host-rules` flag is not used by Chrome headless. Compare:

`chrome.exe --host-rules='MAP * 127.0.0.1' https://example.com`
and
`chrome.exe --host-rules='MAP * 127.0.0.1' --dump-dom --headless https://example.com`

[2018-01-01 22:31] carpeliam commented on #1265
I'm also using [react-dnd](https://github.com/react-dnd/react-dnd), and seeing similar issues. I've forked @psachs21's example to add mouse/drag event logging and uploaded it to http://carpeliam.github.io/dnd-repo/ - the big difference is that a `drop` event is triggered when running the example manually, but not when running via puppeteer.

[2018-01-02 12:29] ayal commented on #373
So here's my two cents about how I got the custom templates to work -
Contrary to what @bjrmatos suggested, I *did* set displayHeaderFooter to true, and set the margin to, say, 40 (```{margin: {top: 40, bottom: 40}}```)
Then, like @pofider said, the size of the text in the header/footer was very small, almost invisible (as in size 1 or two, like little ants)
I was not able to correct this with the

[2018-01-02 14:24] marco-pragliola opened #1703 ".waitForFunction() should return a value"
It seems that as for now, `.waitForFunction()` just checks for the truthiness of the returned value in the frame context, which is then discarded. It is impossible to implement any functionality that waits for the function's Promise actually returning a value and using that value in the Node context.

One possible scenario would be using `.waitForFunction` to wait for a specific `<option>` tag wit

[2018-01-02 15:06] jackfranklin opened #1704 "Puppeteer is stripping `£` from element content."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.0.0-rc (but also seen this in 0.13)
* Platform / OS version: Mac OS X Sierra (and also Docker w/ Debian Jessie)
* URLs (if applicable):
* Node.js version: 8

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

We have some HTML that looks like so:

[code]

And we are access

[2018-01-02 15:51] alixaxel opened #1705 "[Feature Request] Return All Nodes from XPath"
Right now, the [current `page.xpath()` implementation](https://github.com/GoogleChrome/puppeteer/blob/60ba8c3af9f18dbceb0ce93815d378bb423b658a/lib/ElementHandle.js#L204) only returns the first matched element.

I find this implementation somewhat restrictive, specially considering it's tied to `ElementHandle`.

For instance, if we wish to find all `ANY_*` XPath result type constants on the [MDN we

[2018-01-02 15:55] marco-pragliola commented on #1703
Btw, I implemented a sort of workaround by juggling with a `document._puppeteer` object in the page context in which I store a value, which is read _again_ with `page.evaluate()` and performes tasks from the node contexts based on the value.

But it is very ugly.

[2018-01-02 18:41] yujiosaka opened #1706 "Needs more information for `browser.version()`"
According to Chrome DevTool protocol, [Browser.getVersion](https://chromedevtools.github.io/devtools-protocol/tot/Browser/) returns not only `product` but also other properties such as `userAgent`.

In my environment, the raw API returns the following object:

[code]

However, the current `browser.version()` returns only `product` property. The code is [here](https://github.com/GoogleChrome/puppet

[2018-01-02 19:13] chooserich commented on #1278
This appears to still be unresolved and is mentioned in [this issue](https://github.com/GoogleChrome/puppeteer/issues/1637) as well

[2018-01-02 19:52] JoelEinbinder commented on #1704
I wasn't able to duplicate that with this script:

[code]

[2018-01-02 20:06] krukid opened #1707 "Gzipped interceptedRequest.respond body not being decompressed"
* Puppeteer version: master
* Platform / OS version: Ubuntu 16.04.3
* Node.js version: v8.6.0

**What steps will reproduce the problem?**

1. Run _setup script_
2. Run _main script_
2. Open dev tools network tab via `chrome://inspect` before startup timeout expires (5 sec)
3. See that intercepted compressed request `http://fancybear.gov.us/jquery-3.2.1.min.js` yields gibberish

_setup script_ -->

[2018-01-02 20:08] JoelEinbinder commented on #1694
Can you give some more context as to why you are catching errors in the first place? This seems reasonable, but I'd be scared to rely on Puppeteer failing in a consistent way. Maybe there is some other change we could make to make your life easier.

[2018-01-02 20:17] JoelEinbinder commented on #1690
You could try to transpile puppeteer to work with node 5, but we don't run our tests on anything older than node 6. Puppeteer uses es6 features like rest and spread operators. We haven't had much demand for Node 5.

[2018-01-02 20:42] JoshuaKGoldberg commented on #1690
Would you be opposed to (me?) adding Babel to part of the release process? Either:
* Having the released .js files all be transpiled
* Having a separate transpiled version of the files?

[2018-01-02 20:43] yujiosaka commented on #1704
Me neither.

@jackfranklin
Can you provide an actual URL? Only one possibility I came up with is that `£` is added dynamically by JavaScript.
When the JavaScript is executed before puppeteer extract element, `£` may look stripped.

[2018-01-02 20:44] JoelEinbinder commented on #1690
We can’t use Babel easily  because we use function.toString to send functions to Chrome. We have our own transpiler for node6 for this reason

[2018-01-02 20:55] yujiosaka commented on #1703
I don't know if it's what you exactly want, but it seems to me `page.waitForSelector` works perfectly fine for your case.
It should be something like this:

[code]

[2018-01-02 22:19] aslushnikov commented on #1705
@JoelEinbinder how about returning array of all matched elements from `page.xpath`?

[2018-01-02 22:26] marco-pragliola commented on #1703
@yujiosaka but your `label` attribute makes no sense, it should be `value`, with label I am referring to the `innerHTML` of the `option`. Which is impossible to check via selectors.

Practical example: a page is loaded with a `select` tag. The dropdown is filled via AJAX with some `option` tags like:

[code]

I have to intercept the option whose `innerHTML` is `Foo` and retrieve its value (`45`).

[2018-01-02 22:46] GregRos opened #1708 "[Feature Request] [Pull Request?] Declare Request._requestId or Request._interceptionId in the API"
When you intercept or inspect a request via the DevTools protocol, you use a special `InterceptionId` or `RequestId`. Can you expose these properties via the `Request` object? I can already see that they are kept tracked of in the `_interceptionId` and `_requestId` fields, respectively, but they are undocumented and meant to be private.

Since this is a standard feature of the DevTools protocol, i

[2018-01-02 23:37] aslushnikov commented on #1669
@seekshiva the dpi you refer to is not the property of the image; it's just the exif label. We don't write any exif metadata - the `72dpi` value reported by photoshop is a default value it uses.

[2018-01-02 23:41] aslushnikov commented on #487
@pokka the same happens to me if I just open the website in chrome and try to reload: all resources are loaded with 200 (check out devtools network panel). Looks like server disabled caching.

[2018-01-03 00:28] lvvittor commented on #512
Hi, i want to do the same thing. I don't understand the solution. I'm noob at web scraping.

[2018-01-03 03:05] rustkt commented on #1704
AFAIK, the frontend developers is used to place price unit into `::before` selector as a pseudo element:

[code]

So it is break away from html content, in this case, we cannot capture the price unit in div element's `innerHTML` property.

[2018-01-03 05:14] yujiosaka commented on #1703
@marco-pragliola

gotcha! you are right!

`document.querySelector(page.$)` does not support `:contains` query which jQuery has, so my suggestion does not work.
my apologies.

however, i don't know if it's the right API design to return JSHandle or serializable by `page.waitForFunction()`.
it sounds a bit weird behavior to me considering the method name.

Another solution I came up with is to imple

[2018-01-03 05:25] yujiosaka commented on #1705
**FYI**

selenium-webdriver has both `getAttributeByXpath` and `getAttributesByXpath`.
the former returns a single element and the latter returns all.

[2018-01-03 08:26] ArturPrzybysz opened #1709 "demo security issue (try-puppeteer)"
Every user of https://try-puppeteer.appspot.com/ is able to scan the servers content using

`await page.goto('file:///');
`

[2018-01-03 08:29] marco-pragliola commented on #1703
@yujiosaka Actually, `.waitForXPath` was the thing I was missing at the beginning. Then, trying some hacks and workarounds, I came up with this question. But yes, it could solve some scenarios.

It is very common to do tests or scraping based on the presence of some inner HTML and not a tag, class or id by itself.

[2018-01-03 10:30] MaestroJurko commented on #550
@ak239 I have the same issue.

[2018-01-03 12:00] Cotspheer commented on #1676
Saw your issue on bountysource.com today. Ensure that you have installed the latest version of all required plugins and node packages. Ensure that the version within package.json matches within the config.xml file from cordova. Remove the version flags (^, ~ etc.) to ensure that the specified version gets installed.

After that, remove following directories: "platforms", "plugins", "node_modules".

[2018-01-03 12:16] ArturPrzybysz commented on #1478
@kazaff
Have you figured it out? I am having a similar problems as you described.

[2018-01-03 15:36] dallashuggins commented on #1325
I was consistently receiving the same error:

[code]

I added `await page.waitFor(4000);` in every place where I had `await page.waitForNavigation({ waitUntil: 'networkidle0', timeout: 0 });` and I no longer am receiving the error. Now I am getting the following error, but the function does complete successfully after throwing this error. It's a step in the right direction!

[code]

I tried changi

[2018-01-03 15:50] ebidel commented on #1709
See https://github.com/ebidel/try-puppeteer/issues/6

[2018-01-03 15:50] #1709 closed, assigned to nobody

[2018-01-03 16:06] dallashuggins commented on #1478
@kazaff sorry for the late response, missed your comment. The './' would download the file as a sibling to the file you are running. The download path I used was './reports' which downloads the file to a sibling folder on the same level as the file I am running (in the root directory).

Here is the section of my code that I am running, which downloads the report into the reports folder and then re

[2018-01-03 16:39] kmturley commented on #379
I got this working quickly on gitlab by manually installing the dependencies onto the base node image:

[code]

However aware this is not the best approach. Later will switch to the example, where Chrome is running inside the container:
https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker

And using the example project Eric created:
https://gith

[2018-01-03 19:00] stephanreiter commented on #1701
Thanks for your work to find out what's going on, Joel!!
I guess I should take this to the chromium developers. "--enable-quic" is another argument that is ignored in headless mode, and there's a defect about that registered already: https://bugs.chromium.org/p/chromium/issues/detail?id=739162

[2018-01-03 19:20] stephanreiter commented on #1701
Filed it here: https://bugs.chromium.org/p/chromium/issues/detail?id=798793&q=component%3AInternals%3EHeadless

[2018-01-03 19:20] #1701 closed, assigned to nobody

[2018-01-03 20:16] jwillingham789 commented on #338
@Sinequanonh

[code]

You can add a timeout just after going to the page if you want to wait a set amount of time before taking the screenshot

[2018-01-03 20:27] theoutlander commented on #1700
Thanks @JoelEinbinder. I'll look into the workaround this week.

[2018-01-03 20:33] gajus commented on #1325
This needs more attention. It hasn't even been acknowledged as a bug.

I have ceased using Puppeteer and ended up developing our own abstraction mostly because of this issue (and general project maintainer attitude towards this project).

Really a shame to see that what Google Chrome team are pushing as an "official" abstraction is being treated with such negligence.

As I am no longer using Puppe

[2018-01-03 23:37] #1705 closed, assigned to JoelEinbinder

[2018-01-04 02:12] aslushnikov commented on #1708
@GregRos The API you request should be a part of a bigger story about `pptr<->other protocol clients` interop. We have a tracking bug for it - see #31, but there's no good plan yet. I'd love to have a general strategy first before exposing any specific bits of API.

Talking specifically about `interceptionId`, it belongs to the experimental part of the devtools protocol and will be removed in futu

[2018-01-04 02:56] rustkt commented on #1650
Which browser do you use? Chrome or Chromium? If Chrome, is that installed some 3rd-party plugins that will effect browser's working?

I use Chromium that downloaded from official site (not installed by Homebrew), everything goes well.

[2018-01-04 02:57] aslushnikov commented on #1707
Filed upstream: https://bugs.chromium.org/p/chromium/issues/detail?id=798929

[2018-01-04 03:09] aslushnikov commented on #1706
@yujiosaka We can expose them one-by-one as the need arises; I doubt anyone would ever need `jsVersion`.

Actually, you can get one right now with `page.evaluate`:
[code]

I like the `browser.userAgent()` method since it exposes only the necessary things.
I'll be happy to review a PR!

[2018-01-04 03:12] aslushnikov commented on #1704
Thanks everybody for the investigation; if @indexmotion's suggestion is right, then this works as intended.
Closing this since noone can reproduce otherwise.

[2018-01-04 03:12] #1704 closed, assigned to nobody

[2018-01-04 03:16] aslushnikov commented on #1700
We use a bunch of things to run on travis:
- launching with --no-sandbox
- additionally installing `libnss3`: [.travis.yml](https://github.com/GoogleChrome/puppeteer/blob/master/.travis.yml)

But this looks more like a CircleCI environment issue. We don't use CircleCI for pptr tests and don't have much experience with it, their bugtracker should be a better place for the question. Please don't hes

[2018-01-04 03:16] #1700 closed, assigned to nobody

[2018-01-04 03:21] aslushnikov commented on #1699
@skyiea No, shades of color shouldn't differ. I'm not sure what could be causing this, we don't do anything special with this regard. The only screenshot discrepancy I'm aware of is related to different font rendering on different platforms.

It looks like somethings is changing in the OS when you switch displays. I'll speculatively close this for now.

[2018-01-04 03:21] #1699 closed, assigned to nobody

[2018-01-04 03:25] aslushnikov commented on #1697
@skyiea you can launch chrome with a custom user agent:

[code]

Hope this helps

[2018-01-04 03:25] #1697 closed, assigned to nobody

[2018-01-04 04:09] theoutlander commented on #1700
Thanks @aslushnikov. Since you stated it was a CircleCI env issue, I dug deeper and realized that I was using a docker build for node that circle provided. Upon further investigation, I discovered that they have a browser build type called circleci/node:8.9.1-stretch-browsers. I tried that and it worked! Here are some details off their dockerhub page:

<img width="743" alt="screenshot 2018-01-03 2

[2018-01-04 04:51] VictorChen opened #1715 "Non bundled chromium not launching on CentOS7"
**TLDR**: puppeteer works fine when using the bundled chromium, but not when I use my own installed chromium.

---

**Environment:**

* Puppeteer version: v0.13.0
* Platform / OS version: CentOS7
* Node.js version: v8.8.1

I installed chromium from this rpm:
https://centos.pkgs.org/7/epel-x86_64/chromium-61.0.3163.100-1.el7.x86_64.rpm.html

I set the `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` environment

[2018-01-04 05:09] aslushnikov commented on #1696
@skyiea indeed, `browser.close()` doesn't close right away: at the very least, it awaits beforeunload hooks and some downloads. We should fix this upstream.

[2018-01-04 05:24] aslushnikov commented on #1715
Chrome 61 is too old for puppeteer 0.13. Please try either a newer version of chromium or older version of puppeteer (v0.9.0 might work).

[2018-01-04 05:24] #1715 closed, assigned to nobody

[2018-01-04 05:39] aslushnikov commented on #1694
This sounds reasonable. How about using [`error.code`](https://nodejs.org/api/errors.html#errors_error_code) for the purpose?

[code]

[2018-01-04 05:41] aslushnikov commented on #1695
We're conservative in exposing target types since not all parts of API might work with certain types.

For the webview case, do you connect puppeteer to the chromium on android?

[2018-01-04 05:44] aslushnikov commented on #1693
No, there's no such API for now, mostly because there's not much demand for it.
For the preferences, you can write prefs to the `userDataDir` by yourself similarly to how chromedriver does this. And setting downloads directory is not exposed since we're baking a proper support for downloads.

Out of curiosity, what's your usecase for this?

[2018-01-04 05:47] ebidel commented on #1697
@skyiea the UA isn't what you've set b/c the background page isn't fired up by your Puppeteer script. It's fired up by Chrome. Passing `--user-agent` in `puppeteer.launch()` is the best way to provide a custom UA and have it remain over the lifetime of the browser.

Alternatively, if you wanted to preserve the browser's UA string, you can get tricky:

1. create a blank page in Puppeteer
2. set its

[2018-01-04 05:49] aslushnikov commented on #1690
@JoshuaKGoldberg You might have success transpiling the node6-build puppeteer with babel, but we didn't try. We're not much interested in having node5 as a part of our core distribution unless there are really good and popular usecases (like Amazon Functions for Node6).

I'll close this for now, but please let me know if there are good reasons to have node5.

[2018-01-04 05:49] #1690 closed, assigned to nobody

[2018-01-04 07:02] Tiger6201 opened #1717 "Code stops when error"
Hello everyone,
The probleme is when i get a error like : UnhandledPromiseRejectionWarning timeout 30000ms exceeded Or page crash or any kind of proxy error
the code is stop, how can i for exemple if there is any kind of error or if the code is stop to be able to execute a piece of code, like for exemple: await page.goto('', { timeout: 0 }); or anything.

I'm using in my code sometimes
		        t

[2018-01-04 07:17] Tiger6201 commented on #1717
I finally found the solution on a issue post, by using this:
process.on("unhandledRejection", (reason, p) => {
  console.error("Unhandled Rejection at: Promise", p, "reason:", reason);
  //execute the code you need here
});

[2018-01-04 07:17] #1717 closed, assigned to nobody

[2018-01-04 07:37] aslushnikov commented on #1681
It looks like you're using old version of chrome. Try using Chrome Canary instead of Chrome Stable.

[2018-01-04 07:37] #1681 closed, assigned to nobody

[2018-01-04 07:40] aslushnikov commented on #1676
Issue description doesn't give enough information; hopefully @NightkingCH answer addresses the OP.

[2018-01-04 07:40] #1676 closed, assigned to nobody

[2018-01-04 07:43] aslushnikov commented on #1665
@yujiosaka not sure what would be the good place in the docs. There's been quite a bit discussion on babel on the bugtracker, so it should be searchable now.

Speculatively closing this since the issue seems to be related to transpilation.

[2018-01-04 07:43] #1665 closed, assigned to nobody

[2018-01-04 07:45] aslushnikov commented on #1656
@zamzam I believe this is fixed on tip-of-tree puppeteer. Please let me know if its not.

[2018-01-04 07:45] #1656 closed, assigned to nobody

[2018-01-04 07:49] aslushnikov commented on #1655
@gpetrov there's now `puppeteer@next` that is a bleeding edge version of puppeteer.

The 1.0.0 will be released shortly.

[2018-01-04 07:49] #1655 closed, assigned to nobody

[2018-01-04 07:50] #1653 closed, assigned to nobody

[2018-01-04 07:51] #1651 closed, assigned to nobody

[2018-01-04 08:06] aslushnikov commented on #1648
@Nagisan I'd try a few options here:
- if the page fetches something over network and you know the url it loads, you can subscribe to the [`requestfinished`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-requestfinished) event and wait for the request to finish
- if you have access to the website codebase, you might issue a call to `console.timeStamp` with some label, e.g

[2018-01-04 08:06] #1648 closed, assigned to nobody

[2018-01-04 08:07] aslushnikov commented on #1644
Unfortunately, we don't know much about WebPack here; I'd rather ask on StackOverflow or on webpack's bugtracker.

[2018-01-04 08:07] #1644 closed, assigned to nobody

[2018-01-04 08:09] #1643 closed, assigned to nobody

[2018-01-04 08:11] aslushnikov commented on #1640
@DiegoRBaquero it will break the `page.waitForNavigation` logic.

Overall this is a dupe of #728; see discussion there for possible workarounds.

[2018-01-04 08:11] #1640 closed, assigned to nobody

[2018-01-04 08:19] aslushnikov commented on #1637
@kdzwinel the `waitForNavigation` is in fact a `waitForNextNavigation`. Puppeteer lives out-of-process to chrome, so the "next navigation" is a racy concept.

If you're sure that page is not navigating somewhere and that click spawns a navigation,
I'd use the following pattern to click-and-wait-for-navigation:

[code]

Generally, as @xprudhomme mentioned, the `waitForSelector` gives much better gu

[2018-01-04 08:19] #1637 closed, assigned to nobody

[2018-01-04 08:27] aslushnikov commented on #1650
@pavsidhu I can't reproduce this either.

Some troubleshooting tips:
1. Try installing puppeteer@next and see if it works: `npm i --save puppeteer@next`. This is a tip-of-tree version of puppeteer published on every commit to the repository.
2. Try running the following snippet:
[code]
This outputs `HeadlessChrome/65.0.3298.0` for me on current tip-of-tree.

This seems to be an issue with your env

[2018-01-04 08:27] #1650 closed, assigned to nobody

[2018-01-04 08:29] aslushnikov commented on #1635
@tutabeier could you please share a script that exhibits the issue so that I can reproduce the behavior? Also, could you please try installing puppeteer@next and see if the issue is reproducible there as well?

[code]

(puppeteer@next is a tip-of-tree version of puppeteer continiously published on npm)

[2018-01-04 08:31] aslushnikov commented on #1634
Thanks! The `Security.setOverrideCertificateErrors` is deprecated but stable; we'll wait for the `Security.setIgnoreCertificateErrors` to reach stable state before adopting it.

[2018-01-04 08:31] #1634 closed, assigned to nobody

[2018-01-04 08:38] aslushnikov commented on #1626
So how do you launch the browser you connect to? Is it used by anything else?

P.S. nice `newPage`/`closePage` implementations!

[2018-01-04 08:42] aslushnikov commented on #1610
Hey @abhiapsunde,

The `--disable-gpu` is still needed (at least on windows), see [crbug.com/737678](https://bugs.chromium.org/p/chromium/issues/detail?id=737678)

puppeteer stop adding flags [which includes disabling GPU] when it
encounters headless:true.

On tip-of-tree puppeteer, you can override default flags with the `ignoreDefaultArgs` option to the [`puppeteer.launch`](https://github.com/Go

[2018-01-04 08:42] #1610 closed, assigned to nobody

[2018-01-04 08:42] #1607 closed, assigned to nobody

[2018-01-04 08:48] aslushnikov commented on #1604
@sul4bh as of today, asynchronous execution has poor stacktraces and this is a node.js limitation. Hopefully it will be addressed some time in future by the platform itself.

Meanwhile, if you connect devtools to node, you'll get beautiful async stracktraces that will tell the whole story of code execution.

[2018-01-04 08:48] #1604 closed, assigned to nobody

[2018-01-04 08:48] #1602 closed, assigned to nobody

[2018-01-04 08:53] aslushnikov commented on #1600
This is a pngjs issue: https://github.com/lukeapage/pngjs/issues/95

If it's not fixed soon we should probably migrate to a different solution to compare images for our tests.

[2018-01-04 09:04] foresightyj opened #1718 "Puppeteer with headless:true is extremely slow"
Though this issues has been raised in https://github.com/GoogleChrome/puppeteer/issues/1550, but it was closed and the problem was not addressed.

My environment:
* Puppeteer Version: "puppeteer": "^0.13.0"
* Windows Server 2008 R2 Enterprise with Service Pack 1 & command prompt

With the following minimal test script:

[code]

![image](https://user-images.githubusercontent.com/1296736/34556097-f8

[2018-01-04 09:23] aslushnikov commented on #1718
@foresightyj These are horrible numbers.

I can't reproduce this on OS X; I'll try tomorrow on win.
Meanwhile, could you please try installing puppeteer@next and see if anything's different? Puppeteer@next is a tip-of-tree version of pptr published to npm.

[2018-01-04 09:26] foresightyj commented on #1718
@aslushnikov  Thanks for the quick response. I turned on debugging and collected two logs. See original post. I will try the same code in another machine.

[2018-01-04 09:29] aslushnikov commented on #1599
There's a limitation on the resource content size that devtools keep in memory. It's 10Mb for resource, and there's also a total of 100Mb limit to store all resources: [InspectorNetworkAgent.cpp](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/inspector/InspectorNetworkAgent.cpp?type=cs&sq=package:chromium&l=104-107)

There's experimental support in the protocol to amend these

[2018-01-04 09:31] foresightyj commented on #1718
@aslushnikov Sorry. The original test result was collected on a windows server 2008 (which was wrong in the original post but I corrected it just now). This server was our deployment server which runs Teamcity and IIS which hosts a dozen web sites. I am trying to set up puppeteer as one of the Teamcity build steps so it is better run without head.

My own computer is a windows 7 machine. The same

[2018-01-04 09:36] aslushnikov commented on #1718
@foresightyj Ah! Looks like everything's fine then. Do you want to close the issue?

[2018-01-04 09:37] aslushnikov commented on #1597
@p0psicles there's [`PUPPETEER_DOWNLOAD_HOST`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#environment-variables) that you can use to download from a mirror.

[2018-01-04 09:37] #1597 closed, assigned to nobody

[2018-01-04 09:41] aslushnikov commented on #1596
Looks like the discussion has moved over to [crbug.com/795134](https://bugs.chromium.org/p/chromium/issues/detail?id=795134).

[2018-01-04 09:41] #1596 closed, assigned to nobody

[2018-01-04 09:44] foresightyj commented on #1718
@aslushnikov No quite. It is fast in my own computer but not in the build server, which is where I really want to make it work.

I posted it here in the hope that some one might experienced the similar issue or the official team might give me some hints.

To highlight a few places in the headless.log where it seems to have spent way too much time on:

[2018-01-04 09:49] foresightyj commented on #1718
@aslushnikov The build server hosts Teamcity and IIS which has much more network IO than my own computer. But I still do not see how it might affect puppeteer's performance. In addition, the comparison was done in the same machine with/without head and all other things equal. It is beyond my understanding/guess.

I can understand if the official team cannot help in this case as you cannot repeat t

[2018-01-04 09:49] aslushnikov commented on #1594
I assume the OP required the `executionContext.frame()` method that would return the parent frame. This should be easy to add.

[code]

[2018-01-04 09:54] aslushnikov commented on #1718
@foresightyj this sounds like a process priority issue. I don't have much experience with Windows, but some googling gave me a plausible entry on [serverfault](https://serverfault.com/questions/151824/process-runs-slower-as-a-scheduled-task-than-it-does-interactively).

[2018-01-04 09:59] foresightyj commented on #1718
@aslushnikov That is a very plausible guess. I am not sure but windows might assign higher priority to processes with UI?

I will follow your hint and come back with results. Thanks a lot!

[2018-01-04 10:00] aslushnikov commented on #1593
@vonGameTheory We're fixing these; it takes time.

@vonGameTheory the header would work nicely only for basic auth; meanwhile, there are many other schemes of http auth: https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication

@konstantinblaesi I agree with @vonGameTheory here, I'd just use HTTP header here manually.

[2018-01-04 10:00] #1593 closed, assigned to nobody

[2018-01-04 10:03] aslushnikov commented on #1592
The culprit seems to be in the `slowMo` argument that slows down the puppeteer script and gives page enough time to reach desired state.

I'd use the `page.waitForSelector` / `page.waitForFunction` methods to make sure page is in desired state.

[2018-01-04 10:03] #1592 closed, assigned to nobody

[2018-01-04 10:14] aslushnikov commented on #1591
@hummal the issue arises when your script tries to evaluate code in a page that navigates away.
As a result, evaluation fails with the "execution context was destroyed" error: the execution context indeed got destroyed as the page navigated away.

This is not a chrome issue. Instead, script shouldn't try evaluating in a page that is navigating away. This, however, is not always possible; #823 migh

[2018-01-04 10:14] #1591 closed, assigned to nobody

[2018-01-04 10:14] Laywanger commented on #1395
+1 I need this to track malvertising
@aslushnikov Is it possible ?

[2018-01-04 10:21] aslushnikov commented on #1590
@krini you should use the `page.evaluateHandle` instead of `page.evaluate` to get a handle for the DOM element.

[code]

@rjktcby unfortunately, `exposeFunction` functions don't get passed jsHandles; only serializable values for now. Fixing this would require some work in the protocol; please file a separate issue if you'd like to have this.

[2018-01-04 10:21] #1590 closed, assigned to nobody

[2018-01-04 10:30] gpetrov commented on #1695
@aslushnikov  I'm trying to use Puppeteer with https://nwjs.io/ it will be really useful there for automated UI testing.
It works all really great with the changes above!

The other thing that was missing the Page.getFrameTree and Page.setLifecycleEventsEnabled as described in https://github.com/GoogleChrome/puppeteer/issues/1681

But this was just because NWjs was one build behind and it will soo

[2018-01-04 10:30] gpetrov commented on #1681
@aslushnikov Please add a simple check if Page.getFrameTree and Page.setLifecycleEventsEnabled are available before usage so it runs fine on Chrome 63 as well ...

If they are not available just use Page.getResourceTree instead of  Page.getFrameTree

[2018-01-04 10:32] aslushnikov commented on #1589
@drmrbrewer I'm sorry for the inconvenience; I clarified the docs.

The `disconnected` event is sent when the Chromium instance is crashed; reconnecting to a crashed instance won't work.

You can get a handle to the chrome process with the [`browser.process()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#browserprocess) method.

[2018-01-04 10:32] #1589 closed, assigned to nobody

[2018-01-04 10:47] drmrbrewer commented on #1589
@aslushnikov so is the following a reasonable way of recovering from a crash?

    this.browser = await puppeteer.launch(launchOptions);
    var self = this;
    browser.on('disconnected', async () => {
        self.browser = await puppeteer.launch(launchOptions);
    });

[2018-01-04 10:56] foresightyj commented on #1718
I tried to increase the thread priority of all chrome.exe processes to have `high priority`. But it does not make any difference. Code used:

[code]
The process explorer shows that all chrome.exe processes run with priority of 13, which is **high priority**.

![image](https://user-images.githubusercontent.com/1296736/34560410-906b5792-f180-11e7-933a-698e3f65cad9.png)

![priority](https://user-imag

[2018-01-04 11:03] aslushnikov commented on #1681
@gpetrov unfortunately there are more things that differ underneath. Once we fully transition to the stable parts of the protocol / stabilize more protocol, it will not be a problem any more.

As a workaround, you can use an old version of puppeteer.

[2018-01-04 11:05] aslushnikov commented on #1589
@drmrbrewer yes, looks reasonable

[2018-01-04 11:37] p0psicles commented on #1597
Yes I figured it out eventually. I do think it would help if this would be added to the documentation. Now you need to search through a number of issues or go through the code yourself.

[2018-01-04 13:06] kdzwinel commented on #1637
Thank you all for taking a look at this. I'll try to drop those `waitForNavigation`s and see how tests work only on `waitForSelector`s.

[2018-01-04 13:46] lishengzxc opened #1719 "how can I `page.screenshot()` **after** img onload"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: centos7
* URLs (if applicable):
* Node.js version:8.9.0

**What steps will reproduce the problem?**
[code]

**What is the expected result?**
how can I `page.screenshot()` **after** img onload?

**What happens instead?**
sometimes, `page.screenshot()` before img onload

[2018-01-04 14:05] yale8848 commented on #1719
you can try this:

[code]

[2018-01-04 14:17] lishengzxc commented on #1719
I solved it.

[code]

[2018-01-04 14:17] #1719 closed, assigned to nobody

[2018-01-04 18:10] aslushnikov commented on #1597
@p0psicles I'll be happy to review a PR!

[2018-01-04 18:37] aslushnikov commented on #1525
@CssHammer I can't reproduce this on current tip-of-tree puppeteer. We've rolled chrome a few times, so the issue might've been resolved.

I'm speculatively closing this; feel free to write back if it reproes for you and you think we can help.

[2018-01-04 18:37] #1525 closed, assigned to nobody

[2018-01-04 18:40] aslushnikov commented on #1514
@raduaron26 sure. The plan for this is:
- add a `defaultNavigationTimeout` field to the Page class:

https://github.com/GoogleChrome/puppeteer/blob/0a498bae3a53357f5b793595b3c411183efd9536/lib/Page.js#L68-L81

- use the field everytime we create a navigation watcher to specify default timeout

https://github.com/GoogleChrome/puppeteer/blob/0a498bae3a53357f5b793595b3c411183efd9536/lib/Page.js#L528-

[2018-01-04 19:30] #1510 closed, assigned to nobody

[2018-01-04 20:43] VictorChen commented on #1715
Thanks, FYI this worked for me (with puppeteer 0.12.0):

http://dl.google.com/linux/chrome/rpm/stable/x86_64//google-chrome-stable-63.0.3239.108-1.x86_64.rpm

[2018-01-04 22:16] DallanQ commented on #963
I appear to be having a similar problem where redirects work with headless: false, but not with headless: true.

[2018-01-04 22:36] ivanvanderbyl opened #1724 "waitForFunction should accept and ElementHandle in page function arguments"
Currently `waitForFunction` only accepts JSON serializable primitives as arguments to the page function. It would be very useful to be able to support ElementHandles as arguments.

Use case: I have an ElementHandle from `page.$()`, and I then want to wait for a specific state change on that element, such as becoming visible, or an attribute changing value, perhaps `disabled` which can only be impl

[2018-01-04 22:49] #1654 closed, assigned to nobody

[2018-01-04 22:49] #1703 closed, assigned to nobody

[2018-01-04 22:49] #1724 closed, assigned to nobody

[2018-01-04 22:50] aslushnikov commented on #1724
@ivanvanderbyl you're right on time: we've had a PR to address this that just got merged.

[2018-01-04 23:10] pyper opened #1725 "Frame object returned via events has issues with promise based methods"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Docker, Linux, Cent OS 7
* URLs (if applicable):
* Node.js version: 7.10.1

**What steps will reproduce the problem?**

Use this code:
[code]
**What is the expected result?**

That it should no throw an exception.

**What happens instead?**

I get the following error for every frame:
[

[2018-01-04 23:49] sourcec0de commented on #1376
Just ran into this issue in selenium. I would be awesome to see support for this in puppeteer.
I'm currently rewriting a lot of our automated tests in puppeteer.

[2018-01-05 01:38] yujiosaka commented on #1725
Same occurred to me in the following conditions

- Puppeteer version: 0.13.0
- Platform / OS version: Mac OS
- URLs (if applicable):
- Node.js version: 8.9.1

Meanwhile, I confirm that it does not occur on the master branch.
It doesn't show the result, though (I didn't look into it yet)

[code]

@pyper

What happens if you try installing `puppeteer@next` instead?

[2018-01-05 01:40] shivanan commented on #1278
As a workaround, I ended up doing something like this as a substitute for `page.click`:

[code]

You can now write

[code]

[2018-01-05 02:16] pyper commented on #1725
@yujiosaka I think that master branch run you did is working correctly, the frames just didn’t have titles yet.  That is, when frame attached fired the HTML in the page wasn’t loaded yet, so title was blank.  I will test with @next as suggested and report back.  Thanks buddy!

[2018-01-05 03:13] transitive-bullshit commented on #1469
I think the only way to get what you want is to use `deviceScaleFactor` to capture larger screenshots and then scale them down by that factor afterwards, making sure to use a high quality downscaling algorithm (via something like [node-sharp](https://github.com/lovell/sharp)).

[2018-01-05 04:07] chunsli commented on #1469
@transitive-bullshit we ended up producing 2x `deviceScaleFactor` without downscaling the image. As the images will ultimately be displayed on browsers, we let Chrome deal with the scale down, which produces good results. The downside is the images are not the dimensions we want them to be (2x to be exact).

I wonder why the produced results seem to be different from the rendered image in Chrome v

[2018-01-05 04:07] #1469 closed, assigned to nobody

[2018-01-05 04:09] chunsli commented on #1469
Side note, we tried node-sharp as well, the scaled down image quality is not good enough as well.

[2018-01-05 04:41] howesteve commented on #1599
Thanks for answering. Is there a way I can bypass that limit now on the current version?

[2018-01-05 04:57] howesteve commented on #1599
Ok, It seems this works (but I didn't test thoroughly):
[code]
Hope that helps someone else.
Thanks @aslushnikov .

[2018-01-05 07:08] rustkt opened #1726 "It's benefit to support ElementHandle.waitForSelector method"
In browser, we can use querySelector method like this:

[code]

It's helpful to provide waitForSelector method on ElementHandle, thus we can wait for selector locally that is bounded to the ElementHandle instance.

[2018-01-05 11:22] mithung commented on #299
@ecovirtual Please find below sample code.
const puppeteer = require('puppeteer');
(async() => {
const browser = await puppeteer.launch({headless: false});
const page = await browser.newPage();
await page.goto('https://www.nseindia.com/products/content/equities/equities/homepage_eq.htm');
await page._client.send('Page.setDownloadBehavior', {behavior: 'allow', downloadPath: __dirname});
await page.

[2018-01-05 11:40] schelkun opened #1727 "[Duplicate] Forgotten issue"
Sorry for this duplication, but we have critical (as I think) issue: https://github.com/GoogleChrome/puppeteer/issues/1467

Several months has passed and no reaction.

Can somebody check it?

[2018-01-05 11:43] schelkun commented on #1594
I just want to get `iframe` element from DOM as `ElementHandle` and get `Frame` object of this element. Can I do this with existing methods?

[2018-01-05 11:47] schelkun commented on #1664
https://github.com/GoogleChrome/puppeteer/issues/1467 ?

[2018-01-05 12:41] cilerler commented on #1602
I believe this issue still exists.

[code]

now if we try the same thing with YARN

[code]
second command does not install it.

[2018-01-05 13:45] ramidecodes commented on #299
@mithung Well, it looks ok. I'm declaring the `setDownloadBehavior` before actually going to the page. Also, you could try just a relative path.

`await page._client.send('Page.setDownloadBehavior', {behavior: 'allow', downloadPath: './myDownloadDir'});`

`await page.goto('https://www.nseindia.com/products/content/equities/equities/homepage_eq.htm');`

[2018-01-05 14:08] mithung commented on #299
@ecovirtual Thanks for quick response.
I have made suggested modifications.

const puppeteer = require('puppeteer');
(async() => {
const browser = await puppeteer.launch({headless: false});
const page = await browser.newPage();
await page._client.send('Page.setDownloadBehavior', {behavior: 'allow', downloadPath: './myDownloadDir'});
await page.goto('https://www.nseindia.com/products/content/equiti

[2018-01-05 14:24] jackfranklin commented on #1704
Thanks everyone for taking the time to look into this; sorry I didn't reply sooner.

We are updating the `span` entirely with JS but that wouldn't explain why it sometimes reads '20' rather than '£20', I would expect it to read either all or nothing. We're not using the CSS trick (although that's a neat idea!).

I'll keep doing some digging and report back if I find anything.

[2018-01-05 14:42] Glennvd commented on #1467
+1 the fact that it breaks the referer actually breaks some sites here. Can someone confirm if this is a puppeteer bug or a chromium bug?

[2018-01-05 14:44] ramidecodes commented on #299
Mmm, the only thing that occurs to me now is that **OS X** is handling chrome/chromium in a different way. My tests are beeing done in **Ubuntu 17.10** with **Puppeteer v0.13** and **Node v8.9.3**

[2018-01-05 15:00] MichaelVIU commented on #1467
it seems to be a chromium/chrome bug. With actual stable chrome i have the error / with chrome beta it's running ok (don't use puppeteer, but had same problem...)

[2018-01-05 15:30] grantstephens commented on #1576
So after some more playing around with this I have found that the problem seems to lie with fullpage: true. If you set the viewport to the size you want to take a picture of and then take the screenshot with fullpage off it seems to work, but only if the page is less than a certain length (10000 seems to work- haven't checked the exact breaking point).

[2018-01-05 16:08] Glennvd commented on #1467
I just checked the sample using build 527279 and the problem is still present there.

[2018-01-05 16:17] MichaelVIU commented on #1467
yes / i've also tried with chromium in the alpine image / but havn't found any posiblity to use beta versions there - it's the last stable version and there it's not working :(
Thats why i use a debian and install beta there.
You can try to use an older chromium version on alpha (in older versions setting headers had also worked)...
e.g. 61.0.3163.100-r0
https://pkgs.alpinelinux.org/packages?name=

[2018-01-05 17:06] yujiosaka opened #1729 "page.goto returns a promise to null when intercepting request and modifying referer together"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0 (but also occurs at puppeteer@next )
* Platform / OS version: Mac OS
* URLs (if applicable): *
* Node.js version: 8.9.1

**What steps will reproduce the problem?**

1. It works
[code]

2. It works
[code]

3. but it catches the error
[code]

The most strange thing is that if I modify other headers than referer,

[2018-01-05 17:09] pyper commented on #1725
@yujiosaka Just tested with the master branch.  The issue is corrected there for me too.  It appears to be a bug that affects 0.13.0

Thanks for the help!

[2018-01-05 18:00] yujiosaka commented on #1729
The response is `null` because the results of `generateRequestHash` are different between `_onRequestIntercepted` and `_onRequestWillBeSent`.

I put the console here:
[code]
The output here:
[code]

You see the capitalization of `referer` is different.

First I thought that was because I modify `referer` in my code.
However, switching my code to `Referer` does not make any change.

As you can see

[2018-01-05 18:03] onamission opened #1731 "Can not render a WebGL image for PDF -- get a black box instead"
### Summary:
I am trying to get a PDF of a page that has a panoramic image on it using Puppeteer. The panoramic image is rendered using WebGL, which I suspect to be the issue. All I get is a black box instead of the image (see the bottom of this post for screen image). But, I can use Puppeteer to get a screenshot of that same page and the panorama looks great. I am not sure why it won't render whe

[2018-01-05 18:14] #1706 closed, assigned to nobody

[2018-01-05 19:02] aslushnikov commented on #1467
Dupe of #469. This is due to a fundamental design of the network stack.

Please upvote #469 if you're interested in it. Upvotes help us prioritize work.

[2018-01-05 19:02] #1467 closed, assigned to nobody

[2018-01-05 19:03] aslushnikov commented on #1727
Thank you for bringing our attention to important issues.

[2018-01-05 19:03] #1727 closed, assigned to nobody

[2018-01-05 19:11] IAMtheIAM opened #1733 "Getting document.readyState? Does page.evaluate() already wait for DOMContentLoaded?"
I cannot figure out how to get the document.readyState. I need to wait until the page is loaded before rending a pdf. I read in [this comment](https://github.com/GoogleChrome/puppeteer/issues/331#issuecomment-323018788) that puppeteer already waits for DOM. But I am not sure exactly what he meant, `loaded` or `DOMContentLoaded`, etc.

I tried this with no luck

        const browser = await puppet

[2018-01-05 19:31] IAMtheIAM commented on #1733
I guess I was overcomplicated it. Apparently there is already
[code]
which does exactly this. :-D

[2018-01-05 19:31] #1733 closed, assigned to nobody

[2018-01-05 19:46] yujiosaka commented on #1729
Reported [here](https://bugs.chromium.org/p/chromium/issues/detail?id=799556)

[2018-01-05 20:39] yujiosaka commented on #963
I can reproduce this problem without puppeteer:

[code]

It's a chromium's bug, so it should be reported upstream.
[this issue](https://bugs.chromium.org/p/chromium/issues/detail?id=757181) looks similar to this problem, but I'm not sure yet.

I'll create an issue if it looks ok.

[2018-01-05 20:57] yujiosaka commented on #963
I confirmed that this is exactly the same problem with [this](https://bugs.chromium.org/p/chromium/issues/detail?id=757181).

[This URL](https://xocsp.ccp.xcal.tv/comcastSP/protected/auth?tenant=a2t_uuid&continue=https://streaminder.xcal.tv/sessions/create_sso&partner-id=comcast) leads to a certificate error, and headless chrome handles SSL errors differently from headful.

So I commented and vote

[2018-01-05 20:59] lucastheisen opened #1735 "Download fails when behind SSL inspection corporate proxy"
Installation fails due to UNABLE_TO_GET_ISSUER_CERT_LOCALLY.  I am behind a corporate proxy that does SSL inspection (with our own certificate authority), so I am not unused to this type of error.  However, I have configured npm correctly:
[code]
Along with the proper proxy settings:
[code]
And it works for normal installs.  It seems like your `install.js` respects the `https_proxy` environment va

[2018-01-05 21:33] JoelEinbinder commented on #1731
What happens if you try to print the page with chrome?

[2018-01-05 21:38] JoelEinbinder commented on #1726
With 05b1aca21e5c2f221373d601d3b8ae6b2a984292 you should be able to do something like this.

Warning, untested code ahead:
[code]

[2018-01-05 21:46] stweedie commented on #257
This is related to a problem in chrome's protocol. In short, hash navigation won't trigger any of the page initialization events.

A puppeteer problem is that page.goto FORCES you to attempt to listen to one of those events (unless there's some undocumented configuration option), timing out with an error if (when) they never come. The only reliable way around this is to set a low timeout, catch (a

[2018-01-06 00:04] webnard commented on #1325
@aslushnikov Can this be reopened? The bug still exists and affects the rest of us.

[2018-01-06 02:37] aslushnikov commented on #1325
@webnard Sure. Can you please answer a few questions so that we have something to work with:
- does the issue happens for you on tip-of-tree? (you can install latest puppeteer with `npm i puppeteer@next`)
- are you sure the page is not navigating away as you run evaluations? In this case, the error is expected
- do you have a repro?

[2018-01-06 03:38] foresightyj commented on #1718
I placed the goto statement in a for loop and collected the following result:

![image](https://user-images.githubusercontent.com/1296736/34636018-5d4e7a3e-f2d3-11e7-9eaa-a18f03a4417f.png)

It always takes more than 10 seconds to go to www.bing.com. In hindsight, I realized that thread priority should not cause such delays so deterministically. The delay is around 16 seconds 99% of time. There mus

[2018-01-06 03:54] foresightyj commented on #1718
More update. One of my colleagues' work computer is also Windows Server 2008 and the script runs quickly in his computer. This is really a weird bug. The only difference now is the physical machines because the two windows 8 servers are blade servers.

[2018-01-06 03:59] foresightyj commented on #1718
@aslushnikov  Sorry. Accidentally closed the issue just now. I will leave it open for a few days. Hopefully some one else experiences similar issues can discuss with me here. Hope you won't mind.

[2018-01-06 04:15] busticated opened #1736 "page.url() does not reflect pushstate-driven updates..."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: macOS 10.13.2
* Node.js version: 8.9.4

**What steps will reproduce the problem?**

i've tried a couple of approaches:

    await Promise.all([
        page.waitForNavigation(), // also w/ the { waitUntil: 'networkidle2' } option
        page.click(<anchor tag selector>)
    ]);

    /

[2018-01-06 04:29] trentmwillis commented on #1394
@aslushnikov while that is true, I believe it would be helpful for verifying that certain objects are not being retained (a.k.a., leaking). For example:

[code]

If there is a better way to approach the above, I'm totally good with that as well. But this is the use case I'm interested in.

[2018-01-06 12:47] oeliok commented on #672
Can I complete the download manually? And what should I configure? I can't download it directly because of the wall

[2018-01-06 12:48] yujiosaka commented on #1736
@busticated
Have you checked https://github.com/GoogleChrome/puppeteer/issues/257 ?

[2018-01-06 13:26] tokland commented on #868
This is what I do to interactively develop or debug puppeteer scripts:

* Create a base script:
[code]
* In a normal Chrome, go to `chrome://inspect`.
* Under _Devices_, click _Open dedicated DevTools for Node_.
* Run the script like this in a shell: `$ node --inspect myscript.js`.
* Go to the _Console_ tab, you should have variables `browser` and `page` ready to use.

Note: You can also add break

[2018-01-06 13:39] rustkt commented on #1726
Thanks for reply! Is that an efficient way to do that? I will try it, and hope puppeteer could offer a native method in the future.

[2018-01-06 13:59] tokland commented on #398
@ebidel, when the script is stopped (by using breakpoints or`debugger` statements), do you know how to get the response of functions you execute in the console and return a promise?

[2018-01-06 16:39] niieani commented on #599
Another use-case is relaxing Content Security Policy for testing.

[2018-01-06 16:48] busticated commented on #1736
@yujiosaka i did but on 2nd review, i noticed [this work-around](https://github.com/GoogleChrome/puppeteer/issues/257#issuecomment-336662440)

with that in place, this does what i want:

    await page.click(<anchor tag selector>);
    await page.waitFor(3000);
    const url = await page.evaluate(() => location.href);

    expect(url).toBe(<expected url>);

i would expect `page.url()` to give me t

[2018-01-06 16:57] Vandivier commented on #1325
Updated my repro mentioned 27 days ago to try tip-of-tree today.

So if you look at HEAD in [my repro](https://github.com/Vandivier/data-science-practice/tree/replace-puppeteer-bug-repro), SHA a31626, I tried tip-of-tree. I wish I could say "the issue is resolved" or "the issue persists" but instead I have to say "I see a different issue with tip-of-tree, not sure if the old one is resolved or not

[2018-01-06 17:31] dunnkers commented on #1478
I just set out to try if this bug occurred to me when trying to download `.csv` files. However, for me, it downloads just fine in headless **and** non-headless.

[code]

Using `puppeteer ^0.13.0`, working just fine. ✅

[2018-01-06 22:12] koloritcm commented on #1409
@aslushnikov I'm using `puppeteer-heroku-buildpack` on Heroku with `Puppeteer 0.13.0`, so I guess Puppeteer downloads its bundled Chromium version. I get random freezes at:

`const page = await browser.newPage();`.

So this issue should be opened again as the bug seems to happen on current Puppeteer with its bundled chromium? Any suggested temporary solution at this time?

[2018-01-06 23:34] webnard commented on #1325
@aslushnikov My primary concern is that I don't know *where* the issue is occurring. I'm wondering if anything could be done to improve the error message or call stack to indicate a more precise location of the fault.

[2018-01-06 23:37] JoelEinbinder commented on #1325
@webnard The stack traces were improved with a164524c72443920e0f008d62c5362c08a7794a0 in response to this issue.

[2018-01-07 02:58] rpascal commented on #1645
@skalfyfan would you be willing to share your code on this project? I'm interested to see how you have it all set up because I am having difficulties getting headless chrome to run in is own container.

[2018-01-07 11:12] GregRos commented on #1708
Hmm, are you saying you can keep track of a series of redirects using the pptr API right now? How can I do that?

[2018-01-07 11:29] GregRos commented on #31
@Everettss Does enabling something twice do anything bad? It could be just best practice to enable something in your application if you want to use it.

---
I kind of see the problem here. Basically, puppeteer is high-level enough that it needs to keep an internal state, and sending messages via the raw protocol can break that state.

On the other hand, in JavaScript things breaking is just part o

[2018-01-07 15:03] patrickeakin opened #1737 "Commit #1712 breaks my scripts with 'UnhandledPromiseRejectionWarning'"
Currently I'm running my scripts on the latest master. Since https://github.com/GoogleChrome/puppeteer/pull/1712 was merged I get an "Unhandled Promise Rejection Warning" in my terminal and my scripts stop at this point. If i use the sha just before this commit all is well.

I'm a bit of novice when it comes to some things so forgive me if I'm missing something here.

[code]

[2018-01-07 15:11] TomasHubelbauer commented on #299
Is anyone else getting *Error - path too long* when using the mentioned workaround?

[code]

I am on Windows 10 and I get the error even with paths like `C:/files` (existing folder).

[2018-01-08 05:03] faroceann commented on #1462
@schelkun, did you manage to find any way to trigger tab/window focus in headless?

[2018-01-08 05:33] Marcel-G commented on #1735
Experiencing the same issue.

[2018-01-08 05:42] JoelEinbinder commented on #1737
Interesting. I imagine https://github.com/GoogleChrome/puppeteer/pull/1712/files#diff-16f3b9739b97830927de83812ac92d78R718 is throwing. I'll need to rethink how to implement that. Thanks for the report.

[2018-01-08 05:50] JoelEinbinder commented on #1726
It's roughly identical to how the regular `waitForSelector` is implemented.

[2018-01-08 08:06] Glennvd commented on #469
@andrewlinfoot could it be that your issue is more related to https://github.com/GoogleChrome/puppeteer/issues/1664? I'm not sure if the 2 issues originate from the same problem or are just similar, but both of them are blocking issues for me right now. Is there anything I can do to help and get the ball rolling?

[2018-01-08 10:16] gucong3000 commented on #951
I'd like to do this.

[2018-01-08 11:12] gucong3000 opened #1740 "Not support install form a mirror host that use 3xx http status code"
### Steps to reproduce

**Tell us about your environment:**
[code]
* Puppeteer version: HEAD
* Platform / OS version: Windows 10 64
* Node.js version: v9.2.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. run `npm i GoogleChrome/puppeteer --save`

**What is the expected result?**

Successfully installed.

**What happens instead?**
[code]

[2018-01-08 13:46] yarekc opened #1742 "TypeSupported gived FALSE in puppeteer, true in chrome"
Trying to run HLS.js in puppeteer:  Cannot because that test return false

`window.MediaSource.isTypeSupported('video/mp4; codecs="avc1.42E01E,mp4a.40.2"')`

whereas in chrome gives true

Any idea ?

[2018-01-08 14:23] yarekc opened #1743 "'request' event never called on Chrome, works fine in chromium ?"
This works fine for chromium:

[code]

But is never called when I do use Chrome instead
puppeteer.launch({executablePath: "C:\\Users\\...

[2018-01-08 14:54] alexarvanitidismrf commented on #550
On OSX I solved the problem doing the following:

1. Add to the code
[code]
2.  `brew install -g puppeteer`, which downloaded the specific compatible version of Chromium on `~/.npm-packages/lib/node_modules/puppeteer/.local-chromium/mac-508693/chrome-mac/Chromium.app/Contents/MacOS/Chromium`, I then set `CHROME_BIN='.npm-packages/lib/node_modules/puppeteer/.local-chromium/mac-508693/chrome-mac/Chr

[2018-01-08 14:58] alexarvanitidismrf commented on #1347
On OSX I solved the problem doing the following:

1. Add to the code
[code]
2.  `brew install -g puppeteer`, which downloaded the specific compatible version of Chromium on `~/.npm-packages/lib/node_modules/puppeteer/.local-chromium/mac-508693/chrome-mac/Chromium.app/Contents/MacOS/Chromium`, I then set `export CHROME_BIN='.npm-packages/lib/node_modules/puppeteer/.local-chromium/mac-508693/chrome-

[2018-01-08 15:11] saritanzu opened #1744 "Can I use Junit/testNG with puppeteer"
We are considering using puppeteer as our main automation framework, does it support Junit/testNG? or anything similar?

[2018-01-08 15:43] ebidel commented on #1742
They just added mp3/mp4 support to chromium but the apt feature detects
won't work until m65:
https://bugs.chromium.org/p/chromium/issues/detail?id=746579#c20

On Mon, Jan 8, 2018, 5:46 AM chmielewski <notifications@github.com> wrote:

[2018-01-08 15:45] schelkun commented on #1594
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#elementhandleexecutioncontext for iframe element returns page execution context, not frame execution context. And I want to know frame execution context of elementhandle.

[2018-01-08 15:58] IWSR opened #1745 "brower.newPage() return a null"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:  ^0.13.0
* Platform / OS version: Debian
* Node.js version: v9.3.0
* Chrome version: 62.0.3202.62

**What steps will reproduce the problem?**

I just run the code by node app.js,and there is my code in app.js

[code]

**What is the expected result?**
My code is exactly the same as the demo code.It should have run the

[2018-01-08 16:20] ebidel commented on #1745
That version of chrome is much older than the one puppeteer requires in
0.13.0. That version bundles m64.

On Mon, Jan 8, 2018, 7:59 AM Asuka <notifications@github.com> wrote:

[2018-01-08 18:58] saumets commented on #1645
@rpascal sure. here you go:

Dockerfile for headless chrome:
[code]

`entrypoint.sh` used for above Dockerfile:
[code]

My `app.js` which runs in it's own container which has nodeJS installed.
Note the line `http://chrome:9222/json/version` in the `options` object I create. Headless chrome is running in a container named `chrome`. I bring up the containers using _Docker Compose_ and name the servi

[2018-01-08 19:10] JoelEinbinder commented on #1744
Puppeteer is a Node library, so you can use [Jasmine](https://jasmine.github.io/) or [Mocha](https://mochajs.org/).

[2018-01-08 19:11] aslushnikov commented on #1745
@IWSR please, either use older pptr (e.g. 0.9.0) or newer chrome.

[2018-01-08 19:11] #1745 closed, assigned to nobody

[2018-01-08 19:15] JoelEinbinder commented on #1743
What version of Chrome are you using? Puppeteer only supports the version it is bundled with. You could try Chrome canary for possibly better results.

[2018-01-08 19:16] aslushnikov commented on #1744
@saritanzu as Joel mentioned, pptr is a node library, not an automation framework. You can couple it with any test automation solution as you wish. Jasmine and Mocha are some of the options, but there are [dozens of them](https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#JavaScript).

[2018-01-08 19:16] #1744 closed, assigned to nobody

[2018-01-08 19:17] aslushnikov commented on #1743
@yarekc it looks like chrome is too old. Either try using a newer version of chromium or an older version of puppeteer.

[2018-01-08 19:17] #1743 closed, assigned to nobody

[2018-01-08 19:18] #1742 closed, assigned to nobody

[2018-01-08 19:32] rpascal commented on #1645
That makes a lot of sense! This should be super helpful, thank you very much! I'm gonna try something like this tonight.

[2018-01-08 20:03] faroceann commented on #1462
@schelkun I was able to implement a call to the activateTarget method from the Chrome Devtools protocol, which works to activate the window in headless mode.

`browserInstance._connection.send('Target.activateTarget', {targetId: page._client.targetId()})`

This can be implemented in the public Puppeteer API on the Target class, but don't have time for a PR immediately.

[2018-01-08 20:50] Spongman commented on #1367
i get an error calling `browser.close()`:

[code]

[2018-01-08 22:14] #1737 closed, assigned to JoelEinbinder

[2018-01-08 22:55] fringd commented on #1479
I would expect that a single browser with multiple pages would still allow screenshots, but if it doesn't, then there should be an exception thrown instead of just behaving indeterminately.

Ideally I'd like a page screenshot to await a lock on switching tabs before taking the screenshot.

Any chance this can be re-opened?

[2018-01-08 22:59] srhise opened #1747 "PDF Creation Client Side"
So impressed with PDF creation functionality in Puppeteer.

Is it possibly to apply the PDF generation functions client side? It seems like this would be a great solution to create PDFs from pages on your *actual* chrome browser vs. headless. Given the fact it works headless, how would one go about implementing this client side in an actual browser?

[2018-01-08 23:16] ebidel commented on #1747
The closest you can get is calling `window.print()` and the have the user manually chose "Save as PDF" > "Save". As for a true client-side solution, there lots of libraries on npm for generating pdfs. https://www.npmjs.com/package/pdfjs-dist (https://mozilla.github.io/pdf.js/) and https://www.npmjs.com/package/pdfkit are two.

You could also create/host a web service that generates PDFs when sent

[2018-01-08 23:22] aslushnikov commented on #1737
@patrickeakin could you please check if the fix works for you?

[2018-01-08 23:25] aslushnikov opened #1748 "Expose Downloader"
[Downloader](https://github.com/GoogleChrome/puppeteer/blob/7c9104e1bc118ad227c7c4ff81025d6107317f8a/lib/Downloader.js) provides capabilities to download chromium from the upstream buckets. Exposing the API will drastically simplify devops and simplify everyone's life.

This has been requested a few times; one example is https://github.com/GoogleChrome/puppeteer/pull/1652.

[2018-01-09 01:15] anandchakru commented on #758
@jontewks after buildpack add getting the following:
`2018-01-09T01:03:57.521108+00:00 heroku[router]: at=error code=H14 desc="No web processes running" method=GET path="/?url=https://google.com" host=tranquil-waters-17951.herokuapp.com request_id=70968bfe-b54d-4916-a305-b3dc5e70c643 fwd="24.5.137.98" dyno= connect= service= status=503 bytes= protocol=https`

If I issue the `heroku ps:scale web=1`

[2018-01-09 02:06] aslushnikov commented on #1367
@Spongman please file a new issue with a repro. Could it be that you accidentally call `browser.close()` twice?

[2018-01-09 02:10] #1740 closed, assigned to nobody

[2018-01-09 02:13] #1747 closed, assigned to nobody

[2018-01-09 02:15] aslushnikov commented on #1736
@busticated it doesn't.

Overall, this is indeed due to the poor support for document-only navigations. Closing as dupe of #257.

[2018-01-09 02:15] #1736 closed, assigned to nobody

[2018-01-09 02:20] aslushnikov commented on #1735
@lucastheisen @Marcel-G I'd appreciate any help with this and will be happy to review a PR.

[2018-01-09 02:22] aslushnikov commented on #1726
We currently keep all out waitFor* funcitons on the page object only; I'd like to keep it as this for consistency.

Closing this for now; we might revisit this if there's a demand.

[2018-01-09 02:22] #1726 closed, assigned to nobody

[2018-01-09 02:23] #1725 closed, assigned to nobody

[2018-01-09 02:25] aslushnikov commented on #1731
@onamission I see you try to create pdf right after the networkidle0 event. I'd expect the page with WebGL context to do some async rendering using `requestAnimationFrame`, so it might be that you need to wait a bit before attempting to pdf the page.

[2018-01-09 02:29] aslushnikov commented on #1708
@GregRos you can match requests by URLs and response status codes using [`'request'`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-request) and [`'response'`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-response) events; will this be enough?

[2018-01-09 02:30] aslushnikov commented on #1718
@foresightyj these are the hardest to debug. How is you progress on this?

[2018-01-09 02:50] patrickeakin commented on #1737
@aslushnikov @JoelEinbinder That did the trick. Thanks a ton!!

[2018-01-09 02:52] patrickeakin commented on #1670
@skyiea That is exactly what I'm after. Thanks for pointing me in that direction.

[2018-01-09 02:53] busticated commented on #1736
@aslushnikov ok but what about `page.url()`? that was the main point with this issue - it seems to always return whatever the original url was. is this also related to the spotty history api support?

[2018-01-09 02:56] aslushnikov commented on #1594
Ah ok, this is dupe of #433.

[2018-01-09 02:56] #1594 closed, assigned to nobody

[2018-01-09 02:58] aslushnikov commented on #1670
Ah, I've thought about something different. Closing this then.

[2018-01-09 02:58] #1670 closed, assigned to nobody

[2018-01-09 03:03] aslushnikov commented on #1555
@tnolet any chance the writeup is published somewhere?

[2018-01-09 03:09] aslushnikov commented on #662
@worudso the script prints nothing for me both with and without request interception; I tried on puppeteer@next. Please file a new issue if you think something doesn't work and there's a good repro.

[2018-01-09 03:14] 0x3E6 commented on #1664
@aslushnikov
My doubts are very much like the title description.
puppeteer version: 0.13.0
OS: ubuntu 17.10
The problem is:
Manually operate the browser:
(0)browser: click `<a>`, browser send a `POST` request;
(1)server: return a response with status code 302;
(2)browser: `GET` redirected url;

However, in `page.on('request')` of puppeteer:
a. Don't call `setRequestInterception(true)`:
(0)browser:

[2018-01-09 04:42] aslushnikov commented on #1736
@busticated yes, the same root issue: Devtools protocol operates in terms of browser navigations and doesn't take history API into account.

[2018-01-09 05:01] skyiea commented on #1693
@aslushnikov Yeah, I thought about starting messing with `userDataDir` directly, though I'm not sure if Chromium will dynamically sync prefs from the `userDataDir` if I will modify the latter. I assume _ChromeDriver_ constructs `userDataDir` before opening the instance. And I don't want to keep persistent `userDataDir`. So do you think something like this will work?
[code]

ATM I have 2 use-cases,

[2018-01-09 05:07] aslushnikov commented on #1693
@skyiea no, this won't work: the prefs should be written before the browser is launched.

This probably deserves a PR: you should be able to pass prefs as an argument to the `puppeteer.launch` option. Under the hood, the `puppeteer.launch` creates a temporary userDataDir. It can as well fill it with preferences.

Are you interested in working on this?

[2018-01-09 05:07] skyiea commented on #1697
@ebidel I'm content with `--user-agent` _arg_.
Thank you both.

[2018-01-09 05:10] skyiea commented on #1693
@aslushnikov Yeah, will look into this next week.

[2018-01-09 05:10] jfrazzano commented on #1737
Sorry if this is obvious q, but saw code that ran ‘new Function(args, ...funcbody)’... is this code being run in a node environment? My understanding was that node did not yet support the function constructor/prototype function.

What run environments support new F for puppeteer?

Sent from my iPhone

[2018-01-09 05:12] JoelEinbinder commented on #1737
Good question. That code runs inside Chromium.

[2018-01-09 05:27] skyiea commented on #1699
@aslushnikov Yeah, I would expect that _puppeteer_  shouldn't care about display's specific color range, saturation, etc. But that's what I've got. Thought maybe you've faced this issue before.
What's also weird is that there is no color differences when I'm testing with _Gemini_.

ATM I'm working this around with additional color-threshold in the tool I'm using to compare images, but I would rath

[2018-01-09 07:47] StefanRoess opened #1749 "page -> frame1 -> frame2"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v0.13.0
* Platform / OS version: Windows 10 Home
* URLs (if applicable):
* Node.js version:  node --version

**What steps will reproduce the problem?**
Is there a way to select a button in a Sub-Frame. I have a page, with a click at a button a new frame (modal window) will open. On this new modal window is a Delete B

[2018-01-09 08:01] JoelEinbinder commented on #1749
You can use https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-targetcreated to respond to pages being created. Use [`target.page()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-target).

[2018-01-09 08:04] tnolet commented on #1555
@aslushnikov sorry, I was off the work grid for a while. Expect it somewhere this week. I'll update here. The TL;DR is:
- separate launcher and runner in two Node processes.
- runner inside Docker.
- Hard timeout on runs.
- Running on Vultr with a bunch of memory.

In the mean time I welcome people to use [https://trypuppeteer.com](https://trypuppeteer.com ).

[2018-01-09 09:13] rjktcby opened #1750 "Allow functions registered via page.exposeFunction to receive JSHandles"
When traversing DOM tree to find elements for testing UI in order to better share code i try to register a bunch of helper functions via **page.exposeFunction**. Currently this api does not allow to pass JSHandles between these functions (or any other non-serializable object), which is a tough limitation.

A small sample to reproduce what I'm trying to achieve:
[code]

It fails on some web pages (

[2018-01-09 10:31] inakianduaga opened #1751 ""Non-deterministic" screenshots after viewport resize"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: MacOS, (also Debian under docker)
* URLs (if applicable):
* Node.js version: 8.9.4

**What steps will reproduce the problem?**

1. Render some JS for a fixed code for different viewports

[code]

2. Compare snapshots using Jest

**What is the expected result?**

Snapshots shouldn't cha

[2018-01-09 10:32] jancurn commented on #676
@adarmanto This will only work for HTTP websites, but not HTTPS. Here's a blog post describing a workaround - https://medium.com/@jancurn/how-to-make-headless-chrome-and-puppeteer-use-a-proxy-server-with-authentication-249a21a79212

[2018-01-09 10:49] koloritcm commented on #1729
Do you think this fix will solve these issues perhaps:

https://github.com/GoogleChrome/puppeteer/issues/1391
https://github.com/GoogleChrome/puppeteer/issues/631

Both of them same symptom and seems related to `setRequestInterception`

[2018-01-09 10:53] StefanRoess commented on #1749
Hi Joel,
if i use for example

    browser.on('targetcreated', async (target) => {
      console.log(`Created target type ${target.type()}`);
    });

I get this result: Created target type page url about:blank

When i use the following:
   frame.on('targetcreated', async (target) => {
      console.log(`Created target type ${target.type()}`);
    });
I get: TypeError: frame.on is not a function

[2018-01-09 11:16] Ryuurock opened #1752 "Long shot content repeat, in about 16000 pixels"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:  0.13.0
* Platform / OS version: windows10 (16299)
* URLs (if applicable):
* Node.js version: 8.9

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

I have a very long web pages need to capture, but the picture around 16000 pixels happened repeatedly

**What happens instead

[2018-01-09 11:35] IWSR commented on #1745
@ebidel @aslushnikov Thank you all,I can run the puppeteer now.

[2018-01-09 15:25] Glennvd commented on #880
Since there doesn't seem to be much progress on this issue, in the meantime, is it possible to just drop these requests and log the errors instead of fatally crashing on this? I've been generating screenshots of a website and it happens once every 10 requests or so. Not a blocking issue but annoying nonetheless.

[2018-01-09 15:50] jwillingham789 commented on #1747
I'm using Puppeteer to generate a pdf with a supplied url and it works great for printing static pages. However, I'm working on a React application that has complex component state changes and I'm wanting to capture those state changes in a pdf. The problem I'm having is that printing via puppeteer only prints the initial page layout and doesn't reflect any of the state changes.

I can't use windo

[2018-01-09 16:20] mertbba commented on #373
when will this feature be released to npm? thanks.

[2018-01-09 16:57] grantstephens commented on #1752
Think this is related to #1576

[2018-01-09 17:04] grantstephens opened #1755 "Blank screenshot with headless true, else fine."
* Puppeteer version: 0.1.13
* Platform / OS version: Ubuntu 17.04
* URLs (if applicable): http://eu.patagonia.com/gb/en/home/
* Node.js version: 9.2.0

When running the following:
[code]
The resulting screenshot is blank, however by setting headless to false the screenshot works perfectly.
I don't know if it is a site specific thing but I haven't seen it on any other site, but AFAIK it shouldn't m

[2018-01-09 17:35] butorinio commented on #1718
I solved this using the flag: _--deterministic-fetch_
https://peter.sh/experiments/chromium-command-line-switches/#deterministic-fetch

[2018-01-09 18:03] ebidel commented on #1747
Puppeteer uses headless Chrome's feature for creating PDFs. https://developers.google.com/web/updates/2017/04/headless-chrome#create_a_pdf_dom

If you run those state changes and try printing the page manually (cmd+p), are they captured in the PDF preview?

[2018-01-09 18:25] MadHatter122312 opened #1756 "page.evalute() does not work as described"
* Puppeteer version:
0.13.0
* Platform / OS version:
Sierra 10.12.6
* URLs (if applicable):
* Node.js version:
v8.9.0

I am trying to create reference to a DOM element with page.evalute() like so:

[code]

However, I get a TypeError that myElement is not a function.  According to the documentation it is supposed to resolve a promise.  What am I dong wrong?

[2018-01-09 18:31] fringd opened #1757 "moar xpath!"
I love the addition of $x to query for xpath easily. In my code I've also added a waitForXpath function that roughly mirrors the waitForSelector method.

here's the snippet:
[code]

this is much a bit simpler than the full waitForSelector, but a start.

I'd like to not have to write this function myself!

Any chance we could get a waitForXpath added to puppeteer? and maybe even detect xpath string

[2018-01-09 18:38] jontewks commented on #758
@anandchakru that looks to be more heroku specific since its dealing with no web processes running. If you are unable to resolve it feel free to open an issue on my buildpack rather than Puppeteer and I can try to troubleshoot with you.

[2018-01-09 20:41] lucastheisen commented on #1735
@aslushnikov , It appears your master branch _may_ have already resolved this.  I noticed significant changes from the `0.13.0` version currently released to npm and when I clone, then run using:
[code]
It appears to work...  Whereas if I `git checkout v0.13.0` branch it fails in the same fashion as it does from npm:
[code]

That said, I am unable to verify using direct npm install from git:
[code

[2018-01-09 21:36] aslushnikov commented on #1735
@lucastheisen the tip-of-tree puppeteer is published to npm as puppeteer@next. Could you please give it a try?

[code]

[2018-01-09 22:21] lucastheisen commented on #1735
@aslushnikov , it works:
[code]
Thank you!

[2018-01-09 22:21] #1735 closed, assigned to nobody

[2018-01-09 23:06] aslushnikov commented on #1756
@IgorDraskovic there are two issues I can see with the code:
- you have excessive function call - you should just invoke `page.evaluate` and that's it
- once you have a handle, you should use `ElementHandle.click` to click

The following snippet should work just fine:

[code]

[2018-01-09 23:06] #1756 closed, assigned to nobody

[2018-01-10 00:52] #1729 closed, assigned to nobody

[2018-01-10 01:02] aslushnikov commented on #1757
@fringd thanks for reaching out! I don't see any problems with the suggested functionality; feel free to implement all the things you've mentioned here and send us PRs!

[2018-01-10 01:40] Ryuurock commented on #1576
When can you fix this problem, please

[2018-01-10 02:47] #1579 closed, assigned to nobody

[2018-01-10 02:48] adarmanto commented on #676
@jancurn Awesome! But I forgot to mention about `ignoreHTTPSErrors` option to work with HTTPS for my solution above (edited).

[2018-01-10 03:02] Khady commented on #880
fatally crashing on this

I have been doing this by catching the exception, logging it but not
stopping the process. I don't know if it is sane, but at least I can use
pptr for more than one page in a row.

[2018-01-10 03:11] aslushnikov commented on #1278
@biznickman so based on your script, here's what I have to reproduce the issue:

[code]

This indeed outputs `12 projects`, and then `24 projects`.
The `page.waitForNavigation` doesn't work since the click doesn't commit any navigation - it just triggers some javascript to update page's DOM.

I'd suggest to use `page.waitForFunction` to correctly wait for the click to process:

[code]

[2018-01-10 03:11] #1278 closed, assigned to nobody

[2018-01-10 03:20] aslushnikov commented on #1395
We don't currently have initiator information in the request interception events.

Filed upstream: [crbug.com/800623](https://bugs.chromium.org/p/chromium/issues/detail?id=800623)

[2018-01-10 03:40] aslushnikov commented on #1204
@entrptaher the `injectFile` is polifillable with a oneliner:

[code]

In the issue description, the following fails:
[code]
This is due to the CORS that prevent resources from loading. This could be work-around by loading the resource server-side and then injecting it into the page.

Also, the `content` fails as well:
[code]
This fails due to the CSP policy. In fact, CSP stays in puppeteer's way

[2018-01-10 03:40] #1204 closed, assigned to nobody

[2018-01-10 03:56] ezyang commented on #1412
Coming here to say that I was also bit by this sharp edge; maybe a little doc note would be helpful!

[2018-01-10 03:57] lcjnil commented on #1745
@aslushnikov Maybe you should mention that in README

[2018-01-10 04:48] aslushnikov commented on #1247
Filed upstream [crbug.com/800636](https://bugs.chromium.org/p/chromium/issues/detail?id=800636)

[2018-01-10 04:51] aslushnikov commented on #1281
This doesn't look like a pptr issue; the https://github.com/zeit/pkg/issues/204 is a better place for this discussion.

[2018-01-10 04:51] #1281 closed, assigned to nobody

[2018-01-10 04:56] aslushnikov commented on #1319
@konstantinblaesi can you please give an example of such a website? Honestly, it looks like I have no idea about the topic.

[2018-01-10 05:02] aslushnikov commented on #1424
@quinton-ashley ah indeed, there are no easy rules how these types are inferred. As @GuilloOme pointed out, there's some logic written in the Blink rendering engine, but it's not spec'ced.

I'd say the best approach here is trial-and-error.

[2018-01-10 05:02] #1424 closed, assigned to nobody

[2018-01-10 05:03] aslushnikov commented on #1262
This hasn't been touched in a while; hopefully, @MrSco has resolved the issue.

Please, feel free to write if you think we can somehow help with the topic.

[2018-01-10 05:03] #1262 closed, assigned to nobody

[2018-01-10 05:07] aslushnikov commented on #1485
@vonGameTheory This seems to be related to #299.

@BugRaptor thanks to reaching out to us! Closing this since we can't help much with the issue.

[2018-01-10 05:07] #1485 closed, assigned to nobody

[2018-01-10 05:10] aslushnikov commented on #1316
@natew Chrome 62 is too old to work with pptr v0.13.0; I'd try using some older pptr or newer chrome. (Ideally, I'd go with Chrome Canary).

[2018-01-10 05:12] aslushnikov commented on #1454
@schelkun might be many reasons: chromium bug, OOM, memory corruption etc.

[2018-01-10 05:16] aslushnikov commented on #1049
@hbowden like @saboya mentioned, we unfortunately don't have CI to build freebsd binaries.

@saboya yes, I'd try using some old version of pptr, e.g. v0.9.0. Alternatively, you can build chromium from source on the freebsd.

We don't have any immediate plans and resources to add freebsd builds. Closing this for now; we might revisit this later if there's a bigger demand.

[2018-01-10 05:16] #1049 closed, assigned to nobody

[2018-01-10 06:08] aslushnikov commented on #1479
@Oleg-Arkhipov trying to do screenshots in parallel inside a single browser will result in screenshots done sequentially; we serialize them per-browser. Internally, we have a `screenshotTaskQueue` for that:

https://github.com/GoogleChrome/puppeteer/blob/f6b7c1331628dfb45a916ec5cd1f04e5ed61bf01/lib/Browser.js#L28-L37

@fringd That's exactly what we do.

[2018-01-10 06:10] fringd commented on #1479
Okay it was something else wrong with my server causing timeouts I think.
My bad

On Wed, Jan 10, 2018, 1:09 AM Andrey Lushnikov <notifications@github.com>
wrote:

[2018-01-10 06:19] aslushnikov commented on #728
@HanXHX this requires more work upstream: in order to reuse lifecycle events, `page.setContent` should initiate a navigation, which in turn should be plumbed through browser-side navigation aka "plznavigate".

[2018-01-10 06:37] aslushnikov commented on #1332
Closing in favor of #1376.

[2018-01-10 06:37] #1332 closed, assigned to nobody

[2018-01-10 06:39] IWSR commented on #1745
@lcjnil I find the Version requirements about chromium in README, but there is no information about chrome.

[2018-01-10 06:53] aslushnikov commented on #1750
@rjktcby indeed, the `page.exposeFunction` is not integrated with JSHandles at the moment since there's been no need.

Do you really need the capability? In your example, it's not necessary to use the `page.exposeFunction` method; a better approach would be using [`page.evaluateOnNewDocument`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluateonnewdocumentpagefunction-a

[2018-01-10 06:59] #880 closed, assigned to nobody

[2018-01-10 07:00] aslushnikov commented on #880
@Khady @Glennvd can you guys please try installing puppeteer@next and see if the fix works for you?

[code]
(puppeteer@next is auto-published from our tip-of-tree)

[2018-01-10 07:16] 0x3E6 commented on #1664
@aslushnikov
The code just like this:
[code]
The log:
`x3e6@x3e6:~/workspace/puppeteer$ node test.js`
`>>>>>>>>>>>>>>>>>>>>>>>>>>`
`url:http://218.60.147.62/xmglgs/ListView.aspx?pl=NPZP(document)`
`method:POST`
`headers:`
`{`
`	"origin": "http://218.60.147.62",`
`	"upgrade-insecure-requests": "1",`
`	"content-type": "application/x-www-form-urlencoded",`
`	"user-agent": "Mozilla/5.0 (X11; Linux x86

[2018-01-10 08:31] namma-geniee opened #1760 "handleSIGINT is useless when running with PM2"
When i run the code with `node`, it works perfect.

But when i run with `pm2 start --kill-timeout=60000` and then call `pm2 stop`, the browser is closed right after i press Enter, even before it begins to count down.

Here is my code:

[code]

[2018-01-10 10:28] aslushnikov commented on #1353
@tommedema The implementation of `networkidle0` and `networkidle2` was moved to chromium.

The good news is that it's easy to implement a self-baked network-idle watcher, for example:

[code]

[2018-01-10 10:31] aslushnikov commented on #1282
Seems to be a dupe of #1281. This discussion would be more productive on PKG bugtracker. Please let us know if we can be helpful with this issue.

[2018-01-10 10:31] #1282 closed, assigned to nobody

[2018-01-10 10:36] aslushnikov commented on #1422
For (2), I'd try re-using userDataDir and rely on browser own HTTP cache.
Other then that, it looks like @HanXHX gave a reasonable answer.

[2018-01-10 10:36] #1422 closed, assigned to nobody

[2018-01-10 10:43] rjktcby commented on #1750
@aslushnikov my example is indeed trivial, i need this feature for more complex stuff. I'm writing UI testing and want to end up with generic reusable code to find elements in DOM tree by some euristics.

For example, lets say I want to find a button with text 'Submit' in one of its childs, or an element which looks like a certain reference png image that I have. Or whatever condition that I canno

[2018-01-10 10:55] koloritcm commented on #1391
@Khady @ChBernat @grantstephens @ovheurdrive  did any of you figure this out? I'm getting the same problem with today's master and can't figure it out. If I remove `setRequestInterception` and the request interceptions, it works fine.

[2018-01-10 12:33] tommedema commented on #1353
thanks @aslushnikov , I guess I will publish that as a npm package once  I found some time

[2018-01-10 12:47] grebmeg commented on #1347
I have the same error in production environment (ubuntu):

"Timed out after 30000 ms while trying to connect to Chrome! The only Chrome revision guaranteed to work is r515411"

 , but on local machine (mac os) it doesn't reproduced and all screenshots was gotten correctly...

[2018-01-10 14:08] schelkun commented on #1679
We can use this:
[code]

Wheel simulation is a cycle with evaluating this function, and `page.waitFor(time)`, right?

[2018-01-10 14:33] MadHatter122312 commented on #1756
@aslushnikov

It does not work.  Error is `Cannot read property 'click' of undefined` .  myElement is undefined.

[2018-01-10 14:45] yujiosaka commented on #1729
@gunnarblom
Thanks for letting me know! It seems #631 has been solved, though it was not by me :)

[2018-01-10 14:47] yujiosaka commented on #631
@vibou (cc: @aslushnikov )

Seems this problem has been fixed on master branch.
The example code needs to be modified due to API changes.

The latest code should look like this:

[code]

**Result**
[code]

[2018-01-10 14:47] schelkun commented on #1462
@maxwellllll this method is not working in headless.

[code]

Try to execute with headless `true` and `false`. `visibilitychange` is not working at headless at all.

[2018-01-10 15:23] koreus7 commented on #665
As mentioned in the article @Garbee posted the headless version does not have languages set on the navigator object.

Note also that the headless version will not have languages set in its Accept-Language Header. Some sites (ASP.NET in my experience) require this header to be set. Other sites are looking for this header specifically to identify headless browsers.

I copied the value from an exampl

[2018-01-10 15:23] GregRos commented on #1708
That's not nearly as good as using a built-in ID. It has a lot of room for error in principle and requires quite a bit more code besides, code that's pretty error-prone by itself.

[2018-01-10 16:01] yujiosaka commented on #1391
I confirmed that the problem is caused when `setRequestInterception` is enabled and the request is redirected.

The following urls do not work due to the redirection in my environment

- http://giffysk8s.blogspot.com/ -> http://giffysk8s.blogspot.jp/
- http://lemaninignesinden.blogspot.com/2015/02/vitaminenzimklorofilsifa.html -> http://lemaninignesinden.blogspot.jp/2015/02/vitaminenzimklorofilsif

[2018-01-10 16:33] aslushnikov commented on #1391
I'm testing the `puppeteer@next` and among all the urls listed here, only two yield `null` as a result of navigation:
- `http://www.qh119.com/10022/` - happens due to interstitial page
- `http://corralitopiraeus.blogspot.com/2017/07/malma-con-piezas-de-ordenador-y.html` - this is an actual bug; I have a draft fix for it.

@gunnarblom can you please share your URL? It will help me to validate the f

[2018-01-10 16:46] fringd commented on #1757
sure thing expect a pull request soon.

[2018-01-10 17:56] aslushnikov commented on #1756
@IgorDraskovic ah sorry, you should use `page.evaluateHandle` instead of `page.evaluate`.

[code]

[2018-01-10 18:05] aslushnikov commented on #631
Indeed, works fine for me on tip-of-tree.

[2018-01-10 18:05] #631 closed, assigned to nobody

[2018-01-10 18:24] ebbishop opened #1761 "Puppeteer in docker container: Chromium revision is not downloaded"
I'm trying to launch puppeteer in an express app that's run in a docker container, using docker-compose.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: jessie
* Node.js version: 8.9.4

**What steps will reproduce the problem?**

### Express app's Dockerfile:

    FROM node:8

    RUN apt-get update

    # for https
    RUN apt-get

[2018-01-10 18:38] ebidel commented on #1761
Assuming your package.json has `puppeteer` has a dependency.... Can you `docker exec` into the container and verify if there's a populated `./node_modules/puppeteer/.local-chromium/` folder?

[2018-01-10 18:39] DoronBrayer opened #1762 "[Feature request] Launching the browser in 'Full screen' mode"
* Puppeteer v0.13.0
* Windows 10 64-bit
* URL n/a
* Node.js v8.9.4

Please add the ability to launch the browser in 'Full screen' mode.

Thanks

[2018-01-10 18:41] phackt opened #1763 "Access the promise value: TypeError: response.request.text is not a function"
Hello guys,

I need a simple script. I want to get the body content of the landing page and to store the content of all the js files called. I started with:

[code]
How can i access this attribute.
Thanks in advance,
Regards,

[2018-01-10 18:47] yujiosaka commented on #1391
**Note**

Some URLs triggers redirect due to Accept-Language header.
My browser header is `ja-JP`, which causes the redirect for [this list](https://github.com/GoogleChrome/puppeteer/issues/1391#issuecomment-356647064).

I'm also testing on the `puppeteer@next`, and I found the cause for redirect cases.

When I set a console log here:

**NetworkManager.js**
[code]

It outputs the following logs:
[

[2018-01-10 19:00] #1763 closed, assigned to nobody

[2018-01-10 19:07] yujiosaka commented on #1391
Here is a POC patch:
https://github.com/yujiosaka/puppeteer/pull/2

[2018-01-10 19:16] ebbishop commented on #1761
There is:
`./node_modules/puppeteer/.localchromium/mac-508693/chrome-mac/Chromium.app/Contents`
- Info.plist
- MacOS
- PkgInfo
- Resources
- Versions

[2018-01-10 19:51] jGeorge437 opened #1764 "Feature Request: Cannot Resize non-headless Chrome."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 5.6.0
* Platform / OS version: Windows 10
* Node.js version: v8.9.3
* Chrome version: {Beta} 64.0.3282.71

**What steps will reproduce the problem?**

Setting viewport for page only resizes that page within the chrome tab, but not the chrome window itself (which is intended)

Though according to the documentation..
h

[2018-01-10 19:57] jGeorge437 opened #1765 "Removing infobars not working in Chromium or Chrome v64"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 5.6.0
* Platform / OS version: Windows 10
* Node.js version: v8.9.3
* Chrome version: {Beta} 64.0.3282.71

**What steps will reproduce the problem?**

[code]

Setting viewport for page only resizes that page within the chrome tab, but not the chrome window itself (which is intended)

Though according to the documenta

[2018-01-10 20:10] JoelEinbinder commented on #1679
Native mouse wheel is a bit different. You get 'wheel' events in addition to 'scroll' events, and there is some intricate behavior with passive vs blocking scroll listeners.

There is some protocol functionality to emulate wheel events, but we don't have a good way at the moment to detect when the page has finished scrolling in response to the wheel event.

[2018-01-10 20:44] dallashuggins commented on #1325
@aslushnikov
_Q: does the issue happens for you on tip-of-tree? (you can install latest puppeteer with npm i puppeteer@next)_
A: Yes, I just updated again to make sure and it's still giving me the same errors. If I fill in `await page.waitFor(4000)` in place of every `await page.waitForNavigation({ waitUntil: 'networkidle0', timeout: 0 })` then I get the initial "Cannot find context with specified

[2018-01-10 21:04] #1514 closed, assigned to nobody

[2018-01-10 21:12] aslushnikov commented on #1325
@dallashuggins these page crashes are suspicious. They shouldn't happen in the first place, and when they do happen we don't handle them the right way (see #1454).

I'd appreciate if you can share some runnable code for me to reproduce the behavior.

[2018-01-10 21:19] aslushnikov commented on #1391
interceptionId: 'id-44' is overriding the already found request/response, which results in null.

@yujiosaka yes, I have the same observation.

yujiosaka#2

I mostly like your fix. The only gotcha is that instead of tracking responses I'd keep tracking requests, but won't override them if there's another one coming for the same URL. This will make sure that we will return the response to the first

[2018-01-10 21:22] aslushnikov commented on #1708
@GregRos will you be happy with the `request.redirectChain()` api? For example

[code]

[2018-01-10 21:24] ebidel commented on #1761
That path looks like it's from a mac.  If you're in Docker, it should be something like `./node_modules/puppeteer/.local-chromium/linux-515411/`.

[2018-01-10 21:32] ebbishop commented on #1761
That's it. The last line in `volumes` in the `docker-compose.yml` was throwing it off by loading everything from my machine to the docker machine.

[2018-01-10 21:32] #1761 closed, assigned to nobody

[2018-01-10 21:33] yujiosaka commented on #1391
**Update**

This behavior is indeed documented in [Chrome DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-continueInterceptedRequest).
The document says this:

[code]

In addition, `requestWillBeSent` and `responseReceived` won't be triggered for the second request interception.
This behavior seems very odd, but I confirmed this behavior without puppeteer:

[2018-01-10 21:33] ebidel commented on #1765
This disables infobars for me on Mac. Launches the built in Chromium with 0.13.0:

[code]

5.6.0 isn't a release version of Puppeteer.

[2018-01-10 21:37] ebidel commented on #1762
There's a Chrome flag for fullscreen:

[code]

full list: https://peter.sh/experiments/chromium-command-line-switches/

[2018-01-10 21:37] #1762 closed, assigned to nobody

[2018-01-10 21:39] yujiosaka commented on #1391
@aslushnikov

Absolutely! I'd love to :)
I'll make one in a day or two (i'd like to take time to look into test cases)

[2018-01-10 21:51] aslushnikov commented on #1750
@rjktcby I think this is achievable, please point me to where I'm wrong.

You can define a set of helper functions in page context with a simple `page.evaluate`:

[code]

You can call these functions like this:

[code]

What's wrong with this approach?

[2018-01-10 21:55] sepiropht opened #1766 "Headless mode is not working"
Hello guy puppetter is awesome! However i have one small issue with one site where i cannot launch the browser in headless mode. I have to turn it to 'false' and then it work properly.
In headless a got this error:

(node:13169) UnhandledPromiseRejectionWarning: Error: waiting failed: timeout 30000ms exce
╰─➤

[2018-01-10 21:59] rjktcby commented on #1750
Seems like in the early days of getting to know puppeteer i tried this way and also failed. Not so sure at the moment, will double check and update, thanks

[2018-01-10 22:23] shannon opened #1768 "Feature Request: LCOV or Istanbul format code coverage"
It would be nice if the format of the code coverage report returned form the new page.coverage API was in a format that existing tools could use such as nyc.

I came across [v8-to-istanbul](https://github.com/bcoe/v8-to-istanbul) which converts the v8 format to istanbul but the new coverage API isn't returning the raw v8 format so I can't really leverage it.

[2018-01-10 22:23] fringd commented on #1757
okay I added https://github.com/GoogleChrome/puppeteer/pull/1767 but i wasn't able to add you as a reviewer, maybe you can add yourself?

[2018-01-10 22:29] fringd commented on #1757
@aslushnikov  ^

[2018-01-10 22:34] JoelEinbinder commented on #1768
Our format is different because we wanted to share the CSS and JavaScript coverage format and because the scripts in Chromium don't necessarily match what is on disk. Converting to the Istanbul format shouldn't be too difficult, but I think it would work better as a separate project instead of coming built into Puppeteer.

[2018-01-10 22:39] JoelEinbinder commented on #1765
This flag was removed in https://crrev.com/528386

[2018-01-10 22:44] shannon commented on #1768
Thanks @JoelEinbinder, that makes sense. Would it be possible expose the raw v8 result? It looks like there is some missing information in this format. This way any project like you have described would have everything they need.

[2018-01-10 23:11] Nantris commented on #1766
Having the same issue, No matter the timeout, headless mode fails. Page loads when set to false.

[2018-01-10 23:19] aslushnikov commented on #1054
CSS and JS coverage landed in pptr a few days ago: [`page.coverage`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-coverage)

Please give it a try!

[2018-01-10 23:19] #1054 closed, assigned to nobody

[2018-01-10 23:20] aslushnikov commented on #320
CSS and JS coverage landed in pptr a few days ago: [`page.coverage`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-coverage)

Please give it a try! You can install the tip-of-tree puppeteer from npm:
[code]

[2018-01-10 23:20] #320 closed, assigned to nobody

[2018-01-10 23:34] JoelEinbinder commented on #1764
You can try using the command line flag: https://peter.sh/experiments/chromium-command-line-switches/#window-size

[2018-01-10 23:36] JoelEinbinder commented on #1751
It’s hacks, but you could try evaluating and awaiting a requestAnimationFrame inside the page. I’m not sure what we wait on to decide the viewport had been resized.

[2018-01-11 00:09] Nantris opened #1769 "Click fails with "Node is not visible", but it is"
I'm running puppeteer with `headless: false`

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Windows 7 x64
* URLs (if applicable): https://s3.amazonaws.com/yabapmatt/bottracker/bottracker.html
* Node.js version: 8.9.1

**What steps will reproduce the problem?**

Below is my code. `setTimeout` was an attempt to fix this issue if it

[2018-01-11 03:07] simoncpu commented on #290
I encountered this on Ubuntu Server 16.0.4.3. I just installed LXDE so that I won't need to bother hunting down all the dependencies. Turns out that the solution to this problem is to run puppeteer/headless Chrome as a normal user instead of root.

[2018-01-11 03:12] brownbl1 opened #1771 "Click event not firing the second time"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Windows 10
* URLs (if applicable): https://teams.microsoft.com, https://login.microsoftonline.com
* Node.js version: v8.9.1

**What steps will reproduce the problem?**

[code]

Navigating to the first URL redirects to the second, kicking off a typical OAuth flow with a sign in dialog.

[2018-01-11 03:33] #31 closed, assigned to nobody

[2018-01-11 04:37] CatsMiaow commented on #391
#### Resolved without --no-sandbox
OS: CentOS Linux release 7.4.1708 (Core)
Kernel: 3.10.0-693.11.6.el7.x86_64

## Dependencies
* https://github.com/GoogleChrome/puppeteer/issues/391#issuecomment-325420271
* https://github.com/GoogleChrome/puppeteer/issues/560#issuecomment-325245136
[code]

## Download Chromium
Install separately as root permissions issue
* https://www.chromium.org/getting-involve

[2018-01-11 06:15] hordemark opened #1772 "Can't be used on zlinux (s390x)"
when run npm install command, the puppeteer can be installed. But the chrome in puppeteer/.local-chromium/linux-508693/chrome-linux is not a execute binary file.
Because zlinux cpu architecture is different from x86.

Any suggestions?

Thanks

[2018-01-11 06:48] pwnall commented on #1694
I was about to open an issue and found this. I hope my comments are relevant.

I am catching puppeteer's timeouts. In my case, timeouts can come from page.goto, page.waitForNavigation, and page.waitForSelector. I don't think that puppeteer is anything wrong in this case, as it is simply following my commands. (in response to @JoelEinbinder's comment) At the same time, timeouts do happen (think ten

[2018-01-11 07:38] pwnall opened #1774 "Keepalive for the devtools connection"
I'm using puppeteer.connect to connect to a bunch of Chrome instances across the network. Everything works perfectly, as long as I can keep the instances busy all the time. However, if I have a long initialization phase (think tens of minutes) between connecting to the Chrome instances and issuing commands to them, the connection breaks down.

AFAIK, the WebSockets spec includes a ping mechanism a

[2018-01-11 08:24] Glennvd commented on #880
Hi @aslushnikov, I just gave @next a try but I can't really tell if this has fixed it. As I said I only have it around 10% of requests but @next pretty much broke my setup altogether. Receiving timeouts for around 50% of requests. Figuring out whats going wrong.

[2018-01-11 08:24] pwnall opened #1775 "puppeteer.connect() support for wss (TLS) options"
It'd be nice if puppeteer.connect() supported using a custom CA for validation and/or a client key+certificate for TLS connections.

It appears that `ws` has this support as the `ca`, `key` and `cert` options. https://github.com/websockets/ws/blob/d03ada231a7961ebfbd797c1ea54632dc8078707/lib/websocket.js#L482

The difficult parts then are:

1) Deciding if this is risky -- all the serious HTTP / WS

[2018-01-11 08:27] aslushnikov commented on #1694
@pwnall why puppeteer-specific `error.code` values aren't good enough for your usecase? I prefer them to custom error classes for a few reasons:
- `error.code` values are lightweight
- `error.code` values fit nicer with the rest of the API: ATM we have no classes exposed, only instances.

[2018-01-11 08:41] canonic-epicure commented on #1679
Isn't that a DOM "scroll" event?

[2018-01-11 08:41] 0x3E6 opened #1776 "Request method is wrong in page.on('request') when accessing redirected url"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.13.0
* Platform / OS version:Ubuntu 17.10
* URLs (if applicable):e.g. some links in http://218.60.147.62/xmglgs/ListView.aspx?pl=SLP
* Node.js version:9.3.0

**What steps will reproduce the problem?**

1.Firstly, run `node redirect_server.js`, the simple server code:
[code]
When click the only `<a>` in `http://127.0

[2018-01-11 08:45] aslushnikov commented on #1774
@pwnall this sounds very reasonable. I'd be happy to review a PR.

FYI: ws (our websockets library) had a discussion about pings: https://github.com/websockets/ws/issues/767

[2018-01-11 08:49] aslushnikov commented on #1775
@pwnall can you please share your usecases for this?

[2018-01-11 09:03] pwnall commented on #1694
@aslushnikov `error.code` uses a global namespace, so there's always a tiny chance that some other library settles on the same prefix.

If you'd rather not expose a custom class, how about a custom property?

[2018-01-11 09:12] pwnall commented on #1775
@aslushnikov I think this would be the easiest way to set up a puppeteer instance connecting to multiple Chrome instances running on separate servers (machines / VMs / containers).

I'd set up nginx with TLS termination on the Chrome servers. The custom CA makes it easy to secure the connections to the Chrome servers. The client key + certificate can be used to prevent unauthorized connections to

[2018-01-11 09:14] aslushnikov commented on #880
@Glennvd the biggest change while migrating from 0.13.0 onto @next would be substitution of all getters with methods. Please see https://github.com/GoogleChrome/puppeteer/commit/b73737302a5dbfc5cd67f37be8460e53ab4f417f for details

[2018-01-11 10:13] m9dfukc commented on #1752
Might be related to [#929](https://github.com/GoogleChrome/puppeteer/issues/929) and [#477](https://github.com/GoogleChrome/puppeteer/issues/477) and [#359](https://github.com/GoogleChrome/puppeteer/issues/359). This [#937](https://github.com/GoogleChrome/puppeteer/pull/937) might help though.

[2018-01-11 10:53] medhamza911 opened #1777 "can we have chrome layer in headless chrome ?"
* Puppeteer version:0.13.0
* Platform / OS version:windows bash linux (i am savage i know :/ )
* URLs (if applicable):
* Node.js version:v9.3.0

**What steps will reproduce the problem?**
is it possible to have chrome layer when headless is true
_Please include code that reproduces the issue._

[code]

**What is the expected result?**
chrome layer exist

**What happens instead?**
chrome is undefin

[2018-01-11 11:50] Mr-LiuDC commented on #672
@oeliok @renmoqiqi

links below are useful.

[https://github.com/GoogleChrome/puppeteer/issues/1597](https://github.com/GoogleChrome/puppeteer/issues/1597)

[https://github.com/cnpm/cnpmjs.org/issues/1246](https://github.com/cnpm/cnpmjs.org/issues/1246)

[2018-01-11 11:51] DoronBrayer commented on #1762
@ebidel Thanks.

[2018-01-11 12:22] mithung commented on #765
I am getting below error while launching puppeteer in AWS EC2.

_**error while loading shared libraries: libdbus-glib-1.so.2: cannot open shared object file: No such file or directory**_

I see that below dependencies are not installed.

$ ldd chrome | grep not
	libdbus-glib-1.so.2 => not found
	libcairo-gobject.so.2 => not found
	libcairo-gobject.so.2 => not found
	libXinerama.so.1 => not found

[2018-01-11 12:40] Glennvd commented on #880
Hey @aslushnikov, thanks for the tip, with some changes I got it to work. The fix for this issue seems to have drastically reduced the amount of occurrences. (From 12% to 3% to be exact). I haven't managed to reproduce the exact conditions when it occurs but for me personally, a 3% failure rate is acceptable.

[2018-01-11 13:14] #1765 closed, assigned to nobody

[2018-01-11 13:14] jGeorge437 commented on #1765
Turns out I had puppeteer's options separate from its launch declaration, which is why it wasn't caught.

also, you're right about the versioning. that was my npm. Rather embarrassing ^.^

[2018-01-11 13:59] jGeorge437 commented on #1764
That did the trick! I should've scrolled down further, thank you!

[2018-01-11 13:59] #1764 closed, assigned to nobody

[2018-01-11 14:02] Ogofo commented on #678
Is this feature in active development? Got the same issue and I guess the Use-Case is widely spread.

[2018-01-11 14:16] MadHatter122312 commented on #1756
This fixed the problem!  Thank you.

[2018-01-11 14:34] sangaline commented on #765
@mithung, which AMI and installation method are you using?

[2018-01-11 15:36] dallashuggins commented on #1325
Hey @aslushnikov - unfortunately the page I am trying to access requires you to login first, but I have shared the skeleton of the function below. Does this help?

After updating to 0.13.0 to 0.12.0, I had to change networkidle to networkidle2 or networkidle0, both of which give me the same results, and add the different `await page.waitFor([#]);` throughout the script.
[code]

This script works w

[2018-01-11 16:29] Ognian opened #1778 "feature request: add option to generate TOC for pdf output"
Since now headers and footers with page numbers work, I now desperately miss an option to generate a Table of Contents (TOC) out of the h1- h7 headers when generating a pdf file (i.e like wkhtmltopdf is doing this). The TOC should be at the start of the pdf and it should not only be clickable (jump to the page) but also generate the outline pdf element, so that the TOC is displayed in the contents

[2018-01-11 17:25] alippai commented on #290
On travis and on my Ubuntu 17.10 it's failing with
[code]

[2018-01-11 18:02] brigand opened #1779 "Screenshot element larger than viewport"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: OSX
* Node.js version: 8.9.0

**What steps will reproduce the problem?**

[code]

---

I'm using `elementHandle.screenshot()` which is working, but if the element is larger than the viewport, it won't capture all of it. This make sense if you look at the source and see that it's using

[2018-01-11 18:17] brigand commented on #1694
Sorry, missed the notifications on this issue. Yeah, error codes would be good with me.

I can take this issue when a decision is made.

[2018-01-11 18:25] skyiea commented on #1697
Setting user agent via `--user-agent` arg forces me to hard-code one. Is it possible to know it beforehand somehow? Don't want to update it manually each time I download new Chromium version. :/

[2018-01-11 18:26] ebidel commented on #1697
[code]

[2018-01-11 19:10] yujiosaka commented on #1391
**Update**

So, after through investigation, i can repro with the minimum test, which is https://github.com/yujiosaka/puppeteer/pull/2/files#diff-b1dc310bde327a785ea47c1b5b93a6e2R1

My mistake is that it was not caused by the redirection.
It was a blogpost thing (the listed urls are blog pages generated by blogpost), and i had nothing to do with redirect.

Rather, it was caused by the service call

[2018-01-11 19:23] aslushnikov commented on #1697
there's also `browser.userAgent()` method

[code]

[2018-01-11 19:26] aslushnikov commented on #880
@Glennvd thanks for the update. I'm curious what are these 3% of failures?

[2018-01-11 19:54] MadHatter122312 opened #1782 "Page Object Model with Puppeteer"
I recently started utilizing Puppeteer for e2e testing (I have some experience with Selenium Web Driver) and I could not find anything in the documentation discussing POM pattern.  Are there any examples available how to implement this correctly in node/ES7 within Puppeteer?

Let us say I have a simple script that tests the login functionality of a page:

[code]
Typically, we would have a Page Obj

[2018-01-11 21:43] JoelEinbinder commented on #1779
Maybe we should resize the page if the clip rect is larger than the page viewport, as we do with fullpage screenshots. We call the same method as setViewport does when doing fullPage screenshots, so I think your solution is fine. We also already send a real scroll into the page before doing element screenshots, so I am not worried about them becoming detectable by the page. Would welcome a PR!

[2018-01-11 21:51] JoelEinbinder commented on #1772
It seems like you will have to compile Chromium yourself, or find a compiled version for your platform. Then you can specify a custom chrome path with the `executablePath` option: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions

[2018-01-11 22:12] tomgallagher commented on #1552
@aslushnikov

I have a question on this. Let's say I'm happy to wait for

but 3 connections remain open. Am I right in saying that the page.goto will then return the promise when the default 30 second time out is hit, assuming I've left it at default? I also read that it will throw an error at this point. Does that mean that node will move on from the await statement?

Sorry, such basic questions.

[2018-01-11 22:18] brigand commented on #1779
@JoelEinbinder cool, would you like it enabled by default, or an option like `fullElement`?

[2018-01-11 22:20] JoelEinbinder commented on #1779
I’m thinking enabled by default

[2018-01-11 22:50] LvChengbin opened #1784 "Events do not trigger from IDBOpenDBRequest after calling window.indexedDB.open."
* Puppeteer version: 0.13.0
* Platform / OS version: MacOS 10.13.2
* Node.js version: 8.9.3

[code]

Both `onsuccess` and `onerror` are not working.

[2018-01-11 22:57] aslushnikov opened #1785 "Chromium Page Crashes"
This is reported here: https://github.com/GoogleChrome/puppeteer/issues/1325#issuecomment-356964506

@dallashuggins to debug this further, can you please:
1. Launch chrome canary in non-headless (headful) mode and provoke the crash.
2. After that, open "chrome://crashes" tab in the Chrome Canary and find the most recent crash. It should be the one that just occured
3. Hit the "send now" button if

[2018-01-11 22:58] aslushnikov commented on #1325
@dallashuggins thank you for sharing the details. In this case, the `Cannot find context with specified id undefined` error seems to be related to the `page crashed` failure. The `page crashed` error is a major problem; let's debug it first.

I've created a designated issue for this here: https://github.com/GoogleChrome/puppeteer/issues/1785

[2018-01-11 22:59] JoelEinbinder commented on #1782
I am very new to Page Object Model. From what I understand, you can just have a helper file with functions that accept a page object. Something like:

`page.js`
[code]

`test.js`
[code]

[2018-01-12 00:09] aslushnikov commented on #1552
@tomgallagher that's right

Yes and no; It will reject the async function promise.

Thank you, we're happy it helps!

[2018-01-12 00:11] aslushnikov commented on #1777
Dupe of #1026; please take a look on the discussion over there.

[2018-01-12 00:11] #1777 closed, assigned to nobody

[2018-01-12 00:12] #1782 closed, assigned to nobody

[2018-01-12 00:16] aslushnikov commented on #1778
@Ognian will it work if the TOC will be generated inside the page before printing it?

[2018-01-12 00:21] aslushnikov commented on #1784
@LvChengbin I can't reproduce this; the following script works fine for me:

[code]
We've had reports in the past from indexDB users, so I'd assume that there's a problem with your script.

Please don't hesitate to write us if you think we can help somehow.

[2018-01-12 00:21] #1784 closed, assigned to nobody

[2018-01-12 00:24] #1772 closed, assigned to nobody

[2018-01-12 01:17] ORESoftware opened #1788 "Support question - always launch Chrome in new tab in existing window, if existing window exists"
Hey all, will try to get straight to the point - I am planning to use Puppeteer to launch in `{headless: false}` mode.

(a) I am looking to launch Puppeteer as a new tab in an existing window, using some flag
(b) I'd like the ChromeDevTools view to open automatically, using some flag

I checked out SO for any existing questions on this, didn't see any:
https://stackoverflow.com/questions/tagged/pu

[2018-01-12 01:22] aslushnikov commented on #1771
Hey @itslittlejohn,

It looks like I can't register on the website to reproduce this.
Can you please try using the puppeteer@next and see if the issue reproduces there as well?
puppeteer@next is a tip-of-tree version of puppeteer, you can install it with

[code]

Also, since the `page.goto('https://teams.microsoft.com', { waitUntil: 'networkidle2' })` will result in a subsequent javascript redirec

[2018-01-12 01:23] ORESoftware commented on #1788
I see my question is partially answered here:
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions

So I would do:

[code]

**however, I don't see a command line flag that tells Chrome to have an affinity for an existing window, and to avoid opening a new window:**

https://peter.sh/experiments/chromium-command-line-switches/

_is there any such flag?_

[2018-01-12 01:25] JohnHanna86 commented on #1409
I installed the latest puppeteer npm package (0.13.0) and it has the same problem with the bundled Chromium.

[2018-01-12 02:11] aslushnikov commented on #1788
@ORESoftware do you want to connect puppeteer to already-running chrome?

This is possible with `puppeteer.connect`, but you'd need to know the websocket endpoint of the running browser. If the original browser was launched with puppeteer, you can get it with `browser.wsEndpoint()` method.

[2018-01-12 02:30] the1mills commented on #1788
Cool thanks...so how exactly can I use connect() to open a tab in an existing window?

I have a websocket client in a Chrome Extension, but not a websocket server

[2018-01-12 02:31] aslushnikov commented on #1159
Filed upstream: [crbug.com/801426](https://bugs.chromium.org/p/chromium/issues/detail?id=801426)

[2018-01-12 02:37] aslushnikov commented on #1788
@the1mills there's no way if the browser is not launched with `--remote-debugging-port` flag.

If your browser is launched with the `--remote-debugging-port` flag, it prints URL of a websocket server that the browser opens for automation purposes.

[2018-01-12 02:40] aslushnikov commented on #1379
@xprudhomme thanks for filing this.

I'd align this feature with #1694: we should have the actual evaluation error as one of the pptr error fields.

[2018-01-12 02:46] aslushnikov commented on #1381
@octasimo, thanks for filing this.

There are no exceptions for the `slowMo` option: it slows down *all* interactions between pptr and browser. We'd like to keep it this way to be predictable and to keep codebase simple.

Closing this for now; we can reconsider this later if there's more demand.

[2018-01-12 02:46] #1381 closed, assigned to nobody

[2018-01-12 02:48] aslushnikov commented on #1386
Closing as a dupe of #1083.

[2018-01-12 02:48] #1386 closed, assigned to nobody

[2018-01-12 02:52] aslushnikov commented on #1083
@rohmanhm I disagree. Most of the time pptr scripts want to work with the newly opened tabs, so this is a good default.

For your usecase, though, I'd suggest using [`page.bringToFront`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagebringtofront) method to activate tabs when necessary.

Hope this helps!

[2018-01-12 02:53] aslushnikov commented on #1370
This will be fixed as soon as #257 is addressed.

Closing in favor of #257.

[2018-01-12 02:53] #1370 closed, assigned to nobody

[2018-01-12 02:56] aslushnikov commented on #948
@vsemozhetbyt @ks07 can you please share your usecases? Do I understand correctly that this is different from #299?

[2018-01-12 02:58] aslushnikov commented on #1318
Thanks @zxsoft for filing this! Looks like this was addressed some time ago:

https://github.com/GoogleChrome/puppeteer/blob/12b57e31f386b1bd8845aba0246894fde8fe9ed8/install.js#L40-L50

[2018-01-12 02:58] #1318 closed, assigned to nobody

[2018-01-12 02:59] aslushnikov commented on #1456
@ks07 this seems to be a dupe of https://github.com/GoogleChrome/puppeteer/issues/1774

Let me know if you disagree.

[2018-01-12 02:59] #1456 closed, assigned to nobody

[2018-01-12 03:10] aslushnikov commented on #1177
@craigdallimore I tried doing the "Save as PDF" in Chrome 63.0.3239.132 and it indeed resulted in a huge pdf.

This doesn't look like a puppeteer issue; I filed this upstream as [crbug.com/801430](https://bugs.chromium.org/p/chromium/issues/detail?id=801430). Closing this in favor of the upstream bug.

[2018-01-12 03:10] #1177 closed, assigned to nobody

[2018-01-12 03:10] vsemozhetbyt commented on #948
@aslushnikov I have a script that checks all the links in a doc set. I can use `response.ok` and `response.status()` for openable URLs, but cannot check if non-openable URLs are valid (not 404 or likes).

[2018-01-12 03:14] aslushnikov commented on #1461
Interesting. Maybe @paulirish or @a1ph know right away how's this possible.

[2018-01-12 03:14] #1451 closed, assigned to nobody

[2018-01-12 03:16] aslushnikov commented on #1452
@alexhallam like @vonGameTheory said, you can use `page.$$` to get ELementHandles for all the DOM elements

[code]

Hope this helps.

[2018-01-12 03:16] #1452 closed, assigned to nobody

[2018-01-12 03:19] mithung commented on #765
I am using Amazon Linux AMI to create instance.

Puppeteer is one of dependencies in my "package.json". When I do "npm install". I could see that chromium is downloaded.
<img width="524" alt="screen shot 2018-01-12 at 8 34 22 am" src="https://user-images.githubusercontent.com/5802065/34857944-9540d23a-f773-11e7-921a-72c9e2b198d9.png">

When I run my puppeteer some dependencies like "libXss.so.1" w

[2018-01-12 03:19] aslushnikov commented on #1474
@Vandivier i looked into your repository and quickly got lost. Please, feel free to re-file with a repro that would be easier to follow.

[2018-01-12 03:19] #1474 closed, assigned to nobody

[2018-01-12 03:19] the1mills commented on #1788
Ok cool, so the wss in the browser speaks the Chrome protocol? Do you have a simple example of sending a request to the wss in the browser?

I think I need to call Target.create()?

[2018-01-12 03:23] aslushnikov commented on #1477
That's the website server rejecting chrome headless as a client.

[2018-01-12 03:23] #1477 closed, assigned to nobody

[2018-01-12 03:26] aslushnikov commented on #1788
@the1mills we don't have it here; but there are many resources of the web.

Good places to start reading about Chrome DevTools Protocol are:
- [devtools protocol](https://chromedevtools.github.io/devtools-protocol/) documentation
- [chrome remote interface](https://github.com/cyrus-and/chrome-remote-interface) project

[2018-01-12 03:26] #1788 closed, assigned to nobody

[2018-01-12 03:28] aslushnikov commented on #1482
@jamupjammy unfortunately, we can't help much without being able to poke into the website you're automating.

Please, re-file this issue with a link to the website and a good repro steps so that we have something to work with.

[2018-01-12 03:28] #1482 closed, assigned to nobody

[2018-01-12 03:30] aslushnikov commented on #1480
I can reproduce this either; this looks like an issue with the environment.

[2018-01-12 03:30] #1480 closed, assigned to nobody

[2018-01-12 03:31] #1465 closed, assigned to nobody

[2018-01-12 03:35] aslushnikov commented on #1427
I can repro this every other time. Seems to be a chromium bug.

[2018-01-12 03:37] paulirish commented on #1461
That method will take some time. It's possible puppeteer is busy during that time, though it taking a perfect 10 seconds is indeed suspect. It'd help if you could do this again with verbose logging and share that.

[2018-01-12 03:38] aslushnikov commented on #1345
Closing this since @joelgriffith provided a docker image that everyone likes.

[2018-01-12 03:38] #1345 closed, assigned to nobody

[2018-01-12 03:43] yzhang commented on #765
@mithung can you check if you installed dbus-glib? did you forget to run below line?

`$ sudo yum install cups-libs dbus-glib libXrandr libXcursor libXinerama cairo cairo-gobject pango`

[2018-01-12 03:55] the1mills commented on #1788
Ok thanks - so I am guessing you can use the protocol to tell the wss in the existing window to open a new tab, just have to figure out the right calls, thx

[2018-01-12 03:59] aslushnikov commented on #1476
I've translated a few comments up there, but they don't seem to address the initial question..

@BenjaminChoou the `waitForNavigation` method waits for the subsequent navigation; in your case, page doesn't navigate away, but instead fetches some data with XHRs. So the `waitForNavigation` doesn't help.

I'd try using `'requestfinished'` event to track exactly when the requests finishes. If the DOM

[2018-01-12 03:59] #1476 closed, assigned to nobody

[2018-01-12 04:16] aslushnikov commented on #1007
This is fixed in 1.0: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectorselector-options

[2018-01-12 04:16] #1007 closed, assigned to nobody

[2018-01-12 04:17] BenjaminChoou commented on #1476
@aslushnikov Thank you very much. I think it would fix my problem because it really makes sense. But I've already fixed this by directly requesting APIs from the web. Anyway, next time I would try it.:smiley:

[2018-01-12 04:18] mithung commented on #765
@yzhang After running below line
sudo yum install cups-libs dbus-glib libXrandr libXcursor libXinerama cairo cairo-gobject pango

I could see that all dependencies are resolved
<img width="373" alt="screen shot 2018-01-12 at 10 01 07 am" src="https://user-images.githubusercontent.com/5802065/34859944-0065426a-f780-11e7-81c7-83ce3d0cf870.png">

I am getting this error while running tests

_Failed t

[2018-01-12 04:23] aslushnikov commented on #1224
@chris-herring If @DaveRicho's [comment](https://github.com/GoogleChrome/puppeteer/issues/1224#issuecomment-351498586) doesn't fix the issue, I'd suggest asking over in the webpack repo: there should be more people familiar with the matter.

[2018-01-12 04:23] #1224 closed, assigned to nobody

[2018-01-12 04:26] aslushnikov commented on #1390
@shabbir1993 this might be due to lack of `await` statement next to the promise.

Overall, @Khady gave an [exhaustive answer](https://github.com/GoogleChrome/puppeteer/issues/1390#issuecomment-344506047). Thank you.

[2018-01-12 04:26] #1390 closed, assigned to nobody

[2018-01-12 04:27] aslushnikov commented on #1441
Closing as a dupe of #1159.

[2018-01-12 04:27] #1441 closed, assigned to nobody

[2018-01-12 04:27] #1263 closed, assigned to nobody

[2018-01-12 04:32] aslushnikov commented on #1450
The `browser.newPage()` hangs because you use old version of chromium. If you absolutely can't use the bundled chromium, try using older pptr / newer chrome (e.g. Chrome Canary).

We publish puppeteer's chrome versions in our [releases](https://github.com/GoogleChrome/puppeteer/releases).  For example, puppeteer 1.0.0 requires chrome version 65.

[2018-01-12 04:32] #1450 closed, assigned to nobody

[2018-01-12 04:33] ORESoftware commented on #1788
@aslushnikov ok homie, I am diggin' your style, but I now have some beef

I have this:

[code]

My question is, why do I need to use `b._connection._url` ... 2 properties with underscores.

**Something is wrong**. Is there a better way to grab the connection url?

[2018-01-12 04:38] aslushnikov commented on #1460
@MehdiRaash you're right, the `async` can be omitted. However, there's no functional difference, so no need to change anything.

FYI: The `async/await` use in the codebase has been discussed before: https://github.com/GoogleChrome/puppeteer/issues/624

[2018-01-12 04:38] #1460 closed, assigned to nobody

[2018-01-12 04:42] aslushnikov commented on #1788
@ORESoftware you don't need to. You can use [`browser.wsEndpoint()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#browserwsendpoint) instead.

[2018-01-12 04:44] aslushnikov commented on #515
As I got from the thread, this is not a pptr issue: the root cause seems to be Azure's constrained environment.

Please don't hesitate to file new issues if you think we can somehow help here.

[2018-01-12 04:44] #515 closed, assigned to nobody

[2018-01-12 04:46] ORESoftware commented on #1788
ah yes, thanks very much, one more question for you tonight - do you know the flag to enable Chrome extensions? I am not seeing it on the list of Chrome flags When I launch Chrome with puppeteer I don't see any Chrome extensions in the browser action section - I am developing a Chrome extension, that's why I care.

[2018-01-12 04:47] aslushnikov commented on #1380
This should be working fine with pptr 1.0.0:

https://github.com/GoogleChrome/puppeteer/blob/12b57e31f386b1bd8845aba0246894fde8fe9ed8/lib/Downloader.js#L274

[2018-01-12 04:47] #1380 closed, assigned to nobody

[2018-01-12 04:48] aslushnikov commented on #1385
The issue in the OP seems to be addressed by the [comment](https://github.com/GoogleChrome/puppeteer/issues/1385#issuecomment-346164928).

[2018-01-12 04:48] #1385 closed, assigned to nobody

[2018-01-12 04:49] ORESoftware commented on #1788
Specifically, when I try calling this:

[code]

I get this error:

I assume that means the client blocked the request to load the extension?

[2018-01-12 05:06] aslushnikov commented on #1347
@20percent the logs you attached have perfectly valid pptr logs that successfully interact with the browser.

Overall, there are two reasons for this error to happen:
1. You're using wrong version of chromium; you should try using the bundled one to mitigate the issue.
2. You're running in a very tight environment with a lot of concurrent tasks. In this environment, chrome naturally takes long tim

[2018-01-12 05:06] #1347 closed, assigned to nobody

[2018-01-12 05:07] aslushnikov commented on #1788
@ORESoftware unfortunately, chrome extensions are not supported by chrome headless.

[2018-01-12 05:10] aslushnikov commented on #948
@vsemozhetbyt ah makes sense, thank you for sharing.

[2018-01-12 05:20] ORESoftware commented on #1788
well if I do `{headless: false}`? still no extensions?

[2018-01-12 05:22] ORESoftware commented on #1788
Chrome Launcher has an option to `enableExtensions`:

https://github.com/GoogleChrome/chrome-launcher#launch-options

do you think that puppeteer could do that too?

[2018-01-12 05:48] foresightyj commented on #1718
@aslushnikov Thanks for asking. No progress. The weird thing is that when it is run as a Teamcity build step, the browser never shows up even though the `headless` option is `false`. It runs as fast. So effectively I had it run headlessly.

@igor-butorin I tried the flag but it didn't help and it takes forever and stops at a unhandled promised rejection. The documentation says that with this flag

[2018-01-12 05:50] foresightyj commented on #1718
@aslushnikov By the way, I do not mind if you close this issue. I'll leave it to you.

[2018-01-12 06:00] aslushnikov commented on #1788
@ORESoftware extensions will work just fine in headful mode. To launch in headful with extensions, you'll need to filter-out the `--disable-extensions` flag from default pptr flags:

[code]

[2018-01-12 06:04] aslushnikov commented on #1718
@foresightyj I'd try asking Teamcity team for help.

Closing, I don't think we'll be of much help with this.

[2018-01-12 06:04] #1718 closed, assigned to nobody

[2018-01-12 06:05] eliseumds commented on #476
On MacOS, taking JPEG screenshots and decoding them with [node-jpeg-turbo](https://github.com/sorccu/node-jpeg-turbo) gave us a speed-up of ~60% on our regression tests. Most of the gains definitely came from the file format change (and not the decoding library).

[2018-01-12 06:05] eliseumds commented on #736
On MacOS, taking JPEG screenshots and decoding them with [node-jpeg-turbo](https://github.com/sorccu/node-jpeg-turbo) gave us a speed-up of ~60% on our regression tests. Most of the gains definitely came from the file format change (and not the decoding library).

[2018-01-12 06:18] ORESoftware commented on #1788
ok thanks, let me try that, but that's gnarly dude

why not have defaults, but override the defaults with what the user has passed to `launch()`?

[2018-01-12 06:21] ORESoftware commented on #1788
damn, I get
**TypeError: puppeteer.defaultArgs is not a function**

[2018-01-12 06:30] aslushnikov commented on #1788
Because we have a lot of defaults that user will never pass by himself.

THe `puppeteer.defaultArgs()` is not available in v0.13.0; it's available since v1.0.0.

[2018-01-12 06:34] ORESoftware commented on #1788
I just installed puppeteer today, I have this version

`"puppeteer": "^0.13.0",`

how do I get 1.0.0?

[2018-01-12 06:35] aslushnikov commented on #1752
Dupe of #1576

[2018-01-12 06:35] #1752 closed, assigned to nobody

[2018-01-12 06:35] ORESoftware commented on #1788
yeah I guess with arrays, it's not as easy to override defaults, I understand your methodology

[2018-01-12 06:37] aslushnikov commented on #1788
@ORESoftware 1.0.0 was published a few hours ago; try installing one more time

[2018-01-12 08:16] #1391 closed, assigned to aslushnikov

[2018-01-12 08:29] smelukov opened #1790 ""Protocol error (Page.captureScreenshot): Target closed" when trying to take a fullpage-screenshot from a huge page"
We're using docker container like that:

[code]

`npm start` starts a simple server that takes a screenshot for specified page.
Inside this container we're getting an error Protocol error (Page.captureScreenshot): Target closed. when fullPage property is true and trying to take a screenshot from a huge page (e.g. https://blog.archive.org/).

In a local machine, everything is fine.

[2018-01-12 08:47] namma-geniee commented on #1760
I solved with `--no-treekill`.

[2018-01-12 08:47] #1760 closed, assigned to nobody

[2018-01-12 09:33] Glennvd commented on #880
Not 100% sure as I can't consistently reproduce it. We also have plenty of puppeteer boilerplate code that does all kind of things using requestInterception. I'll let you know if I stumble upon an actionable stacktrace

[2018-01-12 09:47] aslushnikov commented on #759
Closing as a duplicate of #1159.

[2018-01-12 09:47] #759 closed, assigned to aslushnikov

[2018-01-12 09:52] aslushnikov commented on #615
We've added the reference to the dumb-init in the [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#tips).

For the issues with page crashes, please upvote the #1454.

[2018-01-12 09:52] #615 closed, assigned to nobody

[2018-01-12 09:58] aslushnikov commented on #623
Some of the reports in the thread might be related to small `/dev/shm` size, please try running pptr with `--disable-dev-shm-usage` flag:

[code]

Others might be related to the websocket keepalive bug: #1774.

Can someone please check and see if pptr v1.0.0 still fails for you in docker with `--disable-dev-shm-usage` flag?

[2018-01-12 10:00] aslushnikov commented on #611
This seems to be a chromium issue. I'd appreciate if you file it upstream to `crbug.com/new`.

[2018-01-12 10:00] #611 closed, assigned to nobody

[2018-01-12 10:02] aslushnikov commented on #602
We don't have any plans to address this any time soon. Closing for now, we'll revisit this later as the necessity emerges.

[2018-01-12 10:02] #602 closed, assigned to nobody

[2018-01-12 10:12] setdvd commented on #1135
Have same issue with puppeteer 1.0.0 and 0.13.0. macOs.

when using self signed cert + ignoreHTTPSErrors: true  + setRequestInterception(true) => page never loads.

If using trusted ssl cert - everythings works fine including interception hooks.

[2018-01-12 10:13] aslushnikov commented on #563
@jessehattabaugh I didn't figure what to do with your example repository. I'd appreciate if there's a nicer repro, or a step-by-step guide that will help me to reproduce the issue.

Puppeteer v1.0.0 got released recently. Can you please check that the issue still reproes there?

[2018-01-12 10:15] aslushnikov commented on #603
Closing this since this [comment](https://github.com/GoogleChrome/puppeteer/issues/603#issuecomment-328936507) explains how to launch on lambda.

[2018-01-12 10:15] #603 closed, assigned to nobody

[2018-01-12 10:16] #574 closed, assigned to nobody

[2018-01-12 10:22] aslushnikov commented on #722
There's a handful of methods to poke into response body, e.g. [`response.text()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#responsetext).

You should probably be able to load them server-side

Some of the features are exposed with pptr api; however, we scope the api to automation, so CSS and DOM domains are not exposed at all.

Hope this helps!

[2018-01-12 10:22] #722 closed, assigned to nobody

[2018-01-12 10:26] aslushnikov commented on #804
@mityok this looks like a memory issue. Did you have any progress with it?

[2018-01-12 10:27] Ognian commented on #1778
@aslushnikov short answer: **no**
long answer:
The TOC consists of two parts:
1. A hierarchical list of all headers (h1, optionally h2-h6) in the order as they appear in the document AND the **page number**
2.  the **"document outline dictionary"** in the pdf file (see. 12.3.3 in http://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/PDF32000_2008.pdf) allowing: "that the conforming reader "

[2018-01-12 10:32] LvChengbin commented on #1784
@aslushnikov I am so sorry to trouble you. I tested the code you provided in your comment, it is working well. And I cannot find anything really different between your code and mine, it's just calling the `open` method. But the main difference is that I am using `ChromeHeadless` in Karma by using the [karma-chrome-launcher](https://github.com/karma-runner/karma-chrome-launcher#headless-chromium-wi

[2018-01-12 10:33] aslushnikov commented on #835
This seems to be a dupe of #686: request interception is not doing a good job sending all the right headers.

[2018-01-12 10:33] #835 closed, assigned to nobody

[2018-01-12 10:34] tomgallagher commented on #1552
@aslushnikov

Could you by any chance point me to the bit of code in Puppeteer that delivers the networkidle event? And do you happen to know if the same API is open in the Chrome Extension APIs?

Thanks

[2018-01-12 10:38] aslushnikov commented on #860
@petarvasilev91 The v1.0.0 was released with support for lifecycle events. The images should not be loaded.

Please don't hesitate to write back/file new issue if it still doesn't work for you.

[2018-01-12 10:38] #860 closed, assigned to nobody

[2018-01-12 10:40] aslushnikov commented on #855
THis seems to be fixed on tip-of-tree. Please try installing puppeteer@next to verify

[code]

[2018-01-12 10:40] #855 closed, assigned to nobody

[2018-01-12 10:40] #862 closed, assigned to nobody

[2018-01-12 10:42] avimar commented on #1083
@aslushnikov have you tried this yourself?

When I'm coding, I write code with scraping and then run it on a separate screen.

While that's running with `headless:false`, it grabs the keyboard focus each time a new tab is opened, automatically.

I can't write new code or do anything else while _monitoring_ the script in another screen.

[2018-01-12 10:42] aslushnikov commented on #917
@sradu The [`page.setDefaultNavigationTimeout`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetdefaultnavigationtimeouttimeout) method was implemented and is available in puppeteer v1.0.0.

[2018-01-12 10:42] #917 closed, assigned to nobody

[2018-01-12 10:43] #927 closed, assigned to nobody

[2018-01-12 10:44] sradu commented on #917
Thanks @aslushnikov! I noticed the commit, but from the docs I understood that it only affects the puppeteer methods like page.goto(), and not redirects done by the site.

I'll try it out!

[2018-01-12 10:50] aslushnikov commented on #985
Supporting sourcemaps will:
- add performance overhead (we'll have to enable Debugger domain to get script sources)
- increase code complexity (we'll have to download/parse sourcemaps from the website)

I don't think this is a good trade-off.
This, however, could be implement as a third-party extension with the newly added [`target.createCDPSession`](https://github.com/GoogleChrome/puppeteer/blob/

[2018-01-12 10:50] #985 closed, assigned to nobody

[2018-01-12 10:52] aslushnikov commented on #1013
Looks like everyone's figured it out - we didn't have any questions. Closing this for now.

[2018-01-12 10:52] #1013 closed, assigned to nobody

[2018-01-12 10:55] aslushnikov commented on #1014
No, the only difference between `evaluate` and `evaluateHandle` is that the former returns a javascript-object, and the latter returns a reference to the in-page object aka JSHandle.

Anybody is welcome to improve docs, we'll be happy to review a PR!

[2018-01-12 11:03] aslushnikov commented on #1042
Cannot reproduce on puppeteer v1.0.0 with the following script:

[code]

Speculatively closing this; please don't hesitate to write back / refile if the issue still exists for you.

[2018-01-12 11:03] #1042 closed, assigned to nobody

[2018-01-12 11:04] #1043 closed, assigned to nobody

[2018-01-12 11:06] aslushnikov commented on #1047
@pemrouz we've fixed windows since then; please let me know how puppeteer v1.0.0 works for you.

I believe this is fixed now. Please don't hesitate to write back or refile if the behavior still reproduces for you.

[2018-01-12 11:06] #1047 closed, assigned to nobody

[2018-01-12 11:07] aslushnikov commented on #1051
Please feel free to send a PR with `frame.evaluateHandle` method.

[2018-01-12 11:08] aslushnikov commented on #1068
There seems to be no progress with this; closing for now. Feel free to write back/re-file to object!

[2018-01-12 11:08] #1068 closed, assigned to nobody

[2018-01-12 11:08] #1074 closed, assigned to nobody

[2018-01-12 11:11] aslushnikov commented on #1135
Closing as a dupe of #1159

[2018-01-12 11:11] #1135 closed, assigned to nobody

[2018-01-12 11:13] #1137 closed, assigned to nobody

[2018-01-12 11:18] aslushnikov commented on #1166
I can repro this on puppeteer v1.0.0 on Mac OS X. Going forward hangs.

[2018-01-12 11:22] aslushnikov commented on #1211
This is not actionable without a repro.

If anybody has a repro, please post it here or re-file the bug. I'll close this for now since the issue seems to be stale.

[2018-01-12 11:22] #1211 closed, assigned to nobody

[2018-01-12 11:28] aslushnikov commented on #1225
@schelkun if you listen to SIGINT by yourself, you should ask puppeteer to not handle SIGINT. Otherwise, you try to call `browser.close()` twice in a row.

The following worked just fine for me:

[code]

Hope this helps

[2018-01-12 11:28] #1225 closed, assigned to nobody

[2018-01-12 11:29] aslushnikov commented on #1232
Looks like there's not much need for this - I'll close this until there's more demand.

[2018-01-12 11:29] #1232 closed, assigned to JoelEinbinder

[2018-01-12 11:32] aslushnikov commented on #1279
If there's a good repro, please contribute one to the #1211 so that we have something to work with.

Overall, looks like a memory issue.

[2018-01-12 11:32] #1279 closed, assigned to nobody

[2018-01-12 11:33] aslushnikov commented on #1283
I'm not aware of any, but hopefully this will be solved with #299.

[2018-01-12 11:33] #1283 closed, assigned to nobody

[2018-01-12 11:35] aslushnikov commented on #1284
@UCSBGauchos You should be able to navigate to the pdf and then grab the main resource body:

[code]

[2018-01-12 11:35] #1284 closed, assigned to nobody

[2018-01-12 11:36] #1316 closed, assigned to nobody

[2018-01-12 11:37] #1322 closed, assigned to nobody

[2018-01-12 11:37] #1330 closed, assigned to nobody

[2018-01-12 11:40] aslushnikov commented on #1335
@Saturate the HTTP support was added some time ago.

Closing this based on the discussion in #1337 .

[2018-01-12 11:40] #1335 closed, assigned to nobody

[2018-01-12 11:42] aslushnikov commented on #1343
@joelgriffith This is definitely feasible, but will add quite a bit of complexity and will require a good justification. So far it's not that common issue.

Overall, closing as a dupe of #609.

[2018-01-12 11:42] #1343 closed, assigned to nobody

[2018-01-12 11:44] #1358 closed, assigned to nobody

[2018-01-12 11:44] #1359 closed, assigned to nobody

[2018-01-12 11:49] aslushnikov commented on #1365
@dustyhorizon I can't reproduce this. Looking to the logs, there's a redirect to some .ph google website that takes long to load.

We've rolled chromium many times since then and fixed a lot of bugs; please try it out on puppeteer v1.0.0, it should work.

If it doesn't, please don't hesitate to write back. Closing this meanwhile since we have a lot of clients who don't have any issues navigating t

[2018-01-12 11:49] #1365 closed, assigned to nobody

[2018-01-12 11:53] #1392 closed, assigned to nobody

[2018-01-12 11:54] aslushnikov commented on #1394
@trentmwillis I believe `page.queryObjects` already calls gc internally, so it should return only retained objects.

cc @ak239 who can confirm/deny this claim.

[2018-01-12 11:58] aslushnikov commented on #1399
@talyuk the `page.waitForNavigation` waits for the next navigation; the `page.setContent` doesn't cause navigation to happen.

If you want to set page's content and wait until all resources are loaded, please try navigating to data URL as described here: https://github.com/GoogleChrome/puppeteer/issues/728#issuecomment-334301491

[2018-01-12 11:58] #1399 closed, assigned to nobody

[2018-01-12 12:00] aslushnikov commented on #1400
@marijanlekic you now can remove any of the default puppeteer flags with the `ignoreDefaultArgs` option of `puppeteer.launch`. You can selectively filter out puppeteer's default arguments using the `puppeteer.defaultArgs()` method.

[2018-01-12 12:00] #1400 closed, assigned to nobody

[2018-01-12 12:02] aslushnikov commented on #1418
@JoelEinbinder isn't tracing recording the whole browser all in once? (if this is the case, why do we have tracing under the `page`?)

[2018-01-12 12:03] aslushnikov commented on #1421
I'd appreciate if anyone sends a PR to update documentation.

[2018-01-12 12:07] aslushnikov commented on #1430
@peterbe I'd recommend asking in the yarn repo; it looks like we don't have many yarn gurus around here.

[2018-01-12 12:07] #1430 closed, assigned to nobody

[2018-01-12 12:10] aslushnikov commented on #1433
So the outcome (based on the upstream bug discussion) is that this is not a real object and thus we can't properly stringify it.

I don't think there's much else we can do for now; we might invest more in the problem if there's much more demand.

[2018-01-12 12:10] #1433 closed, assigned to nobody

[2018-01-12 12:11] aslushnikov commented on #1443
Closing as a dupe of #1378: both issues suffer from inability to "pause" on target creation.

[2018-01-12 12:11] #1443 closed, assigned to nobody

[2018-01-12 12:12] aslushnikov commented on #1458
Should be working fine in pptr v1.0.0.

[2018-01-12 12:12] #1458 closed, assigned to nobody

[2018-01-12 12:16] aslushnikov commented on #1466
Thank you @vonGameTheory for the investigation.

[2018-01-12 12:16] #1466 closed, assigned to nobody

[2018-01-12 12:17] aslushnikov commented on #1473
Closing as a dupe of #1143.

[2018-01-12 12:17] #1473 closed, assigned to nobody

[2018-01-12 12:19] aslushnikov commented on #1478
@dallashuggins do you have a small script + url so that we can reproduce this locally? Otherwise it's hard to judge what's going on.

[2018-01-12 12:19] aslushnikov commented on #1481
Closing this based on discussion in #1528

[2018-01-12 12:19] #1481 closed, assigned to nobody

[2018-01-12 12:21] alixaxel commented on #1421
@aslushnikov Something like this (English is not my native language)?

[code]

[2018-01-12 12:31] aslushnikov commented on #1491
@JoelEinbinder can you please take a look? I can easily reproduce.

[2018-01-12 12:32] aslushnikov commented on #1497
Can easily reproduce; seems to be an upstream requestInterception issue.

[2018-01-12 12:44] aslushnikov commented on #1083
@avimar No, I didn't try your setup, but it makes sense.

We can have a "background" option to the `page.newPage()` method to open tabs in the background. This will require some upstream work to support the functionality in the protocol.

t's unlikely we'll have resources for this any time soon, but I'll be happy to give pointers and review PRs to both chromium and pptr.

[2018-01-12 12:46] bahattincinic opened #1791 "How can i disable puppeteer dev profile."
**Environment:**
Puppeteer version: 0.11.0
Platform / OS version: AWS Lambda
Node.js version: 6.10

**Puppeteer Arguments**

[code]

Hello,

We are using puppeteer on AWS Lambda. It handles over 10 million requests every month.

When we were trying to handle concurrent requests, puppeteer returned this error:
[code]

I tried to disable dev profile with the `--disable-dev-profile` argument. But it

[2018-01-12 12:48] aslushnikov commented on #1552
Sure. Lifecycle events are handled in FrameManager:
https://github.com/GoogleChrome/puppeteer/blob/c866c175f8e7c581ba54fe75c5daf97206697b72/lib/FrameManager.js#L647-L653

and later processed in NavigatorWatcher:

https://github.com/GoogleChrome/puppeteer/blob/c866c175f8e7c581ba54fe75c5daf97206697b72/lib/NavigatorWatcher.js#L81-L105

I don't know. I'm not very familiar with Chrome Extension APIs.

[2018-01-12 12:54] aslushnikov commented on #1791
That's impressive, thanks for sharing.

How can I do it?

@bahattincinic i'm afraid there's no way to, at least none I'm aware of. Chrome needs some place to store profile data.

if there's not enough space on the `tmp` location, you can pass your own data directory with `userDataDir` option to pptr launch.

If you're short on disk space but have plenty of RAM, you can mount a tmpfs and use it for

[2018-01-12 13:12] tomgallagher commented on #1552
Many thanks.

[2018-01-12 13:14] LvChengbin commented on #1784
@aslushnikov I find out the reason that the `console.log` cannot print any messages. It's just because `karma` doesn't print the message to the terminal, I don't know why does only `Chrome Headless` have this problem, but after changing my code, I am sure the `events` of `indexedDB` are being triggered correctly.

Thank you so much and apologize for wasting your time.

[2018-01-12 14:01] Vandivier commented on #1474
lol. Since when is "I can't understand" a reason to close an issue?

Here's the issue in it's simplest form. Consider the following object:

    let options = {
        'fpEvaluateInPage': function (_options) {
            console.log('hi');
            return Promise.resolve({
                'sTableHtml': 'hi'
            });
        },
        'hi': 'sup'
    }

If this object is passed as opti

[2018-01-12 14:11] avimar commented on #1083
It's not just new page API, even clicking a link with target blank does
this too.

Is there some systematic way to prevent chrome window from stealing focus?

[2018-01-12 15:22] bahattincinic commented on #1791
@aslushnikov Thank you for your quick answer.

When I checked `/tmp` folder in the Lambda, I saw puppeteer doesn't remove profile file.

**Example Output:**
[code]
Why puppeteer/chrome doesn't remove profile file after close it ?

I don't want to create any file on lambda. is it possible to pass dummy/static profile file to puppeteer?

I'm not sure about it. Because AWS Lambda containers don’t hav

[2018-01-12 15:29] inakianduaga commented on #1751
So you mean after awaiting for the viewport resize I add a dummy `requestAnimationFrame` and await for it, which would ensure after that the browser is finished rendering. Makes sense, I'll give it a shot.

And one last thing, browser rendering is deterministic right? If I wait long enough after rendering the same code should render identically right? (assuming code doesn't do stuff over time)

[2018-01-12 16:37] knownasilya commented on #728
The workaround doesn't seem to work for me. Using 1.0.

[2018-01-12 16:37] sangaline commented on #765
@mithung, if you run the script from [https://intoli.com/blog/installing-google-chrome-on-centos/ ](https://intoli.com/blog/installing-google-chrome-on-centos/), it will install all of the necessary dependencies in `/opt/google/chrome/lib/`. You can then set the `LD_LIBRARY_PATH` environment variable before running your script so that the linker knows where to look.

[code]

[2018-01-12 17:10] lboc80 opened #1793 "docker alpine with node js and chromium headless - puppeter - failed to launch chrome"
I'm trying to run a custom node command from within an Alpine linux docker container.

Installed packages:

[code]

node packages (`npm list --depth=0`):

[code]

but I'm experiencing some errors:

[code]
it seems that is not able to instantiate chromium.
I also tried to modify teh render.js script while it creates an instance of the browser to this:

[code]
but I got the same result. Any help on

[2018-01-12 17:14] cmazakas commented on #728
For reference,
[code]
seems to work for me.

[2018-01-12 17:26] alexkozy commented on #1394
Yes, queryObjects internally calls gc.

[2018-01-12 17:30] matthewdingley commented on #1534
I've taken another look at this, comparing the logs in successful and hanging cases:
[HungPdfPrintNew.log](https://github.com/GoogleChrome/puppeteer/files/1626798/HungPdfPrintNew.log) &
[SucceedingPdfPrint.log](https://github.com/GoogleChrome/puppeteer/files/1626799/SucceedingPdfPrint.log) (truncating the PDF data in the successful case). Interestingly, from the point at which the printToPdf comma

[2018-01-12 18:07] koloritcm commented on #1391
Nice job, this fix solved my issue mentioned above!

[2018-01-12 18:17] knownasilya commented on #728
My use case is that background-color css isn't loading. I'll give the above a try as well.

[2018-01-12 18:35] rjktcby commented on #1750
@aslushnikov just tried proposed approach and seems to be working fine, thanks a lot for that. Closing the issue.

[2018-01-12 18:35] #1750 closed, assigned to nobody

[2018-01-12 18:41] aslushnikov commented on #1784
@LvChengbin Good to know! Thanks for sharing.

[2018-01-12 18:59] aslushnikov commented on #1474
@Vandivier if I understand correctly, you're passing function from node.js context over to the page context as one of the arguments in the `page.evaluate`:

[code]

This won't work since `myObject`, and specifically function inside it, is not [Serializable](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description). To pass function over to the pag

[2018-01-12 18:59] trentmwillis commented on #1394
Awesome, that works for me then! Can't think of another use for this API as of now.

[2018-01-12 19:20] aslushnikov commented on #1083
this too.

@avimar ah, this becomes much more broad. Solving this in chromium would be very involved; I don't think it worth the effort.

I'd suggest exploring if it's possible to run chrome in a designated window manager. Another alternative would be using screencast feature when it's implemented: #478.

[2018-01-12 19:31] ghost commented on #1049
@aslushnikov Hi, I'm having some troubles installing v0.9.0 to try out your suggestion.

[code]
doesn't seem to be working for me:
[code]
But running the same command without specifying the version
[code]
works.

[2018-01-12 19:34] aslushnikov commented on #1791
@bahattincinic This seems to be the real issue. Is this the output of `ls /tmp` that you posted? The `core.headless-chrome` doesn't seem to be a leftover from a user profile; it's something OS related.

[2018-01-12 19:38] aslushnikov commented on #1793
@lboc80 did you try [this comment](https://github.com/GoogleChrome/puppeteer/issues/379#issuecomment-334447389)? Overall, looks like a dupe of #379.

[2018-01-12 19:38] #1793 closed, assigned to nobody

[2018-01-12 19:41] #1421 closed, assigned to nobody

[2018-01-12 20:15] bahattincinic commented on #1791
Yes, `ls -al /tmp` output.

I passed `dev/null` value to `userDataDir ` option. it worked on the mac. But lambda Disk usage continues to grow.

I upgraded chrome version to 64. but the result is still same.

That's why I agree with you. it doesn't relate to profile file.

When I analyzed this file, I saw the following output: (`it looks like a core dump`)

[code]

Do you have any idea @aslushnikov

[2018-01-12 20:26] JoelEinbinder commented on #1491
I can reproduce this on headful, but not on headless. I imagine we aren't waiting long enough in `Target.closeTarget`

[2018-01-12 21:28] aslushnikov commented on #1491
Doesn't seem to be the case. I've seen the targetdestroyed come in the right time.

[2018-01-12 21:44] JoelEinbinder commented on #1491
With:
[code]

I'm seeing the output
[code]

Indicating that the targetDestroyed event comes too late. I'd expect it to arrive before the ack for closeTarget.

[2018-01-12 21:59] Vandivier commented on #1474
Great! Yes, that is what I was talking about and your solution works.

It would be even more convenient, tho, if Puppeteer handled this internally.

How do you feel about a PR?

[2018-01-12 23:17] aslushnikov commented on #1474
@Vandivier I'd rather not. We currently rely on a generic notion of Serializable objects, and it's quite easy to predict what will safely cross the boundary and whatnot.

Adding a custom codepath for function objects, we'll set a precedent and start an uphill battle with the endless stream of custom serializers/deserializers. We'll never support all the usecases, and it will be hard to predict wha

[2018-01-13 06:40] aslushnikov commented on #1491
@JoelEinbinder you're right. And this turns out to be resasonable: WebContents need to run unload handlers and everything; we don't wait for this in protocol.

We should probably await targetDestroyed in the `page.close()` method.

[2018-01-13 11:14] trading-peter commented on #1766
I had the same issue. I then added `await page.screenshot(...)` to see what's going on in headless mode. Turns out the page loaded a mobile version of the website and therefore my `page.waitForSelector` did time out because the selector was meant for the desktop version.

I resolved this by setting a desktop user agent with `await page.setUserAgent('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleW

[2018-01-13 12:43] sepiropht commented on #1766
Ok thanks it work. Good to know that sometimes we get the mobile version by default.

[2018-01-13 12:43] #1766 closed, assigned to nobody

[2018-01-13 18:01] bahattincinic commented on #1791
@aslushnikov  We fixed this bug.

When the problem occurred, OS copies binary (chrome binary) core dump to `/tmp` folder. We removed this files after processing. Actually, we don't understand why OS copied it. We will talk about it with AWS support.

We realized that lambda was not the right choice. (RAM limits, Disk Limits, hard to debug, Shared Disk space, concurrency limits...)

@aslushnikov Th

[2018-01-13 18:01] #1791 closed, assigned to nobody

[2018-01-13 19:00] dotNetDR commented on #599
use `request` event and `respond` method
[code]

[2018-01-13 20:40] ORESoftware opened #1796 "How to load a Chrome Extension url"
This is a support/feature/bug - I believe it's currently not possible to open a Chrome Extension URL with puppeteer...here is what I have:

[code]

but I still can't launch the chrome extension, I get the same error:

there is no error if I do

`await page.goto('http://yahoo.com');`

so it has to do with attempting to load the extension, any ideas? I can load the extension url with regular Chrome,

[2018-01-13 21:42] niieani commented on #1229
Here's my workaround:

[code]

Related: #599

[2018-01-13 21:43] niieani commented on #599
My workaround to fix CSP in the comment here https://github.com/GoogleChrome/puppeteer/issues/1229#issuecomment-357469434.

[2018-01-13 21:43] ebidel commented on #1796
There's info on how to launch chrome with an extension here: https://github.com/GoogleChrome/puppeteer/tree/master/examples#load-a-chrome-extension

However, Chrome doesn't allow you to navigate to some urls for security reasons. That includes `chrome-extension://`, `about:` and `chrome:` urls.

The best could be to make the extension open a new tab to its `index.html` when the extension loads for

[2018-01-13 21:44] #1796 closed, assigned to nobody

[2018-01-13 22:38] ORESoftware commented on #1796
Thanks! I didn't quite follow your last sentence:

[2018-01-13 22:56] ORESoftware commented on #1796
Ok this worked for me! How exciting

[code]

one more question - is there a way to open DevTools at the bottom of the page instead of on the side?

[2018-01-13 23:10] ORESoftware opened #1797 "DevTools location / placement - opening devtools on the bottom instead of side"
I have this which works:

[code]

however this opens DevTools on the right hand side, instead of the bottom of the browser. See:

<img width="1202" alt="screenshot 2018-01-13 15 09 40" src="https://user-images.githubusercontent.com/11139560/34910940-cea8b1cc-f873-11e7-9c73-918205c6a4c6.png">

**Is there a flag we can use to tell Chrome to open DevTools on the bottom of the page?**

I looked throug

[2018-01-13 23:19] ORESoftware opened #1798 "Run arbitrary / dynamic script (RPC) in the browser given puppeteer connection"
This is a cool question, I must say, lol.

Right now, I have a separate websocket connection in the browser, and it does this:

[code]

my question is, instead of creating my own Websocket connection, is there a way to re-use the puppeteer connection, in a way that's akin to a Remote Procedure Call. Something like this:

On the backend:

[code]

Hopefully the question makes sense. To restate the q

[2018-01-14 00:23] ORESoftware commented on #1796
@ebidel now I follow your comment

The problem with that, is when developing, I cannot tell Chrome to open the new tab with DevTools open :(  Having DevTools open is the primary reason I want to use puppeteer to launch my Extension in a new tab.

[2018-01-14 02:08] SirNeural commented on #85
Any updates to this issue now that pptr has hit v1.0.0? Supporting page contexts for isolations of sessions without having to make separate browser instances seems like a feature that I'd really like to see implemented!

[2018-01-14 02:08] thakyZ opened #1800 "Can't find module install.js on install"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Ubuntu 16.04.1
* URLs (if applicable):
* Node.js version: 8.9.4

**What steps will reproduce the problem?**
Install `fast-cli`.

**What is the expected result?**
That fast-cli installs

**What happens instead?**
puppeteer fails to install

 **Notes:**
I have already successfully gotten

[2018-01-14 12:48] bahattincinic commented on #1454
@aslushnikov When will you fix this issue?

We got the same problem. Zombie chrome processes have been growing increasingly.  We can't kill them. AWS Lambda has a maximum process limit. (max 1024 process) That's why we reach the lambda limits

**For example;**
[code]

We tried to use `dumb-init` on lambda. it didn't work.

[2018-01-14 16:16] avimar commented on #1083
Do you have suggestions for such a designated window manager?

I'm running windows 7 with Dexpot, but actually, the chromium windows automatically pops up on the whichever desktop I'm on.
I looked for some windows 7 anti-focus-stealing, but most it seems only work for windows XP.

I'm actually not sure why chromium ever needs to steal focus? For when a popup windows opens?

[2018-01-14 17:18] robertjchristian commented on #1347
Running as a worker on GCP App Engine w Docker (similar to TryPuppeteer), I see this on occasion when worker is under load.  It's not anything to do with packaging, it's #2 (running in tight env) that is causing the issue to occur occasionally.

Where is the timeout setting?

Also, seems the better option would be to reduce the  number of listeners running concurrently, but would be nice to see wh

[2018-01-14 18:50] ebidel commented on #1796
FWIW, I re-tested `page.goto('chrome-extension://...)` and chrome appears to be fine with this now. At least when using Puppeteer.

When I launch chrome with`devtools: true`, _any_ tab that gets opened should auto open the devtools. That includes tabs opened by the extension using `chrome.tabs.create()`.

Out of curiosity, what's the reason you're using `puppeteer.connect` in that example?

[2018-01-14 20:14] ORESoftware commented on #1796
@ebidel thanks, the reason I am using puppeteer.connect is so that I can open a new tab in an existing window, instead of always opening a new window

```page.goto('chrome-extension://...)``` doesn't seem to work for me, but I could have been doing something wrong.

I found a solution that works for me for now. It involves what you recommended - the extension creates a new tab when the background

[2018-01-14 20:26] Nantris commented on #1766
I am still forced to conclude headless mode is not working properly. I have tried the following code with 5 sites, probably more than a hundred times. I have succeeded in loading a page exactly once. On the other hand, I've had problems with `headless: false` exactly zero times.

[code]

[2018-01-14 21:19] ebidel commented on #1796
Yea, I feel like this shouldn't work, so maybe it's a regression in Chromium. I know it didn't before. Are you testing with puppeteer 1.0?

[2018-01-14 21:33] ebidel commented on #1766
@Slapbox That works for me without issue. Another thing you could also try is to race between the load event and dcl:

[code]

Note there's no `await` before `page.goto`

[2018-01-14 21:54] ORESoftware commented on #1796
yeah I installed v1.0.0, 2 days ago I think

[2018-01-14 22:29] westy92 commented on #373
It looks like [1.0.0](https://github.com/GoogleChrome/puppeteer/releases/tag/v1.0.0) was released 3 days ago.

[2018-01-14 23:26] westy92 commented on #373
https://chromium-review.googlesource.com/c/chromium/src/+/813177 landed in Chrome [65.0.3294.0](https://storage.googleapis.com/chromium-find-releases-static/a2e.html#a2e8edb82a7be88bf29795cc0e6ef3930b9cb3d9), which is currently unstable/Canary.  Make sure you have that version or else the custom headers/footers won't work!

[2018-01-15 03:24] ganfubin commented on #1183
this function is very necessar

[2018-01-15 06:08] fran0254 commented on #1376
I agree, it would be very interesting. Many websites do not have "input [type = file]"

[2018-01-15 07:31] jakegkaplan commented on #1232
Is this available? Is there some sort of workaround currently?

[2018-01-15 08:58] vijeshv commented on #667
is it possible to get the total rspose size ?

[2018-01-15 09:07] barnash commented on #1325
I noticed this fix: https://github.com/GoogleChrome/puppeteer/issues/396
which basically catches the error in the `WaitTask` since the browser changed the context and ignore it. Not Don't know if it helps in any way, but it seems like the same error was fixed in another place.

[2018-01-15 09:23] fran0254 opened #1802 "Does not upload the file"
**DOM**

[code]
**CODE**
[code]
**RESULT**
[code]

**the window remains open but does not upload file**

![foto](https://user-images.githubusercontent.com/32681199/34936003-168beb72-f9e0-11e7-8402-3e8ab1084908.jpeg)

[2018-01-15 09:24] kosaa opened #1803 "Clip option for page.pdf"
What you mean about add clip option support for page.pdf?

[2018-01-15 10:38] Janpot commented on #1325
In case you're still looking for a way to reproduce (puppeteer@1.0.0):

[code]

That code on that specific website pretty consistently produces a
[code]
Either that or it returns `undefined` from the `.evaluate` call, which is also the wrong behavior.
It works as expected on other websites.
(Disclamer: I'm not affiliated with this website at all)

[2018-01-15 11:43] HanXHX commented on #85
Hey @barbolo,

Your code doesn't work since @aslushnikov commit (5368051610babf52e7df927c323d315a493fb56f) and v1.0.0. Any tip to work again?

EDIT:

It seems it's a chromium issue too... this hack works well on nov commits.

[2018-01-15 11:56] schelkun opened #1804 "Feature: Dispatch trusted events"
We can dispatch events through the page javascript. `WheelEvent` for example:
[code]
But any dispatched events will be not trusted. Can we make event trusted via puppeteer API?
It will be great! We will be able to test any event properly.

Also referenced to https://github.com/GoogleChrome/puppeteer/issues/1679

[2018-01-15 12:37] fliropp commented on #1790
I have the same issue, running an Express app in AWS Lighthsail with Apache as front

Error: Protocol error (Page.captureScreenshot): Target closed.

[2018-01-15 12:44] ithinkihaveacat commented on #1274
Update reproduce code for Puppeteer 1:

[code]

[2018-01-15 12:48] ithinkihaveacat commented on #667
@vijeshv I don't believe it's possible to get the total response size. I've written up my workaround [on Stack Overflow](https://stackoverflow.com/q/48263345/11543).

[2018-01-15 13:41] vijeshv commented on #667
Thanks Michael for swift reply. Pls let me know if you find any workaround to compute compressed bytes.

Thanks
Vij

[2018-01-15 14:07] paul-phillips-ark opened #1805 "Puppeteer Won't Click on Element"
Trying to get Puppeteer to navigate through my login page which will bring the automated test to the main page of my site. It all works until it reaches 'waitFor('#idSIButton9');'. Puppeteer successfully enters the password and username but can't seem to select the submit button(#idSIButton9). Any idea what might be going wrong here? Let me know if you guys need more info. Thanks :)

[code]

[2018-01-15 14:30] minodisk commented on #1026
@schelkun Does `window.chrome` exist with `headless: true`?

[2018-01-15 15:46] sukhjitsingh-impactradius commented on #823
@aslushnikov is there work being done for this request or is there possibly somewhere you think upstream where I can log a ticket for this, if it hasn't already?

[2018-01-15 16:14] Nantris commented on #1766
@ebidel thanks very much for your help! I will see if any of these changes make the difference.