[2017-09-08 17:25] michaeljho commented on #615
Hi, I am still having this issue (zombies left from puppeteer inside Docker). Running on Debian 8.9, using puppeteer 0.10.2

[2017-09-08 17:27] aslushnikov commented on #713
@SkeLLLa Puppeteer 0.10.2 started using objects instead of maps for headers: https://github.com/GoogleChrome/puppeteer/releases/tag/v0.10.2

You probably use Puppeteer < 0.10.2?

[2017-09-08 17:33] aslushnikov commented on #717
@JoelEinbinder could you please take a look?

[2017-09-08 17:33] ebidel commented on #715
We'll need more details. Code that reproduces the issue would be helpful.

[2017-09-08 17:37] aslushnikov commented on #715
@codenoid looks like you hit exception and the script fails to complete (so `browser.close()` is never run).

[2017-09-08 17:39] aslushnikov commented on #718
@adamblok can you please paste a snippet that produces this `unhandled promise rejection`?

[2017-09-08 17:42] aslushnikov commented on #716
@codenoid if there's a timeout, then you should handle it gracefully.

It's hard to say anything more than that since there's no repro and no code.

[2017-09-08 17:42] #716 closed, assigned to nobody

[2017-09-08 17:47] aslushnikov commented on #719
@abhishekdubey1 so far there's no way to get the certificate with the puppeteer API.

Would DER-encoded certificate work for you?

[2017-09-08 18:06] blue-cp commented on #719
DER encoded certificate would do. I can decode it. How do I access it?

Thanks @aslushnikov

[2017-09-08 18:09] russitto opened #720 "Widevine support?"
I'm try to test dash+cenc+widevine via shaka player but DRM is not enabled in chromium.

I copy **libwidevinecdmadapter.so** and **libwidevinecdm.so** to _.local-chromium/linux-497674/chrome-linux_ dir, but it does not work.

How can I use widevine?
Thx

[2017-09-08 18:14] aslushnikov commented on #720
@russitto Quick googling gave me the following link: https://wiki.archlinux.org/index.php/chromium#Widevine_Content_Decryption_Module_plugin

[2017-09-08 18:14] aslushnikov commented on #720
Closing since the question is about chromium rather then puppeteer.

[2017-09-08 18:14] #720 closed, assigned to nobody

[2017-09-08 19:10] Madd0g commented on #681
Sorry it took so long, my isolated test case shows the same problems:

[code]

[2017-09-08 19:22] paulirish commented on #720
Would also recommend looking at https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions to use Chrome instead of Chromium.

[2017-09-08 19:23] JoelEinbinder commented on #717
It works fine for me. Are you trying to immediately set the cookies after you click the button? You have to wait for the login to successfully complete first.

[code]

[2017-09-08 19:50] JoelEinbinder commented on #681
@thetutlage Shift doesn't actually cause letters to be uppercase (sounds crazy, I know). Consider if the user had capslock pressed on their keyboard.

@Madd0g you have to specify the text that should be generated for the keypress. By default, `page.press` does not send an input event.
[code]

[2017-09-08 19:50] #681 closed, assigned to JoelEinbinder

[2017-09-08 19:51] Madd0g opened #722 "Recommendation for pulling resources off the loaded page"
I need to look at some of the resources loaded by the page, namely a background image referenced by a page CSS.

I managed to grab the background-image data from the network request. Alas that approach doesn't work if it comes from the browser cache.

I'm wondering, since this lib is working through a debugging protocol, if there's a cool hidden trick to access things we normally don't have access

[2017-09-08 20:32] adamblok commented on #718
Sure, here you are:

[code]

And the result is:
https://www.screencast.com/t/KK6GzsxN

[2017-09-08 20:37] Madd0g commented on #681
Thank you, I understand, you said it before but I did not really understand, now I do.

[2017-09-08 20:48] gumieri commented on #615
The scenery that I reported above still happening too.

[2017-09-08 20:51] Janpot commented on #547
yep, I figured. I'm just wondering because I've been bitten bitten more than once by naive header API implementations. There's just two cases that are always easily overlooked. first, header names are case insensitive. second, header names can appear more than once.

[2017-09-08 20:52] aslushnikov opened #723 "Keyboard API is confusing"
Keyboard API is very powerful but confusing.

Questions/clarifications:
- [x] Why's there no `keyboard.press()`?
- [x]  Explain the difference between `keyboard.press('a')` and `keyboard.press('a', {text: 'a'})`. Also, should there be a difference?
- [x] Explain why `await keyboard.down('Shift'); await keyboard.type('hello');` **does not** produce 'HELLO'.

[2017-09-08 20:53] aslushnikov commented on #681
For the record: filed https://github.com/GoogleChrome/puppeteer/issues/723 to address keyboard API confusion.

[2017-09-08 21:09] aslushnikov commented on #718
@adamblok this code yields "unhandled promise rejection" regardless of chrome being in headless or headful mode.

The try-catch statement you put will catch exceptions thrown by one of the `await` calls.
You, however, throw inside an event listener, which is executed asynchronously, so noone handles it.

[2017-09-08 21:09] #718 closed, assigned to nobody

[2017-09-08 21:39] perrefe opened #724 "cannot access window.document on exposed Function"
Hi,

Apparently, is not possible to access window.document object from within a exposed function as this

[code]

When this function is evaluated I get:

```(node:25104) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): ReferenceError: document is not defined```

* Puppeteer version: 0.10.2
* Platform / OS version: MacOS 10.12.6

[2017-09-08 21:42] vsemozhetbyt commented on #724
If I understand this correctly, functions exposed in this way have access to the Node.js context, not the browser (`window`) context.

[2017-09-08 21:50] aslushnikov commented on #724
@vsemozhetbyt nailed it.

[2017-09-08 21:50] #724 closed, assigned to nobody

[2017-09-08 22:08] codenoid commented on #715
[code]
both in OSX & Ubuntu

[2017-09-08 23:31] ghost commented on #662
Do you have a page.on request that does request.continue on it? I noticed nothing will load after I enable interception unless I have something similar to
[code]

[2017-09-09 00:02] aslushnikov commented on #715
the `await page.waitForSelector('.someselector');` doesn't ever succeeds unless your website has an element matching the selector.

This causes the function to throw. As a result, `browser.close()` never happens.

[2017-09-09 00:02] #715 closed, assigned to nobody

[2017-09-09 00:35] codenoid commented on #715
oh, thanks @aslushnikov  i'll try

[2017-09-09 00:49] jasan-s commented on #557
@ebidel @kylewill i was also looking into cloud functions as a method to deploy puppeteer.  I was looking for a service where I only pay for the usage. App Engine flex charges you regardless.

[2017-09-09 01:09] jasan-s opened #726 "Where to deploy puppeteer projects ? (question)"
Heroku, GAE, AWS Beanstalk ?  I'd prefer something like Google cloud functions, where I only pay for the usage the task runs. However I tried on Cloud functions, Heroku and GAE. But it failed on all three. With 502 Error on Heroku and GAE

[2017-09-09 01:16] ebidel commented on #557
@jasan-s I think GAE flex still gives you bunch of resources that have a free quota as long as you stay under a limit. From there, GCE bills per usages based on prices here: https://cloud.google.com/appengine/quotas#flex

[2017-09-09 01:27] kylewill commented on #557
Sadly, App Engine Flex (with Node support) doesn’t have a free tier or
scale to zero.

I found this post on reducing GAE flex cost, with a $20/mo minimum:
https://medium.com/google-cloud/three-simple-steps-to-save-costs-when-prototyping-with-app-engine-flexible-environment-104fc6736495
<https://medium.com/google-cloud/three-simple-steps-to-save-costs-when-prototyping-with-app-engine-flexible-envir

[2017-09-09 01:29] ebidel commented on #726
My understanding with Google Cloud functions (and others) is that there are a couple of limitations:

1. Their env is Node 6. Puppeteer now works on Node 6, but any async/await code that you write would need to be transpiled before it's deployed. AWS Lambda and Firebase Functions have a similar limitation atm.
2. the version of Chromium that Puppeteer installs is missing shared libs on Linux and y

[2017-09-09 01:59] SoundBot opened #727 "Values from sessionStorage and localStorage"
Can Puppeteer store values from sessionStorage and localStorage on a disk and use them next time?

[2017-09-09 02:11] jasan-s commented on #557
@kylewill do you have puppeteer project on DO Now? have you tried it on GAE?

[2017-09-09 02:20] kylewill commented on #557
I do have it working on DO on Ubuntu droplet with nginx. Nothing on GAE flex.

There are Headless Chrome libs for AWS Lambda so I’m still watching for Cloud Functions support at some point.

[2017-09-09 02:33] jasan-s commented on #557
yeah me too.

[2017-09-09 03:40] #726 closed, assigned to nobody

[2017-09-09 03:48] aslushnikov commented on #727
@SoundBot you can implement this functionality atop of puppeteer API:

[code]

[2017-09-09 03:48] #727 closed, assigned to nobody

[2017-09-09 03:53] aslushnikov commented on #375
Looks like this is related to [npm permissions](https://docs.npmjs.com/getting-started/fixing-npm-permissions)

[2017-09-09 03:53] #375 closed, assigned to aslushnikov

[2017-09-09 03:59] aslushnikov commented on #662
@pocketjoso indeed, you don't continue requests. The snippet started working for me once i added request continuation.

Speculatively closing this; feel free to write here if it still doesn't work for you.

[2017-09-09 04:06] aslushnikov commented on #583
@sradu I'm back to this, and again can't repro with puppeteer 0.10.2. Here's the snippet I use:

[code]

Does it still fail for you?

[2017-09-09 04:18] aslushnikov opened #728 "Page.setContent should wait for resources to be loaded"
(as mentioned in #486 and other places)

We need a way to wait for page to load all the resources after the `page.setContent`.

The [lifecycle events](https://aslushnikov.github.io/vanilla-protocol-viewer/#Page.lifecycleEvent) might help help.

[2017-09-09 04:19] aslushnikov commented on #486
Filed #728 to track the `page.setContent` usecase.

[2017-09-09 04:19] #486 closed, assigned to aslushnikov

[2017-09-09 04:32] jasan-s commented on #557
I tried deploying to heroku and GAE received a 502 Error on both.  I am testing a simple screen grab functionality.

[2017-09-09 05:29] dagumak commented on #299
Is there a way to just capture the request and have stored in another remote location instead of local to Chrome/puppeteer?

[2017-09-09 06:37] #648 closed, assigned to nobody

[2017-09-09 06:56] aslushnikov commented on #329
There are three examples that are not covered yet:

This is too massive for an example and worth a separate project. [Puppetron](https://github.com/cheeaun/puppetron) in this sense looks legit

Testing is a broad subject. Puppeteer itself [uses jasmine](https://github.com/GoogleChrome/puppeteer/blob/master/test/test.js) to test its functionality, this might be a good example.

Out documentation ha

[2017-09-09 07:02] aslushnikov commented on #487
For the record: this was fixed upstream in r498894.

[2017-09-09 07:31] aslushnikov commented on #436
@vlad-zhukov does your windows machine have screen dpi > 1?
There are a bunch of media rules on the google.ru website that rely on dpi. By default, puppeteer emulates dpi `1`. When I set dpi to `2`, I get complete pdfs.

Here's the snippet that works for me:
[code]

I can't repro this on Mac and Chrome 60.0.3112.113. The graphics always appears for me when the "print background" is checked and dis

[2017-09-09 07:33] SkeLLLa commented on #713
I'll check it again, but if it's a definitely breaking change why "patch" version changed?

[2017-09-09 07:34] aslushnikov commented on #549
Closing this for now. We'll add this to the API if there are many clients who demand this and who are not satisfied with the one-liner for some reason.

[2017-09-09 07:46] aslushnikov commented on #713
@SkeLLLa that's by mistake. Next time we'll bump minor in this kind of situation. Sorry about the inconvenience!

[2017-09-09 08:23] aslushnikov commented on #574
@pavelfeldman, would lifecycle events help in this case too?

[2017-09-09 09:16] LasaleFamine commented on #329
Hi @aslushnikov, well, now I have found some examples around, but maybe it's worth mentioning these projects within the Puppeteer doc (or somewhere).
Anyway, if @ebidel doesn't need this issue opened still, we can close. Maybe I will update the main message with the new examples.

[2017-09-09 10:02] pocketjoso commented on #662
@aslushnikov

This is still a problem for me. Here's an update:
(also updated first post)

## With intercepted request handling, more are intercepted after page.goto resolves
So I added a request listener to the test case:
[code]

Now the page loads, but request(s) come in after the browser.close call has been made, causing `Network.continueInterceptedRequest` Error:
[code]

I'm not sure whether t

[2017-09-09 10:04] pocketjoso commented on #662
adding `await page.setJavaScriptEnabled(false)` to the reduced test case, the page never loads. This is probably what was missing in my original reduced test case. In full:

## With js disabled, never loads
[code]

[2017-09-09 12:38] vlad-zhukov commented on #436
Thanks for looking into this.

I've investigated a little more and set a simple example locally that reproduces this bug in Google Chrome, puppeteer and other Chromium-based browsers (Opera, Vivaldi). In short it fails to render images that are inside of a `-webkit-max-device-pixel-ratio` media query. Setting dpi higher than stated in this query will skip this block and it will render fine.

I am

[2017-09-09 14:38] codenoid commented on #715
@aslushnikov i just remove that await selector, but it's same, , puppeteer wont exit.,
[code]

[2017-09-09 16:21] mbloch opened #733 "Clip rectangles with odd-numbered height and width dimensions produce even-sized images."
### Steps to reproduce
* Puppeteer version: 0.10.2
* Platform / OS version: Mac OS Sierra, Node v8.4.0

**What steps will reproduce the problem?**

When calling `page.screenshot()` with a clip rectangle, odd-sized pixel widths and heights are rounded to even sizes. For example, a .png image created using the rectangle `{x: 0, y: 0, width: 305, height: 121}` is 306x122 pixels.

[2017-09-09 16:41] aslushnikov commented on #662
@pocketjoso ok thanks, I can repro now, will take a look.

[2017-09-09 16:42] ebidel commented on #329
Until we have a better place, we could put a readme in the examples/ folder and reference some of these.

[2017-09-09 16:45] aslushnikov commented on #436
I'd appreciate that.

[2017-09-09 16:46] aslushnikov commented on #715
@codenoid please post exact code that doesn't work for you

[2017-09-09 16:48] #487 closed, assigned to nobody

[2017-09-09 16:56] cleavera commented on #648
Ta

[2017-09-09 17:00] aslushnikov commented on #733
@mbloch thank you for the report!

Reproduction case (expected `clip.png` to be 11x11, actual is 12x12):
[code]

Filed upstream [crbug.com/763657](https://bugs.chromium.org/p/chromium/issues/detail?id=763657)

[2017-09-09 17:02] LasaleFamine commented on #329
A little proposal:

File: `examples/RESOURCES.md`

# Resources and examples

## Web scraping
- [Puppetron](https://github.com/cheeaun/puppetron) - Non-production (Headless Chrome Node API)-based rendering solution.
 - [Thal](https://github.com/emadehsan/thal) - Getting started with Puppeteer and Chrome Headless for Web Scraping.

## Testing
- [angular-puppeteer-demo](https://github.com/Quramy/angu

[2017-09-09 17:03] aslushnikov commented on #648
@cleavera does the fix work for you? (make sure to install puppeteer from github right away)

[2017-09-09 18:10] sradu commented on #583
Hey @aslushnikov!

I'm afraid it's still crashing with a proxy setting. Used the chromium you pushed this morning.

Made another video: https://www.dropbox.com/s/w1f9w489tjoc7ab/brcrash.mov?dl=0

[2017-09-09 18:15] sradu commented on #583
In the new version it seems a crash inside Chromium takes down node as well.

[2017-09-09 18:17] ebidel opened #734 "Request.resourceType doesnt match DevTools"
`request.resourceType` doesn't always match the resourceType shown in devtools:

<img width="1029" alt="screen shot 2017-09-09 at 11 12 41 am" src="https://user-images.githubusercontent.com/238208/30242685-d8a7df18-954f-11e7-919f-48e023b4bfd0.png">

<img width="525" alt="screen shot 2017-09-09 at 11 12 44 am" src="https://user-images.githubusercontent.com/238208/30242684-d8a790f8-954f-11e7-8075-20

[2017-09-09 18:34] ebidel commented on #299
@dagumak couldn't you catch the responses and write the files to a location of your choice?

[code]

You may need to adjust the timing for your page. Waiting for the `load` event and `networkidle` might not be enough.

[2017-09-09 19:51] blue-cp commented on #678
+1
we have exact same use case. this will be a very useful feature.
if  we can set http proxy per page that would be great.

[2017-09-09 19:58] jasan-s commented on #726
Thanks @ebidel , I'm not familiar with Docker. but I also tried to deploy to Vultr Ubuntu 16.04 x64
today, and received the following error:

[code]

[2017-09-09 19:59] mickdekkers commented on #299
@ebidel Sorry if I'm missing something, but where are you getting the `buffer` from in that code?

edit: `response.buffer` seems to be a function, but when I call it and await the promise it returns I get this error:
[code]

This seems to only happen when the file gets downloaded by the browser -- that is to say, when the file appears in the download bar in non-headless mode.

This is the code I u

[2017-09-09 20:04] Garbee commented on #726
@jasan-s You need to make sure the requirements are installed. Check the `docs/troubleshooting.md` file for more details.

[2017-09-10 01:14] dagumak commented on #299
@ebidel I'm going to give that a shot. Thank you!!

[2017-09-10 02:03] CaledoniaProject opened #735 "Font issue on Mac"
I'm using the following code on Mac OS (nodejs `8.4.0`)

[code]

When I take a screenshot of `baidu.com`, I got the following result:

![baidu](https://user-images.githubusercontent.com/1357701/30245533-5e4101ee-960f-11e7-8837-452983740506.png)

When I do it again with Google Chrome,

![screen 2017-09-10 at 10 01 03](https://user-images.githubusercontent.com/1357701/30245528-4480c758-960f-11e7-926

[2017-09-10 02:05] CaledoniaProject commented on #735
If this can't be resolved, perhaps I can use another instance of Google Chrome to do the job?

[2017-09-10 02:30] ebidel commented on #299
@mickdekkers updated the snippet to include `const buffer = await resp.buffer();`. Bad copy and paste.

[2017-09-10 02:32] ebidel commented on #735
See https://github.com/GoogleChrome/puppeteer/issues/571#issuecomment-325404760.

[2017-09-10 02:32] #735 closed, assigned to nobody

[2017-09-10 02:34] CaledoniaProject commented on #735
Awesome!

[2017-09-10 05:34] aslushnikov commented on #734
@ebidel interesting! Almost everything is reported as "Other".

DevTools workaround this by falling back to mimeType: [DevTools code](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/devtools/front_end/network/NetworkDataGridNode.js?type=cs&q=displayType+f:front_end&sq=package:chromium&l=652). This approach wouldn't work for us since we need `resourceType` to process interception, an

[2017-09-10 06:08] kaushiksundar commented on #537
+1 for XPath

[2017-09-10 08:29] mickdekkers commented on #299
@ebidel alright, thanks! Do you know if the issue I described in my edit is a bug or expected behavior? I couldn't find any info about it and I'd like to report it somewhere if it is, but I'm not sure what's the best place for it. I can make a new issue for it on this tracker if it's a puppeteer bug.

[2017-09-10 10:06] mikeys opened #736 "Extremely slow screenshot times on large viewports"
Some background - I'm building a service which converts SVGs into PNGs.
Up until now I've been spawning [Electron](https://github.com/electron/electron) workers (with Xvfb). The actual rendering worked great, but communicating with the Electron workers was a hassle and the fact that it isn't truly headless is resource consuming.

Needless to say that puppeteer + headless Chromium seems very ideal

[2017-09-10 13:45] atian25 opened #737 "could I use puppeteer to visit `chrome-devtools://devtools/bundled/inspector.html` ?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: mac
* URLs (if applicable): `chrome-devtools://devtools/bundled/inspector.html?experiments=true&v8only=true&ws=127.0.0.1:9229/__ws_proxy__`

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

I'm writing a lib to proxy `chrome-devtools` protoc

[2017-09-10 14:24] atian25 commented on #737
Update:

[code]

[2017-09-10 15:54] ebidel commented on #299
For resource types that the renderer doesn't support, the default browser behavior is to download the file. That's probably what's going on here. Could you use pure node apis to fetch/write the file instead of waiting for the page `response`? You could also intercept requests `page.on('request')` and fetch the file.

@aslushnikov would know for sure. He's been working on a download API. There may

[2017-09-10 16:31] ebidel commented on #734
Could we provide something (`request.mimeType` property) that uses the `mime` module to figure out the type? Even if we can't fix this bug, that info would be useful by itself to write files with the proper extension, use `new Blob()`, etc.

[2017-09-10 18:00] avimar commented on #709
What is this "puppeteer plugin" module you mention? Is there some mechanism/best practice for releasing supplemental functions?

[2017-09-11 01:40] privatenumber opened #738 "Cant catch errors with .goto"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: mac 10.12.6

**What steps will reproduce the problem?**
[code]

**What is the expected result?**
To be able to silence the error.

**What happens instead?**
The error isn't caught.
[code]

Listening to `unhandledRejection` on the process returns this:
[code]

[2017-09-11 02:12] kaushiksundar commented on #738
Here is a related issue. #718

[2017-09-11 02:20] codenoid opened #740 "Error: Illegal argument null"
[code]

my code https://gist.github.com/codenoid/54d10dd7dd783f94fe35dc94f423927a

[2017-09-11 02:20] ebidel commented on #738
Looks like this too: https://mobile.twitter.com/thejameskyle/status/905921542906712064

[2017-09-11 02:21] codenoid commented on #715
@aslushnikov related to #740  , my code :https://gist.github.com/codenoid/54d10dd7dd783f94fe35dc94f423927a

[2017-09-11 04:15] privatenumber commented on #738
@kaushik-sundar
Doesn't look related... The reason why that error is happening in that Issue is explained in the last post by @aslushnikov. Unlike the code there, I am trying to try-catch an error from a function call that is prepended by `await`.

@ebidel

I am using `await`. Don't think returning it will make a difference but I can try later.

[2017-09-11 04:19] zubair-saif commented on #738
*Zubair Saif*

On Mon, Sep 11, 2017 at 9:15 AM, Hiroki Osame <notifications@github.com>
wrote:

[2017-09-11 06:03] abhishek1nair commented on #320
@craftand Are you still working on it? It would be great if this feature was available. I'm currently using puppeteer for automation test cases and coverage data would be essential to define completeness.

[2017-09-11 06:17] aslushnikov commented on #740
@codenoid when I run your snippet with "http://google.com", it returns `null` without throwing any error.

[2017-09-11 06:48] #740 closed, assigned to nobody

[2017-09-11 06:50] aslushnikov commented on #738
@hirokiosame that's a bug, thanks for reporting!

[2017-09-11 06:54] aslushnikov commented on #709
@andrewodri we're considering returning result values from `page.waitForSelector` and `page.waitForFunction`.

[2017-09-11 07:12] aslushnikov commented on #737
@atian25 out of curiosity, why would you want to open devtools remote debugging front-end?

[2017-09-11 07:15] atian25 commented on #737
for some test purpose, we are writing a inspector proxy, and I wonder whether use `puppeteer` to write some test for it.

https://github.com/whxaxes/inspector-proxy

if could, I will try to kill node process, then check if there is a `Reconnect` button, then click it to reconnect.

![image](https://user-images.githubusercontent.com/227713/30262655-4e702df8-9704-11e7-81f0-8dcd1e8d8a9c.png)

[2017-09-11 10:38] HughZurname commented on #379
I ran in to an issue with this when I was trying to get puppeteer to run inside a docker container, just thought I'd share my experiences here to save people the hassle if they find themselves on this issue.
- Firstly, there are a few dependencies as mentioned above that kind of make alpine a non-starter as there isn't quite a 1:1 mapping of the dependencies between alpine and debian based contain

[2017-09-11 13:08] furstenheim opened #744 "Feature request: console level"
Page offers a console event but it is not possible to know the level of the message (log, error...).

    page.on('console', function (...args) {
        // No way to know if this is an error
    })

Would it be possible to implement a way to know the level? I don't know what would be the cleanest way, either one more event per level:

    page.on('consoleError', ...)

or a new type of event:

[2017-09-11 14:27] mdeora commented on #537
+1 for XPath

[2017-09-11 15:51] ebidel commented on #379
@HughZurname as you point out, we put up an [example Dockerfile](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker) that works with the `node:8-slim` as a base.

Not quite right. Unless you use `{executablePath: 'google-chrome-unstable'}`, Puppeteer will continue to use the bundled version of Chromium that Puppeteer installs. Installing the o

[2017-09-11 16:02] Janpot opened #745 "Feature request: Run browser process as different user"
I'd like to be able to run the browser as a different user. That way I can apply a set of outbound firewall rules to it to prevent it from accessing anything in the internal network while still allowing the node process to do that.
The use-case for this lies in `rendertron`-like services that expose some of the browser functionality to the outside world. It could be a security threat if those were

[2017-09-11 16:35] ebidel opened #746 "Full page screenshots with overflow content regions"
Filing this so we can figure out ways to make the scenario easier....

https://news.google.com/news/ is an example of a page that fills the viewport (100vh/vw), but has a central scrolling region. When you take a fullpage screenshot, only the filled viewport is included:

<img width="1211" alt="screen shot 2017-09-11 at 9 27 05 am" src="https://user-images.githubusercontent.com/238208/30285580-67d

[2017-09-11 16:42] tomasAlabes commented on #560
If it helps anybody, in my distribution:
[code]
Chrome Headless wasn't capturing because `http_proxy` was set. Removing all the proxies env variables made it work.

[2017-09-11 16:59] vivien7512 opened #748 "interact with dom in waitForSelector handler"
in waitForSelector handler I have an issue :
when I want to interact with DOM, it triggers me an error

My code is bellow:
[code]

Print me in co,sole text bellow:

Howewer , ther are no worries if I don't want to interact with DOM in handler:
Code bellow works:
[code]

Is it a bug or a bad usage?

[2017-09-11 17:09] aslushnikov commented on #746
@ebidel thanks for filing this.

Screenshotting these kind of websites (apps?) is a hard task and should be tackled on a case-by-case basis. Web sites can define multiple nested scrolling areas, some of them could be viewported.
Understanding website structure would require neural network :)

I don't see how we can help with this problem as a part of puppeteer project.

[2017-09-11 17:15] aslushnikov commented on #745
@Janpot you can run the browser yourself and connect to it later with the [`puppeteer.connect`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerconnectoptions) method. At the very least you'd need to pass the `--remote-debugging-port` flag to the browser and parse its stdout to extract the browser target. Check out the [Launcher](https://github.com/GoogleChrome/puppeteer

[2017-09-11 17:16] ebidel commented on #746
Yea, I'm not entirely sure how I'd approach this from user code.  Any suggestions?

Maybe there's an upstream feature request in here for headless? Chrome must know there's a scrollable layer.

[2017-09-11 17:16] datasunny opened #749 "Feature request: original HTML content ('View Page Source')"
New feature request: adding a new method to retrieve original HTML content of a web page (before Javascript rendering), just like in Chrome browser, right click mouse and choose 'View Page Source'.

[2017-09-11 17:24] ebidel commented on #749
How about this:

[code]

Alternatively, you don't really need Puppeteer for this:

[code]

[2017-09-11 17:28] aslushnikov commented on #749
@datasunny: just use the main resource response to retrieve content:

[code]

[2017-09-11 17:28] #749 closed, assigned to nobody

[2017-09-11 17:30] ebidel commented on #749
@aslushnikov nice. Forgot `goto` returns something :)

[2017-09-11 17:31] datasunny commented on #749
Thanks all for the lighting fast response!

[2017-09-11 17:35] austinkelleher opened #750 "Throw error with stack trace when launching with an invalid executablePath option"
When `puppeteer` is used as a dependency or sub-dependency of another project that exposes the `puppeteer` API, an invalid `executablePath` option should be reported appropriately. Currently, if an invalid `executablePath` is provided to `puppeteer.launch(...)`, it is unclear where the actual error is coming from. It could be from any module. This error should be propagated with a stack trace dire

[2017-09-11 17:47] austinkelleher commented on #750
Fixed in: https://github.com/GoogleChrome/puppeteer/pull/751

[2017-09-11 18:02] aslushnikov commented on #748
@vivien7512 you're missing `async` in your arrow function:
[code]

[2017-09-11 18:02] #748 closed, assigned to nobody

[2017-09-11 18:31] brafdlog commented on #316
I was able to upload it to lambda after deleting a few of the locale files inside chrome but it would not run. Some issue with permissions. Haven't figured it out yet.

[2017-09-11 19:57] joelgriffith commented on #603
There's also numerous other challenges that'll come up soon:

- The AWS message limit (easily hit with this protocol).
- Emoji's and other fonts not supported or working.
- General slowness that @miles-collier pointed out.

I've been building browserless.io that addresses these, and will be in beta soon. It doesn't solve your intermediate problem, but is meant to work as a solution to the issue yo

[2017-09-11 20:32] Janpot commented on #745
@aslushnikov That's roughly my current setup. we currently use `chrome-remote-interface` and `chrome-launcher` to do what you describe. I'm currently looking into replacing a few of our abstractions with `puppeteer`.

[2017-09-11 20:33] craftand commented on #320
Yes, @abhisek1nair, I will be working on it

[2017-09-11 20:36] joelgriffith commented on #320
PST: https://github.com/joelgriffith/navalia/blob/master/src/Chrome.ts#L918 FWIW

[2017-09-11 21:22] Janpot commented on #745
By the way, I don't mind creating a PR that passes `uid` to the childprocess if that's something you would support. Or you would rather expose the path of bundled chromium, so the consumer can craft some custom command to pass to `executablePath `?

[2017-09-11 21:33] datasunny opened #754 "[Question] Frame html content"
Hi all,
Not sure if it's right place to ask question, how can I get frame content (HTML before and after JS rendering). I see page.content() method, but not such thing for frame. Thanks for your time!

[2017-09-11 22:47] pcj commented on #418
For me, it did not work with Map, :

[code]

[2017-09-11 22:47] chfw opened #755 "Screenshots clipped when using deviceScaleFactor:2 and fullPage:true"
### What I am doing

A number of serial screenshots were taken in order to make a gif animation. Please see the gif in the expected section.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: MacOS 10.11.6
* URLs (if applicable): https://github.com/chfw/echarts-scrappeteer

**What steps will reproduce the problem?**

[code]

Most sign

[2017-09-11 23:19] HughZurname commented on #379
@ebidel Thanks for clearing that up, I had a feeling I'd missed something!

[2017-09-11 23:21] #627 closed, assigned to aslushnikov

[2017-09-11 23:32] #426 closed, assigned to aslushnikov

[2017-09-11 23:43] #738 closed, assigned to aslushnikov

[2017-09-11 23:57] zicai commented on #734
+1

[2017-09-11 23:59] #572 closed, assigned to nobody

[2017-09-12 00:16] aslushnikov commented on #734
@ebidel that's a protocol bug; I'll fix it upstream.

[2017-09-12 00:56] aslushnikov opened #756 "[CI] travis doesn't run tests for node6"
Example job: https://travis-ci.org/GoogleChrome/puppeteer/jobs/274397759

[2017-09-12 01:03] #756 closed, assigned to aslushnikov

[2017-09-12 01:18] aslushnikov commented on #737
@atian25 no, `chrome-devtools://devtools/bundled/inspector.html` is not accessible in headless.

However, devtools front-end is just a web-app, you can host your own version of it.

[2017-09-12 01:18] #737 closed, assigned to nobody

[2017-09-12 02:31] aslushnikov commented on #713
@SkeLLLa any updates on this?

[2017-09-12 02:32] aslushnikov commented on #695
This should be fixed with 0bea42bd8c4002ed28d100d9ccc06c6ac03a9b70

[2017-09-12 02:32] #695 closed, assigned to nobody

[2017-09-12 03:58] jontewks opened #758 "Issue with deploying puppeteer on heroku (with resolution)"
### Steps to reproduce

* Puppeteer version: 0.10.2
* Platform / OS version: Ubuntu 16.04 on heroku

**What steps will reproduce the problem?**

1. Deploy a node app on heroku that has puppeteer installed
1. See that you get an error and the app crashes due to some missing dependencies that aren't available on heroku

**What is the expected result?**

I had assumed that since puppeteer downloads a

[2017-09-12 07:52] pocketjoso commented on #695
Will test when I have a moment.~~, doesn't look like an obvious fix for this problem to me, but you know the codebase. :)~~ Nvm just saw the `starts swallow errors from Request.contine() and Request.abort().` -  Should do the trick!

[2017-09-12 09:48] Silur commented on #550
I tried to make a patch for utils/ChromiumDownloader.js but seems like there are no arm64 snapshots and it doesn't worth to only support 32bit arm :/
so my suggestion @saghul is to use `browser.launch({executablePath: 'chromium'})` and set the env flag `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD`

[2017-09-12 10:11] itrmit opened #759 "Hanging intercepted request"
Hi!

I'm trying to load a URL: https://kyfw.12306.cn/otn/login/init , but the loading is always interrupted due to a hanging OPTIONS request. This only happens when request interception is enabled.

I'm using "puppeteer": "^0.10.2"

[code]
And this is the console output for the hanging request. No more requests are performed/intercepted afterwards:

[code]

Thanks!

[2017-09-12 13:01] SkeLLLa commented on #713
I've checked for object - now it's ok. But never the less extra headers aren't passed to requests. The code is pretty simple:
[code]

Setting useragent is working well, but http headers missing.

[2017-09-12 13:01] ganapativs opened #760 "Translate API support in near future?"
In need of website translate support. Will there be support anytime soon?

[2017-09-12 13:57] conor909 opened #761 "Recommended way to do async keyboard actions"
Basically I just want to clear an input field if it's already filled.  I'v tried a number of async / await combinations, but in all my approaches `page.type(email);` gets called before the keyboard actions are complete.

What's the recommended way to do these async keyboard actions?

`puppeteer: 0.10.2`
`node: 8.0.0`
`macOS Sierra: 10.12.6`

[code]

[2017-09-12 14:16] Garbee commented on #761
If you use the `page.$` API to get a node reference this could be cleaned up a little bit...

[code]

Does something with this structure work for you?

[2017-09-12 14:49] conor909 commented on #761
@Garbee  Thanks I just tried it but `input.value` is undefined
[code]

[2017-09-12 15:05] ks07 commented on #85
This would be very useful for me - currently I'm forced to start multiple chrome instances if I'm wanting to have multiple simultaneous sessions on the same site.

Is there any way to workaround this currently? Or do I need to revert to using chrome-remote-interface to access context creation?

[2017-09-12 15:13] LasaleFamine commented on #329
Updated the issue. I think we can close this.

[2017-09-12 15:14] Brunocg commented on #550
Im going through the exactly same problem.

Didn't work. That's what I got.

 `events.js:182`
       `throw er; // Unhandled 'error' event `
      ` ^ `

 `Error: spawn chromium ENOENT `
     `at _errnoException (util.js:1041:11) `
     `at Process.ChildProcess._handle.onexit (internal/child_process.js:192:19) `
     `at onErrorNT (internal/child_process.js:374:16) `
     `at _combinedTickCallback

[2017-09-12 15:44] ebidel commented on #329
Indeed :)

[2017-09-12 15:44] #329 closed, assigned to ebidel

[2017-09-12 15:56] Garbee commented on #761
Ah yea, the references are limited to the actual DOM API. Going against Google search real quick I came up with this example that works and isn't nearly as messy.

[code]

[2017-09-12 16:05] ebidel commented on #760
Can you elaborate on the request? Chrome's translation service isn't a public API and would need to be supported by the DevTools protocol for it to be exposed in Puppeteer.

There are good 3rd party libs/services like https://cloud.google.com/translate/docs/ that do translation.

@aslushnikov @JoelEinbinder, on a similar note, [chrome-launcher turns off the service](https://github.com/GoogleChrome

[2017-09-12 16:07] Kikobeats commented on #758
Thanks a lot. It should be added at https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md 👍

[2017-09-12 16:13] ebidel commented on #758
Anyone interested in a PR?

[2017-09-12 16:14] Kikobeats commented on #758
Yes, but still not working

[code]

🤔

[2017-09-12 16:23] ebidel commented on #758
Did you try `puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox']});`?

[2017-09-12 16:31] jontewks commented on #758
@ebidel I've added the info to the `troubleshooting.md` here: https://github.com/GoogleChrome/puppeteer/pull/762

[2017-09-12 16:48] conor909 commented on #761
@Garbee This makes total sense but it doesn't work.  For some reason it's not waiting so I get 2 mails in the input box

[2017-09-12 16:54] #758 closed, assigned to nobody

[2017-09-12 16:57] Garbee commented on #761
What exactly is the code you are running?

[2017-09-12 17:05] conor909 commented on #761
Im importing a sign in flow function for a change email test:
I'v also got some password and email variables that produce the strings for the inputs

[code]

My sign in flow is where it breaks as it prefills the email input:

[code]

[2017-09-12 17:19] Kikobeats commented on #758
Working like a charm with the flags, thanks!

[2017-09-12 17:35] Garbee commented on #761
Did you try adding a backspace with delay after control up? Do you even see it highlighting the input when the downs are done?

Something smells to me if those don't work then something on the page's JS is affecting things.

[2017-09-12 18:10] sambaiz commented on #603
I am using Puppeteer on Lambda,
but I am not using official build Chrome downloaded by Puppeteer.
That's because official build has some problems about running on Lambda (couldn't even launch for missing shared library).

So I decided to build it by myself same as [serverless-chrome](https://github.com/adieuadieu/serverless-chrome).
As a result, it can be launched on Lambda.
And due to smaller siz

[2017-09-12 19:06] thetutlage opened #763 "Evaluation failed ( when inside child process)"
So I have trying to use puppeteer for writing tests. Everything worked great, until I started using `nyc` for coverage reports.

Everytime I run puppeteer as child process of `nyc`, it throws an exception shared below.

[code]

To isolate the issue, I created this repo https://github.com/thetutlage/puppeteer-tests. Which has an `index.js` file to start the browser and submit a form.

1. Now if run

[2017-09-12 21:26] dlockhart opened #764 "Emulate network and CPU throttling"
Feature request probably related to #63, which is blocked on [the ability to emulate network conditions](https://bugs.chromium.org/p/chromium/issues/detail?id=728451) in headless Chrome. Feel free to close if you feel that issue is a better fit, but I wanted to specifically call out CPU throttling and non-offline network throttling, which don't seem to be captured there.

When running performance

[2017-09-12 22:50] JoelEinbinder commented on #764
These all seem important, but I am struggling to come up with a way that Puppeteer would provide value over [Lighthouse](https://github.com/GoogleChrome/lighthouse) in this area. Can you elaborate on your use case?

[2017-09-12 22:55] JoelEinbinder commented on #763
This looks like it is because `nyc` messes with the JavaScript in order to provide coverage data, but we run `.toString()` on some of functions and send the strings into the page.

[2017-09-13 06:12] ganapativs commented on #760
That makes sense, we wanted a way to convert other language sites into English before taking screenshot. Think we have to use translate API from google cloud. Thanks mate 👍

[2017-09-13 06:12] #760 closed, assigned to nobody

[2017-09-13 06:24] thetutlage commented on #763
Yes, I tried running the main node process inside a child process and everything works great. For sure it has something to do with `nyc` or any other instrumentation tools.

Would you mind keeping this issue open, meanwhile I dig into `nyc` codebase to understand which part causes this issue?

[2017-09-13 09:22] shospodarets opened #765 "Headless Chromium with Puppeteer doesn't work on Amazon Linux AMI"
**Environment:**
- [Amazon Linux AMI](https://aws.amazon.com/amazon-linux-ami/) version 2017.03
- `$ cat /etc/system-release`
Amazon Linux AMI release 2017.03
- `$ uname -a`
Linux ip-10-64-65-42 4.9.43-17.38.amzn1.x86_64 #1 SMP Thu Aug 17 00:20:39 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Issue:**
Applying the [default configuration for Headless Chromium with Puppeteer from the README manual](htt

[2017-09-13 09:28] eknkc commented on #603
@sambaiz Can you comment on the performance? Read about disabling SHM causing severe performance degredation but haven't tested myself.

[2017-09-13 10:10] conor909 commented on #761
I finally got this working simply with:

[code]

Using `Control` & `A` wasn't working for me,  I thought because macs would use `'Meta'` instead of `'Control'`.  But I couldn't get it working with `'Meta'` either.  Went back to the above and it worked so I didn't look into it any further.

[2017-09-13 11:17] SMJ93 opened #766 "Test times out if slowMo:100 is not enabled"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Mac OS Sierra 10.12.6
* Node: 8.1.0
* NPM: 5.4.1

**What steps will reproduce the problem?**

We are using React Widgets [DateTimePicker](http://jquense.github.io/react-widgets/api/DateTimePicker/). If we use `slowMo: 100` the test runs successfully as expected. If we don't use slow mo

[2017-09-13 11:22] nanhaiyufu commented on #391
env:

[localhost headless-chrome]$ cat /etc/*release*
CentOS Linux release 7.3.1611 (Core)
Derived from Red Hat Enterprise Linux 7.3 (Source)
cat: /etc/lsb-release.d: Is a directory
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REP

[2017-09-13 12:01] thetutlage opened #767 "waitForNavigation is flaky"
When redirects happens, the `waitForNavigation` at times returns `null`. This is not happening for 100% of times, but happens suddenly.

After debugging more, I found that the value of `waitForNavigation` relies on `mainFrame().url()`, which still returns the correct value.

[code]

1. Now let's say `a` takes me to a different URL
2. At times `response` is null.
3. And `url` shows the new url of t

[2017-09-13 12:09] Silur commented on #550
yes, seems like the working revision (499413) is not present anywhere on google storage api and the version mismatch causes the timeout
_google pls upload some arm stuff?_

[2017-09-13 13:24] Garbee commented on #764
This was already covered in lesser detail in the comments to #63.

Emulation is nothing like "real world" scenarios. There are too many factors with devices (especially mobile) that affects their performance. The only way to get accurate numbers for non-desktop devices is to physically run on those devices. Just a few of those factors are:

- CPU
  - Core count
  - Architecture
  - Load existing f

[2017-09-13 13:33] BkSouX opened #768 "Generating screenshot from html string"
Hi,

I want to generate a screenshot from a given html code and I have a very weird issue.

Here is a part of the code:
[code]

The screenshot I got there is a blank one. I can see the content only if I configure a big viewport.

However, if I add this line
[code]
before the setContent method, I have a fine screenshot, center, etc.

Any idea why ?

[2017-09-13 13:46] brafdlog commented on #603
Thanks @sambaiz I used your code as a base for my implementation and it works nicely.

[2017-09-13 14:19] SMJ93 commented on #766
The animation from the Date picker resulted in weird behaviour.

In case anyone else has this problem, we fixed this by creating our own `wait(ms)` function.
[code]

Use case:
[code]

[2017-09-13 14:19] #766 closed, assigned to nobody

[2017-09-13 14:20] SMJ93 commented on #684
@zamhaq @aslushnikov any update on this issue?

[2017-09-13 14:29] BkSouX commented on #486
Thanks @jasondonnette
It fixed my issue #768 !

[2017-09-13 14:30] BkSouX commented on #768
I had to add
[code]
after the setContent method.

[2017-09-13 14:30] #768 closed, assigned to nobody

[2017-09-13 15:13] ebidel commented on #766
@SMJ93 protip: `waitFor` also supports a ms value:

`await page.waitFor(100);`

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectororfunctionortimeout-options

[2017-09-13 15:25] ebidel commented on #765
Are you able to install the `google-chrome-unstable` package? That should install all shared libs for you.

`yum install google-chrome-unstable`

[2017-09-13 15:28] Garbee commented on #765
This is trying to install the library file itself, not the containing package. The [troubleshooting document](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#chrome-headless-doesnt-launch) has the list of CentOS packages that are required to be installed.

For libraries that aren't found you need to search your OSes packages for which one provides that file. Then inst

[2017-09-13 16:57] sambaiz commented on #603
@eknkc For now, I don't feel that it is so slow if Lambda is given enough resources.

### On local (MBP Early 2015) with Original Chrome

- launch(): 0.827s
- newPage(): 0.434s
- goto(youtube): 2.889s
- click(): 0.137s

### On Lambda 512 MB (405 MB max used)

- (extract: 5.578s)
- launch(): 1.939s
- newPage(): 0.159s
- goto(youtube): 6.481s
- click() time: 0.559s

### On Lambda 1536 MB (Max)

- (e

[2017-09-13 17:13] icarusmiles commented on #603
@sambaiz I did all my requests with max memory, using chromeless was very slow. That request with max memory you gave as an example is not fast if it relies on user input/response. 4.9 seconds is poor considering half of that time deals with extraction and launch. This becomes more serious when you do slightly more complex functions. Mine weren't insane or anything and were processing at 13-14 sec

[2017-09-13 18:19] entrptaher opened #770 "No argument is passed to waitForFunction/waitFor"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: ^0.10.2
* Platform / OS version: Ubuntu 16.04.2 LTS

**What steps will reproduce the problem?**

## Problem 1: arguments passed to waitFor is undefined:
1. Pass any argument to waitFor or waitForFunction.
2. Get/Call that argument inside the function.
3. It's `undefined`.

## Problem 2: `arguments` property inside pa

[2017-09-13 18:51] vsemozhetbyt commented on #770
It seems you missed the [`options` argument](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforfunctionpagefunction-options-args).

Try to replace this line:
[code]
with this one;
[code]

[2017-09-13 18:56] vsemozhetbyt commented on #770
[Arrow functions do not bind an `arguments` object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#No_binding_of_arguments). Try this line in the browser console:
[code]

[2017-09-13 18:58] aslushnikov commented on #665
@optikalefx @rosshadden Chrome headless is built atop of `content/` layer and doesn't include `chrome/` layer, whereas chrome headful includes both `content/` and `chrome/` layers. So naturally, there might be multiple subtle ways to detect headless.

More on chromium architecture could be found here:
- [Chromium: displaying a web page in chromium](https://www.chromium.org/developers/design-docume

[2017-09-13 19:02] vsemozhetbyt commented on #770
What seems unexpected is that in the first case `arguments` is defined:

![1](https://user-images.githubusercontent.com/10393198/30395500-18798218-98cf-11e7-8738-baf468fa3f35.png)

Are functions for `.waitForFunction()` and `.evaluate()` handled differently?

[2017-09-13 19:08] aslushnikov commented on #745
@Janpot I'd rather expose executable path since it gives more freedom and makes API more "round".

[2017-09-13 19:17] vsemozhetbyt commented on #770
Maybe in the `.waitForFunction()` case the arrow function is wrapped in some common function and gets its `arguments`:
[code]
[code]

[2017-09-13 19:51] JoelEinbinder commented on #770
@vsemozhetbyt is right about `arguments`. For `waitForFunction` the function is wrapped in another function `waitForPredicatePageFunction`. So the `arguments` will be from the outer function.

As mentioned above, the problem was that you were missing the `options` object in between the function and the `..args`.

[2017-09-13 20:07] vsemozhetbyt commented on #770
@JoelEinbinder It seems that currently `frame.waitForFunction()` and `page.waitForFunction()` are only two functions with 2 optional parameters, when omitting the first optional parameter is forbidden if the second is used. Maybe in these cases, you can format the signature as Node.js docs do (compare [`assert.fail(actual, expected[, message[, operator[, stackStartFunction]]])`](https://nodejs.org

[2017-09-13 20:10] vsemozhetbyt commented on #770
And maybe some examples are needed to state what is appropriate as a filler of `options` argument (`{}`, `null`, `undefined`).

[2017-09-13 20:58] emadehsan opened #773 "Regular Expression Denial of Service (ReDoS) vulnerability through ms"
Snyk.io's test shows that Puppeteer carries a low severity vulnerability "Regular Expression Denial of Service (ReDoS)" through `ms` package:

https://snyk.io/test/github/GoogleChrome/puppeteer

[2017-09-13 21:07] Janpot commented on #745
@aslushnikov I was thinking about this a bit more. I might be overthinking it a bit but in order for this to work for me I guess I'd need to do something like:
[code]
in my script. then pass this to `puppeteer.launch()`.

Another solution which could work without changing public API and which would simplify the above script would be to provide the `CHROME_PATH` directly to the environment when you

[2017-09-13 21:19] Garbee commented on #773
This is through the `extract-zip` package which is only used to unzip the archive downloaded to run Chromium from. All of it's uses within puppeteer are known extents therefore low probability that any attack could be carried out through using this package version.

[2017-09-13 21:39] emadehsan commented on #773
Yup

[2017-09-13 21:39] #773 closed, assigned to nobody

[2017-09-13 21:51] dlockhart commented on #764
Thank you both your your responses. @Garbee you've convinced me that emulation isn't going to provide the accuracy or consistency I'm looking for in a CI environment to compare test runs over time. Will investigate using Lighthouse's CLI or an out-of-the-box solution like [Calibre](https://building.calibreapp.com/). Closing.

[2017-09-13 21:51] #764 closed, assigned to nobody

[2017-09-13 22:07] entrptaher commented on #770
I tried that already and then created this issue.
Yeah seems like a silly mistake about the evaluate and arrow function :D .

Maybe because I did not provide anything in the optional argument, that's why it happened.
What if I want to use the default options instead of providing it myself? Providing an empty one results in same error.

![image](https://user-images.githubusercontent.com/8284972/304

[2017-09-13 22:17] aslushnikov commented on #667
An upstream bug that blocks this: [crbug.com/764946](https://bugs.chromium.org/p/chromium/issues/detail?id=764946)

[2017-09-13 22:26] aslushnikov commented on #667
@alexyan one more clarification. Do you actually need the total response size, including http headers, that was transferred over the network, or you are specifically interested in the size of encoded response body?

[2017-09-13 22:46] aslushnikov commented on #745
@Janpot these scripts look scary.

Would it help you if we add a `uid` option to the `puppeteer.launch`? The option would be passed over to the internal `spawn` method.

[code]

[2017-09-13 23:03] vsemozhetbyt commented on #770
@entrptaher In your last screenshot, you use `waitFor()`, which [does not support](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectororfunctionortimeout-options) arguments transferring currently, unlike `waitForFunction()`.

[2017-09-13 23:13] vsemozhetbyt commented on #770
It seems `waitFor()` will support arguments transferring after https://github.com/GoogleChrome/puppeteer/pull/775 is landed.

[2017-09-13 23:49] aslushnikov commented on #761
@JoelEinbinder this might be a bug, Control-A should work.

Reopening so that we figure what's going on.

[2017-09-14 00:23] aslushnikov commented on #763
@thetutlage from a brief analysis, that's what I see.
NYC/istanbul does the following:
- sets up a global `cov_XXX` variable in the node.js context
- transforms the code so that every line writes to the `cov_XXX` variable, reporting coverage

Puppeteer is a node.js library, but it runs certain parts of the code in a browser context (for example, the [`page.evaluate`](https://github.com/GoogleChrom

[2017-09-14 00:25] aslushnikov commented on #767
@thetutlage that might be because awaiting the `page.click` already triggered the navigation (and we missed the main resource response).

Would the following work for you?
[code]

[2017-09-14 00:25] JoelEinbinder commented on #761
It looks like `Meta+A` isn't trigging select all on Mac.

[2017-09-14 00:39] #745 closed, assigned to aslushnikov

[2017-09-14 00:40] aslushnikov commented on #745
@Janpon the `puppeteer.executablePath()` lets you spawn your own chromium isntance with `child_process.spawn` method, if there's a need to. You'll be able to pass in the `uid` and `gid`.

Let me know if this would work for you.

[2017-09-14 01:00] aslushnikov commented on #770
@vsemozhetbyt i'd love this. Would you mind sending a PR?

[2017-09-14 01:05] aslushnikov commented on #759
@itrmit thank you for the report, I can reproduce. Looks like a bug in chromium, I'll investigate.

[2017-09-14 01:39] aslushnikov opened #776 "Keyboard shortcuts don't work on Mac"
The following script doesn't select text:

[code]

First reported in #761.

[2017-09-14 01:40] aslushnikov commented on #761
@conor909 thanks for filing this! Filed a separate issue to track this: #776.

[2017-09-14 01:40] #761 closed, assigned to JoelEinbinder

[2017-09-14 01:42] aslushnikov opened #777 "Keyboard emulation is not perfect"
Keyboard emulation is not perfect
- [x] [`event.code`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code) is not reported
- [x] [`event.location`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/location) is not reported

[2017-09-14 02:07] vsemozhetbyt commented on #770
@aslushnikov It seems this is already done in the https://github.com/GoogleChrome/puppeteer/pull/775

[2017-09-14 03:19] entrptaher commented on #770
Great, the docs were so incomplete and misleading that I ended up having problem.

[code]

This above works as well. :+1:
I will close this issue for now since everything is going as expected.
And thanks for the PR.

[2017-09-14 03:19] #770 closed, assigned to JoelEinbinder

[2017-09-14 04:12] sukrosono commented on #244
@vsemozhetbyt It's good idea, If `PUPPETEER_EXECUTABLE_PATH` is set, will use that path for launch and also skipping installing Chromium. When it's not set will Install and after it set the installation directory to `PUPPETEER_EXECUTABLE_PATH`.

[2017-09-14 04:16] aslushnikov commented on #244
@brutalcrozt there's already a way to skip Chromium download with [`PUPPETEER_SKIP_CHROMIUM_DOWNLOAD`](https://github.com/GoogleChrome/puppeteer/blob/v0.10.2/docs/api.md#environment-variables) env variable.

[2017-09-14 04:19] manujadev commented on #629
@uimator Could you please tell me what you meant by clean the proxy?
Experiencing the same error and trying to rectify it.

[2017-09-14 04:27] #527 closed, assigned to JoelEinbinder

[2017-09-14 04:56] Janpot commented on #745
That's basically my feature request in this ticket. What would also work for me is passing through `env` to the internal spawn. then I could do:

[code]
and in the `start-chrome.sh`:
[code]

The problem with taking over launching the child process is that I also have to take over its lifecycle management. Not that that's impossible, it just defeats some of the purpose of using a utility library li

[2017-09-14 04:57] aslushnikov commented on #629
@manujadev feel free to file a separate issue with your script, we'll be happy to help

[2017-09-14 05:10] aslushnikov commented on #745
@Janpot By default spawned process inherits environment  from `process.env` – so you should be able to do the following:

[code]

[2017-09-14 05:24] aslushnikov commented on #616
This should be fixed with 0bea42bd8c4002ed28d100d9ccc06c6ac03a9b70

[2017-09-14 05:24] #616 closed, assigned to nobody

[2017-09-14 05:27] aslushnikov commented on #615
@michaeljho @gumieri do you guys just run puppeteer scripts in docker and let them finish successfully?

I can't reproduce this behavior with puppeteer 0.11.0-alpha. Do you do anything special?

[2017-09-14 05:49] michaeljho commented on #615
Our use case is to screengrab to pdf or png. We open a page, wait for a particular CSS selector to show up, then generate pdf or screenshot. Then in finally block, `page.close().then(browser.close())`. Consoles show that these are being executed "successfully".

This is an oversimplification, can give more direct src if it helps. But I think it's a pretty straightforward flow?

Thanks for taking t

[2017-09-14 05:54] aslushnikov commented on #615
@michaeljho Can you reproduce this reliably? Any chance you can share a snippet with me?

[2017-09-14 06:12] michaeljho commented on #615
[code]

I realize now that we are also using a bunch of page listeners too, forgot to mention that. Every time this script runs, we get a zombie.

[2017-09-14 06:17] aslushnikov commented on #713
@SkeLLLa thanks, I can repro. This happens because `page.setExtraHTTPHeaders` expects only strings as header values.

I've sent a patch that validates this precondition and clarifies documentation. (#781)

[2017-09-14 06:21] thetutlage commented on #767
Yup that works. Thanks 😄

[2017-09-14 06:21] #767 closed, assigned to nobody

[2017-09-14 06:21] aslushnikov commented on #615
@michaeljho thanks, trying now. I noticed `.finally()` method that is not a part of native promises.
Do you use a third-party promise library or you polyfilled `.finally` for native promises?

[2017-09-14 06:22] thetutlage commented on #763
Nope, it's fine to close the issue. Thanks for sharing insights 👍

[2017-09-14 06:22] #763 closed, assigned to nobody

[2017-09-14 06:43] SkeLLLa commented on #713
@aslushnikov I've tried with strings as well (I mean `'1'`). And it not worked too.

[2017-09-14 06:53] aslushnikov commented on #713
@SkeLLLa how exactly it didn't work for you? The following test passes for me (to run the test, add it to the `test/test.js`):

[code]

[2017-09-14 07:05] michaeljho commented on #615
Ahh yeah good catch ... we're using `bluebird` here. We see both of those consoles, so I believe at least the page is closing "successfully".

[2017-09-14 07:07] eknkc commented on #603
@sambaiz thanks for the numbers, appreciate it. done my own tests and the results are similar so there is no noticable performance degredation. Also setting context.callbackWaitsForEmptyEventLoop and keeping the browser instance seems to work to avoid launch times in successive calls.

One issue though, lambda does not provide a wide range of fonts so for exampla capturing baidu.com produces missi

[2017-09-14 07:36] SkeLLLa commented on #713
I've rechecked and now it's working. But on prevoius version with maps it not worked. Thanks.

[2017-09-14 07:36] #713 closed, assigned to nobody

[2017-09-14 07:56] dustyhorizon opened #782 "Constantly getting Navigation Timeout Error"
### Steps to reproduce

* Puppeteer version: 0.10.2
* Platform / OS version: Ubuntu / node v8.5.0
* URLs (if applicable): https://www.883jia.com.sg, https://www.power98.com.sg/

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

Successful logging of page.url() then closure of the instance.

**What happens instead?**

[code]

Not really sure what happened, pretty

[2017-09-14 08:18] LasaleFamine opened #783 "Examples: add src2png"
Maybe could be nice to add also https://github.com/mplewis/src2png to the README of the `examples` folder? Maybe under a **Rendering** section?
cc/ @ebidel

[2017-09-14 08:27] paambaati commented on #782
The page just seems to be incredibly heavy. It has roughly 135 requests, and a majority of them being large images.

[2017-09-14 08:36] homaily commented on #603
@sambaiz @miles-collier On lambda you need to install and open the browser only once per container. Then you just need to open a new page on each request and close it.
If you need your Lambda to response quickly then keep it warm so you don't need to do the install and launching again.

[2017-09-14 08:49] karlosRivera opened #784 "Where to write this code"
see the code first

[code]

the above code is pure js code ?

where to write this code in browser console or just the run the code when user click on any button of a web page ?

please guide me.

[2017-09-14 08:56] vsemozhetbyt commented on #784
@karlosRivera
You need the last version of [Node.js](https://nodejs.org/en/) installed.
Then you need to install puppeteer: `npm install puppeteer`.
Then you save this code in a file, say, `test.js`.
Then you launch it as `node test.js`.

[2017-09-14 08:59] hbakhtiyor commented on #784
in paper

[2017-09-14 09:00] dewijones92 opened #785 "Problems running puppeteer on CentOS 6.9"
This is the error I am getting:
[code]
I have gone through the troubleshooting but no luck :(
Please help?
Thanks

[2017-09-14 09:16] SMJ93 commented on #618
@aslushnikov any update on this? We are still not able to interact with elements inside an iframe.

[2017-09-14 09:38] kaushiksundar commented on #782
@dustyhorizon

Pass timeout value in options. You can also use `networkIdleTimout` in case if you have gaps between your requests(ajax)

[Doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options)

[code]

[2017-09-14 09:47] Garbee commented on #764
Lighthouse is using the same Chrome internal network throttling. So for "real world" cases it once again doesn't cut the mustard as it were. It is still a good guideline for development, but it isn't what you're looking for to test what actual network conditions could be like. Since latency is statically emulated, there is no jitter added, radio timing isn't taken into account, etc.

[2017-09-14 09:51] albertogasparin commented on #705
What about an option on `waitFor*` APIs? Something like:

[code]

(maybe with a better key name)

[2017-09-14 09:53] ghost commented on #550
Doesn't seem like there's an easy way to get a recent enough chromium build for arm

[2017-09-14 09:56] Garbee commented on #785
Duplicate of #497

[2017-09-14 10:06] Orecic opened #786 "Failed to download Chromium r497674!"
hi,
  I am from China ,I can't download Chromium from 'https://storage.googleapis.com/chromium-browser-snapshots/Mac/%d/chrome-mac.zip'. Is there any other source? thank you very much.

[2017-09-14 10:44] Junkern opened #787 "AssertionError [ERR_ASSERTION]: `true` is expected, but it is `false`"
Sometimes I am getting this error:
[code]
I am using puppeteer in version 0.10.2.

I am running my puppeteer web-scraping script in a docker container, and when I execute the container locally on my computer, it runs just fines. However, when the container is deployed to e.g. AWS, it repeatedly throws the above error.

My assumption is, that somehow my connection is being lost/resetted and that I

[2017-09-14 10:53] Lumersgo commented on #618
any update ?  I also met this problem , because My app needs to use third party login script which includes a frame . Sadless.

[2017-09-14 12:40] gumieri commented on #615
I executed my code out of a Docker, in a CentOS VM using the Puppeteer v10.2.
This issue does not happens, so may it should not me pointed as a bug for the Puppeteer.

If you consider viable to let this Issue open and want to investigate, feel free to use my code.
In the latest version (https://github.com/tecnospeed/pastor) still creating zombie.

[2017-09-14 12:43] angeloneacsu commented on #379
Under a dockerized alpine:3.6
`bash-4.3# cat /etc/alpine-release`
`3.6.2`

I've installed some libs required by local-chromium:

`apk --update add fontconfig pango-dev libxcursor libxdamage cups-libs dbus-libs libxrandr gconf-dev libxscrnsaver libc6-compat`

but still `ldd` reports some errors:
`bash-4.3# ldd /opt/node_modules/puppeteer/.local-chromium/linux-497674/chrome-linux/chrome 2>&1| grep E

[2017-09-14 12:52] eruca commented on #784
I use node 8.5 and puppeteer 0.10.2 url = 'https://github.com', it block at
[code]
any reason?

[2017-09-14 13:45] xprudhomme opened #788 "Passing RegExp objects as params to evaluate method destroy the regex object (empty)"
** Environment:**

Puppeteer version: v0.10.1
Node version: v8.4.0
Platform / OS version: Ubuntu 14.04

**Problem**

Whenever I want to pass RegExp objects as parameters to evaluate functions, it looks like the object being actually passed result in an empty object (it's no more a RegExp).

**Code example to reproduce the error**
[code]

**Results**

Testing regex constructor : RegExp
Testing rege

[2017-09-14 14:58] Janpot commented on #745
Ah yes, good idea, didn't think about that yet. Thanks!

[2017-09-14 15:15] aesnyder commented on #563
I can confirm that I see the unhandled `Security.handleCertificateError` with headless set to true and slomo at 1000

[2017-09-14 15:20] vsemozhetbyt commented on #784
@eruca It seems the option [should be `path`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagescreenshotoptions), not `page`:
[code]

[2017-09-14 15:36] shospodarets commented on #765
Hey guys, thanks for the suggestions,
neither "sudo yum install google-chrome-unstable"
nor installing the dependencies from the troubleshooting document help for Amazon Linux AMI (Cent OS6).
On Cent OS7 `sudo yum install google-chrome-stable` simply do the trick.
For Cent OS 6 only the custom build from https://intoli.com/blog/installing-google-chrome-on-centos/ helped:
`sudo yum --nogpgcheck loc

[2017-09-14 15:36] #765 closed, assigned to nobody

[2017-09-14 15:41] vsemozhetbyt commented on #788
@Xavatar [According to the doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args), parameters should be serializable, i.e. [JSON-able](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description). `RegExp` cannot be saved and restored by `JSON`:
[code]
You may pass `regexp.source` and `regexp.flags` and

[2017-09-14 15:53] TotusSomnium opened #789 "[Question] Handling iFrames better"
Just beginning to look at puppeteer, but am currently using phantomjs for automated testing. The main question I have is how to switch to a frame. So phantomjs has a switchToFrame() method, is there anything similar to that in puppeteer that I'm missing? Basically the site I test is built with iframes and 3 or 4 can be stacked on top of each other, terrible, I know. However, phantomjs has made it

[2017-09-14 15:58] #784 closed, assigned to nobody

[2017-09-14 16:02] umaar opened #790 "Can puppeteer run in a client side environment?"
Since a client side web page can communicate over WebSockets, which is also what the DevTools protocol uses, is it possible to control a remote browser, via Puppeteer, from a client side web page?

[2017-09-14 16:02] ebidel commented on #786
You could [download Chrome Canary (official build)](https://www.google.com/chrome/browser/canary.html) and use `executablePath` when calling `page.launch()`. Would that work?

[2017-09-14 16:42] ebidel commented on #783
I think it makes sense to add resources when we don't provide examples. Or bigger end to end explainers. Since we already have a couple of screenshot examples, I'm inclined to leave this one out.

Pretty cool though!

[2017-09-14 16:46] positlabs commented on #405
It's something to do with the immediate async function.

No `;` required if you assign the function to a variable, then call it.

[code]

[2017-09-14 16:55] LasaleFamine commented on #783
Ok, actually makes sense to not "overload" the users with multiple examples of the same feature.
Thanks for the feedback!

[2017-09-14 16:55] #783 closed, assigned to nobody

[2017-09-14 16:57] positlabs commented on #733
I can confirm this is a bug in the protocol. I'm having the same issue using https://www.npmjs.com/package/chrome-remote-interface

[2017-09-14 18:09] mbergal opened #791 "Page.setContent (or Page.screenshot) does not wait for SVG to fully render"
Puppeteer does not correctly capture page containing SVG without timeout between setContent and page.screenshot. Please note, all resources are local and nothing is fetched over network.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Mac OS X 10.12.6/Ubuntu Trusty

**What steps will reproduce the problem?**

See my repo https://gi

[2017-09-14 18:24] aslushnikov commented on #789
@TotusSomnium Do you lack some capabilities with Puppeteer's API, or you just find the `switchToFrame` api more pleasant?

[2017-09-14 18:34] pocketjoso commented on #662
Just checking in - any info on this yet? Don't want to stress you, just check timings for making my [1.0 release for Penthouse](https://github.com/pocketjoso/penthouse/pull/174) which uses Puppeteer; whether I should wait for this or not.

Thanks for all the hard work on this!

[2017-09-14 18:41] aslushnikov commented on #790
@umaar I don't see any immediate road blockers for this. Certain features won't work, like those requiring `fs` module, but should be feasible overall.

[2017-09-14 18:41] #790 closed, assigned to nobody

[2017-09-14 18:45] ArielBadilla commented on #754
I have the same problem,

[2017-09-14 18:48] aslushnikov commented on #782
`timeout` option should accept the `0` value to disable timeout.
Let me know if anybody is interested in making a PR.

[2017-09-14 19:41] qoheleth-tech opened #793 "Second Click fails to activate element presented to DOM."
**Environment:**

* Puppeteer version: 10.2
* Platform / OS version: Ubuntu 16.04
* URLs (if applicable): see code snippet for example

**Steps to reproduce the problem?**

To reproduce, use this snippet to navigate to this page view on Olivetree.com.
The first click will bring down a sign-in modal.
The second click attempts to activate a link on the sign-in modal.
Expected result is that a create

[2017-09-14 19:49] JoelEinbinder commented on #776
The first bug here is that we don't send nativeKeyCodes, so no real OSX events get made. When sending the nativeKeyCodes, "a" is keyCode 0 and protocol decides not to send a falsey keyCode. After these are fixed, OSX doesn't like to perform keyboard shortcuts unless the application has the foreground. And lastly, if Chromium has the foreground, we send the nativeKeyCode, and protocol processes it,

[2017-09-14 19:53] TotusSomnium commented on #789
@aslushnikov I don't think I'm necessarily lacking any capabilities, but I haven't dug very deep yet. I think its much more pleasant to write blocks of code without passing frame back and forth all the time between functions. If something like `switchToFrame()` existed, it just makes things cleaner in my opinion. From most of the tools I've used (selenium, casperJS, sahi) they all have this functi

[2017-09-14 20:03] addyosmani commented on #662
@aslushnikov Thanks for taking a look 👋  If it helps at all with prioritization, @pocketjoso's work to use Puppeteer in Penthouse is important for the ecosystem as tools like [critical](https://github.com/addyosmani/critical/issues/229) are relying on it for a shift over to Chrome headless.

[2017-09-15 00:50] aslushnikov commented on #734
Upstream bug: [crbug.com/765501](https://bugs.chromium.org/p/chromium/issues/detail?id=765501)

[2017-09-15 01:55] ashubham commented on #446
@aslushnikov I tired passing `userDataDir` but still across launch(es) the cache is not used. I do see that the directory is populated with some artifacts.

I am on latest v11.0-alpha of `puppeteer`.

[2017-09-15 02:35] Orecic commented on #786
I used proxy，now it works, thank you.

[2017-09-15 02:35] #786 closed, assigned to nobody

[2017-09-15 03:38] codenoid opened #794 "can i get AJAX/XHR response data"
hi, can i get (specific) AJAX/XHR response data ?

[2017-09-15 04:03] codenoid commented on #794
request.response, still trying

[2017-09-15 05:19] Kxrr opened #795 "Data in Response.buffer() is broken when charset in Content-Type not set correctly"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Mac OS 10.11.3
* URLs (if applicable):

**What steps will reproduce the problem?**

1. Make a web server response the JSON data contains some unicode string
2. The Server will send the JSON data to client with wrong Content-Type which is ``text/plain`` in the example
3. The  ``puppetee

[2017-09-15 06:18] codenoid commented on #794
[code]

`Promise { <pending> } ` ??

[2017-09-15 06:54] codenoid commented on #794
something wrong with the web

[2017-09-15 06:54] #794 closed, assigned to nobody

[2017-09-15 08:10] petarthewizard opened #799 ""waitUntil" : "networkidle" for page.screenshot()"
It would be very nice to have "waitUntil" : "networkidle" as an option for page.screenshot() and page.pdf() same as in page.goto() so that a screenshot is taken only after the network has been idle for some time.

[2017-09-15 09:11] xprudhomme commented on #788
Thanks @vsemozhetbyt , you are right, unfortunately for me.. But that would do the job anyway : )

[2017-09-15 09:11] #788 closed, assigned to nobody

[2017-09-15 13:43] frantz commented on #791
I think you have to wait for page load before making screenshot.
[code]

[2017-09-15 14:37] zlodes commented on #759
@aslushnikov same problem with some post requests.

[2017-09-15 14:38] RitterHou opened #800 "Clip not works well in centos"
* Puppeteer version: 0.10.2
* Platform / OS version: centos7

I want to clip one web page into lots of images so I can put the images on my home page to replacing the origin HTML.

The following code is trying clip images from one page, it works well in OSX. When I put the code into the server(server is running centos7), a weird thing happens, some images are not in the right size, just like the p

[2017-09-15 15:02] warrenseine commented on #290
I'm disappointed that installing X-related dependencies are the most upvoted answers. Chrome Headless is made to avoid that dependency so it sounds like a terrible workaround.

[2017-09-15 15:57] ebidel commented on #799
I guess the request could apply to any of the page methods :)

IMO, since there's already a [couple of ways](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectororfunctionortimeout-options) that you can wait for or delay work, we wouldn't want to overload more methods. `page.goto()` has `waitUntil` because it's tied to navigation / page load and signals like "netwo

[2017-09-15 17:18] tmpace commented on #676
+1

[2017-09-15 17:20] Garbee commented on #290
It's not a work around. Chrome requires these things to operate. The API calls to them still need to be made even to emulate the environment.

[2017-09-15 17:22] Garbee commented on #799
[page.waitForNavigation](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitfornavigationoptions) seems to already fulfill the desired needs. Am I missing something that it isn't allowing for?

[2017-09-15 17:22] ebidel commented on #799
Related: https://github.com/GoogleChrome/puppeteer/issues/791

[2017-09-15 17:22] #785 closed, assigned to nobody

[2017-09-15 17:27] petarthewizard commented on #799
I tried page.waitForNavigation and it didn't work but now I think that was because of an error on my part.

[2017-09-15 19:15] positlabs opened #802 "Incorrect screenshot dimensions"
I'm attempting to use chrome as a video renderer. It takes a screenshot of the page at a specific resolution (e.g. 1280x544) and then requests the next frame.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Debian Jessie via docker image node:8.4
* Hosted on container engine
* Cluster is running n1-highcpu-16 nodes

**What steps wi

[2017-09-15 19:17] gregorym commented on #765
@malyw We you able to run `google-chrome-stable` using Puppeteer?

It appears that Puppeteer is unable to establish the WS connection and then times out. Do you have the same behavior?

However I am able to use `google-chrome-stable` to take screenshots through the CLI.

[code]

[2017-09-15 19:25] positlabs commented on #800
Similar issue to #802

[2017-09-15 21:03] positlabs commented on #802
Here is a test case.

https://github.com/positlabs/puppeteer-screenshot

I actually got the 800x600 issue on my local machine when trying to grab a larger frame size (1920x1080).

OK... got 1920x1080
![6](https://user-images.githubusercontent.com/1918844/30503160-10e7e364-9a1e-11e7-9f38-be752068d5ef.png)

Not OK... got 800x600
![7](https://user-images.githubusercontent.com/1918844/30503161-1101734

[2017-09-16 09:58] pionl opened #803 "Docker - large site, images failed to decode and no error is thrown"
Hi all.

First thank your for the package, love it 👍

When running in docker I've found that when there is an error in chrome and dump writes an exit code warning but the node process is not killed (or no error in page is thrown) - I'm listening for any error. Probably this is issue with chrome and puppeteer or bad env setting.

When starting I had  3 ongoing issues and didn't manage to resolve:

[2017-09-16 14:55] KeizerDev commented on #478
Check this issue: https://github.com/ChromeDevTools/devtools-protocol/issues/17

[2017-09-16 17:45] gregorym commented on #603
@sambaiz I haven't tried but is [this](https://gist.github.com/gregorym/71ed4050e2791691c2b9f79cec7f8470) what you had in mind?

[2017-09-17 03:24] RitterHou commented on #800
It seems I have found the reason for this phenomenon...

My Linux device performance is better than my Mac, so the code in Linux is running faster than Mac. As far as I can see, if the clip of a page in Mac need 15s, the same operation in Linux may just need 2s~3s.

Maybe the operation running too fast caused this bug? An idea comes to my mind by chance, So I change the clip code to this
**before*

[2017-09-17 09:19] sambaiz commented on #603
Thanks @eknkc @homaily @gregorym . I've fixed to launch only once at container startup.
@miles-collier If you keep Lambda warm but still late, I think it is good to try to measure which operation takes time.

[2017-09-17 10:14] mityok opened #804 "changing jsHeapSizeLimit in headless chromium"
i'm trying to increase jsHeapSizeLimit for the chromium browser (I'm passing quite large amount of data to it) and for some reason whatever parameter i set i launch args it's getting ignored.
I've tried setting it to 128 or 4096 but i still get 2GB when i print jsHeapSizeLimit.
launching browser with parameters works:

`/Applications/Chromium.app/Contents/MacOS/Chromium --enable-precise-memory-inf

[2017-09-17 11:24] Janpot opened #805 "Waiting for both `load` and `networkIdle`"
Some pages will fire load event before network goes idle, some after. I'd like to wait for both events to have happened before considering a page 'navigated'. Currently looking at the `watchdog` code it seems like it's either one or the other. The way to do it right now is:

[code]

But it seems to me that this is a functionality that deserves a more straightforward out-of-the-box solution. for in

[2017-09-17 11:37] TooTallNate commented on #379
Can we re-open this? There doesn't seem to be a documented solution for running Puppeteer on Alpine Linux at this time.

[2017-09-17 13:01] mityok commented on #804
not sure if it's related but after adding `dumpio:true` i've got this error:
`[0917/154738.953084:ERROR:http_connection.cc(37)] Too large read data is pending: capacity=104857600, max_buffer_size=104857600, read=104857600`

[2017-09-17 13:43] sukrosono commented on #782
@aslushnikov did you mean PR to the documentation?

[2017-09-17 13:48] oaleynik commented on #765
Same story here like @gregorym described - it is possible to get screenshots via CLI, but puppeteer can't connect to Chrome and times out.

[2017-09-17 14:55] prasanna1211 opened #807 "Failed to launch chrome"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.1
* Platform / OS version: Ubutntu 16.04 running on AWS EC2
* URLs (if applicable):

**What steps will reproduce the problem?**
Try the demo code to launch puppeteer in ubuntu 16.04 EC2 amazon AWS.

Code used:

[code]
**What is the expected result?**

It is able to start in my local. When I deployed in my EC2 I

[2017-09-17 15:29] JoelEinbinder commented on #807
It looks like you are missing some Debian dependencies: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

[2017-09-17 16:45] androidfanatic commented on #676
Definitely +1.
Currently using a local CNTLM installation to avoid auth.

[2017-09-17 17:05] positlabs commented on #800
My workaround was to check the image size, and re-render if it was incorrect.

Your idea about something happening too fast is consistent with how the bug manifested for me. It works mostly fine on my local machine (in a 4cpu docker container), but running on a 16 cpu vm, it happens much more often.

[2017-09-17 22:28] michaeljho opened #808 "Page.setExtraHTTPHeaders has no effect"
`page.setExtraHTTPHeaders(headers)` does not have any effect in version 0.10.2. Works as expected in 0.10.1.

[2017-09-18 02:27] pwnall opened #809 "Consolidate best practices in Docker section of troubleshooting document"
The Docker section in [puppeteer/docs/troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker) suggests some undesirable flags. Instead, please consider recommending better solutions found by the community.

- [x] https://github.com/jessfraz/dockerfiles/blob/master/chrome/stable/Dockerfile shows how to set up a dedicated `chrome

[2017-09-18 03:06] RitterHou commented on #800
May I ask how to check the image size?

[2017-09-18 05:21] positlabs commented on #800
There are various node modules that do this. Quick googling will help you

On Sep 17, 2017 8:06 PM, "Derobukal" <notifications@github.com> wrote:

[2017-09-18 06:23] codenoid opened #810 "Unhandled promise rejection (rejection id: 2): Error: kill ESRCH"

[2017-09-18 07:18] xprudhomme commented on #717
For some reasons, I had issues with the page.waitForNavigation() call. It kept on waiting until it timed out (even with the option waitUntil=networkidle). So currently, my only option is to wait for 10 sec, and it works !

So there is no issues with cookies, sorry about that, it's a page loading matter.

[2017-09-18 07:46] #810 closed, assigned to nobody

[2017-09-18 08:35] nanhaiyufu commented on #717
@Xavatar , do you mind share the code to write cookies to file, i have problem on that. ThankU!

[2017-09-18 11:12] BkSouX opened #811 "Timeout when loading HTML string"
Hi,

I am trying to optimize my function. It takes an HTML as string and return a screenshot buffer.

Here is the function:
[code]

The function is a part of a web service so it can be called simultaneously by multiple request. The setContent and screenshot function are often slow (few seconds). I don't know if i'm doing it well (maybe an issue with async await ?) or if there's an issue with Puppe

[2017-09-18 14:09] gojko opened #812 "browser.close not returning a Promise"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: MacOS 10.12.6
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**

`browser.close` to return a Promise, as per [documentation](https://github.com/GoogleChrome/puppeteer/blob/mast

[2017-09-18 14:21] vsemozhetbyt commented on #812
`browser.close()` returns promise in the latest `v0.11.0-alpha` (see [the version in the top of the doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteer-api-v0110-alpha)) — [unlike v0.10.2](https://github.com/GoogleChrome/puppeteer/blob/v0.10.2/docs/api.md#browserclose)

[2017-09-18 14:48] xprudhomme commented on #717
Hey @nanhaiyufu ,

My code is wrapped into an object context, hence the this._page and other this.xxx properties references. But the main essence is:

[code]

Since everything is working fine now, I'm closing this issue.

[2017-09-18 14:49] #717 closed, assigned to JoelEinbinder

[2017-09-18 15:21] ebidel commented on #808
The `headers` arg changed from being an Map to an Object in 0.10.2. Check that you're using the updated signature.

https://github.com/GoogleChrome/puppeteer/blob/v0.10.2/docs/api.md#pagesetextrahttpheadersheaders

[2017-09-18 15:21] #808 closed, assigned to nobody

[2017-09-18 15:34] #812 closed, assigned to nobody

[2017-09-18 15:37] aslushnikov commented on #717
@Xavatar would you mind sharing a script (either here or in a new issue) where the `waitForNavigation` fails for you? This might be a bug.

[2017-09-18 15:39] aslushnikov commented on #676
@androidfanatic @WG-Com @tmpace [`page.authenticate`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageauthenticatecredentials) has landed in current alpha.

[2017-09-18 15:45] xprudhomme commented on #717
I don't have the initial script anymore, but basically the steps are easy to reproduce:

- goto() linkedin dot com
- fill in the username + password fields with type()
- click() on the login button
- waitForNavigation()

I simply replaced the waitForNavigation step with a waitFor(10000), as it seemed to load forever...
Well, actually, the home page was loaded, but there were scripts still running

[2017-09-18 15:59] aslushnikov commented on #717
@Xavatar the following works for me on current tip-of-tree (0.11.0-alpha):
[code]

[2017-09-18 16:09] xprudhomme commented on #717
Yes, but the issue was getting the good cookies right away after the waitForNavigation() step, which did not seem to work properly, hence the need to add a waitFor(time) in my case.

However I haven't been able to reproduce this error every time, it's random... weird : /

[2017-09-18 17:04] michaeljho commented on #808
Hi Eric,

Thanks for that -- I didn't think to double check the signature. Confirmed working with 0.10.2 now after adjusting on my end. Sorry for the noise.

-M

[2017-09-18 18:26] ebidel commented on #811
Can you provide more details on the html? If the page is resource-heavy, the culprit is probably `waitForNavigation`, which is going to wait for the page's `load` event to fire.

Not sure there's much you can do if you're running this as a webservice and don't know the structure of the page ahead of time.

[2017-09-18 19:01] staab opened #814 "SVG computed width incorrect"
This is probably more a problem with headless Chrome, but I'm a bit out of my depth, and since I'm using the custom buildpack referenced in https://github.com/GoogleChrome/puppeteer/issues/290#issuecomment-323254964 I figured I'd start here.

The problem is that headless chrome reports both `getComputedTextWidth` and `getBBox().width` differently from macOS chrome (and incorrectly). This could cer

[2017-09-18 19:08] ebidel commented on #814
Thanks for the repro. Anything related to rendering differences between mac and linux would indeed be a headless chrome bug. Mind filing at https://bugs.chromium.org/p/chromium/issues/list and linking to that from here?

[2017-09-18 19:44] michaeljho commented on #615
So after some more investigation, it appears that it's the zygote and renderer forks that become defunct. The root puppeteer process terminates properly, but leaves its zygote subprocess (and subsequently the renderer sub of the zygote process) around.

Still digging more on our end. Just wanted to post info here as we find it in case it's helpful.

[2017-09-18 19:53] michaeljho commented on #615
Okay -- some more info now. Sending a SIGTERM or even SIGKILL signal to the zygote process leaves it in a defunct state. My test case was this, not sure if valid here:

- launch puppeteer via REPL
- via shell, `kill -15` the renderer process. terminates properly
- via shell, `kill -15` the zygote process, leaves defunct process
- tried the same with SIGKILL and same symptoms.

My guess is that kil

[2017-09-18 21:01] michaeljho commented on #615
I was able to work around this issue by adding an init system to my docker image. I chose https://github.com/Yelp/dumb-init. Works perfectly, no more zombies.

@gumieri maybe you want to try this out yourself?

@aslushnikov I still think it's strange that sending any kill signal to the zygote leaves things defunct. But lack of init system in Docker + re-parenting orphans to pid 1 was definitely ex

[2017-09-18 21:37] vsemozhetbyt opened #815 "Should response.status 304 make response.ok false?"
### Steps to reproduce
* Puppeteer version: v0.11.0-alpha
* Platform / OS version: Windows 7 x64

Doc for `response.ok` [states](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#responseok):

Should the status 304 (Not Modified), while not in the range 200-299, mean not successful request?

[2017-09-18 21:54] ebidel commented on #815
FWIW, Puppeteer's `Response` was modeled after the https://developer.mozilla.org/en-US/docs/Web/API/Response/ok. Not sure that we should deviate from the platform API semantics much more than we already do.

[2017-09-18 22:01] #815 closed, assigned to nobody

[2017-09-18 23:09] datasunny opened #816 "Override eval() function in evaluateOnNewDocument"
Try to override eval() function to print out the actual code that get eval-ed. The following code prints out what sent to eval() but those code didn't get run (oldEval.call() should do it). Anything I did wrong? TIA.

[code]

[2017-09-18 23:17] michaelfward commented on #744
@ebidel - I didn't know if creating a `Console` object with its own `Events` class property would be preferable; I couldn't find anywhere else in the project that didn't explicitly declare it's events, or emit more than one at a time.

Let me know what you recommend and I'll submit a PR!

[2017-09-18 23:42] fixingcredit commented on #613
@thujikun I had to deal with the same issue and this seems to work for me. A bit of a hack though:

[code]

[2017-09-19 00:57] shospodarets commented on #765
@ebidel
`sudo yum install google-chrome-unstable` gives "No package google-chrome-unstable available."
@Garbee
Thanks for pointing to the troubleshooting document, same as the previous, it doesn't help for Cent OS 6
@gregorym , @oaleynik
I couldn't use Chrome from Pupeter on Cent OS6, it just failed (sorry, didn't capture the console output.).
The prepared package installation from [the article](h

[2017-09-19 01:12] millette commented on #405
I know this issue is closed (just encountered it too) but I go with

from [standardjs](https://standardjs.com/rules.html#semicolons).

[2017-09-19 01:38] wadeharrell opened #817 "page.setContent breaking structure of HTML"
puppeteer@0.10.2
jasmine@2.3.2
jasmine-co@1.2.2
MacOS 10.11.6
Chrome Version 61.0.3163.79 (Official Build) (64-bit)
Node v8.5.0

[code]
Results in
[code]

Note the unexpected `</head><body>`

[2017-09-19 03:31] prasanna1211 commented on #807
Thanks @JoelEinbinder It worked.

[2017-09-19 04:22] adamblok opened #818 "Puppeteer crashes on "http://google.com" when setRequestInterceptionEnabled is enabled"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Windows 10 Pro and Ubuntu Server 16.04
* URLs (if applicable): http://google.com

**What steps will reproduce the problem?**

The code below produces the problem quite every time I run it:

[code]

**What is the expected result?**

The code above does nothing, but in my project I work

[2017-09-19 04:27] elyobo commented on #323
puppeteer now supports node 6

[2017-09-19 04:35] Vwings opened #819 "Unhandled promise rejection (rejection id: 1): Error: Page crashed!"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Windows 7

**What steps will reproduce the problem?**
1.Try the demo code
[code]

**What happens instead?**
output:
HeadlessChrome/62.0.3198.0
(node:11192) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Page crashed!

(node:11192) UnhandledPromi

[2017-09-19 04:36] ebidel commented on #817
`page.setContent()` uses `document.open()` + `document.write()` to set a new document for the page:

https://github.com/GoogleChrome/puppeteer/blob/e2cad568d610e00c8a4b6c348a51f161ed91c2d8/lib/Page.js#L358-L363

Since `<script>` tags cannot be self closing, the parser is having issues with your invalid html. Try this:

[code]

[2017-09-19 05:21] gregorym commented on #765
@oaleynik Great news! I was able to run puppeteer on Amazon Linux using the custom compiled version of Chrome that @sambaiz did (https://github.com/GoogleChrome/puppeteer/issues/603#issuecomment-330031484). 🏆

https://github.com/sambaiz/puppeteer-lambda-starter-kit/tree/master/chrome

ps: it logs a bunch of crap related to fonts:
[code]

[2017-09-19 05:45] paulirish commented on #816
that looks mostly right but you'll probably want a `return` on the oldEval.call line...

but aside from that, I don't know exactly why it doesnt work.

i would run with headless off and then open devtools on the page (while puppeteer is connected) to debug it further.

[2017-09-19 05:59] thujikun commented on #613
@fixingcredit
Thx! I succeeded changing value managed in Redux by your hack. But I hope Puppeteer supports the feature to set the value to select element.

[2017-09-19 06:45] 10W8K commented on #667
Yes, I just want to get the size of encoded response body. For example, to check if the response is too large. @aslushnikov

[2017-09-19 07:04] ebidel commented on #809
Thanks for the suggestions. We'll add the `chrome` user. For some reasons, I recall that not fixing the `--no-sandbox` issues but will check again.

For `/dev/shim`, unfortunately it looks Google Cloud doesn't allow you to customize the `docker run` command. At least, I couldn't find anything. Also not sure about other cloud container platforms. The [fix is to add a flag in headless Chrome](https:

[2017-09-19 07:08] vsemozhetbyt commented on #818
@adamblok I cannot reproduce with your code and `v0.11.0-alpha`, but maybe this change can help:
[code]

[2017-09-19 07:25] vsemozhetbyt commented on #819
I cannot reproduce with v0.10.2 or v0.11.0-alpha on Windows 7 x64.

[2017-09-19 07:26] vsemozhetbyt commented on #818
I can reproduce with `v0.10.2` with or without proposed change.

[2017-09-19 07:30] vsemozhetbyt commented on #818
It may be connected with `browser.close();` not returning Promise yet on `v0.10.2` so that cannot be `await`ed.

[2017-09-19 07:39] adamblok commented on #818
@vsemozhetbyt the change with `await request.continue();` doesn't work for me either.

You're probably right. When I comment the `browser.close();` line, then everything works fine. It looks like the browser closes a connection too early, so it causes this problem.

[2017-09-19 07:44] adamblok commented on #819
It works well for me too. Maybe is it related to a language version of this page?

@Vwings Please provide full URL to this page including a language version, for example: https://developer.mozilla.org/en-US/#

[2017-09-19 07:55] JOEAV opened #820 "waitForPromised"
Hi guys , so i'm having this scenario which i'm trying to inject a promise to the page context but found that i can inject only regular functions.
Scenario:
e2e testing environment
Use case:
1.open a new page (great)
2.goto the test url (awesome)
3.wait for the test to finish(lets say i have this predicate on window.jasmine which tells me the test has finished)
4. get the test result by an object

[2017-09-19 08:20] Garbee commented on #818
No, it's the await on close as pointed out earlier. In 0.10 it doesn't return a promise.

[2017-09-19 08:45] BkSouX commented on #811
Well, it can be an HTML with multiple images ( base64 or URL ).
Sometimes I have errors like a 30s timeout (with the page.goto) method, and "Error: Page crashed!".

[code]

Sample of HTML here http://gist.github.com/BkSouX/3c95179a849f45a87e93aeb74bae19ef ( beautiful HTML intended to emails :wink: )

edit : update the first post with the full function

[2017-09-19 08:58] Alexandredc commented on #818
Same problem. Is it possible to install v0.11.0-alpha ? I didn't find it on npm or github.
Thanks

[2017-09-19 08:59] MaxDesplanches opened #821 "goto and screenshot"
Hi there !

I have an issue on loading html with data text in goto, the screenshot is failing 1 times on 10 screenshots approximately (setContent have the same result)

Thanks for your help

### Steps to reproduce

**Environment:**

* Puppeteer version: 0.10.1
* Platform / OS version: Docker on Mac with container node:6.10.3

**What steps will reproduce the problem?**

1. Have a string in html, wi

[2017-09-19 09:09] paulirish commented on #821
Related to #809.... try your `docker run` with `--shm-size=1gb`

[2017-09-19 09:12] Alexandredc opened #822 "Failed to navigate"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Mac OSX 10.12.6 (same on Docker image => node:8.1)

**Example**
[code]
**Error**
[code]
I try to use Chrome Headless with command line and it works great :
[code]

It seem that this problem is related to this web site :  https://www.nordictrack.com but i don't know what happen with it.

[2017-09-19 09:21] paulirish commented on #822
try loading that site in Chrome Canary.
![image](https://user-images.githubusercontent.com/39191/30585283-51d17cc2-9d67-11e7-8bdf-476f41010099.png)

ERR_SPDY_SERVER_REFUSED_STREAM ... looks like misconfigured h2.

[2017-09-19 09:21] #822 closed, assigned to nobody

[2017-09-19 09:26] MaxDesplanches commented on #821
added in docker compose as shm-size: 1gb, same result

![sample2](https://user-images.githubusercontent.com/990954/30585290-a9db3f4c-9d2c-11e7-822c-dcf8ba3a9fe7.jpeg)

The viewport size is 440x290

[2017-09-19 09:40] Alexandredc commented on #822
Thanks for your help

[2017-09-19 09:43] paulirish commented on #821
oh sorry. i didn't read all of your words. :)

Looks like the webfont isn't finishing loading.  I would set the `waitUntil` option to `networkidle`  and `networkIdleInflight` to 0.

[2017-09-19 10:36] kdekooter commented on #667
This code works for me, not sure if it is the unzipped size though:

[code]

[2017-09-19 10:56] Garbee commented on #818
@AlexandreAWE Unreleased versions are the current `master` branch. So you'd require the GH repo vs the NPM version.

[2017-09-19 11:00] Garbee commented on #765
Because CentOS/RHEL 6 isn't supported by Chromium anymore. It hasn't been for a good while.

[2017-09-19 12:01] MaxDesplanches commented on #821
its works like a charm, you're the best !

[2017-09-19 12:01] #821 closed, assigned to nobody

[2017-09-19 12:08] Alexandredc commented on #818
I confirm that v0.11.0-alpha fix the problem

[2017-09-19 12:52] caddave opened #823 "No page navigation lock ?"
I'm looking for a page navigation lock feature or alternative like phantomjs has http://phantomjs.org/api/webpage/property/navigation-locked.html

[2017-09-19 12:53] adamblok commented on #818
Thank you for your quick response guys. Do you know what is a release date?

[2017-09-19 12:55] jafalter commented on #299
Been trying the code snippet above and run into the following issue on the line

`const buffer = await resp.buffer();`

`Error: Protocol error (Network.getResponseBody): No data found for resource with given identifier undefined`
On normal Chrome it will download a pdf. Maybe this is related to  #610?

Couldn't find a way to work around it.

[2017-09-19 14:01] MaxDesplanches opened #824 "DevToolsActivePort file"
Hello !

It's me (again). Not a big problem but chrome decids to create to each launched instance a local file named:
puppeteer_dev_profile-xxxxxx/DevToolsActivePort

I launch 8 instances (one per cpu) and it can be restarted, I wanted to disable it for having a great src folder without full of this created things.

### Steps to reproduce

**environment:**

* Puppeteer version: 0.10.1
* Platform /

[2017-09-19 14:54] vsemozhetbyt opened #825 "innerText fall back to textContent in evaluated function"
### Steps to reproduce
* Puppeteer version: v0.11.0-alpha
* Platform / OS version: Windows 7 x64
* URLs (if applicable): https://nodejs.org/api/

1. If you open this URL in the very Chromium puppeteer use and run the commands in the console, you can see these results:

![1](https://user-images.githubusercontent.com/10393198/30598572-c07c142a-9d62-11e7-8770-9caf380a8887.png)

2. But this code gives

[2017-09-19 15:22] mbergal commented on #791
Thanks!

This seems to work best:

[code]

[2017-09-19 15:23] #791 closed, assigned to nobody

[2017-09-19 15:36] justincy commented on #572
For anyone who stumbles upon this problem while waiting for the bugfix to be released, it occurs when there are two or more arguments passed to evaluate and at least one of them is undefined. Despite the commit message saying it only fixes the case there the first arg is undefined, it actually solves all cases of any args being undefined.

[2017-09-19 16:09] katp4 commented on #805
Hello,

I can't help with your new feature request but based on what you want to establish, your code wont work. You state that you want to wait for the load and network idle event *before* you navigate to the page but Promise.all runs the promises in parallel and doesn't guarantee an order. So in your case, any one of your promises might run first.

I suggest you do a Promise.all that includes yo

[2017-09-19 16:26] ebidel commented on #820
For general technical questions or "how to" guidance, please search StackOverflow for questions tagged "puppeteer" or create a new post.

[2017-09-19 16:26] #820 closed, assigned to nobody

[2017-09-19 16:27] Janpot commented on #805
I think you misinterpret `Promise.all` here. The promises are set up synchronously. The event handlers that are set up by `waitForNavigation` are all set up before the command in `page.goto` is sent.

the function in `new Promise` is a called synchronously here: https://github.com/GoogleChrome/puppeteer/blob/e5c17eecb93b995c78515e8b1b0df13c392efd8e/lib/NavigatorWatcher.js#L48
and the `waitForNavig

[2017-09-19 16:32] ebidel commented on #819
I'm also unable to repro this. "Navigation Timeout Exceeded: 30000ms exceeded" makes it seem like you had a connection issue fetching the page...?

[2017-09-19 16:32] #819 closed, assigned to nobody

[2017-09-19 16:34] konstantinblaesi commented on #418
@Aaronphy page.authenticate(credentials) is only available since 0db6165d7389df6f1a3a4c09fcf1d338bc3351a2 . There was no new release since this was added. You could install the latest master with
`npm i --save https://github.com/GoogleChrome/puppeteer.git`
or wait for puppeteer > v0.10.2

[2017-09-19 16:45] wadeharrell commented on #817
confirmed resolution, thanks!
[code]

[2017-09-19 16:45] #817 closed, assigned to nobody

[2017-09-19 17:09] zxsoft opened #826 "There is no way to close script opened windows."
**Tell us about your environment:**

* Puppeteer version: v0.10.2
* Platform / OS version: all platforms
* URLs (if applicable): n/a

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. I 'goto' a page(Page A) that will open a new window(advertisement).
2. Because the chrominium don't have adblock installed, the window just opened.
3. I 'goto' another p

[2017-09-19 18:08] datasunny commented on #816
@paulirish adding 'return' did the trick! Please close the issue.

[2017-09-19 18:08] mickdekkers commented on #299
@Apfelmann it sounds like you're experiencing the same issue I mentioned in [my comment](https://github.com/GoogleChrome/puppeteer/issues/299#issuecomment-328300221) earlier.

In my case the solution turned out to be to use node to fetch the file itself as @ebidel suggested. It wasn't possible to use node right away because the file I wanted to download requires you to be logged in, but I was able

[2017-09-19 18:40] tjunnone commented on #814
@staab Your example does not specify a font, so the default text size will differ on macOS and Ubuntu, leading to different bounding boxes. The system fonts available are also different on the systems, unless you use a webfont.

You can verify if this is the issue by using the page.screenshot Puppeteer API to screenshot the page on both systems, and verify the difference visually.

[2017-09-19 18:56] ebidel opened #827 "frame.title() throws protocol error when used with framenavigated"
Repro:

[code]

Produces:

[code]

[2017-09-19 18:56] ebidel commented on #826
We're working on an APIs for enumerating the open pages and catching events when pages open: https://github.com/GoogleChrome/puppeteer/pull/554

Will that work for you?

[2017-09-19 19:10] ebidel commented on #811
I see. So you're using `goto` with a huge data url and not `setContent` :) Generally there are max limits to URL length, so you may be hitting that with loading the data url for a larger page.

Why not `await page.setContent(html);` instead of `page.goto(`data:text/html,${html}`);`? The latter takes 1-2 for me while the former takes 21ms. There's no need to navigate to a url.

[2017-09-19 20:14] matthewerwin opened #828 "CORS on iFrame causes waitForSelector to indefinitely block"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Mac/ Sierra - 10.12.6
* URLs (if applicable):

**What steps will reproduce the problem?**

1. Use page.setContent( ) to write an iFrame into the browser
e.g.
[code]
2. Call page.waitForSelector
[code]

**What is the expected result?**
Expect the waitForSelector to either return or thro

[2017-09-19 21:40] qoheleth-tech commented on #793
This issue appears to be resolved (either by internal or upstream bug fix, or merely by "corrected" usage).
To the above, add:   await page.setViewport({width: 1024, height: 2048});
Fixed.

[2017-09-19 21:40] #793 closed, assigned to nobody

[2017-09-20 00:39] #816 closed, assigned to nobody

[2017-09-20 01:08] codenoid commented on #716
@aslushnikov btw, how to disable async in puppeteer ?

[2017-09-20 01:20] codenoid opened #829 "can i disable async ?"

[2017-09-20 01:29] ebidel commented on #829
I assume you mean not use async/await? Your can you regular promises (.then) calls if that's what you prefer.

[2017-09-20 01:38] codenoid commented on #829
@ebidel can you give me example from screenshot code example ?

[2017-09-20 01:39] vsemozhetbyt opened #830 "PDF documents are timed out with { headless: true }"
### Steps to reproduce
* Puppeteer version: v0.11.0-alpha
* Platform / OS version: Windows 7 x64

This code works quickly and properly:
[code]

However, with `{ headless: true }` it causes this error:
[code]

If PDF documents are not supported in the headless mode, maybe this should be documented.

[2017-09-20 01:59] ebidel commented on #829
[code]

https://developers.google.com/web/fundamentals/getting-started/primers/async-functions is a good resource.

[2017-09-20 01:59] #829 closed, assigned to nobody

[2017-09-20 02:04] ebidel commented on #830
`headless: false` does not support PDFs. There's a note on https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepdfoptions.

Are you sure `{ headless: true }` is causing the timeout? Or perhaps you're accidentally using `{ headless: false }`?

[2017-09-20 02:13] vsemozhetbyt commented on #830
I mean not creating PDF, but opening them. Linked note in the doc concerns creating (generating) PDF.

I've checked once more: `{ headless: false }` allows opening PDF, `{ headless: true }` causes the timeout.

[2017-09-20 02:33] 10W8K commented on #667
thanks @kdekooter, but that is the unzipped size

[2017-09-20 02:49] Jeiwan opened #831 "Puppeteer fails in Docker when an emulator is used and a full-page screenshot is taken"
We have a Puppeteer script that takes screenshots of web pages. We want to have mobile device emulation and take full-page screenshots. On my Mac Book Pro everything works fine, but the script fails in a Docker container.  And it fails when both the emulation and full-page features are enable.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS

[2017-09-20 03:32] ebidel commented on #830
Ah sorry. Should have read your code :)

This is a dupe of https://github.com/GoogleChrome/puppeteer/issues/610#issuecomment-326542923. As noted in https://github.com/GoogleChrome/puppeteer/issues/610#issuecomment-327297003, headless doesn't support navigating to a pdf. We should definitely document that.

Would you like to submit a PR?

[2017-09-20 03:33] ebidel commented on #831
Perhaps related to the shared memory space being very limited (64mb) when running Chrome in docker. There's a suggestion on https://github.com/GoogleChrome/puppeteer/issues/809 that may help.

[2017-09-20 03:34] zxsoft commented on #826
YES!!

That's exactly what I'm looking for! And the browser.pages() ! I'd love that!

Thanks so much!  I will close this issue and be looking forward to #554

[2017-09-20 03:34] #826 closed, assigned to nobody

[2017-09-20 03:44] aslushnikov commented on #789
@TotusSomnium I see. We want Puppeteer API to be lean, so we don't want to have both `switchToFrame` method and frames API.

The good thing is, the `switchToFrame` functionality is implementable atop of our current API, so you can have a shim for yourself if there's a need to.

[2017-09-20 03:44] #789 closed, assigned to nobody

[2017-09-20 03:47] #799 closed, assigned to nobody

[2017-09-20 03:53] aslushnikov commented on #782
@brutalcrozt PR to the codebase, you can't currently pass `timeout: 0` to disable timeout for navigation

[2017-09-20 05:41] paulirish commented on #824
@MaxDesplanches sorry, that file must be created. can't disable it.

Also.... you should be more deliberate about the flags you use. Speaking at least for myself, I feel a lot more hesitant to committing time to debugging your issues when you have a setup that is nowhere close to the default.

[2017-09-20 05:41] #824 closed, assigned to nobody

[2017-09-20 07:09] BkSouX commented on #811
I tried but the page crashes with some html and the exception is not catched.

[code]

In the second try-catch; I don't see any of these logs (info & error), juste that
```(node:17) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: Page crashed!``` but I don't know from where it comes.

It works if I remove the ```fullPage:true``` but I don't know why.
Maybe t

[2017-09-20 08:20] Means88 commented on #257
And with the history API
[code]

BTW, `page.url()` returns the original url, is it a feature or a bug?

[2017-09-20 08:28] vsemozhetbyt commented on #830
@ebidel I would like to, but I am not sure what is an appropriate place (or even places) for such a note (notes).

[2017-09-20 09:00] konstantinblaesi commented on #558
Still broken for https://archive.sap.com
Maybe this is related to this headless bug https://bugs.chromium.org/p/chromium/issues/detail?id=757181 , although I was launching chromium with
` const browser = await puppeteer.launch({headless: false});`

[2017-09-20 09:40] BkSouX commented on #831
Related to my issue #811 as well

[2017-09-20 10:09] tamtc84 opened #832 "how to close one page"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

const page = await browser.newPage();

**What is the expected result?**
when i create many page by "browser.newPage()", i want to close one page, not close page.
How to do it

[2017-09-20 10:18] Khady commented on #832
What is wrong with [`page.close`](https://github.com/GoogleChrome/puppeteer/blob/v0.10.2/docs/api.md#pageclose) for this use case?

[2017-09-20 10:26] zhaopengme commented on #759
12306,good question

[2017-09-20 11:52] wj-1993 opened #833 "node install.js failed on CentOS7. node v8.4.0 & npm v5.3.0"
/home/wxjg/nodetask/node_modules/puppeteer/install.js:35
    .then(() => Promise.all(allRevisions.map(({platform, revision}) => Downloader.removeRevision(platform, revision))))
                                              ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:387:25)
    at Object.Module._extensions..js (module.js:422:10

[2017-09-20 11:56] yankouskia commented on #372
Have the same issue. Scripts are loaded.

[2017-09-20 15:00] ebidel commented on #833
Please make sure you're using node 7+.

[2017-09-20 15:01] #832 closed, assigned to nobody

[2017-09-20 15:06] ebidel commented on #811
Definitely could be related to the container shared memory size. In the future, please include code and all the details like that when creating an issue. We could have saved a couple of days off back and forth!

[2017-09-20 15:06] ebidel commented on #811
Closing in favor of that issue

[2017-09-20 15:06] #811 closed, assigned to nobody

[2017-09-20 15:16] ebidel commented on #830
The API docs: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md

[2017-09-20 15:21] BkSouX commented on #811
Ok thanks @ebidel
When I have created the issue, I had no idea of what was going on :smile:

[2017-09-20 15:25] vsemozhetbyt commented on #830
I mean, in what part? Does `page.goto()` suffice?

[2017-09-20 15:38] ebidel commented on #811
Fair enough :)

[2017-09-20 15:57] sukrosono commented on #782
@aslushnikov ok i got it, i might try that, But i really unfamiliar with the codebase, can you give me some direction? Maybe a couple file which involved with that action. :smile:

[2017-09-20 16:52] thetutlage commented on #723
Any chance to get some updates on it?

[2017-09-20 17:41] sean-hill opened #835 "Verizon Integration - Complaining about the browser"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2 and 0.11.0-alpha
* Platform / OS version: Mac OSX

**What steps will reproduce the problem?**

I'm creating a Verizon integration to fetch my data. When using `page.setRequestInterceptionEnabled(true)`, after submitting my credentials, Verizon complains with this:

![example](https://user-images.githubusercont

[2017-09-20 18:14] Garbee commented on #835
Smells like a duplicate of #662.

[2017-09-20 19:50] pavelfeldman commented on #825
This page has a media query breakpoint, so layout is different in your browser and in puppeteer. Puppeteer defaults to 800x600, while the sidebar you inspect shows up for >1024px. Try adding

[code]
before `page.goto` in your script and you'll get expected results.

[2017-09-20 19:50] #825 closed, assigned to nobody

[2017-09-20 20:12] vsemozhetbyt commented on #825
@pavelfeldman Thank you!

1. Is there any way to programmatically check these breakpoints' existence on a page?
2. Does `page.setViewport()` call after `page.goto()` update the layout and prevent fallbacks?

[2017-09-20 20:26] vsemozhetbyt commented on #830
PR: https://github.com/GoogleChrome/puppeteer/pull/836

[2017-09-20 22:15] stefanor commented on #290
It looks like the permissions on the bundled executables were lost. Most things are 0700 (only readable by the owner) and the root setuid on the `chrome_sandbox` binary is missing.

[2017-09-20 22:23] Garbee commented on #290
@stefanor That depends on your host machine configuration. Simply unzipping the files should leave all of them as packaged. On the note of permissions on the sandbox file, that is expected. You need to follow the setup instructions. You can't simply unzip a file as a normal user and let it have root permissions, that is a major security vulnerability.

[2017-09-20 22:47] ebidel commented on #809
To follow up on the `chrome` user...it looks like it does work without `--no-sandbox` on Google App Engine Flex! However after some research, running the container from the CLI needs `docker run --cap-add=SYS_ADMIN` to account for usernames.

[2017-09-21 00:30] vsemozhetbyt opened #839 "Chromium is not closed completely gracefully"
* Puppeteer version: v0.11.0-alpha
* Platform / OS version: Windows 7 x64

When I launch the Chromium with something like this

[code]
every non-first launch this non-blocking dialog appears:

![restore-pages](https://user-images.githubusercontent.com/10393198/30673595-e2f18218-9e7c-11e7-9187-582c7124c2f1.jpg)

despite using `await browser.close();`

I am not sure if this is wontfix. Please, close

[2017-09-21 01:09] michaelgmiller opened #840 "Ability to pin version"
It would be great to have the ability to pin the Chromium version. I know it's possible to say `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD`, but I'd like to maintain the auto-download functionality while also pinning the version.

[2017-09-21 01:15] Garbee commented on #840
We pin the version since it is updated as new features are added/fixed that the new versions use. If you'd like to pin a specific version, then specify an exact `puppeteer` version since that will give you the build of this module with the Chromium package known to work with it.

[2017-09-21 01:19] michaelgmiller commented on #840
Oh, didn't realize the version is pinned in `package.json`. Pinning the puppeteer version is a perfect solution for us, thanks!

[2017-09-21 01:19] #840 closed, assigned to nobody

[2017-09-21 01:23] Garbee commented on #839
You aren't generating a unique profile on load. So this can trigger the dialog. Not sure if anything can be done about that within Chrome, especially with the new session restore system. Since the CLI flags to prevent this bubble were removed.

[2017-09-21 01:36] hbakhtiyor commented on #809
also don't forget font issues at docker container

[2017-09-21 01:40] gavincilp opened #841 "how to invoke printer using puppeteer"
Hi,
is there a way to print a page or an element using puppeteer?

[2017-09-21 01:52] ebidel commented on #809
The published Dockerfile doesn't give me any font errors. That may be specific to using other base images?

[2017-09-21 02:15] aslushnikov commented on #744
@michaelfward I like `page.console` namespace that will deliver specific events; go for it!

[code]

[2017-09-21 02:49] wj-1993 commented on #833
@ebidel you're right.There are two node on CentOS

[2017-09-21 03:07] Jeiwan commented on #831
Seems like increasing `shm-size` helped! I'll run more tests and reply with results in a couple of days.

[2017-09-21 03:41] hbakhtiyor commented on #809
not errors, but displays different compare without docker

[2017-09-21 04:15] pavelfeldman commented on #825
There is, but media queries are dynamic, so this detection would be racy

It updates the layout, but it is hard to tell when MQ-specific resources are loaded, so it is safer to fall back to the navigation-based readiness tracking for consistency.

I understand that these are not the greatest answers, but that's what it is.

[2017-09-21 04:34] andrewlinfoot commented on #469
I think this might be related. I have a site I am trying to scrape that uses a redirect on their authentication route. It sends a POST request with the credentials, checks them and then does a 302 redirect with the set-cookie header containing the new session cookie.

With setRequestInterceptionEnabled the cookie is never set. Therefore when the scraper is redirected to the internal page of the ap

[2017-09-21 04:40] abbr opened #842 "Skip downloading interactive_ui_tests.exe to reduce footprint"
* Puppeteer version: 0.10.2
* Platform / OS version: Win 10 x64

On my os platform, Puppeteer folder size is 281mb after downloading latest chromium, of which 107mb is file *interactive_ui_tests.exe*. This file seems only used by chromium for internal tests b/c after deleting it my karma tests still work.
Can Puppeteer skip downloading it by default, or at least provide an option? Disk/network ove

[2017-09-21 04:40] #833 closed, assigned to nobody

[2017-09-21 07:10] vsemozhetbyt commented on #839
Yes, this is the goal: I run some periodic task for ~600 URLs and need to use the cache. If using a saved profile is the aim of this option, the dialog is somewhat unexpectable for the user. Is not an emulation of common graceful exit possible for DevTools Protocol?

[2017-09-21 08:19] wj-1993 opened #843 "Error: Protocol error (Network.enable): Target closed."
my code
[code]

Error
[code]

node 8.5.0
CentOS Linux release 7.3.1611 (Core)

[2017-09-21 08:37] vsemozhetbyt commented on #843
Does `await browser.close();` help (with the last puppeteer version)?

[2017-09-21 08:53] jarib opened #844 "`page.evaluate` doesn't wait for Promise with setInterval?"
* Puppeteer version: 0.10.2
* Platform / OS version: OS X Sierra 10.12.4

I'm trying to scroll incrementally through a page in order to deal with lazy loaded elements. The code works as expected if pasted into the Chrome console, but wrapped in `page.evaluate`, it appears to return instantly – before the scrolling happens or the promise resolves.

[code]

[2017-09-21 09:32] vsemozhetbyt commented on #844
@jarib Some considerations:
1. `document.body.scrollTop` is allways `0` here, so `document.documentElement.scrollTop` could be used instead.
2. You assign `scrollTop` to `lastScroll` each iteration, so `lastScroll = Number.MAX_SAFE_INTEGER` becomes useless and `lastScroll === .scrollTop` is always `true` (so iterations stop after the first cycle).
3. `page.evaluate()` awaits only for the getting f

[2017-09-21 09:39] jarib commented on #844
Fantastic. Using `await` inside the function and switching to `document.documentElement` did the trick. Thanks!

[2017-09-21 09:39] #844 closed, assigned to nobody

[2017-09-21 09:50] Garbee commented on #839
I'd need to see the exact script. This should just work as far as I have seen.

[2017-09-21 09:56] Garbee commented on #841
You can generate a PDF. Accessing printers to physically print however is, I'd believe, out of scope.

[2017-09-21 09:58] Garbee commented on #842
This is a part of the chromium zip itself. No way to get around having to downloaded.

[2017-09-21 09:59] Garbee commented on #842
Oh, and to get around it you'd need to install Google Chrome with the Unstable branch and manually call to that when launching puppeteer. Then set the ENV as described in the docs to disable downloading the chromium zip internally completely.

[2017-09-21 10:01] Garbee commented on #809
Yes, because fonts are entirely os dependent. And containers are very minimal. So they will of course be different, just like rendering in all 3 major desktop platforms are each different in subtle ways.

[2017-09-21 10:06] vsemozhetbyt commented on #839
@Garbee My real script is rather long, but I can reproduce with this simplified version:
[code]

If I use some very light page (say, http://example.org/), the dialog does not appear in non-first lunches. But with a heavy page like https://www.nytimes.com/ you can see it in non-first lunches.

[2017-09-21 11:39] trafostream opened #845 "Controll a tab opened as a result of a simulated click"
I would like to have the opportunity to controll a tab opened as a result of a simulated click (from target="_blank")?
Change userAgent and others device metrics for such pages.

[2017-09-21 11:44] xfumihiro opened #846 "How to catch a "Permission request" dialog event?"
![screen shot 2017-09-21 at 7 37 02 pm](https://user-images.githubusercontent.com/12194969/30693950-6bde622a-9e97-11e7-8b2c-9f3ae0fd6e93.png)

[2017-09-21 12:03] robjbrain opened #847 "Chrome Headless doesn't work with Google Maps 3D or Google Earth - "Google Earth isn't supported in your browser""
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: Ubuntu 14.04.5 LTS
* URLs (if applicable):
https://www.google.co.uk/maps/@51.6506889,-0.4041839,40a,35y,113.57h,73.36t/data=!3m1!1e3
https://earth.google.com/web/@51.6499525,-0.40162489,64.98644774a,251.31324967d,35y,111.968

**What steps will reproduce the problem?**

[code]
**What is

[2017-09-21 13:41] Tin-Nguyen opened #848 "Error: unexpected server response (500)"
I'm facing an issue when running the tool on server for my API service

[code]
It doesn't happen on my local (MacOS), but happens on my server (using AWS Linux).

The scenarios I did:
- Chrome instance running in Docker (same host)
- Service using NodeJS 7.7.4

[2017-09-21 14:30] Tin-Nguyen commented on #848
I just did try a check by running a command below
[code]
And I received the same error
[code]

Is there a problem with Chrome websocket connection? Anyone know how to fix it?

[2017-09-21 14:59] ebidel commented on #848
Can you add dumpio: true to your launch call? That might have more details.
What does your docker run call look like?

On Thu, Sep 21, 2017, 7:30 AM Tin Nguyen <notifications@github.com> wrote:

[2017-09-21 15:02] Tin-Nguyen commented on #848
I don't use `launch` function, I use `connect` since I have a Chrome instance running in Docker already.

[2017-09-21 15:02] ebidel commented on #845
Please ask general questions like this on stack overflow with the puppeteer tag.

[2017-09-21 15:02] #845 closed, assigned to nobody

[2017-09-21 15:20] Janpot commented on #805
@katp4 Would also like to add that there is another problem with the pattern you propose. It lies in catching the errors;
consider
[code]
would result in an uncaught exception, even when:
[code]

[2017-09-21 15:45] ebidel commented on #841
Definitely out of scope. Once you have a PDF from Puppeteer, it's your call how you use it :)

[2017-09-21 15:45] #841 closed, assigned to nobody

[2017-09-21 15:45] ebidel commented on #844
Pro tip: use `document.scrollingElement` to find the scrolling element of the page. Usually, that's body or html.

[2017-09-21 16:09] ebidel commented on #848
Ok, it would be helpful to have more logging from Chrome. Any way to try that?

The reason I ask for the `docker run` command is because some kernels have features shut off. You may have some luck with https://github.com/GoogleChrome/rendertron#connection-error-econnrefused.

[2017-09-21 16:29] hdd42 commented on #515
had same problem and tried to use linux as ops (while you create your web app or web app for container select linux instead of windows )
this solved first part of the problem (it took you out of sandbox restrictions) after that select built -in runtime for your app (in my case selected node 8.x)  and deployed it.

at that point  I have to install missing necessary shared library dependencies for c

[2017-09-21 16:33] abbr commented on #842
I thought *interactive_ui_tests.exe* was separable when looking at specific release [folder](https://storage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Win_x64/503430/). But after downloading only *chrome-win32.zip*, I found the file is also included, so I agree now it's not trivial.

[2017-09-21 16:33] #842 closed, assigned to nobody

[2017-09-21 17:20] UnscientificMisaka commented on #309
@ebidel I cant' get `window.performance` in `page.evaluate`
[code]
`pref` is an empty Object and when I console `window`, it does not  have a property called `performance`

[2017-09-21 18:39] Tin-Nguyen commented on #848
I'm trying to figure out a way to get the logs from Chrome now. Will get back to you soon if I find out any things.

[2017-09-21 19:18] Tin-Nguyen commented on #848
@ebidel , I have just figured out some more information:
If I restart the docker container, and do a request to my service. I will not see the error, instead I see the process is pending on `puppeteer.connect()` command. There is nothing happen after that line.

If I do another request, I will see the error
[code]

Below is the websocket endpoint of Chrome my service attempted to connect
[code]

I

[2017-09-21 19:28] ebidel commented on #847
I got the 3d version on Mac. Since Puppeteer uses`--disable-gpu` by default, I wonder if that affects the 3d webgl version of maps on Linux.

[2017-09-21 19:30] robjbrain commented on #847
Ah that may be it, I may have been using disable-gpu from the command line out of habit as well, I'll try it again

[2017-09-21 19:44] Tin-Nguyen commented on #848
Figured out some more:
- I did run my service locally and connect to the docker Chrome instance on server. I got the same issue, I also got the error in logging.

[code]

Here is my code:
[code]
The code is probably proceeded after `connect` call and it stoped at `const page = await browser.newPage();`

[2017-09-21 20:00] cretz opened #850 "Add ability to override default args"
Sadly things like #774 are making it in (and shouldn't)  which is setting args we cannot change. In my case, I don't want headless and I want to load extensions but that CLI param stops `--load-extension`.

Please provide a way for the user to provide the *exact* args for Chrome when automating (headless or not).

[2017-09-21 21:22] tmpace opened #851 "Add ability to close a page from the main puppeteer instance"
There didn't seem to be a format for creating a feature request, so here goes:

### Problem

Currently, there is no way to close a page other than where you have access to the page itself. We should have a way to close the page from the root puppeteer instance. Here's my current setup:

1.) Master node process creates an instance of Browser by calling `puppeteer.launch()` and then spins up workers

[2017-09-21 21:29] vsemozhetbyt opened #852 "Launch non-headless Chrome minimized"
I cannot find the command line arg to launch non-headless Chrome minimized. Is there any other cross-platform way to do this? Can this be implemented in puppeteer?

[2017-09-21 21:51] pavelfeldman commented on #309
Someone mean defined `window.performance.timing` as non-enumerable...

[code]

@ak239 could you look into straightening performance.timing API the way you fixed console?

[2017-09-21 21:53] pavelfeldman commented on #309
@a1ph: let's make sure `chrome.loadTimes()` is not required for getting this kind of perf metrics.

[2017-09-21 21:57] a1ph commented on #309
@pavelfeldman The plan is to add a wrapper into Page that invokes
[code]

[2017-09-21 22:20] pavelfeldman commented on #309
@a1ph: I meant that there was a clash between the `chrome.loadTimes()` and `performance.timing` apis and I was hoping we could fix it. Exposing those times via Performance.* also sounds good, but we need both.

[2017-09-21 22:41] ebidel commented on #852
It looks like you might be able to configure this on [Windows](https://stackoverflow.com/questions/36667714/start-chrome-minimized). Not sure about other platforms. While not actually minimized, `--window-position` and/or `--window-size` could be used to position the window offscreen :p

flags: https://peter.sh/experiments/chromium-command-line-switches/#window-position

You probably want to file

[2017-09-21 22:42] ebidel commented on #851
https://github.com/GoogleChrome/puppeteer/pull/554 should help.

[2017-09-21 22:56] vsemozhetbyt commented on #852
@ebidel I regularly ran a script with links validity check (HTTP-wise and #hash-wise) in a document set (~50 source documents, ~11500 links to ~600 documents, duration ~10–15 min). I need non-headless Chrome [to check links to PDF](https://github.com/GoogleChrome/puppeteer/issues/830). But it would be handy to have the window minimized from the beginning, not to obstruct the console and not to hin

[2017-09-21 23:09] vsemozhetbyt commented on #852
BTW, would `--window-position` and/or `--window-size` affect the viewport? I need a big one [to collect a valid `.innerText` from all links rendered](https://github.com/GoogleChrome/puppeteer/issues/825).

[2017-09-22 00:26] stefanor commented on #290
I don't see anything in the README for puppeteer that tell you about this. `npm install puppeteer` does not leave you with a working chrome, as you'd expect it to (and as the README implies it will).

[2017-09-22 01:10] ebidel commented on #850
chrome-launcher allows users to re-enable: https://github.com/GoogleChrome/chrome-launcher#launchopts. We should support something like that.

[2017-09-22 01:14] ebidel commented on #852
`--window-position` won't. That's the physical position of the window on the screen.

[2017-09-22 10:07] iEricKoh commented on #469
@andrewlinfoot I have the same issue with you. Unfortunately, the site still redirect me to their login page even I disable the setRequestInterceptionEnabled.
It works totally fine during my local development, but after I try to run the scraping script on a server, we always got redirect, seems like a IP related issues  : (

[2017-09-22 17:26] krewx commented on #550
First i installed chromium using

`sudo apt install chromium-browser`

then i used `browser.launch({executablePath: '/usr/bin/chromium-browser'})` but now the issue is the following

bootstrap_helper: /usr/lib/chromium-browser/nacl_helper: Cannot open ELF file!  errno=2
[4129:4129:0922/172003.955374:ERROR:nacl_fork_delegate_linux.cc(315)] Bad NaCl helper startup ack (0 bytes)
[4117:4117:0922/17200

[2017-09-22 17:42] datasunny opened #854 "profiling javascript on webpage"
Hi all,
Is there a way to profile target page's javascript in puppeteer? say which functions are called and time spend for each function call?

Thanks.

[2017-09-22 18:00] JaLe29 opened #855 "Requests are not visible in "on" event"
* Puppeteer version: "puppeteer": "^0.10.2"
* Platform / OS version: win 10, 64b

expected: request to home https://www.example.net/ and https://www.example.com/'

actual:
REQUEST TO : https://www.example.net/
GET 200 https://www.example.net/
REQUEST TO : https://www.example.net/favicon.ico
(node:4640) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Protocol

[2017-09-22 18:48] vsemozhetbyt commented on #855
Strangely, the second response is `null`, despite document opening in the browser (puppeteer v0.11.0-alpha or v0.12.0-alpha):
[code]
[code]

[2017-09-22 19:43] ebidel commented on #31
Ping again :)

[2017-09-22 19:44] ebidel commented on #854
The devtools protocol has these capabilities, but they're not exposed in puppeteer yet.
https://chromedevtools.github.io/devtools-protocol/tot/Profiler/.

Once https://github.com/GoogleChrome/puppeteer/issues/31 lands, you could access the protocol APIs directly. Puppeteer could also have a higher level API someday.

[2017-09-22 22:43] AndrewGuenther commented on #706
@trevordmiller Apologies as this is totally unrelated to your question, but what test runner are you using? That output looks nice.

[2017-09-22 23:50] pemrouz opened #857 "File Uploads"
Hi, I'm trying to test form submissions with file uploads. Is there an easy way to select file(s) on `input[type="file"]`?

[2017-09-23 00:29] ebidel commented on #847
Closing in favor of https://stackoverflow.com/questions/46343607/chrome-headless-doesnt-work-with-google-maps-3d-or-google-earth

[2017-09-23 00:29] #847 closed, assigned to nobody

[2017-09-23 00:33] ebidel commented on #857
`input.files` gets you the list of files selected on an input. https://developer.mozilla.org/en-US/docs/Web/API/FileList.

Not sure this will serialize correctly, so you may need to read the files as arraybuffers or strings and return that from $eval:

`const files = page.$eval('input[type="file"]', input => console.log(input.files));`

[2017-09-23 00:40] ebidel opened #858 "Query nodes within shadow roots"
Currently, we don't have a way to find/query nodes with shadow roots. Users need to traverse `.shadowRoot`s themselves.

It would be [ideal if the DTP supported an option](https://github.com/ChromeDevTools/devtools-protocol/issues/19) to make this easier, but maybe we can provide options to `page.$eval` to pierce through shadow roots?

[2017-09-23 00:49] trevordmiller commented on #706
@AndrewGuenther No worries :) It is Jest, which I highly recommend! https://facebook.github.io/jest/

[2017-09-23 07:36] giacomocerquone opened #859 "End gracefully waitForFunction"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: Win 10 1607

**What steps will reproduce the problem?**

Doing `await page.waitForFunction('condition', {timeout: 1000});` after 1 second my script crashes with an error, but I'd like to handle it in order to do more in my code.

I tried this, but doesn't work:
[code]

[2017-09-23 08:54] vsemozhetbyt commented on #859
I cannot reproduce with this code and puppeteer v0.12.0-alpha:
[code]
[code]

[2017-09-23 10:49] petarthewizard opened #860 "waitForNavigation timeout exceeded"
I am making a wrapper around Puppeteer which is to be used for taking screenshots/pdfs of urls, you can see the code I am using here: https://bitbucket.org/petarvasilev/puppeteer-screenshots

I am having a problem on line 122 of screenshot.js where I am using .waitForNavigation to wait until all lazy load images are loaded and then proceed with the rest of the script; however when there are no laz

[2017-09-23 14:35] thatsnoi opened #861 "Code stops running (ERR_CERT_COMMON_NAME_INVALID)"
Hello everyone,
I´m having an issue with puppeteer.
So what I want to do is to launch a website and login. However, this website tries to load a resource which is blocked because its insecure. After running the code I get this error message and the code stops running:

[code]

My code:
[code]

My enviroment:
Latest Puppeteer version / Windows 10

Hoping you can help me in any way :)

Thanks in adv

[2017-09-23 22:03] zvikachu opened #862 "Segmentation fault (core dumped)"
I am having issues running evaluate/inject with puppeteer on a ubuntu 16 aws ec2 instance
the same program runs perfectly fine on my windows setup

*puppeteer 0.10.2
*node 8.5.0

I am trying to inject a small script
`window.scrollTo(0, document.body.scrollHeight);`

which works fine for 1-2 attampts, but then throws me out with a Segmentation fault (core dumped)

[code]

this fail on the 2-3 attem

[2017-09-24 09:07] vsemozhetbyt opened #864 "Is there a way to open DevTools progammaticaly?"
* Puppeteer version: v0.12.0-alpha
* Platform / OS version: Windows 7 x 64

These hotkeys seem not to work:
[code]

[2017-09-24 14:10] pocketjoso commented on #662
Update from me:

I am still seeing the same problem, but it seems like `0.11` fixed it for _some_ urls.

✅ https://www.studentdebtrelief.us/ - now works
❌ https://apartmentsdoralfl.com/ - _not_ working (never tested before 0.11).

Will update the first post so that it mentions this still non working url.

[2017-09-24 17:15] ebidel commented on #846
There's a feature request upstream to add devtools protocol API sfor granting/denying these types of permissions: https://bugs.chromium.org/p/chromium/issues/detail?id=631464

In Lighthouse, we used to [capture API calls](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/gather/driver.js#L942-L965) that invoke the prompts. We used that to determine when prompts were being show

[2017-09-24 23:10] pemrouz commented on #857
Sorry, wasn't very clear: I know I can select `input.files` and get the `FileList`, but it's an empty `FileList`! Is there a way to populate it with some files? Currently I'm faking it by creating something like quacks like a `FileList` (an array of `File`s that also passes `instanceof FileList`).

PS. Just wanted to say this project is absolutely amazing 👌. Thanks for all you work :)

[2017-09-25 00:47] pemrouz commented on #858
Related: https://github.com/w3c/webcomponents/issues/78

[2017-09-25 00:51] pemrouz opened #865 "waitForNavigation & History API"
Currently it seems `waitForNavigation` does not work with the History API. It would be convenient if it did :)

[2017-09-25 01:40] ebidel commented on #857
I see. Hmm, yea. You can't set files programmatically on an `input type=file` due to security restrictions. What you're doing is probably the best approach. If this is part of an existing form submission, you could use `FormData`, attach `Blob`s, and submit the form to the same endpoint.

[2017-09-25 01:56] Jeiwan commented on #831
Confirmed, it works! I added `--shm-size=1gb` flag to `docker run`.
@ebidel Thank you!

[2017-09-25 01:57] #831 closed, assigned to nobody

[2017-09-25 04:20] lockevn opened #866 "Work on predefined profile"
I know Puppeteer creates a fresh user profile (it creates its own Chromium user profile which it cleans up on every run)

**What is the expected result?**
I would like to request it should have one more option to work with **predefined profile**
 - We might save a few moment for setup
 - We might not have to see **welcome screen** every time we run it, waste 1 tab for it
 - We might keep all authe

[2017-09-25 04:26] vsemozhetbyt commented on #866
@lockevn See `userDataDir` option in the [`puppeteer.launch([options])`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions).

[2017-09-25 04:49] lockevn commented on #866
Yes, I was fooled by README "Puppeteer creates a fresh user profile" and missed that option.

For others:
 - run Puppeteer
 - on Windows, it creates temp profile in "C:\Windows\Temp\puppeteer_dev_profile-oaDUGz". You can see yours current running profile by go to `chrome://version`
 - make your setting, bypass welcome screen, login to your site, install extension ... at your wish
 - copy the profi

[2017-09-25 04:49] #866 closed, assigned to nobody

[2017-09-25 05:00] vsemozhetbyt commented on #866
@lockevn You can also do this for the first run with an empty pre-created folder:
[code]
After closing the Crome, all the user data will remain in the folder.

[2017-09-25 05:46] barnash opened #867 "Missing stack trace on timeout"
### Steps to reproduce

* Puppeteer version: 0.10.1
* Platform / OS version: OSX

Running this code:
[code]

Will produce the stack trace:
[code]

Which makes it very hard to debug the case.
The intuitive track trace I would expect should include the line where I run `page.waitForSelector()`.

Maybe there is another solution I'm not thinking about...

[2017-09-25 07:12] elenaoat opened #868 "Debugging puppeteer"
Is there a way to debug puppeteer?
I am trying hopelessly to click a button/submit a form and it just won't do it :/
Here's an example:
[code]

[2017-09-25 07:24] Khady opened #869 "URI malformed exception that is not handled"
I have an issue that I think is related to https://github.com/GoogleChrome/puppeteer/pull/668

I load a page in a loop, creating a new page each time and saving a screenshot as a result. After a few iterations, an exception is raised and not handled because of a malformed URI.

I tried to print all the url that are requested and I see some stuff like:

[code]

I wonder if it could be the source of

[2017-09-25 07:25] Wolke opened #870 "for a waterfall website ,can you set a function for auto scroll down until "selector" shown?"
as title
or how to scroll down ?

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

[2017-09-25 07:51] Khady commented on #869
I tried the patch from #668 and I can't reproduce the error anymore with it. So I really think that it is required to sanitize (automatically or with a hook?) the urls that are requested from the pages that are navigated to.

[2017-09-25 09:33] aslushnikov commented on #782
@brutalcrozt: check out the [lib/NavigatorWatcher](https://github.com/GoogleChrome/puppeteer/blob/master/lib/NavigatorWatcher.js) for the actual code. Also, the [Contributing.md](https://github.com/GoogleChrome/puppeteer/blob/master/CONTRIBUTING.md) has some tips on how to run and debug tests

[2017-09-25 09:36] aslushnikov commented on #723
@thetutlage no real updates so far; but @JoelEinbinder has something in works for this.

[2017-09-25 09:58] aslushnikov commented on #662
Thanks @pocketjoso for keeping this up-to-date.

The https://apartmentsdoralfl.com/ loads for me on chrome 60 in 2.8 minutes. I started waiting for `networkidle` instead of the load event to complete navigation, and the following works for me:

[code]

[2017-09-25 10:02] aslushnikov commented on #843
Given the puppeteer 0.11, the following should mitigate all the races:

[code]

Feel free to yell here if it doesn't help

[2017-09-25 10:02] #843 closed, assigned to nobody

[2017-09-25 10:05] aslushnikov commented on #809
@ebidel also, using [dumb-init](https://github.com/Yelp/dumb-init) in docker should help for proper chrome termination (see https://github.com/GoogleChrome/puppeteer/issues/615)

[2017-09-25 10:07] BkSouX opened #871 "Navigation Timeout during page.waitForNavigation"
Hi

I would like to get more info when I have a timeout during
[code]

Is it possible to know which requests are throwing a timeout ?

I just have that exception :

[code]

Thank you

[2017-09-25 10:17] aslushnikov commented on #839
@vsemozhetbyt I can't repro this on Mac. However, if you can repro this, would you mind checking if changing 'close' event to 'exit' in [Launcher.js:90](https://github.com/GoogleChrome/puppeteer/blob/45f264024b16ee0a23e8d5d9a974720108180997/lib/Launcher.js#L90) help you? We might be exitting too early.

@JoelEinbinder, would you have a chance to try reproducing this?

[2017-09-25 10:23] aslushnikov commented on #805
That's reasonable.

That's an opportunity to remove the `waitUntil` option: the API is a bit confusing.

I'd do:

[code]

[2017-09-25 11:12] Janpot commented on #805
@aslushnikov and what about having the `waitForNavigation` work even after the page has navigated?
Then you'd need to keep track of the page's state and network activity all the time, even when those functions aren't called yet.

[2017-09-25 11:22] aslushnikov commented on #558
@konstantinblaesi works for me with puppeteer 0.11.0

[code]

[2017-09-25 11:43] aslushnikov opened #872 "Add an API to override default launcher arguments"
There are certain usecases where it is needed to override default puppeteer launcher flags.

There should be a way to do that.

Suggestion:
[code]

[2017-09-25 11:50] aslushnikov commented on #469
@andrewlinfoot would you mind filing an new issue that has your script and the URL you try to scrape?

The `setRequestInterceptionEnabled` should not affect cookies.

[2017-09-25 11:56] aslushnikov commented on #859
@giacomocerquone what kind of error do you get?

[2017-09-25 11:58] aslushnikov commented on #860
@petarvasilev91 yes, this is a known issue. @pavelfeldman has some patch in works that implements lifecycle events support and that should address this issue.

[2017-09-25 12:00] aslushnikov commented on #861
@thatsnoi would running with the [`ignoreHTTPSErrors`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions) help?

[code]

[2017-09-25 12:02] konstantinblaesi commented on #558
@aslushnikov

According to `npm ls` I am on
[code]

I am not sure why, but I think it's chromium's fault. The issue encountered in the `headless mode + client certificate request from the web-server` scenario which I described in
 https://bugs.chromium.org/p/chromium/issues/detail?id=757181 wasn't reproducible by everyone either, but I have no idea why the behavior is different.
Running your snipp

[2017-09-25 12:06] aslushnikov commented on #865
Agreed, this should be fixed as a part of https://github.com/GoogleChrome/puppeteer/issues/257.

[2017-09-25 12:06] #865 closed, assigned to nobody

[2017-09-25 12:07] aslushnikov commented on #857
@pemrouz There's a [`elementHandle.uploadFile`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#elementhandleuploadfilefilepaths) method to populate input of type "file".

[2017-09-25 12:07] #857 closed, assigned to nobody

[2017-09-25 12:13] petarthewizard commented on #860
Will that patch be implemented in the official version?

[2017-09-25 12:15] aslushnikov commented on #868
@elenaoat I'd start with launching puppeteer in non-headless mode to see what's actually going on:
[code]

[2017-09-25 12:17] aslushnikov commented on #870
@Wolke you'll have to implement this on your end knowing the specifics of the website you're working on. There's no general way to do that.

In some cases, you'll be able to scroll down with the `window.scrollTo`:
[code]

[2017-09-25 12:17] #870 closed, assigned to nobody

[2017-09-25 12:18] pocketjoso commented on #662
@aslushnikov Thanks for the update. I see that this works, but why is the behavior so different (i.e. works "as excpected", without changing load trigger) when I don't use setRequestInterceptionEnabled?

[code]

Granted I had a look at this site's waterfall and yeah... it's messy, I can see how it causes problems. I just wish to not have hard to understand side effects like this when I enable requ

[2017-09-25 12:23] vsemozhetbyt commented on #870
Maybe this issue can help a little: https://github.com/GoogleChrome/puppeteer/issues/844

[2017-09-25 12:23] aslushnikov commented on #871
@BkSouX it means that navigation didn't complete in 30 seconds.
You can track all requests with the [`request`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-request) event, and you can keep track of finished requests using the [`requestfailed`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-requestfailed) and [`requestfinished`](https://github.co

[2017-09-25 12:23] #871 closed, assigned to nobody

[2017-09-25 12:25] aslushnikov commented on #613
@thujikun the [`Page.select`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageselectselector-values) method has just landed and should address this issue.

[2017-09-25 12:25] #613 closed, assigned to nobody

[2017-09-25 12:28] aslushnikov commented on #823
@davedmarketing no, there's no navigation lock for now. Could you please share your usage scenarios - why would you need one?

[2017-09-25 12:29] thujikun commented on #613
@aslushnikov
Awesome! This is the method I wanted!

[2017-09-25 12:29] aslushnikov commented on #818
For the record: the v0.11.0 [was released](https://github.com/GoogleChrome/puppeteer/releases/tag/v0.11.0) a few days ago.

[2017-09-25 12:29] #818 closed, assigned to nobody

[2017-09-25 12:34] aslushnikov commented on #814
@tjunnone this indeed looks like fonts issue. Font rendering depends heavily on the OS, so I wouldn't expect bounding boxes of text nodes to be the same.

[2017-09-25 12:34] #814 closed, assigned to nobody

[2017-09-25 12:38] aslushnikov commented on #805
@Janpot that should work as well when we migrate onto lifecycle events. The plan is to keep lifecycle state for every frame.

[2017-09-25 12:40] aslushnikov commented on #558
@konstantinblaesi the timeout issue might be due to the connection being slow. Try settings 'timeout' option for the `page.goto` to something huge, e.g. `1000000`.

[2017-09-25 12:41] caddave commented on #823
@aslushnikov For me I was looking into it for a site that had unpredictable behavior and was getting redirected randomly or elements with links popping up randomly and my script was clicking on them accidentally.

[2017-09-25 12:48] Janpot commented on #805
Ah great, I saw those new `networkidle` events, indeed. Is there a ticket for this already by any chance? Would love to follow up.

[2017-09-25 12:57] BkSouX commented on #871
Ok, is there a way to finish the loading of the page even if there is a timeout on some request inside the page ?

[2017-09-25 13:22] konstantinblaesi commented on #558
@aslushnikov I've tried that, it runs forever. This would not be a practical solution anyway. If I launch chrome and load this page it takes < 500ms to load according to chromes network tab.

[2017-09-25 13:44] avlapeto opened #873 "chrome-linux/chrome: undefined symbol: gtk_widget_get_scale_factor"
Hi everyone!

I try to use ChromeHeadless in karma.

// Puppeteer launcher
const ChromiumRevision = require('puppeteer/package.json').puppeteer.chromium_revision;
const Downloader = require('puppeteer/utils/ChromiumDownloader');
const revisionInfo = Downloader.revisionInfo(Downloader.currentPlatform(), ChromiumRevision);

![image](https://user-images.githubusercontent.com/9626018/30810989-80be1804

[2017-09-25 14:12] vsemozhetbyt commented on #839
@aslushnikov Unfortunately, changing 'close' event to 'exit' does not prevent this dialog.

[2017-09-25 15:35] thetutlage commented on #723
Oh that’s nice. Thanks for sharing

[2017-09-25 15:38] paulirish commented on #854
The page.tracing.start/stop methods can capture a trace. https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-tracing

with `disabled-by-default-v8.cpu_profiler` turned on you can get JS sampling profiler data in the trace. this category is [already enabled](https://github.com/GoogleChrome/puppeteer/blob/master/lib/Tracing.js) in puppeteer's settings..

(optionally also capturin

[2017-09-25 15:38] #854 closed, assigned to nobody

[2017-09-25 16:12] aslushnikov commented on #662
@pocketjoso your last script doesn't work for me right now - the `page.goto` throws a timeout exception for me. From what I see, it looks like website is unreliable by itself and makes things hard to debug.

Do I understand correctly that this could be closed now?

[2017-09-25 16:22] aslushnikov commented on #839
@vsemozhetbyt could you please also check if using taskkill instead of `chromeProcess.kill` will help? This would require changing [Launcher.js:130](https://github.com/GoogleChrome/puppeteer/blob/45f264024b16ee0a23e8d5d9a974720108180997/lib/Launcher.js#L130) to be:

[code]

[2017-09-25 16:25] pocketjoso commented on #662
Hmm my last script works reliably for me, even from different locations (via VPN).

I would ideally keep this open as it remains an issue, but I can understand if it's lower priority for you. If you want, close it for now, and I'll re-open if/when I have a few more sites that we can more reliably reproduce the error with - sounds good?

[2017-09-25 16:26] aslushnikov commented on #873
@avlapeto This looks like a dupe of #536. I'd recommend checking that your environment has all the dependencies installed properly: [Troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md).

[2017-09-25 16:26] #873 closed, assigned to nobody

[2017-09-25 16:27] haquezameer commented on #684
@JoelEinbinder Is this being worked upon?

[2017-09-25 16:36] aslushnikov commented on #558
@konstantinblaesi the https://archive.sap.com loads roughly in the same time for me in chrome and with the script I posted – both around 7 seconds. 🤷‍♂️

I'm afraid I can't reproduce your scenario, it could be that there's some specificity in the environment and/or website misbehaves under certain conditions.

[2017-09-25 16:38] vsemozhetbyt commented on #839
@aslushnikov This throws without closing the browser:
<details>
<summary>output:</summary>

[code]
</details><br>

[2017-09-25 16:43] aslushnikov commented on #871
@BkSouX I think there's some confusion about what page loading is.
1. There's no single correct definition of a loaded page out there.
2. Puppeteer provides some good estimations for page's loaded state:
    - `'load'`: page is considered loaded when it fires the "load" event.
    - `networkidle`: page is considered loaded when there's no network activity going on.

By default, the `page.waitForNa

[2017-09-25 16:47] aslushnikov commented on #805
@Janpot there's no ticket for lifecycle events, but I think you can follow the #728.

[2017-09-25 16:50] aslushnikov commented on #662
@pocketjoso deal!

[2017-09-25 16:50] #662 closed, assigned to aslushnikov

[2017-09-25 16:57] aslushnikov commented on #839
@vsemozhetbyt one last experiment:

[code]

(as suggested by [superuser post](https://superuser.com/questions/727724/close-programs-from-the-command-line-windows))

[2017-09-25 17:24] vsemozhetbyt commented on #839
@aslushnikov This one seems to prevent the dialog. Thank you!

[2017-09-25 17:34] ghost commented on #662
One thing of possible note is that apartmentsdoralfl appears to attempt to read all mousemove and touch and drag events and send them to the server, as part of some "anti spambot firewall" system written in PHP.  It might be throttling future requests or blocking them outright for anything, possibly..

[2017-09-25 18:05] happyDemon opened #874 "raspberry pi ELF: not found"
### Steps to reproduce
on a raspberry pi  I installed puppeteer (the installation itself didn't give any error).
Trying to start chromium I got 'ELF: not found'

**Tell us about your environment:**

* Puppeteer version: latest
* Platform / OS version: Debian 8.9
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

Not much to say he

[2017-09-25 21:17] ebidel commented on #868
A bunch other debugging tips are in the readme: https://github.com/GoogleChrome/puppeteer#debugging-tips

[2017-09-25 21:33] vsemozhetbyt commented on #867
FWIW, parent functions which set timeout callbacks are also excluded from stack trace:
[code]
[code]

[2017-09-25 21:36] vsemozhetbyt commented on #852
Upstream feature request: https://bugs.chromium.org/p/chromium/issues/detail?id=767873

[2017-09-25 22:07] vsemozhetbyt commented on #852
The request was rejected, but a link to extension API was provided. I do not know if this API can help in supporting the feature via DevTools protocol inside the puppeteer.

[2017-09-26 00:19] aslushnikov commented on #874
Unfortunately, puppeteer doesn't download chrome for arm.
See #550 for broad discussion.

[2017-09-26 00:19] #874 closed, assigned to nobody

[2017-09-26 00:20] #868 closed, assigned to nobody

[2017-09-26 01:56] sradu commented on #583
Was just wondering what the status of this issue is. I'm thinking it's about waiting for a new chromium build, right?

Thank you in advance!

[2017-09-26 01:59] aslushnikov opened #877 "Adopt plznavigate in puppeteer"
1. Recentrly, [plznavigate](https://groups.google.com/a/chromium.org/forum/#!topic/chromium-dev/sOs05JfmPFw) was enabled on Chromium Trunk.
2. plznavigate changed protocol behavior in a few subtle ways that we relied upon in pptr
3. plznavigate causes a protocol bug that blocks our adoption
    - [crbug.com/767683](https://bugs.chromium.org/p/chromium/issues/detail?id=767683)

For the reference: a

[2017-09-26 02:17] aslushnikov commented on #583
@sradu there's a PR with a chromium roll: https://github.com/GoogleChrome/puppeteer/pull/878

[2017-09-26 03:57] sradu commented on #583
Exciting! Looking fwd to trying it out!

[2017-09-26 03:59] pierre-moire commented on #802
I noticed the same thing

[2017-09-26 05:06] Khady opened #880 "INTERNAL ERROR: failed to find request for interception redirect"
When I try to access this url, I get an assertion error. If I remove or change the user agent, the problem seems to disappear. Maybe the website has a different behavior for this UA, but it shouldn't crash puppeteer.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 9b0a06216e5b364aecaef6931d7844a91bebe46e
* Platform / OS version: debian stretch
* URLs (if applicab

[2017-09-26 05:46] elenaoat commented on #868
Frankly, just setting it to a slow motion doesn't help at all. This was the very first thing I've done. I will read through the debugging tips, thanks @ebidel.

[2017-09-26 06:18] sharonass opened #882 "screenshots are being cut after few runs when using emulation for mobile devices"
OS : Ubuntu 16.04
Puppeteer version: 0.10.2 heppens also in 0.12.0-alpha

When taking screenshots  several times with emulations after some time the screenshot returns cut image - possible  scale factor issues (see details below)

here is sample code for how im taking the screenshot:

const devices = require('puppeteer/DeviceDescriptors');
let browserInst = await puppeteer.launch(options);
const p

[2017-09-26 06:27] LLLLLamHo opened #883 "Take the variable that gets the window scope in the browser"
I have a variable in the browser, the variable name is "a", how do I get it in puppeteer

[2017-09-26 07:12] Khady commented on #880
Another URL:
https://newwest.net/topic/article/cutthroat_habitat_faces_collapse/C41/L41/

[2017-09-26 07:23] avlapeto commented on #536
`dist: trusty` really help.
But have we some way to run tests with `dist: precise` ?

[2017-09-26 08:02] vsemozhetbyt commented on #883
@LLLLLamHo
[code]

[2017-09-26 08:18] LLLLLamHo commented on #883
@vsemozhetbyt

wow~ thanks!!!

[2017-09-26 08:19] tsabolov opened #884 "What is the reason of using a sync version of writeFile for pdf save?"
https://github.com/GoogleChrome/puppeteer/blob/9b0a06216e5b364aecaef6931d7844a91bebe46e/lib/Page.js#L588
Why wasn't async version of `writeFile` used for writing the pdf?

[2017-09-26 09:51] mikeys commented on #736
@aslushnikov @pavelfeldman guys, I know you got your hands full but I was wondering if there's any progress regarding this?

[2017-09-26 10:41] ghost opened #885 "Give support for selecting Chromium profile language instead of system default"
* Puppeteer version: 0.10.2
* Platform / OS version: macOS

Hi!
I'm trying to run the browser of puppeteer in Spanish, but my system is on English. Even I am Spanish I like to use my OS in English.
But some mates in my team are using the OS in Spanish, so the webpage content is different for me and some of them! How can I normalize this by setting the language of the profile?
As on every launch pu

[2017-09-26 10:54] matthewlilley commented on #537
+1

[2017-09-26 10:57] vsemozhetbyt commented on #885
You can try to pre-create an empty folder (say, `es-profile`) and launch the browser for the first time this way:
[code]
not calling `browser.close()`.

Then set the profile language and send `Ctrl+C` to the node console to close the browser and exit script gracefully.

Then you can use the same `userDataDir` option in any other scripts if needed.

[2017-09-26 11:04] simion314 commented on #666
@rossj I have a similar problem, I am trying to generate A4 documents but any scale factory I try it is a bit to low or too much and even if scale is too much and last page overflows I stil get a few pixels of white margins on bottom and right of the page, did you found a workaround ? It seems like you found the Chrome source that does the pdf, can you share the link to that code. Thanks.
P.S. My

[2017-09-26 11:16] ghost commented on #885
Thanks a lot! It works.

[2017-09-26 11:16] #885 closed, assigned to nobody

[2017-09-26 12:07] elenaoat commented on #681
I am also having troubles with key presses. For example, I've typed some text with type, then I want to press "Enter" in order to search for some term. However, nothing happens.

[2017-09-26 12:40] elf-pavlik commented on #858
workaround for WebdriverIO mentioned in that webcomponents issue: https://gist.github.com/ChadKillingsworth/d4cb3d30b9d7fbc3fd0af93c2a133a53

this comment mentions benchmarking `>>>` in Blink compared to JS based recursive traversals

[2017-09-26 13:23] manast opened #886 "Missing antialiasing on boxes"
I am not sure if this is a wrong setting or an issue. I could not find anything on the documentation or stackoverflow regarding this.
I am on Mac OS Sierra, tested on puppeter version 0.11 and 0.12 alpha. In 0.12 the div edges were better rendered but still no antialiasing, which does not look very good. I attached screenshots and example code:
[code]
Original html file:
[index.html.zip](https://g

[2017-09-26 13:54] paulirish commented on #884
I presume there isn't a strong reason.. :)

If you wanted to change it, I'm sure the eng team would appreciate a pull request.

[2017-09-26 14:03] Garbee commented on #884
If you do use the async version, it is still going to be `await`ed for processing. So is there any functional difference between the two at that juncture from the point of view of code operation?

[2017-09-26 14:11] Garbee commented on #886
We run with `--disable-gpu` [enabled by default](https://github.com/GoogleChrome/puppeteer/blob/86b05dadd5eab23f83185e0d5d16d3df00732681/lib/Launcher.js#L69) on the launched Chrome instances. With that in mind, this looks expected to me depending on how exactly the boxes get rendered.

[2017-09-26 14:36] paulirish commented on #884
@Garbee reading [lib/fs](https://github.com/nodejs/node/blob/master/lib/fs.js) and [this post](http://www.daveeddy.com/2013/03/26/synchronous-file-io-in-nodejs/) it seems like the big difference is that the node event loop is blocked with sync, so any events coming from the chrome child_process (for example) would not be recognized until after.

And there's [this issue](https://github.com/nodejs/n

[2017-09-26 14:42] Garbee commented on #884
SGTM then.

[2017-09-26 14:50] paulirish commented on #884
Ah. there's already a PR for this: #879

[2017-09-26 14:58] manast commented on #886
I understand. How can I override this setting, and also, why would the software renderer not support antialiasing, is it a chrome limitation?

[2017-09-26 15:05] Garbee commented on #886
Currently you can't override this from what I can tell. I think if we switch to the `chrome-launcher` package (which as I recall is being looked into) then it should be possible to enable GPU stuff.

As to why it isn't supported, that isn't something I'm able to answer. Perhaps someone from the team can provide some detailed information on that one.

[2017-09-26 15:24] ebidel commented on #858
`>>>` is deprecated: https://www.chromestatus.com/feature/6750456638341120

[2017-09-26 15:24] ebidel commented on #886
https://github.com/GoogleChrome/puppeteer/issues/872 will allow overriding default flags.

[2017-09-26 16:50] cassegfault commented on #418
@konstantinblaesi Thank you, have been trying to get this to work all morning and couldn't figure out why it wasn't working... It may be nice to have `Since vX.Y` on the docs

[2017-09-26 16:52] #883 closed, assigned to nobody

[2017-09-26 20:48] ClaudiuIO commented on #807
I am having the same issue. All the debian dependencies are installed. Any advice to make chromium run?

[2017-09-27 03:12] 3fuyu opened #890 "Page crashed!"
Puppeteer version: 0.11.0
Platform/ OS version: MacOS 16G and CentOS7 8G

I create 10 chromium instance, and create enough page for a high QPS about 300. And happened this problem. I think it happened because of too many pages opened. But it's necessary  because of business. so

1. What can I do for this problem?
2. And  are there some way I can catch the page crashed？
3. If the QPS more than 300,

[2017-09-27 08:01] rightgenius commented on #290
I finally get it work on centos 7.3.

1. install all dependencies:
[code]

2. modify the example script as follow:

[code]

To run chromium from command line, you should add `--headless` to prevent GUI related error, like this:
[code]

[2017-09-27 10:11] Garbee commented on #807
@claudiuIO can you please share your exact error message? And the OS version? If you do indeed have the same error, then you missed installing a dependency most likely.

[2017-09-27 11:48] pvtulsiram538 commented on #860
--disable-timeouts-for-profiling will work for sure

[2017-09-27 11:49] pvtulsiram538 commented on #860
--disable-timeouts-for-profiling will work for sure

[2017-09-27 11:55] pvtulsiram538 opened #891 "handleImageLoadError is not defined"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

[2017-09-27 11:56] pvtulsiram538 commented on #891
handleImageLoadError is not defined  when  interceptedRequest .abort() calls

[2017-09-27 12:00] pvtulsiram538 commented on #880
Hi bro i am also facing the same issue

[2017-09-27 12:23] phawxby commented on #623
I'm getting the same on windows also using file injection. The first few passes work then I get.

[code]

Line 44 of puppeteer-accessibility-audit is.
[code]

[2017-09-27 12:27] phawxby commented on #623
Running `yarn run test` for this project displays the error if you need a quick way to reproduce it
https://github.com/xeroxinteractive/gulp-puppeteer-accessibility-audit/tree/6703df8fba251857f7d1d51f6d75c69fedc4b9a1

[2017-09-27 15:51] ClaudiuIO commented on #807
@Garbee looks like it was an issue with my OS (I had tested it on an old test vm with Ubuntu 14.04)
I had installed all the dependencies. I tried installing on a newer debian machine and it worked there.

For the record, the error message was:
`Error during browsing process:  Error: Failed to launch chrome!
/home/user/webs/scrape-test/node_modules/puppeteer/.local-chromium/linux-499413/chrome-linu

[2017-09-27 16:02] Garbee commented on #807
`ELF not found` looks like that is an *ARM* build. Which puppeteer currently does not support (ref issue #550).

[2017-09-27 16:27] okbel commented on #684
Any update?

My temporary workaround is to go to the url of the iframe:

[code]

[2017-09-27 17:38] nynevi commented on #393
@HugoHeneault your page code helped solve my case, thank you for fighting against margins on behalf of us.

In my case it was:

`@page
{
  size: A4 portrait;
  margin: 0;
}`

[2017-09-27 18:04] ClaudiuIO commented on #807
Huh that's weird it was definetly a x86 machine that I got the error on.

[2017-09-27 18:09] SamVerschueren opened #892 "Add `addStyleTag(url)` API"
Puppeteer has a [`addScriptTag(url)`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageaddscripttagurl) method, it would be nice to have a `addStyleTag(url)` as well to easily add external styles.

// @kevva @sindresorhus

[2017-09-27 18:36] ebidel commented on #890
Dupe of https://github.com/GoogleChrome/puppeteer/issues/485.

Are you creating a page per request? 300 QPS is quite high. With only 8GB on the CentOS7, seems like you're definitely running into limits.

Apart from throwing more machines at the problem, could load balance the requests even more, provide a request queue, or introduce throttling? Unfortunately, this starts to get outside the scope o

[2017-09-27 18:38] sradu commented on #583
It's still crashing :( This is the script I'm running.

[code]
Dying with a Chromium segfault and this.

[code]

I'm based in SF and happy to meet up if you can't reproduce it.

[2017-09-27 18:47] DaveRandom commented on #613
Incomplete polyfill for `Page.select()` based on @fixingcredit's code. Should cover the most common case of setting the value to an option that is known to exist in a dropdown. Does not handle multiple selects and does not handle errors gracefully when the selector matches nothing or the specified value doesn't exist in the options.

[code]

[2017-09-27 19:48] Garbee commented on #807
Interesting. If you can file an issue with the machine's details and that error it would help a lot. Focusing discussion on figuring out why that's happening on an x86 build.

[2017-09-27 22:28] ebidel commented on #583
I get this when I hit http://www.barneys.com:

<img width="502" alt="screen shot 2017-09-27 at 3 26 35 pm" src="https://user-images.githubusercontent.com/238208/30941005-4d20866e-a398-11e7-87d5-4462fa5cadd5.png">

[2017-09-27 22:33] sradu commented on #583
@ebidel Our proxy/UA are whitelisted by the store. Any chance I can send you a UA and you send me an IP to whitelist on the proxy over email?

[2017-09-28 04:49] Khady opened #893 "Browser dies silently"
I'm trying to access a page in a loop, but at some points it seems that the browser is silently dying and I'm not aware of it until the next operation using the browser.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: ec760ab5e345cc18e3199e937ecddc6cac3bd703
* Platform / OS version: debian stretch
* URLs (if applicable): https://www.cbsnews.com/news/missouri-disa

[2017-09-28 05:42] thujikun commented on #613
@aslushnikov Doesn't this select method trigger change event on selecting value?

[2017-09-28 05:52] Khady commented on #893
Actually, it seems that I need to run this code in xvfb to make it crash faster. No idea why.

[2017-09-28 06:07] Khady opened #894 "Page closes itself silently"
Sometimes when I try to navigate to a url, the `goto` is successful but then the page seems to be closed and when I try to get the content of the page, I face an exception.

I face the error mostly when I run puppeteer in xvfb.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: aslushnikov/puppeteer#04311aa6cdc18ee0ab696532e805f857a880b8c3 but I can reproduce with m

[2017-09-28 06:12] 3fuyu commented on #890
Thank you very much. The puppeteer you invent change something huge, it's powerful !

Yes, one request one page.

The 300 QPS just a example, actually higher than this. Load balancing and server clustering already have. But it's not enough. So, I'm going to do a message queue, thanks.

@aslushnikov  aha, if you have, please. thanks~~

**Another question, if page crashing , I can get the url from `

[2017-09-28 08:16] popomore opened #895 "Does waitForFunction support async function"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: MacOS
* URLs (if applicable):

**What steps will reproduce the problem?**

I want to wait an async code, for example

[code]

**What is the expected result?**

It should wait until the function return true;

**What happens instead?**

it doesn't.

[2017-09-28 09:09] Khady commented on #893
`xvfb-run -a --server-args="-screen 0 1920x2000x24" bash -c "export DEBUG=* && nodejs bin/test_server/browser_dies.js 2> puppeteer.log"`

[browser_dies.js](https://github.com/GoogleChrome/puppeteer/files/1340231/browser_dies.js.txt)

I ran the program like this to get the puppeteer logs:
[puppeteer.log](https://github.com/GoogleChrome/puppeteer/files/1340224/browser_dies.log)

[2017-09-28 09:45] astefanutti opened #896 "Images overflow to next page in PDF export in screen mode"
Environment:

* Puppeteer version: 0.11.0
* Platform / OS version: Mac OS X

While running the following script:

[code]

With the following page:

[code]

The image gets printed in a second page in the PDF: [test.pdf](https://github.com/GoogleChrome/puppeteer/files/1340334/test.pdf)

While it is should be positioned in the first page as per the screenshot: ![test](https://user-images.githubuserco

[2017-09-28 09:55] katp4 commented on #686
@aslushnikov coming from a phantomjs background, is there currently any way to set custom headers only for the initial page open as opposed to every single request?

See phantomjs page.onInitialised event
http://phantomjs.org/api/webpage/property/custom-headers.html

[2017-09-28 10:05] JasonBoy commented on #386
one workaround is in `evaluate` method, get the anchor, and `ele.removeAttribute('target')`, then you click it

[2017-09-28 11:15] IanChen83 opened #897 "No browser websocket endpoint in /json/version?"
I want to use `puppeteer.connect` function to connect to an opened headless chrome (a system-wise one, not the one downloaded with puppeteer). However, there is no `webSocketDebuggerUrl` entry in `http://${host}:${port}/json/version`, as the [doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#browserwsendpoint) says.

Does this entry only exist when using a specific version of

[2017-09-28 12:31] elisherer commented on #433
@aslushnikov, do you have any progress on this matter?
And if not, would you like me to assist in any way?
As I understand, the upstream work have been done and is available on the current chromium version?

EDIT: I was able to construct a naive implementation of finding the containing iframe in the parent frame by doing the following (inside ElementHandle.js):
[code]

WDYT?

[2017-09-28 13:36] canonic-epicure opened #899 "Windows binaries broken"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11
* Platform / OS version: Windows 7, Windows 10

**What steps will reproduce the problem?**

1. Install puppeteer from npm
2. Go to the chromium installation directory: node_modules/puppeteer/.local-chromium/win32-499413/chrome-win32
3. Launch chrome.exe
4. Enter some url in the browser address area

**What is th

[2017-09-28 14:37] KimSchneider commented on #393
I have kind of a similar issue. I have tested my script on five different systems.

`return page.pdf({
                path: out,
                format: 'A4',
                margin: {
                    left: '2cm',
                    top: '4cm',
                    right: '1cm',
                    bottom: '2.5cm'
                }
            }).then(function () {
                logger.info

[2017-09-28 16:27] ks07 opened #901 "Provide reason for failed requests"
The 'requestfailed' event is similar to PhantomJS' onResourceError event, but in Puppeteer the event handler receives only a Request object. There should be a way for a requestfailed handler to determine what the cause of the failure was - for example, a timeout vs an unresolvable hostname.

[2017-09-28 16:29] zmarffy commented on #852
Ugh, this is frustrating. I'd love to have this feature.

[2017-09-28 16:34] niftylettuce opened #902 "`page.goto()` does not follow redirects"
This method does not resolve redirects per `301` nor `302` status codes.

It simply throws an error:

[code]

[2017-09-28 17:11] graingert opened #903 "create puppeteer-core package on npm"
Feature request, it would be great to be able to depend on puppeteer in other npm packages, but it automatically downloads Chromium which is a bit overkill for some people.

Turn this repo into a lerna repo with two packages:
[code]

[2017-09-28 18:50] applecool commented on #290
Unable to launch chromium on `Ubuntu Linux Server 14.04.5 LTS`. I even tried to launch the chromium manually. But it doesn't start or launch. It just throws me the prompt back.  `node_modules/puppeteer/.local-chromium/linux-499413/chrome-linux/chrome -v --headless --no-sandbox --disable-setuid-sandbox`

Times out every time with the following:
[code]
**Note:** The same exact configuration works an

[2017-09-28 19:09] ebidel commented on #903
I think we're already covered by `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD `.

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#environment-variables

[2017-09-28 19:11] graingert commented on #903
Yeah this isn't so good for other module authors though

[2017-09-28 19:21] ebidel commented on #903
They're available as npm config options too. The project can include an `.npmrc` and use `puppeteer_skip_chromium_download`. Or define the env variable in a `preinstall` script.

[2017-09-28 19:25] graingert commented on #903
@ebidel but then that stops it working for every other module

[2017-09-28 19:47] ebidel commented on #903
Maybe I'm misunderstanding [per-project configs](https://docs.npmjs.com/files/npmrc#per-project-config-file). I read that as only affecting the current project where you run `npm`.  Does npm install not apply the`.npmrc` of dep packages?

...I guess if your project sets this config, it may prevent sub packages that depend on pupppteer to not download chromium as well, but I'm not sure that would b

[2017-09-28 20:18] paulirish commented on #902
I would not expect a problem here.

You can try `page.goto('http://gmail.com')` with headless:false to verify that it does handle the series of redirects just fine.

[2017-09-28 20:46] hparadiz opened #904 "Chromium fails to launch in CentOS 7.2 (linux-503964, sandbox disabled)"
[code]
Weirdly..... I have NSS installed:

[code]

When launching from Puppeteer I get:
`Caught error: Error: Protocol error (Network.enable): Target closed.`

Machine info:
[code]

[2017-09-28 20:47] priyankapuranik opened #905 "Post Form with data and Header Properties"
I am doing some web scraping using puppeteer.I came across a href link(in "form" format) which i need to download.I need to use the http post method to post a form and also specify the request header !How do I do that?
URL: https://www.xyz.com
Method: POST
Headers:

Accept: text/html, application/xhtml+xml, */*
Referer: https://www.xyz.com
Accept-Language: en-US
User-Agent: Mozilla/5.0 (Windows NT

[2017-09-28 21:20] #905 closed, assigned to nobody

[2017-09-28 21:24] paulirish commented on #897
This was added a little bit ago so I don't believe its in Chrome 61. It's likely there in Chrome 62, though.

[2017-09-28 21:39] graingert commented on #903
@ebidel that works per project, but not per module. Using multiple singe purpose modules is a lot easier to consume for everyone and .npmrc files.

[2017-09-28 21:46] graingert opened #907 "page.setContent(html, {waitUntil: 'networkidle'});"
I'd like to be able to wait for network idle in:

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml

I'd like to be able to do:

[code]

because currently:

[code]

[2017-09-28 21:47] ebidel commented on #904
Dupe of https://github.com/GoogleChrome/puppeteer/issues/391

[2017-09-28 21:47] #904 closed, assigned to nobody

[2017-09-28 21:48] graingert commented on #903
providing a core library that doesn't download Chromium fits the goals of this project:

[2017-09-28 21:51] hparadiz commented on #904
This is absolutely not a dup! I've done everything in #391 to try to fix this!

[2017-09-28 22:00] ebidel commented on #904
https://github.com/adieuadieu/serverless-chrome/issues/53 suggests you may need to build a newer version of nss.

[2017-09-28 22:03] hparadiz commented on #904
@ebidel

I will try. Thank you

[2017-09-28 22:14] IronCrystal opened #908 "Attempting to download a file by writing the buffer from response"
I'm attempting to download a file using puppeteer while in headless mode.

Since that does not work, as seen in previous issues, I'm attempting to download the file by getting the buffer data of the response.

My issue is that whenever I try to get the buffer data, I get the following error:

        at Session._onMessage ....

When I am in headless: false mode, the file downloads just fine.  Is t

[2017-09-28 23:14] graingert commented on #907
my workaround is to use:

[code]

[2017-09-28 23:23] graingert commented on #907
closing as duplicate of https://github.com/GoogleChrome/puppeteer/issues/728

[2017-09-28 23:29] #869 closed, assigned to aslushnikov

[2017-09-29 01:22] Janpot commented on #901
Exactly! `Failed to navigate: <url>` isn't very useful. I mean, I already know what url I've put in.
I'd rather want to see something like `Failed to navigate: net::ERR_NAME_RESOLUTION_FAILED`. If possible with `net::ERR_NAME_RESOLUTION_FAILED` as a `.code` property of the error.

Edit: Hmm, seems like we're talking about different things. I meant the result from a failing `.goto(<url>)`. Sounds l

[2017-09-29 02:24] sradu commented on #583
I'm super incredibly sorry to be annoying, but I'm just wondering if you've been able to reproduce this. Or if I can do anything here.

[2017-09-29 02:46] ebidel commented on #583
I'm traveling for the next week :\ @aslushnikov or @JoelEinbinder might be able to take a look.

Just to be sure, when you tested again, were you test against master? The latest chromium roll hasn't made it to a release just yet.

[2017-09-29 03:01] sradu commented on #583
No worries. All good.

Yes, I used the github version after @aslushnikov pushed the chromium update.

[2017-09-29 03:39] jamesrealweb3 commented on #882
Maybe your UA information too old, try to change it (DeviceDescriptors.js) .

[2017-09-29 04:11] alexey-sh commented on #765
[code]
didn't help me. (Linux ip-172-31-31-178 4.9.43-17.38.amzn1.x86_64 #1 SMP Thu Aug 17 00:20:39 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux)
[code]

[2017-09-29 06:26] #897 closed, assigned to nobody

[2017-09-29 06:39] LeMoussel commented on #903
@ebidel, "_Or define the env variable in a preinstall script._" I  do this in `package.json`

And when I install `puppeteer`like this,

I got

Chromium is downloaded during installation step.

[2017-09-29 07:33] gtroshin commented on #703
Hey!
Any progress here? :) Maybe somebody knows the workaround?

[2017-09-29 08:12] ks07 commented on #901
@Janpot Yes different but closely related situations - it would also be very useful to have the error code set by `goto`!

[2017-09-29 10:32] Kxrr commented on #795
Hey guys, will anyone take a little time to look into this issue?

[2017-09-29 15:35] astefanutti opened #914 "Large images fit to pages in PDF export in screen mode"
Environment:

* Puppeteer version: 0.11.0
* Platform / OS version: Mac OS X

While running the following script:

[code]

With the following page:

[code]

The image fits the page in the PDF: [test.pdf](https://github.com/GoogleChrome/puppeteer/files/1344892/test.pdf)

While it is should overflow as in the screenshot PNG:
![test](https://user-images.githubusercontent.com/366207/31023554-8358595a-a

[2017-09-29 15:48] astefanutti opened #915 "Image position issue in PDF compared to screenshot in screen mode"
Environment:

* Puppeteer version: 0.11.0
* Platform / OS version: Mac OS X

While running the following script:

[code]

With the following page:

[code]

The image is not centered in the page in the PDF: [test.pdf](https://github.com/GoogleChrome/puppeteer/files/1344927/test.pdf)

While it is as in the screenshot PNG:
![test](https://user-images.githubusercontent.com/366207/31024109-51fa7670-a53

[2017-09-29 17:04] applecool opened #916 "Chrome Headless doesn't launch on Ubuntu Linux Server"
Environment:

- Platform: `Ubuntu Linux Server 14.04.5 LTS`, `Ubuntu Linux Server 16.04.3 LTS`
- Puppeteer Version: Tried both `0.10.2` and `0.11.0 (latest)`

Unable to launch chromium on `Ubuntu Linux Server 14.04.5 LTS` (both the mentioned platform versions). I even tried to launch the chromium manually using the following command: `node_modules/puppeteer/.local-chromium/linux-499413/chrome-linu

[2017-09-29 17:22] hparadiz commented on #904
Just to give an update.

The VM image on the datacenter's CentOS 7.2 image was frozen at 7.2 so I added a new repo sourced to CentOS 7.4 which had NSS 3.28 so I was able to upgrade and get chromium working.

[2017-09-29 17:39] hparadiz commented on #916
Try updating to the latest puppeteer. You should have Chromium r503964 with puppeteer@0.12.0-alpha

[2017-09-29 17:40] hparadiz commented on #916
What version of NSS do you have installed?

[2017-09-29 17:51] applecool commented on #916
@hparadiz You mean `libnss3` ?

[2017-09-29 18:01] applecool commented on #916
@hparadiz By the way I am unable to install the `0.12.0-alpha`.  On `npm install` I get the following:

[code]

[2017-09-29 18:15] hparadiz commented on #916
@applecool Yes, libnss3 needs to be at least version 3.26

npm install or npm update should push up to 0.12.0

I think you need to skip `-alpha` when using npm

[2017-09-29 18:27] applecool commented on #916
@hparadiz The `libnss3` version is `3.28.4`. And I did skip the -alpha and tried it. Didn't work. :( I mean, its still giving me the same error, no matching version found for `puppeteer@0.12.0`. My npm version is `5.4.2`

[2017-09-29 18:27] #744 closed, assigned to nobody

[2017-09-29 18:41] #839 closed, assigned to nobody

[2017-09-29 19:21] #750 closed, assigned to nobody

[2017-09-29 20:44] ebidel commented on #903
@LeMoussel I wouldn't expect that one to work. If you create an `.npmrc` file in your project folder and add `puppeteer_skip_chromium_download = true`, that should prevent the download.

@graingert so to confirm...

Sounds like no? From my limited testing trying to `npm install` a folder that contains an `.npmrc` with the config var, it doesn't work. That may explain this note in the docs:

...we

[2017-09-29 21:07] graingert commented on #903
Yep eg:

[code]

Then users can install puppeteer or `@google/chromium` and library authors can install `@google/puppeteer-core`

[2017-09-29 22:14] alexkozy commented on #550
Yesterday, I successfully run latest puppeteer on Raspbian. Let me go through all steps that I tried:

1. just run puppeteer as is - npm install successfully got latest Chromium build for Linux, but on attempt to run it: ELF: not found. Ok, the reason - downloaded version is not arm one.
2. apt-get install chromium-browser - I tried to use this Chromium by passing executablePath as launch argument

[2017-09-29 22:29] Silur commented on #550
maybe upload it to some CDN and make a PR?

[2017-09-29 23:57] sradu opened #917 "Global navigation timeout? (useful for redirecting clicks and other similar events)"
In phantom we could set up a default timeout across all requests. This is useful as sometimes performing certain actions trigger redirects and it's not always obvious when to waitForNavigation.

I think it would be useful to be able to set up a per page or a per browser timeout.

[2017-09-30 00:19] aslushnikov commented on #880
Thanks for filing this. I can repro with the following script:

[code]

[2017-09-30 02:29] vsemozhetbyt opened #918 "userDataDir + headless = browser and script (node) hang"
* Puppeteer version: v0.12.0-alpha
* Platform / OS version: Windows 7 x64

Create a test script and an empty folder `test-profile-dir`:
[code]
Browser and script (node) hang (do not exit). After `Ctrl+C`, the script (node) exits, but some Chromium processes remain.

It seems [`taskkill /pid`](https://github.com/GoogleChrome/puppeteer/pull/876) does not close headless process without `/f` flag (`WM

[2017-09-30 06:33] PeKoehler commented on #426
[Edited:] method needs its parameters als object literals, i.e. name:value pairs

[code]

[2017-09-30 07:00] zenxds opened #919 "Can executablePath be google-chrome-stable, not just chromium"
I'm writing a puppeteer tool, after package into an executable with [pkg](https://github.com/zeit/pkg), I got spawn chromium error。

so i want to use the installed google-chrome, after I pass the google-chrome-stable path find by `chrome-launcher/chrome-finder`, the launcher timeout。

Can executablePath must be chromium path ?

[2017-09-30 07:29] #782 closed, assigned to nobody

[2017-09-30 07:58] wj-1993 commented on #882
i have the same question, how to resolve

[2017-09-30 08:12] nisrulz commented on #908
Hi @IronCrystal I believe you are getting that error because you are listening for all urls and trying to download from the first one thats caught by the listener. Instead you should do something like only attempt a download from a url that contains `.csv` extension in it.

I have created and uploaded an example script to do the same [here](https://github.com/nisrulz/puppeteer-examples/blob/master

[2017-09-30 08:13] nisrulz commented on #653
@Garbee I figured out the solution and was able to write the file properly. Thank you for your help. Closing this issue now.

[2017-09-30 08:13] #653 closed, assigned to nobody

[2017-09-30 08:16] aslushnikov commented on #892
Sounds reasonable. This is easy to implement similarly to `addScriptTag` [implemention](https://github.com/GoogleChrome/puppeteer/blob/215b3497c755cfe77d0a264535cf9d4c516002c2/lib/FrameManager.js#L346).

I'd appreciate if someone sends a PR for this (with a test and documentation).

[2017-09-30 08:21] aminjoharinia commented on #550
@ak239 Great ! Please upload it faster to check it out
Thanks

[2017-09-30 09:08] alexkozy commented on #550
Ok. It's temporary solution, I hope that we'll make it more fancy soon.
By following [link](https://drive.google.com/a/chromium.org/uc?id=0B7RLEApsOKBLZUZuQl9JR3dXS2c&export=download) you can download chromium required for puppeteer in headless mode, download it, upload to raspberry pi, unpack it, install required dependency and run one of the puppeteer example to check that it works and please sh

[2017-09-30 09:52] SamVerschueren commented on #892
Thanks for pointing to that location. Would like to take this one :).

[2017-09-30 10:17] ramusbucket opened #920 "mutation example?"
I'm not able to understand `page.waitForFunction(pageFunction[, options[, ...args]])`

is `pageFunction` a predicate/condition to wait for? if yes, then I do not understand what the Polling of it means. If I use `{ polling: 'mutation' }` - it says it will execute `pageFunction` on every DOM mutation. So this is confusing for me.

Let's say I want to get do this -
`page.waitForFunction(DoSomeWork,

[2017-09-30 10:38] ramusbucket commented on #920
As I understand this `waitForFunction` seems to b a misnomer. I can understand `waitForNavigation`, `waitFor(Selector...)` to be loaded in the DOM but `waitForFunction(...)` does not appeal. IMHO, `waitForFunction` should be in `evaluate`. For example, `evaluate(function, [onPollingInterval or
mutation])` - second argument is optional. If second argument is not provided, instant evaluation happens

[2017-09-30 11:00] Sinequanonh commented on #338
Some lazy contents only appear after a few seconds with no scroll down. It'd be nice to have an option to wait for x seconds before taking the screenshot

[2017-09-30 13:34] vsemozhetbyt opened #921 "userDataDir + headless = lost authorization"
* Puppeteer version: v0.12.0-alpha
* Platform / OS version: Windows 7 x64
* URLs (if applicable): any that needs authorization

1. Create a test script and an empty folder `test-profile-dir`:
[code]
You will see something like this:
[code]
Sign in into Twitter and close the browser.

2. Run the same script second time (`await browser.close();` can be uncommented). You will see something like this:

[2017-09-30 16:22] LeMoussel commented on #550
@ak239 Do you mean that `sudo apt-get install chromium-browser` was finally not be able to download the latest version? Can youn explain how to install recent Chrome browser for Pi?

[2017-09-30 16:28] mizdra opened #922 "Different font family between { headless: false } and { headless: true }"
Sorry, I report here because I did not understand where this issue should be reported to (DevTools Protocol or Chromium or Puppeteer) :bow:

A default font family is `Times New Roman` in `headless: true`, however it is `Hiragino Kaku Gothic ProN` in `headless: false`. In my environment, `Hiragino Kaku Gothic ProN` is `Standard font` which is set at `Settings > Customize fonts > Standard font`. Is

[2017-09-30 18:32] rclai commented on #550
Is there no ARM build of Chrome? @ak239 are you able to type up instructions of how your compiled Chrome for ARM?

[2017-10-01 00:29] arsen-sargsyan commented on #794
@codenoid try this

[code]

[2017-10-01 02:59] jonlinper commented on #684
In my case, clicking element inside iFrame does the click, but in a wrong coordinates.
In detail, it doesn't calculate the offset position of the iframe in the main frame.

[2017-10-01 03:27] jonlinper commented on #684
ElementHandle.js: "_visibleCenter": Changing "getBoundingClientRect" for "boundingBox" fix the issue.
"boundingBox" from https://github.com/GoogleChrome/puppeteer/pull/445/files

[2017-10-01 03:38] floydtagle opened #923 "setUserPreferences on puppeteer?"
How to set setUserPreferences on puppeteer? Like download.default_directory, download.directory_upgrade, download.prompt_for_download and plugins.always_open_pdf_externally? Please help... Thanks..

[2017-10-01 07:15] vsemozhetbyt commented on #923
@floydtagle You can set them manually using `userDataDir` in the [`puppeteer.launch()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions) with a pre-defined profile.

[2017-10-01 12:07] sharonass commented on #882
I've resolved it to set manually the scalefactor to 0 or 1

[2017-10-01 14:09] chanzone opened #924 "page.$(selector) and page.$$(selector) Not Working"
Both `page.$` and `page.$$` do not work for me. Earlier I was using Puppeteer 0.10, but after that I followed the resolution in #492 to upgrade it via `npm install https://github.com/GoogleChrome/puppeteer/` to the latest 0.12.0-alpha. However, it still doesn't work with output below. Any suggestion?

**Version:**
* Puppeteer 0.12.0-alpha
* Node 8.4.0
* Ubuntu 16.04

**Code:**
[code]

**Output:**

[2017-10-01 14:18] vsemozhetbyt commented on #924
Why do you think it does not work? The output is expectable. The functions return one or more [`ElementHandle`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-elementhandle) objects.