[2017-10-23 15:17] ebidel commented on #1077
You can't modify devtools settings by running code in the console. That
would be a huge security concern. You could try using the raw devtools
protocol for overriding geolocation settings. Just note that puppeteer
doesn't expose a way to access the raw devtools protocol, so that's harder
to do than it should be.

devtools-protocol/tot/Emulation/#method-setGeolocationOverride

On Mon, Oct 23, 2017,

[2017-10-23 16:22] #1117 closed, assigned to nobody

[2017-10-23 17:29] #1119 closed, assigned to nobody

[2017-10-23 17:45] aslushnikov commented on #982
@gajus if passing in functions doesn't work for you, you can always pass in a string. There's no need to add parameters to the string since you can use [template strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) to embed them: https://github.com/GoogleChrome/puppeteer/issues/982#issuecomment-335392002

[2017-10-23 17:52] aslushnikov commented on #902
@ali-habibzadeh no, not yet. feel free to file an issue for this

[2017-10-23 17:56] aslushnikov commented on #1122
On the contrary, they're heavily used for code generation. Check out [chrome-remote-interface](https://github.com/cyrus-and/chrome-remote-interface/).

[2017-10-23 18:01] gajus commented on #982
I have tried your suggestion.

[code]

Gives:

[code]

[2017-10-23 18:03] aslushnikov commented on #982
@gajus I forgot quotes around `console.log` argument.

The following works for me:

[code]

[2017-10-23 18:03] bootstraponline commented on #1122
What project reads the JSON files and outputs clients in different languages?

For API description JSON, it's [google/apis-client-generator](https://github.com/google/apis-client-generator). For protobuf, it's [googleapis/api-compiler](https://github.com/googleapis/api-compiler)

For dev tools, I'm not seeing anything like that in `chrome-remote-interface`

[2017-10-23 18:04] gajus commented on #982
This method is limited to strings. It is not passing anything. It is interpolating the value.

[2017-10-23 18:05] gajus commented on #982
Anyway, if anyone else stumbles upon this, a reasonable workaround is to use `new Function`, e.g.

[code]

[2017-10-23 19:11] sradu opened #1137 "SSL Certificate error: ERR_CERT_AUTHORITY_INVALID on certain sites"
Running this script in a Debian environment returns:

(node:7395) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: SSL Certificate error: ERR_CERT_AUTHORITY_INVALID

[code]

There are other sites as well. Is it because of system certificates?

Thank you!

[2017-10-23 19:12] gajus opened #1138 "Add ability to extend selector mechanism"
The current selector logic is restricted to CSS selectors, https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Selectors.

It would be handy if there was a way to override the default selector mechanism, which is now using `document.querySelector`.

As an example of a use case, an equivalent of jQuery's [`:contains()`](https://api.jquery.com/contains-selector/) selector would be extremely useful.

[2017-10-23 19:14] Partysun commented on #353
@Pomax Could you show some example for OAuth test?

[2017-10-23 19:36] twalpole commented on #469
Note that `page.authenticate` behind the scenes enables request interception.  So if you ever set `page.authenticate` and don't reset it to null, request interception will be enabled (even if the user calls `page.setRequestInterceptionEnabled(false)`) and the Referer header will be stripped

[2017-10-23 19:46] gajus commented on #999
Is there a workaround for this?

[2017-10-23 19:48] JoelEinbinder commented on #999
The next release should have the fix for this in it. You can checkout directly from GitHub in the meantime.

[2017-10-23 19:54] gajus opened #1139 "Missing ElementHandle.select; impossible (?) to make selection in a frame"
There is no `frame.select` equivalent of the [`page.select`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageselectselector-values). As far as I can tell, there is no way to select an option within an iframe.

[2017-10-23 19:58] gajus commented on #1139
As a quick workaround, here is a helper function replicating the [`page.select` behaviour](https://github.com/GoogleChrome/puppeteer/blob/126ab7b90e475daabc9d595f1d3c98a1473eb0de/lib/Page.js#L773-L793):

[code]

[2017-10-23 19:59] gajus commented on #1139
In general, considering that Puppeteer wants to stay lean, I would advise getting rid off all built-it methods such as select, click, etc. and provide them as helper functions in the above format.

This will solve the problem that you have at the moment – page and frame methods diverging, e.g. https://github.com/GoogleChrome/puppeteer/issues/1051.

[2017-10-23 20:06] gajus opened #1140 "iframe present in the DOM is not listed in page.frames()"
Consider the following scenario:

[code]

The selector `iframe[src*=tnspayments]` is resolved, but at this time `page.frames()` does not know of the frame.

This feels like a browser bug.

Adding an arbitrary wait time solves the issues.

[code]

I suppose a thorough implementation could wait for `frameattached`.

Bringing this up in case it is not a desired behaviour.

[2017-10-23 20:18] gajus commented on #999
I have just tried using master.

[code]

Gives no error and does not update the input value.

[2017-10-23 20:30] gajus commented on #999
Note that focus does work.

[code]

[2017-10-23 20:33] gajus commented on #999
Interesting. It looks like there is some delay between an element in an iframe can be selected and when it can by typed to.

[code]

[2017-10-23 20:33] JoelEinbinder commented on #999
@gajus are you sure something else isn't going on?

The implementation of `element.type` is:
[code]

[2017-10-23 23:11] eblanshey commented on #323
I'm curious how chrome's dependencies would be handled on Lambda, e.g. X11, fontconfig, etc?

[2017-10-24 01:12] aslushnikov commented on #777
This is fixed now.

[2017-10-24 01:12] #777 closed, assigned to JoelEinbinder

[2017-10-24 01:16] aslushnikov commented on #723
For this issue to be closed:
- add API example
- explain why await keyboard.down('Shift'); await keyboard.type('hello'); does not produce 'HELLO'

[2017-10-24 02:15] lisiyizu opened #1143 "The problem of Chinese disorderly code"
my puppeteer web deploy in heroku!
the test heroku  site:  https://urlforpdf.herokuapp.com/urltoimg?url=http://www.baidu.com
The problem of Chinese disorderly code:

![image](https://user-images.githubusercontent.com/12014252/31921831-fcb8a9c8-b836-11e7-9583-af1d96d29e92.png)

[2017-10-24 02:38] hirokith commented on #1143
You're missing fonts support on the system, try install Chinese fonts, for example in RedHat/CentOS:

[code]

[2017-10-24 03:51] ironicstone opened #1144 "Content(map) overflow to next page when generate pdf"
* Puppeteer version: 0.12.0
* Platform / OS version: macOS 10.12.6

**What steps will reproduce the problem?**

run the following code will reproduce the problem

[code]

the detail of the map.html

[code]

**What is the expected result?**
The map content doesn't overflow to next page. My solution now is add an extra page right after the map page and set a proper pageRanges to skip this extra page

[2017-10-24 05:32] saselovejulie opened #1146 "how do i accept chrome location dialog alert?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: win10 64
* URLs (if applicable): https://www.google.com/search?num=100&newwindow=1&dcr=0&source=hp&q=hotels&oq=hotels

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. when a website request a geo location, chrome will alert a dialog
2. i

[2017-10-24 05:57] saselovejulie commented on #1146
Electron support this function can solve this alert :
ses.setPermissionRequestHandler(handler)
handler Function
webContents WebContents - WebContents requesting the permission.
permission String - Enum of ‘media’, ‘geolocation’, ‘notifications’, ‘midiSysex’, ‘pointerLock’, ‘fullscreen’, ‘openExternal’.
callback Function
permissionGranted Boolean - Allow or deny the permission
Sets the handler whic

[2017-10-24 06:05] saselovejulie commented on #1146
Maybe we can use a chromium-command-line  from this website
https://peter.sh/experiments/chromium-command-line-switches/

[2017-10-24 07:28] saselovejulie commented on #1146
@ebidel @aslushnikov
could you help me? thanks alot

[2017-10-24 07:35] #946 closed, assigned to nobody

[2017-10-24 08:29] ali-habibzadeh commented on #902
I have already [https://github.com/GoogleChrome/puppeteer/issues/1132](url)

[2017-10-24 08:35] ali-habibzadeh commented on #1134
I don't want get the response, i want to respond myself in certain cases so I don't need `response`

[2017-10-24 08:37] chenxiaochun commented on #844
`autoScroll()`, the below is my implementation:

[code]

[2017-10-24 08:38] vsemozhetbyt commented on #1134
Sorry for the misunderstanding. Then you just need to be sure you use the proper version with `request.respond()` added.

[2017-10-24 08:46] ramgkn commented on #963
Have similar issue with Chrome Driver 2.33 Selenium 3.5 and C# code base.

script working fine with headless false but not navigating to webpages with headless true.

Code Snippit added below:

 ChromeOptions chromeOptions = new ChromeOptions();

chromeOptions.AddArguments("--no-sandbox", "--disable-gpu", "--headless");

chromeOptions.AddArgument("window-size=1920,1080");

ChromeDriverService serv

[2017-10-24 09:45] Garbee commented on #1146
Duplicate of #846

[2017-10-24 09:55] saselovejulie commented on #846
i need geolocation permission... hope this will be release soon

[2017-10-24 09:59] saselovejulie commented on #1086
i really need this..

[2017-10-24 10:32] ali-habibzadeh commented on #1134
The latest available on npm is 0.12.0, I am guessing .respond is part of 0.13.0?
Can you guys do a release schedule like angular so we can plan accordingly (if possible ofcourse)?

[2017-10-24 10:55] fran0254 commented on #1140
I have the same problem 1+

[2017-10-24 11:57] GuilloOme commented on #902
you mean: #1132 :wink:

[2017-10-24 12:58] fran0254 opened #1149 "how to check if selector exists or is present ?"
``
if (await page.$eval('selector', {timeout: 3000}))
  {
  	console.log('found');
  }
else
{console.log('no found');}
``

[2017-10-24 13:16] hirokith commented on #1146
I've also encountered this problem, and I figured out a solution. You could launch puppeteer with customized `userDir` option, and when the permission dialog alerts, you check it manually, after that the choice will be saved to the `userDir/Preferences` file, and next time you run the code, the Chromium could use the saved preference in your customized `userDir`, and should no longer alert the per

[2017-10-24 13:38] saselovejulie commented on #1146
@dickeylth thanks, i will have a tru

[2017-10-24 14:41] Samlin901211 opened #1150 "screenshot problem"
I run a program in Ubuntu and take a screenshot.But the Chinese words are as same as squares.Howerver,it's ok in Window 7。Someone knows how to solve it?

[2017-10-24 14:42] Samlin901211 commented on #1150
LANG=
LANGUAGE=
LC_CTYPE="zh_CN.utf8"
LC_NUMERIC="zh_CN.utf8"
LC_TIME="zh_CN.utf8"
LC_COLLATE="zh_CN.utf8"
LC_MONETARY="zh_CN.utf8"
LC_MESSAGES="zh_CN.utf8"
LC_PAPER="zh_CN.utf8"
LC_NAME="zh_CN.utf8"
LC_ADDRESS="zh_CN.utf8"
LC_TELEPHONE="zh_CN.utf8"
LC_MEASUREMENT="zh_CN.utf8"
LC_IDENTIFICATION="zh_CN.utf8"
LC_ALL=zh_CN.utf8

[2017-10-24 14:46] Samlin901211 commented on #1150
![2](https://user-images.githubusercontent.com/8406620/31949946-1cce4e76-b90d-11e7-9f38-7f07107b325b.png)

[2017-10-24 14:51] vsemozhetbyt commented on #1134
You can install the latest version by `npm install https://github.com/GoogleChrome/puppeteer/`.

This may probably be added to Readme.md.

[2017-10-24 15:00] vsemozhetbyt commented on #1149
As a variant:
[code]

[2017-10-24 16:09] NicolasWebDev commented on #1058
I confirm the problem. Was it by design?

[2017-10-24 17:04] aslushnikov commented on #805
@Janpot lifecycle events turned out to be insufficient for this. We'll need to plumb the navigationIds/documentIds through the protocol as well.

I'll scope this bug to the initially suggested array of strings.

[2017-10-24 17:05] #805 closed, assigned to aslushnikov

[2017-10-24 20:58] drew28 commented on #1150
Try to install the `google-noto-cjk-fonts` package.

[2017-10-24 21:03] #1149 closed, assigned to nobody

[2017-10-24 21:32] jindongh commented on #550
[code]

[2017-10-24 22:14] svickers commented on #1082
Have the same issue but on Windows, with 0.12.0 and 0.13.0-alpha.  Suggestion from @pwnall fixes it for me.

[2017-10-24 22:40] akob commented on #1126
So when it will be fixed?

[2017-10-24 22:47] aslushnikov commented on #1047
@pemrouz @tnolet @entrptaher do you guys use custom user data dir to launch puppeteer? I have a fix for this case.

[2017-10-24 23:06] #65 closed, assigned to nobody

[2017-10-24 23:18] aslushnikov commented on #1150
Looks like a dupe of #1143

[2017-10-24 23:18] #1150 closed, assigned to nobody

[2017-10-24 23:42] aslushnikov commented on #1058
Yes, `slowMo` argument adds delay between characters in `page.type`. This is by design.

The `slowMo` is not supposed to be used on a production system; it's purely for debugging purposes.

[2017-10-24 23:42] #1058 closed, assigned to nobody

[2017-10-24 23:45] aslushnikov commented on #1104
This is fixed in 0.13.0-alpha with the new [setContent](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml-options) method. Your code should also work now.

[2017-10-24 23:45] #1104 closed, assigned to nobody

[2017-10-24 23:48] aslushnikov commented on #1140
Can you guys please share the exact script and URL?

[2017-10-24 23:49] aslushnikov commented on #1139
I'd be happy to review a PR that adds `select` method to the frame as well.

[2017-10-24 23:58] entrptaher commented on #1047
I don't use user data dir.

And, I think taskkill failed to close child processes every time **only** on a windows 7. If the process creates it's own child processes, then somehow windows needs more instruction on killing the child.

I see your fix, will try it and let know.

[2017-10-25 00:04] aslushnikov commented on #1138
Currently, the suggested approach for plugins is to write a bunch of helper methods and publish them as a peer dependency. For example, this particular scenario is implementable atop of current API.

We don't have any plans to improve our extensibility story unless there's a huge demand and the suggested approach proves to be insufficient. Closing this for now.

[2017-10-25 00:04] #1138 closed, assigned to nobody

[2017-10-25 00:08] aslushnikov commented on #1137
Can't reproduce this on current tip-of-tree: 0.13.0-alpha. Could you please check if it works for you on tip-of-tree?

[2017-10-25 00:10] aslushnikov commented on #1135
Can't reproduce this on current 0.13.0-alpha. Could you please check if it works for you on tip-of-tree?

[2017-10-25 00:14] aslushnikov commented on #1134
`.respond()` was added in 0.13.0-alpha and hasn't been released yet.

We'll get there eventually. The project is still very young :)

[2017-10-25 00:14] #1134 closed, assigned to nobody

[2017-10-25 00:26] sukrosono commented on #1047
I also don't use user data dir. I will inform here if still get this after applying that patch.

[2017-10-25 00:48] sradu commented on #1137
I'm afraid it's still happening with tip-of-tree.

[2017-10-25 03:20] Samlin901211 commented on #1143
Ubuntu:  try to install   sudo apt-get install fonts-wqy-zenhei

[2017-10-25 04:51] lisiyizu commented on #1143
the proplem is solved!
heroku need the  buildpack：heroku-buildpack-converter-fonts
https://elements.heroku.com/buildpacks/debitoor/heroku-buildpack-converter-fonts

[2017-10-25 04:53] #1143 closed, assigned to nobody

[2017-10-25 04:57] ngyikp commented on #1129
Seems to be addressed at https://github.com/GoogleChrome/puppeteer/pull/1153

[2017-10-25 05:45] bora89 opened #1156 "Demo page does not work"
* Go to https://try-puppeteer.appspot.com/
* Click Run
* See `Error running your code. Error: Page crashed!`

[2017-10-25 06:16] panthony commented on #1135
Using ab9b34cd5dad54e170be916016a4e9b4097231ed as dependency, I tried:

[code]

And unfortunately same behavior:

[code]

For now `https://www.twitch.tv/directory/all` is the only website I found where this issue happen.

[2017-10-25 08:44] aslushnikov commented on #1156
Weird, works for me.

Anyway, please file try-puppeteer-related issues at https://github.com/ebidel/try-puppeteer/issues
Thanks!

[2017-10-25 08:44] #1156 closed, assigned to nobody

[2017-10-25 08:49] aslushnikov commented on #1047
@brutalcrozt @entrptaher If you guys live inside docker, it might be related to #615. Check out it's proposed workaround to use [dumb-init](https://github.com/Yelp/dumb-init).

[2017-10-25 09:43] xxwait commented on #1110
Yes,if you don't wanna listening the Request event,set the setRequestInterceptionEnabled be false!

[2017-10-25 09:53] xxwait commented on #1134
I will bet your peppeteer version is lower than 0.13.0, cause I also have solve the issue today.

[2017-10-25 10:07] GautierT commented on #1104
Thanks @aslushnikov.
When this release will be available ?
Edit : i used `npm install git+https://github.com/GoogleChrome/puppeteer.git#ab9b34cd5dad54e170be916016a4e9b4097231ed`
And it's working. Thanks

[2017-10-25 11:06] nhoizey opened #1157 "Add a way to set the root font size, as a user could in the browser settings"
**What is the expected result?**

I would like to be able to test how websites behave when a user sets a root font size that is different from the default 16px.

So I need a way to tell puppeteer to change the root font size value.

![image](https://user-images.githubusercontent.com/78213/31995580-58f40256-b985-11e7-9848-9932e74193f2.png)

[2017-10-25 11:31] simongroom commented on #1088
@ricardobruno Thanks - not sure how I missed that, but that change has fixed my issue too.

[2017-10-25 11:34] tnolet commented on #1047
@aslushnikov No Docker, no Windows, no User Data Dir. Just plain install MacOS and Ubuntu.

[2017-10-25 11:37] Khady opened #1158 "Waiting for either `load` or `networkIdle`"
I wonder is it is possible to have a behavior which is the "opposite" of the one requested in #805. I'd like to consider goto as done when either `load` is fired or when `networkidle` is ready.

Actually, something even more wonderful would be to be able to express more complex combinations of events. I would like to have something like `["load", ["domcontentloaded", "networkidle0"]]`. goto would

[2017-10-25 11:42] Khady commented on #880
This bug appears very often for me. If the main team doesn't have time to fix it, could we have leads on where to look to try to fix it?

[2017-10-25 12:17] phawxby commented on #1126
Confirmed in V0.12.0 with anchors too.

[2017-10-25 13:01] Khady opened #1159 "ignoreHTTPSErrors is not working when request interception is on"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: ab9b34cd5dad54e170be916016a4e9b4097231ed
* Platform / OS version: debian stretch, nodejs 8.8
* URLs (if applicable): https://halva.khady.info

**What steps will reproduce the problem?**

Just launch this code to see the problem:

[code]

**What is the expected result?**

With the request interception disabled:

[code

[2017-10-25 13:12] NicolasWebDev commented on #1058
I guess that we were abusing it a bit (at least in my case) as a sleep to make the actions work. I will have to use better the waitFor* instead.

[2017-10-25 13:24] laispace commented on #540
I run into the same certificate popup dialog, anybody knows how to get rid of it?

[2017-10-25 13:34] laispace commented on #540
@fusionx1 How do you solve the problem finally?

[2017-10-25 13:37] danieljuhl commented on #1058
I partly disagree with the current behaviour. I understand that slowMo is a debug thing, but if the tests is using any page.type adding slowMo to debug is practically impossible, as the "slowness" in the typing is way to much compared to the rest of the actions. I would assume that slowMo was only applied once between each action. I don't see cases where I would be debugging each key stroke, and i

[2017-10-25 13:46] speedcom commented on #880
For me the biggest reason for getting such errors was to be not possible to handle some resources but when started aborting them explicitly with puppeteer everything was ok.

[2017-10-25 13:50] sukrosono commented on #1047
my case , no docker, on Windows, no user data dir.

[2017-10-25 14:27] fusionx1 commented on #540
Still unresolve

On Wed, Oct 25, 2017 at 9:34 PM, 赖小赖 <notifications@github.com> wrote:

[2017-10-25 17:14] MarkTiedemann opened #1160 "Setting a different default timeout for `waitForFunction`"
I'd like to set a different default timeout for `page.waitForFunction`.

https://github.com/GoogleChrome/puppeteer/blob/ab9b34cd5dad54e170be916016a4e9b4097231ed/lib/FrameManager.js#L461

Currently, I'm monkey patching the `page.waitForFunction` to set a different default timeout of `5000`.

Any ideas on how to do this in a better way?

[2017-10-25 17:39] sjungwirth commented on #1137
I'm running into same issue on another domain. The test script above fails for me as well.

[2017-10-25 18:11] GuilloOme commented on #1132
@ali-habibzadeh, your solution is good enough if you are sure that it will not be any concurrent request. In my context, it could be possible to have multiple concurrent request ; so, to avoid blocking the wrong request, I store the redirect response and compare the "location" url with the given url.

Here is my workaround:

[code]

[2017-10-25 20:16] pemrouz commented on #1047
@aslushnikov just tried out your latest, same issue. Windows, no docker. Running 10 tests (the same basic test) in parallel and I get a bunch of the following error messages at the start:

[code]

At the end of each test where I do: `page.close().then(d => browser.close())` it rejects with the following:

[code]

Does puppeteer attempt any reuse? i.e. try to connect to an existing Chromium instanc

[2017-10-25 20:35] aslushnikov commented on #1047
@pemrouz can you please share your tests so that I can take a look (and maybe run them)?

[2017-10-25 20:43] aslushnikov commented on #1137
@sjungwirth can you share your script/domain?

[2017-10-25 21:02] entrptaher commented on #1047
Can we use some code from fkill or tree-kill package etc?

[2017-10-25 21:02] aslushnikov commented on #1132
@ali-habibzadeh @GuilloOme I'm curious why would you need to load without redirects?

[2017-10-25 21:08] aslushnikov commented on #1047
@entrptaher both fkill and tree-kill are doing the same thing as we do on windows: calling `taskkill /pid /T /F`.

[2017-10-25 21:29] entrptaher commented on #1047
I am talking about the child processes. You know that Chrome is actually creates a lot of child processes. If we kill the child processes, it might help killing the parent process too. Even though the general logic is that killing parent process will kill child processes.

We can see sometimes on windows/mac, on rare case, it just leaves child processes. Can we kill child processes instead and the

[2017-10-25 21:30] aslushnikov opened #1163 "Test "Puppeteer.launch should support ignoreHTTPSErrors option" is flaky"
It looks like the test started to flake after #1141.
The possible reason might be the lifecycle events that we catch from the initial target navigation.

[2017-10-25 22:12] maxbates commented on #982
I too am running into issues with Babel processing code I want to run in the browser.

Is it possible to pass a string to `page.evaluate` which can reference `ElementHandle`s passed as args?

I'd like to run (and use the element reference):

[code]

Currently, I get the error `Evaluation failed: ReferenceError: _promise2 is not defined`

I have to run:

[code]

[2017-10-25 23:26] ATheCoder opened #1165 "Query Selector inside iFrame not working."
The code below:
[code]
gives the following result:

[code]

[2017-10-25 23:30] sradu commented on #1137
It might be related to Comodo certificates.

[2017-10-25 23:32] sjungwirth commented on #1137
@aslushnikov I verified using the same script in the original post https://github.com/GoogleChrome/puppeteer/issues/1137#issue-267783452 against `www.frys.com`

[2017-10-25 23:36] vsemozhetbyt commented on #1165
It seems the last line should be
[code]

[2017-10-26 00:40] entrptaher commented on #982
@maxbates, this easy tweak does not help?
https://github.com/GoogleChrome/puppeteer/issues/982#issuecomment-335756760

[2017-10-26 01:25] #1129 closed, assigned to nobody

[2017-10-26 07:03] CommanderXL commented on #1133
@vsemozhetbyt Thanks for your answers. My puppeteer version is old and I update it.

[2017-10-26 07:03] #1133 closed, assigned to nobody

[2017-10-26 07:18] CommanderXL opened #1166 "page.goBack or page.goForward would crash the test?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0-alpha
* Platform / OS version: OS EI 10.11
* URLs (if applicable):

**What steps will reproduce the problem?**

Well. I try to test the method of `goBack` and `goForward`.But it appears something unexpected, just like the code as follow:

[code]

**What is the expected result?**

The expected result is the scr

[2017-10-26 07:44] #1165 closed, assigned to nobody

[2017-10-26 07:46] panthony commented on #1135
@aslushnikov I have this service as a docker image (based on `node:8.6.0`), when running from:
- my laptop, it hangs,
- a remote machine, it hangs,
- a kubernetes cluster on GCE, it respond properly

[2017-10-26 08:29] axetroy opened #1167 "Consider cache .local-chromium dir for next installation faster"
Like it said.

Every time I install this module, It will reinstall chromium.

Some time I got a  bad nework, I have to wait for a long long time.

So, can you cache .local-chromium in ``$HOME``, not in module' dir.

Every installation will run the script the check the chromium'version is match the npm version or not.

If not match, Download the matchest chromium and replace the .local-chromium.
if

[2017-10-26 09:29] ali-habibzadeh commented on #1132
@GuilloOme Would concurrency of request be a concern even if chromium is running with `--process-per-tab`? Perhaps your solution is more applicate to `--process-per-site`?

@aslushnikov My rationale for this is mainly based on two things. Firstly if you're a technical tool that reports on redirect chains, it suits the context more to make a clean request, get the response and report on it.
Most li

[2017-10-26 10:36] vsemozhetbyt commented on #1166
FWIW, the example code works for me as expected with puppeteer v0.13.0-alpha  in Windows 7 x64.

[2017-10-26 11:22] nacimgoura opened #1168 "scroll into view ?"
Hello,
Is there a method for scroll inside an element of dom?
currently, I used (with puppeteer 0.12.0):
[code]
But it scrolls the whole screen while I want a method that scrolls only inside an element.
Thanks you for your help 😃

[2017-10-26 12:36] vineshhpatel commented on #1104
@GautierT After following your last comment, I'm getting `Cannot find module './node6/Puppeteer'` error on heroku.

[2017-10-26 12:42] GautierT commented on #1104
@vineshhpatel : i fixed this by upgrading to node 8.8.0. So i can't really help you... :/

[2017-10-26 13:24] GuilloOme commented on #1132
@ali-habibzadeh, my concern is more about pages where multiple resources are requested at the "same" time and  in the case of one or more returns a redirect, I will block the wrong one… You make me think that I should store all the redirect response (not only the last one) and check against them all.
Using `--process-per-tab/site` will not prevent the page from requesting multiples resources at th

[2017-10-26 14:25] xprudhomme commented on #1168
Why not simply getting this specific DOM element coordinates (x,y) and then use this method:

[code]

Or given a specific DOM element handle (such as obtained with the document.querySelector method), why not simply use the [scrollIntoView()](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView) method ?

[2017-10-26 14:41] xprudhomme commented on #1123
You are most likely getting issues with your code when reading data from the file and/or writing in it. I have implemented my own solution and it works perfectly (i.e. it has nothing to do with Puppeteer if your code does not work).

Here is a code sample from my own lib (assume we are in an object context):

[code]

[2017-10-26 16:32] ebidel commented on #1168
+1 on using the DOM scroll methods. If you're talking about scrolling a container element, I'd use `page.evaluate` to change its `.scrollTop`.

BTW, depending on what you're doing, some methods like `page.click()` scroll to the element before performing their action. See https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageclickselector-options.

[2017-10-26 16:32] #1168 closed, assigned to nobody

[2017-10-26 17:06] Brunocg commented on #550
@jindongh Do you have any arm build of the latest version from chromium-dev channel? Last week it was added a new domain called HeadlessExperimental which Im really interested on testing, although Im not sure whether it's working or not.

[2017-10-26 17:13] knownasilya commented on #361
I ended up changing from .dev to .test, the only issue is that I cannot test Google Oauth any more, because they don't allow any non-real TLDs, like .test

![screen shot 2017-10-26 at 1 15 30 pm](https://user-images.githubusercontent.com/34726/32067045-c448a2c6-ba4f-11e7-883a-0bb0cac6a5ef.png)

[2017-10-26 18:06] yujunglo opened #1173 "waitForNavigation should wait for all frames instead of only main frame"
- Platform/OS: macOS High Sierra
- Puppeteer version: Puppeteer version: ab9b34cd5dad54e170be916016a4e9b4097231ed (from master branch as of Oct 24), 0.12.0 has same problem

Take this url http://diy-cellars.space/woodworking-plans-glider/?DIYCellar=301248662559422964
 and the following code snippet for example.
[code]

The above code will print:
[code]

If sleep for 5 seconds between `page.goto` a

[2017-10-26 18:07] sradu commented on #583
I switched to following up every two weeks instead of one to avoid being annoying. I'm always happy to help debug this.

Separately, I just wanted to mention that I really appreciate and love your work on Puppeteer and Chrome. You guys rock.

[2017-10-26 18:19] ebidel commented on #583
Ultimately, this is going to be a chromium bug if chrome itself is crashing. I was just trying to get more info (crash ids, etc) for the headless team. You could also try Canary to see if crash reporting is enabled and gets reported.

Please file a bug at new.crbug.com and link it back here. I'll make sure it gets routed to the right folks.

[2017-10-26 18:38] 0xjgv opened #1175 "Error: Protocol error (Runtime.callFunctionOn): Target closed."
I'm running into this error after 22 intervals.
- Node.js 8 + Puppeteer on Debian.
[code]
 To reproduce it, just open a SPA that has lazy loading when scrolled to the end of the page.

[2017-10-26 19:46] GuilloOme commented on #1062
I was trying some workaround for this one and it seems that the `request.continue(overrides)` with `page.setRequestInterceptionEnabled(true)` is broken.
The headers provided through the overrides are not applied on the request by the browser, see #686.

But patching the first request as a POST with data work perfectly with the `request.continue(overrides)`.

Here is a **workaround for the POST ONL

[2017-10-26 20:57] md97212 commented on #603
@sambaiz @eknkc Any further insights into the "missing fonts" issue here? this will be a problem for screenshots (for ex)
Is it feasible to use a version of chromium from s3 that doesn't have missing fonts?

[2017-10-26 21:06] craigdallimore opened #1177 "Unexpected increase in PDF file size / no way to control image quality"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: MacOS 10.12.6
* URLs (if applicable): https://jsfiddle.net/decoy9697/g6vq3kqf/3/embedded/result

**What steps will reproduce the problem?**

With default settings, create a PDF from the above URL

**What is the expected result?**
The PDF filesize would only be slightly larger than the

[2017-10-26 21:51] aslushnikov commented on #673
Upstream bug: https://crbug.com/613219

We'll fall back to a poor-mans solution with double-raf for now.

[2017-10-26 22:31] joelgriffith commented on #603
Missing fonts is more of an OS-type issue... You'd have to ensure your container is using something to install missing fonts or whatever else since Chrome uses what the system already has

[2017-10-26 22:48] rdeltour opened #1179 "Add an option to set data attributes on elements added by the API"
It would be useful to be able to set [data attributes](https://html.spec.whatwg.org/multipage/dom.html#custom-data-attribute) on `script` and `style` elements added by puppeteer.

For instance:

[code]
would add the following tag:

[code]

For instance, I inject a script that (for a reason) selects all the `script` elements in my pages, but then it selects itself (and its dependencies). I'd like t

[2017-10-27 03:19] tryer3000 opened #1180 "page.setRequestInterception is null"
### Steps to reproduce
**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: ubuntu 17.04

**What steps will reproduce the problem?**
[code]

**What is the expected result?**
API should be invoked

**What happens instead?**
Exception throwed
[code]

[2017-10-27 05:51] Magicloud opened #1182 "Browser.newPage() returns null when launch with {headless: false}."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: github master head.
* Platform / OS version: Ubuntu Xenial, Chrome and Chromium both at ver 62.
* URLs (if applicable):http://www.nasdaq.com/zh/symbol/amzn

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Code:
[code]
2. Error in output:
[code]
3. What I see in GUI:
Ch

[2017-10-27 06:21] donaldpipowitch commented on #290
Is this still the recommended solution as a lib author where I can't control the actual Linux setup of my clients?

[2017-10-27 06:31] MelonHTML5 commented on #746
I think this is the expected behavior. The same theory applies to background overlay used with modal dialogs. They are expected to be 100% tall.

[2017-10-27 07:15] roben commented on #290
No, this would be wrong and a security risk. The proper solution is to enable the sandboxing in your OS:

Run `echo 1 > /proc/sys/kernel/unprivileged_userns_clone` as root and add `kernel.unprivileged_userns_clone=1` to `/etc/sysctl.conf`. This works on debian, may be different on other distributions.

[2017-10-27 07:18] donaldpipowitch commented on #290
Thank you. I'll try this.

[2017-10-27 07:43] andy2046 commented on #1175
@aslushnikov any thoughts on this? thanks.

[2017-10-27 07:55] panthony commented on #1180
@tryer3000 On the `0.12.0`, this method is called `setRequestInterceptionEnabled`.

https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#pagesetrequestinterceptionenabledvalue

[2017-10-27 08:23] vsemozhetbyt commented on #1182
I cannot reproduce on Windows 7 x64 with master head and this code:
[code]

[2017-10-27 08:41] ghost opened #1183 "window inner size not equal to viewport size"
**Tell us about your environment:**

* Puppeteer version: 0.13.0-alpha
* Platform / OS version: macos high sierra 10.13
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

1. `node start.js`

**What is the expected result?**

1. window inner size and viewport should be equal, all the default 800px x 600px

**What happens in

[2017-10-27 08:54] AshwinDNair opened #1184 "how do i set a custom locations based on lattitude and longtitude in node js puppeteer?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.12.0
* Platform / OS version:ubuntu
* URLs (if applicable):www.google.com

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

const puppeteer = require('puppeteer');
var url="https://www.google.com/search?q=";
var keyword="hotels";
var urls;
const response=[];
var i=0;
(asy

[2017-10-27 09:02] AshwinDNair commented on #1184
@ebidel @aslushnikov please tell me a way to do this.

[2017-10-27 09:08] #508 closed, assigned to aslushnikov

[2017-10-27 09:12] #723 closed, assigned to JoelEinbinder

[2017-10-27 09:23] futbolistua opened #1185 "Error when running on Jenkins( Ubuntu 14.04.4 LTS (GNU/Linux 3.13.0-32-generic x86_64))"
I have next error message when running test on linux `error puppeteer@0.12.0: The engine "node" is incompatible with this module. Expected version ">=6.4.0"`. But on local mashine (windows7) it works with version 6.11.4
I've installed 6.11.5 version(reccommenden on nodejs.org) of node but it does not help to solve problem
![1](https://user-images.githubusercontent.com/1417393/32097264-9686cf94-bb1

[2017-10-27 09:48] xprudhomme commented on #1168
True, it can also easily be done with page.focus(selector), since focusing on a DOM element often scroll that element into the current view.

[2017-10-27 09:48] aslushnikov commented on #922
Thanks @mizdra.

I can't reproduce this bug as well, it looks like the setup is specific to your environment.

Closing this in favor of the upstream bug.

[2017-10-27 09:48] #922 closed, assigned to nobody

[2017-10-27 10:09] aslushnikov commented on #623
I can't reproduce this on 0.13.0-alpha, neither with jquery nor with the gulp-puppeteer-accessibility-audit.

If anyone has a script that reliably reproduces the issue, please share it - it would help a lot.

[2017-10-27 10:12] aslushnikov commented on #1039
@rudiedirkx I can't reproduce this; without a repro this is not actionable. If you can come up with a sharable snippet, I'd be happy to look into this.

cc @alixaxel who implemented original `Page.select`.

[2017-10-27 10:35] aslushnikov commented on #1175
@andy2046 I'd be happy to look into this if you share full script with a URL.

[2017-10-27 10:36] aslushnikov commented on #1184
Dupe of #1077

[2017-10-27 10:36] #1184 closed, assigned to nobody

[2017-10-27 10:40] aslushnikov commented on #1077
This should be easy to implement using the [Emulation.setGeolocationOverride](https://aslushnikov.github.io/vanilla-protocol-viewer/#Emulation.setGeolocationOverride) method.
Inspiration can be taken from other similar methods, e.g.
https://github.com/GoogleChrome/puppeteer/blob/380bb6a87f23f423df558c2cdb91bad8926464e0/lib/Page.js#L557-L567

I'd be happy to review a PR.

[2017-10-27 11:10] geekkun commented on #537
+1

[2017-10-27 11:51] GuilloOme commented on #686
any update on this one?

[2017-10-27 12:03] CommanderXL commented on #1166
@vsemozhetbyt Thanks for your answer. But I use my colleagues mac OS to run the demo. It occurred the same problem. Could you please use mac to run this demo? Thanks.

[2017-10-27 12:06] CommanderXL commented on #1135
@aslushnikov  Well. I have meet the same problem in my mac OS.

https://github.com/GoogleChrome/puppeteer/issues/1166

[2017-10-27 12:07] vsemozhetbyt commented on #1166
Unfortunately, I cannot, sorry(

[2017-10-27 13:37] 0xjgv commented on #1175
Sorry about that! Here is the code @aslushnikov  [earn-search](https://github.com/juansgaitan/earn-search/blob/master/earn-search.js)

[code]
I'm counting the number of results per query. Though, large results make the page to close for some reason.

[2017-10-27 13:46] AshwinDNair commented on #1077
how do you override the geolocation settings? @ebidel

[2017-10-27 13:56] schelkun opened #1187 "Goto referer as option"
I was looking into `goto` method source code.
The only way to set referrer parameter is using extra HTTP headers.

[code]
[https://github.com/GoogleChrome/puppeteer/blob/master/lib/Page.js#L465](https://github.com/GoogleChrome/puppeteer/blob/master/lib/Page.js#L465)

This is very bad way for me. I'm forced to change or reset `extraHTTPHeaders` for every `goto`. But this method is ready to accept r

[2017-10-27 14:04] Andarist opened #1188 "[feature request] Expose DOMPresentationUtils APIs"
I'm interested in having access the APIs from [this](https://chromium.googlesource.com/chromium/blink/+/master/Source/devtools/front_end/components/DOMPresentationUtils.js#289), especially interesting for scraping is `cssPath`.

[2017-10-27 17:20] entrptaher opened #1189 "Improve requestfailed"
This is a hard to reproduce problem from anywhere since it happens randomly yet the actual chrome browser deals with it really well. The browser retries and the contents are reloaded in case of error

Some examples of failed responses:
![image](https://user-images.githubusercontent.com/8284972/32115402-8398d7d6-bb68-11e7-912a-517dd4a512ef.png)

![image](https://user-images.githubusercontent.com/82

[2017-10-27 17:38] redochka opened #1190 "Error: Protocol error (Runtime.callFunctionOn): Invalid parameters objectId: string value expected"
I am using `"puppeteer": "^0.12.0"`

Trying to

<pre>
    const browser = await puppeteer.launch({"executablePath": "/usr/bin/chromium-browser", args: ['--no-sandbox', '--disable-setuid-sandbox']});

    const page = await browser.newPage();
    await page.goto(ADMIN_URL);

    await page.click("#input-username");
</pre>

I get error :

<pre>
(node:27918) UnhandledPromiseRejectionWarning: Unhandle

[2017-10-27 17:39] aslushnikov opened #1191 "Support response interception"
As of today, we have "request interception" that allows puppeteer to intercept and amend requests before they are sent to the server.

Similarly to this, it would be really handy to have "Response interception" that would allow to intercept and amend responses from server before they are delivered to the browser.

[2017-10-27 17:41] ebidel commented on #1182
I can't reproduce this either.

[2017-10-27 17:41] #1182 closed, assigned to nobody

[2017-10-27 17:41] aslushnikov commented on #1189
You can call "continue" only once per intercepted request. Once you called "continue", the request is sent to the server. There's no option to "resend" the request for now; however, there are some discussions about adding "response interception" that would help you.

I've filed an issue for this: https://github.com/GoogleChrome/puppeteer/issues/1191 Please thumb-up it if you'd like it to be implem

[2017-10-27 17:41] #1189 closed, assigned to nobody

[2017-10-27 17:55] aslushnikov commented on #1188
I don't see why it should be a part of puppeteer; you can use devtools source code in your project if you'd like to.

Btw, you're referring to an old code; a modern version of this file in devtools could be found [here](https://github.com/ChromeDevTools/devtools-frontend/blob/5f320158093624a2759a404177d96d59479aad9d/front_end/components/DOMPresentationUtils.js)

[2017-10-27 17:55] #1188 closed, assigned to nobody

[2017-10-27 18:17] GuilloOme commented on #1187
@schelkun, I already fill a feature request to set headers while calling`page.goto()`(like `Referer`), see #1062 (I invite you to upvote it).

The workaround proposed here should work also for headers (by simply set the referer header in the `overrides`) **BUT** there is a bug making it NOT functional at this time (see #686).

[2017-10-27 19:39] luanpotter opened #1193 "ServiceWorkers fail if Request Interceptor is enabled"
Just create a simple project with Puppeteer and try to access a page that uses Service Workers, having request interception enabled (you don't need to do anything); for instance:

[code]

Check the console to see that the ServiceWorker has failed with the following error:

I assume it has something to do with ServiceWorkers also being able to intercept requests. Since ServiceWorkers are very restr

[2017-10-27 20:50] aslushnikov commented on #1187
Closing as dupe of #1062.

[2017-10-27 20:50] #1187 closed, assigned to nobody

[2017-10-27 20:51] austinkelleher commented on #1139
@aslushnikov I fixed this in #1194

[2017-10-27 21:11] imolorhe commented on #478
+1 for screencast video saving.

[2017-10-27 21:29] JoelEinbinder opened #1195 "Test `Page.goto should fail when navigating to bad SSL` is flaky"
An error is always reported, but sometimes it reports `Failed to navigate: https://localhost:8908/empty.html` instead of `SSL Certificate error`

[2017-10-27 22:58] tpickett commented on #1180
the API docs have been updated to reflect the 0.13.0-alpha API Docs. this is probably the source of the confusion.

Also when setting this( page.setRequestInterception ) to false on the 0.13.0-alpa (which is master, why alpha is in master is a mystery...) it causes all kinds of errors about not being set.

[2017-10-28 03:21] DSchau commented on #1158
Would Promise.race() work for the first (simpler) condition? In fact, it would work for the second too. Something like this

[code]

Note: I haven't tested this, but it _could_ work! Also note the second condition (the array for waitUntil) is already supported https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options

[2017-10-28 08:38] Andarist commented on #1188
@aslushnikov thanks for the quick reply.

For starters I cannot use this code as is because [there is no such method as `nodeType`](https://github.com/ChromeDevTools/devtools-frontend/blob/a17fd18e07e88769bb2f45ec1d7a6fed1700d259/front_end/components/DOMPresentationUtils.js#L304) on the `HTMLElement`. Dunno where is it coming from - some custom built-ins extension maybe?

Also it is not packaged,

[2017-10-28 08:39] xprudhomme commented on #610
I have a working solution..(spent half a day understanding what was going on).

My idea was to use the Fetch API, then use the arrayBuffer or blob response type in order to send the result back to an exposed function, which in turn would write the data to a file.

But obviously, the page.exposeFunction() method serializes the exposed function parameters using JSON.stringify, meaning we cannot pass

[2017-10-28 10:00] ghost commented on #1139
@aslushnikov  #1198 solves  frame.select method

[2017-10-28 12:50] limarc commented on #957
I have the same problem. @aslushnikov In your example, the content is very small. It seems the problem occurs on large pages, for example (tested 0.12.0, 0.13.0-alpha):

[code]
This example works on my MacBook, but falls into the docker container:

[code]

[2017-10-28 14:23] Garbee commented on #361
`.dev` is a registered TLD. Which also now is HSTS for the entire domain built into Chrome. So, that should not be used anyways. You should be using a reserved TLD such as `.localhost` to do local domain routing.

[2017-10-28 15:14] geertbrit commented on #603
@md97212:

Haven't tried this, so perhaps I'm missing something, but regarding the missing fonts issue: can't you 'just' use puppeteer's `evaluate` to inject a script that in turn loads in a bunch of web fonts?

This would make the issue of Lambda not having some OS-level fonts moot, since it would just use the web fonts instead.

[2017-10-28 15:38] xprudhomme commented on #299
@jonesnc The file URL can always be guessed somehow, even if there is no hard coded link within the HTML source code, it's easy to find what is is for example simply by looking in the Chrome download manager.

Now, to bring some additional information regarding your solution, I think there are a few caveats due to the fact that the page.evaluate method (similarly to the page.exposeFunction) only a

[2017-10-28 17:01] alixaxel commented on #1039
@rudiedirkx I suspect the culprit is the `checkFormValues` function on the `onchange` trigger.

Could you share that function? Along with the HTML doctype of the page?

[2017-10-28 17:27] timleland commented on #758
I wrote a quick guide on the steps to get puppeteer to work on Heroku. It includes some of the issues I ran into when trying to get it setup. Hope ii helps.
https://timleland.com/headless-chrome-on-heroku/

[2017-10-28 17:31] timleland commented on #726
I wrote a simple guide that includes the steps to get an app running puppeteer on Heroku: https://timleland.com/headless-chrome-on-heroku/

[2017-10-28 17:52] nacimgoura commented on #1168
Thanks, I succeeded with the method of @ebidel 😃

[2017-10-28 18:27] rudiedirkx commented on #1039
If I remove the `onchange` attribute, or empty the callback, the exact same happens, so that can't be it.

If I remove the entire inline script block, it still happens.

If I remove ALL JS, it doesn't happen. There's no callback to be fired, but the Puppeteer part works..... Is my JS too hacky? It's possible.

[2017-10-28 18:33] rudiedirkx commented on #1039
Ooooooh, I might know what it is, but that's unexpected (for me, for you it's obvious). My very old JS lib overrides `window.Event`, so it's not a native `Event` anymore. This is unexpected for me, and obvious for you, because I didn't know the stringified version of the `this.$eval` callback function is called inside the page's context, not in Puppeteer/node context.

    element.dispatchEvent(ne

[2017-10-28 19:00] md97212 commented on #603
@gebrits @joelgriffith
thanks for the tips, I will try 'evaluate'  when I get to that point.

[2017-10-28 19:06] entrptaher opened #1201 "Preloading a Script"
This might not be an issue, more like a reference to how to mimic preload feature from nightmare/electron.

If this looks good maybe we can include this in docs.
If this needs improvement, then please suggest.

If we want to change some default page variables before the page loads, we got no way of doing this in puppeteer. If we do, I don't see it in any docs or code.

For example, I might want to

[2017-10-28 20:05] ebidel commented on #1077
We need to add that feature. What @aslushnikov suggested :)

[2017-10-28 20:10] ldd commented on #320
so, I am just confused and I'd love to have some clarification.

At some point in the future, I'd love to get code coverage for my tests. I am unable to use Istanbul, or something similar, and I guess I am not the only one.

So far, it seems that [navalia](https://github.com/joelgriffith/navalia) supports my use case, but it is (allegedly) being [deprecated](https://github.com/joelgriffith/navalia

[2017-10-28 20:16] ebidel commented on #1201
I really like your separate file example. Nothing wrong with that approach. Great use of `evaluateOnNewDocument`.

Adding an example might be overkill for this use case, but adding an similar example to docs would be good. `evaluateOnNewDocument` needs some example snippets :) Interested in sending a PR?

[2017-10-28 20:31] entrptaher commented on #1201
Done a sample PR, https://github.com/GoogleChrome/puppeteer/pull/1202
I forgot that this is my first PR on any google repo. I wanted to avoid a PR :grin:.

[2017-10-28 21:25] iagormoraes opened #1203 "The provided selector is empty"
I can't type on input tag to simulate a login at Facebook page. I receive a catch on promise:

Error: Evaluation failed: DOMException: Failed to execute 'querySelector' on 'Document': The provided selector is empty.

[code]

[2017-10-28 21:41] entrptaher commented on #1183
To add more salt into it, opening devtools will make the viewport lose the predefined size. For example,
![image](https://user-images.githubusercontent.com/8284972/32138788-178bc6cc-bc5b-11e7-8050-34543d4a2705.png)

[2017-10-28 21:58] vsemozhetbyt commented on #1203
What puppeteer version do you use?

[2017-10-28 22:01] iagormoraes commented on #1203
the latest @0.12.0

[2017-10-28 22:17] entrptaher opened #1204 "(CORS) Loading external script on a page"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v0.12
* Platform / OS version: Ubuntu 16.04 64bit
* URLs (if applicable): https://github.com/

**What steps will reproduce the problem?**

- Disable web security, same origin policy etc.
- Load a website,
- Add jQuery/Artoo from external url etc.
- It fails to load

_Please include code that reproduces the issue._

[

[2017-10-28 22:21] vsemozhetbyt commented on #1203
It seems `page.type()` [requires a selector](https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#pagetypeselector-text-options).

Try to replace
[code]
with
[code]

[2017-10-28 22:29] iagormoraes commented on #1203
That worked, much simplified. Thanks a lot!

[2017-10-28 22:29] #1203 closed, assigned to nobody

[2017-10-29 02:08] zicongxie commented on #1183
It has a param can be reset the window viewports in launch method.

Sent from my iPhone

[2017-10-29 05:40] ghost commented on #1183
@zicongxie `await page.setViewport({ width: 600, height: 400 })` only change the viewport size, but the window size will not changed to 600px x 400px too.

[2017-10-29 05:41] ghost commented on #1183
@entrptaher I noticed that too.

[2017-10-29 12:26] geertbrit commented on #603
@sambaiz : trying out your starter-kit and seems to work nicely all in all. However, sometimes (weirdly seems to be each 5th invocation?) I'm getting an error:

[code]

Have you seen this before?

[2017-10-29 13:16] dustyhorizon opened #1205 "Helper function to get response of page.goto()"
Hello,

Is there an easy way to get the response of a page? `page.on('response', () => { ... })` gives the response of every request on the page. However I am looking for something like page.response() to get the page's main response so that I can access data such as the header, statusCode etc.

Currently using Puppeteer v0.12.0 inside a docker container.

Please advise on the matter.

[2017-10-29 13:38] vsemozhetbyt commented on #1205
`page.goto()` already [resolves to the main response](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options):
[code]
[code]

[2017-10-29 13:48] dustyhorizon commented on #1205
Apologies had a brain fart, kept inspecting the page object instead of the returned response ...

[2017-10-29 13:48] #1205 closed, assigned to nobody

[2017-10-29 14:14] sajithsajan commented on #1204
I am also facing this issue :-( . Please anybody help us...

[2017-10-29 16:14] rudiedirkx opened #1206 "Screenshot seems to be out of sync"
* Puppeteer version: 0.12.0
* Platform / OS version: Ubuntu 16.04.3

My screenshot function:

[code]

The script:

[code]

So what I would expect:

1. screenshot of empty login form
2. screenshot of username & password
3. screenshot of page after login and page load

Instead:

1. screenshot of form with username (**incorrect**, screenshot is too late)
2. screenshot of form with username & password

[2017-10-29 18:34] bertelli opened #1207 "deviceScaleFactor:2 generates clipped screenshots"
I'm using
[code]
and full Page=true, but sometimes (not sure why/when) on some websites the screenshots get clipped like in half (width) in the sense that the output jpeg is **800px**  width (400 * scale factor) but it shows only half viewport...

see example https://imgur.com/a/LfC1x

almost like the screenshot happens before the screen get resizes properly...

fiy deviceScaleFactor:1 works well

[2017-10-29 19:51] sukrosono commented on #1123
Thanks @Xavatar , but i still face same error:
![image](https://user-images.githubusercontent.com/3001652/32147640-276a52da-bd1d-11e7-9dc9-a34191cb7c5b.png)

i already push your code into my branch, let me know if you found my mistake.
Can you describe your environment? Mine is:
[code]
Idk what else is related.

[2017-10-29 20:20] navneetkr2102 opened #1208 "Code for automation testing of a website?"
Hi all,
I am new to puppeteer,can anyone provide a sample code of automating headless to open a webRTC website created by me.Upon entering something as a username one can login into that webRTC enabled site. I need some sample code so that i could edit it and use for testing of my website. Please help !!

[2017-10-29 22:09] sivapvarma commented on #373
more clean option to customize header and footer will be awesome.

[2017-10-29 23:09] xprudhomme commented on #1123
I've edited my previous message and added a missing piece of code:

`      // Save session to file
      await saveToJSONFile({endpoint: browser.wsEndpoint(), "session.json").then(file => {
          console.log("Websocket endpoint JSON has been succesfully saved to %s", file)
      });`

This is how you save the current browser websocket endpoint URL into a JSON file.

My environment is Ubuntu 16

[2017-10-29 23:52] tryer3000 commented on #1180
@tpickett Thank you  for your explanation.

[2017-10-30 01:51] 3fuyu commented on #623
@aslushnikov When will 0.13.0-alpha be released?

[2017-10-30 01:52] 3fuyu commented on #755
@chfw set a timeout between setViewport and screenshot can solve this problem

[2017-10-30 01:54] sukrosono commented on #1123
My goal is only to connect running chromium using puppeteer. Thank @Xavatar you are correct, it's my mistake on handle the promise.

[2017-10-30 01:54] #1123 closed, assigned to nobody

[2017-10-30 02:26] andy2046 commented on #1175
@aslushnikov thanks, I also have the same issue here

[2017-10-30 09:00] melbourne2991 commented on #602
Sorry a little off topic but I'm just wondering what are the downsides to loading JSDOM/Cheerio if you're just looking at extract data from a page - is it that cheerio would be slower because it has to parse the markup that has already been parsed by the browser?

I'm asking because I am toying with the idea of building a scraping interface that would allow you to use the raw html source (driven w

[2017-10-30 09:16] maicss opened #1209 "Please public build 0.13.0 to npm"
Your API DOC is `v0.13.0`, but `npm i` and `npm search` get `0.12.0`.
It takes me a lot time to debug my code, and read local source code, and check your github document and your github source code...

Finally, it turns out you guys not publish it to npm...how ridiculous.

[2017-10-30 09:20] #1185 closed, assigned to nobody

[2017-10-30 10:06] lauterry opened #1210 "Unknown value for options.waitUntil: networkidle0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: OS X El Captain 10.11.6
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**

I expect the pdf to be generated

**What happens instead?**

I encounter the following error :

```Un

[2017-10-30 10:09] lauterry commented on #1210
My bad, I was looking for the API documentation from master branch instead of 0.12.0 branch.

Sorry for the noise

[2017-10-30 10:09] #1210 closed, assigned to nobody

[2017-10-30 10:32] GautierT opened #1211 "Error: not opened when opening multiple pages"
**Tell us about your environment:**

* Puppeteer version: 0.13.0-Alpha
* Platform / OS version: Heroku
* URLs (if applicable):

**What steps will reproduce the problem?**

[code]

Browser is launched when starting my express app like this :
`  app.locals.browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox']})
`

### Steps to reproduce
1. Make some simultaneous call t

[2017-10-30 10:40] burningTyger opened #1212 "typo in api docs"
in docs/api.md
s/more\ then/more\ than/g

[2017-10-30 11:08] fran0254 opened #1213 "how can I accept (alert or dialog) or ignore?"
When I browse through several links on the website, they show me warnings that I want to ignore or accept, is it possible?.

I would like to first check if exists dialog... and then ignore or accept, because it does not let me continue browsing

[2017-10-30 11:09] GautierT commented on #623
@aslushnikov : Still have this problem on 0.13.0-alpha.
#1211

[2017-10-30 12:57] GuilloOme commented on #1209
`v0.13.0` is still in `alpha` state (see the API header: **Puppeteer API v0.13.0-alpha**).
If you want to access the `v0.12.0`, check here the related tag here: https://github.com/GoogleChrome/puppeteer/tree/v0.12.0

[2017-10-30 14:20] Lotafak commented on #299
@Xavatar I implemented your solution and it works pretty good. Although I changed it a little. Instead of string I'm using dumb JS StringBuilder. For larger files, I think this might make a difference.
[code]

[2017-10-30 14:25] maicss commented on #1209
But API doc now is 13……

[2017-10-30 14:31] 0xjgv commented on #1175
I've tried to disable the navigation timeout on the page and on the browser :s. I've gotten a different Error output though. [Error Output](https://apifier-circular-logs-prod.s3.amazonaws.com/KBNmKxCgW2JekHSeJ.log.gz?AWSAccessKeyId=AKIAJTQHBVH6QKNNBOIQ&Expires=1509978554&Signature=t3DMFIW3T82IjuJdMoKsbkW6k4A%3D)

[2017-10-30 15:00] GuilloOme opened #1214 "`page.evaluate()` throw an error in 'framenavigated' callback"
### Steps to reproduce

* Puppeteer version: `v0.12.0`
* Platform / OS version: Linux Ubuntu or try-puppeteer.appspot.com

**What steps will reproduce the problem?**

1. run:
[code]

**What is the expected result?**
No error in console

**What happens instead?**
throw this error:
[code]

[2017-10-30 15:58] tglines commented on #683
Also getting the extra empty last page in PDF issue.

The quick solution to this problem is just setting the page ranges to print by setting the `pageRanges` param.

[2017-10-30 16:45] ebidel commented on #1209
Agreed that it's confusing we rev the docs in master and point to those instead of the current stable release. We've tried to address that with clear labelling at the top of the API docs saying what version you're on, but people tend to miss that. When you install the stable release from npm, our everything points you to the `-alpha` docs.

A proper doc story will help: https://github.com/GoogleCh

[2017-10-30 16:46] #1209 closed, assigned to nobody

[2017-10-30 16:47] ebidel commented on #1213
See https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#class-dialog and https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#event-dialog

[2017-10-30 16:47] #1213 closed, assigned to nobody

[2017-10-30 16:47] ebidel commented on #1212
Feel free to submit a pr :)

[2017-10-30 16:51] Banou26 opened #1215 "Support extensions execution contexts"
The [documentation](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#overview)  show that Frames can be associated with extensions but there's no documentation on how to register an extension & run a script under one of the extensions environments (option page/background page/page action/ect...).

It would be awesome to run automated tests for web-extensions developpers.

[2017-10-30 16:53] ebidel commented on #1211
Can you include a complete reduced code example that repros the issue? Seeing your express setup would be helpful.

[2017-10-30 16:55] ebidel commented on #1215
Can you provide an example of what you're trying to achieve?

[2017-10-30 16:58] burningTyger commented on #1212
done so in #1216

[2017-10-30 16:58] #1212 closed, assigned to nobody

[2017-10-30 17:01] murilozilli commented on #1100
@DEKHTIARJonathan apparently it has something to do with the useragent. In headless mode it might have a differente UA which is blocked in some websites. Setting the UA manuualy I was able to unfrozen the goto() but still couldn't take a screenshot of it. Most sites I get a "Access Denied" view.

[2017-10-30 17:04] GautierT commented on #1211
After some classic `import` and `app.use(morgan())` and stuff...
I connect mongoose to my mongodb database, then launch puppeteer then listen on a port :
[code]

Then, on a specific route i call the function pasted on my first comment like that :
`buffer = await generate_pdf_from_html(req.app.locals.browser, rendered_html)`

When i make a lot of simultaneous call to this route i have the `Error: n

[2017-10-30 17:45] Banou26 commented on #1215
Something like that https://github.com/Banou26/PuppeteerWebExt
It's basically being able to register extensions & interact with it

[2017-10-30 18:58] ebidel commented on #1215
Ah Interesting! What's the benefit of using an extension instead of using puppeteer directly to modify/work with the page? I'd imagine most things you want to use the crx web extension API for, you can do in puppeteer's API.

BTW, there's a [flag for loading chrome with an extension](https://peter.sh/experiments/chromium-command-line-switches/#load-extension). Not sure we need a new api (`browser.

[2017-10-30 18:59] ebidel commented on #1208
Please ask "how to" questions like this on stack overflow.

[2017-10-30 18:59] #1208 closed, assigned to nobody

[2017-10-30 19:12] xprudhomme commented on #1204
Have you faced this kind of error: " [...] is not an allowed source of script in the following Content Security Policy directive" ?

[2017-10-30 19:47] ebidel commented on #1211
Thanks for that.  I'm not familiar with `morgan` and `mongoose`. If you've got a full runnable script that's just using express without those other things in the mix, that would be most helpful. This is what we mean by reduced test case :) Even better would be a script without express that reproduces the issue.

FWIW< `networkidle0` in your first script looks suspect. Other than that, have you tri

[2017-10-30 19:49] ebidel commented on #1211
My mistake. `networkidle0` is valid. Snuck in on me :)

[2017-10-30 19:51] GautierT commented on #1211
I will make a small gist reproducing the error in the next hours (days..) !
Thanks for looking into this @ebidel.

[2017-10-30 19:51] ebidel commented on #1211
Thanks so much!

On Mon, Oct 30, 2017 at 12:51 PM Gautier <notifications@github.com> wrote:

[2017-10-30 19:57] ebidel commented on #1207
Dupe of https://github.com/GoogleChrome/puppeteer/issues/755. Please reopen if that's not the case.

[2017-10-30 19:57] #1207 closed, assigned to nobody

[2017-10-30 20:00] Banou26 commented on #1215
There's no benefits of using an extension over puppeteer directly.

It's just that there's almost no tools for web extension developers and it's a real hassle to test extensions in general, so i though a tool like puppeteer would be just awesome to run tests on web extensions and know when things break.

Yes, there's no real need of implementing a new api to register extensions if there's a flag,

[2017-10-30 20:13] bertelli commented on #1207
so is it only me that i get this error?

[2017-10-30 21:15] ebidel commented on #1207
Others are seeing it too in #755.

[2017-10-30 21:28] ebidel commented on #1206
You should be returning the `page.screenshot` Promise in your own screenshot function:

[code]

[2017-10-30 21:30] bertelli commented on #755
I can add that in my case, i'm using Puppertron as web interface to get the screenshots, but the core is still puppeteer and I get the image clipped in half when using scale factor: 2, **BUT** if I reload it twice the second time or third the page looks good and complete. So my hunch could be timing? page not ready when taking screenshots? just guessing...

[2017-10-30 21:45] kennethaasan commented on #755
@bertelli Since I have the same problem as you and this is the only bug preventing me from using Headless Chrome instead of PhantomJS in production, I will try to find time to debug this problem later this week and make a PR. Only difference is that I use scale factor: 3.

[2017-10-30 21:57] bertelli commented on #755
same here: I moved away from PhantomJS that was giving me poor results... and now i love Puppeteer..works flawlessly in scaleFactor 1!
ll try the setInterval solution suggested  ...will see

[2017-10-30 22:30] kennethaasan commented on #755
I tried setting timeout to 0, 1000 and 10000. Same result

[2017-10-30 22:41] chfw commented on #755
same result here too.

[2017-10-30 22:56] chfw commented on #755
tried with latest version 0.12.0 as well. same result.
![gf3](https://user-images.githubusercontent.com/4280312/32199657-7b9c5e36-bdc5-11e7-992f-46a2eda1c66c.gif)

[2017-10-31 02:18] Xinkai commented on #1135
I encountered the same problem. I also found that the problem goes away if you specify `{ waitUntil: 'networkidle' }` in the `goto()` call.

Depending on your use case, this may be an acceptable workaround.

Environment: Linux + Node 8.7.0 + puppeteer 0.12.0

[2017-10-31 02:22] aslushnikov opened #1218 "`page.goto` is littered with races"
Since the migration to lifecycle events (ce8a952044ef318baf3d9ff25157e41571293de5), the `page.goto`, `page.waitForNavigation` and other navigation methods are terribly flaky.

We're fighting it upstream. This should be fixed before releasing next PPTR version.

[2017-10-31 06:01] aslushnikov commented on #1215
@Banou26 the documentation you pointed to also says:

So this is not currently supported by puppeteer.

DevTools protocol [has this capability](https://aslushnikov.github.io/vanilla-protocol-viewer/#Runtime.ExecutionContextDescription), but we haven't exposed it through pptr api yet.

What exactly do you need from PPTR api?

[2017-10-31 06:02] hungchai commented on #299
@jonesnc Finally I use you method to solve my CSV download problem. I had tried page.on('load') or set the profile directory but none of them work under headless mode. Thanks

[2017-10-31 06:03] aslushnikov commented on #1206
@ebidel nailed it.

[2017-10-31 06:03] #1206 closed, assigned to nobody

[2017-10-31 06:09] aslushnikov commented on #683
@ystop @tglines this looks like a chrome's save-as-pdf issue. I'd appreciate if you file it upstream to the chromium: https://crbug.com/new and paste a bug link here.

[2017-10-31 06:12] #1180 closed, assigned to nobody

[2017-10-31 06:16] aslushnikov commented on #1179
@rdeltour I'd rather make `addScriptTag` and `addStyleTag` return element handles to the added elements.

I'd be happy to review a PR for this.

[2017-10-31 06:28] aslushnikov commented on #1173
@yujunglo good catch. That's indeed the problem with 0.13: while migrating to lifecycle events, we should make sure all the frames in the subtree reached the desired state as well. I'll fix this.

However, it should work fine with `waitUntil: 'networkidle'` argument with puppeteer 0.12. The following worked just fine for me:

[code]

[2017-10-31 06:35] aslushnikov commented on #1167
- In some weird environments and platforms, we might not have access to `$HOME`.
- Introducing env variable to control installation location doesn't work since it might not be available at the time of running script itself.

You can cache downloaded chromium for yourself and point puppeteer to use executable from it with the `executablePath` option of `puppeteer.launch`.

[2017-10-31 06:35] #1167 closed, assigned to nobody

[2017-10-31 06:38] aslushnikov commented on #1146
Closing as dupe of #846.

[2017-10-31 06:38] #1146 closed, assigned to nobody

[2017-10-31 06:46] aslushnikov commented on #438
JSHandles have landed; now the following is possible:

[code]

[2017-10-31 06:46] #438 closed, assigned to aslushnikov

[2017-10-31 06:49] aslushnikov commented on #446
@ashubham chrome headless currently doesn't save session properly; there's upstream work for this.

Closing issue in favor of browser contexts issue.

[2017-10-31 06:49] #446 closed, assigned to nobody

[2017-10-31 06:54] aslushnikov commented on #537
If someone comes up with a `puppeteer-xpath` package, we'd be happy to point to it in our docs.

[2017-10-31 06:55] aslushnikov commented on #549
Closed with PR #967

[2017-10-31 06:55] #549 closed, assigned to nobody

[2017-10-31 06:58] aslushnikov commented on #320
@ldd coverage is on our list and hopefully will be added shortly, starting with CSS and following with JS.

[2017-10-31 07:00] aslushnikov commented on #574
@cronfy this might work now with tip-of-tree puppeteer (v0.13.0).

I'd appreciate if you can try and write back the results.

[2017-10-31 07:01] #593 closed, assigned to nobody

[2017-10-31 07:06] aslushnikov commented on #602
@melbourne2991 a few of them:
- cheerio/JSDOM would be slower; chrome is crazy fast at traversing DOM
- chrome has a well-tested spec-compliant DOM implementation that support every crazy scenario

So if you already have a chrome running in background, it makes sense to use it to interact with DOM.

Cheerio/JSDOM still make sense if you need something lightweight and not necessarily as bullet-proo

[2017-10-31 07:10] aslushnikov commented on #603
@gebrits looks like chrome crashes. We'll have a better support for this when the https://github.com/GoogleChrome/puppeteer/pull/960 lands.

[2017-10-31 07:11] #634 closed, assigned to nobody

[2017-10-31 07:15] aslushnikov commented on #658
@pocketjoso does it still fail for you? I failed to reproduce with the following script on current tip-of-tree (v0.13.0):

[code]

[2017-10-31 07:16] aslushnikov commented on #664
Closing as a dupe of #985

[2017-10-31 07:16] #664 closed, assigned to nobody

[2017-10-31 07:16] #675 closed, assigned to nobody

[2017-10-31 07:22] aslushnikov commented on #709
@avimar you can do a module with a peer dependency to puppeteer.

[2017-10-31 07:22] #709 closed, assigned to nobody

[2017-10-31 07:25] aslushnikov commented on #754
it should be easy now to move page's `content` and `setContent` methods into frame, which will give `frame.content()` and `frame.setContent()`. Page should keep the `page.content()` and `page.setContent` methods and just call the main frame's counterparts.

[2017-10-31 07:30] aslushnikov commented on #809
Does anyone want to take care of this? cc @ebidel

[2017-10-31 07:31] aslushnikov commented on #1214
Dupe of #827

[2017-10-31 07:31] #1214 closed, assigned to aslushnikov

[2017-10-31 07:37] aslushnikov commented on #848
@Tin-Nguyen there's not much I can suggest here; the problem might be anywhere in your service or puppeteer.

Since the issue doesn't repro for you without the docker container, it looks like something's wrong with the environment you're running in - this we can't help with.

[2017-10-31 07:37] #848 closed, assigned to nobody

[2017-10-31 07:40] aslushnikov commented on #860
@petarvasilev91 It looks like the privacy settings don't let me see your code.

It's already implemented in v0.13.0-alpha (current tip-of-tree)

[2017-10-31 07:42] aslushnikov commented on #862
This might be related to https://bugs.chromium.org/p/chromium/issues/detail?id=736452

Does it still happen for you with puppeteer 0.12?

[2017-10-31 07:45] aslushnikov commented on #867
@barnash there are multiple of places where puppeteer is asynchronous and where stack traces would be confusing.

The solution would be node.js collecting async stacktraces; all other solutions won't work good enough in general case.

[2017-10-31 07:45] #867 closed, assigned to nobody

[2017-10-31 07:45] aslushnikov commented on #899
0.12 seems to be fine.

[2017-10-31 07:45] #899 closed, assigned to nobody

[2017-10-31 07:46] aslushnikov commented on #903
There are no plans for this right now; we're focused on implementing core functionality. We might get back to this later as all the main challenges are completed.

[2017-10-31 07:46] #903 closed, assigned to nobody

[2017-10-31 07:55] aslushnikov commented on #957
@limarc ah yeah, looks like chrome or page crashed behind the scenes. We'll have a better handling for this with #952

[2017-10-31 07:55] #957 closed, assigned to nobody

[2017-10-31 07:57] #968 closed, assigned to nobody

[2017-10-31 07:58] nazieb opened #1219 "When Javascript is disabled, injecting JS file with addScriptTag failed, where previously injectFile did not"
### Steps to reproduce

* Puppeteer version: 0.12.0
* Platform / OS version: macOS El Capitan

**What steps will reproduce the problem?**

My use case is I'd like to do some extraction from a local HTML file using jQuery and some third party libraries.

When I used v0.11.0, before calling the `setContent`, I call `setJavaScriptEnabled` so it won't load unnecessary scripts. Then I inject jQuery and

[2017-10-31 08:00] aslushnikov commented on #974
@ericdraken well, my non-headless chrome behaves the same way: tries to load the page for infinite amount of time.

I don't think we're doing anything wrong here.

[2017-10-31 08:00] #974 closed, assigned to nobody

[2017-10-31 08:04] aslushnikov commented on #979
Debugging of async javascript is a separate topic, out of the puppeteer scope. Hopefully, one day we'll have cheap async stacktraces enabled by default in node.js?.. @ak239 🙏

[2017-10-31 08:04] #979 closed, assigned to nobody

[2017-10-31 08:06] #981 closed, assigned to nobody

[2017-10-31 08:06] #991 closed, assigned to nobody

[2017-10-31 08:07] aslushnikov commented on #995
@LLLLLamHo `.tap` doesn't scroll the screen; it sends a touch event for the locations - "taps" a point.

[2017-10-31 08:07] #995 closed, assigned to nobody

[2017-10-31 08:11] aslushnikov commented on #999
@gajus might be facing a different problem; I'd appreciate if a separate issue would be filed for it with a full repro with url. Otherwise it's impossible to reproduce and hard to reason about.

Typing in iframe should be working fine now since we've fixed clicking inside iframes. This is fixed.

[2017-10-31 08:11] #999 closed, assigned to nobody

[2017-10-31 08:12] #1008 closed, assigned to nobody

[2017-10-31 08:17] aslushnikov commented on #1012
@akauppi the following works quite well for me in case of client-side redirect:

[code]

If you don't like waiting for marker element, you can wait for page title or even URL. Alternatively, you can wait for `framenavigated` event for the main frame for X times, and then use `await page.waitForNavigation`.

[2017-10-31 08:17] #1012 closed, assigned to nobody

[2017-10-31 08:19] aslushnikov commented on #1036
Hey @LeonLiber, if you think something's missing in troubleshooting.md, feel free to send a PR!

[2017-10-31 08:19] #1036 closed, assigned to nobody

[2017-10-31 08:20] #1039 closed, assigned to nobody

[2017-10-31 08:21] aslushnikov commented on #1041
Thanks, fixed.

[2017-10-31 08:21] #1041 closed, assigned to nobody

[2017-10-31 08:22] aslushnikov commented on #1043
@fhmd4k what's your use case for this? Why is current API not sufficient for you?

[2017-10-31 08:29] #1045 closed, assigned to nobody

[2017-10-31 08:38] melbourne2991 commented on #602
@aslushnikov That makes sense, thanks!

[2017-10-31 09:00] xprudhomme commented on #537
@jpap I've developed a whole bunch of XPath methods, such as this one which might help you (similar to the Frame.waitForSelector method):

[code]

[2017-10-31 09:03] hiitsu commented on #1126
yes, i have this too in 0.12.0 both headless and with ui, node 8.6.0 + OSX,  tests hanging in the step next to .click call when waiting for next thing to appear, if manually press it while test is in progress it'll finish normally

[2017-10-31 09:07] aslushnikov commented on #1049
What does the following terminal command return for you on freebsd?

[code]

[2017-10-31 09:16] aslushnikov commented on #1056
It looks like about:net-internals is implemented in `chrome/` layer rather then in `content/`.

Please, file upstream for this to be fixed.

[2017-10-31 09:16] #1056 closed, assigned to nobody

[2017-10-31 09:23] jrainlau commented on #405
The key of this problem is that you forgot adding `;` in front of `(async () => {})()`.

[code]
code above would solve the problem :)

[2017-10-31 09:55] marijanlekic opened #1221 "calling addScriptTag returns Promise that is not rejected in case of an error"
### Steps to reproduce

Puppeteer version: 0.12.0
Platform / OS version: macOS El Capitan

**What steps will reproduce the problem?**

If loading external script fails (wrong url, internet is down ...), if you call:

await page.addScriptTag({url: "someurl"});

nothing will happen and execution of a code will be stuck on this line.

**What is the expected result?**

Promise should be rejected becau

[2017-10-31 10:33] aslushnikov commented on #1054
Summarizing, there are two issues here:
1. enabling istanbul to work with pptr - important!
2. collecting coverage inside browser context - less critical, orthogonal to [1] and should be handled separately. For the record, there's a https://github.com/gotwarlost/istanbul/issues/254 that might come handy.

Let's scope this issue to cover [1].

I see a few options to enable istanbul with pptr projec

[2017-10-31 10:49] rudiedirkx commented on #1206
Like I said, if I don't use the screenshot function and call

[code]

every time, it's still async.

If screenshot() returns a Promise, it doesn't have to be `async`, right? I probably don't understand how async/await works exactly, but I don't think that's the problem.

[2017-10-31 10:58] rudiedirkx commented on #1206
I don't get it. Now these seem to work:

[code]

and

[code]

I'm sure I've tried both.

And now directly calling `page.screenshot()` works too...

So all works like I expect, and probably how it's supposed to. Thanks, I guess =)

[2017-10-31 11:20] raphi011 commented on #1190
I have the same error, any ideas?

[2017-10-31 12:28] Kalliser opened #1222 "Click doesn't works as expected"
Hello,

I have a case where puppeeter click don't seems to work on website in headless mode with pupeeteer 0.12, here is the case:

[code]

The code is try to do :
- adding a product to cart
- going in cart
- selecting a delivery mode
- clicking on next step button

**The expected behavior is to land on this URL : https://www.parapharmacie.leclerc/checkout/onepage/
But this never occur.**
But if I

[2017-10-31 13:08] schelkun opened #1223 "Docs: clarify page.keyboard.type vs page.type with examples and explainer text"
I was reading API docs. Look at this method for example:
[https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#keyboardtypetext-options](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#keyboardtypetext-options)

It says that I should use:
```page.keyboard.type('Hello');```

But In fact that's not working and I should use:
```page.type('Hello');```

Should be docs fix

[2017-10-31 13:58] chris-herring opened #1224 "Module not found error using webpack."
Puppeteer is working great in development but I'm trying to use webpack to build the release and hitting the following modules not found:
Module not found: Error: Can't resolve 'bufferutil'
Module not found: Error: Can't resolve 'utf-8-validate'
Module not found: Error: Can't resolve 'vertx'

I can reproduce this in a new project with the following files:
package.json

    {
      "name": "puppete

[2017-10-31 14:36] geertbrit commented on #603
@aslushnikov in the meantime to check my sanity would logs show up on crash using the 'dumpio' flag?

[2017-10-31 15:13] schelkun opened #1225 "Unhandled rejection at _onClose"
This rejection is unhandled:
https://github.com/GoogleChrome/puppeteer/blob/master/lib/Connection.js#L113

`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Protocol error (Browser.close): Target closed.`

Or possible this line:
https://github.com/GoogleChrome/puppeteer/blob/master/lib/Connection.js#L208

[2017-10-31 15:23] darioalessandro commented on #1190
Same thing here:

| K | V |
| -- | --|
| Google Chrome | 62.0.3202.75 (Official Build) (64-bit)|
| Revision | 67b212ffb03c4401235f8961e2d15371b96cde27-refs/branch-heads/3202@{#750} |
| OS | Mac OS X |
|JavaScript | V8 6.2.414.36|
|Flash | 27.0.0.183 /Users/darioalessandro/Library/Application |Support/Google/Chrome/PepperFlash/27.0.0.183/PepperFlashPlayer.plugin|
|User Agent | Mozilla/5.0 (Macintos

[2017-10-31 15:57] ebidel commented on #1223
@JoelEinbinder what do you think about adding info around the differences between `page.type`, `page.keyboard.type`, `handler.type`, etc? The docs are fuzzy on when to use each.

[2017-10-31 16:21] ebidel commented on #1224
Weird. These warnings/errors are coming from deps of puppeteer. I'm not familiar enough with webpack to know if it's your setup or something else. Any webpack experts out there?

[2017-10-31 16:24] Banou26 commented on #1215
Oops, didn't see that 😳.

When/If extensions will be supported, the PPTR api would only need to expose a way to get the id of a registered extension and a way to get a frame extension execution context.

I don't see anything else that would be needed since you would be able to open the extensions pages ( background / options / sidebar / popups pages ) with just an url, and for the content-scripts,

[2017-10-31 17:07] mikeal commented on #1054
@aslushnikov

I don't think this is a good path. This actually breaks the coverage we have working in `cappadonna` and will effectively miss the `.execute(code)` that runs in the browser.

I don't see why an istanbul config option would be useful. This breaks coverage detection in many of the blocks you would configure it for, it's better to just opt those files out of coverage if you're concerned

[2017-10-31 17:13] aslushnikov commented on #1062
@GuilloOme can you please share your scenario that requires navigating page with POST request?

[2017-10-31 17:18] aslushnikov commented on #1072
@kesava Screenshots are embedded in the trace: try drag-and-dropping the `trace.json` file into devtools performance panel.

[2017-10-31 17:18] #1072 closed, assigned to nobody

[2017-10-31 17:22] aslushnikov commented on #1074
@rmzg `page.authenticate` should help authenticate with proxy.

[2017-10-31 17:23] #1079 closed, assigned to nobody

[2017-10-31 17:24] rafagsiqueira opened #1228 "page.SetContent could accept a URL to set page.url"
Could this be possible?

`var expectedContent = '<html><body><div>Test div</div></body></html>';`
`var expectedLocation = 'http://www.teste.org/';`
`page.setContent(expectedContent, {url: expectedLocation});`

page.url() would then be equal to expectedLocation.

[2017-10-31 17:25] aslushnikov commented on #1081
@fran0254 that's hard to judge what's going on here. Can you please file a new issue with your full script and URL where you experience this? This would allow us to reproduce this behavior locally and investigate.

[2017-10-31 17:25] #1081 closed, assigned to nobody

[2017-10-31 17:31] aslushnikov commented on #1084
Might be relevant to #1082

[2017-10-31 17:36] aslushnikov commented on #1087
@ldenoue the `page.click` mimics user mouse, so if the `page.click` sometimes interferes with the overlay, so would be the user.

Your workaround with `enter` is perfectly fine. Also, you can use `page.mouse` and explicitly pass it coordinates to click.

[2017-10-31 17:36] #1087 closed, assigned to nobody

[2017-10-31 17:40] aslushnikov commented on #1089
@ebidel you can always fall back to `HTMLElement.click` for this case.

The twitter example is indeed a good example: every other time I navigate somewhere when in fact I want to open a tweet..

[2017-10-31 17:40] #1089 closed, assigned to nobody

[2017-10-31 17:41] aslushnikov commented on #1090
@tibdex in v0.13.0-alpha (current tip of tree) websockets are unconditionally ignored for `networkidle0` / `networkidle2` signals. This happened with our migration to protocol-generated lifecycle events.

[2017-10-31 17:41] #1090 closed, assigned to nobody

[2017-10-31 17:43] aslushnikov opened #1229 "Page with CSP breaks puppeteer"
A page with CSP will break some of puppeteer methods, such as `page.addScriptTag`. At the very least, we should fail gracefully.

It would be ideal to have a way to disable CSP altogether.

Reported in: #1091

[2017-10-31 17:44] aslushnikov commented on #1091
Thanks @pilgerone, I filed a separate issue for pages with CSP: https://github.com/GoogleChrome/puppeteer/issues/1229

Please thumb-up it to get it fixed sooner!

[2017-10-31 17:44] #1091 closed, assigned to nobody

[2017-10-31 17:50] #1103 closed, assigned to nobody

[2017-10-31 17:57] slohmes commented on #1077
Is anyone working on a fix for this? If not, I'd like to try implementing it!

[2017-10-31 17:59] ithinkihaveacat commented on #667
The `content-length` header of the response might be helpful: if provided, it's supposed to be size/length of the response body as it travels across the network. (i.e. the amount of data transferred.) It's not always provided, and not guaranteed to be correct, though.

[2017-10-31 18:01] aslushnikov commented on #1110
I'll be happy to review PRs to enhance documentation.

[2017-10-31 18:01] #1110 closed, assigned to nobody

[2017-10-31 18:01] #1115 closed, assigned to nobody

[2017-10-31 18:03] aslushnikov commented on #1130
It's hard to understand what's the issue, but you can run chrome in a headless mode.

[2017-10-31 18:03] #1130 closed, assigned to nobody

[2017-10-31 18:05] #1140 closed, assigned to nobody

[2017-10-31 18:07] ithinkihaveacat commented on #667
@aslushnikov Why is this blocked on an upstream bug? I'm just after the value that appears in the "Size" column of Devtools' Network panel. (If this is actually incorrect, and doesn't include the size of the headers, then I guess that would be good to fix, but would it be possible to simply export that value via the Puppeteer API first?)

![screenshot from 2017-10-31 18 05 03](https://user-images.

[2017-10-31 18:10] gajus commented on #1140
It is the exact script and it works on any page that includes iframes.

[2017-10-31 18:12] GuilloOme commented on #1062
@aslushnikov, I use puppeteer with chromium to crawl pages.
My process is the following:
1. launching puppeteer on a starting url, I retrieve all the request that could be made from there (a link, an XHR, a form,…) without calling these
1. retrieving the results
1. checking the results and launching the process again with an other url/request

In this situation, every time I want to "replay" a req

[2017-10-31 18:20] aslushnikov commented on #1157
The exact implementation would require plumbing protocol method to chromium first, which is too involved for the scope of the issue.

You can use `page.addStyleTag` to emulate this behavior to some extend.

[2017-10-31 18:23] aslushnikov commented on #1158
I'd use the following:
[code]

[2017-10-31 18:23] #1158 closed, assigned to nobody

[2017-10-31 18:26] aslushnikov commented on #1160
I'd use a default options object and pass it over everywhere.

Other than that, your approach seems reasonable to me.

[2017-10-31 18:26] #1160 closed, assigned to nobody

[2017-10-31 18:29] aslushnikov commented on #1183
@chanjsq what's your usecase? Why would you need to change the window size?

[2017-10-31 18:30] aslushnikov commented on #1190
Puppeteer doesn't work with Chrome M62; the currently-supported chrome version is M64.

[2017-10-31 18:30] #1190 closed, assigned to nobody

[2017-10-31 18:33] ebidel commented on #1228
Couldn't you just do:

[code]

[2017-10-31 18:37] aslushnikov commented on #1219
@nazieb your investigation is totally right, sorry for the inconvenience.

The old `injectFile` is polyfillable with a one-liner:

[code]

I'd keep "addScriptTag" as-is so that it does what you'd expect it to - adds a script tag. To workaround your case, I'd use the one-liner.

[2017-10-31 18:37] #1219 closed, assigned to nobody

[2017-10-31 18:39] aslushnikov commented on #1221
That's a good one. Should be easy to fix; the code in question is here

https://github.com/GoogleChrome/puppeteer/blob/6dec7cf6e4c5121570c22fc1db89678690d367f7/lib/FrameManager.js#L347-L353

[2017-10-31 18:40] aslushnikov commented on #1222
This seems to be related to other bugs related to puppeteer click; over to Joel.

[2017-10-31 18:44] aslushnikov commented on #1225
The lines you pointed to are rejecting pending callbacks from the protocol - this is intentional.
What's the usecase when you have this rejection message? Can you share your script so that we can repro it?

[2017-10-31 18:48] aslushnikov commented on #1228
@rafagsiqueira Eric's workaround would work. You can even speed it up with request interception's `respond` method (available in v0.13.0-alpha, current tip-of-tree):

[code]

[2017-10-31 18:48] #1228 closed, assigned to nobody

[2017-10-31 19:01] #1044 closed, assigned to nobody

[2017-10-31 19:02] #1061 closed, assigned to nobody

[2017-10-31 19:12] ebidel opened #1231 "Docs: document page.once()"
https://github.com/GoogleChrome/puppeteer/issues/1228#issuecomment-340869335 has a nice snippet that uses `page.once` but I'm not seeing that in the api docs.

[2017-10-31 19:15] ebidel commented on #1077
@slohmes don't think so. Feel free to send a PR with what was suggested in https://github.com/GoogleChrome/puppeteer/issues/1077#issuecomment-339937531.

[2017-10-31 19:20] tjdo commented on #290
For CentOS 7.4, kernel 3.10.0-693.5.2 (I'm running on VirtualBox):

[code]
`const browser = await puppeteer.launch({args: ['--no-sandbox', '--disable-setuid-sandbox']});`

[2017-10-31 19:25] ebidel opened #1232 "Support x/y click offset in page.click()"
Opening this to capture discussions around https://github.com/GoogleChrome/puppeteer/issues/1089. @JoelEinbinder and I chatted about adding an option to `page.click()` so users could specify an x/y offset for the click (instead of always defaulting to the center of the element).  Currently, there's a fair amount of code that users need to write to do that (get element, get bounding box, use `page.

[2017-10-31 19:56] entrptaher commented on #1183
For me, say I will want to test responsiveness.

[2017-10-31 21:19] aslushnikov commented on #1232
@ebidel @JoelEinbinder is there any api suggestion? x/y might not be very convenient since there are dozens of different coordinate systems.

Should we have "location" argument instead, e.g.:
[code]

[2017-10-31 21:20] JoelEinbinder commented on #1232
I like offsetX because it corresponds to the property on mouse events
On Tue, Oct 31, 2017 at 2:19 PM Andrey Lushnikov <notifications@github.com>
wrote:

[2017-10-31 21:21] aslushnikov commented on #1231
That's not puppeteer, that's node: `once` is a standard node.js method on event emitters, similar to `on` and `removeListener`: [node.js events](https://nodejs.org/api/events.html#events_emitter_once_eventname_listener)

[2017-10-31 21:22] aslushnikov commented on #1232
offsetX - relatively to what position and in which coordinates? Does it account for transforms?

[2017-10-31 21:43] ebidel commented on #809
@davidwindell https://github.com/GoogleChrome/puppeteer/pull/1235 adds more Docker info and a tips section. Feel free to send a PR with that suggestion as an additional tip.

[2017-10-31 21:58] nojvek opened #1236 "request.failure is not a function"
Example from api docs.

[code]

output
[code]

[2017-10-31 22:03] vsemozhetbyt commented on #1236
`request.failure()` is added in the v0.13.0-alpha. Could it be that you use an older version?

[2017-10-31 22:12] nojvek commented on #1236
I’m using the latest published on npm which is V0.12

When do you think v0.13 is gonna be out?

On Tue, Oct 31, 2017 at 3:03 PM Vse Mozhet Byt <notifications@github.com>
wrote:

[2017-10-31 22:17] vsemozhetbyt commented on #1236
The main doc is always related to the latest alpha. You can install it by
[code]
Other versions have their docs linked at the top of the main doc.
Unfortunately, I do not know when the v0.13 is gonna be out, sorry.

[2017-10-31 22:39] ebidel commented on #1231
Oh nice. Didn't even realize EventMitter had that. Do you think it's worth adding at least one example to the docs. I can imagine a lot of people wanting to catch a first event and ignore the rest.

[2017-10-31 22:42] ebidel commented on #1232
`offset*` SGTM. That's from the center or the topleft?

Does `page.click()` account for those? Whatever it does :)

[2017-10-31 23:16] aslushnikov commented on #1236
@nojvek 0.13 is currently blocked by #1218. We're fixing it.

[2017-10-31 23:18] aslushnikov commented on #1231
@ebidel sure, we can use it somewhere in the docs where it makes sense. We can also specifically state that page/browser are node's event emitters.

[2017-10-31 23:19] #1236 closed, assigned to nobody

[2017-11-01 00:33] ghost commented on #1183
@aslushnikov When setting the viewport size larger than the default window size, we also need to set the window size with the same value to see the whole page width, it's convenient if the window size can change with viewport size accordingly.

[2017-11-01 00:45] mike-aungsan commented on #1183
Have the same issue on Windows 8.

[2017-11-01 01:14] nazieb commented on #1219
@aslushnikov it's okay, and hey, that's one liner is awesome. Thanks a lot.

[2017-11-01 01:39] nojvek commented on #1236
Why isn't v0.13-alpha showing up in npm versions list ?

[code]

[code]

[2017-11-01 01:43] nojvek commented on #1236
Oh I see I need to add  "puppeteer": "git+https://github.com/GoogleChrome/puppeteer.git",` to live at the bleeding edge.

[2017-11-01 04:49] aslushnikov commented on #1183
@entrptaher isn't viewport enough for responsiveness?
@chanjsq so this is mostly for debugging purposes?

[2017-11-01 05:03] aslushnikov commented on #1140
It is not runnable. To simplify the life of project maintainers, please provide runnable scripts that include URLs so that we can easily reproduce your issue locally.

[2017-11-01 05:08] aslushnikov commented on #603
@gebrits yes they should.

[2017-11-01 05:11] bondden commented on #1137
Also confirm the same problem for [Let's Encrypt](https://letsencrypt.org/) certificate at itms.pro
It works without errors with headless:false

[2017-11-01 05:22] ORESoftware commented on #408
@aslushnikov -using puppeteer looks like you can enable debugging by setting `devTools` to `true`. Is there a way to do something similar using chrome-launcher?

[2017-11-01 05:24] ORESoftware opened #1238 "Expose underlying chrome process"
Hey all - quick question

I need access to the underlying chrome process that is launched by this tool. Is there a way to access it given the API? Would you be willing to expose it?

[2017-11-01 05:28] aslushnikov commented on #1238
@ORESoftware would you mind sharing your scenario?

[2017-11-01 05:30] ORESoftware commented on #1238
yeah np, I need to kill the process at will and collect the exit code. Can I get the exit code using this lib as it is?

To be more specific, I am creating a test runner. Imagine the user uses the --bail option. If a test fails, I need to kill the browser immediately.

TBH, it helps to have access to the underlying Node.js child process instance, it will never hurt your users.

[2017-11-01 05:38] aslushnikov commented on #408
@ORESoftware sure, the options just passes a chrome flag, so you can do the same with chrome launcher:

https://github.com/GoogleChrome/puppeteer/blob/ab9b34cd5dad54e170be916016a4e9b4097231ed/lib/Launcher.js#L78-L81

[2017-11-01 05:43] ORESoftware commented on #408
yeah so question for you - when I launch with `devTools:true` with chrome-launcher, it opens dev tools in the browser but when the browser runs, it doesn't actually pause at the breakpoints/debugger statements.

[2017-11-01 05:46] aslushnikov commented on #1238
I guess chrome's exit code will be 0 most of the time (until it crashes?).

There's `browser.close()` that would close the browser. Would it work for you?

I'd rather expose less to avoid misuse. For example, killing chrome turned out to be quite a problem, check out #1047 and #615.

[2017-11-01 05:48] aslushnikov commented on #408
@ORESoftware that sounds like a bug; worth filing over to chrome launcher.

[2017-11-01 05:50] ghost commented on #1183
@aslushnikov yes, smart can be better

[2017-11-01 05:54] ORESoftware commented on #1238
ok, np, thanks for the info, I will try to work with it as it is, if I have problems will bring them up later

[2017-11-01 05:54] #1238 closed, assigned to nobody

[2017-11-01 06:16] bcoe commented on #1054
@aslushnikov :wave:

I did something similar to what you're proposing, to preserve function names (Istanbul's instrumentation at one point broke Function.name). I'm glad we put in the work to rewrite code in such a way that the name was preserved, but it was a hassle and took quite a few iterations to get right... I think that preserving the original toString() would be significantly more complex

[2017-11-01 06:31] aslushnikov commented on #1054
V8 JS coverage sounds great to me, it's way nicer then what istanbul is currently doing.

@bcoe: do you have a list of missing parts? cc @ak239 who lives and breathes V8.

[2017-11-01 06:47] dwk715 commented on #1049
` node -e 'console.log(os.platform())'`
return
`darwin`

[2017-11-01 06:52] aslushnikov commented on #1049
@dwk715 that would be returned on mac os x; freebsd should output different value.

[2017-11-01 07:01] aslushnikov commented on #1191
For the record: @allada has an upstream patch for this: https://chromium-review.googlesource.com/c/chromium/src/+/740401

[2017-11-01 07:14] bcoe commented on #1054
@aslushnikov I've been working from [this testing repo](https://github.com/bcoe/c8) where I intend to document the deltas I find between Chrome's coverage functionality, and the instrumentation folks have become accustomed to with Istanbul.

Here are a few related issues:

[discussion on v8 issue tracker, regarding adding deatiled coverage to Node.js](https://bugs.chromium.org/p/v8/issues/detail?i

[2017-11-01 07:34] sukrosono opened #1241 "Proposal (RCF) Refactor test file to separate file"
![image](https://user-images.githubusercontent.com/3001652/32264507-9741eef6-bf11-11e7-9317-df6fb16b90c0.png)

Due to length of test file (3100 lines this time), it cause some developer like me. having hard time when working on test. My editor become unresponsive sometimes.

restructure of new test file according the api,
[code]

When approved i suggesting we use eslint [max-lines](https://eslint.

[2017-11-01 07:37] aslushnikov commented on #1241
@brutalcrozt Out of curiosity, what's your editor? We have `docs/api.md` that is even longer - how do you edit it?

[2017-11-01 07:59] sinoon commented on #903
`PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm i` work for me

[2017-11-01 08:26] sukrosono commented on #1241
@aslushnikov Atom, but i always multitask. :headphones:  from youtube + atom + documentation </> + :file_folder: . It happen after 5 minutes editing the **test.js**, i am not staying long open **docs/api.md**. Also my laptop just old and low spec, it's already 6 years with me.

[2017-11-01 08:29] aslushnikov commented on #1241
Indeed, some of our files are long'ish. We might have to split them eventually, but I'd like to postpone this moment until it's absolutely necessary:
- `test.js` is good enough for the project needs ATM
- `api.md` is easily searchable with browser's "find in page"

Would you mind trying other editors to see if they work better for you?
Some nice code editors are:
- [Sublime Text](https://www.subli

[2017-11-01 08:29] #1241 closed, assigned to nobody

[2017-11-01 08:30] graingert commented on #903
This is for third party packages

On 1 Nov 2017 07:59, "沧浪" <notifications@github.com> wrote:

[2017-11-01 08:48] fran0254 commented on #1213
How can I check if exists a dialog or not? And if there exists await await dialog.dismiss ();

[2017-11-01 10:37] rafagsiqueira commented on #1228
But if I do page.goto(expectedLocation) wouldn't I be loading the whole content of this page?
The request interception solution is more efficient I believe. Thank you for both solutions!

Still, I think it makes sense, if you can set the page content you should be able to set the url of that page.

[2017-11-01 10:48] gajus commented on #1140
Aren't you paid to do this?

Others are contributing their time.

The above is more than enough to reproduce the issue that multiple people reported. Just closing this issue shows your complete indifference to this project.

[2017-11-01 11:16] redochka commented on #1190
@aslushnikov ok thanks for the info. Where could see such compatibility info next time? because i suspect compatibility will break again with version 64 after few releases of puppeteer (from my experience with selenium and chrome driver ...)

Also, anyone is able to provide a link to the armhf deb package of chromium 64? because he best we can get right now is version 62 https://launchpad.net/ubun

[2017-11-01 11:19] mrbar42 commented on #1190
chrome 64 is the current `unstable`, you can get it from here:
`https://dl.google.com/linux/direct/google-chrome-unstable_current_amd64.deb`

(this is chrome though)

[2017-11-01 12:49] schelkun commented on #1225
Try to press Ctrl+C while script is waiting 5 sec and you will get unhandled promise rejection.
@aslushnikov

[code]

[2017-11-01 13:26] redochka commented on #1190
@mrbar42 i need the armhf not the amd64 build

[2017-11-01 13:43] mrbar42 commented on #1190
oh sorry - missed that
looks like chromium builds of v64 on the chromium dev branch PPA are [failing](https://launchpad.net/~saiarcot895/+archive/ubuntu/chromium-dev/+packages?field.name_filter=chromium&field.status_filter=published&field.series_filter=) at the moment.
last successful build is v63

keep your eyes on [Successful builds list](https://launchpad.net/~saiarcot895/+archive/ubuntu/chromi

[2017-11-01 13:59] solsos opened #1242 "Project build with Warning and Errors."
I am using the version 0.12.0, But when I build the project, I got the below Warnings and Errors.

WARNING in ./node_modules/puppeteer/node_modules/ws/lib/BufferUtil.js
Module not found: Error: Can't resolve 'bufferutil' in 'C:\<project-path>\node_modules\puppeteer\node_modules\ws\lib'
 @ ./node_modules/puppeteer/node_modules/ws/lib/BufferUtil.js 35:21-42
 @ ./node_modules/puppeteer/node_modules/w

[2017-11-01 15:06] aslushnikov commented on #1242
Looks like a dupe of #1224

[2017-11-01 15:06] #1242 closed, assigned to nobody

[2017-11-01 15:42] robertlyall commented on #1221
Simply adding `script.onerror = reject;` works, however it produces a rather cryptic error message:

As far as I'm aware, there isn't a way for me to access an error object from the event itself.

Perhaps I've tried to implement a fix that is _too_ easy, did you have another solution in mind, @aslushnikov? I'd like to have a go at fixing this.

It's also worth mentioning that `addStyleUrl` will al

[2017-11-01 15:59] schelkun opened #1244 "Add page bringToFront method"
We need to add `bringToFront` method to page. Why it doesn't exist in puppeteer?
I can create PR, but I'm not really sure about comment and docs. Is docs auto generated or not?

[code]

[2017-11-01 16:19] bartmanskyi opened #1245 "browser.close() didn't close browser"
browser.close() didn't close browser

[code]
windows 10
puppeteer 0.12.0

![cant close](https://user-images.githubusercontent.com/12626657/32284910-666bcad4-bf31-11e7-9bad-64fb555f7592.png)

[2017-11-01 16:43] wanglam commented on #1140
I have the same problem too..

[2017-11-01 17:15] ks07 commented on #1211
I am also having this issue - unfortunately I am so far unable to create a minimal example that reproduces the problem. I have however been able to get a stack trace from chrome using the `dumpio` option:

[code]

This is using Puppeteer 0.12.0 on CentOS 7 with the provided chrome binary.

I will reply with more information if I'm able to find a good example to reproduce.

[2017-11-01 17:41] aslushnikov commented on #1221
@robertlyall onerror callback gets an error object passed in: [MDN](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror)

You can reject with your own error if you wish to.

Indeed, good call

[2017-11-01 17:43] aslushnikov commented on #1244
@schelkun there's been no need to. Can you please share your user scenario?

[2017-11-01 17:47] aslushnikov commented on #1245
@bartmanskyi I see you're using `userDataDir`. We've fixed this in https://github.com/GoogleChrome/puppeteer/commit/ab9b34cd5dad54e170be916016a4e9b4097231ed. Can you please try installing puppeteer from tip of tree and see if it's working for you?

There's also #1047 that might be relevant.

[2017-11-01 18:13] vivien7512 opened #1246 "Audio does not works"
when i try to use js Audio feature  , no sound is played :

the code bellow does nothig in spite of in it plays a beep if i launch it in a classic js script

[code]

[2017-11-01 18:22] robertlyall commented on #1221
Unfortunately, the arguments differ between `element.onerror` and `window.onerror`.

In that case, I'll reject both `addScriptUrl` and `addStyleUrl` with my own error.

[2017-11-01 18:29] ebidel commented on #1246
By default, we mute audio in headless mode.

https://github.com/GoogleChrome/puppeteer/blob/ab9b34cd5dad54e170be916016a4e9b4097231ed/lib/Launcher.js#L88

[2017-11-01 18:31] bartmanskyi commented on #1245
Doesn't work for me. Perhaps I need to downgrade to 0.11.0
doesn't work - v 0.12.0 with headless:true and enabled userDataDir;
works fine - v 0.12.0 with headless:false; (why?)
works fine - v 0.12.0 with disabled userDataDir;
works fine - v 0.11.0 with headless:true and enabled userDataDir;

[2017-11-01 19:22] aslushnikov commented on #1246
@vivien7512 Please upvote #872 if you'd like to override this flag.

[2017-11-01 19:22] #1246 closed, assigned to nobody

[2017-11-01 20:28] #1163 closed, assigned to nobody

[2017-11-01 20:28] #1195 closed, assigned to aslushnikov

[2017-11-01 21:04] #877 closed, assigned to aslushnikov

[2017-11-01 21:06] schelkun commented on #1244
@aslushnikov for example, I will open 3 pages (tabs), how can I activate second or first tab?
By using `Page.bringToFront`. It's working for me. Any other way to do this?

[2017-11-01 22:19] alexkozy commented on #1054
I left comments about teardown and tearup events. As far as I know precise coverage supports block - level coverage and true || (9 + 10) are not separate blocks.
@schuay, please take a look.

[2017-11-01 23:08] thomas-darling commented on #324
Soo, how are we supposed to get the console log messages now?

According to https://github.com/GoogleChrome/puppeteerstill, this should work - but it doesn't.
`page.on('console', msg => console.log('PAGE LOG:', ...msg.args));`

**Edit:**
Ok, it actually does work - but it's not very readable.
Also, let's say I wanted the console messages as an array of arrays, where the inner arrays represent the

[2017-11-01 23:22] Jamesernator opened #1247 "SVG element causes DOM.getBoxModel error"
I've been having issues trying to hover an svg element using `elementHandle.hover()`, now using `page.evaluate(element => element.getBoundingClientRect(), elementHandle)` works so I'm not sure why it throws an error for `.hover()`.

Here's a minimal example that causes it:

[puppeteer-svg-hover-test.zip](https://github.com/GoogleChrome/puppeteer/files/1436011/puppeteer-svg-hover-test.zip)

[2017-11-01 23:55] aslushnikov commented on #324
@thomas-darling I'm not sure I follow. Is the question "how do I use JSHandle"?

[2017-11-02 00:46] Mukeshcse31 commented on #537
+1

[2017-11-02 02:57] thomas-darling commented on #324
Yeah, sorry for the less than clear question.

Based on the documentation on the page I mentioned, I expected that line of code to forward the console log calls with the original arguments - but what I got in my console was a bunch of stringified `JSHandle`s, which at first didn't seem to include the actual log messages - although on closer inspection, I realized they were in fact in there.

What

[2017-11-02 03:11] aslushnikov commented on #324
@thomas-darling ah I see. For logging, JSHandle's [`jsonValue`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#jshandlejsonvalue) would work just fine.

[code]

Note: this might shuffle the log messages between each other because you `await` inside the function.

If you need the order retained, you can retain it manually:
[code]

[2017-11-02 04:16] olimart commented on #758
With the custom buildpack can't run `heroku run node index.js` anymore.
`bash: node: command not found`

Any idea? @timleland

[2017-11-02 04:17] aslushnikov commented on #1244
@schelkun that's a good scenario :)

- Doc is not autogenerated, but  linted
- Comments are [closure annotations](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler).

I'll be happy to review the pr that adds `page.bringToFront` method. Please, make sure to read [CONTRIBUTING.md](https://github.com/GoogleChrome/puppeteer/blob/master/CONTRIBUTING.md) if n

[2017-11-02 04:34] VenPot commented on #819
Was this issue figured out ? I still get the same error intermittently. how do we handle an error when the time out happens? i am taking screenshots of multiple pages and dont want the process to hang when one the url times out or does not resolve

[2017-11-02 05:06] #1139 closed, assigned to nobody

[2017-11-02 05:08] aslushnikov commented on #819
@VenPot two options:
1. You should try-catch the exception
2. You can use `timeout: 0` option for `page.goto` if you're fine with waiting for ever.

[2017-11-02 05:27] aslushnikov commented on #1245
@bartmanskyi I don't see v0.13.0-alpha in the list of revisions you tried. Let me clarify: did you try installing puppeteer from github (so that you can get the un-published version) and run your test against it?

[2017-11-02 05:51] VenPot commented on #819
Thank you, I mostly get this when I try to take a full page screenshot.
When I open it in chrome the page loads in like less than 5 sec but through
puppeteer I get the 30 second time out. If I turn off the full page option,
it works fine. But I need full page screenshots.

On Nov 2, 2017 1:08 AM, "Andrey Lushnikov" <notifications@github.com> wrote:

[2017-11-02 06:42] aslushnikov commented on #819
@VenPot this might be a bug; please, file a new issue with a script and url so that we can reproduce it locally.

[2017-11-02 07:37] xg-wang commented on #1179
@aslushnikov Hi Andrey, how does the `this.evaluate` work inside `addStyleTag`?
Seems if I change the code to return the Promise which resolves the generated `HTMLLinkElement` it will end up to be a `{ __jsaction: {} }`

The debug log looks like
[code]
I would expect the result in RECV 10 to be the returned value of the promise in the stringified function, however it is an object, and is not retur

[2017-11-02 07:41] aslushnikov commented on #1179
@xg-wang Hi Xingan!

You should use [`this.evaluateHandle`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatehandlepagefunction-args) instead of [`this.evaluate`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args). The difference is that `evaluateHandle` would return a JSHandle, whereas `evaluate` will attempt to serialize

[2017-11-02 07:56] bartmanskyi commented on #1245
v0.13.0-alpha works, thanks

[2017-11-02 08:05] schuay commented on #1054
V8's block coverage doesn't support short-circuiting boolean operators yet, see: https://crbug.com/v8/6660 and the list of known limitations [here](https://docs.google.com/document/d/1wCydi2HEZRF0skDeLb6CH0abZnTyVo5Vz5u-jhwi7es/edit#heading=h.3zjkrm8zma7b). If this is important to you please let us know.

cc @hashseed

[2017-11-02 08:06] UCSBGauchos opened #1248 "page.goto(url) cannot downlad the PDF file."
I need to crawler the web and download the PDF files. However when the link is a PDF file, the page.goto(url) can only render the PDF. It cannot download it. Is there any configuration to enable it?

[2017-11-02 08:13] hashseed commented on #1054
We'd love to help with fixing any issues the community feels are important. We have long-term plans to no longer require reload when block-based coverage is enabled, also to solve the issue in Node.js where reload is not possible. That however will require some more time.

[2017-11-02 08:18] CommanderXL opened #1249 "hash route change can't emit Page.lifecycleEvent event in SPA"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0-alpha
* Platform / OS version: mac os
* URLs (if applicable):

**What steps will reproduce the problem?**

Well, In the source code of the [waitForNavigation](https://github.com/GoogleChrome/puppeteer/blob/master/lib/NavigatorWatcher.js#L47-L78) method. When the client send `Page.navigateToHistoryEntry` event,

[2017-11-02 08:27] fran0254 opened #1250 "Errors when accepting several dialogs followed in the same web page"
[code]

(node:10276) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 12): AssertionError [ERR_ASSERTION]: Cannot dismiss dialog which is already handled!

[2017-11-02 08:37] titusfx commented on #299
@ebidel your code in my case doesn't save the file on the path of my choice. Always on the download folder. I assume, if Im constantly changing that folder I will get my solution. In the meantime, Im still trying

[2017-11-02 09:25] vsemozhetbyt commented on #921
[Seems to be fixed upstream.](https://bugs.chromium.org/p/chromium/issues/detail?id=775703#c7)

[2017-11-02 10:08] vsemozhetbyt commented on #1248
I am not sure, but you can try this:
[code]

[2017-11-02 12:27] ithinkihaveacat opened #1253 "try-puppeteer: require('puppeteer') not supported"
https://try-puppeteer.appspot.com/ explains that it's not necessary to `require('puppeteer')` when pasting code, but it turns out it's not allowed, either. This makes it (slightly!) more difficult to copy and paste code.

![screenshot from 2017-11-02 12 22 04](https://user-images.githubusercontent.com/51244/32325825-7c2152b2-bfc8-11e7-8ed9-66c05417aa38.png)

![screenshot from 2017-11-02 12 22 46](

[2017-11-02 12:33] ithinkihaveacat opened #1254 "try-puppeteer: (async() => { ... })() fails silently"
The following code (abbreviated version of a file from the `examples` folder) fails silently when entered in the editing component at https://try-puppeteer.appspot.com/:

[code]

Actual:

No output, no error message.

Expected:

The output `Hello, World!`.

[2017-11-02 12:35] sukrosono commented on #1248
I am not sure on what circumstance, but it's the behavior of chrome itself.

[2017-11-02 12:37] ithinkihaveacat opened #1255 "try-puppeteer: `waitUntil: 'networkidle0'` not supported"
It looks like try-puppeteer isn't up-to-date to the latest puppeteer release.

To reproduce, go to https://try-puppeteer.appspot.com/ and enter the following code:

[code]

Actual:

Error message: `Error running your code. AssertionError [ERR_ASSERTION]: Unknown value for options.waitUntil: networkidle0`

Expected:

Screenshot appears.

[2017-11-02 12:51] ithinkihaveacat opened #1256 "Screenshots do not show <video> element thumbnails"
The video controls appear, but not the thumbnail of the video itself.

To reproduce:

1. Go to `https://try-puppeteer.appspot.com/`. Select the "screenshot" example if not already selected.
2. Change the URL to  `https://awesome-ray.glitch.me/`.

(Can reproduce with local script as well, but easier to demonstrate on Try Puppeteer.)

Actual:

![5fa4bcf3-cadc-457b-bd20-b4833010d63f](https://user-ima

[2017-11-02 13:15] timleland commented on #758
@olimart You can start your project using your package.json file https://github.com/timleland/headless-chrome/blob/master/package.json#L16

[2017-11-02 14:05] olimart commented on #758
Thanks @timleland but I still get the same error. I will clone yours and investigate later.

[2017-11-02 14:22] Glennvd commented on #426
page.authenticate doesn't work for my proxy configuration. The auth window comes on a different tab that I can't access, other than the browser.newPage(). Any workarounds for this?

[2017-11-02 15:32] EliSnow opened #1257 "Discussion: provide stable access to chrome websocket"
Over in the chrome-debugging-client project, there is an [ongoing discussion](https://github.com/krisselden/chrome-debugging-client/issues/14) on whether the project should be discontinued in favor of Puppeteer. I think Puppeteer is great and provides a great deal of power but chrome-debugging-client really shines in providing direct access to the Chrome DevTools Protocol, with auto-generated Type

[2017-11-02 15:53] ebidel commented on #1255
try-puppeteer is still running the latest stable release (0.12.0) which doesn't yet have `networkidle0`. That'll be available in the next release.

[2017-11-02 15:53] #1255 closed, assigned to nobody

[2017-11-02 15:56] ebidel commented on #1253
This issue was moved to ebidel/try-puppeteer#8

[2017-11-02 15:56] #1253 closed, assigned to nobody

[2017-11-02 15:56] ebidel commented on #1254
This issue was moved to ebidel/try-puppeteer#9

[2017-11-02 15:56] #1254 closed, assigned to nobody

[2017-11-02 16:15] ebidel commented on #1257
Note, you can get the raw ws url from https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#browserwsendpoint. How you use that is up to you :)

There's also an [open issue](https://github.com/GoogleChrome/puppeteer/issues/31) to better expose the raw protocol for power users.

[2017-11-02 16:26] aslushnikov commented on #1245
Awesome.

[2017-11-02 16:26] #1245 closed, assigned to nobody

[2017-11-02 16:38] EliSnow commented on #1257
Wow! Well sorry for the noise then. @krisselden, is there anything you want to add?

[2017-11-02 16:50] ebidel commented on #299
@titusfx that shouldn't be. `fs.writeFileSync` should save to the path you specify. Unless you're doing something else.

[2017-11-02 17:17] stephenash opened #1260 "GPU is always disabled when running in headless mode."
I'm trying to use puppeteer to interact with a webpage that requires WebGL support. When puppeteer launches Chromium in headless mode, the `--disable-gpu` flag is always used. Based on https://bugs.chromium.org/p/chromium/issues/detail?id=737678#c1, that flag is not necessary on Linux or MacOS anymore.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Plat

[2017-11-02 17:23] ebidel commented on #1248
Headless doesn't support navigating to a PDF.

There's a note at the end of https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options.

[2017-11-02 17:24] #1248 closed, assigned to nobody

[2017-11-02 17:31] ebidel commented on #1260
@aslushnikov should we only use this flag on Windows? https://chromium-review.googlesource.com/c/chromium/src/+/522068 fixed the libmesa issue on Linux.

[2017-11-02 17:38] krisselden commented on #1257
@ebidel you can not have multiple clients connected, it is the _connection I would like exposed so one can send/receive debugging protocol messages for API that hasn't received a nice high level wrapper.  If you connect to the websocket chrome disconnects other connections.

[2017-11-02 17:52] jharrington-ls opened #1261 "Error: Runtime.evaluate error when 10+ pages in browser"
# Environment

- **Puppeteer version:** 0.12.0
- **Local Platform:** macOS Sierra 10.12.6
- **Web Platform:** Heroku 16 with buildpack https://github.com/jontewks/puppeteer-heroku-buildpack

# Expected Result
1. Launch Puppeteer browser
2. For each search URL, open a new page in that browser
3. For each new page, wait until network idle and selectors `h3` and `a` are there
4. Scrape the results of

[2017-11-02 17:59] ebidel commented on #1257
As of Chrome 63, multi client is supported! https://developers.google.com/web/updates/2017/10/devtools-release-notes#multi-client

You should be able to use `puppeteer.connect()` to the same browser instance, also have devtools open, etc. It all just works :)

[2017-11-02 18:00] stephenash commented on #1260
I did try to add that type of logic in locally [0], but that seems to cause unit tests to fail. I'm not sure why that is, so I haven't opened a PR yet.

[0] https://github.com/stephenash/puppeteer/commit/73387fd914912cbf9f214c7e19e764c9f070eebc

[2017-11-02 18:05] vsemozhetbyt commented on #1248
@ebidel It seems @UCSBGauchos means headful mode:

[2017-11-02 18:08] vsemozhetbyt commented on #1248
Maybe this is like some feature request: implement what "Save link as..." context menu item does.

[2017-11-02 18:32] alex-pl commented on #1057
I figured out a small workaround for this. In my case I want to generate PDFs in the DIN A4 format, which corresponds to a pixel size of 794 * 1122. I'm setting this additionally to the normal pdf format (which is still set to `format: A4`) in `page.setViewport()` which allows me to set a `deviceScaleFactor`.

[code]

[2017-11-02 19:02] focusaurus commented on #776
In light of this bug, is there any working technique or workaround to replace the value in a text input in the current puppeteer release? From the docs it seems like `.select()` is not relevant. I was also trying the "select all then hit Backspace" approach described in this bug and at the moment I can't find a workaround.

**update 2** Based on the other bug, here's my workaround function (should

[2017-11-02 19:15] MrSco opened #1262 "chromium hangs on newPage(). Inspector.targetCrashed from php shell_exec() but fine from console cmd"
When running puppeteer from the console command line it works fine, but if I run it from a shell_exec() in php (running as IUSR), puppeteer just hangs after calling browser.newPage(); The chromium instances just sit running in task manager and have to be killed manually to return control to the php page. The only common denominator seems to be the OS version being a server variety... on windows 10

[2017-11-02 19:40] webchaz opened #1263 "document.getElementsByTagName returns object tree with empty values?"
I have the following code:

[code]

This results in a long list of:

[code]

How do I get the actual DOM from this?

[2017-11-02 19:59] ebidel commented on #1263
You can't return the actual page DOM back into a puppeteer script. Those objects live in separate worlds. What you get from `page.evaluate()` is a [JSONHandle](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args) that you can actual on. By default, this gets serialized (if it can be). So that's what you're seeing.

`jsonValue()` and `getProperties()` are

[2017-11-02 20:31] aslushnikov commented on #426
@Glennvd this sounds like a bug. Would you mind creating a new issue and describing what's your setup? It would be very helpful if we would be able to re-create your setup locally and reproduce the issue.

[2017-11-02 20:36] michaelryancaputo opened #1264 "Google OAuth Sign In - canot get context of popup window"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Mac OS High Sierra
* URLs (if applicable): Can not post

**What steps will reproduce the problem?**

Have been trying to find a way to track when a pop up for google oAuth login comes up to log in to our app - this seems to have changed recently, we had previously been able to log in v

[2017-11-02 20:44] aslushnikov commented on #1249
Hi @CommanderXL,

Lifecycle events are sent for the document lifecycle; anchor navigation doesn't affect the document per se. Protocol doesn't expose anything related to the anchor navigation for now.

There's #257 to track progress of battling anchor navigations. Please, upvote!

[2017-11-02 20:44] #1249 closed, assigned to nobody

[2017-11-02 20:50] aslushnikov commented on #1262
Can you please try adding `dumpio` option to the `puppeteer.launch` command? Hopefully, it will give us some stacktrace of what's going on.

There's also a discussion of running pptr on Azure: #515

[2017-11-02 20:53] aslushnikov commented on #1264
@michaelryancaputo current puppeteer version, v0.13.0 (not yet released; has to be installed from github directly) supports targets and specifically [`targetcreated`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-targetcreated) event. It should help you to track pop-ups and connect to them.

Let me know if it works for you.

[2017-11-02 21:19] michaelryancaputo commented on #1264
@aslushnikov much appreciated, I seem to be getting this error with the following code:

[code]

[code]

[2017-11-02 21:47] aslushnikov commented on #1261
@jharrington-ls it looks like renderer process crashes, e.g. due to memory constrains.

I'd recommend creating a pool of pages and scheduling tasks among them. This should allow you to process URLs in parallel while avoiding creation of multiple renderers.

[2017-11-02 21:47] #1261 closed, assigned to nobody

[2017-11-02 21:51] aslushnikov commented on #1264
Ah, it looks like you use node6.
If you installed from github and you use node6, you'll have to build puppeteer-node6 manually:

[code]

[2017-11-02 21:58] aslushnikov commented on #1260
@ebidel @stephenash it looks like protocol's `Emulation.setDefaultBackgroundColorOverride` doesn't work well without `--disable-gpu` flag.

[2017-11-02 22:01] #1257 closed, assigned to nobody

[2017-11-02 22:03] aslushnikov commented on #1250
@fran0254 you should move `page.on('dialog')` line out from the loop. Otherwise you end up with dozens of listeners, each trying to dismiss the same dialog.

[2017-11-02 22:03] #1250 closed, assigned to nobody

[2017-11-02 22:09] MrSco commented on #1262
I added the dumpio option but I don’t see any additional output. The log I posted came from “set DEBUG=*” prior to running “node screenshot.js”. What else needs to be done for dumpio to output info?

-Rocco

[2017-11-02 22:15] vsemozhetbyt commented on #921
@aslushnikov @JoelEinbinder Unfortunately, https://github.com/GoogleChrome/puppeteer/pull/1259 does not fix the case in the OP: the outputs of the examples still differ and the `console.log(await page.cookies('https://twitter.com/'));` still displays many cookies in the `headless: false` mode and much fewer cookies in the the `headless: true` mode.

[2017-11-02 22:17] JoelEinbinder commented on #1084
The fullPage screenshot is actually what is causing you problems. You have a `mouseleave` listener on your element to remove the context menu. Taking a fullPage screenshot scrolls the viewport to the top of the page, which causes the mouse to be in a different position on screen, which causes the `mouseleave` event to fire and the context menu to be hidden.

You can take a regular screenshot, or a

[2017-11-02 22:17] #1084 closed, assigned to JoelEinbinder

[2017-11-02 22:17] aslushnikov commented on #1262
@MrSco the dumpio will just output to stdout; nothing else should be necessary.

Let me clarify. Puppeteer works fine for you locally, but doesn't launch in your target environment - which is "Windows Server 2008R2 (x64)".

Can you please try running pptr there manually and see if it works? It could be that some libraries/dependencies are missing.

[2017-11-02 22:59] aslushnikov commented on #921
@vsemozhetbyt we're very sorry; it indeed doesn't work! We're on it.

[2017-11-02 23:39] yujunglo commented on #1173
Confirmed that this works with puppeteer 0.12. Look forward to the fix in 0.13. Thank you.

[2017-11-03 00:33] jharrington-ls commented on #1261
Thanks for the info @aslushnikov!

Was looking through the API and saw no mention of pooling pages or scheduling tasks, so just want to double check I'm understanding the solution properly.

Instead of creating and closing a page for each URL, I should instead:
- Open a small amount of pages on one browser instance (e.g. 3 pages max)
- Loop through URLs and send to any open page
- Once a URL has b

[2017-11-03 01:27] CommanderXL commented on #257
Will the problem of anchor navigations be solved in 0.13？

[2017-11-03 01:39] aslushnikov commented on #921
For the record: upstream patch is up for review https://chromium-review.googlesource.com/c/chromium/src/+/752743

[2017-11-03 01:44] aslushnikov commented on #1261
@jharrington-ls yes, exactly this. This will restrict total amount of pages to 3; whereas in your snippet you create 10 pages simultaneously.

[2017-11-03 01:49] aslushnikov commented on #1248
With #1191 you'll be able to add a content-disposition header for the responses marked as "pdf". This should result in a pdf being downloaded.

[2017-11-03 02:06] aslushnikov commented on #776
@focusaurus you should be able to just assign empty value to the input:

[code]

Regarding the bug itself: it turned out that MacOS X has a special handling for shortcuts: in OS X world, the Cmd-A is handled by operating system, not chrome. As a result, it depends on focused application and other factors, and that's why we can't emulate the behavior precisely.

@JoelEinbinder can you please add th

[2017-11-03 02:20] MrSco commented on #1262
dumpio is only adding one additional line to stderr at the very beginning...

`
[1]DevTools listening on ws://127.0.0.1:65398/devtools/browser/a451dbb4-a63e-4412-9266-1a3706f6af76
`

puppeteer works locally on the Windows Server 2008R2 (x64) from the console command prompt terminal, but not when run from php shell_exec() on Windows Server 2008R2.

Windows 10 pro x64 works either way.

I've attache

[2017-11-03 03:21] focusaurus commented on #776
@aslushnikov ah brilliant! I had keystroke emulation on the brain but that's a great solution.

[2017-11-03 05:09] aslushnikov commented on #478
Everybody: as a workaround, tracing could be recorded with screenshots embedded:

[code]

If the `trace.json` file is dropped into the devtools performance panel, there will be screenshots embedded into the timeline.

[2017-11-03 05:40] aslushnikov commented on #1256
@ithinkihaveacat the website changed the content and it looks there's no video any more.
I tried with https://www.youtube.com/watch?v=E8C8ouiXHHk and 0.13.0-alpha worked just fine.

[2017-11-03 06:19] nov-liluo opened #1265 "the method mouse.up() cannot trigger ondragend event when I drag some controls towards canvas"
* Puppeteer version: 0.12.0
* Platform / OS version: centos

**What steps will reproduce the problem?**
I try to use JavaScript function in my code to trigger this event, is there any batter way in puppeteer?

**What is the expected result?**
I focus the html element，use mouse.down()，then mouse.move(x, y) to the canvas，the canvas will create a node

**What happens instead?**
but element‘s ondrop()

[2017-11-03 06:21] aslushnikov commented on #1265
@JoelEinbinder could you please take a look? That's your favorite drag-and-dropping!

[2017-11-03 06:45] premillos opened #1267 "can't install puppeteer"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: windows 10
* URLs (if applicable): can't support

**What steps will reproduce the problem?**

![image](https://user-images.githubusercontent.com/16378134/32362569-5b4ee95e-c0a5-11e7-85fb-f5ffdf54e9fb.png)

_Please include code that reproduces the issue._

1.yarn add puppeteer

**What i

[2017-11-03 07:05] #1179 closed, assigned to nobody

[2017-11-03 07:06] aslushnikov commented on #1267
are you behind a firewall?

[2017-11-03 07:12] premillos commented on #1267
@aslushnikov  yes , but i use the shadowsocks and the taobao registry

[2017-11-03 07:17] aslushnikov opened #1268 "Headless can't read LocalStorage written from Headful"
1. Open headful chrome with a custom userDataDir
2. Write some localStorage:
[code]
3. Close headful chrome
4. run headless with the same userDataDir
5. try reading localStorage in headless chrome:
[code]
Expected: "hello" to be returned in (5)
Actual: empty object is returned

This is similar to #921 and might be due to missing encryption for local storage in headless chrome.

[2017-11-03 07:20] vsemozhetbyt commented on #1268
Did you check IndexedDB?

[2017-11-03 07:22] aslushnikov commented on #1268
@vsemozhetbyt no, I didn't check anything but localStorage.

[2017-11-03 08:10] andy2046 commented on #1175
can you try to add catch for the Promise, as shown below, you also need to try catch and reject inside setInterval

[code]

[2017-11-03 09:48] vivien7512 commented on #872
Yes! I really need to have sound and I don't want to come back to selenium!

[2017-11-03 10:55] vsemozhetbyt opened #1270 "Headless can't read indexedDB written from Headful and vice versa"
* Puppeteer version: v0.13.0-alpha with https://github.com/GoogleChrome/puppeteer/pull/1259
* Platform / OS version: Windows 7 x64
* URLs (if applicable): https://example.org/

I am not sure if I use indexedDB completely properly, please, correct me if needed.

<details>
<summary>Code example:</summary>

[code]
</details><br>

<details>
<summary>Output:</summary>

[code]
</details><br>

[2017-11-03 10:55] vsemozhetbyt commented on #1270
Refs:
https://github.com/GoogleChrome/puppeteer/issues/921
https://github.com/GoogleChrome/puppeteer/issues/1268

[2017-11-03 10:57] vsemozhetbyt commented on #1268
@aslushnikov `indexedDB` check: https://github.com/GoogleChrome/puppeteer/issues/1270
You can check a vice versa variant here too.

[2017-11-03 11:20] ithinkihaveacat commented on #1256
Sorry, copy and pasted the wrong URL. Please try https://awesome-ray.glitch.me/. (Description also updated.)

[2017-11-03 12:54] dustyhorizon opened #1271 "'Page.setLifecycleEventsEnabled' wasn't found undefined"
Puppeteer version: master
Platform / OS version: ubuntu:17.04 (using google-chrome-unstable in a container)

Not sure what happened but kept getting the following

[code]

EDIT: tested and found commit ac55e69676dde4908e81c45f75cc84e0d3e850e9 was causing this. commit fede2643ac997be9899e67adcbd5f33170736647 had no issues.

[2017-11-03 13:25] daviscai opened #1272 "feature: page.keyboard.type support callback function"
keyboard.type(text, options)  => keyboard.type(text, options, callback)

because i need to do something for each character in the text

[2017-11-03 13:27] petarthewizard commented on #860
@aslushnikov I've made it public again you can take look. Thanks

[2017-11-03 13:48] petarthewizard opened #1273 "Puppeteer takes partial page screenshot instead of full page"
I am trying to take a full page screenshot of http://digg.com (mobile version) but it always takes a partial screenshot, it also happens on https://thenextweb.com/. Here is the code I am using:

[code]

[2017-11-03 14:31] MrSco commented on #1262
@aslushnikov I just tested on Windows Server 2016 x64 and it works fine also... the win10 kernel seems to be fine with running puppeteer from php shell_exec... but any older windows architechure chokes on the browser.newPage() call and hangs there.... but the same box that chokes on it via php can run it fine from the console terminal... very strange.

[2017-11-03 15:48] barbolo commented on #85
Ok, I got this working. Thanks for the tip, @ks07 .

[code]

**UPDATE (2017-11-04):**
I've updated the example with a suggestion on how to close the page and its context.

[2017-11-03 16:12] fran0254 commented on #1250
Ok, and is it possible to check if there is a dialog or not before loading the event?

[2017-11-03 16:23] ithinkihaveacat opened #1274 "response.buffer() rejects for selected resources"
The promise returned by [response.buffer()](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#responsebuffer)  consistently rejects for certain resources. This makes it impossible to collect information about certain resources that can only be obtained from the buffer, such as the length of the resource.

The problem seems to particularly affect video/media files. (Perhaps because

[2017-11-03 16:41] ithinkihaveacat commented on #1274
A workaround for finding the total amount of data downloaded is to listen to devtools' `Network.dataReceived` event via the page's private `_client` property, and track each chunk, something like:

[code]

[2017-11-03 16:47] vsemozhetbyt commented on #1272
Does not this approach suffice?
[code]

[2017-11-03 17:13] aslushnikov commented on #1250
@fran0254 no, you need to subscribe to the event and track the state of the dialog

[2017-11-03 17:13] #1272 closed, assigned to nobody

[2017-11-03 17:20] aslushnikov commented on #1262
@MrSco this seems to be an issue with the php you're running. It could be that chrome's crashing because of insufficient memory or due to enforced permissions. Can you run chromium right away from `proc_close`, without calling into node and pptr?

[2017-11-03 17:23] MrSco commented on #1262
@aslushnikov do you know of a chrome shell command i can send that will return useful output to test that theory?

 in the mean time i tried with C#.NET and have the same outcome... puppeteer launches chromium but it just hangs...

[2017-11-03 17:25] aslushnikov commented on #1271
@dustyhorizon you somehow use new puppeteer with and old chrome that doesn't support `Page.setLifecycleEventsEnabled` method.

Make sure you run `npm install` in pptr folder to download a new chromium.

[2017-11-03 17:25] #1271 closed, assigned to nobody

[2017-11-03 17:45] taf2 commented on #765
tried the rpm out...

[code]

[2017-11-03 20:05] jbr opened #1276 "page.select() should error if it can't find an option with requested value"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13-alpha
* Platform / OS version: macos

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
html:
[code]
puppeteer:
[code]

**What is the expected result?**

Either select the option with the value that is string-equal to the second arg (0.12 behavior) OR throw an error whe

[2017-11-03 20:17] icarusmiles commented on #85
Are there any problems doing that @barbolo? Short or long term issues? Would closing the page close the context?

[2017-11-03 20:22] ks07 commented on #85
I haven't had any problems using this method - although as mentioned this probably won't work with `headless: false`.

[2017-11-03 21:14] aslushnikov commented on #1276
@jbr `page.select` returns an array of selected options. You can inspect it to see if the value was actually selected.

[2017-11-03 22:34] jbr commented on #1276
@aslushnikov Understood.  Why not warn on invalid arguments, though, if numbers aren't coerced to strings?

[2017-11-03 22:51] chooserich opened #1278 "Can't await `networkidle` after `page.click` for JS sites"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: MacOSX

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
Ideally there would be some way to wait for the network to complete loading **after** the button is clicked. The result would be that the first

[2017-11-03 23:45] aslushnikov commented on #1276
@jbr good call.

Let me convert arguments to strings.

[2017-11-04 01:14] skunkwerk opened #1279 "inconsistent navigation timeouts when running 10 pages in parallel"
When I run this script multiple times, I always get navigation timeouts - but never the same number, or for the same sites.  What could be wrong?

Version: 0.12.0
OS: Mac OS X 10.13

Code to reproduce:

const puppeteer = require('puppeteer')
async function test()
{
	const browser = await puppeteer.launch();

	var sites = ['http://bbcnews.com','http://yahoo.com','http://cnn.com','http://quora.com',

[2017-11-04 01:47] aslushnikov commented on #952
For this to be closed, the 'page.disconnected' is also necessary.

[2017-11-04 02:20] #1276 closed, assigned to nobody

[2017-11-04 02:31] aslushnikov commented on #1278
There is:
[code]

As a side note, you don't need cheerio to iterate DOM. Instead of:

[code]

you can just do:
[code]

[2017-11-04 10:12] vsemozhetbyt commented on #1279
I cannot reproduce on Windows 7 x64  with the v0.13.0-alpha and this (slightly reformatted) code:
<details>
<summary>Code:</summary>

[code]
</details><br>

[2017-11-04 12:48] pocketjoso commented on #658
Not sure that was the character, but I also don't have it at hand at the moment. Feel free to close and I will re-open if I come across the same problem again.

[2017-11-04 12:58] pocketjoso commented on #662
@aslushnikov just wanted to give an update:
For my own purposes I ended up just skipping the wait for `page.goto` to resolve, after a certain timeout, with the assumption that in these case it’s just a badly configured site that keeps spamming requests, which seems to hold for my use cases.

Hence I don't have this problem anymore.

However I noted in my debugging that the requests that prevent th

[2017-11-04 12:58] thatsnoi opened #1281 "Unable to package puppeteer ('Chromium revision is not downloaded')"
Hello everyone,
I got the following, which I think is a bug in puppeteer:
I made an application with electron and puppeteer and I've successfully packaged with electron-packager and electron-builder , however when I want to call my puppeteer function, I get this error:

`Assertion failed: Chromium revision is not downloaded. Run "npm install"`

In fact, a few people got the same error with zeit pa

[2017-11-04 13:44] barbolo commented on #85
@miles-collier Unfortunately, I can't answer you properly. Maybe @aslushnikov can say what he thinks about issues with this approach.

[2017-11-04 16:08] aslushnikov commented on #662
Thanks @pocketjoso for the update.

It depends on the situation; module loaders, for example, rely heavily on xhr's.

[2017-11-04 16:09] #658 closed, assigned to nobody

[2017-11-04 16:10] aslushnikov commented on #1281
Hey @thatsnoi,

Out of curiosity, why would you need to use puppeteer with electron? Can you please share your usecase?

[2017-11-04 16:14] aslushnikov commented on #85
@miles-collier  The major issue is that contexts are not supported in headful chrome.

Protocol gives full control for context management: you can create and dispose contexts when needed.
However, in the code snippet the author issues a command to dispose the context whenever the page closes.

[2017-11-04 16:24] TheStaticTurtle opened #1282 "Node.JS Compilation error"
so I'm trying to compile my program that us coin-hive module witch uses puppeteer but pkg output me an error:

[code]
And there is the output when I strat Miner-win.exe:
[code]
Here is my package.json
[code]
And Here is my code:

[code]

Thanks in advance!
PS: I have already started an issue on pkg: #https://github.com/zeit/pkg/issues/277

[2017-11-04 17:08] thatsnoi commented on #1281
Hi @aslushnikov,
Thanks for the answer. I am programming a bot and I am using electron for the UI. You then can input some information and press a button, which basically calls the puppeteer function. After doing that( in the packaged version) I get an error. But as I said, I don't think it has anything to do with electron...

[2017-11-04 20:22] chooserich commented on #1278
@aslushnikov That doesn't work ... the waitForNavigation winds up freezing the page if the network is already idle. Also without putting `await` in front of each of the actions it raises an error of `UnhandledPromiseRejectionWarning`

[2017-11-04 21:20] rosskevin commented on #803
I'm experiencing this when navigating a `development` release of a react frontend with puppeteer.  I have no problems when I navigate the `production` build, but we are using puppeteer as a microservice in a docker container for rendering, and compiling to a production build in development is a horrific workflow.  We tried running the container with `--shm-size=8192m` and it didn't work.

Our curr

[2017-11-04 21:38] CesarLanderos commented on #803
hey @rosskevin ! I used to have that issue also on kubernetes, turns out Kubernetes is waaay more restrictive with the shared memory partition than docker itself, which they set to 25mb by default (AFAIK).

i dont know if this is the best solution, but the following changes worked for us, basically we are mounting the shared memory partition to the host memory and setting a limit of 1G... aaand ad

[2017-11-04 21:42] rosskevin commented on #803
Thanks @CesarLanderos! I'm just about to deploy so that will be very useful.

[2017-11-04 21:51] CesarLanderos commented on #803
cool!, also, i see that there is already a PR for adding extra tips fo running chrome with just docker, so i think this issue should be closed, what do you think @pionl?

cc @aslushnikov @ebidel

[2017-11-04 21:51] CesarLanderos commented on #803
sorry, this is the PR https://github.com/GoogleChrome/puppeteer/pull/1235

[2017-11-04 22:12] rdeltour commented on #1179
Awesome, thanks @xg-wang!

[2017-11-05 01:17] thankwsx commented on #1267
set the env  variable to skip download the chromium。
you can just use chrome canary for instead by setting launch params executablePath

[2017-11-05 03:13] aslushnikov commented on #1278
@biznickman doesn't the button click spawn more network activity in your case?

[2017-11-05 03:49] UCSBGauchos opened #1283 "page.goto response issue"
Hi

I use the page.goto(fileurl) to download the file.

Is there any possibility for the page.goto(fileurl) to return the downloaded filename in the response's header.

[code]

[2017-11-05 05:10] daviscai commented on #1272
this is what i want
[code]

[2017-11-05 05:16] ebidel commented on #803
Yep we can close and I'll address the feedback in the PR to get it merged. If there are other tips, we can add them to the troubleshooting doc.

[2017-11-05 05:16] #803 closed, assigned to nobody

[2017-11-05 05:16] UCSBGauchos commented on #1283
It looks like there's no content-disposition fields in the headers. Can I enable it ?
{ status: '200',
  date: 'Sun, 05 Nov 2017 05:29:05 GMT',
  'content-encoding': 'gzip',
  'set-cookie': 'AWSALB=itD62msHw5PTYOaChzT+W3Do32uN81520fT2uO9gveLNRVsjytmkLPe47Jehw9WDfM7cat1yWE8C5yL8cohUYBQRhcfC1dua0hhqvlQ++VX6Sx/LU9HqlmTPui/o; Expires=Sun, 12 Nov 2017 05:29:04 GMT; Path=/',
  vary: 'Accept-Encoding,Use

[2017-11-05 05:21] UCSBGauchos opened #1284 "Refer #1248. How to download the PDF in headful mode."
Old issue. I am running it in headful mode. So how can I download the PDF file without rendering it by goto(PDFurl)

[2017-11-05 05:21] UCSBGauchos commented on #1284
#1248

[2017-11-05 05:32] UCSBGauchos commented on #1248
@aslushnikov Not sure how to do it in the code. Can you give me an example?

[2017-11-05 05:32] UCSBGauchos commented on #1248
@vsemozhetbyt yes

[2017-11-05 06:15] aslushnikov commented on #1248
@UCSBGauchos the #1191 is not implemented yet, but it would look something like:

[code]

[2017-11-05 11:12] simov commented on #659
@vitalets in the meantime you can use `--disable-extensions-except` to enable only the extensions that you want to test:

[code]

[2017-11-05 15:45] bluepeter commented on #446
One option may be to start headless Chrome and set cache to 0 so it's effectively never used? `--disk-cache-size=0` may do the trick...

[2017-11-05 16:37] tglines commented on #1024
Setting the `docker run --shm-size 1G ...` param or something higher solved this issue for me, but I was lucky enough to be able to specify the size.  Starred the bug mentioned by @ebidel

[2017-11-05 16:40] GautierT commented on #1279
Probably related to #1211.
(I still have to make a small repro.)
I think it's a memory issue (heroku - RAM : 512mb) because i can't repro this on local (osx - 10.11.6 - RAM : 8gb)

[2017-11-05 18:20] ebidel commented on #1024
Let's close this in favor of the upstream chromium bug. Not much we can do from the Puppeteer side until that's fixed.

[2017-11-05 18:20] #1024 closed, assigned to nobody

[2017-11-05 18:23] ebidel commented on #659
Nice tip @simo!

On Sun, Nov 5, 2017, 3:12 AM simo <notifications@github.com> wrote:

[2017-11-05 19:19] joelgriffith commented on #290
FWIW I’m working on a web service that handles most of the issues involved in running Chrom in a production like environment. Comes with preset versions that are directly compatible with certain puppeteer versions.

Launches tomorrow 🚀 https://browserless.io

[2017-11-05 21:10] ebidel commented on #290
@joelgriffith looks really interesting! Let us know when that goes out.

One word of caution are the Chrome logos on the site. Distorting, changing it's orientation, etc. is technically against the [brand trademark usage](https://www.google.com/permissions/trademark/rules.html). The colored line versions are probably ok if you made those, but I'd be cautious about the altering the official logo.

[2017-11-05 22:41] chooserich commented on #1278
@aslushnikov it does but for whatever reason it just freezes and nothing happens. Or what I'm thinking is the network activity occurs and completes before `waitForNavigation` is called.

[2017-11-06 02:27] premillos commented on #1267
@thankwsx  thanks i set the npm env can use it

[2017-11-06 02:27] #1267 closed, assigned to nobody

[2017-11-06 03:12] alixaxel commented on #1082
@aslushnikov Can we have @pwnall solution pushed to NPM as a hotfix in a patch version while the underlying issue is not fixed?

[2017-11-06 03:45] Khady commented on #1056
In the meantime, maybe a check should be added to be sure than `goto` can't return a `null` value? I didn't manage to create a short script to reproduce the problem, but I have noticed that it happens pretty often, even for normal url.

[2017-11-06 03:53] Khady commented on #1056
I created an issue on chromium bugtracker: https://bugs.chromium.org/p/chromium/issues/detail?id=781660

[2017-11-06 05:07] daviscai opened #1286 "How to install chrome extensions"
How to install chrome extensions , e.g  Flash Video Downloader

if puppeteer can install chrome extensions , that will be more powerfull

[2017-11-06 05:42] ebidel commented on #1286
Puppeteer doesn't have APIs for installing Chrome extensions at runtime, but you can load extensions via a cmd line flag when launching Chrome. See https://github.com/GoogleChrome/puppeteer/issues/659#issuecomment-341965254 for the tip.

[2017-11-06 05:42] #1286 closed, assigned to nobody

[2017-11-06 07:39] zhaopengme commented on #85
@barbolo hi barboli. if i use `headless :false`,there is a error.

[code]

[2017-11-06 08:31] axetroy commented on #951
Anyone can provide Chinese download mirror?

I will be thanksful

[2017-11-06 08:55] zyv commented on #575
https://pypi.python.org/pypi/pyppeteer ;-) FYI

[2017-11-06 09:58] nhoizey commented on #1157
@aslushnikov I understand it would be impossible without an evolution in Chromium.

I think I can't use `page.addStyleTag` for this. I want to change the root font size.

[2017-11-06 10:01] ali-habibzadeh commented on #1159
Same issue here

[2017-11-06 10:11] yzhang commented on #765
Just got chrome headless with puppeteer run successfully on Amazon Linux AMI 2017.09, and here's the how-to: [https://mockingbot.com/blog/run-puppeteer-chrome-headless-on-ec2-amazon-linux](https://mockingbot.com/blog/run-puppeteer-chrome-headless-on-ec2-amazon-linux)

[2017-11-06 10:45] barbolo commented on #85
@zhaopengme as others have pointed, this approach doesn't work in headful chrome. That's why this issue is open.

[2017-11-06 10:55] zhaopengme commented on #85
@barbolo ╮(╯▽╰)╭!thanks!

[2017-11-06 11:32] sohailalam2 commented on #299
I am trying to download a file by clicking a link (which goes through JS instead of a URL as @kensoh mentioned [here](https://github.com/GoogleChrome/puppeteer/issues/299#issuecomment-322867965)). The file gets downloaded when I am running in `headless: false` mode, but the problem its gets downloaded to the default location. **How can I change the default download location??** Also, the file does

[2017-11-06 11:36] geertbrit commented on #85
@aslushnikov Am I correct that contexts can be saved to / and resumed from disk when this lands? I remember this pointed out in a discussion somewhere, but can't seem to find it now

[2017-11-06 11:55] ali-habibzadeh commented on #759
I have the same issue. Any updates on this?

[2017-11-06 12:00] kensoh commented on #299
@sohailalam2 upstream Chrome DevTools Protocol has the new method Page.setDownloadBehavior. More info on [its parameters](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-setDownloadBehavior). Puppeteer's team probably already has something more elegant and robust in mind to address downloads.

In the meantime you can try this comment (force the behavior to 'allow' and explicitl

[2017-11-06 12:24] sohailalam2 commented on #299
Thanks @kensoh 👍 It works.

[code]

[2017-11-06 12:33] 0xjgv commented on #1175
I've found the problem. The browser had very little allocated memory. The final code looks like _[this](https://github.com/juansgaitan/earn-search/blob/master/main.js)_. If you want to try it out, clone it, install all the dependencies (```npm install```) and  run ```npm run test-local``` and checkout the OUTPUT result in the 'kv-store-dev' directory.

[2017-11-06 12:48] sohailalam2 commented on #299
There is one possible issue with this hack currently -

If downloading a file and the another file exists by the same name, then puppeteer overwrites the file with the new content instead of changing the filename. :(

[2017-11-06 13:12] zouyifeng opened #1288 "Error: connect ETIMEDOUT"
hi, I'm trying to run the code
[code]

but it always throws the error
[code]
node version: v8.7.0
Platform: Ubuntu 14.04.5 LTS

[2017-11-06 14:11] MrSco commented on #1262
@aslushnikov it doesn't seem to be an issue with the php as it works with php configuration on different computer OS's, namely windows 10 pro x64 and windows server 2016 x64. calling node/pptr from C#.NET also has the same issue when .newPage() is called... the chromium instance hangs and the DEBUG output says "Inspector.targetCrashed". it seems environmental... do you have a windows server 2008R2

[2017-11-06 14:19] LasaleFamine opened #1289 "(docs proposal) add example tool: http-server-pwa and/or pupperender"
Hey there, I have made two new modules these days that are related to Puppeteer in some way:

* [pupperender](https://github.com/LasaleFamine/pupperender) - an ExpressJs middleware for rendering PWAs to bots using Puppeteer.
* [http-server-pwa](https://github.com/LasaleFamine/http-server-pwa) - http-server alike server but for serving and rendering PWA (using pupperender).

Do you think are worth

[2017-11-06 14:19] Garbee commented on #1157
Just change the body style and set the font size using an evaluation in page.

[2017-11-06 14:47] nhoizey commented on #1157
I first would have to check if the CSS sets a font-size on `html` and/or `body`.

And it won't be enough anyway, because Media Queries expressed with `em` or `rem` are relative to the root font size.

In [the media query spec](https://drafts.csswg.org/mediaqueries/#units):

[2017-11-06 15:11] rosskevin commented on #615
On that same note @ebidel and @frko I'm also interested in reliability and autoscaling for a kubernetes pod (puppeteer in docker).  @CesarLanderos pointed me to [his kubernetes deployment config](https://github.com/GoogleChrome/puppeteer/issues/803#issuecomment-341931546), but I'm also interested in bullet-proofing the scaling of an internal rendering service.  It is similar to try-puppeteer but o

[2017-11-06 15:54] kauecastro commented on #367
Have already you fixed this problem ? Could you show me the solution ? :)

[2017-11-06 16:31] joelgriffith commented on #290
Thanks @ebidel, I've cleaned up the images in question. Let me know if there's anything else that looks like a violation.

The service is live, I'd be more then happy to answer any questions folks might have here about launching in a linux environment or about the service itself. Not exactly an easy task...

[2017-11-06 16:50] ebidel commented on #1289
Yea, these are similar to puppetron and rendertron. But the express middleware seems generally useful to others. How about just adding that to examples/README? PR?

[2017-11-06 16:55] LasaleFamine commented on #1289
Yup, I'll prepare a PR for the middleware. Thank you!

[2017-11-06 16:56] michaelryancaputo commented on #1264
Thanks, that seems to have worked. Just have to figure out how to use this. I've strung this together based on some other issues and some stack overflow stuff. Having a strange problem now where th email is being typed multiple times in the input field.

[code]

[2017-11-06 17:26] mlibre opened #1291 "page.addStyleTag dose not work."
puppeteer@0.12.0
Linux. debian jessie. steamos

here is my code and some awesome CSS!!

test.js
====
[code]
css.css
======
[code]
Reproduce Steps.
* node test.js
* check pic.png

expected result:
* Black background
* Big Font Size.

happens instead:
* Nothing. default webpage like i didn't add any css file.

[2017-11-06 17:41] ks07 opened #1292 "More flexible dumpio"
Enabling `dumpio` is quite useful as I'm experiencing some instability with headless chrome, but it can be very noisy.

It would be good if we could filter chrome's output (e.g. to filter out uninteresting messages based on tags like CONSOLE:), as well as redirect it elsewhere (e.g. to a file, or a buffer).

[2017-11-06 17:48] paynoattn commented on #299
@sohailalam2 is there a way to set this in the browser class rather then the page?

[2017-11-06 17:51] vsemozhetbyt commented on #1291
I would say the code may need some small additions and a reodering, please, try this:
[code]

[2017-11-06 17:53] sohailalam2 commented on #299
@paynoattn if you are asking about _setDownloadBehavior_ then no, there isn't a method to do so at browser level. You can read the documentation [here](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-setDownloadBehavior).

[2017-11-06 17:57] mlibre commented on #1291
Yehhhh. fixed. Ty.

[2017-11-06 17:57] #1291 closed, assigned to nobody

[2017-11-06 18:30] Garbee commented on #1157
AH, `em` wouldn't get affected. That's right. `rem` however still would (I have built experiments in the past that function based on that.)

@aslushnikov This is actually something that is fairly important if sites want to be able to test their accessibility. While it isn't anything that should be jumped right on to be done. I do believe it prudent to have this task as something to be done in the

[2017-11-06 18:52] datasunny commented on #854
@paulirish Could you explain how to turn on 'disabled-by-default-v8.cpu_profiler' and 'disabled-by-default-v8.cpu_profiler.hires' in puppeteer? Thanks.

[2017-11-06 18:58] ebidel commented on #1288
Check your connection or firewall settings.

[2017-11-06 18:58] #1288 closed, assigned to nobody

[2017-11-06 19:34] knownasilya commented on #361
Unfortunately `.localhost` doesn't work with OAuth redirect either. Any suggestions on that end?

[2017-11-06 19:36] nhoizey commented on #1157
@Garbee thanks a lot, it is indeed for a11y testing that I would like to be able to do it.

Should we reopen this issue, or create one elsewhere?

[2017-11-06 19:56] tglines commented on #1060
Had a similar issue.  Had to up the space given to `/dev/shm` by Docker, then things worked fine.
See: https://github.com/GoogleChrome/puppeteer/issues/1024

[2017-11-06 20:14] paulirish commented on #854
Currently you cannot. https://github.com/GoogleChrome/puppeteer/blob/5e154dc835fcacdec6e680a695630352dae959dc/lib/Tracing.js#L36-L55

perhaps there should be a new option added like: `page.tracing.start({sampling:true})`.

[2017-11-06 20:20] kunalshah commented on #951
Help needed for Chinese mirror. We can't get this to work in China at the moment!

[2017-11-06 21:02] divyamvn opened #1294 "Broken Click after upgrading to 0.12.0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.12.0
* Platform / OS version: Mac OS Sierra
* URLs (if applicable): Testing on LocalHost

**What steps will reproduce the problem?**
My existing working test started failing after upgrading to 0.12.0.
I was looking into similar issues with click. However, this seems different to me and this is the very first Step in

[2017-11-06 21:59] hellosze commented on #1137
Seeing errors for this site.  http://www.wmcactionnews5.com/ .
Also used headless:false.

(node:71693) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: SSL Certificate error: ERR_CERT_COMMON_NAME_INVALID
(node:71693) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate

[2017-11-06 22:34] JoelEinbinder commented on #1272
`keyboard.type` was intentionally written using only public methods, so that you can implement your own version of it. I am curious as to what your use case is, but I feel like this is too specific to include in puppeteer.

[2017-11-06 22:46] chooserich commented on #1278
@aslushnikov I have now verified this issue with another script that I'm running in which a field is displayed after typing in information. What information do you need in order to ensure this is reopened? It's definitely an inherit limitation.

[2017-11-06 23:43] chooserich opened #1296 "No errors raised when select element not found"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: master version
* Platform / OS version: MacOSX

**What steps will reproduce the problem?**

The documentation [currently states](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#frameselectselector-values) that `frame.select` should raise an error if the value is not found. However there's nothing in

[2017-11-07 04:19] patrickeakin commented on #1082
I've also been experiencing clicks producing the error
`Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined`

The way i've gotten around it is with page.eval$ and javascript's click method. Like this.
`await page.$eval('.some_class', x => x.click())`

[2017-11-07 05:22] aslushnikov commented on #1278
@biznickman if you can provide me with a script so that I can reproduce it locally, this would be absolutely awesome.

[2017-11-07 06:04] #1221 closed, assigned to nobody

[2017-11-07 08:14] andy2046 commented on #1175
so `--shm-size=1gb` should solve your issue?

[2017-11-07 08:25] JoelEinbinder commented on #1294
The main problem here should be fixed by #1299, which properly handles retina display with DOM.getBoxModel. But I am very curious about the error `Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined`. Do you have a repro case for that? Thanks!

[2017-11-07 08:27] JoelEinbinder commented on #1082
This should be fixed by #1299, but I am still trying to track down the `Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined` bug.

[2017-11-07 08:44] JoelEinbinder commented on #1126
This should be fixed by #1299

[2017-11-07 08:46] 0xjgv commented on #1175
Yes! Have you tried it out?

[2017-11-07 09:03] aslushnikov commented on #1092
CLosing as dupe of #1126

[2017-11-07 09:03] #1092 closed, assigned to JoelEinbinder

[2017-11-07 09:04] jdvisaria commented on #299
Hi @sohailalam2 I need small help. niftyindices.com is newly launched site by nseindia.com.

Previously I used to download historic data from url : https://www.nseindia.com/products/dynaContent/equities/indices/total_returnindices.jsp?indexType=NIFTY%20BANK&fromDate=30-09-2017&toDate=31-10-2017

in this "NIFTY%20BANK&fromDate=30-09-2017&toDate=31-10-2017" dynamically created using Excel Macros whe

[2017-11-07 09:19] aslushnikov commented on #1294
@divyamvn @patrickeakin can you guys please share a repro case where you experience the `DOM.getBoxModel` error?

[code]

[2017-11-07 09:20] aslushnikov commented on #1082
Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined

@patrickeakin for the `DOM.getBoxModel`, could you please share the repro in the #1294?

[2017-11-07 09:23] #1082 closed, assigned to JoelEinbinder

[2017-11-07 09:23] #1126 closed, assigned to JoelEinbinder

[2017-11-07 09:34] aslushnikov commented on #1157
Ah, too bad workaround doesn't work.

@nhoizey could you please also file a bug for this at `crbug.com/new`?

[2017-11-07 09:42] aslushnikov opened #1300 "Tracing: allow adding custom tracing categories"
(Based on discussion in https://github.com/GoogleChrome/puppeteer/issues/854#issuecomment-342247715)

There should be a way to run tracing with custom categories.

@paulirish suggested having a "sampling" option with optional "hires" parameter.

[code]

As a valid alternative, I like letting users specify custom categories:

[code]

[2017-11-07 09:42] aslushnikov commented on #854
@datasunny @paulirish filed https://github.com/GoogleChrome/puppeteer/issues/1300 for this, looks like a good-first-bug

[2017-11-07 10:11] aslushnikov commented on #1262
@MrSco no, unfortunately I don't have any.

So let me clarify one more time: chrome runs just fine for you on Windows Server 2008R2. Is this correct?

[2017-11-07 10:16] #1289 closed, assigned to nobody

[2017-11-07 10:20] aslushnikov commented on #1175
@juansgaitan can this be closed then?

[2017-11-07 10:21] aslushnikov commented on #1060
Thanks, closing as a dupe of #1024.

[2017-11-07 10:21] #1060 closed, assigned to nobody

[2017-11-07 10:24] davidwindell commented on #1060
I'll try mounting /dev/shm into the container as --shm-size isn't support on Rancher

[2017-11-07 10:28] aslushnikov commented on #1264
@michaelryancaputo the code looks legit. If you have a good repro, feel free to file another issue!

[2017-11-07 10:28] #1264 closed, assigned to nobody

[2017-11-07 10:30] nhoizey commented on #1157
@aslushnikov done: https://bugs.chromium.org/p/chromium/issues/detail?id=782172

[2017-11-07 10:45] 0xjgv commented on #1175
@aslushnikov shall we wait for @andy2046 to see if it works for him?

[2017-11-07 11:10] xprudhomme commented on #299
Hi @jdvisaria :

Nothing happens when clicking on the "_Download file in csv format_" link. I suspect there is something wrong with their page's Javascript code / link click event handling.

There don't seem to be any hard link, since it's more likely that a new CSV file is created "on the fly" by Javascript, using a blob, but the link click event seems to be broken.

Anyway, this has no relation

[2017-11-07 11:11] ithinkihaveacat commented on #1256
Actually, even in "headed" mode (i.e. headless: false), the video doesn't appear. Is there anything different with headless mode regarding video?

The source code that fails:

[code]

[2017-11-07 11:19] aslushnikov commented on #1175
If the workaround doesn't work for @andy2046's usecase, there must be a different scenario which is worth filing a separate issue. This would help to organize discussions.

[2017-11-07 11:21] aslushnikov commented on #1256
@ithinkihaveacat ah, that's codecs. That's been discussed in https://github.com/GoogleChrome/puppeteer/issues/291

[2017-11-07 11:21] #1256 closed, assigned to nobody

[2017-11-07 11:37] jdvisaria commented on #299
@Xavatar Thank you for the reply. Hope you went on http://niftyindices.com/reports/historical-data to do the analysis. Once you are on this link, select "Total Return Index" from top left side and select any older start date from date manu. Once you click on submit it will show the the table on right hand side with "csv format" link.

Now csv file will be downloaded. I am trying to figure out URL

[2017-11-07 12:36] vsemozhetbyt commented on #921
@aslushnikov Sorry, https://github.com/GoogleChrome/puppeteer/commit/2f7c77875ec56f20b7064704d91f002115a4efef still does not fix the case in the OP, the status quo from the https://github.com/GoogleChrome/puppeteer/issues/921#issuecomment-341574397 remains.

[2017-11-07 12:53] shmdhussain opened #1302 "Page Type Not Working"
### Steps to reproduce
I am trying to type into the text field which is present in the page using the page.type api as in the code

`(function (exports, require, module, __filename, __dirname) { const puppeteer = require('puppeteer');

(async() => {
    const browser = await puppeteer.launch({

        headless: false,
        executablePath: '/Applications/Google\ Chrome.app/Contents/MacOS/Google

[2017-11-07 13:14] zhuyingda opened #1303 "centos7.4 cannot install puppeteer because of EACCES error"
My linux vps system info is here:

LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.4.1708 (Core)
Release:	7.4.1708
Codename:	Core

I try to run ` npm install puppeteer@latest ` in my project dir, and got an error:

[root@iZ620vd4tb0Z webster-use]# npm i puppeteer@latest

fs.js:885
  return binding.mkdir(pathModule._makeLong(path),

[2017-11-07 13:20] zhuyingda commented on #1303
Also, I have changed my project folder `chmod 777`, and the problem still there.

[2017-11-07 13:22] MrSco commented on #1262
@aslushnikov

- chrome and chromium both run fine on windows server 2008R2
- node/puppeteer run fine on windows server 2008R2 when called from console shell.
- chrome and chromium both run fine on windows server 2016 and windows 10
- node/puppeteer run fine on windows server 2016 and windows 10 when called from console shell.
- node/puppeteer run fine on windows server 2016 and windows 10 when cal

[2017-11-07 13:28] xprudhomme commented on #299
@jdvisaria Yes indeed as suspected, there is no HTTP request made to their server to query for the CSV file.

The CSV data is entirely generated on-the-fly and is being sent as data url, as follows:

[code]
The Javascript code responsible for this part is located in http://blob.niftyindices.com/assets/js/IISLComponet.js

[code]

All what you have to do is to handle this csvData differently, and re

[2017-11-07 14:07] udaykanthr commented on #1273
Hi,

Please try with,
await page.goto(url, {waitUntil: 'networkidle0', timeout: 60000});
await page.waitFor(60000); (instead of waitForNavigation())

I believe this issue is with "waitUntil: 'networkidle0'" where it is not working as expected (wait until all page request -> response completes)

[2017-11-07 14:15] rafagsiqueira commented on #1294
I can confirm this also happens for puppeteer@0.13.0-alpha.

[2017-11-07 14:52] aaronshaf commented on #894
I get the same problem when I have:

[code]

[2017-11-07 14:54] udaykanthr commented on #1173
Hi ,

We are using latest version instead of 0.12.
When can we expect this fix applied.

[2017-11-07 15:24] dmytroboiko commented on #1273
Hi, @udaykanthr
I tried:
[code]
For site, http://www.spiegel.de/ screenshot repeated some contents and doesn't have full content of page [screenshot](https://goo.gl/A3heZE)
For http://digg.com have full page, but some images weren't uploaded [screenshot](https://goo.gl/tXcsfC)

[2017-11-07 15:35] dbauszus-glx opened #1305 "Error: spawn UNKNOWN on launch()"
Having used puppeteer less than two weeks ago I am no longer able to launch puppetteer on my Windows machine. The launch still works on a Mac Book. The code, or versions have not changed.

Pupetteer 0.12
Node 8.4

All examples are copied straight from the puppeteer api documentation. e.g.

    puppeteer.launch().then(async browser => {
        const page = await browser.newPage();
        await pa

[2017-11-07 15:51] divyamvn commented on #1294
Thank you for the response.
One of the instances where the DOM.getBoxModel error occurs for me...

   await page.focus( `div.core-appmenu-IndividualSearch input.searchinput.i-input` );
    await page.click( `div.individualSelect.individualSelectAppMenu input.searchinput.i-input` );
    await page.type(`div.individualSelect.individualSelectAppMenu input.searchinput.i-input`, firstName + ' ' + lastN

[2017-11-07 16:55] murilozilli commented on #822
@aslushnikov how do I install this version? There is no tag/release. I tried  `npm install https://github.com/GoogleChrome/puppeteer
` to install the master branch but it didn't work.

[2017-11-07 17:14] aslushnikov commented on #921
@vsemozhetbyt just checked, it worked for me on Mac OS X. I'll check on Windows shortly. Meanwhile, are you sure you ran the 'npm install' so that pptr downloaded a new chromium binary?

[2017-11-07 17:19] aslushnikov commented on #1294
@divyamvn can you please share the HTML as well? The issue seems to be with some specific property of the element you click.

[2017-11-07 17:20] aslushnikov commented on #822
`npm install https://github.com/GoogleChrome/puppeteer` should work just fine; I'm not sure why it wouldn't work.

[2017-11-07 17:23] aslushnikov commented on #1305
@dbauszus-glx it looks like the puppeteer doesn't have a chromium instance to start. Can you please:
- check if there's a `.local-chromium` folder in the `node_modules/puppeteer`
- try launching chromium from `.local-chromium` manually

[2017-11-07 17:24] murilozilli commented on #822
@aslushnikov It installed it but I couldn't use the normal way. It would always try to use the `node6` folder which is inexistent on the master branch apparently throwing an fatal error even though I use node v8.9.0. I tried to change the index.js file but without success.

[2017-11-07 17:28] vsemozhetbyt commented on #921
@aslushnikov Yes, I've run `npm install https://github.com/GoogleChrome/puppeteer` and checked the version in the `.local-chromium` (is `64.0.3262.0` / `514418`).

[2017-11-07 17:29] aslushnikov commented on #1262
@MrSco thanks. Given your analysis, the culprit has to be somewhere around `shell_exec`. I'm not sure if there's anything specific to puppeteer that might cause such a behavior.

I'd try running chrome via the `shell_exec` in non-headless mode and see if it is functional.

[2017-11-07 17:32] aslushnikov commented on #1302
I see you run your own chrome instance:
[code]
What's the version of the chrome you run?

[2017-11-07 17:33] dbauszus-glx commented on #1305
I thought so initially and reinstalled Chromium but this isn't it. Chromium is installed and runs manually. puppeteer.executablePath() returns the correct path which starts chromium straight away.

[2017-11-07 17:33] aslushnikov commented on #822
@murilozilli in case of node-6, you'd need to do additional step (sorry about this, we've never documented this anywhere):

1. goto `node_modules/puppeteer`
2. run `npm run build`

[2017-11-07 17:35] ryanvincent29 opened #1306 "Screenshots do not include expanded <select>"
### Steps to reproduce

1. Navigate to a page with a `<select>` box on it
2. Programmatically click the `<select>`, which opens up the options
3. Take a screenshot

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: MacOS Sierra 10.12.6

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
[code]

**What is the expected

[2017-11-07 17:36] yfcck opened #1307 "any target="_blank" solution?"
These codes can not be solved

https://stackoverflow.com/questions/45806684/puppeteer-how-to-handle-multiple-tabs

https://github.com/GoogleChrome/puppeteer/issues/386

puppeteer：v0.12.0
centos:7.2

[2017-11-07 17:49] murilozilli commented on #1100
@aslushnikov any idea?

[2017-11-07 17:52] divyamvn commented on #1294
The button wrap appears after searching for any text in an input field. The error occurs on clicking the buttons in the button-wrap.

[code]

[2017-11-07 18:24] shmdhussain commented on #1302
Using chrome Version 62

[2017-11-07 18:27] #809 closed, assigned to nobody

[2017-11-07 18:28] aslushnikov commented on #1294
@divyamvn still doesn't reproduce for me. Can you please also paste CSS rules applied to the `<button class="primary-btn" data-buttonindex="0">a</button>`?

[2017-11-07 18:40] aslushnikov commented on #1302
@shmdhussain that's too old; puppeteer 0.12 should work fine with chrome M64

If you need chrome instead of chromium, I'd suggest using Chrome Canary.

[2017-11-07 18:40] #1302 closed, assigned to nobody

[2017-11-07 18:52] shmdhussain commented on #1302
@aslushnikov Thanks lot now it is working ... I was scratching my head, I didnt know it wont work with chrome 62...I thought it is latest stable, so it will work

[2017-11-07 18:53] Everettss commented on #1306
Let's take a look on this example:
<img width="880" alt="screen shot 2017-11-07 at 19 48 12" src="https://user-images.githubusercontent.com/8555194/32511675-c5a599d6-c3f4-11e7-8068-e15c08962e2a.png">
For me this native select doesn't belong to page layer - as you can see it's "outside of the page".
Is it even possible to capture this kind of UI?

[2017-11-07 18:53] aslushnikov commented on #1100
@murilozilli the following works just fine for me:
[code]

I was also able to take a screenshot with no problems.

[2017-11-07 18:53] #1100 closed, assigned to nobody

[2017-11-07 19:04] aslushnikov commented on #1306
@Everettss @ryanvincent29 indeed, expanded selects are rendered by the OS and are not rendered at the screenshots we're taking.

This is an architectural constraint and won't be fixed any time soon.

[2017-11-07 19:04] #1306 closed, assigned to nobody

[2017-11-07 19:07] aslushnikov commented on #1307
This is already supported on tip-of-tree pptr, v0.13.0.

It's not released yet on NPM, but
you can install it from github to help us dogfooding it: `npm install https://github.com/GoogleChrome/puppeteer`

[2017-11-07 19:07] #1307 closed, assigned to nobody

[2017-11-07 19:10] divyamvn commented on #537
+1

[2017-11-07 19:41] VinceG opened #1310 "Error: Protocol error (Network.enable): Target closed."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: puppeteer@0.12.0
* Platform / OS version:  CentOS Linux release 7.2.1511 (Core)

**What steps will reproduce the problem?**

This was written while working on a Mac then when we tried to run this on a server running CentOS the below exception is thrown. I've went ahead and read and tried numerous things including ins

[2017-11-07 19:57] JoelEinbinder commented on #921
I can reproduce this on windows, although the test `headless should be able to read cookies written by headful` passes for me.

[2017-11-07 20:52] MrSco commented on #1262
@aslushnikov it seems limited to IIS 7.5 (maybe older versions as well) IIS 8 and up work ok with PHP shell_exec...

I also found that ASP hangs when calling puppeteer on even new versions of IIS.  Maybe you have a better suggestion I can use to call puppeteer server side from a web request?

`<%
Set oScript = Server.CreateObject("WSCRIPT.SHELL")
szCMD = """C:\Program Files\nodejs\node"" C:\inetpu

[2017-11-07 21:17] #1244 closed, assigned to nobody

[2017-11-07 21:26] #690 closed, assigned to JoelEinbinder

[2017-11-07 21:29] aslushnikov commented on #1310
@VinceG this looks like a memory issue. Aren't you running in a docker?

[2017-11-07 21:31] aslushnikov commented on #1262
@MrSco I don't know what are your requirements, but I've seen people successfully using node.js  as a server on windows. To my knowledge, they didn't have any issues using puppeteer in such a setup.

[2017-11-07 21:48] JoelEinbinder commented on #1294
My current hypothesis is that the button is in the dom, but it is set to `display: none`, or a parent of it is set to `display: none`. This would make sense if the drop down didn't open in time. Then the error `Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined` will be thrown.

I have a patch #1309 which should make this error message clearer: `Node is not visible`

[2017-11-07 21:51] VinceG commented on #1310
@aslushnikov  It's not a docker it's a Linode server running CentOS.

[2017-11-07 21:58] aslushnikov commented on #1222
@Kalliser can you please check the latest version of puppeteer and see if it works for you? The #1299 should've fixed this.

[2017-11-07 22:17] divyamvn commented on #1294
Thanks for the update.
@JoelEinbinder Shouldn't the waitForSelector visible or any of the wait methods work then?
I used waitForSelector for the button with visible true before clicking on it, which should help me wait until the button is visible right?
I anyway don't see any display: none rule on the element or any parent of it
Moreover the test never failed before I upgraded to 0.12.0.

Your sug

[2017-11-07 22:26] JoelEinbinder commented on #1294
Before 0.12.0, this would just click some arbitrary location and sort of fail silently. I have a follow up patch to make waitForSelector more robust, but right now it doesn't check the visibility of parent nodes.

Having the CSS applied to the button and button-wrap would be very helpful.

[2017-11-07 23:01] masmerino13 commented on #1177
Any updates? I'm having the same issue.

[2017-11-07 23:16] Kalliser commented on #1222
@aslushnikov I checked with the master version of puppeteer and I can confirm that it's works now !

Great job.

[2017-11-07 23:17] JoelEinbinder opened #1313 "Cmd+A doesn't select all on Mac"
There are two types of shortcuts: those handled by OS and those handled by Chrome
  - `Alt-Tab` is an example of a **native** shortcut
  - `Shift-Left` is an example of **Chrome-handled** shortcut

Puppeteer doesn't emulate native shortcuts because native shortcuts depend on the active window, which is out of control for puppeteer.

Certain shortcuts, such as "select all", are handled differently

[2017-11-07 23:18] #1313 closed, assigned to nobody

[2017-11-07 23:18] #1222 closed, assigned to JoelEinbinder

[2017-11-07 23:53] Jamesernator commented on #1247
I tried the latest version in the repository and now the error has changed to `Error: Node is not visible` which isn't the case either.

[2017-11-08 00:22] #776 closed, assigned to JoelEinbinder

[2017-11-08 00:54] cdaringe opened #1315 "elementHandle.screenshot clip object uses wrong y value"
### problem

calls to `elementHandle.screenshot` use the incorrect y value, resulting in invalid images

### Steps to reproduce

- scroll an element into view
- get an element handle
- call elementHandle.screenshot
- observe chrome scroll to the top of the doc, at y: 0, and capture content from there
  - we use the boundingBox object as a input to `clip`, but when scrolled into view, `boundingBox.

[2017-11-08 00:58] cdaringe commented on #1315
ah ha!  see: https://chromedevtools.github.io/devtools-protocol/tot/Page/#type-VisualViewport

confirmed, pup's clip values need to be patched

[2017-11-08 00:59] cdaringe commented on #1315
... https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-captureScreenshot

^^ would be handy too :)

[2017-11-08 01:13] cdaringe commented on #1315
rather than being a productive citizen and landing a patch here (which i should :(), i'll at least share the hack fix:

[code]

^^ this _only works_ if you're always starting from the top of the document to begin with.

[2017-11-08 02:03] andy2046 commented on #1175
thanks, it works for me but i need to add the catch in the inner promise 👍

[2017-11-08 02:06] gumieri commented on #615
Hi,

IMHO, a better approach for assuring a solid auto scaling would be isolate the "API using puppeteer" container from the chrome, creating another container for running Chrome and exposing its WS to the puppeteer.

I'm just not sure if it is possible to separate the chromes instances placing a load balancer to its WS and balance these requests. Would it fail by breaking the "session"? A request

[2017-11-08 03:05] aaronshaf commented on #894
[code]

[2017-11-08 03:43] natew opened #1316 "Trouble using session/cookies through userDataDir?"
### Steps to reproduce

Hey all! Not sure at all if this is possible but wanted to be sure. Just wanted to clarify. I'm using userDataDir to point to my Default and active profile. But with `headless: false` I've attempted loading a variety of sites and none show me as logged in.

The docs don't necessarily clarify either way, nor did a quick search.

**What steps will reproduce the problem?**

[c

[2017-11-08 03:51] natew commented on #1316
Ah, I see it actually made all my paths relative. If I made the path relative, I now just get a cannot read or write to data directory, which is a step forward.

[2017-11-08 04:12] aslushnikov commented on #894
@aaronshaf what's your environment? Do you use docker? Can you share your script/url so that we can repro it locally? Also, can you please file a new issue answering above questions so that we have more information to work with.

[2017-11-08 04:13] aslushnikov commented on #1247
Thanks @Jamesernator, this is a bug.

[2017-11-08 04:14] #1175 closed, assigned to nobody

[2017-11-08 04:15] jdvisaria commented on #299
@Xavatar Thanks for the reply. I will try to figure out URL. Thanks again.

[2017-11-08 04:25] aslushnikov commented on #1316
@natew this looks like a dupe of #921

There are also #1268 and #1270. Please, upvote all of them if you need this functionality in puppeteer!

[2017-11-08 04:27] natew commented on #1316
Interesting, thanks for the quick reply. I did see those tickets. My own one doesn't seem to work even with `headless: true` for some reason, so not truly a dupe.

So it should load an existing Chrome profile and be able to use those cookies with one of `headless: false` or `headless: true`?

[2017-11-08 04:29] natew commented on #1316
Just tested and neither seem to use my session on two websites I tested, verified the userDataDir is pointing to the right place.

[2017-11-08 04:41] aslushnikov commented on #1316
@natew oh wait, I believe the issue is in the '~' that you have as part of the `userDataDir`. Can you please check if it works with absolute path? (Relative path should work too, but bash expansions are not supported).

[2017-11-08 04:47] natew commented on #1316
I actually tried a ton of combinations including absolute (just put that there to not put my actual user path here).

When I did `/Users/me/Library...` it actually created a relative folder from where I ran the script like: `/tmp/script/Users/me/Library...` which I hadn't noticed. Perhaps from previous attempts. I just tried again with absolute path and it seems to run at least, I don't know how t

[2017-11-08 05:05] Khady commented on #894
With a recent version of puppeteer and dumpio, I now have this:

[code]

[2017-11-08 05:13] Khady commented on #894
The log looks more like #893

[2017-11-08 05:26] aslushnikov commented on #894
@Khady that's a nice stacktrace, thank you. Filed upstream as https://crbug.com/782545

+cc network gurus @caseq and @allada.

[2017-11-08 05:30] aslushnikov commented on #1316
@natew Do I get it right that you are trying to re-use the Google Chrome profile directory in Chromium?

[2017-11-08 05:32] natew commented on #1316
Yes, or alternatively, to use the Chrome executable itself with it's own profile. Basically, want to script my own browser, without having to do some pretty complex copying of cookies/session over. Wasn't sure if it was supposed to work or not.

[2017-11-08 05:42] Khady commented on #894
And another trace, with another url. Puppeteer version d1f044e18ff6eeb80468e4f30dbd99618dc13f96

[code]

[code]

[2017-11-08 05:52] Khady commented on #894
http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-north-houston-spring-HOUSXHX/index.html
http://hamptoninn3.hilton.com/en/hotels/pennsylvania/hampton-inn-and-suites-valley-forge-oaks-PHLVYHX/index.html
http://www.ikea.com/us/en/catalog/products/00177249/
https://www.accuweather.com/en/us/bristol-vt/05443/weather-forecast/336184
https://www.thesun.co.uk/news/2669006/hillary-clin

[2017-11-08 06:11] aslushnikov commented on #894
@Khady awesome, I can repro on OS X on tip-of-tree (https://github.com/GoogleChrome/puppeteer/commit/7d18275fb981e01cec4a4fbac61a9c66e46947bc) with
[code]

[2017-11-08 06:26] Khady commented on #1056
Update with more urls that give a null value as return of goto (puppeteer: d1f044e18ff6eeb80468e4f30dbd99618dc13f96 and headless true)

- http://www.ayurstatedirect.com/?aff=pt|ebook|maynews|pt|ayurtox
- http://www.milliyet.com.tr/Suriye'deki/
- http://www.cardiofy.com/?aff=pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|pt|ebook|maynews|pt|cosmic

[2017-11-08 08:34] pragmaproducts opened #1317 "breakpoint in workspace not firing"
I am trying out puppeteer but running into debugging issue that I was hoping someone may be able to shed some light on please.

"puppeteer": "^0.12.0"

running test file using node --inspect-brk
added application files to chrome as a workspace.

I can debug the actual puppeteer code but the breakpoints in the web app that puppeteer is running does not fire.

What are the steps to follow to set a b

[2017-11-08 10:15] zxsoft opened #1318 "npm install FAILED because of uncertain proxy config"
I'm from china where need a proxy to download google chrome.

so, I set "npm config set proxy [xxx.xxx.xxx.xxx:xxxx]" and  use command "npm install puppeteer --save", but the install failed.

I checked the installer.js file which located "node_modules/puppeteer/installer.js" and noticed the installer used env proxy,that is, HTTP_PROXY and HTTPS_PROXY on the linux environment.

So when I want to do

[2017-11-08 10:18] konstantinblaesi opened #1319 "Client certificate authentication on pages."
I've looked through open/closed issues and the puppeteer API documentation. Is an API planned/possible? Is there an alternative solution? Will puppeteer just use some global chrome profile + certificate store and use the client certificates installed on the host?

[2017-11-08 11:20] simion314 commented on #666
I tested again and A4 works better, no need to mess with scaling, but some pages have 1pixel white margin on the bottom, this is problematic when we use non white background or colored footers background(wkhtmltopdf does not have this issue with the same input)

[2017-11-08 12:00] wanghongjuan opened #1320 "browser.pages() is not a function"
I want to get all content of new page that open it via url forward, instead of using `browser.newPage()`, but I am not clear how to do it. When I trying to use `browser.pages()`, the terminal show "TypeError: browser.pages is not a function".

### Steps to reproduce
Following is my test code:
[code]

**Test Environment:**
* Puppeteer version:0.12.0
* Platform / OS version: Ubuntu 16.04

**What is

[2017-11-08 12:05] vsemozhetbyt commented on #1320
`browser.pages()` method is added in v0.13.0-alpha (compare [v0.13.0-alpha doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#browserpages) vs [v0.12.0 doc](https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md)). You can upgrade via `npm install https://github.com/GoogleChrome/puppeteer/`.

[2017-11-08 13:49] rosskevin commented on #615
@gumieri thanks for your comments

This doesn't solve the need to still scale the chrome container reliably e.g. too many requests on a single container that blows up memory (I'm guessing memory is likely to be the constraint)

I have my customized puppetron behind a `Service`, and the entire browser goto/render is done in one script, so no session issues.

Good to note your success there, how man

[2017-11-08 15:55] alexkozy commented on #1317
AFAIU you would like to debug function that you calls in page context using page.evaluate and other puppeteer methods. We do not have good solution for you right now but you can add "debugger;" statement in your code and run puppeteer in head full mode:
`puppeteer.launch({headless: false, devtools: true})`
As soon as you step over puppeteer function that running code with debugger statement, you s

[2017-11-08 16:21] vitallium commented on #583
Hi! @ebidel, I submitted it here - https://bugs.chromium.org/p/chromium/issues/detail?id=782700

[2017-11-08 16:33] thatsnoi commented on #1281
Can anyone help me?

[2017-11-08 16:39] gajus opened #1321 "What is "Page crashed!" error?"
### Steps to reproduce

N/A (Not able to reproduce consistently.)

**Tell us about your environment:**

* Puppeteer version: master
* Platform / OS version: Docker image based on Node:8.5 https://gist.github.com/gajus/3426d738dde10ce3c9a9bb39138578ea
* URLs (if applicable): https://www.myvue.com/

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

[2017-11-08 16:46] ebidel commented on #583
Looks like someone's looking into it as of 20min ago :)

On Wed, Nov 8, 2017 at 8:21 AM Vitaly Slobodin <notifications@github.com>
wrote:

[2017-11-08 16:47] #1320 closed, assigned to nobody

[2017-11-08 16:47] gajus commented on #1321
I cannot replicate this issue outside of Docker.

[2017-11-08 16:48] ebidel commented on #1321
There's an example Docker setup and tips and tricks when hitting issues like this in https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker.

[2017-11-08 16:48] #1321 closed, assigned to nobody

[2017-11-08 16:50] dhruv-m-patel commented on #422
@aslushnikov very helpful, I was able to generate PDF with external fonts by using `page.goto` with `'data:text/html' + document`. 👍

[2017-11-08 17:02] gajus commented on #1321
That answer did not explain what the error means.

For anyone running into this issue on K8S, the issue is that `/dev/shm` allocation is too small (64MB default).

You cannot override Docker shm configuration in K8S, however, there is this workaround https://stackoverflow.com/a/46434614/368691.

[2017-11-08 17:16] dbauszus-glx commented on #1305
This is bizarre... I remember now what was different when puppeteer was working on my machine. I was evaluating visual studio code. I just started VS Code again and sure enough puppeteer just works. Not a single line of code has changed, no installs, no environment settings. While when started through WebStorm; Puppeteer bombs out on launch every single time.

[2017-11-08 17:21] cdaringe commented on #1315
working on a PR now

[2017-11-08 18:14] davidbeers opened #1322 "Error: Generator is already running"
As our app is currently running on node 6, I've converted one of puppeteer's node 8 async/await examples to use promises like this:

[code]
On the call to page.screenshot() I get the following error:
[code]

I've also seen the same error on calls to page.goto().

If I catch every step in the promise chain and swallow the "Generator already running" errors, the chain can complete and I do get the e

[2017-11-08 18:27] cdaringe commented on #1315
see #1323

[2017-11-08 19:06] sradu commented on #583
Thanks guys!!

[2017-11-08 21:05] chooserich commented on #1278
@aslushnikov take the code I posted at the beginning and rather than `this.baseUrl` use `https://www.kickstarter.com/discover/advanced?sort=newest`

[2017-11-08 21:49] gregoirepuget commented on #946
Not seems to work : UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): AssertionError [ERR_ASSERTION]: Unknown value for options.waitUntil: domcontentloaded

[2017-11-08 22:09] vsemozhetbyt commented on #946
@gregoirepuget It is available only from the v0.13.0-alpha. You can upgrade by `npm install https://github.com/GoogleChrome/puppeteer/`

[2017-11-08 22:16] entrptaher commented on #842
@Garbee, maybe we can delete the file after downloading?
`interactive_ui_tests.exe`
It takes 100mb space for no reason.

[2017-11-08 23:07] vl4dt opened #1324 "DEP0018 DeprecationWarning, Trying the second example in the README.md puppeteer process starts but won't exit on Windows 10 x64"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v0.12.0
* Platform / OS version: Windows 10 Pro 64-bit (10.0, Build 15063)
* URLs (if applicable): https://news.ycombinator.com
* Node version: v8.9.1 64-bit

**What steps will reproduce the problem?**
Copy and paste the second example at:
https://github.com/GoogleChrome/puppeteer

_Please include code that reproduce

[2017-11-08 23:32] gajus opened #1325 "When would an error "Cannot find context with specified id undefined" happen?"
I am getting the following error:

[code]

It is a large codebase and it is unclear whats triggering this error.

Any guides?

On that note, there needs to be a better way to throw error. Without knowing the origin of the error in the code it is impossible to trace down these exceptions.

[2017-11-08 23:37] gajus commented on #827
Might be related, https://github.com/GoogleChrome/puppeteer/issues/1325.

[2017-11-09 00:02] vsemozhetbyt commented on #1324
Please, recheck your puppeteer version: there is no v1.3.2 yet. `networkidle2` is available from the v0.13.0-alpha. You can upgrade with `npm install https://github.com/GoogleChrome/puppeteer/`.