[2022-04-25 02:46] miranquil commented on #475
It is unbelievable that Chrome has no perfect solution to such a SIMPLE problem.

I tried Safari's export to PDF and it directly generated a SINGLE PAGE.

[2022-04-25 06:13] OrKoN commented on #7115
I think the change makes sense, and I will be happy to review a PR on this! (thanks for the ping)

[2022-04-25 09:07] mattzeunert commented on #2117
It's a simple code change in Page.js, something like this:

[code]

[2022-04-25 10:30] andyearnshaw opened #8272 "Provide an option for `puppeteer.launch()` to run a docker image"
I came here to ask about making it easier to run Puppeteer in Docker and I spotted #3072, which is very much related. Docker is arguably the ideal way to run puppeteer because it guarantees a consistent environment for your puppeteer scripts regardless of the operating system you're running them on. Some examples of differences across operating systems are:

 * Font rendering (makes visual snapsho

[2022-04-25 10:44] andyearnshaw commented on #3072
I'm interested in this too, but I think that some of the assumptions made around mounting or mapping volumes is unnecessary. I agree with what @steren said, you could run the container directly and then connect to it using `puppeteer.connect()`, [in a similar vein](https://docs.browserless.io/docs/docker-quickstart.html) to `browserless/chrome`:

[code]

Chromium is now running, so we can connect.

[2022-04-25 11:03] IPWright83 opened #8274 "[Bug]: Content is being truncated at end of page"
### Bug description

I'm trying to create a PDF export of a page within our web application, and some of the content is being truncated. It renders some of the content up until the end of the page but doesn't roll onto the next page to render anymore of a list.

The output differs between puppeteer and the standard chrome print dialog, which renders the full content. I believe this is likely a bug

[2022-04-25 14:12] andyearnshaw commented on #8272
I was able to hack this in quite quickly by making changes to `BrowserRunner.ts` and a couple of other files. Here's the `launch()` configuration I tested with:

[code]

And here's the changes I made:

[code]

It works a charm if the docker image is already downloaded. I used it to run ~800 tests with Karma, including several visual snapshot tests. I tested it with our internal docker image that r

[2022-04-25 19:45] omarbk opened #8275 "[Bug]: pdf header does not accept large size images"
### Bug description

Steps to reproduce the problem:

1. …
when I use image more than 80 ko at the level of the pdf header, the pdf is not generated

### Puppeteer version

13.6.0

### Node.js version

14.16.0

### npm version

6.14.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2022-04-26 07:00] Liberxue opened #8276 "[Bug]: setRequestInterception does not support resourceType websocket"
### Bug description

I want to **modify websocket** request. Preview using ``cdpSession`` can work.

Steps to reproduce the problem:
[code]

### Puppeteer version

13.6.0

### Node.js version

v14.19.1

### npm version

6.14.16

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2022-04-26 09:20] wolf427 opened #8279 "[Bug]: evaluateOnNewDocument not work"
### Bug description

Simple scenario like below
[code]

Print undefined

### Puppeteer version

13.5.2

### Node.js version

v14.17.6

### npm version

6.14.15

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-04-26 14:42] vasani-arpit commented on #3495
In case future me stumble upon this again.

```const revision = require('puppeteer/package').puppeteer.chromium_revision;```

is not available any more. You can use the following.

```const revision = require('puppeteer/lib/cjs/puppeteer/revisions.js').PUPPETEER_REVISIONS.chromium;```

[2022-04-26 14:47] vasani-arpit commented on #8203
I think you might be looking for this

[code]

[2022-04-26 14:57] vasani-arpit commented on #8203
You can also get it from here

https://omahaproxy.appspot.com/

you can have it in json using https://omahaproxy.appspot.com/all.json

you can also pass arguments in query params to get desired channel or platform

[2022-04-26 15:41] Rongronggg9 commented on #7822
`libappindicator` is just used to help programs display their icon on the systray. Does headless Chromium really need it?

What's more, `libayatana-appindicator3-1` has tons of dependencies!

I've done some tests on `node:16-bullseye-slim`:
[code]
[code]
[code]
[code]

[2022-04-26 17:10] nu111 commented on #7972
Same issue on puppeteer `13.6.0` and node.js `v18.0.0`

[2022-04-26 20:13] Rongronggg9 commented on #7822
So I figured out some magic to install only those **necessary libs**:

[code]

They are (for `node:16-bullseye-slim` and puppeteer v13.6.0):
[code]

Still, the [doc](https://github.com/puppeteer/puppeteer/blob/1308d9aa6a5920b20da02dca8db03c63e43c8b84/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix) suggests us to install these non-lib packages:
[code]
And If you do need to render pag

[2022-04-26 20:36] Rongronggg9 commented on #7822
In fact, neither `chromium` from Debian nor `google-chrome-stable` from Google depends or transitively depends on `libappindicator` or `libayatana-appindicator`. Just verify that yourself:
[code]

Meanwhile, I really doubt if `lsb-release` is still required. The reason is the same.

These are all packages on which `chromium`/`google-chrome-stable` depends (transitive dependencies omitted):
[code]

[2022-04-26 20:47] Rongronggg9 commented on #7822
@mmouterde And just an off-topic reminder:
You don't need to install those packages listed in https://github.com/puppeteer/puppeteer/blob/1308d9aa6a5920b20da02dca8db03c63e43c8b84/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix as long as you install `google-chrome-stable`. APT will get all dependencies installed.
If you merely use the bundled Chromium from puppeteer, no need to keep

[2022-04-26 22:12] Apezdr commented on #5893
Still an issue, I get gradual CPU and memory usage, I am closing the browser & page instance.

[2022-04-27 02:53] woochanleee opened #8280 "[Bug]: PDF Full height not working. It's overflowing"
### Bug description

Steps to reproduce the problem:

Check this repo.
https://github.com/woochanleee/puppeteer-pdf-reproduction/blob/master/index.js

[bug.pdf](https://github.com/puppeteer/puppeteer/files/8568327/bug.pdf)

I want to make a full pdf(21cm) PDF of A4 format(landscape).
But output is 2 pages. And, it looks like it's overflowing.

Why is there a white space at the bottom?
Like this,
<

[2022-04-27 08:09] OrKoN opened #8283 "Firefox test related to launching the browser is failing on Mac"
See https://github.com/puppeteer/puppeteer/runs/6189321000?check_suite_focus=true

[2022-04-27 08:10] OrKoN commented on #8283
Henrik, do you know what might have broken there?

[2022-04-27 08:31] joshyu commented on #5577
Any findings about this issue? I am meeting with the same problems.

[2022-04-27 13:35] Adnane-St commented on #7054
[code]
This is worked for me 💯.

[2022-04-27 17:51] aashankhanalpha commented on #8122
I am also facing the same issue and my code is the same as of @CodersDevv [CodersDevv](https://github.com/CodersDevv)
![image](https://user-images.githubusercontent.com/97453217/165588429-4bcba805-e102-4512-8f18-9c2b77507fba.png)

[2022-04-27 18:09] whimboo commented on #8283
Note that the test has been disabled via PR #8286.

@OrKoN do you have some more details? How often is this test failing? Is it permanent or intermittent? And it seems to be MacOS only, right?

The failure is actually caused by a timeout:
https://github.com/puppeteer/puppeteer/runs/6189321000?check_suite_focus=true

  1) Launcher specs
       Puppeteer
         Puppeteer.launch
           should h

[2022-04-27 18:16] OrKoN commented on #8283
I saw it fail consistently on multiple CLs and also locally on my Mac. Locally, I tried to debug it and the browser was started successfully but the call to get pages was timing out. It looks like page initialisation was locking on some events.

[2022-04-27 19:09] nicolasliendo commented on #4978
Is there a solution for this? We are facing the same problem. When we set User-Agent, it does not propagate to service workers, and his requests go out with "headless chrome" what is a problem in our case.

[2022-04-28 05:53] OrKoN opened #8289 "Support Node 18"
We should start supporting Node 18 and we can also drop the support for Node 12.

[2022-04-28 13:41] Kikobeats commented on #8173
@OrKoN It's hard to know what `'chrome'` implies without checking the PR.

I think this sentence should be added at documentation just to clarify:

[2022-04-29 07:16] mr-magnus commented on #4796
[code]

Issue is still there.

[2022-04-29 08:18] Pqoh commented on #7316
Any solution?

[2022-04-29 08:19] Pqoh commented on #6941
Any solution?

[2022-04-29 08:19] Pqoh commented on #6581
Any solution?

[2022-04-29 19:30] AnthonyLzq commented on #3064
Still a problem almost 4 years later.

[2022-05-01 15:19] franksoong opened #8295 "[Bug]: cannot intercept 3rd-party requests"
### Bug description

Steps to reproduce the problem:

- tested on a webpage which has both xhr requests and **3rd-party requests**(also in xhr, request were sent from ServiceWorker/WebWorker in a dependency libs)
- in chrome dev tools, i can see lots of xhr **3rd-party requests**
- but none can be intercepted by puppeteer api page.on("request", fn)
- others(not 3rd-party requests) were intercepted

[2022-05-01 18:20] chocotar commented on #7525
unfortunately it dosesn't work

[2022-05-02 00:48] Junyan commented on #8084
Can you provide a reproducible example?

[2022-05-02 02:40] algo7 commented on #3697
@VirtumartOz Thanks. This helped me a lot.

[2022-05-02 12:39] whimboo commented on #8283
@OrKoN could you do me a favor please? Could you run again locally with `DUMPIO=1` and by having the Firefox preference `remote.log.level` set to `Trace` (to be added [here](https://github.com/puppeteer/puppeteer/blob/main/src/node/Launcher.ts#L643))? I would be kinda interested to see the complete log output for this test. Thanks!

[2022-05-02 14:46] kblok opened #8300 "[Bug]: Don't emit Page.load relying on Page.loadEventFired"
### Bug description

I've got [on issue](https://github.com/hardkoded/puppeteer-sharp/issues/1841) on puppeteer-sharp, reporting that some `load` events are missing under heavy load.

I say that [playwright doesn't rely on the Page.loadEventFired](https://github.com/microsoft/playwright/blob/c0f097905597c8b5d16fd5532872cd85c885ccdc/packages/playwright-core/src/server/frames.ts#L570) CDP event, but

[2022-05-02 17:27] 8m0 commented on #4960
You don't even understand how sexy you are

[2022-05-03 02:02] taewookim opened #8302 "[Bug]: Can't query / interact with frames"
### Bug description

Setup:

- puppeteer - puppeteer@13.7.0
- nodejs - v10.19.0

Puppetter launch setup:

	"args" :[
		'--ignore-certificate-errors',
		'--ignore-certifcate-errors-spki-list',
		'--no-sandbox',
		'--disable-gpu',
		'--start-maximized',
		'--disable-setuid-sandbox',
		'--disable-dev-shm-usage',
		'--window-size=1200,800',
		'--single-process',
		'--disable-infobars',
		'--disable-we

[2022-05-03 04:47] imtheaman opened #8303 "[Bug: Typescript]: $$eval isn't typing as expected"
### Bug description

Steps to reproduce the problem:
[code]

### Puppeteer version

"^13.7.0"

### Node.js version

v16.13.0

### npm version

8.1.3

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2022-05-03 04:51] imtheaman commented on #8303
`await page.$$eval(".pv2 button",` **_(btns: HTMLButtonElement[])_** `=> {}`

[2022-05-03 07:05] andyearnshaw commented on #8272
I've published an npm package that can help with this in the meantime, https://github.com/andyearnshaw/docketeer:

[code]

It works by setting the `PUPPETEER_EXECUTABLE_PATH` environment variable and launching the browser via a docker container.  There are a few kinks to work out, such as the container [not properly exiting](https://github.com/andyearnshaw/docketeer/issues/1) when Puppeteer calls

[2022-05-03 13:08] SteveImmanuel commented on #5893
I am having the same issue. My app spawns multiple pages at once and then closes all of them but the memory usage keeps on increasing indefinitely.

Puppeteer: 13.7.0
Platform / OS version: Docker / node:16.15
URLs (if applicable): None
Node.js version: v16.15.0

[2022-05-03 14:28] OrKoN commented on #8283
@whimboo sorry, I didn't get to this yet. I will try to take a look tomorrow.

[2022-05-03 16:42] Rick-Flowers commented on #6388
Anyone have fixed or found why this happen on PDF? Instead, Im getting an extra line on the table.

[2022-05-03 16:54] ahmafi commented on #3183
I have the same issue currently, and It's probably not a network-related issue, because the fonts are loaded, I can see the correct fonts when I take a screenshot exactly before generating the PDF, but the fonts are not loaded in PDF for some reason.

For now, changing the puppeteer product to firefox fixed this issue.

[2022-05-03 18:24] ItsKodas commented on #1766
I had to scroll a long bloody way to find a solution that helped my scenario!
Cheers 👍

[2022-05-03 20:45] ghost opened #8308 "[Bug]: Can't set user agent for new tab on click"
### Bug description

Steps to reproduce the problem:

1. Create a file tests.html on the serve with contentr:
[code]
2. Create an index.js file with content:
[code]
3. Run code
4. In the server logs there will be a request for /test2.html with the header ```Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/100.0.4896.88 Safari/537.36``` means the useragent does

[2022-05-03 23:36] CodyEakins commented on #7867
I've encountered this issue when running Puppeteer with Lambda, inside a container.
The first invocation of the Lambda fails; it hangs indefinitely (until the Lambda's timeout is reached) when either `browser.newPage()` or `browser.pages()` is called. However, every subsequent invocation runs without issue if the Lambda is still "hot".

In this environment, calling `browser.launch()` and `browser.

[2022-05-04 01:31] karl-geoedge opened #8309 "browser.version() reports Chrome/xxx when Chromium/xxx is being used"
### Bug description

Steps to reproduce the problem:

1. call browser.version()

eg:
[code]

[2022-05-04 01:32] karl-geoedge commented on #8309
NOTE: this is using the default version of chromium downloaded with puppeteer 13.5.1
I believe it is happening with all version of puppeteer on all platforms

[2022-05-04 04:04] Junyan commented on #5740
@dukei @onlyil @dukei The issue is solved, see [v13.6.0](https://github.com/puppeteer/puppeteer/releases/tag/v13.6.0).

[2022-05-04 05:54] OrKoN commented on #8283
@whimboo PTAL at the log https://gist.github.com/OrKoN/91d653b48821989be895aa31fb4c12b7

[2022-05-04 07:15] OrKoN commented on #8309
I don't think it's something that can be fixed in Puppeteer. Puppeteer gets the version from the binary using the CDP's `Browser.getVersion`. If you can elaborate on the use case for returning `Chromium` there, feel free to open a bug at crbug.com as it probably does not only affect the version Puppeteer gets but also the user agent string.

[2022-05-04 07:15] #8309 closed, assigned to nobody

[2022-05-04 07:19] OrKoN commented on #8300
Hey, thanks for the report. It'd be great to have a reproduction of what's going on to make sure we fix the right thing. In general, I think we could rely on lifecycle events only, especially, if it makes the code simpler so happy to take a look at a PR.

[2022-05-04 09:00] flaushi commented on #7740
My image bases on debian, so I have to `apt install chromium` and include the env variables. Are there any chances these binaries for arm64 will become available?

[2022-05-04 14:05] SuperPat45 commented on #8261
I found why:

As I am on Windows, the chromium process is not launched as "detached" in BrowserRunner:

[code]

After forcing detached to true, It works fine.

I don't understand why it is not detached on Windows?
At least, can you add an option in puppeteer.launch() to allow the sub-process to be detached or not?

[2022-05-04 23:21] ajCastiglione commented on #3120
This combination has worked the best for me! Running backstopJS on AWS ec2 free tier wouldn't complete the reference job until I added these parameters.

[2022-05-05 08:13] flaushi commented on #7740
How do you get the mapping from Chromium  99.0.4844.84-r0 to puppeteer versions 13.2.0-13.4.1? Inspecting `revisions.ts` for 13.4.0, I see here https://github.com/puppeteer/puppeteer/blob/v13.4.0/src/revisions.ts
[code]

I am trying to solve this for debian bullseye, which would install https://packages.debian.org/de/bullseye/chromium version 99.0.4844.74-1~deb11u1. Seems it's the same version rqu

[2022-05-05 08:55] jamieweavis commented on #6120
Apparently not according to https://github.com/puppeteer/puppeteer/issues/657, this would be awesome if it was built into puppeteer though!

[2022-05-05 10:13] ArtTkachenko commented on #5341
Hi everyone! Seems to be i found problem, as i understand for browser rendering important free space in temp directory for shared memory (on centos it's /temp or /dev/shm dir).
In puppeteer launch options add  [**dumpio:true**](https://pptr.dev/#?product=Puppeteer&version=v13.7.0&show=api-puppeteerlaunchoptions) -option, and if in time when puppeteer open page/render you've got error, something li

[2022-05-05 19:05] serhiiarkhypiuk commented on #858
Did anybody find a working solution on how to interact with shadow-root elements?

I am able to 'click' on the element using the following code

[code]
but did not able to get the value from an attribute

[2022-05-06 06:04] OrKoN commented on #8308
I think you might be missing the await for the `setUserAgent` for the second page if you get the wrong user agent in s2. Also, Puppeteer cannot currently intercept target creation so some requests in the new tab might happen before the user agent is set by the code. I think it's essentially a duplicate of https://github.com/puppeteer/puppeteer/issues/3667

[2022-05-06 06:04] #8308 closed, assigned to nobody

[2022-05-06 11:17] nook24 commented on #7740
That's pretty annoying. Thanks for sharing @flaushi looks like I have to go to the same rabbit hole like you.
I'm not sure about how to map the versions together. From the [current docs it says](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-on-alpine):

But the `revisions.ts` of `v13.5.0` claims:
https://github.com/puppeteer/puppeteer/blob/7b38b458c91f4180a29cee1

[2022-05-06 13:43] cut2run commented on #7757
The fix for the original issue was reverted for a couple of months now, but I don't see it in any recent release and the ticket itself is still in the "Open" state. Would you mind clarifying when this will be part of a release?

[2022-05-06 15:12] ngraef commented on #7740
I check the [CHANGELOG](https://github.com/puppeteer/puppeteer/blob/main/CHANGELOG.md), which is also published as [GitHub release notes](https://github.com/puppeteer/puppeteer/releases). Puppeteer releases that pull in a new Chromium version will include the version and snapshot revision number. For example:

That version applies until the next release that notes a Chromium change.

[2022-05-07 07:17] franksoong commented on #4041
Hi @aslushnikov and all ,

do we have other workaround for this case?
I have used the bypass solution as you suggested:
[code]

but still nothing can i intercept from serviceWorker. ref #8295

[2022-05-07 07:46] Junyan commented on #8163
@generated Can you provide a reproducible example?

[2022-05-09 02:36] rovast commented on #3339
Same problem with `"puppeteer-core": "^13.5.2"`, and launch params:

[code]

[2022-05-09 07:05] OrKoN commented on #7757
I believe this is fixed now.

[2022-05-09 07:05] #7757 closed, assigned to OrKoN

[2022-05-09 11:11] jrandolf-google commented on #359
Close due to staleness. Please reopen if the issue remains in the latest version.

[2022-05-09 11:11] #359 closed, assigned to nobody

[2022-05-09 11:12] jrandolf-google commented on #477
Close due to staleness. Please reopen if the issue remains in the latest version (based on another issue, it seems this is fixed).

[2022-05-09 11:12] #477 closed, assigned to nobody

[2022-05-09 11:56] noschang commented on #477
@jrandolf OK. Can you please post here the number of the issue that fixed the bug?

[2022-05-09 11:57] jrandolf-google commented on #477
#359

[2022-05-09 12:00] noschang commented on #477
@jrandolf Thank you very much!

[2022-05-09 15:16] cimox commented on #4086
I tried replacing all emojis on the page with Twemojis and it works fine

[code]

[2022-05-10 11:22] FranzTscharf commented on #4796
Also still happening to me with error:

`TimeoutError: Timed out after 30000 ms while trying to connect to the browser! Only Chrome at revision r991974 is guaranteed to work.
    at Timeout.onTimeout (/Users/..../Documents/startups/docvox/tech/git/app-backend/node_modules/puppeteer-core/lib/cjs/puppeteer/node/BrowserRunner.js:252:20)
    at listOnTimeout (internal/timers.js:557:17)
    at processT

[2022-05-10 14:59] passionInfinite commented on #8261
Looks like same issue is happening on the Linux platform as well.

[2022-05-11 02:48] Pirikara opened #8331 "[Bug]: When using pierceHandler, it matches the root element."
### Bug description

I want to specify the root element and get its child elements.
However, there are cases where the root element itself is retrieved.

Steps to reproduce the problem:

##### sample.html
[code]
[code]
In sample.html, the results of el1 and el2 should be the same.
However, el1 is actually a child element of myElement, while el2 is myElement itself.

### Puppeteer version

14.0.0

[2022-05-11 03:39] segun-flexible commented on #3323
Thanks This Fix My Problem
Am trying to crawl a website built with Reactjs, but it redirecting on page load.
And this techniques fix it

[2022-05-11 07:26] Jaqenhghar commented on #940
It is in /json/list

[2022-05-11 11:07] jrandolf-google commented on #8303
The typing is correct. Note that `page.$$eval` cannot assume the element is `HTMLButtonElement`. For this, you should check using `instanceof` whether it is an `HTMLButtonElement` before continuing. Please check TypeScript's documentation for more information.

[2022-05-11 11:07] #8303 closed, assigned to nobody

[2022-05-11 12:53] #8331 closed, assigned to nobody

[2022-05-11 15:32] pasieronen opened #8334 "[Bug]: Navigating to about:blank fails non-headless (regression in 14.0.0)"
### Bug description

Navigating to `about:blank` when not headless works fine with puppeteer@13.7.0, but fails with 30s timeout on 14.0.0:

[code]

Headless mode works also on 14.0.0.

### Puppeteer version

14.0.0

### Node.js version

16.15.0

### npm version

8.5.5

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2022-05-11 15:44] rudolfbyker commented on #7475
I can still reproduce this on puppeteer version 14. Working on a minimal reproduction…

[2022-05-12 07:29] OrKoN commented on #8334
Hey, thanks for the report! Unfortunately, it's a bug upstream (Chromium M102) and we added a workaround for it yesterday https://github.com/puppeteer/puppeteer/pull/8330 (to be released soon). The upstream issue is also fixed and it will be back-merged into the m102 branch (crbug.com/1324138) and then hopefully we are able to re-roll the Chromium binary and remove the workaroound.

[2022-05-12 12:01] rudolfbyker commented on #7475
Here you go. It worked until puppeteer v9, and broke in v10: https://github.com/rudolfbyker/puppeteer-issue-7475-reproduction

[2022-05-12 12:01] rudolfbyker commented on #7225
See https://github.com/rudolfbyker/puppeteer-issue-7475-reproduction

[2022-05-12 12:01] rudolfbyker commented on #6696
See https://github.com/rudolfbyker/puppeteer-issue-7475-reproduction

[2022-05-12 12:16] benallfree commented on #7475
@rudolfbyker it’s probable you’re experiencing an underlying CDP bug, not something in Puppeteer or higher level libraries. Please check out this and related tickets for more details. The minimal example you posted is actually quite a bit larger than the minimal examples needed to repro the CDP bug. I’m not able to dig into it further at this time, but I wanted to drop a note in case you had time

[2022-05-12 14:42] CodingMeSwiftly commented on #2781
Any update on this?

[2022-05-12 20:53] minipunch commented on #3718
So this worked for me, but now I have to figure out how to ignore HTTPS errors for this new popup page (SAML login)...

[2022-05-12 21:07] rafael-trevisan commented on #4752
Thanks! That popup was getting me crazy!

[2022-05-13 06:52] rudolfbyker commented on #7475
What's CDP? Do you have a link so I can learn more?

Is there something else I should update / fix / make a repro for?

Which tickets? Do you have a link?

Much appreciated.

[2022-05-13 06:54] dmzoneill opened #8338 "[Bug]: sigabort puppeteer creating gpu process in constrained environment"
### Bug description

Puppeteer 10.4.0 still creating chrome GPU process (--type=gpu-process), even though it's disabled.
In a AWS environment this results in SIGABRT to the offending process.
(note* it's not blocking, we get expected output off one of the child processes)

[code]

Steps to reproduce the problem:

1.  Nodejs process

launch puppeteer process
[code]

### Puppeteer version

10.4.0

#

[2022-05-13 09:12] msrumon opened #8343 "[Bug]: Failed to launch the browser process!"
### Bug description

### Reproduction Steps

1. Clone <https://github.com/msrumon/puppeteer-browser-launch-issue>.
2. Follow the `README`.

### Sample Code

[code]

### Puppeteer version

14.1.0

### Node.js version

16.15.0

### npm version

8.5.5

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2022-05-13 09:38] AlessandroLittera commented on #830
Hi, have you discovered something new? I have the same problem, I have to read and open some urls, only if these urls are pdf it times out, how could you manage this error?

[2022-05-13 09:43] heaven commented on #830
@AlessandroLittera hi, nope, unfortunately. I've had to switch to other tasks fow now. Please let me know if you find anything.

[2022-05-13 09:58] dragonfist453 commented on #7597
Same problem.

[2022-05-13 11:59] djhemath commented on #6751
For me too

[2022-05-13 12:06] OrKoN commented on #8343
I think the error like this could have many reasons and is likely to have nothing to do with Node 14. I recommend checking out https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-in-docker and modifying the docker file accordingly. The script you provided works without Docker so it's the matter of the docker file configuration and installing missing dependenc

[2022-05-13 12:06] #8343 closed, assigned to nobody

[2022-05-13 12:08] OrKoN commented on #8338
Have you tried the latest version of Puppeteer? if you use the bundled browser, the one pinned to 10.4.0 is quite old and it is  deprecated. If this still happens on the latest revision, we might need to clarify why there is a gpu process when the flag `--disable-gpu` is used but it's likely the upstream issue in Chromium as Puppeteer simply passes the CLI arguments to the binary.

[2022-05-13 12:30] OrKoN commented on #8334
The workaround is released in 14.1.0.

[2022-05-13 14:05] DustinJSilk commented on #5334
Puppeteer supports multiple request handlers.

See here for more details: https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#multiple-intercept-handlers-and-asynchronous-resolutions

The tricky part was getting it working with puppeteer-extra. There is a long standing PR that adds support for it. https://github.com/berstend/puppeteer-extra/pull/592

You can install that PR yourself, or u

[2022-05-13 18:46] cliftonlabrum commented on #6618
I'm running into the same problem. I am using `goto` to point to a large, 72-page HTML document, but Puppeteer crashes and can't handle it.

Has anyone found a good way to handle large PDF renderings?

[2022-05-13 21:43] nowodev commented on #8007
cd ./node_modules/puppeteer
npm run install

[2022-05-14 09:16] tanchekwei commented on #7889
I am also facing this issue after update to puppeteer version 14.1.0 .

The previous puppeteer version I used was 1.11.0, which able to get target background_page.

[2022-05-14 18:55] AneeshQuonain commented on #1948
@Cuadrix when I try to request a https site it gives me invalid browser request.
if I use proxy on https://example.com, the response will be invalid browser request and for http url its working fine. Can you please give me any solution for this

[2022-05-14 23:36] onyx-nxt commented on #8007
didn't work for me

[2022-05-15 10:44] GeraldTrost opened #8349 "cannot get valid href from $$eval()"
artmiami.com uses "a href='/admin'" on many pages.
pg.$$eval('a', (El) => El.map((el) => el.href))
returns results links like "artmiami.com/hotels/admin" or  "artmiami.com/logos/admin"
when it should return "/admin" or "artmiami.com/admin"
I could work around if it were possible to get the el.html() in $$eval()

[2022-05-16 01:29] ironthunder56 commented on #6982
I checked one of my team members' packages and reverted to puppeteer 10.4.  Between that and updating typescript, I was able to get my function deployed!

[2022-05-16 10:58] GeraldTrost commented on #8349
info:
I managed to workaround with el.getAttribute('href')
anyway, the use of el.href should not generate INVALID url.

[2022-05-16 11:55] OrKoN commented on #8349
I does not look like an issue with Puppeteer. I think that's just the difference between attributes and properties in DOM: https://stackoverflow.com/a/6004028/601499

[2022-05-16 11:55] #8349 closed, assigned to nobody

[2022-05-16 14:08] djones8520 commented on #7820
I'm having nearly the exact same error message when trying to install puppeteer.  There are just a few slight differences in the numbers on the end of the lines and mine is Module._load instead of Function.Module._load (and a few other like that).  I've tried adding via yarn add and also manually adding to package.json (puppeteer v14.1.0) and I get the same error for both.

[code]

**Commands**
ya

[2022-05-16 16:14] Sparticuz commented on #6120
You should generate the pdf, then use something like qpdf to encrypt it with a password

[2022-05-16 17:14] Ibexlol opened #8354 "Can't install Firefox puppeteer on Windows 10"
### Bug description

I'm on windows 10, and i can't install firefox puppeteer for some reason
every way i've tried i get the same error on and on again can anyone help?

### Puppeteer version

v13.5.2

### Node.js version

v17.0.1

### npm version

8.1.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2022-05-16 19:49] PvanHengel commented on #8338
I can confirm this happens in puppeteer@^13.7.0 havent attempted to update to 14, might introduce a host of other issues that need to be sorted out first.

[2022-05-16 19:56] verlok commented on #1342
[This comment](https://github.com/puppeteer/puppeteer/issues/1342#issuecomment-481667934) solved for me as well, in 2022

[2022-05-17 01:36] caozku opened #8356 "Page.printToPDF timeout"
### Steps to reproduce

**Tell us about your environment:**

- Puppeteer version: ^14.1.0
- Platform / OS version: win10
- URLs (if applicable):
- Node.js version: 16.13.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.html file size 68M
2.TimeoutError: waiting for Page.printToPDF failed: timeout 30000ms exceeded
3.

**What is the expected result?*

[2022-05-17 07:28] OrKoN commented on #7990
I debugged one particular test called `should support frames within OOP frames`. There are two frames in the test: frame A and frame B. Frame B is a local frame inside frame A. Sometimes the backend events arrive in the following order: frame A attached, frame B attached, frame A navigated, frame B navigated. The _onFrameNavigated in FrameManager recursively removes existing child frames, thus, th

[2022-05-17 09:42] tomaszferens commented on #8106
Having the same issue. Any ideas how to resolve it or are there any workarounds?

I found similar issue, but it got closed:
https://github.com/puppeteer/puppeteer/issues/2709

[2022-05-17 18:26] adatta02 opened #8359 "[Bug]: page-orientation doesn't work with print()"
### Bug description

I'm trying to use the page-orientation CSS declaration to print a PDF with some pages rotated clockwise or counter-clockwise.

This example HTML from Chromium works correctly when I print to PDF in Chrome/Chromium, https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/web_tests/printing/page-orientation-propagated.html

I uploaded that HTML to https://setf

[2022-05-18 01:13] NabiKAZ commented on #4796
I also sometimes get this error:

[code]

It is strange that I set the value to 120,000 for `setDefaultTimeout` and `setDefaultNavigationTimeout`, but the error message indicates 30,000!

More code:
[code]

Versions:
node v16.14.0
chromium win64-982053
windows 10
headless: true
proxy: yes
puppeteer-extra-plugin-stealth@2.9.0
puppeteer-page-proxy@1.2.8
puppeteer-proxy@2.1.2
puppeteer@13.7.0

[2022-05-18 03:10] malibu103 commented on #6033
I had this same issue and this fixed it for me.  Thanks!

[2022-05-18 08:51] ImBIOS commented on #5001
I am waiting for an update on this issue. I need this too.

[2022-05-18 09:30] OrKoN opened #8361 "Multiple tests started to fail in Firefox"
See https://github.com/puppeteer/puppeteer/runs/6485039988?check_suite_focus=true

it seems the failure happens consistently.

[2022-05-18 09:31] OrKoN commented on #8361
@whimboo could you please take a look? it seems it's only on Mac. I have not disabled the tests for now as there are multiple of them failing.

[2022-05-18 09:41] whimboo commented on #8361
@OrKoN is that related to all of these failing tests? We haven't landed anything for our CDP implementation which might have caused that. Since when exactly is it happening? Just with today's Nightly build or did it start to fail earlier?

[2022-05-18 09:43] OrKoN commented on #8361
I think it started ~20h ago

[2022-05-18 09:46] OrKoN commented on #8361
This CL has landed https://github.com/puppeteer/puppeteer/pull/8353 23h ago. It looks like there were some flaky failures but it passed after 3 attempts. And then once it was in main the tests started to fail consistently on Mac (I did three full run retries)

[2022-05-18 09:50] whimboo commented on #8361
I tried to run locally after updating Puppeteer (main). But I'm not able to run and install due to the following failure:

[code]

If you could run locally and check with the trace logging enabled I would appreciate. I clearly would need more details or the above failure fixed.

[2022-05-18 09:53] OrKoN commented on #8361
hm, which Node version are you on? I am able to reproduce the test failure locally (not this error). Btw, would it make sense to add a short documentation about how to provide debug data for Firefox (in CONTRIBUTING.md)? Also, I wonder if there is an easy way to download the nightly - 1 build to confirm that this is indeed due to a change in Firefox?

[2022-05-18 09:54] whimboo commented on #8361
I actually had to remove the `lib/` folder to get `npm install` working. It would be good if that could be done automatically when the command is run?

[2022-05-18 09:57] OrKoN commented on #8361
I have never encountered a need to delete the lib folder. I think that should not be required and I wonder what could have been wrong there? 🤔

[2022-05-18 10:03] whimboo commented on #8361
I will have a look and file a new issue with details.

Regarding the question of downloading an older Nightly build you could use [mozdownload](https://pypi.org/project/mozdownload/). Then simply run `mozdownload -t daily --date 2022-05-17` would get you a Nightly from the given date.

[2022-05-18 10:04] whimboo commented on #8361
Note that I just tried to run main latest for Puppeteer with Firefox Beta and it also fails completely for wait tasks. Was there maybe a change in Puppeteer which triggered this?

[2022-05-18 10:30] OrKoN commented on #8361
@whimboo I don't think so since every change goes through the same tests. Are those failures by any chance flaky?

[2022-05-18 10:34] OrKoN commented on #8361
I had this test failure reproduce locally in isolation:

[code]

  but it appears to be flaky and stop reproducing once I turn on DEBUG=puppeteer.*

[2022-05-18 10:38] OrKoN commented on #8361
On the complete test suite the following fails locally:

[code]

Also the headful tests often show a dialog that Firefox has crashed asking to send a crash report.

[2022-05-18 11:12] whimboo commented on #8361
Ok, so it looks like there was a change in Firefox which caused it to crash under certain situations. Let me try to get it reproduced (I hope that I'll be able soon). But clearly we shouldn't show the crash report dialog. Instead we should ignore and write the appropriate minidump files for investigation. How does Puppeteer handle crashes of Chrome btw?

Have you had the chance to check older Nigh

[2022-05-18 11:17] OrKoN commented on #8361
I have similar but fewer failures in the previous nightly:

[code]

  But I wonder if the Nightly build auto-updates if installed on MacOS (mozdownload gave me a .dmg file).

  I am actually not very sure but I think `--disable-breakpad` flag that Puppeteer sets disabled all the crash reporting. Not sure if minidumps are generated.

[2022-05-18 11:21] whimboo opened #8362 "[Bug]: TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received undefined"
### Bug description

This is a problem that I can currently see locally when trying to run the Puppeteer unit tests with the latest upstream revision. Once it failed it always fails even for installing Puppeteer. The only workaround is to manually remove the `lib/` folder with generated code.

Steps to reproduce the problem:

1. Pull latest changes from upstream repository
2. Checkout revision 82f

[2022-05-18 11:22] whimboo commented on #8362
Line 6 of constants.js actually contains the following:

[2022-05-18 11:27] whimboo commented on #8362
compat.js exports the `puppeteerDirname` as: `exports.puppeteerDirname = void 0;`. So yes, this is broken.

[2022-05-18 11:34] whimboo commented on #8361
Ok, so far no luck on my side. I'm not even able to get a connection to CDP due to the error `connect ECONNREFUSED ::1:54553`.

@OrKoN could you please run only a single of these failing tests with the following modifications?

1. Add the `'remote.log.level': 'Trace'` line to the preferences for Firefox in Launcher.spec.ts
2. Run the unit tests with `DUMPIO=1`.

I'm interested to see the output.

[2022-05-18 12:36] OrKoN commented on #8361
Here is the output for the test `should be detectable by Modernizr`. Unfortunately, it looks like this failure is flaky https://gist.github.com/OrKoN/1d0f00e0cd1dbf420451e8d91c21f152

[2022-05-18 12:41] whimboo commented on #8361
This really looks like a crash of the target tab. @OrKoN would you mind to run Firefox with the `MOZ_CRASHREPORTER_SHUTDOWN=1` environment variable set? It should force a shutdown of Firefox under such a condition and it should be visible in the log.

[2022-05-18 12:53] OrKoN commented on #8361
the log is here https://gist.github.com/OrKoN/e22e06c802b552a8d22b49d3c373e974 it does not look like it crashes but it looks some execution contexts get destroyed earlier than the should be

[2022-05-18 13:08] whimboo commented on #8361
I'm now able to reproduce it even when it doesn't happen that often. Will try to find out now what excactly caused it.

[2022-05-18 13:15] whimboo commented on #8361
So I can see the same failure in a Firefox Beta build with latest Puppeteer. As mentioned earlier, could it be that a change in Puppeteer actually triggered this failure? I can check as well after I finished the meetings.

[2022-05-18 13:31] OrKoN commented on #8361
I don't see a good suspect PR for this failure. https://github.com/puppeteer/puppeteer/commit/7107d2d300f9a5b5c38210163ff5df42d19d8453 was the latest PR that landed before the failures started to block CI. Also, it does not seem to fail (be flaky) for Chromium 🤔

[2022-05-18 13:40] juliandescottes commented on #8361
@OrKoN testing locally this was regressed by 7107d2d300f9a5b5c38210163ff5df42d19d8453 , page.goto resolves too early for firefox and the evaluate call goes through earlier than expected. Any idea?

[2022-05-18 13:49] OrKoN commented on #8361
Hm, so then it means that Firefox dispatches either Page.frameNavigated or Page.navigatedWithinDocument before the navigation is fully finished?

[2022-05-18 14:05] OrKoN commented on #8361
From the CDP message log I see that the `Page.navigatedWithinDocument` event is sent by the browser immediately after Page.navigate if the run fails. Then also `Page.frameNavigated` is sent. In Chromium, those events are mutually exclusive so it looks like the change revealed some difference in the impl. I will continue looking into it but I wondered if you have some insights into when you dispatc

[2022-05-18 14:16] juliandescottes commented on #8361
I think you are right, we are probably emitting `frameNavigated` too early: https://searchfox.org/mozilla-central/rev/8fe6930c0832009b3162bebee7d4ede1a4c8c9a8/remote/cdp/observers/ContextObserver.jsm#133-149

This is currently mapped to `document-element-inserted` which does not indicate a full navigation. I tried to delay the whole block, but there are still issues. I suspect we also have a race

[2022-05-18 16:11] amkoehler commented on #8109
Any luck with this? Ran into a similar issue.

[2022-05-18 16:19] juliandescottes commented on #8361
Delaying "frame-navigated" & "context-created" is probably not the right approach. As mentioned by @OrKoN the issue comes actually from the `navigatedWithinDocument` event. So this event is emitted on window "load" https://searchfox.org/mozilla-central/rev/8fe6930c0832009b3162bebee7d4ede1a4c8c9a8/remote/cdp/domains/content/Page.jsm#366-369

This is a known issue and https://bugzilla.mozilla.org/sh

[2022-05-18 17:00] juliandescottes commented on #8361
Most likely I guess a navigation resolves early because it catches a `navigatedWithinDocument` event from a previous navigation, although my failure logs don't show that clearly for now.

[2022-05-19 05:52] OrKoN commented on #8361
@juliandescottes by looking at the test I don't see any reason to send navigatedWithinDocument at all (which does look like [1636453](https://bugzilla.mozilla.org/show_bug.cgi?id=1636453)). Also, it's the second goto that seems to always fail and not the first one. Perhaps the change of the viewport triggers a `navigatedWithinDocument` event.

[2022-05-19 06:10] juliandescottes commented on #8361
Updates on my side.

I've tried to emit `navigatedWithinDocument` only on hashchange, but this makes navigations to about:blank fail with the version of puppeteer we currently vendor in our codebase (or any version earlier than 7107d2d actually). For an about:blank navigation, Firefox doesn't return a `loaderId` from Page.navigate, which means that older puppeteer versions expect a "same document

[2022-05-19 06:12] juliandescottes commented on #8361
I agree, the navigatedWithinDocument is sent for no reason, but sadly we rely on that for some navigations, to workaround the fact that we don't have a proper loaderId (see comment above).

And yes, I would expect the second navigation to be the one that fails, because it catches the `navigatedWithinDocument` from the previous one.

Not even, we really just always trigger a `navigatedWithinDocumen

[2022-05-19 06:24] OrKoN commented on #8361
@juliandescottes what do you say if we restore the old behaviour but only if the product is Firefox? (not sure how easy it'd be to plumb it through). Also, what do you think if we stop requiring the Firefox tests to pass on CI temporarily until we resolve this? (some other PRs are blocked by this)

[2022-05-19 06:29] juliandescottes commented on #8361
IMO, Yes disabling Firefox on CI for now sounds reasonable, as long as we fix this before the next puppeteer release.

[2022-05-19 06:32] whimboo commented on #8361
Two questions:

1. When is the next Puppeteer release targeted for? Means how much time do we have to get this fixed? As Julian pointed out this is a complex scenario which came up surprisingly now and we will have to account some time to get it fixed.
2. Would it be possible to just disable the affected tests or how wide-spread is the issue?

Thanks

[2022-05-19 07:00] OrKoN commented on #8361
@whimboo we actually wanted to release today or tomorrow but we can wait. I think the issue would not only affect tests but also the users. So as Julian pointed our we should find a workaround (see my previous comment) before the release.

[2022-05-19 07:33] OrKoN commented on #8361
Regarding the potential workaround I mentioned: it does not look like we have a precedent for having conditional logic inside src/common based on the product. I think it's not worth introducing it now. I will see if another workaround is possible.

[2022-05-19 08:29] juliandescottes commented on #8361
For what it's worth, I tried to move `navigatedWithinDocument` to DOMContentLoaded (in https://searchfox.org/mozilla-central/rev/7f729f601c0b738f870ae0ed49098f9268e250f9/remote/cdp/domains/content/Page.jsm#341-351).

So we still emit it incorrectly, but earlier. It seems to work fine with the vendored puppeteer in mozilla-central, and it also seems to work in the puppeteer CI.

It is very hacky an

[2022-05-19 09:12] OrKoN commented on #8361
Let's revert https://github.com/puppeteer/puppeteer/pull/8369 then. I think the failure does not happen in M92 and it was a forward-looking fix. Let's see if we will need it for M93. It would be nice if you could look into the issue on the Firefox side as, in general, it'd be better not to rely on the loaderId to figure out which navigation happened.

[2022-05-19 11:02] juliandescottes commented on #8361
Thanks, that's great if we can revert this for now. On our side, we'll work on this in https://bugzilla.mozilla.org/show_bug.cgi?id=1636453 and we should aim to both provide the correct loader id for navigations which don't hit the network (eg about:blank) as well as moving `navigatedWithinDocument` to `hashchange`. With both, the Firefox implementation should work both with the old and new behavi

[2022-05-19 11:03] #8356 closed, assigned to nobody

[2022-05-19 11:36] OrKoN commented on #8362
Thanks for the detailed report! I think this should be fixed now.

[2022-05-19 11:36] #8362 closed, assigned to nobody

[2022-05-19 12:17] whimboo commented on #8361
@OrKoN thanks for reverting these changes! We will do our best to get this fixed on our side sooner than later. Is there any definitive ETA for you when this  change needs to re-land? Thanks for letting us know.

[2022-05-19 12:42] OrKoN commented on #8361
We plan to roll M103 in a week or two. I am not sure yet if we encounter the same issue since there were some back-merges done by the backend team. It's likely though that there could be issues because of the changes to how loaderId is reported. In the case of issues at that time, there will be somewhat more pressure to release since we want to release a version for every major Chromium release.

[2022-05-19 12:52] whimboo commented on #8361
Sounds reasonable! If we aren't able to get our fixes landed by that time some temporary release notes may have to be added to the Puppeteer release that will mention the incompatibility of this release with Firefox.

Nevertheless we will try our best!

[2022-05-19 13:46] andyearnshaw commented on #7720
This is how I'm having to implement getting a specific cell:

[code]

This creates a lot of back and forth between puppeteer and the browser. My hope is that this would eventually be as simple as

[code]

Does this need an upstream ticket on https://crbug.com? Bearing in mind I've never contributed to Chromium before, is there anything I can do to help?

[2022-05-20 00:53] caozku commented on #8356
why close my issue

[2022-05-20 07:00] cyrusho100 opened #8380 "PDF tags"
### Bug description

I am using page.pdf to convert HTML content to PDF document. Is there any method to return where particular element, e.g. "H2", locates in the output? or adding "Page" tag to wrap all the other tags on the page.

![example](https://user-images.githubusercontent.com/52916238/169470119-46ee0bd6-c83e-437d-abbf-ee8049ebf324.png)

### Puppeteer version

13.7.0

### Node.js version

[2022-05-20 09:41] jrandolf-google commented on #8356
We cannot debug the problem with the given information. Please fill the form comprehensively, otherwise we must close the issue as a `wontfix`.

[2022-05-20 12:22] ergunsh commented on #8354
Hey hey, thanks for the catch and sorry for the confusion!

`npm i puppeteer` uses `PUPPETEER_PRODUCT` environment variable to decide which browser to install. In Windows PowerShell, you can set this environment variable for the PowerShell session with `$Env:PUPPETEER_PRODUCT = 'firefox'`. After setting this environment variable, the run for `npm install puppeteer` will install firefox.

So, you c

[2022-05-20 12:22] #8354 closed, assigned to nobody

[2022-05-20 13:29] Josehower opened #8383 "[Bug]: page.waitForNetworkIdle timeout inconsistently"
### Bug description
For some reason `page.waitForNetworkIdle` is timing out for no reason. the network is empty and even so it timeout after 30 seconds.

This error happens only sometimes and is very weird. Despite of that, I find a way to make it fail consistently by repeating some steps multiple times

### Steps to reproduce the problem:

I created a repo with some simple [puppeteer code ](https

[2022-05-21 03:21] Kujo-Jotaro-AAAAA commented on #7759
fixed?

[2022-05-21 08:47] t1a2l commented on #7759
As part of the puppeteer tests, i added a server for client tests: (not the solution but what i used before and caused the error)
[code]
The fix was to add to the server_opt the "port" property and the server port number. for me it was "port: 3010" but your port maybe different.

[2022-05-21 08:47] #7759 closed, assigned to nobody

[2022-05-21 21:29] artyil commented on #7916
I was hoping that `PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM` will fix that as well, but it didn't (at least for me). I still can't open pages in pptr docker on my m1 macbook.

I have the following error:
[code]

Are there any plans to address this issue soon ⛈️  ?

[2022-05-22 01:59] 1799 commented on #7050
Anyone has solution for this?

[2022-05-22 21:29] Ibexlol opened #8384 "Could not find browser revision latest"
### Bug description

I'm making a image scraper discord bot and i keep on getting errors here's the code:
![image](https://user-images.githubusercontent.com/77413092/169716656-f7729bbe-f46d-4d72-8837-5046b0522395.png)

### Puppeteer version

v14.1.1

### Node.js version

v17.0.1

### npm version

v8.1.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[c

[2022-05-23 05:44] juliandescottes commented on #8361
With the current patches attached to https://bugzilla.mozilla.org/show_bug.cgi?id=1636453 Firefox seems to work both with the old and the new behavior. Hopefully we can land them soon and this will unblock your work.

[2022-05-23 10:27] Kujo-Jotaro-AAAAA opened #8385 "[Bug]: M1 run firefox test error..."
### Bug description

I'm try to ..

[code]
It run the fixfox but error

[code]

 test('show page', async() => {

### Puppeteer version

14.1.1

### Node.js version

v14.18.2

### npm version

8.8.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-05-23 13:03] OrKoN commented on #8384
So did you run `npm install` with the specified env variables as the error message suggests?

[2022-05-23 13:16] OrKoN commented on #8383
Yeah, looks like some sort of bug! Thanks for reporting.

[2022-05-23 13:18] OrKoN commented on #8380
I am not aware of anything to achieve this. I guess it's a feature request then? Puppeteer just asks the browser to generate a PDF and we don't parse/process the PDF output in any way.

[2022-05-23 14:00] whimboo commented on #8385
@Kujo-Jotaro-AAAAA you should await the call to `page.goto`. Does that fix the issue for you?

[2022-05-23 19:46] Pashted commented on #7050
you can try the solution, described there https://github.com/apify/apify-js/pull/1348
(launch with `--disable-site-isolation-trials` arg)
it fixed the same issue for me

but browsing may become less secure. google it.

[2022-05-23 20:25] Ibexlol commented on #8384
Yes i have, and i still get the error

[2022-05-24 00:14] Kujo-Jotaro-AAAAA commented on #8385
no..   page.goto has been timeout

[code]

[2022-05-24 00:54] Kujo-Jotaro-AAAAA commented on #8385
I'm use `PUPPETEER_PRODUCT=firefox npm i puppeteer`
puppeteer v14.1.1

[code]

It reported a mistake

[code]

It's my config
[code]

[2022-05-24 05:54] OrKoN commented on #8384
@Ibexlol what is the log output of the npm install command with the `PUPPETEER_PRODUCT=firefox` command? Note that on Windows you probably need to use a different syntax to set env variables depending on whether you use PowerShell or Command Prompt.

[2022-05-24 06:39] whimboo commented on #8385
In your original message you didn't mention that you are using `networkidle0`. Note that this setting is not supported with Firefox. And as such it's expected to run into a timeout because this specific event will never be sent out by Firefox. See issue #5841 for details covering this scenario.

What kind of URL are you loading here? Is it the one from `localhost` or another one that you may wanna

[2022-05-24 08:07] Josehower commented on #8383
Adding some context to where the app times out.

The app is tested by `puppeteer` updating an image source with a nonvalid URL, which results in a 404 response from the server, the image update is happening on each letter type which causes a bunch of 404 happening quick.

![image](https://user-images.githubusercontent.com/61600906/169981674-dad097d3-d6f3-4c47-aac9-db6c65375dec.png)

The code that

[2022-05-24 10:15] croqaz commented on #8106
Having the same issue.
I'm restoring a live page from local cache, page looks OK, hangs when I try to expose even a super basic function like console.log.
puppeteer: 14.1.1

Actually I had to do this hack of exposing this function because the request interception hangs forever, but this also hangs.

[2022-05-24 11:28] Giukviral opened #8389 "[Bug]: Full page screenshot is not working properly on long page"
### Bug description

Steps to reproduce the problem:

1. I try to get full screenshot for long page
ex : https://smartstore.naver.com/pinpic/products/4833805940?NaPm=ct%3Dl3jp6hz4%7Cci%3Dc5b17f7d5805ec721abfc456081558fd0ce94a7c%7Ctr%3Dslsl%7Csn%3D918202%7Chk%3Db57722f6c5ffb9fad6e974f88f274371ead4092c
total height : 38045
here is my code

` const browser = await puppeteer.launch({
      headless: f

[2022-05-24 12:04] soban147 commented on #7787
add preferCSSPageSize: true, in pdf options in puppeteer

[2022-05-24 13:25] Kujo-Jotaro-AAAAA commented on #8385
I update my options

[code]

it can't worked...

[code]

[2022-05-24 13:27] Kujo-Jotaro-AAAAA commented on #8245
+ 1. M1 chips

[2022-05-24 13:35] whimboo commented on #8385
I don't see that you have set the mentioned Firefox preference. The log output should then give way more lines. And I would need a bit more than just this single line. To reproduce a small testcase would be helpful as well.

[2022-05-24 13:44] OrKoN opened #8390 "Investigate setting Runtime.setMaxCallStackSizeToCapture to 0"
Capturing call stacks is somewhat expensive and we should make sure to set it to zero.

See https://bugs.chromium.org/p/chromium/issues/detail?id=1326921

[2022-05-24 15:25] Ibexlol commented on #8384
I do set the PUPPETEER_PRODUCT=firefox as an env variable it installs of course, but when i run the command i still get the same error

[2022-05-24 20:53] FridayCandour commented on #1947
thanks man you saved me

[2022-05-24 21:52] amarinediary commented on #4736
@cpatrickalves Just want to say thanks for this out of the box thinking !

[2022-05-24 22:27] ucarbehlul commented on #7993
Similar issue is happening for me:
[code]

and this causes node to stop execution.

[2022-05-25 05:33] Giukviral commented on #8389
sorry.
this is problem of chromium, not puppeteer
(https://bugs.chromium.org/p/chromium/issues/detail?id=770769)

[2022-05-25 05:33] #8389 closed, assigned to nobody

[2022-05-25 06:06] juliandescottes commented on #8361
@OrKoN https://bugzilla.mozilla.org/show_bug.cgi?id=1636453 should be included in the latest Nightly, so you should be able to re-land https://github.com/puppeteer/puppeteer/pull/8369

Also pushed PR #8394 to enable a few tests for firefox thanks to this change.

[2022-05-25 06:37] OrKoN commented on #8361
Thanks for implementing this so quickly!

[2022-05-25 06:37] #8361 closed, assigned to whimboo

[2022-05-25 08:50] radiolondra commented on #678
@Nisthar
AFAIK [puppeteer-page-proxy](https://github.com/Cuadrix/puppeteer-page-proxy) lib has some issues.
Personally I tried to use it with my proxy, but I have had problems, for example, going to `https://whatismyipaddress.com/` (and other similar links) to simply get the proxy IP address in the proxied page. It fails also when Google sends reCaptcha while scraping (and not only with Google).
I

[2022-05-25 09:07] DustinJSilk opened #8397 "[Bug]: waitForInitialPage listener is added after the initial page event is received and launch never finished"
### Bug description

When launching puppeteer, the launcher waits for a browser page to be ready. **Sometimes** the page is ready before the event is set and the launcher waits forever.

[This is where the listener is set](https://github.com/puppeteer/puppeteer/blob/f866274360593032db9292be9bc5f004b4d8ed79/src/node/Launcher.ts#L194)

Setting `waitForInitialPage: false` is a solution but it means w

[2022-05-25 10:07] AlbertoFDR opened #8399 "`frame.evaluate` freezes / hangs"
### Steps to reproduce

**Tell us about your environment:**

- Puppeteer version: 14.1.1
- Platform / OS version: Debian GNU/Linux 11
- URLs (if applicable): https://www.nytimes.com/video
- Node.js version: v17.9.0

**What steps will reproduce the problem?**
Repro code:
[code]

**What is the expected result?**
The expected result is to execute the evaluation code inside each of the frames.

**What

[2022-05-25 13:53] code-by-gijs commented on #4796
getting the same error as @NabiKAZ

[2022-05-25 17:45] willmaraujo commented on #2924
it worked, thanks!

[2022-05-26 14:27] johnwaweru commented on #782
The best solution is to use a `try catch` block to catch the timeout error. If you're in a loop simply use `continue` if you wish to ignore the section you're in. Alternatively, as mentioned somewhere in the thread, you can recursively call the function you were executing but _only for a finite number of times_.

You can combine this with a healthy amount of a wait period before an error is thrown

[2022-05-26 15:57] bryanfaundez commented on #8192
Hi, I have the same error.
[code]
The documentation does not explain the error control or socket reset.

[2022-05-26 20:03] rasoul707 commented on #4796
same
node 16
puppeteer 14.1

[2022-05-27 00:37] Kujo-Jotaro-AAAAA opened #8402 "[QA]: How can I configure PUPPETEER_PRODUCT=firefox into the project?"
### Bug description

sorry about then,i don't know how to config this to my project..

`PUPPETEER_PRODUCT=firefox npm i puppeteer`

### Puppeteer version

14.1.1

### Node.js version

14

### npm version

5

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-05-27 00:49] Kujo-Jotaro-AAAAA commented on #7107
how to config to my project?

[2022-05-28 06:51] frank-dspeed commented on #8295
@franksoong and that works in current chrome when you do use the same code published to a location?

[2022-05-28 06:56] frank-dspeed commented on #8272
lol docker is the most complicated way to run pupeteer as even chromium does not run well in it because of many isolation issues and i know that as i am Docker/moby contributor since 2014 so over 8 yeary of expirence with that the GPU part for example is relativ problematic and many other issues that normal none OS Programmers are not aware of.

Do not get me wrong it is possible but internal it i

[2022-05-28 07:05] frank-dspeed commented on #8272
It makes zero sense to implement this inside pupeteer it is out of scope this should get closed:

and all who want to do this they simply create a pupeteer docker image and then use child_process.execSync to do the magic or spawnSync what ever you favor or what ever system management is in between that.

It would not even be clear what that launch() would do!
- Should it detect a local docker sock

[2022-05-28 15:48] alexey-pelykh commented on #3411
Since it's till experimental, had to wrap it up into a plugin: https://github.com/alexey-pelykh/puppeteer-capture

[2022-05-28 17:02] andyearnshaw commented on #8272
Thanks for your comment @frank-dspeed.

Yes, this is one of the main motivations for this suggestion: to improve the ergonomics of it.

Chromium runs fine in Docker, and I'm speaking from plenty of experience too. Our pipelines run various docker images with Chromium many times a day for e2e tests, integration tests (including visual snapshot tests). I haven't run into any such issues in the sever

[2022-05-28 20:08] frank-dspeed commented on #8272
but all your changes can be easy addressed by a extra package like pupeteer-docker it is not hard to integrate but ok if this issue should get any upvotes why not but i guess it will slow down overall puppeteer development it has already a lot of open issues and i guess keeping up with the chromium api is work enough for this project unit but maybe i am wrong.

[2022-05-29 16:11] nickluger opened #8405 "[Bug]: Current package.json breaks TypeScript nodenext mode"
### Bug description

The current `package.json` using the `exports`-field breaks TypeScript when used with the new `nodenext` (ESM) module resolution.

`nodenext` is recommended by TS when using ES modules, because it's the only mode TS can resolve types properly when `exports`-field-syntax is used in the `package.json`

The `types` field in the package.json is no longer respected, when using `exp

[2022-05-30 04:27] SajadTroy opened #8406 "[Bug]:"
### Bug description

Steps to reproduce the problem:

1. …

### Puppeteer version

1.7.0

### Node.js version

16.15.0

### npm version

1.0.0

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2022-05-30 10:26] Rah1x commented on #7759
im also getting this error

[2022-05-30 12:32] OrKoN opened #8424 "Use an absolute EVALUATION_SCRIPT_URL"
Currently, Puppeteer uses `__puppeteer_evaluation_script__` as EVALUATION_SCRIPT_URL. This is not ideal because it attributes
Puppeteer internal scripts to the page domain if it's interpreted as the relative URL. Instead, we should use an absolute URL: for example, `pptr://__puppeteer_evaluation_script__`

[2022-05-30 16:34] karlhorky commented on #8383
@OrKoN did you have a chance to take a look at this?

Or do you have any tips as to how @Josehower can look through the Puppeteer codebase to find the bug?

[2022-05-30 17:22] Eyewais commented on #6389
Same issue here, what can be the reason for this? Anyone able to find a fix so far?

[2022-05-30 21:25] adam-coster opened #8438 "[Bug]: Typescript 4.7+ incompatibility with "NodeNext" module resolution"
### Bug description

The spec for the "exports" field has it completely take over when present. Latest Typescript (4.7+), when using `module` "NodeNext" follows the spec. It therefore looks for types in `package.json/exports/./types`. Puppeteer does not have that value, so Typescript gets confused and throws errors of various sorts on import statements.

Adding `package.json/exports/./types = "./l

[2022-05-30 22:48] pierreminiggio commented on #7049
I face the same issue, TikTok introduced an iframe on their upload page (they moved the whole form there), which means I can't erase the input anymore.
I'm using a for loop that presses backspace multiple times just like OP.

[2022-05-30 23:49] AmanSin001 commented on #5341
This is working properly

[2022-05-31 07:17] OrKoN commented on #8383
Hey, didn't have time to look into that yet. The code for the function is here https://github.com/puppeteer/puppeteer/blob/main/src/common/Page.ts#L1944 It looks like sometimes the request count does not update as expected.

[2022-05-31 07:59] Jazeb commented on #288
I found the path in Linux as:
`/usr/bin/chromium-browser`

[2022-05-31 14:34] #8438 closed, assigned to nobody

[2022-05-31 17:14] jrandolf-google commented on #7697
Cannot reproduce.

[2022-05-31 17:14] #7697 closed, assigned to nobody

[2022-05-31 17:15] jrandolf-google commented on #7787
Thanks @soban147, hope this resolved the issue.

[2022-05-31 17:15] #7787 closed, assigned to nobody

[2022-05-31 17:18] jrandolf-google commented on #8402
Cannot reproduce. Just use `PUPPETEER_PRODUCT=firefox npm i puppeteer` and it should install.

[2022-05-31 17:18] #8402 closed, assigned to nobody

[2022-05-31 17:22] jrandolf-google commented on #8142
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:22] #8142 closed, assigned to nobody

[2022-05-31 17:22] jrandolf-google commented on #8008
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:22] #8008 closed, assigned to nobody

[2022-05-31 17:23] jrandolf-google commented on #7874
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:23] #7874 closed, assigned to nobody

[2022-05-31 17:23] jrandolf-google commented on #7815
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:23] #7815 closed, assigned to nobody

[2022-05-31 17:24] jrandolf-google commented on #7739
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:24] #7739 closed, assigned to nobody

[2022-05-31 17:24] jrandolf-google commented on #7474
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:24] #7474 closed, assigned to nobody

[2022-05-31 17:24] jrandolf-google commented on #7320
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:24] #7320 closed, assigned to nobody

[2022-05-31 17:24] jrandolf-google commented on #7316
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:24] #7316 closed, assigned to nobody

[2022-05-31 17:25] jrandolf-google commented on #7167
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:25] #7167 closed, assigned to nobody

[2022-05-31 17:25] jrandolf-google commented on #7049
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:25] #7049 closed, assigned to nobody

[2022-05-31 17:25] jrandolf-google commented on #6783
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:25] #6783 closed, assigned to nobody

[2022-05-31 17:27] jrandolf-google commented on #5190
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:27] #5190 closed, assigned to nobody

[2022-05-31 17:28] jrandolf-google commented on #5590
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:28] #5590 closed, assigned to nobody

[2022-05-31 17:28] jrandolf-google commented on #5632
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:28] #5632 closed, assigned to nobody

[2022-05-31 17:28] jrandolf-google commented on #6033
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:28] #6033 closed, assigned to nobody

[2022-05-31 17:28] jrandolf-google commented on #6114
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:28] #6114 closed, assigned to nobody

[2022-05-31 17:28] jrandolf-google commented on #6666
We no longer support Node < 14, please try this again with the latest version of Puppeteer and Node >= 14. If the issue still occurs, please reopen this issue and update the description :)

[2022-05-31 17:28] #6666 closed, assigned to nobody

[2022-05-31 17:34] #8405 closed, assigned to jrandolf

[2022-05-31 17:35] #7858 closed, assigned to nobody

[2022-05-31 17:36] jrandolf-google commented on #8406
Android is not supported.

[2022-05-31 17:36] #8406 closed, assigned to nobody

[2022-05-31 17:37] jrandolf-google commented on #8084
We no longer support Node 12, please try this again with the latest version of Puppeteer and Node 14+.

[2022-05-31 17:37] #8084 closed, assigned to nobody

[2022-05-31 17:42] jrandolf-google commented on #8215
Please check the documentation carefully.

[2022-05-31 17:42] #8215 closed, assigned to nobody

[2022-05-31 18:02] pierreminiggio commented on #7049
Hello, I found a workaround, you can use
 frame.focus to focus on the HTML Element,
 And then you can use page.keyboard.press :
 Exemple here : https://github.com/pierreminiggio/tiktok-poster/blob/38a51876afce48066751a07b0e45b41d0ea28a53/main.js#L108

[2022-05-31 22:45] stevesendsgit commented on #7474
This still occurs with the latest version of Puppeteer and Node 14.

[2022-06-01 04:28] SushritPasupuleti opened #8450 "[Bug]: Text in generated PDF cannot be selected and links do not work"
### Bug description

Steps to reproduce the problem:

I have a simple NextJS page that I'm trying to generate a pdf out of. By following the sample code from the docs. I generate a pdf.

[code]

The buffer is then passed on to a REST API endpoint.

Problem is, everything renders perfectly, but my links don't work and the text cannot be selected. It almost looks like these are images of the page tu

[2022-06-01 05:58] SushritPasupuleti commented on #8450
Fixed this by removing:

[code]

This seems to have caused the issue with everything being unselectable

[2022-06-01 05:58] #8450 closed, assigned to nobody

[2022-06-01 07:26] andyearnshaw commented on #8272
The changes cannot be easily addressed by an external package for the reasons I've already pointed out. That's what https://github.com/andyearnshaw/docketeer is about but there are several problems that are difficult to overcome, such as Puppeteer killing the process and leaving the container orphaned, or connecting the fd3/fd4 pipes for `--remote-debugging-pipe`.

Please feel free to take a look,

[2022-06-01 07:28] frank-dspeed commented on #8272
@andyearnshaw ah that is related to the init process and such stuff it needs to use s6 init then the pipes will work

[2022-06-01 08:20] frank-dspeed commented on #8272
## Update condenset the Problem down
the root effect you want to have is replace the chrome executeable with the following binary

[code]

## Solution
Create a local binary that runs the command something like a bash_script name it chromium mark it +x

pseudo code still working on it
chromium-binary marked as +x executable.
[code]

example.js
[code]

[2022-06-01 13:24] muhadel commented on #5893
Same problem.

[2022-06-02 09:39] Temirtator commented on #5893
Hello I experienced the same problem

[2022-06-03 08:22] sadym-chromium opened #8466 "[Bug]: Crash with a specified browser channel"
### Bug description

Steps to reproduce the problem:

1. Launch Puppeteer with a custom browser channel:
[code]

# Expected
Browser is launched.

# Actual
Puppeteer crashes.

### Puppeteer version

14.2.1

### Node.js version

v18.0.0

### npm version

8.6.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-06-03 18:30] joelgriffith opened #8469 "[Bug]: DNS lookups in 14.2.x break sites using wss/https"
### Bug description

Steps to reproduce the problem:

1. Install recent puppeteer versions.
2. Use `puppeteer.connect({ browserWSEndpoint: 'wss://chrome.browserless.io' })`
3. Receive SSL error since we (possibly most sites?) won't have an IP addresses in the HTTPS altnames:

I've traced it to this diff: `https://github.com/puppeteer/puppeteer/compare/v14.1.2...v14.2.0#diff-483229840b8c0a75e846133

[2022-06-03 19:43] unlikelyzero commented on #8469
Seeing this as well

[2022-06-03 20:02] codr1 opened #8470 "[Bug]: Can't upload files when puppeteering a remote browser"
### Bug description

Steps to reproduce the problem:

1. Connect to a remote browser that does not share the file system with environment executing the script (could be in a container or another machines)
2. Try to upload a file using fileChooser.accpet
3. Fail.

This seems to be due the following code in /puppeteer/lib/cjs/puppeteer/common/JSHandle.js
uploadFile()
.
.
        // Locate all files

[2022-06-03 23:01] jrandolf-google commented on #8469
Sorry about this! We'll get the fix up and running in the next release. For now, please freeze 14.2.0 and wait till the next release (next week Monday)!

[2022-06-04 13:00] stavalfi commented on #6523
not working with `puppeteer@14.2.1`. which version are you using?

[2022-06-04 13:29] brightchip opened #8473 "Can't get response from iframe"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

13.3.2

### Node.js version

12.16.1

### npm version

6.13.4

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-06-04 14:59] namdardn opened #8474 "[Bug]: page.goto returns null for some urls when setRequestInterception is set to true"
### Bug description

Steps to reproduce the problem:
[code]

Returns a response for the first request but all subsequent requests return null
[code]

Setting `setRequestInterception` to false or creating a new context for each request using `createIncognitoBrowserContext` fixes the issue.

The issue only occurs for certain websites.

### Puppeteer version

14.2.1

### Node.js version

v14.18.0

##

[2022-06-06 09:07] kenho85 commented on #8469
I have the same issue as well, also running 14.2.1

[2022-06-06 12:56] sushilsaksoft commented on #3428
hi Guys I am getting same issue can anyone help me
![2022-06-06](https://user-images.githubusercontent.com/96607317/172164720-2382accc-2fce-4b8e-b7d2-5f17cb7e724d.png)
const puppeteer = require('puppeteer')
const cheerio = require('cheerio')

const {
  errors,
  constants: {
    locations: {
      USStates
    }
  }
} = require('by-lib')

const {
  randomWait,
  navigateToPage,
} = require('~/util

[2022-06-06 22:40] jimmydief opened #8476 "[Bug]: 13.4.0 regression caused by permission issues when killing browser process group"
### Bug description

Steps to reproduce the problem:

I'm having trouble creating a simplified reproduction of this, including one which uses my same Jest setup. My scenario is the following:

1. In (Jest) unit tests for a Node.js server which uses Puppeteer, I launch a new server + corresponding Puppeteer instance in each test case and tear down the server/browser at the end of each test.
2. Afte

[2022-06-07 04:53] ghost commented on #5328
https://pptr.dev/#?product=Puppeteer&version=v14.2.1&show=api-pagewaitfornetworkidleoptions

[2022-06-07 04:54] ghost commented on #3627
https://pptr.dev/#?product=Puppeteer&version=v14.2.1&show=api-pagewaitfornetworkidleoptions

[2022-06-07 11:41] nodated opened #8479 "[Bug]: Gmail hangs when setRequestInterception(true)"
### Bug description

Steps to reproduce the problem:

1. Run the code
2. Chromium opens about:blank page and keep loading until timed out
3. Works fine if set interception to false

### Puppeteer version

14.2.1

### Node.js version

16.14.2

### npm version

8.5.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2022-06-07 11:55] #8289 closed, assigned to jrandolf

[2022-06-07 12:08] jrandolf-google opened #8480 "[Feature] Stale bot on Puppeteer"
To help maintain Puppeteer, we are introducing a stale bot that closes old/irrelevant issues in two weeks. The definition of "stale" that we've determined is:

- Older than 90 days.
- The issue is not labeled as `confirmed`.

[2022-06-07 12:33] JClackett commented on #8469
Thank god I found this issue, trying to track down the issue caused some stress, downgrading to 14.1.2 fixes it, 14.2.0 has the same error.

[2022-06-07 12:40] #7458 closed, assigned to OrKoN, jschfflr

[2022-06-07 12:40] #6769 closed, assigned to mathiasbynens, jackfranklin, OrKoN

[2022-06-07 12:55] NiklasBr commented on #2278
I am also experiencing this with `format:  "A4"`, header gets too small.

[2022-06-07 13:07] #6124 closed, assigned to jackfranklin

[2022-06-07 13:07] #6874 closed, assigned to nobody

[2022-06-07 13:07] #6884 closed, assigned to jackfranklin

[2022-06-07 13:10] #6299 closed, assigned to nobody

[2022-06-07 13:11] #6115 closed, assigned to nobody

[2022-06-07 13:11] #6123 closed, assigned to jackfranklin

[2022-06-07 13:19] dtto86 opened #8483 "Any option available in Puppeteer to sense complete page download?"
### Bug description

We have been using `page.goto()` with `waitUntil` & `timeout` options of Puppeteer to download the content of the page. But recently we observed that for some urls returning dynamic content(developed using Angular, ReactJs, VueJs, etc.) it is partially returning the page content. Seems like `waitUntil` doesn't have mechanism to sense that entire page content is loaded. We eith

[2022-06-07 13:25] #8466 closed, assigned to jrandolf

[2022-06-07 13:25] #8476 closed, assigned to nobody

[2022-06-07 13:31] #6125 closed, assigned to jackfranklin

[2022-06-07 13:31] #7252 closed, assigned to nobody

[2022-06-07 13:31] #7710 closed, assigned to jackfranklin

[2022-06-07 13:33] #3476 closed, assigned to nobody

[2022-06-07 13:33] #3878 closed, assigned to nobody

[2022-06-07 13:36] OrKoN commented on #8390
Some Puppeteer features rely on stack traces to be available, therefore, we cannot enable it by default.

[2022-06-07 13:36] #8390 closed, assigned to OrKoN

[2022-06-07 13:36] #8424 closed, assigned to OrKoN

[2022-06-07 13:41] jrandolf-google commented on #7322
This is not an issue. Chromium requires certain libraries to exist on the host machine (in this case, Replit's container) which seems to not exist in this case. Since Puppeteer requires Chromium, the above error is given.

[2022-06-07 13:41] #7322 closed, assigned to nobody

[2022-06-07 13:47] suntong commented on #5328
🎉🎉🎉Thanks! 👏👏👏

[2022-06-07 13:47] #5328 closed, assigned to nobody

[2022-06-07 14:01] jrandolf-google commented on #8483
Could you check if this occurs in a more recent version?

[2022-06-07 14:04] dkarlovi commented on #5003
Check that you're not using Google Fonts on the page. Google Fonts (and, I'm assuming, other Google properties?) have an implicit rate limit. I've just debugged it to removing Google Fonts from my tested pages and the network timeout disappeared. They don't reject your request, they time out (at least at the time of this writing).

[2022-06-07 14:17] #8470 closed, assigned to nobody

[2022-06-07 14:21] #8469 closed, assigned to jrandolf

[2022-06-07 14:50] jrandolf-google commented on #8399
This can happen if the frame is [lazy-loaded](https://developer.mozilla.org/en-US/docs/Web/Performance/Lazy_loading#images_and_iframes). Can you check that all frames in the link are not lazy-loaded? In particular, I believe this can be fixed if you scroll to the frame.

[2022-06-07 14:50] jrandolf-google commented on #8473
Does this still happen with a recent version of puppeteer? Also, we no longer support Node 12.

[2022-06-07 14:54] jrandolf-google commented on #8380
This is out of scope for Puppeteer. In particular, there doesn't seem to be a valid use case considering `pdf` testing is not a thing (you would manually look at it anyway).

[2022-06-07 14:54] #8380 closed, assigned to nobody

[2022-06-07 15:58] AlbertoFDR commented on #8399
Could you please give me more info about how to debug/find that? :)
I have tried doing manually interaction (scrolling down...) on the website before evaluating JS inside iframes but it doesn't work. Some of the attributes of the problematic iframe are empty such as URL (url = ''") and if I use methods like `problematic_iframe.content()` it gets stuck so Idk how to debug that iframe. Apart from th

[2022-06-07 18:48] max-programming commented on #2179
Interestingly, it doesn't work with the `page.$eval()` and `page.waitForSelector()` method but works with the `page.evaluate()` method when passed in to `querySelector()`

[2022-06-07 21:23] stevenwdv opened #8485 "[Types] Improve types for `evaluate` and `evaluateHandle` on various types (and `JSHandle<T>`)"
Currently the `evaluate` and `evaluateHandle` functions and `JSHandle<T>` itself are very loosely typed, for example, this is allowed:

[code]

**Problems are:**
- Argument types are not checked (except for the subject handle itself).
- Return type is not checked for `evaluateHandle`.
- `JSHandle<A> extends JSHandle<B>` for any `A`,`B`. Same for `ElementHandle<E>`.

# Solution

This could be solve

[2022-06-07 23:15] matheuscamarques commented on #2959
this happens to me too

[2022-06-08 01:53] jrandolf-google commented on #8485
Thanks for helping us improve our types! It seems you've already investigated this. Mind opening a PR?

[2022-06-08 02:44] xpader commented on #7054
@Adnane-St This not work in headless mode.

[2022-06-08 02:52] chang-ke commented on #1321
it works for me in Windows11, thanks

[2022-06-08 06:23] OrKoN commented on #8483
Just a general note: if the app is being rendered dynamically after the page load, there is nothing in Puppeteer goto implementation that can detect that because when exactly the app is done rendering is up to the app. So you could, for example, use `waitForSelector` to wait for a specific element to be there that would indicate that the app has finished loading (but this logic is app-specific.)

[2022-06-08 06:24] OrKoN commented on #8483
Also, you could try `networkidle2` and like @jrandolf suggested try using the latest version of Puppeteer.

[2022-06-08 06:27] OrKoN commented on #8479
I am able to reproduce on Mac too.

[2022-06-08 07:45] Bastardly commented on #5345
I had a small placement issue, due to margins and lack of container height  - so I ended up with this solution:
(That still needs to cleaned up a bit.)

[code]

[code]

[2022-06-08 07:51] andyearnshaw commented on #8272
@frank-dspeed thanks for posting that suggestion. I have a few concerns, but I haven't gotten around to evaluating it yet. I've set up https://github.com/andyearnshaw/docketeer/issues/7 to handle that evaluation and any further discussion as I'd prefer to keep this thread noise-free and for discussion about the feature request itself.

@jrandolf it appears you tagged as _bug_ instead of _feature-r

[2022-06-08 09:04] DeanWronowski commented on #4796
Getting the same issue;
node 16
puppeteer 14.3.0

[2022-06-08 11:40] frank-dspeed commented on #8272
## Final Solution!
The following example exposes defaultArgs for the Chrome and Firefox Launcher via undocumented api's
and uses the documented ignoreDefaultArgs: true option to supply fully costumized args: [] containing the defaults for the given browser launcher

import
[code]

in case of firefox inside docker set product before running the next part:
is not needed if you started Puppeteer with

[2022-06-08 18:44] jrandolf-google commented on #8272
Result of a bulk labeling.

[2022-06-08 19:24] frank-dspeed commented on #8272
@jrandolf is this class based application design fixed? or would i be allowed to refactor to a more functional codebase?

i guess it would improve iteration speed a lot as also types and code reuse overall i needed to read the whole code base because of the class inharitance it would be more easy to use functional composition to configure Puppeteer as also make
it more test able and so on i would

[2022-06-08 20:08] stevenwdv commented on #8485
@jrandolf nice. First a question: I think for backwards compatibility the `evaluate*` functions should probably retain their first generic type parameter as the type of the function passed to them? Especially since the current docs recommend specifying it.

Related to that: Should the `EvaluateFn<T,U,V>` and `EvaluateHandleFn` remain around with the same signatures for backwards compatibility? The

[2022-06-08 21:07] iamluisro opened #8488 "Page.select(selector, value) does not return the selected value and instead returns an empty string."
### Steps to reproduce

**Tell us about your environment:**

- Puppeteer version: ^14.3.0
- Platform / OS version: OS Monterrey 12.4
- URLs (if applicable):
- Node.js version: v14.17.4

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
I recently came across a form that has a select and in its options, the first option has a value with an empty string to

[2022-06-08 21:24] stevenwdv commented on #8485
Oh, actually: TypeScript does not support partially specifying generic parameters, so even if we keep the first parameter the same, no other parameters can be added... I'll see if that is even possible here.

Edit: actually, it would be possible if the rest of the parameters have default values, but I'm not sure if all this is possible in this case. So it'd still be nice to know if the interface s

[2022-06-09 02:50] jrandolf-google commented on #8272
This is closed in favour of #3072. In particular, puppeteer is already disjoint enough from chromium through the 'connect' interface, so containerising puppeteer fills the gap of "inconsistent" environments.

[2022-06-09 02:50] #8272 closed, assigned to nobody

[2022-06-09 02:54] jrandolf-google commented on #8259
This is not feasible since we cannot guarantee the msedge version uses the same upstream version of chromium. In particular, if we used any random latest version, we could not guarantee Puppeteer will work (hence we will get bug reports out of our control).

[2022-06-09 02:56] #8259 closed, assigned to nobody

[2022-06-09 08:35] andyearnshaw commented on #8272
@jrandolf I feel like #3072 only strengthens the case for this feature request, the two requests compliment each other significantly.

Let me clarify. If official Puppeteer images are published, the typical approach in using them would be to map in your scripts using `-v` in some `docker run` command. This is problematic in non-Linux environments when you have a lot of disk I/O because of how volu

[2022-06-09 09:06] jrandolf-google commented on #8272
@andyearnshaw Those statistics look very off. Did you try other mount methods? How about repeated runs? Does caching help?

Also, if puppeteer runs in a container, then with this feature, puppeteer will run the containerized browser in the container, so I don't see how #3072 complements this feature.

[2022-06-09 10:34] andyearnshaw commented on #8272
@jrandolf yes, I've tried other mount methods to no avail, but the slowness is acknowledged by the Docker engineers themselves. Docker for Mac 4.6 has an experimental file sharing implementation called virtiofs which improves performance drastically. If you read the [release post](https://www.docker.com/blog/speed-boost-achievement-unlocked-on-docker-desktop-4-6-for-mac/), you'll see that their ow

[2022-06-09 11:06] frank-dspeed commented on #8272
i guess that it is a design failure to even use defaultArgs for anything the documentation and why they are needed needs to be improved we need something like the devtools-protocol repo for chromium and firefox args and so on

you can not see docker as indipendent target as docker is just the app it self by design docker is not a vm it is a compiler target like you would compile to single binary.

[2022-06-09 11:27] #8488 closed, assigned to nobody

[2022-06-09 14:12] jrandolf-google commented on #4405
Oh, this is quite old. This is fixed in #8472.

[2022-06-09 14:12] #4405 closed, assigned to nobody

[2022-06-09 14:16] jrandolf-google commented on #5525
Can't reproduce.

[2022-06-09 14:16] #5525 closed, assigned to nobody

[2022-06-09 14:18] jrandolf-google commented on #8485
At some point, the types will have to be redone due to a separate issue of our types not matching the API docs. Because of this, we can work through this on a PR while we wait for this to happen :)

[2022-06-09 14:18] jrandolf-google commented on #5503
Please try on the latest version of Puppeteer.

[2022-06-09 14:18] #5503 closed, assigned to nobody

[2022-06-09 14:21] bloeys commented on #4405
Sorry to reopen @jrandolf, but did you mean to link a different issue/PR?
Because you just linked back to this same issue.

[2022-06-09 14:50] jrandolf-google commented on #4405
Fixed! #8472

[2022-06-09 15:05] LeviPesin commented on #1910
The only workaround I found to be working is manually adding 16 to the width and 133 to the height (these numbers are different on different platforms...). Does anyone find a more automatic workaround?

I tried setting bounds and then measuring client width and height (by `Page.getLayoutMetrics`, by `document.documentElement`, by screenshoting the page) and setting bounds again, but for some reaso

[2022-06-09 15:15] Kalevera commented on #2959
Hey this still works so try upgrading or installing because the chromium version works using this. Also you can change the executable to a standard chrome version if you're unable to download the chromium bundled version.

[2022-06-09 15:49] AlfonsoMobilia commented on #5577
Hi,
we have the same issue... any findings?
thanks!

[2022-06-09 15:52] jrandolf-google commented on #5247
You could just write a file to `/tmp` before uploading it. Closing as won't fix.

[2022-06-09 15:52] #5247 closed, assigned to nobody

[2022-06-09 15:53] jrandolf-google commented on #5434
Fixed in newer releases.

[2022-06-09 15:53] #5434 closed, assigned to nobody

[2022-06-09 17:00] #7529 closed, assigned to nobody

[2022-06-09 22:46] jimmydief opened #8497 "[Bug]: 13.4.0 regression caused when process does not exist when running in Jest"
### Bug description

Similar to #8476, I can only reproduce this when killing Puppeteer as part of the teardown logic of my Jest tests. The stack trace looks like this:
[code]

I believe that this is likely only reproducible in Jest due to https://github.com/facebook/jest/issues/2549. Regardless, the `instanceof Error` check here seems unnecessary. Given that Puppeteer is likely widely used in Jes

[2022-06-10 01:50] codr1 opened #8499 "[Bug]: When puppeteering a remote browser running on a different OS, page.uploadFiles does not work"
### Bug description

Steps to reproduce the problem:

1. Puppeteer a remote browser on a different OS.  (in my case my script is running on Linux, and puppeteering Windows).
2. Try to upload a file.
3. Fail.

The issue are the follwing lines in page.uploadFile

*const files = filePaths.map((filePath) => {
            if (path.isAbsolute(filePath)) {
                return filePath;
            }

[2022-06-10 01:51] codr1 commented on #8499
This is a pretty niche use case and there are probably people relying on the path.resolve(), but it would be nice to be able to somehow turn this check off.

[2022-06-10 05:35] OrKoN opened #8500 "Browser tests are failing on main"
See https://github.com/puppeteer/puppeteer/runs/6817376639?check_suite_focus=true

[2022-06-10 06:15] dnltsk commented on #7597
Same problem. Using npm 8.11.0.

[2022-06-10 06:44] hafizsheetab commented on #6414
Any solution?

[2022-06-10 08:16] LeviPesin commented on #1910
I guess I forgot to disable `defaultViewport` option. Will try to compile a workaround with it...

[2022-06-10 10:04] OrKoN commented on #8500
Please specify what PR/commit closed the issue.

[2022-06-10 10:37] LeviPesin commented on #1910
So, I have found a workaround, but **it requires capturing screenshot in the `fromSurface: false` mode which is not supported by Puppeteer until https://github.com/puppeteer/puppeteer/pull/8496**:
[code]
It works with defaultViewport, because fromSurface ignores it.

[2022-06-10 10:41] LeviPesin commented on #1910
If desired, I can make a PR with this workaround after https://github.com/puppeteer/puppeteer/pull/8496 will be merged. /ping @jrandolf @OrKoN

[2022-06-10 11:56] LeviPesin commented on #1910
Seems like the `fromSurface: false` adds a Windows applications "shadow" to the top of the image (but it does not break the workaround, I think)... ~~Also, it seems to screenshot scrollbars...~~ (`--hide-scrollbars` options can be used)

[2022-06-10 12:26] jrandolf-google commented on #8500
Fixed in #8494

[2022-06-10 12:26] #8500 closed, assigned to jrandolf

[2022-06-10 12:34] #8499 closed, assigned to nobody

[2022-06-10 12:59] andyearnshaw commented on #8272
@frank-dspeed I'm not sure if something is getting lost in translation, but it feels like what you're implying that it's not possible to do this. I have proven this not to be the case. Yes, there are issues—some of which could be mitigated by Puppeteer's source code having the knowledge that it's launched a docker container—but there is no point letting perfect be the enemy of good.

Here are the

[2022-06-10 13:27] #8497 closed, assigned to nobody

[2022-06-10 13:42] johnwaweru commented on #1213
if there's a dialog and you always want to accept
[code]

[2022-06-10 14:16] frank-dspeed commented on #8272
you got me wrong i say it works and it works perfekt and has nothing todo with puppeteer i recoded it now complet including playwright and did many iterations on that i know everything it does and does not

to get it working with remote pipe you need to adjust the docker args and then the puppeteer launcher or you even do it more clever and spawn the docker container your self and then use puppete

[2022-06-10 15:43] codr1 commented on #8499
@jrandolf - you are a machine, my friend!  Amazing work.

[2022-06-10 20:22] adamraine opened #8507 "[Bug]: Puppeteer doesn't capture some OOPIF requests (Flaky)"
### Bug description

The following script will exit 1 if there were some missing `Network.requestWillBeSent` events:
https://gist.github.com/adamraine/e9ae2e811bde239db24a47535008e228

On my computer the script exits 1 most of the time. Other machines have a hard time reproducing the described result. I have reproduced it on a Linux cloudtop as well.

The script needs `waitForDebuggerOnStart: true

[2022-06-11 13:59] LiamKarlMitchell commented on #5539
I think I'm having the same issue, it's been quite a while since it was reported, any idea on a work around?

Seems to work in non headless mode.
[code]

[2022-06-11 20:55] rvdber commented on #5577
Same issue here :-( Anyone suggestions?

[2022-06-12 14:05] Narias1999 opened #8508 "[Bug]: page.select not working when the first option has no value"
### Bug description

Steps to reproduce the problem:

I have this html markup
[code]
I'm trying to select the Test2 option with the following code:

[code]

**Result**
The default option (none). Remains selected.

If in the markup I remove the first <option> element (The one that has no value defined), the code works as intended and the test2 option gets selected.

### Puppeteer version

14.3.0

#

[2022-06-13 03:31] Lorenzras commented on #8508
Same issue on windows.

I temporally use the following until this issue got fixed. I tend to stick to this version as it solves other issues for me.

_Typescript_

[code]

[2022-06-13 05:10] surlyhacker commented on #7815
Happens to me in Node 16.13.2 with Puppeteer 13.1.1.

[2022-06-13 11:51] seyfer commented on #5893
We are running Puppeteer's last version in the Docker container in AWS Fargate and it gets stuck every 20 days because of this issue. All memory taken, no memory left.
My idea to fix it is to add a cron into our Docker to restart itself each week on Sunday, then I hope the memory will be cleaned.

[2022-06-13 16:02] Josehower opened #8509 "[Bug]: waitForNavigation({ waitUntil: 'networkidle0' }); does not behave the same as await page.waitForNetworkIdle"
### Bug description

Working with puppeteer in Linux environment i have found `await page.waitForNavigation({ waitUntil: 'networkidle0' })`; does not behave the same as `await page.waitForNetworkIdle();`

`await page.waitForNavigation({ waitUntil: 'networkidle0' })` seems to not wait until the images are fully loaded. after using this in a personal project and trying to

[code]

`await page.waitFo

[2022-06-13 20:58] stevenwdv commented on #8485
@jrandolf Ok! I'm struggling a bit with the types, mostly because TypeScript gets a bit confused with the function and string union, since the evaluate functions can also take a string parameter. Maybe typing this is not impossible, but it requires extra code and really doesn't want to work well. It would massively simplify the typing if the option to pass a string was just removed. It's usecase i

[2022-06-13 22:18] stevenwdv commented on #8485
Actually, I guess it's necessary for dynamically constructed functions... Not sure how to solve this

Edit: Although, you can still use `Function(...)` for those, if that's an acceptable solution..?
Edit 2: Taking this route, works pretty well.

[2022-06-14 02:22] PythonCoderAS opened #8518 "[Bug]: `puppeteer.devices` is undefined on 13.4.0"
### Bug description

Steps to reproduce the problem:

1. Install puppeteer 13.4.0
2. Try to use a device

The devices is `undefined` so I cannot access any properties.

### Puppeteer version

13.4.0

### Node.js version

v18.3.0

### npm version

8.11.0

### What operating system are you seeing the problem on?

Linux, macOS

### Relevant log output

_No response_

[2022-06-14 05:58] ivictbor commented on #5893
Why not just running your tasks in child processes? It never leaks

[2022-06-14 06:08] OrKoN commented on #8507
I think this is essentially the same as https://github.com/puppeteer/puppeteer/issues/7990 Coincidentally I started working on refactoring Puppeteer yesterday. One problem is that Firefox does not seem to support waitForDebuggerOnStart so a backward compatible solution is needed. Also, it's a bigger refactoring since setting waitForDebuggerOnStart in existing places would not ensure that the targe

[2022-06-14 06:20] sugar700 commented on #8518
It appears that `require('puppeteer').default.devices` (rather than `require('puppeteer').devices`) is necessary now, which is a breaking change that was likely unintended.

I recommend deprecating 13.4.0, as this is a breaking change as far semver is concerned.

[2022-06-14 09:26] jrandolf-google commented on #8508
Fixed in latest release.

[2022-06-14 09:26] #8508 closed, assigned to jrandolf

[2022-06-14 09:28] jrandolf-google commented on #8518
Yes, this will be deprecated soon. We are waiting for some changes on our deprecation bot, but once this is ready, we will deprecate < 14. Please use the latest version.

[EDIT] We will not be deprecating it right now. It is still using a stable version of chromium.

[2022-06-14 11:11] #8518 closed, assigned to jrandolf

[2022-06-14 11:19] Ysiakowy commented on #6216
"Solution for common dependences issues" should answer your problems

https://gist.github.com/winuxue/cfef08e2f5fe9dfc16a1d67a4ad38a01

[2022-06-14 13:43] alopix opened #8521 "[Bug]:`devices` is undefined on 14.4.0"
### Bug description

Steps to reproduce the problem:

Install puppeteer 14.4.0 (an earlier bug from someone today mentioned 13.4 in issue #8521 which I assume was a typo in their end)
Try to use a device

The devices is undefined so I cannot access any properties.

`import { devices } from 'puppeteer';` is undefined

### Puppeteer version

14.4.0

### Node.js version

14.19.1

### npm version

8.1

[2022-06-14 14:53] jrandolf-google commented on #8521
Can you please write the version this was last working? Was this a publicly-available API?

[2022-06-14 15:21] pushmiq commented on #5162
any news? still happens on puppeteer 10.2

[2022-06-14 15:31] max-programming commented on #1766
I was still stuck to this. And remove `userDataDir` does finally something but it does not do what the **headfull** mode did

[2022-06-14 15:33] OrKoN commented on #8521
I think it’s a public API https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#puppeteerdevices

[2022-06-14 17:28] alopix commented on #8521
It was working in v14.3.0

[2022-06-14 18:58] jrandolf-google commented on #8521
Fixed in https://github.com/puppeteer/puppeteer/commit/cba58a12c4e2043f6a5acf7d4754e4a7b7f6e198.

[2022-06-14 18:58] #8521 closed, assigned to jrandolf

[2022-06-15 04:04] xpader commented on #6040
Sometimes get `TimeoutError: waiting for waiting for file chooser failed: timeout 10000ms exceeded`, it this related to current issue?

[2022-06-15 08:10] seyfer commented on #5893
@ivictbor wdym? could you please provide any link to a code example? thank you in advance.

[2022-06-15 10:19] thibaudcolas commented on #8123
I’m interested in this as well, and emulation of `prefers-contrast` too, so had a look at what’s needed to make this work.

- Here’s the code that needs updating: https://github.com/puppeteer/puppeteer/blob/e6442dd767ed5958d84eea907ee8075cb3534599/src/common/Page.ts#L2370-L2388
- As far as I can see the only changes needed are to allow those media features in the validation regex, and add tests /

[2022-06-15 10:54] eusonlito commented on #4882
Same here using container image on lambda:

[code]

And CloudWatch log:

[code]

Any request can finish due `page.close()` timeout.

[2022-06-15 11:35] marcosmrs8 commented on #5674
Works for me using puppeteer `v12.0.0` and `nodejs14`

[2022-06-15 12:30] bedney commented on #6622
As of Big Sur 11.6.7, the control panel has changed. If you're using the standard Apple Terminal, you should be good to go. But who uses that? :-) I'm using iTerm. Here's what worked for me:

1. Quit iTerm
2. Go into System Preferences -> Security & Privacy
3. Scroll down to Developer Tools and click4.
4. You'll see the standard Apple Terminal listed in the list of apps “Allow the apps below to ru

[2022-06-15 12:40] chaoticsparks commented on #8383
Is there any update on that?

[2022-06-15 13:29] guellaeq commented on #7597
Same problem. Using node 16.5.0. npm 7.19.1.

[2022-06-15 16:31] rockgabi commented on #7875
Did you find a solution for this? having the same problem

[2022-06-15 19:45] dean-g opened #8526 "Domains like start with www. is clickable even though i didn't setup the hyperlink"
Domains like start with www. are clickable even though I didn't set up the hyperlink

My pdf contents have a few entries as follows,
- www.google.com
- www.abc.com
- www.hacker.com

and so on

If I open the pdf in the chrome browser, those domains were clickable. Is there a way I can limit those click events?

Please advise if there is any configuration from the puppeteer to help me prevent this c

[2022-06-15 20:26] marcelinhov2 commented on #8245
Also having this problem at AWS Lambda.

[2022-06-15 20:28] marcelinhov2 commented on #8245
I'm guessing it's related to the nodejs version and not with the mac chipset.

[2022-06-16 01:52] vindhya124 opened #8528 "[Bug]:"
### Bug description

Steps to reproduce the problem:

1. I am using puppeteer to render a pdf  file from html and send as an attachment to email. The text in the pdf is grey and too small. I have used  html {
        -webkit-print-color-adjust: exact !important;
    } as an inline style but didn't worked

![image](https://user-images.githubusercontent.com/38023844/173974255-6a0f31a9-da89-4247-8f17

[2022-06-16 06:50] fregante commented on #8215
This does not work, Firefox is just not installed:

[code]

[code]

[code]

For it to work, you have to remove Puppeteer first _and then_ reinstall it. The documentation is incomplete and/or Puppeteer should offer a better way to do this.

Running on:

- node 16.14.2
- npm 8.5.0
- macOS 11.6.7

[2022-06-16 06:53] fregante commented on #6395
Firefox is not downloaded next to Chrome, see https://github.com/puppeteer/puppeteer/issues/8215#issuecomment-1157299074

[2022-06-16 06:56] bambooom opened #8529 "[Bug]: Cannot destructure property 'TimeoutError' of 'puppeteer.errors' as it is undefined."
### Bug description

Steps to reproduce the problem:

1. install puppeteer latest

2. run this script `node test.js`
[code]

I'm using Mac mini (M1, 2020) with macOS Monterey (12.4)

### Puppeteer version

14.4.0

### Node.js version

16.13.0

### npm version

8.1.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-06-16 06:59] bambooom opened #8530 "[Bug]: Error: spawn Unknown system error -86"
### Bug description

Steps to reproduce the problem:

1. install puppeteer latest
2. run this script `node test.js`

[code]

I'm using Mac mini (M1, 2020) with macOS Monterey (12.4)

### Puppeteer version

14.4.0

### Node.js version

16.13.0

### npm version

8.1.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2022-06-16 07:36] VagrantAI-c opened #8531 "[Bug]: crash on PDF render"
### Bug description

Steps to reproduce the problem:

1. clone https://github.com/VagrantAI-c/Puppeteer-pdf-render-repro
2. run `npm ci`
3. run `npm run build`
4. run `npm run serve`

Reproduce from scratch:
[code]

This error is happening on https://github.com/puppeteer/puppeteer/blob/ce0dd25349b3141409cf68121a2bf9a770d9ecf7/src/common/util.ts#L387 while running `await page.pdf({ format: 'a4' });

[2022-06-16 09:42] theyough commented on #2067
@x88x Could you give us more details ?
Thanks

[2022-06-16 10:12] wuttichowcho opened #8532 "[Bug] error Could not find expected browser (chrome) locally. Run `npm install` to download the correct Chromium revision (1002410)."
Hello

I user Lambda by image package type. I use "npm install puppeteer" in image. When I call function using puppeteer for generate pdf , it throw error `"error Could not find expected browser (chrome) locally. Run `npm install` to download the correct Chromium revision (1002410)."` on Lambda.

this is my code

[code]

Have you got any idea for solve ? Or do I done something wrong ?
thank you an

[2022-06-16 10:42] hajunwon opened #8533 "[Bug]: page client.on doesn't works"
### Bug description

client.on("Network.webSocketFrameSent", ({ requestId, timestamp, response }) => {
           ^

TypeError: client.on is not a function

why?

[code]

### Puppeteer version

14.4.0

### Node.js version

16.13.0

### npm version

8.1.2

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2022-06-16 12:58] universemaster commented on #1778
Hi  @simonc.  Thanks for posting the link to paged.js.  I've spent several hours trying to get paged.js to work without success.

(Also the link now goes to a 404).

Are you referring here to the TOC embedded in the PDF (also known as a "document outline dictionary")?

I wonder if you can upload an example on github, or offer a few hints?

[2022-06-16 14:54] ivictbor commented on #5893
I've just wrote a detailed blog post about simple example with a fix for puppeteer RAM leak issue:

https://devforth.io/blog/how-to-fix-ram-leaking-libraries-like-pupeeteer-easily-universal-way-to-fix-ram-leaks-once-and-forever/

[2022-06-16 15:41] jumoog commented on #8533
`MainPage._client` isn't accessible anymore since https://github.com/puppeteer/puppeteer/commit/6c960115a3230e247de628b85dea7c1c02582d6d

[2022-06-16 17:25] vezaynk commented on #8526
You're going to have to go dig in the Chromium API / configuration options for that. There might not be such an option.

You could potentially do something with JavaScript though.

[2022-06-16 18:11] Kikobeats commented on #5893
@ivictbor as a workaround, it's great, thanks for writing up 🙂

What was a bit of surprise to me reading the blog post is how easy you reproduce the memory leak. This issue has now +2 years, and looks like the leak is still there, sticky from the very beginning of the life of the library.

Although run the browser spawning a process could be an acceptable workaround, ideally users don't want to do

[2022-06-16 22:42] SuperPat45 commented on #8261
Launching a detached browser and using exiting the script process.exit(0) work, but only on Windows.
On Linux, the browser is still killed when the script is closed...

[2022-06-17 00:34] AgainPsychoX commented on #382
When do I need to call `dispose` of the handles?

[2022-06-17 04:28] mostafa-hisham opened #8534 "[Bug]: puppeteer.devices Cannot read properties of undefined"
### Bug description

TypeError: Cannot read properties of undefined (reading 'iPhone 6')

Steps to reproduce the problem:

1. Use this code from the [documentation](https://pptr.dev/#?product=Puppeteer&version=v14.4.0&show=api-puppeteerdevices) to load the device config
[code]

### Puppeteer version

14.4.0

### Node.js version

17.3.1

### npm version

8.3.0

### What operating system are you see

[2022-06-17 04:41] mostafa-hisham opened #8535 "[Bug]: CSSCoverage.stop Error at assert on some page URLs"
### Bug description

in some Page urls, CSS coverage produces this error in` lib/cjs/puppeteer/common/assert.js:26`
[code]
this URL for example [https://parkbahcemarketi.com/urun-kategori/cocuk-oyun-parklari-2/metal-cocuk-parklari/?nowprocket'](https://parkbahcemarketi.com/urun-kategori/cocuk-oyun-parklari-2/metal-cocuk-parklari/?nowprocket)

Steps to reproduce the problem:

1. using this code to

[2022-06-17 05:56] leadscloud commented on #2905
new pptr version.

`page._client.send is not a function`

[2022-06-17 09:55] SinanGabel commented on #5674
I have a working combination of nodejs 16 and puppeteer 5.5.0 - without any extra libraries i.e. just use cloud functions as-is.
With puppeteer 14.x there are timeout problems, so I rolled back to 5.5.0.

[2022-06-17 13:29] jrandolf-google commented on #8534
Fixed in 14.4.1

[2022-06-17 13:30] #8534 closed, assigned to nobody

[2022-06-17 13:30] jrandolf-google commented on #8532
Please check our FAQ.

[2022-06-17 13:30] #8532 closed, assigned to nobody

[2022-06-17 13:35] jrandolf-google commented on #8533
You can use _client(), but please remember all internal APIs are subject to breakage without notification.

[2022-06-17 13:35] #8533 closed, assigned to nobody

[2022-06-17 14:28] kruncher commented on #3397
I have the following problem with this workaround (in unit testing):

[2022-06-17 16:17] AgainPsychoX commented on #4676
Can confirm, here my usage:
[code]

[2022-06-17 17:06] wuttichowcho commented on #8532
@jrandolf Can you guild me how to find FAQ ?

[2022-06-17 17:06] dean-g commented on #8526
Yeah. thanks for your advice @knyzorg!.

I moved that into an anchor tag and href to href="javascript:void(0)" which help me to prevent from clicking. but now the problem is the anchor tag got the cursor pointer. Is there a way to change the anchor cursor from pointer to text for pdf?

I tried using CSS styles but it doesn't work with the pdf editor.

Please advise.

[2022-06-17 17:08] vezaynk commented on #8526
You could try to replace the a tags with span tags. They will make them not clickable at all.

[2022-06-17 18:19] gvanriper commented on #5893
@ivictbor , This resolved our long long road of figuring out what the heck was causing our memory leak. Thank you for taking the time to write examples.

If anyone on here is trying to do HTML to PDF and need to return a buffer, I can provide a working example for that as well.

[2022-06-17 18:22] dean-g commented on #8526
if I move that to a span tag. the pdf editor on chrome it allowing them to click by default.

[2022-06-17 18:24] vezaynk commented on #8526
What does your JS look like?

[2022-06-17 18:43] willyboy commented on #7597
Same

[2022-06-18 04:50] stevejboyer commented on #5674
Confirming this works for me. Thank you! I've been beating my head against the keyboard for a few days now.

[2022-06-18 13:06] lehni commented on #1478
As of 6c960115a3230e247de628b85dea7c1c02582d6d this does not work anymore.

The workaround is to use `page._client().send`, but:

https://github.com/puppeteer/puppeteer/issues/8533#issuecomment-1158878802

[2022-06-18 16:05] 1kaiser commented on #8533
FROM 👍:
`await page._client.send("Page.setDownloadBehavior", {
            behavior: "allow",
            downloadPath: folderName,
          });`

LATEST:

`await page._client().send("Page.setDownloadBehavior", {
            behavior: "allow",
            downloadPath: folderName,
          });`

[2022-06-19 07:41] anwaar-ulhaq commented on #3698
This worked for me by adding `args`

[2022-06-19 12:03] LeggoMahEggo commented on #2486
Went on a hell of a journey to get this working. For those who are using manifest v3, you need to use service worker, target.worker(), and chrome.action instead:

`// find extension service worker and get it
const extBackgroundTarget = await browser.waitForTarget(t => t.type() === 'service_worker');
const extWorker = await extBackgroundTarget.worker();

// load a page from which to open the extens

[2022-06-19 13:19] hayduas commented on #7862
See https://monorail-prod.appspot.com/p/chromium/issues/detail?id=1198567 for a quick workaround (haven't checked it yet): Adding '--disable-gpu' to args may solve this issue.

[2022-06-19 13:22] nishanthr93 commented on #8509
Hi @Josehower
pass the options in array its should works.
 `await page.[waitForNavigation](''url")({ waitUntil: ['networkidle2'] })`

[2022-06-20 07:35] jrandolf-google commented on #8529
Fixed in `14.4.1`

[2022-06-20 07:35] #8529 closed, assigned to nobody

[2022-06-20 09:50] cascornelissen opened #8537 "[Bug]: TypeScript private fields do not work when target is es5"
### Bug description

Steps to reproduce the problem:

1. Set `target` to `es5` in `tsconfig.json`
1. Run something like `tsc --declaration --emitDeclarationOnly`

This works on `14.3.0` but breaks on `14.4.0`, the relevant changes were made in #8506. I couldn't really find anything related to whether it's ok that this broke according to the guidelines but it was unexpected to use, which is why I'm

[2022-06-20 09:55] Ramya177-123 opened #8538 "getting error"

[2022-06-20 09:57] #8538 closed, assigned to nobody

[2022-06-20 12:16] deaktomi commented on #4290
I think so. I tested Puppeteer with Chromium 94 and Chromium 101. On 94 it was working fluently. On Chromium 101 it wasn't.

[2022-06-20 12:43] jrandolf-google commented on #8537
Is there a reason you need to use `es5`?

[2022-06-20 12:47] bmaupin commented on #6395
To download Chromium and Firefox at the same time:

Source: https://github.com/puppeteer/puppeteer/issues/5743#issuecomment-621664876

[2022-06-20 13:01] cascornelissen commented on #8537
It pains me to say it out loud but we still support Internet Explorer (for a few more weeks). Puppeteer doesn't have anything to do with the fact that we're still supporting this ancient browser, I just created this issue because it was kind of unexpected that our builds started failing with this new minor version of puppeteer.

I'm ok with not fixing this on puppeteer's side by the way, just want

[2022-06-20 13:15] jrandolf-google commented on #8537
I see. I'd recommend somehow separating the testing infrastructure from your builds. Puppeteer is in no way related to IE, so it'd be best to keep these separate build-wise.

[2022-06-20 13:15] #8537 closed, assigned to nobody

[2022-06-20 14:12] OrKoN commented on #8530
I think you should try installing puppeteer with the environmental variable `PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM` set to true. M1 support is currently experimental as GitHub Actions still lack support for Mac ARM cpus.

[2022-06-20 14:13] OrKoN commented on #8528
Please try using the latest version of Puppeteer (and the latest Chromium) as version 7.0.0 is deprecated. I am not sure if it will work in the newer version but there is a chance. Please also include a complete reproduction (e.g., HTML/CSS + Puppeteer script).

[2022-06-20 14:16] OrKoN commented on #8526
Hey, thanks for the report. It does not look like it's directly a Puppeteer issue (perhaps a Chromium headless/Chromium issue). Could you please include the reproduction scripts for the issue and the version information this is happening with?

[2022-06-20 15:16] dean-g commented on #8526
Thanks, @knyzorg, and @OrKoN for looking at this issue!.

My codebase initially looks like this:
`<td>  www.google.com </td> `

to avoid clicking, i changed that to
[code]
now I am getting the hand cursor even though I restricted that from a CSS class as a text.

I am using the following version,
"puppeteer": "^9.0.0",

[2022-06-20 15:38] OrKoN commented on #8526
@dean-g could you try it with the latest Puppeteer?

[2022-06-20 19:53] ivictbor commented on #8222
Just in case if you need to [workaround any kind of Puppeteer leaks](https://devforth.io/blog/how-to-simply-workaround-ram-leaking-libraries-like-puppeteer-universal-way-to-fix-ram-leaks-once-and-forever/)

[2022-06-20 20:02] ivictbor commented on #6705
@StrangeTown can you reproduce on newer versions still? I tried to profile your code in  [my leak experiments](https://devforth.io/blog/how-to-simply-workaround-ram-leaking-libraries-like-puppeteer-universal-way-to-fix-ram-leaks-once-and-forever/) by myself on 14.4.1 and seams like it is smooth, though I am still in progress, need to get more info.

Could you please give me value of htmlStr variab

[2022-06-20 20:18] ivictbor commented on #6742
@Grsz I figured out that even reusing one browser for many calls of newPage always leaks, in v14.2.1 I lost near 150 MiB of RAM within 2 hours just by opening random websites in new pages (one site one page):

![image](https://user-images.githubusercontent.com/1838656/174672035-5a8669ed-4bc5-4126-a0d7-e3c21400c897.png)
[code of the above experiment](https://devforth.io/blog/how-to-simply-workaroun

[2022-06-20 21:03] davenrai commented on #1731
I was able to render a webgl frame as a pdf using the following arguments.

`const browser = await puppeteer.launch({ args: [ '--ignore-certificate-errors',"--use-gl=swiftshader", "--enable-webgl", ]});`

[2022-06-20 21:29] vindhya124 commented on #8528
Thank you for your quick response. I have updated to the latest version and it worked.

[2022-06-20 21:29] #8528 closed, assigned to nobody

[2022-06-21 01:21] ShehanAT commented on #8359
I am able to replicate this issue on my end.
So if I'm not mistaken, you want the PDF pages to have the page orientation CSS applied to them right?

[2022-06-21 02:26] bambooom commented on #8530
I've tried to install with `PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM` as:

[code]
![Screen Shot 2022-06-21 at 10 25 48](https://user-images.githubusercontent.com/14840170/174703240-7df912b3-6749-4d0c-9194-e24220579614.png)

But I run the above `test.js` with another error:

[code]

[2022-06-21 02:56] chang-ke commented on #5984
is there any new update?

[2022-06-21 05:31] ReDrUm commented on #6622
Can anyone share a working Dockerfile using `PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM`?

I'm building on an M1 using `docker buildx build --push --platform linux/arm64 ...` and i've tried both strategies below, but both error out with:

[code]

The expected arm64 build for `1002410` does exist [here](https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Mac_Arm/10024

[2022-06-21 06:27] ReDrUm commented on #4731
I would expect something like `deb [arch=$TARGETARCH]` although it's legitimately not available for that arch

[2022-06-21 08:12] ghost opened #8539 "[Bug]: Puppeteer's boundingBox method returns null after it enounters a react portal"
### Bug description

Steps to reproduce the problem:

1. Parse through the page's elements
2. Call the boundingBox method on each of those elements.
3. Encounter a react portal which doesn't render anything on the browser meaning the boundingBox will return null
4. All the boundingBox calls following this null result give null result even if they are rendering something on the screen.

### Puppete

[2022-06-21 09:51] surajsharmadev commented on #6622
To delete the quarantine attribute:
xattr -d com.apple.quarantine /Applications/Chromium.app

[2022-06-21 10:08] anjackson commented on #8065
I think this is [fixed in versions 13.5.0 and up](https://github.com/puppeteer/puppeteer/commit/3feca325a9472ee36f7e866ebe375c7f083e0e36). Works for me with 14.4.1.

[2022-06-21 13:03] OrKoN commented on #8539
Could you please provide a test page and a test script to reproduce this?

[2022-06-21 13:05] OrKoN commented on #8530
What happens if you run `PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM=true node test.js`?

[2022-06-21 14:42] tiberiuzuld commented on #7225
Hello,
I upgraded now my instance to:
docker node:16-alpine3.16
puppeteer: 14.1.2
chromium: 102.0.5005.61-r0
[code]

I was not able to reproduce the issue after 30 min of testing.
Planning to test some more this week and the next, will update if I am able to reproduce.

[2022-06-21 15:32] adatta02 commented on #8359
@ShehanAT yup that's right. Whoops just seeing the S3 link from above is broken.

https://setfive-public.s3.amazonaws.com/page-orientation-propagated.html is a working link.

And https://setfive-public.s3.amazonaws.com/page-orientation-propagated.pdf is the output of doing a "Print to PDF" in Chrome and what I'm expecting from Puppeteer.

Thanks!

[2022-06-21 15:39] SajadTroy commented on #8406
Ok

[2022-06-21 18:22] arshamalh commented on #1175
In my case (using pupeteer with Browserless Chrome), it was because of scrolling in browserless taking time and browserless will close the connection, so I increased the connection time out with `CONNECTION_TIMEOUT` environment variable in browserless container and reconnecting whenever needed in puppeteer container. (check connection with: `browser.isConnected()`)
 and my problem solved.

 the co

[2022-06-21 22:04] stevenwdv commented on #8485
I created a draft PR! #8540
Let me know what you think or if you need more info

[2022-06-22 01:02] bluematter commented on #4796
Im getting this issue in Google Compute Engine using Pm2. Two processes in parallel it works fine, as soon as I added a third process it fails with

[code]

Using 1 x NVIDIA Tesla T4 GPU and 16 vCPUs (n1-standard-16 - Intel Haswell)

[2022-06-22 02:00] menottiRicardo commented on #8532
I couldn't find anything on the FAQ

[2022-06-22 06:28] ReDrUm commented on #7740
Does anyone have a viable workaround for running Puppeteer 13 or 14 via Docker on an M1 mac using a Debian Node base image? e.g.

`docker buildx build --push --platform linux/amd64,linux/arm64 ...`
[code]

Happy for rosetta emulation at this point since a native `arm64` binary doesn't exist yet, but so far my attempts at running an `amd64` version on an M1 result in qemu crashing when attempting t

[2022-06-22 07:07] nook24 commented on #7740
@ReDrUm you can test my Dockerfile: https://github.com/it-novum/puppeteer-docker/blob/development/Dockerfile
I have not tested it on Apple M1, but it is running on Linux arm64.

[2022-06-22 07:29] Umeshunp commented on #4796
This worked for me as well

[2022-06-22 07:34] code-by-gijs commented on #4796
We eventually increased the memory limit of our azure function. The timeouts would occur when the page had javascript redirects. So in those cases puppeteer would actually render two pages.

[2022-06-22 09:42] DEYROS commented on #5345
Hello !
I am currently using [mdpdf ](https://www.npmjs.com/package/mdpdf).
I wanted to add page numbers to my footer and I saw this :
![image](https://user-images.githubusercontent.com/88462659/174995676-55155518-6e56-462a-ac93-42e78944300e.png)
So I tried this into a file called **index.js** :
[code]

Here is the **footer.html**
[code]

and the css for it :
[code]
And my footer looked like this

[2022-06-22 13:42] hungfhp commented on #4149
Thank @ediweissmann
It works

[2022-06-22 18:28] cdeutsch commented on #7740
@ReDrUm the ideal fix would be an arm build of Chromium for Debian, but doesn't sound like that's on Puppeteer's radar.

Here's the Dockerfile I used to work around my issues (unfortunately it's an old version of Chrome)
https://github.com/garris/BackstopJS/issues/1300#issuecomment-1018707468

[2022-06-22 19:06] dean-g commented on #8526
I upgraded the same but no luck

[2022-06-22 19:49] bluematter opened #8546 "[Bug]: bind() failed: Address already in use (98)"
### Bug description

Steps to reproduce the problem:

1. Using Ubuntu 20.04.4 LTS with 16 vCPUs and 2 x NVIDIA Tesla T4
2. Install PM2 and run multiple express servers that launch Puppeteer

[code]

Then I run `sudo pm2 start dist/index.js -i max` I actually have a config file that runs each app on a different port to test if this was the issue `sudo pm2 start dist/app.config.js` -i max.

This is

[2022-06-22 19:57] bluematter commented on #8546
Solved the issue I had a flag `--remote-debugging-port=9222` that I didn't pay attention to. Removing this flag resorts to Puppeteers default way of assigning a port number to the DevTools API which is dynamic per instance. This flag causes them all to be shared which obviously locks it up.

I learned a lot trying to investigate this issue. Using `dumpio: true` in your launch code is super useful.

[2022-06-22 19:57] #8546 closed, assigned to nobody

[2022-06-22 21:29] #7961 closed, assigned to nobody

[2022-06-22 21:31] #7028 closed, assigned to nobody

[2022-06-23 06:21] bambooom commented on #8530
@OrKoN  It stucked without any error reporting or any other information.

[2022-06-23 08:28] #8480 closed, assigned to jrandolf

[2022-06-23 11:32] bmpf commented on #8191
Still there, but I don't know if it is considered normal behavior.

[2022-06-23 12:04] PAStheLoD commented on #2167
🤷

[2022-06-23 12:26] jaschaio commented on #8101
This issue still exists and as far as I can see nobody has actually tried to confirm it but several people have run into this

[2022-06-23 13:13] ysmood commented on #8150
Please take a look at this issue

[2022-06-23 13:13] ysmood commented on #8216
Please take a look at this issue

[2022-06-23 13:19] OrKoN commented on #8009
@Kreeg did you end up using playwright? do you have the same issue with screenshots there? I imagine it should affect all Chromium browsers.

[2022-06-23 13:20] OrKoN commented on #8044
I think this was likely to have been fixed with the recent fixes and changes. Please command if the issue is still happening.

[2022-06-23 13:20] #8044 closed, assigned to nobody

[2022-06-23 13:52] karlludwigweise commented on #1853
This issue is not resolved.

[2022-06-23 14:53] OrKoN commented on #8530
hm, could you run `DEBUG=puppeteer.* PUPPETEER_EXPERIMENTAL_CHROMIUM_MAC_ARM=true node test.js` and post the log?

[2022-06-23 15:14] OrKoN commented on #8121
I think this release of `ws` should fix it: https://github.com/websockets/ws/releases/tag/8.8.0

`ws` adds two more env variables `WS_NO_BUFFER_UTIL` and `WS_NO_UTF_8_VALIDATE` to make sure that optional dependencies are not invoked. The PR bumping the ws version on our side is https://github.com/puppeteer/puppeteer/pull/8503.

[2022-06-23 15:14] #8121 closed, assigned to nobody

[2022-06-23 15:39] Kreeg commented on #8009
@OrKoN yes, we switched to playwright. It was OK until the recent update. Now I need to test different chromium versions, I just need some time. I'm closing this issue, but if you want, you can follow updates on this issue https://github.com/microsoft/playwright/issues/14460 (I'll link new issue there)

[2022-06-23 15:39] #8009 closed, assigned to nobody

[2022-06-23 16:55] mercertom commented on #4356
It's been confirmed repeatedly. Don't know who "we" is in a bot's language.

[2022-06-23 17:38] mgrant0 commented on #7944
This is still an issue.  Seems like it should not be too difficult to fix.

[2022-06-23 17:43] ImRodry opened #8558 "[Bug]: Page#evaluate fails to assign types to function parameters"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

15.0.0

### Node.js version

18.4.0

### npm version

8.12.2

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2022-06-23 17:53] alexdowad commented on #5214
@stale, the issue is most definitely real. I have experienced it myself.

[2022-06-23 18:05] kuisathaverat commented on #7740
I've spent a few hours trying to run one of our Docker containers on Linux/arm64, it was hard and mostly trial and error mode. My final setup is `Debian 11` and `Chromium 103.0.5060.53 built on Debian 11.3, running on Debian 11.3`, the magic is in the bunch of flags I have had to set to make Puppeteer not stuck on a `await browser.newPage()`, and avoid segment faults and device access errors.

[co

[2022-06-23 18:31] Ranguna commented on #6359
@stale please leave it as confirmed. It's being tracked here: https://bugzilla.mozilla.org/show_bug.cgi?id=1587857

EDIT: should I make a bot that adds a comment here every 29 days ?

[2022-06-23 18:42] harakka commented on #550
This is is definitely still an issue, puppeteer still doesn't download and use a bundled version of chromium on arm architectures.

[2022-06-23 19:12] wohali commented on #5034
@ip75 Any chance to look at this to help support https://github.com/grafana/grafana-image-renderer/issues/192 ? Thanks.

[2022-06-23 20:40] pkgw commented on #915
Based on the most recent comments, I think that @stale is incorrect here ...

[2022-06-23 20:43] DjVreditel commented on #7692
bump

[2022-06-23 20:57] josha1971 opened #8561 "[Bug]: PuppeteerSharp.ProcessException: Failed to launch browser! ailed to create a message-only window: Not enough storage is available to process this command."
### Bug description

Steps to reproduce the problem:

I have our setup code like this:
[code]
**We are seeing this error on the LaunchAsync() method:**
PuppeteerSharp.ProcessException: Failed to launch browser! [66200:57684:0623/193037.056:ERROR:message_window.cc(116)] Failed to create a message-only window: Not enough storage is available to process this command. (0x8)
[66200:57684:0623/193037.42

[2022-06-23 21:20] vezaynk commented on #7888
This is still an issue

[2022-06-23 21:30] andyearnshaw commented on #7744
Is there anything I can do to help confirm this?

[2022-06-23 21:52] travisdowns commented on #7578
This issue should not be closed. I'm not sure why it has the unconfirmed label, I think I provided exact reproduction steps.

[2022-06-23 23:27] simonc commented on #1778
Hey @universemaster, I can give you a watered down example of what we do in one of our master templates at PDFMonkey:

[code]

[code]

That's pretty much it actually 🙂

Hope this can help.

[2022-06-23 23:48] rentalhost commented on #6906
I think that is was fixed a long time ago.

[2022-06-24 01:14] y-yagi commented on #4404
I've confirmed this issue still exists.

[2022-06-24 04:59] extempl commented on #7429
Two years already, and not a slightest attention to the issue.

[2022-06-24 04:59] manuelmeister commented on #6657
Still an issue

[2022-06-24 05:19] Torgen opened #8563 "[Bug]: "UNKNOWN CONSOLE TYPE: warn" log spam"
### Bug description

My Meteor.js app uses puppeteer as the headless browser driver for its client-side tests. The Meteor client side test driver proxies log messages to the server so they end up in STDERR. Consecutive commits on my project bump Puppeteer to [14.3.0](https://github.com/Torgen/codex-blackboard/commit/c2eaa2fd730427904c30bcff3160899ac032a47a) and [14.4.0](https://github.com/Torgen/c

[2022-06-24 05:45] KaruppananA commented on #5987
The issue is happend because allocating new container every app getting auto scale or down. So it remove dependencies everytime. So implement the docker based solution and deploy the same in Azure app service. Now i am not facing the any isssues in Puppeteer.

[2022-06-24 05:46] #5987 closed, assigned to nobody

[2022-06-24 06:39] OrKoN commented on #8563
Hm, I don't think we added any console.warn messages or any logging at all. Here is the diff for the versions you mention https://github.com/puppeteer/puppeteer/compare/v14.3.0...v14.4.0 I don't see anything special there. Could you please see what module/code prints this message?

[2022-06-24 06:40] #8558 closed, assigned to jrandolf

[2022-06-24 06:46] OrKoN commented on #8561
Hey, did you mean to file this bug to the puppeteer-sharp repository? https://github.com/hardkoded/puppeteer-sharp

I think there is not much we can do on the Puppeteer side: the error is thrown by Chromium and it looks like either there is no enough memory or disk space. I could not find the error message in the Chromium codebase so it looks like it's a Windows-specific error returned by some sys

[2022-06-24 06:46] #8561 closed, assigned to nobody

[2022-06-24 07:03] whimboo commented on #7344
No response from reporter within the last year. Closing the issue.

[2022-06-24 07:03] #7344 closed, assigned to nobody

[2022-06-24 07:05] whimboo commented on #1576
This is a known and confirmed issue with CDP and has been reported via https://github.com/puppeteer/puppeteer/issues/1576#issuecomment-576740152.

[2022-06-24 07:10] whimboo commented on #6371
@mathiasbynens not sure if we want to keep this bug open or not. As discussed as well in one of the former meetings we are not going to switch to beta/release in the foreseeable future (or at all). Focus is on WebDriver BiDi and we sadly do not have the man power to keep Puppeteer fully supported especially not for a beta or release.

[2022-06-24 07:11] whimboo commented on #7647
No reply from the reporter. Closing the issue.

[2022-06-24 07:11] #7647 closed, assigned to nobody

[2022-06-24 07:12] whimboo commented on #6371
Maybe we should dupe to issue #6894?

[2022-06-24 07:13] whimboo commented on #6894
Not sure if we want to keep this issue open or not. As discussed as well in one of the former meetings we are not going to switch to beta/release in the foreseeable future (or at all). Focus is on WebDriver BiDi and we sadly do not have the man power to keep Puppeteer fully supported especially not for a beta or release.

[2022-06-24 07:14] whimboo commented on #4111
@OrKoN mind checking my last comment if we could maybe re-enable the test? Thanks.

[2022-06-24 07:16] whimboo commented on #5792
No further comment since I requested to check a fix in Firefox. As such I assume that this problem is solved now.

[2022-06-24 07:16] #5792 closed, assigned to nobody

[2022-06-24 07:17] marvinhagemeister commented on #6957
ping (to avoid stale bot)

[2022-06-24 07:19] whimboo commented on #7175
That is actually fixed. Closing the issue.

[2022-06-24 07:19] #7175 closed, assigned to whimboo

[2022-06-24 07:26] zhazhaxia opened #8566 "[Bug]: The puppeteer@15.0.0 not support WebGL?"
### Bug description

Steps to reproduce the problem:

1 I upgrade puppeteer@15.0.0,and then run my program on GPU machine, the log shows  that "This device is not support webGL"

2 And then I use the older version puppeteer@13.1.3, it works and use GPU resource.

So whats wrong with puppeteer@15.0.0? Why this version not support webGL?

My args config is "'--use-gl=egl'"

### Puppeteer version

15

[2022-06-24 07:27] Torgen commented on #8563
There were a convenient number of changes for me to binary search them. The behavior change happened at 6c960115a3230e247de628b85dea7c1c02582d6d.

[2022-06-24 07:31] Torgen commented on #8563
https://github.com/Meteor-Community-Packages/meteor-browser-tests/blob/4b1a18a48c77535d3dbdca787e8a807be8c24b85/browser/puppeteer.js#L48 Meteor browser tests depended on the private field name.

[2022-06-24 07:36] phillip-haydon commented on #4046
Still an issue.

[2022-06-24 07:36] OrKoN commented on #8563
Thanks! But I still don't see anything specific: probably it has to do with the private properties? Can you see the exact place where the log messages are produced (e.g., which API etc)? We don't see these log messages when running our own tests.

[2022-06-24 07:37] OrKoN commented on #8563
Ah, I see, thanks for figuring it. Let's see if there is an alternative API for meteor-browser-tests to use or if we need to expose and properly document this.

[2022-06-24 07:39] zhazhaxia opened #8567 "[Bug]: puppeteer@13.1.3 not fully use GPU resources?"
### Bug description

Because puppeteer@15.0.0 not support WebGL,look at this issue [https://github.com/puppeteer/puppeteer/issues/8566](https://github.com/puppeteer/puppeteer/issues/8566), I use puppeteer@13.1.3 as a replacement.

Puppeteer@13.1.3 support use WebGL ,and also use GPU resource.
However, another problem is  "puppeteer@13.1.3 only use one GPU core".
My running mechine has 4 gpu cores.

[2022-06-24 07:40] OrKoN commented on #8563
It looks like `meteor-browser-tests` should just use `msg.type()`

[2022-06-24 07:43] zhazhaxia commented on #8014
[code]

[2022-06-24 07:45] OrKoN commented on #8566
This is more likely caused by the newer Chromium binary as Puppeteer does not do anything special for GPU/WebGL (perhaps only setting some command line arguments but I think there were no changes there).

[2022-06-24 07:47] OrKoN commented on #8567
Thanks for the report. Again it's not a feature of Puppeteer but rather one of Chromium. Do you have repro scripts to share? Do you run the headless or the headful browser?

[2022-06-24 07:47] OrKoN commented on #8566
Do you have a reproduction script?

[2022-06-24 08:05] alhafoudh commented on #3442
@nylen I found a faster way:

[code]

[2022-06-24 08:19] zhazhaxia commented on #8566
Okk,the following code is

[code]

[2022-06-24 08:21] zhazhaxia commented on #8567
Thanks for reply.

The repro scripts
[code]

[2022-06-24 08:26] OrKoN commented on #8566
What is the expected/actual output for you? I get

[code]

And I don't get an error.

[2022-06-24 08:47] zhazhaxia commented on #8566
There is my Log.

[code]
Maybe this problem only happen on my machine?

[2022-06-24 08:50] OrKoN commented on #8566
yeah, it's possible. I am running on a macbook here.

[2022-06-24 08:52] zhazhaxia commented on #8566
I running on centos7 with Nvida Gpu. I try to use another machine later.
Thx.

[2022-06-24 09:23] OrKoN commented on #8563
I assume that we can close this issue? Let me know if there is anything to help with here.

[2022-06-24 09:23] #8563 closed, assigned to nobody

[2022-06-24 09:25] carstenschwede commented on #7769
Bump, still valid.

[2022-06-24 09:25] carstenschwede commented on #7963
Bump, still valid.

[2022-06-24 10:12] OrKoN commented on #8531
I am not sure exactly why but webpack does not seem to process the dynamic import correctly. Instead of returning the default export, it returns an object that includes `{default: StreamModule}`. I am not very familiar with webpack but perhaps it could be solved by fixing the configuration?

[2022-06-24 10:13] OrKoN commented on #8526
Could you please provide the entire script to reproduce?

[2022-06-24 10:18] Maximvdw commented on #915
Definitely still an issue...

[2022-06-24 10:22] RupertBarrow commented on #8157
What extra input do you need ?

[2022-06-24 10:35] VagrantAI-c commented on #8531
It also might be involved with Typescript configuration. I don't know if there's a correct or incorrect config: Puppeteer doesn't provide working solutions and examples with bundlers, so I believe any config should be fine by default. Moreover, this config produces correct and working output at Puppeteer@13.4.1

[2022-06-24 10:44] OrKoN commented on #8531
Yeah, we don't officially support bundlers (e.g., we don't run tests with them) but we also try to fix issues whenever possible. We made changes to TypeScript configs to support ESM alongside CJS so perhaps it caused it but it's hard to say where exactly the problem is. Which build output (esm or cjs) does webpack use in your example?

[2022-06-24 11:00] Zauberbutter commented on #6478
At first I thought that finally somebody is looking into this. But then it just was the stale bot.

Well there are working examples in this thread…

[2022-06-24 11:30] nishantlnmiit commented on #7963
@carstenschwede , Please update here as its blocker for us as we are using puppeteer but size is too large and its blocker for us to proceed further.
Any help would be appreciated.

[2022-06-24 11:44] VagrantAI-c commented on #8531
I don't know exactly, but I tried some experiments on [Typescript `module` option](https://www.typescriptlang.org/tsconfig#module): changing it from `es2022` to `nodenext`/`node16` helps, but I can't tell exactly why.

[2022-06-24 11:47] louislam commented on #7162
Hi don't close, problem is still there.

Try Google this:
[code]

[2022-06-24 11:49] meyfa commented on #3072
Ping, I would still very much like for this to exist :)

[2022-06-24 11:54] OrKoN commented on #8531
perhaps @jrandolf has an idea! Great that there is a workaround.

[2022-06-24 12:17] #8535 closed, assigned to nobody

[2022-06-24 13:07] #7459 closed, assigned to nobody

[2022-06-24 13:07] #7460 closed, assigned to nobody

[2022-06-24 13:07] #7461 closed, assigned to nobody

[2022-06-24 13:16] carstenschwede commented on #7963
Likely duplicate of https://github.com/puppeteer/puppeteer/issues/7401.

[2022-06-24 13:31] Kikobeats commented on #5476
but it's still a legit issue!

[2022-06-24 14:25] teoring commented on #6610
I reproduced this issue in v10.2.0.
Node v14.17.1

My code is:

` const browser = await puppeteer.launch({
                    args: [
                        '--no-sandbox',
                        '--disable-setuid-sandbox', // Experimental [adding this 25/01 as it seems to resolve few known issues]
                        '--disable-dev-shm-usage', // Experimental [adding this 25/01 as it seems

[2022-06-24 15:54] wangrongding opened #8574 "[Bug]: Printing is not available"
### Bug description

Steps to reproduce the problem:

1. connect my browser
[code]

2. go to a page
[code]
3. generate PDF
[code]

4. ERROR  'Printing is not available'

## If I use the headless way it works. How to work without headless mode?

[code]

### Puppeteer version

15.0.0

### Node.js version

v16.13.2

### npm version

8.4.1

### What operating system are you seeing the problem on?

Win

[2022-06-24 15:57] dylanlive commented on #7218
Please leave open :)

[2022-06-24 16:11] IPWright83 commented on #8274
What do I do to make this "confirmed"?

[2022-06-24 16:51] OrKoN commented on #8574
What browser/browser version do you connect to? Old chrome versions might not have pdf printing in headful.

[2022-06-24 18:40] efeferrari commented on #4759
I going to close the issue because I'm working with another technologies so I don't even have a way to test anything again. Besides, I opened it in 2019, so if someone faces to this problem, then have to open a new ticket.

[2022-06-24 18:40] #4759 closed, assigned to nobody

[2022-06-24 19:07] azatmagdeev commented on #7725
Ubuntu 18.04.6 LTS
node v16.15.1
npm 8.11.0
puppeteer 15.1.0

failed npm install

[code]

UPD! This error on nodejs intalled by snap
SOLUTION: #7383 install nodejs from NodeSource

[2022-06-24 19:09] liweixi100 commented on #7319
Still an issue. Please leave open.

[2022-06-24 19:09] ldiqual opened #8576 "[Bug]: ElementHandle is no longer exported"
### Bug description

Take the following function that compiles with puppeteer v14:

[code]

Upgrade to puppeteer v15. The code no longer compiles:

[code]

I believe this is a side effect of https://github.com/puppeteer/puppeteer/pull/8547, but I'm not sure if it was intended. Are we supposed to use another return type? Or was this type supposed to stay public?

### Puppeteer version

15.1.0

###

[2022-06-24 19:28] cyberbeat commented on #5730
This was confirmed by multiple people. It should be marked as confirmed.

[2022-06-24 19:28] TonalidadeHidrica commented on #7093
So I should send a PR as long as I remember it...

[2022-06-24 20:07] whimboo commented on #6255
Just checked and there is no difference anymore between Chrome and Firefox. Both output the following:

[code]

[2022-06-24 20:07] #6255 closed, assigned to nobody

[2022-06-24 20:09] whimboo commented on #6225
@OrKoN I would leave this up to you to decide. Not sure if issue #6371 should really block here.

[2022-06-24 20:11] whimboo commented on #6292
No further reply from reporter for more than a year. Closing issue.

[2022-06-24 20:11] #6292 closed, assigned to nobody

[2022-06-24 20:13] whimboo commented on #6688
Closing the issue given that it is very unlikely that we will implement this API. Our focus is on WebDriver BiDi and to get this running properly.

[2022-06-24 20:13] #6688 closed, assigned to nobody

[2022-06-24 20:16] whimboo commented on #6787
This works with Firefox 103 Nightly. So it has been fixed at some point:

[code]

[2022-06-24 20:16] #6787 closed, assigned to nobody

[2022-06-24 20:18] whimboo commented on #6684
Sorry that this issue was forgotten. I had a look again and preventing interaction with the browser while puppeteer is running is nothing we will fix. If focus is important you might want to run your tests in headless mode instead. Closing issue.

[2022-06-24 20:18] #6684 closed, assigned to nobody

[2022-06-24 20:29] whimboo commented on #6940
We are tracking this problem on our own. See https://github.com/puppeteer/puppeteer/issues/6940#issuecomment-823501665.

It's very unlikely that we will get this fixed in Firefox for our CDP implementation, but this kind of navigation should already work with WebDriver BiDi. As such closing this issue.

[2022-06-24 20:29] #6940 closed, assigned to nobody

[2022-06-24 20:33] whimboo commented on #6932
Sorry but we do not have the bandwidth to actually fix cases when a user interacts with the Firefox UI while Puppeteer is running. As workaround I would suggest that you run in headless mode so that no interaction can take place.

[2022-06-24 20:33] #6932 closed, assigned to nobody

[2022-06-24 20:34] whimboo commented on #6796
No further reply from the reporter for more than a year. Closing the issue.

[2022-06-24 20:34] #6796 closed, assigned to jschfflr

[2022-06-24 20:36] whimboo commented on #5397
This work has been done by PR #8307.

[2022-06-24 20:36] #5397 closed, assigned to mathiasbynens, whimboo

[2022-06-24 20:37] whimboo commented on #5841
Sorry but we won't have the bandwidth to actually add this specific feature to Firefox. As such closing this issue.

[2022-06-24 20:37] #5841 closed, assigned to nobody

[2022-06-24 20:39] whimboo commented on #6163
Sorry but we don't have the bandwidth to actually implemement this requested feature in Firefox. As such closing the issue.

Note that we also track in on our side via https://bugzilla.mozilla.org/show_bug.cgi?id=1601695.

[2022-06-24 20:39] #6163 closed, assigned to nobody

[2022-06-24 20:55] andersk commented on #6830
Still reproduces in Puppeteer 15.1.0.

[2022-06-24 22:00] michael-brade commented on #5681
Well, it is still the case. However, the Firefox bug was closed due to low priority :-(

[2022-06-24 22:54] michael-brade commented on #5504
This issue is still not fixed.

[2022-06-25 00:06] nicolashenry commented on #6311
Not sure if this is related but I had to activate accessibility first to have the full accessibility resolved by accessibility.snapshot():
[code]

[2022-06-25 02:47] #6232 closed, assigned to nobody

[2022-06-25 03:51] #7887 closed, assigned to nobody

[2022-06-25 10:26] avalanche1 commented on #5035
By the sheer amount of open issues - it looks like the whole project has gotten abandoned.

[2022-06-25 11:31] jrandolf-google commented on #8576
Fixed in e0198a79e06c8bb72dde554db0246a3db5fec4c2

[2022-06-25 11:31] #8576 closed, assigned to nobody

[2022-06-25 12:12] paddelboot commented on #1805
My journey of pain:

Element that needs to be clicked in order to make visible a popup that I then need to scrape:

`<a href="#" onclick="fetchInfoByID('12345');return false;">Somewhere</a>`

**1st try:**

`await page.waitForSelector( ".someselector a", { timeout: 7000 } );
await page.click( '.someselector a' )`

Got error: `Node is either not clickable or not an HTMLElement`

**2nd try:**

Becaus

[2022-06-25 13:28] michael-brade commented on #5504
Little update: the timeout now works, the default is 30 seconds. It still does not return from `goto` though.

[2022-06-25 14:40] jribbens commented on #6916
Not stale

[2022-06-25 14:43] jribbens commented on #6478
Not stale

[2022-06-25 14:49] jribbens commented on #6915
This issue was fixed in Puppeteer version 9.

[2022-06-25 14:49] #6915 closed, assigned to nobody

[2022-06-25 14:49] wangrongding commented on #8574
### Thank's for your reply, I use chrome v103.0.5060.53

Here is all my code👇:

[code]

[2022-06-25 14:53] chinchang commented on #3461
We need this!

[2022-06-25 14:53] szmarczak commented on #7698
unstale

[2022-06-25 16:20] widjesh commented on #5450
Was anybody able to fix this issue? I am experiencing the issue in GCR

[2022-06-25 17:38] BenjaminEHowe commented on #6716
Bumping to prevent closure – the top two results in Google for "puppeteer secure DNS" are my post on StackOverflow and this issue :-)

[2022-06-25 18:25] AHgPuK commented on #6700
It is still actual. Please, describe how we can implement the subject.

[2022-06-25 20:16] ldiqual opened #8579 "[Discussion]: New $ and $$ type inference makes code harder to read"
### Bug description

v15 tries to [infer types](https://github.com/puppeteer/puppeteer/pull/8547) for simple selectors like `'a'` or `'tr'`. It removed the ability to provide explicit types via generics and requires casting for non-trivial selectors.

I would argue that most code doesn't use trivial selectors and provides a nested path or classes instead. Developers often know the return type alre

[2022-06-26 06:35] foolip commented on #6255
Thanks @whimboo!

[2022-06-26 08:39] #4867 closed, assigned to nobody

[2022-06-26 09:12] FezVrasta commented on #6239
Not stale

[2022-06-26 10:18] sindresorhus commented on #3976
Please keep this open.

[2022-06-26 10:33] sag1v commented on #8129
Keep open as this is still an issue.

[2022-06-26 10:40] #6234 closed, assigned to nobody

[2022-06-26 11:10] MurzNN commented on #5223
So, is there any improvements about ticount support checking planned for puppeteer?

[2022-06-26 11:33] #6158 closed, assigned to nobody

[2022-06-26 12:09] cherdy commented on #4756
Any updates ?

[2022-06-26 12:22] jribbens commented on #5364
Not stale

[2022-06-26 12:30] #5908 closed, assigned to nobody

[2022-06-26 13:46] nicolas-chamand commented on #5950
Hello,

I have the same problem using puppeteer 15.1.1 and Firefox on https://www.neko-sama.fr. The same link sometimes works, sometimes it doesn't (and then I'm browsing to the URL on my own with Safari to find out it has never been down).

[2022-06-26 13:55] qtsd commented on #2278
In addition to @tclift's comment.

It seems that a width and height that are multiples of 8 pixels, makes the generated pdfs always correct.

**For the A4 format :**
8.27in x 11.7in = 595.44pt x 842,4pt
The generated pdf give a /MediaBox of [0 0 594.95996 841.91998] (which creates visual imperfections).

**With the nearest multiple of 8 pixels :**
8.27in = 793.92px -> 792px = 594pt
11.7in = 1123.2

[2022-06-26 14:28] jribbens commented on #5880
Not stale

[2022-06-26 15:21] StoneCypher commented on #4395
This issue is still good.

Stale bot is a terrible practice

[2022-06-26 15:23] OrKoN commented on #6203
I believe this one is fixed.

[2022-06-26 15:23] #6203 closed, assigned to jackfranklin

[2022-06-26 15:36] OrKoN opened #8581 "Re-enable TS typing tests"
Let's re-enable the TS tests and make sure they capture major expectations on how to work with Puppeteer's types: e.g., what is inferred, what is not and in what situations.

Disabled in https://github.com/puppeteer/puppeteer/pull/8550

[2022-06-26 15:38] OrKoN commented on #8579
Actually, I agree with this. Having both would be great and it looks like we overlooked the impact on the more complex selectors. @jrandolf WDYT? I am not sure if it's possible to have both ways supported.

[2022-06-26 16:14] jrandolf-google commented on #8579
Hey, thanks for bringing this up! While making the PR, I wanted to discuss the reasoning behind this decision in detail, but for brevity, I chose to just leave it out.

There are two core problems with allowing users to set their own return type (and one extra side note):
1. A malicious/unknowing user can set the return type to something completely wrong and get away with it. This is a result of t

[2022-06-26 17:20] jrandolf-google commented on #8581
After investigating this a bit, there is a framework [recommended even by Microsoft (see README)](https://github.com/microsoft/dtslint) that we can use for type testing that *actually* makes sense. See https://github.com/SamVerschueren/tsd.

[2022-06-26 17:40] #5596 closed, assigned to nobody

[2022-06-26 17:50] christian-bromann commented on #5786
not stale

[2022-06-26 18:30] ldiqual commented on #8579
Got it. I do agree that `page.$<HTMLAnchorElement>(...)` is essentially a cast in disguise. I guess the new approach is to place the decision to unsafe cast into the developer's hand, instead of hiding it. I was also under the assumption that complex selectors could never be inferred in the future, but [this](https://github.com/g-plane/typed-query-selector) is obviously proving me wrong.

My main

[2022-06-26 19:08] andyearnshaw commented on #7594
This is still valid. Also, I'm happy to help out on it if there's a solid plan on the implementation.

[2022-06-26 19:48] mbledkowski opened #8582 "[Bug]: Assert error"
### Bug description

Steps to reproduce the problem:

1. Run my script ([github.com/pluget/bukkitScraper](https://github.com/pluget/bukkitScraper/tree/main/resourcesData))
2. After a long while script crashes with the following error
[code]

I believe this is bug on puppeteer side not on mine. It crashes after making couple of thousands requests. My machine have 16 GB of ram, i5 skylake processor,

[2022-06-26 19:50] SunMar commented on #6304
It seems like this issue is resolved. Still no clue if it was puppeteer or chromium, but I tried to reproduce using the above code snippet inside a Docker container and the slash was not present on the output PDF. 🎉 I ran the latest Docker image for Node and ran my above code snippet in the container, with the only modification being that I had to add "--no-sandbox" to the launch arguments of pupp

[2022-06-26 19:50] #6304 closed, assigned to nobody

[2022-06-26 21:33] jrandolf-google commented on #8579
Thanks for understanding. We'll consider the proposed solutions; they are more feasible since they implement runtime checks, however I'm hard-pressed those solutions should belong in puppeteer. @OrKoN WDYT? We could implement something like
[code]

P.S. Don't use `ElementHandle` directly. Use `HandleFor` which automatically deduces the correct handle.

[2022-06-26 22:20] suntong commented on #5324
ping.

problem still exist

[2022-06-27 01:41] #5308 closed, assigned to nobody

[2022-06-27 02:30] gajus commented on #5362
Remains relevant

[2022-06-27 02:38] xpader commented on #4431
This issue still exists in latest puppeteer version.
May be it's a chrome's problem.
The current way can only be to add remedies.

[2022-06-27 02:48] bambooom commented on #8530
@OrKoN  The log is here: https://gist.github.com/bambooom/4d6880dc3df7f918cd9c6fc56d8bfe64

[2022-06-27 04:32] jrandolf-google commented on #8582
Please investigate the request that causes the crash and produce a script that minimally showcases the crash.

[2022-06-27 05:46] Juice10 commented on #4562
Bump

[2022-06-27 06:27] OrKoN commented on #8581
This looks great! Should we introduce this before you proceed with the next typing refactoring?

[2022-06-27 07:15] OrKoN opened #8587 "The PR to unfreeze the docs should be done by the bot account"
See https://github.com/puppeteer/puppeteer/pull/8578

[2022-06-27 07:43] Nigrimmist commented on #6776
Unfortunetely, it is an active issue. Have the same issue with was lambda and nodejs runtime. It is not reproducible on local, but easy to reproduce deploying it to lambda.

[2022-06-27 08:07] #4879 closed, assigned to nobody

[2022-06-27 08:08] #5283 closed, assigned to nobody

[2022-06-27 08:42] teoring commented on #7862
Didn't help me.

[2022-06-27 08:54] ellatrix commented on #4981
This is still an issue. Just preventing @stale from closing it.

[2022-06-27 09:30] schappim commented on #6641
What do you need to confirm?

[2022-06-27 09:40] soukron commented on #4747
Please consider accepting this RFE/bug. Don't allow it to stale...

[2022-06-27 10:27] #8581 closed, assigned to jrandolf

[2022-06-27 11:00] wojtekmaj commented on #7239
Bump

[2022-06-27 12:13] jimmywarting commented on #4576
now that the fetch api is part of nodejs then i really wish for something like this to work:
[code]

[2022-06-27 13:41] cyclingzealot commented on #5522
I prefer documenting resolution over letting staleness auto-close.     I think this can be closed.  I used  `npm-force-resolutions` and then later on an upgrade to [extract-zip](https://github.com/maxogden/extract-zip/pull/85#issuecomment-603563097) was made.

[2022-06-27 16:21] AlexRudyak commented on #8148
![image](https://user-images.githubusercontent.com/59541334/175988526-4fed4799-294d-48de-aa53-3890a4dc74c4.png)

Still happening

[2022-06-27 16:27] whimboo commented on #5999
Closing issue for now given that the underlying network events as necessary to fulfill the request on this isse will most likely not be implemented in our partial CDP protocol in Firefox.

[2022-06-27 16:27] #5999 closed, assigned to nobody

[2022-06-27 17:18] utix commented on #1427
I reproduce the issue with `"puppeteer": "^15.1.1",`
Very easy to reproduce with the code provided, no every time but quite often

[code]

[2022-06-27 17:39] whimboo commented on #5806
When loading these two pages right after the other I can also see with Chrome that the full lifecycle of load events are handled. As the very last you can see one for `networkAlmostIdle`. Duping to issue #5841.

[2022-06-27 17:39] #5806 closed, assigned to nobody

[2022-06-27 17:43] whimboo commented on #5329
This is still not working with latest Puppeteer:

[code]

@OrKoN maybe it's not too hard to fix?

[2022-06-27 17:44] whimboo commented on #5043
@OrKoN I wonder if there is something that could be done for this issue?

[2022-06-27 18:01] whimboo commented on #6500
Not sure if this issue is still valid or not. The location of both files have been changed and I cannot see where the default settings from [.mocharc.cjs](https://github.com/puppeteer/puppeteer/blob/main/.mocharc.cjs) are actually used. @OrKoN maybe you have a pointer or idea?

[2022-06-27 19:50] utix commented on #1427
Trace example https://www.dropbox.com/s/g6gtavb8hauhufp/trace.1656359331733.json?dl=0

[2022-06-27 20:20] nurdism commented on #7628
Doing a bit of debugging myself, seems to be `{ waitUntil: 'networkidle2' }` option that it is waiting on.

[2022-06-27 20:58] pahan35 commented on #4964
Thanks. Both variants work for me.

[code]

or
[code]

[2022-06-27 22:14] mryellow commented on #2869
God I hate stalebot. How a heuristic can look at the dates on a comment and decide what to do with reports of issues I simply do not know.

There is no such thing as a stale issue. Just one which hasn't been attended to yet.

[2022-06-28 01:04] MatthiasKunnen commented on #5170
I have this issue while printing an empty page in A4 format with the following CSS:
[code]

I fixed it by moving the min-height to `screen` as such:
[code]

[2022-06-28 02:14] beyondverage0908 commented on #794
[code]

[2022-06-28 04:18] Junyan commented on #3667
Inspired by [sdeprez](https://github.com/sdeprez), I find a hack, it works.
[code]

[2022-06-28 04:45] wangrongding commented on #8574
🚞🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃🚃...

[2022-06-28 05:06] OrKoN commented on #6500
There is .mocharc.cjs and test/src/mocha-utils.ts now. Could you see if this still reproduces? I have been running Firefox tests for refactoring recently and have not noticed anything unusual.

[2022-06-28 05:58] OrKoN commented on #5043
@whimboo I think this might be very relevant and hopefully solved with the ongoing refactoring. Although I am not sure: is it specific to Firefox? I think in Chrome when a session detaches the agents get destroyed on the backend and the session listeners get cleaned up to.

[2022-06-28 06:05] OrKoN commented on #5329
Let me take a look at this later.

[2022-06-28 06:42] codeterrayt commented on #8135
even i'm too facing the same error in Heroku
![image](https://user-images.githubusercontent.com/76623307/176111069-3de5b2ce-efc4-414f-97e4-5a10e3a445ac.png)

[2022-06-28 09:16] kbourro commented on #8582
I got same problem after upgrading to version 15

[2022-06-28 11:13] teoring commented on #5737
This issue likely causes this in my application:

[code]

When I change

             let [default_page] = await browser.pages();
             let page = default_page;

To

                const page = await browser.newPage();

Issue goes away.

[2022-06-28 13:01] LeviPesin commented on #3397
Will this issue be fixed?

[2022-06-28 14:51] ngohuytrieu commented on #7759
Has anyone found a solution for this?
I have the node js app runs with docker

1. Localhost runs just fine
2. But on Gitlab CI, this error occurred

[2022-06-28 15:07] jrandolf-google commented on #8587
Seems we can just commit it directly under `release-please` within GitHub actions.

[2022-06-28 15:08] #7410 closed, assigned to mathiasbynens

[2022-06-28 15:14] #6979 closed, assigned to jackfranklin

[2022-06-28 15:43] stevenwdv commented on #8485
@jrandolf I just checked and the issue that e.g. `JSHandle<number>` is assignable to `JSHandle<string>` is not fixed yet. This is what I did with the dummy field in `class JSHandle`.

[2022-06-28 16:23] duncan-oxd commented on #5284
Experiencing this when running Puppeteer locally
Puppeteer v15.1.0
Mac OS 12.4 / Apple M1 Pro

`print-color-adjust: exact` mentioned above does make the box-shadows look better, but it makes the text unselectable and the size of the file much larger.

I never noticed this in the past on other systems with other versions of Puppeteer, for what it's worth.
~~edit: Doesn't seem to be happening in a s

[2022-06-28 17:10] freecorvette commented on #7884
I'm getting these as well. Version 13.3.2.

[code]

[2022-06-28 19:40] slezercc commented on #7321
I have the same issue.

[2022-06-28 22:36] julianv22 opened #8597 "[Bug]: Failed to launch the browser process!"
### Bug description

Error: Failed to launch the browser process!
/home/runner/Replit-Bot/node_modules/puppeteer/.local-chromium/linux-901912/chrome-linux/chrome: error while loading shared libraries: libgobject-2.0.so.0: cannot open shared object file: No such file or directory

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md

    at onClose (/home/runner

[2022-06-28 23:09] jlvernam commented on #5401
Same issue here, ran into it Today- Jun 28th. Any updates?

[2022-06-29 01:53] joeldbirch commented on #666
There's a Chromium bug "[Weird media query evaluation in print](https://bugs.chromium.org/p/chromium/issues/detail?id=1117050#c8)" that seems to be the cause of this issue. I've left a message with more detail there. Hopefully it gets more stars and attention soon. Especially with container queries around the corner.

[2022-06-29 02:23] tx46 commented on #6946
This is still happening to me. I'm trying to work around it but after a few shots with Puppeteer over the course of a few days, I have to reboot the system because I either have to a) block forever in my code because Puppeteer will never exit (at least according to the promise) or b) leave dangling instances of Puppeteer running.

[2022-06-29 03:01] prprprus commented on #4757
Thank you all for your help, this query is rather old, closed.

[2022-06-29 03:02] #4757 closed, assigned to nobody

[2022-06-29 03:13] #5746 closed, assigned to nobody

[2022-06-29 05:18] fitransyahrusman commented on #4736
I try to find the solution for this problem everywhere, but only on this post give real way out.
Thanks @cpatrickalves for the solution
and thank @sovang5 to pointing out this topic

[2022-06-29 06:24] OrKoN commented on #8597
Hey, it looks like you don't have dependencies installed on your system. Please follow the troubleshooting guide and make sure all chromium dependencies are installed.

P.S. you say it's on Windows but I think you are using linux.

[2022-06-29 06:24] #8597 closed, assigned to nobody

[2022-06-29 06:33] julianv22 commented on #8597
Idk what is it's OS. 'cause I'm using replit.com to do that. So, what can I do to fix this err?

[2022-06-29 06:34] ReDrUm commented on #7740
Thanks! I now have a working copy by installing `chromium=103.0.5060.53-1~deb11u1` and mapping it to `puppeteer@14.4.1`. I tried going to `puppeteer@^15` but there were some problems with the TypeScript types between `15.0.0` → `15.1.1`, and `15.1.0` upgraded to Chromium 104 which blocked me going to `15.x` since Debian is still stuck on Chromium 103 for now.

Fingers crossed we get some `arm64` b

[2022-06-29 06:59] OrKoN commented on #8597
You should open an issue with replit. The missing lib is libgobject-2.0, it needs to be installed on the OS.

[2022-06-29 08:47] #8077 closed, assigned to nobody

[2022-06-29 09:19] eminvegan commented on #5382
I am getting this error if I add RUN apk add font-noto-emoji

`
Step 4/21 : RUN apk add font-noto-emoji
 ---> Running in 5fcbf86f3acb
fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/main/x86_64/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/community/x86_64/APKINDEX.tar.gz
ERROR: unsatisfiable constraints:
  font-noto-emoji (missing):
    required by: world[font-noto-emoji]
The

[2022-06-29 13:42] jrandolf-google opened #8599 "Consolidate `api.md` and update contributing.md"

[2022-06-29 15:20] UrielCh commented on #4937
[code]

With puppeteer-core@13.7.0 my browser zoom to the page and freeze
With puppeteer-core@15.2.0 my browser zoom to the page and freeze

tested with chrome mobile 102.0.5005.125

for now, I can connect to it with 'chrome-remote-interface' by setting { local: true } during connection.

[2022-06-29 15:44] kbourro commented on #8582
The only fix i have found is to use --disable-site-isolation-trials argument

[2022-06-29 16:34] nazmulhasan21 commented on #244
You can install puppeteer run this ''npm install --ignore-scripts puppeteer''  your cmd.

[2022-06-29 22:20] omar-dulaimi opened #8600 "No documented way to measure TTFB"
### Bug description

[code]

The `ResourceTiming` API expose some values, but not sure if they can be used calculate the TTFB.

### Puppeteer version

13.7.0

### Node.js version

16.15.1

### npm version

8.11.0

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2022-06-30 00:52] PythonCoderAS opened #8602 "[Bug]: Could not find a declaration file for module 'ws'."
### Bug description

Steps to reproduce the problem:

1. Install puppeteer 15.2.0
2. Try to import anything from `puppeteer`.

### Puppeteer version

15.2.0

### Node.js version

18

### npm version

8

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2022-06-30 01:27] StoneCypher commented on #2794
In my case, the reason for this was that I was trying to run several jobs in parallel with promises, and I hadn't noticed that they were all using the same page object.

[2022-06-30 05:43] #6755 closed, assigned to nobody

[2022-06-30 06:00] alamothe commented on #5893
We are closing the browser, and even node process, but the memory is not released. Same thing happens on Windows and MacOS

[2022-06-30 06:04] ediweissmann commented on #6974
I believe this issue is still relevant, can be reproduced using the latest version of puppeteer (14.4.0)

[2022-06-30 07:00] RitvikSardana commented on #4796
I am having the same issue, can anyone  help me with it?

I am using puppeteer in AWS EC2

[2022-06-30 07:22] thepian commented on #5417
I have a similar issue. Using yarn and Artifactory. I don't have any workaround so far.

[2022-06-30 10:48] al1y commented on #3380
Hey, did anyone find a solution for this?

[2022-06-30 13:43] carden-jeremy commented on #3646
Chromium changed that issue's status to "WontFix" on 11/16/2020, so if this feature is still wanted, it would be up to puppeteer to receive the PDF from Chrome and then edit it to convert the fields to AcroForms.

[2022-06-30 13:50] Germs2004 commented on #3646
If you want a project that can convert HTML to PDF with AcroForms, this project works but is buggy: [wkhtmltopdf ](https://github.com/wkhtmltopdf/wkhtmltopdf)

The [documentation ](https://wkhtmltopdf.org/usage/wkhtmltopdf.txt)says to add parameter "--enable-forms" and make sure every fillable field has a unique "name" attribute.

[2022-06-30 13:56] Madurba commented on #8530
copy/paste this into the terminal of your project's directory :

[code]

[2022-06-30 14:04] OrKoN commented on #8530
@bambooom I don't see any errors in the log: it looks like the browser is sending and receiving CDP messages without problems in that run? There is one error but it's not the one from your original report.

[2022-06-30 14:32] JKelly423 commented on #6978
Ran into same issue as well.
`
(node:1536463) UnhandledPromiseRejectionWarning: Error: Unable to launch browser, error message: Failed to launch the browser process!
../../base/allocator/partition_allocator/partition_address_space.cc(68) Check failed: false
`

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md
`
    at Cluster.<anonymous> (/nfs/nfs7/home/kell

[2022-06-30 15:21] sonrai-samroutledge commented on #8531
I am seeing this same error in version 14.4.1; downgrading to 13.7.0 resolved it for me.

[2022-06-30 16:10] dbagia commented on #3432
I am facing the exact same issue as posted by @paul-kl today. It will be great if this can be fixed

[2022-06-30 16:18] ivictbor commented on #5893
First of all I would find which process is left with leaked memory, it could be easily done using task manager by sorting processes by RAM (in unix with htop). In v14.2.1 I noted that when I creating pages in loop one after another, puppeteer normally spawns near 8 processes, one of them is your `node` processes, and 7 `chrome`, after closing node you should get 0. Also if you are using Chrome on

[2022-06-30 17:42] gauravgandhi1315 commented on #1649
@mread1208 @rustkt I am seeing the same error for firefox but in Linux env. How would I fix it?

`    browser = await firefox.launch({ executablePath: './node_modules/playwright-firefox', headless: true });
`

[2022-06-30 17:43] gauravgandhi1315 commented on #1649
[code]

I tried to use this path as well `Firefox 100.0.2 (playwright build v1327) downloaded to /jenkins/.cache/ms-playwright/firefox-1327` but issue remains the same

[2022-06-30 19:52] KennyAmex opened #8603 "[Bug]: Proxy changed to DIRECT when running Chromium through Puppeteer"
### Bug description

I call `puppeteer.launch` with the following options:
[code]

I expect my tests to run fine, however I observe that trying to fetch any URLs other than `localhost` does not work. Requests hang until timeout. I also get the same behavior if I open a new tab on the puppeteer chromium instance and try to navigate to `google.com`.

When capturing net logs, I initially see a PROXY_

[2022-06-30 22:55] omar-dulaimi commented on #8600
This is how I solved it, please correct me if I'm wrong:

[code]

[2022-06-30 23:31] rmichnovicz-verkada commented on #3241
Howdy y'all, in case you're looking for something to copy and paste to enable clipboard permissions, some code that worked to do what @ericcornelissen did, but in the latest version of Puppeteer, is to create a separate CDP session to grant yourself sanitized clipboard permissions. While someone should probably make a PR to expose the `clipboardSanitizedWrite` permissions to `overridePermissions()

[2022-07-01 04:19] ReDrUm commented on #7740
Is anyone else running multi-arch images for visual-regression testing and noticing discrepancies between visual snapshots taken on say an amd64 vs arm64 image? For my codebase i'm seeing differences in drop shadows between systems using the same Debian image (albeit it the chromium arch differs)

[2022-07-01 06:22] OrKoN commented on #8603
Do you have the same issue if you just run Chromium with those flags? I don't think Puppeteer is doing anything w.r.t. to proxy configuration and it looks like a chromium issue.

[2022-07-01 06:59] KennyAmex commented on #8603
The strange thing is I do _not_ encounter the same issue if I run Chromium (from the same binary) with those flags. It runs just fine when I run it directly from my terminal.

As an additional data point, I also tried running the Chromium directly with all of the aforementioned flags _except_ for `--proxy-pac-url`, and this also did not encounter the same issue. To reiterate, in this experiment I

[2022-07-01 07:07] OrKoN commented on #8603
Hm, it's possible although I am not an expert on proxy settings configuration in Chromium. One thing that might be affecting this is if you are running with a fresh profile or not (the --user-data-dir param): when you run manually make sure that an empty folder is provided via --user-data-dir.

Also, is the behaviour any different in the latest Puppeteer (with Chromium 104.0.5109.0)? Is there any

[2022-07-01 07:12] taozuidesongshu commented on #1175
Error causes and solutions
错误原因和解决方法
https://blog.csdn.net/Lifemustrough/article/details/119614026

[2022-07-01 08:48] szymonjaczkowski commented on #8149
I've got the same issue here:

[code]

Error message:
`[pid=1877][err] [1877:1877:0701/083300.204998:ERROR:ozone_platform_x11.cc(234)] Missing X server or $DISPLAY
[pid=1877][err] [1877:1877:0701/083300.205049:ERROR:env.cc(225)] The platform failed to initialize.  Exiting.
[pid=1877][err] [0701/083300.217949:ERROR:nacl_helper_linux.cc(315)] NaCl helper process running without a sandbox!
[pid=1877]

[2022-07-01 11:22] jrandolf-google opened #8604 "[Bug] Cannot search `$` in documentation"

[2022-07-01 11:23] jrandolf-google opened #8605 "[Feature] Use `svg` instead of `png` for documentation"

[2022-07-01 11:41] RitvikSardana commented on #5450
Error: EACCES: permission denied, open './test2.jpg'
    at handleError (parse.min.js:13:1)
    at async createAccount (Signup.js:30:1) 'err'

   I am facing this issue when puppeteer tries to save a ss into the directory

   I am using AWS EC2, BITNAMI SERVERS. Node version 14.19 , debian version 10.12

   Can anyone help me?

[2022-07-01 11:52] #8587 closed, assigned to jrandolf

[2022-07-01 12:00] tony19 opened #8607 "[Bug]: https://pptr.dev is down"
### Bug description

The [website link](https://pptr.dev) shown in [`puppeteer`'s repo description](https://github.com/puppeteer/puppeteer) is down.

### Steps to reproduce the problem:

1. Open https://pptr.dev
2. Observe the 404

### Puppeteer version

n/a

### Node.js version

n/a

### npm version

n/a

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_N

[2022-07-01 12:06] tony19 opened #8608 "[Bug]: https://try-puppeteer.appspot.com/ is down"
### Bug description

The ["Try Puppeteer" link](https://try-puppeteer.appspot.com/) from the [Google Developer docs for Puppeteer](https://developer.chrome.com/docs/puppeteer/) is down.

### Steps to reproduce the problem:

1. Open https://try-puppeteer.appspot.com/
2. Observe the 404

### Puppeteer version

n/a

### Node.js version

n/a

### npm version

n/a

### What operating system are you see

[2022-07-01 13:03] #7239 closed, assigned to mathiasbynens, jackfranklin, jrandolf

[2022-07-01 13:06] jrandolf-google commented on #8607
Should be up now (you may need to wait a few hours/refresh your cache)

[2022-07-01 13:06] #8607 closed, assigned to nobody

[2022-07-01 13:36] KennyAmex commented on #8603
I encounter the same issue headless/headful. I'm not sure what chrome-headless is so I may need to try that. I'll experiment with --user-data-dir and updating Puppeteer and get back to you.

[2022-07-01 13:44] justotherel opened #8615 "WaitForFileChooser() never resolves but fileChooser opens up"
### **Use case**

When trying to upload file through file chooser using the code presented in the [docs](https://pub.dev/documentation/puppeteer/latest/puppeteer/FileChooser-class.html), we encountered situation where waitForFileChooser() never resolves and fails on timeout, but file chooser opens up and is not torn down after executions ends.

### **Steps to reproduce**

Puppeteer version: 13.3.2

[2022-07-01 13:47] jrandolf-google commented on #8615
Please check out the latest Puppeteer version and documentation at `pptr.dev`. The docs you pointed to are not official.

[2022-07-01 13:47] #8615 closed, assigned to nobody

[2022-07-01 13:49] abozas commented on #7597
+1 for node 16 and 18

[2022-07-01 13:53] justotherel commented on #8615
One of the code snippets in the report is identical to what is used in the [official docs on FileChooser](https://pptr.dev/api/puppeteer.filechooser#remarks) you shared. Running provided code:
[code]
still produced the same error as in the original post

[2022-07-01 14:00] #8602 closed, assigned to jrandolf

[2022-07-01 15:14] KennyAmex commented on #8603
I updated to Puppeteer to 15.2.0 and now it works as expected. Unclear what root cause was, but I'm glad it's working now. Thanks for your help!

[2022-07-01 15:14] #8603 closed, assigned to nobody

[2022-07-01 19:05] gvanriper commented on #5893
I was able to recreate the memory leak issue again via browser.newPage() and having more than 1 user generates PDFs. We are just abandoning puppeteer at this point. It seems to be broken and not something to use in a production environment.

[2022-07-01 19:31] chrisjpatty commented on #5663
Still an issue :)

[2022-07-01 20:16] IvanPizhenko opened #8621 "[Bug]: error TS2577: Return type annotation circularly references itself."
### Bug description

Steps to reproduce the problem:

1. Try to use puppeteer from Typescript.

Versions:
[code]
Getting error in puppeteer type definitions:
[code]

### Puppeteer version

15.3.0

### Node.js version

16.14.2

### npm version

8.5.0

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2022-07-01 20:21] IvanPizhenko commented on #8621
Problem is here:
[code]
and here
[code]

[2022-07-02 05:45] Fanisus commented on #6436
Same issue. When using without SteathPlugin my login attempt is given a 403 response while if i use stealthPlugin and login it work but then after loading all elements it truns to a white page and only ads are shown in inspect element

[2022-07-02 09:23] justotherel commented on #7234
We've encountered the [same issue](https://github.com/puppeteer/puppeteer/issues/8615) on puppeteer v13.3.2 after upgrading from 4.0.0. WaitForFileChooser() never resolves but file chooser opens up and is not torn down after the execution ended.

From what we observe, it seems that file chooser is not being intercepted, as it would not appear on the screen otherwise. It opens but not reported by t

[2022-07-02 09:38] ayapi commented on #7318
Maybe similar problem,

[code]

[code]

Me too.

[2022-07-02 16:02] lucklove commented on #6776
I meet the same problem on AWS lambda, and the flag `--single-process` helps:

[code]

Not sure if it helps in your case.

[2022-07-03 08:03] frank-dspeed commented on #7822
This should get labeled docs as this is docs related not a real bug

[2022-07-03 08:24] frank-dspeed commented on #8574
at last the puppeteer code says clear that it is only supported in headless mode in headfull mode we use the browser api's and that do not contain at present ways for the devtools to print to the pdf printer or real printers.

but thats what i am seeing as needed.

will Maybe start the process of a proposal to integrate the printer api with devtools so we can print something via it in headfull to

[2022-07-03 16:15] denggj28 commented on #5096
after 3 years, the issue still exists :sweat:
@lehni do you have any solution?

[2022-07-03 16:44] #7494 closed, assigned to nobody

[2022-07-03 20:19] #7910 closed, assigned to nobody

[2022-07-03 22:40] rylaz opened #8622 "[Bug]:"

[2022-07-04 00:35] ArtHoff commented on #6647
Hello,
I'm receiving this error too when downloading large web pages.
To get around this I used the fix above and it worked just fine.
[code]
However with more recent versions of Puppeteer, this is no longer working and I receive the following error:

**page._client.send is not a function**

Since page._client.send is no longer available I am wondering whether something has replaced it which I sho

[2022-07-04 01:55] falkenbach commented on #4059
Not relevant, you not doing any page.eval's so yours case is not a solution

[2022-07-04 01:56] falkenbach commented on #4059
+1

[2022-07-04 05:53] OrKoN commented on #8622
Please provide the test script to reproduce. It looks like the URL you are using is timing out though so it's likely not a bug in Puppeteer.

[2022-07-04 06:05] OrKoN opened #8623 "Hide sidebar_position from README.md and other docs"
It looks like for the new site we need to include sidebar_position in the readme:

[code]

I wonder if it's possible to implement it in a different way so that this metadata is not visible on GitHub.

[2022-07-04 06:05] OrKoN commented on #8623
WDYT? @jrandolf

[2022-07-04 08:42] hadas-levy-healthy commented on #5893
@gvanriper
Does using the child process approach didn't help at all, or it provided a partial solution?

[2022-07-04 08:48] whimboo commented on #8283
@OrKoN I completely missed your reply, sorry. I had a look but it's not obvious what's Puppeteer is actually waiting for. The last initial command after the connection that gets successfully run is `Network.enable`. What else runs next eg. are there some events that Puppeteer is waiting for?

I wonder if this is still an issue for you or if it has been gone given that 2 months have been passed by.

[2022-07-04 10:31] jrandolf-google commented on #8621
Could you write `@ts-nocheck` at the top of the `types.d.ts` file to see if that removes the warning and still allows intellisense?

[2022-07-04 11:12] abozhilov commented on #1805
Why this is closed?

Simple script which reproduces the issue:

[code]

Obviously the logic of `clickablePoint` - https://github.com/puppeteer/puppeteer/blob/main/src/common/ElementHandle.ts#L339 must be revisited.
The exact same scenario fails in chrome recorder/replay.

[2022-07-04 12:33] redii commented on #7884
I have the same issue on macOS with node v16.15.1 and puppeteer v15.3.0...

when I try to submit a login form he send out 3 requests and I guess on the last one I get the same error:

[code]

I already tried to set the following args:
[code]

[2022-07-04 12:52] gbanusi commented on #7884
I had the same problem, my seems like it is a chrome problem (https://stackoverflow.com/questions/38924798/chrome-dev-tools-fails-to-show-response-even-the-content-returned-has-header-con), where it redirects before providing body of the request to third party libs? I managed it so that every redirect is waiting 1 second before triggered again... After that every body is loaded.

This is how I ove

[2022-07-04 16:27] mittster opened #8626 "waitUntil: continue with loaded page after timeout"
Puppeteer has a handy option for waiting until just 2 network requests are executed in the last 500ms:

`let response = await page.goto(url, { waitUntil:"networkidle2" , timeout:10000});
`

I use a timeout so that I am not stuck forever. The problem with timeout is that it throws an error when no time is left. Instead, I'd like to continue with the page I currently have. I can start a new page.got

[2022-07-04 17:09] abozhilov opened #8627 "[Bug]: Node is either not clickable or not an HTMLElement"
### Bug description

Steps to reproduce the problem:

Given the following simple script:

[code]

It throws the following error:
[code]

That's due to area calculations which returns 0: https://github.com/puppeteer/puppeteer/blob/3735ef13f1ca8ed6455956f56fb8c9884fd70545/src/common/ElementHandle.ts#L1048

### Puppeteer version

15.3.0

### Node.js version

16.13.0

### npm version

^15.3.0

### Wha

[2022-07-04 17:18] nirmalasubu commented on #540
I couldn't find any solution for the pop-up certificate issue?  Has anybody resolved this?

[2022-07-04 17:19] abozhilov commented on #8627
I'm not sure why do you use an experimental API https://chromedevtools.github.io/devtools-protocol/tot/DOM/#method-getContentQuads to get the quads?

It could be implemented same logic via `Element.getBoundingClientRect()` or `Element.getClientRects()`.

[2022-07-04 18:01] AlonsoK28 commented on #7322
there are some solution for this?

[2022-07-05 07:24] xuxk1 commented on #7542
OK

[2022-07-05 08:26] rwxsb commented on #7488
@cmd08010  was there a solution for this? I am getting exactly the same error.
Node version: v16.13.2
puppeteer version: @types/puppeteer@1.20.10

[2022-07-05 10:24] jofomah commented on #8142
@jrandolf Thanks for the response. I updated to Puppeteer  version `15.3.0` and NodeJS version `16.15.0` and i got this same issue. I think this issue should be reopened unless it is not a Puppeteer specific issue. Thanks

[2022-07-05 11:50] whimboo commented on #6500
I actually miss the connection between defined constants in the `.mocharc.cjs` file and where these are used? Eg. for the `timeout` of 25s I still cannot find a line of code where it is used for the browser startup. Could you maybe point me to that?

[2022-07-05 11:58] OrKoN commented on #6500
@whimboo I believe the file is imported by mocha via yargs package directly and the value of `timeout` because an option for the Mocha constructor.

[2022-07-05 12:10] OrKoN commented on #6500
i.e., I don't think it's used for the browser setup in any way. It's only used to configure Mocha: a test would be considered timed out if it does not resolve within 25 sec.

[2022-07-05 12:18] OrKoN commented on #8627
Although I don't know the reason why Puppeteer uses the CDP implementation experimental methods are often created specifically for Puppeteer/DevTools (and remain experimental for years because experimental does not mean it does not work as expected or not supported, just that the API might change in the future). Puppeteer does not automatically wait for the element to become visible and that error

[2022-07-05 12:37] gvanriper commented on #5893
@hadas-levy-healthy , it helps in a way as it will release the CPU and memory when it works. I'm finding when Chromium is not able to execute browser.newPage(), it just hangs and continues to use CPU and never cleans up the used CPU. I've been able to recreate this by at least two different people rapidly generate PDFs. It hits a point where it's unable to open a new page and just hangs.

[2022-07-05 12:42] #8623 closed, assigned to jrandolf

[2022-07-05 13:51] abozhilov commented on #8627
Thanks for the clarifications about the experimental API.

Regarding the visibility, indeed the element is not visible in the viewport, but `page.click` scrolls the element into the view and then perform the click action. It might need couple of ms after the scrolling action to render the element properly.

Anyway, I'll submit a PR and we can have a further discussion.

[2022-07-05 14:00] jrandolf-google commented on #8627
@abozhilov The reason we don't use `Element.getBoundingClientRect()` is because not every `ElementHandle` handles `Element` (counterintuitive, I know; we have a PR fixing this). For example, you can do the following:
[code]
See #8552

[2022-07-05 14:07] abozhilov commented on #8627
@jrandolf that's true, and what I thought is to perform a feature detection for `getBoundingClientRect` and obviously it should fail for TextNodes and element that doesn't support it.
Hopefully the PR you mentioned would fix the problem as it's really important.

[2022-07-05 14:33] silicakes commented on #6766
It seems this reproduces in the following repo:
https://github.com/electricmonk/ts-react-tdd/runs/7185943119?check_suite_focus=true#step:12:63

It behaves the same locally and remotely and is flaky:

![image](https://user-images.githubusercontent.com/1759539/177352588-d07f196d-5e2c-4aca-81ea-ada1a0a49c5a.png)

When `headless` is set to `false` we actually see the items, yet the selector still fail

[2022-07-05 15:04] zenghongtu commented on #7740
M1 Pro (MacOS 12.2.1 ) is working fine!

[2022-07-05 16:13] jrandolf-google commented on #8627
The PR I mentioned doesn't fix the problem. It just fixes the incorrect _semantics_ of the situation. In order to get this working, it seems you need to wait for the selector to appear before clicking. Have you tried this?

[2022-07-05 16:16] abozhilov commented on #8627
Yes, I've tried. The element is in the DOM tree. As I mentioned the problem comes from getting element Quads and area calculation which returns 0.

[2022-07-05 16:18] jrandolf-google commented on #8627
Then what I thinks make sense to do next is to attempt the CDP command and if it doesn't work, attempt `getBoundingClientRect` (if it exists in the element).

[2022-07-05 16:19] abozhilov commented on #8627
Agreed! I'll try to submit a PR in the next couple of days.

[2022-07-05 18:23] abozhilov commented on #8627
@OrKoN @jrandolf I've debugged the problem, and `DOM.getContentQuads` works as expected only if the element is visible on the viewport, otherwise it doesn't return proper quads.
So the problem in this scenario is not within `clickablePoint` function itself. It is in a private function `#scrollIntoViewIfNeeded()` https://github.com/puppeteer/puppeteer/blob/main/src/common/ElementHandle.ts#L249

It

[2022-07-05 18:26] jrandolf-google commented on #8627
SGTM!

[2022-07-05 19:32] CataAlamos commented on #8582
I have the same problem despite having a version < 15

[2022-07-06 05:00] alamothe commented on #4871
bump

[2022-07-06 05:00] alamothe commented on #3573
bump

[2022-07-06 05:00] alamothe commented on #2778
bump

[2022-07-06 05:09] zsh-eng commented on #5567
I'm also experiencing this issue with Puppeteer v14.4.1. After getting the response, the program is left indefinitely waiting on `await response.text()`

[2022-07-06 07:08] OrKoN commented on #8608
Thanks for the report. The site is no longer maintained and we will remove the mention from the docs: https://github.com/GoogleChrome/developer.chrome.com/pull/3134

[2022-07-06 07:08] #8608 closed, assigned to nobody

[2022-07-06 08:12] Vinlic opened #8638 "[Bug]: The "--use-gl=egl" parameter is invalid in headless mode"
### Bug description

`const puppeteer = require("puppeteer-core");

(async () => {
    const browser = await puppeteer.launch({
        channel: "chrome",
        headless: true,
        args: ["--use-gl=egl"]
    });
    const page = (await browser.pages())[0];
    await page.goto("chrome://gpu/");
    await page.screenshot({
        type: "jpeg",
        path: "./gpu.jpg"
    });
    await brows

[2022-07-06 08:32] mariavilaro commented on #5611
After 3 days trying to run npm install, using different node and npm versions, deleting node_modules, package-lock, and doing all the possible variations, the process just stuck at different %, I changed my connection (normal ethernet connection) to a 4G mobile connected using USB and it just worked without any problem.

[2022-07-06 08:56] Nexyll commented on #7597
Same problem. Using node 16.14.2 and npm 8.5.0

[2022-07-06 09:29] OrKoN commented on #8638
Hey, thanks for the bug report! `--use-gl=egl` works as expected on my MacOS system for headless. I suspect the issue it could be OS-specific according to the OSes listed in your report (or the hardware acceleration could be not available for various machine-specific reasons). Anyway it looks like a bug in Chromium headless: could you please report
 the issue via http://crbug.com/new (the right co

[2022-07-06 09:29] #8638 closed, assigned to nobody

[2022-07-06 13:21] Vinlic commented on #8638
@OrKoN
Thank you for your reply. Chrome on MacOS doesn't seem to support the real headless mode. Can you test the GPU acceleration of headless mode in Linux.

[2022-07-06 13:28] OrKoN commented on #8638
@Vinlic what do you mean by the real headless mode? Anyway the issue is better reported to the crbug.com to the team that works on headless.

[2022-07-06 14:28] Vinlic commented on #8638
@OrKoN It may be related to this:
![image](https://user-images.githubusercontent.com/20235341/177573782-24e8cb02-aed0-4d1f-8d83-f8b053fda810.png)

[2022-07-06 14:34] OrKoN commented on #8638
@Vinlic have you tried the new headless mode? `headless: 'chrome'` instead of `headless: true` in Puppeteer?

[2022-07-06 14:37] Vinlic commented on #8638
@OrKoN I just tried, but I still can't enable GPU acceleration on windows or Linux.

[2022-07-06 14:41] Vinlic commented on #8638
@OrKoN
It seems that there is a little change. I set headless: "Chrome" and remove --use gl=egl, which shows that it supports GPU acceleration.

I don't quite understand why.....

const puppeteer = require("puppeteer-core");

(async () => {
    const browser = await puppeteer.launch({
        channel: "chrome",
        headless: "chrome",
        // args: ["--use-gl=egl"],
        ignoreDefaultArg

[2022-07-06 16:22] kevinbeal commented on #8070
This happened to me when I (unintentionally) closed the page prior to finishing the PDF conversion. (I forgot to `await` the `.pdf()` call).

[2022-07-06 17:57] niieani opened #8639 "Certain useful TypeScript types no longer exposed since 15.2.0"
Affected version: 15.2.0+

Creating an issue by request of @jrandolf.

At least two issues were caused by #8584:
- not possible to access the `RemoteObject` of a JSHandle anymore ([details](https://github.com/puppeteer/puppeteer/pull/8584#issuecomment-1169017683))
- `Protocol` is longer re-exported, meaning the consumer needs to keep `devtools-protocol` version in sync with the one used by puppete

[2022-07-06 23:53] paulirish commented on #1418
the trace by default includes ALL pages/processes. however the screenshot thing doesn't. and probably won't ever.

[2022-07-07 02:05] ArtHoff opened #8640 "[Bug]: page._client.send is not a function"
### Bug description

Hi,
I'm attempting to take screenshots of large pages and kept getting this error:
`Protocol error (Network.getResponseBody): Request content was evicted from inspector cache`

Looking through the list of bug reports I found this solution and it worked just fine.
[code]
However with more recent versions of Puppeteer, this no longer works and I receive the following error:
`pag

[2022-07-07 05:53] Jeffr-K opened #8641 "[Bug]: My Docker Puppeteer is not working."
### Bug description

I don't understand why my puppeteer on docker is not working..

Here is my Environment: [Stack over flow: my question](https://stackoverflow.com/questions/72892398/my-puppeteer-not-working-on-docker-container)

In result, my dockerfile or environment is not setup correctly.

how do I re-setup for working puppeteer on docker??

### Puppeteer version

15.3.1

### Node.js version

[2022-07-07 07:04] OrKoN commented on #8641
We are currently working on the official Docker image for Puppeteer. In the meantime, please consult the troubleshooting guide to see if Docker is set-up correctly: https://pptr.dev/troubleshooting#running-puppeteer-in-docker

Also, note that M1 CPUs are not supported by Puppeteer yet as GitHub actions don't support them.

[2022-07-07 07:04] #8641 closed, assigned to nobody

[2022-07-07 07:05] OrKoN commented on #8640
Hey, there is a getter getter `_client()` to get access to the page's CDP session. Note that it's still not a public officially-supported API.

[2022-07-07 07:05] #8640 closed, assigned to nobody

[2022-07-07 07:07] OrKoN commented on #8639
I suggest we expose the remote object on JSHandle as an official documented API and  make the protocol types available so that you don't need to install the devtools-protocol package yourself.

[2022-07-07 07:19] pasieronen commented on #8334
Thanks, this seems to work in 14.1.0 and 15.3.1 (latest), closing issue.

[2022-07-07 07:19] #8334 closed, assigned to OrKoN

[2022-07-07 07:57] Jeffr-K commented on #8641
@OrKoN Thank you for advise for me.

Yes. I figured out another error messages.

[code]

[code]

[code]

I'm tracing the error, but it's not easy to debug. How can I find any clues that might solve this problem?? Thank you for your hard working!

[2022-07-07 11:37] OrKoN opened #8643 "Flaky test: Page.goto should work when page calls history API in beforeunload:"
Most recent failure on Linux (Node 18)

[code]

[2022-07-07 11:39] OrKoN opened #8644 "Flaky test: request proxy should proxy requests when configured"
Also, the test `request proxy should respect proxy bypass list`:

[code]

The latest occurence is in `npm run test:chrome:headless` on Linux, Node 18: https://github.com/puppeteer/puppeteer/runs/7232316868?check_suite_focus=true

[2022-07-07 11:48] OrKoN opened #8645 "Flaky test: Page.setRequestInterception should cooperatively abort by priority"
[code]

See https://github.com/puppeteer/puppeteer/runs/7232582574?check_suite_focus=true

Latest failure: "npm run test:chrome:headless", Linux, Node 18

[2022-07-07 11:56] OrKoN commented on #1418
Closing this as we won't like to work on this any time soon.

[2022-07-07 11:56] #1418 closed, assigned to JoelEinbinder

[2022-07-07 12:19] gvanriper commented on #5893
I switched to Playwright and found they have the same issue unless you use their own build of Chromium. Using their official Docker image and then installing their browsers by running npx playwright install, I now have no issues with memory leaks.

If someone here finds a permanent solution for Puppeteer, I'd love to see it as I've wasted a lot of time trying to get it to work.