[2018-03-14 16:38] #2184 closed, assigned to nobody

[2018-03-14 17:24] bezeklik commented on #2070
I could hide infobar by using the `--no-startup-window` option as below.

[code]

[2018-03-14 17:28] AnnaCICI opened #2192 "How to check if “click” has finished in puppeteer ?"
I have an error during tab switch in puppeteer:

[code]

When I run this code without the 3rd line, it triggers an error :

And `page2.waitForNavigation` does not work for me, it freezes the page.

I wonder why it crashes if i not use the function : waitFor(4000) on page2 and if there is a way to automate the wait for not wasting time for nothing

Or maybe I should wait for page2 completely close

[2018-03-14 17:37] mattmcguin commented on #2149
@francocorreasosa Why was this closed?

[2018-03-14 20:07] #2078 closed, assigned to nobody

[2018-03-14 21:25] aslushnikov commented on #1413
@yanivefraim There's no single answer: it's always specific to what exactly webpage is doing and how it's behaving.
Since it's quite an open-ended question, there's not much to put in the documentation.

page.on('framenavigated',frame => do something...)

const frame = await page.frameNavigated()

This is easily achievable with a small helper function:

[code]

You can emulate the "switchFrame" se

[2018-03-14 21:25] #1413 closed, assigned to aslushnikov

[2018-03-14 21:38] vivien7512 commented on #2192
what you want is to wait that a tab has closed before continue, isn't it?

[2018-03-14 22:17] sylvaindumont commented on #1925
These errors seem related to chrome 64, with `weboaks/node-karma-protractor-chrome` chrome 63 have no errors.
It happens on alpine and debian.

`weboaks/node-karma-protractor-chrome:alpine-6a3d354178f4a2c23df0ea9d5ee0f52e940e0672` and `weboaks/node-karma-protractor-chrome:alpine` are both build with this [dockerfile](https://github.com/sylvaindumont/docker-node-karma-protractor-chrome/blob/6a3d354

[2018-03-14 22:43] aslushnikov commented on #1980
@florianflock the following snippet exits just fine for me on v1.1.1:

[code]

[2018-03-14 22:43] #1980 closed, assigned to nobody

[2018-03-14 22:49] aslushnikov commented on #746
There are no plans to address this; closing.

[2018-03-14 22:49] #746 closed, assigned to nobody

[2018-03-14 22:53] aslushnikov commented on #1670
@charliekump-wf we don't have any plans on adding pptr api to devtools. Can you share your ideas and your usecases?

[2018-03-14 23:00] faithworksio commented on #703
@schnerd - That worked like a charm for me! Exactly what I needed. Big Thanks

[2018-03-14 23:05] JoelEinbinder commented on #2192
As you say clicking `#save` closes your page. But closing a page does not happen synchronously, so you have a race between when the page closes and when you find the page through `browser.pages()`. If the page has not closed yet, you are trying to work with the page that is about to close.

Instead of `waitFor(4000)`, you can use
[code]

[2018-03-14 23:07] JoelEinbinder commented on #2191
Are you using cygwin, cmd, or powershell?

[2018-03-14 23:17] JoelEinbinder commented on #2190
Can you provide some code to reproduce the issue? I can't reproduce it from the issue you linked.

If your link can accept focus, but doesn't scroll into view when focused, something is seriously going wrong.

[2018-03-14 23:20] JoelEinbinder commented on #2179
Are you sure that the form is in DOM and has the data attribute at the time your code runs? Maybe you want to use `waitForSelector`

[2018-03-14 23:30] JoelEinbinder commented on #2170
I can't reproduce with this code:

[code]

Can you try it out?

[2018-03-14 23:31] intellix commented on #1479
Also having massive issues with parallel screenshot handling and can't seem to find a sweet spot or how to properly optimise this to perform well and not crash. I've currently got 12 arrays of pages to visit and screenshots to take (4 sites with desktop, mobile and tablet with different device ratios).

12 Browser with 1 page each causes server to have load of 13+ and eventually things start timin

[2018-03-14 23:32] JoelEinbinder commented on #2169
Can you share you code? I couldn't reproduce with this code:
[code]

[2018-03-14 23:33] JoelEinbinder commented on #2164
This is covered in the troubleshooting document:

https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#chrome-headless-fails-due-to-sandbox-issues

[2018-03-14 23:37] JoelEinbinder commented on #2166
Can you try `element.screenshot()` and the `puppeteer@next` version? We recently changed the logic around element screenshots.

[2018-03-14 23:39] JoelEinbinder commented on #2157
Is this related to puppeteer?

[2018-03-15 01:20] Nixes commented on #620
I can also reproduce this issue.

[2018-03-15 05:34] Ahmed-Fawzi94 commented on #2191
@JoelEinbinder I am use visual studio code's terminal.
It happen in other scenario with cmd, when the browsers open and I end the node processes from the task manager all browsers still open.
Also it happen with cmd when use ^c 3 times.

[2018-03-15 07:03] itaylor opened #2197 "browser.pages() recreates page objects and doesn't copy exposed functions"
### Steps to reproduce

* Puppeteer version: 1.1.1
* Platform / OS version: Linux/Docker
* Node.js version: 8.10.0

**What steps will reproduce the problem?**

I'm using puppeteer in a white-box integration testing use case.  I'm using `page.exposeFunction` to add a function to the page that my app will call periodically when it's in test mode to pass data to the test runner to give the test runne

[2018-03-15 08:25] SidKwok commented on #2186
@KenFront  I had the same issue. What font family did you install and how? Thx

[2018-03-15 08:54] drmrbrewer commented on #1479
@intellix I'm no expert but rather than setting shared mem to 1gb have you tried disabling it entirely with `--disable-dev-shm-usage` as a launch option?  See [here](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#tips).  Also, what args are you passing to `page.goto()`, for determining when navigation is considered to have succeeded?

I'm interested in any conclusion

[2018-03-15 08:59] intellix commented on #1479
@drmrbrewer using `page.goto(somewhere, { waitFor: 'networkidle0' })` and recently added some stuff to find links and click those instead if they exist for better SPA perf, but it seems like the server just stops working randomly at the screenshot stage according to console logs.

I'm not seeing much memory usage but when I increased it to 1gb initially things stopped crashing, maybe it needs incr

[2018-03-15 09:06] drmrbrewer commented on #1479
@intellix yep I recall that I was getting lots of strange and unexplained errors (typically not immediately but within after a short time of being up and running), and these errors completely went away as soon as I started using `--disable-dev-shm-usage` as a launch option.  As it says in the link, with that option enabled, `/tmp` is used instead of `/dev/shm`.  However, I would imagine that 1gb s

[2018-03-15 09:11] apollo17march commented on #1149
@vsemozhetbyt not working for me

[2018-03-15 09:35] symphony2014 commented on #1421
even though, that still doesn't work,  and the page successed to navigate to new page, but ,exception was throwed,**:(node:12448) UnhandledPromiseRejectionWarning: Error: Navigation Timeout Exceeded: 30000ms exceeded**
[code]

[2018-03-15 10:03] krini commented on #1412
I have the same issue in version 1.1.1

[2018-03-15 11:04] vsemozhetbyt commented on #1149
@apollo17march Can you provide a small code example where it does not work?

[2018-03-15 11:55] focalism commented on #2107
@JoelEinbinder
I try this page with selenium in python:
[code]
I get this:
[code]
The reason is I can not click the `button` because the `modal` in front of it.

[2018-03-15 13:11] KenFront commented on #2186
I  install Chinese language support.
This website show the  Asian language support.
I hope it will be helpful to you.
[Link](http://help.accusoft.com/PCC/v11.2/HTML/Installing%20Asian%20Fonts%20on%20Ubuntu%20and%20Debian.html)

[2018-03-15 13:19] SidKwok commented on #2186
It helps, thanks a lot!

[2018-03-15 14:06] fringd commented on #1479
I had serious issues with webpack devel server choking. Production
compiling my site sped things up.

[2018-03-15 15:28] antoniogomezalvarado commented on #1478
In case anyone has the same issue this solved it for me: https://stackoverflow.com/questions/49245080/how-to-download-file-with-puppeteer-using-headless-true

[2018-03-15 15:36] anandanguru opened #2199 "Unable to get elements within iFrame"
I want to button click event for the selector which is actually inside iframe.Its always exceeds the timelimit means that the selector is not found...I am trying this one...

   await page.waitForSelector('#iFrameId',{visible:true,timeout:45000});
   await page.mainFrame().waitForSelector('#buttonId'); // I am getting the timelit error..

And so...Is there any way that which frame selected by page

[2018-03-15 15:51] vsemozhetbyt commented on #2199
@anandanguru
Maybe instead of `page.mainFrame().waitForSelector()` you could find the needed frame by iterating over `page.mainFrame().childFrames()` and checking `frame.name()` or `frame.url()` and then use `foundFrame.waitForSelector()`.

[2018-03-15 15:57] kensoh commented on #299
@antoniogomezalvarado I can replicate this with a framework I used automate Chrome through DevTools protocol. 2 observations - 1. the link has nothing before clicking. 2. on clicking you'll see below properties. Not sure if it is the way headless Chrome handles data URL differently from visible Chrome or some other causes. I don't have a solution, just sharing findings.

![screen shot 2018-03-15 a

[2018-03-15 16:28] anandanguru commented on #2199
I am getting null value while using frame.name()...I think its not setting  proper iframe may be...If I am using page.frames()..The selector id of iFrames is note there from the list..Any way to set Page.frames based on id???

Note : IFrame I am using which is actually in modal page..Is that any difference???

[2018-03-15 16:41] vsemozhetbyt commented on #2199
Can you provide a small code (with real page URL) which reproduces the issue?

[2018-03-15 16:47] charliekump-wf commented on #1670
@aslushnikov May not be feasible, but I was thinking along the lines of being able to execute puppeteer API from DevTools console. Would help with troubleshooting being able to experiment while being connected right on the page. Bigger use case I was looking at was our application is for creating documents and I have scripted out generating documents and content using puppeteer and thought it woul

[2018-03-15 17:02] aslushnikov commented on #1670
cc @JoelEinbinder who was thinking along these lines

[2018-03-15 17:28] adrianopons commented on #2199
Give a try on @schelkun solution at this post: https://github.com/GoogleChrome/puppeteer/issues/433#event-1490301931

[2018-03-15 17:49] vc1 opened #2200 "page.waitForFunction does not support disable timeout"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.1.1

`page.goto`  support disable timeout. The usage of `timeout` is not the same
Need:  pass 0 to disable timeout  wait forerve

[2018-03-15 18:33] LutzStrobel commented on #2166
Sorry, but it didn´t changed anything. In between I have already updated the puppeteer version  to 1.1.1 and the change to element.screenshot didn´t changed anything.
The local chromium version from its manifest file is : 66.0.3347.0.

I will try if it is a "genuine" windows problem

[2018-03-15 18:37] albinekb commented on #299
@kensoh that' looks easy. Just click the link and then grab the inline csv file via .href?

[code]

then using something like https://www.npmjs.com/package/data-uri-to-buffer to get it into a buffer then just fs.writeFile? 👍

I can confirm
[code]

Works well (in non headless mode)

[2018-03-15 18:40] JoelEinbinder commented on #2191
I can repro this. It looks like it will be fixed by https://github.com/GoogleChrome/puppeteer/pull/2081

[2018-03-15 18:50] #2053 closed, assigned to nobody

[2018-03-15 18:59] aslushnikov commented on #2191
#2081 is merged so this should be fixed now on tip-of-tree. We'll publish a new version on npm today.

[2018-03-15 18:59] #2191 closed, assigned to nobody

[2018-03-15 19:33] Ahmed-Fawzi94 commented on #2191
Thank you.

[2018-03-16 00:09] sthomp opened #2203 "goto is slow when loading webgl heavy page within docker"
Hi all,

I'm running puppeteer in a docker container following the guidance in the [troubleshooting doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md). Everything works well but I've noticed that the performance of loading a webgl heavy page is quite slow. In my specific case, I am loading a page which runs mapbox-gl.

To highlight the difference here are some timi

[2018-03-16 00:17] #1816 closed, assigned to nobody

[2018-03-16 00:29] ebidel commented on #2203
You're still including the `--headless` flag in `args` so it's hitting the software path (swiftshader). That would explain the extra CPU.

I'm not sure there's a way to make this work in Docker since you can't run headful chrome.

---

BTW, You can verify software rendering by running this in the container:

[code]

and look for the "Graphics Feature Status" section. For me, its says:

[2018-03-16 00:43] scottthompsonsc commented on #2203
The same code is also running on my macbook so its also using `--headless`. On my macbook when I run `chrome --dump-dom --headless chrome://gpu/` I can also see

[2018-03-16 00:48] JoelEinbinder commented on #2079
I think we should switch to pipes by default over websocket in 2.0

[2018-03-16 01:12] kensoh commented on #299
Thanks @albinekb got it, does it work in headless mode? The issue by @antoniogomezalvarado only happens in headless mode. Hi @antoniogomezalvarado you can check out @albinekb solution.

PS - sorry for sounding noob 🤣 I actually don't have a Node.js environment

[2018-03-16 07:16] anandanguru commented on #2199
Thanks @adrianopons ..The problem is frames are not loaded fully...#1361 solves me my solution...

[2018-03-16 07:16] #2199 closed, assigned to nobody

[2018-03-16 09:07] vinkla opened #2206 "[Issue] PDF Reverse Words"
**Tell us about your environment:**

* Puppeteer version: v1.1.1
* Platform / OS version: macOS 10.13.3 (17D102)
* Node.js version: v9.8.0

I'm using Bootstrap 4.0.0 to create printable PDF templates in the browser. I'm using Puppeteer to generate the PDFs. It is working and looking great when I in the browser but when I copy text from the generated PDF file and paste it into my text editor all wo

[2018-03-16 10:17] KimSeongIl opened #2207 "Assertion `listp->slotinfo[cnt].gen <= GL(dl_tls_generation)' failed!"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: ubuntu 16.04 (docker)
* URLs (if applicable):
* Node.js version: 8.9.4
chromium version: google-chrome-stable : 65.0.3325.162

**What steps will reproduce the problem?**

I have the following code.
[code]

[code]

What causes the above error?

[2018-03-16 12:37] kaycebasques opened #2208 "Why is Puppeteer prepending "JSHandle:"?"
1. Go to https://jshandle-why.glitch.me/PerformanceTiming
1. Look at results. Why is each prepended with `JSHandle:`?

[code]

Code source: https://glitch.com/edit/#!/jshandle-why?path=server.js

[2018-03-16 13:01] kaycebasques commented on #2208
Looks like I need to do something like this:

[code]

That `jsonValue()` name is unintuitive. I overlooked it because I was expecting it to return a JSON object. I think a name like `toJsonSafeValue()` would reflect its purpose better...

[2018-03-16 13:26] JacobDB commented on #1837
I'm seeing this as well on every WSL installation I check, here's hoping Windows 10 1803 will solve it next month.

[2018-03-16 13:44] kbulygin opened #2210 "`page.keyboard.*`: pressing Ctrl-F doesn't act as pressing it manually"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Debian GNU/Linux 8.8 (jessie)
* URLs (if applicable): https://example.com
* Node.js version: 9.7.1
* Chrome version: 65.0.3325.146 (Official Build) (64-bit)

**What steps will reproduce the problem?**

I run this code:

[code]

**What is the expected result?**

I expect that the "Find i

[2018-03-16 14:46] kbulygin commented on #2210
It turns out that [window.find()](https://developer.mozilla.org/en-US/docs/Web/API/Window/find) is implemented in Chrome. So the following code emulates the Ctrl-F mechanism (except the color of highlights and perhaps some other things):

[code]

Anyway, it would be interesting to hear on the `page.keyboard.*` issue. On the one hand, I see that the basic idea is [dispathing a key event to the ***p

[2018-03-16 15:48] tnolet commented on #1229
Just bumped into this and this is quite an issue! Confident this will be solved. For anyone just finding this, here is an example of what goes wrong

[![Run with Puppeteer Sandbox](https://puppeteersandbox.com/static/button.svg)](https://puppeteersandbox.com/S0HVfA1j)

[2018-03-16 16:14] mathieuferraris commented on #391
Hello,

Before I start, here is my server config:
[code]

I'm a newbie with Linux commands, but I still have libraries missing for chrome:
[code]

Those libraries are installed in my OS but are located in another directory.
I ran **"ldd chrome"** and except those 4, every library is located in **/usr/lib64**
The "not found" libraries are located in **/usr/lib**
I think that chrome is always lookin

[2018-03-16 17:03] XBeg9 commented on #478
+1

[2018-03-16 18:15] drmrbrewer opened #2211 "Resources required: puppeteer/chrome vs phantomjs"
I've read a few reports (e.g. [this](https://hackernoon.com/benchmark-headless-chrome-vs-phantomjs-e7f44c6956c)) which suggest quite clearly that headless chrome uses less resources (CPU, RAM) and is quicker than phantomjs.

However, I'm finding the opposite.  I need to spin up roughly twice the resources (RAM and CPU) to process and render the same pages per sec for puppeteer/chrome as I do for p

[2018-03-16 19:16] PCS-Ismail commented on #1875
Any update on this?

[2018-03-16 19:41] drmrbrewer opened #2212 "Service Worker caching broken in v1.2.0 (Chromium 67.0.3372.0)??"
When using the same cache folder between page loads (by passing the same `userDataDir`), loading the following node route the first time should say "fetched from network" and then on reloading (when stuff is cached in service worker), it should change to "retrieved from service worker cache".

You can see this behaviour in a normal chrome browser by loading the [URL used below](https://cloud3squar

[2018-03-16 20:25] yanivefraim commented on #2200
I'll be happy to take this one (:

@aslushnikov @vc1

[2018-03-16 20:33] rg1220 commented on #1828
I'm also seeing the `Lost UI shared context` issue on both MacOS and Ubuntu. I've tried the args '--`'disable-gpu', '--no-sandbox', '--disable-setuid-sandbox'` and that hasn't worked nor has it changed the error.

Weirdly, I do get console information about the page loading but it just seems detached from puppeteer.

Has anyone figured out a work around - or a docker container that does indeed wor

[2018-03-16 21:07] phamcharles commented on #1875
@PCS-Ismail im in the same boat where the pdf will return empty occasionally. I believe it only happens on heroku for me

[2018-03-16 21:46] joelgriffith opened #2213 "RFC: standalone doc site"
It's been largely on my mind (and others in the Slack channel) that a docs page with a richer-feature set would greatly benefit users of puppeteer.

I'm opening up this issue to start a conversation about what folks think of this. Some things to consider:

- Is it worth having and maintaining a doc site?
- Is there value a doc site would provide that we currently don't have in GH?
- How will this

[2018-03-16 22:33] #2082 closed, assigned to nobody

[2018-03-16 22:38] aslushnikov commented on #2200
@yanivefraim please go ahead!

[2018-03-16 22:53] aslushnikov commented on #2213
@joelgriffith A nice searchable website would be nice to have! However, it should be automated and require no regular maintenance - we don't have much time, and outdated documentation website would be a disaster.

At least a few things would be nice:
- Website might have a nice fuzzy search across method names and their descriptions
- Website will point to the latest release by default (with an op

[2018-03-16 22:58] joelgriffith commented on #2213
Thanks @aslushnikov!

Vanilla Protocol viewer is nice because:

Definitely agree: I've used that site numerous times for navalia, and have found it a valuable resource. Is _it_ open-sourced someplace so that contributors can get a proof-of-concept up?

[2018-03-16 23:25] tylercrosse commented on #2213
Joel had also suggested FB's [docusarus🦖](https://docusaurus.io/) and there are a bunch of other good options out there that will generate a static site from markdown. Is the idea to have the website code contained within this repo (ex. a /www dir) or as a separate project? The advantage to having it here is that it could be incorporated into existing tooling to rebuild/deploy on updates. A disadv

[2018-03-17 00:27] aslushnikov commented on #2213
@joelgriffith source is available on github here: https://github.com/aslushnikov/vanilla-protocol-viewer/

@tylercrosse docusarus looks interesting, but I'd like to avoid complicating build step.

[2018-03-17 01:27] PCS-Ismail commented on #1875
Happens on Kubernetes for me, either empty or the pdf is incomplete. I'll follow through on this

[2018-03-17 11:13] putuoka opened #2214 "How to import cookie from file?"
i want to use my browser cookie of web site A in PC A into my puppeteer app in PC B
i use this chrome extension to export cookie https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg?hl=en

now how to import my exported cookie into puppeteer? is it possible?

[2018-03-17 11:42] fran0254 opened #2215 "how to get current url ?"
I need to store the url that I browse, does it exist in puppeteer any function that can get the url? through sun I can not, because the buttons are not links

[2018-03-17 12:23] vsemozhetbyt commented on #2215
[`page.url()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageurl)?

[2018-03-17 13:38] leem32 opened #2216 "page.setRequestInterception(true); causes invalid SSL pages to hangup and timeout instead of triggering an error."
I need to use `page.setRequestInterception` while taking a screenshot of webpages but notice that when I attempt to take a screenshot of a webpage which has a `wrong host` SSL certificate the script hangs up and times out.

If I remove `page.setRequestInterception` the script does not hang up and displays the error below.
`Error: net::ERR_CERT_COMMON_NAME_INVALID at https://wrong.host.badssl.com/`

[2018-03-17 14:23] leem32 opened #2217 "Take screenshot of browser error pages"
Is it possible to take screenshots of browser error pages?

An example would be navigating to a website which is down or doesn't exist and the browser displays a 'This site can’t be reached' message.
Can I somehow take a screenshot of the displayed error message?

[2018-03-17 15:14] ShawnPanxiaoming opened #2219 "Load issue? Browser instance closed automatically when several client connect to it with headless mode"
Hi, I have a performance issue when using puppeteer to do a large amout of page navigation.

Environment:
CentOS7
Puppeteer 1.0
Google Chrome 65.0.3325.162

First, in order to save memory and reuse browser instance,I just launch browser with headless mode and then get browser wspoint('ws://127.0.0.1:35487/devtools/browser/c996362b-12a5-4928-aff7-ce43b1296c32') by calling browser.wsEndpoint();

Sec

[2018-03-17 16:20] #2215 closed, assigned to nobody

[2018-03-17 19:11] kaycebasques opened #2220 "add a code sample explaining how to handle a 404"
I'm getting `UnhandledPromiseRejection` when navigating to a page that doesn't exist via `await page.goto()`, but I'm really at a loss as to how to handle this. I've tried to catch it in various ways, but none seem to work...

[2018-03-17 19:24] ebidel commented on #2220
try/catch or `.catch()` the promise:

[code]

[2018-03-17 19:48] ebidel commented on #2213
Hey all,

https://github.com/GoogleChrome/puppeteer/issues/1068 captures some prior discussion on this topic.

We decided to roll an official docsite on https://developers.google.com/web/tools/puppeteer/. It's also [open source](https://github.com/google/WebFundamentals/tree/master/src/content/en/tools/puppeteer), has an [automated system](https://github.com/google/WebFundamentals/blob/master/gulp

[2018-03-17 19:50] kaycebasques commented on #2220
That's what I was doing. I think the issue is elsewhere, so maybe disregard this comment. Debugging from DevTools was misleading, but there's a lot I don't understand here, so it could be pilot error. I'll re-open with more concrete comments if I find anything helpful.

[2018-03-17 19:50] #2220 closed, assigned to nobody

[2018-03-17 19:51] ebidel commented on #2213
I should add...this isn't stopping the community from rolling whatever the heck it wants :), but officially, the project needs to host a doc site on developers.google.com.

[2018-03-17 20:10] MildSYang opened #2222 "Cannot find context with specified id undefined"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 2.0
* Platform / OS version: window10
* URLs (if applicable):
* Node.js version: 8.9.0

**What steps will reproduce the problem?**

  In my web page, the input box change will cause the refresh.
If there is no try catch, the project will crash. And print the error;
If I add a try catch, the project will be executed c

[2018-03-17 21:05] putuoka commented on #1812
i have exactly the same error even with newer version 1.2.0
it seem puppeteer can't read this character # in url so if we navigate goto to url that has # this error will occurs

![image](https://user-images.githubusercontent.com/20880839/37559938-b019c688-2a69-11e8-8d7c-7164dab8b2f0.png)

Any idea how to make this work? i need to go to this url https://example.com/dashboard/#/ide/wksp-3cdn after l

[2018-03-17 21:12] cristiberceanu opened #2223 "Multiple screenshots on one page hangs"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.1.1
* Platform / OS version: Ubuntu server 16.04
* URLs (if applicable):
* Node.js version: v8.9.4

**What steps will reproduce the problem?**
Run a script that tries to take multiple screenshots of the same page without navigating out of the page or refreshing it, just simply trigger 3 screenshots of different are

[2018-03-17 23:00] remorses commented on #799
If you need to wait for `networkidle` without navigation you can implement something like this
[code]
and use like this
[code]

[2018-03-17 23:07] remorses commented on #1466
I had the same iussue and resolved using a recursive function that reset itself every request, and after a small time of idle network ( time parameter ) resolves.
[code]
use like this
[code]

[2018-03-18 01:01] coolicer opened #2224 "how to run userscript in puppeteer?"
It's seems need to install `Tampermonkey` extension. how to do that ?

[2018-03-18 03:21] joelgriffith commented on #2213
Thanks for filling in the blanks, Eric! I poked around the docsite and left with two thoughts:

- It seems that the actual API docs themselves just redirect back to the GH md page. From what you described I'd imagine they'd have been deployed as part of the WebFundamentals page vs linking back here.

- Searching is probably the biggest pain-point as the single docs page is quite large (lots of CTR

[2018-03-18 04:56] ryomasuda4611 opened #2225 "Can't upload a file with an error "Node is either not visible or not an HTMLElement""
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: ^1.1.1
* Platform / OS vers ion: macOS 10.13.3
* URLs (if applicable):
* Node.js version:v9.4.0

**What steps will reproduce the problem?**
I'm trying upload a image file which is in my local storage using "elementHandle.uploadFile".
But it failed with an error "Node is either not visible or not an HTMLElement".
How

[2018-03-18 09:41] Ahmed-Fawzi94 commented on #2214
I think you need to read the file then put the cookies into puppeteer.

[2018-03-18 11:43] LutzStrobel commented on #2166
I tried it on a linux machine. It seems to be a problem using puppeteer on windows 7.
Next try will be on windows 10.

[2018-03-18 12:07] antoniogomezalvarado commented on #299
Thanks @albinekb @kensoh your solution is similar to what was suggested here : https://stackoverflow.com/questions/49245080/how-to-download-file-with-puppeteer-using-headless-true

Which eventually grabs the event and writes the data into a file ( and `page._client` isn't required to make this work - don't know why )

What made it work for me was adding:
[code]

[2018-03-18 12:44] tomgallagher commented on #323
@deathemperor
I'm curious about this. Now that AWS Lambda have doubled the potential memory available to functions, 3008 MB at last count, what's the time taken for Puppeteer to initialize? Speed is important for what I'm trying to achieve.

[2018-03-18 13:33] putuoka commented on #2214
@Ahmed-Fawzi94 lol yeah that's the logic but how to do that in/with code? could you please help?
Thank you

[2018-03-18 14:38] ebidel commented on #2214
"How to" questions are meant for SO or the shack channel. Thanks.

On Sun, Mar 18, 2018, 6:33 AM putuoka <notifications@github.com> wrote:

[2018-03-18 14:38] #2214 closed, assigned to nobody

[2018-03-18 15:25] toddwprice commented on #323
@tomgallagher the issue isn't memory, it's disk space. The error `Error: ENOSPC: no space left on device, mkdtemp '/tmp/puppeteer_dev_profile-XXXXXX'` occurs over time because user profile data is not released by the Chrome process. If you have light usage you may not see this error. You can also get rid of the error by forcing Lambda to provision new containers by deploying a new version of your

[2018-03-18 15:26] toddwprice commented on #323
Another alternative to Lambda, which is what we are doing at the moment, is to use AWS Batch on Spot instances. These can be very cost effective and don't have the limits that Lambda has.

[2018-03-18 17:47] bluepeter commented on #323
We have found ways around Lambda space limits... at least we think so. Set all caches to zero, clear cache after use. We did this initially not for disk space issues, but because we didn't want a "polluted" Chrome instance when browsing a new site (i.e., interference w/ a prior user's cookies/cache/etc).

[2018-03-18 17:57] tomgallagher commented on #323
@toddwprice
on Lambda, the memory allocated is also a proxy for computing power, I believe. So more computing power = faster initialization of Puppeteer.

[2018-03-18 18:58] toddwprice commented on #323
@tomgallagher  true, true. I was referring to the out of disk space issue though not the startup time.  I wasn't aware though that the memory limit is ~3GB now which is great to know.

@bluepeter do you have a reference to the API for managing the caching behavior, or an example? Either would be most appreciated.

[2018-03-18 19:38] joelanman opened #2226 "On AWS Lambda, page.goto fails for me, with net::ERR_INSUFFICIENT_RESOURCES"
I doubt this is a problem with puppeteer, I was just hoping someone here might be able to help.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Amazon Lambda 2017.03
* Node.js version: 6.10.3

**What steps will reproduce the problem?**

When I use `page.goto` to open any page (I've tried a few, including www.gov.uk) , I get this err

[2018-03-18 21:13] joelanman commented on #2226
seem to have fixed it by using a different chromium binary for lambda.

I was using the ones from [Serverless Chrome](https://github.com/adieuadieu/serverless-chrome/releases)

But replacing it with the one from [Puppeteer Lambda Starter Kit](https://github.com/sambaiz/puppeteer-lambda-starter-kit/tree/master/chrome) seems to work!

[2018-03-18 21:13] #2226 closed, assigned to nobody

[2018-03-18 22:21] putuoka commented on #2214
@ebidel Hi man i don't think my question is for stack overflow because they will redirect me to here asking for puppeteer documentation while i can't find in puppeteer documentation how to load cookies from file.

[2018-03-18 23:27] AnnaCICI opened #2227 "Set time out when start puppeteer by a project C#"
Hi, I have a project C# which launch puppeteer for opening 3 pages, one by one, and then saving them one by one.

I want to set a time out for avoiding weird problem and making sure code works well. But I found if puppeteer is launched by C#, its **default time out 3000ms** does not work. And if I add a time out in C#, **chromium cannot close automatically**.

How can I set a time out global this

[2018-03-19 02:17] ebidel commented on #2214
Well it doesn't hurt to try.  Our API docs won't cover every use case. In other cases, [Puppeteer lacks an API](https://github.com/GoogleChrome/puppeteer/issues/645).

[2018-03-19 04:50] sradu commented on #1984
--lang fixes the Accept-Language header. Unsure if I should keep the issue open since it relates to header caps/order.

[2018-03-19 08:11] yxs opened #2228 "How to use complete Chrome？"
* Puppeteer version: 1.2.0
* Platform / OS version: CentOS 7.4.1708
* Node.js version: 8.10.0

The sample code I used:
[code]
**problem**
After installing Centos dependencies and adding `{args: ['--no-sandbox', '--disable-setuid-sandbox']}` , I can run pupeteter in headless mode.

But when I added parameter `headless: false`.

`const browser = await puppeteer.launch({args: ['--no-sandbox', '--disa

[2018-03-19 09:47] tomerb78 opened #2229 "invoking chrome extension using puppeteer"
**Use Case:**
connect puppeteer to a page that should work with chrome extension, and make the extension work on the page.
The extension is loaded as expected after setting `--load-extension` and `headless: false`

**Issue:**
Some chrome api like *chrome.tabCapture.capture* require the extension to be **invoked** in order to work (i.e user should click on the extension icon).

I could find a way t

[2018-03-19 13:14] remborg commented on #1925
To complete what sylvaindumont said just above, I'm having the same issue with chrome 65 running locally on a win7-64

[2018-03-19 14:14] paul-sachs commented on #1265
@aslushnikov @JoelEinbinder any update on this issue?

[2018-03-19 14:17] Pirozek commented on #1828
Having the same issue, working on Mac, but on Debian production server it return blank pages "sometimes". When I try to screenshot the same page 5 times in a row, there are like 2-3 screenshots missing, and rest is ok, but everything return `Lost UI shared context error`

[2018-03-19 14:33] avimar commented on #1191
Is there any other way to achieve this before this lands?

e.g. getting the information and disabling a `<script>` tag before it runs?

[2018-03-19 15:13] ylambda commented on #1388
@yi-ge

I solved this using `page.waitForFunction` and a [MutationObserver](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver)

[code]
For this example I changed the window global variables for readability. In my local copy they're very strange looking to avoid clashing with anything on the page.

Things may have been fixed in the newly released v1.2.0 branch. I haven't had the cha

[2018-03-19 15:50] aslushnikov commented on #1191
@avimar you can try implementing response interception manually:
1. enable request interception
2. on every request, fetch the response manually
3. fulfill the request with the result, if needed

There are two approaches for step (2):
- you can fetch on the node-side. This will require more work to support cookies
- you can "fetch" from the page using `page.evaluate`. This will give cookies for fr

[2018-03-19 15:52] jakubkratina opened #2230 "Puppeteer doesn't render default fonts"
Hello,

I was trying to generate jpg or pdf, but is fails on fonts. I've made this example URL: https://www.myfeesy.com/foo.html with this code example:

[code]

Local render (OS X) works like a charm, everything is great:

![ok](https://user-images.githubusercontent.com/712021/37606103-fc52c74e-2b94-11e8-98b3-e41145b8b051.jpg)

But when I follow this readme: https://github.com/GoogleChrome/puppet

[2018-03-19 17:35] PayteR commented on #1183
Hi, thx guys for solutions, but **screen.width** and **screen.height** are in `headless: true` always 800x600 and for `headless: false` is always resolution of actual screen. Any suggestions to solve this other than manually do it so in `evaluate()` method? Code:

[code]

[2018-03-19 17:58] gdamjan commented on #1191
@aslushnikov that approach doesn't work when:
* the web page sends an XHR request
* response is html with iframe
* it inserts the invisible iframe in the DOM
* that starts a PDF download

[2018-03-19 18:07] allthesignals commented on #1731
I had better luck with this solution: https://github.com/GoogleChrome/puppeteer/issues/1260#issuecomment-348878456, specifically for MapboxGL.

[2018-03-19 19:56] XVincentX commented on #1388
Thanks for the hack! However I'm not willing to put such thing in my code. I'll stick with other solutions for now.

[2018-03-19 20:06] MissAnichka commented on #1853
👍  same, setting footerTemplate and no footer shows up... :(

[2018-03-20 02:16] yi-ge commented on #1388
@ylambda Thank you very much!

[2018-03-20 02:20] yxs commented on #2228
`ldd /usr/bin/Xorg`

This error has been solved

![image](https://user-images.githubusercontent.com/25861775/37632216-1ce832f8-2c28-11e8-8d9d-0328fb541878.png)

[2018-03-20 02:20] #2228 closed, assigned to nobody

[2018-03-20 02:56] rg1220 commented on #1828
For the record I am still seeing `Lost UI shared context error` however it doesn't appear to be causing the blank screen for me. My issue was that my User Agent appears to change between non-headless and headless mode. The site I was interacting with wouldn't render unless the User Agent was "valid".

[2018-03-20 05:43] symphony2014 opened #2231 "Is there any say that I can send text to aceeditor?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

[2018-03-20 08:35] xprudhomme opened #2233 "Request interception POST data overrides not working as expected"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.1.0
* Platform / OS version: any
* Node.js version: 8.9.3

**What steps will reproduce the problem?**
When browsing to [this page](https://www.microsoft.com/fr-fr/solution-providers/search) , and picking a country in the first select box, an XHR request is triggered. This XHR is a POST request, and can be intercept

[2018-03-20 09:19] Glennvd commented on #1664
FYI this has been fixed in the latest master chromium builds when using `--enable-features=NetworkService`, in case this is a blocking issue for anyone else.

[2018-03-20 09:31] Ahmed-Fawzi94 commented on #2214
@putuoka see this : [https://stackoverflow.com/questions/10011011/using-node-js-how-do-i-read-a-json-object-into-server-memory](url), It should help you.

[2018-03-20 09:35] suhailgupta03 opened #2234 "Unable to use authenticated proxy: Error: net::ERR_NO_SUPPORTED_PROXIES"
I am trying to connect to a web service using an HTTP proxy. Here is what I am doing:
`    const puppeteer = require('puppeteer');

    (async () => {
        const browser = await puppeteer.launch({
            headless: false,
             args: [
                 '--proxy-server=http://myusername:password@zproxy.luminati.io:22225'
             ]
        });
        const page = await browser.ne

[2018-03-20 11:14] snooopcatt commented on #1837
Would like to see pupeteer working on WSL. I am using Ubuntu in WSL and have this issue too.

[2018-03-20 12:24] dbuarque commented on #2222
Hey @MildSYang, did you figure out how to solve this issue?

[2018-03-20 12:42] x1c0 opened #2235 "After upgrading to 1.2.0 all the app console.logs are being displayed - INFO:CONSOLE"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Windows 7 64 bit
* Node.js version: 8.9.1

**What steps will reproduce the problem?**

1. I have an angular-cli project
2. updated puppeteer from 0.13.0 to 1.2.0
3. npm run e2e

**What is the expected result?**
On Mac OS all the tests run without any console.log messages

**What happens

[2018-03-20 13:31] #2160 closed, assigned to nobody

[2018-03-20 14:17] bmsdave opened #2236 "[win10] run coverage -> rm is not defined"
Hi!
I try `npm run coverage`, but got Exception.
Tell me, please, where does `rm()` function come from?

**Tell us about your environment:**
* Puppeteer version: 1.2.0-post
* Platform / OS version: MINGW64_NT-10.0
* URLs (if applicable):
* Node.js version: v8.10.0

**What steps will reproduce the problem?**
[code]

[2018-03-20 14:18] gsouf commented on #1205
correction to @vsemozhetbyt message, headers is actually a function: ``response.headers()``

[2018-03-20 16:43] joelgriffith commented on #868
Would like to throw out there that https://chrome.browserless.io/ is also available for debugging purposes. It lets you inject `debugger;`'s and log's (in the pages context), as well as exposes devtools + an interactive view of the page. I'll see if I can't get it in the examples/docs since this tends to come up frequently

[2018-03-20 16:44] leem32 opened #2237 "Get framenavigated url on fail"
If I `goto` http://ivue.com in Puppeteer I get an `Error: net::ERR_TOO_MANY_REDIRECTS at http://ivue.com/` error (ivue.com seems to be in an infinite redirect loop).

But if I redirect to ivue.com with `window.location.href = "http://ivue.com";` it doesn't return an error and there's no way of knowing what happened or to get the last navigation attempted.
This is bad for me because I need to know

[2018-03-20 16:53] dragosrotaru commented on #85
+1

[2018-03-20 17:12] maximedupre commented on #2083
I agree, this kind of error is not very helpful:

    ConsoleMessage {
        _type: 'error',
        _text: 'ERROR JSHandle@object',
        _args: [ JSHandle {
            _context: [ExecutionContext],
            _client: [CDPSession],
            _remoteObject: [Object],
            _disposed: false },
        JSHandle {
            _context: [ExecutionContext],
            _client: [CDPSessi

[2018-03-20 20:02] CanterJ commented on #299
@antoniogomezalvarado I am not able to get your code working. Do you have a full example you could point me to?

[2018-03-20 20:45] AntouanK commented on #1325
I get the same error, every 30mins in a page ( whether I refresh or not, it's still going to happen ).
Is there any way to handle this gracefully somehow?
Right now it will get thrown in all the pages I have, and it will effectively make me restart every single page.

_tried puppeteer 1.1.1 and 1.2.0_

[2018-03-20 21:19] gauntface commented on #2164
Looking at the PR - the term "Travis" isn't mentioned once.

Meanwhile you have:
- Heroku
- AWS Lambda
- Alpine
- Docker

[2018-03-20 21:20] #2169 closed, assigned to nobody

[2018-03-20 22:26] leem32 opened #2238 "Add a waitUntilTime to GoTo"
Over the last couple of weeks, I've been heavily testing hundreds of URL's to take screenshots through Puppeteer, and I've realised that none of the ` waitUntil` options work all the time.

If I use `Load`, sites with hundreds of requests such as `http://dailymail.co.uk` take so long they often timeout before taking a screenshot. If I use `networkidle2` sites with hundreds of requests like dailyma

[2018-03-20 23:20] norstbox commented on #1879
This is very annoying bug, because it's extended to pages contain "affected" `iframe`, i.e.:
[code]
@Khady, perhaps it would not be a bad idea to reflect this consequence in title or/and description of the issue.

[2018-03-21 02:13] Khady commented on #1879
@norstbox updated, let me know if you want to say it in a better way

[2018-03-21 06:46] yxs opened #2239 "Can't use the same methods as selenium to select an element."
* Puppeteer version: 1.2.0
* Platform / OS version: CentOS 7.4.1708
* Node.js version: 8.10.0

Can't use the same methods as selenium to select an element.

* In selenium
I can use:
[code]
For example, When I want to select some text like `<a href=" "><i class=" "></i>some text</a>`

I can use
[code]
* In puppeteer
I can't find some similar way to click on the element.

`page.click` can only use `

[2018-03-21 09:24] MildSYang commented on #2222
@dbuarque have no clue

[2018-03-21 10:05] pragyandas commented on #2089
[code]

This works for me without any error but it chops off the 1st page. The generated PDF starts from page 2.
Any pointers appreciated.

[2018-03-21 10:43] voordev opened #2240 "How to install OS specific version of chrome / puppeteer with package.json?"
Im running puppeteer on OSX but would like install chromium version of linux.
Since im going to run it on linux and need this OS version.

It is possible to specify the chromium version for linux with the package.json somehow?

[code]

Installs only for current OS which is OSX

[2018-03-21 11:28] distante commented on #1936
[code]

This allow the page to load but there is no way to capture the error.

[2018-03-21 11:40] 546425049 commented on #391
@JustinYi922  I have the same question ,  it works but the picture is not all right , some  charts  can't be showed.   so you resolve it now?

[2018-03-21 13:09] Janpot commented on #2089
@pragyandas You can't just append two binary blobs like this to concatenate pdfs. The resulting blob is not in the right format. You'd rather want to parse them first and concatenate the pages in a new file e.g. with [`hummus.js`](https://github.com/galkahana/HummusJS/wiki/Embedding-pdf#basic-page-appending). Or use [a library](https://www.npmjs.com/package/pdf-merge) that does this for you if you

[2018-03-21 13:13] mjschranz commented on #2089
Yes as discovered we can't unfortunately. Libraries like the above mentioned do help. I wound up using `pdf-merge` but it would still be nice to have this feature baked in if possible.

[2018-03-21 14:20] gutnikov commented on #2223
Tell us about your environment:

* Puppeteer version: 1.1.1 or 1.2.0
* Platform / OS version: Mac OS Sierra 10.12.2
* Node.js version: v8.9.3

Same. Trying to get multiple screenshots from one page:

[code]

It hangs on random element on every script run and in rare cases it doesn't.

[2018-03-21 14:40] gutnikov commented on #2223
Update:
It seems that i'v managed script to work by setting viewport height to something like 40K pixels, which sounds like a very weird solution )) 40K - is a size of page content that i'm trying to get screenshots from

[2018-03-21 15:05] cristiberceanu commented on #2223
And it never hangs now?

[2018-03-21 15:06] siggerzz commented on #1412
Still seeing these issues on 1.2.0

[2018-03-21 15:08] gutnikov commented on #2223
Yep, never.
I'm not going to use this anyway ) just trying to figure out what i'v possibly did wrong before.

[2018-03-21 15:15] cristiberceanu commented on #2223
what was it?

[2018-03-21 15:15] paul-pro commented on #373
Confirm, can't get JS works in template too. Also, looks like chromium prerenders frame separate for every pdf page, so neither css hack won't help you remove page number only for the first page.

[2018-03-21 15:16] gutnikov commented on #2223
No, i mean i still don't know why it works with 40K height and how to make it work without setting it

[2018-03-21 15:25] cristiberceanu commented on #2223
My code seems to randomly hang once every 25-30 executions no matter what parameters I give it

[2018-03-21 15:48] jamiepgs commented on #2171
I think I'm looking for the same thing - When clicking on a request in the network tab in dev tools, under the Headers tab there is a Remote Address entry - which doesn't seem to be clearly exposed in the Response or Request classes.

[2018-03-21 16:16] antoniogomezalvarado commented on #299
@CanterJ here it is:
[code]

[2018-03-21 16:26] sthomp commented on #2203
@ebidel the `--headless` flag in `args` is being used in both cases. Both on my macbook and when running inside docker on my macbook. So it seems there must be something else which would cause this performance difference. Any thoughts on this?

[2018-03-21 16:32] DrisyaNair opened #2241 "Couldn't read Frameset in a page using Puppeteer"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v1.1.1
* Platform / OS version: Windows10
* URLs (if applicable):
* Node.js version: 8.10

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

The page i'm trying to access using puppeteer, has a main frameset, and it has multiple frames attached to it.

 I need to get a part

[2018-03-21 16:42] DrisyaNair commented on #2241
![source_code_sample](https://user-images.githubusercontent.com/1125111/37723674-d859a14e-2d26-11e8-8c48-c56eef140c6e.png)

[2018-03-21 17:08] ebidel commented on #2203
I'm not sure the host GPU is available inside the container. A little googling suggests you need to set this up yourself:

https://medium.com/@ceshine/docker-nvidia-gpu-nvidia-docker-808b23e1657
https://github.com/SeleniumHQ/docker-selenium/issues/340#issuecomment-279800757

[2018-03-21 17:16] #2231 closed, assigned to nobody

[2018-03-21 17:19] TotusSomnium commented on #2222
getting this a lot after updating to 1.2.0. Does not happen if i downgrade back to 1.1.0

[2018-03-21 19:20] GuilloOme commented on #1397
I just [updated puppeteer in my application](https://github.com/delvelabs/htcap/commit/e660f435772f27e79ace32ba7cc6e8d130827152) today from v0.12.0 to v1.2.0 and it seems to work just fine!

Thanks for your time :wink:

[2018-03-21 19:20] #1397 closed, assigned to nobody

[2018-03-21 19:23] CanterJ commented on #299
@antoniogomezalvarado You are awesome!! Thank you! FYI, the reason I was having issues is because I was using puppeteer 1.2.0. I had to downgrade to 1.1.1 to get this working.

[2018-03-21 19:39] GuilloOme commented on #2233
related to #1062

[2018-03-21 19:41] GuilloOme commented on #2115
related to #2233 ?

[2018-03-21 21:52] AmitMathur commented on #2115
The way i finally got it working is as below:

  { 'param a': 'value a',
    'param b': 'value b'
   };
await page.setRequestInterception(true);
  page.on('request', request => {
	var options = {};
    if (<some condition>) {
    	options = {
				  method: 'POST',
				  url: <URL>,
				  headers:
				   { 'cache-control': 'no-cache',
					 'content-type': 'application/x-www-form-urlencoded' },

[2018-03-21 21:52] #2115 closed, assigned to nobody

[2018-03-21 21:54] jmas commented on #2167
I also need this feature, because I do not see a normal way to make different headers for different pages. For example on first page (intro page) is one header and on the internal pages is different.
If not possible run scripts in header/footer templates I have another proposal that can be solved via CSS:
[code]
[code]
`:target` selector is valid when we have anchor `#page1` in URL.

[2018-03-21 23:13] xprudhomme commented on #2233
Indeed, related to #1062 , but none of the solutions provided there solved the issue...

[2018-03-22 00:00] twistedpair commented on #309
Do these metrics include information like CPU consumption for the given tab?

[2018-03-22 00:14] itaysabato commented on #317
`statusText` seems like a very basic (and easy) thing to expose. And I need it :)

[2018-03-22 01:13] suever commented on #1765
Apparently it was [added back](https://bugs.chromium.org/p/chromium/issues/detail?id=820453#c6). In initial testing, I've also been able to get rid of the message by removing the `--enable-automation` option from puppeteer's default args.

[2018-03-22 01:30] VaporFan commented on #645
bumppp

[2018-03-22 02:24] damienwebdev commented on #1925
Just to add to this, I'm seeing the same thing on a fresh Ubuntu 16.04 vm.

## Steps to reproduce

### Tell us about your environment:
Puppeteer version: 1.2.0 or 1.0.0 (I tried both)
Platform / OS version: Ubuntu 16.04
Linux Kernel: 4.13.0-1011-azure
Node.js version: v8.10.0
Chrome rev from installed package.json:
[code]

`node_modules/puppeteer/.local-chromium/linux-543305/chrome-linux/chrome --

[2018-03-22 06:13] yale8848 commented on #373
@paul-pro Get it , thank you very much, it seem that change header custom is difficult.

[2018-03-22 07:12] lazurey commented on #290
If you're using lighthouse to run headless chrome, add `--no-sandbox` in `--chrome-flags` parameter may fix your error, e.g.
[code]

[2018-03-22 07:22] paul-pro commented on #373
@yale8848 possible solution is to render pdf by pages with different headerTemplates (see [this comment](https://github.com/GoogleChrome/puppeteer/issues/2089#issuecomment-374886481)) and then use third party pdf library to merge rendered pages

[2018-03-22 07:31] yale8848 commented on #373
@paul-pro get it , thanks

[2018-03-22 09:04] antoniogomezalvarado commented on #299
I'm glad it works @CanterJ :) - puppeteer versioning is indeed very delicate - I'd recommend running these in https://hub.docker.com/r/alekzonder/puppeteer/ which provides all the relevant dependencies without needing to setup the painful dependencies

[2018-03-22 10:34] grantstephens opened #2242 "Chrome remote debugging expects host header"
This is a slightly weird one and I don't think it is strictly speaking a puppeteer bug but thought I'd raise it here anyway.
Since version 1.2, when trying to connect to chrome via the remote debugging interface a host header must be specified.
This is not a problem in puppeteer per se, but we use python to get the ws address and so the python requests line now has to include `headers={'Host':''}`

[2018-03-22 11:04] Worie commented on #338
I'm struggling with it for few days, too.
I manually set the html content, css and js and I didn't find a good way to capture the moment when all assets are loaded - `page.waitForNavigation` seems to be working only for real navigating between pages. The only thing that somehow works is `await page.waitFor(10000);` which is far from optimal :/

[2018-03-22 11:10] jacobACN commented on #338
I ended up with the following:
[code]

This is because I have my HTML as a string variable. I still use goto() because otherwise I can't wait for the network to be idle. I also scroll to the bottom of the page to load all content.

[2018-03-22 11:39] larryzhuo commented on #2162
so, is there any solution, I need to use chrome to support video format, but chrome is not support puppeteer Request interception api

[2018-03-22 11:42] sowmyav82 commented on #1813
We are also facing this issue

[2018-03-22 11:46] Worie commented on #338
Big thanks @jacobACN , I haven't thought of this!

[2018-03-22 12:06] larryzhuo commented on #2162
It's work, if i set headless:true; so great

[2018-03-22 12:52] voordev commented on #1999
Also same problem On ubuntu 16
Chmod 777 same user as the node process
still not working..

this must be one of the most frustrating issues come across so far

[code]

[2018-03-22 13:47] norlover opened #2243 "How to get text with XPath expression?"
Hi,

i use this ,but not working.

var content = await page.$x("//*[@id="postmessage_30901"]/a]");
var content = await page.$x("//*[@id="aimg_DABZR"]");

Any help are appreciated.

I want full link to .m4a and .jpg  in source, do not use  (postmessage_30901 aimg_DABZR aimg_dW5J3 ) They may be variables

[1.zip](https://github.com/GoogleChrome/puppeteer/files/1837768/1.zip)

[2018-03-22 14:11] katp4 commented on #2243
this is how we do it, hope it helps
``
var xpathData = await page.$x(`xpathSelector`);
            var xpathTextContent = await xpathData[0].getProperty('textContent'),
                text = await xpathTextContent.jsonValue();
``

[2018-03-22 14:13] katp4 commented on #2240
maybe you can use BrowserFetcher ?https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-browserfetcher

[2018-03-22 14:17] vsemozhetbyt commented on #2243
XPath expressions seem invalid. Try these:
`$x('//*[@id="postmessage_30901"]/a')`
and
`$x('//*[@id="aimg_DABZR"]')`

[2018-03-22 14:20] abaksha-sc opened #2244 "Resolve URLs from Coverage"
Can't resolve URLs in Coverage tool.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Desktop Win10 Pro (Chrome 65.0.3325.181)
* Node.js version: 9.8.0

**What steps will reproduce the problem?**

1. Open any page with script which includes script by relative path. For example, page http://localhost/some/folder/page.html with <script

[2018-03-22 14:26] katp4 commented on #2239
page.click can take CSS selectors with whom you can get an element via ID, NAME, CLASSNAME, TAG, CSS SELECTOR (which the above 4 are part of), LINK_TEXT and PARTIAL_LINK_TEXT (you can use the text attribute in CSS or XPATH ).
https://www.w3schools.com/cssref/css_selectors.asp

it can also take XPATH selectors which can do whatever CSS selectors can.

[2018-03-22 14:33] katp4 commented on #2219
i don't know if it's related to your problem but both setUserAgent and browser.disconnect are promises and both should be run with the await keyword.
Also worth adding a try catch on both files to see if you can pinpoint the error.

[2018-03-22 14:43] kutsokon opened #2245 "Can't found module ChromiumRevision building by webpack"
* Puppeteer version: 1.2.0
* Platform / OS version: Windows 10
* Node.js version: 8.9.1

I use puppeteer in a production build, and I build my server by webpack, and there is a line of code:

node_modules\puppeteer\lib\Launcher.js
[code]

Inside projectRoot there is:

node_modules\puppeteer\lib\helper.js
[code]

Webpack has to resolve this path during building and put `package.json` it in a separa

[2018-03-22 14:59] norlover commented on #2243
@vsemozhetbyt

if i  use (postmessage_30901 aimg_DABZR aimg_dW5J3 )  it's variables

Other pages cannot take effect

[2018-03-22 15:00] tnolet commented on #1325
This issue is causing some minor havoc still. I'm running a bunch of instances every 5 minutes, executing the same script. The error occurs at random intervals which on scripts that work perfectly the next time. Very curious on how to solve this.

Running Puppeteer 1.2.0.

@aslushnikov I would be happy to add some specific debugging statements or logging. I could generate a ton of logging in a day

[2018-03-22 15:39] vsemozhetbyt commented on #2243
If you need variable interpolation in XPath expression, you can try these:
`` $x(`//*[@id="${variable}"]/a`) ``
and
`` $x('//*[@id="${variable}"]') ``

[2018-03-22 15:50] CaelanStewart commented on #458
@jsnanigans

I've implemented PDF generation in a web app I'm building, and I'm having the same issue.

There are 28 pages in my case. The images used in the PDF do not repeat, and there are a total of 26 images. The combined filesize of those 26 images is ~12MB.

However, the output PDF from Chrome, at about 28 pages totals ~60MB. That's almost six times the size of the input images!

I gave the

[2018-03-22 17:02] sean-hill commented on #545
@aslushnikov were these features ever implemented? I can't seem to find any resolution here or any mention of it in the docs.

[2018-03-22 17:32] ebidel commented on #2240
@aslushnikov should we add a platform config option to BrowserFetcher?

[2018-03-22 20:11] davidsielert opened #2247 "Invalid credentials provided for the upstream proxy."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: OSX 12.13.3
* URLs (if applicable): http://httpbin.org/ip
* Node.js version: 8.9.4

**What steps will reproduce the problem?**
Using node proxy-chain anonymizeProxy with puppeteer

_Please include code that reproduces the issue._
[code]
1.
2.
3.

**What is the expected result?**
that it

[2018-03-22 20:58] sean-hill commented on #1325
I'm facing this same issue. I believe it happens after calling a `goto` and then requesting a `screenshot` closely afterwards (while the page is still navigating).

[2018-03-22 21:04] sean-hill commented on #1820
@markusmobius did you find a solution for this elsewhere? @aslushnikov do you recommend any third-party mhtml generators that could work with Puppeteer?

[2018-03-22 21:38] sean-hill opened #2248 "page.url() returns invalid value"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Mac
* URLs (if applicable): https://appleid.apple.com/#!&page=signin
* Node.js version: 8.2.1

**What steps will reproduce the problem?**

Using Puppeteer Sandbox paste this:

[code]

**What is the expected result?**

For `page.url()` to return `https://appleid.apple.com/#!&page=signin`

[2018-03-22 23:02] rodoabad commented on #661
Any updates to this issue? I'm also testing against boxes like CentOS and they have a different font as a default. It looks like in order to have consistent font rendering that we have to declare @font even for default fonts.

[2018-03-22 23:08] v1nc commented on #1409
I installed the latest npm package (1.2.0) and `browser.newPage()`  freezes everytime after ~1k visited pages with the bundled chrome.  Same with v. 1.1.1.

[2018-03-23 01:59] norlover commented on #2243
@vsemozhetbyt

	const t2 = await page.$x('//*[@id="${variable}"]/a');
	const t3 = await page.$x('//*[@id="${variable}"]');
	console.log(t2,t3);

D:\node>node index.js

[] []

[2018-03-23 02:29] nojvek commented on #661
We worked around font rendering by loading the same docker image in both
Mac and Linux.

I’m glad someone invented docker. Loading a consistent universe everywhere
is super useful.

[2018-03-23 02:34] norlover commented on #2243
@aslushnikov @ashleyR94   help!

[2018-03-23 02:39] vsemozhetbyt commented on #2243
@norlover It seems we do not understand each other enough)

I mean you should define `variable` for different pages if you can suggest `@id` value.

If you cannot suggest the `@id` value, you can try other, less specific XPaths, like these:

`$x('//*[contains(@id, "postmessage_")]/a')`
and
`$x('//*[contains(@id, "aimg_")][1]')`

So the code for needed data can be like this:

[code]

[2018-03-23 02:47] vsemozhetbyt commented on #2243
Or you can make it this way:
[code]

[2018-03-23 02:48] norlover commented on #2243
@vsemozhetbyt    ohhhh great!  it is work!

but 1.html has two pic , just show only one~!

http://xxx.com/f.m4a  work
http://xxx.com/1.jpg   work
http://xxx.com/2.jpg   not work

[2018-03-23 02:52] kevinmu commented on #1159
I ran into the same problem, worked around it by doing the following:
[code]

However, even with this work-around, I still think that the fix for this issue is super high priority. Thanks!

[2018-03-23 03:00] vsemozhetbyt commented on #2243
If you need several values in arrays, try this:
[code]

or simply this:

[code]

[2018-03-23 03:11] norlover commented on #2243
@vsemozhetbyt Thank you

[2018-03-23 03:11] #2243 closed, assigned to nobody

[2018-03-23 06:17] allada commented on #1191
@gdamjan, if memory serves correct, downloading is not handled on the renderer level. This means that the webpage should never know about anything being downloaded, since it's handled on the browser level. To deal with downloads, devtools' would need to hand over all requests for every tab, since the download is not dependent on a renderer.

However, you would be able to intercept the request and

[2018-03-23 08:55] kutsokon commented on #2245
Isn't it better to replace

[code]

with this code?

[code]

[2018-03-23 09:42] jsnanigans commented on #458
I'm really not an expert, but I can try to help.
I tried to recreate this, and made a simple html page with only a tiny bit of css and 15 images that were a combined 9.9 MB.
When I generate the pdf with puppeteer its 11MB, which I think is quite acceptable.

Here are a few things I would check:
1. Try to remove the CSS and see if the size changes
2. If you have any JS then disable that and check t

[2018-03-23 10:09] dcharbonnier commented on #615
I don't think it's related to the puppeteer, I have some chrome zombie even on my linux desktop sometimes.
The solution for me was to use [tini](https://github.com/krallin/tini), my entrypoint is now :
` exec /tini -- node --harmony_async_iteration dist/bin/run.js`
I preferred tini over dump-init because it's the official docker solution but it's similar https://github.com/Yelp/dumb-init/issues/63

[2018-03-23 10:11] cakebake opened #2249 "Option to change the download- and execution-path of chromium"
**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: ARCH x86_64 GNU/Linux
* URLs (if applicable): [markdown-themeable-pdf](https://atom.io/packages/markdown-themeable-pdf) ([Currently under revision/Rewrite with Puppeteer](https://github.com/cakebake/markdown-themeable-pdf/tree/rewrite))
* Node.js version: Bundled with atom editor

**What steps will reproduce t

[2018-03-23 10:19] maxweber commented on #476
I ran into the same issue on Mac OS. Performance is critical for my use case, since I need to take a lot of screenshots to turn them into a video. On Linux the performance is fine.

I would be very thankful, if you would add a note into the README or the appropriate API [method](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagescreenshotoptions) docs with a warning about the s

[2018-03-23 11:02] j-manu commented on #1778
Even if the ToC is non-configurable i.e it is generated using h1/h2/h3/h4 with a default depth of 4  (wkhtmltopdf defaults) it would be really helpful.

[2018-03-23 11:59] thom4parisot opened #2250 "Redirect a download as a stream"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.1.1 / 1.2.0
* Platform / OS version: macOS
* URLs (if applicable): [dtc-innovation/credit-coop-statements:index.mjs](https://github.com/dtc-innovation/credit-coop-statements/blob/4b5b6d6af39360b0ad7e6dbdb593dd657032c37c/index.mjs)
* Node.js version: v8.9.4

**What steps will reproduce the problem?**

Just direct a

[2018-03-23 13:00] AntouanK commented on #1325
I don't use the screenshot thing at all.
In my case, it comes when the page I loaded, auto reloads itself ( the page code for some reason auto-reloads every 30 mins roughly )
So at that point I lose all connection to the page I think, and that error comes from within the library.
I reverted to using CRI, where I can handle that reload just fine.
I really hope puppeteer fixes this, because it's API

[2018-03-23 13:13] thom4parisot commented on #2250
A workaround I saw in another issue was to evaluate with `fetch()` to get cookies and such. It did the trick:

[code]

[2018-03-23 13:16] davidsielert commented on #2249
Puppeteer provides the executablePath as an option to launch ..
e.g.
[code]

[2018-03-23 13:36] gdamjan commented on #1191
I've added more info and example page (a simplification of a real page) here :
https://github.com/GoogleChrome/puppeteer/issues/1888

[2018-03-23 14:12] CaelanStewart commented on #458
@jsnanigans

Thank you for your response!

I cannot remove the JavaScript, because the system uses Vue to define templates in a document.

I have however removed all styles, with the exception of those that define the width/height of pages etc. such that the page count is the same. Also, as this project is time sensitive, I've not had the opportunity to work on a proper solution to isolate the doc

[2018-03-23 15:24] visualbam commented on #1853
Anyone get traction on this? I'm also having the same issue

[2018-03-23 15:25] jsnanigans commented on #458
Maybe it has something to do with the way that it translates the css styles into pdf-styling-code.. but I don't know enough about pdfs to even guess what exactly could cause the file-size to go up.

You could try to uncomment styles to find what the cause is and then remove that if you can, or you could use something like [purgecss](https://github.com/FullHuman/purgecss) to remove all the unused c

[2018-03-23 16:12] PierrickLozach opened #2251 "Not all cookies are retrieved by .cookies()"
Not sure who is responsible for this so I am creating the issue here.

When I call `var cookies = await page.cookies('https://www.google.com');`, it only retrieves 2 cookies instead of the 12 cookies that I can see the devtools in Chrome.

I searched for specific flags that could prevent cookies from being stored incorrectly but could not find anything useful.

Is Puppeteer the cause here? Should

[2018-03-23 16:24] tnolet commented on #1325
@sean-hill @AntouanK the case for me is even simpler:
- no screenshots
- no reloads

runs fine roughly 29 out of 30 times and then fails once.

[2018-03-23 17:01] davidsielert commented on #2247
On Further research I suppose this is perhaps something related to https://bugs.chromium.org/p/chromium/issues/detail?id=615947
and #1074
however I still for the life of me can't figure out why it works when I run chrome manually with the arg's vs. ran with puppeteer with the same options as args.

[2018-03-23 18:04] ThaneshR commented on #1750
@aslushnikov I spent quite a bit of time wondering why functions defined outside of page.evaluate can't be reference within it. Maybe I should have read the docs.

The approached you mentioned here (use page.evaluate to set the helper functions) is great. I think it should be part of the docs,

[2018-03-23 18:11] CaelanStewart commented on #458
That's the intention. I'm going to start with the more exotic properties.

And on the point of purgecss, all of the styles specific to the document
have been written specifically for each page. All styles specific to the
document are used.

However, upon removing the document specific styles, and leaving only the
styles used for the application (inc. Bootstrap, and other libraries)  the
file size

[2018-03-23 19:45] sean-hill commented on #299
So is there official puppeteer support for this yet?

[2018-03-23 20:33] cakebake commented on #2249
Thank you! But that would not solve the problem of defining the download directory.

Of course I can move the chromium directory to a different location after the download, but I think it would be better if it were configurable. Less error prone and cleanly resolved by the API.

[2018-03-23 22:06] sean-hill commented on #1229
I'm facing this issue as well 😢  👍

[2018-03-23 22:09] georgelesica-wf commented on #304
I don't quite see how the referenced PR really resolved this issue. In order for the `page.queryObjects` method to be useful it seems I still need to know what I'm looking for. What I think this issue was asking for is an API to allow aggregation and possibly logging of *all* objects currently allocated, probably with metadata (prototype, and so on). Am I wrong?

[2018-03-24 00:47] natew opened #2254 "Can't control tab focus or interact with tabs when not focused"
### Steps to reproduce

Desired actions are:

1. Open a tab while Chromium is not focused
2. Have tab not be selected by default
3. Have that tab do some stuff (load content, then click some things)

**What is the expected result?**

Not doable currently.

Really there's a lot I think that could avoid issues I'm running into. These two primary ones would fix it:

1. `page.bringToFront()` steals fo

[2018-03-24 09:17] yanivefraim commented on #1809
@aslushnikov - I will be happy to help with this task, but I’ll need some help (new repo?)

[2018-03-24 13:42] poupryc commented on #1837
I'm on WSL and I have the same issue.

[2018-03-24 17:28] AkA84 commented on #545
+1

[2018-03-24 19:11] AntiBlueQuirk opened #2255 ""Protocol error (Page.captureScreenshot): Target closed""
* Puppeteer version: 1.2.0
* Platform / OS version: Windows 10
* Node.js version: v8.9.4

**What steps will reproduce the problem?**

1. Call page.screenshot() with very large values for clip.width and clip.height

**What happens?**

While developing an application, I accidentally ended up calling page.screenshot() with very large clip dimensions (around 20000x30000). It took me while to trace the

[2018-03-25 07:16] vc1 commented on #2251
goole.com    the unlogged page is 2 cookies

[code]
No URL gets all of the cookies on this page

[2018-03-25 09:02] PierrickLozach commented on #2251
Makes sense. Thanks!

[2018-03-25 09:02] #2251 closed, assigned to nobody

[2018-03-25 12:18] yanivefraim commented on #2107
@JoelEinbinder - can I somehow help here?

[2018-03-25 14:34] KromDaniel commented on #2230
EDIT:

Installing puppeteer from the official instructions solved it,
I don't know why did I google it and not going directly to the docs

[code]

------------

Having similar issue, puppeteer ignores some of the styles with working on docker, local on my mac works perfect.

Example:
Taking screenshot with Text area

`<textarea xmlns="http://www.w3.org/1999/xhtml" class="gq-annotation-text" rows="

[2018-03-25 16:27] natew commented on #2254
An alternative helpful API would be to have Browser event `tabchanged`. For my specific use case I could at least wait for the user to change to the tab, then trigger my page actions. That way it wouldn't steal focus by doing bringToFront() preemptively. Sort of a lazy-load action.

[2018-03-25 17:48] ebidel commented on #2230
I'd imagine this is just a matter of modifying the Docker to install the missing fonts. Have you tried that?

[2018-03-25 17:50] jakubkratina commented on #2230
@ebidel I've tried to find what I should install for 5 hours at least, tried different configuration, but nothing didn't work. However, I don't think you should install default font like "Impact".

[2018-03-25 22:34] danopia commented on #375
The `--unsafe-perm` flag lets Puppeteer-based tools install with sudo, but afterwards I'm having problems running the program:

[code]

And `sudo my-stupid-tool` seems to annoy Chromium and launching just times out.

Is telling users to not use system-wide node the only option here?

[2018-03-25 23:41] npetr opened #2258 "Network.getResponseBody fails for some pages (No resource with given identifier found undefined)"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Windows 10
* Node.js version: v9.9.0

**What steps will reproduce the problem?**
[code]

**What is the expected result?**
Passed without errors as for "www.kernel.org" (instead of "www.forbes.com").

**What happens instead?**
Errors occured for "www.forbes.com":
[code]

[2018-03-26 00:16] npetr commented on #1813
I can confirm a similar issue with non-headless Chrome (not Chromium).

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Windows 10
* Browser version: Chrome 67.0.3379.0 (official build) canary (64bit)
* Node.js version: v9.9.0

**What steps will reproduce the problem?**
[code]

**What is the expected result?**
Non-headless mode works

[2018-03-26 00:52] ebidel commented on #2230
I don't think Impact is a default font on Linux. These might be helpful:

https://mondaybynoon.com/linux-font-equivalents-to-popular-web-typefaces/
https://packages.ubuntu.com/xenial/ttf-mscorefonts-installer

[2018-03-26 02:45] putuoka opened #2259 "failed to install on windows 10 64bit. Screenshot included"
this is what i'm doing

![image](https://user-images.githubusercontent.com/20880839/37884505-c4b3266e-30e2-11e8-88a1-3a1b07473542.png)

[2018-03-26 03:27] jeffguorg opened #2260 "Page.pdf freezed"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.0.0, 1.2.0
* Platform / OS version: CentOS 7(inside docker. host kernel ver: 4.13.0-37-generic #42-Ubuntu)
* URLs (if applicable): https://mp.weixin.qq.com/s?__biz=MzA3MTYyODU3Ng==&mid=2649751241&idx=1&sn=68be53a4a4562fc32cee7b1f3a492dc5&chksm=8731fc86b04675902ff8557d06ed279d8f1b326546c84e45eac1a495446f2e1e4786e737

[2018-03-26 03:29] SidKwok opened #2261 "`page.setUserAgent()` is not working"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: macOS 10.13.3
* URLs (if applicable):
* Node.js version: 8.10.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
`userAgent` is set.

**What happens instead?**
`userAgent` is not set

**More**
[This d

[2018-03-26 03:31] putuoka commented on #2259
the same error installation appear with different folder location (not in system32)

![image](https://user-images.githubusercontent.com/20880839/37885682-397e490a-30e9-11e8-9663-0f5d942d636c.png)

[2018-03-26 03:36] putuoka commented on #2259
sorry my bad. i forgot `npm init`

[code]

[2018-03-26 03:36] #2259 closed, assigned to nobody

[2018-03-26 05:12] putuoka commented on #1388
@ylambda how about if i get an error when page.goto() function? my url contain # symbol. i'm not even on the selecting element yet and the error comes UnhandledPromiseRejectionWarning: Error: Navigation Timeout Exceeded: 30000ms exceeded

[2018-03-26 05:21] putuoka commented on #2150
@apulidoc you have # symbol in url. puppetteer till the latest version can't handle this yet. try to shorting your url with goo.gl

[2018-03-26 06:52] mrmckeb commented on #1837
Has anyone tried this on the newest insider builds? Something close to the upcoming Spring Creator's Update?

[2018-03-26 08:24] Tmin10 opened #2262 "Problem with PUPPETEER_SKIP_CHROMIUM_DOWNLOAD"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: windows 10 x64
* URLs (if applicable): -
* Node.js version: 8.1.3 / NPM: 4.1.2

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Add `"PUPPETEER_SKIP_CHROMIUM_DOWNLOAD": true` into package.json config section.
2. Add `PUPPETEER_SKIP_CHROMI

[2018-03-26 08:30] npetr commented on #1813
**Workaround for:**

Start non-headless puppeteer session in Windows 10 like this:
`taskkill.exe /f /im chrome.exe && node non-headless-chrome.js`

Another chrome.exe instances must not be running when starting puppeteer, otherwise:
`UnhandledPromiseRejectionWarning: Error: Failed to launch chrome!`

[2018-03-26 09:18] kutsokon commented on #2245
here is my webpack config:
[code]

[2018-03-26 09:52] jeffguorg commented on #2262
try this:
[code]
or just set it in your shell and run npm
[code]
i'm not experienced in node.js, but if i'm right, process.env only reads environment variables from the parent of the process, which is your shell.

[2018-03-26 10:39] MaksJS commented on #2245
same problem here

[2018-03-26 12:09] Glennvd opened #2263 "Bug: element.screenshot() incorrect behaviour on 1.2.0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: debian jessie
* URLs (if applicable): eg. https://uk.hotels.com/ho468055/?arrivalDate=29-03-2018&cur=SEK&departureDate=30-03-2018&destinationId=&hotelid=468055&previousDateful=false&roomno=1&rooms[0].numberOfAdults=2&tab=description&validate=false&view=prices
* Node.js version: 8.9.3

*

[2018-03-26 12:23] MaksJS commented on #1644
https://github.com/GoogleChrome/puppeteer/issues/2245

[2018-03-26 12:55] pavelkuligin commented on #299
@aslushnikov can you help me understand how to implement the functionality that I want, with the puppeteer?

I want to download the file in headless mode (when I use {headless: false} all is OK).
On the page I have the link:
`<a target="_blank" href="https://...Response-80-33194866.zip=/"></a>`

If I understand correctly that puppeteer should go to the new tab after clicking to download the file a

[2018-03-26 13:08] alixaxel opened #2264 "forceKillChrome() creates Core Dump Files"
It appears that the `forceKillChrome()` method in:

https://github.com/GoogleChrome/puppeteer/blob/47481967c5344dc0ca17ebaf4bd3d9650da771d0/lib/Launcher.js#L177-L195

Results in a core dump file (~16MB) being created on every shutdown, likely because of `SIGKILL`.

In environments like AWS Lambda where disk space is severely limited, this can become problematic.

It would be nice if Chromium would

[2018-03-26 15:28] Diokuz opened #2265 "How slowMo should work?"
Its not a bug, I guess...

The question is: how exactly `slowMo` should work?

For example, I set it to `slowMo: 15000`, and the only thing happens (in non-headless mode): chromium waits 15 seconds before load page. But no delays inside tests (I have many `waitForSelector`, `keyboard.press` and `type` instructions inside tests). So, tests are executed really fast, cant see anything.

I assumed, pu

[2018-03-26 18:05] ShrujanKotturi commented on #85
+1

[2018-03-26 18:31] jdiamond commented on #1825
@bahattincinic How does stopping the parent process with waitpid help with reaping zombie processes?

[2018-03-26 22:07] silversonicaxel commented on #1342
I bumped into it. I do not need to add code, situation is pretty similar to the @rosskevin one [here](https://github.com/GoogleChrome/puppeteer/issues/1342#issue-272727304), just this is my scenario:

- Puppeteer version: puppeteer@0.13.0
- Platform / OS version: Ubuntu 17.10

I tried with different parameters as suggested in [this example](https://github.com/GoogleChrome/puppeteer/issues/1350) -

[2018-03-27 03:43] putuoka opened #2266 "UnhandledPromiseRejectionWarning: TypeError: text is not iterable"
i tried to iterate "type" function to keep puppeteer typing into page

[code]
![image](https://user-images.githubusercontent.com/20880839/37945711-13cac438-31b4-11e8-9cb8-43a7bb0d4360.png)

[2018-03-27 05:20] putuoka commented on #2266
sorry my mistake. it should not pass integer into type function

[2018-03-27 05:20] #2266 closed, assigned to nobody

[2018-03-27 06:31] nddipiazza opened #2267 "Cannot `pkg` puppeteer app due to ExecutionContext.js - SyntaxError: Unexpected identifier"
pkg version: 4.3.0
node version: v9.8.0
puppeteer version: 1.2.0

Hi all. I am having an issue launching a nodejs packaged app with puppeteer. The app works fine when launched directly from nodejs. But fails from the `pkg`'d linux app.

Here is the simple puppeteer application:

**package.json:**

[code]

**puppeteer-js-eval.js**

[code]

**Installation:**

`sudo npm install puppeteer --unsafe-per

[2018-03-27 07:34] markosii commented on #1813
I confirm, I have the same issue

I did :  `npm i --save puppeteer`

And then ` node test.js`

I have this error :

[code]

[2018-03-27 07:37] evgo2017 opened #2268 "How can I download an exe file?"
I want to download an exe file, but when it finish, the Chromium will show save or abandon. I can't fix it. And I didn't find an suitable API  like "page.download(url)".

[2018-03-27 08:08] MaksJS commented on #2267
I had the same problem with NW.js and nwjc (a tool to protect javascript source code). Nwjc convert your javascript code to V8 snapshot (like pkg I guess). When you run in "ExecutionContext.evaluateHandle" function, the first parameter is "pageFunction". Then when you start the application with node.js, everything works, you get a function like (e, t) => ... But with packaged app, you get function

[2018-03-27 08:18] vsemozhetbyt commented on #2268
If you can predict this will be a downloadable file, maybe you can just try to use `curl` with `child_process` calls?

[2018-03-27 08:34] ronalb commented on #1731
@allthesignals Hi, I'm trying to run headless with MapboxGL , it works fine in all distributions ,but
only in Centos it doesnt work. I'm using centos 7.4. do you know anything about it?

[2018-03-27 08:55] hashar commented on #1925
That is most probably https://bugs.debian.org/864606 . Should be fixed with Chromium v66

[2018-03-27 10:06] evgo2017 commented on #2268
I find a library whose name is [download](https://www.npmjs.com/package/download) .
`download(url).pipe(fs.createWriteStream(data[i].name+'.exe'));`
I get the files ~
But I find if I change the way of writing what not change the filename, it won't work.
So the question is still exist for me.
I should study the `curl`.

Thanks your advice.

[2018-03-27 10:17] frale98 commented on #1870
I have  the same error, any interesting findings here?

[2018-03-27 11:14] MJPA opened #2269 "Closing the browser when last page is closed sometimes throws an error"
**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: CentOS 7.4.1708
* URLs (if applicable): N/A
* Node.js version: v8.10.0

**What steps will reproduce the problem?**

    const puppeteer = require('puppeteer');

    const run = async () => {
      const browser = await puppeteer.launch();

      // close any open pages
      let pages = await browser.pages();

[2018-03-27 13:26] dragosrotaru commented on #2269
+1

[2018-03-27 15:10] alixaxel commented on #2264
This seems to affect only AWS Lambda environment. Related to https://github.com/GoogleChrome/puppeteer/issues/1825.

[2018-03-27 15:17] wesley-firewalla commented on #2115
@AmitMathur  the solution doesn't work for me.

[2018-03-27 15:24] alixaxel opened #2270 "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD not respected in NPM Config"
**Environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Ubuntu 16.04 LTS
* Node.js version: 8.10.0 (NPM 5.6.0)

**What steps will reproduce the problem?**

1. Add `puppeteer` as a dependency in `package.json`.
2. In the same level as `package.json`, create a `.npmrc` file.
3. Set the content of `.npmrc` to `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = "1"`.
4. Run `npm install`.

**What is the

[2018-03-27 16:20] MJPA commented on #2269
Did a bit of quick debugging, the `targetDestroyed` event is fired before `page.close()` message has been acknowledged (or rather, puppeteer has processed the acknowledgement).

I can think of ways to fix it - eg wait for a `Target.closeTarget` acknowledgement before handling the `targetDestroyed` event. How to properly do that though is another question!

[2018-03-27 16:46] antonpiks commented on #1892
chromedriver.exe is a standalone server that takes commands from Selenium Server and communicates with browser's API via JSON commands. There is nothing to do with Chrome browser itself.
To run Chrome headless you better first read this topic: https://developers.google.com/web/updates/2017/04/headless-chrome

[2018-03-27 17:21] Sharma-Rajat opened #2271 "How to download a file from a new window"
Hi Guys!

Here is my issue: When I click a `selector` to download some files a couple of windows are opened and they automatically downloaded files. All of these downloads are saved to my downloads directory on my mac instead of a directory in my node application. How can I make auto downloads in new windows opened one after the other download to a directory of my choosing?

I tried the below but

[2018-03-27 17:57] AmitMathur commented on #2115
@wenbinke can you post your request / script?

[2018-03-27 19:08] npetr commented on #794
Thank you for the hint @arsen-sargsyan. These two variants work for me:

**Variant 1** (with ".then")
[code]
**Variant 2** (with 2x await)
[code]

**Note**
On some pages (e.g. forbes.com) does not work as smooth as expected, please see #2258.

[2018-03-27 20:54] vladimir-nazarenko opened #2272 "Clipped screenshot differs from the fullpage one in content"
### Steps to reproduce

* Puppeteer version: 1.1.1
* Platform / OS version: Ubuntu 16.04
* URLs (if applicable): https://yandex.ru/search/?text=заяц
* Node.js version: 8.10.0

Reproducer:
[code]

I expect all three screenshots that are captured by this code (two fullpage and one clipped) to be the same. The fullpage screenshots are the same, but clipped is different. By different I mean that the e

[2018-03-28 00:05] krll-k opened #2273 "Windows 10 Error, debug.log"
![image](https://user-images.githubusercontent.com/2174805/38001415-4f7404a0-3235-11e8-9044-b0c777fce073.png)

[code]

[2018-03-28 00:11] krll-k commented on #2273
Solved a problem. I just closed Chrome

[2018-03-28 01:04] anthonyjdella opened #2274 "Regex on click() selector"
For click("selector_here") method, my selector is changing values randomly. So I'm trying to click on a selector that contains xyz...

For example, one time it will be "#search-keyword-901131292" then it will change to something like "#search-keyword-123891237". It's a random number.

Can I use a regex or something to select selectors that contain "#search-keyword-"?

I've tried:

- page.click ("#

[2018-03-28 01:12] vsemozhetbyt commented on #2274
See https://drafts.csswg.org/selectors-4/#attribute-substrings

You need something like this:

[code]

[2018-03-28 02:11] wesley-firewalla commented on #2115
@AmitMathur
I just used your code. You can see when headless is false, in the chromium developer tools, it doesn't change the original headers or postData, method.  You can try your code again.
I am using the latest puppeteer version.

[2018-03-28 03:16] worudso opened #2275 "Add .browser() methods to page class"
I was writing ahelper function like
[code]
which waits until popup with `name` as name and whose parent is `page` and return the popup.
But with current version of puppeteer. I have to add extra `browser` arg like below
[code]
because I can't get browser from `page`.
If `page.browser()` is there, I can omit that redundant `browser`.
[code]

[2018-03-28 03:28] AmitMathur commented on #2115
are you running headless=false?
The above code still works for me. I am assuming you are adding all the missing values like url and including query string in your script.

[2018-03-28 03:42] vc1 commented on #2245
Yesterday I tried to use rollup and I can't pack it.

[code]

 And there is a problem with circular references(https://github.com/rollup/rollup-plugin-commonjs/issues/248)

[2018-03-28 11:35] yatki commented on #1769
* Puppeteer version: 1.2.0
* Platform / OS version: Linux Mint 18 Cinnamon 64-bit
* URLs (if applicable): https://mehmet.yatki.com
* Node.js version: v8.9.4

I'm experiencing the same problem with the code below.

[code]
Weird things which are happening:
- I see my "Expand" button in the screenshot
- I see my "Expand" button in the dev console when i use `evaluate` method.
- Expand button works wh

[2018-03-28 13:18] vinaynb commented on #550
@Austinb's solution works for me too with puppeteer v1.13 and chromium 65 from dev channel !

[2018-03-28 14:16] phawxby opened #2276 "element.screenshot() stalls and the browser window turns grey"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Windows 10
* Node.js version: 8.10.0
* Jest: 5.6.0

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

elm.screenshot() should return a screenshot via a promise.

**What happens instead?**

The code stalls and eventually jest times out. Switching off h

[2018-03-28 14:26] RuslanTT opened #2277 "wrong request.postData()"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: ubuntu 16.04
* URLs (if applicable):
* Node.js version: 8.8.1

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
Hi guys, i am trying to intercept request and get raw request post data. I send 4 bytes as xhr, and wants to find them at request.

[2018-03-28 14:34] gios commented on #2242
I was testing this bug with previous puppeteer version and had the same error. Maybe this bug is related to chrome because I used v67 chrome. With v66 chrome everything is OK.

[2018-03-28 15:01] Jarrydcrawford opened #2278 "Headless PDF printing inconsistent page width and height"
I'm currently encountering some potential rounding issues with the PDF page size where I have to use an additional few 10ths of a millimetre on the width and height for the pages, the `@page`s declaration in my CSS, and also the CSS height of my `section`s to render (mostly) correctly.

Even after adding the extra mm to cover the issue, the width then increases by about 1-2mm on either side of the

[2018-03-28 15:06] nddipiazza commented on #2267
@MaksJS Hi thanks for the response. Are you saying you did get it to work? I played around with nw and came up with no solution from that. Please send me the set of steps you got the linux binary built with.

[2018-03-28 16:33] MaksJS commented on #2267
@nddipiazza Hi, yes I got it working with nw.js without any problem. You just can't use nwjc to compile to native code.

To get a binary, you could just webpack your project and use nw-builder : https://github.com/nwjs-community/nw-builder

[2018-03-28 16:54] nddipiazza commented on #2267
@MaksJS i tried that. the result was HUGE. 200+ mb.  i'm going to probably stop using puppeteer and use chrome-remote-interface. too many issues with puppeteer. not worth it.

[2018-03-28 16:56] MaksJS commented on #2267
That's normal because nw executable weights about 200mb. You could use chromedriver with selenium, it's shipped with nw's sdk.

[2018-03-28 17:15] Ndragomirov commented on #469
Cookie header is also missing if setRequestInterception is enabled

[code]
Outputs:
[code]

[2018-03-28 17:43] pbarbiero commented on #1947
Over the last 60 days, out of ~17,000 requests exactly 376 have triggered this failure scenario, about a 2% failure rate.

Still hoping for some insight into if this is a puppeteer issue or something on our end.

[2018-03-28 17:54] IAmJulianAcosta commented on #2170
@JoelEinbinder :

[code]

[2018-03-28 18:12] phawxby commented on #2276
Further investigation suggests the bug seems to exist around the `Page.captureScreenshot` command being sent to Chromium. See attached example.

[Bug demo.zip](https://github.com/GoogleChrome/puppeteer/files/1857119/Mar.28.2018.7_07.PM.zip)

[2018-03-28 18:43] phawxby commented on #2276
With `page.screenshot()` this does not occur. To emulate this I added `params.clip = undefined` to `CDPSession.send()`. This appears to fix the freezing.

[Mar 28, 2018 7_40 PM.zip](https://github.com/GoogleChrome/puppeteer/files/1857247/Mar.28.2018.7_40.PM.zip)

[2018-03-28 19:04] JoelEinbinder commented on #2170
I can't reproduce that result. Can you try running with DEBUG=* and send the output (it will be long)

[code]

[2018-03-28 19:32] phawxby commented on #2276
https://bugs.chromium.org/p/chromium/issues/detail?id=826848

[2018-03-28 20:12] aslushnikov commented on #952
We now have `browser.disconnected` and `page.close` events.

[2018-03-28 20:12] #952 closed, assigned to nobody

[2018-03-28 20:34] IAmJulianAcosta commented on #2170
@JoelEinbinder I highly suspect that this is an environment specific bug, I'll send the output, but I really think that if you try to reproduce it using my environment, you will

[2018-03-28 20:49] aslushnikov opened #2279 "TypeScript 2.8.0 fails to lint types"
TypeScript version 2.8.0 is failing to lint our codebase.

Example: https://cirrus-ci.com/task/4866025627582464

This requires some investigation; we'll use 2.7.0 for now.

cc @JoelEinbinder

[2018-03-28 22:15] phawxby commented on #2276
I have finally found the source of the issue. One of the injected libraries was sometimes inserting a blank div into the top of the body meaning this code got thrown off. `const elm = await page.$('body > *:not(script):not(style):not(link):not(meta)');`

So I think there's a case for checking to see if an element contains a width and height before trying to screenshot it. If it does not throw and

[2018-03-28 23:03] IAmJulianAcosta commented on #2170
[code]

[2018-03-28 23:18] ermyril commented on #2242
Got the same error with a Chromium 67.0.3383.0 while trying to get a docker-container to work with my laravel application, `curl {host with chrome-headless}` gives me that

Will try to get version 66 by now

[2018-03-28 23:34] #2200 closed, assigned to nobody

[2018-03-29 00:42] Paul-Pushkarov commented on #1870
I am having the same error, I am not using puppeteer, just headless Chrome, when I am trying to access certain https hosts.

[2018-03-29 00:46] JoelEinbinder commented on #2170
I tried on your environment. I even piped your protocol messages into puppeteer to simulate your run. I still couldn't reproduce. I updated the test script to what I'd try next, but I am still at a loss.

[code]

[2018-03-29 00:49] JoelEinbinder commented on #2275
I'd rather add a proper `page.on('popup')` method.

[2018-03-29 04:40] worudso commented on #2275
@JoelEinbinder I agree that we need a better way to get the parent of a popup.
But the code above is just an example and I think there can be more usages of `.browser()` method.

[2018-03-29 04:47] IAmJulianAcosta commented on #2170
This is really weird, but it was caused by https://github.com/montagejs/collections/issues/169, I was importing that package in the same script I was using for testing, and the implementation of `Array.from()` that was there, caused all the issue.

I just removed that to test and now I it works! So I'm closing this, spent a lot of time debugging this weird issue, but is nothing wrong with puppetee

[2018-03-29 04:47] #2170 closed, assigned to nobody

[2018-03-29 08:50] putuoka commented on #489
@psy901 you can iterate through it array.
[code]

[2018-03-29 10:25] DrisyaNair commented on #2241
Page frames get loaded when i added a forceful delay.

[2018-03-29 10:25] #2241 closed, assigned to nobody

[2018-03-29 10:34] DrisyaNair opened #2281 "Calling puppeteer class from a Java class"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:  v1.1.1
* Platform / OS version:
* URLs (if applicable):  Windows10
* Node.js version: 8.10

**What steps will reproduce the problem?**

I'm trying to execute the puppeteer script class from my Java class. For that i'm using the apigee-trireme.

But when i try to execute the script, i'm getting an error from the pupp

[2018-03-29 10:41] sputnick-dev opened #2282 "Need several same addScriptTag() before calling external own functions"
* Puppeteer version: 1.2.0
* Platform / OS version: archlinux x86_64
* Node.js version: 9.9.0

If I keep only the first `addScriptTag()` :

[code]

helperFunctions.js (based on `casperjs.__utils__`) :
[code]

## Error :
[code]

If instead I uncomment the second `addScriptTag()`from the script above, I get the expected object output and no error

[2018-03-29 10:47] adrfantini opened #2283 "Chromium binary permissions is only -rwx------"
Followup of astefanutti/decktape#139.

Apparently permissions for `/usr/lib/node_modules/decktape/node_modules/puppeteer/.local-chromium/linux-508693/chrome-linux/chrome` are only `-rwx------`. Please check the linked issue for more details.

[2018-03-29 11:06] lems111 commented on #550
Adding latest chrome version to stay inline with puppeteer v1.2.0 release:
`wget https://launchpad.net/~chromium-team/+archive/ubuntu/dev/+build/14506458/+files/chromium-codecs-ffmpeg_67.0.3381.0-0ubuntu1_armhf.deb; sudo dpkg -i chromium-codecs-ffmpeg_67.0.3381.0-0ubuntu1_armhf.deb`

[2018-03-29 11:15] ShawnPanxiaoming commented on #2219
Seems like it hausted all system memory and killed by centos.
Just close the issue,thanks~

[2018-03-29 11:15] #2219 closed, assigned to nobody

[2018-03-29 12:27] NagarjunPrasad1 commented on #1344
@pragmaproducts Did you find a good way to monitor the property changes?

[2018-03-29 12:46] phackt opened #2284 "Protocol error (Network.getResponseBody) on response.text() if the response body refresh the page"
### Steps to reproduce

**Tell us about your environment:**
* Puppeteer version: "1.2.0"
* Platform / OS version: Ubuntu 16.04
* URLs (if applicable): https://www.mines.org
* Node.js version: v8.10.0

**What steps will reproduce the problem?**
Hello Folks,
Requesting this url: **https://www.mines.org**, a *Protocol error* is raised when the Promise response.text() try to be resolved. Important to

[2018-03-29 12:48] TechQuery commented on #1667
I'm developing [a NPM package of Headless IE](https://github.com/TechQuery/Puppeteer-IE) which is compatible with **Puppeteer API**.

[2018-03-29 13:00] NagarjunPrasad1 opened #2285 "[Feature Request] Monitor attribute change of an element."
A way to monitor attributes for a set element will be really helpful. For example many a time an element will be displayed due to addition of classes. So a way to monitor attribute changes like class addition or deletion would be helpful.

[2018-03-29 13:05] Diokuz commented on #2162
Have the same problem, and I cannot use Chromium, because (for reasons unknown) Chromium does not render any fonts (including devtools). So, I cannot use Chromium for debugging.

[2018-03-29 13:11] scissorsneedfoodtoo commented on #2124
I had a similar problem about a month ago. Check out @Austinb's [comment toward the bottom of issue #550](https://github.com/puppeteer/puppeteer/issues/550#issuecomment-360015928) for a workaround.

[2018-03-29 13:47] scissorsneedfoodtoo commented on #550
These are slightly updated versions of the links that @jor3l posted:

[code]

[code]

[2018-03-29 14:01] aendra-rininsland commented on #2042
@VinSpee ~What did you do to resolve it?~ Anyone arriving here, try downgrading to Node8.

[2018-03-29 14:07] VinSpee commented on #2042
@aendrew here's my working example:

[code]

[2018-03-29 14:16] benjaminapetersen commented on #1870
Right.  This is pretty hard to work around since most use https these days.

[2018-03-29 14:38] ebidel commented on #2285
Doesn't waitForSelector satisfy this use case?

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectorselector-options

[2018-03-29 14:43] ebidel commented on #2281
I recommend posting a question on stack overflow. Someone in the community
will probably have experience with this :)

On Thu, Mar 29, 2018, 3:34 AM DrisyaNair <notifications@github.com> wrote:

[2018-03-29 14:43] #2281 closed, assigned to nobody

[2018-03-29 14:58] NagarjunPrasad1 commented on #2285
@ebidel I don't think that fits the case. For example in a page I am currently automating upon summiting a form a modal with a popup may come up (I say may because depending on the contents filled into the form the website sometimes sends in a popup and sometimes doesn't). Now what I want is a way to monitor this popup element, in my case the popup's "aria-hidden" attribute becomes false then I kn

[2018-03-29 18:09] Austinb commented on #2124
You cant use the chromium built library from puppeteer on PI.  You need to update your built in chromium on the PI and use that one in your code.  See @scissorsneedfoodtoo's comment above.

For builds on ARM they should disable building of the chromium by default since it does not work or fix it so it will run.  Confuses many people it seems.

[2018-03-29 18:22] Austinb commented on #550
Since this issue has gotten some action in the last week it appears that 65 maybe the last version for the 14.x series.  Version 66 is available in the beta for 16 and 17 now so its possible if you are running 14 you may run into compatibility issues until the PI's version is updated to the 16 LTS base.  You maybe able to use the non Ubuntu specific version like `67.0.3381.0-0ubuntu2` but I have n

[2018-03-29 20:39] paulirish commented on #2267
I don't know much about pkg but it seems to be using babel? if so, i imagine the `pageFunction`s that you're passing to `$$eval` are getting mixed up. You can pass strings instead of real functions to the `*eval` methods, so.... if you did that, I imagine babel wouldn't fuck things up.

You could also try disabling babel when `pkg` runs?

[2018-03-29 20:52] #1357 closed, assigned to nobody

[2018-03-29 20:55] marijanlekic commented on #2282
After await page.goto(url) first added script is not available...

Not sure whats happening in puppeteer with page if url is just a route in some js framework, will it reload a page...

[2018-03-29 22:29] sputnick-dev commented on #2282
Can't the lib add scripts to each new page automatically ?

IIRC, it's the behavior of casperjs

[2018-03-29 22:49] anthonyjdella commented on #2274
That fixed it. Thank you! @vsemozhetbyt

[2018-03-29 22:49] #2274 closed, assigned to nobody

[2018-03-29 23:45] bean5 commented on #1270
Assuming I have this same issue (sure smells like it), this also occurs in headfull if you manually set `--user-data-dir=/tmp/someFolder/`. This might be a different case, though. It appears that if I update indexedDB while in headfull, close, then reopen in headfull, the changes did not persist (so headfull can't read headfull). Same thing happens between the other permutations of pairings: headl

[2018-03-30 00:49] sradu commented on #1229
@aslushnikov  Would it be possible to make evaluateOnNewDocument work as well?

[2018-03-30 01:20] Sharma-Rajat commented on #2271
any updates on this?

[2018-03-30 01:44] aslushnikov commented on #2285
@NagarjunPrasad1  There are fancy CSS selectors that select based on node attribute value: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors

In case of the popup, the following should do:
[code]

Similar technique will do for class manipulations:
[code]

[2018-03-30 02:02] aslushnikov commented on #1229
@sradu it does work for me; here's the test atop of #2289:

https://github.com/aslushnikov/puppeteer/commit/b075337ab02530d0dc711891d82288bb970c2017

Do you have a scenario I can repro?

[2018-03-30 02:07] sradu commented on #1229
Thanks @aslushnikov! I read the commit log and didn't make the connection that all evaluate() functions are going to work now.

Just yesterday we saw a CSP error using an older tree. We'll retest in the next two days.

[2018-03-30 04:02] ebidel commented on #2285
`:has()` [isn't in browsers yet](https://caniuse.com/#feat=css-has), but you can definitely do similar to what @aslushnikov suggests and wait for the class to be added )and therefore, the selector to match):

[code]

If it's already applied, you can wait for it to be removed:

[code]

[2018-03-30 04:02] ebidel commented on #2285
Going to close. I think we covered all the scenarios :)

[2018-03-30 04:02] #2285 closed, assigned to nobody

[2018-03-30 05:45] adelriosantiago commented on #1853
Same issue here! Any idea or workaround for this?

[2018-03-30 08:40] aslushnikov commented on #1229
@sradu Well, actually `evaluateOnNewDocument` should work on 1.2.0 with CSP. I did the test atop of that PR so that I can re-use the testing infrastructure for the CSP.

Do you have an example I can play with?

[2018-03-30 11:58] cakebake commented on #1853
I have built a template to solve the following problems:

- JavaScript in header and footer (similar possibilities as with phantomjs)
- Same CSS as in the body
- Display of images by base64

@ovheurdrive theoretically you just have to pull the style tags out of the body and assign them to header, footer

Code

- Blame/History: https://github.com/cakebake/markdown-themeable-pdf/blame/rewrite/lib/ap

[2018-03-30 12:05] cakebake commented on #2167
Maybe it helps, or is an drive for your own thoughts: https://github.com/GoogleChrome/puppeteer/issues/1853#issuecomment-377509877

[2018-03-30 13:36] abaksha-sc opened #2291 "Wrong coverage"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Chrome 65.0.3325.181, Windows 10
* Node.js version: 9.8.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Open file index.html from attachment [coverage.zip](https://github.com/GoogleChrome/puppeteer/files/1863701/coverage.zip)
2. Get co

[2018-03-30 14:31] yanivefraim commented on #1434
@aslushnikov - can I help here? (:

[2018-03-30 19:01] awesomenkj opened #2293 "navigation timeout errors occurred after loaded page fully."
`
	// click checkout button
	await page.click('aside.aside a[href="/checkout"]').then(() => {
		console.log('Going to Checkout Page')
	})
	.catch(err => {
		console.log(err)
	})

	 await page.waitForNavigation()
`

This is my code.

It always makes navigation timeout error even though page is loaded already.

[2018-03-30 19:12] rclai commented on #1853
I also noticed that if you stick a `style` tag in your header/footer templates, the CSS doesn't all work right. Font sizes are different, custom font family is not changeable it seems, etc, it's weird.

[2018-03-30 19:18] awesomenkj commented on #1421
same here

[2018-03-30 19:37] #2037 closed, assigned to JoelEinbinder

[2018-03-30 19:38] vsemozhetbyt commented on #2293
See https://github.com/GoogleChrome/puppeteer/issues/1412
Especially https://github.com/GoogleChrome/puppeteer/issues/1412#issuecomment-345482273

[2018-03-30 21:11] chris-macdonald commented on #1229
Thanks @aslushnikov! I've got tests that were passing with an interception workaround (thanks @niieani for the idea)... removed the interception, installed from your fork and the tests still pass. :)

[2018-03-30 22:00] motleycrew opened #2294 "Getting non-standard "global" variables defined on the window object."
Hi there,

I am trying to get non-standard global variables defined in window objects set by different libraries for ex. Crypto mining etc..

For Example:. https://google.com
https://urlscan.io/result/0746f68b-e552-48b6-99d6-d6834a5184a4#behaviour

I am unable to do so. I have already tried slack channel but no response.

This is what have tried

[code]

Any pointers will be great.

[2018-03-30 23:04] vsemozhetbyt commented on #2294
If you need to get all `window` properties as a list of strings, you can try this:

[code]

[2018-03-30 23:49] motleycrew commented on #2294
thanks this is useful but I am looking to just get variables unique to each page.  Another example

https://urlscan.io/result/3c174cb5-3464-48a8-893f-c0e6c85b106e#behaviour

iterating through all fields will be expensive (time wise)

[2018-03-31 01:18] vsemozhetbyt commented on #2294
Something like this then?
[code]

[2018-03-31 01:37] motleycrew commented on #2294
Thanks @vsemozhetbyt

Interesting approach. This solution looks closer to what my use case. I can't fetch two pages every time I  scan a website.

I need come up with  a way to filter commonly used variables without fetching another page.

[2018-03-31 01:41] vsemozhetbyt commented on #2294
@motleycrew Maybe you can cache `commonProperties` in a file?

[2018-03-31 02:04] vsemozhetbyt opened #2295 "page.evaluate() throws and hangs if returned value is an array with Symbol"
* Puppeteer version: v1.2.0-post
* Platform / OS version: Windows 7 x64
* URLs (if applicable): any
* Node.js version: 8-10

[code]
[code]

[2018-03-31 02:11] vsemozhetbyt commented on #2294
BTW, beware https://github.com/GoogleChrome/puppeteer/issues/2295

If `window` contains Symbol keys, `Object.getOwnPropertyNames(window)` can be used instead of `Reflect.ownKeys(window)`

[2018-03-31 10:07] banxian commented on #678
@flyxl I used your code in project to forward all request to proxy, but it introduced some 502 error from server. sure directly add proxy config in launch options works fine.
I guess the problem is triggered by resorted request order, and conflict to servers logical.

[2018-03-31 10:14] AndreasZeiser commented on #2270
You should use the lower cased version of `PUPPETEER_SKIP_CHROMIUM_DOWNLOAD` in `.npmrc`. `puppeteer_skip_chromium_download=true` works for me.

[2018-03-31 11:57] alixaxel commented on #2270
@AndreasZeiser Ah, it works! Thanks for this insight. :+1:

[2018-03-31 11:57] #2270 closed, assigned to nobody

[2018-03-31 11:57] alixaxel commented on #2262
@Tmin10 Check the solution on #2270.

[2018-03-31 15:45] putuoka commented on #1421
same here
using waitForNavigation, promise all, and waitForFunction doesn't work. The page loaded after submit not in full DOM yet the next command has executed. so no other choice only use .waitFor() is working for now

[2018-03-31 18:36] yanivefraim commented on #1166
Just tested this on Mac using Puppeteer V1.0.0 and it V1.2.0 - everything was working perfectly for me...

[2018-03-31 23:04] ai0 commented on #645
beautiful feature, bump

[2018-04-01 07:48] banxian commented on #1479
@Oleg-Arkhipov  sometimes (await browser.pages())[0] return an undefined object (about 10 in 40 parallel browser instance). I think it's better check pages() length and then wait for blank page created or just fallback to newPage() call.

[2018-04-01 21:15] hanvyj commented on #338
Great solution! I'm also loading things from a string. Seems like setting the content should behave the same way to me. I just assumed networkidle0 was broken.

[2018-04-01 23:42] purch-FE commented on #478
Is it possible please to merge https://github.com/michaelshiel/puppeteer fork with his screencast.js ?
even if i did not understood why i get this issue using his code :
[code]

[2018-04-01 23:45] purch-FE commented on #2175
it is not allowing to generate a video from a headless chrome using a local html file is it ?

[2018-04-02 00:19] alixaxel commented on #1325
Also ran across this while doing `page.evaluate`. Downgrading to 1.1.0 solved the problem for me.

[2018-04-02 00:19] #2264 closed, assigned to nobody

[2018-04-02 02:43] ebidel commented on #2148
Ping.

[2018-04-02 07:30] rhinenoir commented on #305
[code]
works better for me.

[2018-04-02 09:31] YogeshSinghChouhan opened #2298 "page.setViewport() throws and hangs if height parameter is not specified"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:1.2.0
* Platform / OS version:Windows 10
* URLs (if applicable):any
* Node.js version:8.9.4

**What steps will reproduce the problem?**

[code]
**What is the expected result?**
Screenshot with default height.

**What happens instead?**
[code]

[2018-04-02 11:01] tomgallagher commented on #2282
Need to find an event to hook onto where you can add the script tags on each new page load.

[2018-04-02 11:32] tomgallagher commented on #1489
The framenavigated solution works but with a lag unfortunately. So if you're trying to see how the page changes from first mainframe request, say with a Mutation Observer, lots of changes are missed before the script loads.

[2018-04-02 12:23] techdiary commented on #507
`Unhandled Rejection at: Promise Promise {
  <rejected> Error: Protocol error (Runtime.evaluate): Session closed. Most likely the page has been closed.
    at CDPSession.send (/Users/aayush/Documents/projects/bjAuto/node_modules/puppeteer/lib/Connection.js:185:29)
    at ExecutionContext.evaluateHandle (/Users/aayush/Documents/projects/bjAuto/node_modules/puppeteer/lib/ExecutionContext.js:65:77)

[2018-04-02 13:28] khmy2010 opened #2299 "Cookies broken into half"
I set cookies in one page using following code:
`       await this.page.setCookie({ name: 'session', value: session });`
        `await this.page.setCookie({ name: 'session.sig', value: sig });`
        `await console.log('before refresh: ', await this.page.cookies());`
      `  await this.page.goto(`${BASE_LINK}`, {
            timeout: 0
        }); //refresh`
      `  await this.page.waitFor('a

[2018-04-02 14:10] NagarjunPrasad1 opened #2300 "targetcreated not getting triggered in headless mode"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0
* Platform / OS version: Ubuntu
* URLs (if applicable): cannot specifiy
* Node.js version: 9.4.0

**What steps will reproduce the problem?**
Clicking a button gives me a popup window. When I initiate the click with headless mode the targetcreated event gets triggered fine and I get the expected output. While d

[2018-04-02 16:02] soldair opened #2301 "window.crypto.subtle missing from bundled chrome version"
hey folks. its hard to say even from your instructions on opening issues where this should be so thank you very much to start with for your time.

for some reason window.crypto.subtle crypto is missing from the headless chromium installed with puppeteer.

I believe this is an unintentional bug because the chromium version installed  >=67 should have shipped that api.

### Steps to reproduce
`conso

[2018-04-02 16:16] soldair commented on #2301
i feel very silly.this is because of the secure origins rule.
it seems that browser.newPage() loads an insecure context

[2018-04-02 16:16] #2301 closed, assigned to nobody

[2018-04-02 16:20] ebidel commented on #478
@purch-FE That solution produces image frames, not a video file. You can already get screenshot frames in a trace. https://github.com/GoogleChrome/puppeteer/issues/478#issuecomment-341623663

[2018-04-02 16:55] aslushnikov commented on #1325
@tnolet the logs generated by "DEBUG=puppeteer:session" will help a lot to debug this.

[2018-04-02 19:13] cakebake commented on #2249
Oh! I missed the `path` option in puppeteer.createBrowserFetcher([options])!

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteercreatebrowserfetcheroptions

[2018-04-02 19:13] #2249 closed, assigned to nobody

[2018-04-02 19:21] JacobDB commented on #1837
Just tested in 1803, seems to work on this build (only tested on project though).

[2018-04-02 19:21] cakebake commented on #1853
Right... I have just noticed. The CSS in the footer template overwrites / adds to the header template! I think in the background a DOM is built for both. font-size "rem" does not work either.

So my template has somehow become useless...

[2018-04-02 22:01] ctsstc commented on #628
I had issues with what @paulirish had above.
This is what ended up working for me (pretty much the same as @zoutepopcorn just a bit cleaner #oneLiner)

[code]

[2018-04-02 23:05] ctsstc commented on #537
Has this not been added to the documentation yet? I see there's `waitForXPath` and `$x`

[2018-04-03 00:44] KevinGrandon commented on #1325
Able to reproduce this anytime when the page decides to navigate itself. Would a simple test case help the team here?

[2018-04-03 00:44] KevinGrandon commented on #2222
Probably the same issue as #1325

[2018-04-03 03:43] aslushnikov commented on #1166
@yanivefraim this still doesn't work for me on tip-of-tree: I never get to see the "forward" in the console.
A quick debugging revealed that we don't receive any lifecycle events after navigating forward.

[2018-04-03 03:44] aslushnikov commented on #537
@ctsstc the `page.xpath` got renamed later into `page.$x`.

[2018-04-03 03:50] aslushnikov commented on #1325
@KevinGrandon This looks similar to the situation described in the second part of [this comment](https://github.com/GoogleChrome/puppeteer/issues/1325#issuecomment-350656366). What would you expect the command to return instead of exception?

Also, note: there's a FR for the [navigation lock](https://github.com/GoogleChrome/puppeteer/issues/823) that should help here.

[2018-04-03 04:12] kwkbtr commented on #2262
I tried this by adding the following to `package.json` and it did not work:

[code]

According to [npm documentation](https://docs.npmjs.com/files/package.json#config), the variable specified in `package.json` is prefixed by `npm_package_config_`, not `npm_config_`.
It would be useful if the [install.js](https://github.com/GoogleChrome/puppeteer/blob/master/install.js#L23) checks the former one to

[2018-04-03 08:08] cakebake commented on #2278
Hi!

Did you test both with the same Chromium revision? As far as I've seen the source code, the rendering and the calculation does not happen via the API, but in Chromium. There may also be differences between Chrome and Chromium here.

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-browserfetcher

[2018-04-03 08:38] aslushnikov commented on #1809
@yanivefraim I'd like to start with a `puppeteer-core` package: puppeteer that doesn't download chromium when installed.

We have a need for the `puppeteer-core` for quite some time, and since pptr itself is pretty slim, it might address this particular usecase.

[2018-04-03 10:39] yanivefraim commented on #1809
@aslushnikov - great! I would really like to help with this, if possible.

If it is ok by you (that I will work on this feature) - do you want this package to be in a different repo?

[2018-04-03 12:11] siggerzz commented on #2293
@vsemozhetbyt From my experience this only works 50% of the time, for me.

[code]

It tends to work when navigating, however if you just want to click an element, and then wait for a network request to finish (with no navigation), it doesn't work. This only became an issue when updating from 0.13.0 > 1.2.0

[2018-04-03 13:48] abaksha-sc commented on #2291
That's a bug of Chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=827530

[2018-04-03 13:48] #2291 closed, assigned to nobody

[2018-04-03 15:16] CaelanStewart commented on #2278
I've been facing the same issue. I think you are right in that this problem relates to rounding errors.

In the specific use case I'm dealing with, I had successfully gotten other page sizes flush with the edges by, as you mentioned, adding on fractions of a MM by trial and error.

However, I just could not get the edges flush when specifying the width/height in MM on a particular size of page, I

[2018-04-03 17:28] ptppan commented on #1325
I've been seeing this issue as well. Any news on said issue?

[2018-04-03 17:40] Jarrydcrawford commented on #2278
Hey @cakebake. I’m not 100% sure but I’ll double check and if not I’ll use the API you referenced and give back a result soon.

[2018-04-03 17:42] sgtpepper9907 opened #2303 "Footer and Header not displaying"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: MacOS 10.13.3
* Node.js version: 9.7..1

**What steps will reproduce the problem?**
Create a pdf and set  a `headerTemplate` and `displayHeaderFooter` to `true`

[code]
**What is the expected result?**

Example pdf should contain a header with the text "Example header"

**What happens i

[2018-04-03 17:48] pklingem commented on #2120
reproduced in 1.2.0.  Is this simply not possible with current chromium/puppeteer?  It would seem that puppeteer would need to serialize a file to send over the websocket for this to work.

[2018-04-03 17:50] sgtpepper9907 commented on #2303
I wasn't setting a margin top so the header couldn't be displayed

[2018-04-03 17:50] #2303 closed, assigned to nobody

[2018-04-03 18:37] JacobDB commented on #1837
Testing on another machine, I'm getting an "unhandled promise rejection" error. Testing some more, will report back... Using [this test script I wrote](https://github.com/JacobDB/critical-test).

[code]

[2018-04-03 18:53] hermano360 commented on #2261
Have you tried using the following useragent:

Mozilla/5.0 (iPhone; CPU iPhone OS 11_0 like Mac OS X) AppleWebKit/604.1.38 (KHTML, like Gecko) Version/11.0 Mobile/15A372 Safari/604.1

That was the fix for me.

[2018-04-03 18:53] JacobDB commented on #1837
Testing on my original machine, getting the exact same error. This worked once, no clue why it wouldn't be working now. Scanning through the code where the error is occurring, it seems that the problem is something to do with the `forceKillChrome()` function, possibly related to how it checks what plat form it's being run on.

[This is the line that's causing the error.](https://github.com/GoogleC

[2018-04-03 19:03] RobinNagpal commented on #1321
This worked
[code]
Copied from
https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#tips

[2018-04-03 20:26] JacobDB commented on #1837
I just installed Chromium via `sudo apt-get install chromium-browser` (via https://github.com/GoogleChrome/puppeteer/issues/1700#issuecomment-369807464), and it started working with my basic test script, but still doesn't work with my gulpfile for some reason, not sure what the difference is.

[2018-04-03 23:08] tnolet commented on #1325
@aslushnikov I will add debugging ASAP and report back

[2018-04-04 04:29] playgamelxh opened #2308 "Does it support Mac keyboard ,example:fn command"

[2018-04-04 04:33] evenstensberg opened #2309 "Page.click(selector) or Handle.click throws error with target closed"
**Tell us about your environment:**

* Puppeteer version: 1.2
* Platform / OS version: Macbook Pro 2017 10.13.3 / Darwin
* URLs (if applicable): uit.no/canvas
* Node.js version: 9.6.1

**What steps will reproduce the problem?**
1.
Run this file:

[code]

**What is the expected result?**
Puppeteer doesn't throw on clicked element.

**What happens instead?**
[code]

But doing the same thing ( querys

[2018-04-04 05:13] aanavaneeth opened #2310 "Page evaluate is throwing syntax error if I bundle the script with pkg"
When I use `page.evaluate` (puppeteer 1.12.0, chrome 65 installed in program files directory windows 7) in script, I was able to run it when I invoke script using `node src/app.js`. <br/>
But, When I package the script into an executable using `pkg` (https://github.com/zeit/pkg/), `page.evaluate` is throwing an error saying `syntax error in evaluatehandle line 79`. I had to build with pkg because

[2018-04-04 07:55] cakebake commented on #2278
I think that the Puppeteer project can do little because most of it runs in Chromium. Printing with Web technology is so incredibly tedious ...

In order to provide the same units for my project with screenshots and PDFs, I convert them into pixels.

https://github.com/cakebake/markdown-themeable-pdf/blob/f0ad353506f2fab9e3ff58a97e1e7f872758d132/lib/api/convert/headlessChrome.js#L65

[2018-04-04 08:40] vsemozhetbyt commented on #2309
You need one more `await`;
[code]

[2018-04-04 08:56] evenstensberg commented on #2309
Okay, I'll try it out, thanks!

[2018-04-04 08:56] #2309 closed, assigned to nobody

[2018-04-04 11:16] MartonEstok commented on #1870
I see the same problem

[2018-04-04 13:16] slothyrulez commented on #575
@madisvain @michaelfward If chrome / chromium is not a requirement > https://marionette-client.readthedocs.io/en/master/

[2018-04-04 16:34] Paul-Pushkarov commented on #1870
There is an issue for that in `Chromium` tracker. Unfortunately 8-month old, so it does not look like it has priority :(
https://bugs.chromium.org/p/chromium/issues/detail?id=757181
Please go there an vote.

This issue might be a duplicate of this https://github.com/GoogleChrome/puppeteer/issues/963

[2018-04-04 16:47] dutchsparks opened #2311 "Page is not defined- nested function"
**Tell us about your environment:**

* Puppeteer version: 5.7.1
* Platform / OS version: Sierra 10.12.4
* URLs (if applicable): https://google.com
* Node.js version: v8.9.4

_Please include code that reproduces the issue._

[code]
**What is the expected result?**
I would expect the script to make a screenshot because the if condition is true.  And with page.evaluate being a nested function it shou

[2018-04-04 18:26] vsemozhetbyt commented on #2311
`page.evaluate()` calls its callback in the browser context, where `page` (defined in the `puppeteer` (Node.js) context) is not available. You can return boolean value from this function, check it in the `puppeteer` context and call `page.screenshot()` there.

[2018-04-04 20:15] dutchsparks commented on #2311
ooh,that explains a lot, thank you.
Would you be willing to elaborate a little on how to check the Boolean value in the puppeteer context ?
I looked in the puppeteer documentation and there are no conditionals in there right ?

[2018-04-04 20:27] vsemozhetbyt commented on #2311
I mean something like this:
[code]

[2018-04-04 20:48] dutchsparks commented on #2311
[deleted]

[2018-04-04 20:53] vsemozhetbyt commented on #2311
In the `page.evaluate()` parameter function you can use any JavaScript syntax and globals you usually use in the browser scripts. You can return any value that can be safely serialized/deserialized (primitives, simple data structures).

[2018-04-04 21:06] #2279 closed, assigned to nobody

[2018-04-04 21:11] aslushnikov commented on #1809
@yanivefraim I'd rather have everything in one place for simplicity. The only difference between `puppeteer` and `puppeteer-core` is install script. Ideally, we'd have `package.json` and `package-core.json` and just publish from them, but as far as I understand, npm doesn't let us do this.

Definitely! I don't think there'll be much code here, but if you explain us how to publish several packages

[2018-04-04 21:13] aanavaneeth commented on #2310
I was able to guess the reason. The issue is with `pkg`. While building the `exe`, it is compiling/transpiling code. This is causing issue. I have modified the parameter to evaluate from `function` to `string`. It simply worked!!

[2018-04-04 21:13] #2310 closed, assigned to nobody

[2018-04-05 01:17] Sharma-Rajat commented on #2271
lmao? anyone..?

I changed it and got it working sort of.. Basically when I click a selector usually more than one page opens in new windows and start downloads automatically. I can catch 2-3 out of 5 of the downloads that occur with the code below... Any ideas on how to catch all of the downloads from all open windows as soon as they open?

[code]

[2018-04-05 06:48] NagarjunPrasad1 opened #2313 "[Bug] Unable to use page.pdf with pages having embed tag of type application/pdf?"
In a page I am automating upon clicking a button a new tab opens up inside which is the pdf I want to obtain. The problem is that in `headless:false` I am able to get the page easily but in `headless:true` it currently doesn't work.
The page I am trying to get the pdf from:
[code]

My current code to obtain the document:
[code]
The bug here is that with the above code in `headless:true` the url is

[2018-04-05 09:55] Christilut opened #2315 "Puppeteer in Bitbucket Pipelines timeout"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* jest-puppeteer version: 2.2.3
* jest: 22.4.3
* Platform / OS version: Linux, docker: `timbru31/node-chrome`
* URLs (if applicable):
* Node.js version: 8.x

**What steps will reproduce the problem?**

So I'm using jest-puppeteer to run e2e tests in headless chrome. This works fine on my machine. The problem st

[2018-04-05 11:20] CaelanStewart commented on #458
@jsnanigans

Hi, I've found the culprit! Sorry I took a while, we decided to neglect the size issue in favour of more pressing concerns.

It was the fact that we used background-images. To allow images of arbitrary aspect ratio in a container of fixed ratio, we used background-size: cover; rather than using object-fit: cover; such that the editor screen would function in IE and earlier versions of

[2018-04-05 11:41] leem32 opened #2316 "how to abort requests in Puppeteer with a timeout"
Puppeteer: 1.2.0
Node: 9.6.1

When taking screenshots with Puppeteer I notice that some aren't taken because a script on the website takes to long to load which triggers the `goTo` timeout (after 60 secs). I don't want to increase the timeout any more and even if I did some scripts still don't load because they hang indefinitely.

How can I abort scripts which take to long to load??

I notice `req

[2018-04-05 11:54] jsnanigans commented on #458
@CaelanStewart thats awesome, thanks for letting us know about this strange behavior

[2018-04-05 13:51] matthewmueller opened #2317 "about:blank throws errors while using window.localStorage"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: OSX

**What steps will reproduce the problem?**

(no code needed)

1. Go to `about:blank` in the browser
2. Open the console and type `window.localStorage`

**What is the expected result?**

[code]

**What happens instead?**

[code]

---

For running browser unit tests, many times you j

[2018-04-05 14:54] gtaltemann opened #2318 "Headful and Headless mode have different tab indexes"
When running Puppeteer on Headful mode, whenever I click something that opens a new tab I can use `const newPage = await browser.targets()[3].page()`.

However, this doesn't work in headless mode, as `const postPage = await browser.targets()[3].page()` is actually my first page, and `const postPage = await browser.targets()[4].page()` becomes the new page.

Why am I getting this difference between

[2018-04-05 14:58] Christilut commented on #2315
Okay figured out that it was because of an IP whitelist which did not include the Bitbucket IP's. Ajax calls were getting an error which wasn't visible in the test output.

[2018-04-05 14:58] #2315 closed, assigned to nobody

[2018-04-05 17:10] leem32 commented on #1159
This is a major problemo. Hope it gets fixed soon.

[2018-04-05 17:13] caseq commented on #963
This is now fixed upstream:  https://chromium.googlesource.com/chromium/src.git/+/c8f0691b18dc5d941d5b6b3c67a483da02400670

[2018-04-05 17:14] leem32 commented on #2216
Just noticed my question is a dupe of [#1159](https://github.com/GoogleChrome/puppeteer/issues/1159#thread-subscription-status)

[2018-04-05 20:22] michaeldrouin commented on #2211
from my own independent testing, i've also found that headless chrome is using at least double the memory that phantomjs was to do the same tasks.

[2018-04-05 20:36] drmrbrewer commented on #2211
@michaeldrouin what about CPU?

[2018-04-05 20:38] michaeldrouin commented on #2211
@drmrbrewer  to be honest, i for some reason didn't measure CPU, so i'm not too sure. i ran the tests about 2 months ago.

[2018-04-05 23:20] JoelEinbinder commented on #2317
This is working as intended. You should probably be running a web server when running your unit tests. There are many differences between about:blank, a website on an insecure origin, and a website on a secure origin.

If you just want a blank page on an arbitrary url, you can set that up with request interception:
[code]

[2018-04-05 23:29] JoelEinbinder commented on #2300
It doesn't look like you are `await`ing your clicks. Additionally, the `browser.on('targetcreated')` listener needs to be set up before the click method is called, otherwise there is a race between when the listener is added and when the new target is created. I wouldn't be surprised if this code is very racy, and headless being a bit faster would have different results.

I'd try something like th

[2018-04-06 03:46] matthewmueller commented on #2317
Ahh, that's brilliant. Thanks @JoelEinbinder!

[2018-04-06 03:46] #2317 closed, assigned to nobody

[2018-04-06 04:54] matthewmueller commented on #2317
For anyone coming to this at a later time, this is what I ended up going with:

[code]

Going to `127.0.0.1` ended up being about 12x faster, dropping the overhead from 120ms to 10ms, I presume because it doesn't have to do any DNS. Thanks again!

[2018-04-06 06:16] NagarjunPrasad1 commented on #2300
@JoelEinbinder I found out that this is may not be due to `targetcreated` being triggered but due to any new page of the type mentioned in #2313 not being detected in headless:true. I can confirm this as I couldn't obtain the pdf from 2 completely different websites with embedded pdf.

[2018-04-06 06:24] kyriakos commented on #1853
Inlining CSS in footer / header works correctly. Its a workaround to do the trick for now till this issue is fixed.

[2018-04-06 07:17] peterschrott commented on #1429
Are there any updates on this?
I am forcing the same issue on OSX wit the following configuration:
[code]

Setting `headless` to `true` /  `false` results in a different error tho.
On `headless: false`, I get an OSX error windows showing: "Chromium quit unexpectedly - Click Reopen to open the application again. Click Report to see more detailed information and send a report to Apple."

Plus, when

[2018-04-06 08:11] NagarjunPrasad1 commented on #1872
Any updates on this yet? I want the ability to just get the pdf but it's the same for me as well!

[2018-04-06 09:16] lixiii commented on #1999
I tried running `chmod 777 node_modules/puppeteer/.local-chromium/linux-536395/chrome-linux/*` as well but for me the folder `linux-536395` doesn't exist. Mine is a different version `linux-543305`. And it worked on this folder. Maybe you should check whether the folder exists. Hopefully that helps.

[2018-04-06 12:32] panthony commented on #1936
Same issue, tried `--allow-running-insecure-content` with no luck.

@GregRos Can you somewhat retrieve a response using this method? What was the status code, the HTTP headers, etc?

How do you navigate without goto? Do you use `evaluate(() => window.location = url)`?

**Edit:**

I tried something like this instead of using `goto`, does the work, probably not be bulletproof

[code]

[2018-04-06 13:43] ghost commented on #1378
Is this issue already taken care? Or is there something known already that can work as a work around to get all the request's data?

[2018-04-06 16:16] tanvee38 commented on #1726
Great work by JoelEinbinder and aslushnikov. Eagerly waiting to see the ```waitFor*``` functions support to wait for ```elementHandle``` in the next Puppeteer release.

[2018-04-06 16:51] vc1 commented on #1378
@nadais  Looks like it can work

https://try-puppeteer.appspot.com/
![image](https://user-images.githubusercontent.com/9018903/38433305-e7618e94-39fc-11e8-85ad-4c6eb2b087db.png)

[code]

https://github.com/GoogleChrome/puppeteer/blob/master/examples/block-images.js
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-targetcreated
https://github.com/GoogleChrome/puppeteer/blob/m

[2018-04-06 17:40] QuentinWangWJJ commented on #1485
I met the same issue. const page = await browser.newPage(); seems not work on iis7

[2018-04-06 17:50] QuentinWangWJJ commented on #1828
same issue running on iis

[2018-04-06 18:17] agat opened #2321 "Problem with launch Chrome with GUI on Ubuntu 14.04(circleci)"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Ubuntu 14.04
* Node.js version: 9.10.0

**What steps will reproduce the problem?**

We need test chrome extension with ava and puppeteer with circleci.

Browser run code:

[code]

Circleci config

[code]

**What is the expected result?**

Browser run in `headless: false` mode.

**What h

[2018-04-06 19:17] rageshpayyan commented on #598
@ebidel ,My application built in Angular, what is the page event when i click any of the link or change route? I tried using await page.on('framenavigated', frame => {...}); which is fired only at first time, after i clicked any of the links in page this event is not fired.

[2018-04-06 19:17] rageshpayyan opened #2322 "page event when i click any of the link or change route"
@ebidel ,My application built in Angular, what is the page event when i click any of the link or change route? I tried using await page.on('framenavigated', frame => {...}); which is fired only at first time, after i clicked any of the links in page this event is not fired.

[2018-04-06 20:26] QuentinWangWJJ commented on #1523
Same issue hang on iis

[2018-04-06 20:28] tsuna commented on #2207
It's a glibc bug: https://sourceware.org/bugzilla/show_bug.cgi?id=19329, I ran into it today using Puppeteer as well.

[2018-04-06 20:28] aslushnikov commented on #2322
@rageshpayyan this sounds like a same-document navigation that's not very-well supported atm. Please follow #257 for the updates.

[2018-04-06 20:28] #2322 closed, assigned to nobody

[2018-04-06 20:29] #2207 closed, assigned to nobody

[2018-04-06 23:35] #1229 closed, assigned to nobody

[2018-04-07 00:51] aslushnikov commented on #1429
There are good chances this will be fixed as the upstream patch lands: https://chromium-review.googlesource.com/c/chromium/src/+/1000730

[2018-04-07 01:26] aslushnikov commented on #963
@caseq awesome, I confirm this is working on tip-of-tree!

[2018-04-07 01:26] #963 closed, assigned to nobody

[2018-04-07 02:20] aslushnikov commented on #1434
@yanivefraim please go ahead!

[2018-04-07 03:06] aslushnikov commented on #476
@maxweber Done: https://github.com/GoogleChrome/puppeteer/pull/2326 In future, feel free to send a PR - we'll appreciate it!

Sounds like https://github.com/GoogleChrome/puppeteer/issues/478 might be interesting for you

[2018-04-07 03:11] aslushnikov commented on #1820
@sean-hill I'll refrain from recommending here: I don't have much experience with any

[2018-04-07 03:14] aslushnikov commented on #2240
@ebidel: It's already possible create browser fetchers for different platforms, passing the "platform" option to [`puppeteer.createBrowserFetcher()`]( https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteercreatebrowserfetcheroptions).

Hope this helps!

[2018-04-07 03:14] #2240 closed, assigned to nobody

[2018-04-07 03:17] aslushnikov commented on #317
@itaysabato we don't have status text for the intercepted requests; however, we'll get it for free once a huge on-going refactoring of network layer in chromium completes. No good ETA on this though.

[2018-04-07 03:28] aslushnikov commented on #1412
@dowsanjack looks like you're dealing with a single-page application. The reason the pattern doesn't work for you is because browser doesn't do any "navigation" - instead, current page DOM is modified. Thus, using `waitForNavigation` won't work.

It's not always clear if a website is doing navigation or not. A good rule of a thumb is to rely on page state instead, using methods `waitForSelector` a

[2018-04-07 03:33] aslushnikov commented on #2293
@xsmartweb in case of a same-document navigation (e.g. when only hash part of the URL changes, or when URL is modified by History API), follow updates on #257.

@siggerzz  "navigation" happens only whenever the URL of the page changes. Just sending requests doesn't trigger any navigation, thus "waitForNavigation" doesn't work.

Also, consider this comment for a workaround: https://github.com/Googl

[2018-04-07 03:33] #2293 closed, assigned to nobody

[2018-04-07 03:39] aslushnikov commented on #2089
@mjschranz There's a technical possibility to evaluate js inside `headerTemplate` and `footerTemplate`. However, this requires engineering effort and spawns a lot of concerns that should be thought through.

Closing this since there's a workable solution for the issue. We can reconsider supporting script execution inside `headerTemplate` and `footerTemplate` if this is justified by other valid use

[2018-04-07 03:39] #2089 closed, assigned to nobody

[2018-04-07 03:43] aslushnikov commented on #1664
@Glennvd thanks for letting us know. FYI: Network Service is not fully ready yet and still doesn't pass all the pptr tests.

[2018-04-07 03:53] aslushnikov commented on #1812
@SWGFL the following works fine for me on current [tip-of-tree](https://github.com/GoogleChrome/puppeteer/commit/8c54f41552b7352032120c95240f18f7191b3b19):

[code]

@putuoka this is a known issue: #257

[2018-04-07 03:53] #1812 closed, assigned to nobody

[2018-04-07 04:03] aslushnikov commented on #536
@gauntface feel free to send a PR.

[2018-04-07 04:22] aslushnikov commented on #535
@darkguy2008 with new versions of pptr:

[code]

[2018-04-07 04:30] aslushnikov commented on #696
@tommedema you can achieve this with [CSS domain](https://vanilla.aslushnikov.com/#CSS) with some post-processing, similarly to what [devtools does](https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/sdk/CSSMatchedStyles.js#L591-L632)

[2018-04-07 04:51] aslushnikov commented on #561
@achyutjhunjhunwala check out [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md), specifically the use of `dumb-init`. Running chrome in docker without `dumb-init` makes it impossible to kill chrome properly.

[2018-04-07 04:53] #1537 closed, assigned to JoelEinbinder

[2018-04-07 04:57] aslushnikov commented on #2321
@agat CicleCI has been discussed before on the bugtracker, e.g. check out this comment: https://github.com/GoogleChrome/puppeteer/issues/1700#issuecomment-358193929

Other than that, we don't know much about circleci here. Consider asking on our [slack channel](https://join.slack.com/t/puppeteer/shared_invite/enQtMzAyOTU1MzQyOTQ1LTUzOTAxNjE5YWI0YzNmYmRkN2I4MDg2MzI4OGE3YWNhZDBlYWMyNTlmOTJlN2RhYzlmO

[2018-04-07 04:57] #2321 closed, assigned to nobody

[2018-04-07 07:57] aslushnikov commented on #1388
Closing as a dupe of #257.

[2018-04-07 07:57] #1388 closed, assigned to nobody

[2018-04-07 08:05] aslushnikov commented on #1429
@chanjsq we've rolled chromium in https://github.com/GoogleChrome/puppeteer/pull/2327. can you please try installing `puppeteer@next` (this is a tip-of-tree build published to npm) and see if the issue is fixed?

[2018-04-07 08:23] aslushnikov commented on #1813
@bmay2 is this still broken for you for pptr 1.2.0? We successfully launch headful pptr on travis, so must be some issue with missing packages.

[2018-04-07 08:29] aslushnikov commented on #1394
Unfortunately, even after calling gc manually, there's no guarantee it won't be triggered during the measured code snippet.

We can re-consider this later if there are more usecases; closing for now.

[2018-04-07 08:29] #1394 closed, assigned to nobody

[2018-04-07 09:38] Guruhbk commented on #2182
I found the solution. To add background-color to header/footer or to the entire page in Puppeteer, we need to add an additional css property,` -webkit-print-color-adjust: exact.` Now it works fine.

[2018-04-07 14:01] adelalsaggaf1 commented on #1429
في السبت، ٧ ابريل، ٢٠١٨ ٣:٥٢ ص Andrey Lushnikov <notifications@github.com>
كتب:

[2018-04-07 16:06] pocketjoso commented on #1506
Just tested with `Puppeteer@1.2`, `Chromium 67.0.3372.0 (r543305)` and it is still broken. :/

[2018-04-07 20:53] dutchsparks opened #2329 "Puppeteer operates underneath top layer div"
Puppeteer version: 5.7.1
Platform / OS version: Sierra 10.12.4
Node.js version: v8.9.4

I use puppeteer to click on an HTML element. Which then makes a div appear, with more elements on it. I would like to select 1 of these elements but whatever I tried I could not select them because supposedly they did not exist according to terminal.
Then I realized that puppeteer was looking for the elements o

[2018-04-08 00:59] #563 closed, assigned to nobody

[2018-04-08 02:31] ajinkyas commented on #1679
Hi Joel, I would like to work on this one. Can I proceed with the implementation?

[2018-04-08 07:07] TechQuery commented on #1667
I wonder, can **Puppeteer** support other browsers which implement **DevTools protocol**?

For example, development team of **MS Edge** has release [an adapter for DevTools protocol](https://github.com/Microsoft/edge-diagnostics-adapter).

[2018-04-08 08:37] lixiaolihua commented on #1462
+1

[2018-04-08 09:01] matthewmueller opened #2331 "Feature Request: standard two-way communication pipe between puppeteer ←→ target"
Hey folks, there's been quite a few times where I've been wanting a way to do 2-way communication between puppeteer and the page.

Right now it's possible to do but seems quite ad-hoc, these are the ways I can think of:

**Puppeteer → Page**:

1. create a custom function on the page, then use puppeteer to evaluate it
2. use the low-level "sendMessageToTarget" method to send a custom command (untes

[2018-04-08 09:39] vsemozhetbyt commented on #2331
As for **Puppeteer ← Page**, there is also [`page.exposeFunction()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction).

[2018-04-08 13:04] ghost commented on #1429
@aslushnikov I will try it ❤️

[2018-04-08 13:22] ghost commented on #1429
@aslushnikov Still happens, with the following output:

[code]

[2018-04-08 14:11] bootstraponline commented on #1667
https://codecept.io/ supports puppeteer, night watch, webdriverio and more using a backed agnostic API. That seems more viable today then waiting for dev tools support on other browsers.

[2018-04-08 18:34] napolux commented on #550
Any update on a fix for this? I'm in a "dependency hell" and I cannot make it run on Raspbian Stretch.

[2018-04-08 18:37] napolux commented on #2124
@Austinb any step-by-step way to fix this?

[2018-04-08 20:17] Austinb commented on #2124
See #550

[2018-04-09 03:21] mhart commented on #2301
@soldair what did you do to solve this? I'm running into the same problem

[2018-04-09 03:52] mhart commented on #2301
Ok, I've managed to solve it by navigating to a `file://` url first, eg:

[code]

Not sure if any of these are a recommended way to get to a secure origin for testing purposes – would love to hear from the Chrome/Puppeteer ppl on this.

[2018-04-09 04:09] soldair commented on #2301
Yeah that's what I did. I wrote a fixture empty html file to disk. Your's
is cooler

On Sun, Apr 8, 2018, 8:52 PM Michael Hart <notifications@github.com> wrote:

[2018-04-09 04:36] vinaynb commented on #550
@napolux instead of using the default chromium v63 that comes with raspbian stretch, use v65 and you should be good to go for now.

[2018-04-09 05:39] napolux commented on #550
@vinaynb Looks like I can't install version 65. Any idea?

[code]

[2018-04-09 06:10] vinaynb commented on #550
It won't be available through apt-get, you will need to download and install the new version manually. See @scissorsneedfoodtoo 's comment above for commands to do that. https://github.com/GoogleChrome/puppeteer/issues/550#issuecomment-377240594

[2018-04-09 06:52] nissejokke commented on #1981
This solved it for me.
[code]
page.setMaxListeners() should be provided which sets these internally.

[2018-04-09 06:57] f3l1x commented on #1872
I would appreciate it too.

[2018-04-09 07:05] scissorsneedfoodtoo commented on #550
Also, be sure to change the runtime settings when launching the browser. Once you download the new version of Chromium with `wget`, change `const browser = await puppeteer.launch();` to `const browser = await puppeteer.launch({executablePath: '/usr/bin/chromium-browser'});`.

Check [#550 (comment)](https://github.com/GoogleChrome/puppeteer/issues/550#issuecomment-360015928) for more details.

[2018-04-09 07:42] udiedrichsen commented on #2042
I opened an issue
https://github.com/americanexpress/jest-image-snapshot/issues/68

[2018-04-09 07:45] winterli opened #2333 "Neither Page.setViewport() nor paper format can change window width when save as PDF"
The doc says

But when save as PDF, the window width is always 800px, regardless what been set through `Page.setViewport()`. Even by changing the paper format, window width is always 800px.

### Steps to reproduce

**environment:**

* Puppeteer version: 1.0.0
* Platform / OS version: Mac OS X EI Capitan
* URLs (if applicable): n/a
* Node.js version: v8.9.4

**reproduce steps**

1. Install Puppetee

[2018-04-09 09:56] ghost commented on #1378
That solution also does not work. I tested it in puppeteer with devtools open and the devtools have some requests in the beginning that are not caught by puppeteer

Setup:

1. Click on current page creates a new tab
2. New tab's URL ( let's call it A ) redirects to a URL B and then to a URL C, being URL C the final page URL
3. Devtools detects both URLs A, B and C, puppeteer only detects the URLs

[2018-04-09 11:20] yrshaikh commented on #2318
Can you please post an example/sample code?

[2018-04-09 16:02] skyiea commented on #1871
Looks like in "headful" mode `--lang` arg is ignored. Is it the same issue?

[2018-04-09 17:16] aslushnikov commented on #1981
@nissejokke unless you add listeners manually to networkManager or frameManager, these should not be needed ever. What's your usecase?

[2018-04-09 17:23] orangebacked commented on #678
I used crawlera and it works perfect.

https://support.scrapinghub.com/support/solutions/articles/22000220800-using-crawlera-with-puppeteer

This will make a every request to both different pages and resources with different proxies. I highly recommend it

[2018-04-09 20:14] Zen0x7 commented on #2189
I've the same issue. did you fix that?

[2018-04-09 20:29] jakubkratina commented on #2230
The missing fonts was problem, I needed some afford, but here is (for future me or you, who are reading) my working Dockerfile:

[code]

[2018-04-09 20:29] #2230 closed, assigned to nobody

[2018-04-09 21:49] #1429 closed, assigned to nobody

[2018-04-09 22:15] JoelEinbinder commented on #2273
Looks like you ran out of disk space. Puppeteer needs ~100mb free to download Chromium.

[2018-04-09 22:18] JoelEinbinder commented on #2261
`browser.userAgent` gives the default user agent, not the one you set for the page. You can use
[code]
to see that your user agent was overridden successfully.

[2018-04-09 22:20] JoelEinbinder commented on #2308
The fn is not detectable by the browser afaik, only the result of those key presses as f1, f2 etc. You can see  https://github.com/GoogleChrome/puppeteer/blob/master/lib/USKeyboardLayout.js for the full list of keys puppeteer supports.

[2018-04-10 00:21] tradiff commented on #2089
I hope this solution helps someone, even though it's super hacky.

I had a need to remove the header on page 1 (a cover letter).  The following puppeteer code solved my problem.  It adds a style tag which collapses the margin-top on the first page (effectively hiding the margin).  It then adds a margin-top to the body, to put a visible margin back into place.

[code]

That being said, I do think p

[2018-04-10 00:27] mjschranz commented on #2089
I wound up using the `evaluate` method to execute JavaScript that would
toggle display on the pages/sections of my PDF.

On Mon, Apr 9, 2018, 8:21 PM Travis Collins, <notifications@github.com>
wrote:

[2018-04-10 01:05] #2308 closed, assigned to nobody

[2018-04-10 01:06] #2261 closed, assigned to nobody

[2018-04-10 01:06] #2273 closed, assigned to nobody

[2018-04-10 01:08] aslushnikov commented on #2189
Dupe of #257; feel free to star that issue to get updates.

[2018-04-10 01:08] #2189 closed, assigned to nobody

[2018-04-10 01:15] aslushnikov commented on #2124
Dupe of #550.

[2018-04-10 01:15] #2124 closed, assigned to nobody

[2018-04-10 01:17] aslushnikov commented on #2331
Indeed, the recommended way to communicate is:
- Puppeteer → Page: [`page.evaluate()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args)
- Puppeteer ← Page: [`page.exposeFunction()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction)

[2018-04-10 01:17] #2331 closed, assigned to nobody

[2018-04-10 01:20] aslushnikov commented on #2329
@dutchsparks something else should be happening. Puppeteer clicks the same way you'd click with your mouse, so the behavior shouldn't differ. Would you mind sharing an example so that we can reproduce it locally?

[2018-04-10 01:40] aslushnikov commented on #1506
@pocketjoso I'm testing on OS X, and Chrome r526987 doesn't seem to work for me. pptr@1.0.0 didn't work as well.

Looks like this was permanently broken for us

[2018-04-10 01:41] #2182 closed, assigned to nobody

[2018-04-10 02:08] fly0o0 commented on #1143
Thanks dickeylth!

[2018-04-10 03:01] yrshaikh commented on #2333
I added the below snippet to your code and everytime I updated the width or height, the log had updated value.

[code]

And here is a related issue - https://github.com/GoogleChrome/puppeteer/issues/1183

[2018-04-10 03:19] aslushnikov commented on #2271
@Sharma-Rajat unfrotunately, we don't have a good downloads support ATM. We're working on a proper solution as a part of #299, but it takes longer than we've expected.

Please follow #299 for the updates.

[2018-04-10 03:19] #2271 closed, assigned to nobody

[2018-04-10 03:25] aslushnikov commented on #2316
@leem32 there are a few strategies you can employ to get similar results:

1. Instead of aborting requests that take more then 20 seconds to load, you can just proceed with the page after the 20 seconds. For example, you can use `Promise.race` to race between `page.goto` command and your custom timer.

[code]

2. You can manually fetch scripts server-side and fulfill the `request` with the fetched

[2018-04-10 03:25] #2316 closed, assigned to nobody

[2018-04-10 03:58] aslushnikov commented on #2120
@pklingem the `elementHandle.uploadFile` doesn't upload file by itself - instead, it sets file path to be used by browser when form submission happens.

`elementHandle.uploadFile` works for me on pptr 1.2.0; can you share the script that doesn't work for you?

@sdgluck this is surprising to me. WebSocket should have nothing to do with the `elementHandle.uploadFile` functionality. I'd appreciate if

[2018-04-10 04:00] aslushnikov commented on #2262
Dupe of #2270.

@kwkbtr feel free to send a PR.

[2018-04-10 04:00] #2262 closed, assigned to nobody

[2018-04-10 04:07] aslushnikov commented on #2299
@khmy2010 this sounds pretty magical. Here are the best answers I can think of:

The only reason I can think of is the server code that kills one of the cookies. We aren't aware of any bugs on pptr side that would cause this kind of behavior.

From our experience, CI differs pretty significantly from our local setup in two ways:
- CI might have different installed softward
- CI is much slower, whi

[2018-04-10 04:07] #2299 closed, assigned to nobody

[2018-04-10 04:10] aslushnikov commented on #2282
@sputnick-dev  Looks like sudden page reload kills the added script.

Instead of using `page.addScriptTag`, you can use [`page.evaluateOnNewDocument`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluateonnewdocumentpagefunction-args) to inject your helper functions. This way they will survive page navigations:

[code]

[2018-04-10 04:10] #2282 closed, assigned to nobody

[2018-04-10 04:11] aslushnikov commented on #2298
@YogeshSinghChouhan what's default height?

[2018-04-10 04:13] aslushnikov commented on #2333
Looks like a dupe of #1183, thanks.

[2018-04-10 04:13] #2333 closed, assigned to nobody

[2018-04-10 04:15] aslushnikov commented on #2175
Please follow/upvote #478 for the updates.

[2018-04-10 04:15] #2175 closed, assigned to nobody

[2018-04-10 04:18] aslushnikov commented on #2294
The solution in https://github.com/GoogleChrome/puppeteer/issues/2294#issuecomment-377655549 looks very plausible, especially given the caching suggestion.

[2018-04-10 04:18] #2294 closed, assigned to nobody

[2018-04-10 05:02] #2295 closed, assigned to nobody

[2018-04-10 05:04] winterli commented on #2333
Thanks @yrshaikh . The code you provided is executed before saving as PDF. So it's not the same value as when generating PDF. If not saving as PDF, but as JPG instead, everything works fine.
Sorry, I haven't found #1183 before. Thanks for linking them together!

@aslushnikov , I will refer to the existing ticket. Thanks!

[2018-04-10 05:37] aslushnikov commented on #2162
@Domysee In every puppeteer release, we publish a version of chrome puppeteer is compatible with. For chrome 64, you can use [puppeteer@0.13.0](https://github.com/GoogleChrome/puppeteer/releases/tag/v0.13.0).

[2018-04-10 05:37] #2162 closed, assigned to nobody

[2018-04-10 05:41] aslushnikov commented on #2284
@phackt you have a race condition in your code:
- for every response, you kick off async process of getting its text
- in parallel, you're taking page screenshot and closing browser afterwards

When the browser is closed with the `response.text()` call in flight, you see this error.
To fix the error, you should either swallow all errors in `reponse.text()` or await all the inflight async operation

[2018-04-10 05:41] #2284 closed, assigned to nobody

[2018-04-10 06:04] aslushnikov commented on #2275
@worudso `.browser()` is reasonable; feel free to add.

[2018-04-10 06:27] winterli commented on #1183
This might be related issue,

When saving as PDF (have to use headless mode), the window size triggers the incorrect media query. For example, if `page.setViewport(1200,960)`, then load below HTML page and save to PDF. Will expect the DIV has a gray background. But it actually shows a yellow background.

[code]
![1523341516653 pdf 2018-04-09 23-25-38](https://user-images.githubusercontent.com/7054

[2018-04-10 06:38] #257 closed, assigned to aslushnikov

[2018-04-10 08:15] Ge11ert commented on #598
@ebidel try to use `browser.on('targetchanged', ...)`. For me it works in React app as expected. Framenavigated works only for the first time too.

[2018-04-10 08:27] Earthsplitter opened #2343 "Taking screenshot before images finishing rendering"
I use
[code]
to load html string. And then call `page.screenshot` to get the screenshot.

However, images in `style=`, like `<div class="photo-invite-card" style="background-image:url(https://placeimg.com/640/480/animals)">`, may not be rendered when the screenshot is taken.

I think the reason is that images specified in style= are not loaded until layout happens, but window.onload can fire *befo

[2018-04-10 08:52] YogeshSinghChouhan commented on #2298
@aslushnikov
If i take the screenshot without specifying viewport width and height ,screenshot will of dimension (800x**600**)

With this example i get screenshot of height 600px.

[code]

So i am assuming **600px as default height**

My use case is, i want to take **full page screenshot** with **custom width**,like this

[code]
It is giving the error as stated above.

But i think if height is not

[2018-04-10 09:14] pocketjoso commented on #1506
That's strange because I'm on MacOS as well and it does work in latest [Penthouse](https://github.com/pocketjoso/penthouse/), which uses Puppeteer@1.0.0, which should be using Chromium 65.0.3312.0 (r526987).

[2018-04-10 09:24] tomgallagher commented on #2282
Except page.evaluateOnNewDocument runs when every frame in the page loads. Chome Extensions offer the option of single injection and run at document_start, as does Phantom JS and Casper JS. This kind of functionality is useful and quite commonplace.

[2018-04-10 09:31] tomgallagher commented on #2282
The closest I've got to a workable solution is this:

[code]
But it still does not inject the JS fast enough to use, say, mutation observers to catch all changes to the HTML.

[2018-04-10 10:41] juancarlosfarah commented on #1421
I'm experiencing the same issue as @xsmartweb.

This my code:

[code]

Which gives error:

[code]

Nevetheless, if I switch `page.waitForNavigation({waitUntil: 'networkidle2'})` to `page.waitFor(10000)`, it works as expected.

[code]

[2018-04-10 11:38] vc1 commented on #2343
`waitUntil: ['load', 'networkidle0']`

[2018-04-10 12:25] ursulaclarke commented on #545
+1

[2018-04-10 12:43] davidmurdoch commented on #1325
Happens to me when the `goto`ed page does a redirect.

e.g.
[code]

[2018-04-10 13:52] adrian134 opened #2346 "Including $.ajax from Jquery"
Hi!
Is there a way to attach jQuery so that I can send data from a certain page A using $ .ajax using POST dataType?

[2018-04-10 13:56] Swiffers opened #2347 "Error: waiting failed: timeout 0ms exceeded"
hi,

The error is given by the following code:

`await frame.waitForSelector('.selector', {timeout:0});`

But the [documentation](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitforselectorselector-options) mention that it's possible to do it:

[code]

[2018-04-10 14:36] pklingem commented on #2120
@aslushnikov thank you for your response.  I was finally able to get this to work.  The issue was:  I had chrome in a docker container and puppeteer in another docker container.  As you said, puppeteer only sends the path to the file to chrome and the chrome container did not have access to the file at that path.  I ended up sharing a volume between the chrome and puppeteer containers so the file

[2018-04-10 15:01] garris commented on #1229
Thanks @niieani — your solution inspired this simplified approach for a backstopjs usecase https://github.com/garris/BackstopJS/commit/67801c259f340c986bd0c25281a7eb5a79c7bc25

@aslushnikov looking forward to #2324! 🎁

[2018-04-10 15:04] phackt commented on #2284
Thanks @aslushnikov , finally i added a ```await page.waitForNavigation()``` just after the ```await page.goto(url)``` and things work fine.
Cheers,

[2018-04-10 15:27] tradiff commented on #2089
@mjschranz I've been trying to replicate your solution, and I'm having trouble manipulating the header with javascript.  Can you provide further details?

[2018-04-10 15:31] mjschranz commented on #2089
@TravisTX I basically would run code like the following to hide/show various HTML of the page I was making a PDF out of. For our use case, we explicitly always broke for specific sections/areas which made it easier for us.

[code]

[2018-04-10 15:56] aslushnikov commented on #2265
@Diokuz this doesn't sound right to me. Do you have a minimalistic pptr script that illustrates the issue?
The `slowMo` option just throttles connection between browser and puppeteer:

https://github.com/GoogleChrome/puppeteer/blob/fafd156d7bd9941131ab31f5af7cf047e728142c/lib/Connection.js#L100-L104

[2018-04-10 15:58] aslushnikov commented on #2265
Ah, looks like this has been fixed with https://github.com/smooth-code/jest-puppeteer/pull/24

[2018-04-10 15:58] #2265 closed, assigned to nobody

[2018-04-10 16:11] aslushnikov commented on #1769
@Yura13 I found your button on a different URL: https://steembottracker.com/. The issue happens because there are many buttons that satisfy the selector you provide. The following works fine for me:

[code]

@yatki similarly to the other case here, you have two buttons that match the `.stack-share-toggle` selector. The "expand" button corresponds to the second element matching this selector, so yo

[2018-04-10 16:11] #1769 closed, assigned to nobody

[2018-04-10 16:13] aslushnikov commented on #2089
For the reference: there's a designated issue about running js in `footerTemplate` and `headerTemplate`: #2167.

[2018-04-10 16:18] #2120 closed, assigned to nobody

[2018-04-10 16:22] yatki commented on #1769
@aslushnikov Well, I can't believe I've missed this for all this time :D Thank you very very much and have a great day.

[2018-04-10 16:29] aslushnikov commented on #1421
@juancarlosfarah your click doesn't do any navigation. Rule of a thumb: if clicking a button doesn't change page URL, then there's no navigation for sure.

For this reason, the `page.waitForNavigation` doesn't work: it's waiting for a navigation to happen sometime in future, and it doesn't.

[2018-04-10 16:31] aslushnikov commented on #2282
@tomgallagher it runs as frame's document instance gets created. It's the earliest you get to run javascript.

[2018-04-10 16:38] aslushnikov commented on #2298
@YogeshSinghChouhan I see, thanks.

Current behavior is adequate wrt the method name. That would be the difference between `page.setViewport()` and `page.overrideViewport()`: the former has all rights to complain about wrong viewport properties, and the latter doesn't complain and just overrides given properties of the current viewport.

You can achieve desired behavior with the following:

[code]

[2018-04-10 16:38] #2298 closed, assigned to nobody

[2018-04-10 16:39] aslushnikov commented on #598
@rageshpayyan see #257

[2018-04-10 16:42] aslushnikov commented on #2347
This was added in abb05e0 and hasn't been released yet; it will be part of a new version 1.3.0. We'll release it on April, 12.

[2018-04-10 16:42] #2347 closed, assigned to nobody

[2018-04-10 16:43] aslushnikov commented on #2346
You can embed jQuery in a page using `page.addScriptTag`.

[2018-04-10 16:43] #2346 closed, assigned to nobody

[2018-04-10 16:51] juancarlosfarah commented on #1421
@aslushnikov, thanks for the explanation. Got it. In my case I was waiting for the AJAX request to finish. I didn't really see a particular way of doing that in Puppeteer, so I thought it could be encapsulated in the `page.waitForNavigation` method.

[2018-04-10 16:56] jameskeane commented on #478
@ebidel @aslushnikov Tracing only supports capturing a maximum of 450 frames: https://github.com/chromium/chromium/blob/master/content/browser/devtools/devtools_frame_trace_recorder.h#L35

So far I've found tracing to be the most reliable, as it doesn't depend on how fast you can ack; but this is a serious limitation.

[2018-04-10 17:06] aslushnikov commented on #1421
@juancarlosfarah yes, AJAX is tricky.

If you know AJAX url, you can use `request` events to wait for the response.
Most of the time, though, you'd like a page to render something in response to mouse click. So
I'd suggest to wait for certain elements to appear on the page with `page.waitForSelector` method.

[2018-04-10 17:06] Swiffers commented on #2347
How can I do this in the meanwhile?

I'm uploading huge files, and it's usual to wait more then 10 minutes before the promise is 'returned'.
Should I just use a big number?

[2018-04-10 17:16] aslushnikov commented on #2242
@grantstephens thanks for reaching to us.

This was recently introduced in https://chromium-review.googlesource.com/c/chromium/src/+/952522. The error is issued if the host header is set to non-localhost and non-IP address.

What's your python library? It looks like it sets a non-trivial host header, so you have to override it with empty value.

cc @pavelfeldman

[2018-04-10 17:20] rageshpayyan commented on #598
@Ge11ert , Awesome, browser.on('targetchanged', ...) event working fine,  When i click any of the link in my Angualr App  this event fired. Thanks again.

[2018-04-10 17:37] niieani commented on #1229
Great to hear it was useful @garris! Also looking forward to #2324 :)

[2018-04-10 17:43] aslushnikov commented on #2347
@Swiffers yes, any huge number would work. Note though: too big numbers, e.g. `Number.MAX_VALUE` or `Infinity` won't do, so I'd pass in something sane, e.g. `1000 * 60 * 60 * 24` (1 day).

[2018-04-10 17:44] #1892 closed, assigned to nobody

[2018-04-10 18:17] aslushnikov commented on #2269
Thanks @MJPA for the investigation.

The issue comes from the fact that `browser` removes targets from the list before the associated pages are closed.

In the following example, I'd expect `browser.pages()` to report 1 page until the `page.close()` call is finished:

[code]

The output:
[code]

@JoelEinbinder what do you think?

[2018-04-10 18:33] #2158 closed, assigned to nobody

[2018-04-10 18:34] aslushnikov commented on #2155
Seems to be working fine on current tip-of-tree.

[2018-04-10 18:34] #2155 closed, assigned to nobody

[2018-04-10 18:36] aslushnikov commented on #2117
@KimSeongIl the only way to "interrupt" the screenshot is to close the page during the screenshot.

Hope this helps.

[2018-04-10 18:36] #2117 closed, assigned to nobody

[2018-04-10 18:36] #2139 closed, assigned to nobody

[2018-04-10 19:06] matthewmueller commented on #2331
Got it, thanks for clarifying!

[2018-04-10 19:54] joeldouglass commented on #1718
I'm seeing this same issue when running in a Windows service using [node-windows](https://github.com/coreybutler/node-window). Runs pretty fast with `{headless: false}`, but times out after 30s almost every time when run with `{headless: true}`. The same app runs very fast as a standalone node app from the command line.

[2018-04-10 20:49] aslushnikov commented on #1873
@ithinkihaveacat we have a tiny [custom test runner](https://github.com/GoogleChrome/puppeteer/tree/master/utils/testrunner) that does parallelization wrt I/O. It works nicely for us.

Parallelization questions fall outside of the scope of the project since there are many different options. Depending on your needs and constraints, you might opt into using `ava`, `generic-pool`, some other project

[2018-04-10 20:49] #1873 closed, assigned to nobody

[2018-04-10 21:04] Swiffers commented on #2347
@aslushnikov Sure, thanks

[2018-04-10 21:12] #2283 closed, assigned to nobody

[2018-04-10 21:26] aslushnikov commented on #2183
@voordev you should inject jquery separately into the page, then you'll be able to use it inside
functions you inject.

For example:
[code]

Hope this helps.

[2018-04-10 21:26] #2183 closed, assigned to nobody

[2018-04-10 21:30] aslushnikov commented on #2173
I will be happy to review a PR for this.

[2018-04-10 21:30] #2192 closed, assigned to nobody

[2018-04-10 21:34] aslushnikov commented on #2190
Indeed, we can't click things that are not on screen, so we try to scroll them in. If website has a custom logic around scrolling, this might break.

Since there's no general way solution for this, we can't handle this on pptr-side, so I'd recommend coming up with your own helper function that will tackle this specific case.

[2018-04-10 21:34] #2190 closed, assigned to nobody

[2018-04-10 21:34] #2179 closed, assigned to nobody

[2018-04-10 21:34] #2157 closed, assigned to nobody

[2018-04-10 21:37] aslushnikov commented on #2197
We already do this:
https://github.com/GoogleChrome/puppeteer/blob/5089d2ec2e6652a04f6d01a8beb813857dae35ca/lib/Target.js#L38-L44

Something's different should be going on in your case. I'll close this for now, feel free to re-open/re-file if there's a good repro we can play with.

[2018-04-10 21:37] #2197 closed, assigned to nobody

[2018-04-10 21:41] aslushnikov commented on #2210
@JoelEinbinder can you please take a look? Sounds similar to Ctrl-A case.

[2018-04-10 21:42] aslushnikov commented on #2128
@NagarjunPrasad1 I'm not sure what's "scrape a selector", but you can use element handles for the usecase you mention:

[code]

[2018-04-10 21:42] #2128 closed, assigned to nobody

[2018-04-10 21:56] aslushnikov commented on #2127
`page.exposeFunction` survives navigation by design. This is needed because it's unpredictable when page decides to navigate.

I can't reproduce your case though, here's what I've tried:

[code]

If you have a repro case I can play, feel free to write back.
Hope this helps.

[2018-04-10 21:56] #2127 closed, assigned to nobody

[2018-04-10 22:05] intellix commented on #2190
I think it might be worth noting in the documentation that all of the click/mouse functionality depends on emulating real clicks where the link needs to be visible.

I'm not sure about other people, but I personally **assumed** it worked like jQuery where it just expects the element to exist on the page and would trigger an event on it.

Perhaps it should still throw if the element click didn't wo

[2018-04-10 22:20] aslushnikov commented on #2190
@intellix Feel free to send PRs to improve documentation; this might save hours to somebody else in future.

It turns out to be tricky to figure if clicking actually hits the target: e.g. event might be captured and cancelled during bubbling up, but technically the click did go through.

In your case, you probably want to fail when scrolling into view didn't work. We can add this check, but it wil

[2018-04-10 22:21] #2311 closed, assigned to nobody

[2018-04-10 22:24] aslushnikov commented on #1870
Dupe of #963.

[2018-04-10 22:24] #1870 closed, assigned to nobody

[2018-04-10 22:42] Paul-Pushkarov commented on #1870
Good news, it looks like the issue is fixed and someone told me that the bug is gone in chrome canary.

[2018-04-10 22:42] aslushnikov commented on #2248
Fixed with #257.

[2018-04-10 22:42] #2248 closed, assigned to nobody

[2018-04-10 22:45] aslushnikov commented on #2244
@abaksha-sc The reason we don't resolve URLs is to retain the sourceURL values.

You can resolve URLs against the page url on your side, e.g. using node's [`url.resolve`](https://nodejs.org/api/url.html#url_url_resolve_from_to). Will this work for you?

[2018-04-10 22:46] aslushnikov commented on #2268
Also, feel free to upvote #299 to get downloading in pptr.

[2018-04-10 22:46] #2268 closed, assigned to nobody

[2018-04-10 22:49] aslushnikov commented on #2107
@JoelEinbinder can we use [`elementFromPoint`](https://developer.mozilla.org/en-US/docs/Web/API/DocumentOrShadowRoot/elementFromPoint) to figure if we're clicking the right element?

[2018-04-10 22:59] #1936 closed, assigned to nobody

[2018-04-10 23:05] aslushnikov commented on #2300
@NagarjunPrasad1 yes, there's no pdf viewer in headless chrome. This has been raised a few times on the tracker already; I don't think this will change anytime soon.

[2018-04-10 23:05] #2300 closed, assigned to nobody

[2018-04-10 23:05] aslushnikov commented on #2250
Closing as dupe of #299.

[2018-04-10 23:05] #2250 closed, assigned to nobody

[2018-04-10 23:10] aslushnikov commented on #2238
@leem32 you can easily polyfil the `waitUntilTime` like the following:

[code]

Hope this helps

[2018-04-10 23:10] #2238 closed, assigned to nobody

[2018-04-10 23:11] #2203 closed, assigned to nobody

[2018-04-10 23:14] aslushnikov commented on #2235
@x1c0 these logs look like chromium's stdout. Could it be that you're launching puppeteer browser with `dumpio: true` flag?

[2018-04-10 23:19] aslushnikov commented on #2237
@leem32 you can use request interception to figure continious redirects. You'll be able to get redirect URL from there as well.

This sounds interesting. `unreachableUrl` indeed helps here.

[2018-04-10 23:19] #2237 closed, assigned to nobody

[2018-04-10 23:24] aslushnikov commented on #2083
@felixfbecker you still can write a stringifier on a browser side: you have all the types there, and it's easy to do the `[Circular]` abbreviation back there.

I also don't mind exposing JSHandle's type if there's a good reason to.

[2018-04-10 23:28] aslushnikov commented on #2163
Since pptr 1.2.0, you can get a redirect chain for every request, see [`request.redirectChain()`](https://github.com/GoogleChrome/puppeteer/blob/v1.2.0/docs/api.md#requestredirectchain).

For the main navigation, you're interested in the redirect chain for the main resource:
[code]

Hope this helps.

[2018-04-10 23:28] #2163 closed, assigned to nobody

[2018-04-10 23:31] aslushnikov commented on #2154
This was fixed as a part of #1229; this will work as expected in the following version of pptr that will be released on April, 12.

[2018-04-10 23:31] #2154 closed, assigned to nobody

[2018-04-10 23:37] aslushnikov commented on #2142
These violations are reported via the [Log domain](https://vanilla.aslushnikov.com/#Log.clear) that we don't enable yet. We need to enable domain and introduce a new `page` event that forwards messages
from Log domain to the clients.

I'll be happy to review a PR.

[2018-04-10 23:38] #2143 closed, assigned to nobody

[2018-04-10 23:42] aslushnikov commented on #2159
@lems111 that's a lot of code to go through; do you have a reduced test case?

[2018-04-11 00:11] felixfbecker commented on #2083
@aslushnikov that doesn't sound like a good option - if I want to test an application that might throw errors or `console.log()` them, how would I intercept that? Monkey-patch `console.log()` before loading any scripts?

[2018-04-11 00:15] aslushnikov commented on #2236
Thank you for the report. We'll land the fix shortly.

[2018-04-11 00:16] aslushnikov commented on #1984
@sradu Why so? The `setExtraHTTPHeaders` adds the header. The case is not important for HTTP headers.

[2018-04-11 00:20] aslushnikov commented on #2083
@felixfbecker I mean the following:

[code]

[2018-04-11 00:26] aslushnikov commented on #2227
@AnnaCICI This sounds really strange. Can you elaborate on this more?

[2018-04-11 00:28] aslushnikov commented on #2119
@Janpot this definitely sounds interesting. I don't think it makes sense to have it as a part of this repository - it deserves a separate project.

Do you have any success with this?

[2018-04-11 00:30] aslushnikov commented on #2098
Looks like a problem with the code inside your `page.evaluate`: apparently, some of the elements you query for don't exist on a page.

[2018-04-11 00:30] #2098 closed, assigned to nobody

[2018-04-11 00:32] aslushnikov commented on #2101
I didn't see many interest for the feature on the bugtracker, closing for now.

[2018-04-11 00:32] #2101 closed, assigned to nobody

[2018-04-11 00:34] #2074 closed, assigned to nobody

[2018-04-11 00:35] #1958 closed, assigned to nobody

[2018-04-11 00:38] aslushnikov commented on #1932
@githoniel there's been another pm2 issue on the bugtracker: https://github.com/GoogleChrome/puppeteer/issues/1760

Other than that, I don't think I can somehow help here. We don't have much experience with pm2. I'd recommend going to pm2 github repo.

[2018-04-11 00:38] #1932 closed, assigned to nobody

[2018-04-11 00:39] aslushnikov commented on #2206
@vinkla no, I haven't seen this before. I'd recommend filing this upstream to the chromium repository: https://crbug.com/new

[2018-04-11 00:39] #2206 closed, assigned to nobody

[2018-04-11 00:39] #2153 closed, assigned to nobody

[2018-04-11 00:41] #1940 closed, assigned to nobody

[2018-04-11 00:42] aslushnikov commented on #1977
@mihailik we didn't see much interest in the feature on the bugtracker. I'd recommend creating your own helper function for this.

[2018-04-11 00:42] #1977 closed, assigned to nobody

[2018-04-11 00:44] aslushnikov commented on #2099
@shmdhussain you're passing path to the profile; try passing path to the userDataDir (the one that ends with `/Google/Chrome/`).

[2018-04-11 00:44] #2099 closed, assigned to nobody

[2018-04-11 00:46] aslushnikov commented on #2229
dupe of #1215

[2018-04-11 00:46] #2229 closed, assigned to nobody

[2018-04-11 00:48] aslushnikov commented on #2225
I can't repro this; please re-file with a code snippet that I'd be able to run locally and see the problem.
Thanks.

[2018-04-11 00:48] #2225 closed, assigned to nobody

[2018-04-11 00:49] #2239 closed, assigned to nobody

[2018-04-11 00:49] #2224 closed, assigned to nobody

[2018-04-11 00:56] aslushnikov opened #2350 "Expose Page Workers"
We need to develop an API to access WebWorkers and ServiceWorkers.
Workers:
- have execution context, so `worker.evaluate()` should work
- can issue requests, so `worker.on('request')` should be available as well

proposal:
[code]

[2018-04-11 00:56] aslushnikov commented on #1921
We don't expose webworkers currently; once we do, you'll be able to subscribe to their 'console' event.

Closing as a dupe of #2350.

[2018-04-11 00:56] #1921 closed, assigned to nobody

[2018-04-11 00:57] sradu commented on #1984
@aslushnikov The large CDN providers accept or reject browsers based on the order and caps of headers. That's the first layer, though there are others.

It's hard to be whitelisted, and the only way they consider it secure enough is based on a custom order + an extra id header.

[2018-04-11 00:58] aslushnikov commented on #1919
@lmyyao you cannot reuse object ids from different sessions. You'll need to fetch the remote object through the newly created cdp session.

[2018-04-11 00:58] #1919 closed, assigned to nobody

[2018-04-11 01:05] #2236 closed, assigned to nobody

[2018-04-11 01:09] aslushnikov commented on #1984
@sradu fascinating, thanks for the insight. I'd love to read more on the topic if you have any links to share.

Regarding the issue, since the `--lang` fixes the discrepancy between headless/headful, I gonna close it for now. If there are other missing headers, we might end up adding other flags to the headless shell.

[2018-04-11 01:09] #1984 closed, assigned to nobody

[2018-04-11 01:10] sradu commented on #1984
Yup, agreed. I don't have links but I'm always happy to grab coffee in SF.

[2018-04-11 01:12] aslushnikov commented on #1376
@fran0254 we prioritize work based on the `demand / effort` ratio. Since we don't see much interest in this issue, and the effort is unclear but surely requires upstream contribution to chromium, this issue is a low-pri for us.

[2018-04-11 01:13] aslushnikov commented on #1939
These violations are reported via the [Log domain](https://vanilla.aslushnikov.com/#Log.clear) that we don't enable yet. We need to enable domain and introduce a new `page` event that forwards messages
from Log domain to the clients.

I'll be happy to review a PR.

[2018-04-11 01:13] aslushnikov commented on #2142
Closing as dupe of #1939.

[2018-04-11 01:13] #2142 closed, assigned to nobody

[2018-04-11 01:15] #1927 closed, assigned to nobody

[2018-04-11 01:16] #1898 closed, assigned to nobody

[2018-04-11 01:30] aslushnikov commented on #1903
There's an issue for this: #678

[2018-04-11 01:30] #1903 closed, assigned to nobody

[2018-04-11 02:03] aslushnikov commented on #1896
@phackt Indeed, I found a bug in pptr regarding this. But there's still a fundamental issue in devtools protocol: we won't be able to fetch content of a redirect response. It will be even harder to do so in future with the network layer refactoring in chrome.

What's your usecase? I don't think browser users ever get to see the redirect response body.

[2018-04-11 02:27] aslushnikov commented on #2161
This is a chromium issue. We don't deal with internals of chromium sandboxing and won't be able to help, please file upstream to the https://crbug.com/new.

[2018-04-11 02:27] #2161 closed, assigned to nobody

[2018-04-11 02:40] aslushnikov commented on #1908
You can track this with the [`request`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-request), [`requestfailed`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-requestfailed) and [`requestfinished`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-requestfinished) events.

[code]

and use it later like this:

[code]

Hope t

[2018-04-11 02:40] #1908 closed, assigned to nobody

[2018-04-11 03:04] joelgriffith commented on #2120
Hate to further drag on a closed issue, but I'm curious if there's any development around sending in FileBlobs or Buffers vs a file-path to upload. Reason I ask is that a somewhat-common use-case is to run puppeteer/chrome-headless in isolated environments (lambda or otherwise), and file-uploads are another common web interaction.

Thanks!

[2018-04-11 03:46] paulirish commented on #1897
А, ну все, отлично! Пишите если нужна будет помощь!

[2018-04-11 04:15] aslushnikov commented on #1922
Works fine for me on tip-of-tree f8cba455ba5d1bc82721e89fda037e86213b02cb:

[code]

[2018-04-11 04:15] #1922 closed, assigned to nobody

[2018-04-11 04:17] #1823 closed, assigned to nobody

[2018-04-11 04:18] aslushnikov commented on #1858
This sounds like issues running on ARM. Check out #550 and maybe #290.

Also, there's [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md) that might be helpful.

[2018-04-11 04:18] #1858 closed, assigned to nobody

[2018-04-11 04:22] aslushnikov commented on #1876
@pheolink it's hard to say what's going on - too few cues. I'd try filing to the chromium bugtracker.

[2018-04-11 04:22] #1876 closed, assigned to nobody

[2018-04-11 05:31] mpseidel commented on #478
@Lange That would be killer. Not sure if it should be done through a screencast api but if you can capture frames I would also would like to see an option for deterministic fixed framerate capturing as fast as possible to render a video file from html5 animations.

[2018-04-11 05:32] F1LT3R opened #2353 "Is the API key meant to be in this repo?"
https://github.com/GoogleChrome/puppeteer/blob/f8cba455ba5d1bc82721e89fda037e86213b02cb/.travis.yml#L31

[2018-04-11 06:01] matthiasg commented on #478
Starting a webcam session might be even more interesting. That way one could very simply set up an WebRTC Server broadcasting a Capture Device to another device (which would be non headless)

[2018-04-11 06:06] grantstephens commented on #2242
I'm using requests, which AFAIK does not send a host header by default, but I may be wrong. Either way- couldn't find any changelog for it suddenly happening (From the chrome side) so thought I'd just put it here in case anybody else was having a similar issue.
Maybe adding something in the documentation about it?

[2018-04-11 07:12] vinkla commented on #2206
@aslushnikov thanks for getting back. I'll check it out.

[2018-04-11 07:17] abaksha-sc commented on #2244
@aslushnikov It won't work, because i don't know from which point that relative URL starts. Scripts include another scripts in different folders.

[2018-04-11 07:18] aslushnikov commented on #2353
According to the docs here, it should: https://docs.travis-ci.com/user/deployment/npm/#NPM-auth-token

[2018-04-11 07:18] #2353 closed, assigned to nobody

[2018-04-11 07:19] aslushnikov commented on #2244
Are we talking about es6 modules here?

[2018-04-11 07:21] #1882 closed, assigned to nobody

[2018-04-11 07:45] abaksha-sc commented on #2244
No, script includes another script through appending ```<script src="../../someFile.js"></script>``` to head.

[2018-04-11 07:59] Janpot commented on #2119
I tinkered a bit with it a month ago. I think it's feasible to create a build of puppeteer that runs in the browser but I haven't picked it back up. I think a separate project would only complicate things as the goal would be to not add code at all, just refactor here and there and add a build target.

[2018-04-11 09:47] KimSeongIl opened #2356 "Timeout occurs when reusing a page."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2
* Platform / OS version: Ubuntu 16.04 (docker)
* URLs (if applicable):
* Node.js version: 8.x

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**

**What happens instead?**

error: Navigation Timeout Exceeded: 30000ms exceeded.

I

[2018-04-11 10:15] yrshaikh commented on #2356
Related - https://github.com/GoogleChrome/puppeteer/issues/486

[2018-04-11 11:45] juancarlosfarah commented on #1421
@aslushnikov, perfect. Thanks for the tip!

[2018-04-11 12:09] nissejokke commented on #1981
I have a number of pages open and reusing them in kinda the sammer manner as described by the initiator of this issue but you are correct, I had a bug which caused a page to execute goto() multiple times when it was'nt finished.

[2018-04-11 12:55] juancarlosfarah opened #2357 "Screenshots of Multiple Elements on Page Result in Some Blank Screenshots"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: macOS 10.13.3
* URLs (if applicable): http://graasp.eu/ils/5a9d467e45aca55d33eafce6/?lang=en&printPreview
* Node.js version: 8.10.0

**What steps will reproduce the problem?**

I'm trying to take screenshots of a series of HTML elements. The first couple of elements in the series are ca

[2018-04-11 14:00] mahnunchik commented on #659
Any news?

[2018-04-11 15:47] ebidel commented on #2353
@F1LT3R that's using encryption keys. https://docs.travis-ci.com/user/encryption-keys/#Detailed-Discussion has more info on `secure:`. Travis decrypts the value and replaces `secure: <something>` with `secure: <actual value>`.

[2018-04-11 17:13] aslushnikov commented on #2119
This would be ideal. @JoelEinbinder had a prototype as well and refactored pptr codebase to simplify things there. However, iirc he still needed to mock `fs` and some other node modules we use occasionally.

[2018-04-11 18:29] ebidel opened #2358 "No way to determine native DPR of device"
The following code doesn't allow someone to use the device's native DPR by setting `await page.setViewport({deviceScaleFactor: 0,...})`:

https://github.com/GoogleChrome/puppeteer/blob/master/lib/Page.js#L729
https://github.com/GoogleChrome/puppeteer/blob/294f33b75c5a7c87d447816218438f56c2d56f0e/lib/EmulationManager.js

That makes it impossible to determine the real DPR of the device:

[code]

[2018-04-11 18:38] Charlemagne3 commented on #2074
Thanks, @marijanlekic this helped me handle timeouts with puppeteer better.

[2018-04-11 18:59] mpopv opened #2359 "page.pdf error: "Page range exceeds page count undefined""
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2.0
* Platform / OS version: Ubuntu 16.04.4 LTS
* Node.js version: 8.9.3

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

A two-page PDF is saved. The (web) page in question is definitely more than 1 (PDF) page long, as evidenced by a large image getting cut off in the middle,

[2018-04-11 19:10] mpopv commented on #2359
It looks like the error originates [here](https://github.com/chromium/chromium/blob/afc2328142d33cc05e71ee544e8ad77a334c151e/headless/lib/browser/headless_print_manager.cc#L262) in Chromium.

[2018-04-11 20:23] yanivefraim commented on #2107
@aslushnikov - this is exactly what selenium does (see [here](https://github.com/SeleniumHQ/selenium/blob/1721e627e3b5ab90a06e82df1b088a33a8d11c20/javascript/chrome-driver/atoms.js#L234))

I will be happy to help (:

[2018-04-11 20:27] aslushnikov commented on #2120
I'm not aware of any. Does web platform support this?

[2018-04-11 20:58] joelgriffith commented on #2120
Probably not 🙃, my use case is of course wickedly different than most since most folks are running puppeteer alongside chrome. Anyways, I'll give this more thought, thanks Andrey!

[2018-04-11 23:57] KimSeongIl commented on #2356
@yrshaikh
Thank you for answer.
I have seen the article before, but I have not found a solution to this problem.

[2018-04-12 01:40] aslushnikov commented on #2258
@npetr resources get dumped after page commits navigation. This can be easily reproduced with the following pptr script:

[code]

I'd recommend handling this error gracefully.

[2018-04-12 01:40] #2258 closed, assigned to nobody

[2018-04-12 02:14] aslushnikov commented on #1879
@norstbox subframe case was fixed by https://github.com/GoogleChrome/puppeteer/pull/2339, I'm adding a test to make sure this is not regressed in future.

@Khady navigation to https://httpstat.us/204 is indeed tricky - chrome doesn't commit navigation if it receives 204. We'll need to handle this better on the protocol level.

[2018-04-12 04:32] itaylor commented on #2197
Fair enough, I'll make simple repro case and then reopen this ticket, because it's definitely a real bug that results in very unpredictable behavior.

Additionally, I think my initial statement was misunderstood.  The code you highlighted above shows `target.page()` recreating the page each time.  That's exactly what I'm saying the problem is.

https://github.com/GoogleChrome/puppeteer/blob/5089d2

[2018-04-12 05:49] KimSeongIl commented on #2356
Rendering the same data to the same page object seems to cause a timeout.

`await page.goto ('about:blank', {waitUntil: 'load'});`

Initializing the page data with the above code seems to be resolved.

Why is this happening?

If the puppeteer is rendering the same data on the same page, is it perceived as not being rendered because of the cache?

Is my solution the correct solution?
What is the be

[2018-04-12 06:01] JoelEinbinder commented on #2358
Easy fix, but why do you need the native DPR? It should be largely irrelevant in headless afaik.

[2018-04-12 06:27] aslushnikov commented on #2197
@itaylor on the contrary, the highlighted code caches the page. The caching is somewhat not obvious: instead of caching the actual page, we cache the promise that creates it, but that's a common pattern.

It's easy to check that `target.page()` doesn't recreate the page:

[code]

[2018-04-12 07:27] YogeshSinghChouhan commented on #2298
@aslushnikov Thanks!!

[2018-04-12 08:49] yrshaikh commented on #2359
The documentation says `Defaults to the empty string, which means print all pages.` I tried the below code and it worked fine.
[code]
Can you try without the page range? Or do you specifically want the first 2 pages only.

[2018-04-12 09:30] AndriSig commented on #422
This is still an issue btw,  puppeteer doesn't always wait for fonts to load and networkidle creates way too much overhead if you're trying to make 50+ pdf's at a time.

I've gotten it to mostly work by taking a screenshot before i create the pdf but that seems like a weird hack to get around this.   Is there no way to just get it to wait for fonts to load?

[2018-04-12 10:40] matthaywardwebdesign opened #2362 "[Feature] Add page.waitForRequest() and page.waitForResponse()"
Hey!

After using Puppeteer for a little while now in a number of different scenarios (SSR, automated testing) a common piece of functionality that often came up as needed, or at very minimum a nice to have, was the ability to wait for a specific network request to be made, or alternatively for a specific network response to come back. As a result I propose the addition of the following two functi

[2018-04-12 11:24] x1c0 commented on #2235
@aslushnikov no, the only flags we are using are this ones: `'--headless', '--disable-gpu', '--window-size=1000,600'`

[2018-04-12 13:43] gersonfs commented on #299
Hello!

Any news about ``Page.FileDownloaded`` event?

[2018-04-12 13:46] starcwl opened #2363 "Does puppeteer support '--use-file-for-fake-video-capture' or has any plan for it?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 1.2
* Platform / OS version: mac 10.13.4
* URLs (if applicable):
* Node.js version: 8.11

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

below is my configs for puppeteer.

[code]

**What is the expected result?**

I want to replace local webcam for 1.y4m. But it seems t

[2018-04-12 13:50] mpopv commented on #2359
Sorry, I should have included that in the issue -- I also tried empty string and omitting `pageRanges`, and it printed only the first of two pages. I updated the issue.

Your code works fine for me as well. I think the underlying cause is that page count is being set to "undefined" in Chromium. It seems like perhaps some aspect of the document being captured is causing this... but I'm not sure wha

[2018-04-12 14:20] matthaywardwebdesign commented on #2363
Try using both `--use-fake-device-for-media-stream` and  `--use-file-for-fake-video-capture`. When specifying the y4m file make sure you are using the absolute file path. It's also recommended that you close all Chrome instances first before using `fake-device` for the first time.

Reference - [https://github.com/webrtc/samples/issues/616](https://github.com/webrtc/samples/issues/616)

[2018-04-12 14:24] matthaywardwebdesign commented on #2125
@salamander-mh How are you running Puppeteer under Docker? In particular is it being run with `dumb-init` to ensure zombie Chrome processes are killed?

https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker

[2018-04-12 15:06] aslushnikov commented on #2235
@x1c0 so where do you see these logs? can you paste a code snippet you use so that I can try to reproduce?

[2018-04-12 15:14] aslushnikov commented on #299
@gersonfs I'm sorry this takes long. Our initial approach turned out to be quite involved and vastly complicated chromium codebase. We're now evaluating a different approach that sounds promising, but there's no ETA. See https://crbug.com/831887

[2018-04-12 15:23] aslushnikov commented on #422
@Garviell you can use Devtools Protocol and wait for the [`CSS.fontsUpdated`](https://vanilla.aslushnikov.com/#CSS.fontsUpdated) event.

[code]
This probably will need some more love: if webfonts are cached, we might not receive any `fontsUpdated` event since the right ones will be used by default. So I'd query for the computed styles first to see if there's anything to expect for.

Hope this help

[2018-04-12 15:26] #2148 closed, assigned to nobody

[2018-04-12 16:54] ebidel commented on #2358
You want to know this information for taking  high quality screenshots.

For my particular case, I'm running an app in both mac and linux. So I want to use the correct DPR per the device without hard coding numbers.