[2017-10-01 15:50] chanzone commented on #924
Hi @vsemozhetbyt thanks for your fast respond. Earlier I thought the return value is the normal document.querySelectorAll DOM, didn't notice it is ElementHandle. I can now get the ElementHandle and use `page.evaluate` to further process my output. Thx.

[2017-10-01 15:50] #924 closed, assigned to nobody

[2017-10-01 16:37] geertbrit opened #926 "Erratic screenshots (rectangular area not 'painted'). Potential bug. Only happens with headless=true"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0 (also on 0.10.x)
* Platform / OS version: Macbook Pro Retina early 2015 / OS X Yosemite 10.10.5
* URLs (if applicable): http://bbc.com

**What steps will reproduce the problem?**

Running the following snippet wil reproduce the problem. NOTE: the problem is erratic; sometimes it will exhibit the correct behavi

[2017-10-01 16:41] geertbrit commented on #926
Showing only the footers for easy comparison. Note: the trailing white in the incorrect screenshot is actually part of the actually produced screenshot. This leads me to think that even in the erratic case the dimensions are properly determined, it's just that the entire viewport is not completely 'painted in'.

**correct `{headless: false}`**

![screen shot 2017-10-01 at 18 42 55](https://user-im

[2017-10-01 16:44] vsemozhetbyt commented on #926
FWIW, `window.scrollBy(0, document.body.clientHeight)` would be more effective.
[code]

[2017-10-01 16:59] geertbrit commented on #926
@vsemozhetbyt , yep you're correct. I'll update. Doesn't make a difference for this problem though.

[2017-10-01 17:58] valstu commented on #926
I'm having exactly the same issue at the moment. Tested both v0.11 and 0.12-alpha.

[2017-10-01 19:39] entrptaher opened #927 "Login on Upwork/Github crashes chrome"
### Steps to reproduce
**Tell us about your environment:**

* Puppeteer version: v0.11.0, v0.12.0
* Platform / OS version:
* URLs (if applicable): https://www.upwork.com/ab/account-security/login

Chrome version tested: 59, 62, 63

**What steps will reproduce the problem?**

Create a script that will go to upwork, and login.
Maybe first time it'll load properly, it'll fail to load on second try.

[2017-10-01 19:46] entrptaher opened #928 "Method Chaining"
You can chain the commands on other Nightmare, Chromeless etc. You can provide selector along with type(). Like the following. A total of 188 characters. The chain methods are still doable with the seperate awaits.

[code]

for the same thing we have to write the await multiple times. A total of 244 characters.
[code]

What should be done to achieve the chain methods for clean coding and innerpeac

[2017-10-01 21:15] Janpot commented on #928
I think functions should have meaningful results that are relevant and predictable to what the function does. I think this principle should go before counting characters when designing an API. I think almost all of these functions can return a result that can be useful in some scenario. Fluent APIs are probably one of the most abused API design patterns.

[2017-10-01 22:32] awilson28 commented on #765
@malyw I'm trying to install the intoli package on aws ec2 and am running into issues like cc @alexey-sh --- did you have to do anything else after running `sudo yum --nogpgcheck localinstall https://intoli.com/blog/installing-google-chrome-on-centos/google-chrome-stable-60.0.3112.113-1.x86_64.rpm`? Were any other packages required?

[2017-10-01 23:27] Garbee commented on #928
According to a previous implementation, #212, we simply need to see a good level of people requesting the functionality. For now it is possible to implement it in a wrapper system, so we'd rather not have it in core unless there is a strong need for it.

[2017-10-02 02:33] Khady commented on #426
I think that `authenticate` doesn't wait for two arguments but one object
with `username` and `password` fields.

[2017-10-02 04:34] entrptaher commented on #928
Well, I don't disagree with @Janpot. Everyone has their own perspective, that's why there are debates over Atom/Sublime, Mocha/Jest, Single Quote/Double Quote, Vue/React, Same line Braces/ Different line Braces.

From my perspective, I have a really huge file with lots of lines you know, and if I repeat the

[code]

etc. multiple times, that `await` things really starts to bug, it's not about the

[2017-10-02 05:46] Janpot commented on #928
Ah, ok, if it's as a secondary API like in https://github.com/GoogleChrome/puppeteer/pull/212 I have no problem with it. But then it'd probably make more sense as a wrapper package? Like `fluent-puppeteer` or so.

[2017-10-02 09:37] canonic-epicure commented on #899
Basically 0.11 completely does not work on Windows for me (Linux is fine)..

[2017-10-02 10:00] m9dfukc opened #929 "Screenshots of long pages get cut"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: macOS Sierra v. 10.12.6
* URLs (if applicable): http://www.spiegel.de/

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

![screenshot_01](https://user-images.githubusercontent.com/551597/31072561-b8bb5fa6-a768-11e7-8209-946c4292b9e2.jpg)

**What hap

[2017-10-02 10:07] Garbee commented on #928
Honestly, my recommendation here is someone build a wrapper to provide a chainable API. That can then be used and tested live in its own space and once any issues are hammered out it could be brought up for discussion to be included in core.

That keeps the core focus here on the primary API until launch. While allowing people to have a chain option to spot issues and work out kinks in case it dec

[2017-10-02 10:35] Janpot commented on #928
yep, makes more sense as a "userland" package

[2017-10-02 11:37] geertbrit opened #930 "`setRequestInterceptionEnabled=true` and continuing all requests -> weird result"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0 (also on 0.10.x)
* Platform / OS version: Macbook Pro Retina early 2015 / OS X Yosemite 10.10.5
* URLs: http://coolblue.nl

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
[code]
**What is the expected result?**

intercepting requests and letting all requests contin

[2017-10-02 11:39] geertbrit commented on #930
Note: I've tested with waiting for say 30 seconds for page to be done, but result is still the same. Doesn't feel like a timing issue to me

[2017-10-02 11:47] valstu commented on #929
This could be related to #926?

[2017-10-02 12:47] sharonass commented on #882
Actually the problem is there, scale factor 0 wont cut the screenshot but also the result page is not mobile

Any idea on how to resolve this, it happens only when I emulate mobile devices and also not always, but sporadically

[2017-10-02 12:48] sharonass commented on #882
My screenshots emulations  are taken  from DeviceDescriptors.js - that's the  problem

[2017-10-02 16:27] barnash commented on #867
I solved it with a monkey patch. Not the best solution out there, but it's a must if you have a big system and you need to debug where the wait got an error:

[code]

Wrote it for version 0.10.1, didn't test it with 0.11.0 yet.

[2017-10-02 17:58] paulirish opened #933 "Clipped screenshot above 10,000px fails"
I'm experimenting with trying to get screenshots of the fullpage past the 16k pixel limit (crbug.com/770769)... however some basics dont' seem to work.

Below my second screenshot, full2.png, doesn't extend past the  16384 limit, but regardless, the screenshot returned is all white pixels. (The first screenshot succeeds just fine)

[code]

[2017-10-02 18:02] paulirish commented on #933
Nevermind, the DPR of 2 was throwing me off. This technique is possible.

With a DPR of 2, you'll want heights of 8192 maximum.

Here's a working approach:

[code]

-----

**_EDIT:_** I've packaged this technique  into a simple example: https://github.com/GoogleChrome/puppeteer/pull/937

[2017-10-02 18:02] #933 closed, assigned to nobody

[2017-10-02 18:02] paulirish commented on #929
@valstu you can follow this pattern: https://github.com/GoogleChrome/puppeteer/issues/933#issuecomment-333615224

[2017-10-02 18:27] m9dfukc commented on #929
Related to https://github.com/GoogleChrome/puppeteer/issues/359

[2017-10-02 19:25] chuckchamberland commented on #921
I can duplicate this on MacOS 10.10.5 using 0.11.0 and facebook.

I'm also having trouble with an internal site I'm trying to automate, but also seeing it in headful mode. I only mention it here because of the note about 'response.request().headers' not containing cookies.

[2017-10-02 19:35] julien-c opened #936 "Add typings"
Is someone already working on Typescript typings for `puppeteer`?

Given the quality of the [doc](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md) (auto-generated from the code?) it seems like it would be pretty easy to write/maintain typings for this project.

Thoughts?

[2017-10-02 19:40] paulirish commented on #359
I've put up the basic workaround for this bug here: #937

[2017-10-02 21:17] davidwindell opened #940 "How to get remote webSocketDebuggerUrl (or connect without GUID)"
We're using `puppeteer.connect` to connect to a remote Chrome instance:

[code]

Is there any way we can avoid needing to know the GUID? Perhaps by a flag when starting the remote Chrome (it's on a secure internal network).

Alternatively, what would be the best way in node to look up the `browserWSEndpoint` from `http://{remoteip}:9222/json/version`?

Or are we approaching this the wrong way?

[2017-10-02 22:46] julien-c commented on #936
Ok found this: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/19827

[2017-10-03 01:45] Khady commented on #936
This one in definitelytyped seems to be "old" already (0.10, but 0.11 has been released).

This has been discussed a few times and IIUC the solution is https://github.com/GoogleChrome/puppeteer/pull/219

Previous discussions:
- https://github.com/GoogleChrome/puppeteer/pull/371
- https://github.com/GoogleChrome/puppeteer/pull/739

[2017-10-03 03:27] aslushnikov commented on #858
I like a `pierce` option for the `page.$` / `page.$$`:

[code]

This would satisfy all the use cases I can think of while narrowing the scope of the shadowdom-related api to a single method. Implementation-wise, it's fine to implement this in-page.

I'd be happy to review a pull request.

[2017-10-03 03:44] aslushnikov commented on #886
Thanks Eric, closing as a dupe of #872.

[2017-10-03 03:44] #886 closed, assigned to nobody

[2017-10-03 04:26] aslushnikov commented on #891
@pvtulsiram538 please, re-file this issue, filling in the issue questionnaire. This would help us to see what's going on.

[2017-10-03 04:26] #891 closed, assigned to nobody

[2017-10-03 04:29] aslushnikov commented on #613
@thujikun yes it does

[2017-10-03 04:32] aslushnikov commented on #894
Hi @Khady,

This is likely due to the renderer crashing. If you launch browser with the `dumpio: true`, you should see chromium stacktrace when this happens. Could you please check if this is the case?

[2017-10-03 04:37] aslushnikov commented on #890
There's a #554 that will give you the `browser.pages()` API. Should be helpful.

For this issue to be addressed, browser instance should emit 'close' event when the browser connection is closed.

[2017-10-03 07:40] BkSouX opened #945 "Wait for navigation (networkidle) even if no new requests are instantiated"
Hi

I am using the code from #913 to set content and wait for navigation.

[code]

But sometimes, I don't have any new requests in the HTML so it waits a long time before crashing i suppose.
Any idea how I can handle that ?

Thank you

[2017-10-03 10:34] geertbrit commented on #926
probably similar to #477

[2017-10-03 11:14] KristerV commented on #901
just to chime in. In my case the website has a `$.post()` request in it and it always fires the `requestfailed` event. Not error, pageerror or response.

`page.on('requestfailed', (a) => console.log('Failed:', a.url, a.response() ))`

There is no response. Can't find a way to figure out what's making the request fail.

edit: through `env DEBUG="*"` I found that the reason was `net::ERR_ABORTED`.

[2017-10-03 12:44] KristerV commented on #759
I have narrowed it down. The problem persists when `ignoreHTTPSErrors: true` is used with `page.setRequestInterceptionEnabled(true);` and the loaded website has SSL problems. Same settings work with google.com for example.

Here's a minimal example to test with, just change the `badSite/goodSite` variable
[code]

edit: I found a workaround. Manually trusting my self-signed cert. I gave [this link]

[2017-10-03 13:11] pemrouz commented on #858
It's deprecated in CSS, not JS. Details in the thread.

[2017-10-03 13:37] silverwind commented on #550
@ak239 your build is working fine here on a RPi2 on Raspbian, while the official build gave me the ELF error, so I assume there's no armv6 binary build of Chrome being downloaded.

[2017-10-03 15:20] alexey-sh commented on #765
@awilson28

no

I didn't receive message about it.

[2017-10-03 15:24] surendra-y commented on #373
Has anyone found any workaround for that?

[2017-10-03 15:38] SamVerschueren commented on #373
The only thing that worked is `displayHeaderFooter`. The downside is that it also prints the page title and page date at the top. Page title can be removed by removing the title tag in the html file. Date is OK for me. The only thing that's a no go for me is the filepath/pageurl in the bottom left corner.

[2017-10-03 16:39] silverwind commented on #550
@ak239 did another attempt, this time on a RPi3 (armv7) running Arch Linux ARM with no GUI libraries present (shell only). I had to install the following GUI-related libraries until I was able to run the chrome binary: `pango libxcomposite libxss libxrandr gconf atk gtk3`. After that, I was able to run the PDF  and screenshot examples fine.

[2017-10-03 16:43] ebidel commented on #858
I'm aware of that thread and its history :) Because no vendor has agreed on
a solution, chrome is removing the feature from JS too:
https://www.chromestatus.com/feature/4964279606312960

On Tue, Oct 3, 2017, 3:11 AM Pedram Emrouznejad <notifications@github.com>
wrote:

[2017-10-03 17:01] vsemozhetbyt opened #946 "Provide 'DOMContentLoaded' option for waitUntil in page.goto()"
It would be a faster variant for cases when the DOM tree suffices to retrieve some info.

https://developer.mozilla.org/en-US/docs/Web/Events/DOMContentLoaded

[2017-10-03 18:11] SamVerschueren commented on #892
Added a PR!

[2017-10-03 19:39] geertbrit commented on #926
Taking multiple clipped screenshots and stitching them together as per https://github.com/GoogleChrome/puppeteer/issues/933 seems to have solved things.

Got good results using [sharp ](https://github.com/lovell/sharp) for stitching

[2017-10-03 21:36] vsemozhetbyt opened #948 "Is there a way to catch switching to download mode?"
* Puppeteer version: v0.12.0-alpha
* Platform / OS version: Windows 7 x64
* URLs (if applicable): any with non-openable  content type

A stright attempt just throws a timeout (the file is downloaded successfully though):

[code]
[code]

[2017-10-03 22:22] alexkozy commented on #550
Thanks a lot!

I build Chromium for arm using recipe 2 from [here](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_chromium_arm.md).

Before start I have Chromium checkout for [regular Linux build](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_build_instructions.md#Build-Chromium), I added target_cpu = "arm" to gn flags, run following code and build using ni

[2017-10-04 01:08] jamesmartinduffy commented on #85
+1, this feature would be crucial to me as well. Right now simulating 5+ simultaneous users is very memory intensive, since each user needs to launch its own chrome instance.

Would be useful to be able to use an unlimited number of browser contexts to simulate the desired number of users while using only one browser instance.

[2017-10-04 03:57] Khady commented on #894
Thanks for the answer. I'm pretty busy currently, but I will try to do this during the week.

[2017-10-04 04:20] jamesmartinduffy commented on #545
I'd say that this is a common enough use case that it makes sense to include in the API.

`if (await page.exists(selector)) // do something`

is a lot clearer than

`if (!!(await page.$(selector))) // do something`

[2017-10-04 05:46] SamVerschueren opened #949 "Replace `injectFile` to `injectScript` and add `injectCSS`"
When browsing trough the docs and using the API, I noticed that Puppeteer has an `injectFile` method. The name might be confusing, because you might think it works for a CSS file as well. I think it would be better to rename this method to `injectScript` and also add a `injectCSS` method.

Just an idea though :).

[2017-10-04 06:26] ghost opened #950 "How to install dependencies?"
I'm using an Ubuntu 14.04 (64 bit) and when I try to launch puppeteer i get this error message:

[code]

I read in other issues that there is some kind of a problem with shared libraries in Linux. I'm haven't used Linux much before and I don't really know how to install dependencies but I did see in troubleshooting.md that I'm supposed to check that all dependencies are installed. How can I instal

[2017-10-04 07:23] kdekooter commented on #940
As to your second question: `http://{remoteip}:9222/json/version` returns JSON. You could use the `request` library to call this URL and do a `JSON.parse()` on the response which gives you an object with the `id` as an attribute.

[2017-10-04 07:48] vsemozhetbyt commented on #949
CSS injecting seems to be possible when https://github.com/GoogleChrome/puppeteer/pull/947 is landed.

[2017-10-04 12:20] mifi commented on #822
Got the same issue with a page:
https://gfx.nrk.no/

Seems it's fixed in chromium
https://bugs.chromium.org/p/chromium/issues/detail?id=751642

[2017-10-04 12:25] mifi commented on #822
I solved the problem by disabling HTTP2
[code]

Edit: Seems this flag only works with `headless: false`

[2017-10-04 12:40] Garbee commented on #950
Use the package manager (`apt-get` for 14.04) in your terminal to install the packages listed in the troubleshooting document.

You may want to reach out to an Ubuntu support area such as AskUbuntu or the Ubuntu IRC channel for support with that if you need more guidance.

[2017-10-04 13:51] davidwindell commented on #940
Thanks @kdekooter, I've put together the below script which is working (I'm new to node so feel free to comment on my appalling structure and handling of async):

<details>
 <summary>generate.js</summary>

[code]
</details>

For example: `echo "<html>foo</html>" | node generate.js 127.0.0.1:9222 > foo.pdf`

If anyone has any suggestions to speed this up and/or avoid the `browserWSEndpoint` lookup

[2017-10-04 13:58] r3dDoX opened #951 "Add possibility to configure download mirror"
Currently the URL "https://storage.googleapis.com/chromium-browser-snapshots/..." is hardcoded.
Since we would like to use this package behind a firewall which is blocking downloads, we need to be able to configure the download mirror.

An option like the ENV variable in the phantomjs wrapper package: "PHANTOMJS_CDNURL" would be useful for us.

[2017-10-04 20:36] #950 closed, assigned to nobody

[2017-10-04 20:42] #892 closed, assigned to nobody

[2017-10-04 20:52] aslushnikov commented on #951
The CDN env variable is not flexible enough; that has been discussed here: https://github.com/GoogleChrome/puppeteer/pull/752#issuecomment-329341243

There's also a script that was used to download a proper chromium:

[code]

Would this work for you?

[2017-10-04 20:54] aslushnikov commented on #949
@vsemozhetbyt `injectFile` injects from file system, whereas `addStyleTag` adds a url. I'd rather unify the two methods since it's confusing.

Something like:

[code]

[2017-10-04 21:02] aslushnikov commented on #945
That's today's limitation of the system, should be addressed with the #728 being fixed.
As a workaround, i'd suggest navigating to data URL:

[code]

Closing as a dupe of #728.

[2017-10-04 21:02] #945 closed, assigned to nobody

[2017-10-04 21:08] aslushnikov commented on #940
@davidwindell why do you want to avoid this? Since you're the one who starts chrome, you can get its GUID and share with all interested parties.

[2017-10-04 21:10] aslushnikov commented on #936
@julien-c the #219 is our approach to typescript typing.

[2017-10-04 21:10] #936 closed, assigned to nobody

[2017-10-04 21:12] aslushnikov commented on #929
Closing as a dupe of #359

[2017-10-04 21:12] #929 closed, assigned to nobody

[2017-10-04 21:15] aslushnikov commented on #928
I like the `fluent-puppeteer` package. It should be possible to implement a quite general approach similarly to #212.

If someone comes up with one, we'd be happy to refer to it from our docs.

[2017-10-04 21:15] #928 closed, assigned to nobody

[2017-10-04 21:19] aslushnikov commented on #926
This seems to be giving page enough time to render.

Dupe of #477.

[2017-10-04 21:19] #926 closed, assigned to nobody

[2017-10-04 21:20] #923 closed, assigned to nobody

[2017-10-04 21:27] aslushnikov commented on #922
@mizdra This looks like a different font resolution in chrome headless wrt chrome headful. Could you please file this to chromium ([crbug.com/new](http://crbug.com/new)) and post a link to the bug here?

[2017-10-04 21:29] aminjoharinia commented on #550
Hi
i got this error
`(node:2323) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: spawn EACCES`
`
(node:2323) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.`

[2017-10-04 21:42] geertbrit commented on #926
@aslushnikov I'm satisfied with the workaround but still curious to the underlying reason (and a potential way to fix properly):

Is it that the chrome is rasterizing the screen at a certain frames/sec but the screen it too large for the cpu to keep up or something?

[2017-10-04 21:42] aslushnikov commented on #920
It is a predicate. The `polling` predicate defines how often should puppeteer check for the condition. The `polling: 'mutation'` means that the predicate will be evaluated on every dom mutation. The `polling: 'raf'` means that the predicate will be evaluated on every animation frame.

[2017-10-04 21:42] #920 closed, assigned to nobody

[2017-10-04 21:44] aslushnikov commented on #919
@zenxds what kind of path do you pass in? It should be an actual path to the executable, so on MacOS it is something that ends with `Chromium.app/Contents/MacOS/Chromium`.

[2017-10-04 21:46] aslushnikov commented on #917
@sradu I'm not sure I understand. Could you please give an example of phantom script?

[2017-10-04 21:51] aslushnikov commented on #916
@applecool the `0.12.0-alpha` is not published to npm. It's a bleeding edge, you should be able to install it from github. However, I don't think it's necessary for this usecase, the `0.11.0` should be just good enough.

Regarding the linux box, try installing puppeteer without karma and just running some examples from `exampels/` folder. This should give you a better understanding of what's going

[2017-10-04 21:51] #916 closed, assigned to nobody

[2017-10-04 21:55] aslushnikov commented on #908
@IronCrystal I can't say much about the issue unless there's a snippet that will help me to reproduce the scenario. Please post a specific example so that we'd be able to follow up on this.

Speculatively closing this since @nisrulz might have addressed the issue with his comment.

[2017-10-04 21:55] #908 closed, assigned to nobody

[2017-10-04 21:56] aslushnikov commented on #728
Meanwhile. a good workaround for `page.setContent` that waits for all the resources to load:

[code]

[2017-10-04 21:57] #907 closed, assigned to nobody

[2017-10-04 21:58] sradu commented on #917
Of course!

See resourceTimeout at http://phantomjs.org/api/webpage/property/settings.html, and potentially the http://phantomjs.org/api/webpage/handler/on-resource-timeout.html event.

Here is a random example I found on stackoverflow about this feature:
https://stackoverflow.com/questions/16854788/phantomjs-webpage-timeout

And another one:
https://github.com/ariya/phantomjs/issues/12180

While

[2017-10-04 22:01] aslushnikov commented on #902
@niftylettuce redirects should work, we have a bunch of tests to cover this.

Please share a snippet if it doesn't work for you. Meanwhile speculatively closing this due to inactivity.

[2017-10-04 22:01] #902 closed, assigned to nobody

[2017-10-04 22:05] davidwindell commented on #940
@aslushnikov we launch the chrome instance automatically in a disposable docker container and communicating/broadcasting the Guid just wouldn't work. A reboot of the host means all dependent services have to look it up.

[2017-10-04 22:12] aslushnikov commented on #895
It shouldn't. You can use `page.evaluate` for this.

[code]

[2017-10-04 22:12] #895 closed, assigned to nobody

[2017-10-04 22:19] aslushnikov opened #952 "Add `browser.closed` and `page.closed` events"
- Fire `browser.closed` event when the underlying browser process gets closed / crashes
- Fire `page.closed` event when the page gets closed / crashes

This will help to build reliable scripts that restart browser or reopen pages when they crash.

[2017-10-04 22:20] aslushnikov commented on #890
Filed a separate issue for the API: #952

[2017-10-04 22:20] #890 closed, assigned to nobody

[2017-10-04 22:22] aslushnikov commented on #893
Puppeteer should provide `browser.closed`  and `page.closed` events so that it's possible to build reliable scripts - filed #952 to track this.

The crashes themselves are bugs, please report to chromium: [crbug.com/new](http://crbug.com/new)

[2017-10-04 22:22] #893 closed, assigned to nobody

[2017-10-04 22:24] aslushnikov commented on #894
In general case, we should report page crashes with the `page.closed` event. Filed #952 to track this.

[2017-10-04 22:26] aslushnikov commented on #882
Seems to be a dupe of #477

[2017-10-04 22:26] #882 closed, assigned to nobody

[2017-10-04 22:35] aslushnikov commented on #940
@davidwindell I see, thanks. This seems to be a general service discovery problem, but yes, you
can hack this in with the script you've suggested.

[2017-10-04 22:35] #940 closed, assigned to nobody

[2017-10-04 22:38] aslushnikov commented on #864
@vsemozhetbyt I don't think there's a way now. Why would you want this?

[2017-10-04 22:39] aslushnikov commented on #861
Closing due to inactivity

[2017-10-04 22:39] #861 closed, assigned to nobody

[2017-10-04 22:50] vsemozhetbyt commented on #864
@aslushnikov To save some actions on debugging.

Does [`contents.openDevTools()`](https://electron.atom.io/docs/api/web-contents/#contentsopendevtoolsoptions) in Electron uses something unavailable for DevTools protocol?

[2017-10-04 23:34] aslushnikov commented on #864
I believe this is a c++ binding to devtools_window.

I just figured there's a chromium flag for this: `--auto-open-devtools-for-tabs`.
If you have time, I'd appreciate a PR that adds `devtools` option to the `puppeteer.launch`, nightmare has it.

[2017-10-04 23:34] #864 closed, assigned to nobody

[2017-10-04 23:41] aslushnikov commented on #830
The `page.goto('url-to-pdf')` should not timeout in headless browser; on the contrary, it should return a valid response so that it could be inspected.

Otherwise, there's too much of a difference between headless vs headful modes, that results in a terrible workarounds like #852.

[2017-10-04 23:42] aslushnikov commented on #852
Closing this in favor of #852: there should be a reasonable way to work with navigations that return PDF's.

[2017-10-04 23:42] #852 closed, assigned to nobody

[2017-10-04 23:43] aslushnikov commented on #859
Closing this due to inactivity.

[2017-10-04 23:43] #859 closed, assigned to nobody

[2017-10-04 23:48] aslushnikov commented on #850
Dupe of #872

[2017-10-04 23:48] #850 closed, assigned to nobody

[2017-10-04 23:51] aslushnikov commented on #851
Closing as a dupe of #386

[2017-10-04 23:51] #851 closed, assigned to nobody

[2017-10-04 23:51] vsemozhetbyt commented on #852
(https://github.com/GoogleChrome/puppeteer/issues/830 was probably meant)

[2017-10-04 23:54] ebidel commented on #927
So the issue is that headless is triggering the capchta page? What happens
if you launch with full chrome?

On Sun, Oct 1, 2017, 9:39 AM Abu Taher <notifications@github.com> wrote:

[2017-10-04 23:57] aslushnikov commented on #846
@xfumihiro out of curiosity, what's your usage scenario for this?

[2017-10-05 00:03] #807 closed, assigned to nobody

[2017-10-05 00:04] xfumihiro commented on #846
@aslushnikov I was trying to catch if the "request permission" is issued on the auth/login flow. (Better UX - iff user asked for it 😃 )

[2017-10-05 00:06] aslushnikov commented on #804
@mityok: could you please share your usage scenario?

[2017-10-05 00:09] aslushnikov commented on #802
Dupe of #800

[2017-10-05 00:09] #802 closed, assigned to nobody

[2017-10-05 00:34] aslushnikov commented on #795
@Kxrr filed upstream bug: https://bugs.chromium.org/p/chromium/issues/detail?id=771825

[2017-10-05 00:39] aslushnikov commented on #787
Usually assertion errors come with stack traces that you should be able to get.

Other then that, feel free to send a PR that adds messages to the assertions, I'd be happy to review!

[2017-10-05 00:39] #787 closed, assigned to nobody

[2017-10-05 00:40] aslushnikov commented on #755
Looks like a duplicate of #800

[2017-10-05 04:19] jamesmartinduffy commented on #946
+1, this would be great. When parallel crawling some resource-heavy pages, waiting for a full `load` event before starting navigation significantly slows down the rate of the crawler.

[2017-10-05 05:07] sukrosono commented on #952
currently no PR to this right? Is it ok if i just take `page.closed` ?

[2017-10-05 05:42] niftylettuce commented on #822
I'm attempting to use `page.goto()` with a valid URL, and I received a similar issue:

[code]

Your fix @mifi suppressed this error from showing, however the page still did not load and there's no clear reason why at the moment.

[2017-10-05 05:53] niftylettuce commented on #822
Here's some other output captured via `requestfailed`:

[code]

[2017-10-05 05:53] SamVerschueren commented on #949
`addScriptTag` and `addStyleTag` currently already work with a local file path, that's what the tests do as well. Not sure if it's a good idea though, that's probably the reason why `injectFile` exists.

If we would go with your solution, an object with `url` and `path`, it might be nice to have a `content` option as well.

[code]

[2017-10-05 06:05] aslushnikov commented on #926
@gebrits rasterization is done in chunks, and we don't wait enough time for rasterizer to complete

[2017-10-05 06:12] chfw commented on #755
Issue 800 has deviceScaleFactor as 1. Mine works fine with the factor as 1. However, it does not work when the factor is 2.

[2017-10-05 06:51] niftylettuce opened #954 "ERR_CONNECTION_REFUSED (localhost:3000 only w/ignoreHTTPSErrors)"
It's really hard to debug puppeteer, at least connection errors.  Related to #822, I get a `ERR_CONNECTION_REFUSED` error.  Even with `DEBUG=*`, there's nothing in the puppeteer logs that shows why the request failed.  No stack trace, no weird error, no output from my server, nothing.  The only output in Chromium inspector console and puppeteer CLI debug output was `ERR_CONNECTION_REFUSED` as ment

[2017-10-05 06:58] niftylettuce commented on #954
Per https://github.com/GoogleChrome/puppeteer/issues/84#issuecomment-319467105 I read the Chromium issue https://bugs.chromium.org/p/chromium/issues/detail?id=751204 and this exactly describes my usage.  I navigate to a page, then navigate once more (see the Chromium issue's step 5). Not sure if this is related or not.

[2017-10-05 07:53] niftylettuce commented on #954
Another update - I've also tried to use self-signed certs and https protocol.  This does not work either.

[2017-10-05 08:08] sukrosono commented on #855
I am not sure but sometime when requesting to https://google.com i got error.

![puppeter req to a logo err highlight](https://user-images.githubusercontent.com/3001652/31216726-d1be25ba-a9de-11e7-85a3-4d2f6f572884.png)

[full console](https://user-images.githubusercontent.com/3001652/31216624-7ae64574-a9de-11e7-828c-7449b90b11e3.png)

[2017-10-05 10:01] HulaTime commented on #684
The best workaround for trying to directly click an element inside an iframe that i've found is to simply select the frame containing the element and then use the frame methods to navigate/select elements inside the frame.
e.g.
[code]

[2017-10-05 10:28] sukrosono opened #955 "coverage script fail on windows"
### Steps to reproduce

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. `npm run test`

**What is the expected result?**

test running

**What happens instead?**
`COVERAGE is not recognized as an internal or external command.`

leaving suggestion using
  - [appveyor](https://www.appveyor.com/)
  - [cross-env](https://www.npmjs.com/package/cross-env)

[2017-10-05 10:58] ghost opened #956 "page.pdf not saving files with / in their name"
The steps to reproduce are quite simple. Just try to save a pdf file with ```/``` in it's name.

Can we make it that we pass the filename as a parameter to page.pdf?

![image](https://user-images.githubusercontent.com/1344020/31224053-a9ca72fa-a9cc-11e7-82e4-b0bc279d735e.png)

[2017-10-05 11:12] vsemozhetbyt commented on #956
I think it is because the folder `example-with` does not exist. If the path contains an existing folder before the `/`, then PDF is successfully created.

[2017-10-05 11:12] graingert opened #957 "TypeError: Cannot read property 'send' of null"
### Steps to reproduce
Unsure of repo.

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: Ubuntu Zesty docker: ubuntu:zesty-20170915

**What steps will reproduce the problem?**

Open page, ???, close page

**What is the expected result?**

closes page

**What happens instead?**
[code]

[2017-10-05 11:15] vsemozhetbyt commented on #957
Can you provide a minimal code that causes this error?

[2017-10-05 11:20] ghost commented on #956
The issue that I'm raising is not about the folder in which the PDF should
be saved. It's about the actual name of the PDF file and the fact that you
cannot save PDFs that will have a / character in their name.

In this particular use case I want to save a file in the same folder with
my puppeteer script, but page.pdf believes that my file name also contains
the folder path.

[2017-10-05 11:21] jonlinper commented on #684
Other workarounds:
1. Navigate to the url of the iframe (no iframe, no bug).
2. Move the iframe (with Css) to the top-left of the screen.

[2017-10-05 11:22] graingert commented on #957
[code]

@vsemozhetbyt but it's intermittent

[2017-10-05 11:24] vsemozhetbyt commented on #956
Can you create a file with a `/` character in your operating system (without puppeteer)?

[2017-10-05 11:26] ghost commented on #956
I'm on OS X and yes I can create a file with / in the name.

[2017-10-05 11:39] entrptaher commented on #927
If I used my own chrome/firefox, no problem happens.

[2017-10-05 12:07] ghost commented on #956
The problem is that ```page.pdf``` path parameter is interpreted as the path (folder in which the file is going to be saved) + the filename. Ideally we should be able to pass these 2 as different parameters.

[code]

Later edit: I'm closing this issue because what I want is not possible (currently) because [internally we use ```fs.writeFileSync```](https://github.com/octasimo/puppeteer/blob/master

[2017-10-05 12:08] davidwindell commented on #379
Has anyone successfully got Chrome working on Alpine yet? Please do share if you have :)

[2017-10-05 12:15] r3dDoX commented on #951
Thanks for your answer and sorry that I didn't see the existing discussion about this topic.

We could probably implement something like this script that would work. But if possible I would not want to maintain such a script on our own. We cannot guarantee that this will work in the future. It would be nicer if we could rely on download location calculation of puppeteer.

I don't quite see why the

[2017-10-05 12:18] sylvaindumont commented on #379
It works with the following dependencies
[code]

At least for the tests I've run with karma and protractor via this image : https://github.com/sylvaindumont/docker-node-karma-protractor-chrome/tree/alpine

[2017-10-05 12:35] #956 closed, assigned to nobody

[2017-10-05 12:35] r3dDoX commented on #951
I made a small PR to show what I mean. #958

[2017-10-05 12:38] davidwindell commented on #379
@sylvaindumont does that work with the built-in chromium too once those deps are installed?

[2017-10-05 12:55] sylvaindumont commented on #379
@davidwindell puppeteer doesn't seem to download a musl version of chromium :
https://github.com/GoogleChrome/puppeteer/blob/master/utils/ChromiumDownloader.js#L31
you will have to you use the musl version installed in your container
[code]

[2017-10-05 13:06] grafaerig opened #959 "Fullpage Screenshot Problem with some Single Page Websites"
**Tell us about your environment:**
* Windows10
* puppeteer 0.11.0

**Problem?**

Fullpage screenshots of single page websites will not be displayed correctly.
I tried to clip areas,  scrolling through the page and **waitForNavigation**.

Similiar problems with navalia, chromeless and phantomjs.

Is there anything else i can do?

**Steps reproduce**

`const puppeteer = require('puppeteer');
var ur

[2017-10-05 13:42] davidwindell commented on #379
@sylvaindumont Unfortunately, that doesn't seem to work for me, I get:

[code]

[2017-10-05 13:48] astefanutti commented on #379
Current Chrome version of the Alpine-compatible Chromium package is 61.0.3163.100-r0 which I understand is still incompatible with Puppeteer (https://pkgs.alpinelinux.org/package/edge/community/x86_64/chromium).

[2017-10-05 13:50] davidwindell commented on #379
Looks like that's the case, i'll go back to running a separate docker container for Chrome for now and connect to that!

https://github.com/GoogleChrome/puppeteer/issues/550#issuecomment-329147751

[2017-10-05 14:12] aslushnikov commented on #951
Imagine some time in the future we migrate to a different url: `https://cdn.pptr.io/r543043/mac.zip` There's no good way for us to redefine the suggested `PUPPETEER_DOWNLOAD_CHROMIUM_URL_PREFIX` variable, so the change will break clients and will still require a maintenance effort on their side.

[2017-10-05 14:33] aslushnikov commented on #372
@longnull it looks like pornhub doesn't initialize immediately after loading all scripts. There's no general way to solve this problem, you'll need to either figure how the website works or throw in a bunch of timeouts.

[2017-10-05 14:33] #372 closed, assigned to nobody

[2017-10-05 14:59] aslushnikov commented on #415
The following worked for me:

[code]

[2017-10-05 14:59] #415 closed, assigned to nobody

[2017-10-05 15:03] aslushnikov commented on #422
@emilbayes you can use `page.goto` with data url and 'networkidle' option to await all resources, like this:

[code]

[2017-10-05 15:03] #422 closed, assigned to nobody

[2017-10-05 15:38] sukrosono commented on #65
Did the code base will use typescript after pull number 219 finished ? :fearful:

[2017-10-05 17:41] niftylettuce commented on #954
Figured it out - port was wrong on the link that was being crawled, and it wasn't obvious at first since port wasn't showing in logs 🤦‍♂️

[2017-10-05 17:41] #954 closed, assigned to nobody

[2017-10-05 18:07] aminjoharinia commented on #550
I found that in raspbian stretch , chromium version 60 is preinstalled
and chromium-headless works with command line
`chromium-browser --headless --disable-gpu --print-to-pdf https://www.google.com`
how could i use built in chromium for puppeteer?
@ak239 @silverwind

[2017-10-05 19:03] veb commented on #684
@MaxProvin  when I try your code I get this in the console:

`(node:10904) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: SSL Certificate error: ERR_CERT_WEAK_SIGNATURE_ALGORITHM`

Does anyone know why that's happening?

[2017-10-05 19:03] hparadiz opened #963 "page.goto(url) throws Error: Failed to navigate when { headless: true } but not when { headless: false }"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0-alpha and 0.11.0
* Platform / OS version: CentOS 7.4, Ubuntu 17.04, OS X 10.12.6
* URLs (if applicable): https://xocsp.ccp.xcal.tv/comcastSP/protected/auth?tenant=a2t_uuid&continue=https://streaminder.xcal.tv/sessions/create_sso&partner-id=comcast

**What steps will reproduce the problem?**
The error is reprod

[2017-10-05 21:23] nschnierer commented on #373
Sadly no support to add page numbers with puppeteer and no way to do this in CSS. However there is a workaround for that. Just edit your pdf file after puppeteer is doing magical things.

For my project I've used **HummusJS** (https://github.com/galkahana/HummusJS) to add page numbers after puppeteer. Performance is quiet good with puppeteer+hummus and even better than wkhtmltopdf or phantomjs.

H

[2017-10-06 01:59] armanm opened #965 "the timeout option on the goTo command can't be disabled"
**What steps will reproduce the problem?**

I'm on puppeteer 0.10.0, OSX trying to take some screenshots. The `goto` command is supposed to [allow disabling `timeout`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options) by giving it a value `0` but that doesn't seem to work:

**What is the expected result?**

I expect it to wait indefinitely for navigation to com

[2017-10-06 02:16] floydtagle commented on #923
Thanks! Its not that easy but thanks anyway.. @vsemozhetbyt

[2017-10-06 02:18] floydtagle opened #966 "Execute JavaScript Function"
is there a way to Execute a JavaScript Function within the page??

[2017-10-06 03:12] ChristianDavis commented on #705
@albertogasparin I implemented a waitForSelector option for when an element is hidden, work for you? #967

[code]

[2017-10-06 05:10] priyankapuranik commented on #824
How do I disable the chrome pdf viewer (so as to download pdf automatically!) ?

[2017-10-06 05:51] r3dDoX commented on #951
Surely, having a solution by routing through a proxy will always break when you change the host. But at least we would be safe against any changes to the versioning structure and operating system dependent naming.
Reducing the effort of maintenance to only when you switch to a complete different host would be a nice solution for us.

[2017-10-06 07:19] elenaoat opened #968 "Getting a strange "Unhandled promise rejection" error"
Here's the exact error message I am getting:

`(node:48966) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): AssertionError [ERR_ASSERTION]: false == true
(node:48966) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.`

Here's

[2017-10-06 08:07] vsemozhetbyt commented on #965
https://github.com/GoogleChrome/puppeteer/pull/887 merged only recently, so v0.10.0 does not support this yet: https://github.com/GoogleChrome/puppeteer/blob/v0.10.0/docs/api.md#pagegotourl-options

Try to update to the v0.12.0-alpha by `npm install https://github.com/GoogleChrome/puppeteer/`

[2017-10-06 08:09] vsemozhetbyt commented on #966
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatepagefunction-args

[2017-10-06 08:59] Martin-Kuca commented on #705
@ChristianDavis I'm in the same need as @trevordmiller and I did try the { hidden: true } and unfortunately it doesn't work for me as I need the selector to disappear, not just be hidden.

as you've written in #967

I think that the { reverse: true } option would be more appropriate

here is for example what the webdriverio's waitForExist reverse parameter does:

I've previously used webdriverio f

[2017-10-06 14:10] CesarLanderos commented on #803
i am also experiencing this, pls help :(

[2017-10-06 14:14] robertpallas commented on #545
@aslushnikov I would also love to have `.visible()`. Using it from Phatnom/Horseman scraping stack quite extensively.

What would be the best way to extend puppeteer and have shorthand functions? Besides `.visible(string)` I would create and use `.waitFor(string[])` for waiting any of the elements to appear for cases where Error or Success may appear and quick `.click()` + `.type()` shortcut.

[2017-10-06 14:15] tpetry commented on #623
Having the same problem: Some of our docker puppeteer instances never had any problem and some are producing the error after some days.

[2017-10-06 15:33] jamesmartinduffy opened #970 "await browser.close() occasionally hanging for 10 minutes+"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: macOS Sierra 10.12.6

**What steps will reproduce the problem?**

My code is complicated and the error only happens occasionally, so I've been working on condensing it down into a minimal script that will reliably reproduce the issue. I'll update this thread with that code when I have

[2017-10-06 16:30] tannerlinsley commented on #623
@aslushnikov Any news on this bug? This is a huge blocker for us, and many others it seems :(

[2017-10-06 18:25] #966 closed, assigned to nobody

[2017-10-06 18:43] #965 closed, assigned to nobody

[2017-10-06 19:02] ebidel opened #972 "Security: prevent navigations to file://"
From https://github.com/ebidel/try-puppeteer/issues/6.

Should pptr prevent navigations to URLs other than`https?:` or `about:`?

This would be similar to using web platform apis in chrome. Users need `--allow-file-access-from-files` to be able to navigate to (or read content from) `file:///` urls. In pptr, they could reenable access by passing that flags in `args`.

[2017-10-06 19:14] ks07 commented on #85
In case anybody is still stuck waiting on this, it's a surprisingly easy change to hack it working in the very simple case where you want a new context for every page. All that is required is adding a call to `Target.createBrowserContext` at the top of `Browser.newPage`, and passing the returned `contextID` into the call to `Target.createTarget` (viewing how this is done at cyrus-and/chrome-remote

[2017-10-06 19:34] ebidel commented on #927
That's what I suspected. I've seen other sites think headless Chrome (and using it in browser automation) as a bot. We've seen that over in Lighthouse too.

Captchas tend to trigger on all sorts of things (suspect mouse movement, suspect browsing history, etc.) Unfortunately, they don't give us much more than that for good reason :p

[2017-10-06 20:03] hparadiz commented on #972
To be honest I don't think it's very prudent to surface systems like this on the public internet where anyone can run code without a great deal of penetration testing.

The approach outlined makes sense but there are other internal chrome-only pages which might be useful. What about all of the links listed in `chrome://about/`?

[2017-10-06 20:18] ebidel commented on #972
`about:` is an alias for `chrome:`. I'd imagine we'd be ok with any of those pages. Then again, other than `about:blank`, I can't think of a use case for needing any of the others.

[2017-10-06 21:35] JoelEinbinder commented on #972
I don't think the try-puppeteer is a use case we should support. It isn't safe to run arbitrary puppeteer code on your computer.

[2017-10-06 21:45] davidwindell commented on #809
Also, a suggestion to save on disk space if using the built-in Chrome binary, only install the required deps of `google-chrome-unstable` and not the ~50mb package itself:

`apt-get install -y $(apt-cache depends google-chrome-unstable | awk '/Depends:/{print$2}') --no-install-recommends`

To save a bunch more disk space, the RUN commands should be merged into one to avoid the extra layers (especia

[2017-10-06 21:54] aslushnikov commented on #972
Navigating to file urls comes handy in a few scenarios; one example is a cli tool to render SVGs to PNGs.

Regarding the issue, i think the right solution would be to run chrome under the user that can't read any of the host files.

[2017-10-06 21:54] #972 closed, assigned to nobody

[2017-10-06 22:00] ebidel commented on #972
Wouldn't `page.setContent()` be more appropriate for those cases? IOW, why does navigation need to come into play?

[2017-10-06 22:17] ebidel commented on #972
try-puppeteer is not something we should support. Just a specific example where this shows up.

That said, how would you run chrome as a specific user? The [Dockerfile](https://github.com/ebidel/try-puppeteer/blob/master/backend/Dockerfile#L52) defines a user with limited permissions but Chrome is still able to navigate to file like `/etc/hosts` and render it.

<img width="1284" alt="screen shot 2

[2017-10-06 22:35] #382 closed, assigned to aslushnikov

[2017-10-06 22:36] ericdraken opened #974 "Navigation Timeout Exceeded on unreachable addresses such as http://255.255.255.0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: CentOS 7.3
* URLs (if applicable): http://255.255.255.0

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

A soon-ish response with the console message:

`http://255.255.255.0/`

or an exception similar to the non-headless Chrome error of `ERR_ADDRES

[2017-10-07 00:50] sradu commented on #537
@aslushnikov Now that JSHandles are merged, any advice on the best way to implement xpath?

I'm especially wondering about the best way to use it with waitForSelector, where visible is incredibly helpful.

[2017-10-07 02:03] entrptaher commented on #927
If I normally use puppeteer `{headless:false}`,
I made sure to use different proxies, without proxies, with proxies, etc etc.

1. captcha happens after I bypass login page.
2. Or now it's worse, the whole chromium crashes.

[code]

And I searched for the crash, I found it's a chromium bug introduced after 59th version.
Still, I wonder, why specific sites always makes the problem?
and why only chro

[2017-10-07 02:48] ebidel commented on #927
Can you post a link to the crbug?

[2017-10-07 07:28] #241 closed, assigned to JoelEinbinder

[2017-10-07 07:40] alixaxel commented on #316
@rfink @brafdlog I managed to deploy a [compiled version of Chromeless](https://github.com/adieuadieu/serverless-chrome/blob/master/chrome/README.md) compressed with Brotli along with a trimmed down version of [iltorb](https://www.npmjs.com/package/iltorb) for decompressing it in under 34MiB ZIP package.

It also [decompresses faster](https://github.com/sambaiz/puppeteer-lambda-starter-kit/issues/

[2017-10-07 07:53] jamesmartinduffy commented on #970
Just had one hang for a couple hours.

But after doing some more split testing, this seems to only happen in headful mode (`headless: false`).

Doing a `ps aux | grep chromium` while the script is hanging, I see the following in the list:

[code]

So I think the issue is possibly caused by a crash reporting tool when Chrome is in headful mode?

Anyway, I've switched my script back to `headless: tr

[2017-10-07 07:56] aslushnikov commented on #968
@elenaoat Trying to run your script, I get:

[code]

Can you share a snippet with actual URLs? Also, if you run the script with the `--trace-warnings` node flag, you should get stacktraces for the errors.

[2017-10-07 08:10] aslushnikov commented on #537
@sradu the following script works fine for me:

[code]

[2017-10-07 08:18] aslushnikov commented on #85
@ks07 FYI: browser contexts are **not supported** in headful mode (which is the reason we wait on implementing this in pptr).

[2017-10-07 08:19] aslushnikov commented on #686
@katp4 you should be able to do this with request interception API (see `setRequestInterceptionEnabled` method).

[2017-10-07 08:23] aslushnikov commented on #755
un-duplicating then.

[2017-10-07 08:30] aslushnikov commented on #545
@robertpallas  Although this is a little bit of a hack, you can require puppeteer classes and amend their prototypes:

[code]

IF you want to publish your work as an npm module, it should be done as a [peer dependency](https://nodejs.org/en/blog/npm/peer-dependencies/) to pptr

[2017-10-07 08:39] aslushnikov commented on #972
@ebidel ah, right. The `/etc/hosts` is world-readable by default - it looks like it's harmless to read. You can change this with `chmod` if there's a need to.

[2017-10-07 09:17] entrptaher commented on #927
I followed along the versions, tried version 58, which does not have headless. Obviously it did not work.
I was having problem with version 59-62 and I saw version 63. The crash is no more if I use the latest Version 63.0.3236.0 (Developer Build). Nor do I see the captcha. Also I am using the following arguments, the disable extensions part was suggested on various replies but it did not work on t

[2017-10-07 15:08] YAmikep commented on #486
I have a question related to this.
How to reset event listeners on a page?
I tried the following `page.removeAllListeners(['request', 'response']);` but it does not work.

For example:

[code]

Thanks

[2017-10-07 15:28] icarusmiles commented on #85
@aslushnikov - Dang that's a bummer, is there a roadmap for it to be implemented in headful mode?

[2017-10-07 16:14] yzhang-gh commented on #786
@Orecic Could you please tell me how to use proxy within cmd or PowerShell?
I used a PAC but it seems that PowerShell won't use that configuration.

[2017-10-07 18:54] ebidel commented on #970
Thanks for reporting @jamesmartinduffy.

I think your diagnosis makes sense. IIRC, headless turns off reporting  by default and Puppeteer also [disables](https://github.com/GoogleChrome/puppeteer/blob/c225b93037c7948607f5bb9b414149c50f0d19e1/lib/Launcher.js#L30) some of that plumbing.

[2017-10-07 18:54] #970 closed, assigned to nobody

[2017-10-07 20:34] ChristianDavis commented on #705
@Martin-Kuca agreed, I implemented reverse in #967, trying to convince members it's useful

[2017-10-08 00:01] ChristianDavis commented on #545
I think the few features in #967 cover most cases without having to think around the API

[2017-10-08 01:05] huan commented on #810
How did you fix this?

[2017-10-08 01:45] perkfly commented on #880
I also encountered this issue

Edit:
sorry, my problem is that I intercepted the request twice...

[2017-10-08 03:15] codenoid commented on #810
sorry, i dont remember @zixia , but do you want me to open this issue again ?

[2017-10-08 03:18] huan commented on #810
Thanks for your reply. I had fixed this after I run `npm i puppeteer` with a normal user. (I use root before)

[2017-10-08 03:40] floydtagle opened #978 "Switching to New Tab?"
Is there a way to switch to a new Tab and go back to the current tab? It seems I cannot find a way to handle multiple  page/tab on one browser using puppeteer. Thanks

[2017-10-08 03:46] bootstraponline commented on #537
XPath support would be awesome.

[2017-10-08 04:22] bootstraponline opened #979 "Promise long stack traces"
Without [promise long stack traces](http://bluebirdjs.com/docs/api/promise.longstacktraces.html), it's impossible to debug failures. Consider this example code:

[code]

[code]

Nowhere in the stack trace is the line number for the code which failed.

[2017-10-08 09:14] vsemozhetbyt commented on #978
There may be soon: https://github.com/GoogleChrome/puppeteer/pull/554

[2017-10-08 11:42] Janpot commented on #979
It _could_ be done with:
[code]

Then, when run as
[code]

results in

[code]

That being said. This is not a `puppeteer` issue, this is a [node issue](https://github.com/nodejs/node/issues/11865).

[2017-10-08 11:57] SamVerschueren commented on #949
@aslushnikov Let me know what the preferred path forward is for this. Happy to do a PR to fix this.

[2017-10-08 13:10] gajus opened #980 "Document cookie.session property"
[`page#cookies`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagecookiesurls) returns array of objects representing cookies. The cookie object contains a boolean `session` property, e.g.

[code]

The purpose of the `session` property is unclear. The property is not documented in the Puppeteer API.

* https://stackoverflow.com/questions/46100100/how-to-pass-session-cookies-fro

[2017-10-08 13:26] klaus82 commented on #921
Hello,
made some test.
In the both cases of the test added (page and page2),  into the function launch of Launcher.js the userDataDir are correct,  the folder logged is the same.

[2017-10-08 13:41] gajus commented on #669
That is extremely fragile. It assumes that there are no other requests happening between setting the `request` event handler and making `page.goto` call.

[2017-10-08 13:44] gajus commented on #669
@CaledoniaProject an alternative solution is to:

1. Load a blank page
2. Create form HTML on the page
3. Submit the newly created form

Example (a naive implementation):

[code]

[2017-10-08 14:47] bootstraponline commented on #979
`node --inspect` is mentioned in that thread which doesn't seem to work. Bluebird works.

<img width="1032" alt="useless_stack_trace" src="https://user-images.githubusercontent.com/1173057/31317822-e4aac064-ac15-11e7-9322-0684c2ece8e4.png">

Thanks for the link to the node issue. I think it'd be helpful to warn end users of `puppeteer` coming from WebDriver about this. I invested in a small puppet

[2017-10-08 15:05] gajus opened #981 "Release v0.12.0-alpha"
The API documentation links to an unreleased v0.12.0-alpha version.

Release the v0.12.0 version under the alpha tag.

[2017-10-08 15:08] vsemozhetbyt commented on #981
You can install (or update to) v0.12.0-alpha with `npm i https://github.com/GoogleChrome/puppeteer/`

[2017-10-08 15:12] forclan commented on #963
This error throws in function `Page.goto`
[code]

`this._frameManager.isMainFrameLoadingFailed()`
[code]

`_loadingFailed` is set in `FrameManager._onFrameNavigated` which calls `frame._navigated`
[code]

`framePayload` have the property `unreachableUrl` which causes the error.

and `framePayload`  is received in websocket connection, sample :
[code]

It seems like chrome can not load [page](https

[2017-10-08 15:27] gajus commented on #981
Thats not the same. I want to be able to use my dependency version package manager to be able to inform me when the next version changes (e.g. `npm-check-updates`). For this, the package needs to be present in the registry.

[2017-10-08 15:37] gajus commented on #382
How does one obtain the property value from the JSHandle?

[code]

This returns `JSHandle` object.

[2017-10-08 15:39] vsemozhetbyt commented on #981
But the alpha version is cutting-edge, it is changed daily, it seems it is just a synonym of the master branch.

[2017-10-08 15:40] gajus commented on #382
Turns out you simply need to use `toString`.

This API is rather odd. Whats the reason for JSHandle abstraction in the first place?

[2017-10-08 15:47] Garbee commented on #981
I think the better action here is to refactor the docs to say `master` or something resembling the current dev state instead of the next version.

[2017-10-08 16:10] gajus commented on #981
I see. Indeed, "alpha" gives an impression that is a tagged release.

[2017-10-08 19:21] gajus opened #982 "allow to pass a parameterized funciton as a string to page.evaluate"
[code]

produces `ReferenceError: arguments is not defined` error and as far as I can tell, there is no way to pass a parameterised function as a string to `page.evaluate`.

I have tried `await page.evaluate(`(a) => { console.log('a', a); }`, 'FOO');` as well, with no luck.

Meanwhile, stringifying methods at runtime produces unexpected results when used in combination with traspilers such as Babe

[2017-10-08 21:28] pavelfeldman commented on #382
@aslushnikov let's remove toString before it is misused broadly. I don't remember reviewing it btw, I remember renaming old `toString` into `jsonString`, but that was it...

[2017-10-09 03:17] floydtagle commented on #978
@vsemozhetbyt I see.. Thanks a lot.

[2017-10-09 05:04] CaledoniaProject commented on #669
@gajus Can you provide a complete example?

I've tried the following with node 8.6.0, results in syntax error ...

[code]

[2017-10-09 07:31] gajus commented on #669
What is the syntax error? I am guessing you haven't stripped the types.

Change:

[code]

[2017-10-09 07:36] gajus commented on #382
Whats the correct way to get the property value?

[2017-10-09 08:04] CaledoniaProject commented on #669
@gajus I still have problems

The screenshot works, but in the picture I only see the submit button, not the website I'm trying to access.

I guess I need to wait for the POST request, but the following code does not work

[code]

[2017-10-09 08:58] zenxds commented on #919
@aslushnikov  if i pass a chrome path, such as `/Applications/Google Chrome.app/Contents/MacOS/Google Chrome`, not chromium path，i got a timeout from puppeteer

[2017-10-09 12:39] Kalliser commented on #959
+1 I encounter same bug on mobile version of a website, in a ubuntu environnement.

[2017-10-09 13:01] Garbee commented on #919
Stable won't currently work since it doesn't have all the right API changes landed yet.

You need to use Dev Channel at the least currently to puppeteer to work well.

[2017-10-09 19:42] paulirish commented on #979
Try this again in Node 8.5+ where [async stack traces are introduced](https://github.com/nodejs/node/pull/13870) to node.

I'm using @Janpot's example from above, and you can see the full stack:

![image](https://user-images.githubusercontent.com/39191/31355455-29a20d38-acef-11e7-8d0a-7ed548531126.png)

[2017-10-09 19:50] bootstraponline commented on #979
Bluebird works. I wasn't successful in getting the stack traces without bluebird.

[2017-10-09 19:52] stereobooster opened #985 "Support sourcemaps"
I have following code in my small crawler

[code]

to track if something goes wrong. And get this output:

[code]
which is not very helpful.

I report this issue here because, I believe there should be standard way to deal with sourcemaps. Even if it will not be a part of puppeteer, it should documented in puppeteer.

Possible solution is to use https://github.com/novocaine/sourcemapped-stacktrace

[2017-10-09 20:14] entrptaher commented on #982
How about simply exposing the `fetch` function?

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction

[2017-10-09 20:18] Janpot commented on #979
@paulirish Yep, I checked that too. But it appeared to me there's a few things left to be desired from that stacktrace. You have blackboxed 12 frames already and still the trace is hard to parse. There's still a bunch of "internal" frames getting in the way. It also looks like you're using an async arrow function instead of the function declaration in my code. This makes you hit a bug in node wher

[2017-10-09 20:23] #684 closed, assigned to JoelEinbinder

[2017-10-09 21:43] paulirish commented on #979
@ak239 take a look at the last couple comments. Use of `__dirname` as a function name certainly is a bug.  Also this kind of indicates we might want to have some of node's internal scripts blackboxed by default.

[2017-10-09 21:51] vsemozhetbyt commented on #979
See https://github.com/nodejs/node/issues/15386 and https://bugs.chromium.org/p/v8/issues/detail?id=6822

[2017-10-09 23:41] alexkozy commented on #979
There are some ideas about name inferences for arrow functions. Most radical one - adopt Java approach - use outer closure # num as function name. E.g.
`function foo() {
  () => 42 /* foo#1 */
  () => 239 /* foo#2 */
}`

There are two different problems that we need to solve to blackbox internal scripts:
- we should mark internal scripts in more reliable way than `/internal/.*` regexp,
- we should

[2017-10-10 00:01] #324 closed, assigned to nobody

[2017-10-10 01:22] bootstraponline commented on #979
For the project I just finished (automating [bitrise settings with Chrome](https://github.com/bootstraponline/bitrise_settings)) I used Kotlin. I think almost every WebDriver binding other than JavaScript provides synchronous APIs.  async is a terrible fit for UI testing.

It's sufficiently bad that WebDriver wrote [a promise manager to fake synchronous execution](https://github.com/SeleniumHQ/sel

[2017-10-10 04:54] ebidel opened #989 "No way to close a browser instance that was opened with connect()"
How does one close a browser instance that was opened by another script? Assuming you don't have access to that process.

Repro:
1. Run `node connect.js &`
2. Run `wsURL=<ws url printed to console in step 1> node connect.js`

[code]

Thought about navigating to `about:quit` but that doesn't work: `Error: Failed to navigate: about:quit`

[2017-10-10 05:59] aslushnikov commented on #989
On a first glance, this could be addressed with the `browser.close()` protocol method.

On a second thought though, the `browser.connect` method doesn't own the process, and thus shouldn't be able to close it. The service that started the browser should do the clients bookkeeping and manage browser instance lifetime.

What's your usecase?

[2017-10-10 06:12] aslushnikov commented on #65
@brutalcrozt no, we'll continue using JS with jsdoc annotations.

[2017-10-10 06:25] aslushnikov commented on #382
@gajus it's [`JSHandle.jsonValue`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#jshandlejsonvalue)

[2017-10-10 06:57] #919 closed, assigned to nobody

[2017-10-10 06:58] aslushnikov commented on #921
For the record: upstream bug is filed as https://crbug.com/771830

[2017-10-10 07:06] kdekooter opened #991 "Browser unreachable after a couple of hours - how to debug?"
I am monitoring a bunch of websites using puppeteer. Instead of starting a new browser for every request I launch puppeteer once and `connect` to that instance for further requests.

However after a couple of hours connecting fails without any prior warning. I am at a loss debugging this issue. Is there any way I can switch on more logging to see what is going on?

[2017-10-10 07:06] aslushnikov commented on #980
@JoelEinbinder, could you please take a look?

[2017-10-10 07:08] aslushnikov commented on #978
Dupe of #386

[2017-10-10 07:08] #978 closed, assigned to nobody

[2017-10-10 07:26] aslushnikov commented on #949
@SamVerschueren Your suggestion with url/path/content options sounds good to me:

[code]

if you have time, I'd be happy to review a PR. (note: please make sure to use sourceURL for the 'content' option of the addScriptTag/addStyleTag methods).

If you're short on time, I'd rather do it myself: this is one of the bugs that we'd like to have closed soon.

[2017-10-10 07:33] LLLLLamHo opened #995 "touchscreen"
in iphone mode use `touchscreen.tap`，but browser no scrolling screen，hope to answer，thanks。

**The configuration file**
[code]
**Using the file**

[code]

[2017-10-10 07:40] aslushnikov commented on #991
@kdekooter there's a `dumpio` flag to the `puppeteer.launch`. It will dump the stdout of the chrome in case there are any errors happening.

[2017-10-10 07:42] aslushnikov commented on #982
@gajus the following works just fine for me:

[code]

[2017-10-10 07:46] SamVerschueren commented on #949
I'll try to work on it today.

Can you elaborate on

Or do you mean

[2017-10-10 07:49] entrptaher commented on #982
@aslushnikov, Didn't he want to expose `Fetch` from the fetch library? :/

[2017-10-10 07:49] aslushnikov commented on #949
That's right, I meant `path` option.

[2017-10-10 07:57] aslushnikov commented on #982
@entrptaher not sure. It also can be that the issue is in interop with babel.

@gajus: you can use string interpolation to inject "arguments" to string literals passed as functions:
[code]

[2017-10-10 08:34] gajus commented on #982
It says right there in the original issue:

The intention of the code is to access [`fetch` API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API).

However, because a transpiler sees import of `fetch` in the scope of the function, it tries to assign a local reference to the code.

If it is still not clear, here is an example of the transpilation.

https://babeljs.io/repl/#?babili=false&

[2017-10-10 08:40] gajus commented on #382
This description makes it in no way clear that `jsonValue` returns the value of a property.

[2017-10-10 08:49] vsemozhetbyt commented on #921
@aslushnikov Is it connected? In OP's case, two first runs are with `headless: false` — so the issue is not in closing with `headless: true`, it is in not sending cookies with `headless: true` that have been successfully saved by previous runs.

Did you mean https://github.com/GoogleChrome/puppeteer/issues/918 ?

[2017-10-10 09:45] entrptaher commented on #982
I keep the injected and main codes separate for such reason. I was having similar problem with scopes. But passing a promise/function with all scope related information seems like an overkill to me. The node scope and the browser scope both has different api for same things.

Example code to keep things tidy.

[code]

btw, what's wrong with naming things this way to simplify the problem?

[code]

[2017-10-10 10:15] SamVerschueren commented on #949
PR send!

[2017-10-10 10:41] gajus commented on #982
You can just do:

[code]

Thats not the point. This approach is error prone.

I would much rather be able to do this:

[code]

and avoid all the uncertainty from the start.

Implicit behaviour is never good.

[2017-10-10 12:25] entrptaher commented on #982
So you want this behaviour,
[code]
Which is specified on this line https://github.com/casperjs/casperjs/blob/master/modules/casper.js#L786

Great. Let's make the solution then. :)

[2017-10-10 12:30] gajus commented on #982
Wrong issue thread?

[2017-10-10 12:31] gajus commented on #982
All I want is to be able to pass a parameterised function as a string to the `page.evaluate` method.

[2017-10-10 15:31] entrptaher commented on #982
This is really interesting, I wanted to do the same, but ended up splitting the files and code,
if you look at the example I showed of casperjs, you can see there is this line where you are basically executing a function on the browser scope. We can create a simple wrapper or use browserify to overcome this problem for now.

[2017-10-10 15:42] SMJ93 opened #999 "Cannot type into an iframe element"
## Problem

Issue #684 has been resolved so we can now select elements inside the iframe. Great work guys!

But we can't seem to type after selecting / focussing on the element.

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: Chrome Version 61.0.3163.100 (Official Build) (64-bit)

**What steps will reproduce the problem?**

* Select an input element insid

[2017-10-10 16:03] ebidel commented on #989
Protocol method sounds good. Making some examples for CDS, tried this, and it didn't work as expected.

It's not always trivial to get back to the original service. One use case might be a long running chrome instance in cloud vm that you want to shut down after a period of time (cleanup / memory consumption issues). Your script or handler might be different than the one that launched Chrome.

Bas

[2017-10-10 17:19] cmazakas commented on #728
It's amazing that you posted the workaround. I'm running exactly into this issue, attempting to use `puppeteer` as a PDF generating service from HTML.

Thank you for filing a formal issue.

[2017-10-10 17:30] fhmd4k commented on #921
The chromium can't save and restore storage and cookies in headless mode. It's chromium bug.

[2017-10-10 18:15] aslushnikov commented on #382
@gajus `jsonValue` returns a value of the object.

If you want a value of particular object property, you'd need to use both `getProperty()` and `jsonValue()`:

[code]

Alternatively, you can use the evaluate method:

[code]

[2017-10-10 18:24] christopherwk210 opened #1000 "executionContext and evaluateHandle are both undefined"
This bug was happening to me on my local machine, but can easily be seen by going to [try-puppeteer.appspot.com](https://try-puppeteer.appspot.com/) and using the following:

[code]
Which shows `Error running your code. TypeError: page.evaluateHandle is not a function`

Also, the following:
[code]
Outputs `Error running your code. TypeError: page.mainFrame(...).executionContext is not a function`.

[2017-10-10 18:28] christopherwk210 commented on #1000
I was looking at the documentation for 0.12.0 alpha. My mistake.

[2017-10-10 18:28] #1000 closed, assigned to nobody

[2017-10-10 20:32] aslushnikov commented on #989
The `browser.close()` in its current form does make sense. Having both `browser.disconnect()` and `browser.close()` is confusing.

I like the `puppeteer.terminate(wsEndpoint)`. This would be doable with protocol method.

[2017-10-10 21:50] #309 closed, assigned to nobody

[2017-10-10 22:00] ebidel commented on #989
Or what about allowing an opt param:`browser.close(wsEndpoint)`? That could even call `puppeteer.terminate` internally. My thinking is that it's simpler to have one API call to kill chrome.

[2017-10-10 22:14] jpap commented on #537
+1 to this.  I'd also love to see a function that waits for an XPath to "disappear", i.e. XPath not valid any longer, e.g. a popup is closed.

[2017-10-10 22:19] fernandowski opened #1002 "Not allowed to access local storage."
Hello,

I have problems executing this piece of code

page.evaluate((browserSessionId) =>
            {
                let sessionJSON = JSON.stringify({sessionId: browserSessionId});
                localStorage.setItem("session", sessionJSON);
                let session = localStorage.getItem("session");
                return session;
            }, sessionId);

when I attempt to access local

[2017-10-11 00:02] rohmanhm commented on #959
Seems they have lazy load image.

[2017-10-11 00:22] vsemozhetbyt opened #1003 "Strange breaking change in page.evaluate()"
[code]
puppeteer v0.11.0:
[code]
puppeteer v0.12.0-alpha (current master)
[code]

[2017-10-11 00:24] stereobooster commented on #985
This is what I got https://github.com/stereobooster/sourcemapped-stacktrace-node#example. It is highly experimental, but works in my case

[2017-10-11 02:34] JoelEinbinder commented on #1003
`page.evaluate` returns JSON now. The Apple page overrides Array.prototype.toJSON, and appears to do so incorrectly.

[2017-10-11 04:46] rohmanhm opened #1004 "Set timeout to 0 doesn't disable the timeout"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11.0
* Platform / OS version: Ubuntu 16.04
* URLs (if applicable):

**What steps will reproduce the problem?**
Passing `timeout: 0` at `page.goto` not disabling the timeout.

_Please include code that reproduces the issue._

[code]
**What is the expected result?**
It should not throw error

**What happens instead?*

[2017-10-11 04:49] rohmanhm commented on #1004
Seems I should update to `v0.12.0-alpha`

[2017-10-11 04:55] aslushnikov commented on #1004
@rohmanhm you're right, this is a tip-of-tree feature that hasn't been released yet.

The 0.12.0-alpha is a bleeding edge, it's not published on npm. If you want to dogfood the tip-of-tree, please install puppeteer from github directly.

[2017-10-11 04:55] #1004 closed, assigned to nobody

[2017-10-11 05:46] aslushnikov commented on #618
Fixed with https://github.com/GoogleChrome/puppeteer/pull/971

[2017-10-11 05:46] #618 closed, assigned to nobody

[2017-10-11 06:23] #625 closed, assigned to aslushnikov

[2017-10-11 06:26] niftylettuce commented on #776
Also, `page.select` is not a function on Mac (at least from my test).

<https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageselectselector-values>

[2017-10-11 06:33] ebidel opened #1007 "page.waitForSelector should return an ElementHandle"
It would be convenient for `page.waitForSelector` to return the element it's waiting for.

Consider:

[code]

could be reduced to:

[code]

[2017-10-11 06:50] bluepeter commented on #316
@alixaxel mind forking one of those repos, or making a new one, with your Chrome builds? ... particularly the one that clocks in at 34mb, as well as the "trimmed down" versions of related modules. or post the gist steps?

[2017-10-11 06:56] vsemozhetbyt commented on #1003
@JoelEinbinder @aslushnikov Would it be reasonable to add an option to clean up such overrides (`Array.prototype.toJSON = undefined`)? Because now there is no guarantee to get the needed data from unpredictable sites.

[2017-10-11 06:59] JoelEinbinder commented on #1003
You can use `page.evaluateHandle` instead of `page.evaluate` to avoid the json serialization. Fighting against the page is going to be a losing battle.

[2017-10-11 07:10] entrptaher commented on #982
Try this way. Expose the function properly and then stringify whatever you want to run.

[code]

Result:
![image](https://user-images.githubusercontent.com/8284972/31427147-1f4f428e-ae88-11e7-91bb-cf2bd7b1e7db.png)

so for your function above, you just have to modify it this way,

[code]

Exposing is there for you if you want.
If this still does not solve your problem, then you probably want to sh

[2017-10-11 07:38] aslushnikov commented on #982
The https://github.com/GoogleChrome/puppeteer/issues/982#issuecomment-335706623 provides a reasonable solution for the issue.

[2017-10-11 07:38] #982 closed, assigned to nobody

[2017-10-11 07:51] entrptaher commented on #995
Maybe because you are not scrolling?

[2017-10-11 07:53] datnd0502 opened #1008 "Error "ERR_BLOCKED_BY_XSS_AUDITOR" when redirect to another domain"
Error "ERR_BLOCKED_BY_XSS_AUDITOR" when redirect to another domain using https

![ssl-error](https://user-images.githubusercontent.com/10458054/31428075-b54ea864-ae93-11e7-9373-0349ef13bee4.png)

[2017-10-11 07:55] entrptaher commented on #1002
works on my end :/
[code]

Maybe you can provide more info about the page/url etc?

[2017-10-11 07:55] #884 closed, assigned to nobody

[2017-10-11 08:07] aslushnikov commented on #1008
Can you share a script to reproduce this?

[2017-10-11 08:09] entrptaher commented on #1007
On this line, https://github.com/GoogleChrome/puppeteer/blob/master/lib/FrameManager.js#L382

I did this,

[code]

I'm not sure about side effects.
Looks like I messed up :dagger:

[2017-10-11 08:29] entrptaher opened #1009 "Cannot do anything with provided ElementHandle"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: `"puppeteer": "^0.11.0"`
* Platform / OS version:
* URLs (if applicable): http://example.com

**What steps will reproduce the problem?**
Return element handle and try to work with it.

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
It should take a screenshot.

**What happe

[2017-10-11 08:32] aslushnikov commented on #1009
elementHandle.screenshot is on tip of tree, it's not available in PPTR v0.11.0.

Please, install the bleeding edge from github to get the `elementHandle.screenshot`.

[2017-10-11 08:32] #1009 closed, assigned to nobody

[2017-10-11 08:46] entrptaher opened #1010 "ElementHandle screenshot does not count padding (or add options to count the padding/margin)"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0-alpha
* Platform / OS version:
* URLs (if applicable): http://example.com

**What steps will reproduce the problem?**
Take screenshot using ElementHandler.

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
Take screenshot of the highlighted area as from chrome. When I

[2017-10-11 09:14] gajus commented on #982
This solution does not address the inherent design flaw in Puppeteer – converting a function to a string at runtime is not safe.

There is no guarantee that `function myAwesomeFunction () { return arguments; }` is not compiled into an incompatible expression at the compile time.

[2017-10-11 09:31] vbakke commented on #901
Just a quick an dirty look at the callback:
[code]

Looks like the reason for the event, stops propagating in NetworkManager.js:  _onLoadingFailed(event).

[2017-10-11 09:47] entrptaher commented on #982
This is a very simple issue, try this in your babelrc, and the code I mentioned or any code that you want. But expose the function, that's how you can keep things seperate.

.babelrc
[code]

Don't rename, don't do anything, just use the **proper babel plugin** and expose whatever you want to expose to that page.

![image](https://user-images.githubusercontent.com/8284972/31433475-4d8e7f44-ae9b-11e

[2017-10-11 10:39] gajus commented on #982
I do. Allow to pass a parameterised function as a string, e.g.

[code]

You are evaluating string provided to `page.evaluate` anyway.

Before returning the result of evaluating `page.evaluate`, check if the result is a `Function`. If it is – call *that* function with the provided parameters and return the result.

It is that simple.

[2017-10-11 11:59] akauppi commented on #968
What state does your browser remain, when the error happens?

I used `console.log` to see how far my script progressed, helping me solve similar situations. Just 2c.

[2017-10-11 12:07] akauppi commented on #963
This sounds similar to the issues I have had, where redirects caused by an authentication end point cause different behaviour if I'm running headless or not.

Please ask for more, if you want to know the details. I'll open a separate issue on that one (not sure if these are related).

[2017-10-11 12:14] niftylettuce commented on #290
We really need this documentation for required options to run added to the README in an "Ubuntu/Debian/Linux" section:

[code]

I anticipate a lot of users don't know to search GitHub issues for this issue, therefore can't find this thread, and are then not using this package because "it doesn't work".

Edit: I didn't even see <https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshoo

[2017-10-11 12:25] akauppi opened #1012 "Maybe need an atomic `waitForNavigation` x times call?"
I'm using Puppeteer to log in via OAuth sign-in dialogs.

As part of the login, there are redirects, and this seems to be confusing Puppeteer. I haven't found the right way to deal with this, and currently think it may not exist.

What kind of works (but is fragile):

- Calling `waitForNavigation()` once in headless (the default thing I was doing). The redirect seems to be handled so fast that whe

[2017-10-11 12:26] Garbee commented on #290
The options aren't required. They are *optional* if you chose to not setup a proper security sandbox.

[2017-10-11 12:28] niftylettuce commented on #290
It doesn't work out of the box, that's the issue.  And there's zero decent documentation that's straight forward in the Install instructions in the README.  Also, these options didn't even work and this thread has 100's of comments.  I think it'd be appropriate to post a comment here and lock the issue/thread.

[2017-10-11 13:14] akauppi commented on #1012
Found a better workaround:

[code]

- No unneeded waits, no manual timings, no separate code paths for headless and browser
- Need to know an element that exists in the upcoming real page, but not in the intermediate one.

[2017-10-11 14:30] jose920405 commented on #827
+1

[2017-10-11 15:22] ebidel opened #1013 "Docs: elementHandle.screenshot needs example"
https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#elementhandlescreenshotoptions

[2017-10-11 15:47] fernandowski commented on #1002
This is the URL
http://one-integration.brandify.com

I lunch puppeteer with --no-sandbox flag passed through the args array

[2017-10-11 15:57] ebidel commented on #290
@niftylettuce how about a clear link to https://github.com/GoogleChrome/puppeteer#installation and possibly this thread in the readme install section? I'd hate clutter the readme with growing details in https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#chrome-headless-fails-due-to-sandbox-issues.

[2017-10-11 15:58] ebidel commented on #1012
@akauppi if those 2 lines cover your use case, mind closing this issue?

[2017-10-11 17:16] theevilhead commented on #896
Hi @astefanutti  its the problem of your html page.. you have absolute positioned it to top : 500px which makes it to be pushed down and thus looks like its in the next page. change you html file to top : 0px and it works.
Hope that helps

[2017-10-11 18:10] cmazakas commented on #290
The _only_ thing I could get to work is by outright disabling the sandbox. I tried everything in the other links to avoid this but the only feasible way is to disable the sandbox when using Docker.

Ugh.

Aren't these tools supposed to solve problems? :P

[2017-10-11 18:22] Garbee commented on #290
Docker runs everything as root, which causes problems with the sandbox. I think our repo has an example docker setup somewhere. You essentially need to make a standard user in the container to operate as. Running as root *is* the ultimate "security failure" on Linux. That is why even if the sandbox works, it wouldn't be nearly as effective. Since if an attack existed, you'd just have full box priv

[2017-10-11 18:29] cmazakas commented on #290
Ha, I checked my notifications at the right time ;)

I tried pretty much everything else. I was downloading unstable chrome, creating groups and users and then shifting my new users. I tried pretty much everything and the only thing that did wind up working was running everything as root and disabling the sandbox.

Normally this is bad but in this instance, each container runs in its own separate

[2017-10-11 18:44] ebidel commented on #290
@LeonineKing1199 there's a Docker example in https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker that shows how to setup a user and keep the sandbox :)

[2017-10-11 18:59] cmazakas commented on #290
If you remove pupeteer as a en explicit dependency, then it just works O_o

Alright, thanks, guys!

But yeah, you _really_ have to follow that thing verbatim. I'm glad it's working no though.

[2017-10-11 19:02] entrptaher commented on #1002
I did this without --no-sandbox and it works.
![image](https://user-images.githubusercontent.com/8284972/31460690-0bcdd2dc-aee9-11e7-9bb9-68a1b84ce5c6.png)

[2017-10-11 20:12] astefanutti commented on #896
@girishpatil the thing is that it renders as expected when exporting as PNG, while it renders incorrectly when exporting as PDF.

[2017-10-11 21:41] #304 closed, assigned to nobody

[2017-10-11 22:02] aslushnikov commented on #877
Two blocking upstream bugs:
- [crbug.com/759388](https://crbug.com/759388)
- [crbug.com/767683](https://crbug.com/767683) - landed as [r509486](http://crrev.com/509486)

[2017-10-11 22:20] robbecker-wf commented on #304
![shocked](https://user-images.githubusercontent.com/6053699/31469722-1fd3c8f2-aea0-11e7-980f-a7a1c7f06553.gif)

[2017-10-11 22:26] ebidel opened #1014 "Docs: more explanation for page.evaluateHandle()"
https://github.com/GoogleChrome/puppeteer/issues/1003#issuecomment-335701745 mentioned that `page.evaluateHandle()` can be used to run code in the context of the page, but in a  "clean room" environment (e.g. avoiding issues with pages that override native methods). Is that right?

The [docs](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatehandlepagefunction-args) are

[2017-10-11 22:34] chris-jansen commented on #999
I'm having the same issue.

[2017-10-11 23:13] ebidel commented on #1010
I've meant to file the same bug :) To screenshot just the element, it's a bit painful right now. You need to figure out the element margin and adjust the`clip` property accordingly.

It would be nice for us to provide an option. For now, here's a workaround that works for me:

[code]

[2017-10-12 00:13] mboeser commented on #999
attaching '.type' to the textInput.type('6') instead of page.type worked for me. Try it out and let us know if that worked for you. I'm unsure if this is a bug or if this then is the proper way to use it...

[2017-10-12 06:35] owlyowl commented on #617
Is there a way to work out how to get a select option based on the display value rather than the underlying value stored?
Thanks

[2017-10-12 06:59] LLLLLamHo opened #1018 "How do I capture a browser trigger error"
How to use Puppeteer capture this JavaScript error in the browser。

[2017-10-12 07:15] JoelEinbinder commented on #999
I think this is a duplicate of #684 which was fixed in #971. Clicking the `textInput` wasn't actually focusing it, which is why click+type didn't work but `textInput.type` did work.

[2017-10-12 08:07] krlwlfrt commented on #618
Thank you very much! Which release will contain this fix?

[2017-10-12 08:17] #734 closed, assigned to aslushnikov

[2017-10-12 08:17] barryvdh commented on #666
I'm also not really sure how to print a webpage to an A4. Is that not possible now? I can scale it, but that doesn't seem to respect the seem ratio everywhere.

Ideally the viewport would be respected (optionally) and the PDF would be scaled to the right size automatically.

[2017-10-12 08:26] #949 closed, assigned to nobody

[2017-10-12 08:57] SMJ93 commented on #999
@mboeser I've tried textInput.type('6') but nothing happens. What version of puppeteer are you using?

@JoelEinbinder nice fix! When will this get released?

[2017-10-12 09:09] olitaylor commented on #776
I've also found the page.select to not be working on mac
`page.select is not a function`

[2017-10-12 09:18] aslushnikov opened #1020 "Request Interception Enhancements"
Request interception should allow:
- abort request with different errors
- fake the response: headers, status, body.

[2017-10-12 09:30] aslushnikov commented on #776
@niftylettuce @olitaylor `page.select` was added in v0.12 which has not been released yet. You can install from github to dogfood the bleeding edge.

[2017-10-12 10:00] ghost opened #1021 "Error: not opened"
I have a very big array of data. I iterate over that array and from within it I call an anonymous asynchronous function that opens a new page using puppeteer and navigates to a URL. This loop works perfectly but after some time it stops working and throwing a "not opened" error and that error is thrown from the line that creates a new page. What should I do?

[2017-10-12 10:52] AnjumMomin opened #1022 "chromeHeadless can't run on linux"
#

### Steps to reproduce

**Tell us about your environment:**

* chrome version: 61
* Platform / OS version: win7
*Selenium  version:-selenium server standalone 2.53.1
*java Version:-java 1.8.0_91
* URLs (if applicable):

**What is the expected result?**
my program can in chrome headless successfully

**What happens instead?**
program can't run
if am running the headless script using "java -jar '

[2017-10-12 11:36] shospodarets commented on #765
For the Amazon Linux AMI (Cent OS 6 AWS) the following worked without any additional packages/problems:
https://intoli.com/blog/installing-google-chrome-on-centos/
`sudo yum --nogpgcheck localinstall https://intoli.com/blog/installing-google-chrome-on-centos/google-chrome-stable-60.0.3112.113-1.x86_64.rpm`

For the Cent OS 7:
[code]

[2017-10-12 12:53] Garbee commented on #290
Until you learn to break out of that kernel space. Then you have full root against the host!

[2017-10-12 12:56] Garbee commented on #1022
So, is Selenium using Puppeteer now? This repository is specifically about *puppeteer* issues, not headless in general. Especially in relation to integration with other software layers.

[2017-10-12 13:58] truthslayer opened #1023 "Broken glyphs in pdfs"
[nyt.puppet.compressed.pdf](https://github.com/GoogleChrome/puppeteer/files/1379541/nyt.puppet.compressed.pdf)

### Steps to reproduce

**Tell us about your environment:**
~> node --version
v8.7.0
~/node_modules/puppeteer> npm list
puppeteer@0.11.0 [...]/node_modules/puppeteer
├─┬ debug@2.6.9
│ └── ms@2.0.0

~> cat /etc/*-release
NAME="openSUSE Leap"
VERSION="42.2"
ID=opensuse
ID_LIKE="suse"
VERSI

[2017-10-12 14:16] r3dDoX commented on #951
So what do you think, any chance of having this functionality built into the package?

[2017-10-12 14:59] vsemozhetbyt commented on #1021
Do you close opened pages after they are not needed?

[2017-10-12 15:04] mboeser commented on #999
@SMJ93 I was using the recent GitHub version: npm i https://github.com/GoogleChrome/puppeteer/

[2017-10-12 15:17] ghost commented on #1021
Yes I do

[2017-10-12 15:43] ebidel commented on #1022
You can [definitely](https://developers.google.com/web/updates/2017/04/headless-chrome#drivers) use headless with Selenium.

@AnjumMomin we'll need more information to help debug. If this is a Puppeeteer issue, please reopen with a code snippet that repos the issue. If it's a problem with using headless Chrome in Selenium, than an issue should be posted on their issue tracker.

I also notice you'r

[2017-10-12 15:43] #1022 closed, assigned to nobody

[2017-10-12 15:44] ebidel commented on #1018
Please follow the [new issue](https://github.com/GoogleChrome/puppeteer/issues/new) template when filing bugs.

[2017-10-12 15:44] #1018 closed, assigned to nobody

[2017-10-12 15:47] ebidel commented on #1021
@kepempem Please follow the issue template when filing bugs. Is there a code snippet that repros the issue?

[2017-10-12 15:56] sradu commented on #583
My weekly followup here :)

Always happy to provide any assistance to help you debug this.

[2017-10-12 15:57] janetba commented on #1022
@ebidel  I am also having this issue. In two different instances.
1) When running over docker with the --headless, --no-sandbox, and --disable-gpu I always get the error no session found.
2) When running with those same flags through my mac. The test run but they do launch a version of Chrome, not the full UI but little Chrome icons show up at the bottom.

I am running it in version 61. I had no t

[2017-10-12 16:13] ebidel commented on #1022
For 1., I've been able to get headless working in Docker using https://github.com/ebidel/lighthouse-ci/blob/master/builder/Dockerfile.headless

https://bugs.chromium.org/p/chromium/issues/detail?id=750505#c3 fixes 2.) on Mac. Not sure if there were similar issues on Windows with the task bar. If so, it's possible those were fixed on later releases.

[2017-10-12 16:16] ks07 commented on #948
Also affected by this - navigating to a URL with an unsupported content-type such as `application/octet-stream` always causes navigation to hit the timeout, regardless of how quickly the server responds to the request.

@vsemozhetbyt I hadn't noticed that the files were downloaded, where are they stored?

[2017-10-12 16:33] ebidel commented on #583
I ran this on Mac with the latest pptr from master, which has another rolled chromium version. No issues:

[code]

The notable difference is that I'm not passing a `proxserver`.

[2017-10-12 16:45] sradu commented on #583
Exactly, adding the proxy server causes the crash. I'm happy to whitelist an ip on the proxy if you need it.

[2017-10-12 17:05] janetba commented on #1022
That worked thank you :)

[2017-10-12 17:17] vsemozhetbyt commented on #948
@ks07 If you do not use preallocated user data dir with download dir defined, there are default places, like `c:\Users\%username%\Downloads\` on Windows.

[2017-10-12 17:19] akauppi commented on #1012
I consider them a workaround, but not reason enough to flush this quite yet.

OAuth logins, or any other flows where the server produces redirects are frequent, and I think Puppeteer could have a way to handle them reliably. The atomic "wait for X times navigation" is what I suggest.

What's wrong with the workaround is that it depends on having a "marker element" (`table` in my sample). Something

[2017-10-12 17:21] knownasilya opened #1024 "Page crashed, no obvious errors"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.11
* Platform / OS version: GCP container engine/debian node 8.6-slim image
* URLs (if applicable): https://gloucesterma.beta.mapgeo.io/api/printablemap?url=https%3A%2F%2Fgloucesterma.beta.mapgeo.io%2Fproperties%2F92-34-2%3Flatlng%3D42.628666%252C-70.685595%26modal%3Dprint%26zoom%3D18&token=&title=&layout=standard&

[2017-10-12 17:26] vsemozhetbyt commented on #1024
I get this if I try to open the URL in Chrome:

![1](https://user-images.githubusercontent.com/10393198/31509847-8ba45966-af8b-11e7-89b2-ec1addffbd22.png)

[2017-10-12 17:28] knownasilya commented on #1024
I use `ignoreHTTPSErrors` above, so that should be avoided, no? If not, shouldn't it just timeout or take a screenshot of that?

[2017-10-12 17:39] fernandowski commented on #1002
I forgot to mention that I am running within a docker container using CentOS.

[2017-10-12 17:49] knownasilya commented on #1024
Console of the page returns the following:

[code]

The service worker registration error is caught and just logged. The setup message means that it entered the route of the app.

[2017-10-12 17:50] fernandowski commented on #1002
I will close this issue because it seems that I needed to wait for the page to load before executing my evaluation function. waiting one second resolved the issue.

[2017-10-12 17:50] #1002 closed, assigned to nobody

[2017-10-12 18:01] knownasilya commented on #1024
Sometimes it works, just not for all requests. Haven't found a working one that I can link to.

[2017-10-12 18:25] ebidel commented on #583
Yea sorry, this is not easy to repro on our side. My IP moves around all the time :)

Were you able to visit `about:crashes` and file the bug after chrome crashes? The steps in https://github.com/GoogleChrome/puppeteer/issues/583#issuecomment-325535852.

[2017-10-12 18:35] sradu commented on #583
I was hoping the Chromium revision update from 10h ago would have fixed it, but unfortunately it's still the same.

It's saying "Crash reporting is not available in Chromium": https://i.imgur.com/D5aMgA2.png.

Tried Canary again and, just like before, works great.

What if I opened a proxy for an hour? Would you be comfortable using it for a test?

[2017-10-12 18:48] ebidel commented on #583
Right, reporting is turned off in headless. See if `--enable-crash-reporter` helps. https://peter.sh/experiments/chromium-command-line-switches/#enable-crash-reporter.

[2017-10-12 19:03] sradu commented on #583
Running the script with --enable-crash-reporter and:
- headless: false crashes, the crash is present in about:crashes, but I can't send it (like in the pic from above in the thread)
- headless: true crashes, the crash is NOT present in about:crashes

Here is what I see: https://www.dropbox.com/s/8gcxx18h5ehofo4/crash-reporter-not-working.mov?dl=0

For reference the script with the crash:
[code]

[2017-10-12 20:17] blue-cp opened #1026 "window.chrome is not set"
I recently came across a phishing page which has js below for browser detection
[code]

In puppeteer  window.chrome is not set. I tried setting it in page.evaluate however when script loads it is set to null again. Is there a way to set window.chrome object to emulate chrome?

[2017-10-12 23:01] Mr-LiuDC commented on #672
Hi bro. I also got this error on Windows 7. I have set the proxy host，and sure it's correct.

Failed to download Chromium r497674 ! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.

Is there any suggestions？

Thanks.
@JoelEinbinder @ystop

[2017-10-13 00:54] #1010 closed, assigned to nobody

[2017-10-13 02:05] colshacol commented on #819
Also having this issue.

macOs Sierra (10.12.6)
puppeteer@0.11.0
npm@5.4.2
node@8.7.0

<img width="771" alt="screenshot 2017-10-12 21 00 15" src="https://user-images.githubusercontent.com/19484365/31527145-fb7d9d2e-af90-11e7-84f4-c0731ad0e4a5.png">

Browser never gets launched. It just... does nothing when I run it, haha.

[2017-10-13 04:32] ChristianDavis commented on #957
Your try ... finally doesn't have a catch, so when some exception kills your page, the connection cleans itself up, but your finally clause still runs and then this fails cause the connection is gone
[code]

[2017-10-13 06:29] graingert commented on #957
@ChristianDavis page.close should probably ignore this error then

[2017-10-13 06:35] speedcom commented on #880
+1 Me too

[2017-10-13 07:14] fhmd4k commented on #921
It's chromium bug. It's not puppeteer bug.
On windows, you can run fiddler capture url cookies and then run chrome:(test some have cookie site)
`chrome --user-data-dir=C:\Users\xxx\Desktop\testud --headless -- "https://www.example.com"`

run some times, you can find the cookie is different in every times(same userDataDir)

[2017-10-13 10:58] ystop commented on #672
@Mr-LiuDC Due to network!Trust me. I'm Chinese, too.

[2017-10-13 11:17] drorweissweiss commented on #940
@davidwindell , @kdekooter
I'm also trying to discover the endpoint's browser id so I can use `browserWSEndpoint`, but I don't see any `id` field in the object returning from `http://{remoteip}:9222/json/version`:

   "Browser": "HeadlessChrome/61.0.3163.91",
   "Protocol-Version": "1.2",
   "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/61.0.3

[2017-10-13 13:13] davidwindell commented on #940
@drorweissweiss this is only in the latest versions of Chrome (62+ I think, certainly 63). Caught me out at first!

[2017-10-13 13:45] LLLLLamHo opened #1030 "How do I capture browser errors?"
**How do I capture browser errors?**

When using puppeteer for automated testing, if the page is wrongly reported due to a JavaScript error, if the error is obtained by puppeteer?

[2017-10-13 14:18] schelkun commented on #1026
Last puppeteer version with automatically downloaded Chromium is working for me well.

[code]

This script returns `object`.

[2017-10-13 14:21] schelkun commented on #1026
Same for `window.chrome.webstore`.

[2017-10-13 14:59] arliber commented on #557
@kylewill could you please share how have you managed to run it on App Engine?
I'm getting this error:
[code]

Thanks

[2017-10-13 15:02] kylewill commented on #557
@LeonLiber I ended up using Digital Ocean for now. The appeal of App Engine / Cloud Functions for me would be the ability to spin down to zero when not in use and GAE Flex (only possibility for Headless Chrome afaik) doesn't support this.

[2017-10-13 15:48] frko commented on #615
We've been running puppeteer in the google cloud with kubernetes in an attempt to unify performance and load testing of our website - which involves starting 1000+ containers.

We're running the default node8 slim container with puppeteer which fetches 'abstract user journeys' and executes those using puppeteer.

To overcome overhead of starting the rather large containers for every session we kee

[2017-10-13 15:56] blue-cp commented on #1026
Interesting. I did setup test page with above script and it did not work work for me. I am using latest puppeteer as well.

I have attached sample test pages. If you can host it locally and point puppeteer to detect.html, you should be able to replicate issue on your side well.

[chrome_test.zip](https://github.com/GoogleChrome/puppeteer/files/1383176/chrome_test.zip)

[2017-10-13 15:58] michaeljho commented on #615
Frank,

Have you tried starting your entire promise chain with a `Promise.resolve()`, then `.catch()` anything that falls through? This is a good practice especially when trying to avoid unhandled exceptions.

Also, you can use this event handler to detect page crashes:
[code]

Hopefully these two things help.

[2017-10-13 16:03] TotusSomnium commented on #1030
check out https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-page

I'm using something like this for catching javascript errors:
[code]

You can also look for exceptions and other things with something like:
[code]

[2017-10-13 17:21] JohnBruce commented on #1026
Im seeing the same thing as @abhishekdubey1 .  Its worth noting that I'm using the 3 week old version of puppeteer from npm (which is the latest).

[2017-10-13 19:14] JohnBruce commented on #1026
@abhishekdubey1 as a workaround you can add chrome to window in a function you pass to `page.evaluateOnNewDocument` by doing something similiar to this example:  https://github.com/GoogleChrome/puppeteer/blob/aa58f25bc1c7f8cf72c70c453f036bb873349164/examples/detect-sniff.js

[2017-10-13 19:55] riston commented on #959
Scrolling with some wait time didn't solve the issue?

[2017-10-13 21:16] chris-jansen commented on #999
textInput.type is not a function for now.
@JoelEinbinder Do you know the ETA of the #801 fix?

[2017-10-13 21:41] #63 closed, assigned to nobody

[2017-10-13 22:00] paulirish commented on #1026
John's workaround sounds good to me.

It's unlikely puppeteer or headless chrome will attempt to reintroduce the window.chrome object to the page, as it's nonstandard and kinda crazy.

[2017-10-13 23:29] pirate commented on #386
Not sure how you guys were planning on implementing this, but an API like this would be awesome!

`event:newpage` Gets triggered by things like `window.open()` or links clicked with `target="_blank"`.
[code]

If anyone is looking for a workaround, for now I'm using:
[code]

[2017-10-13 23:35] albertkim commented on #618
Eagerly awaiting this as well, our application needs to interact with a couple iframes, so this is the only issue preventing us from being able to do full end-to-end testing.

[2017-10-13 23:52] rohmanhm commented on #959
For now, I solved my problem with image lazy load by set page viewport height as max as possible.

[code]

[2017-10-14 00:10] aslushnikov commented on #951
@r3dDoX would the `PUPPETEER_DOWNLOAD_HOST` instead work for you? The `_PREFIX` is pretty vague.

[2017-10-14 00:26] aslushnikov commented on #957
@graingert I can't repro with the following code:

[code]

[2017-10-14 04:45] SamVerschueren commented on #373
Is there something I can do or help with to get this implemented? Does this mean that we have to add/change things in Chromium directly? Because the `Page.PrintToPdf` debug protocol only accepts a boolean for `displayHeaderFooter`. I would be happy to help you guys out with this but then I need a pointer at where I should/can start.

// @aslushnikov

[2017-10-14 05:22] JoelEinbinder commented on #373
I'm not familiar with the PDF generation code in Chromium, but our entry point is here:
https://cs.chromium.org/chromium/src/headless/lib/browser/headless_devtools_manager_delegate.cc?type=cs&l=395

[2017-10-14 07:11] r3dDoX commented on #951
@aslushnikov sure that sounds good 👍

[2017-10-14 08:40] #1021 closed, assigned to nobody

[2017-10-14 09:01] graingert commented on #957
Yeah it's intermittent

[2017-10-14 09:43] fhmd4k opened #1033 "How do i judge the tap/click event success?"
The tap/click event sometimes failed in the slow network speed.
For example, it can't trigger a href element to open new tab.(It may be the element position is error in the slow network speed).

I think it's sure to judge the event success state.

[2017-10-14 10:02] danhanfry opened #1034 "Create video with screenshot"
sorry for my English.

I'm trying to make a video, from screenshot, but it's too slow

inside a for, I'm saving the buffer
[code]

then created a sequence that I sent to ffmpeg
[code]

this works very very slow

Do you know a better approach to achieve this? Thank you

the right way, I think it's start Screencast but I do not know how to apply it

[2017-10-14 10:43] sukrosono commented on #952
Hi @aslushnikov , please correct me if i am wrong. With

My attempt was to close the browser when the page got crashed. But the result was 370 specs, 309 failures, This is what my [attempt](https://github.com/brutalcrozt/puppeteer/commits/tmp) looks like. Here the travis build [failure](https://travis-ci.org/brutalcrozt/puppeteer/builds/287885828), and the [raw log](https://api.travis-ci.org/jobs/

[2017-10-14 11:21] sukrosono commented on #1020
That was nice feature to have, can someone tell me what M1 stand for?

[2017-10-14 12:12] sukrosono commented on #1030
@LLLLLamHo can you describe more specific usage?

[code]
With that script you are able to obtain the error via try-catch block, error and pagerror is not fired.
The the spec for [pageerror](https://github.com/GoogleChrome/puppeteer/blob/master/test/test.js#L1329) give a curiosity

[2017-10-14 14:50] geertbrit commented on #930
possibly related:  #662

[2017-10-14 15:08] geertbrit commented on #662
@pocketjoso :

Seeing a related issue: enabling `setRequestInterceptionEnabled` messes with the screenshot output. This one is nicely reproducible and *might* hint at the same underlying problem.

Since some days have passed, do you perhaps have any more insight in why setting setRequestInterceptionEnabled and letting all requests continue result in a different output?

See below for a simple to r

[2017-10-14 17:09] arliber opened #1036 "Running Puppeteer on Google App Engine"
Hi,

I thought I'd share all the special requirements to deploy a Puppeteer app on top of Google App Engine

`app.yaml`

[code]
This configuration is not what makes it run but it might help anyone starting from scratch.

`package.json`

[code]
Two things to note here:

1. I set the node version to 8.x since you'll probably need async/await
2. I use the `preinstall` hook to install some libs

`app.

[2017-10-14 17:15] ChristianDavis commented on #957
My point earlier is that if you add a catch, you'll see the error that's causing the intermittent problem. You're letting it go uncaught

[2017-10-14 19:50] doctyper commented on #257
@Means88 This works as a workaround:

[code]

[2017-10-14 20:34] graingert commented on #957
@ChristianDavis no I'm not. I caught the exception and posted it!

[2017-10-14 20:53] fhmd4k commented on #995
The puppeteer has too many bugs.
I think the best way that change the code follow your need.

[2017-10-14 21:10] fhmd4k commented on #678
I think you can capture every request to use http(s) proxy!

[2017-10-14 21:12] fhmd4k commented on #678
Socks proxy affect to the whole browser(all tabs), you only run different browser(different userDataDir) instance to do.

[2017-10-14 21:19] fhmd4k commented on #1033
`Input.dispatchTouchEvent Input.dispatchMouseEvent` from **element position** to trigger event rather than use **dom event** to trigger.
If the position is error,it means the event is failed.
So it's important to how to get a **correct position**.

[2017-10-14 21:20] #930 closed, assigned to nobody

[2017-10-14 22:23] ChristianDavis commented on #957
Only one exception will propagate to the outer scope, this code demonstrates the issue with what you posted:
[code]

[2017-10-14 22:25] graingert commented on #957
So what you're saying is that the page closes automatically if there's an
error from puppeteer. So I need to ignore errors when closing the page?

On 14 Oct 2017 23:23, "Christian Davis" <notifications@github.com> wrote:

[2017-10-14 22:38] ChristianDavis commented on #957
No. You are trying to close a page that is already closed. I'm saying you don't know what is causing your error because you're missing a catch.

Any action here would be that page.close() could throw a better error, but closing a page that doesn't exist is still an error.

[2017-10-15 00:40] pg1671 commented on #880
+1

[2017-10-15 00:59] ebidel commented on #1036
The troubleshoot guide has a section on docker and app engine. It points to the try-puppeteer repo, which runs on gae flex :)

https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#running-puppeteer-in-docker

[2017-10-15 01:38] Khady commented on #678
One more reason to get this feature is the absence of proxy pac file
support in headless mode:
https://bugs.chromium.org/p/chromium/issues/detail?id=765245

[2017-10-15 06:21] ivibe commented on #678
@fhmd4k even if we consider only regular http(s) proxy, that would be nice to see an example of using it through capturing requests

[2017-10-15 08:01] vsemozhetbyt commented on #628
@prideofconcept `elementHandle.attribute()` seems to be deleted in https://github.com/GoogleChrome/puppeteer/pull/638

I think the fastest way to get what you need is something like this:
[code]

[2017-10-15 08:25] LLLLLamHo commented on #1030
@brutalcrozt thanks It's very detailed

[2017-10-15 08:26] LLLLLamHo commented on #1030
@TotusSomnium thanks It's very detailed

[2017-10-15 08:31] wong2 commented on #306
@ebidel why not add an `selector` option to `screenshot` api based on your `screenshotDOMElement` function?

[2017-10-15 10:55] SpicySpaceman commented on #880
Same...

[2017-10-15 13:50] ebidel commented on #306
0.12.0 has a new screenshot API for elements!
https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#elementhandlescreenshotoptions

On Sun, Oct 15, 2017, 1:31 AM Wang Dàpéng <notifications@github.com> wrote:

[2017-10-15 15:41] sukrosono commented on #955
#992 is landed, leaving the CI on windows with appveyor.

[2017-10-15 20:33] rudiedirkx opened #1039 "Failed to execute 'dispatchEvent' on 'EventTarget': parameter 1 is not of type 'Event' in Page.select()"
* Puppeteer version: 0.12.0
* Platform / OS version: Ubuntu 16.04.3

When I do:

[code]

I get an error:

[code]

If I comment both `dispatchEvent` lines in `select()`, I get no error. Both fail.

The element exists and is a `<select>` and the selection works. Only the event dispatching does not work.

[2017-10-15 20:46] aslushnikov commented on #1039
@rudiedirkx do you have a code snippet so that I can repro this?

[2017-10-15 20:48] aslushnikov commented on #1033
@fhmd4k I'm not sure I follow. What do you mean by 'success'?

[2017-10-15 20:50] aslushnikov commented on #1034
This kind of screencast implementation is inevitably slow. Implementing fast screencast would require some protocol work, please upvote the #478 if you need one.

[2017-10-15 20:50] #1034 closed, assigned to nobody

[2017-10-15 20:51] #1030 closed, assigned to nobody

[2017-10-15 20:55] #1026 closed, assigned to nobody

[2017-10-15 21:00] aslushnikov commented on #1024
@knownasilya There's a ton of undefined variables if I try to run your snippet as-is. Can you please update your snippet so that it's runnable? It will save me a lot of time.

[2017-10-15 21:13] aslushnikov commented on #1023
@truthslayer One thing I noticed is that you don't wait correctly for network idle: the syntax you use is not yet implemented. Given that the page uses webfont, this might be the reason for the error.

To wait for `networkidle` event, you should use the following syntax:

[code]

Waiting for both `networkidle` and `load` is possible, see https://github.com/GoogleChrome/puppeteer/issues/805#issue-2

[2017-10-15 21:13] #1023 closed, assigned to nobody

[2017-10-15 21:33] aslushnikov commented on #1003
That's a good argument towards providing something like `jsHandle.jsonValue({ignoreFormatters: true})`. Or maybe even having it on by default.

[2017-10-16 06:17] frko commented on #615
Thanks for the best practice, will apply it shortly, today we will verify
if dumb-init indeed solves the defunct processes.

Will keep you posted about he results.

Regards

Op 13 okt. 2017 17:58 schreef "michaeljho" <notifications@github.com>:

[2017-10-16 07:16] r3dDoX commented on #951
I updated my PR accordingly

[2017-10-16 07:57] rudiedirkx commented on #1039
It's https://github.com/rudiedirkx/puppeteer-demo/blob/94d078af7c3c2ba60afb83c0642d756ec89e6de8/br.js#L82 but it's really only the one line: the `page.select(...)`

[2017-10-16 08:12] adamblok commented on #667
How about this issue? I need it too actually and the bug you've linked wasn't fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=764946

[2017-10-16 08:15] grafaerig commented on #959
Scrolling with wait time and declare the height of the viewport to a large number does not solve the problem with some pages, e.g. http://thehenhouse.com.au/

[2017-10-16 08:20] graingert commented on #957
@ChristianDavis well I didn't close the page, so who did?

[2017-10-16 08:30] zhaopengme commented on #85
+1
Is there a solution?

[2017-10-16 10:24] graingert opened #1041 "typo in https://github.com/GoogleChrome/puppeteer/releases/tag/v0.12.0 JSHandles link is broken"
@aslushnikov typo in https://github.com/GoogleChrome/puppeteer/releases/tag/v0.12.0 JSHandles link is broken

[2017-10-16 11:26] plantain-00 opened #1042 "elementHandle.uploadFile() emit 'change' event with 0-size blob object"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.12.0
* Platform / OS version:mac OS 10.12.6
* URLs (if applicable):demo: https://plantain-00.github.io/file-uploader-component/demo/vue/index.html

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. code

[code]
[code]
2.minimal case
[code]
event handler
[code]
start a s

[2017-10-16 11:53] frko commented on #615
Using dumb-init did resolve the defunct process issue, which we're very happy with.

Unfortunately the best promise practice doesnt suffice to catch the 'page crashed' error thrown as an unhandled promise exception. Which makes me wonder where the process actually hangs ( it seems its stuck internally to puppeteer and never returning to the application code ).

I will now try to catch it using the

[2017-10-16 12:13] frko commented on #615
Just added the page.on('error', ...) handler which indeed is called when the page crashes. Exiting the node process in the error handler with an non zero exit code allows us to restart the containers and maintain a solid amount of puppeteer instances to set our servers on fire.

Thanks for the cooperation!

[2017-10-16 13:10] oliveiraethales commented on #301
Hi @aslushnikov!

I'm having an issue regarding the PDF printing which might or might not be related to this one. It might also be related to #312 or perhaps even related to this Chromium bug (https://bugs.chromium.org/p/chromium/issues/detail?id=749080).

Consider the following script:

[code]
The expected output PDF would be something like:

[sample.pdf](https://github.com/GoogleChrome/puppeteer

[2017-10-16 13:19] fhmd4k commented on #1033
@aslushnikov I use the `page.tap(a link element)` .
If i tap success:
1. may open new tab (_blank) or navigate to other page(_self)?
2. may do some javascripts (if some listeners have listened)?
3. and so on

in the `lib/Page.js` find

[code]

it will call the elementHandle to do, in the `lib/ElementHandle.js`
look at **element.getBoundingClientRect()**

[code]

[2017-10-16 13:48] fhmd4k opened #1043 "add multiple page.emulate() = browser.emulate()"
Use the `page.emulate()` only affect to the one page instance.
add the `browser.emulate()` affect to the browser instance.
For example:
When tap/click a _blank link element, the new page(tab) is no emulated.

`browser.emulate()` need listen target create and distory. When the target create,it must use new Page instance to call `page.emulate()` before the page load.

[2017-10-16 13:58] TheGuywithTheHat opened #1044 "LICENSE should be fixed"
[Line 189 of this repo's license](https://github.com/GoogleChrome/puppeteer/blob/master/LICENSE#L189) looks like it's copy/pasted without being filled out. I believe this is an error and should be fixed.

[2017-10-16 14:29] pgrantmartello opened #1045 "Puppeteer failing at killChrome"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: bash on Windows 10
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. I'm trying to run the npm package decktape which uses puppeteer. It fails `at killChrome (/usr/local/lib/node_modules/decktape/node_modules/puppe

[2017-10-16 15:45] vitalets commented on #659
@aslushnikov any chance to get this feature in the future?
It would be awesome for testing extensions!

[2017-10-16 16:35] tnolet opened #1047 "Puppeteer spawns a runaway amount of Chromium instances"
Over the last week I've encountered this problem twice. Once on an Ubuntu server and once on my local Macbook Pro. Running a dead simple Puppeteer scripts locks up my machine or a server. After a quick `top` it shows a huge amount of Chromium instances being started (see screenshot...).

The only way to stop this is a `killall Chromium`
![image](https://user-images.githubusercontent.com/3802923/31

[2017-10-16 16:49] tnolet commented on #1047
EDIT:  This is not the reason for the runaway instances. Will keep this comment for history, but please ignore.

_Aha, this is related to https://github.com/GoogleChrome/puppeteer/issues/405 adding a semicolon to the require statement fixes this, i.e. `require('puppeteer');`. However, if you don't do this, you end up with a machine consumed by Chromium instances. We could close this but leave it f

[2017-10-16 17:07] majkelo opened #1049 "freebsd Unsupported platform"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
puppeteer@**0.12.0**
or
puppeteer@**0.13.0-alpha**

* Platform / OS version:
$ **freebsd**-version
**10.3-RELEASE-p16**

* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. $` npm install puppeteer`

**What is the expected result?**
installed puppe

[2017-10-16 17:45] aslushnikov commented on #1033
@fhmd4k there's no generic way to determine tap "success", as you defined it here. Every case requires special treatment.

A few ideas:
1. A new tab would be possible to track once #554 lands. The navigations are reported with 'framenavigated' event.
2. JavaScript execution should be observed entirely by side effects it produces. If there are no side-effects, in some cases you can override some me

[2017-10-16 17:45] #1033 closed, assigned to nobody

[2017-10-16 17:47] aslushnikov commented on #1039
@rudiedirkx any chance you can share the URL that causes this bug?

[2017-10-16 18:12] ebidel commented on #1045
This sounds like a potential issue with that npm package.  But can you provide  us with more details? Errors, full code that repros the issue, etc.

[2017-10-16 18:14] ebidel commented on #1044
Thank you! We'll fix.

[2017-10-16 18:31] ebidel commented on #615
Nice @frko. Curious if you're running on a cloud service? Are you waiting for a threshold of crashes to happen, then restarting the vm? Asking for a friend (https://github.com/ebidel/try-puppeteer) :)

[2017-10-16 18:47] #955 closed, assigned to nobody

[2017-10-16 19:03] fhmd4k commented on #1033
thanks

[2017-10-16 20:18] sradu opened #1051 "frame.evaluateHandle()?"
Is there a reason why frames don't have evaluateHandle()? I'm trying to use it like below:

[code]

[2017-10-16 20:38] GuilloOme opened #1052 "Passing empty array OR undefined object to `page.setCookie()` make puppeteer crash"
a call on `page.setCookie([])` OR `page.setCookie(undefined)` make puppeteer crash.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: https://try-puppeteer.appspot.com/ or linux ubuntu with nodejs v.8

**What steps will reproduce the problem?**

1. run :
[code]

**What is the expected result?**
No error, only a browser process starti

[2017-10-16 20:38] knownasilya commented on #1024
@aslushnikov I've edited the code example above to make it more self-contained. Thanks for taking the time to look!

On a related note, has puppeteer been working better on App Engine instead of Container Engine?

[2017-10-16 20:44] vsemozhetbyt commented on #1051
Doc states that `page.evaluateHandle()` is a shortcut for `page.mainFrame().executionContext().evaluateHandle()`. So it seems you can use `frame.executionContext().evaluateHandle()`.

[2017-10-16 20:58] truthslayer commented on #1023
Ok, I tried that and still didn't fix the issue. Thanks for the pointer!

[2017-10-16 21:09] GuilloOme commented on #1052
Forget it… it is my comprehension of params spreading which is bad…

Here's the right syntax:
[code]

Sorry…

[2017-10-16 21:09] #1052 closed, assigned to nobody

[2017-10-16 21:10] sradu commented on #1051
Thanks @vsemozhetbyt, that's definitely a perfect workaround.

That being said, page and frame, up until now, have had similar methods. It feels off that this is missing.

[2017-10-16 21:10] Veejay commented on #453
Hi, kind of hijacking this issue, ignore if irrelevant, but I'm interested in detecting _Mixed Content_ on websites to help our customers transition to **HTTPS** and I've seen `page._client` being used to achieve through `page._client.on('Network.loadingFailed', event => {...})`.

This issue features another use of `page._client` with a call to `.send`. What is `page._client` exactly?

Seeing the

[2017-10-16 21:17] muthup commented on #299
As @kensoh mentioned in his earlier [comment](https://github.com/GoogleChrome/puppeteer/issues/299#issuecomment-322867965) there are a few important use cases where downloading out-of-band might not be possible. I tried a suggestion in a [comment](https://github.com/GoogleChrome/puppeteer/pull/888#issuecomment-334998415) of a related bug on Chromium Version 64.0.3240.0 (Developer Build) (64-bit) o

[2017-10-16 21:20] ebidel commented on #1052
FWIW, try-puppeteer.appspot.com is still running 0.11.0, so if you'e using new APIs things migth not work. I'll update it to the latest version today.

[2017-10-16 21:20] ebidel commented on #1024
@knownasilya Puppeteer works fairly well in GAE for basic things. AFAICT, one of the main issues right now that's causing pages to crash is https://bugs.chromium.org/p/chromium/issues/detail?id=736452. Please star that one!

[2017-10-16 21:57] aslushnikov commented on #301
@oliveiraethales that's because example.com has a media query css rule:

[code]

[2017-10-16 21:59] aslushnikov commented on #453
@Veejay You're correct.

[2017-10-16 22:48] mikeal opened #1054 "Integrating coverage reports"
After some recent PR's we've got some test coverage working w/ browserify-istanbul & puppeteer.

* [Initial PR and discussion.](https://github.com/devongovett/browserify-istanbul/pull/42#issuecomment-336689754)
* [Current tests (working if `tap --coverage` is not enabled)](https://github.com/mikeal/gza/blob/coverage/tests/test-browser.js#L14)

There's quite a bit of hacks that we had to pull to ge

[2017-10-16 23:36] JoelEinbinder commented on #1047
Are you using a transpiler? Your code should just fail with `Class constructor Puppeteer cannot be invoked without 'new'` because you are trying to run puppeteer as a function.

[2017-10-16 23:43] aslushnikov commented on #1054
@mikeal This surfaced a while back: https://github.com/GoogleChrome/puppeteer/issues/763#issuecomment-329333667

Not sure how we can help here though.

[2017-10-16 23:48] bcoe commented on #1054
@aslushnikov, @mikeal and I have been hammering out an approach that works well with Istanbul and puppeteer ... I wonder if we could figure out a way to make Istanbul not step on the toes of puppeteer, while also documenting somewhere how to get test coverage?

[2017-10-16 23:56] aslushnikov commented on #1054
@bcoe do you care about coverage of the browser-run code? E.g. given the following script, would you care about coverage of the evaluated function?

[code]

[2017-10-17 00:02] bcoe commented on #1054
If I'm understanding how things work; I don't think we care about the coverage of `alert('foo');` -- the code that we're collecting coverage for will have been pre-instrumented by the user running tests (using a tool like webpack or browserify); It might be enough to place `istanbul ignore next` at a few key places in the puppeteer codebase ...

This might also be of interest, and coincidently got

[2017-10-17 00:08] mikeal commented on #1054
So, the following code.

[code]

When `.toString()` with coverage enabled is:

[code]

Is there a way to dynamically pull this object from the Node.js scope and represent it in headless Chrome?

[2017-10-17 00:13] mikeal commented on #1054
To clarify, the reason we are getting errors in `evaluate()` is because this code is injected in to all lines in Node.js when coverage is enabled.

When this is then run in `puppeteer` this object doesn't exist.

We should be able to fix this if we can:

* detect when coverage is enabled
* look for references to coverage objects in evaluate strings prior to evaluation.
* crate a representation of

[2017-10-17 00:14] mikeal commented on #1054
@bcoe I don't think that we want to ignore these lines. These are lines of the test file, if they end up being dead code that never runs we actually want that in the report.

[2017-10-17 00:17] bcoe commented on #1054
@mikeal in general the test file should be skipped for instrumentation; I'm a bit confused as to why the lines of the assertion would be instrumented for test. You can see the [ignore logic here](https://github.com/istanbuljs/istanbuljs/blob/master/packages/test-exclude/index.js#L126).

As long as the source-code being passed to `puppeteer` for execution has been instrumented in full, it will have

[2017-10-17 00:21] aslushnikov commented on #1054
@mikeal You can create harness using the [`page.exposeFunction`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction).

Something along the lines:
[code]

[2017-10-17 00:35] mikeal commented on #1054
@bcoe by default the test file lines are included in coverage. In all my other projects I leave this on because it has actually found a lot of bad tests with dead code in them that we thought was checking for something.

So, check out this line of code https://github.com/mikeal/gza/blob/coverage/tests/test-browser.js#L165

The function passed to evaluate is not executed in Node.js, it is `.toStrin

[2017-10-17 00:39] mikeal commented on #1054
@bcoe is there only one `cov_${id}` object in the entire process? Is there any way to detect the id(s) of these in the Node.js process?

[2017-10-17 00:43] alexindigo commented on #1054
Ha, now I remember hitting similar issue with Phantom :) But somehow it slipped my mind this time :)

[2017-10-17 00:44] aslushnikov commented on #659
@vitalets I'm not aware of any plans.

[2017-10-17 00:47] bcoe commented on #1054
@mikeal there will only be one  `cov_${id}` in the entire project, post instrumentation it will have been inserted at the very top of the test file -- I wonder if you could potentially kick this along with the code that's being serialized ... maybe wrap the default behavior?

_edit: if this can be pulled into some modules that work for the generic case, I'd love to add a section on https://istanbu

[2017-10-17 00:53] mikeal commented on #1054
@bcoe if there's only one of these with the same name for the entire process then we just need to know its name and find a globally accessible reference to it.

With that we could implement this proxying behavior in `puppeteer` and dynamically insert the proxy object when `globals.__coverage___` exists :)

[2017-10-17 01:02] mikeal commented on #1054
@bcoe are you sure there is one of these objects per process and not per file? https://github.com/istanbuljs/istanbuljs/blob/aae256fb8b9a3d19414dcf069c592e88712c32c6/packages/istanbul-lib-instrument/src/visitor.js#L15

[2017-10-17 01:04] alexindigo commented on #1054
Here it's just passed with the arguments
https://github.com/alexindigo/obake/blob/master/lib/phantom.js
although it's somewhat limited use case.

[2017-10-17 01:06] alexindigo commented on #1054
Does `__coverage__` object has any metadata in puppeter?

[2017-10-17 01:14] mikeal commented on #1054
I figured out what the `cv_${id}` objects are and where to find them :)

There's an object *per file* and the key can be derived from the filename. The object itself is actually on the global `__coverage__` object but that object has keys of the entire filename so you just need to re-hash it the same way the coverage system does it.

[code]

[2017-10-17 01:19] mikeal commented on #1054
I think that with this I can start working on a patch tonight/tomorrow that can detect coverage and make puppeteer's evaluate function "just work" :)

[2017-10-17 05:37] aslushnikov commented on #1020
@brutalcrozt M1 is the next major milestone.

[2017-10-17 07:39] Khady opened #1056 "Page.goto returns null for chrome://net-internals on headless false"
When `page.goto` is called for url `chrome://net-internals` and `headless` is `false`, the returned value is null. It seems to only happen when the request interception is enabled.

Also, `chrome://net-internals` seems to only be supported by chrome without headless mode. But I guess I should report this upstream.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: a

[2017-10-17 08:04] Tactless7 opened #1057 "Change dpi of PDFs"
It seems that we can't change dpi of generated PDFs, will it be a feature ?
For some case, it would be useful.

[2017-10-17 08:36] bitbangtech opened #1058 "page.Type slow in 0.12.0"
Using page.type has become painfully slow during the last update.

It looks like between characters there's the same amount of delay specified in the slowMo parameter, is this intentional?

[2017-10-17 08:42] ldenoue opened #1059 "should be page.type('#lst-ib','puppeteer')"
page.type needs a selector before the text:
L27 should be:
await page.type('#lst-ib','puppeteer');

https://github.com/GoogleChrome/puppeteer/blob/6f97b71616af62ec5eb91e281801292b8eaab9d5/examples/search.js#L27

[2017-10-17 08:59] davidwindell opened #1060 "Chrome crashes/restarts when generating PDFs"
We're seeing intermittent sporadic crashing of Chrome when generating PDF's.

Puppeteer reports `Protocol error (Page.printToPDF): Session closed. Most likely the page has been closed.` and this is what we can see from the Docker container logs that hosts our Chrome instance.

[code]

Puppeteer connects remote to this Chrome instance from multiple PHP processes to generate PDF's on demand.

Are th

[2017-10-17 09:07] AnjumMomin commented on #1022
if some changes in my script to run headless on server?
plz tell me ....i don't know how to run on server ...and what are the changes in my script

[2017-10-17 09:45] melikhov-dev commented on #951
Can you add `process.env.npm_config_puppeteer_download_host` for supporting .npmrc configuration? like
[code]

[2017-10-17 10:38] vitalets commented on #659
Ok. Anyway after https://github.com/GoogleChrome/puppeteer/pull/774 extensions do not work even with `headless: false` option, so waiting for https://github.com/GoogleChrome/puppeteer/issues/872 to be shipped.

[2017-10-17 11:12] oliveiraethales commented on #301
@aslushnikov Indeed, I was so focused on finding the issue that I haven't considered the CSS rules themselves. Cheers!

[2017-10-17 11:45] r3dDoX commented on #951
Sure 👍 Didn't know that.
PR is updated

[2017-10-17 11:54] vitalets opened #1061 "Error when clicking on Shadow DOM element"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: OSX 10.11.6
* URLs (if applicable):

**What steps will reproduce the problem?**
[code]
**What is the expected result?**
No errors, element will be clicked.

**What happens instead?**
Element is not clicked, error in console:
[code]
**But this code is working well:**
[code]

[2017-10-17 12:09] vitalets commented on #85
@miles-collier could you just clarify how pptr deals with parallel pages:
Does it suspend javascript in inactive page (like headful chrome [does](https://codereview.chromium.org/6577021))?
Thanks!

[2017-10-17 12:42] sukrosono commented on #602
agreed number 3, hi @ebidel , on week end i have 2 hour free time maybe i can help too.
What about start new issue which focus on build the documentation to new website?
That i expect meet:
  -  tracking progress
  -  give ease to communicate internal progress with others

I like to discus or at least informed with the tools being use, because i have common interest.

[2017-10-17 12:59] kennethaasan commented on #755
I'm working on replacing our service that's using PhantomJS to generate screenshots. I found the same bugs as described in this issue with deviceScaleFactor set to 3. I've made many requests now and about every 5th time I get a buggy response.

Working correctly:
![chrome_headless](https://user-images.githubusercontent.com/1437394/31666087-4f943996-b34b-11e7-9297-7f32d9abff69.png)
Bug:
![chrome_he

[2017-10-17 14:30] GuilloOme commented on #905
@priyankapuranik, Why did you close it? How did you manage to do that?

[2017-10-17 14:40] Garbee commented on #905
You just use a normal `fetch` or `XMLHttpRequest` to do the data submission. Nothing special in puppeteer to make it work.

[2017-10-17 14:51] GuilloOme opened #1062 "[Feature] Call `page.goto()` as a POST request and/or with custom headers"
Actually the only way to request a page through a POST or/and with custom headers is by trapping the request with `page.setRequestInterceptionEnabled(true)` (as proposed [here](https://github.com/GoogleChrome/puppeteer/issues/669#issuecomment-326797345)) or by building a custom html page with a `<form>` tag and submitting it (this solution prevent us to set custom headers).

Both of these solution

[2017-10-17 14:55] rudiedirkx commented on #1039
No, but this is the relevant HTML:

[code]

Maybe the `onchange` ? That's what I'm trying to trigger. Works perfectly in Real Chrome.

[2017-10-17 15:09] ebidel commented on #602
@brutalcrozt awesome. We'd love the help. Please discuss tools and approach in that bug before you start in. We want to make sure everyone on the team is happy maintaining the docs :)

[2017-10-17 15:23] ebidel commented on #1061
Hi @vitalets. `::shadow` is deprecated (https://www.chromestatus.com/feature/6750456638341120) so you should not be relying on it as a selector.

Please upvote https://github.com/GoogleChrome/puppeteer/issues/858 to add shadow piercing features to the API.

[2017-10-17 15:37] aslushnikov commented on #1058
@bitbangtech do you use slowMo option when launching pptr? Do you have a repro scenario?

[2017-10-17 16:36] awilson28 commented on #765
@alexey-sh apologies, I believe my last comment was unclear. I was addressing @malyw since he successfully installed the intoli package and cc'ing you because our predicaments were the same re: `/usr/bin/google-chrome-stable: symbol lookup error: /opt/google/chrome/lib/libgtk-3.so.0: undefined symbol: g_log_structured`

after downloading the package, I had to run `sudo cp -a /opt/google/chrome/lib

[2017-10-17 16:56] LukasBombach commented on #453
As for my original question, isn't this kind of what I have been looking for?

https://docs.google.com/document/d/1y9KDT_ZEzT7pBeY6uzVt1dgKlwc1OB_vY4NZO1zBQmo/edit#heading=h.tn3gd1y9ifml

[2017-10-17 17:25] TimFletcher commented on #861
I have the same issue and `ignoreHTTPSErrors` didn't help. Strange because loading the site in regular Chrome and inspecting the security panel yields no issues. Same at https://www.ssllabs.com.

[2017-10-17 17:59] blue-cp commented on #1026
Thanks all. @JohnBruce  Thanks for the pointer. I will try it out.

[2017-10-17 18:29] aslushnikov commented on #861
@TimFletcher please file another bug with a code snippet that fails? This would save a ton of time.

[2017-10-17 18:33] mikeal commented on #1054
Alright, PR is sent https://github.com/GoogleChrome/puppeteer/pull/1067

Could use some help fixing Typescript globals errors.

[2017-10-17 20:46] sukrosono commented on #602
I have some experience on jekyll, but recently my friend told me that golang have hugo which [supported](https://gohugo.io/hosting-and-deployment/hosting-on-github/) by github webpage.

I will make new issue  which focus on the building the site. I will list and options as proposal, since the internal team who have the right to choose.

[2017-10-17 20:47] sukrosono opened #1068 "Puppeteer website (documentation)"
## Hosting:
  -  [ ] github webpage x
  -  add list here

<details><summary>Tools:</summary>

  - [ ] [hugo](https://gohugo.io/)
  - [ ] express
  - [x] JsDoc
  - [x] antwar
</details>

### Structure:
  -  [x] follow proposal #602
  -  will deploy to [google dev web fundamentals](https://developers.google.com/web/)

### Thing to consider:
  - [ ] support offline documentation via [devdocs](https:/

[2017-10-17 20:54] paulirish commented on #1068
FWIW i'm really impressed with the build of [webpack's new docs](https://webpack.js.org/concepts/)

repo: https://github.com/webpack/webpack.js.org

[2017-10-17 21:03] sukrosono commented on #1068
I primarily vote for hosting on github webpages, because it free. Then use hugo.
But when we have budget to hosting on other place i will vote to use express and it's friend.
I am okay with the rest options,
### approach
Since i have no experience writing documentation, i am leaving it to the internal team to choose.
But i am highly recommend to support offline documentation via devdocs, since i u

[2017-10-17 21:55] paulbjensen opened #1070 "CHANGELOG.md"
Hi,

Thanks for this tool. I've had a great experience using it with Cucumber.js to do integration testing of an app that consists of a React SPA and a REST API served by Express.

I got a Greenkeeper PR to upgrade Puppeteer from 0.11 to 0.12. There were quite a few changes (i.e. deprecation of page.plainText, changes in page.type) that I'm now adjusting to.

Are there any plans for a CHANGELOG.md

[2017-10-17 22:07] #1059 closed, assigned to nobody

[2017-10-17 22:35] #918 closed, assigned to nobody

[2017-10-17 22:35] #989 closed, assigned to JoelEinbinder

[2017-10-17 22:35] aslushnikov commented on #921
This is actually **not fixed** by #1028.

[2017-10-17 22:43] aslushnikov commented on #957
@graingert can you reproduce this with `DEBUG=puppeteer:protocol` env variable and post the log here?

[2017-10-17 22:47] kesava opened #1072 "tracing.start doesn't seem to output screenshots"
I am trying to get a basic tracing example with screenshots option enabled work, however, it produces trace.json, but no screenshots.

[code]
**What is the expected result?**
* Produce timeline screenshots along with trace.json

**What happens instead?**
* Produces only trace.json. No screenshots outputted.

Using the following
* Puppeteer version: 0.12.0
* Platform / OS version: Mac OSX 10.13
* U

[2017-10-17 23:00] sukrosono commented on #1070
:confused:

[2017-10-17 23:17] ebidel commented on #1070
We're sticking release notes on the releases pages: https://github.com/GoogleChrome/puppeteer/releases.

That work?

[2017-10-17 23:29] vsemozhetbyt commented on #921
Refs: https://github.com/GoogleChrome/puppeteer/pull/1055#issuecomment-337326682

[2017-10-17 23:49] paulbjensen commented on #1070
Yes, thanks. Sorry I didn't see that.

[2017-10-17 23:49] #1070 closed, assigned to nobody

[2017-10-18 00:09] sukrosono commented on #1047
IMO the behavior of [duck typing](https://en.wikipedia.org/wiki/Duck_typing) in javascript should ignore the absence of `;`
I am also facing this issue, with
  - I can't reproduce it consistently
  -  require directly to lib\Puppeteer on v0.12.0 and v0.13.0 alpha

The script to reproduce the issue is not good choice, google will never that page throw an error, :smile:
I will inform here if i can r

[2017-10-18 00:48] #901 closed, assigned to nobody

[2017-10-18 01:34] rmzg opened #1074 "ERR_NO_SUPPORTED_PROXIES with socks5 proxy"
Debian Unstable
[code]
Downloading Chromium r508693
Linux 4.12.0-2-amd64 #1 SMP Debian 4.12.13-1 (2017-09-19) x86_64 GNU/Linux

Invocation:
[code]

General error message:
[code]

Debug Error Message:
[code]

[2017-10-18 01:48] Jamesernator commented on #858
It's probably a separate issue but it'd be nice if to use `{ pierce: true }` we could also use `$` off an element handle directly e.g.:

[code]

Obviously this isn't tied to `{ pierce: true }` but it's certainly a case I'd expect to be using such a feature commonly.

EDIT: Looks like this was added at some point so thanks to whoever added that.

[2017-10-18 02:14] #386 closed, assigned to JoelEinbinder

[2017-10-18 02:14] #443 closed, assigned to JoelEinbinder

[2017-10-18 02:16] rmzg commented on #1074
This flag doesn't seem to work on the actual chromium packaged in the ubuntu xenial repos either, so it might not be specific to puppeteer but I'm running out of ideas to try to get the flag to work.

If I try `--proxy-server=http=socks5://...` it seems to ignore the setting completely.

And for the record, I can pass the exact proxy string to `curl -x` and it works fine.

[2017-10-18 03:15] hirokith opened #1077 "Support for geolocation mock?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: MacOS
* URLs (if applicable): https://h5.m.taobao.com/trip/home/index.html

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. use puppeteer to capture performance for the page.

[code]

2. allow geolocation permission
3. set the preset geo

[2017-10-18 05:05] JoelEinbinder commented on #921
This should be fixed as of #1063. @vsemozhetbyt can you confirm? Thanks

[2017-10-18 05:28] rmzg commented on #1074
For other people wandering down this rabbit hole: https://bugs.chromium.org/p/chromium/issues/detail?id=615947

[2017-10-18 05:43] derekperkins commented on #623
@aslushnikov Do you know if this is a puppeteer memory leak or an actual headless Chrome leak?

[2017-10-18 06:06] sheweichun opened #1079 "In page.emulate(option), option. hasTouch not worker"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.12.0
* Platform / OS version:mac 10.11.6
* URLs (if applicable): any mobile page

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. prepare the demo like beblow:
[code]
2. interact with the page in the chrome

**What is the expected result?**
touch operations  work

**W

[2017-10-18 07:00] kidwm commented on #508
@aslushnikov So when can we use something like `ElementHandle.$()`?

[2017-10-18 07:05] JoelEinbinder commented on #1079
Emulating a touch device with Puppeteer sets up the page so that something like modernizr will detect touch support. It doesn't convert mouse clicks into touch events. You can use [`page.touchscreen`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-touchscreen) to send automated taps into the page.

[2017-10-18 07:18] aslushnikov commented on #508
@kidwm I'd be happy to review a pull request with tests and documentation. This should be easy to do similarly to the [`Frame.$`](https://github.com/GoogleChrome/puppeteer/blob/32398d1/lib/FrameManager.js#L235-L242) and [`Frame.$$`](https://github.com/GoogleChrome/puppeteer/blob/32398d1/lib/FrameManager.js#L276-L287). Check out the CONTRIBUTING.md for the tips on development and running tests.

[2017-10-18 07:57] tnolet commented on #1047
@brutalcrozt  @JoelEinbinder my initial assumption was mistaken. I was wrapping the script in some other code (which moved the require statement) which threw me off. This behaviour of runaway instances still occurs, seemingly at random. Pretty nasty bug as I found my laptop with fans blazing at max. Had to do a hard restart to even get it to work again.

[2017-10-18 08:10] fran0254 opened #1081 "clicking a link inside a frame does not work"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.13.0-alpha
* Platform / OS version: Ubuntu 17.04 64 bits
* URLs (if applicable):

**What steps will reproduce the problem?**
does not find frame

_Please include code that reproduces the issue._
[code]

**What is the expected result?**

**What happens instead?**
[code]

[2017-10-18 08:26] pwnall opened #1082 "ElementHandle.click() broken in 0.12"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12
* Platform / OS version: Fedora 26
* URLs (if applicable): https://facebook.com/login

**What steps will reproduce the problem?**

[code]

**What is the expected result?**
The click goes through and a login is attempted.

**What happens instead?**
The click does not go through.

I have a hunch that the underlyin

[2017-10-18 08:29] vsemozhetbyt commented on #921
@JoelEinbinder Unfortunately, exactly this case from OP still is not fixed: logging in in headful mode is not restored in headless mode. I did not test if cookies are stored and restored in completely headless mode — this can be fixed, but for me, this is rather a speculative use case.

[2017-10-18 08:32] paulbjensen commented on #1070
On a side note, I managed to make the changes, and my Cucumber test suite has gone from taking 6m38s to run, to now taking just 1m23s. Lovely upgrade.

[2017-10-18 09:00] aslushnikov commented on #921
For the record: this is tracked by upstream bug https://bugs.chromium.org/p/chromium/issues/detail?id=775703

[2017-10-18 09:18] huan commented on #1000
So where did you miss in the documentation?

I ran into the same issue but I can not figure it out.

[2017-10-18 09:27] rohmanhm opened #1083 "Make open new tab/pages doesn't switch active window"
### Steps to reproduce
When I create a new page it will change my active window to my new tab. Which is I don't like it because it will disturb me to type in another application.
Actually, I solved the problem by set `headless` mode to `true`. But, that's not what I like to do because I don't see the activity from my browser.

**Tell us about your environment:**

* Puppeteer version: 0.12-alpha
*

[2017-10-18 09:36] plantain-00 opened #1084 "right click seems don't work"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:0.12.0
* Platform / OS version:mac os 10.12.6
* URLs (if applicable):https://plantain-00.github.io/tree-component/demo/vue/index.html

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. a.js
[code]
2.see the generated screenshot, if right click success, the custom contextm

[2017-10-18 09:47] Tactless7 commented on #361
It doesn't work either with docker. Hosts can't be resolved :
Error : Failed to navigate: http://domain-in-hosts.dev:some-port/url

[2017-10-18 09:57] chemitaxis opened #1085 "Failed to launch chrome!"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
"puppeteer": "^0.12.0"
* Platform / OS version:
AWS Elastic Beanstalk 64bit Amazon Linux 2017.03 v4.3.0 running Node.js 6.11.1
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.I have deploy the code in Elastic Beanstalk
2.Try to lauch puppeteer
3

[2017-10-18 10:28] maicss opened #1086 "Allow page use some privacy?"
**Tell us about your environment:**

* Puppeteer version: 0.12
* Platform / OS version: Mac OS 10.12.6
* URLs (if applicable): like google.com or maps.google.com

[2017-10-18 12:54] ldenoue opened #1087 "click sometimes hits the autocompletion DIV instead of 'input[type=submit]'"
Unfortunately, page.click('input[type=submit]') seems to click the overlay that appears after the page.type(...).

Instead of using page.click, I'm using:
await page.keyboard.press('Enter');

https://github.com/GoogleChrome/puppeteer/blob/4f64dfd9935e87c2752a4db04867b4a9928c2cd3/examples/search.js#L29

[2017-10-18 13:54] christopherwk210 commented on #1000
@zixia The documentation versions are at the top.

![Reference Image](https://i.imgur.com/wWJkpis.png)

[2017-10-18 14:38] TimFletcher opened #1088 "ERR_CERT_COMMON_NAME_INVALID received when ignoring HTTPS errors"
Follow up from #861

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: OS X 10.12.6
* URLs (if applicable): https://www.lexdray.com

**What steps will reproduce the problem?**

The following code throws an exception:

[code]

**What is the expected result?**

Site is able to be loaded successfully, ignoring any HTTPS errors.

**What h

[2017-10-18 14:38] TimFletcher commented on #861
Thanks, I added a new issue at #1088

[2017-10-18 15:00] fhmd4k commented on #1074
chromium doesn't support socks5 auth but support http(s) auth. You only can use `--proxy-server=socks5://ip:port`

[2017-10-18 15:03] rmzg commented on #1074
I get the exact same error with `--proxy-server=http://user:password@208.xx.xx.xx:yyyy`

[2017-10-18 15:46] ebidel opened #1089 "Page.click() behaves differently than HTMLElement.click()"
This was a gotcha I ran into when using `Page.click()`:

`Page.click()` scrolls to the element and clicks the very center of it. The scroll to part is ok, but the latter behavior is different from what `HTMLElement.click()` does.

A twitter card with an embedded link to another tweet is a good example of where things can go wrong:

<img width="649" alt="screen shot 2017-10-18 at 8 16 29 am" src="h

[2017-10-18 15:49] ebidel commented on #1086
It's not clear what this is asking for. Can you elaborate on the request and what you're trying to do?

[2017-10-18 15:54] ebidel commented on #1077
Since you're passing a `userDataDir`, I'd imagine these settings would be preserved. Could be a bug in Devtools/Chrome. cc @aslushnikov

[2017-10-18 15:56] ebidel commented on #1085
Dupe of https://github.com/GoogleChrome/puppeteer/issues/807

[2017-10-18 15:56] #1085 closed, assigned to nobody

[2017-10-18 15:58] ebidel commented on #1077
Ah, likely https://bugs.chromium.org/p/chromium/issues/detail?id=775703?

[2017-10-18 16:05] huan commented on #1000
Ok, thanks!

[2017-10-18 16:08] chemitaxis commented on #807
Hi, with EBS it’s not working... what I need to do? I have tried to install all the dependencies but the same error... thanks

[2017-10-18 16:58] dbauszus-glx commented on #794
I have the same problem.

An ajax request is going from script in puppeteer to the backend and the backend responds by sending json to the puppeteer browser.

I use page.on('reponse') which errs with following message.

UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 5): Error: Protocol error (Network.getResponseBody): No data found for resource with given identifier u

[2017-10-18 17:41] dbauszus-glx commented on #794
Soz... last comment was rubbish. Got there in the end by making launching puppeteer with a head for debugging to notice that my ajax had a CORS issues.

[2017-10-18 19:16] huan commented on #537
+1

[2017-10-18 20:51] tibdex opened #1090 "Add a flag to ignore webSockets when using {waitUntil: 'networkidle'}"
Hi,

I like the simplicity of the `{waitUntil: 'networkidle'}` option for generating PDFs as in:

https://github.com/GoogleChrome/puppeteer/blob/aa58f25bc1c7f8cf72c70c453f036bb873349164/examples/pdf.js#L24-L31

https://github.com/GoogleChrome/puppeteer/pull/38 changed the implementation of the `networkidle` check to wait for all created webSockets to be closed before resolving.
However, some web a

[2017-10-18 21:26] ebidel commented on #1068
Hosting isn't really an issue, but from personal experience building doc sites, I'd shy away from getting into the business of maintaining a custom server for a doc site.

gh-pages is easy but longer-term, I think we probably want documentation hosted on something like developers.google.com/web/tools/puppeteer to take advantage of the team resources, infra, and integration with the rest of our doc

[2017-10-18 21:31] gauntface commented on #1068
From Workbox side - we are just markdown files on web fundamentals and reference docs are building with a JSDoc theme that is d.g.com friendly.

I don't know how you are generating API docs, but happy to help get them if you want a hand.

[2017-10-18 23:22] AlexChung1995 commented on #613
Can I suggest adding something to the page.select function?
I was thinking the function should throw an error if the option doesn't exist. In my use case, it was important to know if the select was executed. I think this would be the case for many use cases.

The code I added was:
`if (!options.some(function (v) {return values.indexOf(v.value) >= 0;})){
        throw new Error('Option does not exi

[2017-10-18 23:27] fhmd4k commented on #1074
sorry,i don't know it can't support in the command line. But i think you should try listen all requests to handle auth.

[2017-10-19 02:37] aslushnikov commented on #613
@AlexChung1995 feel free to send a PR or file a new issue, we'll discuss it there

[2017-10-19 03:08] maicss commented on #1086
![image](https://user-images.githubusercontent.com/9784767/31752473-c2f15b66-b450-11e7-9a22-ebe6407de9a0.png)

How to `Allow` or `Block`.

And others like : Audio etc.

[2017-10-19 06:54] fran0254 commented on #684
Good morning, you could know if this bug will solve ??

[2017-10-19 07:19] pilgerone opened #1091 "page.addScriptTag not working on 0.12?"
Hey guys,

On Debian Jessie, running
[code]
and considering bar.js being
[code]

I get no response on my console. No error. Nothing.

I should see 'Received test', right!?

[2017-10-19 07:29] TimeInvestor commented on #440
Hi @aslushnikov,
I followed the example for my page (https://www.zopim.com/landing/simulate?accountId=501LqzN9QKsmkwRNN3eFGZ2TMytZmQnO&subdomain=v2), but I could not do anything with the body. For example, if I use body.focus(), it throws TypeError: body.focus is not a function.
Any advice?
Thanks.

[2017-10-19 09:24] hotNoder commented on #846
@ebidel Hi, I have a question about the Notification. I use puppeteer to visit a site which alert the notification. If I don't close the notification manually, the program wouldn't go forward.
So there's no way to avoid the notification programmatically?

[2017-10-19 10:09] EasonWang01 opened #1092 "page click not fire"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
newest
* Platform / OS version:
windows 10
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
[code]

click not fire.

![222](https://user-images.githubusercontent.com/11001914/31765929-acd756ac-b4f8-11e7-80f0-0cba61bafc18.png)

**What is the expected

[2017-10-19 10:25] mityok commented on #804
i'm using puppeteer to create video recording from an html animation.
i'n order to do so i'm using json file with up to several hundreds of MB as setup data.
and sometimes the puppeteer just freezes without errors even with `env DEBUG`.
so i'm trying to figure if it's a memory issue

[2017-10-19 10:27] vsemozhetbyt commented on #1091
I think
[code]
should be
[code]

[2017-10-19 10:37] Folyd opened #1093 "Is possible to obtain a website's favicon url?"
Is possible to obtain a website's favicon url just like Chrome extension api `chrome.tabs.Tab.favIconUrl`?

Link: [https://developer.chrome.com/extensions/tabs#type-Tab](https://developer.chrome.com/extensions/tabs#type-Tab)

[2017-10-19 10:37] vsemozhetbyt commented on #804
@mityok FWIW, but did you check the buffer and string maximums for Node.js and v8?

https://nodejs.org/api/buffer.html#buffer_buffer_constants

There may be problems with parsing big JSON files with v8:

https://github.com/nodejs/node/issues/9489
https://github.com/nodejs/node/issues/13465

[2017-10-19 11:36] richardjharris opened #1094 "Page.goto will timeout if page contains a JS redirect to a data URI"
**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Linux / CentOS 7 x86_64

**What steps will reproduce the problem?**

Please see [this script](https://github.com/GoogleChrome/puppeteer/files/1398167/data-uri-redirect-timeout.js.gz). Alternatively simply visit a page that contains a JavaScript redirect to a data URI, e.g. `window.location.href = 'data:...'`

[2017-10-19 11:38] richardjharris commented on #1094
Looks like no `load` event is fired. That's what is causing the timeout.

[2017-10-19 11:58] richardjharris commented on #1094
The data URI request triggers a `Page.frameScheduledNavigation` event followed by `Page.frameStoppedLoading` and `Page.frameClearedScheduledNavigation`.

Chrome doesn't seem to issue a `Page.loadEventFired` event, and if I add javascript to a `window.onload` handler, the javascript isn't run. So maybe this is a problem on Chrome's side.

[2017-10-19 13:53] sukrosono commented on #1047
@tnolet did you also terminate puppeteer via CLI?  I just try to close puppeteer in cli via ctrl C, chromium instance are still running:
<details>

![bunch chromium still running](https://user-images.githubusercontent.com/3001652/31774188-3c73af34-b50f-11e7-8b84-3f6877dfcb25.png)

</details>

[2017-10-19 14:05] sukrosono commented on #1007
I also notice that the waitForSelector did not accept `0` timeout (disable timeout). I do goto with disable timeout but the watForSelector was rejected with 30sec timeout.

[2017-10-19 14:39] seripap commented on #373
I've been fixing the height on a "page" itself. For example, If you set pdf size to A4, you can set a fixed height of 1122px to a container. [Then just some small JS to dynamically input page numbers.](https://gist.github.com/seripap/81241195e182b62adc3c87c27258f85f)

[code]

[2017-10-19 15:25] Garbee commented on #1086
Duplicate of #846

[2017-10-19 15:29] Garbee commented on #1093
You can try requesting the favicon on the domain root and if that fails then query the document for a `rel="icon"` tag and get it from that.

There is no direct API for this. What is your use-case for needing it programatically?

[2017-10-19 15:41] mizdra commented on #922
@aslushnikov I filed this. The link is here: https://bugs.chromium.org/p/chromium/issues/detail?id=775794

[2017-10-19 16:53] fran0254 commented on #618
Have you solved the problems of frames? I need help, we have all the projects stopped

[2017-10-19 16:59] mittermayr opened #1096 "page.type has Emoji issues (UTF-8)"
Two-folded issue. Some Emojis aren't typed correctly (others seem to work, randomly). And newlines are also ignored (so is `keyboard.press('Enter')`). The solution for newline treatment is to split the text by "\n" and then do line by line, with a `page.type("#target", String.fromCharCode(13));` at the end of it.

### Steps to reproduce

* Puppeteer version: 0.13.0-alpha
* Platform / OS version: O

[2017-10-19 17:21] fran0254 opened #1097 "how can I go from version 0.12.0 to version 0.13.0-alpha"
how can I go from version 0.12.0 to version 0.13.0-alpha  to solve certain problems?

[2017-10-19 17:25] vsemozhetbyt commented on #1097
`npm install https://github.com/GoogleChrome/puppeteer/`

[2017-10-19 17:48] #1097 closed, assigned to nobody

[2017-10-19 17:55] #1086 closed, assigned to nobody

[2017-10-19 18:51] fran0254 commented on #1097
Thank you. I thought I was going to solve the problems of clicking inside the iframes :-(

[2017-10-19 20:07] entrptaher commented on #1020
[code]

This hangs the node process on windows.
Nothing happens if I use setRequestInterceptionEnabled.

[2017-10-19 22:01] murilozilli commented on #822
I am facing the same issue: Failed to navigate: https://www.thebay.com

[2017-10-19 22:17] ebidel commented on #846
No there's not. That's the feature request in https://bugs.chromium.org/p/chromium/issues/detail?id=631464.

[2017-10-19 22:44] cmazakas commented on #299
I too am fighting with Chrome stealing my downloads!

In some instances, apps are designed such that they really only work with a browser and attempting to emulate the browser behavior from inside Node isn't realistically feasible.

I too am receiving this error:
`Error: Protocol error (Network.getResponseBody): No data found for resource with given identifier undefined`

And it's very frustrating

[2017-10-19 23:19] pilgerone commented on #1091
I was bumping into a Content Security Policy restriction. Only found out when I ran chromium *headful*.

Is it expected behavior not to get any errors in this case? Shouldn't we get something back to make debugging a bit easier?

[2017-10-19 23:34] murilozilli opened #1100 "page.goto frozen unless headless:false"
Puppeteer version: 0.12
OS: Ubuntu 17.04 64-bit Gnome
URL: http://www.saksfifthavenue.com
Node Version: v6.11.4

Steps:
Running node with --trace-warnings

Just cant seem to get an answer from method `goto` when I try to load this specific page. But I don't get any errors as well. I have to set timeout to 0 since if I set any number it stays "frozen" until it reaches that time. From normal chrome

[2017-10-19 23:52] aslushnikov commented on #777
For the record: event.location is merged upstream as [crrev.com/509990](https://chromium-review.googlesource.com/c/chromium/src/+/714280)

[2017-10-20 02:08] chooserich opened #1102 "301 Redirects throwing errors"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: master branch
* Platform / OS version: Mac OS

**What steps will reproduce the problem?**

[code]

Results in the following error:

[code]

When I catch the error it gives me the following output:

[code]

[2017-10-20 02:12] #1102 closed, assigned to nobody

[2017-10-20 02:24] aslushnikov commented on #822
@murilozilli can't reproduce with the following script and puppeteer 0.13-alpha

[code]

Feel free to file a new issue if you have a stable repro

[2017-10-20 02:25] aslushnikov commented on #1097
@fran0254 clicking inside the iframes should be solved; what exactly is not working for you?

[2017-10-20 02:26] aslushnikov commented on #1086
@maicss please upvote the issue if you're interested in it to be fixed. We're looking at the most-upvoted issues first.

[2017-10-20 02:28] aslushnikov commented on #618
This should be working fine in version [0.12.0](https://github.com/GoogleChrome/puppeteer/releases/tag/v0.12.0)

This is actually a dupe of #684

[2017-10-20 02:36] maicss commented on #1086
how? add a thumb emoji to https://github.com/GoogleChrome/puppeteer/issues/846 ?

[2017-10-20 03:01] niftylettuce opened #1103 "Inconsistency with screenshots"
Screenshots are inconsistent of the same page (there are subtle differences such as color).

This happens randomly it seems as well.  For a simple test, use `page.screenshot` and then use https://github.com/gemini-testing/looks-same to do image comparison between the new screenshot and an old screenshot.

It's easily reproducible if you try it a few times.

[2017-10-20 03:19] Folyd commented on #1093
@Garbee Thanks for replying. I can get a website favicon url by this wey:
[code]

[2017-10-20 03:19] #1093 closed, assigned to nobody

[2017-10-20 06:09] fran0254 commented on #1097
I want to click on the id inside the frame "click me". (the frame is inside a modal window)

[code]
the code I'm trying to use:

[code]
Out:

(node:28349) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Error: failed to find element matching selector "#lren"
(node:28349) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future

[2017-10-20 08:11] danieljuhl commented on #1058
@aslushnikov I encountered the same, and I assume `slowMo` is applied to each keystroke instead of the whole command. So even when `delay` is set to `0` on the `page.type()`, each keystroke will be delayed with the `slowMo` value.

I would assume `slowMo` was applied to the command just once, and the `delay` options was applied to each keystroke.

I can confirm that removing `slowMo` makes it fast

[2017-10-20 08:31] GautierT opened #1104 "waitUntil: 'networkidle' doesn't work with <html>HELLO</html>"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Heroku cedar-16 with https://github.com/jontewks/puppeteer-heroku-buildpack
* URLs (if applicable):

**What steps will reproduce the problem?**

[code]

1. Launch Puppeteer
2. Set `<html>HELLO</html>` as content with page.setContent()
3. Wait for `'waitUntil: 'networkidle'`
4. Print a

[2017-10-20 09:02] XcrossD opened #1105 "waitForSelector returns undefined"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Windows 10
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

`const btnNext = await page.waitForSelector(".wrapper-next>.mdl-button");
console.log(btnNext);`

This code is performed after an ajax call because only unt

[2017-10-20 10:15] vsemozhetbyt commented on #1105
It seems the doc [does not state](https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#pagewaitforselectorselector-options) that the promise of `page.waitForSelector()` is resolved in element handler:

It seems it is just resolved in `undefined` or rejected when timed out.

[2017-10-20 10:27] XcrossD commented on #1105
@vsemozhetbyt Ah it seems that I misunderstood the documentation. This function will only tell when the element is ready on DOM, but doesn't get the element itself. Thank you.

[2017-10-20 10:27] #1105 closed, assigned to nobody

[2017-10-20 11:02] DEKHTIARJonathan commented on #1100
Same issue with this website: "https://www.feedcrunch.io/"

[2017-10-20 11:12] Ndragomirov opened #1106 "evaluateOnNewDocument not working in Iframes with sandbox attribute set to allow-same-origin"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12
* Platform / OS version: Windows 10
* URLs (if applicable): http://scooterlabs.com/echo

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
`foo` should be `1` instead of `undefined`

**What happens instead?**
`foo` should be `1`

[2017-10-20 11:31] wong2 commented on #623
same here

[2017-10-20 12:40] sukrosono commented on #1068
@ebidel Sure.
@gauntface IFAIK currently the api doc, build with node [script](https://github.com/GoogleChrome/puppeteer/tree/master/utils/doclint).

[2017-10-20 14:03] dchang-dchang opened #1107 "RequestFailed when trying to get a CSV"
Hi All,

Thanks for a really great tool! It's been amazing how much cleaner code looks when using the puppeteer apis vs other tools. I'm having trouble getting the contents of a csv. It looks to be working fine up to and including the response headers but then the request fails and I'm unable to get the contents of the csv.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer

[2017-10-20 14:23] simongroom commented on #1088
I am having a similar issue. The error code I receive is different - but may be related...
**Environment:**

- Ubuntu
- Puppeteer V 0.12

**What steps will reproduce the problem?**

`const puppeteer = require('puppeteer');

(async () => {
  const browser = await puppeteer.launch();
  const page = await browser.newPage();
  let url = 'https://middleware-dev3.netdirect.ca:8888/desktop/index.html#pdf

[2017-10-20 15:29] gajus commented on #982
There is no point in asking someone to provide a solution if there is no follow up feedback.

[2017-10-20 15:31] Garbee commented on #1107
Looks like a duplicate of #299 to me.

[2017-10-20 15:32] entrptaher commented on #982
It could be because people had a hard time understand the concept. Or they forgot to reply.
I forgot to reply :D

[2017-10-20 15:32] jonesnc commented on #299
The only way I've been able to download a file is if I know the URL before-hand, and call `fetch` in an `evaluate`. `downloadUrl` is a string with the URL of the file you want to download.
[code]

You can then use `downloadedContent` to write to a file.

[2017-10-20 15:33] entrptaher commented on #982
And I simply lack the knowledge to implement the solution you provided. It went above my head. :D

[2017-10-20 15:39] dchang-dchang commented on #1107
Indeed! Closing.

[2017-10-20 15:39] #1107 closed, assigned to nobody

[2017-10-20 15:40] entrptaher commented on #1100
Did you try this? Working fine for me.
I used `headless: false` to find out the reason if there was any.

![image](https://user-images.githubusercontent.com/8284972/31829464-291987e4-b5df-11e7-9fb6-e80fc0096c1f.png)

Your example loads pretty file on ubuntu 16.04, lets see what's wrong on 17.04.

[2017-10-20 15:49] gajus opened #1108 "How to return ElementHandle from page.evaluate?"
I need to find a DOM node that contains a specific text. `page.$` is not sufficient here because `querySelector` does not allow `:contains` query. Therefore, I need to use XPath,
 which requires to evaluate query using [`document.evaluate`](https://developer.mozilla.org/en-US/docs/Introduction_to_using_XPath_in_JavaScript). To evaluate `document.evaluate` I need to use `page.evaluate`.

How do I r

[2017-10-20 16:06] murilozilli commented on #1100
@entrptaher It worked with  `headless: false`. Buuuut will it work on a server without interface? This code will be set up to run on an AWS web-server to take screenshots on a crontab

[2017-10-20 16:09] gajus commented on #1108
* https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageevaluatehandlepagefunction-args
* https://github.com/GoogleChrome/puppeteer/issues/537#issuecomment-334918553

[2017-10-20 16:09] #1108 closed, assigned to nobody

[2017-10-20 16:12] gajus commented on #982
ping @aslushnikov

[2017-10-20 16:13] entrptaher commented on #1100
Did you try the example of async await?

[2017-10-20 16:15] murilozilli commented on #1100
I didn't. I am using node v6.11.4 so I can't use `await` I just deal with the promises the old way. But what does this have to do with the `headless` attribute? My question was because if the server is interfaceless how will it run a browser that is not headless?

[2017-10-20 16:48] ebidel commented on #1086
@maicss that works

[2017-10-20 16:49] ebidel commented on #1103
Please provide a code snippet that repros the issue.

[2017-10-20 17:01] entrptaher commented on #1100
Nice catch, I experienced the same. The headless mode does not load the website.
`Error: Navigation Timeout Exceeded: 30000ms exceeded`

[2017-10-20 17:11] gajus opened #1109 "What is cookie size?"
https://github.com/GoogleChrome/puppeteer/blob/32398d11bdc2cd01c9cfe3e706f629ef90179c91/lib/Page.js#L942

e.g.

[code]

At first I thought it is the length of the `value`, but it isn't. In this case, the value is 170 characters long, while the size is 180.

[2017-10-20 17:12] entrptaher opened #1110 "Document default behavior for setRequestInterceptionEnabled without page.on('request') listener"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v 0.12
* Platform / OS version: Ubuntu 16.04
* URLs (if applicable):

**What steps will reproduce the problem?**
add `setRequestInterceptionEnabled` to the code.

_Please include code that reproduces the issue._

Code taken from the example on puppeteer docs.
This code does not do anything cause I am not listening fo

[2017-10-20 17:24] entrptaher commented on #1047
Experienced similar with windows 7 and puppeteer v 0.12.
Thought I was the only one.
Ended up using spawn and the workaround,

[code]
You can feel my frustration in the code :D

[2017-10-20 17:27] entrptaher commented on #1045
Can be linked to this issue https://github.com/GoogleChrome/puppeteer/issues/1047

[2017-10-20 17:45] #1003 closed, assigned to nobody

[2017-10-20 17:48] vsemozhetbyt commented on #1110
It seems this should be
[code]
and not the
[code]
but
[code]

[2017-10-20 17:52] knownasilya commented on #1024
@ebidel seems like GAE would have similar issues since node.js runs in the flexible environment, which uses Docker under the hood, as far as I can tell.

[2017-10-20 17:58] #733 closed, assigned to aslushnikov

[2017-10-20 18:00] gajus commented on #1088
Cannot replicate the issue in v0.13.

[2017-10-20 18:01] entrptaher commented on #1110
Such noob mistakes. :O

[2017-10-20 18:14] rudiedirkx commented on #1039
Any idea what's happening?

`Page.select()` does a

    element.dispatchEvent(new Event('input', { 'bubbles': true }));

which seems like an `Event` in parameter 1.

Can I try another version or something?

[2017-10-20 18:33] TimFletcher commented on #1088
I just tried my code with `0.13.0-alpha` and have the same error I reported in the original issue.

[2017-10-20 18:40] murilozilli commented on #1100
After a looooong period(like 5 minutes+) I get:
[code]

[2017-10-20 18:42] entrptaher commented on #1100
That's cause you disabled timeout. If you did not, you'd see that error after  30 seconds :dagger:

[2017-10-20 18:58] entrptaher commented on #1110
@vsemozhetbyt Look at this code,

Previously I pasted the wrong code on hurry. This code does not do anything cause I am not listening for `request` event. If I don't pass anything, this should just continue, right?

[code]

So, I must add this following code afterwards,
[code]

This should be documented.

[2017-10-20 19:23] gajus commented on #1088
Try launching Chrome with `--disable-setuid-sandbox` flag.

[2017-10-20 19:41] peterschussheim opened #1114 "[Question]Chromium download very slow"
I don't claim the slow download speed is the Chrome team's responsibility, rather, I wanted to make them aware of this issue.

As mentioned in the `Puppeteer` readme, `Chromium` is required and will be downloaded when installing from NPM...no problem.  Is it just me or is it **SLOW** to download??  I have plenty of bandwidth and experience fast speeds with everything which is why this is puzzling.

[2017-10-20 20:04] namelus opened #1115 "Sending 'Enter' to page does not work synchronously"
Hi everyone

Relatively new to Node and Puppeteer. Really excited about both - thanks to you all for your hard work! And also loving this markdown stuff. 3 cheers!!!

This is a 2 part-er
- one potential issue, and
- secondly a request for comment / advice.

My code intends to:
1. log into github
2. search 'john'
3. click the users' tab
4. take a screenshot
5. and finally close the browser

## Issu

[2017-10-20 20:11] vsemozhetbyt commented on #1110
@entrptaher Maybe you should add a new issue or reopen this one with a different title, like "Document default behavior for `page.setRequestInterceptionEnabled(true);` without `page.on('request')` listener".

[2017-10-20 22:24] ebidel commented on #1114
How long is it taking for you? I installed a fresh copy a few times today. It took around probably 10s or less.

[2017-10-20 23:42] ebidel commented on #1024
Indeed!

[2017-10-21 00:01] aslushnikov commented on #1020
@entrptaher Doesn't hang for me when I uncomment the `await browser.close()`. Anyhow, it has nothing to do with this issue; please, file another one.

This, btw, is fixed.

[2017-10-21 00:01] #1020 closed, assigned to aslushnikov

[2017-10-21 00:23] entrptaher commented on #1020
@aslushnikov I did create an issue, https://github.com/GoogleChrome/puppeteer/issues/1110

[2017-10-21 00:30] 59023g opened #1117 "Why does `page.$eval()` throw an error if no match found?"
Confusing because `document.querySelector()` just returns `null`.

I'm using Puppeteer to scrape a utterly horrendous .NET UI. Unfortunately I have a scenario where if one element exists, I'll assign it to `version`, if not I look for the dropdown's `selected` value.

Puppeteer 0.12.0 ( MacOS 10.13 )

[code]

Great software by the way. Thank you

[2017-10-21 01:06] ricardobruno commented on #1088
Hello guys,

I may be missing something, but from a quick look, this looks like a syntax issue, and not necessarily a bug.

@TimFletcher would you try the syntax below:
[code]

@simongroom would you try the syntax below:
[code]

PS: To fully test it, you will need to replace the URL with one that triggers a certificate error.

**Reference:**
https://github.com/GoogleChrome/puppeteer/blob/master/do

[2017-10-21 02:06] IAmJulianAcosta opened #1119 "networkidle not working when there are requests ongoing"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0
* Platform / OS version: Ubuntu 16.04

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Open a URL that has this code: `timer = setInterval(() => { pingServer() }, 1000);`
2. Open the page: ```await page.goto(url, {
	waitUntil: 'networkidle',
        networkIdleT

[2017-10-21 04:03] gajus commented on #946
@aslushnikov Is PR accepted for this?

[2017-10-21 09:30] TheOne1006 opened #1121 "How to Disable images in Puppeteer?"
How disable `<img>`  load

[2017-10-21 09:40] vsemozhetbyt commented on #1121
Possible solutions:

https://github.com/GoogleChrome/puppeteer/blob/master/examples/block-images.js

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetrequestinterceptionenabledvalue (see code example)

[2017-10-21 12:53] entrptaher commented on #618
This clicks the element properly,

[code]

[2017-10-21 13:37] xprudhomme commented on #1092
Could you be more precise about your issue? Because your description is very light, it does not help at all understanding your issue.

From what I see, if you only try to click on the "search" button from Google home page, without even sending a keyword to the search input text, it's 100% normal that nothing happens when you hit the search button.

Try it manually, no event is fired unless you fil

[2017-10-21 14:57] peterschussheim commented on #1114
Weird, today it is taking 10s for me too.  I ran a few tests last night and timed it taking 10 minutes.  Anyways, I will close this issue.  Thanks!

[2017-10-21 14:57] #1114 closed, assigned to nobody

[2017-10-21 15:33] ali-habibzadeh commented on #902
Is there a way of making `.goto ` not follow redirects and stop after the first 3xx response?

[2017-10-21 15:40] TimFletcher commented on #1088
Bingo. Thanks @ricardobruno That was it!

[2017-10-21 15:40] #1088 closed, assigned to nobody

[2017-10-21 15:41] bootstraponline opened #1122 "Support additional languages?"
WebDriver allows using any language. It looks like there's no way to have puppeteer clients in other languages? It'd be nice to have a machine-readable API which could then generate clients for arbitrary languages (similar to gRPC or the Google API Discovery format).

I think this would also help advance one of the puppeteer goals:

[2017-10-21 16:06] sukrosono opened #1123 "Unable connect with wsEndPoint transfered via file"
### Steps to reproduce
[here the script](https://github.com/brutalcrozt/puppeteer/tree/dev-enter/examples/connect)
1. run script 1 to store wsEndPoint to a file.
1. run script 2 to try connect existing browser with wsEndPoint from step 1.

**Tell us about your environment:**

* Puppeteer version: `0.13.0 beta`
* Platform / OS version: `windows 8`

**What is the expected result?**
- [ ] Able to con

[2017-10-21 17:12] ebidel commented on #1121
Yep, we have examples for this.

[2017-10-21 17:12] #1121 closed, assigned to nobody

[2017-10-21 17:34] entrptaher commented on #927
I found similar issue on other login pages too.
For example I tried to login to github using puppeteer and got same stack error.
The normal browser works fine, so I believe something is missing here.

This is a related bug with similar stack trace: https://bugs.launchpad.net/ubuntu/+source/chromium-browser/+bug/1702501

And same with upwork, it fails after this line,

[code]

If you notice, the fi

[2017-10-21 17:53] DEKHTIARJonathan commented on #1100
I still don't get why in headless mode, I can't take any screenshot of this website: https://www.feedcrunch.io/
I have the same problem, I can load it without being in headless but the *goto* async call never returns

[2017-10-21 17:55] 59023g commented on #1117
I solved it by using `page.evaluate()` with a `document.querySelector()` inside. Still doesn't answer my question about the design decision to throw an error of `page.$eval()` doesn't find a match.

[code]

[2017-10-21 18:07] ebidel commented on #1117
I think one challenge here is that `page.$eval()` does more than one thing. It finds the element  and also runs your callback code. If it just returned `null`, is that b/c the element couldn't be found or the resolve value from the callback?

[2017-10-21 18:52] karanjthakkar commented on #31
Can I help here?

[2017-10-21 19:40] 59023g commented on #1117
Fair.

Element could not be found:
`Error: Error: failed to find element matching selector "#ctl00_ContentPlaceHolder1_lblVersion2"`

It could still find the element and run callback with a `null` value assigned param, right?

I suppose my confusion lies with docs description of the `page.$eval()` method saying it runs `document.querySelector()` and my subsequent assumption it would behave the sam

[2017-10-21 22:44] jeffjacobsen commented on #477
Any news on this?  I'm having a similar problem when trying to convert svg to large png images.

I've had success generating 6000x6000 px images, but it fails at 9375x7875.  The svg displays fine in Chrome browser at that size, and Phantomjs can process it.  I'm running on Ubuntu.  Increasing RAM doesn't help.  It did get a little bit further going from 2GB to 4GB.  8GB was the same as 4GB.

[2017-10-22 01:22] #951 closed, assigned to nobody

[2017-10-22 06:15] fran0254 opened #1124 "Web site detects bot with my script, why?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:  0.13.0-alpha
* Platform / OS version: Ubuntu 17.04 64 bits
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]
**What is the expected result?**
![example](https://user-images.githubusercontent.com/32681199/31858751-ede063f6-b6ff-11e7-99f0-d970

[2017-10-22 07:46] alixaxel opened #1126 "Click doesn't work as expected in non-Headless"
**Environment:**

* Puppeteer version: 0.12.0 / 0.13.0-alpha
* Platform / OS version: Ubuntu 17.04
* URLs: [Test in PR](https://github.com/GoogleChrome/puppeteer/pull/1125) / `https://www.htmlbin.net/login`

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

Both screenshots should show the checkbox in the checked state.

**What happens instead?**

Checkbox is on

[2017-10-22 07:51] alixaxel commented on #1082
Seems to be the same issue that I'm having in #1126.

Did you experiment turning `headless: true`?

[2017-10-22 08:01] alixaxel commented on #1092
I tried the following snippet:

[code]

And I get the same result (search results now shown). However, if I set `headless` to `true`, it works.

Seems to be the same issue as described in #1125 & #1126.

[2017-10-22 09:31] aslushnikov commented on #1122
There's Chrome Remote Debugging protocol that has a lot of clients in various of languages: [protocol clients](https://github.com/ChromeDevTools/awesome-chrome-devtools#chrome-devtools-protocol). Puppeteer is a shim atop of the protocol.

That's the protocol description files, check out [browser protocol](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/inspector/browser_protoco

[2017-10-22 09:31] #1122 closed, assigned to nobody

[2017-10-22 09:48] vsemozhetbyt commented on #1124
I cannot reproduce the issue with 0.13.0-alpha on Windows 7 x64 for the first script run. Could it be that you have made many other operations on the site and they looked suspicious for them? Algorithms to detect automation may be elaborate and tricky.

[2017-10-22 10:06] Garbee commented on #1124
Headless mode does add "Headless" to the user agent string. Pretty easy sign there.

There are other methods of detecting headless though so it isn't like that is the only way.

They clearly seem to be detecting repeated access traits from the same location and flagging it. This isn't something puppeteer can handle internally.

[2017-10-22 10:48] CommanderXL commented on #985
Well, I consider this suitation as well.

I generator the dist files and sourcemap files seperately by webpack. I didn't want to put the sourcemap files to the server.Because it's not safe.

I try to inject the sourcemap files to the browser through puppeteer locally.But puppeteer can only inject the script or stylesheet.

I think it can inject the script with inline sourcemap to solve this proble

[2017-10-22 11:47] stereobooster commented on #985
This is security through obscurity.

The ticket is not about how you put sourcemaps or if you want to use them. This ticket is about situation when you have sourcemaps and want use it to decode errors - the same way as chrome console does it.

[2017-10-22 12:56] VenPot opened #1127 "Window.performance.timing API?"
Is this available in puppeteer. i am trying to get the dominteractive and pageload metrics  but cant find in API?  not much info on stack overflow or other tech forums hence creating an issue. thank you!

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):

**What steps will reproduce the problem?**

_Please include cod

[2017-10-22 14:29] bootstraponline commented on #1122
It looks like no one is generating clients from those JSON files, instead, they're being used as a human reference. Dev tools is lower level than puppeteer. The recently merged JSDoc/TypeScript support is probably the closest match to a machine-readable API for puppeteer itself.

Yeah, I guess I was hoping puppeteer would be more like ChromeDriver. A puppeteer server that exposes a high-level API,

[2017-10-22 15:15] ebidel commented on #1127
Dupe of https://github.com/GoogleChrome/puppeteer/issues/309

[2017-10-22 15:15] #1127 closed, assigned to nobody

[2017-10-22 15:22] ebidel commented on #1124
Right. You could try spoofing the UA to see if that works, but there's likely more advanced detection algorithms behind the scenes. Sites that use captchas and detect scraping bots are put in place to prevent automation. Not much PPTR can do for these scenarios.

Related: https://github.com/GoogleChrome/puppeteer/issues/473

[2017-10-22 15:22] #1124 closed, assigned to nobody

[2017-10-22 15:33] pemrouz commented on #1047
I'm also getting a similar result with trying to run lots of puppeteer tests in parallel. I believe you can reliably reproduce this by creating lots of copies of the same basic test that passes (and exits cleanly) on it's own, and then run `tap ./*.test.js --jobs 999` to run them all in parallel. I get a proportional amount of "There is no running instance of the task" and stray Chromium processes

[2017-10-22 17:26] ebidel commented on #1115
It looks like there may be some bugs with `page.click`. https://github.com/GoogleChrome/puppeteer/issues/1126

BTW, instead of doing the clicking/keyboard combo. You can use `page.type` and pass it a selector directly: https://github.com/GoogleChrome/puppeteer/blob/v0.12.0/docs/api.md#pagetypeselector-text-options. I was able to get things working with:

[code]

[2017-10-22 19:25] schra opened #1128 "Fonts used in non-displayed elements are not included in the generated PDF"
Fonts that are used in elements which are styled **intially** with `display: none` are not included in the PDF.

At first sight this makes sense, but if JS changes the `display`-property of some elements while generating the PDF this will result in unexpected behavior.

**What is the expected result?**

Only exclude fonts in the PDF that are `display: none` the whole time during the generation of

[2017-10-22 21:06] gajus commented on #1062
The third option is to make a post request using XHR and then use the response to [`page.setContent`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml). However, I agree that this is hackish too. There should be native support.

[2017-10-22 23:04] DiegoRBaquero commented on #685
Looking for a general solution, has anyone figured it out?

@onamission why does including dot files in the build help? I'm deploying with `eb deploy` but running into the same error.

Tried assigning the app folder to nodejs user with `chown` but still, `node_modules` would belong to root when `npm install` was executed.

[2017-10-23 01:26] TheOne1006 commented on #1121
Thanks & good day!

[2017-10-23 01:39] DiegoRBaquero commented on #685
It seems to work with node 6.11 and 7.10, doesn't in 8+. Must have to do with npm.

Related: https://forums.aws.amazon.com/thread.jspa?messageID=795165#795165

[2017-10-23 05:47] XcrossD commented on #1082
I can confirm that I have the same issue, and the workaround solution @pwnall gave worked.

Instead of the click simply not going through I'm also receiving this error, which I think is relevant:
<code>(node:4860) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Protocol error (DOM.getBoxModel): Could not compute box model. undefined</code>
<code>(node:4860)

[2017-10-23 06:59] und3fined opened #1129 "'Network.setRequestInterceptionEnabled' wasn't found undefined"
Hi there,

`Network.setRequestInterceptionEnabled` is removed in Chrome DevTools Protocol

I'm tested in `HeadlessChrome/64.0.3248.0`

Please update puppeteer for new CDP, Thanks.

**How to fix?**

- Edit `puppeteer/lib/NetworkManager.js`
- Change `Network.setRequestInterceptionEnabled` to `Network.setRequestInterception`

[code]

[2017-10-23 08:10] fran0254 opened #1130 "How can I run multiple script without opening chrome ?"
How can I run multiple script without opening chrome, Or some way that chrome windows are minimized

[2017-10-23 08:41] ali-habibzadeh opened #1131 "Closing tabs when"
When the browser is `browserWSEndpoint` via `puppeteer.connect`, each newPage is a newTab but browser.close does not close that respective tab and as a result many executions accumulates may tabs.
What is the solution for close a tab after it was used?

[2017-10-23 08:48] #1131 closed, assigned to nobody

[2017-10-23 08:49] ali-habibzadeh commented on #1131
Sorry for being stupid. should have called page.close()

[2017-10-23 08:56] saselovejulie commented on #1077
@dickeylth @ebidel
hi,

how do you update chrome location? by javascript code or by yourself operation?
is there any way that i can update my geolocation by javascript and let google map use this geolocation?

[2017-10-23 08:56] ali-habibzadeh opened #1132 "How to stop puppeteer follow redirects"
Currently it seems the default behaviour of puppeteer is to follow redirects and return the DOM at the end of the chain.
How can this be changed when need to stop the behaviour and make the .goto to stop after the first redirect and simply return the html from that first 301 page for example?

[2017-10-23 09:22] CommanderXL opened #1133 "Puppeteer can't occur console event"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.10.2
* Platform / OS version: OS EI 10.11
* URLs (if applicable):

**What steps will reproduce the problem?**

Well. I know puppeteer can catch the uncaught exception through:

[code]

If the error was caught by `try/catch` like:
[code]
First, this situation will not emit the `pageerror` event. But I'm confused tha

[2017-10-23 09:45] vsemozhetbyt commented on #1133
I can't reproduce with v0.13.0-alpha on Windows 7 x64:
[code]
[code]

[2017-10-23 10:01] saselovejulie commented on #1077
navigator.geolocation.getCurrentPosition = function(success, failure) {
    success({ coords: {
        latitude: 31.230416,
        longitude: 121.473701
    }, timestamp: Date.now() });
}
maybe i can use this function to change my geolocation, but how could i enable Geolocation from "No override" to "Custom location" with js code on console?
![1508752797](https://user-images.githubusercontent.co

[2017-10-23 10:12] tnolet commented on #1047
@brutalcrozt No, I did not terminate with the CLI. My runs are started and stopped programmatically, basically in a cron job. I'm actually a bit scared running Puppeteer in this way now. I blew up access to an EC2 instance that was not even responding to SSH anymore...

@pemrouz your use case is similar to mine. There is a chance in my scheduling that multiple of the same tests are running at the

[2017-10-23 10:22] CommanderXL commented on #1133
@vsemozhetbyt thanks for your answer. I will check it using `v0.13.0-alpha`. But how can I get the version.The npm hasn't this version.

[2017-10-23 10:30] vsemozhetbyt commented on #1133
`npm install https://github.com/GoogleChrome/puppeteer/` give you the latest version.

[2017-10-23 11:49] ali-habibzadeh opened #1134 "setRequestInterceptionEnabled is true but request.respond is undefined"
I have
[code]
However request.respond is always undefined
[code]

[2017-10-23 12:30] vsemozhetbyt commented on #1134
`request.respond` is a [function added recently](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#requestrespondresponse). It seems you need `request.response()`, but [it will be `null`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#requestresponse) before `request.continue()` and receiving the responce. Maybe you also need `response` event handler to get respo

[2017-10-23 13:05] sdeprez commented on #469
+1. I have the same issue, the Referer header is stripped when the request interception is turned on. That prevents the analysis of certain websites whose server relies on the presence of this Referer. At the very least, it should be documented because right now that's really a confusing behavior. Also, since I guess it's probably a Chromium bug, I filed this bug report: https://bugs.chromium.org/

[2017-10-23 13:13] namelus commented on #1115
Thanks for that Eric. I'll give it a try :)

[2017-10-23 13:13] GuilloOme commented on #1132
Same problem here…
I agree, the `page.goto()` should return the 30x response in the promise.
It could be a params to pass to it upon calling it, like `followRedirect: false`.

[2017-10-23 13:19] ali-habibzadeh commented on #1132
So I have a solution now but I agree with @GuilloOme that followRedirect: false should be a .goto option prop.

[code]

then in redirect I have:

[code]

[2017-10-23 13:25] GuilloOme commented on #823
here is my use case (close to @davedmarketing  one):

**Context**: Using puppeteer to inject a probe in a page and retrieving urls related to the given page.
**Requirements**: Staying on a the page as long as we do not have all the urls.
**Behavior**: The probe "click/hover/keystroke" every part of the page and it's commun to hit a "navigation away" action (through a `window.location='url'` or `wi

[2017-10-23 13:38] GuilloOme commented on #1132
Thanks a lot @ali-habibzadeh for this workaround!
Still, it would be better to have this `docRedirected` state in puppeteer.

[2017-10-23 14:25] panthony opened #1135 "`Page.goto` may hang until timeout when `setRequestInterceptionEnabled` is true"
When I try to access (some) site with `setRequestInterceptionEnabled`, then `goto` may fails with timeout error.

Using `dumpio` the only difference I can see is that with `setRequestInterceptionEnabled` the service worker fails to register.

With intercept:

Without:

And I'm not sure where to go from here.

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 0.12.0

[2017-10-23 14:34] ali-habibzadeh commented on #1132
definitely agree. using let with side effect like i have done is not ideal code. `followRedirect: false` as an option for` .goto` would be much better.

[2017-10-23 15:08] SunshowerC commented on #681
Same problem with key press .
I test `page.keyboard.press()` at [key-event-viewer](http://w3c.github.io/uievents/tools/key-event-viewer), found there is no `keypress` event but just only `keydown` and `keyup` event.
![image](https://user-images.githubusercontent.com/13402013/31896384-329899ae-b846-11e7-9534-a58195242dee.png)

while press `enter` manually, there exist `keypress` event.
![image](htt