[2017-08-23 23:26] Garbee commented on #290
@maxschmeling As mentioned repeatedly in the thread, you need to make sure the right [dependencies for debian](https://github.com/GoogleChrome/puppeteer/issues/290#issuecomment-322838700) are installed. That is the source of both of your original errors.

[2017-08-23 23:37] Garbee commented on #497
Maybe look over the existing CentOS issue ( ref #391 ). I suspect you're hitting the same missing dependency issues.

[2017-08-23 23:39] djones opened #511 "Ability to pause all animations completely"
I need to be able to take deterministic screenshots and when animations are running you'll get a different frame from an animation each time.

There does appear to be some control of animations in the devtools protocol here: https://chromedevtools.github.io/devtools-protocol/tot/Animation/

I've tried these without success:

[code]

[code]

There's also an official extension that disables animatio

[2017-08-24 00:03] kensoh commented on #497
Adding on, I had the impression Chrome no longer works with CentOS 6.X but it'll be great if does!

https://chrome.richardlloyd.org.uk

[2017-08-24 00:29] BenHayak opened #512 "Opening a Tab in existing profile and session"
Hey, is it possible to launch as a new tab in an existing profile?

I have an existing session with cookies and authentication bearer, problem is that puppeteer opens a dedicated chrome without the session or profile I want.

heres my code:
[code]
if i don't use executablePath it opens a whole new profile and there's no error, but when I do it opens a new window at the correct profile/session yet

[2017-08-24 00:39] aslushnikov commented on #460
Closing as a dupe of #411

[2017-08-24 00:39] #460 closed, assigned to nobody

[2017-08-24 00:40] aslushnikov commented on #512
Dupe of #411

[2017-08-24 00:40] #512 closed, assigned to JoelEinbinder

[2017-08-24 00:42] aslushnikov commented on #423
@JoelEinbinder Joel, could you please take a loot into this?

[2017-08-24 00:44] aslushnikov commented on #379
Closing due to inactivity. Overall, looks like dupe of #290

[2017-08-24 00:50] BenHayak commented on #512
well, #411 refers to #53 which is adding a cookie api, and not what I described, I have "Auth" header that I must keep, so not just cookies have to be saved, new tab with same session is a must.

Using
[code]

works, but it lacks the great API you built with puppeteer.

[2017-08-24 01:04] lerayj commented on #495
Thanks @aslushnikov, everything is working.

To conclude it is my bad, the real case scenario imply `<h4>` inbetween `<ul>`. In this case, I have to use `:nth-of-type(an+b)` and not `:nth-child(an+b)` which works only with same type.
I missed a point on` nth-*` things, nothing related to puppeteer.

Sorry and Thanks everyone.

[2017-08-24 01:09] aslushnikov commented on #512
@BenHayak renamed #411 so that it's not confusing any more. You'll be able to pass your own data directory which will be used for chromium.

[2017-08-24 01:10] aslushnikov commented on #497
Closing as a dupe of #391

[2017-08-24 01:10] #497 closed, assigned to nobody

[2017-08-24 01:15] JustinYi922 opened #513 "the installation failed on CentOS"
Some time ago，I tried to use headless Google,but the installation failed on CentOS 。I had to give up. The recent rise of puppeteer has failed again. Could you tell me when this can be used on CentOS?. Thank you

The following is a false report：

npm i puppeteer --save

/home/node/***/node_modules/puppeteer/utils/ChromiumDownloader.js:89
  downloadRevision: async function(platform, revision, progre

[2017-08-24 01:23] aslushnikov commented on #513
Your node 7.2 doesn't support async/await. Currently, puppeteer requires Node 7.10 to work. You should update your node to 7.10 or higher.

Note: in a [near future](https://github.com/GoogleChrome/puppeteer/pull/484) it should be possible to use puppeteer with Node 6.

For further CentOS installation issues, please post to the #391

[2017-08-24 01:23] #513 closed, assigned to nobody

[2017-08-24 01:29] JustinYi922 commented on #513
@aslushnikov Thank you。Let me have a try

[2017-08-24 01:33] sradu opened #514 "frame.click() support"
Similar to page.click() it would be great to have frame.click().

[2017-08-24 03:13] pavelfeldman commented on #509
The use of Map is deliberate, it emphasizes that the order of the headers is going to be preserved. It does go through the object conversion, but we make sure order is intact.

[2017-08-24 03:14] pavelfeldman commented on #509
[code]

[2017-08-24 03:22] aslushnikov commented on #514
You can click in a frame using element handles:

[code]

[2017-08-24 03:22] #514 closed, assigned to nobody

[2017-08-24 03:35] aslushnikov commented on #433
For the record: the upstream patch [has landed](https://chromium.googlesource.com/chromium/src/+/b2949a65405c5548c378e4f382f59e00fee9d5ef). This will work out nicely as #382 is done.

[2017-08-24 03:42] historylife commented on #391
So bottom of line , puppeteer can not work on centos !

[2017-08-24 04:12] ebidel commented on #509
Found https://github.com/GoogleChrome/puppeteer/commit/480547955cb9c0cf398cbc0b9a31840e271dc028 which supports that. However, there's a note in the docs that says order isn't guaranteed:

<img width="913" alt="screen shot 2017-08-23 at 8 36 41 pm" src="https://user-images.githubusercontent.com/238208/29648410-ceb1f30a-8842-11e7-9d8b-30e672a0aa5d.png">

[2017-08-24 05:45] seangwright opened #515 "Chromium fails to start when calling puppeteer.launch() in Azure App Service"
The line `const chromeProcess = childProcess.spawn(chromeExecutable, chromeArguments, {});` in `puppeteer/lib/Launcher.js` is failing for me.

Line numbers in this stack trace might be off since I added logging to my local `Launcher.js`
[code]

Environment:
Azure App Service
OS version: Microsoft Windows Server 2012 x64
Node: 8.1.4

`chromeExecutable` is `D:\home\site\wwwroot\node_modules\puppetee

[2017-08-24 06:36] nigeon commented on #498
Yes it does! This shows all frames navigated in the main frame:

[code]

Thanks!

[2017-08-24 06:37] #498 closed, assigned to nobody

[2017-08-24 06:46] theoutlander commented on #391
Here's another issue I'm running into when trying on Docker Centos7:

[root@3dd3c09a9d40 opt]# npm install -g puppeteer

Download failed: EACCES: permission denied, mkdir '/usr/lib/node_modules/puppeteer/.local-chromium'
+ puppeteer@0.9.0
added 36 packages in 2.437s

I'm running as root. Not sure if that's the issue. I've changed ownership on that folder path. Even tried to create that folder manu

[2017-08-24 06:58] nigeon opened #516 "Detect sound"
I would like to detect if a page is playing some sound. Is there a way to do that?

[2017-08-24 07:03] liulangyu90316 commented on #391
@rlog try install fonts?

`yum install
 ipa-gothic-fonts
 xorg-x11-fonts-100dpi
 xorg-x11-fonts-75dpi
 xorg-x11-utils
 xorg-x11-fonts-cyrillic
 xorg-x11-fonts-Type1
 xorg-x11-fonts-misc -y`

[2017-08-24 07:04] nigeon commented on #478
+1

[2017-08-24 07:33] theoutlander commented on #391
Tried it in Ubuntu on Docker and got a similar message:

root@6c5ca63ee50a:/opt/node_modules/puppeteer/.local-chromium/linux-494755/chrome-linux# ./chrome
./chrome: error while loading shared libraries: libpangocairo-1.0.so.0: cannot open shared object file: No such file or directory

root@6c5ca63ee50a:/opt/node_modules/puppeteer/.local-chromium/linux-494755/chrome-linux# ldd ./chrome
	linux-vdso.

[2017-08-24 09:48] Thebigbignooby opened #517 "Error: waiting failed: timeout 30000ms exceeded"
Either documentation is not clear enough, or I have missed something.

here is my script
[code]

It times out on the 25th iteration everytime.
I added `page.close()` statements to be sure to create a newpage to avoid the timeout but to no avail :(

does page.close() not close the page ?

I tried re-using the same page in my loop by initialising it with `{ timeout: 60000 * 5 }` but didn't help.
whe

[2017-08-24 10:13] vlad-zhukov commented on #436
When I do the following the logo is not rendered:

[code]

If I also add `await page.emulateMedia('screen');` it renders fine.

[2017-08-24 10:32] yuu2lee4 opened #518 "offer 'pool' to reuse tabs"
offer 'pool' to reuse tabs，i want use the project to backend render service,and i dont want open a new tab when  a request arrive, wishing puppeteer has a 'pool' to manage these tabs.

[2017-08-24 11:40] nbwsc opened #520 "how about custom event listener"
How about adding custom event listener of page like this?

[code]

With that we can do some automatic test easier.

For now I'm using a hacky way ` page.on("console") ` to do this .

[2017-08-24 11:49] historylife commented on #391
I am using centos 6.9 , is there any step by step guide to install  "puppeteer" on ?
[code]

[2017-08-24 12:10] theoutlander commented on #391
The best solution at this point is to use Ubuntu and follow these instructions https://github.com/GoogleChrome/puppeteer/issues/290#issuecomment-322921352.

I started development on OSX and didn't realize about this issue until we decided to go into production 😮.

[2017-08-24 12:25] jasan-s commented on #305
@JoelEinbinder can you elaborate what you mean by page.$$   is that integration of jquery?

[2017-08-24 12:51] icarusmiles opened #521 "Improving performance and optimizing scripts"
**System** Ubuntu w/ Node v8.4.0

I am at a bit of a crossroads, I love Puppeteer's API and usage. However I am struggling to get the response times out of my scripts. I even ran my scripts on a dedicated 32GB RAM system with a 8 core processor.

I have multiple scripts (different sources), all they do is lookup a product and add the item to cart and get the price data. This is user spawned, so sp

[2017-08-24 12:53] BenHayak commented on #512
does the project have a support forum we can use? ask operational questions?

can you add "how to start puppeteer in an existing browser session" best practice to the readme?
code snippet would be nice

[2017-08-24 13:15] BenHayak commented on #512
If found the solution,
Can't use tild "~" in in --user-data-dir switch, it'd be added to relative path like so

/tmp/pupeteer.../~/Library...../etc

That was the problem, thanks!
Tip: after launching browse to "chrome://version" to make sure the profile path wasn't handled as relative path.

[2017-08-24 13:31] selfrefactor opened #522 "page.content is not a function"
It seems that while `content` method of `Page` is defined and documented, it is not exported.

[code]

[2017-08-24 13:34] vsemozhetbyt commented on #522
@selfrefactor See #483
You can install the tip-of-tree in this way:
[code]

[2017-08-24 13:35] maxschmeling commented on #290
@Garbee that list of dependencies wasn't sufficient. It was missing `libcairo-gobject2` at the very least.

Adding `libcairo-gobject2` to the list may have solved it, but I found the buildpack to be a more palatable solution that required less configuration on my end.

[2017-08-24 13:47] selfrefactor commented on #522
It works - thanks for the quick reply!

[2017-08-24 13:47] #522 closed, assigned to nobody

[2017-08-24 13:59] Garbee commented on #391
@theoutlander Why install puppeteer globally in the first place? When installing globally and you're going into a non-user folder (as you are) you need to run as root. Hence why it is not recommended.

[2017-08-24 14:00] Garbee commented on #305
We do nothing with jQuery internally. That is a page-level library. `page.$$` is one of the [public API](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageselector-1) methods puppeteer provides.

[2017-08-24 14:39] theoutlander commented on #391
@Garbee you're right! I was running into other installation issues and overlooked that I was installing globally. (I recall seeing it, but was thinking I need to install it globally)

[2017-08-24 14:41] samwillis commented on #520
You can use `page.exposeFunction(name, function)` to attach a function (executed in Node) to the window object of the page:

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction

[2017-08-24 14:43] JOEAV opened #523 "getting the returned value with Evaluate"
Hi guys .
as a previous [Chromy](https://github.com/OnetapInc/chromy) user  , i had the option to evaluate a function in the window context (p.s the current opened page instance) then chaining the result from the window context into the chromy context in order to get the value and pass it along.
`chromy.goto(url).wait(predicate).evaluate(()=>{window.SomeFunction()}.results((someFunctionReturnedVal

[2017-08-24 15:32] gitinthehole commented on #475
Saw that but pages vary in height and in this application, many pages will be screenshot at the same time. It will be less than optimal if all pages in the pdf are the same height.

[2017-08-24 15:54] ebidel commented on #523
The return value of `page.evaluate` is just that.

[code]

or succinct:

[code]

[2017-08-24 15:54] #523 closed, assigned to nobody

[2017-08-24 16:03] pspgbhu commented on #522
I met the seen problem! and it works!

[2017-08-24 16:26] aslushnikov commented on #517
The error is thrown by the following line:
[code]

It means that the element with given selector didn't appear in the page during 30 seconds.
And indeed, [the page](http://www.ergotron.com/fr-fr/outils/quick-finder-by-display-model?manufacturerid=1364) does not have an element matching selector `#ModelList > option:nth-child(2)`.

Handy tip: you can get the stacktrace of the error if you run this

[2017-08-24 16:26] #517 closed, assigned to nobody

[2017-08-24 16:33] aslushnikov commented on #436
Your script yields the following pdf for me without the `emulateMedia` command:

[example.pdf](https://github.com/GoogleChrome/puppeteer/files/1249588/example.pdf)

It could be that the logo is slow to load for you. Try navigating page with `waitUntil: 'networkidle'`:

[code]

[2017-08-24 16:35] aslushnikov commented on #518
This falls out of scope for puppeteer; you should implement pooling on your end.

[2017-08-24 16:35] #518 closed, assigned to nobody

[2017-08-24 16:41] thetwosents opened #526 "Error out on npm install"
Did the `git clone` and when running `npm i` receive this error:

[code]

[2017-08-24 16:45] aslushnikov commented on #521
As #85 is implemented, you'll be able to create separate browser contexts for users. BrowserContexts are cheap to create, you'll avoid the necessity to launch separate chromes.

This should be implementable as a separate caching service; this falls out of scope for puppeteer though.

I'm not aware of any.

[2017-08-24 16:45] #521 closed, assigned to nobody

[2017-08-24 16:45] #526 closed, assigned to nobody

[2017-08-24 16:45] thetwosents commented on #526
Was node version...my bad :(

[2017-08-24 16:46] pavelfeldman commented on #520
^^

[2017-08-24 16:46] #520 closed, assigned to nobody

[2017-08-24 16:47] aslushnikov commented on #512
@BenHayak the stackoverflow should work fine for this purpose: https://stackoverflow.com/questions/tagged/puppeteer

[2017-08-24 16:51] aslushnikov commented on #475
You can query the document height first and then use it as an argument to `page.pdf`
[code]

[2017-08-24 16:58] aslushnikov commented on #508
This gonna be a part of object handles story: #382

[2017-08-24 17:47] gitinthehole commented on #475
Ah yes, I'll try that. I tried with Headless Chrome previously and it was slow since it seemed to pull the page twice. If this can be done without pulling the page twice, this will be awesome.

[2017-08-24 18:04] BenHayak opened #527 "using --user-data-dir=profilepath corrupts settings and remove all extensions"
Launching with args:
[code]
Will override some files and removes all extensions from the chrome profile + alerts for "settings corrupted" at chrome://settings screen.

[2017-08-24 18:09] aslushnikov commented on #527
Might be related to #411, and might be related to some headless specifics

[2017-08-24 19:17] gitinthehole commented on #475
Nice, I just tried it. It looks like it works and it seems like only one roundtrip for the page. Thank you!

[2017-08-24 19:20] #316 closed, assigned to JoelEinbinder

[2017-08-24 19:21] #53 closed, assigned to JoelEinbinder

[2017-08-24 19:22] #475 closed, assigned to nobody

[2017-08-24 19:29] ebidel opened #528 "page.setContent should invoke evaluateOnNewDocument?"
Consider:
https://github.com/GoogleChrome/puppeteer/blob/0791774faa78f2a6e2e3a5185c1e266feeecdc91/lib/Page.js#L324-L333

This is essentially creating a new document and replacing the current page with it.

My assumption would be that calling `page.setContent()` would invoke `page.evaluateOnNewDocument`'s callback.

Thoughts?

[2017-08-24 19:39] ebidel commented on #520
Concretely this looks something like this:

[code]

If you run this code it should work. chromestatus.com fires the "app-ready" custom event when the page is loaded.

[2017-08-24 20:03] ebidel commented on #516
This is a great question for stackoverflow :) Mind asking over there and posting back the link?

[2017-08-24 20:17] barbolo commented on #53
That's great, @aslushnikov.

Can you confirm if each page has a different cookies context or if they all share the same cookies?

[2017-08-24 20:20] aslushnikov commented on #528
Current implementation doesn't recreate a document - it reopens it. I think it's fine for the `page.evaluateOnNewDocument` to not be called.

If you want `page.evaluateOnNewDocument` to be called, you can navigate to a data URL:
[code]

[2017-08-24 20:21] aslushnikov commented on #53
@barbolo they share the same context. The #85 will do the isolation.

[2017-08-24 21:01] historylife commented on #391
@Garbee kindly may you advice step by step for centos 6.X , i am very confused how to install ...

[2017-08-24 21:32] ebidel commented on #31
Anyone working on this? Getting some requests that folks want to go off road. I'd love to recommend a paved path rather than a dirt road :)

[2017-08-24 21:42] stilliard commented on #31
Currently accessing the raw protocol via page._client like so:
[code]

But the proposed page.connection() sounds like a better solution :)

[2017-08-24 21:44] ebidel commented on #528
`document.open()` doesn't create a new document per se, but the effect is the same. Essentially you're starting from a fresh document. It nukes everything. From that perspective, "evaluateOnNewDocument" does make some sense.

I'm not 100% sold on this either. Just wanted to flag it b/c of the subtlety.

[2017-08-24 21:54] aslushnikov commented on #31
@ebidel we're working on it!

[2017-08-24 23:12] #528 closed, assigned to nobody

[2017-08-24 23:12] aslushnikov commented on #528
(as discussed offline on puppeteer meeting)

[2017-08-24 23:16] aslushnikov commented on #516
What's your usecase?

[2017-08-24 23:18] ebidel commented on #528
Maybe add a clarification/note in the docs that `setContent` reuses the existing document, so `Page.evaluateOnNewDocument` won't trigger?

[2017-08-24 23:22] aslushnikov commented on #511
@samuelli would you mind looking at a simple API that satisfies both your use cases and this issue?

[2017-08-24 23:35] kaushik94 opened #531 "Unable to `npm install` on macOS Sierra"
According to [CONTRIBUTING.md](https://github.com/GoogleChrome/puppeteer/blob/master/CONTRIBUTING.md) I cloned the repo and ran `npm install`. It errors out with following message
[code]
I am using node version `8.4.0`.

[2017-08-24 23:40] aslushnikov commented on #478
@Mykolas-Molis how do you want to consume it? Do you want to save a screencast as a video file?

[2017-08-24 23:41] thetwosents commented on #453
` await page._client.send('Animation.setPlaybackRate', { playbackRate: 2 }); ` worked but I have a slider issue now :(

[2017-08-24 23:45] aslushnikov commented on #477
[code]
This doesn't actually wait for the file to be written. you should use `fs.writeFileSync`.

[2017-08-24 23:48] #476 closed, assigned to nobody

[2017-08-24 23:53] aslushnikov commented on #476
Will JPEG work for you? It should be faster to convert.

[2017-08-24 23:55] #458 closed, assigned to nobody

[2017-08-24 23:56] aslushnikov commented on #453
Closing as dupe of #511

[2017-08-24 23:56] #453 closed, assigned to nobody

[2017-08-25 00:03] thetwosents commented on #511
I set mine to playback rate of 12 and works like a charm with any animations btw

[2017-08-25 00:04] aslushnikov commented on #415
That's because the interstitial has been shown.
We might want to do something about it.

[2017-08-25 00:07] aslushnikov commented on #389
You can point to existing chrome, but we can't install it automatically.

[2017-08-25 00:07] #389 closed, assigned to nobody

[2017-08-25 00:08] aslushnikov commented on #342
Closing as dupe of #290

[2017-08-25 00:08] #342 closed, assigned to nobody

[2017-08-25 00:09] aslushnikov commented on #335
Closing this, since `puppeteer.connect` addresses this.

[2017-08-25 00:09] #335 closed, assigned to nobody

[2017-08-25 00:12] aslushnikov commented on #329
Looks like most of the examples are there.

[2017-08-25 00:14] aslushnikov commented on #528
@ebidel sure!

[2017-08-25 00:16] aslushnikov commented on #531
What's your npm version?

[2017-08-25 02:30] sradu opened #535 "Best way to capture the main frame's Response after page.on('load')?"
I'm using page.on('load') to trigger clicks on a page, which might or might not redirect to another page.

However, rarely, those pages trigger errors (eg if there isn't enough capacity), 500, 404, etc. If I watch the 'request' events there's too much noise and I'm not sure how to figure out which one is the main request.

What's the best way to capture the Response HTTP status code of the main fr

[2017-08-25 05:13] LasaleFamine commented on #329
Uhm, 'there' where?  By the way, "the most" are not "all" as listed in the issue... Anyway, no prob if you want to close the issue.

[2017-08-25 05:15] aslushnikov commented on #535
@sradu you can store all the responses by their url and query the right one based on `page.url()`:

[code]

[2017-08-25 05:15] #535 closed, assigned to nobody

[2017-08-25 05:28] sradu commented on #535
Great, thx!

[2017-08-25 06:37] ebidel commented on #329
Let's keep this open a bit longer so I remember to create samples and/or write articles on the topics.

[2017-08-25 06:52] aslushnikov commented on #437
Turned out to be a Chrome Headless bug: [crbug.com/724160](https://bugs.chromium.org/p/chromium/issues/detail?id=724160)

[2017-08-25 06:53] theevilhead commented on #290
Works perfectly on ubuntu xenial - no gtk - remote - ssh - non root
Linux ip-*-*-*-*  4.4.0-1022-aws #31-Ubuntu SMP Tue Jun 27 11:27:55 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Ubuntu Xenial
------
update
sudp apt-get update
node v8.4.0
`curl -sL https://deb.nodesource.com/setup_8.x | sudo -E bash -
sudo apt-get install -y nodejs`

Install npm
`sudo apt-get install npm`

Install puppeteer
`npm i pu

[2017-08-25 06:53] aslushnikov commented on #393
@HugoHeneault can you share the URL you try to load so that I can reproduce this issue?

[2017-08-25 06:58] nigeon commented on #516
There's already Stackoverflow questions about this....:
- [Chrome tabs / Only html5](https://stackoverflow.com/questions/41649874/how-to-detect-if-a-chrome-tab-is-playing-audio)
- [Chrome tabs](https://stackoverflow.com/questions/40356873/is-it-possible-to-detect-whether-a-browser-tab-is-playing-audio-or-not)

I was referring is this was possible via Puppeteer and/or Chrome DevTools, as I unsucces

[2017-08-25 06:59] LukasBombach commented on #453
This isn't entirely a dupe of https://github.com/GoogleChrome/puppeteer/issues/511 because although speeding up animations would solve most problems there are still issues with `setTimeout` and `setInterval`. I think virtually fasting forward goes beyond increasing animation speeds.

[2017-08-25 07:23] benjamingr commented on #389
@aslushnikov why?

[2017-08-25 07:54] robertrossmann commented on #335
Indeed, thanks! it would seem that using [rendertron](https://github.com/GoogleChrome/rendertron) together with `puppeteer.connect()` would be the best fit for the described use case.

[2017-08-25 08:01] AlexanderC opened #536 "Failing in Travis (TestCafe browser)"
Hello `Puppeteer` Team,

We're using `Puppeteer` as [TestCafe](https://devexpress.github.io/testcafe) browser provider and it turned out that `Puppeteer` fails to run in `Travis`. Please refer to the [following](https://travis-ci.org/MitocGroup/recink/jobs/268280374)  `Travis Job`.

Error stack trace:
[code]

[2017-08-25 08:03] HugoHeneault commented on #393
@aslushnikov Sure I can ; but now it's fixed with the margin + @page size.

You can see it live here: https://stationdetrail.com/fr/stations/chartreuse/parcours/atelier-cote-6.pdf?type=openCycle&phantom
You'll be prompted to login : use `test@ownweb.fr` and  `testtest`

If you remove the @page you'll have no more margins ;)

[2017-08-25 08:18] leeroybrun opened #537 "Handle XPath selectors"
Is it planned/wanted to implement XPath selectors?

This can be done quite easily, but I don't know if it's a choice to not handle them?

I've implemented two methods in my own code to handle them :

[code]

I can make a PR if you're interested.

[2017-08-25 08:51] wereHamster opened #538 "This package is not compatible with nodejs 6.x, unlike the engines in package.json claims"
The package uses `Object.entries` which is not implemented in nodejs 6.x (tested with 6.11.1).

[2017-08-25 08:52] Thebigbignooby commented on #517
Yes I realised this after a while,

my code now looks like this

[code]

Thanks for the answer

[2017-08-25 09:09] FdezRomero opened #539 "Page loading interrupted due to hanging intercepted request"
Hi!

I'm trying to load an Angular page that requests data via XHR, but the loading is always interrupted due to a hanging `OPTIONS` request. This only happens when request interception is enabled, even though the handler always continues the requests, e.g. `page.on('request', request => request.continue())`.

You can see the example URL below (not mine): http://www.mybkr.com/shop/#/productdetail/

[2017-08-25 09:28] fusionx1 opened #540 "How do I get rid of popup for chromium certificates selection, can I set it programmatically ?"
Is there another way without disabling the popup via puppeteer launch ? I tried dialog stuff but it seems not the way.

<img width="1116" alt="screen shot 2017-08-25 at 5 20 42 pm" src="https://user-images.githubusercontent.com/642874/29708177-5db7c8a4-89ba-11e7-8827-917c0d09fa4d.png">

[2017-08-25 09:52] vlad-zhukov commented on #436
@aslushnikov  Why was it closed? I am able to consistently reproduce the issue in puppeteer@0.10 and Chrome@60 in the print preview dialog under both Windows 10 and Mac.

In my example I didn't notice but google.com redirected me to google.ru that has the issue. If I disable redirecting I get the same pdf as yours. It's actually bugged a bit too, note the missing 'apps' icon in the top right corne

[2017-08-25 10:39] ks07 commented on #338
As the title stands I agree that this is a feature request. However, surely this is a bug in the full page screenshot functionality if it captures elements before they have been rendered by the browser?

[2017-08-25 11:22] plantain-00 opened #541 "[Question]Screenshots between Mac OS 10.12.5 and Ubuntu(travis) is different, is it a bug?"
[code]

The mac os X one is always 134KB

![vue](https://user-images.githubusercontent.com/7639395/29712009-46dd10d4-89ca-11e7-975e-2c73b04cfb15.png)

The travis one is 130KB

![a](https://user-images.githubusercontent.com/7639395/29712040-6bb7c93a-89ca-11e7-877a-987b5827bb03.png)

[2017-08-25 11:29] nigeon commented on #426
Didn't work for me :(

[2017-08-25 11:50] FdezRomero opened #542 ""Protocol error (Page.navigate): Cannot navigate to invalid URL undefined" when redirect location is a relative URL"
Hi!

When navigating to a page that redirects with a relative URL in the `Location` header, Puppeteer throws the error `Protocol error (Page.navigate): Cannot navigate to invalid URL undefined`.

**Example:**
https://savelist.co/about => https://savelist.co/about/en

[code]

Relative URLs in the Location header are supported in HTTP 1.1 ([RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.2

[2017-08-25 12:30] Garbee commented on #391
@historylife Upgrade to CentOS 7. 6 is no longer supported.

[2017-08-25 12:32] Garbee commented on #338
There is no "bug". The browser is doing exactly what it is told to do by the page. Then the screenshot is being taken without taking into account lazy loading. Since the page is looking for a *scroll* of the images into view before rendering them. So, if you don't scroll before taking the screenshot, they don't render.

IMO this is actually working exactly as intended since it is taking a screensh

[2017-08-25 12:34] Garbee commented on #389
@benjamingr That would require root privileges during the install process which we don't want to ask for. Will a node post install script even prompt for user input or just eat it and try to move on when the script is paused?

Installing Chrome as a system package is not something this package should concern itself with. That is an implementation detail that is up to users to decide if they want t

[2017-08-25 13:06] AlexanderC commented on #538
@wereHamster you might fix it by using `require('object.entries').shim();` https://www.npmjs.com/package/object.entries

[2017-08-25 14:34] Tynael opened #544 "How to run js scripts with puppeteer"
Hey,

I can't seem to manage executing a .js file with `puppeteer`. I'm coming from PhantomJS and CasperJS environment and this shouldn't be a problem for me, but yet it is.

I have installed puppeteer and created a main.js file where I inserted one of your demo code from the documentation.

Now, when I `npm start` I get the following error:
[code]

My folder structure looks like this:
->Bot
  -->

[2017-08-25 14:51] Garbee commented on #544
Node 6 is only recently supported in the npm build and you need to specifically require that build output iirc. The standard required files are all node 7+.

[2017-08-25 14:52] Garbee commented on #544
Also, you need to currently use the bundled chromium build. Stable Chrome doesn't have the proper apis puppeteer requires.

[2017-08-25 14:56] Tynael commented on #544
Isn't the recent version of Chromium installed when you install `puppeteer` as it states in the `README.md` file? Why should I use a bundled chromium build?

[2017-08-25 14:58] aslushnikov commented on #536
HI @AlexanderC,

I don't remember this exact error, but we managed to make travis work for our own tests:
- Check out [our config](https://github.com/GoogleChrome/puppeteer/blob/master/.travis.yml)
- We also [have to pass '--no-sandbox' flag](https://github.com/GoogleChrome/puppeteer/blob/4e3b6a1f57cba8fdfe941b2fd2b70bdeca942328/test/test.js#L50) to make it work on Travis

[2017-08-25 15:02] aslushnikov commented on #389
@benjamingr Chrome requires users to sign a license prior to download.

[2017-08-25 15:05] softwarezhu opened #545 "add visible and exists function"
I think it's very common used for test if dom visible or exists. So can you add support for this two function?

[2017-08-25 15:07] AlexanderC commented on #536
@aslushnikov Thanks for reply, i'm already using `--no-sandbox` (@see https://github.com/MitocGroup/recink/pull/61/files#diff-99fe08f7050dc241613a52c9b792495eR43)

I see you're using `dist: trusty` since our's `dist: precise`, i'll try it to see if it affects puppeteer somehow.

[2017-08-25 16:10] JoelEinbinder commented on #544
You can use node 6 with puppeteer, but all the examples are designed for node 8. You have to use promises instead of async await, or compile your code with Babel.

[2017-08-25 16:12] AlexanderC commented on #536
Yeah, setting `dist: trusty` in `travis.yml` did the trick!
`Puppeteer` Team, you definitely should have this specified somewhere in the README 😈

https://travis-ci.org/MitocGroup/recink/jobs/268427887

[2017-08-25 16:47] Garbee commented on #544
Yes. This is the "bundled" Chromium version.

I explained with:

[2017-08-25 17:12] djones commented on #511
interesting @thetwosents, does that slow down or speed up animations?

[2017-08-25 17:15] thetwosents commented on #511
@djones Speeds it up. I have a scroll reveal on the page and it's the only way I can get all content sections to show up on the screenshot. I've also experimented with navigation.

[2017-08-25 17:20] ageorgios opened #546 "localStorage"
Is localStorage of the browser available to be changed?

[2017-08-25 17:47] aslushnikov commented on #537
There have been no plans to add xpath since it hasn't been requested much. However, the #382 would make it possible to implement polyfils atop of Puppeteer API in just a few lines of code - would it be good enough for you?

[2017-08-25 17:48] aslushnikov commented on #540
Would the `ignoreHTTPSErrors` option in [`puppeteer.launch`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions) help you?

[2017-08-25 17:50] aslushnikov commented on #541
Usually text rendering differs from platform to platform - this might be the reason in your case.

[2017-08-25 17:50] #541 closed, assigned to nobody

[2017-08-25 17:53] aslushnikov commented on #542
What's your puppeteer script? The following works fine for me:
[code]

[2017-08-25 18:11] aslushnikov commented on #545
@softwarezhu: you can use [`page.$`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageselector) for the `exists` function:
[code]

Regarding the "visible" function, what kind of "visible" are you interested in? Is it attached to DOM, doesn't have `opacity: 0`, `display: none` or `visibility: hidden` css attributes, or is not covered with other DOM elements?

[2017-08-25 18:12] aslushnikov commented on #538
We need to run CI tests against node6.

[2017-08-25 18:13] aslushnikov commented on #546
Yes, `localStorage` works just fine.

[2017-08-25 18:13] #546 closed, assigned to nobody

[2017-08-25 18:36] rolftimmermans opened #547 "Headers in Response/Request object are case sensitive"
I am attempting to get the content-type of HTTP responses.

My code looks approximately like this:

[code]

Unfortunately the `response.headers` `Map` is case sensitive, so this only works if the header name is `Content-Type` (as opposed to, say, `content-type`).

I think all headers need to be lower cased before setting them in the map, or there needs to be an alternative API to retrieve headers.

[2017-08-25 19:13] jblotus commented on #329
Would love to hear if anyone is running jasmine on top of this - right now at work we are using karma to run phantom js and run unit tests via jasmine. Is puppeteer suitable to replace this setup?

Looks like some folks are messing with it:

https://github.com/Quramy/angular-puppeteer-demo

[2017-08-25 19:31] ebidel commented on #516
Yep, as you point out, the plumbing is already there in Chrome to know if the tab is playing audio (it adds the speaker icon). The extensions API solves this use case, but we don't have an equivalent in the DT protocol.

@aslushnikov @pavelfeldman would a protocol feature make sense?  The other solutions of detecting audio in JS is unreliable.

[2017-08-25 19:41] pavelfeldman commented on #516
Well, we have the [signal](https://cs.chromium.org/chromium/src/content/browser/web_contents/web_contents_impl.cc?type=cs&sq=package:chromium&pv=1&l=1476). The question is whether we have enough customers for the api.

[2017-08-25 20:47] daliborgogic commented on #309
If you need `chrome` set `headless` to `false`
[code]

[2017-08-25 21:43] quicksnap opened #549 "Add inverse of waitForSelector visible: true (waitForNotSelector?)"
It would be very useful to test when a selector is no longer visible. For instance, I'm waiting for a certain container not to have a `loading` class and then assert things.

Would you accept a PR for this? It wouldn't be tough to implement. If so, what should the API look like?

As it stands now, it's necessary to do some dance with `waitForFunction`.

[2017-08-25 21:49] aminjoharinia opened #550 "raspberry pi Chromium revision is not downloaded"
Hi
i  use raspbian stretch and i install puppeteer with npm but it did not download chromium
the os has the latest chromium
```chromium-browser is already the newest version (60.0.3112.89-0ubuntu0.14.04.1.1010).```
but when i run codes i have get error
`(node:4035) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): AssertionError [ERR_ASSERTION]: Chromium revision is

[2017-08-26 00:50] softwarezhu commented on #545
@aslushnikov Yes, use `page.$` can achieve this, but have an "exists" function can be more friendly.  For "visible" function, it's enough for those attached to DOM, doesn't have opacity: 0, display: none and visibility: hidden css attributes.

[2017-08-26 01:21] michaelshiel commented on #478
I've implemented this for myself over here: [https://github.com/michaelshiel/puppeteer](https://github.com/michaelshiel/puppeteer) (Page emits an event for each frame) but I'm not sure what kind of tests would be appropriate, or how to describe/structure them, any suggestions?

[2017-08-26 02:41] myakura opened #553 "case of "networkidle""
This is merely a question after spending about a minute figuring out the error I got.

Why the `networkidle` value which `waitUntil` takes is all lowercase while there are members (e.g.  `networkIdleTimeout`) whose case are lower camelcase?

[2017-08-26 02:46] kaushiksundar commented on #515
I am getting the same issue while launching puppeteer.
`{ Error: spawn UNKNOWN }`

Using Azure functions and Node 6.5.

[2017-08-26 02:46] chrisirhc commented on #540
This seems like it's related to managed policies: https://stackoverflow.com/a/27859775/315562
`ignoreHTTPSErrors` doesn't help me on this.

Looks like Chromium runs without the managed policies of the machine, which is good in the sense that it runs in a clean state (not inheriting machine's settings). Or it could just be doing this because the managed application is "Google Chrome", not set to "C

[2017-08-26 02:50] aslushnikov commented on #538
We published v0.10.1 that fixes issue: https://github.com/GoogleChrome/puppeteer/releases/tag/v0.10.1

[2017-08-26 02:50] #538 closed, assigned to JoelEinbinder

[2017-08-26 03:43] 3zzy commented on #423
+1 would be really useful.

[2017-08-26 07:00] fusionx1 commented on #540
You are right @chrisirhc, there should be an api to toggle this, for others running the script headlessly. I tried using chrome canary as my executable_path but still not working.

[2017-08-26 16:23] rfink commented on #316
Has anybody been able to actually get this working on lambda? The download size of puppeteer alone is larger than the max size allowed by lambda.

[2017-08-26 19:56] seangwright commented on #515
@kaushik-sundar This is where I was hoping to test functionality once support for Node 6.5 landed (which it has now). I'm not surprised some of the same issues appear in Azure Functions as well.

I've seen that many of the headless chrome projects in development had [explicitly stated](https://github.com/graphcool/chromeless/#faq) they support AWS Lambda but I don't know enough about headless Chro

[2017-08-26 21:23] historylife commented on #391
@Garbee i dont follow you , do you advise me to upgrade to CentOS 7. 6

[2017-08-27 01:59] kylewill opened #557 "Chrome fails to launch in Firebase Functions"
With the update for node 6, attempting to get this to work in FBF but Chrome is failing to launch because of libpangocairo dependency.

 Is there a separate process for running on fbf?

[code]

[2017-08-27 04:13] cheeaun opened #558 "apple.com page hanged when intercepting requests"
I manage to find this very specific bug while building [Puppetron](https://github.com/cheeaun/puppetron) and couldn't figure out where the bug is.

Here's a testcase script:

[code]

Log output:

[code]

Notes:

- So far I only know `apple.com` is affected.
- This only happens when `setRequestInterceptionEnabled` is set to `true`.
- I've tried running this with `headless: false` and even pass in `

[2017-08-27 05:08] ebidel commented on #557
I've ran into this recently too. Not sure there's much we can do for FB
functions. There's no way to install system deps like this.  Using Google
cloud compute or App Engine Flex might be better.

On Sat, Aug 26, 2017, 6:59 PM kylewill <notifications@github.com> wrote:

[2017-08-27 05:19] jasondonnette commented on #486
@sgwatgit I found that if `setContent` has any images (or anything that requires a network request for whatever reason), I need to run:

[code]

after I run `setContent`.

However if there aren't any network requests in `setContent`, the `waitForNavigation ` call hangs indefinitely, so in my case I check to see if there are any images first. I couldn't find anything in the API to handle this, but

[2017-08-27 14:21] zhuyingda commented on #391
@liulangyu90316  I have the same problem,  centos7.3, I installed all the dependency but got `socket hang up`, and I can run `./chrome -v --no-sandbox --disable-setuid-sandbox` but can not run puppeteer. After install your font dependency,  everything got right. Thank you!

[2017-08-27 14:38] zhuyingda opened #560 "Does CentOS system can run puppeteer with sandbox anyway?"
After installed all the requirement, I finally run the puppeteer with `--no-sandbox` and `--disable-setuid-sandbox` on CentOS 7.3, but it is not secure. I still want to know, is there anyway to run puppeteer with sandbox on CentOS?

[2017-08-27 14:59] pocketjoso opened #561 "browser.close from puppeteer.connect() not closing Chromium"
~~_note_: I was testing on `0.9.0`, just upgraded to `0.10.1` now and testing and will report and update.~~ Same.

## Environment
Puppeteer: `0.10.1`
Node: `7.10.1`.
OS: `macOS Sierra`

## Works
[code]
The Chromium instance is closed, as expected.

## Does not work
[code]

In this latter case the Chromium instance lives on (until process.exit) - `the close` call seems to have no effect.

[2017-08-27 15:31] pocketjoso opened #562 "setJavascriptEnabled throws"
Was looking forward to using `setJavascriptEnabled` from #464, but it crashes for me...

## Environment
Puppeteer: `0.10.1`
Node: `7.10.1`.
OS: `macOS Sierra`

### Setup
[code]
Given your tests I assume there must be something else going on here than just my code example - perhaps it's a platform problem?

### Error
[code]

[2017-08-27 16:40] jessehattabaugh opened #563 "`page.screenshot()` rejects when slowMo >= 1000 and https cert is self-signed even with `ignoreHTTPSErrors`"
I have a `webpack-dev-server` setup that uses https with a self-signed cert. I set `ignoreHTTPSErrors: true` when I create the Browser instance, and the page loads no problem. But when I try to take a screenshot I get an `unhandled promise rejection` error. It's strange because I make the call to `page.screenshot()` in a try/catch, but for some reason the rejection doesn't get caught.

[code]

[co

[2017-08-27 16:53] JoelEinbinder commented on #562
I can't reproduce this on macOS Sierra, node 7.10.1.

[code]

[2017-08-27 17:09] aslushnikov commented on #544
@Tynael the problem is that node6 doesn't support `async/await`.

You can use the api with promises, e.g. try running the following snippet:
[code]

[2017-08-27 17:16] aslushnikov commented on #549
If I understand correctly, this behavior is easily implementable with `waitForFunction`:

[code]

[2017-08-27 17:18] aslushnikov commented on #550
@aminjoharinia Does the `npm install puppeteer` throw an error for you? Do you have any HTTP proxy installed?

[2017-08-27 17:28] aslushnikov commented on #545
@softwarezhu We'll add the API if there are enough clients for it. I close this for now and will re-open once similar request surfaces in the bugtracker.

Meanwhile you can use the following snippet to check for the visibility of the dom element:
[code]

[2017-08-27 17:28] #545 closed, assigned to nobody

[2017-08-27 17:29] aslushnikov commented on #553
Indeed. Would you mind sending a PR to address this?

[2017-08-27 17:47] aslushnikov commented on #539
Dupe of #558

[2017-08-27 17:47] #539 closed, assigned to aslushnikov

[2017-08-27 19:41] #558 closed, assigned to aslushnikov

[2017-08-27 19:58] pocketjoso commented on #562
@JoelEinbinder Thanks for response - I will have to test further and come back with a reduced test case.

[2017-08-27 20:01] pocketjoso commented on #561
Following this up - realising that perhaps what you had intended; that only the code who executed the `puppeteer.launch` command has permission to close the browser, but if so the launch command should either not be available on the `connected` browser object, or give some kind of error. As it is right now is confusing.

[2017-08-27 20:08] #557 closed, assigned to nobody

[2017-08-27 21:06] aslushnikov commented on #560
@zhuyingda could you please share what did you do to run on CentOS? It would be very valuable for the #391

The following might help: https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox.md

[2017-08-27 21:18] aslushnikov commented on #563
Looks like the page crashed. I cannot repro this though - would you mind creating a minimalistic repro that I'd be able to run?

Also, running with `headless: false` and `dumpio: true` might give more insights:
[code]

[2017-08-27 21:24] aslushnikov commented on #561
This is intended behavior: multiple puppeteer browsers might be connected (via the `puppeteer.connect`) to the same chrome process, so closing any of them should not terminate the process.

Could you please elaborate on this?

[2017-08-27 21:25] #544 closed, assigned to nobody

[2017-08-27 21:47] #542 closed, assigned to nobody

[2017-08-27 21:53] aminjoharinia commented on #550
@aslushnikov
No there is no error
I tested with different networks
At the same time , i installed Windows version and it's works fine but in raspberian it does not install browser

[2017-08-27 22:22] aslushnikov commented on #536
We'll add this somewhere if there are more questions about travis.

For now, the issue per se might be good-enough.

[2017-08-27 22:22] #536 closed, assigned to nobody

[2017-08-27 22:26] aslushnikov commented on #507
Speculatively closing this. Feel free to file a new issue or to write here to reopen.

[2017-08-27 22:26] #507 closed, assigned to nobody

[2017-08-27 22:28] aslushnikov commented on #479
@hparadiz would you be able to provide a repro scenario? Unfortunately, this is not actionable unless we have a way to reproduce this.

[2017-08-27 22:43] jessehattabaugh commented on #563
What makes you think that the page crashed? I'm new at this so I don't know how to read the errors yet.

I added `dumpio: true` and I got some new messages

[code]

That `selectedTextBackgroundColor` got me thinking that maybe if I changed the `omitBackground` option it would help so I changed

[code]

to

[code]

Then the screenshot file got created 👍  !!! But the Promise rejection errors remain

[2017-08-27 22:45] jessehattabaugh commented on #563
Oh, and if you want to see how it works without https, just change this line https://github.com/jessehattabaugh/puppeteer-issue/blob/master/webpack.config.js#L15

[2017-08-28 00:25] quicksnap commented on #549
@aslushnikov Yeah, I did something similar. I didn't even need to specify the polling option and it worked just fine.

Still, seems like it would be a very useful utility. If it's worth adding to the API, just needs bikeshedding.

[2017-08-28 02:17] rlog commented on #391
which OS is recommend？ I can change my OS （except macOS and Windows）

[2017-08-28 02:23] zhuyingda commented on #560
@aslushnikov  Of course,  the chrome in the`.local-chromium` dir can not run because of some c++ requirements, I install them by yum(package manager in centos) one by one, here is my install package list:
`yum install pango.x86_64 libXcomposite.x86_64 libXcursor.x86_64 libXdamage.x86_64 libXext.x86_64 libXi.x86_64 libXtst.x86_64 cups-libs.x86_64 libXScrnSaver.x86_64 libXrandr.x86_64 GConf2.x86_64

[2017-08-28 02:29] zhuyingda commented on #391
@rlog you can take centos 7.3, same with me, and see [this](https://github.com/GoogleChrome/puppeteer/issues/560#issuecomment-325224766)

[2017-08-28 02:32] softwarezhu commented on #545
@aslushnikov OK, thank you!

[2017-08-28 07:03] Hello2Jason opened #568 "Can't click mobile version UI (touch event only)"
Is there a way to click a mobile UI which only support touch event?
like this web page: https://h5.m.taobao.com/#index
thank you so much!

[2017-08-28 08:09] pocketjoso commented on #561
Got it.

@aslushnikov

I mean that I am able to call `connectedBrowser.close()` without any error (although it does nothing). If it's not going to work, I expect an error or at least warning. ~~ `You cannot call browser.close on the browser objected received from puppeteer.connect. Only the browser object received from puppeteer.launch has this capability.` It would also be fine to just remove the

[2017-08-28 08:31] FdezRomero commented on #542
Hi @aslushnikov, my test script was the same as yours, with the exception of using the request interceptor before navigating to the page:

[code]

Whatever it was it's no longer happening in 0.10.1, or I'm not being able to reproduce it now.

Thanks!

[2017-08-28 08:49] zenxds opened #569 "how to fire touch event in page.emulate(iPhone)"
I tried mouse.down but not fire touch event，what should i do

[code]

[2017-08-28 08:51] leeroybrun commented on #537
XPath can be really useful and more powerful in some situations (selecting an element by it's text content is just one of the many use cases).

But the #382 could work, XPath will just not be "out-of-the-box" and users will still have to implement it themselves, I guess?

[2017-08-28 09:08] bewsbews opened #570 "size of pdf and printscreen is different"
var puppeteer = require('puppeteer');
    module.exports = async function (callback, url, filePrefix) {

    const browser = await puppeteer.launch({
        headless: true
    });

    const page = await browser.newPage();

    await page.setViewport({ width: 1920, height: 1080 });
	await page.goto("https://www.svt.se/nyheter/", {waitUntil: 'networkidle'});
    await page.screenshot({path: 'examp

[2017-08-28 10:01] lidongzhangg opened #571 "Why is the text blurred after being translated into pictures?"
Why is the text blurred after being translated into pictures?

code like this:

[code]

[2017-08-28 10:16] Garbee commented on #561
I don't see how this would be fine at all. An error with a property message as described is light-years better then dynamically adding or removing a method on an object. Errors provide useful debug information. Calling a non existent method will give you "call to undefined method" or similar which is not helpful at all.

[2017-08-28 10:41] jesusbotella opened #572 "Script evaluation throws sometimes with SyntaxError"
Hi!

I am experiencing an error when evaluating a script that _only sometimes_ throws an `Evaluation failed: SyntaxError: Unexpected token ,` error. It happens with several pages, not only one, and with and without headless mode.

I think it may be something from my code or the script that is evaluated but I couldn't find any clue to know why this is happening.

The puppeteer code is:

[code]

Deb

[2017-08-28 10:50] Madd0g opened #573 "Any way to listen to events from the page?"
Imagine there's something on the page that's happening on its own, maybe a video is playing or ajax calls happening on interval.

Is there a way, without polling, to push events back to puppeteer from the page? My goal is to inject some code from puppeteer into my page that will be able to independently send events back.

Is this possible?

p.s. I was also wondering about `postMessage`, would be n

[2017-08-28 11:02] vsemozhetbyt commented on #573
Maybe [page.exposeFunction()](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pageexposefunctionname-puppeteerfunction) can help?

[2017-08-28 11:10] pocketjoso commented on #561
Well I meant to say that in either case the documentation should clearly state that the `browser.close` method is only available on the original browser object received from `puppeteer.launch`.

But I agree, an error message is better than removing the method.

[2017-08-28 11:16] vsemozhetbyt commented on #561
Does `browser.close()` for `puppeteer.connect()` just let the `browser` object to be GC-ed?

[2017-08-28 11:59] mstipetic commented on #477
@aslushnikov this doesn't resolve the situation, I've just tried it. Besides, the same behaviour occurs when using the 'path' argument in the screenshot function unfortunately

[2017-08-28 14:31] cronfy opened #574 "Fonts and widgets sometimes don't load"
I am using puppeteer to take screenshots of web pages at various resolutions.

There are problems:

 1. Sometimes fonts (from fonts.google.com) are not loaded.
 2. Sometimes widgets like facebook are represented as white squares (this means that widget script was loaded, but it did not load/render it's content).

Second problem was resolved by `networkIdleTimeout: 3000`. But I don't understand why

[2017-08-28 15:28] michaelfward opened #575 "Are there any plans to port puppeteer to Python?"

[2017-08-28 15:33] Aralic opened #576 "page.pdf throws"
Puppeteer: 0.10.1
Node: v8.2.1.
OS: macOS Sierra 10.12.1 (16B2657)

# Setup

[code]

# Error

`(node:754) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Protocol error (Page.printToPDF): PrintToPDF is not implemented undefined

(node:754) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are no

[2017-08-28 15:56] ebidel commented on #576
There's a note in the docs that's hard to miss:

https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepdfoptions

[2017-08-28 15:56] #576 closed, assigned to nobody

[2017-08-28 16:05] ebidel commented on #575
No plans for the foreseeable future. We want to nail the Node experience first and foster a JS API that works really well with the DevTools protocol.

FWIW, there are several community projects that allow you to work with the protocol using Python:
https://github.com/ChromeDevTools/awesome-chrome-devtools#protocol-driver-libraries-in-various-languages

[2017-08-28 16:20] ebidel commented on #573
We have [an example](https://github.com/GoogleChrome/puppeteer/blob/master/examples/custom-event.js) for this now! It shows how to listen for custom events fired on the page and pipe them back through puppeteer code.

Yep, `page.exposeFunction()` is perfect for this use case.

[2017-08-28 16:20] #573 closed, assigned to nobody

[2017-08-28 16:20] vlad-zhukov opened #578 "Is there a way to open local pages?"
I would like to open a page that includes CSS and JS files. Is it possible?

[2017-08-28 16:24] michaelfward commented on #575
Thanks! I did see some good Python modules in there.

I'm new to open source, so I apologize for this potentially unnecessary question: is it "not okay" to independently start an open source port (assuming that further reading of the Python implementations don't have all the functionality I need), and attempt to keep it in line with the Puppeteer API?

In my day job, there are immediately tangible

[2017-08-28 16:33] Aralic commented on #576
@ebidel thanks. I try agian, It's effective.

[2017-08-28 16:33] ebidel commented on #571
Are you on a retina machine? If so, you may need to set the `deviceScaleFactor` to match the DPR of the device.

Something like:
[code]

By default, puppeteer uses `deviceScaleFactor: 1`

[2017-08-28 16:40] paulirish commented on #575
it's totally OK to write a python library that exposes the puppeteer API in python. It would make sense to depend on chromote or pychromedevtools for interfacing with the protocol.

go for it!

[2017-08-28 16:40] #575 closed, assigned to nobody

[2017-08-28 16:41] ebidel commented on #575
Nothing stopping you from starting something new and basing the API off another project. In fact, Puppeteer's API was inspired by projects like NightmareJS, PhantomJS, and others.

I think is the challenge right now. Puppeteer's API will most certainly evolve as we work towards a 1.0. IMO, it may be too soon to try to port code. I'd take a look at those other projects though.

Another thing you co

[2017-08-28 16:45] ebidel commented on #329
Project that uses puppeteer with mocha:
https://www.npmjs.com/package/mocha-headless-chrome

[2017-08-28 16:55] LasaleFamine commented on #329
And here is a project that uses puppeteer as renderer: https://github.com/cheeaun/puppetron

[2017-08-28 17:07] ebidel commented on #578
Yes, this is possible. Generally, if you can open the page in Chrome, you can open the page using puppeteer :)

[code]

Just keep in mind that [`file://` has some security restrictions](https://stackoverflow.com/questions/29371600/chrome-browser-security-implications-of-allow-file-access-from-files). Depending on what the page does, not everything will work.

[2017-08-28 17:07] #578 closed, assigned to nobody

[2017-08-28 17:14] aslushnikov commented on #572
@jesusbotella Could you please share the source of `findImages` file?

[2017-08-28 17:17] jesusbotella commented on #572
@aslushnikov I'm afraid I cannot share the code here, but if you want to I am authorized to share it to you by email? What do you think?

[2017-08-28 17:26] aslushnikov commented on #561
`browser` object holds a connection to the running browser; internally, the connection is a websocket. Calling `browser.close()` closes the connection.

If the browser was created with `browser.launch()`, then `browser.close()` additionally closes the chrome process.

Yes, the `browser.close()` is required to cleanup resources.

Regardless of whether the browser is launched via `browser.launch` or

[2017-08-28 17:26] #561 closed, assigned to nobody

[2017-08-28 17:28] aslushnikov commented on #477
@mstipetic can you provide the whole script you run? I cannot reproduce this issue otherwise.

[2017-08-28 17:29] SeanSanker commented on #391
@zhuyingda 's notes above will allow you to run puppeteer with `--no-sandbox`, but this is insecure as the sandbox is intended to isolate the process from the system.

The error message itself ('No usable sandbox!'), states `If you want to live dangerously and need an immediate workaround, you can try using --no-sandbox.`.

Running without a sandbox should be considered bad practice and potentiall

[2017-08-28 17:30] aslushnikov commented on #574
@cronfy can you share the URLs of the pages you try to screenshot?

[2017-08-28 17:32] #571 closed, assigned to nobody

[2017-08-28 17:36] aslushnikov commented on #572
@jesusbotella sg, my email is lushnikov@chromium.org

[2017-08-28 17:40] aslushnikov commented on #560
@zhuyingda great, thanks for sharing this! I've added the dependencies to the [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md).

[2017-08-28 17:40] #560 closed, assigned to nobody

[2017-08-28 17:55] SeanSanker commented on #391
If you're a lunatic you can spend a few days trying to compile chromium from source, then compile the sandbox from source, and attempt to monkey-patch them together.
[Build Chromium](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_build_instructions.md)
[Build Sandbox](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox_development.md)

Although if yo

[2017-08-28 18:15] zberhe commented on #550
I am also running into this issue **AssertionError: Chromium revision is not downloaded. Run "npm install"**. I am running on Mac behind a corporate proxy. My .local-chromium directory is empty.

[2017-08-28 18:19] kaushik94 commented on #531
@aslushnikov you are right, turns out an issue with my npm. It works now after reinstalling npm from source.

[2017-08-28 18:19] #531 closed, assigned to nobody

[2017-08-28 18:33] stramel opened #581 "Ability to load HTML String as a page?"
I have an application where I am generating the HTML String from a template. Instead of writing it back out to a file so chrome can read the file. It would be nice if I could send the HTML String to a page.

[2017-08-28 18:42] vsemozhetbyt commented on #581
Can [`page.setContent(html)`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetcontenthtml) help with this?

[2017-08-28 18:44] cronfy commented on #574
Hmm, it is local.. I temporarily uploaded it here:

 * http://cronfy.ru/template/main.html - here I noticed problems with fonts at 320px/480px
 * http://cronfy.ru/template/contacts.html - here with VK and Facebook widgets at 1920px

Here is also an attach:
[pages.tar.gz](https://github.com/GoogleChrome/puppeteer/files/1257833/pages.tar.gz)

Environment:

[code]

[2017-08-28 18:49] pocketjoso commented on #561
@aslushnikov Thanks for clearing it up! Hope this clarification can make it into the docs as well, would have saved me some time debugging. :)

[2017-08-28 19:09] #509 closed, assigned to aslushnikov

[2017-08-28 19:09] #547 closed, assigned to aslushnikov

[2017-08-28 19:14] #411 closed, assigned to JoelEinbinder

[2017-08-28 19:32] ebidel commented on #581
^ 💥

[2017-08-28 19:32] #581 closed, assigned to nobody

[2017-08-28 19:44] stramel commented on #581
/facepalm dang, I didn't see that! Sorry and thank you!!

[2017-08-28 21:03] nwhitmont commented on #386
@michaelfward Any update?

[2017-08-28 21:07] ebidel commented on #386
@nwhitmont did you see https://github.com/GoogleChrome/puppeteer/pull/554?

[2017-08-28 22:49] michaelfward commented on #386
@nwhitmont apologies, I saw @JoelEinbinder 's PR and figured I'd turn to other issues! Does his implementation take care of your use case?

[2017-08-28 23:21] Madd0g commented on #573
perfect, thanks!

[2017-08-28 23:47] sradu opened #583 "Chromium crashes on barneys.com with different UA"
Node 8.4.0, puppeteer 0.10.0, Chromium from Puppeteer, MacOS 10.12.

Consider the script below:
[code]
Running this crashes Chromium with below stack trace on MacOS. Commenting out the User-Agent lines gets everything working again. Which is weird.

[code]

[2017-08-28 23:55] twalpole commented on #583
You might want to try awaiting on `page.setUserAgent` since it returns a promise, so that it's not changing the user agent while  navigating.  No guarantee it'll fix it, but something to try.

[2017-08-28 23:57] sradu commented on #583
I'm afraid it's the same thing.

[2017-08-29 00:45] aslushnikov commented on #527
This should be fixed on tip-of-tree.

[2017-08-29 00:50] aslushnikov commented on #527
Ah no, requires more testing.

[2017-08-29 01:23] ghost opened #584 "How to download file to the specified path[/name]"
1. There are many link in one page to download files. How to save files to the specified path when click links?
2. If I have got the file URL, how to download the file and save it to the specified path with specified name by the URL but not click link?
I'm sorry for my be this is a very silly question. I hope your help. thanks.

[2017-08-29 01:39] lidongzhangg commented on #571
Yes, it is the retina screen, the problem is solved, thanks！

[2017-08-29 01:41] sradu opened #585 "Chromium crashing with socks5 proxy"
Similar script to #583 but with a sock5 proxy, no user agent, crashes Chromium as well.  If I remove the proxy it works.

[code]
Trace:

[code]

[2017-08-29 01:46] h4l-yup opened #586 "how can I get the arguments from executing the puppeteer code by the command line?"
I am using puppeteer for the automation of submitting customer information to a website.

So I made a puppeteer file (submit.chrome.js) and it would be executed by command line like 'node submit.chrome.js'. (It is a long story why I have to use command line to execute the puppeteer file.)

While doing this, I need to send some data to submit.chrome.js.

I was trying to use 'lodash' to map the data

[2017-08-29 02:02] vsemozhetbyt commented on #586
@kimseongyup-carson Can [`process.argv`](https://nodejs.org/api/process.html#process_process_argv) help here?

[2017-08-29 02:23] aslushnikov commented on #583
I can't repro this on Mac 10.12.6 and tip-of-tree puppeteer.

Could you please:
1. Point puppeteer to the Google Chrome Canary and run in the headful mode:

[code]
2. When the page crashes, go to the controlled canary and open a `chrome://crashes` url in a new tab
3. Make sure there's a crash with the relevant date, make sure the crash report is sent, and then paste the crashid here

[2017-08-29 02:37] JustinYi922 commented on #391
I have the same problem，too。

node:v8.4.0
centos:centos-release-7-2.1511.el7.centos.2.10.x86_64

(node:21521) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failed to connect to chrome!
(node:21521) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js pro

[2017-08-29 02:41] zhuyingda commented on #391
@JustinYi922 You can try the font requirements which I [mentioned](https://github.com/GoogleChrome/puppeteer/issues/560)

[2017-08-29 02:59] h4l-yup commented on #586
@vsemozhetbyt  I had missed searching nodejs documents.

Thanks for your help!

[2017-08-29 02:59] #586 closed, assigned to nobody

[2017-08-29 03:04] zenxds commented on #569
I tried to enable `Emulation.setEmitTouchEventsForMouse`, touchevent fired but got another issue

[code]

`mouse.down` will hang up

[2017-08-29 03:41] aslushnikov commented on #584
This is a dupe of #299

[2017-08-29 03:41] #584 closed, assigned to nobody

[2017-08-29 03:57] RakeshRanjan4u opened #587 "Queries related Web Developement."
What are the prerequisities to get started with Web developing?
How much Javascript,Php plays their role in it ??

[2017-08-29 04:01] ebidel commented on #587
This is a broad question and off topic for the issue tracker. I'd recommend something like https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web for starters.

[2017-08-29 04:01] #587 closed, assigned to nobody

[2017-08-29 04:02] sradu commented on #583
@aslushnikov Canary doesn't crash :| Neither this issue or #585.

Is there a way to estimate an ETA for when Canary turns into a chromium build?

Will close this issue and the other one.

[2017-08-29 04:02] sradu commented on #585
Fixed in Canary.

[2017-08-29 04:02] #585 closed, assigned to nobody

[2017-08-29 04:13] ystop opened #589 "pdf always print two page. last page always blank。"
l want full webpage  in a pdf page,so l use this:

await page.pdf({path: 'page.pdf', 'fullPage':true, "printBackground" : true, "height": "5000px"});

my webpage only 3000px, so one pdf page is good . but l always got two pdf page and last pdf page always blank.

[2017-08-29 04:15] ghost commented on #584
Thank you very much.

[2017-08-29 05:20] aslushnikov commented on #583
@sradu Now the tip-of-tree puppeteer bundles the same version of chromium as Canary.

[2017-08-29 05:21] sradu commented on #583
Thanks! Trying it now.

[2017-08-29 05:32] sradu commented on #583
I'm afraid it's not working. I made a short video to show that I'm not crazy: https://www.dropbox.com/s/d0l8sewvy40pk4i/crash.mov?dl=0.

[code]

[2017-08-29 05:40] aslushnikov commented on #583
@sradu can you run puppeteer's chromium and see if it's operational? Puppeteer's chromium is located at `node_modules/puppeteer/.local-chromium`.

[2017-08-29 05:44] sradu commented on #583
It is. I can visit barneys.com, for instance. The script is working without changing the proxy or the user agent.

[2017-08-29 06:05] bogdan0083 commented on #446
@aslushnikov

I'm sorry for a little off-topic here, but how can i actually preserve cache and cookies on every browser relaunch? I wasn't able to found any information in docs regarding this.

Thanks!

[2017-08-29 06:24] faaraxladane5053 opened #591 "Ads remove"

[2017-08-29 06:24] #591 closed, assigned to nobody

[2017-08-29 06:29] aslushnikov commented on #446
@bogdan0083 if you're using tip-of-tree chromium, try passing `userDataDir` to the [`puppeteer.launch()`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#puppeteerlaunchoptions):

[code]

[2017-08-29 06:35] aslushnikov commented on #583
@sradu one more test. Could you please:
1. Run puppeteer's chromium in headful mode
2. Open about:blank and open devtools
3. Enable UA emulation in DevTools
4. Navigate http://www.barneys.com

[2017-08-29 06:36] sradu commented on #583
On it.

[2017-08-29 06:43] sradu commented on #583
Seems to be working: https://www.dropbox.com/s/fpfxqkmf6robmtu/em.mov?dl=0. Tried other settingslike iPhone or iPad emulation, still worked.

[2017-08-29 06:46] sradu commented on #583
Starting it with --proxserver=socks5://IP:443 and it still works manually.

[2017-08-29 06:48] sradu commented on #583
One more thing. In the script, if I comment out
[code]

it starts working.

[2017-08-29 06:59] aslushnikov commented on #583
@sradu do you have `browser.close()` or `page.close()` somewhere in your script?

[2017-08-29 07:01] sradu commented on #583
Yes. It was in the video, but not in my initial paste, right at the end.

Update: still crashes even without browser.close().

[2017-08-29 07:13] aslushnikov commented on #583
@sradu thank you for the help! It reproes for me now.

Looks like an upstream bug in request interception; I'll take a look.

[2017-08-29 07:51] barnash opened #592 "Initiate a request from within a page"
Is there an easy way to initiate a new request form within a page?

My use case is logging in and than running some API calls from the client to the server, without browsing all the pages.

I'd like something like `page.request('/path/to/call', 'POST', '{"param1": "value1"})`

I think I can use `evaluate` and use the a native xml http request, convert it to a promise and send it back, but it's a l

[2017-08-29 08:12] ylscsdb opened #593 "something wrong with 'page.screenshot({path: `${guid}.png`, fullPage: true});'"
[code]
The save page is also the current screen whether adjust the parameter of headless or device. Did i use it wrong?

[2017-08-29 09:15] selfrefactor opened #594 "EventEmitter memory leak detected. 11 exit listeners added"
This is the full error message:
`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added. Use emitter.setMaxListeners() to increase limit`

I run Node v8.1.2 with tip-of-tree Puppeteer

The code is written with `Promise.all`, but even if I run `work()` sequentially the same error appears.

[code]

[2017-08-29 09:39] selfrefactor commented on #594
One possible solution is using child process:

[code]

[code]

I still wonder if this is the only current solution.

[2017-08-29 10:36] ystop opened #595 "headless chrome exec "document.body.scrollHeight" not equal normal chrome."
my code use puppeteer with headless chrome is ：

await page.goto("https://github.com", {waitUntil: 'networkidle'});
const height = await page.evaluate(() => {
          const an = document.body.scrollHeight;
          return an;
});
console.log(height);
result is : 7290

but in my mac chrome:
result is : 6955

chrome version are 60.0.3112.113.

![1112](https://user-images.githubusercontent.com/129

[2017-08-29 11:11] #595 closed, assigned to nobody

[2017-08-29 11:11] ystop commented on #595
due to responsive。

[2017-08-29 11:12] ystop commented on #589
css is html,body:100% .  l think it is the reason

[2017-08-29 11:54] myakura commented on #553
@aslushnikov sure!
looking at the [source code regarding `waitUntil`](https://github.com/GoogleChrome/puppeteer/blob/1f9b4fb4c8/lib/NavigatorWatcher.js#L20-L75), it appears the all-lowercase `networkidle` isn't quite used (used only in assertion).

so I guess we could just replace the value with one in lower camelcase. or do you want to keep supporting the all-lowercase value?

[2017-08-29 12:03] jesusbotella commented on #572
@aslushnikov I sent you a mail :)

[2017-08-29 13:18] hparadiz commented on #479
@aslushnikov
I tried to build you guys a demo where that would happen but unfortunately (or perhaps fortunately) none of my offline local demos experienced the crash. Even when I exported and used the same data. I think it may have had something to do with network transfer and lag.

But good news! The tab no longer crashes!
After 74c53f37588a15b8bc04ce752c53a662949b44da I stopped experiencing this

[2017-08-29 13:24] Tynael opened #596 "Network Monitoring - how to inspect network traffic and get the URL of resource requests"
Hey,

I want to monitor the network of a page and get all the URLs of the JavaScript network events, similar to what PhantomJS' `page.onResourceRequested` (http://phantomjs.org/network-monitoring.html) is doing, but I couldn't figure it out how to do this with Puppeteer.

I've been dabbling with https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetrequestinterceptionenabledvalu

[2017-08-29 14:06] rawbin- opened #597 "waitForSelector Error MutationObserver is not a constructor"
[code]

[2017-08-29 14:08] rawbin- commented on #597
[code]

[2017-08-29 14:13] rawbin- opened #598 "how to judge the navigated page is loaded"
as the issue on ChromeDevTools

https://github.com/ChromeDevTools/devtools-protocol/issues/33

I rewrite the code
[code]
how to judge the search result page is loaded,is there a pagenavigated or load event would triggered?

[2017-08-29 15:34] Garbee commented on #391
The sandbox is already in any local chromium download by puppeteer. Or just grab one out of https://download-chromium.appspot.com downloads. Once you setup the sandbox from one of these packages it will work with future builds. No need for manual compiling.

[2017-08-29 15:53] umaar opened #599 "How to modify a response"
Is it possible to modify a response? For example the headers/response body?

[code]

I understand it's possible to modify the request, but being able to modify a response too would be useful!

[2017-08-29 16:26] domarmstrong commented on #594
I've also hit this in node 7.10 but I'm getting 'finish' listener. My service renders a pdf one at a time, it runs launch and creates a new page for each pdf. But this seems to have occurred after the service was running for a while.
[code]

[2017-08-29 17:03] ebidel commented on #594
Lighthouse and chrome-launcher handled this in https://github.com/GoogleChrome/lighthouse/pull/2959.

[2017-08-29 17:19] ebidel commented on #599
Mind if I ask about the use case? I suppose you could modify the response body once you have it or update some of the `Response` properties.

The interface is defined [here](https://github.com/GoogleChrome/puppeteer/blob/master/lib/NetworkManager.js#L286-L292).

[2017-08-29 17:48] ebidel commented on #598
Telling when any page is "loaded" is subjective. It's hard to have a single event or signal.

By default, `Page.goto()` waits for the page `load` event. But you can also use [`waitUntil: 'networkidle'`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options) and introduce a delay if that's not sufficient.

[2017-08-29 17:48] #598 closed, assigned to nobody

[2017-08-29 17:54] ebidel commented on #596
Check out the [sample](https://github.com/GoogleChrome/puppeteer/blob/master/examples/block-images.js) that intercepts image requests. Easy to modify that to look at other types of resource requests.

[2017-08-29 17:55] #596 closed, assigned to nobody

[2017-08-29 18:14] ebidel commented on #596
https://stackoverflow.com/questions/45941601/puppeteer-network-monitoring-how-to-inspect-network-traffic-and-get-the-url-of/45945796#45945796

[2017-08-29 18:26] aslushnikov commented on #592
@barnash you can use [fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API):

[code]

[2017-08-29 18:26] #592 closed, assigned to nobody

[2017-08-29 18:28] aslushnikov commented on #593
@ylscsdb I don't follow what's the problem with the script. What do you expect it to do and what happens instead?

[2017-08-29 18:30] aslushnikov commented on #589
@ystop can you provide a repro? Ideally, the script that I'd be able to run and observe the misbehavior.

[2017-08-29 18:41] aslushnikov commented on #553
@myakura I got confused, there's no need for PR.

The convention is that all string literals in API are in small caps.
For example:
- event names: `'requestfinished'`, `'requestfailed'`, ...
- options values: `'load'`, `'raf'`, `'networkidle'`, ...

[2017-08-29 18:41] #553 closed, assigned to nobody

[2017-08-29 18:52] aslushnikov commented on #479
@hparadiz nicee, I'm happy the roll helped.

[2017-08-29 18:52] #479 closed, assigned to aslushnikov

[2017-08-29 19:09] Tynael commented on #596
I think network monitoring is one of the most important aspects of using a headless browser, yet this matter is overlooked in Puppeteer's documentation.

I did not found an explicit example of how to use `page.on(request)`, yet I need to unravel and dig it from an example script, which may or may not be the real thing I'm looking for regarding its functionality.

[2017-08-29 19:10] aslushnikov commented on #597
The reason is that baidu nullifies MutationObserver on their website.
To fix this, we need to introduce devtools-style injected script for the puppeteer. @ak239 had patch in works that will allow to send notifications with remote objects over the protocol.

[2017-08-29 19:24] aslushnikov commented on #599
For now, interception kicks in only before the request is sent, so there's no way to intercept responses.

There are some vague discussions about adding another interception level right after the response was received. This would allow amending responses, but there are no exact plans or ETA.

[2017-08-29 19:24] #599 closed, assigned to nobody

[2017-08-29 20:21] tomredman opened #600 "Support for dynamic selectors?"
I'm sorry if I've overlooked something here. Does Puppeteer have support for dynamic selectors?

E.g., Ember framework provides each element with a unique id in the format `ember2599`. Is there a way to select the _nth_ `ember*` element? Another example are "salted" username and password selectors, e.g., `id='username-08b6c2e1'` where the random string changes on each reload.

Thanks!

[2017-08-29 20:25] aslushnikov commented on #600
Sounds like #382 will address this.

[2017-08-29 20:33] tomredman commented on #600
Thanks @aslushnikov, I'll sit tight and wait for this. Puppeteer is awesome by the way!

[2017-08-29 20:33] #600 closed, assigned to nobody

[2017-08-29 20:43] paulirish opened #602 "Structure the API documentation by category"
I think it'd be valuable to restructure the API documentation to be categorized rather than alphabetical.

For example, three cookie-related methods would be next to eachother. This would assist greatly to anyone learning the API surface for the first time. (And right now that's (obviously) most of our users :)

Another motivation: I'd like to have the room in the documentation to provide some gui

[2017-08-29 21:19] aslushnikov commented on #423
Looks like google maps are fancy and discard mouse movements with huge delta.

We've added the "steps" option to the `mouse.move` method so that you can send intermediate events.
The following script works fine for me:
[code]

[2017-08-29 21:19] #423 closed, assigned to JoelEinbinder

[2017-08-29 21:23] samuelli commented on #511
@aslushnikov: unfortunately there's not really any deterministic way to do this without probably breaking some animations. eg. finish events still need to fire.

A combination of virtual time budget & setting playback rate to something high works for me.

Another option would be to artificially advance animations directly by directly manipulating the current time. It's more work but will probably

[2017-08-29 21:33] aslushnikov commented on #602
- Categorization looks beautiful! ❤️
- I don't like changing `api.md` to follow the new categorization - it will make doc writing harder
- It would be nice to have a website that presents the API with categorization and supports filters/search/etc. Will this work?

[2017-08-29 21:34] ebidel commented on #602
I can help with that.

[2017-08-29 21:38] umaar commented on #599
@ebidel intercepting/rewriting responses with WebDriver + a proxy is something I covered in my [browser automation talk](https://youtu.be/EufdahOSJIc?t=31m18s) and it was well received. In that same video, I also discuss use cases. For example: maybe I'm running loads of automation tests which all together, are slow. The webpage I'm testing overlays some animated popover on each page load. Being a

[2017-08-29 21:46] aslushnikov commented on #599
Yes, this impersonates responses rather then intercepts them.

cc @dgozman who was considering response interception.

[2017-08-29 21:56] twalpole commented on #596
@Tynael You did notice that the version number is 0.10 right?  It's in rapid development currently and is still an early release - You're going to have to put in some work to use it at the moment.

[2017-08-29 22:03] kaushiksundar opened #603 "Unable to deploy Puppeteer - Unzipped size must be smaller than 262144000 bytes. - AWS Lambda"
While deploying a function to AWS Lambda I am getting this error.

`Unzipped size must be smaller than 262144000 bytes.`

Dev Guide: [AWS Lambda Limits](http://docs.aws.amazon.com/lambda/latest/dg/limits.html#limits-list)

Is there any work-around for this?

Full deployment log

[code]

[2017-08-29 22:21] ebidel commented on #603
The issue is that Chromium is being installed alongside Puppeteer and that ends up being quite large.

You can skip installing Chromium using:
`npm i --ignore-scripts puppeteer`

However, that'll require you to figure out how to download Chrome yourself and run it with Puppeteer. I've never used AWS Lambda, so maybe others have suggestions.

[2017-08-29 23:38] paulirish commented on #599
the protocol [supports providing a `rawResponse`](https://aslushnikov.github.io/vanilla-protocol-viewer/#Network.continueInterceptedRequest) to `continue`, although this isn't in puppeteer right now.

you'd have to already have the response, so this kinda means:

1) do request, get response, modify it.
2) turn on interception.
3) do request again, set `rawResponse`, continue.

little awkward, whic

[2017-08-30 01:06] nwhitmont commented on #386
@michaelfward Ah ha! That explains it ;-) Thanks for the update.

[2017-08-30 02:26] ystop commented on #589
@aslushnikov l can't find some other website observe the misbehavior. My site can't be posted online. l think l find this due to my css, l change it and  seem good. Thanks.

[2017-08-30 02:26] #589 closed, assigned to nobody

[2017-08-30 03:09] myakura commented on #553
@aslushnikov ah, got that. sorry for the noise!

[2017-08-30 05:49] #594 closed, assigned to JoelEinbinder

[2017-08-30 05:53] aslushnikov commented on #594
@selfrefactor your script should be working fine now.
@domarmstrong there's no 'finish' event in the puppeteer - this looks like something from other modules.

[2017-08-30 06:43] notedit commented on #516
+1  need this api too,  want to do some audio recorder.

[2017-08-30 06:58] samwillis commented on #477
@aslushnikov I can replicate the problem this with this code:

[code]

Interestingly if you remove the gradient from the div background, and give it a flat colour the image saves correctly with no missing areas.

I have tried it on both OSX and Ubuntu, both have the problem, saved image on osx:
![example-osx](https://user-images.githubusercontent.com/31130/29859026-20535c98-8d58-11e7-9952-262773f0

[2017-08-30 07:03] Tynael commented on #596
@twalpole I agree with you on that matter, buuut I find pretty frustrating that the network monitoring of Puppeteer is kinda left in the dark.

Anyhow, thanks to @ebidel 's example, I'm making my way through and hopefully I'll manage to get things done.

[2017-08-30 07:32] linpekka commented on #338
I also ran into this, adding a scroll evalution as suggested in #305 did not help at all. Im open for other ideas, but it seems like an event when lazy render is done would be sweet, or even better, an option on screenshot to w8 for lazy render.

´page.evaluate(_ => {
  window.scrollBy(0, window.innerHeight);
});
´

[2017-08-30 07:39] selfrefactor commented on #594
@aslushnikov Thank you for the fast fix, but it still doesn't work for me.

I tested it on local machine and Cloud9 instance and I make sure that the code reads your changes, but the same error appears again.

[2017-08-30 08:25] aslushnikov commented on #594
@selfrefactor ah, indeed, you launch chrome processes in parallel. Every chrome instance adds a listener to the process's "exit" event to cleanup properly. 12 chrome instances add 12 listeners, which yields the warning.

You can fix this by adding `process.setMaxListeners(Infinity)` in the very beginning of your script:
[code]

Note: you don't need to launch browser just to create a page. Instead,

[2017-08-30 08:33] Aaronphy opened #608 "Could I help you guys to translate the API`s doc into chinese?"
I`d love to do these .  And I used to use 'webdriver.io'

[2017-08-30 08:40] samwillis commented on #476
@aslushnikov JPEG is an option, it looks a lot faster as well. A quick test myself on Linux shows 101ms for PNG and 53ms for JPEG. May be worth the switch for us.

Do you know if there is any intention of removing the limitation of activating each tab to take the screenshot from chromium?

[2017-08-30 08:44] gaambo commented on #515
hi there,
having the same problem on an azure app service/web app. also the chromium binaries couldn't be downloaded on npm install - dunno why, no error message. had to run the install.js in a cmd on the machine myself.
now i'm getting the "spawn unknown" error. @sgwatgit thanks for your link to the azure app service sandbox restrictions, but i don't fully understand all of this. is there even a

[2017-08-30 09:25] domarmstrong commented on #594
[code]

The listeners don't seem to get cleaned up, and if I dont have the process.exit it doesn't ever exit the process. Also you can see there are a bunch of event emitter errors show like unpipe, drain, error. These are only shown when using dumpio. Setting max event listeners is not an option for me as I'm using as part of a long running process so it will leak memory.

output:

[code]

[2017-08-30 09:33] intellix commented on #299
I'm having file download issues as well, not sure if it's the same thing. I'm visiting a link that triggers a download like: `somewhere.com/download/en-GB.po`.

I'm creating a new page per language file I need to download so they're run in parallel and then trying to Promise.all() them before closing the browser. It seems that even after the downloads all finish, the `page.goto` is never resolved:

[2017-08-30 09:44] aslushnikov commented on #594
@domarmstrong the reason your script doesn't work with tip-of-tree puppeteer is because you don't close browsers if exception is thrown. This is a memory leak.

The following script works just fine:
[code]

if you pass `https://google.com` instead of `google.com`, no exception will be thrown and your original script will work just fine.

[2017-08-30 09:45] rawbin- commented on #597
got it, the following code works for me, thanks a lot
[code]

[2017-08-30 09:45] #597 closed, assigned to nobody

[2017-08-30 09:47] aslushnikov commented on #476
@samwillis No intention so far

[2017-08-30 09:53] aslushnikov opened #609 "page.waitForSelector doesn't work on baidu.com"
The following script fails with baidu.com:
[code]

The reason is that Baidu nullifies MutationObserver that is required for `waitForSelector`.

[2017-08-30 10:01] domarmstrong commented on #594
OK, that's a very good point lol. But still you get the exit and SIGINT errors.

[code]

[code]

[2017-08-30 10:05] aslushnikov commented on #594
@domarmstrong What's your puppeteer version? Can you run the `npm list --depth=0` from the root of your project? It looks like you're not using the tip-of-tree puppeteer, which is labeled as 0.10.2-alpha.

[2017-08-30 10:17] domarmstrong commented on #594
Yep your right. That's fixed then. :+1:  thanks.

[2017-08-30 10:27] floydtagle opened #610 "Response is Null when Navigating to a PDF"
When navigating to a PDF in headless mode the Response is Null. What Im trying to do is download the loaded pdf page and save it locally. Bellow is my code.. Thanks.

[code]

[2017-08-30 10:38] simion314 opened #611 "Accentueded characters rendered with system font in pdf"
Using some google fonts like dancing script and using accentuated characters like ę ą ł ó ś ć ń ź ś we get different results when rendered in chrome and when rendered in pdf, for some reason the accentuated "o" is rendered fine. I tested a different htmltopdf tool named wkhtmltopdf and I get same result

[temp.pdf](https://github.com/GoogleChrome/puppeteer/files/1263260/temp.pdf)
[temp.html.txt](h

[2017-08-30 10:42] umaar commented on #599
Thank you, at least it's possible to do!

[2017-08-30 10:49] Cyberpunkerplus opened #612 "add setAttribute to ElementHandle"
hi,all ,  i just find there has been a new API called getAttribute OF ElementHandle, so i just add setAttribute. It seems work fine.

[add setAttribute to ElementHandle](https://github.com/Cyberpunkerplus/puppeteer/commit/3aeedc4a6dfdffca844348831dc191981a311a02)

[2017-08-30 10:53] samwillis commented on #477
Right, I have been playing a little more with this. The code below works (red image with about half of it covered with text) however if you remove `transform: translate3d(0,0,0);` or increase the font size to 150px then it stops working.

Knowing **very** little about how chrome works, is it composited from multiple textures? could the `translate3d(0,0,0)` be forcing it to composite in a certain w

[2017-08-30 10:58] homaily commented on #603
I see you have 2 options:
* Upload chrome to s3 and download it once Lambda function container is created.
* Upload chrome compressed (~92Mb) with your function code and unzip it once Lambda function container is created.

Both options will take time (~20 seconds) more or less but you don't have to do it on each request. Once you download \ unzip the file you will be able to use it in upcoming req

[2017-08-30 11:16] selfrefactor commented on #594
@aslushnikov Actually I don't need it to run in parallel and the code really works in sequential context. Thank you for the efforts.

[2017-08-30 11:22] thujikun opened #613 "Hwo can I set HTML select element value?"
I tried following code. But I cannot set the value.
[code]

And I set the value with page.evaluate.
But I need to virtual DOM value.
So following code is not useful for me.
[code]

[2017-08-30 12:23] homaily commented on #603
Another approach is Puppeteer expose a method to do the install as of npm install so you can trigger the install from your function.
@ebidel is this option fine by you and the core team?

[2017-08-30 12:37] rawbin- commented on #598
In browser when we refresh the page or click any link to open page on current tab, there is always an load event for every url，but in headless mode，when a page navigated to A page，and click link to any other page ，the `load` event only triggered for the first navitation,  it looks odd.

[2017-08-30 12:44] hadalin opened #614 "Install Puppeteer without Chromium"
In README there's

but sometimes you still want to provide your own Chromium or don't trust `downloadURLs` in [ChromiumDownloader.js](https://github.com/GoogleChrome/puppeteer/blob/master/utils/ChromiumDownloader.js#L30).

Maybe I could even provide a PR, if this is something considered worth doing.

[2017-08-30 12:48] gumieri opened #615 "instance.close() let zombie process"
I am using puppeteer inside Docker as 'html to pdf' converter API.
Even calling [`browser.close()`](https://github.com/tecnospeed/pastor/blob/b4e18af4149b1c6c7156d151fb96d8c8b8181133/lib/browser.js#L24)  (which browser is the instance from [`puppeteer.launch()`](https://github.com/tecnospeed/pastor/blob/b4e18af4149b1c6c7156d151fb96d8c8b8181133/lib/browser.js#L36)) I have `chrome` processes as zomb

[2017-08-30 13:25] Tynael opened #616 "(node:10800) UnhandledPromiseRejectionWarning when launching with headless: false & slowMo ON"
I've come across an unexpected error when launching Puppeteer with `headless: false` and `slowMo: 250`.

I'm running on Windows 10 with Node 8.4.0 installed.

This is the error:

`(node:10800) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Erk.continueInterceptedRequest): Target closed.
(node:10800) [DEP0018] DeprecationWarning: Unhandled promise rejections are de

[2017-08-30 13:38] Garbee commented on #614
Duplicate of #244

On this though, those builds are ran by the Chromium team directly. So if you don't trust those downloads you don't trust Chromium in the first place.

[2017-08-30 13:54] thebetterjort opened #617 "Getting value from dropdown menu?"
[code]

Would I use page click to select the proper dropdown and would this be the correct DOM query element?
await page.click('select[name="mainlist"] option[value="District"]');

[2017-08-30 14:25] #614 closed, assigned to nobody

[2017-08-30 14:40] krlwlfrt opened #618 "Clicking on an element in an iframe fails"
`page.click(selector)` does not click an element in a frame of the page.

[code]

How is it possible to click the element? Getting the frame that contains the element and doing `frame.click(selector)` does not work.

[code]

[2017-08-30 15:14] samwillis commented on #477
I have filed a bug for this on the Chromium tracker here: [760596](https://bugs.chromium.org/p/chromium/issues/detail?id=760596)

[2017-08-30 17:11] davidmathlogic opened #620 "devicePixelRatio works for screenshots, but not (entirely) for PDFs"
My device has a retina display.

page.screenshot produces the expected behavior: screenshots with devicePixelRatio = 1 have blurred images, while screenshots with devicePixelRatio = 2 have crisp images.

However, page.pdf does not produce the expected behavior. Regardless of the devicePixelRatio set using page.setViewPort, images in the generated pdf file are pixellated -- not blurred, as in scree

[2017-08-30 17:26] aslushnikov commented on #612
@Cyberpunkerplus that's reasonable, feel free to send a PR

[2017-08-30 17:26] #612 closed, assigned to nobody

[2017-08-30 17:32] aslushnikov commented on #598
@rawbin- the `load` is triggered on every navigation for me.

[code]

[2017-08-30 17:33] aslushnikov commented on #613
@thujikun I don't follow, why the second approach with `page.evaluate` doesn't work for you?

[2017-08-30 17:44] paulirish commented on #618
I looked into this and it turns out there's a bug you didn't yet run into that would have stopped you dead in your tracks. :) I'll add the details to this ticket since it basically breaks clicking correctly inside a frame.

repro script:

[code]

Basically on this page we want to click the "Click me!" button. However a click is dispatched on top of the banner ad at the top of the page causing a ne

[2017-08-30 17:56] aslushnikov commented on #618
Ah, indeed! #445 will solve this

[2017-08-30 18:01] aslushnikov commented on #617
the following should do the trick:

[code]

[2017-08-30 18:01] #617 closed, assigned to nobody

[2017-08-30 18:11] aslushnikov commented on #614
@hadalin #606 will address this

[2017-08-30 18:32] hadalin commented on #614
Awesome 👍

[2017-08-30 18:34] ebidel commented on #603
As a first step, there's an env variable coming to skip the chromium download when installing pptr.

https://github.com/GoogleChrome/puppeteer/pull/606

[2017-08-30 18:37] tannerlinsley opened #623 "Seeing "Error: not opened at WebSocket.send" during simple usage"
We have deployed a very simple instance of Puppeteer to the cloud using docker.  Everything works perfectly in the beginning:
- Chromium is built correctly
- Chromium is launched with no errors
- Requests to puppeteer are issued to:
  - Open a new page
  - Evaluates a very simple script (to scrape some text)
  - Then closes the page

I am able to get a few successful requests out of puppeteer, but

[2017-08-30 18:45] tannerlinsley commented on #623
@derekperkins, you might be interested in this as well.

[2017-08-30 18:47] ebidel commented on #608
Nice, we'd love help with that! But since the API and docs are still in a state of flux, I'm wondering if we should wait a bit? Eventually we plan to have a proper documentation page/site for 1.0.

[2017-08-30 19:10] aslushnikov commented on #608
@Aaronphy We discussed this with @pavelfeldman and @paulirish. We won't be able to maintain chinese translation as a part of this repository because english docs change rapidly and translation would be constantly outdated.

However, if you host the translation on your own website and will take care of it, we'll be happy to refer to it from our docs!

[2017-08-30 19:12] aslushnikov commented on #623
@tannerlinsley any way we can repro this?

Also, it looks like you're using node6. Out of curiosity, does the same happen with node 8?

[2017-08-30 19:13] devsnek opened #624 "Unneeded async/await usage throughout the library"
Functions like this create an unnecessary promise with the async/await which could have unknown performance implications depending on the js engine that the user's build of node is using.
![](https://gc.gy/.png)
![](https://gc.gy/蓼⛂.png)

[2017-08-30 19:15] derekperkins commented on #623
Here's the Dockerfile that we're using

[code]

Puppeteer dependency in `yarn.lock`
[code]

[2017-08-30 19:18] pocketjoso commented on #562
Okay, so it seems like I cannot call `page.evaluate` after calling `page.setJavascriptEnabled(false)` -> this is what causes my crash reported in initial post.

My intention was to turn of only the JS included in the html of the web page I'm loading, but still for myself to be able to execute JS, a bit like when using the Chrome dev tools on top of a page that has been loaded with JS turned off (s

[2017-08-30 19:21] aslushnikov commented on #624
@devsnek unless there are real performance issues that might relate to this, we accept this in favor of code readability. Modern V8 versions make promise creation ridiculously fast, so the overhead is negligible.

[2017-08-30 19:21] #624 closed, assigned to nobody

[2017-08-30 19:33] derekperkins commented on #623
We've been able to reproduce the same results locally (2015 15" MBP w/ 16 GB RAM) and running on Google Compute Engine (1 core / 3.75 GB RAM). On the MBP, it died at about 20 req/sec, but on the cloud, it died around 3 req/sec.

[2017-08-30 19:39] devsnek commented on #624
if you're going to pull up readability, then i must ask how
[code]
is more readable than
[code]

[2017-08-30 19:54] JoelEinbinder commented on #562
Can you send a reduced test case? We use `evaluate` after `setJavascriptEnabled` in our tests.
https://github.com/GoogleChrome/puppeteer/blob/master/test/test.js#L1774

[2017-08-30 20:13] derekperkins commented on #623
Also, @tannerlinsley is seeing the same results locally outside of Docker, just running Node and Chrome natively on his MBP.

[2017-08-30 20:57] icarusmiles commented on #603
Would you have to resort to using promises because AWS only supports Node v6.10 - doesn't it?

[2017-08-30 21:01] tannerlinsley commented on #623
I've done some more testing in my docker container.

The node version it is currently running is `v8.4.0`
It's using an extremely simple express server to execute the following puppeteer flow on each request:
[code]

My performance findings went like this:
- Only opening and closing a page got up to 50 req/sec (hit linux open files before puppeteer crashed, so really good)
- Only opening and navig

[2017-08-30 21:09] aslushnikov opened #625 "Introduce page.$eval and page.$$eval"
@paulirish suggested to introduce `page.$eval` and `page.$$eval` that will reduce the need for a lot one-line methods.

E.g. `elementHandle.attribute` would be replaced with a one-liner:

[code]

So the plan is:
- introduce `frame.$eval` / `frame.$$eval` / `page.$eval` / `page.$$eval`
- drop the `elementHandle.attribute`

[2017-08-30 21:55] pocketjoso commented on #562
Hmm okay, will look into it again...

[2017-08-30 23:14] JoelEinbinder commented on #570
This looks like it is working as intended. The page size is specified to be `A4`. You can use the `width` and `height` options of pdf to set its size.

[code]

[2017-08-30 23:14] #570 closed, assigned to nobody

[2017-08-30 23:14] thujikun commented on #613
@aslushnikov I 'm using React. And I think ``` page.evaluate ``` is same with setting value with JavaScript. So it doesn't change React's virtual DOM value. And I think the method to set select value like click method should be because it's normal user's action. The user doesn't use ``` page.evaluate ```

[2017-08-30 23:54] ebidel commented on #624
It's true that we could remove some of the await/async, but the perf difference is negligible with any combination: http://jsbin.com/fovikazeli/edit?html,console

IMO, for readability, seeing `async` prefix a function is a clear signal that the func returns a promise. It's hard to know what this returns:

[code]

[2017-08-31 00:58] nazieb opened #627 "Protocol error Invalid InterceptionId on cancelled requests"
When I tried to implement the "naive" image blocking like the one shown in the [API reference page](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetrequestinterceptionenabledvalue) by enabling request interception, at one particular webpage I always encounter this error:

`
(node:73712) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error:

[2017-08-31 01:25] aslushnikov commented on #627
@nazieb what's you puppeteer version? Current tip-of-tree has a fix for request interception.

Also, any chance you can share a URL so that I can reproduce the issue?

[2017-08-31 01:45] aslushnikov commented on #612
@Cyberpunkerplus update: we've decided to implement #625, so there's no need for the setAttribute any more.

[2017-08-31 01:50] Aaronphy commented on #608
@ebidel @aslushnikov  I will have a try to take care of it .

[2017-08-31 02:04] aslushnikov commented on #608
Thanks @Aaronphy. Reach back to us when you're ready so that we can refer to your translation.

[2017-08-31 02:04] #608 closed, assigned to nobody

[2017-08-31 02:09] SantoshSrinivas79 commented on #362
@girishpatil solution [here](https://github.com/GoogleChrome/puppeteer/issues/290#issuecomment-324838511) worked perfectly me on similar system configuration

[2017-08-31 02:11] muminoff opened #628 "Collect element attributes from selector"
Beginner user here. Started playing with this project recently. Wanted to make simple scraper which can collect `href` attribute of all anchors on the page.

Tried this:
[code]

Got:
[code]

Any suggestions how to handle this task?

[2017-08-31 02:26] JustinYi922 commented on #616
升级一下linux的nss。我昨晚试了，pupeteer可以工作了。

[2017-08-31 02:32] nazieb commented on #627
@aslushnikov my yarn.lock show this:

[code]

As of the URL, I'm sorry but I'm afraid I'm not allowed to expose both the main webpage and the canceled request URL. I'll try another public website to see whether this bug also happened.

[2017-08-31 02:56] paulirish commented on #628
i think this would do it.

[code]

And once #625 is implemented this will be...

[code]

(note i'm using the href _property_ which is a resolved URL and different from the unresolved href _attribute_ string. (that would be `a.getAttribute('href')`)  i think you want the property's value. :)

[2017-08-31 03:27] muminoff commented on #628
@paulirish Thanks

[2017-08-31 03:27] #628 closed, assigned to nobody

[2017-08-31 03:33] devsnek commented on #624
isn't that why you have docblocks over all your code?
[code]
seems fairly clear

[2017-08-31 03:40] aslushnikov commented on #627
@nazieb It's unlikely, but this might be related to #558. Could you please install 0.10.2-alpha directly from github and check if the issue persists?

[2017-08-31 03:58] rlog commented on #391
Thanks to all ! @zhuyingda 's solution fix this issue

[2017-08-31 03:58] #391 closed, assigned to nobody

[2017-08-31 04:05] kaushiksundar commented on #603
@homaily Thanks for you response. I am fairly new to AWS, Can you elaborate on your first option

How do I actually do this? Is there any reference/doc, detailing these steps?

@miles-collier Yes we have to use promises.

[2017-08-31 04:11] nazieb commented on #627
@aslushnikov I've tried to install from master, but when I start the app I got this error:

[code]

What I did is just change the version in `package.json` to:
[code]

and run `yarn upgrade`. Is there anything wrong with my steps?

[2017-08-31 04:44] aslushnikov commented on #627
@nazieb ah, you're running with node6.

Could you please do the following after the install:
- go to the puppeteer directory: `node_modules/puppeteer`
- run `npm run build`

[2017-08-31 05:34] nazieb commented on #627
@aslushnikov I've upgraded my node version to v8 and tested again on master branch. The error message still show up, but now it didn't cause the whole request to hang.

And I've found some public URL for you to try: https://www.merdeka.com/peristiwa/habib-rizieq-tegur-keras-presidium-alumni-212-karena-bela-hary-tanoe.html

It's an Indonesian website news, and it shows the exact same error message.

[2017-08-31 05:43] uimator opened #629 "mac: Unhandled promise rejections are deprecated"
when run index.js，i get this error:

index.js
[code]

[code]
env:

node: v8.3.0
os: 10.12.6

[2017-08-31 05:51] aslushnikov commented on #629
The script works just fine for me.

The error states that `page.goto` call failed to load the page in 30 seconds. Are you sure the script has access to the internet?

[2017-08-31 06:07] aslushnikov commented on #627
@nazieb thanks so much for the link, it helps a lot!

[2017-08-31 06:16] uimator commented on #629
thanks, it's my fault. when i clean the proxy, it's ok.

[2017-08-31 06:16] #629 closed, assigned to nobody

[2017-08-31 06:50] Tynael commented on #616
@JustinYi922 I've Google Translate-ed your comment as I don't understand Chinese :D and from what I understood, you told me to update my Linux OS. I'm running on Windows 10. I've updated the main post accordingly.

[2017-08-31 06:55] rawbin- commented on #598
when we use page.goto the `load` triggered is expected, when you change the location with js code  as above, it's triggered only the first page.goto call

[2017-08-31 07:41] aslushnikov commented on #616
@Tynael if you add the `await page.close()` right before the `browser.close()`, the error should disappear.

This, however, is a problematic space for puppeteer: browser closing races with request interception, and this is a very common scenario. This should be fixed in puppeteer.

[2017-08-31 07:50] vibou opened #631 "Response is null after 2 navigations using the same Page Object"
I create an browser instance and a page object.
I use goto to perform the first navigation. It is working fine and returns a Response Object

I use goto to perform a second navigation returns a null object.

`const nav_response = await page.goto(url, this.navigationOptions);`
`const status = nav_response.status;`

Cannot read property 'status' of null.

What is weird is that chrome browser navigat

[2017-08-31 07:52] aslushnikov commented on #598
@rawbin- that's because the baidu is a single-page application that handles search request all client-side.

[2017-08-31 08:44] vsemozhetbyt commented on #628
@muminoff Your code seems also workable, you just need to add one `await`:
[code]
and be sure you have the last version of puppeteer:
[code]
But the code of @paulirish may be faster.

[2017-08-31 08:53] muminoff commented on #628
@vsemozhetbyt Thanks for your suggestion. Adding `await` before `anchor.attribute(..)` solved the  issue. Of course, only with latest version. NPM version doesn't support it. Kudos!

[2017-08-31 08:59] muminoff commented on #628
@vsemozhetbyt

Main difference is @paulirish's code is collecting links with absolute path, the latest snippet is collecting with relative path.

[2017-08-31 09:22] vsemozhetbyt commented on #628
@muminoff You can get relative paths with the `a.getAttribute('href')`. I also mean that @paulirish's code reduces async interaction between Node.js and Chromium and this can be faster than many `await` in the cycle.

[2017-08-31 09:24] Tynael commented on #616
I understand. Thanks for the clarification @aslushnikov .

[2017-08-31 09:31] vibou commented on #631
After further investigation, this bug appears only when setRequestInterceptionEnabled is set to true.

Here is a full test to reproduce the bug. May be I am missing something when declaring my events handlers.

[test.js.zip](https://github.com/GoogleChrome/puppeteer/files/1266566/test.js.zip)

[2017-08-31 10:54] rawbin- commented on #598
@aslushnikov  that's is the point, thank you very much.
the load event triggered twice as expected with the following code
[code]

[2017-08-31 11:59] homaily commented on #603
@miles-collier Puppeteer now supports Node v6.4 and upwards in v0.10.0
https://github.com/GoogleChrome/puppeteer/releases/tag/v0.10.0

[2017-08-31 13:12] szhangpitt opened #634 "Bundled chromium not working on RHEL7.1?"
I was running the sample code on a RHEL 7.1 machine. I got the error below.

It seems gtk_widget_get_scale_factor was introduced [since gtk 3.10](https://developer.gnome.org/gtk3/stable/api-index-3-10.html#api-index-3.10) but I have 3.8. Does it mean the bundled chromium has some external dependency?

[code]

[2017-08-31 13:31] bdistin commented on #624
Your test is flawed btw. Promises get thrown off the stack into the event queue, and loop back in when the stack is empty. In your test you start a timer for all three, then start resolving them one at a time, meaning the second resolved is effectively the sum of the first and second test being resolved, and the 3rd is effectively the sum of all 3 tests being resolved.

See this for a fair test: h

[2017-08-31 13:57] korywka commented on #290
Same on Debian GNU/Linux 8.
node.js v6.11.2
Works without sandbox...

[2017-08-31 14:25] vibou commented on #372
I had similar issue where click was working half the time. I figured out that moving first the mouse then trigger the click is 100% working:
[code]

[2017-08-31 14:55] longnull commented on #372
My problem is that the scripts do not load on time and onclick event is not firing. :/

[2017-08-31 16:09] ebidel commented on #624
@bdistin good catch! Your example is a nicer too. What I notice is that these are essentially equivalent when run in isolation, and fast:

[code]

Yea? While `async` by itself is much slower:

[code]

Puppeteer mostly uses test3's pattern. v8 must be doing some smarts for `test3()`, essentially making its async/await a noop.

But when I run your 1M times demo, `test2` is fastest.

[2017-08-31 16:24] bdistin commented on #624
That is what I originally thought from the first test rewrite. However in the Edit2 rewrite running each test a million times I get results like (using chrome 60, so with the V8 optimizations):
[code]

[2017-08-31 16:51] thebetterjort commented on #617
I'm afraid this didn't work.
[code]
Thank you.

[2017-08-31 17:03] aslushnikov commented on #634
Did you look into [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md)? There's a list of dependencies that might help

[2017-08-31 17:08] JoelEinbinder commented on #617
[code]

[2017-08-31 17:12] ebidel commented on #624
Right. v8 optimizations make everything harder to reason about with "tests" like this. It's probably the case that typical user code is never going to be calling the puppeteer API a million times :)

But now I'm curious....Check out what happens when you add a preliminary `await` to the top. That appears to kick v8 and normalize all of them:

[code]

One run: http://jsbin.com/baronelego/edit?html,

[2017-08-31 17:15] volny opened #636 "elementHandle.attribute doesn't work"
Calling `.attribute` on elementHandles doesn't work.
 Even the example at <https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#elementhandleattributekey> results in a "TypeError: inputElement.attribute is not a function".

[2017-08-31 17:38] amejiarosario opened #637 "Downloader in CentOS is missing some libraries"
I'm trying to use the downloader on a CentOS system. However, it looks like is missing some dependencies

[code]

When I run `CHROME_BIN` I get
[code]

[2017-08-31 17:43] twalpole commented on #617
@thebetterjort Your  parentheses are in the wrong place and your option values have a ton of trailing spaces, so of course the CSS selector as written won't work.  Since you're doing an exact match on the value you either need to include the spaces or switch to a starts with attribute matcher

    await page.evaluate(() => {
      document.querySelector(`select [value="District            "]`).sel

[2017-08-31 17:53] vsemozhetbyt commented on #636
The doc can a bit outstrip the current npm version, so you can try to update this way to check new API methods:
[code]

[2017-08-31 18:00] aslushnikov commented on #637
Check out CentOS section in [troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md).

[2017-08-31 18:00] #637 closed, assigned to nobody

[2017-08-31 19:03] vsemozhetbyt commented on #636
`elementHandle.attribute()` may be deleted in the https://github.com/GoogleChrome/puppeteer/pull/638

[2017-08-31 20:29] twalpole opened #640 "Element handles don't invalidate when the elements are removed from the DOM"
If the DOM elements that ElementHandle instances refer to are removed the DOM the ElementHandle doesn't know about it.  Is there any way to invalidate the handles once the DOM nodes are no longer part of the document?

[code]

[2017-08-31 20:31] pocketjoso commented on #562
reduced test case:

[code]

Not quite sure what's going on, any ideas?

[2017-08-31 20:44] aslushnikov commented on #562
@pocketjoso AFAIU the timeouts won't fire with disabled javascript since noone spins page's javascript event loop. The synchronous execution should work just fine.

[2017-08-31 21:34] JoelEinbinder commented on #640
I'm curious as to how this would help you. The element still exists even though it is detached from DOM. What if it gets removed and re-added?

[2017-08-31 23:00] sul4bh commented on #478
@aslushnikov I would like to have this feature implemented too. My use case is recording the screen as a video.

[2017-08-31 23:23] twalpole commented on #640
@JoelEinbinder In the given example it can't actually be re-added, since there is no reference kept to it in the browser (but yes in some cases it may be removed and readded).  However, the only reason the element is still around in the example shown is because puppeteer maintains a reference to it, and I don't think that really makes sense.  It definitely gets in the way of automation tools knowi

[2017-09-01 01:35] paulirish commented on #478
+1 to video capture start/stop/save API

[2017-09-01 01:46] aslushnikov commented on #640
This race condition is inherent to element handle design: element handles live out-of-process to the elements they represent. If you want to avoid this race condition, you should use `page.evaluate`:

[code]

If you're unsure of the state of element handle, you can check state in the beginning of `elementHandle.evaluate` method:

[code]

Note: in a lot of cases it's totally valid to call methods o

[2017-09-01 01:46] #640 closed, assigned to nobody

[2017-09-01 01:48] aslushnikov commented on #636
The `elementHandle.attribute()` got removed in favor of `page.$eval` method:

[code]

[2017-09-01 01:48] #636 closed, assigned to nobody

[2017-09-01 02:17] JustinYi922 opened #642 "The problem of Chinese disorderly code"
A few days ago, in accordance with the requirements of doc/troubleshooting.md finally puppeteer can be installed in the centos. But there are some Chinese problems in the picture. I tried to download a lot of fonts. There is also an error, I do not know whether it led to the problem of Chinese disorderly code。

centos:7
node:v8.4

-----------------
DevTools listening on ws://127.0.0.1:54020/devtoo

[2017-09-01 02:53] nisrulz commented on #299
@aslushnikov is the change you mentioned in your last commit, now shipped?
If yes, then I am looking for some examples to download a file in headless mode. I couldn't find any documentation on it.

[2017-09-01 03:44] JustinYi922 commented on #642
好吧。我也不知道该下载哪些字体。所有干脆下载所有字体：yum -y install *-fonts-*。解决了渲染图片乱码的问题。
（不过上面的报错依然存在。）
![image](https://user-images.githubusercontent.com/12181444/29954493-dac3cf78-8f0a-11e7-9645-16a918ddd415.png)

[2017-09-01 03:44] #642 closed, assigned to nobody

[2017-09-01 03:59] aslushnikov commented on #299
@nisrulz additional work is required upstream, we're working on it.

[2017-09-01 04:15] pavelfeldman commented on #299
~~@aslushnikov [496577](https://chromium-review.googlesource.com/c/chromium/src/+/590913) landed a week ago, it should be few lines of code on your end.~~

Looks like aslushnikov@ bakes something more upstream to deliver an event upon download.

[2017-09-01 05:45] aslushnikov commented on #299
@pavelfeldman r590913 is not enough for a complete story; I'm working on `Page.FileDownloaded` event to notify about successful download.

[2017-09-01 06:12] MMMzq opened #643 "a"

[2017-09-01 06:23] sul4bh commented on #478
Not sure where to ask this question but here it goes:
What does the document here(https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-startScreencast) mean by a frame? What is the maximum frame-rate that I might be able to get by using `startScreencast()`?

I experimented with `startScreencast()` but I was only able to get about 5fps (meaning 5 png images/frames in 1 second). On he

[2017-09-01 06:24] Tynael commented on #643
What's this issue all about?
Could you please provide more information?
Cheers!

[2017-09-01 06:28] aslushnikov commented on #643
Translation sounds like spam.

[2017-09-01 06:28] #643 closed, assigned to nobody

[2017-09-01 06:30] Tynael commented on #643
Yup, he opened the same issue for other 8 repositories. Lol.

[2017-09-01 06:56] Aaronphy opened #644 "Could you add a api to handle the "http authenticate"?"
In some cases ,  the staging environment , it has the limitation of IP , so it will popup the authrozation to ask user to input the password and username?

[2017-09-01 07:20] Aaronphy commented on #418
@aslushnikov  when I use , it shows "page.authenticate is not a function"

[2017-09-01 07:42] Aaronphy commented on #644
[#418 it works](https://github.com/GoogleChrome/puppeteer/issues/418)

[2017-09-01 07:42] #644 closed, assigned to nobody

[2017-09-01 09:05] Cyberpunkerplus commented on #643
it is a spam !

[2017-09-01 09:19] floydtagle commented on #610
hi, is there any solution to achieve this using puppeteer? The pdf Im trying to download is build on the fly, so its quite difficult to use Http Request and pass all the needed cookies or parameter to download the pdf. I try to catch it using the page request and response but still no luck on it. please I really need help on this. Thanks a lot!

[2017-09-01 09:37] pocketjoso commented on #562
You're saying timing api's don't function with javascript disabled? That's good to know - _would make sense to me to add this to docs for this method_. Any further info on this, f.e. what methods does this effect - just `setTimeout` and `setInterval`, or anything else?

[2017-09-01 09:40] pocketjoso commented on #562
And just checking with you - do you happen to know any way to wait in JS without using the timing api? Perhaps polling in `requestAnimationFrame` until the time has passed.. assuming `requestAnimationFrame` still runs when JS is disabled?

And I guess since I really want to be blocking and don't have any end user in theory I could just run a for loop until my time has passed, as hacky and ugly as

[2017-09-01 09:51] aslushnikov commented on #562
I'd expect `requestAnimationFrame` to not run for the same reason as `setTimeouts`. General rule: no callbacks will be called when javascript is disabled.

That would work. However, as you noted later, the best way is to measure time on puppeteer side.

[2017-09-01 09:51] #562 closed, assigned to nobody

[2017-09-01 10:05] aslushnikov commented on #610
@floydtagle this works fine in non-headless mode, so looks like a bug in headless. I filed upstream bug: [crbug.com/761295](https://bugs.chromium.org/p/chromium/issues/detail?id=761295)

[2017-09-01 10:43] aslushnikov opened #645 "Browser-level cookies API"
We need a way to fetch, add and remove cookies from browser:
[code]

When the #85 is implemented, the cookies will belong to the browser context. This will nicely explain cookie scoping: different pages from the same browser context share cookies, whereas pages from different browser contexts don't.

And once we have cookies on browser / browserContext, we can remove page's cookies api.

[2017-09-01 11:18] aslushnikov commented on #631
Thanks for reporting this. This is definitely a bug, I can easily repro.

[2017-09-01 11:58] homaily commented on #603
Hi @kaushik-sundar. I've wrote this sample on how to do it

https://gist.github.com/homaily/a432af95e5c3e72d3a584d435544bee0

The only external dependency you need is AWS-SDK and it's by default included in lambda functions.

[2017-09-01 13:02] cleavera opened #647 "Errors suppressed when downloading chromium through the install script"
When a connection issue occurs when downloading chromium during the install script the error is suppressed and fails silently.

This is caused by the following code:
[code]
I think it should be safe just to remove this catch as the `install.js` script catches it.

[2017-09-01 13:21] cleavera opened #648 "Proxy settings should be taken from npm config before environment variables"
Currently when installing behind a proxy to get the chromium downloader to respect the proxy settings you have to set the environment variables for `HTTP_PROXY` and `HTTPS_PROXY`.

For me personally I would expect the proxy settings to be taken from the npm config
e.g.
[code]
And then to fall back on the environment variables if needed.

[2017-09-01 14:27] michaelshiel commented on #478
I think it depends on how much the page is changing, in my experience it will stop sending frames if there are no changes on the page. I tried it on a youtube video, and I was getting at least 20 frames per second.

[2017-09-01 15:00] sean-hill opened #649 "How to prevent images from loading?"
Hey there, I'm coming from a Nightmare / Electron background. Within Nightmare I was able to set preferences like this to disable images from loading on the page:

[code]

I was wondering if there is a way to do this as well with puppeteer instead of the block images example in the repo. Thanks!

[2017-09-01 15:34] sean-hill commented on #545
@aslushnikov I would like this API as well. Thanks!

[2017-09-01 16:01] mmacaula commented on #299
One workaround I found (not ideal for sure), open chrome with a profile that has a download directory set:  Worked for me when i clicked a link that downloaded an audio file.  Then in your puppeteer script just wait for that file to appear and copy it over where you need to go.

[code]
see [here](https://superuser.com/questions/377186/how-do-i-start-chrome-using-a-specified-user-profile) for how t

[2017-09-01 16:50] sean-hill opened #650 "How to select iframe with a selector?"
Hey there, is there a way to use the `.childFrames()` function to lookup an iFrame with a CSS selector? For instance:

[code]

I'd like to use `iframe.super` as my selector to switch frames with. Thanks!

[2017-09-01 16:52] nisrulz commented on #299
@mmacaula I am looking for a way to download a file when Chrome is running in headless mode. If I am not running in headless mode, the file downloads perfectly into the `Downloads` folder which is the default location I guess.

Its a much sought after feature, already available in projects such as CasperJS

[2017-09-01 17:11] twalpole commented on #650
Duplicate of #433

[2017-09-01 17:11] aslushnikov commented on #647
Coincidentally, that just got fixed in https://github.com/GoogleChrome/puppeteer/pull/619

[2017-09-01 17:11] #647 closed, assigned to nobody

[2017-09-01 17:15] eknkc commented on #603
@homaily this will require a chrome build with shm disabled right? I believe we can not use the official builds on lambda because there is no /dev/shm provided.

[2017-09-01 17:25] homaily commented on #603
@eknkc haven't tried it yet but I suppose (and hope) headless chrome will work on lambda. Did you have any issues doing that? Because there are other projects already doing that.

[2017-09-01 17:31] aslushnikov commented on #648
@cleavera afaiu configuring global HTTP proxy with HTTP_PROXY env variable is the default approach - what are the scenarios when it doesn't work for you? NPM itself [respects them](https://docs.npmjs.com/misc/config#proxy).

[2017-09-01 17:32] mmacaula commented on #299
Oh yeah my mistake, It doesn't work with headless mode.  :(

[2017-09-01 17:34] aslushnikov commented on #649
So far there's no such option. Why doesn't the approach described in `block-images` work for you?

[2017-09-01 17:43] aslushnikov commented on #650
Thanks @twalpole

[2017-09-01 17:43] #650 closed, assigned to nobody

[2017-09-01 17:52] sean-hill commented on #613
Also a lot of websites use jQuery 🤒  And have code like `$(selector).on('change', () => {})` how could we trigger a change event after we set the value of a select box?

[2017-09-01 18:38] Garbee commented on #613
@sean-hill By firing the change event manually.

As far as React goes. It seems like your component would need to expose an API to programatically change the value. Just like `.value='whatever'` is doing. So look for one of those since they should exist.

Could someone provide a react-based sample test though? That would help loads in understanding the exact situation and how to resolve it.

[2017-09-01 19:21] nisrulz opened #651 "Wait for a specified time before closing the browser"
I am trying to wait for a few seconds before the `browser.close()` gets called, but haven't been able to do so in any way by following the api docs.

I have tried to use just before the call to `browser.close()`
[code]
and
[code]

What would be the best possible way to achieve a delay while the script is executing?

[2017-09-01 19:29] vsemozhetbyt commented on #651
If I understand correctly, `page.evaluate()` here returns immediately after `setTimeout()` call, not after timer's callbak returns.

Maybe you just need something like this?
[code]

[2017-09-01 19:31] sul4bh commented on #478
@michaelshiel you are right. I played a 25fps youtube video and got an average of 25 "frames" per second. ~~EDIT: Can't verify if the frames are generated only when the content of the screen changes.~~ EDIT: Verified

Also I got really high fps today. Not sure why it was low yesterday. Probably Chrome Canary got updated or something...

Also, it would be nice to have a `Viewport` option for `start

[2017-09-01 19:38] vsemozhetbyt commented on #651
If you do need an async delay, you can use something like this:
[code]

[2017-09-01 19:49] nisrulz commented on #651
@vsemozhetbyt Thank you so much, it worked 😄  . I totally missed the part that I could use `setTimeout` as it is.

Closing this issue now.

[2017-09-01 19:49] #651 closed, assigned to nobody

[2017-09-01 19:50] paulirish commented on #651
your page.evaluate attempt didnt work because the settimeout doesnt return a promise.

this probably the easiest tho:

[code]

[2017-09-01 20:25] sean-hill commented on #649
It doesn't work for me because the `request.resourceType` is `undefined` in every request that is made 😢

[2017-09-01 20:30] ebidel commented on #649
@sean-hill `request.resourceType` hasn't made it to a release yet. It was[ added 4 days ago](https://github.com/GoogleChrome/puppeteer/pull/590) :)

In the meantime, you can nom install from master or use the [demo's old approach ](https://github.com/GoogleChrome/puppeteer/pull/590/files#diff-27ffce13ddfe904190e4f878966614bbL27) for checking image requests.

[2017-09-01 20:31] aminjoharinia commented on #550
after many attempts finally chromium downloaded but there is not any folder like .local-chromium in node modules/puppeteer
does it support linux armh ?
could i manually download the file and unzip it?
here is the error
i also download and install all dependces

[code]

[2017-09-01 20:52] derekperkins commented on #623
@aslushnikov Is there anything else you can think of that we might try, or is this something wrong with `injectFile`?

[2017-09-01 21:20] icarusmiles commented on #603
I think the big leap here will be when Node 8 LTS comes out and when Lambda jumps to that.

The [chromeless](https://github.com/graphcool/chromeless) project does just this for now all included in a easy to install package. Unfortunately I've found it to be shockingly slow, unsure as the reasoning behind it - however if your application doesn't require user input / response then it should work out

[2017-09-01 21:27] hekod777 opened #652 "problem with rendering Angular 4 sample app Tour of Heroes"
Hi

When I tried to use rendertron and puppeteer to render the Angular 4 sample app Tours of Heroes, the angular 4 ngFor directives are ignored. All the content related to ngFor failed to render.

Due to the async request for heroes, Tour of Heroes actually has 2 stages of loading
1. load everything except for the ngFor stuff
2. load the ngFor stuff

It seems that headless chrome thinks that after

[2017-09-01 21:33] aslushnikov commented on #623
@derekperkins how big is a file you inject?

[2017-09-01 22:53] tannerlinsley commented on #623
Its the latest minified jQuery
On Fri, Sep 1, 2017 at 3:33 PM Andrey Lushnikov <notifications@github.com>
wrote:

[2017-09-02 02:03] #568 closed, assigned to nobody

[2017-09-02 02:04] #569 closed, assigned to JoelEinbinder

[2017-09-02 02:49] sean-hill commented on #649
Thank you!!!

[2017-09-02 02:49] #649 closed, assigned to nobody

[2017-09-02 02:50] nisrulz opened #653 "Not able to write a file to disc when executing puppeteer"
I have tried to use `fs` module to write to a csv file (append information), but it won't let me.
The issue I am getting is that I have a function outside the `run()` function  as below

[code]

error
[code]

Can someone help me out with what I might be doing wrong? I am just trying to call javascript functions while puppeteer code is executing.

[2017-09-02 05:07] uptownhr opened #655 "eval vs evaluate && frame.eval.. vs page.eval.."
Can someone please describe what the differences are and why page.$eval does not work? it seems only page.evaluate actually works.

[2017-09-02 06:04] floydtagle commented on #610
@aslushnikov Thank you so much, but my deployment is on linux server so I really need this functionality.. no choice I need to wait until this bug is fix.. Thank you so much again..

[2017-09-02 06:14] aslushnikov commented on #655
@uptownhr could you please post the code snippet that doesn't work for you?

[2017-09-02 08:35] ystop opened #656 "TypeError: page.setCookie is not a function"
my code :
‘’‘
(async () => {
  const browser = await puppeteer.launch();
  const page = await browser.newPage();
  await page.setCookie(
        {
            name :"aa",
            value : "bb",
            domain:".aa.cn",
            path: "/",
            expires: "2018-08-30T09:34:52.299Z",
        }
   await page.goto('xxxx', {waitUntil: 'networkidle'});
’‘’

[2017-09-02 09:31] pocketjoso commented on #562
In case anyone else needs to ~~ use timeouts inside `page.evaluate` while having JS disabled, `requestAnimationFrame` _does run_, and I implemented a sleep function that will always work inside page.evaluate like this:

[code]

[2017-09-02 10:07] vsemozhetbyt commented on #656
@ystop Maybe you need to update puppeteer up to v0.10.2.

[2017-09-02 10:26] vsemozhetbyt commented on #653
Can you provide a bit more detailed code, maybe some small complete example?

[2017-09-02 11:42] ghost commented on #290
thats resolve my problem.
OS -`Linux 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux`
npm - `5.3.0`
node - `v8.4.0`
1. set [packages](https://github.com/GoogleChrome/puppeteer/issues/290#issuecomment-322838700)
2. Run with root `echo 1 > /proc/sys/kernel/unprivileged_userns_clone` (work untill reboot, i guess)
3. run example `node example.js`
[code]
[description](https://

[2017-09-02 15:03] kaushiksundar opened #657 "APIs to set pdf meta information and password protect"
Is there a way to set the PDF meta information (the one shown in the below screenshot) and also add a password to open the document?

![screenshot](https://user-images.githubusercontent.com/5235298/29996502-63c20b42-901d-11e7-9ae8-78237084ace7.png)

[2017-09-02 15:12] saghul commented on #550
Looks like the downloaded version is x86_64, not arm:

[code]

vs the one in raspbian:

[code]

[2017-09-02 15:16] saghul commented on #550
Also, it doesn't seem to work with the version in raspbian anyway:

[code]

[2017-09-02 15:18] pocketjoso opened #658 "page.evaluate hangs on certain utf8 characters in args"
## Environment
Puppeteer: `0.10.2`
Node: `7.10.1`.
OS: `macOS Sierra`

Reduced test case - hangs forever:
**NOTE: cannot be reproduced via github as the character in question is lost :/**.
I can DM a text file containing it for you to reproduce.
[code]

[2017-09-02 15:46] aslushnikov commented on #656
@ystop indeed, what's your puppeteer version?

[2017-09-02 15:53] aslushnikov commented on #658
@pocketjoso can you post the character code? (e.g. ellipsis is `"\u2026"`)

[2017-09-02 16:00] pocketjoso commented on #658
According to the file I found it in (not mine) it was `'\f042'`(not confirmed)

[2017-09-02 16:03] nisrulz commented on #653
@vsemozhetbyt I will be traveling for some time. So will get back to you with an example code asap.

[2017-09-02 16:12] Garbee commented on #653
Doing a quick test with that structure works here. So something smells fishy with your exact code setup and scoping.

<details>
<summary>Test</summary>

[code]

</details>

[2017-09-02 16:12] tomerb78 opened #659 "Chrome extension is not loaded on headless browser"
running scenario with `headless:true` cause configured extension not to load.

[code]
With the same code running with `headless:false` - the extension is loaded as expected.

Is there any limitation with chrome extension loading on headless browser?

[2017-09-02 16:23] nisrulz commented on #653
@Garbee Thanks for the response. I can re check my code for scope issue and then respond back with the results.

[2017-09-02 16:33] aslushnikov commented on #659
Chrome Headless doesn't support extensions.

[2017-09-02 16:33] #659 closed, assigned to nobody

[2017-09-02 16:39] VikramTiwari opened #660 "How to get response out of puppeteer functions?"
Scenario:
- I am running a test script in browser to test my website
- It's checking a value which is being fetched from database
- I need to get that value out of the puppeteer function to use further in my test suite outside of browser based tests

[2017-09-02 16:40] androidfanatic commented on #660
Please post some code.

[2017-09-02 16:45] androidfanatic commented on #657
I believe Chrome devtools protocol only supports these options: https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF

Anything beyond that is probably outside the scope of this library.

[2017-09-02 18:08] nojvek opened #661 "Achieve consistent font rendering between different platforms."
It seems I get pixel perfect rendering on multiple runs in my mac. However running tests on an ubuntu bux doesn't give me the same render. The difference is between font rendering usually. Pictures and boxes render just fine.

It would be great if I could turn on pure CPU rendering even for fonts in puppeteer so I can do render diffs and test for UI perceived changes due to css.

[2017-09-02 18:19] pocketjoso opened #662 "load never fires when setting setRequestInterceptionEnabled to true (and disable JS)"
https://github.com/GoogleChrome/puppeteer/pull/565 fixed most cases I found with pages never reporting the load event in puppeteer, but I have here found another url that breaks in the same way - only after calling `setRequestInterceptionEnabled(true)`.

## Environment

Puppeteer: 0.11.0
Node: 7.10.1.
OS: macOS Sierra

## Reduced test case (updated)
### Js disabled + request interception => never

[2017-09-02 19:07] nojvek opened #663 "Add support for coverage module"
Chrome devtools coverage is pretty mind blowing. Its insanely fast. I'm guessing this is because v8 does some magic internally to record this.

Having puppeteer report coverage would be great. This means I can write asserts on coverage.

I don't think devtools provides source-mapped coverage info but that would be amazing.

[code]

[2017-09-02 19:12] nojvek opened #664 "Track unhandled errors with source mapped stacktraces"
Chrome Devtools exceptions shows mapped stacktraces.

Would be great if puppeteer could do that too. It's very common for devs to use webpack to bundle files.

Could be even a helper function to convert bundled stacktrace to source mapped stack trace.

We do this in vscode console : https://github.com/Microsoft/vscode-chrome-debug-core/pull/190 and its been a super helpful feature.

[2017-09-02 19:38] optikalefx opened #665 "Different behavior between { headless: false } and { headless: true }"
I'm curious to know what changes there are between running as headless true vs false. When I run a login to Amazon using `headless: true` I get an error from Amazon via the screenshot. But when I set `headless: false` I watch it work just fine, no error.

So I'm trying to figure out what `headless: true` is doing that is different from when it's not headless.

Thanks to any suggestions.

[2017-09-02 20:00] Garbee commented on #665
There could be any number of things going on. They could be looking for the `Headless` added to the UA string and blocking that. Or they could be using some techniques to detect automated access and prevent it.

If it works in non-headless and fails in headless then the site itself is doing something to prevent automated access. So you'd need to figure out what that is and work around it or move o

[2017-09-02 20:00] Garbee commented on #663
Duplicate of #320

[2017-09-02 21:08] eknkc opened #666 "PDF creation pixel sizes causes layout to change"
Hi,

When creating PDFs from a responsive web page, lets say the page has a css rule to show a narrower version below `1024` pixels screen width and we supply `width: "1024px"` to `pdf` function. The rule should not apply on this case however it does and the layout changes in generated pdf.

Only when the width parameter is **4/3** of the actual width of viewport, then the pdf has exact same layou

[2017-09-02 22:59] VikramTiwari commented on #660
Was similar to https://github.com/GoogleChrome/puppeteer/issues/653. Closing. Thanks for quick response. 👍

[2017-09-02 22:59] #660 closed, assigned to nobody

[2017-09-02 23:10] #663 closed, assigned to nobody

[2017-09-02 23:38] kaushiksundar commented on #665
I am also facing the same issue.

When Headless is `false`

```page url ===> http://lvh.me:3000/dashboard```

When Headless is `true`

[code]

[2017-09-03 00:10] Garbee commented on #665
Can anyone provide an actual example file to run that reproduces this issue?

[2017-09-03 00:31] ebidel commented on #657
Yep. Best handled by one of the many PDF libs out there.

On Sat, Sep 2, 2017, 9:45 AM AndroidFanatic <notifications@github.com>
wrote:

[2017-09-03 00:32] #657 closed, assigned to nobody

[2017-09-03 02:13] gavinfang-fi commented on #560
@zhuyingda  I have this issue too, after I installed all of packages you mentioned I still got the error.

(node:9431) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Failed to launch chrome!

LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1

[2017-09-03 02:16] optikalefx commented on #665
I will try to find something public that I can post. My example is confidential so I can't share it.

[2017-09-03 02:19] optikalefx commented on #665
@Garbee just FYI, I'm setting the UA, so I don't think that's it. And I'm performing things like delays and mouse movement etc. Since the only difference is the `headless: true` it leads me to believe that there is something going on in the lib, and not on the site that I'm scraping. But I will keep trying and hopefully will find an example to post.

Are there other kinds of debugging maybe that c

[2017-09-03 03:49] kaushiksundar commented on #665
@Garbee Here is the code. This happens only for localhost if I give the actual website URL (http://www.google.com... etc) it is working for both options.

[code]

Output:
`about:blank`

Expected output:
`localhost:3000`

If headless is false I am getting the expected output.

[2017-09-03 04:27] optikalefx commented on #665
I'll thicken the plot. I've started debugging the POST requests to my amazon login. When headless is set to true, Amazon is making an additional POST request that I don't recognize. That doesn't exist when headless is set to false. So that says to me something else is changing with this setting that I don't yet know.

[2017-09-03 04:32] zhuyingda commented on #560
@Dev-GavinFang Try to execute the `puppeteer/.local-chrome/linux-496140/chrome-linux/chrome -v --no-sandbox --disable-setuid-sandbox` and show me the error info?

[2017-09-03 04:55] optikalefx commented on #665
I've also inspected the request and response for both headless and non-headless. They seem to be identical in nature.

[2017-09-03 05:03] rsdsilveira commented on #290
@sh00tingStar   this worked for me. Same environmet here (Debian 9, node 8.4.0 and npm 5.3.0)

[2017-09-03 06:21] ystop commented on #656
@vsemozhetbyt  @aslushnikov  l update  the version, it's good ! Thanks.

[2017-09-03 06:21] #656 closed, assigned to nobody

[2017-09-03 06:40] 10W8K opened #667 "How can I get the raw size or content-length of the response?"
I mean some response is gzipped, I want to get the size, thanks

[2017-09-03 08:05] LoganDark commented on #665
In non-headless mode, screenshots work differently because my screen is in HiDPI mode (MacBook Retina). Here's one of the 'different' screenshots:
![example](https://user-images.githubusercontent.com/4723091/30001463-e8c4e492-9043-11e7-987b-249d5707aac5.png)

[2017-09-03 08:33] floydtagle commented on #610
Hi @aslushnikov  using non-headless do you have any suggestion or idea on how to save locally the pdf? Thanks a lot.

[2017-09-03 09:09] CaledoniaProject opened #669 "Send POST request to a page and take screenshot"
I'm wondering if I can do a POST request, follow the 302 redirect and take a screenshot?

Is it possible?

[2017-09-03 09:49] aslushnikov commented on #667
@alexyan do I get it right that you need the encoded size?

[2017-09-03 09:50] aslushnikov commented on #610
@floydtagle that's under development; see #299

[2017-09-03 09:52] aslushnikov commented on #669
@CaledoniaProject you can do a post request with fetch api from the page:

[code]

Would it work for you?

[2017-09-03 09:59] aslushnikov commented on #666
@eknkc could you please try "save as pdf" in regular chrome and see if there's any difference in behavior?

[2017-09-03 10:10] Garbee commented on #665
Remember the protocol is required for urls in `goto`.

@LoganDark that is a different issue completely. Please file your own for triage and discussion.

[2017-09-03 10:21] LoganDark commented on #665
Different issue? Well, I didn't know that because of the title.

[2017-09-03 10:22] eknkc commented on #666
@aslushnikov thanks for the suggestion, yeah I tried Chrome and it produces the expected PDF.

Here's a test case: https://output.jsbin.com/qogozes/1

This page has a div that is red above 1024px width viewports and yellow below it. When I use chrome it always creates a red PDF. With puppeteer though;

With any of these calls, I get a yellow PDF:

[code]

Only when I go above `1366px` width on `pd

[2017-09-03 10:22] LoganDark commented on #665
Reading the issue description as well, nothing stands out to me that would make my issue completely different. Here are the parts that made me think my issue *did* belong here:

[2017-09-03 10:26] CaledoniaProject commented on #669
Can you elaborate on the example? I need to simulate `curl http://www.google.com -d 'a=b&c=d'`

[2017-09-03 10:43] aslushnikov commented on #669
That was a speculative example :) I see now what you mean. Request Interception should do the job:

[code]

[2017-09-03 10:54] 10W8K commented on #667
that's right @aslushnikov

[2017-09-03 11:56] kaushiksundar commented on #665
@Garbee Yes giving the protocol in goto solves the issue.

[code]

If I don't give the protocol for google.com, am getting an error `Error: Protocol error (Page.navigate): Cannot navigate to invalid URL undefined` whereas for the above case I am getting `about:blank`. The error handling it done differently for localhosts.. Shouldn't it be giving the protocol error?

[code]

[2017-09-03 12:03] CaledoniaProject commented on #669
Looks good, thanks!

[2017-09-03 12:03] #669 closed, assigned to nobody

[2017-09-03 14:25] mikeys opened #670 "Page.goto fulfills a string on timeout instead of an error"
The following code is in `lib/NavigatorWatcher.js`. It's being used internally by `Page.goto`:

[code]

Note that the watchdog fulfills promise into a string as opposed to some kind of a rejected error (TimeoutError?).
Error handling is therefore not so elegant (need to check a string as opposed to catch a raised error inside a try/catch block).

Is this behavior by design?

[2017-09-03 14:53] Garbee commented on #665
@LoganDark Sorry about the poorly worded title for the issue. There is nothing I can do about that. Your issue is with screenshot functionality while this was opened about some navigational problems. They are entirely distinct separated issues. Therefore a new issue is required to focus on your problem.

@kaushik-sundar Throwing an error for missing the protocol is a good idea IMO. I'll need to lo

[2017-09-03 15:27] optikalefx commented on #665
My apologies on the title, but I do agree that protocol issue is separate. My issue is more related to something about the request from the browser is different when headless is on vs off, causing the site in question to act differently.

[2017-09-03 15:47] aslushnikov commented on #670
@mikeys Yes, it's by design. We avoid using errors and promise rejections to drive control flow.

[2017-09-03 15:47] #670 closed, assigned to nobody

[2017-09-03 16:36] rosshadden commented on #665
[Here](https://gist.github.com/rosshadden/251f8ca495d45067916b05d05b63e05e) is a gist of the problem.  With `params.isHeadless` as `false` the browser opens and the form successfully logs in, whereas with it `false` I get an auth error page (which I actually _cannot_ replicate through normal means no matter what kinds of correct/incorrect credential permutations I try to use).

Since the problem i

[2017-09-03 23:43] LoganDark commented on #665
Try `page.press('Return')` as well..?

[2017-09-04 01:13] rosshadden commented on #665
@LoganDark That didn't work either. I probably shouldn't have brought it up here at all, completely unrelated. Let's ignore it.

[2017-09-04 02:52] ystop opened #672 "Failed to download Chromium r497674! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download."
mac 10.12.5
node v8.4.0
npm 5.3.0
puppeteer  0.10.2

when l " npm install", l get this:

ERROR: Failed to download Chromium r497674! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
npm WARN backendbrowser@1.0.0 No repository field.
npm WARN backendbrowser@1.0.0 No license field.

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! puppeteer@0.10.2 install: `node install.js`
np

[2017-09-04 04:37] JoelEinbinder commented on #672
what happens if you run
[code]
Maybe you are behind a proxy or there is some other reason that the download is failing.

[2017-09-04 05:48] ystop commented on #672
@JoelEinbinder Thanks. Due to network, l do nothing, but  it's all right now.

[2017-09-04 05:48] #672 closed, assigned to nobody

[2017-09-04 06:04] JoelEinbinder opened #673 "Tap is flaky"
It looks like the tap method is flaky, or at least the test for it is.

https://travis-ci.org/GoogleChrome/puppeteer/jobs/271528560

[2017-09-04 07:59] floydtagle commented on #610
@aslushnikov Thanks!
 about [this..](https://bugs.chromium.org/p/chromium/issues/detail?id=761295), does it mean, that you cannot navigate to pdf in headless chrome? or what? Thanks!

[2017-09-04 08:07] glinford opened #674 "Ways to 'freeze' browser ?"
Hi,

It would be nice to add browser.freeze() / browse.unfreeze()  methods, to completely freeze the actions

Eg:

[code]

Typically we would need to lock this._connection.send() in Connection.js when the browser is 'freezed' to avoid more actions to be done in the 'frozen' state.

If this is something that you would think it's worth to add but you maintainers are too busy with other tasks, I'll b

[2017-09-04 09:09] wschay opened #675 "When generating a pdf of an SPA, only a single page is generated"
I'm trying to generate a pdf for an AngularJS 1.6 SPA, however only 1 page is generated despite there being more content on the page (i.e. it should generate more pages for the pdf as the generated grid is cut off half way).

I have set the networkIdleInflight to 1 on the page.goto to ensure that all the requests have completed

Many thanks,

Warren

[2017-09-04 09:31] WG-Com opened #676 "how to set proxy auth ?"
my proxy server has authentication
[code]

[2017-09-04 09:59] ledge74 opened #677 "Different screenshot between { headless: false } and { headless: true } for page.setContent"
When running puppeteer headless and using the setContent method, I observe a large difference in rendering for certain pages. Example attached for Dior landing page https://www.dior.com/home/fr_fr

**Headless false:**
![issue](https://user-images.githubusercontent.com/6603944/30021324-47f40744-9167-11e7-8cda-87bbae4d1ea9.png)
**Headless true:**
![issue](https://user-images.githubusercontent.com/66

[2017-09-04 13:15] ivibe opened #678 "Proxy for page"
Hi!

Could someone tell me, whether there's a possibility to set proxy not only for a chromium instance, but also for a page?

So the current solution is:
`const browser = await puppeteer.launch({
  args: [ '--proxy-server=127.0.0.1:9876' ]
});`

Desired solution in my case is something like this:
`const page = await browser.newPage({
  args: [ '--proxy-server=127.0.0.1:9876' ]
});`

With proxy pe

[2017-09-04 14:59] sjfricke opened #679 "Location of downloaded chromium"
Is there a way to show the file path of where it is downloading Chromium when running `npm i puppeteer` as I can't seem to ever find where it actually is downloading it

[2017-09-04 15:39] ebidel commented on #679
The path will change based on the platform that you install puppeteer on. [install.js](https://github.com/GoogleChrome/puppeteer/blob/master/install.js) has methods for finding that path. Something like this should work:

[code]

```info.executablePath``` will give you the binary's path. Useful when launching chrome: `puppeter.launch({executablePath: info.executablePath})`.

[2017-09-04 16:40] JoelEinbinder commented on #674
I don't understand how this is supposed to work. How does the second `page.click('.clickthis')` know to wait, but all of the screenshots and api calls resolve?

[2017-09-04 17:37] glinford commented on #674
Typically the second ```await page.click('.clickthis')``` will wait (or timeout) whenever browser.unfreeze() is called to execute.

My scenario is as follow:
- I have a set of actions,  If an action throws an error I want to freeze the browser (= not do next actions) to do necessary api checks
[code]

I hope my use case is clear ^^

[2017-09-04 18:11] juanchristensen commented on #676
+1

[2017-09-04 20:03] mcrowder65 commented on #672
Is there an alternative to this? I am trying to use this for pdf generation but our servers are pretty locked down to only using npm... is there an alternative download directly on npm?

[2017-09-04 20:11] pg1671 commented on #676
+1

[2017-09-04 20:38] mcrowder65 commented on #672
oh i found that my http_proxy and https_proxy's weren't set on jenkins :)

[2017-09-04 20:53] JoelEinbinder commented on #674
Instead of `browser.freeze`, it looks like you'd want `await page.click` to throw an error if clicking caused an error on the page.

It isn't that pretty, but you can replace your async function with a generator, and all `await` with `yield`. Then repeatedly `await generator.next().value`, but stop if an error occurs in between.

[2017-09-04 21:23] vs4vijay commented on #634
I tried installing dependencies using: `sudo apt-get install gconf-service libasound2 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 lib

[2017-09-04 21:39] JoelEinbinder commented on #661
Did you try adding `--enable-font-antialiasing` to the args?

[2017-09-04 21:41] JoelEinbinder commented on #678
You can use request interception to forward requests from each page to the correct proxy.

[2017-09-05 00:06] jessehattabaugh commented on #563
The only place I see this error mentioned is this line https://github.com/GoogleChrome/puppeteer/blob/64124df62f4e81999fe1a0ab45c6fb9718a0e413/lib/Page.js#L153

It's preceeded by `if (!this._ignoreHTTPSErrors) return;`. That seems wrong to me. Why would it *stop* handling certificate errors when `this._ignoreHTTPSErrors == false`. Shouldn't it be the other way around?

[2017-09-05 02:52] zenxds commented on #569
Thanks a lot. And what i want more is api like `touchScreen.touchStart` `touchScreen.touchMove` `touchScreen.touchEnd` to  emulate drag an element。Could support for it ?

[2017-09-05 04:15] JoelEinbinder commented on #569
I'm working on it as part of #158

[2017-09-05 04:59] Madd0g commented on #433
I'm interested in this as well, with regards to the script injection/evaluation capabilities.

Right now there's `evaluateOnNewDocument` and `exposeFunction`, both work on all frames(?), but is there a way of knowing which frame it's working on?

[2017-09-05 05:11] Madd0g opened #681 "Having trouble getting typing/pressing to work"
I'm not sure what I'm doing wrong, I even tried to add logging in `up()` in `lib/Input.js` to see if my commands end up in there (they do).

I tried using `page.keyboard.down/page.keyboard.up` and `page.press`, while having an input/textarea element focused. But nothing got typed in the input.

I used something like: `page.press("keyA")`

Is there a special trick for getting these to work? Anythin

[2017-09-05 05:22] JoelEinbinder commented on #681
did you try `page.type("some text")`?

[2017-09-05 06:58] Madd0g commented on #681
I saw it, but haven't tried that or `sendCharacter` because I'm working from keycodes.

I tried it now and it _does work_.

[2017-09-05 07:16] glinford commented on #674
Ah didn't think of generators, that would probably fulfill my use case.

[2017-09-05 07:16] #674 closed, assigned to nobody

[2017-09-05 07:55] cleavera commented on #648
Hi there, @aslushnikov sorry for the slow reply.

When doing an `npm install` behind the proxy we have always had to specify the config variables directly for npm. This may have changed for npm5 (I'm not entirely sure) but the default behavior would still be npm config, then environment variables. Some members of my team have only had the npm config variables set and they have had no issue downloa

[2017-09-05 08:44] androidfanatic commented on #648
@cleavera which OS and terminal program are you guys working with?

[2017-09-05 08:54] cleavera commented on #648
Combination of windows and mac. Powershell, cmd and bash

[2017-09-05 09:42] bogdan0083 commented on #676
+1. I still can't find a way to authenticate proxy using puppeteer. I tried to do auth like this:
[code]
but then chromium just crashes and nothing happens.

[2017-09-05 10:43] ystop opened #683 "pdf size not completely equal to the page. （l can repeat）"
this is my html:

[code]
when my option is :
{ printBackground: true, width: 1920, height: '2900' }
l should have 4(11600/2900 =4) pages and it is good.(see attachment one)

but when my option is :
{ printBackground: true, width: 1920, height: '1450' }
l should have 8(11600/1450 =8)  pages,but it give me 9 page and last one is blank page..(see attachment two).

[x1.pdf](https://github.com/GoogleCh

[2017-09-05 11:28] ivibe commented on #678
@JoelEinbinder could you show an example how can I forward request through SOCKS proxy using request interception?

[2017-09-05 13:40] haquezameer opened #684 "Clicking element inside iFrame does not give any response"
I am clicking an element inside an iframe which should give me a different frame/view, that is move into the view represented by that element. If i click the element manually,the url does not change. So, I guess only the frame is changed. The element is being clicked properly since there are no errors for that. However nothing happens when it is clicked and returns error when I do `page.waitForNav

[2017-09-05 14:16] onamission opened #685 "Puppeteer not installing on AWS ElasticBeanstalk instance"
I am attempting to install Puppeteer using an automated build script on AWS ElasticBeanstalk and am getting a failure that I can't reproduce on a nearly identical local Vagrant server when using the same version of nodejs, npm and puppeteer. The AWS server logs begins with:
[code]
and ends like this:
[code]
The only way I can replicate those last few lines (where the error occurs) on my local Vagr

[2017-09-05 15:36] blue-cp commented on #415
I am see this issue with other kind of redirects as well. There is no delay on this page. chrome resolves it right away

For example:
warning this is a phishing site
hxxp://apple-itunes-inc.com/?DYYHQ=36981.html

[2017-09-05 16:07] johnferro commented on #685
Can you check in the eb-activity log and see if there's any output from the install script?

[2017-09-05 16:17] onamission commented on #685
BAM!

Thanks @johnferro I found this in there -- which would be an issue:

[code]

[2017-09-05 16:38] ks07 opened #686 "Request Interception Cannot Override All Headers"
Using Puppeteer 0.10.2

The request interception API doesn't allow me to override (or indeed view) all the HTTP headers sent with a request. It does not appear to be possible to set the `Referer` header at all, and it is only possible to set the `Cookie` header if the browser is not already sending an actual value.

See this example script:
[code]

The `Referer` header is not sent by the browser.

[2017-09-05 16:40] aamorozov commented on #290
Worked for me on Circle CI with following pre-sets(Ubuntu 14.04, v8.4.0 (npm v5.3.0)):

**circle.yml**
[code]

part of the test includes:
[code]
Tests are executed using jest and running in parallel in Chromium without any issues.

[2017-09-05 16:45] onamission commented on #685
And, for anyone like me, who is new to this, here is how to fix this issue is to change your gulp script to include hidden (.dot) files ([see here)](https://stackoverflow.com/questions/32826200/gulp-src-include-files-but-ignore-all-folders)
[code]

[2017-09-05 17:23] nabati commented on #613
Doesn't this
[code]
actually just circumvent the underlying issue, that you can't click on certain elements? Will there be support for this in the future? I think this circumvention is more of an escape hatch than it should be a default approach.

[2017-09-05 17:44] td0m opened #687 "Inserting into a dialog with prompt? (Question)"
Hey, I would like to insert some data into a JS prompt [like this one](https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_prompt). Is that possible with puppeteer?
Thanks 😎

[2017-09-05 17:48] JoelEinbinder commented on #687
Yes. https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#event-dialog

[2017-09-05 17:49] #687 closed, assigned to nobody

[2017-09-05 18:14] aslushnikov commented on #665
@optikalefx The major change is a user agent - chrome headless identifies itself as `HeadlessChrome`. Try running the following script in headless and headful modes:

[code]

User agent is sent with every request as a [user-agent header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent). If there's a need, user-agent could be changed with the [`page.setUserAgent`](https://githu

[2017-09-05 18:14] #665 closed, assigned to nobody

[2017-09-05 18:24] aslushnikov commented on #675
Hi Warren,

Could you provide us with a repro? it's hard to see what's going on without an actual code snippet.

[2017-09-05 18:36] jupemara opened #688 "Why call `deleteCookie` in `setCookie` ??"
title says all.
https://github.com/GoogleChrome/puppeteer/blob/master/lib/Page.js#L219

[2017-09-05 19:18] aslushnikov commented on #677
If you add these lines right after `browser.newPage()`, it will work as expected:

[code]

Looks like Dior doesn't respond with css unless there's a `accept-language` header.

[2017-09-05 19:18] #677 closed, assigned to nobody

[2017-09-05 19:51] paulirish commented on #655
@uptownhr  just to make sure you're on >= 0.10.2?

[2017-09-05 20:26] JoelEinbinder commented on #688
This is to prevent duplicates of the same kind of cookie.

[2017-09-05 20:26] #688 closed, assigned to nobody

[2017-09-05 20:41] aslushnikov commented on #610
@floydtagle yes, chrome headless doesn't know how to navigate to PDFs. You can use [pdf.js](https://mozilla.github.io/pdf.js/) to render PDF if there's a need to.

[2017-09-05 20:41] #610 closed, assigned to nobody

[2017-09-05 20:43] aslushnikov commented on #634
@vs4vijay this looks like a debian issue, make sure to check discussion in #290.

[2017-09-05 20:55] aslushnikov commented on #661
@nojvek platform plays a huge role in text handling, doing both rendering and font resolution. It is hard to get a pixel-perfect runs on both mac and linux. I'd rather recommend using per-platform test expectations.

[2017-09-05 20:55] #661 closed, assigned to nobody

[2017-09-05 21:09] JoelEinbinder opened #690 "Expose function doesn't add to frames the first time."
It looks like exposeFunction is only running in the mainframe until a reload happens.

[2017-09-05 21:25] jessehattabaugh commented on #563
So I retested the change I made yesterday and it doesn't seem to work anymore. Feels like I never get the same result twice. However, the issue at hand is still occurring in [the example repo](https://github.com/jessehattabaugh/puppeteer-issue).

I discovered an important quirk; if you set `slowMo: 0,` the errors go away entirely. I turned it up gradually and the errors return at around 650 or so,

[2017-09-05 21:36] johnferro commented on #685
@onamission 👍 Glad you figured it out! Just wanted to note that you can be using elasticbeanstalk without gulp so your solution might not work for other people and a more general solution might be to make an ebextension that ensures the folder has the proper permissions in order to make the .local-chromium directory.  But as long as your solution is working for you I'd recommend closing this issue

[2017-09-05 21:39] aslushnikov commented on #433
#382 with object handles, you'll be able to pass in the owner document while calling `exposeFunction`.

[2017-09-05 21:49] Madd0g commented on #681
why close? `page.type()` is not what I need.

[2017-09-05 21:55] JoelEinbinder commented on #681
`page.type()` sends the proper keycodes. If you aren't trying to do something fancy, `page.type("a")` is probably what you want. See https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-keyboard

`"keyA"` is not a valid key, you want just `"A"`.

[2017-09-05 22:16] aslushnikov commented on #676
Dupe of #426

[2017-09-05 22:16] #676 closed, assigned to nobody

[2017-09-05 22:18] Madd0g commented on #681
I actually am trying to do something fancy, like holding keys :)
I thought I was supposed to send the `"code"` you get from a keyboard event (MetaLeft, keyA, keyS).

I tried sending just `"Meta"` and `"a"` instead, tried with `press/up/down` and none of them work for me. When I accidentally passed null in there, I got an error, so supposedly the values I'm sending are getting somewhere without err

[2017-09-05 22:28] aslushnikov commented on #678
@ivibe unfortunately, this is not possible for SOCKS proxy, you'll have to launch a separate browser instance for this case.

Out of curiosity, why would you need this?

[2017-09-05 22:29] aslushnikov commented on #684
@zamhaq thanks for reporting this, that's a bug.

[2017-09-05 22:30] aslushnikov commented on #415
This throws me into interstitial as well.

[2017-09-05 22:35] aslushnikov commented on #686
@ks07 Thanks for filing this. There's a [`page.setExtraHTTPHeaders`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetextrahttpheadersheaders) method which should be roughly equivalent to the `page.customHeaders`.

[2017-09-05 22:40] aslushnikov commented on #687
There's a snippet in the API: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#class-dialog

[code]

[2017-09-05 22:41] aslushnikov commented on #655
Speculatively closing this; feel free to write back if this doesn't work for you with puppeteer 0.10.2.

[2017-09-05 22:41] #655 closed, assigned to nobody

[2017-09-05 22:44] #685 closed, assigned to nobody

[2017-09-05 22:55] aslushnikov commented on #681
@Madd0g if you want to down "A", do

[code]

If you want to down "meta", do
[code]

Same for `up`/`press`. Is this what you need?
We also have a lot of [tests](https://github.com/GoogleChrome/puppeteer/blob/51a507b2361bed942a9cc1aa384c9350cc834286/test/test.js#L1292) to check that keyboard works as expected. Tests run many different scenarios, you might find some of them useful.

Also, the full li

[2017-09-05 23:25] jessehattabaugh commented on #563
@aslushnikov have you had a chance to checkout my example repo?

[2017-09-05 23:55] Madd0g commented on #681
Thank you for your reply.

From reading the tests, it seems I have misunderstood `press(key, [options])`, I thought it was a combination of down/up (down holds a key and up releases it which causes a character to appear), but it only actually types if `text` is passed as part of the options?

I see this in the tests, what does 'a' do here? The test only expects 'f' to appear.

[code]

Maybe I'm mi

[2017-09-06 00:47] JoelEinbinder commented on #681
by default, down just sends a `keydown`, but not a corresponding `input`/`keypress`

consider
[code]

this sends the key `1`, but inputs the text `!` if the `keydown` was not canceled. Key presses and text input are related, but they aren't the same thing. Depending on your keyboard layout, stranger things could happen.

[2017-09-06 00:55] aslushnikov commented on #681
You don't misunderstand anything, this will produce "abc".
Note though: you should use `page.keyboard.down` and `page.keyboard.up` methods, there are no `page.down` and `page.up`.  The [`page.press`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepresskey-options) is just a shortcut for `page.keyboard.down` and `page.keyboard.up` (check out [implementation](https://github.co

[2017-09-06 01:41] #679 closed, assigned to nobody

[2017-09-06 02:40] CommanderXL commented on #662
I have met the same scenes。Has this bug solved?

[2017-09-06 02:52] CommanderXL opened #694 "Can't log the request info."
Current Behavior:

I want to log the http request during the test. But I print nothing in the console.

Code:

[code]

[2017-09-06 03:09] ylscsdb commented on #593
I know the problem. Because the navigator bar of my page is in the div of the body, can‘t capture the whole page using the "page.screenshot({path: `${guid}.png`, fullPage: true})".

[2017-09-06 04:34] jupemara commented on #688
I understood. Thanks!!

[2017-09-06 05:36] aslushnikov commented on #694
You should set up 'request' listener before navigating page:
[code]

[2017-09-06 05:36] #694 closed, assigned to nobody

[2017-09-06 05:40] aslushnikov commented on #593
@ylscsdb I don't understand what's going on here. Could you please:
1. Tell if there's a bug or this issue could be closed
2. If there's a bug, share a full code snippet *including URL you try to load*
3. Explain what's the expected output of the script and what do you see instead

[2017-09-06 06:11] Madd0g commented on #681
Thank you for the detailed explanations.

Sorry, I have been using the correct `page.press` and `page.keyboard.down` (and up), I just messed them up in that "abc" example.

It doesn't work. I couldn't get any press/up/down command to go through.
I was passing my own keypresses to puppeteer (at first I was passing `event.code`, like "MetaLeft/keyA", then I switched to `event.key`, which looks like

[2017-09-06 06:29] aslushnikov commented on #681
@Madd0g could you please share the exact script that fails to do what you want? This will help a lot with debugging.

[2017-09-06 06:38] Madd0g commented on #681
I actually dug deeper now to see why the `page.type()` works while other methods don't. It uses this:

[code]

It also passes the `{text: char}` for every keypress.
So I tried that and now `press()` works for me! Now my keypress (one message) does go through and gets typed, but it only works for letters, not any special keys.

@aslushnikov - I was really hoping I was doing something obviously wron

[2017-09-06 07:11] 3fuyu commented on #623
The same problem happened on me.  I use Node6 also. But because of business need. I can't update node8. Is there any other way? @aslushnikov

[2017-09-06 07:24] 3fuyu commented on #623
@tannerlinsley  Did you fix it?

[2017-09-06 07:46] tannerlinsley commented on #623
Nope. Still a problem even in node 8
On Wed, Sep 6, 2017 at 1:24 AM zhangyu <notifications@github.com> wrote:

[2017-09-06 07:58] ivibe commented on #678
It's a pity.

My use case is web-scraping. Web-servers can block IPs or the proxy server can become inactive, that's why relatively often I need to change proxy.

Of course, I would like to avoid a perfomance hit related to launching many instances of chromium. Is there any chance, that such functionality (i.e. dynamic changing proxy) will be implemented in future chromium releases?

[2017-09-06 08:07] roben commented on #290
This fixed it for me, running the Debian Jessie AWS image, `--no-sandbox` and `--disable-setuid-sandbox` is not required. I updated the kernel from 3.something to 4.9 via backports earlier, so maybe this is required, too.

To persist this setting, add `kernel.unprivileged_userns_clone=1` to `/etc/sysctl.conf`.

[2017-09-06 08:46] Madd0g commented on #681
Aha, new discovery! Arrows work! If I press ArrowLeft, the keyboard down/up thing works. It doesn't work with letters or modifier keys (I tried ~~Shift~~/Meta). ~~So Shift+ArrowLeft does not select text like expected, but it does move one character to the left.~~

Correction: Shift works (possible to select text with Shift+ArrowLeft), meta doesn't (doesn't jump to beginning of text on CMD+ArrowLef

[2017-09-06 09:15] pocketjoso opened #695 "tear down of request listeners after page.close"
### Env
Puppeteer: 0.10.2
Node: v7.10.1
OS: macOS

### Problem
I want to avoid this error: `Protocol error (Network.continueInterceptedRequest): Target closed.`

[code]

### Suggestions
some ideas:
* Either make sure no events are sent to `request` listeners  after page.close (easiest for the consumer)
or
* make it possible to manually remove the listener
`page.removeListener('request', handleInte

[2017-09-06 09:21] xprudhomme commented on #537
+1 , I , would like too XPath selectors to be handled.

XPath is so much more powerful than CSS selectors when it comes to query the DOM. As it has previously been said, it's a pain not being able to select an element based on its text content (which often a lot), or to select nodes based on ancestors predicates ( for instant //*[@class='whateverclass'][not(ancestor::div[@id='abcdef'])] )

Home-ma

[2017-09-06 09:24] ks07 commented on #678
+1

This feature would be useful for me too, as I'm currently forced to launch multiple chromium instances if I need to access multiple URLs via different proxies. To add to what @ivibe suggested for use-cases, this could also be useful if you need to access resources behind firewalls with no common proxy that can pass through both. Alternatively, this would be useful if you wanted to test or scre

[2017-09-06 09:32] ivibe commented on #695
page.goto(someUrl) and page.close() return Promise. To avoid errors they must be preceded with await

[code]

[2017-09-06 10:05] kensoh commented on #537
XPath is really expressive, for example `and`, `or`, `contains` can be used to form very specific selection criteria hard to write or not possible with css selectors. However it is not straightforward to implement, and maybe considering after initial stable release is better. To reduce the additional work, fixes, updates prior to that, etc.

I'll highlight 2 examples why @leeroybrun implementation

[2017-09-06 10:07] codenoid commented on #290
thanks, it work perfectly @girishpatil

[2017-09-06 10:56] kaushiksundar opened #696 "Getting computed styles"
Is there a way to get the computed styles for an element?

**Use case:**
Testing UI consistencies - If I am able to get the computed styles for all the buttons in the page or application and do a comparison, I can say whether the buttons are consistent across the application.

[2017-09-06 10:59] phawxby opened #697 "HTML5 Video does not work"
Regular chrome plays videos when opened up directly or embedded using a HTML5 video tag, puppeteer downloads them when browsing to them directly and simply does nothing when included as part of a video tag.

![image](https://user-images.githubusercontent.com/1090602/30108512-8a4b3ec0-92fa-11e7-86b7-cdcf5edfe087.png)

![image](https://user-images.githubusercontent.com/1090602/30108918-31b070da-92fc

[2017-09-06 11:22] phawxby commented on #697
Update, does puppeteer not support mp4??
![image](https://user-images.githubusercontent.com/1090602/30109370-f8698382-92fd-11e7-9c06-09a6a515d53c.png)

[2017-09-06 11:27] odeds commented on #696
you can query the dom and use getComputedStyle inside a page.evaluate
you can apply something similar for querySelectorAll

[code]

[2017-09-06 11:32] CommanderXL opened #698 "SPA page crash."
Well, there are three pages in a spa web app.In the second page, it use the code to click a button, and it send a http request.I should jump to the third page correctly. But the current behavior is the page crashed. And the terminal print :

[code]

I was confused. If I delete the code

[code]

The page jump to the three correctly.But the test code can't run properly like it can't click any elemen

[2017-09-06 11:45] pocketjoso commented on #695
@ivibe I know, I just skipped it to make example clearer. Your "solution" does not address the problem this issue is about.

my actual use case is that my whole puppeteer execution is in a timeout, more like:
(still simplified - but the point is that `page.close` might happen before `page.goto` has resolved)
[code]

I'll update the first post to show this example to avoid confusion when leaving ou

[2017-09-06 11:51] Khady commented on #678
What are the supported proxy for this case?

[2017-09-06 12:08] DMQ commented on #257
@aslushnikov I got the same issue, has this issue been solved?

[2017-09-06 12:31] phawxby commented on #697
Ah, so it seems Chromium doesn't support mp4, only Chrome does.
https://www.chromium.org/audio-video

[2017-09-06 12:39] onamission commented on #491
Why is this closed? Is there a resolution that I am not seeing?

I am looking to do a similar thing and have run into the same problem. Please advise/

[2017-09-06 12:46] LoganDark commented on #665
From @Garbee:

From @Garbee again:

From @aslushnikov

Yeah, 3 times already I've been told to file a different issue.

I haven't. And I won't right now.

Stop telling me to.

[2017-09-06 13:38] Garbee commented on #257
When it is solved the issue will be updated with further information in regards to it.

[2017-09-06 13:40] Garbee commented on #491
#257 looks to be the root source of the problem here. Since hash navigation doesn't work. It is being looked into but no work has been done yet to resolve the issue afaik. That issue will be updated with further information when work is being done or completed.

[2017-09-06 13:40] Garbee commented on #697
duplicate of #291

[2017-09-06 14:17] #697 closed, assigned to nobody

[2017-09-06 14:46] optikalefx commented on #665
@aslushnikov we need to re-open this ticket IMO. I'm sorry that this issue had unrelated things in it. Setting the user-agent doesn't change anything - as in something is still different about the request. The result of that user-agent log after it's set is exactly what I set it to.

Can you think of anything else that changes when headless is set to true? Something that Amazon is able to detect?

[2017-09-06 15:00] Garbee commented on #665
There are [a few ways](http://antoinevastel.github.io/bot%20detection/2017/08/05/detect-chrome-headless.html) Amazon can be detecting headless access. Nothing can really be done internally about them if Amazon is implementing any techniques like this.

The only primary difference is the `Headless` in the UA string. Beyond that, everything should be functioning the same from the user perspective of

[2017-09-06 15:32] optikalefx commented on #665
@Garbee super interesting. So, why can't we just define things like language, plugins etc? I can't set things on navigator, but I can polyfill other methods to prevent detection. Maybe you guys can set the navigator settings?

[2017-09-06 15:35] optikalefx commented on #665
It looks like I can polyfill navigator using

[code]

[2017-09-06 15:37] derekperkins commented on #623
To be clear, @tannerlinsley and I haven't ever used node 6 with puppeteer, only node 8

[2017-09-06 15:38] trevordmiller opened #699 "Feature request: debugging inside test runners"
First, thanks for building such a great tool! Puppeteer is making end-to-end tests fun to write without all the flakiness of traditional e2e tests.

The debugging options are awesome:

[code]

However, Chrome isn't launched when this code is inside of a test runner; for example, with Jest:

[code]

Right now I'm using `page.plainText()` to debug output, but having the non-headless and slowMo optio

[2017-09-06 15:47] optikalefx commented on #665
Well I polyfilled everything in that article, and it passes all of those tests after the `goto` statement. But it still is getting caught.  quite interesting.

[2017-09-06 15:49] td0m commented on #687
@aslushnikov Thank you so much 😉

[2017-09-06 15:59] JoelEinbinder commented on #699
Does this code throw an error, or just not work? Or it works but you want it baked into Puppeteer?

Assuming Chrome isn't working, can you add `dumpio: true` to the options and see if there is anything useful in its output? Thanks!

[2017-09-06 16:06] JoelEinbinder commented on #696
So unfortunately there is a bug with `page.evaluate` where you don't get all properties of some native objects. For now, you can hack around it like this:
[code]

[2017-09-06 16:26] JoelEinbinder commented on #698
are you awaiting `nextBtn.click()`?

[2017-09-06 17:27] diit opened #701 "Concurrency to avoid memory leak"
Current:
[code]

When I attempt to move the puppeteer init outside the consumer, I can't access the browser variable from the scope of the handleMessage function. The above code results in many windows being spun up and eventually leaking memory. Any ideas?

Consumer is consuming a AWS SQS feed, for context.

[2017-09-06 17:33] trevordmiller commented on #699
@JoelEinbinder It wasn't working and a `dumpio: true` didn't have any useful output so I tried wiping and reinstalling `node_modules` and that did the trick: it is working now. So this doesn't seem to be a problem in Puppeteer, sorry for the issue. Closing now.

[2017-09-06 17:33] #699 closed, assigned to nobody

[2017-09-06 18:00] ghost opened #702 "https://github.com/cmgraff/grafland"
https://github.com/cmgraff/grafland

[2017-09-06 18:06] JoelEinbinder commented on #702
I don't understand.

[2017-09-06 18:06] #702 closed, assigned to nobody

[2017-09-06 18:19] yuliyan opened #703 "Full page screenshot is not using viewport size for `vw` and `vh` CSS."
Using `fullPage: true` option with [Page.screenshot](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagescreenshotoptions) seems to be messing `vw` and `vh` CSS units, even though page size is set with [Page.setViewport](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagesetviewportviewport).

[2017-09-06 19:20] rosshadden commented on #665
@aslushnikov While my gist doesn't have a UA set, setting it was the first thing @optikalefx tried when we discovered this problem.  What I can do is update my gist with setting the UA and the polyfills/workarounds we have tried since.

[2017-09-06 20:54] ManuSevenval opened #704 "Best way to wait for request to finish in e2e-test"
I want to use puppeteer with jest for running e2e-tests.
therefore i wrote the following test:

[code]

Now I am wondering:

1. What would be the best way to watch one specific request? (instead of my regex in the response event handler)
2. Whats the best way to wait for this specific request?

Because depending on the response times of my server the test suceeds, or fails with the message:
`Timeo

[2017-09-06 20:57] trevordmiller opened #705 "Feature request for page.waitForSelector() reverse"
I often want to wait for an element to disappear before continuing; right now, I'm adding selectors for both existing and removed situations (for example, when a modal is open and closed) so that I can use something like:

[code]

But having to add a non-existent element (ie `noModal`) to check that a selector has been removed seems odd; could we get a `!` reverse/negate option or something like i

[2017-09-06 21:42] onamission commented on #257
I am not sure if this is completely relevant to this thread, but I just created a script that allows us to  navigate to hashes on a page to take various screenshots. The reason I question the relevance is because we have some JS working in the background that assists our navigation, so I don't know if this script would work without the page JS or not. Anyway, here is what works for me (sorry, it i

[2017-09-06 22:17] JoelEinbinder commented on #705
Will this work for you?
[code]

[2017-09-06 23:01] trevordmiller commented on #705
@JoelEinbinder Yeah that works but I think it would be helpful to have as a first-class option; maybe `page.waitForSelectorRemoval()`. I do this often and feel others would as well but maybe I'm in the minority here, in which feel free to close the issue.

[2017-09-06 23:14] trevordmiller opened #706 "headless: false improvements"
The debug option is very helpful! Referring to:

[code]

However, it doesn't activate/focus the opened Chromium app so you need to wait for the app to open then quickly activate it. Example:

![puppeteer-debug](https://user-images.githubusercontent.com/5497885/30138557-319dfdf4-9326-11e7-9450-06e52a51a025.gif)

Ideally it would be awesome to have a pause/play button and Chromium opens paused at fi

[2017-09-06 23:27] JoelEinbinder commented on #706
Sounds good! There's been talk about adding a protocol method to focus the inspected page. I'll see what I can do about this one.

In the meantime you can debug your Puppeteer script with `node --inspect-brk`, and then step through it with DevTools.

[2017-09-06 23:28] JoelEinbinder commented on #705
I'll close this issue, but if there is a lot of support for it we can revisit it.

[2017-09-06 23:28] #705 closed, assigned to nobody

[2017-09-06 23:31] jb55 commented on #290
doesn't seem to work on nixos even with all the solutions above. dumpio shows no output :(

[2017-09-07 00:00] Garbee commented on #706
I think this focusing problem is all based on your window manager. On Linux for example, mine focuses on any interaction or creation of a new window. The only time it doesn't is if I'm on another physical workspace (since workspaces aren't shifted based on window behavior.) This looks to be the same thing happening on Mac OS.

[2017-09-07 02:47] trevordmiller commented on #706
@Garbee Window managers per operating system play a role in the default behavior of new windows, but I believe Puppeteer can still do something about it as some tools I use auto-focus launched apps. For example, `electron` starts up an electron app and focuses it. Here is an example with electron where I'm not pressing any buttons or using the mouse (completely automated) after I run `electron .`:

[2017-09-07 02:53] DMQ commented on #257
@Garbee thanks!

[2017-09-07 03:03] ghost opened #707 "Get 'timeout ' error if headless set to true"
`const puppeteer = require('puppeteer');

(async () => {
  const browser = await puppeteer.launch({
  	headless:false
  });
  const page = await browser.newPage();

   browser.close();
})();`

when i change 'headless' to 'false' everything is 'ok'

actually,headless mode is too slow,it take 8minuites to open page
in full head mode only take 30sec

[2017-09-07 03:04] DMQ commented on #257
@onamission thanks! It is works for me.
[code]

[2017-09-07 03:31] ystop commented on #683
export pdf,
my web page's html :

[code]
my page.pdf's options:
[code]
 it give me 9 page and last one is blank page..  it should  8(11600/1450 =8) pages

[2017-09-07 04:22] avimar opened #709 "Feature Request: wait for selectors array (race)"
I often wait for one of multiple possible selectors -- an success or error result. I'm assuming this is a pretty common use case. (It's a `race`, not `all`.)

I write a helper function like so:

`page.waitForFunction("document.querySelector('#email') || document.querySelector('#success')");`

Is there instead a way to do pass an array to `waitForSelector`?

Preferably, the `Promise` would return _

[2017-09-07 10:10] WG-Com commented on #676
can you put it into example folder ? i add proxy-Auth.... header ， not work , many people care about this question  @aslushnikov

[2017-09-07 12:57] leeroybrun commented on #537
My implementation was really simple, and only tested on one of my personnal projects.
The goal was mainly to open the discussion and see if it was something needed by others too.

Regarding the point 2, the `$XPath` function was the equivalent of the `$` one in the API (selecting only one element).
I've made a separate `$$XPath` function (equivalent of the `$$` one) using the `ORDERED_NODE_SNAPSHO

[2017-09-07 13:36] Garbee commented on #707
This looks to be something with your system configuration or network. It runs in a sane amount of time for me.

<details>
<summay>Time with headless</summary>

[code]

</details>

<details>
<summary>Time without headless</summary>

[code]

</details>

[2017-09-07 16:38] rossj commented on #666
I've had some similar issues, and whenever I think I have it figured out, its gets weirder.

So, first off, any dimensions sent to `pdf()` are first normalized to inches, using Chrome's 96 PPI value. Then, during the actual print operation, it appears that the page's viewport is sized such that there are something like 140.5 pixels per inch of desired PDF (at a scale of 1).

So, in the example abo

[2017-09-07 16:39] ebidel commented on #704
This is a good question for StackOverflow :)

What you have works, but you could also try the waitFor* methods. In particular,
 [`page.waitForNavigation`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagewaitfornavigationoptions) or `page.waitForFunction` might be useful.

I see a couple of options for fixing the timeout issue:
- mock the API response instead of making a live

[2017-09-07 16:39] #704 closed, assigned to nobody

[2017-09-07 17:13] ebidel commented on #652
A URL and code that repros the issue would be helpful.

[2017-09-07 18:15] andrewodri commented on #709
I was just looking the code for `waitForFunction` and `waitForSelector` myself; from what I gather, refactoring `waitForSelector` to accept arrays would requiring introducing an additional parameter defining whether the the array of promises should be a race or all, and of course all the logic that goes along with it.

It looks like [waitForSelector ](https://github.com/GoogleChrome/puppeteer/blob

[2017-09-07 18:30] mityok opened #711 "Ubuntu puppeteer 'executablePath' and launch issue"
I'm running puppeteer on ubuntu and i'm having issue with the latest chromium (62.0.3188.0) the puppeteer installs, for some reason it doesn't support ffmpeg, i've tried to use other revisions and pointing it to another (chrome) installation via 'executablePath'. but then the puppeteer just launches the browser and gets stuck on the launch.

any help would be greatly appreciated

[2017-09-07 18:43] ebidel commented on #711
Chromium doesn't support codecs like mp3 out of the box. You'll need an official distribution for that.

In the past, I've had success on ubunutu with the latest chrome package (chrome 62 now):

[code]

You're using `browser.launch({executablePath: 'google-chrome-unstable'});`?

[2017-09-07 19:18] mityok commented on #711
thank you! that really solved it.

[2017-09-07 19:18] #711 closed, assigned to nobody

[2017-09-07 19:20] Garbee commented on #711
MP3 support should be coming to Chromium soon though. The patents have now expired to it. Not sure when the work on that is planned (having a hard time finding the issue in crbug.) But, Google Legal as I understand it has approved bringing it to the open-source side.

EDIT:

And found the [tracking issue](https://bugs.chromium.org/p/chromium/issues/detail?id=746579) on MP3 coming to chromium. For

[2017-09-07 19:42] avimar commented on #709
Thanks for the ideas!
I have to make sure I even know what you're doing with the promises there...

[2017-09-07 20:22] twalpole commented on #709
A much simpler solution is to just use the CSS comma

    page.waitForSelector('#email, #success')

[2017-09-07 22:29] paulirish commented on #709
@twalpole nice solution. it'll look for all of those and match the first time there's a satisfactory element.

https://github.com/GoogleChrome/puppeteer/blob/272fb4d9935552ff6eb1e6aae39b4f745cbed977/lib/FrameManager.js#L353-L361

[2017-09-08 00:10] andrewodri commented on #709
@paulirish I have no idea on the project roadmap (or how lean puppeteer is intended to be), but is there any desire to resolve the the promise with the `remoteObject` returned by `document.querySelector`?

Just eyeballing it, but it seems like success variable in the `rerun` function would already have a copy of the serialized `remoteObject` in it.

https://github.com/GoogleChrome/puppeteer/blob/6

[2017-09-08 00:19] paulirish commented on #709
i don't make the call, but i personally wouldn't expect this feature to be landed.
seems better for an external "puppeteer plugin" module to introduce it.

[2017-09-08 01:56] rossj commented on #666
After a bit more investigation, I determined that the nominal print-to-PDF scale _is_ 144 pixels per inch (2 pixels per point), but that Chrome will adjust this value within some range if the whole page is close to fitting in the designated PDF size.

By adding extra grids to my test page above, to make the page's body larger, I was able to get out of this extra scaling logic. Then, requesting a 1

[2017-09-08 01:59] #696 closed, assigned to nobody

[2017-09-08 02:04] aslushnikov commented on #698
@CommanderXL indeed, it looks like awaiting the `nextBtn.click()` should do the job.
Speculatively closing this, feel free to write if things still don't work for you.

[2017-09-08 02:04] #698 closed, assigned to nobody

[2017-09-08 02:07] aslushnikov commented on #701
@diit you should either close the browser after you finished working with it, or you should reuse the same browser instance and close the page.

For example:
[code]

[2017-09-08 02:07] #701 closed, assigned to nobody

[2017-09-08 02:10] aslushnikov commented on #703
@yuliyan could you please share with us a reproduction scenario, including script, page you try to screenshot and actual/expected outcomes?

This would save us a ton of time figuring what's going on.

[2017-09-08 02:14] aslushnikov commented on #706
@JoelEinbinder you can focus the tab with [`Page.bringToFront`](https://aslushnikov.github.io/vanilla-protocol-viewer/#Page.bringToFront)

[2017-09-08 02:16] aslushnikov commented on #683
@ystop do you observe the same behavior with headful chrome and it's "save as pdf" feature?

[2017-09-08 02:22] aslushnikov commented on #707
@Luthfifs I can't repro this as well. It does look like something's going on with your environment.

Closing this for now. If there's a good reproduction scenario, feel free to write here.

[2017-09-08 02:22] #707 closed, assigned to nobody

[2017-09-08 02:22] nazieb commented on #623
I also got this error when injecting Puppeteer with jQuery and Mozilla [Readability](https://github.com/mozilla/readability).

In our case we even don't navigate to a URL. I just set the HTML using `setContent` with string we got from cache.

[code]

[2017-09-08 02:26] aslushnikov commented on #652
@hekod777 it's hard to judge without reproduction steps, but generally you can use `waitUntil: networkidle` option of the [`page.goto`](https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options) method. Most of the time it will wait until the page is "loaded enough".

[2017-09-08 02:45] ghost commented on #707
Yeah,something wrong with my environment
I test in other computer ,everything is 'ok'

[2017-09-08 03:40] hekod777 commented on #652
Never mind.

Found the problem.

It's because the tutorial Tour of Heroes actually used a thing called InMemoryWebApi to fake the api call and data. And headless Chrome was simply smart enough to figure out that it's a fake api call and ignored it!

that's why it failed to render those async request content.

thx everyone!

[2017-09-08 03:58] #652 closed, assigned to nobody

[2017-09-08 04:10] avimar commented on #709
My usual `waitForSelector` doesn't necessarilyl mean that I'll be working with that selector. But sometimes I do.
What are the considerations for landing something like this? Returning the element would surely provide a truthy result. So, is there a performance consideration?

[2017-09-08 05:08] yuliyan commented on #703
An example page that's using `vh` CSS units - http://jsbin.com/fawerivecu/edit?html,css,output.

**Script:**
[code]

**Expected Result:**
![expected_result](https://user-images.githubusercontent.com/2722412/30196887-9eb06188-946c-11e7-95d5-a46ba6f6e5ea.png)

**Actual Result:**
![actual_result](https://user-images.githubusercontent.com/2722412/30196890-a84bd6a0-946c-11e7-8021-967e415f1ac0.png)

[2017-09-08 06:22] SkeLLLa opened #713 "page.setExtraHTTPHeaders not working"
### Steps to reproduce

* Puppeteer version: latest
* Platform / OS version: linux

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. call `page.setExtraHTTPHeaders({'x-my-header': '1'})` assuming page is apropriate object

**What is the expected result?**
Puppeteer will set extra headers

**What happens instead?**
[code]
### Steps to fix

Change docu

[2017-09-08 09:06] codenoid opened #715 "Puppeteer process wont exit."
hi, i run `node mypuppeteerapp.js` from another app (looping app), and when puppeteer has finished the process, he doesn't exit the process, and just like, like i run some process with `&` , thanks

[2017-09-08 09:11] codenoid opened #716 "retry feature ?, (puppeteer won't run after hit timeout in goto() )"
hi, i run `node mypuppeteerapp.js` from another app (looping app), and when my puppeteer hit the timeout, he showing a message then nothing else happens, and the following process are not run

[2017-09-08 09:26] Janpot commented on #547
@aslushnikov Did you consider using an interface like `Headers` in the Fetch API?
https://developer.mozilla.org/en-US/docs/Web/API/Headers
Also, I didn't fully review your solution, but did you consider that there are headers that can be defined more than once (`set-cookie`)?

[2017-09-08 09:32] xprudhomme opened #717 "Opening page after setting cookies from previously saved cookies does not work (not logged in)"
** Environment:**
* Puppeteer version: v0.10.1
* Node version: v8.4.0
* Platform / OS version: Ubuntu 14.04
* Url: linkedin.com

** Steps to reproduce?**
First step:
- Open a new browser
- Open home page (we are logged out at this stage)
- Fill in login details (email, password)
- Click on the log-in button (submit)
- Get and save cookies
(Everything works fine up to here, we are logged-in and the

[2017-09-08 09:52] codenoid commented on #715
[code]
.
 `with a non-zero exit code.`
.
.
and nothing

[2017-09-08 13:38] liutian commented on #623
The same problem happened on me. I use Node8.4.0 centos 7
Linux centos 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Error: not opened
      at WebSocket.send (/home/visionet/spa-seo/node_modules/ws/lib/WebSocket.js:355:18)
      at Connection.send (/home/visionet/spa-seo/node_modules/puppeteer/lib/Connection.js:72:14)
      at Browser.newPage (/home/visi

[2017-09-08 14:47] adamblok opened #718 "Unable to catch exceptions when headless is turned off"
Hello,

There is a simple code:

[code]

And in case of any error I still have message about **unhandled promise rejection**.

Interesting fact is that, when I turn off the headless mode, everything works well then. It looks like a bug.

[2017-09-08 14:47] dcy0701 commented on #716
+1
but `async ` is  inconvenient for retry

[2017-09-08 15:49] blue-cp opened #719 "Get ssl certificate"
I am unable to get ssl certificate. I went through all the documentation and response object I couldn't figure out a way to get SSL certificate.

I would like to inspect the details of SSL certificate.

Is it even possible with current puppeteer API?

No luck on stackoverflow:

https://stackoverflow.com/questions/46108756/how-to-access-ssl-certificate-content-using-chrome-puppeteer

[2017-09-08 16:46] thetutlage commented on #681
I having some issues when trying to hold the `Shift` key and type. Ofcourse I may be doing it wrong.

[code]

Using the above I was expecting `hello` to be all uppercase, but it's all lowercase

[2017-09-08 17:19] aslushnikov commented on #703
Thanks, that's a bug with full page screenshots. Filed upstream: [crbug.com/763421](https://bugs.chromium.org/p/chromium/issues/detail?id=763421)

[2017-09-08 17:24] aslushnikov commented on #547
@Janpot we tried implementing Fetch API, but it turned out we can't implement match of the `Request`/`Response` interfaces. See #106