[2021-06-26 09:02] yarekc opened #7381 "puppeteer and addScriptTag : This document requires 'TrustedScript' assignment"
Since latest chrome update, I am not able to inject Jquery any more:

https://stackoverflow.com/questions/68140810/puppeteer-and-addscripttag-this-document-requires-trustedscript-assignment

ALl these fail:

[code]

Any idea ?

[2021-06-26 15:15] ghost opened #7382 "logo image cut off"
I am using Puppeteer version 10.0.0 and Node version 14.4.0

I am generating a PDF from html markup using puppeteer and it prints a logo at the top of the page, so just a single image which isn't very big. This image is fetched from a CDN.

The issue is that a lot of times the image is not rendered properly. Sometimes it is fine but like I say, a lot of times it isn't. I don't know if this is beca

[2021-06-26 18:47] #7382 closed, assigned to nobody

[2021-06-27 08:46] stzahi opened #7383 ""npm i puppeteer" is not working"
Trying to add the package
`npm i puppeteer`
get the following result:

content of log file:

[2021-06-27 09:34] stzahi commented on #7383
Seems like it was a local Nodejs problem on my machine.

[2021-06-27 09:34] #7383 closed, assigned to nobody

[2021-06-27 13:26] luneice opened #7384 "How to solve Error: net::ERR_INSUFFICIENT_RESOURCES?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:^9.1.1
* Platform / OS version:ubuntu 18.04
* URLs (if applicable):
* Node.js version:14.14.0
* Chrome version:91.0.4472.114

**What steps will reproduce the problem?**
When using puppeteer controls Chrome, there are too many pages to handel, after few moments it got a error like this:
[code]
So how to solve this prob

[2021-06-27 13:38] tomasAlabes commented on #550
Having installed the `chromium` dependency, I used `{ executablePath: 'chromium' }` and it worked.

[2021-06-28 04:13] fajarikhsan22 opened #7385 "how to load extension using puppeteer.connect() method?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.0.0
* Platform / OS version: windows 8.1 and Ubuntu
* URLs (if applicable):
* Node.js version:  14

**What steps will reproduce the problem?**
i use gologin service. gologin is a browser antidetect service where I can fake my browser identity / can manage browser fingerprint. so I can freely do web-scrapping witho

[2021-06-28 08:11] mathiasbynens commented on #7381
Which page are you trying to inject jQuery in? Does it have a CSP set? In that case, you might wanna try `await page.setBypassCSP(true)`.

[2021-06-28 08:11] #7381 closed, assigned to nobody

[2021-06-28 16:47] beemi commented on #6630
These options doesn't work on Ubuntu latest

[2021-06-28 16:55] beemi commented on #6630
`export $DISPLAY`

Should work

[2021-06-28 16:57] beemi commented on #5429
`export $DISPLAY`

Chrome launch options need to set as below.

` args: [
        '--no-sandbox',
        '--disable-setuid-sandbox',
        '--disable-dev-shm-usage',
        '--disable-extensions-except=' + this.extensionPathBuildPath,
        '--load-extension=' + this.extensionPathBuildPath
      ]`

[2021-06-29 02:40] ITmaze commented on #1884
Is this still the way to discuss puppeteer? The link isn't valid any longer.

[2021-06-29 13:57] milczarekIT commented on #3847
`pageRanges` did not resolve the problem. Looks like generating pdf with 500+ pages with pageRanges ('1-4') and with default config take the same amount of time.

I am not able to split html before rendering, because my data is dynamic with a lot of entries of data, so I am not able to predict where is the `page break`

[2021-06-29 14:17] Sharlaan commented on #7073
Same issue with Node16, Puppeteer10, Windows10
against url
[original dynamic paginated url](https://www.p2r-expert.com/fr/63-pneumatiques#/manufacturer-michelin_m/page-3)
which resolves into :
[redirected url](https://www.p2r-expert.com/modules/blocklayered/blocklayered-ajax.php?layered_manufacturer_45=45&id_category_layered=63&orderby=relevance&orderway=desc&page_name=category&selected_filters=/m

[2021-06-29 16:35] rowan-m commented on #7269
I believe this is now closed with the merging of #7378

[2021-06-30 07:22] #7269 closed, assigned to jschfflr

[2021-06-30 07:23] mathiasbynens commented on #7269
Hurray! Thanks for implementing this, @rowan-m!

[2021-06-30 08:13] andrekristanto1798 commented on #3335
You can try use this snippet to cache manually

[code]

[2021-06-30 08:21] hvgeertruy commented on #7317
This seems to have been fixed in puppeteer 10.0.0.

[2021-06-30 08:21] #7317 closed, assigned to nobody

[2021-06-30 09:13] Sangamchoudhary commented on #6235
i have an issue
actually when i clicked on a page it opens a diff tab
now i wanna acces that tab and do some work there

`const puppeteer = require("puppeteer");
let page;
console.log("before");
// launch browser

var browserOpenPromise = puppeteer.launch({ headless: false });
browserOpenPromise
  .then(function (browser) {
    const pagesArrpromise = browser.pages(); // get all tabs of browser

[2021-06-30 09:37] sfeliceSNC commented on #6235
Here is what I ended up using.
At the top of my test I declare -   let newPage
Then I call a method I have in another file - newPage = await SNC_confBase.clickConfigureBaselineButton(taskGroup, task, card)
After I'm done with the new tab I close it like this - await newPage.close()

async clickConfigureBaselineButton(...args3) {
        try {
            const [target] = await Promise.all([

[2021-06-30 11:58] icsaba commented on #1191
any update on it? i need to intercept a request / response based on content-length. any advice ?

[2021-06-30 12:11] shubham242k commented on #3339
Its been almost 3 years and still no luck!!

[2021-06-30 13:15] iocron commented on #4046
I've used a Promise Timeout as a workaround to solve this, its not what I really wanted, but its better than nothing :D

[code]

A more dynamic way would be do detect all background images set by CSS/Inline-Style, then evaluating them if they have been fully loaded. Something like (this is just a example for img tags, but can be rewritten into detecting background images as well):

[code]

But it

[2021-06-30 14:44] milczarekIT commented on #4965
@bh-hsi, @TigranTheGreat have you found a solution for this problem?
I have the same issue

[2021-06-30 14:57] sadym-chromium commented on #7259
Could you please provide a little more details?

[2021-06-30 15:00] sadym-chromium commented on #7251
try to use `captureBeyondViewport: false`: https://github.com/puppeteer/puppeteer/pull/7063

[2021-06-30 16:46] juveria-manzar commented on #5429
How did you resolve?

[2021-06-30 17:33] Fabiomad85 commented on #5429
my solution was to allow xhost from remote with the command "xhost +"
before puppeteer ececution

On Wed, 30 Jun 2021, 18:46 Juveria Manzar, ***@***.***> wrote:

[2021-06-30 17:40] rhadamez commented on #1853
This one here really solved the problems.

[2021-06-30 17:42] svanherk commented on #7251
Adding `captureBeyondViewport: false` does seem to fix the scenario above!  After adding that, no resize events occur.

[2021-06-30 20:49] bh-hsi commented on #4965
@milczarekIT With the latest Puppeteer, you can key onto font events and other page load events that ensure that all of the resources are finalized - the only other solution that we implemented was bringing all fonts and outside frameworks (Bootstrap, for example) local to the file system, so that loading is faster, and render the PDFDs using Handlebars and `setContent()` to speed up page renderin

[2021-07-01 02:49] OldChi commented on #2377
cool, that works for me. By the way, how do you get to know the argument _--ignore-certificate-errors_? I didn't find it in pyppeteer documentation.

[2021-07-01 07:57] hfisiteimprove opened #7391 "Q: createCDPSession - will it be closed by page.close()?"
Simple question on the createCDPSession.

Do we have to run a .detach() or will page.close() also close the CDPSession?

[2021-07-01 10:39] ajsaule commented on #4992
Experiencing the same issue, have the following code implemented in my script..

await page.setRequestInterception(true);
  page.on("request", (request) => {
    if (paused) {
      pausedRequests.push(() => request.continue());
    } else {
      paused = true; // pause, as we are processing a request now
      request.continue();
    }
  });

[2021-07-01 13:31] sadym-chromium commented on #7346
Didn't get into details, but at the first glance it looks like a side effect of the OOPiF: https://github.com/puppeteer/puppeteer/issues/2548

[2021-07-01 13:33] sadym-chromium commented on #7353
OOPiF is not supported by Puppeteer yet: https://github.com/puppeteer/puppeteer/issues/2548
Temporary fix can be using a chrome flag `--single-process`.

[2021-07-01 13:34] bmblb commented on #7346
Not using any iframes there though. Just a regular page which loads JS

[2021-07-01 13:44] sadym-chromium commented on #7213
Is the problem still persist in v10.1.0?

[2021-07-01 14:03] kristofzerbe opened #7392 "CSS backdrop-filter: blur does not fill the container evenly"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.0.0
* Platform / OS version: Windows 10
* URLs (if applicable): ---
* Node.js version: 14.15.3

**What steps will reproduce the problem?**

I run puppeteer to create social media images for my blog entries.

1. The HTML:
[code]

2. The JS:
[code]

3. The execution:
[code]

**What is the expected result?**
Puppetee

[2021-07-01 14:56] hemanthreddyk commented on #1793
@chovy Try this out, it worked like charm in my case
If running Docker >= 1.13.0 use docker run's --init arg to reap zombie processes, otherwise
add the following lines to your dockerfile to have `dumb-init` as PID 1

ADD https://github.com/Yelp/dumb-init/releases/download/v1.2.2/dumb-init_1.2.2_x86_64 /usr/local/bin/dumb-init
RUN chmod +x /usr/local/bin/dumb-init
ENTRYPOINT ["dumb-init", "--"]

R

[2021-07-01 23:42] fabiel-leon commented on #3927
this worked for me
https://github.com/alixaxel/chrome-aws-lambda/issues/104#issuecomment-625999698

[2021-07-02 00:18] akorajac commented on #2781
any update on this?

[2021-07-02 03:34] batpurev opened #7393 "AttributeError: 'Browser' object has no attribute 'setDefaultNavigationTimeout'"
Hi Gurus,

I having this error message whenever trying to set the timeout of the either browser or the page.

`AttributeError: 'Browser' object has no attribute 'setDefaultNavigationTimeout'`

Following is my code snippet:
from bs4 import BeautifulSoup
from playwright.sync_api import sync_playwright
import validators
import os
import asyncio
from playwright.async_api import async_playwright
from p

[2021-07-02 03:39] batpurev commented on #7393
here is screen shot of the error message.
![image](https://user-images.githubusercontent.com/3252495/124217095-389f3780-db2a-11eb-8d5f-234a5d270c69.png)

[2021-07-02 03:49] venky9885 commented on #2957
Hello, after a week of hit & trial I came with a solution to make it work on Android with Termux.
Follow up the gist
Starting point repo takes a screenshot using puppeteer in termux

[https://gist.github.com/rishabhrpg/4025ff5da4f0159af1850cb358279e57](url)
[https://github.com/rishabhrpg/puppeteer-on-termux](url)

[2021-07-02 04:03] batpurev commented on #3319
Hi Gurus,

Have this been implemented? I tried to use this setting but getting this error message.
![image](https://user-images.githubusercontent.com/3252495/124218806-908b6d80-db2d-11eb-9f4e-577ddc69eaf6.png)

[2021-07-02 06:28] do-not-worry commented on #6697
any update on this?

[2021-07-02 08:18] md-fahad-ali32 commented on #2957
Where is gist...?

[2021-07-02 08:30] rishabhrpg commented on #2957
@sploit30 follow instructions from my repo https://github.com/rishabhrpg/puppeteer-on-termux
it will get you started with puppeteer in android.

[2021-07-02 09:33] md-fahad-ali32 commented on #2957
no chromium found i found this error in alpine linux

[2021-07-02 10:13] hoangfuongduy commented on #6414
I encountered the same issue. Really curious if anyone has the solution.

[2021-07-02 12:19] ecolss opened #7395 "`await page.content()` stuck forever?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: macOS Big Sur, 11.4
* URLs (if applicable): https://venturebeat.com/
* Node.js version: v14.15.1

**What steps will reproduce the problem?**
Just copy and run the following code:
[code]

**What is the expected result?**
Since `page.goto` would timeout, so `.catch` handles the error.
Af

[2021-07-02 16:45] jschfflr opened #7397 "Update error messages to help developers better understand what went wrong"
As @sadym-chromium [recently pointed out](https://github.com/puppeteer/puppeteer/pull/6735#discussion_r662213256) on a pull request, some error messages are not very helpful to developers.
We should take inventory of these errors and see if we can find a better solution there.

[2021-07-02 17:41] dobesv commented on #6696
In our project we are setting request interception on as right after calling `newPage()` and before opening any pages but we are still having this problem.

[2021-07-02 17:59] manash-oia commented on #1853
Thank you!

[2021-07-03 04:39] NILNULLNONE commented on #375
In my case, changing the owner and group of ~/.npm and the directory of the node_modules to user works.
sudo chown -R your_user_name:your_user_name ~/.npm
sudo chown -R your_user_name:your_user_Name parent_dir_of_node_modules

[2021-07-03 10:22] ctq123 commented on #4583
i was facing the same thing...
but throw  Error: Node is either not visible or not an HTMLElement

[2021-07-03 12:59] EnixCoda commented on #6622
@gwuah Thank you for saving me hours of work! :D

[2021-07-04 09:51] jschfflr commented on #7330
@danparksf No problem, I'll take care if this. Looks like we need a Chromium change to allow this feature after all...

[2021-07-04 19:01] AnthonyCavanagh commented on #4976
The most intelligent question on this subject, so of course no reply

[2021-07-04 19:55] ghost opened #7399 "evaluateOnNewDocument on all new pages"
* Puppeteer version:  9.1.1
* Platform / OS version:  Mac (M1)
* URLs (if applicable):
* Node.js version: v15.14.0

**What steps will reproduce the problem?**

I ran into the same problem as this
https://github.com/puppeteer/puppeteer/issues/3324

[code]

[2021-07-04 23:35] Androbin commented on #4620
See https://github.com/hardkoded/puppeteer-sharp/pull/1765

[2021-07-05 07:21] Pmarouga commented on #3082
I need the final HTML, with page.content() I get the initial HTML(contains js that I dont want to have). Any ideas why this is happening?

[2021-07-05 08:01] ghost opened #7400 "How can I attach external files and streams to a PDF document using puppeteer?"
Hi Team,

We have requirement of **generating pdf with xml invoice file into it** as an attachment.

EVO pdf has its internal logic written to achieve the same. refer : [https://www.evopdf.com/help/html_to_pdf/html/c5a4dc66-45bd-46c6-901a-fbc0f360a5c7.htm](url)

As we have move on the puppeteer for our html to pdf generation functionality , we need this feature to get supported within same  librar

[2021-07-05 08:13] espired commented on #1648
+1
Totally still happens

[2021-07-05 08:59] borriglione opened #7401 "PDF rendering - OpenType font names were not embedded"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Ubuntu 18
* URLs HTML: https://www.tutory.de/entdecken/dokument/schriftarten-test.html
* URL PDF: https://www.tutory.de/entdecken/dokument/schriftarten-test.pdf
* Node.js version: 14.14

**What steps will reproduce the problem?**

1. Create a PDF by:

[code]
2. Parse pdf by: `pdffonts

[2021-07-05 10:02] mohini-memane commented on #3749
M facing the error `TypeError: input.on is not a function`  in red hat 7.8 and have made the changes as suggested in waitForWSEndpoint
Still facing the same issue

`Error: input.on is not a function\n    at new Interface (readline.js:207:11)\n    at Object.createInterface (readline.js:75:10)\n    at Promise (/apps/cbqpms/credence/microservices/reporting-server/node_modules/puppeteer/lib/Launcher.j

[2021-07-05 11:01] cmd8 opened #7402 "document.createElement is a Proxy, can it be an ordinary function?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: macOS 10.14.6
* URLs (if applicable): any
* Node.js version: v14.8.0

**What steps will reproduce the problem?**

1. Launch a browser with puppeteer (no matter headless or not)
2. Navigate to any page
3. Go to dev console
4. Run this `document.createElement`

**What is the expected res

[2021-07-05 11:46] luiso1979 opened #7403 "Stops updating url"
### Steps to reproduce

* Puppeteer version: 10.1.0
* Platform / OS version: MacOS and Linux (Ubuntu 18.04)
* URLs (if applicable): https://facebook.com
* Node.js version: 14

Since due to a problem with mozilla puppeteer isn't able to fire the targetchanged event correctly, I needed to do a work around:

    ...
    const browser = await launch({
            product: "firefox",
            devtoo

[2021-07-05 12:58] mmedvedik opened #7404 "Sharing files cache between incognito contexts"
So I have a "load page, do login" test scenario which I need to run with multiple accounts simultaneously. Since I don't want to share cookies between these sessions I creating an incognito browser context for each. But incognito mode preventing cached files from sharing too which leads to loading speed drops. So my question is:
- How to use the same cache in different incognito browser contexts
o

[2021-07-05 21:28] jamesBond1337 opened #7405 "Proxy auth not working for inline requests loaded using local file"
Hi,

This is my code:

[code]

load.html content is:

[code]

I need to use an authenticated proxy server, so I used page.authenticate as well as supplied --proxy-server in args.

When the "page.goto" value is an HTTPs URL, the proxy auth works fine. But, when a local HTML file is loaded like above which makes HTTPs requests, the proxy auth fails for the HTTP URL throwing error `PAGE LOG: Failed t

[2021-07-06 08:48] DRoet opened #7407 "[bug] Connection not closed correctly in v10.1.0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Docker/Linux
* URLs (if applicable):
* Node.js version: 16.3.0

**What steps will reproduce the problem?**
When updating from 10.0.0 -> 10.1.0 I suddenly get an error when connecting to a remote chrome instance using `browser.connect()`. The remote chrome instance I am using is a simpl

[2021-07-06 09:29] kristofzerbe commented on #7392
Sometimes, when calling ``launch`` with ``{headless: true}`` the result is ok. Using ``slowMo`` or a simple timeout before doing the screenshot has no effect.

[2021-07-06 11:19] Rendez opened #7408 "Error launching Chromium: Passthrough is not supported, GL is swiftshader"
`[21581:259:0706/131446.110056:ERROR:gpu_init.cc(441)] Passthrough is not supported, GL is swiftshader`

Big Sur: 11.4 (20F71)
Puppeteer: 10.1.0
Node: 16.0.0

[code]

[2021-07-06 11:40] RezaErfani67 commented on #3279
any update?

[2021-07-06 11:45] bjarketrux commented on #4768
Anyone found a workaround for this issue? Like scaling the page or some DPI setting?

[2021-07-06 13:16] goulu commented on #5939
any news on this ? I really need to understand why my styles are not the same in puppeteer tests as in the app...

[2021-07-06 17:20] #7408 closed, assigned to nobody

[2021-07-06 17:59] Rendez commented on #7408
I thought this was the main problem I was facing when updating to 10.1.0, but this is a Chromium error, but didn't crash Chromium nor affect the puppeteer launch. In my case it was something else (host/port problem).

[2021-07-06 21:27] agguro commented on #3147
same problem on Kali Linux (for Thunar) but years later :(

[2021-07-07 03:45] jeronimoek commented on #550
This worked for me on my Raspberry PI B+.

First, I removed the old chromium pre-installed, and then installed it again (just in case). No idea if dependencies are needed as I tried different solutions before this, and may have them pre-installed before doing this)

Then created a brand new folder

Then set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" to true:

Then installed puppeteer:

Then checked that p

[2021-07-07 08:39] whimboo commented on #7107
Then I would have to pass a decision over to @jschfflr or @mathiasbynens. Looks like this is a core issue then, and not tight to a specific browser that is not the default one like Chrome.

[2021-07-07 08:50] paullewis opened #7410 "Docs: update comment references to Chromium"
Hey! Just filing this one for tracking. Some of the comments in the pptr code reference the master branch in Chromium, which has now changed to main. We should update the documentation to match.

[2021-07-07 08:56] firsttobebear opened #7411 "Launching puppeteer gives ErrorEvent"
[code]

When I attempt to launch puppeteer it gives the following error:
[code]

I am running the windows 10 operating system with node version v14.17.3. I haven't changed any code for the past few weeks and suddenly it has started giving this error. I have attempted to reinstall puppeteer and node.js without any success.

[2021-07-07 15:53] canonic-epicure commented on #7107
Yup, I'd say this is pretty important one for the project's future. Playwright currently looks much better for developers.

[2021-07-07 18:38] kosta1221 commented on #6776
Getting the same exact issue with my lambda container function.

`Protocol error (Target.setDiscoverTargets): Target closed.
    at /var/task/node_modules/puppeteer/lib/cjs/puppeteer/common/Connection.js:71:63
    at new Promise (<anonymous>)
    at Connection.send (/var/task/node_modules/puppeteer/lib/cjs/puppeteer/common/Connection.js:70:16)
    at Function.create (/var/task/node_modules/puppete

[2021-07-08 02:20] 4geru commented on #7407
our project caused same error which version up from 10.0.0 to 10.1.0.

[2021-07-08 06:03] wojtekmaj commented on #7239
I still think #7238 *is* a workaround, and in my opinion not a very good one.

Pinning versions in `package.json` isn't an alternative to checking out `package-lock.json`. These dependencies have dependencies on their own, which are NOT pinned, and these dependencies have theirs, and so on. So in fact, with every install, you will end up with secondary, tertiary dependencies all different every ti

[2021-07-08 09:40] Dxig commented on #1992
I have solved this issue like this.

`const link = await page.$('selector')`
` await link.click()`

` const newPagePromise = new Promise(x => browser.once('targetcreated', target => x(target.page())))`
` const newPage = await newPagePromise`

` const pages = await browser.pages()`

[2021-07-08 10:12] 1nVitr0 commented on #3339
This is a chromium issue (chromium would probably call it feature). When a tab is not in the foreground, script execution is paused until the tab is foregrounded again. There are no flags that I can confirm working to solve this issue.

The only options you have is either use chromium in headless mode or use `page.bringToFront()` every time you want to do something with the page. This includes wai

[2021-07-08 15:12] djkramnik commented on #7213
I have had continual troubles with this particular use case -- I want to take screenshots of elements but with some customizable padding around them.  I was trying something like this:
[code]
^ note the use of clip option to add some padding around the element screenshot.

However this did not work when the element is not in the initial viewport.  Then I would just get a blank screenshot.  And no

[2021-07-08 19:44] casey6 commented on #7295
Relevant `@types/puppeteer` type definitions: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/puppeteer/index.d.ts#L1331-L1332

[2021-07-08 21:19] Vijei opened #7415 "open links in pdf generated by puppeteer in new tabs?"
I had generated pdf from a webpage using puppeteer library in nodejs. But the anchor links in the pdf are not opening in new tab even though the links in the webpage are using <a href="url" target="_blank">. any thoughts?

[2021-07-08 22:08] IgalNeeman commented on #5138
Its not work

[2021-07-09 10:54] LeuKongsun commented on #5334
It works, but the problem occurs again when I deploy to firebase function. Is there any suggestion?

[2021-07-09 11:09] VagrantAI-c commented on #6926
Can validate that on `puppeteer@10.1.0` the error persists due to https://github.com/puppeteer/puppeteer/blob/main/src/node/BrowserFetcher.ts#L199 resolves to `/%project_root%/.local-chromium` , however the real path to folder should be `/%project_root%/node_modules/puppeteer/.local-chromium`

BTW, found out that this is due to webpack bundling or Typescript compilation, since launching
[code]
com

[2021-07-09 11:33] VagrantAI-c commented on #6926
I resolved the problem by adding
[code]
to webpack config. Because that webpack bundles puppeteer to main bundle, all paths should be mocked with this option. Reference: https://webpack.js.org/configuration/node/

Please reopen with a new issue if someone still has this problem and it doesn't relate to webpack configuration

[2021-07-09 11:33] #6926 closed, assigned to nobody

[2021-07-09 12:43] #7340 closed, assigned to nobody

[2021-07-09 18:57] ghost commented on #461
@Mohamed3on
[code]

[2021-07-10 00:00] djkramnik commented on #7231
I was able to pull full page of foxnews fine.  Do you call page.screenshot like this?
[code]
@workadn

[2021-07-10 14:03] Nerdion commented on #2895
I am facing this issue even on a get URI
Error: net::ERR_ABORTED at https://www.deepl.com/translator#en/fr/%20Pork%20cheek%20with%20chorizo%20and%20Porto%20

[2021-07-10 20:01] halittiryaki opened #7417 "request.respond() for big json-file fails with 'browser disconnected" error"
when returning a response for an intercepted requested, which is bigger than 100mb, I get the following error:

`helper_js_1.helper.addEventListener(frameManager._client, Connection_js_1.CDPSessionEmittedEvents.Disconnected, () => this._terminate(new Error('Navigation failed because browser has disconnected!'))),`

all other respond() work fine. only if a given file is big, I am facing the issue.

[2021-07-10 21:21] halittiryaki commented on #7417
ok, now I know the reason:
switched to pipe mode but still running to a limit:
`
[0710/225637.498642:ERROR:http_connection.cc(37)] Too large read data is pending: capacity=104857600, max_buffer_size=104857600, read=104857600
[0710/225637.498686:ERROR:devtools_pipe_handler.cc(282)] Connection closed, not enough capacity
`

any way to increase the cap?

[2021-07-10 22:28] halittiryaki commented on #7417
though the question how to increase connection cap is interesting, I ve implemented a dirty fix to progress. if someone else faces the same problem, I transfer the  big json file in chunks by js invokes:

`
let body = "{}";
if (request.url().endsWith("big.json")) {
  await (new Promise((resolve, reject) => {
    fs.createReadStream(getFilePath(request.url()), { highWaterMark: 1 * 1024, encoding: '

[2021-07-10 22:59] diogomartino commented on #5662
Thanks, this worked for me.

[2021-07-11 19:08] feavilan04 commented on #3412
Worked for me, Thnks.

[2021-07-12 06:37] zhuxiwen opened #7418 "Can i set response body?"
When an interface returns
Normal return：
{sex: 1}
I want to change it to:
{sex: 2}

[2021-07-12 06:52] #7418 closed, assigned to nobody

[2021-07-12 12:45] sadym-chromium commented on #7213
@djkramnik using [`captureBeyondViewport` flag](https://github.com/puppeteer/puppeteer/blob/4d8dfabf2c95411513d958eaa28bf628f8462d1b/docs/api.md#pagescreenshotoptions) lets you skip scrolling to the element. Hopefully it can help your use-case. The flag `captureBeyondViewport` was introduced in April, it was added to the documentation just recently.

[2021-07-12 12:56] playgithub commented on #7380
After recent testing, it have been fixed, and it uses chrome 88.x.y.z

[2021-07-12 12:56] #7380 closed, assigned to nobody

[2021-07-12 13:57] misantronic commented on #1947
I am having the same problem running puppeteer on aws. the problem appears since I migrated to node 14.x a few days ago. I haven't had any issue on node 10.x.
none of the solutions above were able to solve the issue. however, I fixed it for myself by retrying the execution of the lambda-function.

[2021-07-12 14:10] Muirik opened #7420 "Bottom Margin Not Recognized with @Page When Printing PDF"
I am using Puppeteer with Node and handlebars to format and print a series of PDFs. Because a single document can contain more than one page, I am including a `header` and `footer` as well, like so:

[code]

And to allow room to display these `header` and `footer` sections on each page that gets printed I am defining some css, using `@page:first` and `@page`. And then the entire page is wrapped in

[2021-07-12 15:23] #7420 closed, assigned to nobody

[2021-07-12 15:30] roseline124 commented on #4286
I am still undergoing this problem. is there anyone can help? 😂

Puppeteer version: 2.1.1
MacOS: BigSur
Node: 16.4.2

[code]

[2021-07-12 16:21] thw0rted commented on #6899
I'm having this issue and noticed that the type definitions include a class `PuppeteerNode`.  The comments for that class say that, when you `import puppeteer from "puppeteer"` or the equivalent `const puppeteer = require("puppeteer");`, the result should be typed as `PuppeteerNode`.  Instead, I think it's just typing as `Puppeteer`, which has a similar interface but with fewer methods.  `executab

[2021-07-12 18:05] presttec opened #7421 "Access Chromium/Selenium in Another CPU an internal network"
Hi,
I would like the configuration parameters to use the library to access chromium/selenium on another machine within an internal network.
Then the puppeteer-core library. Do you have this possibility?

[2021-07-13 11:20] qingyangqiang commented on #5178
According to what you said, I still return undefined, I hope to get an answer, thank you
  page.on("request",(httpRequest) => {
        let url = httpRequest.url();
        if (url.includes("n.gif")){
            if (httpRequest.method() === "POST"){
                console.log("xxxxx",httpRequest.postData())
            }
            httpRequest.continue()
        }else {
            httpRequest.

[2021-07-13 12:56] akamicah commented on #1815
This is still definitely an issue in 10.1.0

[2021-07-13 13:08] roseline124 commented on #4286
I solved this problem like below:

1. use `chrome` browser instead of 'chromium'.
2. how? you can find your tchrome app path
  - input url `chrome://version/` in chrome browser and find executable path.
  - copy that
2. set executablePath with the chrome path in launchOption

[2021-07-13 21:12] 0x14307 opened #7423 "Is it possible to redirect to a new site instead of closing and creating a new browser instance?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: v10.1.0
* Platform / OS version: WIndows 10 21H1
* URLs (if applicable):
* Node.js version: v16.4.2

I'm interacting with a site that uses one-time download buttons with "keys" that will no longer work upon a new browser instance or upon a refresh of the browser. Is there any way to redirect to a site in that same br

[2021-07-14 00:15] 0x14307 commented on #7423
Actually just realized I could use page.click instead, closing.

[2021-07-14 00:15] #7423 closed, assigned to nobody

[2021-07-14 00:53] manadan999 commented on #6258
I had the same issue. I fixed it by using the following to launch.

[code]

[2021-07-14 00:56] manadan999 commented on #1947
I had a similar issue. Sorted by using the following to launch.

[code]

[2021-07-14 10:28] 0x3c commented on #6622
It works for me.

[2021-07-14 15:58] atjn commented on #7100
FYI this seems to affect all functions defined in the [`NodePuppeteer`](https://github.com/puppeteer/puppeteer/blob/d70f60e0619b8659d191fa492e3db4bc221ae982/src/node/Puppeteer.ts#L68) interface. The best workaround I found, is to manually tell TypeScript to load the extra definitions:
[code]

[2021-07-14 18:00] Vijei opened #7424 "issue creating large pdf in docker"
Hi, am able to create a large pdf ~21MB in my local. but it is failed to create within docker. however am able to create around 7MB file. Any thoughts? @aslushnikov @mathiasbynens

[2021-07-15 02:00] Wxh16144 commented on #7322
I use Remote Development in vscode to develop, and when I run it in a container, I have exactly the same problem as you.

[2021-07-15 07:43] thw0rted commented on #7100
No idea why you got downvoted, I suggested the same fix over in #6899 .  I haven't had time to put together a reproduction but I think it's a bug introduced in the type changes that Baruch linked to above.  For some reason when I `const puppeteer = require("puppeteer")` in a JS file, VSCode gets the right type info, but when I `import puppeteer = require("puppeteer");` in a TS file it types as Pup

[2021-07-15 08:24] muuvmuuv commented on #7100
@thw0rted should have better commented. I just don`t like such workarounds. And they are obvious if you want to ignore it.

[2021-07-15 16:49] misantronic commented on #1947
I also tried this - I am using chrome-aws-lambda. Didn’t work that way.

[2021-07-15 18:58] Oksana-Eventsoft opened #7425 "External links are not handled correctly in the headless mode since 9.0.0 version"
### Steps to reproduce
Given I am on main page
When I click on the external link in the page text
And I switch to next Tab
Then I expect that current tab contains correct external page url
*actual result*
I'm getting the error: There is no ability to switch to next tab with offset 1

*Note:* the same code works well in non-headless mode in 9.* and 10.* versions and in both modes till 9.* version,

[2021-07-15 20:29] mdimai666 commented on #2924
I was able to run on rpi4 raspbian lite
try:
[code]

[code]
p.s. for future

[2021-07-15 21:21] chalitbkb opened #7426 "How do I click a Google Pay Button element?"
STEP 1: How do I click a Google Pay Button element?
![image](https://user-images.githubusercontent.com/32437546/125858603-248de193-6852-4916-aa94-35298edf1137.png)
 (Basic example)

- I can press the pay button. But the Next button cannot be pressed because the element is in iframe format.

https://developers.google.com/pay/api/web/guides/resources/demos

### Can anyone help me? I've been solving

[2021-07-15 23:54] Vijei opened #7427 "write data in batches to response as stream and generate pdf"
am trying to write 100k records and generate a pdf. What I see in puppeteer is we need to get those all records and form the html and use setContent method. Instead can I write 20k records at a time to pdf and stream it.

So basically what am looking write 20k records multiple times to response and generate a pdf as a stream. so that connection also will not be lost.

https://www.npmjs.com/package

[2021-07-16 01:43] Vijei opened #7428 "createpdfstream and pdf not generating file in docker"
createpdfstream and pdf not generating file in docker. also not throwing any error. same scenario works with out docker. could you please help

[2021-07-16 01:48] AhmedBHameed commented on #6258
I have the same issue here. It is working in my Ubuntu local machine but it fails on both remote dedicated server and local raspberry pi 3+. The local pi board expected to work, but it also failed which is odd!!

I've tried all the suggested solution here, did not work :(
Any ideas?

[2021-07-16 05:38] IngyuTae commented on #5328
try https://github.com/puppeteer/puppeteer/issues/3627#issuecomment-881191348

[2021-07-16 05:40] IngyuTae commented on #3627
[code]

[2021-07-16 11:57] SCHREl commented on #6050
If someone still has the same problem, I managed to solve it by using https://github.com/berstend/puppeteer-extra/tree/master/packages/puppeteer-extra-plugin-stealth to launch puppeteer

[2021-07-16 15:11] brittanyz commented on #1648
I am working with a single page react app login (username/password inputs) form. Also still seeing this issue consistently where the first character (or two or three) in the password input gets chopped (or the input isnt visible before puppeteer starts typing). I tried almost everything here: waitForSelector with {visible: true}, adding a delay, waitForNavigation... as one commenter mentioned just

[2021-07-16 15:57] atjn commented on #7100
If anybody wants to see this running in a real codebase, I just added it to pwa-asset-generator:

https://github.com/onderceylan/pwa-asset-generator/blob/cc9cbf2676417d16fbd32d4d866089861f8d600d/src/helpers/installer.ts#L30-L33

You can trigger this code by running `npm run build`. It will work fine as-is, but if you remove the workaround, it fails.

We are currently using version 9.1.1, but I als

[2021-07-16 22:44] aidangoettsch commented on #6429
Dug through the code and figured I would share since it doesn't seem like this explanation has surfaced anywhere.

It looks like the relevant code in devtools is here:
https://source.chromium.org/chromium/chromium/src/+/main:out/Debug/gen/third_party/devtools-frontend/src/front_end/core/sdk/PerformanceMetricsModel.js;l=43?q=requestMetrics&ss=chromium%2Fchromium%2Fsrc

[code]

Devtools is polling f

[2021-07-16 22:48] #7428 closed, assigned to nobody

[2021-07-16 22:49] #7424 closed, assigned to nobody

[2021-07-17 11:37] varungup commented on #5379
I have tried all the approaches listed above, but I am still getting `no version information available`. I am using Amazon Linux. Has anyone able to find the solution?

[2021-07-17 16:32] extempl opened #7429 "Issue with debugging puppeteer and stacktrace"
This is the common report about approach of composing and minifying puppeteer within npm package.
The main issue is that you do not put TS sources within the npm package, but putting `.map` which does links to the `src/…ts` files which really breaks ability in debugging and understanding the logic, as stacktrace looks like this
[code]
But there is no `src` directory, and only `lib` with compiled j

[2021-07-18 01:04] phanminhtai commented on #6167
yea same issue

[2021-07-18 02:17] sunilrebel commented on #4533
For me, I was including a `.bin` compiled file of `.js` while doing development. Switching from `.bin` to correct `.js` file solved the issue.

[2021-07-19 07:12] snoopy-peace opened #7430 "puppeteer.connect() fails when "browserWSEndpoint" has query parameters appended to it"
puppeteer.connect() fails when "browserWSEndpoint" has query parameters

### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 9.1.1
* Platform / OS version: Mac
* URLs (if applicable):ws://127.0.0.1:9222/devtools/browser/6c957c3a-60b4-4da5-8c1a-ab122a81e17d?plugin-id=starterplugin&app-id=XD
* Node.js version: 12.19.1

**What steps will reproduce the problem?**

_Please

[2021-07-19 08:24] saadurrehman opened #7431 "Unable to scroll excel sheet opened in chrome by puppeteer"
Unable to scroll excel sheet opened in chrome by puppeteer
i tried to use
[code]
but it only works when chrome browser page has scroll. In the case of excel sheet scroll doesn't exist in the browser but inside the excel sheet,
I am trying to screenshot the full excel sheet that's why I had to scroll to capture the full file screenshot in chunks. Please help

[2021-07-19 08:30] OBrown92 commented on #5379
Try to upgrade to `Amazon Linux 2`. It brings all the packages and you don't get problems if you update your code.

[2021-07-19 08:42] pinturic commented on #3432
Is there any plan to go on working on this?

[2021-07-19 10:48] richardrishabh commented on #2957
As long as you have a 64 bit processor it should work.

[2021-07-19 11:57] dmitryshelomanov commented on #1861
@Cuadrix is not working, "Provisional headers are shown" message + can't extract request cookies

[2021-07-19 15:11] Rem0ld commented on #4378
I'm using this helper to see where the mouse is on the webpage, but I've found something, not sure if it's a bug or if I'm doing something wrong.
This is automated test, I'm giving list of events that puppeteer will go through.
At first there is no problem but when scrolling down, but at some point the cursor disappear (basically it's pretty much when scrollY > screenY) and it only shows up when s

[2021-07-19 15:25] varungup commented on #5379
Thanks! It is working with Amazon Linux 2

[2021-07-19 22:56] jjoocceeee commented on #5240
Running into this issue also... any update?

[2021-07-20 03:06] vasyl-design commented on #5411
I also have this issue, and it's very annoying as it messes up some screenshots.
For example, I need to take a screenshot of the drop-down menu that shows up upon hover. But when the puppeteer resizes viewport menu colapses.
@ibrahimalthomali  do you have any suggestions to avoid viewport resizing?

[2021-07-20 06:58] vocafeuvre commented on #4981
good news, just found a page about a CDP method called 'Input.imeSetComposition' in Chromium Code Review. once this feature is shipped, it might resolve the issue about lack of support upstream. the question now is would Puppeteer be implementing a wrapper around this method?

sources:
https://github.com/microsoft/playwright/issues/5777
https://chromium-review.googlesource.com/c/chromium/src/+/276

[2021-07-20 09:08] arika163 commented on #1143
same problem in alpine docker image. was solved by use the following cmd
`apk add wqy-zenhei --update-cache --repository http://nl.alpinelinux.org/alpine/edge/testing`

[2021-07-20 10:19] igormarga commented on #4858
Any solutions?

[2021-07-20 12:03] prsanjay commented on #2408
@Pankajtanwarbanna The one which you added did not work for me. It prints ${new Date().toDateString() this as it is in pdf. Am I missing anything?

[2021-07-20 13:15] HarveyThePooka404 opened #7433 "[bug] [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string or an instance of Buffer or URL. Received type number (31)"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: "^10.0.0"
* Platform / OS version: Mac Big Sur 11.2.3
* Node.js version: 14.17.2

**What steps will reproduce the problem?**

Running the function creates an error

_Please include code that reproduces the issue._

[code]

Content is not really relevant. It's an HTML template.

**What is the expected result?**

Expec

[2021-07-20 14:05] gelfandbein commented on #561
thanks! it's fixed all my problems with processes of chrome in container

[2021-07-20 17:03] corey-slade commented on #3298
It looks like Chrome implemented this feature in Chrome 85 (see below), but I don't appear to have the ability to generate a tagged PDF yet unless I'm missing something?

https://blog.chromium.org/2020/07/using-chrome-to-generate-more.html#:~:text=Using%20Chrome%20to%20generate%20more%20accessible%20PDFs,-Wednesday%2C%20July%2029&text=Starting%20in%20Chrome%2085%20(scheduled,%22Save%20as%20PDF%22%

[2021-07-21 08:16] qinglong-zeng commented on #7426
You can read this document. May be help you.
https://github.com/puppeteer/puppeteer/blob/v10.1.0/docs/api.md#class-frame

[2021-07-21 11:21] Pankajtanwarbanna commented on #2408
Later, I stored the value in a variable first, and then used ${print_this_date} instead of ${new Date().toDateString()}

[2021-07-21 11:48] Rajat-Sharma-2710 opened #7435 "Unable to get accurate HTML code for a website."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 9.0.0
* Platform / OS version: Windows
* URLs (if applicable): https://intersight.com/help/
* Node.js version: 14.16

**What steps will reproduce the problem?**

1. Start browser
2. Visit https://intersight.com/help/
3. save HTML code using page.content()

[code]

**What is the expected result?**
The HTML code should

[2021-07-21 17:15] landaida commented on #2140
The same error for me on many puppeteer releases
![image](https://user-images.githubusercontent.com/5694096/126531205-f7e58978-b4a3-4335-915c-661c7acf0a8c.png)

[2021-07-21 20:15] rudolfbyker commented on #3627
Here's my take on it (using Typescript and NodeJS – this can be adapted for plain browser JS easily):

## First a utility function:

[code]

## Example usage:

[code]

This will resolve if the network becomes idle for more than 100ms, but if that does not happen within 1000ms, it will reject. "Idle" is defined as: There are no requests that are waiting for responses.

## How it works

- When a req

[2021-07-21 21:22] jeffreyvanhees commented on #5351
Anyone who has figured it out yet? I print receipts on a thermal printer (via AWS lambda -> html -> base64 -> react native) and they come out somewhat blurry.

[2021-07-22 02:12] marianomd opened #7437 "Firefox not working in latest version"
Hello, I'm trying to use Firefox browser without luck.

Puppeteer version: 10.1.0
Firefox version: linux-92.0a1 (installed by Puppeteer)

Error: Timed out after 30000 ms while trying to connect to the browser!

Enabling dumpio, I have this output:

[code]

[2021-07-22 05:27] munrocket commented on #5402
Here good pattern for screenshots/video from canvas with rAF
https://twitter.com/RReverser/status/1417800541133058050

[2021-07-22 05:45] #5402 closed, assigned to nobody

[2021-07-22 06:43] Rajat-Sharma-2710 commented on #7435
@jschfflr any comments ?

[2021-07-22 09:05] imbhaskarn commented on #6563
This happened to me too but I got rid of this using this
`await page.close();
 await browser.close()
`

[2021-07-22 13:55] chosserlonger1 opened #7439 "recapcha click"
Hello! Please help me. How can I click on this square to go to the solution of the captcha? I've already tried everything!
![image](https://user-images.githubusercontent.com/87817223/126650973-c72835ce-d030-43e9-9971-71943e329656.png)
![image](https://user-images.githubusercontent.com/87817223/126651050-6cb57ce3-467c-438a-8091-75916c291a53.png)

[2021-07-22 15:40] teo523 commented on #4059
same issue here...why has this issue been closed?

[2021-07-22 15:48] mrkev commented on #4981
I no longer work on draftjs, but I'm happy this is moving forward 👍

[2021-07-23 04:00] fudgi commented on #1649
Worked for me

/Applications/Google Chrome.app/Contents/MacOS/Google Chrome

[2021-07-23 04:51] ubersant commented on #6951
Hi @dpmott

Can you please help me how this can be resolved ? Helps a lot

![fade](https://user-images.githubusercontent.com/11734961/126738689-fa1291e0-aad3-4b71-bc9f-2ca5eb290d67.PNG)

This black line appears whenever there's table is huge and goes over to next page as well.

[2021-07-23 05:01] ubersant commented on #6951
Update

@dpmott

Thanks for your previous comment

fade is gone but the closing is also gone at the end of the page for the row. Blue line is showing what's missing

![fade2](https://user-images.githubusercontent.com/11734961/126739230-8047e335-e16f-4f99-9eca-fc4dcd5844d2.PNG)

Also, the header which used to repeat in the next page is also gone.

[2021-07-23 12:51] plocket commented on #6967
I'd appreciate an updated link as well.

[2021-07-23 12:54] plocket commented on #6967
I think @snitin315 removed it from github March 15 in 56f17fe4819b5081ee17aad3a4e73a49ebaa2a5d. Is there no longer a Slack channel? If not, is there another place for chat?

[2021-07-23 12:59] plocket commented on #5246
I seem to be able to upload files in headless mode, though I think I'm having trouble with race conditions afterwards. I think puppeteer may not be waiting for the upload to finish.

[2021-07-25 18:53] vadimbepro commented on #1177
I resolved the issue in my program by removing Google Fonts  from page (fonts.googleapis.com)

[2021-07-25 18:53] vadimbepro commented on #458
I resolved the issue in my program by removing Google Fonts  from page (fonts.googleapis.com)

[2021-07-25 22:26] Bonauze commented on #5893
Is the problem still not resolved?

[2021-07-26 00:57] vobloeb commented on #6806
setting `secure` helped with cookies prefixed with `__Secure-`
But setting cookie with name `__Host-GMAIL_SCH` is still impossible :(

[2021-07-26 08:11] therepo90 commented on #4434
Going with pupeteer-cluster or just using one tab and running whole browser with one proxy was my solution to this

[2021-07-26 15:28] jschfflr commented on #7435
Hi @Rajat-Sharma-2710
`page.goto` does only wait for the `load` event by default. As the website is using Angular, the content might not be there yet. You could use `await page.waitForSelector('.helplet-item');` before `page.content()` to make sure the links have been rendered.

[2021-07-26 15:28] #7435 closed, assigned to nobody

[2021-07-26 21:20] sehgal15 opened #7441 "Can't set Firefox Enhanced Tracking Protection Mode"
I am trying to set the Firefox User profile (code provided below) but I fail to do so. Essentially, Firefox should load up with the Standard Enhanced Tracking Protection in the browser Privacy and Security settings page but using Puppeteer launches the Browser privacy in Custom mode. How do I change this setting to Standard?(loading User profile with Standard setting is not working)

By Default:
<

[2021-07-27 00:30] binadiegha commented on #3428
you have to set the userAgent to one that emulates a real browser

example:

[code]

[2021-07-27 02:54] quachvietcuong-laravel-php commented on #1857
@IdanAdar IdanAdar how can u install it, could u teach me

[2021-07-27 03:41] xuxk1 opened #7442 "page.click(selector[, options]),clickCount doesn't work"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:9.1.1
* Platform / OS version:mac 10.15.7
* URLs (if applicable):
* Node.js version:10.16.3

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1."compos.lsspacing_add",for page elements
2.const lsspacing_btn = await this.page.waitForSelector(compos.lsspacing_add); await lssp

[2021-07-27 04:21] Rajat-Sharma-2710 commented on #7435
@jschfflr I have updated the code to waitUntil 'networkidle2' and added the query selector you asked.

[code]

**On execution I an getting timeout error**:
[code]

Am I missing something ?

[2021-07-27 05:40] ggorlen commented on #7435
This page uses shadow roots. Please see https://github.com/puppeteer/puppeteer/issues/858

[2021-07-27 06:24] Rajat-Sharma-2710 commented on #7435
@ggorlen I tried using the approach [link](https://github.com/puppeteer/puppeteer/issues/858#issuecomment-438540596)

[code]

The query is copied using copy JS path.
getting error:
[code]

[2021-07-27 06:46] ggorlen commented on #7435
@Rajat-Sharma-2710 That code works for me. Please show a complete, reproducible example, and let's take the discussion and code back to the [Stack Overflow thread](https://stackoverflow.com/questions/68525115/puppeteer-not-giving-accurate-html-code-for-page-with-shadow-roots) if you don't mind, so everything's in one place -- this isn't really a Puppeteer issue. I left the note above mainly for fu

[2021-07-27 08:29] HarveyThePooka404 commented on #7433
Solved by re-installing firebase CLI

[2021-07-27 08:29] #7433 closed, assigned to nobody

[2021-07-27 12:08] jschfflr commented on #7435
@ggorlen Good catch with the shadow roots, thanks! I totally missed that!

[2021-07-27 13:15] luiso1979 opened #7444 "With Firefox some `framenavigated` events are not arriving"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0 (FIREFOX)
* Platform / OS version: Macos 11.4
* URLs (if applicable): https://www.youtube.com and any video (e.g. https://www.youtube.com/watch?v=H1HlUe886Hs)
* Node.js version: v14.17.0

**What steps will reproduce the problem?**

Use the following code to log the visited URLs

    import {Frame, launch, Targ

[2021-07-27 14:12] MatteoScapin commented on #7444
I'm having exactly the same issue

[2021-07-27 14:26] frasuri94 commented on #7444
Please fix it, I have the same issue.

[2021-07-27 16:46] amarinediary commented on #6922
This is related to #5379. Here is my answer after struggling for 12 hours, https://github.com/puppeteer/puppeteer/issues/5379#issuecomment-887123260.

[2021-07-27 20:44] BlazerYoo opened #7445 "Installation clarification"
Since installing Puppeteer downloads a recent version of Chromium, I do not need to have either Chrome or Chromium binaries separately installed, right?

[2021-07-28 08:12] CherryDT commented on #4997
Note: This was no issue in the past for me but started appearing a few weeks ago, now I have the same problem, also with these errors:

[code]

**EDIT:** The following chromium argument fixed it for me: `--single-process`

[2021-07-28 10:59] FlashThunder commented on #6525
nope, I didn't get an answer :/

[2021-07-28 11:09] tiberiuzuld commented on #7225
I have same issue, it just hangs at the newPage promise from what I gather from error when I manually kill chromium.

[code]
I upgraded from puppeteer v6.0.0 where was working fine and this issue appears for me in both 9.1.1 and 10.1.0

[2021-07-28 12:25] papaiatis commented on #422
@cpitclaudel
Adding this to my code:
[code]
is still not solving the issue when bold/semibold texts are not rendered in the PDF.
Interestingly, the same stuff works on my development macOS machine. But if I run the PDF generation on the server (debian linux) it does not work there. Any clue what could be wrong here?

[2021-07-28 13:11] sdg9670 commented on #5893
@Bonauze
I think it is related to Chromium..
But I don't know what the exact cause is.

Now memory is increasing little by little, so it can be ignored...
But Sometimes restart is necessary.

[2021-07-28 21:00] amarinediary commented on #5379
After extensive research I found a definitive solution.

If you do not enable EPEL and if you continue installing chromium as part of npm install, Puppeteer cannot launch Chromium due to unavailability of `libatk-1.0.so.0` and many more packages.

- See @ https://github.com/amarinediary/Puppeteer-AWS-Elastic-Beanstalk-Deployment-Hotfix.

Probably related to:
- #807
- #685
- #6920
- #5379
- #765

[2021-07-29 09:06] yarekc opened #7447 "How to use puppeteer with nordVPN proxies ?"
Hello,
Just trying to use puppeteer with nordVPN

I tried:

[code]

With no success. Any idea ?

[2021-07-29 10:26] guchenghuan opened #7448 "performance.timing"
use puppeteer to collect the page's timing ,The data is completely larger than the local chrome！！
![image](https://user-images.githubusercontent.com/47850961/127477096-cafd4ff8-f347-4021-9283-a6f36b954aaa.png)
It's confusing to me！

[2021-07-29 10:31] nadaDeversity commented on #7407
@DRoet Do you have any updates on this? I get the same error on `await browser.close()` (did not use `puppeteer.connect` but `puppeteer.launch`)

[2021-07-29 18:08] DRoet commented on #7407
Nope, best to stay on 10.0.0 for now, there is a PR up trying to fix the issue https://github.com/puppeteer/puppeteer/pull/7414 but there isn't much traction yet.

[2021-07-29 20:59] shaneosullivan commented on #4129
I'm seeing the same thing.  The service worker appears to have been installed just fine, however it is not firing its requests, and therefore the page is not being correctly rendered as it depends on the result of this request.  It all works just fine with `headless: false`, and does not work with `headless: true`.

I tried the suggested `page._client.send('Network.setBypassServiceWorker', {bypass

[2021-07-30 12:41] Vordlex commented on #7439
You have 2 ways to do that
1. Create an extension that detects this iframe by url (window.location.url) and if it is recaptcha, you click and do whatever you want. This is the bad way because you can't run extensions with headless.

2. In puppeteer, you can wait for iframe selector and when it exists, you pass it to an variable like that:

[code]

[2021-07-30 16:04] byteshiva opened #7450 "How to open the URL in incognito mode in brave browser?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:10.1.0
* Platform / OS version: 5.8.0-3-amd64  SMP Debian 5.8.14-1~mx19+2
* URLs (if applicable):
* Node.js version:v16.0.0

**What steps will reproduce the problem?**
[code]

_Please include code that reproduces the issue._
1. Additional Question:
Brave browser is going to release a command-line argument to open Tor

[2021-07-31 11:22] elbotho commented on #494
Maybe it's helpful for somebody:
I had timeouts on localhost because of a hotreload script that kept the connection alive and I used
[code]
… well 🤦.

[2021-07-31 12:18] vkudyushev commented on #5268
I's too late, but maybe usefull for somebody: pyppeteer has no userdir by default, you need to define it or connect to launched chrome, like described here - https://cosmocode.io/how-to-connect-selenium-to-an-existing-browser-that-was-opened-manually/

[2021-08-01 09:17] vsemozhetbyt opened #7452 "Order in browser.pages()"
Is there some rationale in the order of elements returned by `browser.pages()`?

I've tried to find out experimentally using `puppeteer.connect()` and got puzzled.

If the order is unpredictable, is there any way to get:

1. The page in the newest/oldest tab by the time of tab opening?
2. The page in the first/last tab by UI order of tabs?
3. The page of the currently active tab?

[2021-08-02 06:18] mathiasbynens commented on #7450
Use `browser.createIncognitoBrowserContext()`.

[2021-08-02 06:18] #7450 closed, assigned to nobody

[2021-08-02 06:46] aha-oretama commented on #5258
I think this is related to this, could you check it?
https://github.com/puppeteer/puppeteer/issues/2608#issuecomment-393955311

[2021-08-02 07:51] jschfflr commented on #7107
Deferring to @mathiasbynens as this seems to be more of a general product decision.

[2021-08-02 07:58] mathiasbynens commented on #7107
The future-facing plan has always been to install both Firefox and Chromium upon `npm install puppeteer`. With Maja we agreed to do this once Puppeteer × Firefox was no longer considered “experimental”. @whimboo Would you say we’ve reached that point already?

[2021-08-02 08:47] yyangquan777 commented on #6214
so , where waitForTimer should be version？

[2021-08-02 10:01] whimboo commented on #7107
I think so, but we would have to make a decision over on issue #6894 in how to download the release binary of Firefox. So it feels that this issue is blocked right now.

[2021-08-02 10:02] whimboo commented on #6894
@mathiasbynens and @jschfflr maybe you can give me feedback to my last comment? Thanks.

[2021-08-02 10:03] whimboo commented on #7107
Actually I think that we can mark this issue as dupe of #5743.

[2021-08-02 10:03] #7107 closed, assigned to nobody

[2021-08-02 10:07] jschfflr commented on #6894
To me, it sounds like the best available option then. But I'm not sure how @mathiasbynens will feel about that.

[2021-08-02 11:42] dmitrysteblyuk opened #7453 "Keyboard tests failing in Headful mode - textarea is actually focused after typing already started"
### Steps to reproduce

[code]

Or run this script:

[code]

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Mac OS X 10.15.7 / Microsoft Windows Server 2019 10.0.17763
* URLs (if applicable): -
* Node.js version: 16.4.2

**What steps will reproduce the problem?**

Run the script above or keyboard tests in headful mode.
I noticed that focus is not happenin

[2021-08-02 11:48] samiljimari opened #7454 "net::ERR_FAILED at page url when using proxy"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:  9.1.1
* Platform / OS version: Windows 10
* URLs (if applicable):
* Node.js version: 7.20.3

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**
I expect to access the website url since the url and proxy im using are both valid, and I

[2021-08-02 11:49] samiljimari commented on #7454
I didn't include the exact proxy in the code for obvious reasons and the website url is visible in the screenshots

[2021-08-02 17:37] byteshiva commented on #7450
[code]
Chrome Browser opens in incognito mode. I'm using Chromium Version 92.0.4512.0 (Developer Build) (64-bit)

![image](https://user-images.githubusercontent.com/10637299/127901359-8d004779-07f8-471a-814a-e36b5b65d2ee.png)

[code]

brave browser (Version 1.27.109 Chromium: 92.0.4515.115 (Official Build) (64-bit)) doesn't open in incognito mode.

![image](https://user-images.githubusercontent.co

[2021-08-02 17:39] byteshiva commented on #7450
Hi @mathiasbynens
This works only in chrome browser, it doesn't seem to work in the brave browser.

[2021-08-02 20:06] agileadam commented on #5662
I had the same issue as @aiden-sobey.

I'm trying to use pageres-cli and I keep getting this error: _Failed to launch the browser process! spawn /usr/bin/chromium-browser_

It does not matter what I set for PUPPETEER_EXECUTABLE_PATH in my ~/.zshrc file on my M1 Macbook, the error message never changes. So, I assumed that path must be hardcoded somewhere.

Sure enough, through some grepping I found

[2021-08-02 22:43] vdkkia commented on #4059
+1

[2021-08-02 23:00] ishfx opened #7455 "Protocol error - Target closed: puppeteer stopped working."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Arch Linux x86_64 5.13.6-arch1-1
* URLs (if applicable):
* Node.js version: v16.6.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. `mkdir -p /tmp/test-p && cd /tmp/test-p`
2. `yarn init` (default for all options)
3. `yarn add puppeteer

[2021-08-03 01:38] lancejpollard opened #7456 "What does puppeteer do differently than a normal browser?"
This is similar to https://github.com/puppeteer/puppeteer/issues/665.

When I make a request to some webpages, it gives me different results than if I navigate there in a normal browser (and I am logged even out and clear my session/cookies). No matter if it is headless or not, it gives different results.

What are some of the things that puppeteer does differently so these sites can detect that y

[2021-08-03 08:22] mathiasbynens commented on #6894
What's the rationale behind this? Is there any publicly-accessible background? Would love to understand this better.

I stand by [my earlier comment](https://github.com/puppeteer/puppeteer/issues/6894#issuecomment-783328289), and to make a stronger claim: from a security perspective, it’s not an acceptable option for Puppeteer to run a remotely downloaded `.exe` on `npm install puppeteer`. It does

[2021-08-03 08:28] kami4ka commented on #7455
The same for me.
Possible relations for this bug:
https://github.com/puppeteer/puppeteer/issues/7407
https://github.com/puppeteer/puppeteer/issues/7318
https://github.com/puppeteer/puppeteer/issues/7225
https://github.com/puppeteer/puppeteer/issues/3423

And many more, see: https://github.com/puppeteer/puppeteer/issues/6610#issuecomment-731365292

[2021-08-03 09:18] sadym-chromium opened #7457 "Roll Chromium 93 after 2021-07-29"
Chrome 93 is in beta, so it's time to roll Puppeteer update.
https://chromiumdash.appspot.com/schedule

[2021-08-03 09:18] sadym-chromium opened #7458 "Roll Chromium 94 after 2021-08-26"
Chrome 94 is in beta, so it's time to roll Puppeteer update.
https://chromiumdash.appspot.com/schedule

[2021-08-03 09:19] sadym-chromium opened #7459 "Roll Chromium 95 after 2021-09-23"
Chrome 95 is in beta, so it's time to roll Puppeteer update.
https://chromiumdash.appspot.com/schedule

[2021-08-03 09:19] sadym-chromium opened #7460 "Roll Chromium 96 after 2021-10-21"
Chrome 96 is in beta, so it's time to roll Puppeteer update.
https://chromiumdash.appspot.com/schedule

[2021-08-03 09:20] sadym-chromium opened #7461 "Roll Chromium 97 after 2021-11-18"
Chrome 97 is in beta, so it's time to roll Puppeteer update.
https://chromiumdash.appspot.com/schedule

[2021-08-03 09:29] nguyenhopquang opened #7462 "Set custom name on chrome address bar"
Hi,
I'm using puppeteer lastest version and saw someone can set custom name on chrome address bar like this
How can i set this using puppeteer?
Thanks
![image](https://user-images.githubusercontent.com/16518296/127992932-63c77639-1ad0-48ab-9e94-238ff5e9a246.png)

[2021-08-03 10:53] mathiasbynens commented on #7462
Puppeteer doesn’t have any built-in API for this. I think what you're seeing there is a custom TLS certificate?

[2021-08-03 10:53] #7462 closed, assigned to nobody

[2021-08-03 11:11] nguyenhopquang commented on #7462
I dont think so because it show even when i visit http website.
When i click on this, it show the current website certificate and nothing named like this custom text

[2021-08-03 11:49] DavertMik opened #7463 "Bounding box is returned for an element with visibility:false"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:

[code]

* Platform / OS version: Windows
* URLs (if applicable):
* Node.js version: 12, 14

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Create HTML page like:

[code]
2. Check for bounding box of `#noid` field

**What is the expected result?**

It is `null` becaus

[2021-08-03 12:36] mathiasbynens commented on #7457
https://github.com/puppeteer/puppeteer/pull/7387

[2021-08-03 13:17] edqallen commented on #1049
Seems you can explicitly set `platform: 'linux'` in the instantiation options to get around this silly check.

It's one thing to warn users that something isn't officially supported, it's something else to actively work against them in this way.

[2021-08-03 13:18] kaiqueryan commented on #4238
Work for me use this command before args in puppeteer.launch

Add command: _`IgnoreDefaultArgs: true`_

[code]

[2021-08-03 13:36] edqallen commented on #1049
Indeed this does work fine.

1. Install chromium on FreeBSD the normal way.
2. Install puppeteer using the env variable, e.g. `setenv PUPPETEER_SKIP_CHROMIUM_DOWNLOAD true && npm install`
3. Change your object instantiation to override the platform:

[code]

This is a lot of nonsense to go through to use something that "just works" if it wasn't for puppeteer itself actively working against it.

[2021-08-03 18:36] byteshiva opened #7465 "How to URL in Tor Tab in Brave nightly build browser?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:10.1.0
* Platform / OS version: 5.8.0-3-amd64 SMP Debian 5.8.14-1~mx19+2
* URLs (if applicable):
* Node.js version:v16.0.0

**What steps will reproduce the problem?**
[code]
_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**
The URL should open in the tor tab
![image](https://

[2021-08-04 07:29] sajjadafridi commented on #665
i have the same problem on grainger.com. When set --headless : false it is working but headless: true return promise handling error

any help will be appreciated

[2021-08-04 12:45] #7457 closed, assigned to jschfflr

[2021-08-04 15:09] jtouris commented on #3339
**[Solution]**

Hi everybody,

I am currently creating an automation that requires multithreading and had this same exact problem. Read through the entire thread and tested several solutions until I was able to fix it. Their was ONE that actually worked for me and was the following:

_Inside of each page that is being opened on a different tab, this code should be invoked:_

[code]
**----  UNFREEZ

[2021-08-04 17:17] LukasGirsch commented on #3339
@jtourisNS I'am not sure that this is actually solving the underlying issue that puppeteer is just executing the tab in the front. All other tabs are basically paused and waiting their turn.

Just set the browser to headless and the issue is gone. No need to unfreeze and when you are working with multiple pages at the same time there probably is no need to see them anyways.

[2021-08-04 17:26] jtouris commented on #3339
@LuKaa In my particular scenario, I need the automation **NOT** to be headless due to some logins into specific datacenters with dynamic credentials. I understand that headless mode makes this "easier" but when u do need to see the browser, it is useful to have a workaround that fulfills the needs, right?

My post solution **DID** solved the freezing problem for non-headless automations, once the

[2021-08-04 17:59] zaiddabaeen commented on #393
The state of this today with puppeteer 9.1.1 is still that margin argument is not respected, and you must modify the CSS to indicate the margins needed.

[2021-08-04 21:01] DavertMik commented on #7463
It seems that also happens with `display: none`
pretty strange because `el.boundingBox()` is said to be empty for invisible elements

[2021-08-05 01:20] heliping opened #7472 "Using async test in python test, opened several browsers, but only the last one can run, the others fail to location."
Hey,
I use pytest asyncio function with pyppeteer to test the web UI.

the testcase like this:

@pytest.mark.asyncio
async def test_lock_remote():
     await  xxxxxx

@pytest.mark.asyncio
async def test_lock_onsite():
      await xxxxxx

but the first case can be interrupt by the second one. and the second one can success, the first one always fails by losing its mouse focus.

[2021-08-05 09:56] sidh01 commented on #7213
In my case the issue was of header

[2021-08-05 11:29] whimboo commented on #6894
If you want to read details you can have a look at https://bugzilla.mozilla.org/show_bug.cgi?id=308048#c6. That's the only public resource that I can link to. Ever since we ship releases as .exe and .msi.

As it sounds like it's a showstopper for you, the only other option that we could offer is to get the final candidate build before it becomes a release. While builds are stored at locations like

[2021-08-05 11:42] sadym-chromium commented on #7213
@jsjett could you please provide more details of what you do? Ideally provide a minimum repro script.

[2021-08-05 11:48] mathiasbynens commented on #6894
This sounds great! ZIPs seem to be available at that location. I don’t know what the CDN URLs would look like but I guess I’ll find out once y’all send a patch 👍

[2021-08-05 13:26] deaktomi commented on #6176
@crobinson42 it didn't help me out. I would like to set the same timezone for all chrome pages (tabs), so the `browserInstancesByTz[tz]` call will return the same browser and the issue will happen.

I don't want to handle one instance of browser per tab, as instantiating a browser takes a long time (about 6 seconds), and also I don't see the point of it.

**In my case the issue is:**

I sign up fo

[2021-08-05 16:16] MahbbRah commented on #3679
I've created a video to help you walk through the steps, how you can install those missing dependencies in order to get chromium working
Here: https://youtu.be/h70iB_9pCMo

[2021-08-05 19:43] nick-0101 commented on #5314
I have the same question. Did you find a solution?

[2021-08-05 20:53] bboydflo commented on #4958
same issue with latest puppeteer (10.2.0) and jest-puppeteer 5.0.4 :(

[2021-08-06 00:59] stevesendsgit opened #7474 "PDF is not rendering SVGs when the container is offset"
Images (SVG in this case) are being dropped from PDF snaphots when the containing div has its top/left offset. PNG files are captured perfectly fine.

In the provided example, the withBleed page has the `#page` element with a `top: 32px` and `left: 32px`. This renders exactly as expected for the PNG output. The PDF output is missing the 2 large red SVG images.

The script will also render a `witho

[2021-08-06 08:05] samiljimari commented on #7454
example of a user:pass proxy which I'm using `premium.guavaproxies.io:7777:customer-GUA_2xyCoQOO-cc-sk-sessid-FFbXYkjL-sesstime-30:ytEM6qcTH1`

[2021-08-06 09:17] pan-alexey commented on #4889
same issue

[2021-08-06 11:06] sidh01 commented on #7213
pass header Accept; image/png

in your service or in the code where you have implemented puppeteer
![puppeteer-snapshot-fix-with-accept](https://user-images.githubusercontent.com/37957105/128501505-d9789511-2bd5-46ab-ae3f-b185a96dc222.jpg)

[2021-08-06 11:25] mechanoid commented on #1546
Facing the same issue, removing `setRequestInterception` did not help so far

[2021-08-06 12:10] marvinhagemeister opened #7475 "Request interception hanging forever"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: macOS Big Sur 11.5
* URLs (if applicable): https://login.tonies.com/legals/terms-of-service
* Node.js version: 16.6.1

**What steps will reproduce the problem?**

The issue can be reproduced with the following snippet:

[code]

1. Run above snippet -> never prints "SUCCESS"

_Note: Whe

[2021-08-06 12:44] marvinhagemeister commented on #7475
Went through the CDP messages and have some more info: Whenever a request hangs, there are two `Fetch.requestPaused` messages for the same request, but with different request ids.

[code]

Notice the different request ids: `"interception-job-10.0"` vs `"interception-job-13.0"`. There is only one "Network.requestWillBeSent" event for this url, but somehow we get another `"Fetch.requestPaused"` even

[2021-08-06 12:54] marvinhagemeister commented on #7475
This issue doesn't occur when caching is disabled via `await page.setCacheEnabled(false);`.

Ah, it seems like there is a corresponding CR bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1196004 . The mentioned `--disable-feature=WebFontsCacheAwareTimeoutAdaption` flag doesn't workaround this problem for me though. Only disabling caching does.

[2021-08-06 13:04] mtatarau90 commented on #7006
Hi @suntong
You found any solution to bypass this "issue" ? I encountered the same issue and puppeteer-extra is not enough.

Thanks

[2021-08-06 13:31] ethans333 opened #7477 ""ReferenceError: t is not defined" when page evaluates elements."
I'm opening the browser in a separate document that gets passed to Preload.js by electron.

```Preload.js```:
[code]

GetData.js basically iterates over an object and fetches the required info.

```GetData.js```:
[code]
When the browser is created in Preload.js the program runs fine, although I don't want to create it there because then a new browser will be launched every time a page on electron

[2021-08-06 14:44] ethans333 commented on #7477
[code]
Followed what [this issue](https://github.com/puppeteer/puppeteer/issues/1665#issuecomment-429356629) and used ```page.evaluate(yourFunctionAsString)``` instead of ```page.$eval()```

[2021-08-06 14:44] #7477 closed, assigned to nobody

[2021-08-06 16:22] liukaigsx commented on #7447
try `'--proxy-server=socks5://fr806.nordvpn.com:1080'` or `'--proxy-server=http://fr806.nordvpn.com:1080'`
and then
`await page.authenticate({
    username: myEmail,
    password: password
});`

[2021-08-06 21:09] suntong commented on #7006
read my last comment again, @mtatarau90.
If you don't get it, read it again, and again, until you get it -- what my last sentence and those up-votes means.

That's all I want to say on this.

[2021-08-07 09:24] garora1212 commented on #7006
following

[2021-08-07 21:37] marvinhagemeister commented on #7475
Just went through a bunch of different puppeteer versions and weirdly the issue starts to occur for me starting with `10.0.0`. It doesn't happen as often and I have to repeatedly call the snippet in the original post a few times until a font request hangs. Presumably it's hitting a race condition somewhere. It's weird because `10.0.0` supposedly contains the fix for this.

[2021-08-08 04:40] SabinShree opened #7478 "Pass Nodelist as parameters in page.exposeFunction"
* Puppeteer version:
* Platform / OS version: windows 10
* URLs (if applicable):
* Node.js version: 15.5.0

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.  I want to pass the function as a parameter on page.evaluate function.
2. In that function, I want to pass a nodelist or any type of data type as needed. But parameters only take a string.

**Wha

[2021-08-08 08:26] devinyasas opened #7479 "Ubuntu 20.04: UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!"
First of all I know this issue has been reported many times. I tried every possible solution and did not work for me
I ran this in Windows without an issue. But I recently switched to Linux and getting this error ,

[code]
I tried `executablePath: '/usr/bin/chromium-browser'` ,`args: ["--no-sandbox"]`, `ignoreDefaultArgs: ['--disable-extensions']` , and reinstalling node_modules.
but nothing worke

[2021-08-08 11:48] Androbin commented on #7475
The fix landed in `10.2.0`

[2021-08-08 15:48] Androbin commented on #7475
I can't reproduce the issue with the following environment:
- Puppeteer version: 10.2.0
- Platform / OS version: Ubuntu 20.04.2 LTS
- Node.js version: 16.6.1

I'm using the script provided

[2021-08-08 22:08] OmarKhattab commented on #3698
no sandbox solved this issue for me in amazon ec2 linux instance

[2021-08-09 02:58] xugx29 opened #7480 "why my browser.pages() result is a empty array"
at first, i launch a browser object from puppeteer, but run the browser.pages() is empty array.
then, i created another methods, use the puppeteer.connect() to recover browser, i run the browser.pages() once again， the results are the same as before。 somebody help me ...

![1](https://user-images.githubusercontent.com/13448173/128656113-a7844904-072f-4bb2-bd38-9927aa21b5ff.png)
![2](https://user-i

[2021-08-09 03:55] #7480 closed, assigned to nobody

[2021-08-09 10:02] AndreyBaryshev opened #7481 "Proxy changing without creating new chrome instance."
What is the best way to change proxy with stored cookies?
I create new chrome instance everytime when I need to change proxy and then I set stored cookies that are appropriate for this proxy.
Is there a way to change the proxy without creating a new instance so it works with cookies (save, restore)?

[2021-08-09 10:49] ilyabo commented on #6622
After installing Chromium via Homebrew as [described here](https://github.com/puppeteer/puppeteer/issues/6622#issuecomment-787912758) I was getting this error when trying to start Chromium:

I found [a solution here](https://chromium.googlesource.com/chromium/src.git/+/main/docs/mac_arm64.md):

      xattr -rc /Applications/Chromium.app

[2021-08-09 11:57] teo523 commented on #4059
Hi @aslushnikov, it seems @jpgklassen is right in her comment. Could you please address this?

[2021-08-09 14:53] sts-ryan-holton opened #7482 "Error: Execution context was destroyed, most likely because of a navigation reading localStorage from page"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Mac OSX
* URLs (if applicable): N/A
* Node.js version: 14.17.4

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

I need to be able to read the `localStorage` from a web page whilst retaining the CDP session and existing array of redirection URLs.

*

[2021-08-09 16:03] aayushb051 opened #7483 "Puppeteer headless chrome stopped working suddenly"
I am trying to open a url, which is heavy and take about 2-3 minutes to complete the process the all ajax request on that page. it was working before and it stopped suddenly. Nothing has been changed. if i hit that url directly on my system it works properly. but i need to run via puppeteer.

here is the code which i am using

[code]
I am trying to open a url, which is heavy and take about 2-3 min

[2021-08-09 16:10] sts-ryan-holton opened #7484 "Network.getAllCookies for each domain only gets the cookies for first domain in series of domains"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Mac OSX
* URLs (if applicable): N/A
* Node.js version: 14.17.4

**What steps will reproduce the problem?**

[code]

**What is the expected result?**

I should expect to see cookies listed in `data.cookies` for each iteration of each page that is in my `redirects` array.

**What happens

[2021-08-09 23:51] sba6300 commented on #3698
use this it worked for me

new Client({puppeteer: { headless: true ,args: ['--no-sandbox','--disable-setuid-sandbox'] }});

[2021-08-10 08:07] kevalrathod opened #7486 "Page Crashed error"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:2.1.x
* Platform / OS version: Linux
* Node.js version: Latest

**What steps will reproduce the problem?**

[code]

**What is the expected result?**
In some cases, it gives a page crashed error. While someone wants to generate reports and insert too many requests and the puppeteer gives the below error.

**What happen

[2021-08-10 08:35] MilanVilov commented on #373
https://github.com/puppeteer/puppeteer/issues/5345#issuecomment-747325977

[2021-08-10 08:36] MilanVilov commented on #373
I think that is the default value for header/footer, just add `<div/>` to the one you do not need and it will not display the default value

[2021-08-10 11:52] ghost opened #7487 "Unable to upload over FileChooser when invoked remote link file"
### Steps to reproduce

**Tell us about your environment:**

Puppeteer v10.2.0
Chromium: latest
Platform / OS win10
URLs (if applicable):
Node.js 16.6.1 Current
`**What steps will reproduce the problem?**
I try to add remote file, bat it doesn't work. Why? Share settings is ok

``
const [fileChooser] = await Promise.all ([page.waitForFileChooser(), page.click('#fileupload-button'),]);
await fileCh

[2021-08-10 12:10] cmd08010 opened #7488 "Timeout Error with helper.js"
### Steps to reproduce

**https://stackoverflow.com/questions/68621878/puppeteer-timeouterror-timeout-exceeded-while-waiting-for-event-at-timeout-set - posted with no response**

**Tell us about your environment:**

* Puppeteer version: "puppeteer": "^1.19.0"
* Platform / OS version:
* URLs (if applicable):
* Node.js version: v14.15.3

**What steps will reproduce the problem?**
 Cannot reproduce t

[2021-08-10 12:36] Manyou99 opened #7489 "How can i click a "special" button?"
Hey guys, i want to code a bot. But i can't click a button on the website.

My Code:

[code]

the following code also doesen't work:
` await page.click('[aria-label="Alles akzeptieren"]',elem => elem.click());`
or
`await page.click('[data-testid="uc-accept-all-button"]',elem => elem.click());`

Error Message:
`
No node found for selector: button[Class='sc-gtsrHT gqGzpd']
`

Element Info:
`
<button

[2021-08-10 14:31] sfeliceSNC commented on #6663
This issue is always causing me trouble on the site I am working on.
I get a mix of passing and failing results without changing the code.
I can do some of the testing faster manually.
HELP!

[2021-08-10 17:25] dnm13 commented on #6647
+1 having the same issue here
also, from #1599 where the accepted solution (probably) is

[code]
I can't get it to work in TypeScript as `_client` is a private property
For me, this error was thrown when I tried to download image:
[code]
It's not all the time, but I can't grasp how it got triggered

EDIT: tried what's looks like the same solution above from Owais' snipcode, and yes, I still got th

[2021-08-10 18:12] ErtanOzdemir commented on #7489
`await page.click("button[class='sc-gtsrHT']");`

Maybe lowercase 'c' helps you

[2021-08-10 19:24] Helspank opened #7491 "Is there any way to insert a breakpoint in a JavaScript file and stop/resume its execution?"
Hello, I need to **inject some code** in a page through the console, but I need to block the execution of a js file at a certain point first. To do this manually I just open the **DevTools**, search for the line I need in the "_Sources_" panel, insert a **breakpoint** in the code, reload the page, wait for the breakpoint, write some code in the console and resume execution.

Is it possible to do t

[2021-08-10 19:58] manatarms commented on #1313
I need to do `⌘ + i` on macOS. Has anyone been able to figure out how to trigger the meta shortcuts in macOS?

[2021-08-11 07:44] dipakveer opened #7493 "How to add date in header"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**
headerTemplate": `css+ <div style="width:100%;"><div class="Row">
                    <div  id="pageHeader"><img src="'https://i1.wp.com/miisbotswana.com/wp-content/uploads/2021/06/colection.png?fit=459%2C4

[2021-08-11 08:53] Garima-sharma814 opened #7494 "Can't install puppeteer as devDependencies."
Getting this error every time I try to install **puppeteer**, I am trying to install puppeteer as **devDependencies** but it doesn't work. I also tried to install it as a **dependency** but failed every time, tried deleting _npm cache_ by `npm cache clean -f` still doesn't work for me. Please help to solve this problem.

_Error :-_
[code]

[2021-08-11 10:02] swissspidy commented on #7494
This appears to be an issue with your npm setup and not puppeteer.

I recommend checking out resources like https://stackoverflow.com/questions/39293636/npm-err-error-eperm-operation-not-permitted-rename and https://stackoverflow.com/questions/34600932/npm-eperm-operation-not-permitted-on-windows

You might need to update npm or run commands as administrator due to these permission issues.

[2021-08-11 11:19] #6639 closed, assigned to nobody

[2021-08-11 11:21] warsmit commented on #298
I use

Thank you. This is working for me.
I use metamask extension (dappeteer) for tests. Sometimes tests cannot close wallet request. This workaround help with this issue.

[2021-08-11 11:42] motin commented on #724
I use this workaround:
[code]

Used as such, somewhere before the page.evaluate call that should have access to the functions:

[code]

The dependencies will be exposed on the window object in the browser context, similar to exposeFunction, but only in the browser context without any bridging.

[2021-08-11 11:59] HitkoDev opened #7495 "Page.once doesn't clean up request interceptors"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: all
* URLs (if applicable): N/A
* Node.js version: 16

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

[code]

**What is the expected result?**

Logs URL of the first request (http://google.com), then removes interceptor.

**What happens in

[2021-08-11 12:38] guzzur commented on #2175
Any chance you have a working example of this?

[2021-08-11 12:44] crisdosaygo commented on #2175
Yes @guzzur see [this search](https://github.com/i5ik/ViewFinder/search?q=lame) for an idea of some of the files touched by the audio code

and in general check out this repo: https://github.com/i5ik/ViewFinder

[2021-08-11 15:06] yongyi520 commented on #6679
were you able to find a fix to this issue? I encountered the same thing while deploying to heroku @cneisen234

[2021-08-11 15:57] Microanswer commented on #3506
遇到了同样的问题。
same issue.

[2021-08-11 19:30] #7491 closed, assigned to nobody

[2021-08-11 19:30] Helspank commented on #7491
Solved, missed https://chromedevtools.github.io/devtools-protocol/tot/Debugger/.

[2021-08-11 19:42] abowcut commented on #1191
I also have a need for "response interception" to enable me to retry requests that responded with 4xx or 5xx statuses.

Without this feature retrying those requests isn't possible as it will trigger a "Response is already handled!" error.

Would be great to have this feature or some reliable workaround for these types of cases.

[2021-08-12 02:52] Arnoldnuo commented on #4796
Same problem here ):

[2021-08-12 05:33] fherryfherry commented on #3339
I'm facing same issue, I'm using like this solution for that (solved for me) 🤣 like @jtourisNS
[code]

*you need create `delay()` function by your self .

[2021-08-12 08:52] deepak-mali commented on #659
Please write a blog. 🙏

[2021-08-12 11:07] Vitaliy-Svinchyak opened #7496 "Inspector.targetCrashed with custom fonts on footerTemplate in createPdf"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: macos / linux
* URLs (if applicable):
* Node.js version: 14

**What steps will reproduce the problem?**
1. Pass custom fonts to footerTemplate
2. Get `Inspector.targetCrashed`

Code:
[code]

footerTemplate:
[code]
**What is the expected result?**
Custom font renderes correctly in pdf

[2021-08-13 06:00] LukePammant commented on #5429
I just installed vcxsrv by following this post: https://blog.nimamoh.net/wsl2-and-vcxsrv/

Rather than adding to the `/etc/profile.d/set-display.sh` I added those lines to my ~/.bash_profile and everything is working for me.

[2021-08-13 07:36] Fritzsierra commented on #5314
You must add this code before await page.goto

page.on('response', async (response) => {
        if (response.url()=="https://sunat....."){
            console.log('XHR response received');
            console.log(await response.json());
        }
    });

await page.goto("http://sunat...")

[2021-08-13 08:43] ildar945k opened #7497 "Lambda .Net Puppeteer fail to launch Chrome"
Part of my docker file:
[code]

Lambda on .net core:
[code]

This work fine on local Docker run. But when i deploy image into Lambda i get:

how can i fix this, i can provide more code if needed, but i think this is sufficient.

### Environment

* OS Info: AmazonLinux2
* Build Environment: dotnet
* Targeted .NET Platform:  5.0

[2021-08-13 08:59] taewookim opened #7498 "How to Bypass Cloudflare "Press and Hold" captcha?"
Screenshot: https://i.postimg.cc/sfTznvgy/image.png

Cloudflare is adding 10-15'ish iframes.. so i thought i could get just around with it by  sending page.down().. but that's failing.

Tried querying the iframe html  and looking for the selector.. but that's not working either.

I tried Puppeter-extra w/stealth plugin. Still hit or miss randomly.

Has any one been able to consistently bypass this

[2021-08-13 09:58] 1nVitr0 commented on #3339
I have switched to headless mode for a while now and haven't regretted it. If you need visuals just use the same remote debugging protocol that puppeteer uses. `chrome://inspect` is not even strictly needed, it works in all browsers by just visiting your port `http://localhost:9222`. When specifying `0.0.0.0` as your `remoteDebuggingAddress` it even works remotely.

If you still feel you need head

[2021-08-13 13:36] Nijinsha opened #7499 "A page is not working in puppeteer in google app engine"
https://partner.zerodha.net/

I am trying to get cookies for this page on app engine standard environment using pupeteer. Other pages are working fine but not this. One thing I notificed is that the code works in my macbook pro and i am getting cookies . This is driving me nuts for a week now.

[code]

      const page = await browser.newPage();

      await page.goto('https://partner.zerodha.net'

[2021-08-13 20:07] schlaegerz commented on #7455
We are seeing this same issue on one of our dev's boxes. The exact same setup works fine on every other device we have including on ubuntu docker on circle ci.

So this is specifically a Arch linux problem from what we can tell. None of the other bugs that I find seem to be relevant since the OS isn't quite the same.

It would be helpful if someone had some setup instruction for Arch linux, as we

[2021-08-13 20:47] ildar945k opened #7500 "AWS Lambda Chromium Windows & Linux inconsistent result"
I am trying to measure width of the element using puppeteersharp in lambda and docker.

Simple code gives diffrent results on win & linux.
`var res = await node.EvaluateFunctionAsync<int>("element => parseFloat(window.getComputedStyle(element).width)");`

Adding sample project.
[test-lambda-chrome.zip](https://github.com/puppeteer/puppeteer/files/6985101/test-lambda-chrome.zip)

1. When i run it f

[2021-08-13 23:46] SimonSchick commented on #7295
Bump.

[2021-08-14 04:06] CleisonArenhart commented on #5893
I am facing the same problem, as I'm making a scrapper to fulfill a database.

I know it's not the proper solution, but I could handle the problem by managing the amount of accesses made by the browser and restarting it.

Here is my solution, I hope it helps someone

[code]

My hypothesis is that when a chromium browser is closed, all of its cache is cleared and when a browser is launched, there i

[2021-08-14 11:41] erlangparasu commented on #3461
@wolfgangmeyers +1

[2021-08-15 16:15] dmanexe commented on #4072
+1, but also seems that waitFor randomly works and then does not work.

[2021-08-16 03:15] v15h9 commented on #807
For those who reach here for Heroku install of puppeteer, please ensure you add the build pack: https://elements.heroku.com/buildpacks/jontewks/puppeteer-heroku-buildpack to resolve this issue.

[2021-08-16 03:47] WzFFzW commented on #7342
same error

[2021-08-16 05:47] phpmaple commented on #1546
solved anybody?

[2021-08-16 06:03] Nijinsha commented on #7499
anyone?

[2021-08-16 06:08] mechanoid commented on #1546
For me it turned out, that waitFor wasn't the problem. Instead it was`.click()` not submitting a form in the dockerized chromium, resulting in the timeout. Maybe it is something similar for you.

[2021-08-16 09:37] chinmaey commented on #2794
I need to test the download speed for video download. I face same issue.

[2021-08-16 15:14] mread1208 commented on #1649
@rustkt 4.5 years later and your comment is still saving people.  Thank you!  I did have to tweak as @fudgi mentioned above:

[code]

[2021-08-17 03:19] haydenzhourepo commented on #7342
i have the same error on macbookpro m1

[2021-08-17 04:41] Zebraslive commented on #5265
You need to loop all intervals and timeouts and delete them.
[code]
this usually works but might need to run it at a certain time.

[2021-08-17 08:16] hottomato-c commented on #6834
Same

[2021-08-17 09:54] hottomato-c opened #7501 "Clone the repo but can't run npm install and npm test successfully."
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0-pos
* Platform / OS version: macOS Catalina 10.15.5
* Node.js version: 14.17.5
* NPM version: 7.20.6

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. clone repo
2. npm install

**What is the expected result?**
dependencies and post-installation scripts to be exe

[2021-08-17 10:29] ghost opened #7502 ""{"error":"You need to sign in or sign up before continuing."}" when in headless mode"
I'm facing an issue in headless mode. When I login to the website and navigate to a different url which returns a json array in headless mode, it tells me i'm not logged in. But when the browser window is visible on the desktop it works fine. Why is this happening?

[2021-08-17 13:41] hottomato-c commented on #7501
Well, I resolved this issue by `uninstall @types/jest`.

[2021-08-17 13:41] #7501 closed, assigned to nobody

[2021-08-17 20:12] webhype commented on #7049
I concur, there's no apparent solution to send keypresses to frames/iframes.

[2021-08-17 21:21] travisdowns commented on #359
Not sure if something has changed here, but I have been able to successfully take screenshots of > 50,000 pixels height using puppeteer 10.2.0 in headless mode.

[2021-08-17 21:57] alfeugds commented on #2479
In my case I was accessing different pages of an SPA where the pages were after the hash symbol. There's a footnote in [puppeteer documentation about goto](https://devdocs.io/puppeteer/#pagegotourl-options) that says the following:

What I did as a temporary workaround was to force the page to go somewhere else (e.g. 'about:blank') and then 'goto' the page I wanted to test. Something like this:

[

[2021-08-18 06:41] klk2 opened #7503 "Print pdf, how to achieve mixed directions (landscape and portrait) in one file at the same time"
Print pdf, how to achieve mixed directions (landscape and portrait) in one file at the same time

[2021-08-18 09:43] matsyui opened #7504 "Using Amazon EC2 but can't install amazon-linux-extras"
It runs fine when I host it to my PC, but it doesn't run on VPS/Cloud Hosting like Amazone EC2 and also to Heroku
**Error Log:**
[code]

If you think that I didn't try the [Troubleshooting ](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md), Well I also posted at [StackOverflow with another problem](https://stackoverflow.com/questions/68828553/error-sudo-amazon-linux-extras

[2021-08-18 16:59] matsyui commented on #7504
Update:

I've already installed all of this:
![image](https://user-images.githubusercontent.com/62344860/129940237-f715ff4c-5ff0-4e0c-8ced-f4fa611a88d4.png)
![image](https://user-images.githubusercontent.com/62344860/129940390-76c79b45-efd0-4f14-b024-c842d14f9b20.png)
![image](https://user-images.githubusercontent.com/62344860/129940509-0ebec76c-a4d6-405c-8a59-ec44ef6074a3.png)

Still giving me th

[2021-08-18 17:21] btecu opened #7505 "Incognito context doesn't set cookies"
### Environment
* Puppeteer version: 10.1.0
* Platform / OS version: AWS Lambda
* Node.js version: 14

### Issue
Making a request with cookies using an incognito context does not appear to send the cookies:
[code]

If instead I use `let context = browser.defaultBrowserContext();` it works fine.

[2021-08-19 00:22] otanim commented on #5334
For those who are facing this issue, it's happening when you assign a listener to the same event more than twice, so you want to do is either unsubscribe your listener once you're done with the listener's code execution and only then assign a new listener:
[code]

Otherwise, you always can create a new page and never unsubscribe the listener, it's up to you and to your use case, but the first opti

[2021-08-19 08:38] ksvvandana opened #7506 "Puppeteer does not display microsoft SSO accounts"
* Puppeteer version: 10.0.0
* Platform / OS version: Windows

When I open google chrome, and go to login.microsoft.com I see a bunch of already added SSO accounts including my organization account. However, when the same google chrome is launched using puppeteer, I don't see those accounts

Both the chromes (when launched manually and through puppeteer) start from the same location and have the sa

[2021-08-19 09:43] #5641 closed, assigned to nobody

[2021-08-19 10:31] deepak-mali opened #7507 "page.screenshot() hangs forever in Puppeteer@5.5.0"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 5.5.0
* Platform / OS version: Windows 10(64-bit)
* URLs (if applicable):
* Node.js version: v14.17.0

**What steps will reproduce the problem?**
I am migrating from Puppeteer 1.20.0 to 5.5.0 and during testing I found, Puppeteer hangs to capture the screenshot and websnapshot in headless mode.

When I take a screens

[2021-08-19 16:28] corey-slade opened #7509 "Export tagged PDFs for Accessibility"
In Chrome 85 an update was implemented to allow tagged PDFs to be generated, carrying over the alt text from the HTML to the PDF it creates. (https://blog.chromium.org/2020/07/using-chrome-to-generate-more.html#:~:text=Using%20Chrome%20to%20generate%20more%20accessible%20PDFs,-Wednesday%2C%20July%2029&text=Starting%20in%20Chrome%2085%20(scheduled,%22Save%20as%20PDF%22%20destination.)
For whatever

[2021-08-19 18:28] vFire opened #7510 ""Pages per sheet" support needed."
Is it possible to support "Pages per sheet" param in save as pdf action?
Thanks.

[2021-08-19 22:01] aelzhanova opened #7511 "Mac M1 Chromium non headless mode crashes very often. Error: Protocol error (Runtime.callFunctionOn): Session closed. Most likely the page has been closed."
I use codeceptjs 3.1.0 with puppeteer 3.0.0. On Mac not M1 all tests are good, on the M1 when I run tests the browser (chromium) crashed in any moment, and I see the error: Protocol error (Runtime.callFunctionOn): Session closed. Most likely the page has been closed. And the same situation for all my colleagues on my work - the same tests are work on mac not m1, and chromium crashes on mac m1 for

[2021-08-20 05:43] GmBodhi commented on #7511
I think you're explicitly closing the page in between some processes. It'll be helpful if you could share the relevant code.

[2021-08-20 18:24] as20203 commented on #5987
Same issue occured for me as well. I installed adpendency libgtk-3-0  and it started working again. Kindly guide regarding this issue as to why it occured all of a sudden.

[2021-08-20 20:15] markito12 commented on #7220
sorry for the late response, but no.

you could build chromium and modify that value on the source o use a clicking package and do it manually with cords

[2021-08-21 03:29] Terra-rian opened #7513 "page.waitForSelector() fails when using page.setContent(), even if the element exists"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: **10.2.0**
* Platform / OS version: **Windows 10, 64 bit**
* URLs (if applicable): **N/A**
* Node.js version: **16.1.0**

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Go to https://finnhub.io/ and get an API key (needed for this code snippet).
2. Paste the code belo

[2021-08-21 13:53] stracker-phil opened #7514 "`element.screenshot()` captures wrong area in non-headless mode"
### Steps to reproduce

When using `element.screenshot()` Puppeteer produces different results in headless/non-headless mode. The headless screenshot is correct, the non-headless image captures the wrong screen region.

* Puppeteer version: 10.2.0
* Platform / OS version: MacOS BigSur (11.5.2)
* URLs (if applicable): -
* Node.js version: v14.15.4

#### What steps will reproduce the problem?

Use t

[2021-08-22 12:07] sts-ryan-holton commented on #7484
Any update on this?

[2021-08-23 02:02] Continue-2000 opened #7515 "An unexpected error has occurred"
When I take a screenshot of a large web page, I generate a white picture with an "an unexpected error has occurred" error, but I can take a normal screenshot of most web pages. How can I solve this。
The generated screenshot is as follows

![image](https://user-images.githubusercontent.com/73466204/130380225-bd3f8a5e-2c87-4386-99cd-7321dd9a4eb2.png)

[2021-08-23 06:49] 2tuzi commented on #1409
Adding `--disable-gpu` resolved this in my instance.

Chrome Version: Chrome/92.0.4515.159 with puppeteer ^10.2.0

[2021-08-23 08:35] afifalfiano commented on #2173
Thanks, it works

[2021-08-23 14:49] fork1488 opened #7518 "Automatic open to all tabs device emulation with scale tool"
How can I open to all tabs device emulation with scale tool?

![изображение](https://user-images.githubusercontent.com/87487867/130467873-b54576aa-13f4-4eae-96c3-c3bbbc3e92b5.png)

This is not what I want.
[code]

[2021-08-23 21:04] nzakas opened #7519 "Error on Google Cloud Run"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: node14-slim
* URLs (if applicable):
* Node.js version: 14

**What steps will reproduce the problem?**

Create a Node.js application that runs Puppeteer and deploy to Google Cloud Run. The default Node.js build pack will show this error when attempting to start Chromium:

I can also rep

[2021-08-24 15:51] berkinalex opened #7520 "Multiple executablePath at the same time"
I have tried from the same launcher, open a website in a browser (Chrome) and another website in Microsoft Edge, the fact is that apparently Pupperteer does not support hot changes of browsers by tabs.

Any idea how to open two websites in a launch, one in one browser and the other in a different one?

[2021-08-24 15:52] x-znn opened #7521 "ask"
Error: Evaluation failed: k
    at ExecutionContext._evaluateInternal (c:\p\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:221:19)
    at processTicksAndRejections (internal/process/task_queues.js:95:5)
    at async ExecutionContext.evaluate (c:\p\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:110:16)

https://bugs.chromium.org/p/chromium/issues/entry?comp

[2021-08-24 16:53] ex0nnix commented on #7503
I had the same issue and created a SO question for this.
https://stackoverflow.com/questions/68911105/printing-multiple-page-size-css-attributes-inside-one-html

[2021-08-24 19:09] MateuszTulski commented on #5656
Try to update npm and node:
https://www.whitesourcesoftware.com/free-developer-tools/blog/reinstall-npm-node-js/

Worked for me

[2021-08-24 19:41] btecu commented on #7505
I don't want to close the browser.

[2021-08-25 11:11] lsdsjy commented on #4152
In my case, it's bootstrap specifying background of body to be white, so `omitBackground` didn't work.

[2021-08-25 15:43] berkinalex commented on #7520
const puppeteer = require('puppeteer');

var NavChrome = "/Applications/Google Chrome.app/Contents/MacOS/Google Chrome";
var NavBrave = "/Applications/Brave Browser.app/Contents/MacOS/Brave Browser";
var NavChromium = "/Applications/Chromium.app/Contents/MacOS/Chromium";

var browser;
var browser2;

(async () => {
  async function mah() {
    browser = await puppeteer.launch({
      executablePath

[2021-08-26 03:21] shilongfeicool commented on #6622
How to solve this problem? @stnwk

[2021-08-26 14:44] marvinhagemeister commented on #6622
For everyone still coming across this issue: The fix for this has been published for a few months now. Update your `puppeteer` dependency in your project to resolve it. Anything newer or equal to version `10.0.0` will do.

[2021-08-26 19:53] Devalfaz commented on #7184
Facing the same issue . Have you found any solutions yet?

[2021-08-27 01:28] shilongfeicool commented on #6622
Thank you for your reply , the problem has been solved.

[2021-08-27 06:21] raakyat opened #7525 "DOH Domain Over HTTPS Secure DNS using Puppeteer How to?"
How to use DOH in puppeteer? i want to change my DNS to 1.1.1.1 cloudflare for example to bypass internet connection censorship

[2021-08-27 14:09] hkalex commented on #686
I am trying to overwrite "sec-" headers, but also not working :(

[2021-08-27 14:22] FrEaKmAn commented on #4768
One solution is to use box-shadow

[code]

If I change 1px to lower value, it renders nicely.

This works nicely for other elements than table. There, extra border was added. To solve that, you can specify it as background image

[code]

[2021-08-27 17:14] akornatskyy opened #7529 "TypeError: Cannot read property '_launcher' of undefined"
puppeteer-core: 10.2.0
nodejs: v16.8.0
typescript: 4.4.2

[code]

it works as expected with typescript 4.3.5.

[2021-08-27 17:30] akornatskyy commented on #7529
This bug can be reproduced when you import `launch` from `puppeteer-core`, e.g.

[code]
More details are in Typescript 4.4 Announcement, [More-Compliant Indirect Calls for Imported Functions](https://devblogs.microsoft.com/typescript/announcing-typescript-4-4/#more-compliant-indirect-calls-for-imported-functions).

Workaround:

[code]

[2021-08-27 20:09] bluematter opened #7530 "Screenshot causing frame artifacts"
### Steps to reproduce

* Puppeteer version: 10.2.0
* Platform / OS version: AWS Lambda
* URLs (if applicable): https://s3.us-west-2.amazonaws.com/storycreator.v2.rendered/cksuq8g83646313ml2xtv3qf6?t=1630092911776 (frame flicker at 1:50 mark)
* Node.js version: 12

**Create Page**

[code]

**Gets Screen Shot For Single Frame**

[code]

**What is the expected result?**
The app carefully waits until

[2021-08-28 00:28] jamesg-rimsys commented on #7503
We have the question here.

[2021-08-28 04:16] sir-reynolds commented on #6875
@mrceperka in regular browser you can use sessionbox extension to create multi session on each tab

[2021-08-28 11:57] ade566 opened #7531 "Error: Navigation failed because browser has disconnected!"
### Error: Navigation failed because browser has disconnected!
[code]

how i fix this sir?

[2021-08-28 13:36] bgachip opened #7532 "after goto, queryselectorall return null, why"
You can see the code below.
1. step: Login Page
2. Car models list, href there is the valid url to within car's category list
3. I can see the category list the popup chromium but the element is not detected, i tried a lot of methods but there were unsuccessfull

Maybe it is working wrong because of a bot blocker?

`

      const puppeteer = require("puppeteer");
      const nodeConsole = require(

[2021-08-29 02:10] 3wweiweiwu opened #7533 "element.screenshot() capture wrong screen area"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: Windows 10
* URLs (if applicable): www.google.com
* Node.js version:v14.17.5

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._
        let option = {
            "executablePath": "C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.

[2021-08-29 19:43] StanleySathler commented on #1837
It was mentioned in different ways before by a few users, but somehow got lost in the thread.

This is what worked for me on WSL2 running an Ubuntu 20.04:

1. Install Chrome. [Here's a guide](https://scottspence.com/posts/use-chrome-in-ubuntu-wsl).
2. Run `$ which google-chrome` to check where it was installed. Probably `/bin/google-chrome`.
3. Use `const browser = await puppeteer.launch({ executa

[2021-08-30 02:27] Heritsam commented on #7531
could you please put the source and how do we reproduce the error?

[2021-08-30 02:30] ade566 commented on #7531
[code]

[2021-08-30 02:33] acro5piano commented on #7519
Did you try install every dependencies?

[code]

[2021-08-30 04:24] Antoniojfl commented on #2602
This worked for me thanks a lot!

[2021-08-30 07:39] simonhaenisch commented on #7407
I'm probably running into this issue with [one of my project's pipelines](https://github.com/simonhaenisch/md-to-pdf/runs/3458954768), but only on Node 14 and 16 on Windows.

[2021-08-30 10:29] v-akash-freightwalla opened #7535 "Puppeteer fails to capture the downloaded file"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: puppeteer-extra(3.1.16)
* Platform / OS version: ubuntu
* URLs (if applicable):
* Node.js version: v12

**What is the expected result?**

1. I am trying to download a PDF document using puppeteer from a website.
2. On click of the download icon, the PDF file must get downloaded using the page._client.send('Page.setDo

[2021-08-30 20:31] krausest opened #7536 "[Question] Measuring memory consumption since chrome 91"
I ran into an issue with getting correct data from chrome and I'm looking for help though this issue isn't unique to puppeteer and may not even be considered a bug. So it would be fair to just close this issue again as it's rather not a puppeteer bug, but I hope somebody has an idea that helps me.

Background: I'm the maintainer of the js-framework-benchmark. This is a benchmark for a few framewor

[2021-08-31 02:43] theprodev opened #7537 "The Javascript coverage"
Hello,

I tried the page.coverage to get the used javascript only. It works fine but it gives results in 'Per Block' mode. I need the coverage javascript based on the 'Per function' mode. How to do it? My code is given below;

Thanks for your help.

[code]

[2021-08-31 06:05] mathiasbynens commented on #7536
@OrKoN @szuend @mlippautz, any idea what's going on here?

[2021-08-31 06:16] OrKoN commented on #7536
I am not sure exactly what's going on but it might be useful to take a heap snapshot between iterations (see https://chromedevtools.github.io/devtools-protocol/tot/HeapProfiler/#method-takeHeapSnapshot, https://chromedevtools.github.io/devtools-protocol/tot/HeapProfiler/#event-addHeapSnapshotChunk). One thing that takeHeapSnapshot would do is trigger a complete GC. Also you would be able to see wh

[2021-08-31 12:04] HarshiShah commented on #1395
Any plans on adding the initiator information? I see pull requests for this feature open for more than 2 years.

[2021-08-31 15:49] rafakwolf commented on #7187
same here

[2021-08-31 20:19] JCMais commented on #516
This is also useful for e2e tests related to webrtc, where it could be used to detect if audio is working

[2021-08-31 20:36] krausest commented on #7536
Running in chrome and taking a heap snapshot after each "create 1,000 rows" looks like that:
<img width="569" alt="Bildschirmfoto 2021-08-31 um 22 23 55" src="https://user-images.githubusercontent.com/3374055/131570937-342c2a1c-99d4-41c2-830a-038d742ef6c4.png">
And taking the heap snapshots via puppeteer creates the following:
<img width="878" alt="Bildschirmfoto 2021-08-31 um 22 28 04" src="https

[2021-08-31 20:50] krausest commented on #7536
I'm trying to make sense out of the heap snapshots, but honestly I'm not sure how to achieve that.
The statistics view shows that for the puppeteer run the system objects memory is increasing:
After 1st click on create 1,000 rows:
<img width="401" alt="Bildschirmfoto 2021-08-31 um 22 44 34" src="https://user-images.githubusercontent.com/3374055/131573514-65b42cc0-8968-4258-9f5e-eaa52f5c4282.png">

[2021-08-31 21:08] krausest commented on #7536
Not sure if I'm doing this correctly, but this appears be the retainer tree for the largest retained object from the puppeteer run:
<img width="976" alt="Bildschirmfoto 2021-08-31 um 23 02 06" src="https://user-images.githubusercontent.com/3374055/131575546-63093e54-73bc-475a-95cf-3d95dffb6f3c.png">

[2021-09-01 03:23] keithlowc commented on #5240
Same issue here - Any ideas?

[2021-09-01 04:55] OrKoN commented on #7536
From the last screenshot it looks like something is retained by console.log'ing HTMLTableCellElement somewhere.

[2021-09-01 05:21] OrKoN commented on #7536
I think it's caused by not disposing the element handle after assertions. `await element.dispose();`

[2021-09-01 06:16] krausest commented on #7536
@OrKoN Ouch - yes, that makes a difference. Thanks a lot!
That makes a big difference for that framework. Heap size is now reported as
[code]
and looks now way more constant. I'm closing this issue.

[2021-09-01 06:16] #7536 closed, assigned to nobody

[2021-09-01 09:23] kevinlandsberg commented on #6622
Great solution, thank you!

[2021-09-01 12:09] mathiasbynens commented on #7458
Jan, could you PTAL?

[2021-09-01 14:52] jeasoncc commented on #7535
could you provide the website url?
i will try

[2021-09-01 17:45] harunoz commented on #2579
Hello, after a long time I am still having the same issue, I tried your code with inside of async function() as you see in below.
[code]

However, I am getting false for every website and still getting an Evaluation Failed error as showed in below.
[code]

Can you help me with this error? How can I solve this issue?

Thanks.

[2021-09-01 18:35] themarcel commented on #7455
I fixed this downgrading to 7.0.1.

[2021-09-01 18:48] themarcel commented on #7081
I fixed this downgrading to 7.0.1

[2021-09-01 18:48] themarcel commented on #7507
I fixed this downgrading to 7.0.1

[2021-09-01 18:48] themarcel commented on #7411
I fixed this downgrading to 7.0.1

[2021-09-01 18:48] themarcel commented on #7342
I fixed this downgrading to 7.0.1

[2021-09-01 19:15] harunoz opened #7540 "Checking If the Website Uses Specific Function"
Hello, I am trying to check if the website uses specific function (i.e., **window.showOpenFilePicker()**). My aim is I will open the website and I want to get a True boolean value only if the website uses  **window.showOpenFilePicker()** function. As suggested by @vsemozhetbyt I am using ` page.evaluateOnNewDocument()`. However, the code as shown in below, always returns False and I am getting thi

[2021-09-01 22:18] vsemozhetbyt commented on #2579
@harunoz Can there be that you try to use this code on HTTP sites?

See [Window.showOpenFilePicker()](https://developer.mozilla.org/en-US/docs/Web/API/Window/showOpenFilePicker):

[2021-09-01 22:22] vsemozhetbyt commented on #7540
@harunoz Can there be that you try to use this code on HTTP sites?

See [Window.showOpenFilePicker()](https://developer.mozilla.org/en-US/docs/Web/API/Window/showOpenFilePicker):

[2021-09-01 23:51] harunoz commented on #7540
Hello, no if I run the code in `https://example.org/` I am still getting the same error. I think we need to inject window function to evaluate by using `exposeFunction` as stated in [here](https://stackoverflow.com/questions/48281130/why-cant-i-access-window-in-an-exposefunction-function-with-puppeteer). But I could not figure out how.

[2021-09-02 00:56] vsemozhetbyt commented on #7540
It is strange: I get no errors with `https://example.org/`. Do you use the last version of Chrome shipped with the last version of `puppeteer`? Do you use the code without any changes?

[2021-09-02 01:05] harunoz commented on #7540
I am using the above code without any change and I am running it with node. Note that, I commented await browser.close(). So, I am not closing the browser. While the browser is opened by the puppeteer I am seeing the error via dev-tools console. Specifically,

`VM14:4 Uncaught TypeError: Cannot read property 'bind' of undefined
    at <anonymous>:4:65
    at <anonymous>:9:9`

Don't you see this er

[2021-09-02 05:24] vsemozhetbyt commented on #7540
No, I get no errors, just the expected output. Your error means there is no `window.showOpenFilePicker` function in the site context. What puppeteer and Chrome version do you use?

[2021-09-02 06:59] taozuidesongshu commented on #6610
The cause of the error has been found and the problem has been resolved
The specific reason is that the tab A you opened was opened when the business was not closed after running.
Then use target.close() to close tab A,
Because tab B and tab A have the same name as target, tab B is also closed by the way. Will explode this error
已找到错误原因，问题已解决
https://blog.csdn.net/Lifemustrough/article/details/119

[2021-09-02 13:57] harunoz commented on #7540
Hello I believe that my problem is related with this. I am downloading puppeteer with `npm install puppeteer` and it automatically downloads `Chrome/78.0.3882.0 ` which is the old version of Chrome. How can I update the Chrome that comes with the Puppeteer?

[2021-09-02 14:04] timocov commented on #7529
It seems that puppeteer exports a class instance as a default export, but in the types all functions of the class are just simple functions (they don't require to provide a context). I'd say that the bug is in puppeteer package which accidentality does wrong type of export (at least in types). So probably types should be different (instead of set of function it should be a class, which you obvious

[2021-09-02 14:14] timocov commented on #7529
So basically [this line](https://github.com/puppeteer/puppeteer/blob/78941e562c28c8b54626a3c9dc4cd2e7a92a7074/src/api-docs-entry.ts#L99) is wrong, since [the entry point exports](https://github.com/puppeteer/puppeteer/blob/78941e562c28c8b54626a3c9dc4cd2e7a92a7074/src/node.ts#L23) a class instance, not separated functions.

[2021-09-02 15:20] vsemozhetbyt commented on #7540
You can try `npm install puppeteer@latest` to install the last puppeteer version with the last available Chrome.

[2021-09-02 15:56] harunoz commented on #7540
Hello it worked, I am not seeing any errors. However, in the above code opens `filePicker ` for every website.
What I am trying to do this, I want puppeteer to continuously check if the showOpenFilePicker function (or any other function) is invoked by a website or user. If this function is invoked, my aim is to interrupt the website's activity and run my function. Is this possible?
For example if

[2021-09-02 16:24] xuxk1 commented on #7533
I also encountered a similar problem

[2021-09-02 16:28] nzakas commented on #7519
That worked, thanks! I'm going to send a pull request to update the troubleshooting docs for this.

[2021-09-02 16:31] vsemozhetbyt commented on #7540
Maybe something like this?
[code]

[2021-09-02 16:46] harunoz commented on #7540
I really lost in this step. I am really appreciate your help I tried code shown in below but it did not work. Where should I locate this code snippet?

[code]

[2021-09-02 16:58] bluematter commented on #7530
Bump

[2021-09-02 17:38] vsemozhetbyt commented on #7540
I am a bit lost too) Maybe you can describe what you really need to do after file dialog is closed?

[2021-09-02 18:31] harunoz commented on #7540
Okay, what I am trying to do this, let's say we do have a website that uses `Window.showDirectoryPicker()` function stated in [here](https://web.dev/file-system-access/). I would like first check if the user and/or website invokes `Window.showDirectoryPicker()` function. If the website uses that function, I would like to check whether the website tries to delete the user's files via `removeEntry()

[2021-09-02 21:14] mraxus commented on #290
This worked even for node 14.17. Thank you so much for the help @mrbar42 . This did not, however, work for node 16.8

[2021-09-03 01:35] xuxk1 opened #7542 "page.screenshot() The specified area screenshot is wrong"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:10.0.0
* Platform / OS version:Windows 10
* URLs (if applicable):
* Node.js version:v14.15.4

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

'use strict'

const puppeteer = require('puppeteer');
const { expect } = require('chai');
require('mocha-allure-reporter');
const B

[2021-09-03 03:06] ls84 commented on #6763
it happens on node and chromium installed using snap

[2021-09-03 08:47] #7519 closed, assigned to nobody

[2021-09-03 13:21] lilcheti commented on #1316
Don't forget to allow all cookies too

[2021-09-03 16:03] JaLe29 commented on #5847
I have same problem with emoji's. Any workaround there?

Note: Its showing only on windows machine but not in Linux machine

![image](https://user-images.githubusercontent.com/22296816/132034830-10cbb207-4372-4394-a82d-d760191840f5.png)

[2021-09-03 21:22] vsemozhetbyt commented on #7540
If I have figured it out correctly, this is a possible solution with a test (assuming you have `1.txt` file in the test directory):
[code]

[2021-09-03 22:58] miguelpieras commented on #5946
@mpalavrov thank you for your input. Could you please detail how you set different registry keys for Chromium?

[2021-09-04 06:10] mpalavrov commented on #5946
Hello @miguelpieras,
As I don't have it configured now, please check this issue - https://stackoverflow.com/questions/31510054/chrome-certificate-settings-in-registry
and create the same Registry as for Chrome, but or Chromium
[HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Google\Chromium\AutoSelectCertificateForUrls]

Please check https://chromeenterprise.google/policies/#AutoSelectCertificateForUrls as w

[2021-09-04 08:02] putuoka opened #7544 "[Bug]: Argument should belong to the same JavaScript world as target object"
### Bug description

Steps to reproduce the problem:

1. I don't know how to produce error because sometimes it appears sometimes it doesn't and it works very well. I think it's related to puppeteer or chrome because the error log doesn't include my script.
2. here's my script

await page.screenshot({ path: `${logFolderImg}blockgoogle.png` });
        console.log("ada bloking google popup agreemen

[2021-09-04 18:09] lostfictions opened #7545 "[Bug]: TimeoutError is erroneously declared in multiple locations in typedefs"
### Bug description

When using Puppeteer, I encountered a `TimeoutError`. I thought I'd handle it in a catch-block:

[code]

This seems pretty reasonable, right? When I typed out `TimeoutError`, VS Code suggested an import, which I accepted. My import statement for Puppeteer then looked like this:

[code]

I'm using TypeScript, but there were no complaints about using this in an expression positi

[2021-09-05 18:57] Javier-Garzo commented on #3397
I created other version of  aslushnikov [solution](https://github.com/puppeteer/puppeteer/issues/3397#issuecomment-434970058), that only show the error console messages. If you want catch all console messages with different colors  IgorKurkov   [solution ](https://github.com/puppeteer/puppeteer/issues/3328#issuecomment-806869319)is better (mine is a simpler one, no colors and solo errors).

[code]

[2021-09-06 07:22] herberthobregon commented on #2479
In my case the `service-worker` is the issue because `sw` server the `index.html` and get null response

The **first time** it works, the **second time** it already returns null. You have to delete the chrome data to remove the SW
[code]

[2021-09-06 11:41] warlock1996 commented on #7184
@Devalfaz not yet, i think its puptr , it api is not widely supported i think

[2021-09-06 15:21] albanx commented on #3811
For some reason this is breaking in my code as well. What is strange is that in some macchine it fails in some other it passes. I have enabled the `setRequestInterception`. Must be failing in some specific versions of pupuppeteer

[2021-09-07 05:36] basetta commented on #7006
thanks @suntong and @mrceperka :D

[2021-09-07 14:54] aakashgarg19 opened #7548 "Cannot set _productName of undefined"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 5.5.0
* Platform / OS version: Windows 10
* URLs (if applicable):
* Node.js version:12.18.3

**What steps will reproduce the problem?**
Calling launch method of puppeteer.

_Please include code that reproduces the issue._

await launch({
            args: ['--start-maximized'],
            headless: true,

[2021-09-07 15:30] prithvi2k2 commented on #3027
Does `puppeteer-core` fix all the problems mentioned above, FYI I'm ok with headless for my utility. So, Should I prefer `puppeteer-core` over `puppeteer`?

[2021-09-07 22:18] jamalmazrui opened #7549 "page.accessibility.snapshot method returns element roles outside HTML/ARIA spec"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

I am writing a program that analyzes the accessibility tree returned by page.accessi

[2021-09-08 03:00] zhuyangping opened #7550 "How to wait for a period of time after clicking?"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 9.1.1
* Platform / OS version: win 10
* URLs (if applicable):
* Node.js version: 14.14.44

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. I'm crawling for content. It needs to be obtained after clicking, and then it needs to wait for a period of time before the conten

[2021-09-08 10:32] Sridhar-Ranganaboina opened #7551 "Security concerns to automate chrome browser using puppeteer's wsEndpoint to reconnect to opened window[Bug]:"
### Bug description

We have concerns from security team to automate chrome browser using puppeteer and it's web socket endpoint.Their concern is "When webSocket is enabled at the given port. This WebSocket provides access to the remote debugging protocol, which offers control over the whole browser. This results in scripting access to arbitrary websites, the ability to read local files, write to

[2021-09-08 11:15] Aditya-ds-1806 opened #7552 "Event that fires just before the disconnected event?"
I have gone through the Puppeteer api and there doesn't seem to be any event that fires just before the browser closes. I need to run some code just before the browser is closed. Is there a way to do that?

[2021-09-08 16:33] aakashgarg19 commented on #7548
any updates on this?

[2021-09-08 22:26] bluematter commented on #7530
![cktbxylrw68130wmch7zx8b75-159__dragged__720](https://user-images.githubusercontent.com/1669104/132593705-e6ed7000-27d0-4b49-bec3-c5c7570935a1.png)

It's a strange issue and appears to sometimes happen in only one frame out of many. Here is an example GIF that contains the artifact https://motionbox.io/rendered/cktbxylrw68130wmch7zx8b75?t=1631138178049?f=gif.

Does this look familiar to anyone, i

[2021-09-09 02:45] kevin940726 commented on #1726
I know this is an old issue, which is why I think this needs to be revisited.

This workaround will only work if we're using CSS selectors. But now that we have `aria` selector and also provide users to register their own query handler, the solution becomes outdated.

Playwright has support for this, and I think it's only natural for us to also support this as well.

[2021-09-09 05:32] #7530 closed, assigned to nobody

[2021-09-09 05:32] bluematter commented on #7530
Artifact was due to FFMPEG not puppeteer

[2021-09-09 06:00] taewookim commented on #1026
there's headless browser detectors leveraging this.
Been 2 years..   Any workarounds?

[2021-09-09 07:47] Sunchunqing commented on #5989
I am having the same problem

[2021-09-09 14:33] phanminhtai opened #7554 "Get all response from website with lazy loading"
It executes concurrently while the page is loading `page.on('response', async response => {});`

I use this to scroll the page, but it does it after the page has finished loading
[code]

Lazy loading demo: https://davidwalsh.name/demo/lazyload-2.0.php

[Demo](https://i.stack.imgur.com/azJTV.gif)

Does anyone have a way? Give me an answer. Thanks!

[2021-09-09 17:35] pxCaptcha commented on #6167
`        const options = {
            args,
            headless: false,
            ignoreHTTPSErrors: true,
            Headers:{
              "host":"www.host.com",
            }
        };
`

Hey guys! Its me again, this fixed it for me back then. Hope this works for you guys as well:)

[2021-09-10 20:03] jschfflr commented on #7407
Unfortunately, I can not reproduce this problem on my machine. Could you maybe share a reproduction?

[2021-09-10 20:26] joelstransky commented on #4204
Bumping. This would not take long to migrate to discord.

[2021-09-11 07:00] kirkkonen commented on #7437
@marianomd have you managed to make it work? If yes, could you please share the parts of package.json and package-lock.json that are related to Puppeteer? Mine doesn't work at all and I'm wondering maybe the installation went wrong.

[2021-09-11 13:41] d3lm opened #7559 "[Bug]: debugger statement inside `<handle>.evaluate` shows no source code"
### Bug description

I am trying to debug my tests by adding a `debugger` statement inside the `.evaluate` callback, and it does halt the execution but Chrome DevTools don't show any source code as seen in the following screenshot:

![image](https://user-images.githubusercontent.com/12571019/132949701-2371ce71-4815-45ca-86f4-888c7eba86b7.png)

This is the code inside my test:
[code]
I would expect

[2021-09-11 14:08] aakashgarg19 commented on #7548
anyone looking into this?

[2021-09-11 17:52] guest271314 commented on #4404
On Linux the error appears to be at https://source.chromium.org/chromium/chromium/src/+/main:third_party/webrtc/modules/desktop_capture/linux/x_server_pixel_buffer.cc;drc=cec4343fb42ddfea6063aa5b88968c4ff2bedcf8;l=202

`[0911/102515.901344:WARNING:x_server_pixel_buffer.cc(202)] Failed to get icc profile`

[code]

[2021-09-11 18:21] tjenkinson opened #7560 "[Bug]: Memory leak in `NetworkManager` for cached responses"
### Bug description

See https://github.com/puppeteer/puppeteer/pull/5140#issuecomment-917399754

Currently https://github.com/puppeteer/puppeteer/blob/8d1a697fc3ef10300d886beb961a45ea1451c427/src/common/NetworkManager.ts#L423-L434 is not called if the response is from the cache, meaning anything from the cache stays in
https://github.com/puppeteer/puppeteer/blob/8d1a697fc3ef10300d886beb961a45ea14

[2021-09-11 20:55] jschfflr commented on #6894
@whimboo Any updates on this?

[2021-09-11 20:59] #6989 closed, assigned to nobody

[2021-09-11 21:31] #6953 closed, assigned to jackfranklin

[2021-09-12 02:17] manuelbiermann commented on #1913
Has anyone encountered a problem where the interception only works on the first page loaded?

[2021-09-12 05:06] setdjod commented on #5704
Hello @sk-, im try your solution, but still getting error.
[code]

`puppeteer: ^10.2.0`
`node: 14`

[2021-09-12 16:24] mhamidch commented on #6655
Would you please share how you have solved this problem.

[2021-09-12 18:21] Hopding commented on #4152
I could only get my background to be transparent by using the `!important` override in my css:
[code]

Once I'd done this, I just captured a screenshot with:
[code]

[2021-09-12 19:26] OlegBabakov commented on #5535
So old issue and no link there :) Looks like Slack chat isn't active now Let's try to launch a small community on Discord? https://discord.gg/tbY6tYTPUv

Strange, I tried to make a pull request, but I can't push a commit
@snitin315, I saw you deleted the old Slack link https://github.com/puppeteer/puppeteer/commit/56f17fe4819b5081ee17aad3a4e73a49ebaa2a5d , could I ask you to add a new one?

[code]

[2021-09-12 19:34] OlegBabakov commented on #6967
https://github.com/puppeteer/puppeteer/issues/5535#issuecomment-917695699
https://discord.gg/tbY6tYTPUv

[2021-09-12 19:34] OlegBabakov commented on #6748
https://github.com/puppeteer/puppeteer/issues/5535#issuecomment-917695699
https://discord.gg/tbY6tYTPUv

[2021-09-13 01:50] chuoke opened #7561 "[Bug]: no headers if the status is 304"
### Bug description

no headers if the status is 304.

### Puppeteer version

v10

### Node.js version

v14

### npm version

-

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-09-13 02:38] Plinpod commented on #4011
I am still having this exact same issue as the original post. Running puppeteer 10.2.0? Any thoughts?

[2021-09-13 08:01] industriousparadigm commented on #4011
Hello! Same here, puppeteer worked great for several iterations of going through a page, then after N loops it will hang at `waitForSelector()`. Running 10.2.0 as well.

[2021-09-13 08:41] zhanto97 opened #7562 "Cannot read property 'body' of undefined"
https://github.com/puppeteer/puppeteer/blob/491614c7f8cfa50b902d0275064e611c2a48c3b2/src/common/HTTPResponse.ts#L154

I am getting "Cannot read property 'body' of undefined". In which scenarios can
`await this._client.send('Network.getResponseBody', {
    requestId: this._request._requestId,
}); `
return undefined?

[2021-09-13 09:03] TheProgrammer21 commented on #436
Does anyone know how to solve this?
When I use the headless: false option I see my website with the image loaded, but when I export the PDF the image is just the default icon for a non-loaded image:
![image](https://user-images.githubusercontent.com/52009814/133055138-162ee532-ba91-425d-8638-689f7f689552.png)

My Code:
[code]

I already tried media types "screen" and "print", both don't work. The

[2021-09-13 09:11] function2-llx commented on #6382
Do you have any solution now?

[2021-09-13 09:47] #6083 closed, assigned to nobody

[2021-09-13 14:22] TheProgrammer21 commented on #1643
If I use your code it only quite works. When I look at the web page in `headless: false` mode the image is rendered, when I generate the pdf file (or a screenshot) though, the image file is not rendered:
![image](https://user-images.githubusercontent.com/52009814/133100907-79bad379-c848-4942-b12b-8197bfe86364.png)

Any ideas/solutions?

[2021-09-13 16:32] TheProgrammer21 commented on #1643
The reason is ERR_UNSAFE_PORT! The port 6666 is considered unsafe. A full list of unsafe ports can be seen here: https://superuser.com/questions/188058/which-ports-are-considered-unsafe-by-chrome
So just change the port to something that is not on this list and everything works fine.

[2021-09-13 16:46] TheProgrammer21 commented on #436
0

The reason is ERR_UNSAFE_PORT! The port 6666 is considered unsafe. A full list of unsafe ports can be seen here: https://superuser.com/questions/188058/which-ports-are-considered-unsafe-by-chrome So just change the port of the webserver to something that is not on this list and everything works fine.

[2021-09-13 18:23] samuksilv commented on #1576
@zubriktomas thanks this works for me too. 😅

[2021-09-13 18:57] whimboo commented on #6894
Sorry, I had PTO for most of August, and since I'm back we are trying to find a good way in getting a download of an archive accomplished. I should have an update later this week.

[2021-09-13 19:43] jonchurch commented on #5348
It seems that `webp` is supported now by chrome https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-captureScreenshot.

`quality` is still jpeg only on the browser end, so that part of this request still can't be implemented.

I have a branch with webp screenshots working, haven't written tests for it yet.

[2021-09-13 20:21] drook commented on #5034
Do you confuse headless build with headless launch on purpose ? Headless build means the chrome will be built without X11 support so you can run it only in headless mode. The standard build means you can run chrome in either way - with X11 or in headless mode. Furthermore, when building something with X11 this doesn't mean you even need running X11 to build it.

In the end, you just need to instal

[2021-09-13 22:26] goofiva commented on #3637
**--use-gl=desktop** didn't work for me. This did.
[code]

[2021-09-14 01:02] gnefna1 commented on #7550
you can try waitForSelector()

[2021-09-14 04:35] carhartl commented on #6622
Sorry for beating a dead horse, but on Apple M1 simply upgrading doesn’t seem to work, neither do the steps given above. Is there a separate issue for this?

[2021-09-14 04:37] carhartl commented on #6622
I think I‘m running into this: https://github.com/puppeteer/puppeteer/issues/5662#issuecomment-891297815

[2021-09-14 04:44] carhartl commented on #6622
Found the exact issue regarding M1: https://github.com/puppeteer/puppeteer/issues/6957

[2021-09-14 06:07] whimboo commented on #6894
So with the requirement to only download archives from Firefox releases the only option we see to get to the right build URLs is the following (also see [bug 1694127](https://bugzilla.mozilla.org/show_bug.cgi?id=1694127#c7)):

1. Find the `LATEST_FIREFOX_VERSION`: https://product-details.mozilla.org/1.0/firefox_versions.json
2. Find the last `build_number`: https://shipitapi-public.services.mozill

[2021-09-14 06:18] mathiasbynens commented on #6894
@whimboo Sounds good to me. Would you want to hardcode the build numbers (so that every Puppeteer release defaults to a specific Firefox version, like we do it for Chromium binaries) or _always_ get the latest version (like we’ve been doing until now for the experimental Firefox support)? If we’d prefer hardcoding, we could simply skip your suggested step 1.

[2021-09-14 09:02] Criselin commented on #7550
u should try page.waitForTimeout(ms)

[2021-09-14 13:23] snitin315 commented on #5535
@OlegBabakov sure, I will raise a PR for same.

[2021-09-14 14:09] tjacobs3 commented on #7509
@corey-slade Until this gets built in, you can enable the chromium flag for exporting tagged pdfs with this

[code]

[2021-09-14 14:44] SimmoMar commented on #6258
This worked perfectly in my Lambda Docker instance too.  Thanks for the suggestion.

[2021-09-14 17:12] blhagadorn commented on #4330
Bumping this, as I don't see it in the docs. Is this possible?

[2021-09-14 17:13] blhagadorn commented on #6615
@agniiyer curious why you closed this, did it work?

[2021-09-14 21:02] #5166 closed, assigned to nobody

[2021-09-15 01:19] injectJon opened #7567 "[Bug]: page.$eval - returned element is missing portion of inner text/HTML"
### Bug description

This is a weird one. I'm using the page.$eval function to grab text from an element (`<small>`) on the webpage. The span looks like this when i run it in the browser dev console:

cmd: `document.querySelector('.ReactVirtualized__Table__rowColumn.table-col-wrap.text-end[aria-colindex="4"] > span').outerHTML`

output: `"<span class=\"text-success\">$0.000001829<br><small class=\

[2021-09-15 02:02] injectJon commented on #7567
Solved: setting the viewport size allowed all of the desired data to display. DA award goes to...

[2021-09-15 02:02] #7567 closed, assigned to nobody

[2021-09-15 06:19] YusukeIwaki commented on #4405
This issue still occurs, and is inconvenient on working with browserless.io...

I think this solution is good,
and also I have another idea: creating a new method like `ElementHandle.uploadFileWithStream(fileStream)` and `FileChooser.acceptWithStream(fileStream)` which just have a logic like https://github.com/puppeteer/puppeteer/issues/4405#issuecomment-618581699.
By specifying stream, most users

[2021-09-15 07:34] jschfflr commented on #4405
I would agree that we should somehow support uploading files on connected sessions too. Not sure though why the initial implementation got changed. Was that for performance reasons or for security reasons @mathiasbynens @paullewis?

If we added a streaming version (which I like) I would expect to actually stream the files content though. While that's certainly possible, it would be a bit more invo

[2021-09-15 07:40] jschfflr opened #7568 "Unittests not working with latest Firefox version"
### Bug description

It looks like unittests started failing consistently for Firefox with the following error:
[code]

Example run:
https://github.com/puppeteer/puppeteer/actions/runs/1234822893

### Puppeteer version

HEAD

### Node.js version

-

### npm version

-

### What operating system are you seeing the problem on?

Linux, Windows

### Relevant log output

_No response_

[2021-09-15 14:18] YusukeIwaki commented on #4405
@jschfflr I also tried to know the reason. This is just my note but I share it.

#5655 seems to be a revert of #5196.

----

Puppeteer 2.0 used `DOM.setInputFilesInput` CDP command.
https://github.com/puppeteer/puppeteer/blob/v2.0.0/lib/JSHandle.js#L317

Then #5196 is introduced in Puppeteer 2.1.

However it brought some bugs.

A quick fix https://github.com/puppeteer/puppeteer/pull/5369 is merged

[2021-09-15 15:24] TheProgrammer21 opened #7569 "[Bug]: Sometimes empty pdf document is generated"
### Bug description

Steps to reproduce the problem:

1. Just generate a pdf file where a stylesheet is linked in the <head> of the html.
2. Look at the pdf

Some of the pdfs (I cannot see any pattern) are not generated correctly.
The following shows how the pdf should look like:
![image](https://user-images.githubusercontent.com/52009814/133455672-46980fc7-23ac-4bea-a45c-2ff581a0f440.png)

In the

[2021-09-15 15:47] limzykenneth opened #7570 "[Bug]: Fatal error: Protocol error (Runtime.callFunctionOn): Object reference chain is too long"
### Bug description

Steps to reproduce the problem:

1. Clone p5.js repo: https://github.com/processing/p5.js
2. Change puppeteer dependency version to 10.2.0 and install dependencies with node 16 and npm 7
3. Run build and test using `npm test`

The tests eventually error with message: `Fatal error: Protocol error (Runtime.callFunctionOn): Object reference chain is too long`

We came across this

[2021-09-15 15:52] TheProgrammer21 commented on #7569
`await page.setContent(html, { waitUntil: "networkidle0" });`

Setting `waitUntil` to `networkidle0` instead of `load` seems to solve the issue.

[2021-09-15 15:52] #7569 closed, assigned to nobody

[2021-09-15 16:26] jlcd commented on #5504
This is still happening. If someone has any workarounds, please let us know.

[2021-09-15 16:34] m90 commented on #5504
@jlcd I ported my project to Playwright by now because of this limitation. Works flawlessly using both engines by now.

[2021-09-15 16:35] jlcd commented on #5504
@m90 that's exactly what I'm doing right now, gave up trying to use puppeteer with firefox. Thanks.

[2021-09-15 18:13] MunyuShizumi commented on #7455
Exact same issue here with Puppeteer v10.2.0, v9.1.1, v8.0.0 & Node v16.9.1, v14.17.4.
**Downgrading to Puppeteer v7.1.0 resolves the issue**, so it's something introduced between v7.1.0 and v8.0.0.

Technically, it's not a `Page.goto()` issue, `ChromeLauncher.launch()` will also fail on its own half a second later:
[code]

All Chromium dependencies installed, using Brave as a daily browser withou

[2021-09-15 19:27] whimboo commented on #7568
@jschfflr, I had a quick look and on Linux it seems that the code check task is failing, so this issue is Windows only, right? Do you know when this exactly started? What's the last passing and the first failing CI job? That would help me a lot to figure out what has been changed in Firefox itself.

[2021-09-15 19:29] whimboo commented on #7568
Note that we haven't made any changes to our CDP implementation. The exact failure here is:

[code]

So the window that the test is interacting with here doesn't seem to be a browser window.

[2021-09-15 19:32] whimboo commented on #7568
Hm, the latest push to the repository that happened 8h ago seem to be fine:
https://github.com/puppeteer/puppeteer/runs/3609620354

So maybe that was just a broken Nightly build?

[2021-09-15 19:38] jschfflr commented on #7568
Yeah, it looks like things a working again. So it was probably a broken nightly build.
I'll close this bug again for now :)

[2021-09-15 19:38] #7568 closed, assigned to whimboo

[2021-09-15 19:40] jschfflr commented on #6894
I think fixing the version number could be helpful for situations like this one: https://github.com/puppeteer/puppeteer/issues/7568

Hope you had a great time off!

[2021-09-15 19:52] tuckerconnelly commented on #7562
This happened for me when the page redirected and there technically was no response. Chrome gets rid of response data when the page redirects (you can confirm this in the Network tab in devtools). Solution would be to prevent the redirect if possible, or try to just use fields that are still available like `response.statusCode()`.

[2021-09-15 20:13] JCMais commented on #5285
I would also love this feature, did anyone find a workaround?

[2021-09-15 20:45] markfinn commented on #6474
It seems like Connection.send should check if it is closed and reject.  I tired that by adding this as the first thing in Connection.send():

[code]

This seems to work, and seems like the right thing to do to me.  This is a copy of what happens in Connection.onClose() to any in progress callbacks, but the effect currently doesn't get applied to future send/callbacks.

[2021-09-15 21:54] swissspidy commented on #6442
`args: ['--width=1920', '--height=1080']` might work.

[2021-09-16 03:15] blue-int commented on #6414
You can use `browser.createIncognitoBrowserContext()` and `context.newPage()`

[2021-09-16 04:52] cubesnyc commented on #1228
+1 to reopen this.

[2021-09-16 05:35] ipinyagin97 opened #7572 "[Bug]: listeners added via `page.on("request", listener)` can't be removed via `page.off("request", listener)`"
### Bug description

Consider this snippet:
[code]

This is very confusing in and of itself, but it gets much worse if I need to swap my `request` listener with another one later on:

[code]

As far as I can see from the `puppeteer` code, it happens because in `Page.ts` the `EventEmitter`'s `on()` method is overridden in such a way that, for `request` events, it creates a new callback and register

[2021-09-16 07:12] whimboo commented on #6894
Hard-coding the Firefox version number might be good, even with being more flexible (backward compatible) with our releases so far. But I would allow to fallback to a more recent security release if available. Is that something you also handle for Chrome / Chromium?

Note that #7568 was for a Nightly build and should never appear for a release. But I would be more afraid of breakage due to backwar

[2021-09-16 07:29] sank3 commented on #6595
Facing same problem with t4g instance ubuntu-focal-20.04-arm64-server instance

[2021-09-16 07:48] holdfenytolvaj commented on #6258
I had to install some more (more than explicitly required) libraries, and it worked afterwards.
This list -maybe more than required- but worked https://gist.github.com/winuxue/cfef08e2f5fe9dfc16a1d67a4ad38a01#gistcomment-3832668

[2021-09-16 10:02] jschfflr commented on #4405
Let's see if @mathiasbynens or @paullewis can fill in the blanks a bit here.

[2021-09-16 12:44] fmoessle commented on #7533
Me too.

[2021-09-16 17:18] hottomato-c commented on #7533
Hey folks, would you like to give a go using `headless: true` ?

[2021-09-16 18:22] Kname80 opened #7576 "what is the correct way to simulate double click ,"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

[2021-09-16 18:24] Kname80 commented on #7576
I tried this code , it stop working because initEvent is deprecated
await page.evaluate(selector => {
  var targLink = document.querySelector(selector);
  var clickEvent = document.createEvent('MouseEvents');
  clickEvent.initEvent('dblclick', true, true);
  targLink.dispatchEvent(clickEvent);
}, selector)

also I tried :
const selector = "#elementID";

const rect = await page.evaluate((selector)

[2021-09-16 18:26] gurudattgd04 commented on #7576
Did you try element.click({count:2}) ?

[2021-09-16 18:32] Kname80 commented on #7576
yes I did
await page.mouse.click(rect.x, rect.y, { clickCount: 2, delay: 100 });
https://stackoverflow.com/questions/64384430/how-to-double-click-in-puppeteer

[2021-09-16 20:56] 3wweiweiwu commented on #7533
In my case, I cannot use headless:true because my use case require UI to be displayed while taking the screenshot. I end up taking a screenshot and them crop it with 3rd party javascript library.

[2021-09-17 10:15] nadaDeversity commented on #7407
@jschfflr

I used `chrome-aws-lambda` with `puppeteer-core` package and the error I mentioned occurred when I was running some load tests - basically just hitting the lambda and generating some PDFs with 3 workers in parallel, about 50-100 times each.

The error occurrs when `browser.close()` is called - `Error: Protocol error (IO.close): Target closed`

I tried downgrading both the puppeteer pack

[2021-09-17 10:34] dukei commented on #5740
Any progress on this issue? It is still not possible to pass multiple set-cookie headers to request.respond().

[2021-09-17 15:38] jeyashree-n opened #7577 "[Bug]: While creating the PDF the single page is splitted into two page"
### Bug description

I am using A4 paper this is the margin details --> top: '40px', right: '40px', bottom: '60px', left: '40px'.
<img width="821" alt="Screenshot 2021-09-17 at 8 46 24 PM" src="https://user-images.githubusercontent.com/84894261/133815529-25b61cea-b388-448b-ad51-e40061f20d5d.png">

### Puppeteer version

1.8.0

### Node.js version

10.13.0

### npm version

6.4.1

### What operatin

[2021-09-17 15:41] hottomato-c commented on #7533
👍 good to see you got the workaround. Alternatively I think there are some other options would work:
1. use v9.1.0 as I believe the issue is caused by this [commit](https://github.com/puppeteer/puppeteer/commit/859135adb638a5c30e468718173d25b3ed4c0fba) in release v10.0.0 sadly. (can switch back to latest version once this issue is fixed)
2. use latest version and Firefox as browser

[2021-09-17 16:47] fmoessle commented on #7533
Downgrading to 9.1.1 solved the issue for me.

[2021-09-18 00:05] travisdowns opened #7578 "[Bug]: Screenshots with certain overflow and border styles render incorrectly"
### Bug description

I take screenshots of my blog on each commit. Sometimes, code samples render as empty boxes instead of how they should. You can find an example [here](https://github.com/travisdowns/blog-screenshots/blob/94373745c799f65abac7249034f06c61c74e1b52/dark-414px/blog/2019/06/11/speed-limits.html.png): scroll up from the bottom past all the footnotes to the last code sample, and it lo

[2021-09-18 05:41] murtuzasanjeliwala opened #7579 "Unable to capture shadow root element with puppeteer page.screenshot() method"
### Bug description

I am trying to capture screenshot of webpage using puppeteer page.screenshot method. But when I see the output screenshot it misses some part of page which is shadow root element inside html. How can I capture shadow root element also with puppeteer screenshot method. I am currently using below code

Steps to reproduce the problem:

[code]

### Puppeteer version

5.5.0

### No

[2021-09-18 06:00] howiezhao commented on #5265
Does anyone have good methods and suggestions?

[2021-09-18 12:03] dawogfather commented on #6664
👍🏽

[2021-09-18 14:07] gionapaolini opened #7580 "[Bug]: dumpio with Puppetteer.connect(..) does not work"
### Bug description

Steps to reproduce the problem:

1. Connect to the browser:
[code]
Logs of the chrome browser shows that dumpio is false, and nothing is logged on stdout/stderr
[code]

Browser version:  browserless/chrome:1.48.0-chrome-stable

### Puppeteer version

10.2.0

### Node.js version

15.8.0

### npm version

7.5.1

### What operating system are you seeing the problem on?

Linux

##

[2021-09-18 15:54] leandroslemes commented on #5412
UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!
[0918/155121.241566:ERROR:zygote_host_impl_linux.cc(90)] Running as root without --no-sandbox is not supported. See https://crbug.com/638180.

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md

    at onClose (/root/whaticket/backend/node_modules/puppeteer/lib/cjs/puppeteer/node/B

[2021-09-18 18:19] Sunbreak commented on #2778
Does `--disable-breakpad` work on Apple Silicon?

[2021-09-19 05:03] d-buckner commented on #2545
I've added this functionality in the PR above. It's been included in [v9.0.0](https://pptr.dev/#?product=Puppeteer&version=v9.0.0&show=api-pagepdfoptions) with the `omitBackground` option.

[2021-09-19 05:04] d-buckner commented on #6906
I've added this functionality in the PR above (forgot to update this issue before). It's included in [v9.0.0](https://pptr.dev/#?product=Puppeteer&version=v9.0.0&show=api-pagepdfoptions).

[2021-09-19 05:36] gavin310 commented on #6906
Woohoo!!!

[2021-09-19 17:23] elie222 commented on #6414
Thanks. Seeing if this works.

You can also launch the browser in Incognito mode with:

[code]

[2021-09-19 20:29] anishsrinivasan opened #7581 "[Issue]: WebRTC Peer Remote Streams are not played in Headless Chrome"
I'm planning to use Puppeteer as a Ghost Participant (GP) Recorder for WebRTC video calls between 2 clients.
Something similar to [https://www.apollo350.com/post/how-to-live-stream-from-a-twilio-video-conference](https://www.apollo350.com/post/how-to-live-stream-from-a-twilio-video-conference)

### Steps :
1) Connect 2 Peers in a room using WebRTC & PeerJS
2) Join the third user as a ghost partici

[2021-09-20 08:35] mathiasbynens commented on #7458
Jan, what's the status here?

[2021-09-20 09:33] ckcr4lyf opened #7583 "Unclear return behavior for `getProperty`"
### Steps to reproduce

N/A

* Puppeteer version: 10.0.0 (but seems true for 10.2.0 also)
* Platform / OS version: Ubuntu 20.04
* URLs (if applicable): N/A
* Node.js version: 14.17 LTS

**What steps will reproduce the problem?**

The puppeteer [docs website](https://pptr.dev/#?product=Puppeteer&version=v10.0.0&show=api-jshandlegetpropertypropertyname) says `getProperty` on a `JSHandle` returns a p

[2021-09-20 09:36] naveennazimudeen opened #7584 "[Bug]: isNavigationRequest does not detect page navigation in some sites (npr.org)"
### Bug description

Steps to reproduce the problem:

1.  Log isNavigationRequest as shown below:

[code]

2. Click on any article link on the page. isNavigationRequest() does not return true and so no matching logs in the console.
3. Go to nytimes.com instead, and click on any link. isNavigationRequest() returns true and there are  matching logs.

### Puppeteer version

10.2

### Node.js version

[2021-09-20 09:51] DvDream commented on #1149
What if I expect that the selector won't appear and instead is appearing once my page has loaded? How could I make the test failing with that? thanks :)

[2021-09-20 15:43] bradisbell commented on #7458
FYI, the next one is coming up in three days:  https://github.com/puppeteer/puppeteer/issues/7459

[2021-09-20 17:08] vsemozhetbyt commented on #1149
Maybe this:
[code]

[2021-09-20 18:53] whimboo commented on #6894
So one more question... Chrome and Firefox releases don't happen at the same time. What if a backward incompatible change gets introduced in Firefox after a Puppeteer release? I assume it would need a follow-up Puppeteer minor release?

[2021-09-20 19:52] SpamapS commented on #7318
I am pretty sure that I've located the root cause of this problem. What I observe is that if I drop the delay in the script above to 1000ms, the script passes. Anything above finds the CDPSession in varying stages of having been torn down by the browser. I believe this is happening because, upon startup, Chrome phones home, as we have a managed Google domain. When enterprise configs are asserted,

[2021-09-21 05:08] benwinding commented on #4752
My solution, based off @jesperronn

Add the following alias to your `bash_profile` of `zsh_profile` or whatever.

[code]

Then run `fix-chromium-permissions-locally` in each project folder you need it. Also might be required each time `node_modules` is updated/reinstalled 👍

[2021-09-21 07:58] jschfflr commented on #6894
I wouldn't mind cutting a new Puppeteer release in these cases. At the moment, there is no clear mapping between Chromium revisions and Puppeteer versions.

[2021-09-21 11:37] jschfflr commented on #7458
Unfortunately, the roll is blocked on some breaking changes that happened in Chromium.
We are currently figuring out a solution.

[2021-09-21 14:26] #5348 closed, assigned to nobody

[2021-09-21 14:36] Lonniebiz commented on #5348
@jschfflr So you've closed this ticket with there being no way, in the API, to adjust the quality of a webp screenshot image (as requested in the original post)?

[2021-09-21 14:47] jschfflr commented on #5348
@Lonniebiz Sorry - I just merged the pull request which automatically closed the issue.
The code does forward the `quality` parameter to the browser which in turn seems to implement `quality` for `webp`:
https://source.chromium.org/chromium/chromium/src/+/main:content/browser/devtools/protocol/page_handler.cc;l=89;drc=8f95b5eab2797a3e26bba299f3b0df85bfc98bf5;bpv=1;bpt=1

While I'm not deeply famil

[2021-09-21 15:14] Lonniebiz commented on #5348
@jschfflr  My apologies, I didn't know the quality settings issue had been addressed from reading previous posts here and the [documentation](https://github.com/puppeteer/puppeteer/blob/v10.2.0/docs/api.md#pagescreenshotoptions) doesn't yet address this update.

Despite my gratefulness, these days, my new favorite image format is avif ([Issue 6963](https://github.com/puppeteer/puppeteer/issues/696

[2021-09-21 15:38] jschfflr commented on #5348
@Lonniebiz No worries, I just cut a new release - the documentation for v10.4.0 will include the change.
Feel free to open a new issue for avif support :)

[2021-09-21 21:45] JCMais commented on #7572
having the same problem

[2021-09-22 03:52] Lonniebiz commented on #6963
`avif` lossy images produce the smallest file size I've seen at a given quality. I'm frankly amazed by the perceived **quality to file size ratio**. See for yourself using [squoosh](https://squoosh.app/).

I use puppeteer to cache thousands of screenshots. Once puppeteer adds support for `avif`, those screenshots are going to (collectively) take up much less space, and they're going to transfer fr

[2021-09-22 04:49] harunoz commented on #7540
Hello thank you for your help, I was working on the code and I utilized a hooking for `write()` function as described below. I am able to perform the hooking however how can I get the file name that is called for write function?

[code]

[2021-09-22 08:02] anjackson opened #7589 "[Bug]: Puppeteer 10.4.0 ignores the proxy-server launch argument"
### Bug description

Steps to reproduce the problem:

1. Install 10.4.0
2. Run this script, which sets a non-existent proxy server:

[code]

Earlier versions will fail (correctly!) because the proxy server is not there.  10.4.0 ignores the proxy setting and runs as if the setting was not there.

### Puppeteer version

10.4.0

### Node.js version

16.8.0

### npm version

7.21.0

### What operating

[2021-09-22 09:19] micktaiwan commented on #6214
Please please please as @supnate suggested, change the title of this issue waitForTimer => waitForTimeout

[2021-09-22 10:56] v-akash-freightwalla opened #7590 "[Bug]: File gets downloaded in headless:false but not in headless:true"
### Bug description

A PDF file when tried to download via headless:false mode, gets downloaded in the browser but when same thing is tried via headless:true mode, the file is not downloaded.

### Puppeteer version

puppeteer-extra(3.1.16)

### Node.js version

12

### npm version

6.14

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-09-22 10:59] v-akash-freightwalla opened #7591 "[Question]: What is the difference in configuration between headless:true and headless:false"
### Bug description

Hi, I wanted to know the difference between headless:false & headless:true mode?

This can help me to figure out why certain functionalities such as downloading a pdf etc, works in headless:false but not in headless:true.

Can someone please help? Or provide some configuration/setup details?

### Puppeteer version

puppeteer-extra(3.1.16)

### Node.js version

12

### npm vers

[2021-09-22 18:19] tiger2380 commented on #4858
did anyone figure out how to resolve this issue?

[2021-09-23 08:37] thesam opened #7592 "PUPPETEER_DOWNLOAD_PATH does not support relative paths"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.4.0
* Platform / OS version: Ubuntu 21.04
* URLs (if applicable):
* Node.js version: v14.17.6

We set the Puppeteer download path in our project's .npmrc. We want to store the downloaded Chromium outside node_modules to avoid downloading it everytime we run "npm ci".

We want to use a **relative** path to make sur

[2021-09-23 08:38] jschfflr commented on #5535
The Puppeteer team would prefer to keep the number of different places where people should look for questions and answers small. As Discord/Slack servers aren't really search friendly we would prefer to have them on websites like e.g. Stack Overflow.
cc @mathiasbynens

[2021-09-23 08:38] #5535 closed, assigned to nobody

[2021-09-23 08:39] jschfflr commented on #6748
The Puppeteer team would prefer to keep the number of different places where people should look for questions and answers small. As Discord/Slack servers aren't really search friendly we would prefer to have them on websites like e.g. Stack Overflow.
cc @mathiasbynens

[2021-09-23 08:39] #6748 closed, assigned to nobody

[2021-09-23 11:04] Richacinas opened #7593 "[Bug]: Page breaks causing content being hidden and overflowed"
### Bug description

Steps to reproduce the problem:

1. Rendering a `table` with rows and cells inside and some text content.
2. Make it so a page break is in the middle of this table.
3. See how it gets cut and overflowed (after the page break)

![Captura de pantalla de 2021-09-23 13-03-47](https://user-images.githubusercontent.com/7046504/134496436-f7ff1a2a-bdac-4d5f-9625-c5989cf08db7.png)

###

[2021-09-23 11:05] Richacinas commented on #7593
I have tried giving `display:block` to every `td` and `tr` inside the `table` element, without success. It doesn't matter what combination of CSS I try. The problem keeps happening.

[2021-09-23 13:33] braddunbar opened #7594 "[Bug]: aria/ selector returns elements not in the accessibility snapshot"
### Bug description

Steps to reproduce the problem:

1. Run the script below.
2. Expect the `aria-hidden` button to be ignored by the `aria/` selector.
3. The `aria/` selector actually returns the `aria-hidden` element.

[code]

### Puppeteer version

10.0.0

### Node.js version

16.8.0

### npm version

7.21.0

### What operating system are you seeing the problem on?

macOS

### Relevant log out

[2021-09-23 13:40] braddunbar commented on #7594
*Note: I realize buttons are usually focusable elements and thus [shouldn't](https://www.w3.org/TR/using-aria/#fourth) get `aria-hidden="true"`, but this button has `tabindex="-1"` and is not focusable.*

[2021-09-23 14:07] Baron010 opened #7595 "How can I write something in the webpage console with puppeteer"
### Bug description

**Im searching to a function which allow me to write something in the webpage console with puppeteer
i wanna the automated bot to do that**,

**this is my script:**
[code]

**but it's not working there is an error appears on the webpage console says:**

[code]

### Puppeteer version

10.4.0

### Node.js version

14.6.0

### npm version

6.14.9

### What operating system are yo

[2021-09-23 16:31] Geddo commented on #6167
#5077

[2021-09-23 19:51] fairbanksg opened #7597 "[Bug]: Chromium download over http proxy fails"
### Bug description

Steps to reproduce the problem:

1. Have a proxy server setup, and set HTTP_PROXY and HTTPS_PROXY environment variables to point to it, both as http:// urls.
2. Install puppeteer
3. Download of Chromium during install fails with ERR_INVALID_PROTOCOL

It appears that this is happening because we are proxying HTTPS over an HTTP proxy.

### Puppeteer version

5.5.0

### Node.js v

[2021-09-23 19:55] fairbanksg commented on #7597
https://github.com/puppeteer/puppeteer/blob/f2e19276acb80e596ff5c781c9ae2bc2f2a8f363/src/node/BrowserFetcher.ts#L608-L611

In our setup, the download url is https, and the proxy url is http. This line chooses whether to use the http or https module based on the protocol of the download url, not the proxy url, so it is choosing https but passing a http url.

[2021-09-23 20:04] fairbanksg commented on #7597
Actually it looks like this is a bug in https-proxy-agent
https://github.com/TooTallNate/node-https-proxy-agent/issues/126

[2021-09-24 01:26] JCMais commented on #2878
did you have any luck implementing this @s16h ? Or anyone else

[2021-09-24 03:15] Ha2ryZhang commented on #7589
maybe this
[code]

[2021-09-24 06:28] dpw1 commented on #982
How could I potentially use moment.js in Puppeteer's evaluate? exposing the function is not working for me.

[2021-09-24 06:31] jay-deshmukh commented on #982
@dpw1

[code]

[2021-09-24 06:51] huynt0 opened #7598 "[Bug]: Error: Failed to launch the browser process!"
### Bug description

Steps to reproduce the problem:

1. Using docker alpine `FROM node:current-alpine`
2. Run `const browser = await puppeteer.launch({
        executablePath: '/usr/bin/chromium-browser',
        ignoreDefaultArgs: ['--disable-extensions'] ,
        args: ['--no-sandbox', '--disable-setuid-sandbox','--headless', '--disable-gpu']
      })`

### Puppeteer version

v10.0.0

### Node

[2021-09-24 10:58] saurabsuraj11 opened #7599 "[Bug]: getting error with install puppeteer"
### Bug description

Steps to reproduce the problem:

1. …I have to install html-pdf-node with command - npm install html-pdf-node@1.0.7.
it loads the puppeteer dependencies and getting the error -
![Screenshot (1820)](https://user-images.githubusercontent.com/91321064/134663866-e98340f3-da18-4440-a74d-cefaf3ad2d68.png)

 async function download() {
            syntax error: Unexpected token funct

[2021-09-24 11:32] jschfflr commented on #7599
@saurabsuraj11 Could you verify that you are in fact running Node.js v14.16.0 when installing the package?
Because the error looks like the Node version you use doesn't support `async/await` yet.

[2021-09-24 11:37] jschfflr commented on #7598
Please take a look at our troubleshooting guide - you have to install some additional dependencies:
https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-on-alpine

[2021-09-24 11:37] #7598 closed, assigned to nobody

[2021-09-24 11:40] jschfflr commented on #7597
@fairbanksg Thanks for reporting this problem. We are in the process of improving our proxy support (
https://github.com/puppeteer/puppeteer/pull/6274) and I hope this will fix the problem.

[2021-09-24 11:46] jschfflr commented on #7595
@Baron010 Thanks for your report!
According to the [documentation](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#pagesetbypasscspenabled):

Could you try moving the `setBypassCSP` call before the `page.goto` call?
I'll close this issue for now but feel free to reopen if this doesn't solve the problem.

[2021-09-24 11:46] #7595 closed, assigned to nobody

[2021-09-24 11:49] jschfflr commented on #7594
@johanbay Could you take a look at this and check if this is working as intended or could be improved upon?

[2021-09-24 11:53] jschfflr commented on #7593
@Richacinas Thanks for your report!
As Puppeteer is not directly responsible for generating the PDFs but only fetches them from Chromium - could you file a bug report there and reference this issue? You can find the Chromium bug tracker at https://crbug.com.
I'll close the issue here as it's not actionable from the Puppeteer side.

[2021-09-24 11:53] #7593 closed, assigned to nobody

[2021-09-24 11:56] jschfflr commented on #7592
@thesam Thanks for your report! Please feel free to create a pull request for this and I'm happy to get it landed :)

[2021-09-24 12:34] johanbay commented on #7594
This is actually intended. We decided to let the handler also query nodes marked [ignored](https://github.com/puppeteer/puppeteer/blob/f2e19276acb80e596ff5c781c9ae2bc2f2a8f363/src/common/Accessibility.ts#L247) in the tree to make the handler more versatile.
@braddunbar can you expand a bit more on your use case? Are you querying the button to ensure that it truly was hidden?

[2021-09-24 13:30] iamkarsoft commented on #7591
Headless:true runs puppeteer in the background without opening a new browser page in contrast Headless: false opens a new browser page for you to see the process running

[2021-09-24 13:32] iamkarsoft commented on #7552
Run your event
[code]

then close your browser.

[2021-09-24 13:33] iamkarsoft commented on #7550
[code]

[2021-09-24 15:44] bjermeland opened #7600 "[Bug]: Proxy does not seem to work with Firefox"
### Bug description

1. Tried to use puppeteer-proxy:

[code]

But getting this error on `await page.setRequestInterception(true)`:

[code]

2. Tried extraPrefsFirefox, but no way to authenticate the proxy. page.authenticate() does not work. Proxy does not seem to work either with no authentication.

[code]

### Puppeteer version

10.4.0

### Node.js version

14.14.0

### npm version

6.14.8

###

[2021-09-24 15:45] corey-slade commented on #7509
Hi @tjacobs3 thank you for your response, I tried adding the flag that way, but it doesn't work for some reason. When I generate a pdf manually in Chromium from the same HTML file it gives me a tagged PDF, but when I do it from my Lambda using Headless Chromium it doesn't carry over the tags

[2021-09-24 15:58] jschfflr commented on #7590
I'll look into this issue to figure out how puppeteer could improve its support!

[2021-09-24 16:00] jschfflr commented on #7589
@anjackson Thanks for your bug report! Not sure why the `--proxy-server` argument doesn't work anymore. I'll look into it!

[2021-09-24 16:01] jschfflr commented on #7584
@naveennazimudeen Thanks for your bug report! To me it sounds like something that has recently regressed in Chromium. I'll verify my suspicion and update the issue accordingly!

[2021-09-24 16:03] jschfflr commented on #7583
@ckcr4lyf Thanks for your bug report! Not sure what's going on here but I'm happy to look into it!

[2021-09-24 16:04] jschfflr commented on #7581
@anishsrinivasan Thanks for your bug report! Not sure what's going on here but I'm happy to take a look at it!

[2021-09-24 16:08] jschfflr commented on #7580
@gionapaolini Thanks for taking the time to report this bug. Happy to look into it!

[2021-09-24 16:09] jschfflr commented on #7579
@murtuzasanjeliwala Thanks for taking the time to report this issue!
@sadym-chromium Could take a look at this and let me know if this is working as intended or should be fixed? Thanks!

[2021-09-24 16:12] jschfflr commented on #7578
@travisdowns Thanks for taking the time to report this issue! @sadym-chromium Could you take a look at this?

[2021-09-24 16:15] jschfflr commented on #7577
@jeyashree-n Thanks for taking the time to report this issue!
To me, this looks like it's working as intended. Could you explain what you'd expect instead and why?

[2021-09-24 16:16] jschfflr commented on #7576
@Karim10k Thanks for taking the time to report this issue!
Could you explain why the proposed solution didn't work for you?

[2021-09-24 16:18] jschfflr commented on #7572
@fruttut Thanks for taking the time to report this issue!
I'll look into this :)

[2021-09-24 16:19] jschfflr commented on #7570
@limzykenneth Thanks for taking the time to report this issue!
I'm happy to take a look at this!

[2021-09-24 16:21] jschfflr commented on #7562
@zhanto97 Thanks for taking the time to report this issue!
It sounds like we could be more helpful in this case and throw a more actionable exception. Happy to look into this!

[2021-09-24 16:25] jschfflr commented on #7552
@Aditya-ds-1806 Thanks for taking the time to report this issue!
Unfortunately, Puppeteer can not prevent the browser from closing. But you can run your code before calling `browser.close`.
Closing this as it's working as intended but feel free to reopen if you feel otherwise!

[2021-09-24 16:25] #7552 closed, assigned to nobody

[2021-09-24 16:28] jschfflr commented on #7554
@phanminhtai Thanks for taking the time to report this issue!
It looks like this is not actually a problem with Puppeteer.
Could ask this question on Stack overflow instead so that others can benefit from a reply too?

[2021-09-24 16:28] #7554 closed, assigned to nobody

[2021-09-24 16:30] jschfflr commented on #7559
@d3lm Thanks for taking the time to report this issue!
I'm happy to look into this!

[2021-09-24 16:38] Aditya-ds-1806 commented on #7552
@jschfflr
Perhaps I should have given some context.

My script opens a website for the user to log in. The user logs in and he/she closes the browser. Now before closing the browser, I want to grab the cookies and save it on his/her machine so that the script can impersonate him/her the next time and avoids the user having to login repeatedly.

After going through the puppeteer docs, I found a `di

[2021-09-24 22:16] d3lm commented on #7559
Thanks for looking into this!

Quick update: I noticed that I was resizing the browser window before the test(s) started. If I don't resize it, it seems to show the code in the DevTools.

[2021-09-25 02:21] talisto commented on #6957
In my case setting `executablePath` in the `launch()` method didn't seem to have any effect either.  I spent hours trying to fix this in my docker container, and eventually decided to just created a symbolic link from my actual chromium binary to `/usr/bin/chromium-browser`.

[2021-09-25 19:59] HMaker commented on #6163
It's broken in Firefox Nightly r94.0a1 which is used by puppeteer 10.4.0 too. From what I saw in mozilla's bug tracker that bug was not assigned to anyone.

[2021-09-25 20:58] anjackson commented on #7589
Ah, looks like I messed up the test case.  Sorry about that.

The failing case uses `createIncognitoBrowserContext`, like this:

[code]

Looking through the 10.2.0 > 10.4.0 diff, I think a default of `proxyServer=''` is being set [here](https://github.com/puppeteer/puppeteer/compare/puppeteer:v10.2.0...puppeteer:v10.4.0#diff-2fb2a2631063a3779bee361f5aeb2148b320092239bced39f2ac0fb63fed7debR318) whe

[2021-09-25 21:01] anjackson commented on #7589
Hmm, that link into the diff didn't seem to work very well. [Here's the line I'm referring to.](https://github.com/puppeteer/puppeteer/blame/5631d3aebc73cc418824a569fe71781eec83f00a/src/common/Browser.ts#L318)

[2021-09-25 22:36] lostfictions opened #7601 "[Bug]: ElementHandle.screenshot has incorrect typings"
### Bug description

In [the documentation for `ElementHandle.screenshot`](https://pptr.dev/#?product=Puppeteer&version=v10.4.0&show=api-elementhandlescreenshotoptions), it's stated it takes the "same options as `page.screenshot`." However, the typings for `ElementHandle.screenshot` have `options` marked as the empty object, preventing any editor assistance or typechecking:

https://github.com/pup

[2021-09-26 05:34] jijojosephk opened #7603 "waitForSelector always timesout in headless mode"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.4.0
* Platform / OS version: Ubuntu Budgie 20.04.3 LTS
* URLs (if applicable):
* Node.js version: 14.17.6

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1. Launch browser in headless mode.
2. Create new page.
3. Go to a specific URL in the page.
4. Call waitForSelect

[2021-09-26 12:23] hosseind88 opened #7604 "[Bug]: TypeError: this._environment.runScript is not a function"
### Bug description

Steps to reproduce the problem:

1. I installed puppeteer and I can't run my tests because of this issu
<img width="650" alt="Screen Shot 2021-09-26 at 15 53 10" src="https://user-images.githubusercontent.com/72156162/134807849-27bf658e-5844-4307-a0e1-03498704b102.png">
e

### Puppeteer version

10.4.0

### Node.js version

15.3.0

### npm version

7.0.14

### What operating s

[2021-09-26 15:42] ikhvjs opened #7605 "[Bug]: setExtraHTTPHeaders is not case-sensitve"
### Bug description

I try the codes below to set the headers.

[code]

Actual Output of request header: ```accept-language```
Expected Output of request header: ```Accept-Language```

### Puppeteer version

10.2.0

### Node.js version

14.16.0

### npm version

6.14.11

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-09-27 06:21] saurabsuraj11 commented on #7599
I have checked it again. We are using node 14.16.0 only

[2021-09-27 08:19] whimboo commented on #6894
The work on this issue will be delayed for a bit. Reason is that soon our Fission (site isolation) support will be on by default, and soon after cannot be disabled. This would break Firefox users, and as such I want to see that fixed first. Once done we could move the binaries to release ones.

[2021-09-27 08:39] ikhvjs commented on #7605
My workaround approach.

[code]

[2021-09-27 10:47] Prinzhorn commented on #6840
Does anyone know where Chromium pulls the hyphenation info from on Linux/Ubuntu? There is no `hyphen-data` directory and I cannot find any `.hyb` in the user data dir. If I knew where to put the files I'd just copy them in the right place before calling `launch`. I already do that with fonts (copy them into `/tmp/.fonts` in AWS lambda so they work for the PDF generation).

[2021-09-27 15:37] dekelev commented on #7475
v10.2.0 broke the `page.setRequestInterception(true)` flow for me and probably for all the puppeteer plugins that are using it. I reverted to v10.1.0, where it still works. The `page.on('request', request => {})` callback is not triggered at all in v10.2.0 and above (I also tried with v10.3.0 & v10.4.0). I am using it to detect a page redirect and abort the request.

[2021-09-27 21:40] zaguiini commented on #6622
Works great for me! One tiny change though: on Catalina and newer, you must disable Gatekeeper for Chromium to start properly, as I did not see the option to allow it on `Privacy > General`.

You can install Chromium with Gatekeeper disabled by running:

[code]

Or

[code]

If you have installed it already.

[2021-09-27 22:36] kaykyr opened #7607 "[Bug]: Error: Protocol error (Network.getResponseBody): No resource with given identifier found"
### Bug description

Hello! The response is related to a JSON response. I am creating this event listener to read response body.

I tried to use response.text() and response.json() none works. The error is the same:
Error: Protocol error (Network.getResponseBody): No resource with given identifier found

page.on('response', async (response) => {
	let resJson = await response.json()
	console.log(re

[2021-09-28 02:27] Arcadia64 commented on #7590
I too have been running into this problem. Have not found a good workaround.

[2021-09-28 08:09] szmarczak opened #7608 "Authenticate proxy without calling `page.authenticate(...)` every time"
See https://github.com/microsoft/playwright/pull/2485/files

#### Current solution

[code]

#### Desired solution

[code]

[2021-09-28 10:32] mathiasbynens commented on #6753
We might want to wait for https://github.com/microsoft/TypeScript/pull/45884 to make it into a TypeScript release.

[2021-09-28 13:10] Osiris-Team opened #7609 "[Bug]: Uncaught TypeError: Cannot read properties of undefined (reading 'newPage')"
### Bug description

I am running NodeJs from within Java and passing over JavaScript code through the processes Input/Output-Streams,
That's why the log may look a bit weird.
The log describes the problem pretty much perfectly and includes all the information, but if there is something unclear please ask.

### Puppeteer version

v10.4.0

### Node.js version

v16.10.0.

### npm version

6.14.4

##

[2021-09-28 13:44] braddunbar commented on #7594
Hey @johanbay - thanks for the response!

We're doing accessibility-aware testing with puppeteer, using snapshots and `aria/` selectors to find elements by the text that's available via screen reader. In this particular case, we were looking for a button by text and getting a collision with a separate button with `aria-hidden="true"`. The second button exists mainly for reasons of simplicity and s

[2021-09-28 16:21] #7609 closed, assigned to nobody

[2021-09-28 17:08] hosseinalipour commented on #1907
using v10.4.0 this worked:
[code]

[2021-09-28 22:21] Fendry02 commented on #7329
Hello @milczarekIT

I'm sorry, I'm unable to help getting better performance, otherwise, your request is interesting and your performance are already better than mine.

Would it be possible to share your Dockerfile ?

Regards

[2021-09-29 06:54] packlikez opened #7611 "[Bug]: Seems page.$x doesn't work on Cloud function"
### Bug description

I can't use page.$x in cloud function but in local and firebase simulator are working

### Puppeteer version

10.4.0

### Node.js version

14

### npm version

7.21.0

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2021-09-29 08:00] #7604 closed, assigned to nobody

[2021-09-29 08:07] hosseind88 opened #7612 "[Bug]: jest don't fail when expect fails in page on request"
### Bug description

[code]

I expect that test fails and don't continues after this happens but it resumes and gets succeed

### Puppeteer version

10.4.0

### Node.js version

15.3.0

### npm version

7.0.14

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-09-29 11:48] Lonniebiz commented on #5348
Thank you!

The webp support is working great for me in 10.4. This saves a lot of disk-space!

I will continue using  `webp` for all screenshots, until [AVIF Support](https://github.com/puppeteer/puppeteer/issues/6963#issuecomment-924559962) is added (which will even double the savings webp provides, and also reduce image transfer times even more).

[2021-09-29 14:19] jschfflr commented on #5348
@Lonniebiz Awesome! Happy to help :)
Feel free to create a pull request for AVIF as soon as it's available :)

[2021-09-29 14:26] jschfflr commented on #6963
Feel free to open a feature request on https://crbug.com to add avif support for the screenshot command on the Chromium side :)

[2021-09-29 14:35] jschfflr commented on #7594
@johanbay I would also expect the API to behave the same in both scenarios. Is there maybe a way to add a flag that can toggle the inclusion of ignored nodes?

[2021-09-29 14:56] jschfflr opened #7615 "'userDataDir option should restore state' test is flakily timing out for Firefox"
Example run: https://github.com/puppeteer/puppeteer/pull/7614/checks?check_run_id=3745478501
@whimboo Do you know what might be causing this?

[2021-09-29 15:46] #7601 closed, assigned to nobody

[2021-09-29 18:48] jonnyasmar commented on #540
This worked like a charm. Thank you!

In my case, I was actually running into this issue in the Sidekick browser (a really awesome Chrome alternative built on Chromium). In case anyone out there is dealing the same issue and stumbles across this thread as I did, you just need to change the plist file name to `com.pushplaylabs.sidekick`, so the terminal commands become:

[code]

And as mentioned, b

[2021-09-29 19:42] Lonniebiz commented on #6963
I did, but it isn't pretty:
https://bugs.chromium.org/p/chromium/issues/detail?id=1254336
@jschfflr

I wish I could edit it.

[2021-09-30 05:58] whimboo commented on #7615
Hard to say without seeing trace logs. But I would assume that Firefox had a problem during startup so that enabling the CDP protocol happened too late.

@jschfflr, would it be possible to set the `webdriver.log.level=Trace` preference for Firefox when it's running in CI? The log files will be larger but we find it very helpful when investigating intermittent failures like that.

[2021-09-30 07:32] whimboo commented on #7615
We actually have https://bugzilla.mozilla.org/show_bug.cgi?id=1713030 for that. So I would take a look over there.

[2021-09-30 07:48] vAugagneur commented on #1250
hi @stephenjesus did you find a solution ?

[2021-09-30 08:41] jschfflr commented on #7615
Given that it's also happening on your side would it be possible to run the tracing version there and to disable the test on Puppeteer's CI for now?

[2021-09-30 09:59] FaraziF commented on #1321
Still, I am facing this problem. When I run test scenario from **Github Action**
[code]

[2021-09-30 10:34] erasmuswill commented on #666
@jbprat really curious about this too

![wisdom_of_the_ancients](https://user-images.githubusercontent.com/15966713/135439736-797b7d69-53c6-4f96-832a-947de64472fd.png)

[2021-09-30 12:01] maxwrlr commented on #7548
Hey @aakashgarg19, I had the same issue and fixed it by amending the import statement.
Still, I am not sure what caused it so suddenly.

Not working:
[code]

Working:
[code]

[2021-09-30 12:54] achyutjhunjhunwala commented on #561
Thanks alot mate. At that time the only solution i could work with was to run it on a dedicated EC2 machine but now i am happy, now i know the fix and what wrong i was doing

[2021-09-30 13:25] jijojosephk commented on #7603
Could someone acknowledge? Not looking for a fix now. But at least confirm is it a issue or not?

[2021-09-30 18:34] Osiris-Team opened #7618 "[Bug]: Downloading content only works for specific file types?"
### Bug description

[code]
Why does the code above only work for specific file types and not for all of them?
I don't see why the second example must fail.

### Puppeteer version

v10.4.0

### Node.js version

v16.10.0.

### npm version

6.14.4

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-09-30 19:49] Osiris-Team commented on #7618
It seems to be possible though: https://bugs.chromium.org/p/chromium/issues/detail?id=696481

[2021-09-30 20:58] ngillen21 commented on #7603
Same issue here.  I am NOT running with headless mode turn on but when I kick off the script with a scheduled task it runs as a background process and seems act like it is running in headless with all the issues that it causes.   I get no errors thrown so not even sure what is going wrong.

[2021-09-30 22:32] sigleane commented on #3455
Hey guys, im having this error..
Someone knows how to solve it?

npm run bundle
npm ERR! missing script: bundle
npm ERR!
npm ERR! Did you mean this?
npm ERR!     build

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users[...]

[2021-10-01 03:30] stephenjesus commented on #1250
@vAugagneur  yes I found the solution

Create a separate async function and

Use promise to resolve message

[2021-10-01 06:41] jijojosephk commented on #7603
@ngillen21 It's possible the it automatically switch to headless mode otherwise, it fails to launch browser which is GUI but it's not possible running as a service. I'm really breaking my head to find the solution. Hope someone acknowledges this as a bug provide a fix.

[2021-10-01 08:51] foolip commented on #7239
I've come across this issue because pinned dependencies create a problem for dependents of Puppeteer. In https://github.com/foolip/mdn-bcd-collector/pull/1537 I wanted to upgrade the node-fetch dependency 2.6.5 but found that Puppeteer's would not be deduplicated and get a copy of 2.6.1. This is the output of `npm ls node-fetch` I saw:
[code]

Note how all of the dependencies except Puppeteer's ar

[2021-10-01 08:56] foolip commented on #7239
I've sent https://github.com/puppeteer/puppeteer/pull/7620 to configure Dependabot, if that's something this project would like. I use it on all my node projects and am pretty happy with it. The only downside is it creates a lot of PRs and makes `git log` noisy.

[2021-10-01 10:04] daverickdunn commented on #1947
This will happen if Chromium doesn't have enough memory on startup.

I was running `puppeteer-core` with `chrome-aws-lambda` on Lambda (as opposed to Google Cloud Functions...) using **256MB** of RAM, I upped the memory to **1024MB** and that fixed it for me.

You might get away with allocating less than 1024MB, but I haven't tried.

[2021-10-01 10:12] misantronic commented on #1947
That's interesting! I am running all my pdf-lambda functions on 3008 MB ever since, so that doesn‘t work for me.

[2021-10-01 11:08] Geddo commented on #6167
@pxCaptcha Thanks man, works! For everyone working with DDEV: you have to set the hostname to your project.tld and then take the internal ddev web-container name (usually ddev-[yourprojectname]-web) as goto url:
`
const browser = await puppeteer.launch({
headless: true,
ignoreHTTPSErrors: true,
args: [
   "--host-resolver-rules=MAP yourprojectname.localhost ddev-yourprojectname-web",
    "--no-san

[2021-10-01 14:51] liron-navon opened #7621 "[Bug]: not working on github actions"
### Bug description

Steps to reproduce the problem:

1. install puppeteer
2. try running puppeteer in GitHub actions

tried running chrome, chromium-browser, and chrome-latest-stable, and the default downloaded chromium version, nothing works

### Puppeteer version

10.4.0

### Node.js version

16

### npm version

7.24.0

### What operating system are you seeing the problem on?

Linux

### Relev

[2021-10-01 16:14] kwaziphi opened #7622 "[Bug]: Audio glitches. Chromium, Node js server for serving static files, Raspberry Pi"
### Bug description

Hello there. Looking for advice/help.

I am using puppeteer to automate playing my web-player (wrote on js with Howler library).

When I manually open Chromium, then go to http://localhost:8080 and click on #play-button - music plays well.
When I reproduce such a behaviour with puppeteer - I am getting glitches, pausing (even for 1-2sec) during playing.
Don't know how to solve

[2021-10-01 20:33] joelgriffith opened #7623 "[Bug]: page.pdf() doesn't work in web due to "hard" node stream dependency"
### Bug description

Steps to reproduce the problem:

1. Import puppeteer's esm web build into a web-app.
2. Use it and try to generate a pdf.
3. Always errors with `Cannot create a stream outside of Node.js environment.`.

Here's an example html payload that illustrates this (feel free to substitute the connect call for something else).

[code]

*Possible PRs I'm happy to do*

After reading throu

[2021-10-02 03:42] ddoonngg opened #7625 "[Bug]: page.screenshot() take too long time to complete when too many Browser/Page instance running"
### Bug description

Hi there,

I am developing a website monitoring application using puppeteer and there are many Browser/Page instance running  at the same time.  In this case, `page.screenshot()` sometime takes too long time to complete and it may block my program.

Is it reasonable provide a timeout option for `page.screenshot()` method?

Thanks

### Puppeteer version

10.0.0

### Node.js ver

[2021-10-02 13:35] omeriko commented on #6602
Same problem.

[2021-10-02 19:19] kwaziphi commented on #7622
Here is my Player code:
[code]

[2021-10-02 20:05] ggorlen commented on #2945
[`page.waitForFunction`](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#pagewaitforfunctionpagefunction-options-args) can monitor an arbitrary predicate, such as text changing, or the number of child elements in a container. It uses either `requestAnimationFrame` or `MutationObserver` under the hood, so it's a higher-level alternative to injecting an MO by hand with `evaluate` as sho

[2021-10-03 07:02] marik22312 commented on #516
Great request! looking for a way to monitor an mp3 audio stream, would be very useful

[2021-10-03 11:42] darklightcode opened #7626 "[Bug]: page.goto() - simple download example fails"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

10.4.0

### Node.js version

16.9.1

### npm version

7.21.1

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2021-10-03 15:59] EedoCelsius opened #7627 "[Bug]: setRequestInterception not intercepting some xhr requests => forever pends."
### Bug description

Steps to reproduce the problem:

[code]
This should allow all requests to be continued, however as you can see from the devtools network tab, there are some xhr type requests that pends forever. (If you click and move through the map more pending requests will show up.) I've noticed that those requests that pends forever does not get intercepted by puppeteer and therefore coul

[2021-10-04 01:09] d1videbyzero opened #7628 "[Question]: Does puppeteer support firefox print pdf?"
### Bug description

Not sure if this is the right place for this but I am looking for clarification with regards to features of puppeteer (specifically with firefox). I want to use puppeteer with firefox to print some html to pdf. In the documentation, I can see that it says this functionality is unsupported and when I tested it, I just got an error and no pdf. However I came across [this](https:

[2021-10-04 06:13] jschfflr commented on #7458
Quick update - Unfortunately, the roll is still blocked because of the following situation:

A while ago, a [change in the network domain](https://chromium-review.googlesource.com/c/chromium/src/+/2856099) caused some headers and status codes to move from the `requestWillBeSent`/`responseReceived` to the according `requestWillBeSentExtraInfo`/`responseReceivedExtraInfo`. Right now, Puppeteer does

[2021-10-04 06:18] #5570 closed, assigned to nobody

[2021-10-04 06:18] #6227 closed, assigned to nobody

[2021-10-04 06:18] #6514 closed, assigned to nobody

[2021-10-04 06:59] #7572 closed, assigned to jschfflr

[2021-10-04 11:45] 4ekki commented on #7460
Looking forward to this update, due to https://bugs.chromium.org/p/chromium/issues/detail?id=423246 that was fixed in chromium 96

[2021-10-04 11:47] mcshaman commented on #7529
This is making it rather difficult stub `launcher`, I can't pass it as a variable.

[code]

[code]

[code]

[2021-10-04 16:17] ucarbehlul commented on #7204
I can reproduce the problem with below code:

[code]

note that someurl.com does a JS redirect.

[2021-10-04 16:20] marvindanig opened #7629 "[Bug]: Puppeteer tries to `getAttribute` for just a simple screenshot of a webpage. And fails."
### Bug description

Steps to reproduce the problem:

1. I have a running container for puppeteer that takes screenshot of a website on a mobile sized viewport per the following code:

[code]

2. Taking a screenshot shouldn't require Puppeteer to look up into the DOM for an element and yet here we are:

[code]

How do I prevent headless Puppeteer to simply screenshot the page peacefully and not go

[2021-10-04 16:48] jschfflr commented on #7589
Please feel free to create a pull request for this change and I'm happy to get it landed :)

[2021-10-04 16:55] jschfflr commented on #7584
I tried to reproduce your bug report and it seems like `npr.org` is not actually doing navigation requests but instead uses [history.pushState](https://developer.mozilla.org/en-US/docs/Web/API/History/pushState).
Could you verify (maybe by logging `req.url()`) that the request that you expect are actually sent?

[2021-10-05 04:51] vinay-jtc commented on #469
I am enabled to access the Cookie in request header if `await page.setRequestInterception(true)`.
@Ndragomirov @aslushnikov @andrewlinfoot   Can you help me with this?

var puppeteer = require('puppeteer');

(async() => {

[code]
})();

[2021-10-05 13:11] #7605 closed, assigned to nobody

[2021-10-05 15:29] josepharhar commented on #7458
Hey everyone!

I am working on a new CDP feature to enable puppeteer to leverage responseReceivedExtraInfo and therefore get the raw headers back: https://chromium-review.googlesource.com/c/chromium/src/+/2898747
Here is a doc for those interested in more details: https://docs.google.com/document/d/1NM30Wg_aM3-RFZaD_lQuWQj8my8XoR9YpMi60QH1lHU/edit

I am also working on a puppeteer patch which uses

[2021-10-05 15:56] pilate commented on #5265
After spending some time trying to deal with this, I came across the [`Debugger.setBlackboxPatterns`](https://chromedevtools.github.io/devtools-protocol/tot/Debugger/#method-setBlackboxPatterns) method. This seems to disable use of the debugger by scripts with a source URL matching specified patterns.

I'm using a different library, but it should be something like this with puppeteer:

    client.

[2021-10-06 04:24] robmorgan commented on #1643
I adapted the example above to the following. This works for me with local images such as `http://localhost:3000/image.png` and automatically stops `express` after generating the PDF.

[code]

[2021-10-06 05:58] whimboo commented on #7615
Yesterday I noticed a strange behavior when running [Puppeteer with Firefox and having trace logging enabled](https://bugzilla.mozilla.org/show_bug.cgi?id=1734208). Whenever our CDP implementation logs something to `stdout` or `stderr` Firefox freezes because writing to these pipes is blocking (`fputs` never returns).

@jschfflr, given that Puppeteer uses both could it be that it's no longer proce

[2021-10-06 09:06] omeriko commented on #1648
+1
Totally still happens

[2021-10-06 09:09] jschfflr commented on #7458
Thanks for the update @josepharhar!

[2021-10-06 09:09] jschfflr commented on #7459
This is currently blocked on https://github.com/puppeteer/puppeteer/issues/7458

[2021-10-06 13:21] AviadBelulu opened #7638 "[Bug]: Chromium version in 10.4.0 is not working"
### Bug description

Steps to reproduce the problem:

use latest chrome
run the tests

Original:
Object.defineProperty(exports, "__esModule", { value: true });
exports.PUPPETEER_REVISIONS = void 0;
exports.PUPPETEER_REVISIONS = {
    chromium: '901912',
    firefox: 'latest',
};

I tried to update it manually in the node modules to
Object.defineProperty(exports, "__esModule", { value: true });
exp

[2021-10-06 14:02] limzykenneth commented on #7570
If it helps, the error seems to be caused by logging certain objects and arrays. By converting the objects and arrays into strings it helps as shown in this PR: https://github.com/processing/p5.js/pull/5415

[2021-10-06 14:27] mgifford commented on #6002
Mostly linking together issues here:
https://github.com/puppeteer/puppeteer/issues/594#issuecomment-325935296
https://github.com/puppeteer/puppeteer/issues/5475
https://github.com/puppeteer/puppeteer/issues/4780

For me though the problem was actually that I'd been blocked by their network.  Apparently even though i was crawling a client's site, my IP got identified and

[code]

Nothing a VPN can'