[2021-10-06 14:59] joelgriffith commented on #7623
Checking in to see if anyone has any thoughts on the above?

[2021-10-06 20:11] minimul commented on #1598
For Ubuntu 20.04 the Debian dependency list on the [troubleshooting guide](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md) is up-to-date.

[2021-10-06 20:14] josepharhar commented on #7458
The PR is ready: https://github.com/puppeteer/puppeteer/pull/7640
It still depends on the new flag in chromium, but the code can still otherwise be reviewed!

[2021-10-07 07:37] sijomonbenny opened #7643 "Puppeteer not saving every userData(Cookies)"
While using useDataDir
[code]
Its not actually storing every cookies for a website. While inspecting that, Its observed that it is not storing the cookies of the subdomain. It only stores the cookies of the main domain.

[2021-10-07 08:19] johanbay commented on #7594
I think it would be included in the snapshot if [interestingOnly](https://github.com/puppeteer/puppeteer/blob/f863f4bfe015e57ea1f9fbb322f1cedee468b857/src/common/Accessibility.ts#L102) is set to `false`.
We could include this as a querying attribute for `aria/`? So one would do `aria/Test[ignored:false]` in this case.

[2021-10-07 08:43] bartmanskyi commented on #7603
Same issue
`HEADLESS: false` does not work as expected. Browser does not appear, and works in headless mode
I have found that this is related to browser version. v93 looks ok, but v94 does not work as expected in headless mode

[2021-10-07 09:30] jschfflr commented on #7643
@sijomonbenny Thanks for taking the time to file this issue!
Could you share a snippet that reproduces the problem?

[2021-10-07 10:02] jschfflr commented on #7638
@AviadBelulu Thanks for taking the time to report this bug! Unfortunately, I'm not sure I can follow along. Could you explain how to reproduce what you tried to do?

[2021-10-07 10:11] jschfflr commented on #7629
@marvindanig Thanks for taking the time to report this issue! Puppeteer is not calling `getAttribute` - that's something that happens on the page itself. To verify, please go to `https://app.dotplan.io/users/log_in` and check the console in DevTools there. Closing this as it is unrelated to Puppeteer.

[2021-10-07 10:11] #7629 closed, assigned to nobody

[2021-10-07 10:13] jschfflr commented on #7628
@d1videbyzero Thanks for taking the time to report this issue!
Could you share the error message that you got from puppeteer?

[2021-10-07 10:24] AviadBelulu commented on #7638
sure @jschfflr ,
I updated to the latest version op Puppeteer (10.4.0)
which is using the chrome revision of 901912,
the result is this chrome version:
node_modules/puppeteer/.local-chromium/linux-901912/chrome-linux/chrome
(as it is in the \node_modules\puppeteer\lib\cjs\puppeteer\revisions.js)
Current browser version is 93.0.4577.0

and when I run it I get the issue of chrome driver
my machine c

[2021-10-07 10:26] Kle0s commented on #2410
I noticed this issue was not fully fixed using the suggested flag. I found that on wikipedia pages, some times another word would fit into a line on my local browser while on the devtools browser (through the debugging port), I saw that the word is actually located after a newline character.
I noticed it on the following wikipedia page (that happened to be the featured article of the day when I fi

[2021-10-07 11:28] Rasanjika opened #7647 "Puppeteer 10.4.0 not works with firefox nigtly"
### Bug description

Steps to reproduce the problem:

1. …
Automate script .
Add click event
It waits for the selector and time out

### Puppeteer version

10.4.0

### Node.js version

v14.17.3

### npm version

6.14.13

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2021-10-07 12:05] jschfflr commented on #7638
Ah ok, I see. So this is about chrome driver not working with the Chromium version that we're currently shipping.
We are currently working on rolling Puppeteer to the latest Chromium version but ran into some problems. You can read more about it here: https://github.com/puppeteer/puppeteer/issues/7458
Closing this as a duplicate. But thanks for reporting this anyways!

[2021-10-07 12:05] #7638 closed, assigned to nobody

[2021-10-07 12:21] jschfflr commented on #7627
@EedoCelsius Thanks for taking the time to report this issue!
Could you share a screenshot of the Network panel in DevTools?
To me, it looks like the pending requests all originate from a service worker but I'd like to verify that before continuing to investigate.

[2021-10-07 12:56] jschfflr commented on #7626
@darklightcode Thanks for taking the time to report this issue! This is the result of how Chromium handles downloads like this internally and unfortunately, there's nothing on the Puppeteer side we can do to work around this. Please open a feature request on https://crbug.com to get `Network.loadingFailed` to include if it has been converted into a download instead.

[2021-10-07 12:56] #7626 closed, assigned to nobody

[2021-10-07 13:00] jschfflr commented on #7625
@ddoonngg Thanks for taking the time to report this issue! Unfortunately, it doesn't seem possible to add a timeout to the underlying Chromium command that does the actual work of creating the screenshot. So adding one on the Puppeteer side would not really unblock anything. The only option might be to reduce the number of screenshots you are trying to capture at the same time or to launch multipl

[2021-10-07 13:00] #7625 closed, assigned to nobody

[2021-10-07 13:05] jschfflr commented on #7623
Assigning to @jackfranklin as he's leading the agnostification project.

[2021-10-07 13:08] jschfflr commented on #7622
@kwaziphi Thanks for taking the time to report this issue! Unfortunately, I can't reproduce your setup on my local machine. Could you host your player somewhere online so that I can just navigate to a given url to reproduce the problem? Thanks!

[2021-10-07 13:10] jschfflr commented on #7621
@liron-navon
Thanks for taking the time to report this issue!
Could you give a little more context about what you are doing / trying to achieve?
With the provided information, I'm unable to reproduce the problem.

[2021-10-07 13:16] jschfflr commented on #7618
@Osiris-Team Thanks for taking the time to report this issue!
Marking this as a duplicate of https://github.com/puppeteer/puppeteer/issues/299

[2021-10-07 13:16] #7618 closed, assigned to nobody

[2021-10-07 13:19] jschfflr commented on #7615
@whimboo Do you think this should be resolved with your recent `pipe` PR (https://github.com/puppeteer/puppeteer/pull/7644)

[2021-10-07 13:22] jschfflr commented on #7612
@hosseind88 Thanks for taking the time to report this issue!

Please keep in mind that you are registering an event handler which might be running later.
The pattern we use in our unit tests is the following:
[code]

Closing this as it's not actionable from the Puppeteer side.

[2021-10-07 13:22] #7612 closed, assigned to nobody

[2021-10-07 13:23] jschfflr commented on #7611
@packlikez Thanks for taking the time to report this issue!
Could you share a script that reproduces the problem?
And also maybe run Puppeteer with `DEBUG=puppeteer:*` and past the log here? Thanks!

[2021-10-07 13:27] jschfflr commented on #7608
@szmarczak Thanks for taking the time to report this issue!
I'm more than happy to accept a pull request for this feature!

[2021-10-07 13:30] jschfflr commented on #7607
@kaykyr Thanks for taking the time to report this issue!
Could you share a full script to reproduce the problem? Thanks!

[2021-10-07 13:32] jschfflr commented on #7603
@jijojosephk Thanks for taking the time to report this issue!
Unfortunately, I can not reproduce the problem. Could you share the url on which the problem occurs?
Thanks!

[2021-10-07 13:34] jschfflr commented on #7600
@bjermeland Thanks for taking the time to report this issue!
Unfortunately, Firefox doesn't support the `Fetch` domain in CDP yet.
Closing this as it's currently not actionable from the Puppeteer side.

[2021-10-07 13:34] #7600 closed, assigned to nobody

[2021-10-07 13:36] jschfflr commented on #7599
Unfortunately, I can't reproduce the problem.
Could you maybe verify that everything is working with the latest puppeteer version?

[2021-10-07 13:38] jschfflr commented on #7592
Closing this as the pull request has already been merged.

[2021-10-07 13:38] #7592 closed, assigned to nobody

[2021-10-07 13:40] jschfflr commented on #7584
@naveennazimudeen Closing this as I think its working as expected. Feel free to reopen if needed!

[2021-10-07 13:40] #7584 closed, assigned to jschfflr

[2021-10-07 13:51] jschfflr commented on #7583
@ckcr4lyf To me, it looks like it should always return a `JSHandle`.

[2021-10-07 14:00] jschfflr commented on #7581
@anishsrinivasan Could you elaborate what exactly is going wrong here? With the provided information, I'm unable to reproduce the problem unfortunately.

[2021-10-07 14:03] jschfflr commented on #7580
@gionapaolini To me, it looks like this is a problem with the way browserless is spinning up the puppeteer instance and not with Puppeteer itself. Closing this for now but feel free to reopen if there's something that can be done on the Puppeteer side about this.

[2021-10-07 14:03] #7580 closed, assigned to jschfflr

[2021-10-07 14:04] jschfflr commented on #7579
@murtuzasanjeliwala @sadym-chromium Gentle ping to see if there are any updates.

[2021-10-07 14:04] jschfflr commented on #7578
@sadym-chromium Gentle ping to see if there are any updates on this?

[2021-10-07 14:05] jschfflr commented on #7577
Closing this for now as it seems to be related to Chromium itself. Please file a bug on https://crbug.com/ and link to this issue there. Thanks!

[2021-10-07 14:05] #7577 closed, assigned to jschfflr

[2021-10-07 14:07] jschfflr commented on #7576
Closing this for now as the problem seems to be resolved. If not, feel free to reopen!

[2021-10-07 14:07] #7576 closed, assigned to jschfflr

[2021-10-07 14:07] whimboo commented on #7615
Probably not, but it's towards the path of letting me run tests locally with custom builds. We will see how it goes once that PR got merged.

[2021-10-07 14:09] sadym-chromium commented on #7579
Does it reproducible in `headful` mode?

[2021-10-07 14:11] sadym-chromium commented on #7578
Is issue reproducible in `headful` mode?

[2021-10-07 14:13] jschfflr commented on #7570
@limzykenneth Could you find a minimal example that reproduces this problem without checking out p5.js?
Thanks!

[2021-10-07 14:15] jschfflr commented on #7562
@tuckerconnelly or @zhanto97 Could you find a minimal reproduction for this error?

[2021-10-07 14:16] jschfflr commented on #7561
@chuoke Could you provide a minimal reproduction for this error?

[2021-10-07 14:16] bartmanskyi commented on #7603
@jschfflr
[code]

[2021-10-07 14:24] jschfflr commented on #7559
@d3lm I feel like this is probably more of a DevTools issue than a Puppeteer issue.
Could you file a bug for this on https://crbug.com/ and reference this issue?
Thanks!

[2021-10-07 14:24] #7559 closed, assigned to jschfflr

[2021-10-07 14:27] jschfflr commented on #7551
Please take a look at https://stackoverflow.com/questions/54922756/what-are-the-advantages-and-disadvantages-of-connecting-puppeteer-over-pipe-inst for an explanation of the different options.

[2021-10-07 14:27] #7551 closed, assigned to nobody

[2021-10-07 14:28] jschfflr commented on #7550
@zhuyangping Thanks for taking the time to report this issue!
Please use `waitForTimeout` or even better `waitForSelector` for this.

[2021-10-07 14:28] #7550 closed, assigned to nobody

[2021-10-07 14:34] murtuzasanjeliwala commented on #7579
Yes

On Thu, Oct 7, 2021 at 7:39 PM Maksim Sadym ***@***.***>
wrote:

--

*Murtuza Sanjeliwala*
Engineer 1
<http://www.numerator.com>

[2021-10-07 14:35] murtuzasanjeliwala commented on #7579
Page is using shadow dom and It misses footer part in screenshot.

[2021-10-07 16:04] #7583 closed, assigned to jschfflr

[2021-10-07 16:50] ddoonngg commented on #7625
It's a good idea to restrict screenshot on puppeteer. Thanks for the information and tips!

[2021-10-07 16:51] d3lm commented on #7559
Will do. Thanks for digging into this.

[2021-10-07 17:18] IonelaUdroiu commented on #2481
Hi,
Is there any chance for this bug to be resolved? I'm using puppeteer 10 and page.screenshot() hangs forever when alert() dialog is showing up on the page.

[2021-10-07 17:42] travisdowns commented on #7578
@sadym-chromium - it also seems broken in headful mode but in a different way. See [this very tall screenshot](https://user-images.githubusercontent.com/2403521/136435918-2912a1cf-a920-4115-b82b-8b73049e33b1.png) obtained by running:

    node snap-site.js --width=600 --out-dir=output --headless=false --wait --url=https://travisdowns.github.io/misc/puppeteer-test.html

Note that there is nothing a

[2021-10-07 19:15] josepharhar commented on #7560
Do you mean if `Network.requestServedFromCache`/`_onRequestServedFromCache` is called? Or do you mean if the response is a 304 response?

`Network.requestServedFromCache` means that the renderer process's internal cache fulfilled the request without it going to the browser process and going through the real network stack.

Requests can also go through the network stack/service, make a real request

[2021-10-07 20:27] tjenkinson commented on #7560
Ah I think I was thinking `_onRequestServedFromCache` was a final call but if `_onLoadingFailed` or `_onLoadingFinished` is always called last then I don’t think there is actually a bug

[2021-10-08 00:07] d1videbyzero commented on #7628
I am actually not getting any error message at all. When I set `product: 'firefox'` in the `launch()` function, the browser opens but does not react to the `page.setContent()` or `page.pdf()` functions. The browser hangs forever until I manually quit.

The reason I need firefox is for some specific quirks it has with loading some css. I am confused because in the documentation it says the `page.pd

[2021-10-08 01:18] josepharhar commented on #7560
Yeah, I am somewhat certain that `Network.requestServedFromCache` always gets `Network.onLoadingFinished` or `Network.onLoadingFailed` afterwards. If you ever find an example where this isn't the case, please share it.

[2021-10-08 06:22] siva349 commented on #1183
Started working with puppeteer since few days, struggled with this problem. But this solution worked like a magic. Thanks @aslushnikov

[code]

[2021-10-08 07:41] akornatskyy commented on #7458
There is observed significant performance degradation when switching from `93.0.4577.82` to `94.0.4606.81`. Specifically up to 2x time for the same requests. Also the binary is +40MB.

[2021-10-08 08:52] jijojosephk commented on #7603
@jschfflr I'd take the example of instagram. replace url with an instagram profile llink.

	const browser = await puppeteer.launch({
		headless: true // true does not work during development and while deployed. false works while development because it launches browser and GUI is supported once deployed in a remote server, no GUI and it does not work same as true.
	});
	let avatarUrl;

	const page

[2021-10-08 10:01] tjenkinson commented on #7560
Cool. I’m not actively using this at the moment so will close this and reopen if the above happens

[2021-10-08 10:01] #7560 closed, assigned to jschfflr

[2021-10-08 10:20] liron-navon commented on #7621
@jschfflr I tried running puppeteer tests with jest-puppeteer on Github actions, I know it used to work since there are tutorials, but currently with the new version of GitHub actions it doesn't, and I couldn't make it work...

My workaround was to run my actions inside a container

https://github.com/liron-navon/docker-puppeteer-container

[2021-10-08 13:51] jschfflr opened #7659 "Firefox tests are failing on windows"
This is probably due to the latest FF nightly release.
Example: https://github.com/puppeteer/puppeteer/runs/3832483753?check_suite_focus=true

[2021-10-08 15:23] #7659 closed, assigned to nobody

[2021-10-08 20:29] limzykenneth commented on #7570
@jschfflr I'll try to put something together, might take awhile though as I got a few things going on at the moment.

[2021-10-09 02:21] byeval commented on #7392
Same problem here.

[2021-10-09 07:05] UsmanGhani-Emumba commented on #5550
how did you solve the issue?

[2021-10-09 08:26] remiconnesson commented on #1648
It still happens, this is very weird

the code below does works:
[code]

but the one below doesn't
[code]

In the code above, we don't get a timeout but the email field doesn't get anything typed in. The password field receives the typed characters.

In the first example, I had to re-add `await page.type('input[name="email"]', email);` to make it work.

But this seems very hacky.

ALSO.

I'm using

[2021-10-09 09:26] chuoke commented on #7561
Sorry, I can't.
The thing is the same URL, repeated requests, subsequent requests the browser uses cached data from disk, and give status code 304, in this case, there is no headers info in the response.
I hope I made that clear. Sorry again.

If disable the cache feature there is no problem. That is my current solution.

[2021-10-09 09:57] murtuzasanjeliwala commented on #7579
@sadym-chromium : I am able to resolve it using latest version. I was using old (5.5.0) version. Is old version supports capturing shadow dom? Is there any workaround to capture it using old version? Thanks.

[2021-10-09 20:26] alamothe commented on #298
I would like to report that, while this fix works (I prefer resolved vs rejected) and doesn't hang the browser, there is still a lot of instability caused by removing the temporary directory. Our production service on Windows crashes ever so often due to that. Right now the way we patched this is to schedule (`setTimeout`) deleting temp folder after a minute instead of immediately during `close`.

[2021-10-09 20:28] kaykyr commented on #7607
Hi! No problem! I'll send the script today! Thank you!

[2021-10-10 07:29] WGH- opened #7661 "[Bug]: Pinned Chrome revision (901912) is broken on systemd nss-resolve enabled setups"
### Bug description

Currently pinned Chrome revision crashes on some setups with `SIGSEGV` due to bug in Chrome memory allocator shim.

To be more precise, the code provides `malloc_usable_size`, and Chromium implementation crashes when passed a null pointer. It probably doesn't affect all setups, but it certainly affects the ones using `systemd-resolved` DNS backend (e.g. `hosts: files resolve`

[2021-10-10 14:48] kaykyr commented on #7607
[code]

So, the error is:

[code]

[2021-10-10 15:44] karimabdelhakim commented on #1996
workaround [here](https://github.com/puppeteer/puppeteer/issues/2423#issuecomment-590738707)

[2021-10-10 16:37] Zebraslive commented on #5265
I just found this https://github.com/berstend/puppeteer-extra/tree/master/packages/puppeteer-extra

the stealth plugin might help.
[code]

[2021-10-10 21:31] alexfernandezv opened #7662 "[Bug]: Can't access elements in extension onInstall page"
### Bug description

When I load an extension, an onboarding page after installation is opened. When I try to perform actions like locating selectors, clicking or retrieving the DOM, I can't access to all the elements on it. Also, when I list all active pages on the browser I can't find the page I want to interact with.

The following code, loads the extension and starts Puppeteer browser with it.

[2021-10-10 22:24] #7662 closed, assigned to nobody

[2021-10-11 00:44] #7092 closed, assigned to nobody

[2021-10-11 03:33] Restuta commented on #299
Using

[code]

And [download.js](http://danml.com/download.html) to auto-save a file worked for me pretty well in both headless and non-headless modes.

[2021-10-11 08:30] UsmanGhani-Emumba commented on #5550
I solved this issue by doing this:

 let selectorElement = page.evaluteHandle(()=>{
        return document?.querySelector() // your shadow path locator
}
let dropDown = selectorElement.asElement()
dropDown.select(value)
)

[2021-10-11 09:26] williamyorkl commented on #4852
superb！！！

[2021-10-11 16:27] davidsharp opened #7670 "[Bug]: page.screenshot is double the height and width when type is set to `jpeg`"
### Bug description

I'm creating a jpeg screenshot from a page like so:
[code]

However, the dimensions of the resulting image are 1600 x 1200. This is not the case if type is `png`, in which case I get the expected 800 x 600 dimensions.

### Puppeteer version

10.4.0

### Node.js version

14.17.6

### npm version

6.14.15

### What operating system are you seeing the problem on?

macOS

### Rele

[2021-10-12 05:59] jijojosephk commented on #7603
@jschfflr @bartmanskyi Did you try with the code I provided? I just wanted to know if this is really bug worth waiting the fix for. I badly need it working. I'd be happy to see you acknowledge this as a bug. Fix can come at anytime we'd happily wait for it. If it's acknowledged, I can stop breaking my head over this issue. Thanks for the understanding

[2021-10-12 07:23] EedoCelsius opened #7675 "[Bug]: page.off("request") is messed up because of interceptCooperative mode"
### Bug description

Steps to reproduce the problem:

PAGE.JS
[code]

This is the page.on() method. Because it is overriding the handlers for events with eventName "request", the original handler is not removable by

INDEX.JS
[code]
and I'm wondering what ' >>> 0' is needed for.

### Puppeteer version

10.4.0

### Node.js version

v14.16.0

### npm version

6.14.11

### What operating system are y

[2021-10-12 07:28] EedoCelsius commented on #7675
works great when
[code]
deleted from PAGE.JS (cooperative wouldn't work probably)

[2021-10-12 08:02] jschfflr commented on #7627
I think this is a valid bug report - the requests should not be paused.
I just wanted to make sure that this only affects requests from the service worker to pinpoint the problem!

[2021-10-12 08:11] jschfflr commented on #7603
@jijojosephk I tried the example you provided and it successfully returns the url both with headless: true and false.
Could you maybe use `page.screenshot`  or something similar to make sure that the page is actually showing what you expect it to show when the `waitForSelector` call fails? And maybe also check `page.content` to make sure that the element you expect is present?

[2021-10-12 08:14] sadym-chromium commented on #7579
I'm not aware of any walk arounds for such an old version. I'm closing the issue. Feel free to reopen if you consider the issue persists.

[2021-10-12 08:14] #7579 closed, assigned to jschfflr, sadym-chromium

[2021-10-12 08:47] ismnoiet commented on #6622
To improve on @Lxstr Solution, just add the following line to your `.~/.zshrc` file and restart your terminal:
[code]
And now, no extra changes are needed in `node_modules` files

Note: You can use the binary of any chromium-based browser(like brave, opera etc).

[2021-10-12 10:00] bryanzhou opened #7676 "[Bug]: network error visiting apple story page"
### Bug description

Steps to reproduce the problem:

1.  page.goto("https://apps.apple.com/cn/story/id1584592202")

### Puppeteer version

1.20.0

### Node.js version

v14.17.0

### npm version

6.14.13

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2021-10-12 10:34] sadym-chromium commented on #7231
The task is considered solved. Please fill free to reopen with more details, if you still experience the problem.

[2021-10-12 10:34] #7231 closed, assigned to nobody

[2021-10-12 10:34] sadym-chromium commented on #7507
Is the issue persists on the latest version?

[2021-10-12 12:15] anjackson commented on #7589
I'm not a JavaScript programmer and frankly I can't even work out how to run the above example code against the puppeteer version in my forked repo.  I'll come back to it when I have time.

[2021-10-12 12:33] themarcel commented on #7507
Yes, for me it still happens with `puppeteer@10.4.0` and `puppeteer@8.0`

[2021-10-12 13:11] viponedream opened #7679 "[Bug]: page can not be controlled"
### Bug description

some pages can not be found!!!
i load a extension while launch chrome. the extension need some text to input and some button to click.
but browsers.pages() can not locate the extension page.

How can i do to fill that extension page?

### Puppeteer version

1

### Node.js version

1

### npm version

1

### What operating system are you seeing the problem on?

Windows

### Rel

[2021-10-12 14:21] #7679 closed, assigned to nobody

[2021-10-12 20:28] bushev commented on #6071
Hey @RamiMZahran, what was the solution?

[2021-10-12 20:51] whimboo commented on #7615
The problem is that this test creates a temporary folder for the Firefox profile, but the default Firefox preferences aren't getting set. This means the profile isn't actually usable with Puppeteer. Chrome doesn't exhibit this problem because all settings are done via command line arguments.

@jschfflr extracting the profile location from the Firefox arguments inside the Launcher is not ideal and

[2021-10-13 01:28] PythonCoderAS opened #7680 "[Bug]: await page.waitFor(element, {visible: true}) or page.click(element) not working with mobile emulation if input is not in viewport"
### Bug description

Steps to reproduce the problem:

1. Open a form using the bundled Chromium (90.1 I think)
2. Click an element that causes another element **below** the current viewport
3. Try to wait for/click the element

### Puppeteer version

10.2.0

### Node.js version

16.11.0

### npm version

8.0.0

### What operating system are you seeing the problem on?

Linux

### Relevant log outpu

[2021-10-13 01:29] PythonCoderAS commented on #7680
The interesting part is that if I run the same code on an rpi with chromium v88, everything works as expected.

[2021-10-13 03:14] bryanzhou commented on #7676
I found this code caused the problem
[code]

[2021-10-13 06:20] yoshinorihisakawa commented on #7220
@markito12

Could you please elaborate on alternative methods?

[2021-10-13 07:22] Francoyy commented on #2781
Following this thread regarding extensions testing. Our extension is now using Chrome's Manifest V3 architecture which uses service workers instead of background scripts.
I want to monitor the requests made by my service worker, but it doesn't seem to work as it did previously with background scripts.
`await serviceWorkerTarget.setRequestInterception(true);`
throws the error `TypeError: serviceWor

[2021-10-13 09:39] whimboo commented on #4111
@jschfflr maybe this is a test that can be re-enabled now given that AppVeyor is no longer used?

[2021-10-13 11:09] bartmanskyi opened #7685 "[Bug]: puppeteer 10.4.0 with headless: false does not show the browser (it works like headless: true)"
### Bug description

puppeteer 10.4.0 with `headless: false` does not show the browser (it works like `headless: true`)

Steps to reproduce the problem:
[code]

Using browserfetcher revision **r894212** it works good
Revision **r901912** does not work as expected (headless: false does not work)

### Puppeteer version

10.4.0

### Node.js version

12.15.0

### npm version

6.14.2

### What operatin

[2021-10-13 11:38] mariusa commented on #7455
Same issue on Fedora 35 (node 16). Same solution as @MunyuShizumi

[2021-10-13 14:51] WGH- commented on #7115
If it's just a change from `Buffer` to `Uint8Array`, why not?

[2021-10-13 19:25] sfelice777 opened #7687 "[Bug]: Puppeteer suppressing popup"
### Bug description

Steps to reproduce the problem:
"puppeteer": "^10.4.0"

Manual Steps:
1. I click a checkbox to select it
2. A popup is launched
3. The checkbox is visibly checked

Puppeteer Steps:
1. I click a checkbox to select it
2. A popup is never launched
3. The checkbox is visibly checked

I've tied using the Puppeteer click()   and evaluate to click the checkbox.
The checkbox is visibl

[2021-10-13 20:59] NN-Binary commented on #7525
Same issue here, no one seems to reply on stack as well. Anyone?

[2021-10-14 06:06] EedoCelsius commented on #7627
Network panel in devTool shows only requests with gear icon pending (which I believe represents the service worker requests).

-------------------------------------------------------------------------

But aside from what devtool shows I think there MIGHT be other non-service-worker requests that are pending. Because, as I know service workers should be designed not to affect what is happening on

[2021-10-14 09:21] jpxzp commented on #7675
fixed https://github.com/puppeteer/puppeteer/pull/7624

[2021-10-14 14:34] DjVreditel opened #7692 "[Bug]: userDataDir not working with Chrome v94.0.4606.81"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

10.4.0

### Node.js version

14.17.6

### npm version

8.0.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-10-14 18:27] Gaius10 commented on #6368
I liked this approach, to avoid infinity loop just add

[code]

[2021-10-15 00:39] Krinkle commented on #6608
The browser name is an issue with the error message only and was since fixed in v7.0.2 (https://github.com/puppeteer/puppeteer/pull/6815).

See also:
* https://github.com/puppeteer/puppeteer/issues/6560

[2021-10-15 01:10] Krinkle commented on #6586
This is still reproducible for me on npm 7.21.0 and puppeteer 7.0.0.

https://gist.github.com/Krinkle/71cbde9617a91154bf3fe1fa46f827a1/496acbed77dda58a1522f89496881ada28e0325b#file-puppeteer-issue-6586-log-L933-L934

[code]

May be related:
* https://github.com/puppeteer/puppeteer/issues/6560
* https://github.com/puppeteer/puppeteer/issues/6608
* https://github.com/npm/cli/issues/3807
* https://gi

[2021-10-15 04:22] 3s-ThanhLNP opened #7693 "[Bug]: it looks like the headerTemplate is scaling up by 1.33 (4/3)"
### Bug description

PDF:
![image](https://user-images.githubusercontent.com/76201885/137431643-61433be4-581d-4b9f-b44b-3bef4caa88f9.png)

code:
![image](https://user-images.githubusercontent.com/76201885/137432004-52ac9226-68fb-4b0a-b01d-0508c7250ad9.png)

first: i measured pdf always margin-top: 20px
I draw a rectangle 28px high and border 2px more so the total is 30px
so is all mine 50px or not

[2021-10-15 13:34] gorkemhacioglu commented on #5266
Hi @dviktorov ,
I have the same issue. Do you have any update about this issue?

[2021-10-15 14:23] mlopez-riparian commented on #4796
This issue is still happening.

[2021-10-15 15:07] Errors4l commented on #2545
@d-rowe Since this workaround/solution still doesn't work when combined with `displayHeaderFooter`, would it be a good idea to add a note on the [api.md documentation page](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md)?

For other readers finding this after struggling with the same issue, please read [septatrix's original comment](https://github.com/puppeteer/puppeteer/issues/2545#

[2021-10-15 22:49] dcts commented on #4796
I recently tried puppeteer on firebase cloud functions (which run on google cloud), and for me the following setup works without any problems, please try:
- firebase function, enruse you run the newest `node14` runtime => see [documentation](https://firebase.google.com/docs/functions/manage-functions#set_nodejs_version)
- puppeteer version `^10.4.0`

[2021-10-16 10:24] #7675 closed, assigned to nobody

[2021-10-17 00:15] JCMais commented on #3279
did anyone find a workaround for this?

[2021-10-17 01:46] viponedream opened #7697 "can not click extension icon"
### Bug description

i load an extension.
and the extension need some click , some text to fill.
how to click the icon on the  toolbar?

it doesn't work in page or target mode.
like chrome-extension://kapldphlnoaojkfljhlamabejclblpch/home.html#settings/networks  -->> doesn't work.

only click the toolbar icon works.

How can i control the icon on toolbar?

Steps to reproduce the problem:

1. …

##

[2021-10-17 06:06] hdsuperman commented on #7336
I have the same problem, request failed when override request domain.

[2021-10-17 20:24] szmarczak opened #7698 "[Bug]: Requests don't go through proxy on Windows"
### Bug description

Incognito context.

[code]

### Expected output

[code]

### Actual output

[code]

### Additional information

It works fine on Linux.

### Puppeteer version

10.4.0

### Node.js version

v16.11.1

### npm version

8.0.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-10-17 20:25] szmarczak commented on #7698
/cc @mnmkng

[2021-10-18 00:45] benwinding commented on #4752
Actually, this command seems to fix the permissions globally ✅
[code]

[2021-10-18 03:35] ebadfd commented on #1947
[code]

I'm still having the same issue. its surely not an issue with the code I tried to run the same code on another machine it worked fine I'm running `5.13.19-2-MANJARO` and every single time I run puppeteer it breaks like this, anyone found a fix for this ? I'm so annoyed by this error tbh :(

[2021-10-18 05:54] paambaati commented on #2486
This would be vastly helpful for testing things like browser extensions. At [OSlash](https://www.oslash.com/), we're building a Chrome/Firefox extension that can immensely benefit from testing with Playwright. The one scenario that we'd love to cover is trigger the browser popup, which isn't possible today.

[2021-10-18 07:14] mathiasbynens commented on #7458
@josepharhar What's blocking https://chromium-review.googlesource.com/c/chromium/src/+/2898747 from landing?

[2021-10-18 09:03] epexa commented on #6330
#5928

[2021-10-18 09:03] epexa commented on #6330
#1454

[2021-10-18 09:03] epexa commented on #6330
#6277

[2021-10-18 09:03] epexa commented on #6330
#3709

[2021-10-18 09:04] epexa commented on #5928
#1454

[2021-10-18 09:08] epexa commented on #5928
#6277

[2021-10-18 09:08] epexa commented on #5928
#3709

[2021-10-18 09:09] epexa commented on #1454
#6277

[2021-10-18 09:09] epexa commented on #1454
#3709

[2021-10-18 09:09] epexa commented on #6277
#3709

[2021-10-18 09:22] epexa commented on #1454
@sdeprez thanks!

Another working example:
[code]

[2021-10-18 09:23] epexa commented on #6277
@ProgramJack check this solution: https://github.com/puppeteer/puppeteer/issues/1454#issuecomment-945575831

[2021-10-18 09:24] epexa commented on #5928
@avner-solomon check this solution: https://github.com/puppeteer/puppeteer/issues/1454#issuecomment-945575831

[2021-10-18 09:25] epexa commented on #6330
@mat-twg check this solution: https://github.com/puppeteer/puppeteer/issues/1454#issuecomment-945575831

[2021-10-18 11:42] f-g-s commented on #1183
I´m using Puppeteer and Jest and this jest-puppeteer.config.js works for me. :)

[code]

[2021-10-18 13:04] asmakhalfallah2018 opened #7702 "[Question]: What's the minimum of height and width supported on viewport ?"
### Bug description

Hello , actually I am using  the function isIntersectingViewport to check if the html element is visible on viewport or not . The problem is even when I give 0 to height and width of viewport it's still giving true althought I can't see anything on viewport ? Do you have an idea please ?

### Puppeteer version

^10.4.0

### Node.js version

v14.17.4

### npm version

6.14.14

[2021-10-18 14:38] xuanmiaoshuo commented on #6271
My friend has same problem. I don't have any idea how to fix it. any updates about this?  @Xarno

[2021-10-18 14:43] Xarno commented on #6271
No, sadly we haven't gone further into testing.

[2021-10-18 15:10] xuanmiaoshuo commented on #6271
👌，Still very much appreciated

[2021-10-18 16:18] josepharhar commented on #7458
I'm waiting for more lgtms, I'll ping the reviewers

[2021-10-18 17:23] akgupta0777 commented on #758
I have tried everything installed buildpacks and there is no problem in running app. But the problem is in puppeteer. It cannot get the selectors on heroku but works like a charm on localhost .

Weird behaviour on heroku.

Here is some reference :
https://stackoverflow.com/questions/69619489/puppeteers-evalutate-not-working-on-heroku

[2021-10-18 20:56] adimon91 opened #7705 "Communication Channel"
I wish to start a communication channel for this project. As a student I'm looking to contribute but it's hard to know where to start. I think having a communication channel would really help encourage new contributors! If this is something the project managers think would benefit Puppeteer, comment on this issue and I can set up a Discord or Slack and update the ReadMe appropriately. Thank you!

[2021-10-19 03:21] wjq990112 commented on #7597
Same problem.

[2021-10-19 07:43] 664765685 opened #7707 "[Bug]: cant test chrome extension with puppeteer in serverless enviroment"
### Bug description

Steps to reproduce the problem:

I tried to test my chrome extension with puppeteer, below is my code. It run well on my local machine, but got wrong when I deploy it in a serverless framework, which is provided by the company I serverd. The result shows `Timed out after 30000 ms while trying to connect to Chrome! The only Chrome revision guaranteed to work is r656675`

[code]

[2021-10-19 10:21] mahdi29 opened #7709 "Issue running in Laravel Vapor with Docker runtime (Alpine Linux)"
* Puppeteer version: 10.2.0
* Platform / OS version: Alpine (Laravel Vapor)
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**

I am trying to run Puppeteer in Laravel Vapor Docker runtime (on Alpine Linux)  but getting following error

[code]

Here's my Dockerfile

[code]

Here's browser.js

[code]

ExecutablePath is /usr/bin/chromium-browser
I am using followi

[2021-10-19 11:31] jackfranklin opened #7710 "Extract documentation site to separate repository"
All of the code and build steps relating to the generation of the Docusaurus website should be moved into a new repo on the Puppeteer organisation. This will enable us to work on it separately without generating noise on the main repo (and vice-versa), and also mean that the docs build steps can live in that repo and not slow down pptr code change builds (and vice-versa).

The exact specifics of h

[2021-10-19 13:26] Rafik-Belkadi-Reccap commented on #6033
I had the same Issue, here is what i did to solve this :
[code]

[2021-10-19 15:47] MurakamiShinyu commented on #6840
I searched [Chromium bugs](https://bugs.chromium.org/p/chromium/issues/list) for this issue, but not found, so I reported:
- [Issue 1261480: Automatic hyphenation not working in headless mode](https://bugs.chromium.org/p/chromium/issues/detail?id=1261480)

[2021-10-19 15:49] limzykenneth commented on #7570
@jschfflr I managed to put something together and in the process found the problem, at least on our end. The problem is that there's a cyclic reference in the object created via `createVector()` in the example below and when attempting to get the value back to the terminal with the `jsonValue()` function I presume there's an attempt at stringifying the object which will fail.

For our end, we may

[2021-10-19 17:16] BryanVillaDev commented on #3143
Hello broterhs ,
My problem is that this page started to throw this window but they don't give me the credentials, but the solution is to click cancel, but I can't cancel this window in any way, I'm using puppeter

[2021-10-19 20:51] josepharhar commented on #7458
The patch is going through CQ+2, it should be merged shortly.

[2021-10-19 21:04] RuralDependencies commented on #7525
It appears that you can't do it with Puppeteer, you would have to modify manually the Chrome Profile (in the Settings) in order to do it.

[2021-10-20 04:29] mohamed-badaoui opened #7713 "[Bug]: First launch crash very often - Chromium 93.x - Puppeteer 10.4.x under Docker container"
### Bug description

Steps to reproduce the problem:

1.Run an Alpine 3.14 container with Chromium 93.x and Puppeteer 10.4.x
2. launch a chromium browser
3. First launch crash very often but the next launches work fine

Rollback to Alpine 3.13 with Chromium 86.x and Puppeteer 10.4.x works without any issue.

### Puppeteer version

10.4.x

### Node.js version

16.11.x

### npm version

7.24

### Wh

[2021-10-21 00:43] marvindanig commented on #7629
Thank you for looking into this @jschfflr. I will notify the issue to the site owner of Dotplan.

[2021-10-21 11:31] mahdi29 commented on #7342
Same error on docker
Alpine 3.14
Puppeteer 10.2.0
Chromium 93

[2021-10-21 13:44] andersonfurlantr commented on #2089
How to hide footer in the last page?

[2021-10-21 16:26] thamwangjun commented on #6614
I think this is a duplicate of #6634, and this issue has been fixed in this merge request #6495.
In the latest puppeteer version `10.4.0`, `executablePath` is working in my tests.

[2021-10-21 18:13] augusto3691 opened #7714 "How to print a Chrome PDF Viewer"
A new tab is opened after a button click with a PDF in Chrome PDF Viewer , how can i take a print of this viewer in headless mode?

[code]

i manage to take a print. but the image is the previous page and not the Chrome PDF Viewer :/

[2021-10-21 19:16] Sjonnie2nd commented on #7529
I was using:
import {Browser, launch, Page, PDFOptions, PDFMargin} from 'puppeteer'
and
launch()
gave the same "_launcher" error.

Trying to change it to:
import puppeteer from 'puppeteer'
gives a typescript errror: "..has no default export"

Simply changing it to
import * as puppeteer from 'puppeteer'
worked for me.
(by fe. calling puppeteer.launch())

[2021-10-21 19:54] victorcopque commented on #5352
@demonly Thanks, bro!!! You save me 🎉

[2021-10-22 02:14] alex-drocks commented on #5483
Same problem here. On a private office local network, it opens the browser real quick and immediately shuts down without error messages. After 30seconds the timeout is exceeded and the process it terminated. This only happens when executing from within a local network disk. If I copy paste the same project on a drive that is not in the network, it works instantly.

[2021-10-22 05:57] bobiko commented on #1837
I confirm that the above answer is the solution. It works for me.

[2021-10-22 07:31] MurakamiShinyu commented on #6840
I got answer from Chromium bugs:
https://bugs.chromium.org/p/chromium/issues/detail?id=1261480#c5

The option `--headless=chrome` (or `USE_HEADLESS_CHROME` environment variable) on Linux would be worth testing.

[2021-10-22 07:55] saurabhsuraj commented on #7599
Hii, Now I have successfully installed the puppeteer at the server with some basic commands. I am facing the issue with installing the browser on the server. now I resolved it.
Thank you for your support.

[2021-10-22 08:37] sanderha commented on #2089
To solve this problem we ended up generating multiple pdf's and merging them with https://www.npmjs.com/package/pdf-merger-js

Would be nice to have some more options in Puppeteer though

[2021-10-22 10:52] #7599 closed, assigned to nobody

[2021-10-22 13:44] grigoriy-didorenko commented on #3852
Same happens for me

[2021-10-22 15:37] mikilukasik commented on #3869
this helped me: https://github.com/puppeteer/puppeteer/issues/3659

[2021-10-22 16:17] JaiParakh commented on #1643
Could you please share a sample

[2021-10-23 19:19] krausest opened #7716 "waitForSelector("pierce/...") fails in one case"
### Bug description

I ported my js-framework-benchmark to use puppeteer to measure memory usage.
I really like the pierce selector - it makes working with shadow dom much smoother.
The benchmarks tries to detect when the page is ready by checking that a button appears in the browser.
For polymer (and only for that single framework) `page.waitForSelector("pierce/#run")` times out and I think this

[2021-10-24 16:05] kami4ka commented on #1062
apify have introduced a pretty cool helper function to do that: https://github.com/apify/apify-js/blob/67b10c7b62bc632f6eee893073f5bea9de4739a3/src/puppeteer_utils.js#L343-L381

I've covered this topic in a separate article about [POST sending](https://scrapingant.com/blog/puppeteer-post-put-delete-request). Hopefully, it will drive this issue a bit.

[2021-10-25 05:53] jschfflr commented on #7599
Happy to help!

[2021-10-25 06:26] jschfflr commented on #7458
Awesome, thanks @josepharhar for seeing this through!

[2021-10-25 06:27] jschfflr commented on #7458
Will this change be backmerged to older versions or should we wait for the next branch cut?

[2021-10-25 08:37] josepharhar commented on #7458
I’m not planning on trying to merge it to any release branches, I feel like it would be kind of hard to get approved

[2021-10-25 13:01] iJoris opened #7719 "[Bug]: Puppeteer seems to not work with proxys"
### Bug description

Steps to reproduce the problem:

1. … Find an IP:PORT HTTP proxy
2. Run simple puppeteer example
3. see ERR_TUNNEL_FAILED

[code]

### Puppeteer version

10.2.0

### Node.js version

14.7

### npm version

6.14

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-10-25 13:51] jschfflr commented on #7629
Sure, happy to help!

[2021-10-25 15:14] andyearnshaw opened #7720 "Allow additional aria attributes to be specified in aria/ queries"
I know there's probably an upstream issue involved here since this feature is reliant on the CDP endpoint being improved, but since that CDP endpoint was originally implemented for Puppeteer I thought it was worth adding here.

Currently, only `[role="rolename"]` and label are permitted in `aria/` queries. This is a bit of a hindrance in certain circumstances. For instance, let's say I want to sel

[2021-10-25 16:22] andyearnshaw commented on #7594
I think the default should be at least consistent across both API methods. Rather than `[ignored:false]` or `[ignored="false"]` which don't really match up with other ARIA properties that might be included in `[]` delimiters in the future, it might be more pertinent to make _interesting nodes only_ the default and use a different prefix where _uninteresting_ nodes are required, e.g. `aria-all/`. T

[2021-10-25 16:37] andyearnshaw opened #7721 "[Bug]: aria/ queries don't support single-quote delimiters for role names"
### Bug description

Steps to reproduce the problem:

1. Open a page in Puppeteer with at least one element with `role="region"` attribute set
2. Call `page.$()` with the following query: `aria/[role='region']`
3. Observe that the result is `null`

### Puppeteer version

v10.4.0

### Node.js version

v16.12.0

### npm version

v8.1.0

### What operating system are you seeing the problem on?

Linux

[2021-10-25 16:39] andyearnshaw commented on #7721
Note that, in the log output, I'm using a different selector and API function than the ones suggested in the repro steps. You can see in the source code for `v10.4.0` that `'` is not part of the [attribute selector regex](https://github.com/puppeteer/puppeteer/blob/v10.4.0/src/common/AriaQueryHandler.ts#L43-L44).

[2021-10-26 08:45] jschfflr commented on #7594
@andyearnshaw I'd agree on getting the default consistent.
@johanbay What do you think about the proposed change?

[2021-10-26 08:47] titusfx commented on #3681
I have the same issue, and the solution of @phistuck  works. *BUT* I need to use an extension,

my script is:

[code]

In order to puppeteer load an extension (from my experience), it needs the full path, in my case the new full path was on the container. I didn't realize that. So, I changed the path to the local container, and it worked.
So, my problem was the extension but was the location of th

[2021-10-26 08:50] jschfflr commented on #7458
Ok, cool! I'll start rolling Chromium as soon as this change lands in dev :)

[2021-10-26 19:05] 1moita opened #7724 "[Bug]: "Uncaught ReferenceError: addRow is not defined" on Linux"
### Bug description

Steps to reproduce the problem:

1. Launch Puppeteer with:
[code]

### Puppeteer version

^10.4.0

### Node.js version

14.18.1

### npm version

6.14.15

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2021-10-26 23:10] kevinmanase commented on #6622
this did the trick

[2021-10-27 00:15] antoniojtorres commented on #2974
Having this issue as well, having a need to block undesirable WSS requests when visiting sites and not seeing websockets register anywhere in the request events.

[2021-10-27 08:18] raghavmalawat commented on #422
@papaiatis any solution you found, we are facing the same error when in mac we see the emojis and custom local/webfonts getting rendered but not on the dev server

[2021-10-27 08:51] papaiatis commented on #422
@raghavmalawat no solution yet... I'm thinking of giving [pdfmake](http://pdfmake.org/#/) a try but that would require me to implement PDF creation from scratch. But that could be OK because CSS isn't flexible enough to style print preview ( eg.: having a custom header on the first page only).

[2021-10-27 09:59] renardspark opened #7725 "[Bug]: Installation script error"
### Bug description

I have encountered a problem during the installation of puppeteer with `npm install puppeteer`. When it try to launch install.js, it crash with error : command failed

Here is the log file created :
[2021-10-27T09_43_21_025Z-debug.log](https://github.com/puppeteer/puppeteer/files/7425102/2021-10-27T09_43_21_025Z-debug.log)

However, I can install puppeteer with `npm install --

[2021-10-28 01:53] lazyting commented on #6977
Sorry, I don't  @remember.Because I haven't used it for a long time @whimboo

[2021-10-28 01:56] lazyting commented on #6977
Here's a solution.

[2021-10-28 01:56] #6977 closed, assigned to nobody

[2021-10-28 06:04] packlikez commented on #7611
it works now because I increased memory, Thank you for your response

[2021-10-28 06:04] #7611 closed, assigned to nobody

[2021-10-28 07:55] jschfflr commented on #7611
Thanks for your feedback!

[2021-10-28 09:26] garcia-marco commented on #4059
+1

[2021-10-28 10:26] SimenB commented on #7407
Getting this after upgrading from node 14 to node 16. Doesn't happen all the time, but often enough...

Extra annoying that there is some unhandled rejection somewhere, so our server just crashes rather than returning at least a 500 error

[2021-10-28 12:24] RodolfoSilva commented on #5277
@SeungjongHan Thanks for the tip, it worked great!

[2021-10-28 14:11] jonkratz commented on #1648
I'm seeing this issue happen at random. No discernible pattern, but `await input.type('email@domain.com')` will work most of the time, but then occasionally only enter `email@d` or `email@domain.` or any random subset of the string. This is on a website with no background data fetching, or input animation (using headless).

Correct me if I'm wrong, but essentially it seems like the Promise that is

[2021-10-28 15:09] Whobeu commented on #7529
I just rebuilt a project under 4.4.4 that I last touched in August. When I ran the resultant JavaScript, I got this error as well. Applied @Sjonnie2nd change above to "import * as puppeteer from 'puppeteer'" and it works fine. I kept my separate imports of LaunchOptions and SetCookie (import { LaunchOptions, SetCookie } from 'puppeteer'). Only "launch" requires the "puppeteer" prefix.

Side note:

[2021-10-29 08:30] vanstline commented on #7000
I have a similar problem

[2021-10-29 11:48] jschfflr commented on #7643
@sijomonbenny I'm gonna close this as it's currently not actionable.
Feel free to reopen with a reproduction! Thanks!

[2021-10-29 11:48] #7643 closed, assigned to nobody

[2021-10-29 12:02] jschfflr commented on #7628
Hmm, so it seems like the problems is actually with `page.setContent` already.
Could you post a minimal reproduction for this situation and share the protocol messages that are sent between Puppeteer and Firefox by setting `DEBUG=puppeteer:*`? Thanks!

[2021-10-29 12:06] jschfflr commented on #7407
This should have been fixed in https://github.com/puppeteer/puppeteer/pull/7728.
I'll cut a new Puppeteer version next week :)

[2021-10-29 12:06] #7407 closed, assigned to nobody

[2021-10-29 12:13] jschfflr commented on #7623
@jackfranklin gentle ping to see if you have any thoughts on this?

[2021-10-29 12:16] jschfflr commented on #7622
@kwaziphi I'm closing this as it's currently not actionable for me. Please feel free to reopen once there's a minimal reproduction available :)

[2021-10-29 12:16] #7622 closed, assigned to nobody

[2021-10-29 12:18] jschfflr commented on #7621
Unfortunately, I'm unable to reproduce the problem. Could you maybe provide a minimal reproduction?

[2021-10-29 12:18] jschfflr commented on #7621
Unfortunately, I'm unable to reproduce the problem. Could you maybe provide a minimal reproduction?

[2021-10-29 12:19] jschfflr commented on #7621
Sorry, bad internet connection here 📶

[2021-10-29 12:34] jschfflr commented on #7607
I think this has been fixed by the pull request. I'll cut a new release next week - could you verify it works?
Closing this in the meantime but feel free to reopen!

[2021-10-29 12:34] #7607 closed, assigned to nobody

[2021-10-29 12:37] jschfflr commented on #7603
I'll close this for now as its currently not reproducible. Feel free to reopen when there are new information!

[2021-10-29 12:37] #7603 closed, assigned to nobody

[2021-10-29 12:41] jschfflr commented on #7591
Please check https://developers.google.com/web/updates/2017/04/headless-chrome for an overview.

[2021-10-29 12:41] #7591 closed, assigned to nobody

[2021-10-29 12:42] jschfflr commented on #7590
Unfortunately, there is a difference in how headless and headfull handle downloads.
We are tracking this in https://github.com/puppeteer/puppeteer/issues/299

[2021-10-29 12:42] #7590 closed, assigned to jschfflr

[2021-10-29 12:47] jschfflr commented on #7581
I'll close this as it's currently not actionable from the puppeteer side. Please feel free to reopen if new information emerges!

[2021-10-29 12:47] jschfflr commented on #7581
I'll close this as it's currently not actionable from the puppeteer side. Please feel free to reopen if new information emerges!

[2021-10-29 12:47] #7581 closed, assigned to jschfflr

[2021-10-29 12:49] jschfflr commented on #7578
@sadym-chromium Do you think this is actionable from the Puppeteer side or should this be reported to Chromium directly?

[2021-10-29 13:05] jschfflr commented on #7561
@josepharhar Could this be resolved by your recent change already?

[2021-10-29 13:18] jschfflr commented on #7562
I'm closing this for now as it's currently not actionable. For redirects you should get an `Response body is unavailable for redirect responses` error. Feel free to reopen when new insights emerge :)

[2021-10-29 13:18] #7562 closed, assigned to jschfflr

[2021-10-29 13:23] jschfflr commented on #7549
@jamalmazrui  Thanks for taking the time to report this issue! Could you share a list of the roles that don't match and/or a minimal reproduction? Thanks!

[2021-10-29 13:33] jschfflr commented on #7544
@putuoka Thanks for taking the time to report this issue!
Can you run the script with `DEBUG=puppeteer:*` and paste the log messages here? Thanks!

[2021-10-29 13:44] jschfflr commented on #7540
Hey, @harunoz Thanks for using Puppeteer! Unfortunately, we can't provide support outside of issues with Puppeteer itself. I'll close this issue as it's not actionable from my side but feel free to head over to stackoverflow to get your questions answered - I'm sure that will be helpful for other users as well :)

[2021-10-29 13:44] #7540 closed, assigned to nobody

[2021-10-29 13:48] jschfflr commented on #7537
@theprodev Thanks for taking the time to report this issue! Unfortunately it's currently not possible to change the `detailed` flag when collecting coverage. But feel free to create a pull request to add that behaviour :)

[2021-10-29 13:51] jschfflr commented on #7535
Using Puppeteer to download files is currently not properly supported. Please see #299 for details.

[2021-10-29 13:51] #7535 closed, assigned to nobody

[2021-10-29 13:55] jschfflr commented on #7532
@bgachip
Thanks for taking the time to report this issue!

The `page.evaluateHandle` returns a handle to something in Chromium. Please use the following snippet instead:
[code]

[2021-10-29 13:55] #7532 closed, assigned to nobody

[2021-10-29 13:56] jschfflr commented on #7531
@ade566
Thanks for taking the time to report this issue!
Could you maybe find a smaller reproduction for this issue?

[2021-10-29 15:19] josepharhar commented on #7561
Yes, it maybe could be fixed by my change.
Does this puppeteer version include the breaking change?

[2021-10-29 17:11] jackyzhang69 commented on #3455
I have same issue. It seems that puppteer is not so popular in chrome extension. too less resources.

[2021-10-29 20:26] puttehi commented on #4796
Issue still persists. Worked on my Windows but on WSL2 Ubuntu 20.04, doesn't work.

Error:
[code]

`package.json`:
[code]

`npm install` output:
[code]

Chromium version number matches the "guaranteed to work" version

[2021-10-30 03:49] zhongmeizhi commented on #6630
The Linux needs to add some 'args'.

example:

[code]

[2021-10-30 13:19] d1videbyzero commented on #7628
Here are the steps I am taking. Let me know if anything needs further explanation. I should also mention that this works fine when using chromium, however I seek the use of some specific qualities that firefox has when rendering content.
[code]
And here are the protocol messages I get when run like you asked.
[code]

[2021-10-30 17:02] michallegro commented on #1837
For anyone else who followed steps from https://github.com/puppeteer/puppeteer/issues/1837#issuecomment-689006806 - in my company we use Cisco AnyConnect VPN. This borked the network connection of WSL, so I followed this:  [https://gist.github.com/machuu/7663aa653828d81efbc2aaad6e3b1431](Link)
...but this step possibly (don't ask me to double-check ;)) messed up the DISPLAY var step, so here's min

[2021-10-31 03:19] joe914 opened #7732 "[Bug]: ElementHandle.screenshot() throw error when used in electron's main process (page.screenshot() is ok)"
### Bug description

// Issue description: the ElementHandle.screenshot() throw error when used in electron's main process(puppeeter version: 10.4.0 and 5.5.0):

// **Scenario1**: execute this script with node directly
// **Scenario2**: execute exported testScreenshot in electron's main process
// electron: v9.0.0
// electron-rebuild: v2.3.5

const puppeteer = require("puppeteer");

async function

[2021-10-31 04:37] phmLabs commented on #7719
Have the same issue. Started with Puppeteer 10.

[2021-10-31 15:26] filipgorny commented on #6934
Updated typescript to 4.4.4 - didn't fix the problem.

[2021-10-31 16:21] chebotarevmichael commented on #2269
I added `kill command`:

[code]

[2021-10-31 16:22] chebotarevmichael commented on #3593
Kill cmd for windows and ubuntu:

[code]

[2021-10-31 16:49] akgupta0777 commented on #2996
what happened here still no solutions ?
I like the solution of @bdurrani but I think it will not work on all architectures and the library should be maintained regularly on every new architecture.

[2021-10-31 17:51] qubitts opened #7733 "[Bug]: Failed to launch the browser process! spawn /usr/src/app/node_modules/puppeteer/.local-chromium/linux-901912/chrome-linux/chrome"
### Bug description

Steps to reproduce the problem:

I am using puppeteer in a MERN application, locally this package works fine but when I deployed my application on AWS EC2. I got the error and I deployed my MERN application on EC2 using Docker container. Basically a docker container of my application is running on AWS EC2 and when I try to download the pdf I got this error:

`Failed to launch

[2021-11-01 07:10] towhare commented on #1890
[code]

link [puppeteer docs page.on](https://pptr.dev/#?product=Puppeteer&version=v10.1.0&show=api-event-console)

[2021-11-01 18:19] nodated opened #7735 "[Bug]: waitForFunction high memory usage"
### Bug description

Steps to reproduce the problem:

1. Run the code
2. Chromium memory usage keep increasing (4GB after 3 minutes then page crashes)
3. If I use waitForTimeout instead of waitForFunction, the memory usage will be stable at 400MB
4. waitForSelector has the same issue

[code]

### Puppeteer version

10.4.0

### Node.js version

14.17.6

### npm version

6.14.15

### What operating

[2021-11-01 19:17] rmschindler commented on #6586
Indeed the instruction, "Run `npm install` to download the correct Chromium revision," does not download Chromium. I had to go to the `node_modules/puppeteer` directory and run `node install.js`. Anybody wise as to why npm wouldn't run that automatically?

[2021-11-02 01:15] just-rich opened #7736 "[Bug]: Raspberry Pi - Error: Failed to launch the browser process! ... Syntax error: ")" unexpected"
### Bug description

Steps to reproduce the problem:

I'm not a developer, so apologies if this is long- just want to explain as much I can to be understood.

Running this on `Raspbian GNU/Linux 10 (buster)` - I had a developer make a discord bot that automatically relays messages from a channel onto a social media platform, it also takes a screenshot of the message and uploads it with the post. I

[2021-11-02 09:45] joe914 commented on #7732
Try to replace puppeteer with playwright, both screnarios are ok(the other is same):
    const browser = await playwright.chromium.launch(browserOptions);
    const context = await browser.newContext();
    const page = await context.newPage();

[2021-11-02 14:46] sulthan-ahmed opened #7738 "[Bug]: API link doesn't work"
### Bug description

Steps to reproduce the problem:

1. go to the github puppeteer page
2. click on the api link which is pointing to https://github.com/puppeteer/puppeteer/blob/v11.0.0/docs/api.md it returns a 404

### Puppeteer version

NA

### Node.js version

NA

### npm version

NA

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-11-02 19:13] manuelmeister commented on #6657
That's a shame. Because the print preview in chrome browser is now correct with e.g. `size: A4 landscape`

[2021-11-02 19:39] javierfuentesm opened #7739 "[Bug]: page.goBack() only works in headless mode"
### Bug description

The following code only runs successfully in headless mode
`const puppeteer = require('puppeteer')

describe('Mi primer test de puppeteer', () => {
	it('Debe abrir y cerrar el navegador el navegador', async () => {
		const browser = await puppeteer.launch({
			headless: false,
			defaultViewport: null,
		})
		const page = await browser.newPage()

		await page.goto('http://auto

[2021-11-02 23:15] Krinkle commented on #6586
@rmschindler The problem is most likely that the package you are installing has a shrinkwrap that was generated with npm 6 or earlier.

The npm 7 release has been a mess of all kinds of poorly understood breaking changes, one of which being that postinstall scripts are completely ignored when a "v1" lockfile/shrinkwrap is at play. If there is no lock file, or if the lock file was generated with np

[2021-11-03 00:00] cdeutsch opened #7740 "The chromium binary is not available for arm64"
### Bug description

In an ARM based Docker container (or ARM based Linux):

1. `npm install puppeteer`

Error:

This is related to #6622 which wasn't really solved just worked around via Rosetta.

I'm trying to build an ARM based Docker Image that uses BackstopJS/puppeteer. Ref https://github.com/garris/BackstopJS/issues/1300

Are there any plans to build an arm64 version of `chromium`?

### Pupp

[2021-11-03 04:18] Namanmittal0007 commented on #1922
Using puppeteer@10.4.0
@kirosc, have tried setting userAgent still no resolution. Facing the navigation timeout issue intermittently. Seems like issue is not with the userAgent.
[code]

[2021-11-03 04:57] Namanmittal0007 commented on #2963
@aslushnikov where to write `DEBUG=*session node a.js`? In powershell it is giving error
[code]
using a Windows machine

[2021-11-03 09:32] andyearnshaw commented on #7720
On second thoughts, we could probably filter them on the Puppeteer side for now, the same way that `StaticText` nodes are [filtered out](https://github.com/puppeteer/puppeteer/blob/v10.4.0/src/common/AriaQueryHandler.ts#L34-L36). Would a PR for this be acceptable (if I can find the time), or would the preference be to have this implemented in Chromium?

[2021-11-03 12:31] jschfflr commented on #7525
@raakyat Thanks for taking the time to report this issue!
Please take a look at https://bugs.chromium.org/p/chromium/issues/detail?id=799753#c8
and pass the command line arguments to the `args` parameter in `puppeteer.launch` like this:

[code]
Closing this for now but feel free to reopen if that doesn't work!

[2021-11-03 12:31] #7525 closed, assigned to nobody

[2021-11-03 12:32] rags2riches-prog commented on #6630
This ain't working on Ubuntu 20.4 (from WSL 2.0 on Windows 11)

[2021-11-03 12:44] beemi commented on #6630
Use this if you are using Github actions as CI
https://github.com/marketplace/actions/puppeteer-headful-github-action

[2021-11-03 12:50] rags2riches-prog commented on #6630
I am not using GitHub actions or any other CI/CD pipeline in that respect.
This is just a simple project with standard boiler plate code. When `headless` is set to false, (I am on Windows 11, running this specific project from Ubuntu 20.4 on WSL 2.0) thing goes south.
Posting a new issue now

[2021-11-03 12:57] rags2riches-prog opened #7743 "Error: Failed to launch the browser process! Unable to open X display."
### Bug description

I am on a Windows 11 machine, running Puppeteer from Ubuntu 20.4 (WSL 2.0)

This is the standard boilerplate code to run things:

    async function ssr(url) {
      const browserHeadless = await puppeter.launch({
        headless: true,
      })

      const page = await browserHeadless.newPage()

      ...

Everything seems to work just fine when the optional param `headless

[2021-11-03 14:39] allandiego commented on #7725
im facing same error with nvm node 16.1 and puppeteer 11.0.0

[2021-11-03 15:22] joelgriffith commented on #7623
Checking in on this -- happy to help out if need be, just want to be clear on direction since there's a few ways this can be tackled.

[2021-11-03 15:34] rags2riches-prog commented on #3138
@samholmes

I know this may seem like a solved issue, it isn't. Problem persists when running Puppeteer on WSL 2.0 (Windows 11) Ubuntu 20.4. Been scouring the web with not avail.

[2021-11-03 16:40] rags2riches-prog commented on #1837
@robross0606

Likewise

[2021-11-03 16:49] hunterxxx commented on #443
Do you mean accessing the first page, especially when it's first loaded?
`const page = (await browser.pages())[0];`

[2021-11-04 00:32] hosseinalipour commented on #2747
I just tested and couldn't replicate, you need to also listen to `request` and make sure it's `request.continue()`

also, the main question is totally different, the URL is changed because of a redirection.

[2021-11-04 08:46] bartmanskyi commented on #7743
It looks similar with this issue
https://github.com/puppeteer/puppeteer/issues/7685
I found out that it had happened in puppeteer v10.2.0, when Chromium was rolled up to ver 93
@rags2riches-prog Can you try to run your code with puppetter v 10.1.0?

[2021-11-04 08:47] bartmanskyi commented on #7739
It looks similar with these issues
https://github.com/puppeteer/puppeteer/issues/7685
https://github.com/puppeteer/puppeteer/issues/7743
I found out that it had happened in puppeteer v10.2.0, when Chromium was rolled up to ver 93
@javierfuentesm Can you try to run your code with puppetter v 10.1.0?

[2021-11-04 08:55] seyfer commented on #4533
I have this error when I am trying to use footer HTML with a link inside to an external CSS file.

[2021-11-04 09:14] andyearnshaw opened #7744 "[Bug]: Accessibility snapshot does not include iframe contents"
### Bug description

Steps to reproduce the problem:

1. Create a page with an iframe, in the iframe place a page with a button
2. Call `console.log(await page.accessibility.snapshot())`
3. Observe that the snapshot does not include the iframe contents on the `role: 'Iframe'` node
4. Execute the following:
[code]
5. Observe that the console log result is `null`

Here's a sample output from my app:

[2021-11-04 09:29] KeithPoonNS commented on #5345
this ticket is very useful, I tried Puppeteer and puppeteer-report
Puppeteer: (displayHeaderFooter, headerTemplate, footerTemplate)
go for if just need the simple header, footer

puppeteer-report:
go for if I need more customize on the header, footer

actually, both are pretty

[2021-11-04 09:38] rags2riches-prog commented on #7743
@bartmanskyi

same error, my gut feeling tells me that this may get ugly to debug.
it's as if the ./chrome path is not found and instead code is executed from within a cjs path that may conflict with es6 module syntax. But again, it could be anything.

[2021-11-04 10:47] iamkhalidbashir commented on #7531
Same error for me

[2021-11-04 12:47] rn2web commented on #3119
This solution Works fine in 2021.

[2021-11-04 14:15] johanbay commented on #7721
I think it was a conscious decision to limit the API to just double quote delimiters to simplify the selector syntax a bit.
With that said, I am not opposed to extending it to support single quotes too.

[2021-11-04 16:10] javierfuentesm commented on #7739
@bartmanskyi it keeps failing with that version , i think it is related that the first page is not https ,I switched the page to a https for example yahoo and it works fine with the version. `10.1.0` , but it also works fine with the version		`"puppeteer": "^10.4.0"` if I use yahoo and I add this to the puppeteer.launch it also works :

 `		const browser = await puppeteer.launch({
			headless: fal

[2021-11-04 19:05] Tyler-Murphy opened #7745 "Should `HTTPRequest`'s `interceptResolution` be public?"
https://github.com/puppeteer/puppeteer/blob/07febca04b391893cfc872250e4391da142d4fe2/src/common/HTTPRequest.ts#L208

`api.md` makes it sound like it should be public, and I'd like to be able to use it so I can decide whether to act on a request or not, based on its resolution.

[2021-11-04 19:07] ksenechal opened #7746 "[Bug]: Running puppeteer on docker alpine on Mac failed"
### Bug description

I'm trying to execute a puppeteer script in a docker container, but it fail, I guess due to new apple MacBook architecture.

I tried a lot of args without success, "GPU not usable" is always thrown.

Is anything I miss ?

Thank you

**Steps to reproduce the problem:**

MacBook Pro 2021 with M1Max chip.

1. Build Docker image as in [troubleshooting] (I added bash)

`FROM alpine

[2021-11-04 19:13] Tyler-Murphy opened #7747 "Typo in `InterceptResolutionStrategy`"
https://github.com/puppeteer/puppeteer/blob/07febca04b391893cfc872250e4391da142d4fe2/src/common/HTTPRequest.ts#L210

I think it should be `already-handled`.

Because there must be code out there that relies on this typo, I think this'll need to be a major version bump.

[2021-11-04 20:37] icemonster commented on #1907
Can someone provide some reasoning on why disable-extensions is passed by default? Would that make puppeteer less stable?

[2021-11-04 23:30] t1a2l commented on #2902
I am getting the same error, i use pupeeter 11.0.0 on windows and get the "Error: net::ERR_CONNECTION_REFUSED"
when using "await page.goto(`http://127.0.0.1:3030/app.html`);"

[2021-11-05 01:31] FreezeSoul commented on #391
keepping focus

[2021-11-05 07:52] ghost commented on #7740
I have arm64 Chromium binaries available at www.chromiumforlambda.com

[2021-11-05 08:16] kura5 opened #7749 "[Bug]: `frame` needs a null checking"
### Bug description

https://github.com/puppeteer/puppeteer/blob/ad7f1de44f78df4a304c8e052935e53d4685530c/src/common/FrameManager.ts#L452

If `frame` is null, it will throw an exception even though it is not necessary.

### Puppeteer version

11.0.0

### Node.js version

16.13.0

### npm version

8.1.2

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[co

[2021-11-05 08:32] andyearnshaw commented on #7721
I think it's more an issue that they look similar to attribute selectors and a lot of people use `"` as their default string delimiters so flipping the "selector" to use single quotes might be the natural behaviour. That's at least what caused me to run into it, and the fact that it doesn't throw with a decent error message (at least in the `waitFor` case it was just "waiting for selector... timeo

[2021-11-05 18:03] ryan11223344 commented on #6699
I have the same issues now @niklasdahlheimer did you ever get an answer to this?

[2021-11-05 22:20] ksenechal commented on #7746
A workaound is to add '--single-process' option to chromium args.

Should I keep my issue here or report it to chromium ?

[2021-11-06 03:20] kitarp29 opened #7751 "[Bug]: Link on the website is broken"
### Bug description

Steps to reproduce the problem:

1. Visit [Website](https://puppeteer.github.io/puppeteer/)
2. Just before 'Getting Started' the link in  'Give it a spin: https://try-puppeteer.appspot.com/' does to work.
3. Link redirects to a page with Error 404

### Puppeteer version

latest

### Node.js version

latest

### npm version

latest

### What operating system are you seeing the

[2021-11-06 03:20] kitarp29 commented on #7751
@jeresig Please look into it

[2021-11-07 10:28] perny opened #7752 "[Bug]: docker install puppeteer Package google-chrome-stable is not available, but is referred to by another package."
### Bug description

Running Puppeteer in Docker with
https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-in-docker

terminal output：
[code]

thanks

### Puppeteer version

latest

### Node.js version

node:12-slim

### npm version

6

### What operating system are you seeing the problem on?

Apple Silicon(M1)Mac
macOS Monterey

### Relevant log output

_No r

[2021-11-08 15:28] GeorgiyZhuravlev commented on #6834
Same problem

[2021-11-08 18:01] pawel-id opened #7753 "[Bug]: unable to link puppeteer"
### Bug description

Steps to reproduce the problem:

1. install puppeteer globally `npm install -g puppeteer@11.0.0`
2. create empty node project `npm init --yes`
3. link global puppeteer into the project `npm link puppeteer` fails with an error `sh: husky: command not found`

The error is not happening on previous puppeteer versions.

This kind of setup we are using to have single global puppete

[2021-11-08 18:05] pawel-id commented on #7753
I think it is because this https://github.com/puppeteer/puppeteer/pull/7727 adding husky call here https://github.com/puppeteer/puppeteer/blob/v11.0.0/package.json#L20

[2021-11-08 21:29] twigs67 opened #7754 "Not a bug - looking for expert support"
### Bug description

Hello,

Sorry, I know this isn't the best place for this, but it did seem like the best place to post this. I'm looking to hire (you name the price) a developer who understands the internals of puppeteer.

If there is a better forum to post this, please let me know.

Thanks

### Puppeteer version

11.0.0

### Node.js version

14.0.0

### npm version

4.5.3

### What operating

[2021-11-09 02:26] wohali commented on #5034
With the attached diff (against `10.4.0`) I'm able to run puppeteer just fine (in my case, as a Grafana image renderer) on FreeBSD. It's running headless. Note that this 'pacifies' `BrowserFetcher.ts` because I am not sure how to pass the env var correctly using `yarn`, which the grafana image renderer uses instead of `npm`.

@jschfflr is this a PR you would consider accepting? If so I'll put one

[2021-11-09 02:26] NinoSkopac opened #7755 "After a few days, I can no longer start Puppeteer until I restart the server"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.2.0
* Platform / OS version: Ubuntu 20.04.3 LTS aarch64
* URLs (if applicable): any URL
* Node.js version: v.14.17.6

**What steps will reproduce the problem?**
I can't reproduce it at will. After a few days of Puppeteer running on the server, it won't start anymore. It happened twice. After I restart the server,

[2021-11-09 03:56] ghost opened #7756 "[Bug]: Following redirects only when headless = false"
### Bug description

Steps to reproduce the problem:

The following code throws an exception:

[code]
It works fine if headless is set to False.

### Puppeteer version

11.0.0

### Node.js version

8.16.2

### npm version

6.4.1

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2021-11-09 05:15] babyrusa commented on #1036
I'm running in Flex env and facing similar issue with @ghost above where puppeteer could start (after adding preinstall) but nothing happens after that (it seems like it's freezing/stuck). I'm considering moving to Standard env but just want to post to see if anyone faces similar issue.

[2021-11-09 08:39] johanbay commented on #7720
I'm not against filtering at the Puppeteer side but unfortunately not all properties are exposed through CDP AXNodes. For example, I don't think `ColumnIndex` and `RowIndex` are available.
If we need to add these at the Chromium level anyway, it might be easier to just go ahead and implement the filtering there too.
Which properties would be most interesting for querying?
Something like `disabled`

[2021-11-09 09:03] drook commented on #5034
As per my observations, chromium merely needs to be in PATH.
Plus this:

[code]

All the fuss is really about the inability to fetch the binary, which isn't actually needed and can/should be obtained properly. Yeah, a slight patch for the platform support is still needed though.

[2021-11-09 09:10] lijialiang commented on #7752
Currently encountering the same error on the MacBookAir m1 :(

[2021-11-09 09:22] daksh-varshneya commented on #7752
I'm also facing this same issue

[2021-11-09 12:06] johanbay commented on #7721
Closing this issue since the PR has now been merged.
Again, thank you for fixing this!

[2021-11-09 12:06] #7721 closed, assigned to johanbay

[2021-11-09 14:53] seyfer commented on #1853
@Trejay @gavin310 thank you two for the suggestions.
I have found this wonderful service for any google fonts to base64 transformation and used it for Barlow
https://amio.github.io/embedded-google-fonts/

[2021-11-09 15:23] t1a2l commented on #5548
@jschfflr - Hey facing this issue with https and http with localhost and 127.0.0.1 any solution? i am on version 11 on windows 10. on linux i have no issues.

[2021-11-09 15:26] tjacobs3 opened #7757 "[Bug]: page.pdf produces corrupt pdf"
### Bug description

Steps to reproduce the problem:

Occasionally, we find that our PDFs are not openable by any programs.  We've narrowed the issue down to inclusion of certain images.  When these images are present, the pdf created by puppeteer is corrupt.  All image tools do not indicate that anything is wrong with the image itself so I believe this is an issue on the puppeteer side.

1. Creat

[2021-11-09 16:07] t1a2l commented on #5548
@aktiver - how do i get it?

[2021-11-09 16:18] teejteej opened #7758 "[Bug]: page.waitForFunction doesn't always pick up changes made to a global window object"
### Bug description

Steps to reproduce the problem:

Trying to get Puppeteer to wait on-page for the "task-done" event triggered, by a web-app that it navigates to.

The Puppeteer script is being executed from a background job, where around 1 out of 20 jobs result in being stuck at `await page.waitForFunction("window.done", ...)`, even though it's confirmed with tracing that the code `window.done

[2021-11-09 16:27] daddydrac commented on #5548
maybe ->
https://stackoverflow.com/questions/3837069/how-to-get-network-interface-card-names-in-python

On Tue, Nov 9, 2021 at 10:07 AM Tal ***@***.***> wrote:

[2021-11-09 16:32] t1a2l commented on #5548
How is that connected to the localhost i am using to connect to the pupeeter tests?

[2021-11-09 16:36] daddydrac commented on #5548
The NIC card thing works but also insecure, so may not work everywhere you try it. You could try the docker service name by putting puppeteer on same custom docker network called ```api_bridge```. I think thats how i solved it approx 2y ago:

[code]

So based on this networking scheme, you'd access as the docker services names:

```https://backend:443```

```https://frontend:443```

*This also ass

[2021-11-09 16:40] t1a2l opened #7759 "[Bug]: Error: net::ERR_CONNECTION_REFUSED"
### Bug description

Hey i am facing an issue while trying to connect to localhost or127.0.0.1 when trying to run tests with mocha and puppetter. ( iam using vs code on windows 10, no issues with linux virtual machine).

before(async () => { /* before hook for mocha testing */
      page = await browser.newPage();
      await page.waitForTimeout(5000);
      await page.goto(`https://127.0.0.1:${co

[2021-11-09 16:42] t1a2l commented on #5548
Ok i posted a new post, i now understand i am not using Docker, so it is a different issue. but thanks.

[2021-11-09 16:45] daddydrac commented on #5548
Yea it does say: " *Docker:* Error: net::ERR_CONNECTION_REFUSED" as the title.
I would recommend creating a dev+test env in Docker to make life easier, but that is up to you.
But since you're not in a container, do the NIC card thing as a hack to get it working, here is some options:
https://stackoverflow.com/questions/24196932/how-can-i-get-the-ip-address-from-nic-in-python

[2021-11-09 17:40] andyearnshaw commented on #7720
Those would cover the majority of use cases I think. Perhaps `haspopup` too (query a button or input that has a popup menu).

[2021-11-09 20:08] durasj commented on #7661
Can confirm the bug and the workaround. Thank you OP! This should be fixed in Chrome 92. I can also say downgrading didn't help - happens even back in `7.1.0`.

As for the workaround, for others: the point is to remove `resolve` from `hosts: whatever` in `/etc/authselect/user-nsswitch.conf` or `/etc/nsswitch.conf` depending on whether you are using authselect or not. Make sure `dns` is available b

[2021-11-09 20:12] durasj commented on #1947
@z9fr it's possible you are facing https://github.com/puppeteer/puppeteer/issues/7661 since you are on Linux and Manjaro was likely already running systemd 249 on Oct 18th.

[2021-11-09 21:14] yarekc opened #7760 "cron, xvfb and puppeteer : raises SyntaxError: Invalid regular expression"
When I run my node command in ssh

`xvfb-run -a node /var/www/html/jardinsgmc/fb.js`

everything runs fine

When I run it from cron
`0 * * * * xvfb-run -a node /var/www/html/jardinsgmc/fb.js`

I got this strange error

[code]

In fact that error is raised as soon as I got

`const puppeteer = require('puppeteer');`

in my script

Any idea ?

[2021-11-10 09:03] seyfer commented on #1853
On the other hand, I am using latest puppeteer 10.4.0 and just having any `<style>` tag in `footerTemplate` makes it crash. So I tried Node js inline libraries, like Juice and inline-css. It works for all styles, except `@font-face`, cause font-face has to be in `<style>` tag in `footerTemplate` and it leads to crash.

[2021-11-10 09:55] sdeprez commented on #3667
👋  &nbsp;the situation is bit unclear in regards to the Chromium bug, but _I think_ it has been solved and that [the fix done by Playwright](https://github.com/microsoft/playwright/pull/1226) could be backported to Puppeteer, can this be considered?

In the meantime, the following code was successful, but makes things more complex and you cannot directly operate with the `Page` object, you have to

[2021-11-10 10:38] mathiasbynens commented on #7760
Which version of Node.js are you using? `node -v`

[2021-11-10 11:11] lengband commented on #2538
Good Idea!

[2021-11-10 11:58] yarekc commented on #7760
It was an issue with node path.
If I run node with full path, then it works fine.

Probably because I updated node using the npm n .

[2021-11-10 11:59] #7760 closed, assigned to nobody

[2021-11-10 12:34] whimboo commented on #7615
My PR #7684 has been merged. I assume there is nothing else that we have to do here and can close this issue? CC @OrKoN.

[2021-11-10 12:35] #7615 closed, assigned to whimboo

[2021-11-10 13:48] nlapointe-factory commented on #7503
Hi, someone with a wonderful answer ? :D

[2021-11-10 14:51] bodinsamuel commented on #7455
Same issue CircleCI Node 16.13.0 (cimg/node:16.13.0).
Happening when fetching the browser, with `puppeteer-core: 11.0.0`

[code]

[2021-11-10 16:21] BrTkCa commented on #7752
This made the job for me:
`docker build . -t my_service --platform=linux/amd64`

[2021-11-10 22:23] abhazelton commented on #5379
Just wanted to say thank you for this solution.  I had previously gotten a combination of pkg versions to work as many mention above, but then something broke it, and I found the whole setup very problematic.  This is the way to go and feel so much better.

[2021-11-11 00:46] amarinediary commented on #5379
Glad to have been able to help you! Happy coding!

[2021-11-11 01:59] aberibeiro-jellyfish commented on #2233
Same here.

If I override the postData and then look at whats in the response.request().postData() it has the unchanged version. likewise if running with dev tools option, the overrides also do not appearing in the network tab

how can I be sure that the overrides actually took place? very frusterating

[2021-11-11 04:58] eladmarg commented on #2233
I can confirm it is working, but it doesn't view on the network tab.
the actual overridden values do send over the network.

[2021-11-11 05:49] daksh-varshneya commented on #7752
@BrTkCa Thanks for the help, it works for me as well.

[2021-11-11 07:31] verhovsky commented on #1575
Can it? I'm trying to implement "open in new tab" on macOS by doing just that

[code]

but it has same effect as left-clicking the link. It opens the link in the current tab instead of a new tab. I suspect `.click()` causes the element to be highlighted and then `.press('Enter')` presses Enter on the highlighted element. It doesn't select the first option in the context menu (which is normally "Op

[2021-11-11 08:58] navinpai opened #7763 "[Bug]: `chrome.runtime` or `window.chrome.runtime` not accessible in DOM"
### Bug description

Steps to reproduce the problem:

1. Create a new Puppeteer window with `headless: false`

[code]
2. Try to access `window.chrome.runtime`  or `chrome.runtime` object. The same can be done via both browser and via `console.log` in the method above

<img width="331" alt="Screenshot 2021-11-11 at 1 40 33 PM" src="https://user-images.githubusercontent.com/408863/141261690-1f4cb42e

[2021-11-11 10:09] ghost opened #7765 "[Bug]: Puppeteer screenshots differ a lot on MacOs and centOs(Linux)"
### Bug description

I am using puppeteer to generate screenshots of UI components and comparing them via jest-image-snapshots by writing jest tests.

The tests I have written run fine on my local (macOs)  and the screenshots generated by puppeteer are consistent.

But when I run it on CI/Jenkins which runs on server using CentOs , the screenshots generated differ very much in size and other aspec

[2021-11-11 11:24] Lsnsh commented on #391
My environment:

- Aliyun ECS（similar to AWS EC2）
- CentOS Linux release 7.2 (Core)
- Node.js v12.16.2
- Npm 6.14.4
- Error Info:

[code]

After executing the command mentioned in the link below, it no longer prompts that `libatk-1.0.so.0` is missing

[code]

Later you may encounter "No sandbox available!", you can check this link:

https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshoo

[2021-11-11 11:47] henryfoster opened #7767 "[Bug]: executablePath parameter is not working"
### Bug description

Puppeteer does not use the provided Chrome version. Instead, it opens up its own chrome.

[code]

Steps to reproduce the problem:
1. set executablePath to your chrome location
2. launch your puppeteer task
3. it opens up a different version of chrome

### Puppeteer version

11.0.0

### Node.js version

v14.17.3

### npm version

7.20.0

### What operating system are you seeing

[2021-11-11 12:00] jackfranklin commented on #6769
Would definitely like to do this and it's unfortunate we can't turn it on file by file.

I wonder if rather than immediately leaping to strict: true, if we could turn on all the flags that `strict: true` implies one-by-one in PRs? That way we might not have to fix ~400 errors all at once and might be able to bring it down.

[2021-11-11 12:23] navinpai commented on #7763
Closing this since I understood that this communication can be done between `contentScript.js` and `background.js` and need not happen through the DOM directly

[2021-11-11 12:23] #7763 closed, assigned to nobody

[2021-11-11 12:47] sfelice777 opened #7768 "Clinking Link opens pdf in browser, how to save as file instead?"
I am using Puppeteer v11.0.0 with Chromium
I want this to work headed and headless.

I click a button that opens a PDF file in the browser.
After the PDF opens, in the DOM I see a tag like this <embed>

I'd like to intercept the request and just have the PDF save to my local disk without even opening in the browser if possible?
Thanks

[2021-11-11 12:55] OrKoN commented on #6769
We could turn the flag on locally and fix issues, then submit those patches with strict: false. In the end, we'd hopefully only need to fix a few regressions in the final PR that turns on strict true. We can also go by individual components but I am afraid most of errors are about getting data from hash maps.

[2021-11-11 14:38] whimboo commented on #6894
Also as known the CI jobs on Windows fail a lot with Firefox right now. I did and continue to do investigations in how to improve that. Work for that is done on https://github.com/puppeteer/puppeteer/pull/7668. As such there might be more blockers that we have to take into account that would not allow us to make this change as requested on this issue anytime soon. But lets see how quick we can get

[2021-11-11 18:58] v-sean opened #7769 "[Bug]: Some hyperlinks are unable to be clicked in PDF generated for HTML with multi-line hyperlink"
### Bug description

When generating a PDF for an HTML with a hyperlink spanning two lines, previous hyperlinks in those lines will be unable to be clicked on in the resulting PDF. Any text in the two lines that are spanned are also clickable to navigate to the multi-lined hyperlink's url.

Steps to reproduce the problem:

1. Create an HTML with a single and multi line hyperlink and save it. For e

[2021-11-11 19:46] adrianmihalko commented on #7719
I have same problem.

I am trying to use local tor proxy with puppeteer, but for some reason it is not using it:

[code]

As a result I still see my original IP on the result screenshot. Proxy is working correctly, I checked with curl.

[2021-11-11 22:00] WinstonN commented on #4889
I just ran into this issue, and adding `--disable-web-security` to the `args[]` does resolve the issue for me. Thanks to @lteague for pointing that out

[2021-11-12 08:24] hirokith opened #7771 "[Bug]: Firefox memory leak"
### Bug description

Steps to reproduce the problem:

1. create browser;
2. repeatedly `browser.newPage()` and `page.close()`;
3. watch the browser process memory usage, as you can see the memory usage is increasing gradually as time pass.

the sample case repo could be found at: https://github.com/dickeylth/firefox-headless-memory

### Puppeteer version

11.0.0

### Node.js version

16.13.0

###

[2021-11-12 08:25] hirokith commented on #7771
Maybe relevant issue: https://github.com/puppeteer/puppeteer/issues/5893

[2021-11-12 08:25] yanshiyason commented on #7749
I wished this codebase made better use of typescript.. I turned on the `"strictNullChecks": true` compiler option and the whole codebase lit up.. These kinds of bugs are better left to compilers 🥲

[2021-11-12 10:38] Poyoman39 commented on #7395
Seems linked to #4011

[2021-11-12 15:11] Mifrill commented on #3639
Hi @aslushnikov, could you please provide more details to help understand the reasons for it:

[2021-11-12 15:24] wit3 commented on #299
Which solutions in Python?

[2021-11-13 12:32] RaxoCoding commented on #6875
So is it possible to do this?

[2021-11-13 15:57] amarinediary commented on #7733
see #5379

[2021-11-13 22:10] Nou4r commented on #4059
+

[2021-11-14 01:00] hajonsoft commented on #6622
You can install any package using rosetta. To use rosetta just configure your terminal ["open with rosetta"](https://www.courier.com/blog/tips-and-tricks-to-setup-your-apple-m1-for-development). If you are in a rosetta terminal you can npm i puppeteer without any problem. Once installed you can invoke your app from the same rosetta terminal or from your regular mac terminal.

Also note the arch co

[2021-11-14 10:48] Aliaksandr-K-JazzTeam commented on #7756
Try to change opening page to:
[code]

[2021-11-14 16:45] #7499 closed, assigned to nobody

[2021-11-14 17:13] lambdaupb opened #7772 "[Bug]: Firefox response buffers not working"
### Bug description

Steps to reproduce the problem:

[code]

## Firefox 95

[code]

## Chromium

[code]

Probably related: #7344

### Puppeteer version

11.0.0

### Node.js version

v16.13.0

### npm version

8.1.0

### What operating system are you seeing the problem on?

Linux, macOS

### Relevant log output

_No response_

[2021-11-14 18:48] lambdaupb commented on #7772
Seems to be due to https://bugzilla.mozilla.org/show_bug.cgi?id=1549459

[2021-11-14 19:22] ghost commented on #7756
Tried that but still doesn't work. There seems to be some logic problem when headless is set True.

[2021-11-14 19:25] Aliaksandr-K-JazzTeam commented on #7756
Try to update your Node.js to at least 14 or 16

[2021-11-14 19:39] ghost commented on #7756
Thank you, that definitely helped.

[2021-11-14 19:39] #7756 closed, assigned to nobody

[2021-11-15 08:48] danangponorogo commented on #1183
a little addition
[code]

[2021-11-15 08:55] QGB commented on #443
pyppeteer

[2021-11-15 13:19] OrKoN commented on #7749
Opened https://github.com/puppeteer/puppeteer/pull/7773 to fix this issue. And we have https://github.com/puppeteer/puppeteer/issues/6769 to track the progress on the strict mode (we currently have ~400 errors and PRs are always welcome!).

[2021-11-15 13:50] #7749 closed, assigned to nobody

[2021-11-15 22:38] yaazkal commented on #5034
Nice if it lands as a PR and gets accepted, thanks @wohali

[2021-11-16 01:01] michael-lloyd-morris commented on #6563
The above solutions work, but we also need to make sure this tear down process takes place on SIGINT, SIGUSR1 and SIGUSR2

[code]
this.tearDown in the above contains the code @denisbrodbeck gave above in addition to other tear down operations specific to my app.

[2021-11-16 07:28] whimboo commented on #7175
I've identified the problem and a fix is coming along via https://bugzilla.mozilla.org/show_bug.cgi?id=1740798. Once fixed I'll re-enable the disabled tests.

[2021-11-16 17:18] talisto commented on #7740
A workaround I'm using is to install chromium with the base image's package manager (e.g. `apk add chromium` if you're using the node alpine image), and then use `ENV PUPPETEER_SKIP_CHROMIUM_DOWNLOAD true` in the Dockerfile before `npm install puppeteer` to tell puppeteer to skip installing chromium.  You may have to change the puppeteer executable path to use the package manager's version of chro

[2021-11-16 18:06] Dean-Kim0507 commented on #7746
Me has the same issue, could you elaborate your solution?

[2021-11-16 19:32] whimboo commented on #7772
It's also `Network.loadingFinished` which is not implemented yet. See https://bugzilla.mozilla.org/show_bug.cgi?id=1549506 for details.

Note that it will be less likely that these APIs will get implemented at all for CDP.

[2021-11-16 19:37] whimboo commented on #7771
Feel free to share a memory report after your script was running for a while. You can create one by opening `about:memory` and run `Measure and save`. Stop your script before actually doing that. It might give us an insight where the memory is actually still used.

[2021-11-16 19:56] cdeutsch commented on #7740
Thanks @talisto, that's what I've been doing as a work around, but took two days to come up with that.
https://github.com/garris/BackstopJS/issues/1300#issuecomment-958561525

I'm using puppeteer via Backstop JS and in my scenario Backstop uses a Docker image to do the screenshot comparisons (yields consistent results across OSes)

It would be nice if `npm install puppeteer` worked for multi-platf

[2021-11-16 20:20] ksenechal commented on #7746
I added the '--single-process' option to :
`await puppeteer.launch({ args: ['--no-sandbox', '--disable-setuid-sandbox', '--single-process'], devtools: false, headless: true, dumpio:true })`

[2021-11-17 04:28] hirokith commented on #7771
- init memory：
[memory-report-init.json.gz](https://github.com/puppeteer/puppeteer/files/7551678/memory-report-init.json.gz)

- after 30s memory:
[memory-report-end.json.gz](https://github.com/puppeteer/puppeteer/files/7551677/memory-report-end.json.gz)

[2021-11-17 06:56] phmLabs commented on #7719
Did somebody check if this is a Chrome or a Puppeteer issue? Did Chrome perhaps change the parameter?

[2021-11-17 09:16] dwvn03 opened #7775 "[Bug]: Puppeteer failed to handle SSO popup only in headless mode ( In non-headless it goes smooth )"
### Bug description

Steps to reproduce the problem:

1.  Go to a website that has SSO v2 login
2.  Start puppeteer browser
3.  New page => go to that web
4.  Click a button to open SSO pop up
5.  Navigation timed out

My code :

[code]

Note :
If headless = false, it works
In headless mode i always get navigation timed out
I have went through similar question and tried using these user agents ( n

[2021-11-17 11:20] whimboo commented on #7771
@dickeylth I missed to actually ask for a verbose memory report. So if you could check that checkbox before saving the init and end memory reports that would be great!

[2021-11-17 14:43] tiberiuzuld commented on #7225
Tested this again with Node16, puppeteer 11 and Chromium 93 on Alpine
The issue still happens when opening multiple browsers in parallel.

[2021-11-17 14:44] Maximvdw commented on #915
Still an issue in 2021

[2021-11-17 17:18] Padge91 commented on #5411
I experienced similar issues. A workaround that was sufficient for me was to change my code to take screenshots of the body element instead, which doesn't appear to fire the resize event (at least in my case).
`
const bodyElement = await page.$("body");
await bodyElement.screenshot({path:"out/example.png"});
`

[2021-11-18 02:10] hirokith commented on #7771
- init memory：
[memory-report-init.json.gz](https://github.com/puppeteer/puppeteer/files/7559263/memory-report-init.json.gz)

- after 30s memory：
[memory-report-end.json.gz](https://github.com/puppeteer/puppeteer/files/7559265/memory-report-end.json.gz)

[2021-11-18 05:53] darklight9811 commented on #1853
@seyfer puppeteer also crashes with me when I try to use font-face

[2021-11-18 09:26] whimboo commented on #6298
This should no longer be an issue with a recent Firefox Nightly build. @inoyakaigor could you please verify that? Thanks a lot!

[2021-11-18 09:27] whimboo commented on #6298
I'm closing the issue for now, but happy to reopen if that is still a problem.

[2021-11-18 09:27] #6298 closed, assigned to nobody

[2021-11-18 09:29] inoyakaigor commented on #6298
@whimboo yeah, will check it little bit later

[2021-11-18 09:32] whimboo commented on #6119
This has been fixed with my PR #7684.

[2021-11-18 09:32] #6119 closed, assigned to mjzffr

[2021-11-18 09:35] whimboo commented on #6020
The tests in question are [`removing and adding event handlers`](https://github.com/puppeteer/puppeteer/blob/9f9b4ed72ab0bb43d002a0024122d6f5eab231aa/test/page.spec.ts#L125-L159).

There is https://bugzilla.mozilla.org/show_bug.cgi?id=1673104 which covers this specific problem.

[2021-11-18 09:37] whimboo commented on #5792
We landed a fix in Firefox to properly handle the launcher process. @smaudet, can you please check again with an up-to-date version of Firefox Nightly? I'm sure it should work now. Thanks.

[2021-11-18 09:40] whimboo commented on #7647
@Rasanjika can you please re-check with latest Firefox Nightly? Is it still a problem? If yes please provide a minimal test case that reproduces the failure. Thanks.

[2021-11-18 09:58] Ohar commented on #1175
Turning OFF `slowMo` works for me.

[2021-11-18 10:37] whimboo commented on #7771
Thanks! So here is what I can see for the parent process of Firefox which uses around 140MB more memory between these two snapshots:

[code]

(Btw. you can do the check yourself on the same page when clicking the button `Load and diff`)

I assume that the `bdstatic` strings that are listed are coming from the page that you were loading in the new tab? Are you also seeing this memory increase with

[2021-11-18 11:19] dartandrevinsky commented on #3496
TypeScript

[2021-11-18 11:52] inoyakaigor commented on #6298
@whimboo I can't check because I get another one [link](https://bugzilla.mozilla.org/show_bug.cgi?id=1734896). But even this error whole firefox processes tree ends correctly at least.

[2021-11-18 12:02] NightMachinery commented on #395
It's now renamed to `page.emulateMediaType`.

[2021-11-18 12:04] whimboo commented on #6298
That's great to hear. Thanks a lot for checking.

[2021-11-18 12:19] jarek-figura opened #7777 "[Question]: How do I click on a node that is below another one in the DOM tree?"
### Bug description

The node I want to click on is covered entirely by the node above in the DOM tree. I am using the elementHandle.click() method. Is there a different approach?

### Puppeteer version

11.0.0

### Node.js version

17.0.1

### npm version

8.1.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-11-18 12:53] kristianstroka commented on #7760
Well we noticed this same issue with using node cron with expressjs (so we are not using nodejs from shell), do you have an ideas what can cause this kind of errors?

[2021-11-18 14:29] arohithr8 commented on #3107
I fixed the issue by setting **PUPPETEER_SKIP_CHROMIUM_DOWNLOAD** variable to **true** as it shows in the first line of error.

_ERROR: Failed to download Chromium r579032! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download._

**set PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true**

[2021-11-18 16:23] mmoutonn commented on #7475
This bug is still present on v11.0.0

[2021-11-18 22:32] dean-g opened #7778 "[Bug]: Can someone help me with how to create a table of content while creating a pdf?"
### Bug description

Can someone help me with how to create a table of content while creating a pdf?

is there a way I can click the table of content and redirect to the corresponding page using puppeteer?

### Puppeteer version

9.0.0

### Node.js version

16.13.0

### npm version

6.14.13

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-11-19 01:15] petervoth commented on #6436
I'm also having this same issue with accessing https://my.dogechain.info/ using puppeteer.

It will load the page initially and the "cloudflair DDoS protection, wait 5 seconds for the page to load" appears but never goes away / progresses to the actual site? It just hangs?

When I manually try the link on Chrome it works fine and progresses to an actual login page. But when the Chromium page tries

[2021-11-19 04:39] hirokith commented on #7771
I've tried ant it's true, after manually open and close the page the memory usage really increased with the normal firefox:

![image](https://user-images.githubusercontent.com/2196373/142564913-bcb2a656-2657-4de3-9976-92b59fb900ba.png)
![image](https://user-images.githubusercontent.com/2196373/142564926-a3f9d3d1-6cda-4143-a2fd-15c3fbd029fd.png)

But I assume that it's not a page specific case, I'v

[2021-11-19 05:18] harshagrawal523 commented on #7778
Hi @dean-g ! Can I work on this issue?

[2021-11-19 05:21] harshagrawal523 commented on #7751
Hi @kitarp29 ! Can I work on this issue?

[2021-11-19 05:22] harshagrawal523 commented on #7738
Hi @sulthan-ahmed ! Can I work on this issue?

[2021-11-19 06:52] whimboo commented on #7771
Ok, that's good and helpful feedback! And indeed this sounds clearly like an issue in Firefox itself which would require some more investigation, and could be filed under the [`Core : Performance`](https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=Performance) component.

But lets also try the following first:

1) Which version of Firefox has this problem? Are you using Firefox 94?

[2021-11-19 07:08] hirokith commented on #7771
Yes it's firefox 94.0.1 on macOS Big Sur(11.4). And I've checked that `fission.autostart` is `false` by default.

![image](https://user-images.githubusercontent.com/2196373/142578653-7fd2af28-742f-4f05-9d0b-e1b59a16f1c8.png)

I've also installed firefox nightly 96 and it's also showing the same result:

![image](https://user-images.githubusercontent.com/2196373/142579876-add54e0e-8877-4f1f-9fc7-46

[2021-11-19 07:39] whimboo commented on #7771
Yeah, the recent case is interesting. Firefox seems to leak SVG contexts from an internal SVG and that quite a lot. Would you be ok in filing a bug under the above mentioned Bugzilla component? If yes let me know about the bug number and I can add more details. Thanks a lot!

[2021-11-19 08:15] thomasdvd commented on #3183
I have tried some of the solutions above but none of them hold up when generating 30+ pdfs

so i ended up doing this

[code]

giving puppetteer some room to breath between opening pages also seems to help , as I had very inconsistent results

[2021-11-19 08:15] hirokith commented on #7771
OK I've submitted a bug: <https://bugzilla.mozilla.org/show_bug.cgi?id=1742051>, thank you for your help.

[2021-11-19 08:36] hirokith commented on #7771
By the way I searched the doc at <https://searchfox.org/mozilla-release/source/modules/libpref/init/all.js#249> and did not find the `browser.cache.memory.enable` preference, is it still available?

[2021-11-19 09:02] whimboo commented on #7771
Great. Thanks for filing the bug! I updated it with more details. As such lets get the discussion moved over to the bug and close this issue given that it is not related to our partial CDP implementation.

The pref `browser.cache.memory.enable` is still used in [`modules/libpref/init/StaticPrefList.yaml`](https://searchfox.org/mozilla-central/search?q=browser.cache.memory.enable&path=).

See [this

[2021-11-19 09:02] #7771 closed, assigned to nobody

[2021-11-19 10:06] sulthan-ahmed commented on #7738
Hi @harshagrawal523 looks like someone has fixed it maybe it was yourself. Thank you either way 🙂

[2021-11-19 10:06] #7738 closed, assigned to nobody

[2021-11-19 10:19] harshagrawal523 commented on #7747
I tried changing it , please let me know is this is correct?

https://github.com/puppeteer/puppeteer/pull/7780

[2021-11-19 13:50] kitarp29 commented on #7751
I am also trying to help with this.
Just waiting for getting assigned to this, and some help from the maintainers.
@jeresig @envoked

[2021-11-19 18:00] heragu opened #7781 "[Bug]: Unhandled rejected promises in source/helper.js#getReadableFromProtocolStream causes puppeteer crash"
### Bug description

The error happened in the nodejs AWS lamdba runtime while using headless puppeteer browser to render PDFs. The unhandled rejected promise makes the lambda runtime to crash all together without the possibility of responding in a controlled manner.

I created [this repository](https://github.com/heragu/unhandled-rejected-promise-causes-puppeteer-crash) with steps to reproduce it

[2021-11-19 19:15] dean-g commented on #7778
Thanks for responding.

@harshagrawal523 Can you please give your suggestion on this? do you have any working examples to which I can refer?

[2021-11-19 19:54] ealanisg commented on #4796
I had the issue on firebase/gcloud, but only once, so I just re-run the function and worked fine, couldn't replicate it again...

[2021-11-19 22:48] CComparon opened #7783 "[Bug]: Puppeteer 11 goto PDF not hitting PuppeteerLifeCycleEvents -> timeout"
### Bug description

Steps to reproduce the problem:

The following code with `"puppeteer": "^11.0.0"` and `"puppeteer-extra": "^3.2.3"` ends up with a timeout exception. Any pdf will do.

[code]
Using Chrome 96.0.4664.45 on Ubuntu 20.10 x64.
Works fine with `"puppeteer": "^10.4.0"`.

Thanks!
Cyril

### Puppeteer version

11.0.0

### Node.js version

v16.13.0

### npm version

8.1.0

### What oper

[2021-11-20 04:26] nickhudkins commented on #1805
Just wanted to drop a note to explain why doing `page.evaluate(() => document.querySelector(sel).click())` works but `(await page.waitForSelector(sel)).click()` does not.

`.click()` on a puppeteer `ElementHandle` uses synthetic mouse input to perform the click. If there is anything obscuring your element, this will not behave as you expect, while the `page.evaluate...` method will result in the c

[2021-11-20 11:32] krausest opened #7784 "[Bug]: Chrome is running slower in puppeteer than in chromedriver"
### Bug description

I'd like to move [js-framework-benchmark](https://github.com/krausest/js-framework-benchmark/) to puppeteer, but I'm running into a issue.

js-framework-benchmarks currently uses chromedriver to measure the timestamp delta between a click event and the final paint event for simple table operations to rank frameworks.
I created a very simple test case for chromedriver and for p

[2021-11-20 23:16] rubenheymans commented on #6982
updating typescript did not fix it for me, also downgrading puppeteer form 11 to 10.4.0 did not work
EDIT: It did work, I had to remove my node_modules first

[2021-11-21 03:36] panyox opened #7785 "RequestInterception edit header then blocked by https://r.lr-in.com"
### Bug description

Steps to reproduce the problem:
I setRequestInterception true, then do page.on('request') edit the header, all the request are blocked by this URL
[code]
but my target page not have this request
code snippets
[code]

### Puppeteer version

11.0.0

### Node.js version

v14.16.0

### npm version

6.14.11

### What operating system are you seeing the problem on?

macOS

### Relev

[2021-11-21 03:40] panyox commented on #7785
I ping the r.lr-in.com, look likes it's a google service

[2021-11-21 05:05] #7785 closed, assigned to nobody

[2021-11-21 06:06] youvalb opened #7786 "[Bug]: Missing async stack trace on for Protocol Error: Target Closed"
### Bug description

When the browser is terminated (either explicitly or after a crash, or being externally killed),  and we call `page.evaluate()` the resulting stack trace doesn't show the asynchronous call stack.

This is in contrast to other errors, like "TimeoutError: waiting for selector" when calling `page.waitForSelector()` with a selector for a non-existing element( as described in #979)

[2021-11-21 12:51] 1cedric2 opened #7787 "[Bug]: Generating a PDF includes a white border on the resulting PDF"
### Bug description

A white border is added on my PDF when generated using Puppeteer. How can I prevent it from adding this border?

Based on the CSS, it should be a square PDF with 1080 x 1080px with a header and footer of 80px.

Here is the code on my backend:

[code]

This is the HTML file created on my frontend: (I pass it as a string to the backend)

[code]

### Puppeteer version

11.0.0

##

[2021-11-21 19:20] littlezigy commented on #7035
Thanks for this! The extra tab was really bothering me too. The readme should have this in it.

[2021-11-22 03:38] chaffeqa commented on #4378
I thought it may be useful to note that we solved this using this [click hijacking hack](https://fdossena.com/?p=html5cool/clickfx/i.frag).

Works great!

[2021-11-22 10:06] sadym-chromium opened #7789 "[Bug]: `examples/cross-browser.js` example doesn't work"
### Bug description

Steps to reproduce the problem:

1. Run `NODE_PATH=../ node examples/cross-browser.js`
2. Verify the output doesn't contain news, only a browser version.

### Puppeteer version

11.0.0-post

### Node.js version

v14.9.0

### npm version

7.17.0

### What operating system are you seeing the problem on?

Linux

### Relevant log output

[code]

[2021-11-22 10:57] DaniyalAkbar opened #7790 "thead overlapping on page break ONLY when thead is cut off by footer on previous page"
### Bug description

### What I am trying to do?
I am using Puppeteer to convert raw HTML to PDF.

### What is the problem
The thead is NOT overlapping on every page, NO.
It is ONLY overlapping when a thread has multiple rows and half of it gets cut off because of the page break. On the next page, the remainder of the thead is printed ALONG with the overlapped entire thead.

![image](https://user-

[2021-11-22 14:31] VictorGobel commented on #7085
Also having this issue, any news ?

[2021-11-22 15:48] benallfree opened #7791 "[Regression]: Cooperative Intercept Handlers should execute even when a handler throws an exception"
### Bug description

@jschfflr I believe https://github.com/puppeteer/puppeteer/pull/7722/files#diff-2fedf4b9325c81a1652c274473daa03e99b58f353e1bba42da48d43f15a4f527R232 introduces two regressions with respect to Cooperative Intercept Mode:

1. Uncaught/unhandled exception when handler throws
2. Handler exception stops subsequent handlers from executing

In the below TS playground example, you can

[2021-11-22 15:53] benallfree commented on #7791
I think https://github.com/puppeteer/puppeteer/pull/7020/files#diff-2fedf4b9325c81a1652c274473daa03e99b58f353e1bba42da48d43f15a4f527L233 contributed to this regression because the comment about the reasoning for catching the error was removed.

[2021-11-22 15:54] benallfree commented on #7791
Tagging:
#7020
#7722
@MikkelSnitker

[2021-11-22 15:58] benallfree commented on #7791
While we're on the topic, I think removing the catch here (https://github.com/puppeteer/puppeteer/pull/7020/files#diff-3280fbae5b6189c9b87a76ea21a5da3e10140467e29532e0b7b72608036f5070L391) might be risky. In theory it should never execute, but since the promise is not returned it could result in an unhandled exception at some point in the future. I remember something about future versions of nodej

[2021-11-22 21:26] clouedoc commented on #7498
Did you try to use CDP to execute the mouse action?

[2021-11-23 00:04] benallfree commented on #7475
@dekelev Do you have any more information such as Puppeteer tickets or reproductions? I am the author of Cooperative Request Intercepts and I've heard a few people report similar issues but nobody has ever repro'd anything for me https://github.com/puppeteer/puppeteer/pull/6735

[2021-11-23 00:05] benallfree commented on #7475
@mmoutonn Can you send some code to repro the issue?

[2021-11-23 00:05] benallfree commented on #7475
@Androbin Do you have a link to the exact PR that fixed this issue?

[2021-11-23 00:13] jeronimo3875br commented on #540
I'm having this problem in 2021, I need to select a specific certificate, could you reference me a solution?

[2021-11-23 06:21] figo-fe commented on #7307
这个问题我解决了，加v交流 23335628

[2021-11-23 06:39] Androbin commented on #7475
The issue of request interception with caching failing when loading stylesheet-initiated fonts was fixed in #7060, accompanied by a unit test. If you can modify the unit test to be failing again, I'd be happy to take a look. Also see #7038 @starrify for an excellent analysis of the underlying issue.

[2021-11-23 07:45] johnsmithsren commented on #5893
same issue. memory is increasing , still dont konw how to fix it

[2021-11-23 09:57] aslamsofyrus opened #7792 "How to set Cookies for Google Auth"
Can anyone suggest me how to automate this scenario

### Steps to reproduce
STEP 1: Sign In to any webapp using Google or any SSO service.
STEP 2: Once sso is done get the cookies.
STEP 3: Navigate to the page where we need authentication
STEP 4: Set the cookies
STEP 5: Reload the page

Note : I am getting the cookies

**Tell us about your environment:**

* Puppeteer version: 10.4.0
* Platform / O

[2021-11-23 10:00] pcla56 commented on #7225
Friends, apologies for being so slow to update. I have managed to get this to be reliable by using the following code. I stumbled across it by accident, and have no idea why it works but for my purposes it seems to be reliable.

var myArgs = process.argv.slice(2);

const minimal_args = [
  '--autoplay-policy=user-gesture-required',
  '--disable-background-networking',
  '--disable-background-timer

[2021-11-23 11:10] benallfree commented on #7475
@Androbin Thank you. At first glance it doesn't appear that it is related to or caused by the work in #6735, so I'll exit this ticket :)

[2021-11-23 18:40] hemanthreddyk commented on #7475
Noticing similar issue in

- Puppeteer version: 10.4.0
- Platform / OS version: Alpine Linux 3.13.5
- Chromium 93.0.4577.82
- Node.js version: 14.18.0

Requests to fetch fonts from the CDN never completes and eventually page.goto hits timeout duration.
This issue doesn't occur when caching is disabled via await page.setCacheEnabled(false).

[code]

[2021-11-23 20:25] trotzig opened #7793 "[Bug]: Calls to `page.mouse.move()` with off-screen arguments hangs indefinitely in Firefox"
### Bug description

Hi there! We use Puppeteer at happo.io to take screenshots in Firefox. As I was updating some dependencies today I noticed that our Firefox test suite was timing out. It turns out that a call to `page.mouse.move(-100, -100)` was hanging.

# Steps to reproduce the problem:
I made a reproduction repository with instructions in the readme:
https://github.com/trotzig/puppeteer-mou

[2021-11-23 20:54] Gilgames000 commented on #4651
Any updates on this?

[2021-11-23 23:57] olixis commented on #4370
Issue still exists in puppeteer:^10.2.0

[2021-11-24 04:26] liuyiliuyi opened #7794 "[Bug]: Inconsistency between headless and headful browser"
### Bug description

Steps to reproduce the problem:

1. Code example
[code]
2. toggle headless value，output the different value

**What is the expected result?**
I'd expect log the same result in both modes

**What happens instead?**
When running in headful mode, log the value **1568**
When running in headless mode, log the value **1070**

I'm very confused. Can someone help me, please.

### Pupp

[2021-11-24 12:14] bartmanskyi commented on #7794
What is your screen resolution?
Try to add
[code]

[2021-11-24 14:36] dragosMC91 commented on #5003
This is also happening for me, using puppeteer `"version": "11.0.0"`

[2021-11-24 15:10] dragosMC91 commented on #5003
I just noticed that if I `abort` `.woff` resources, it no longer hangs

[2021-11-24 16:41] Stormtv commented on #1409
Had this issue on alpine linux v3.14 and downgrading to alpine linux v3.13 fixed it. Not sure why but I'll look into it.

[2021-11-24 23:33] pycraft114 commented on #6985
@acuper u saved me 👍

[2021-11-25 01:56] AlejandroLaborde commented on #6455
Could you solve it?

[2021-11-25 03:09] schappim commented on #6641
+1

[2021-11-25 03:51] qingyangqiang opened #7797 "[Bug]:"
### Bug description

Steps to reproduce the problem:

1. …

I use puppeteer listen for incoming requests.I found the same request, and I only saw the request record once on the network panel on the official version of Google. But more than one request was monitored in puppeteer. For example, the request sent by Google ads has been monitored multiple times, but these requests are the same requestId

[2021-11-25 11:02] Cinux-Chosan commented on #6452
same problem!

[2021-11-25 21:00] chrislink14 commented on #6699
I had this same error when working with puppeteer. The fix for my that I found was to ensure I was only running puppeteer on the server side of the code. Not sure if this will fix it for everyone. I was also working with MeteorJS so just moving the puppeteer functionality to a Meteor.call to call puppeteer from the client.

[2021-11-26 00:24] mattparlane commented on #4970
I've just been hit by this too. I can reliably reproduce @AntonGsv's error, but if I change the order of the URLs it works fine, also reliably:

[code]

[code]

[2021-11-26 03:41] atikenny commented on #7475
Have the same issue.

After some debugging, it seems to be only hanging for certain URLs and in headful mode. In my case, `https://www.google.com` breaks but `https://www.example.com` does NOT.
According to the debug logs, google.com sends a `Network.requestWillBeSentExtraInfo` message as well, which also gets paused and is never resolved.

## Debug logs

### Headful mode
[code]

### Headless mode

[2021-11-26 06:22] razorman8669 commented on #7475
@benallfree I'm also having issues with puppeteer 10.0.2 where it hangs until the timeout.  reverting back to 10.0.1 doesn't have the problem.  I pinpointed it to the cooperative requests PR, however, I haven't figured out exactly why it's breaking my code as I only have one request interceptor.  Our codebase is very large so it might take a bit to figure out a basic repro scenario, but I can defi

[2021-11-26 07:10] benallfree commented on #7475
@razorman8669 Do you mean 10.2.0? Cooperative requests didn't land til 10.2.0, so if you are seeing an issue on earlier versions (10.0.2/10.0.1) it likely is not related. If you can get a snippet to repro that would be super helpful. In the mean time, I'll use the original snippet in this ticket and see if I can repro it on `main`.

[2021-11-26 07:42] ntscshen opened #7799 "[Bug]: Run window.performance.memory multiple times, the result is the same (headless: true)"
### Bug description

What is the expected result?
Hope to get multiple sets of different results
[code]

What happens instead?
Consistent results
[code]

### Puppeteer version

11.0.0

### Node.js version

14.15.4

### npm version

6.14.10

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2021-11-26 08:02] razorman8669 commented on #7475
Yes, i meant 10.2.0 (not 10.0.2).  Sorry for the confusion

[2021-11-26 08:10] benallfree commented on #7475
@atikenny I confirm the same thing exactly. @razorman8669 Definitely not related to #6735.

According to `git bisect`:

Bad commit: https://github.com/puppeteer/puppeteer/commit/f863f4bfe015e57ea1f9fbb322f1cedee468b857
Previous commit (good): https://github.com/puppeteer/puppeteer/commit/2c9ff4feafdad31120aa25c30f03ea4c84a88857

Changing from Chromium `869685` to `884014` is the culprit.

All you

[2021-11-26 11:15] rla commented on #7713
We have very similar issue with same versions as above. Flags: `--headless --no-sandbox --disable-gpu --disable-dev-shm-usage --single-process`

We also get lots of log lines (it completely overflooded our logging):

[code]

[2021-11-26 13:55] pll1772569001150 opened #7801 "[Bug]: When puppeteer connects to the browser, it will change the default browser configuration or view size"
### Bug description

Steps to reproduce the problem:

1. …
When puppeteer connects to the browser, it will change the default browser configuration or view size

### Puppeteer version

puppeteersharp

### Node.js version

node

### npm version

npm

### What operating system are you seeing the problem on?

Windows

### Relevant log output

[code]

[2021-11-26 13:58] #7801 closed, assigned to nobody

[2021-11-26 14:33] cdmalcl commented on #2500
Minimize the previous chrome first...

[2021-11-26 16:13] tolmasky commented on #3260
It would be so much nicer to be able to do this:

[code]

Than:

[code]

[2021-11-26 16:34] benallfree commented on #7475
Update for everyone -

The issue is `Fetch.requestPaused` gets fired twice by CDP even though only one `Network.requestWillBeSent` is fired.

The way NetworkManger is written, it assumes a 1:1 interaction between the two events, but that is not true. See https://github.com/puppeteer/puppeteer/issues/7038#issuecomment-810957052,.

I think https://github.com/puppeteer/puppeteer/pull/6996#issuecommen

[2021-11-26 18:50] hemanthreddyk commented on #7475
In my case we are seeing CORS issue while trying to fetch the fonts. Even if this request fails, pdf should be generated with some other fallback font.
But when request interception + caching is enabled I am noticing that page load is never ending and ultimately leading to timeout

 request interception + caching disabled -- Successfully generates a PDF
[code]

 request interception + caching enab

[2021-11-26 19:31] benallfree commented on #7475
I have a PR started to address this issue. Please test it if you can https://github.com/puppeteer/puppeteer/pull/7802.

[2021-11-26 21:00] Shushang1999 commented on #5684
Hi I am having the same issue I am unable to find element using xpath or id or classname but when I inspect the element it shows the same id , class name and xpath. Can you guide me on how did you solve the issue ? It will be of great help

[2021-11-26 21:07] udalyi-qs commented on #7786
@youvalb

[code]

[2021-11-27 10:48] ayushporwal1234 commented on #2276
Can i work on this issue @phawxby

[2021-11-27 10:52] phawxby commented on #2276
@ayushporwal1234 you're welcome to, we don't actually use puppeteer anymore.

[2021-11-27 11:52] pita238 commented on #6647
Hi, I have the same problem with downloading images.
Error: Protocol error (Network.getResponseBody): Request content was evicted from inspector cache

I noticed that problem is because there is no "Content-Length" in the Headers for this image and it is undefined. For all others there is "Content-Length" and code is working. How to bypass this? I see transferred 548kb but I cant save it because b

[2021-11-27 14:15] leoriviera commented on #6728
I've been facing this very same issue, so any headway would be good to know about. :)

[2021-11-27 17:17] kblok commented on #7458
@OrKoN @mathiasbynens why is this a breaking change?

[2021-11-27 17:23] josepharhar commented on #7458
I’ve made more fixes in chromium and puppeteer, so hopefully there will be no breaking changes

[2021-11-28 01:40] yurique opened #7805 "[Bug]: version 12.0.0 – Error: Unexpected extraInfo events for request on `page.goto`"
### Bug description

Steps to reproduce the problem:

1. run a browserless/chrome docker image (https://hub.docker.com/r/browserless/chrome)
[code]
2. try to load a page with puppeteer (`puppeteer-core`):
[code]

Getting an exception (see the "Relevant log output"):
[code]

Added a `console.log` to print the `extraInfos` (see the "Relevant log output"):

With puppeteer `v11.0.0` this doesn't happe

[2021-11-28 01:46] DIYgod commented on #7805
Experienced the same problem in GitHub Actions: https://github.com/DIYgod/RSSHub/runs/4343296274#step:6:76
Source code: https://github.com/DIYgod/RSSHub/blob/master/test/utils/puppeteer.js

[2021-11-28 03:48] kindbuds commented on #7805
I'm staring at this too, unsure where to start to fix...

[2021-11-28 04:06] PythonCoderAS opened #7806 "[Bug]: Empty page.screenshot() call returns Buffer or string"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

11.0.0

### Node.js version

v17.0.1

### npm version

8.1.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2021-11-28 05:42] baesparza commented on #7805
Same problem

[2021-11-28 08:56] luongjames8 commented on #7805
Same problem. driving me nuts.

[2021-11-28 09:17] baesparza commented on #7805
A temporal solution that prevents the application from exiting, is ignoring HTTTS errors like this:
[code]

[2021-11-28 13:18] YusukeIwaki opened #7807 "[Bug]: Protocol error (Target.createTarget): Failed to open a new tab, in launching with '--guest'"
### Bug description

Steps to reproduce the problem:

Here is a minimum example for reproducing this issue:

[code]

then get an error:

[code]

### Puppeteer version

12.0.0

### Node.js version

16.10.0

### npm version

7.24.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response_

[2021-11-28 14:01] zeen commented on #7495
This is likely due to the now fixed https://github.com/puppeteer/puppeteer/issues/7572 and seems to no longer be happening in `12.0.0`.

[2021-11-28 14:14] #7495 closed, assigned to nobody

[2021-11-28 16:05] OrKoN commented on #7805
@yurique What version of Chrome does browserless/chrome:latest contain?

[2021-11-28 16:10] yurique commented on #7805
@OrKoN I think it's `93.0.4577.0`:

[code]

[2021-11-28 16:15] OrKoN commented on #7805
Version 12.0.0 is only compatible with the newer Chromium versions (e.g., 97.0.4692.0 or later) because of some breaking CDP changes.

[2021-11-28 16:17] yurique commented on #7805
Oh! Thanks, @OrKoN! And sorry for the extra noise.

(I kind of assumed `browserless/chrome:latest` would have a more-or-less up-to-date version, didn't think to double-check that, I think I've lost track of Chrome versions long time ago :) ).

[2021-11-28 16:19] OrKoN commented on #7458
@kblok there were some breaking Chrome DevTools Protocol changes that required changes in Puppeteer. That makes the version 12.0.0 only compatible with Chromium 97.0.4692.0 or later and not compatible with the previous Chromium versions.

[2021-11-28 16:22] OrKoN commented on #7805
Yeah, no problem, thanks for reporting! It took us a while to update the Chromium version bundled with Puppeteer (e.g., we do not have any releases for Chromium versions 94 - 96) due to the aforementioned CDP changes. If you encounter any other issues using v12 with Chromium 97+, let us know.

[2021-11-28 16:54] rhld16 commented on #7805
Apologies in advanced if I've done something wrong but I'm receiving these errors on Chrome 97
[code]

[code]

Puppeteer 12.0.0 specifies 938248 in revisions.js which is prior to 97.0.4692.0

[2021-11-28 16:56] essential-existence commented on #7805
I have the same problem

[2021-11-28 17:09] essential-existence commented on #7805
the problem is with the latest puppeteer version (12.0.0).
Downgrading to version 11.0.0, if there is no way to update chromium, solves the problem:

[2021-11-28 17:11] kblok commented on #7458
How about the other way around @OrKoN?
Will I need pptr 12  to use chrome 97?
Now I'm running puppeteer core 7.1 with Chrome 96

[2021-11-28 18:25] OrKoN commented on #7805
@rhld16 Hm, interesting... https://omahaproxy.appspot.com tells me that r938248 was released as 97.0.4692.0. In any case, it seems I can reproduce the issue on Linux. The mac build seems to be alright... Let me investigate.

[2021-11-28 20:44] jsbimra commented on #7805
below error happening on vercel after passing payload destructure object to .hbs template file

`2021-11-28T20:51:45.372Z	8fa04871-f14d-4fe4-a5fd-aa190679f653	ERROR	Unhandled Promise Rejection 	{"errorType":"Runtime.UnhandledPromiseRejection","errorMessage":"Error: Unexpected extraInfo events for request 24.1","reason":{"errorType":"Error","errorMessage":"Unexpected extraInfo events for request 24

[2021-11-28 20:58] jsbimra commented on #7805
from console .log PuppeteerNode object output

  _changedProduct: false,
  _isPuppeteerCore: false,
  _projectRoot: '/var/task/node_modules/puppeteer',
  __productName: undefined,
  _preferredRevision: '938248'
}
actual error hit

[code]

Template file code:
`

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scal

[2021-11-29 02:09] aarongoldenthal commented on #7805
I'm seeing in `puppeteer` v12.0.0 on Linux and Windows, which both install 97.0.4691.0.

[2021-11-29 06:28] petervannes opened #7809 "Firefox: For some sites puppeteer times out on second page.goto"
### Bug description

Steps to reproduce the problem:

1. Set puppeteer launch properties such that Firefox is the browser

[code]

2. Run the following script

[code]

2.  Page navigates to '/' and subsequently '/fiets/fiets-aankooptips'
3.  Second `page.goto` times out though browser has successfully rendered page
     (logging statement is never executed)

4. When running same script with differ

[2021-11-29 07:08] petervannes commented on #7809
Also tested with `{ waitUntil: 'load' }` option, to rule out timeout issues.
No luck though

[2021-11-29 07:52] OrKoN commented on #7458
@kblok yes, I believe so. Chrome 97 has breaking CDP changes that pptr prior v12 won't handle properly. Some use cases might work but the entire test suite we have would fail.

[2021-11-29 09:19] zloirock commented on #7805
The same error, macOS 12.0.1, Node 17.1.0, puppeteer 12.0.0, Chrome 97.0.4691.0.

[2021-11-29 11:16] dclipca commented on #7805
Same error on ```Windows 10``` and ```Node v16.12.0```. Just upgraded to ```Puppeteer 12.0.0```.

[2021-11-29 11:21] dclipca commented on #7805
Rolling back to ```Puppeteer 11.0.0``` solves this as expected.

[2021-11-29 19:16] josepharhar commented on #7458
If you use old puppeteer with new chromium, then you won't necessarily get the correct headers and response codes. It shouldn't totally blow up though. In some cases the response code may be 200 instead of 304. You will also get fewer headers, especially privacy sensitive ones like cookies - although `page.cookies` should still have everything.

[2021-11-29 19:19] kblok commented on #7458
Thank you @josepharhar!

[2021-11-29 19:21] josepharhar commented on #7805
I'm having a hard time fully understanding... is this only happening with old versions of chromium and the new version of puppeteer?

If this is occurring with up to date chromium and up to date puppeteer, can someone provide a minimal puppeteer script which reproduces the problem? That way we can find out what's going wrong in chromium and fix it in chromium.

[2021-11-29 19:29] zloirock commented on #7805
@josepharhar

It's happened with actual puppeteer and Chrome.

https://github.com/zloirock/core-js/blob/5b39046ee5f57186122bc00ee2ef752be07496df/scripts/usage.mjs

How to reproduce:
- Clone `core-js`
- `npm i`
- `npm run usage-1000`

[2021-11-29 19:41] josepharhar commented on #7805
Ok, I see that the issue description has the minimal repro that I want and it occurs with up to date puppeteer and up to date chromium. Thanks!

[2021-11-29 19:50] josepharhar commented on #7805
I filed a chromium bug to fix the bad ExtraInfo event behavior: https://bugs.chromium.org/p/chromium/issues/detail?id=1274813
In the meantime, @OrKoN's change should make puppeteer stop throwing errors.

[2021-11-29 20:15] OrKoN commented on #7805
I just released v12.0.1 that removes the failing assertion. Please give it a try and thanks everyone for reporting issues!

[2021-11-29 20:21] zloirock commented on #7805
I can confirm that it's fixed for my case.

[2021-11-29 20:23] brookmg commented on #3461
Is there any update on this issue? Looking for a way to test FCM notifications for different topics.

[2021-11-29 20:26] KhaoulaSoussi commented on #1947
I faced the same issue when I use a for loop within which I launch a browser, go to a page, and then close the browser.
I could fix the issue by adding the following:
const { promisify } = require('util');
const sleep = promisify(setTimeout);
**sleep(500).then(() => {
            browser.close();
});**

[2021-11-29 21:09] dev-zarghami commented on #2269
i use promise and worked for me
`Promise.all([
            page.close(),
            browser.close()
        ])`

[2021-11-29 23:15] benallfree commented on #7745
Fixed in #7813

[2021-11-29 23:15] benallfree commented on #7747
Fix in #7813

[2021-11-30 00:22] ericmutta commented on #3698
Got this error when running `Ubuntu 20.04.3 LTS`. I had to install the dependencies mentioned by @sabin-bhattarai-cko but with one extra one called `libgbm1`, which gives the following command for installing the dependencies:

**apt-get update && apt-get install -y gconf-service libasound2 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2

[2021-11-30 01:28] connorjclark commented on #6767
And for all recent versions.

Very useful for a certain class of bisect scripts I have to write :)

[code]

[2021-11-30 01:31] mathiasbynens commented on #6767
We stopped tagging releases in this manner, as users generally shouldn’t depend on older Puppeteer/Chromium versions.

For your use case, you could use the information in https://github.com/puppeteer/puppeteer/blob/09426e5931fdad89f0b7ad59014f7bf766b60bb2/versions.js#L17, but note that we don’t officially support this.

[2021-11-30 01:31] #6767 closed, assigned to nobody

[2021-11-30 01:33] connorjclark commented on #6767
Oh boy that's a great file. thanks!

[2021-11-30 03:30] benallfree commented on #7805
Jumping in here to say another discussion is happening in #7802. I think the issue is that Puppeteer never expects a `Network.responseReceivedExtraInfo` to arrive first, which is [totally valid](https://chromedevtools.github.io/devtools-protocol/tot/Network/#event-responseReceivedExtraInfo) according to CDP docs.

[2021-11-30 03:33] ebadfd commented on #1947
oh thanks ill look in to it i manage to fix the issue by mentioning chrome path and using puppeteer-lite. I will this again!

[2021-11-30 03:37] benallfree commented on #7805
@OrKoN When the `requestReceived` event finally comes in, will it attach the previously received `extraInfo`? I think that is the correct way to handle it.

[2021-11-30 03:38] josepharhar commented on #7805
Puppeteer will work fine if a responseReceivedExtraInfo comes before or after the corresponding responseReceived. Are you seeing any strange behavior with the newest commit/release that was added today?

[2021-11-30 03:45] benallfree commented on #7805
@josepharhar Yes I think it is still not quite correct due to the CDP bug:

https://github.com/puppeteer/puppeteer/blob/6ee2feb1eafdd399f0af50cdc4517f21bcb55121/src/common/NetworkManager.ts#L444

[code]
See above that it only looks up `extraInfo` if `redirectHasExtraInfo===true`, but we know that won't always happen due to the CDP bug. I think a better approach is to remove the if() altogether. In

[2021-11-30 03:54] josepharhar commented on #7805
If we look for ExtraInfo events that happened to come before responseReceived without following the hasExtraInfo flags, then we will end up with race conditions and flaky behavior because sometimes it will pick up the ExtraInfo and sometimes it wont. I don't think we should look at ExtraInfo events when !redirectHasExtraInfo or !hasExtraInfo.

[2021-11-30 03:59] benallfree commented on #7805
@josepharhar I don't know much about the redirects but I recall something about them reusing request IDs, is that the race condition you have in mind?

I suppose worst case we wait for CDP to fix their bug and then everything is fine :)

[2021-11-30 05:28] alexsunday commented on #443
if opened two windows, it cannot be work.

[2021-11-30 05:59] haxtordotid commented on #5003
I recently faceing same issue my target URL is google and youtube, fb, instagram , but it's only working with instagram and facebook, when entering google/ youtube the page not loaded and raise timeout
I using Puppeeteer **12.0.1** & **11.0.0** and that the result

And when i try to downgrade version to **7.1.0**
Everything is going well with all my target URL

[2021-11-30 11:43] abdullah-kasim commented on #1947
For those that are on heroku and ruby/rails, make sure to disable `jemalloc`. I'm putting it here for those that's coming in from google.

I've been hit by this and has dug so deep until I saw that another developer decided to just test out all his buildpacks:

Ref: https://github.com/Studiosity/grover/issues/80

[2021-11-30 12:21] harrygreen commented on #2215
Yep, can confirm [`page.url()`](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#pageurl) works fine for me in 2021

[2021-11-30 12:50] clouedoc commented on #2548
Should this issue be closed by #7556 ?

[2021-11-30 17:30] youvalb commented on #7786
@udalyi-qs

I can't really use your solution, because in the real world scenario the browser is killed externally after it's getting stuck.  The problem is that I don't know what in my code leads to the browser getting stuck in the first place (this is why I was hoping to get a full stack trace).

Would you consider this behavior a bug in Puppeteer?  If so, would fixing it require a major change,

[2021-11-30 17:43] jsbimra commented on #7805
Downgrading worked!

[2021-11-30 21:04] mmedvedik opened #7814 "[Bug]: Unhandled promise rejection in case of binded function called with detached frame"
Steps to reproduce the problem:

1. On a page with an iframe bind puppeteer function using page.exposeFunction;
2. Detach iframe;
3. Call bounded function;

Actual result: Unhandled promise rejection. Output attached.

Detached frame`s lifecycle events from the debugger:
- init
- DOMContentLoaded
- load
- networkAlmostIdle
- networkIdle

Seems that CDPSession does not clean the detached frame from

[2021-11-30 22:24] grantwhitaker06 commented on #5611
@ranman is on to something did the same thing and it worked. very frustrating, with no apparent reason.

[2021-11-30 23:19] surlyhacker opened #7815 "page.bringToFront() sometimes causes actual browser window to come to front (non-headless, Windows)"
### Bug description

Steps to reproduce the problem:

1. Have code that calls `page.bringToFront()` (in my case in an infinite loop that does other things and also waits for some time)
2. Use Puppeteer on Windows in non-headless mode
3. Witness that sometimes (not always), when `page.bringToFront()` is called, the entire browser window comes to the front (takes focus).  The documentation for this

[2021-12-01 15:59] Rbrandao7 commented on #2794
That issue is related to a bad connection? I am face same issue, sometimes this error appear and others no.

[2021-12-01 16:28] p-hebert commented on #4796
For those facing a similar issue, note that this error can come from your process being starved by out of memory.
For us, we faced this issue because our kubernetes pod did not have enough memory to answer multiple concurrent requests. Increasing your allocated memory could solve your issue. I suspect too little cpu can also affect the performance as well.

[2021-12-01 16:43] ghost commented on #1599
Does anyone know the syntax to send this command with the new chrome devtools's experimental feature "protocol monitor" ?
I tried many ways...
![Screenshot 2021-12-01 at 17 09 58](https://user-images.githubusercontent.com/89975995/144275785-14742458-fa4e-453a-84f3-37136e2d6206.png)

Sorry, i know this is not a puppeteer issue 😓

[2021-12-01 19:09] jonathanpmartins commented on #5611
Only a VPN solved it for me!

[2021-12-02 07:17] s2005lg opened #7818 "[Bug]: mouse move doesn't work"
### Bug description

[code]
I'm trying to use mouse move on screen, however I found it doesn't work. Is there anything wrong with my code or it's a defect .

### Puppeteer version

12.0.1

### Node.js version

14.16

### npm version

8.0.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-02 10:22] udalyi-qs commented on #7786
@youvalb
There is a quick solution. You can use Bluebird, which is a fully featured promise library. It will give you the full stack trace.

`global.Promise = require('bluebird');`

If you use babel, you might want to use transform-async-to-bluebird instead.

[2021-12-02 12:41] OrKoN commented on #7805
Closing this issue because the error was suppressed in v12.0.1. The investigation and potential further fixes can be tracked via crbug.com/1274813

[2021-12-02 12:41] #7805 closed, assigned to OrKoN, josepharhar

[2021-12-02 14:09] #2548 closed, assigned to nobody

[2021-12-02 14:48] ArtTkachenko commented on #5341
Same here.
Centos 7,
Puppeteer 8.0.0
Issue on production setup (2 cores, 7 gb RAM, not Docker container), locally and in Docker container will take bigger screenshots than on production.

Run puppeteer with puppeteer-cluster.
Puppeteer launch config:

`{
    dumpio: true,
    args: [
        '--no-sandbox',
        '--disable-web-security',
        '--disable-gpu',
        '--disable-setuid-sandbo

[2021-12-02 14:52] ArtTkachenko commented on #5341
@bmblb Did you solve (somehow) this issue?

[2021-12-02 16:54] rdelagato opened #7819 "[Feature Request]: Detect Page Navigation"
### Bug description

***What steps will reproduce the problem?***
I would like to detect if any action creates a page navigation event and if not terminate the tab.waitForPageNavigation. Example:
[code]

***What is the expected result?***
Is there a variable that can be passed into waitForPageNavigation that can reject the promise if a navigation event has not been fired in X milliseconds. So I am

[2021-12-02 22:25] evanpurkhiser opened #7820 "[Bug]: Installation fails when using `yarn --modules-folder=not_node_modules`"
### Bug description

Steps to reproduce the problem:

[code]

### Puppeteer version

12.0.1

### Node.js version

16.5.0

### npm version

yarn  1.22.4

### What operating system are you seeing the problem on?

Linux, macOS

### Relevant log output

_No response_

[2021-12-03 02:06] jc1144096387 opened #7821 "中文api文档里page.emulateMedia没有更新成page.emulateMediaType"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 12.0.1
* Platform / OS version:
* URLs (if applicable):
* Node.js version: 16.6.0

**What steps will reproduce the problem?**
![image](https://user-images.githubusercontent.com/32624612/144532603-2c9fac83-bfaa-4566-be4b-220871881941.png)

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expec

[2021-12-03 08:25] OrKoN commented on #7821
This website is provided by this repo https://github.com/zhaoqize/puppeteer-api-zh_CN It's worth opening an issue there. This repo only contains the English version of the API documentation.

[2021-12-03 08:25] #7821 closed, assigned to nobody

[2021-12-03 13:37] ghost commented on #7760
I am getting the same error. can you show me how to fix it? details please

[2021-12-03 14:02] yarekc commented on #7760
Put the whole path to node like

/user/bin/node script.js

instead of

node script.js

[2021-12-03 15:19] kristianstroka commented on #7760
well but we are running puppeteer in nodejs expressjs server

[2021-12-03 15:36] andikawhy commented on #4011
`await page.content();` also hanging forever for me in nodejs. this is the environment

[code]

any thought about this? thanks!

[2021-12-03 16:51] mmouterde opened #7822 "[Bug]: libappindicator3-1 has been renamed on debian"
### Bug description

Steps to reproduce the problem:

1. for use in docker from `node:lts-bullseye` image, I added debian dependencies as mentioned in https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix
2. get error `libappindicator3-1 has no installation candidate`

I suggest to mention `libayatana-appindicator3-1` instead

### Puppeteer

[2021-12-03 18:36] clouedoc commented on #5003
Same problem with Google + puppeteer **11.0.0**, despite using `request.continue()`
Rolling back to **7.1.0** does not fix the issue.
Other websites such as `https://httpbin.org/ip` work well.
I'm still investigating this issue, will report progress.

## Reproduction code

[code]

## Edit: hacky solution

[code]

[2021-12-03 19:06] benallfree commented on #7225
@pcla56 Can you please see if https://github.com/puppeteer/puppeteer/pull/7802 fixes this issue?

[2021-12-03 19:10] benallfree commented on #6696
@mstr-pezhang Can you please verify that #7802 fixes this issue?

[2021-12-03 21:01] joelgriffith commented on #7623
Anything I can do to help here? Would love to get this in and don't mind spending time on a PR, just want to know if there's an overall sense of direction I can go that aligns with puppeteer's goals.

[2021-12-04 01:52] aqueeb commented on #395
Thanks a lot @NightMachinary ! You saved me a bunch of time. I should have checked the version for the documentation markdown. I was looking at the wrong one. 🤦‍♂️

[2021-12-04 05:54] avazoodev commented on #6560
This worked for me! thanks!

[2021-12-04 19:39] andorthehood commented on #6728
To anyone who found this issue, this is the workaround that I'm using:

    async function goto(page, link) {
        return page.evaluate((link) => {
            location.href = link;
        }, link);
    }

    goto(page, link);

[2021-12-04 20:48] isanecat opened #7823 "[Bug]: Exception from a finished function: TimeoutError: Timed out after 30000 ms while trying to connect to the browser! Only Chrome at revision r938248 is guaranteed to work."
### Bug description

Steps to reproduce the problem:

Below code works well on local emlulator of Firebase but doesn't work when deployed. Error is _"`Exception from a finished function: TimeoutError: Timed out after 30000 ms while trying to connect to the browser! Only Chrome at revision r938248 is guaranteed to work`."

local-chromium version is already 938248

`exports.TITLE_KAYDET = functions.

[2021-12-05 06:36] lsby commented on #5328
This is my idea:

[code]

This is more reliable than refreshing the timer when the request occurs.

A more general example:

[code]

[2021-12-06 07:00] s2005lg commented on #1376
What's the conclusion ? I'm having the same issue right now

[2021-12-06 10:06] gajananpp commented on #6058
@ilyaigpetrov If you are still interested, i have created a puppeteer transport package with which you can use puppeteer in your extension's background page/service worker. Here is the [repo](https://github.com/gajananpp/puppeteer-extension-transport). It uses chrome.debugger api.

You can do
[code]

[2021-12-06 14:30] Jonas-360ty commented on #4796
This Error started happening to me, once the cloud function had more invokations then usually. I added more memory to the cloud function and it worked again.

[2021-12-07 09:26] Tzvetelin88 commented on #7322
Same here

[2021-12-07 09:45] MANTENN commented on #6679
Add these mock ENV variable. Im using node 16 and it works.

this one as long as it matches node 10, 12, 14, I think, I just mock set those variables to get it deployed
`AWS_EXECUTION_ENV` = "AWS_Lambda_nodejs14.1"
the ones below can be anything
`AWS_LAMBDA_FUNCTION_NAME` = "server"
`FUNCTION_NAME` = 'badge'
`FUNCTION_TARGET` = 'server'
`FUNCTIONS_EMULATOR` = 'server'

[2021-12-07 10:06] MANTENN commented on #6679
Um commented in the wrong repo that was meant for chrome-aws-lambda. I had this same issue which I ran to install deps.

` sudo apt install libnss3-dev libgdk-pixbuf2.0-dev libgtk-3-dev libxss-dev`

[2021-12-07 10:43] ljupcospeci commented on #7740
This ^

[2021-12-07 15:17] Minnu279 commented on #1805
I got it worked out using I.forceClick(selector);

[2021-12-07 15:18] Minnu279 commented on #1769
I got it worked out using I.forceClick(selector);

[2021-12-07 18:55] DavideValdo opened #7827 "[Bug]: Incognito context page won't authenticate to proxy after Monterey update?"
### Bug description

Doesn't happen in the remote Ubuntu 18 server executing the same code

Steps to reproduce the problem:

1. Update to macOS Monterey
2. Run a node script that launches puppeteer like this (dotenv is working correctly, double-checked):
[code]
3. Been trying both headless and headful modes, when running headful if I try to open a new tab in the same browser window, I get prompted

[2021-12-08 05:30] kitarp29 commented on #7751
ping

[2021-12-08 05:54] letrung412 commented on #461
map return new array. const arr = e_a.map(e => e.innerText). map not push

[2021-12-08 08:34] paulinechi commented on #550
Hi I'm getting the same issue but with prerender-spa-plugin, I couldn't find where it's using puppeteer so can't replace const browser like this `const browser = await puppeteer.launch({executablePath: '/usr/bin/chromium-browser'});` any idea how I can fix it in my case? :( much appreaciated!

[2021-12-08 11:07] checkmatez commented on #7765
I had the exact same problem. The root cause is that rendering would always be different between different OSes. So you have to pick one. I solved it by running screenshot tests in Docker on my Mac. First, build a local Docker image (I am using buildkite/puppeteer as the base image, even though it is deprecated), and then run tests with local files mounted inside:
[code]

[2021-12-09 01:01] kaibadash commented on #7234
I found this in [API document](https://github.com/puppeteer/puppeteer/blob/main/docs/api.md).

FileChooser doesn't seem to support Native File System API...

[2021-12-09 08:35] whalderman commented on #1395
Thank you @jschfflr !

[2021-12-09 09:34] johansenja commented on #4687
If anyone else is coming to this, it works for me if you turn the relative link into an absolute link ie. instead of `href="#section"` have `href="https://mysite.com/#section"` - your browser will still recognise that it is on the same page, and it will also work in the generated PDF.
Obviously only possible if you own the site! And could be a bit of a hassle to do for every single link, but it's

[2021-12-09 10:04] isanecat commented on #7823
Above issue has been solved with below three changes:

1. --no-sandbox argument has been added
+++++++++++++++++++++++++++++++++++++++
const browser = await puppeteer.launch({
    headless:true,
    args: ['--no-sandbox']
    });
+++++++++++++++++++++++++++++++++++++++

2. Node version has been downgraded to 10
3. Puppeteer version has been downgraded to 12.0.0

Using puppeteer on firebase functio

[2021-12-09 10:04] #7823 closed, assigned to nobody

[2021-12-09 14:57] #7745 closed, assigned to nobody

[2021-12-09 16:08] SinghHarmandeep commented on #5501
I have the same issue...

[2021-12-09 16:23] Minyar2004 opened #7831 "[Feature request] allow to destroy all browser targets before close"
### Bug description

There is no way to destroy all targets of a browser before closing it...

Steps to reproduce the problem:

[code]

or

`browser.targets()`

puppeteer does not allow to properly manage the targets of a given browser (except of "page" type : target.page().close())

### Puppeteer version

9.1.1

### Node.js version

12.16.1

### npm version

6.13.4

### What operating system are

[2021-12-09 19:09] ztob commented on #5231
the same problem

[2021-12-10 00:36] alandawi commented on #1376
Also me. Would be great to have this feature.

[2021-12-10 02:09] sgronblo commented on #7781
We are seeing a similar problem (also in the context of rendering pdfs in Docker in AWS Lambda). The callstack is slightly different.

We are currently using `puppeteer-core` together with `chrome-aws-lambda` after a large amount of trial and error.

Our code is currently starting up a new browser and closing it for each request. We are seeing about a 25% error rate. For example we might see a pat

[2021-12-10 07:15] OrKoN commented on #7831
FYI you can try using CDP directly to close the target:
- https://chromedevtools.github.io/devtools-protocol/tot/Target/#method-closeTarget
- https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#class-cdpsession

Feature request is still valid, Puppeteer does not offer a dedicated API for this.

[2021-12-10 10:28] Harleyzheng commented on #7746
+1

[2021-12-10 15:25] nyxomniac commented on #6978
I am getting the same issue as well, whether  I try to launch chromium directly or via nodejs and puppeteer. I tried with sandbox disabled as well.

../../base/allocator/partition_allocator/partition_address_space.cc(41) Check failed: reserved_base_address_

[2021-12-10 21:59] TheHeroBrine422 commented on #550
@paulinechi If you can figure out where the default puppeteer path is you might be able to symlink it to `/usr/bin/chromium-browser`. I don't know where that is though.

[2021-12-10 22:55] danielfoxp2 commented on #4796
I'm having the same issue. For about 8 or 9 months my function worked flawless every week. But this week I started to face this error too. It is a azure function and it was on puppeteer 9. Changed to puppeteer 13 and the same is happening.

The chromium version in node_modules is exactly the same stated in the error message. I out of ideas on how to solve it.

[2021-12-10 23:20] elizabethlyon commented on #1546
@mechanoid , how did you resolve your `.click()` issue? I'm facing the same thing.

[2021-12-11 04:11] joe914 opened #7834 "[Bug]: ElementHandle.screenshot() has offset using new versions"
### Bug description

// Issue description: the ElementHandle.screenshot() has offset when using version: 10.4.0 and 13.0.0, while it is ok using version 5.5.0

const puppeteer = require("puppeteer");

async function testScreenshot() {
  try {
    const browserOptions = {
      headless: false
    };
    const url = "https://nodejs.org/en/docs/";
    console.log(url);
    const browser = await pupp

[2021-12-12 02:42] tolmasky commented on #4796
I got this today after running Chrome in a newly started container, so I don't think it's the remaining Chrome processes issue covered in #6011.

[2021-12-12 15:36] stlcn2000 opened #7835 "The font size in header is bigger than specified font size"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version: 10.1.0
* Platform / OS version: Mac OS 10.14.6
* URLs (if applicable):
* Node.js version: >8.0

**What steps will reproduce the problem?**
Call the print pdf function of puppeteer with the following html and print option,
`{
   "options":{
      "displayHeaderFooter":true,
      "headerTemplate":"<div id=\"u_row_3\"

[2021-12-12 18:18] timvandermeij opened #7836 "[Regression]: `page.waitForFunction` passes an unexpected first argument to `pageFunction` since Puppeteer 13"
### Bug description

For Mozilla's PDF.js we use Puppeteer for our integration tests. The upgrade from Puppeteer 12.0.1 to 13.0.0 made one test fail and investigation showed that there is a regression in Puppeteer 13.

Steps to reproduce the problem:

1. Install Puppeteer 12.0.1 with `npm`.
2. Create a file called `repro.js` with the following minimal reproducer:

[code]

2. Run `node repro.js` an

[2021-12-12 19:06] C4T4 opened #7837 "[Bug]: --proxy-server argument not working"
### Bug description

the proxy is working but inside puppeteer I get a ERR_EMPTY_RESPONSE error.
still the "--proxy-server" option available? (can't find the argument in the documentation)

I tried different node and puppeteer versions on a ubuntu server, same result

[code]

### Puppeteer version

11.0.0

### Node.js version

17.2.0

### npm version

8.1.4

### What operating system are you seein

[2021-12-12 21:05] simonhammes commented on #7836
I am also experiencing a similar issue (trying to upgrade puppeteer to v13): [GitHub Action Run](https://github.com/WordPress/gutenberg/runs/4499350524?check_suite_focus=true#step:6:50)

    Evaluation failed: DOMException: Failed to execute 'querySelectorAll' on 'Document': '[object HTMLDocument]' is not a valid selector.

[2021-12-12 21:09] ghost opened #7838 "puppteer"

[2021-12-12 21:09] #7838 closed, assigned to nobody

[2021-12-13 09:32] whimboo commented on #7771
Just to give feedback here too, this memory leak should now be fixed by https://bugzilla.mozilla.org/show_bug.cgi?id=1742051 in Firefox Nightly 97.

[2021-12-13 10:33] arshteamoxio commented on #5361
Needed Below things for Centos:-

alsa-lib.x86_64
atk.x86_64
cups-libs.x86_64
gtk3.x86_64
ipa-gothic-fonts
libXcomposite.x86_64
libXcursor.x86_64
libXdamage.x86_64
libXext.x86_64
libXi.x86_64
libXrandr.x86_64
libXScrnSaver.x86_64
libXtst.x86_64
pango.x86_64
xorg-x11-fonts-100dpi
xorg-x11-fonts-75dpi
xorg-x11-fonts-cyrillic
xorg-x11-fonts-misc
xorg-x11-fonts-Type1
xorg-x11-utils
libnss3.so
libatk-b

[2021-12-13 10:56] aplstroedel opened #7840 "[Bug]: Can not return values while or after getting console messages"
### Bug description

Dear puppeteers, anyhow, thanks for the wonderfull software!!
I found the following issue and i can not find a solution by googling and reading the docs..

The issue:

[code]

In other words:
- it's impossible to return something from inside the page.on method using 'console'
- it's impossible to return something after the page.on method using 'console'
- tried with and withou

[2021-12-13 15:19] Minyar2004 commented on #7831
`Target.closeTarget` does not obviously work: "targetdestroyed" event is never emitted.

the targetdestroyed event is emitted when I call `page.close()` but not when I use the script below :

A target can be <"page"|"background_page"|"service_worker"|"shared_worker"|"other"|"browser">

[code]

[2021-12-13 18:49] runxc1 commented on #7822
Do you have a working DockerFile that works to download Chrome as I'm running into this issue as well

[2021-12-13 19:08] ethdev279 opened #7841 "[Bug]: images with external links are not displaying on pdf sometimes"
### Bug description

I'm trying setContent of page with HTML string that has external image links. however it is not printing images in pdf. I tried all different options llike ```waitUntill```, ```waitForNavigation```, ```waitForFunction```, ```waitForSelector``` but none of them were seemed to be working in this case. please have a look at below code and let me know

[code]
![Screenshot 2021-12-

[2021-12-13 21:36] KazakEz opened #7842 "[Bug]: How use node-html-to-image on replit"
### Bug description

Hi! Im using repl.it for my discord bot, i want make **quote** commands, but i have error:
`~/node_modules/puppeteer-cluster/dist/Cluster.js:120
                    throw new Error('Unable to launch browser, error message: ${err.message}');
                          ^

Error: Unable to launch browser, error message: Failed to launch the browser process!
~/node_modules/puppetee

[2021-12-14 06:23] campersau commented on #7836
Looks like https://github.com/puppeteer/puppeteer/pull/7825 is now passing in the `root` as the first parameter to the predicate e.g. here
https://github.com/puppeteer/puppeteer/blob/a3d23004e192bcb85c5652675d723d836e823359/src/common/DOMWorld.ts#L930
https://github.com/puppeteer/puppeteer/blob/3e3a90be5308434ad8271424e7891ce0184059dc/src/common/DOMWorld.ts#L940
https://github.com/puppeteer/puppet

[2021-12-14 08:35] mmouterde commented on #7822
sure :
[code]

[2021-12-14 09:51] neonidian commented on #7836
+1
Experiencing the same issue on upgrade to Puppeteer version 13. Had to revert back to version 12.

[2021-12-14 19:42] elAndyG commented on #1837
I followed these steps, but only needed to use `   const browser = await puppeteer.launch()` without specifying the `executablePath`.

[2021-12-14 21:46] OrKoN commented on #7836
Thanks for the report, I will take a look soon.

[2021-12-14 22:04] vmirage opened #7844 "[Bug]: TypeError: Cannot read properties of undefined (reading '_updateClient')"
### Bug description

Steps to reproduce the problem for puppeteer-core:

1. Make sure https://c2c.huobi.com/en-us/one-trade/buy tab is already open
2. Use puppeteer-core to connect to existing chrome
3. Get the page on `targetcreated`.
4. Boom! error

[code]

No problem on version 10. Problem started since version 11 onwards

### Puppeteer version

13.0.0

### Node.js version

17.2.0

### npm vers

[2021-12-15 13:57] iamstd commented on #6648
which peppeteer module you import ? can you show your way you use in your project ?

[2021-12-15 19:16] timvandermeij commented on #7836
Closing since this should be fixed by #7845 now and therefore hopefully part of a new release soon. Thanks @OrKoN for fixing this!

[2021-12-15 19:16] #7836 closed, assigned to OrKoN

[2021-12-15 21:23] Mr0grog opened #7849 "[Bug]: ElementHandle.click() in cross-origin iframes is off target in non-headless mode"
### Bug description

This is most likely an issue in Chromium, but I figured I’d file here first in case folks here know whether it’s actually intended behavior that Puppeteer needs to deal with or if I’m misunderstanding the issue.

In Puppeteer 12.0.0 (Chromium 97.0.4692.0), the `DOM.getContentQuads` and `DOM.getBoxModel` protocol methods (and maybe others) seem to behave differently in headless

[2021-12-15 21:29] Mr0grog commented on #7849
I was able to work around this by calculating the correct position using `.evaluate()`, but this is kind of complicated:

[code]

(Obviously there’s some work in figuring out what frame(s) to check in order to make that generic.)

[2021-12-15 22:21] mnakhaei opened #7850 "[Bug]: Missed offset in elementHandler.click"
### Bug description

There is offset parameter in element Handler [click](https://pptr.dev/#?product=Puppeteer&version=v13.0.0&show=api-elementhandleclickoptions) but it missed in ClickOptions.

### Puppeteer version

10.2.0

### Node.js version

v16.5.0

### npm version

8.1.4

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-12-16 07:14] henryaj opened #7851 "[Bug]: Overriden locale not respected in datepickers"
### Bug description

Steps to reproduce the problem:

1. Override puppeteer's locale (either using `--lang`, `Accept-Language` or overriding `navigator.language` – see [this SO thread](https://stackoverflow.com/a/47292022)).
2. Navigate to a form with an HTML5 datepicker.
3. Observe that the datepicker does not have the desired locale. In my case, I want UK-formatted dates (DD/MM/YYYY), which work

[2021-12-16 07:15] henryaj commented on #7851
See https://github.com/Studiosity/grover/issues/146

[2021-12-16 10:40] maliiiith commented on #2278
I'm facing a similar issue where there is a tiny gap between the rendered content and the container area of the PDF. :s I'm trying to output a PDF in A4 size and @SiddiquiMonis401 's solution did not help in my case.

Has anyone found a way to fix this? @orgertot @tclift

[2021-12-16 10:40] EqualMa commented on #7736
Run into the same situation on `Raspbian GNU/Linux 11 (bullseye)` with `puppeteer@13.0.0`, even after reinstalling all apt dependencies listed [here](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#chrome-headless-doesnt-launch-on-unix).

But I found a workaround with `puppeteer-core`:

[code]

[2021-12-16 11:30] bjornbos commented on #4075
We are experiencing the same problem. Puppeteer is not behaving correctly when loading images of a few MB's (not sure what the exact threshold is). Did anyone find a solution?

[2021-12-16 13:31] Petah commented on #4075
Seemed to run better running in docker/ubuntu on lambda.

[2021-12-16 15:39] joelgriffith commented on #7623
@jschfflr let me know your thoughts on this issue (printing PDFs in the web-browsers ESM build). Happy to do the work, just need some consensus on what strategy to take so I can get the PR closer to what y'all would like to see.

[2021-12-16 18:16] xetrics opened #7852 "[Bug]: Puppeteer strips query paramaters from "referer" herader in initial request"
### Bug description

Steps to reproduce the problem:

1. `page.goto(url, {referer : "..." })` has this problem
2. Same issue with `page.setExtraHTTPHeaders()`

However, subsequent requests made by the page (html link requests, ajax) have the full referer set.

Only way I am able to have the full referer intact is by intercepting the first request and overriding the headers.

Problem code:
[code]

[2021-12-16 22:41] jimmywarting opened #7853 "[Thought]: Remove explicit return type"
TypeScript is smart enough to figure out what a function return.

most of the time you don't need write it explicit...

[code]

[2021-12-17 06:31] s2005lg commented on #7818
Any one can help on this ?

[2021-12-17 10:08] yfcck opened #7857 "multiple pages parallel click actions"
### Bug description

ver.13.0.0
chrome.94.0.4606.61

In the case of multiple pages, only which page bringToFront working

[code]

[code]

### Puppeteer version

13.0.0

### Node.js version

v16.11.0

### npm version

8.0.0

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-17 11:21] yarekc commented on #3455
Same issue:

[code]

[2021-12-17 11:50] aplstroedel commented on #7840
I've have the solution, people had to help but one person specifically was able to discover the problem.

The solution:

[code]
ps: In other words, using then() after the awaits was wrong.

This can be marked as solved.

Best regards

[2021-12-17 11:50] #7840 closed, assigned to nobody

[2021-12-18 20:51] cliedelt commented on #2278
@malithrw unfortunately not …

[2021-12-19 00:36] PythonCoderAS opened #7858 "[Bug]: Make Launch options one specific type"
### Bug description

I want to make a function that launches puppeteer with some extra default args but also allows the caller to specify additional options. However, instead of being one type, the launch function is declared as:

[code]

I think instead of having
[code]

it would be better to have

[code]

### Puppeteer version

v13.0

### Node.js version

v17.2

### npm version

v8.1

### What o

[2021-12-19 14:14] ethaniel opened #7859 "[Bug]: stopJSCoverage returns incorrect coverage ranges (does not match Chrome Coverage)"
### Bug description

Steps to reproduce the problem:

1. Download .zip file.
2. In the file `puppeteer_coverage.json` find the ranges for the `js.js` file and see how they don't match `chrome_coverage.json` (which was generated by Chrome manually)
3. **If needed:** run `node ./puppeteer.js` to regenerate `puppeteer_coverage.json`.
4. **If needed:** regenerate `chrome_coverage.json` manually from y

[2021-12-19 22:59] God-damnit-all commented on #1353
I corrected the links to point to this particular time in your repo's history:

[2021-12-19 23:42] JMicheli commented on #5611
I just experienced the same issue others are describing here. I was unable to install without it hanging on my desktop (Windows 10, wired), but installed without issue on my laptop (Mint, wifi). Same repo in both cases. After rebooting my router, however, I was able to install on the desktop.

[2021-12-20 02:12] doujiaocs commented on #7408
So how did you solve it in the end？I have the same problem as you

[2021-12-20 09:51] tarockx commented on #2974
Hope this is implemented at some point, would be really useful

[2021-12-20 11:00] shreyanshdwivedi commented on #4796
same here. got this issue yesterday two times. not sure if the solution is released in the mentioned PR

[2021-12-20 12:20] RezaErfani67 commented on #3279
@mathiasbynens

[2021-12-20 18:04] slawiko commented on #7836
@timvandermeij is there any ETA for release of this fix? By coincidence our project needs both fixes: this one and the one from 13.0.0 :)
UPD:
I see 13.0.1 released. Thanks a lot!

[2021-12-20 18:38] heaven commented on #830
@aslushnikov is there any way to get the content type? I mean, we also use abort for other purposes and show the error to the user. When our crawler faces a pdf document it also returns the aborted error but we need to see the reason.

[2021-12-20 18:51] heaven commented on #1132
Any way I can call `request.abort();` and make it raise `net::ERR_TOO_MANY_REDIRECTS`?

[2021-12-21 06:48] vintprox commented on #7510
Same question here.

[2021-12-21 07:14] tiholic opened #7861 "remove `isNode` check from `getReadableFromProtocolStream` and other similar usages"
as the PR is now landed: https://github.com/nodejs/node/pull/39062 (https://github.com/nodejs/node/pull/39062#issuecomment-871685340)
https://github.com/puppeteer/puppeteer/blob/5b792de7a97611441777d1ac99cb95516301d7dc/src/common/helper.ts#L345-L353

[2021-12-21 07:34] 7aklhz opened #7862 "Puppeteer hangs with no error message"
### Bug description

I'm running puppeteer in headless mode in a docker container. The puppetter function is executed inside a javascript while loop.

Without any consistency (may be after 10s or 2 hours), the code freezes at one of the stages. It's rarely consistent : it may freeze at browser launch, at page open, at browser close, etc.

And the difficult part is that I don't have any error messa

[2021-12-21 09:27] Kikobeats opened #7863 "HTTPResponse: add stream method"
what would be desirable is a way to return the stream associated with a response rather than a buffer

[code]

That could be achieved using [`Network.takeResponseBodyForInterceptionAsStream`](https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-takeResponseBodyForInterceptionAsStream) CDP method in a similar way how the buffer gets.

https://github.com/puppeteer/puppeteer/blob/ma

[2021-12-21 11:48] MartinFalatic commented on #7757
I'm tracking a very similar issue with headless page `pdf()` calls creating corrupted files with certain input images, which started after puppeteer 10.0.0, and have been working on a way to reproduce it. I've been assuming it was the version of Chrome that was to blame somehow.... but both 10.0.0 and 10.1.0 reference Chrome `884014`.

There's [not a ton of delta between puppeteer 10.0.0 and 10.1.

[2021-12-21 15:17] tjacobs3 commented on #7757
Thanks for the info! I was able to step through the [commits](https://github.com/puppeteer/puppeteer/compare/v10.0.0...v10.1.0) and found that this was the cause

https://github.com/puppeteer/puppeteer/commit/e3699e248bc9c1f7a6ead9a07d68ae8b65905443

I'm not too familiar with what's going on there but I'll try debugging when I have some time.

[2021-12-21 20:10] MartinFalatic commented on #7757
The file that fails for me is only 70,361 bytes (it's a 300x225 image) so whatever is going on it's not about the size of the image itself (though I wonder if there's some edge condition at work here, like some exact multiple of bytes in the image data).

It's particularly vexing because it doesn't seem to cause a visible error other than truncating the PDF.

[2021-12-22 00:12] davidbielik commented on #4731
@FezVrasta were you ever able to get puppeteer running in Docker on Apple Silicon M1?

I can't and waiting to see if https://github.com/puppeteer/puppeteer/pull/7546 is related

[2021-12-22 00:15] davidbielik commented on #6776
@markb-trustifi  @jackHedaya  have you been able to get puppeteer running in Docker on M1 Silicon? is https://github.com/puppeteer/puppeteer/pull/7546 related?

[2021-12-22 02:12] Nikschavan commented on #5255
@NickVlasov - did you find any solution for this? I am hitting this error at the moment where when checking CSS properties (`color`) of any element on hover does not give correct values in headless mode but works as expected in interactive mode.

[2021-12-22 07:55] OrKoN commented on #7849
I am unable to reproduce it. Was it an out of process iframe?

[2021-12-22 07:57] OrKoN commented on #7849
This is my script. Do you have an exact script that reproduces the problem?

[code]

[code]

[2021-12-22 07:59] OrKoN commented on #7850
![Screenshot 2021-12-22 at 08 58 44](https://user-images.githubusercontent.com/399150/147056746-d0a115bc-2ded-49d3-86c3-3286b779c4b7.png)

I see it, do you mean it's missing elsewhere?

[2021-12-22 07:59] #7850 closed, assigned to nobody

[2021-12-22 08:03] OrKoN commented on #7844
So it does not happen if https://c2c.huobi.com/en-us/one-trade/buy  is opened by Puppeteer?

[2021-12-22 10:39] MartinFalatic commented on #7757
So, I did a bit of experimentation tonight...

In `node_modules\puppeteer\lib\cjs\puppeteer\common\helper.js` (from 10.1.0) within my Docker container (corresponding to https://github.com/puppeteer/puppeteer/blob/v10.1.0/src/common/helper.ts#L363) I wedged in the following line:

    size = 16384*2;

I noticed that `size` is 16384 (aka `highWaterMark` as noted in https://nodejs.org/docs/latest-v16

[2021-12-22 12:46] slawiko commented on #6696
@benallfree probably that could help:

I had similar issue with Font request pending for more than 30sec (I had timeout 35s). After upgrade on 13.0.0 this issue is completely gone

[2021-12-22 14:35] MartinFalatic commented on #7757
One more bit of info for today - puppeteer does give Chrome a hint as to how much data it wants at https://github.com/puppeteer/puppeteer/blob/v10.1.0/src/common/helper.ts#L364, specifically:

    const response = await client.send('IO.read', { handle, size });

This accesses the Chrome DevTools protocol and uses `IO.read` (https://chromedevtools.github.io/devtools-protocol/1-3/IO/#method-read) to

[2021-12-22 15:46] mykolavlasov commented on #5255
Unfortunately, we weren't able to find a solution as far as I remember

[2021-12-22 16:33] tjacobs3 commented on #7757
Yeah, this seems to indicate that it's a bug on the chrome side.

I do see that prior to that feature being added, `size` was not being passed to `IO.read` (see https://github.com/puppeteer/puppeteer/blob/v10.0.0/src/common/helper.ts#L329).  Maybe it's fine to just remove it until an issue is created and resolved on the chrome side

[2021-12-22 17:07] Mr0grog commented on #7849
The iframe where I encountered this is a different domain, so I think it would normally be, but the script I was dealing with uses `--disable-features=site-per-process`, which I was thinking should prevent it from being out of process. It’s possible I might be misunderstanding that, though.

Not one that is straightforward (I hit this in a reasonably complex legacy tool I’m now maintaining that de

[2021-12-22 19:25] MartinFalatic commented on #7757
It's up to the devs. Even if it was massive (say 8 MB) it might make the problem space much smaller. Then again, it's not clear what Chrome isn't liking here either

[2021-12-22 21:24] asciidude opened #7867 "[Bug]: Headless mode hangs indefinetly on Browser#newPage()"
### Bug description

Steps to reproduce the problem:

1. Create a browser variable - `const browser = await puppeteer.launch({ headless: true });`
2. Create a new page with that browser variable - `const page = await browser.newPage();`

### Puppeteer version

13.0.1

### Node.js version

16.13.0

### npm version

8.1.0

### What operating system are you seeing the problem on?

Windows

### Releva

[2021-12-22 22:38] MartinFalatic commented on #7757
It's not clear to me what benefit was sought in making the original changes that landed in 10.1.0 to use streaming for the PDFs.

According to the same Chrome devtools docs for `Page.printToPDF` (https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF) the `IO.StreamHandle` is still experimental in big bold letters. All of this is stemming from the use of that handle (which

[2021-12-22 23:17] OrKoN commented on #7867
I am unable to reproduce. `await browser.newPage()` resolves successfully. Do you call `browser.close()` from your script to shutdown the headless browser? If you don't close the browser the node script will continue waiting for the browser to close even if the entire script has been executed.

[2021-12-23 02:18] vmirage commented on #7844
No problem when opening by Puppeteer. Only when the page exist and Puppeteer starts.

[2021-12-23 02:37] UchihaYuki commented on #7818
I encountered the same problem, I wrote this:
[code]
But it can't be detected by:
[code]

[2021-12-23 06:24] vetal34 opened #7869 "<59655952-6399-11ec-b422-db8353e9de01@support.whatsapp.com>"
### Steps to reproduce

**Tell us about your environment:**

* Puppeteer version:
* Platform / OS version:
* URLs (if applicable):
* Node.js version:

**What steps will reproduce the problem?**

_Please include code that reproduces the issue._

1.
2.
3.

**What is the expected result?**

**What happens instead?**

[2021-12-23 07:07] #7869 closed, assigned to nobody

[2021-12-23 07:43] RopoMen opened #7870 "Why Puppeteer v13 is missing from "versions.js" ?"
### Bug description

Hi,

I noticed that Puppeteer v13 is missing from `https://github.com/puppeteer/puppeteer/blob/main/versions.js` is this intentional? I checked that in v12 release that version.js contained Puppeteer v12.

### Puppeteer version

13

### Node.js version

-

### npm version

-

### What operating system are you seeing the problem on?

macOS

### Relevant log output

_No response

[2021-12-23 10:46] OrKoN commented on #7870
I think there were no Chromium rolls included in v13 and therefore it's not listed in versions.js.

[2021-12-23 11:27] mathiasbynens commented on #7870
Correct.

[2021-12-23 11:27] #7870 closed, assigned to nobody

[2021-12-23 16:39] Mr0grog commented on #7849
Yep, if the frame is from a different origin (and probably therefore a separate process), that triggers the bug. Here’s a modified version of your script that works:

[code]

[code]

And I see this output:

[code]

It also doesn’t appear to matter if `args: ['--disable-features=site-per-process']` was passed to `puppeteer.launch`.

[2021-12-23 17:56] yxiong20 opened #7871 "[Bug]: Failed to capture background image in screenshot"
### Bug description

Steps to reproduce the problem:

1. Use website: https://www.kathabineider.de/
2. Use the usual puppeteer js script, try capture the screenshot of the page, not the background image failed to be captured. I tried a few things:
 - put a delay(2s, 5s, 10s etc) after loading the page before taking screenshot
 - force scroll to the end, load all img from the DOM
 none of those wor

[2021-12-23 21:09] phanikumar1 commented on #7871
We had similar experience with a different website. I had to change captureBeyondViewport to false for it to work.

return await this.page.screenshot({
        type: this.IMAGE_FORMAT,
        encoding: 'base64',
        captureBeyondViewport : false
      // this option is hanging the api for some websites
      });

[2021-12-23 21:37] yxiong20 commented on #7871
Unfortunately this option does not help with this website.

[2021-12-24 02:15] UchihaYuki opened #7872 "[Bug]: browser.pages only return 2 pages no matter what."
### Bug description

No matter how many pages are in the browser. browser.pages() will return only two of them. I've set chromium to continue where I left off.
[code]

### Puppeteer version

13.0.0

### Node.js version

v16.13.1

### npm version

8.1.2

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-24 03:39] UchihaYuki opened #7873 "[Bug]: Incognito Proxy doesn't work"
### Bug description

The following work:
[code]
But the following doesn't work
[code]
The traffic doesn't go out through the proxy.

### Puppeteer version

13.0.0

### Node.js version

v16.13.1

### npm version

8.1.2

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

[2021-12-24 10:04] BUPTlhuanyu opened #7874 "[Bug]: Failed to launch the browser process!"
### Bug description

[code]

### Puppeteer version

8.0.0

### Node.js version

v12.13.0

### npm version

6.12.0

### What operating system are you seeing the problem on?

macOS

### Relevant log output

[code]

[2021-12-24 10:04] BUPTlhuanyu commented on #7874
centos 6.10

[2021-12-24 10:17] superzoey commented on #5927
i have the same problem

[2021-12-24 13:19] YosanAI commented on #1731
Any updates? I am still experiencing this on puppeteer: "13.0.0.  screenshot works. but pdf doesnt work. I have also noticed that on threejs, when there is no light added to the scene, and the material uses MeshNormalMaterial() it works.

EDIT: @pguardiario  answer worked for me

[2021-12-25 09:06] sukrosono commented on #4394
A me too, my node is 17.2 pup 10.4 and the lastest chrome on arch linux.
Sadly I want to try use `connect` but also face difficulties there when getting the ws address.
Now I have 2 broken ways

[2021-12-25 11:41] hanayashiki commented on #7303
you should use `$x`, `$$` is for query selectors.

[2021-12-25 14:13] kartik30369 opened #7875 "[Bug]: Puppeteer gives error that Error: Failed to launch the browser process! when the user profile path is given"
### Bug description

Steps to reproduce the problem:

1. Copy paste the code but replace the user profile path.

I am getting the browser launch failure because I am loading my user profile from a file path. Can someone tell me how to fix this and why am i getting this error?

Here's the code:
This code gives me the error:

[code]

But if u comment the user profile path the code runs fine.

By the

[2021-12-25 17:31] davidbielik commented on #1947
Has anyone been able to get `browser.newPage()` to work on M1 Mac within Docker?

I'm also seeing this error:

[code]

[2021-12-26 21:26] iopanio commented on #4898
Mine does not work too.
[code]

[2021-12-27 03:38] wangjue666 commented on #6606
@assopri hi,  I found the solution under windows system

1. Press "Win + R" to open the "run" window, enter the "regedit" command and press enter to open the registry;
2. Find HKEY_CURRENT_USER/Control Panel/Desktop/ForegroundLockTimeout
3. Change this value to any 6 digits or more in hexadecimal (the system defaults to 200000 milliseconds / hexadecimal 30d40)
4. If not, please create a new one;
5

[2021-12-27 03:43] wangjue666 commented on #5484
@2milesaway @assopri hi,  I found the solution under windows system

1. Press "Win + R" to open the "run" window, enter the "regedit" command and press enter to open the registry;
2. Find HKEY_CURRENT_USER/Control Panel/Desktop/ForegroundLockTimeout
3. Change this value to any 6 digits or more in hexadecimal (the system defaults to 200000 milliseconds / hexadecimal 30d40)
4. If not, please create

[2021-12-27 04:32] anita18 commented on #4796
I am facing the same issue since last 1 week. Anyone got fix for this.

[2021-12-27 08:15] asciidude commented on #7867
I made sure to close the browser at the end of the script, perhaps I will just have to deal with non-headless mode.

[2021-12-27 08:49] abdualRehman opened #7878 "[Bug]: Failed to launch the browser in Online Server"
### Bug description

Steps to reproduce the problem:

1. Puppeteer is not launching a new browser or an external window while it is running online

Hi Team!
Please let me know how can I resolve this issue,
I tried to use the **headless: false** option but it also didn't work for me

here is my code
![image](https://user-images.githubusercontent.com/43822653/147453629-96200fc4-20a4-4f08-b356-8f73c7

[2021-12-27 09:53] hirokith commented on #7771
Sorry for the delay, I've retried on my macbook with Firefox Nightly 97 and the result seems not to be promising:

[code]

[2021-12-27 09:59] hirokith commented on #7771
[memory-report-start.json.gz](https://github.com/puppeteer/puppeteer/files/7779639/memory-report-start.json.gz)
[memory-report-end.json.gz](https://github.com/puppeteer/puppeteer/files/7779638/memory-report-end.json.gz)

[2021-12-27 11:04] iopanio opened #7879 "[Bug]: Unable to interact with context menu / right-click options while testing Chrome extensions"
### Bug description

Puppeteer does not seem to click nor send a keystroke to the context menu(the popup options of right-click, i.e. Copy/Paste/Save as) after ```await video.click({ button: 'right'})```.
[code]
I have loaded a chrome extension and can only be accessed by right-click + click on ```Send to ``` inside the context menu.
These are the things I have tried thus far:
1. **Send a keystrok

[2021-12-27 17:14] ntgussoni commented on #6541
`await page._client.send('Network.setBypassServiceWorker', { bypass: true });`

worked in my case. Thanks!

[2021-12-28 06:23] MahbbRah commented on #6341
It didn't work for me on windows 10 x64. trying to understand why.

[2021-12-28 11:22] dekelev commented on #7475
[Issue](https://github.com/puppeteer/puppeteer/issues/7475#issuecomment-927993338) still reproduces consistently on my end with puppeteer v13.0.1 while working fine when reverted back to v10.1.0
It's probably got something to do with the [puppeteer-extra](https://github.com/berstend/puppeteer-extra) module and its plugins.

[2021-12-28 12:12] demmorou commented on #290
works for me

[2021-12-28 12:16] MahbbRah commented on #6341
I couldn't solve the issue yet now by any way But there's a quick fix. If we run the browser in inconginto/private mode then it will won't create browser profile and so it won't throw any error

that being said

``
{
  args: [
   ...
    '--incognito'
 ]
}
``
Should solve your problem temporary.

[2021-12-28 12:18] MahbbRah commented on #298
https://github.com/puppeteer/puppeteer/issues/6341#issuecomment-1002066697

[2021-12-28 17:47] wzalazar commented on #1774
hey guys! this issue is still open or what is the current status?

[2021-12-28 20:21] yossielimelech commented on #1805
Nothing is working for me. I tried everything.
I'm trying to change currency in aliexpress.com, anyone has a clue?

[2021-12-29 05:35] MahbbRah commented on #6414
That's false information I'm running it on incognito mode and it's still creating dev profile.

[2021-12-29 08:54] civetming commented on #6046
Hello, How did you solve it?

[2021-12-29 11:24] UsmanGhani-Emumba commented on #7442
@xuxk1  Did you get the solution of it? because i have the same issue.

[2021-12-29 11:31] xuxk1 commented on #7442
await this.page.click(Po.tool_zoomInput, { clickCount: 2 });
await this.page.click(Po.tool_zoomInput, { clickCount: 2 });
Like executing twice can be solved

[2021-12-29 11:58] borisflesch opened #7880 "[Bug]: font-size not working in footerTemplate"
### Bug description

Steps to reproduce the problem:

1. Generate a PDF with Puppeteer with a custom footerTemplate, e.g.:
[code]

2. Open the generated PDF :
On MacOS, the `font-size` is correctly applied on the footerTemplate. However, with the same configuration on Linux (more specifically through the Docker image `node:14`), the font-size is not applied in footerTemplate and renders bigger tha

[2021-12-29 12:14] UsmanGhani-Emumba commented on #7442
what is Po.tool_zoomInput? You selector? so basically click count is not working. You are using the click statement twice

[2021-12-29 12:18] #5251 closed, assigned to nobody

[2021-12-29 14:00] subject-21 opened #7881 "[Bug]: Electron app hangs when opening new pages repeatedly"
### Bug description

Steps to reproduce the problem:

I'm running puppteer on electron app that has option to open new pages from the app,  when I open a page (target) over and over the app hangs with 'waiting to response' and no error or log thrown from puppeteer or our app

### Puppeteer version

4

### Node.js version

14

### npm version

6

### What operating system are you seeing the problem

[2021-12-29 22:31] PZ01 commented on #1321
We are using puppeteer through Gitlab CI with codeceptjs. I haven't looked at the specs of the container's spawned by the Gitlab Runner to run the jobs, but we stopped getting this issue by:

1. Upgrading puppeteer from 9.9.1 -> 13.0.1 (which has a newer Chromium image)
2. Reducing number of workers when running `codecept run-workers #` command
3. Re-organizing the feature files to find a balance

[2021-12-30 06:29] alamothe commented on #298
@MahbbRah sadly doesn't work. This is not user profile but crashpad and metrics.

[2021-12-30 10:01] MahbbRah commented on #298
For me as well it didn't work. the issue is it kept working suddenly got that bug again. But Yes I fixed it for my case it was this issue and this way I solved it.

![image](https://user-images.githubusercontent.com/10045253/147741535-e1534dee-1380-4e69-9e3d-cca8af7e716a.png)

[2021-12-30 11:46] impetusdev commented on #7193
Could you explain the reasoning?

[2021-12-30 19:12] dd-pardal commented on #7193
Not sure what you mean by that. I thought this was a problem with Puppeteer but apparently the problem was on my side. I needed to set `allowSyntheticDefaultImports` to `true` because of the way Puppeteer exports things.

[2021-12-31 05:29] longhoangliem commented on #7503
I am currently in the same issue you have and the puppeteer always prints two portrait pages (with the height of the portrait page as the height of the previous landscape page). So I think this issue cause by google chrome because when you can press `ctrl/command + P` in Google Chrome, it generates the same pdf you've generated by puppeteer ...
![image](https://user-images.githubusercontent.com/93

[2021-12-31 07:51] hirokith commented on #6359
I've tried playwright with firefox using Network: https://playwright.dev/docs/network#handle-requests and it worked perfectly, I'm wondering what playwright has done with firefox. According to their docs: https://playwright.dev/docs/browsers, seems that they compiled customized browser binaries to operate with playwright, and I've tried puppeteer firefox using playwright firefox binary and it did

[2021-12-31 11:07] ghost opened #7882 "[Bug]: '--start-fullscreen' doesn't start puppeteer in fullscreen"
My mistake, this is not a bug: I put the flag in `ignoreDefaultArgs` instead of `args`

### Bug description

I'm using this code:
[code]
But it doesn't start the browser in fullscreen.

### Puppeteer version

13.0.1

### Node.js version

v14.18.2

### npm version

13.0.1

### What operating system are you seeing the problem on?

Linux

### Relevant log output

_No response_

[2021-12-31 11:08] #7882 closed, assigned to nobody

[2022-01-01 09:20] Liuyilin-ai opened #7884 "[Bug]: 当我监听 targetcreated 时,我应该如何获取targetcreated窗口里request请求或者是response请求"
### Bug description

Steps to reproduce the problem:

1. …
How do I get request or Response requests in the TargetCreated window when I'm listening to targetCreated
2...
When I do this, the system prompts me
node_modules\puppeteer\lib\cjs\puppeteer\common\HTTPResponse.js:129
                        throw new Errors_js_1.ProtocolError('Could not load body for this request. This might happen if the

[2022-01-02 09:29] alexandresalome commented on #5378
I discovered that you can configure Node SSL checks at runtime by specifying an environment variable to the node binary:

[code]

[2022-01-03 05:57] #7879 closed, assigned to nobody

[2022-01-03 07:07] DaniyalAkbar commented on #7790
Can some please respond back to this thread

[2022-01-03 07:55] whimboo commented on #7771
@dickeylth thanks for checking again. The diff from these two reports do not show anything around the 200MB of memory increase as the above output states. There are only 70MB of cached strings. Did you attach the correct reports? For now the initially reported memory issue seems to be still fixed.

[2022-01-03 13:19] PythonCoderAS opened #7886 "[Feature]: Include Pixel 6 in devices"
### Steps to reproduce

N/A

**What steps will reproduce the problem?**

N/A

**What is the expected result?**

I want to be able to use the Pixel 6 as a target device for emulation.

**What happens instead?**

The Pixel 6 is not a valid choice,

[2022-01-03 13:23] PythonCoderAS commented on #7874
https://github.com/electron-userland/electron-prebuilt/issues/182 is related.

[2022-01-03 16:58] joelgriffith commented on #7623
@OrKoN it appears you've taken over ownership of puppeteer judging by the commit logs. Do you have any input on the above, namely should puppeteer be more environment-sensitive and use browser-based APIs when ran in the browser? More of a incremental approach versus "node or not" hammer?

[2022-01-03 18:34] oxycash commented on #6576
can you share the working docker image?

[2022-01-03 18:36] oxycash commented on #2668
can you share the updated dockerfile?

[2022-01-03 21:26] 0xSnowmn opened #7887 "[Bug]: when use puppeteer inside electron app it throw error in regex"
### Bug description

Hello I'm trying to make an electron desktop app to run an automation code that use puppeteer to scrape some sites

this is my code background.js

`
const browser = await puppeteer.launch({
    executablePath:'google-chrome',
    headless: false,
    defaultViewport: null,
    args: ['--no-sandbox', '--start-maximized' ],
    slowMo:25,
})
const page = await browser.newPage();

[2022-01-03 22:12] vezaynk opened #7888 "[Bug]: Clipboard Access not working in headless mode"
### Bug description

Steps to reproduce the problem:

Code snippet:

[code]

Run the code snippet with `headless: false`, it outputs your clipboard. run with `headless: true` and it outputs an empty line.

### Puppeteer version

Latest

### Node.js version

Latest

### npm version

Latest

### What operating system are you seeing the problem on?

Windows

### Relevant log output

_No response_

St

[2022-01-03 23:17] saas-developer opened #7889 "[Bug]: To give an extension access to this site Click it"
### Bug description

Test code is available at https://github.com/s16h/puppeteer-tab-capture-repro

1. Run the repo.
2. Try the code from the docs under `Working with Chrome Extensions` -> https://pptr.dev/#?product=Puppeteer&version=v13.0.1&show=api-working-with-chrome-extensions
3. BUG: No background page targets are returned

What is happening?

Background page is only returned after clicking t

[2022-01-04 07:54] andreizet commented on #7884
ran into the same issue these days. I've managed to get it working using the `--disable-web-security` flag.

[2022-01-04 09:39] trashbytes commented on #2278
### I finally got it working!
Every page has the correct dimensions, no gaps, no shifting, it's perfect (I think).

**This is how I am generating PDFs. This code is pretty basic and still valid:**

[code]
But, as we all know, it's pretty inconsistent by default. I tried a lot of different ideas, but nothing worked.

Then I stumbled upon [Paper CSS](https://github.com/cognitom/paper-css).

It's not

[2022-01-04 16:19] subject-21 commented on #1916
Hi I'm having a problem to fetch har while browser already open, thus the page events array like 'Page.loadEventFired' is empty and chrome-har returns nothing. anyone knows how to solve this?

[2022-01-04 16:22] subject-21 commented on #1916
@ebidel @aslushnikov @Everettss @raviasheesh @luckyhughes

[2022-01-04 16:46] yxiong20 commented on #7871
This might be due to WebGL content on the page, similar to https://github.com/puppeteer/puppeteer/issues/5961.

[2022-01-04 17:11] yxiong20 commented on #5352
I tried this workaround and didn't work for me.

First of all I got some simple js errors from node:

    `function canvasToImage(element: HTMLCanvasElement) {`
                                   ^
SyntaxError: Unexpected token ':'

     `const properties = ['width', 'height', 'position', 'left', 'top'] as const;`
                                                                        ^^
 SyntaxEr

[2022-01-04 19:04] Quezion commented on #5662
@agileadam's has the final fix necessary to make m1 work -- if you've already installed the m1 chromium workaround via Brew.

In order to get https://github.com/artpi/roam-research-private-api/issues/15 working, I ended up patching the `os.arch()` at the following path, `homebrew/lib/node_modules/roam-research-private-api/node_modules/puppeteer/lib/cjs/puppeteer/node/Launcher.js`.

`chromeExecutab

[2022-01-04 23:52] 0xSnowmn commented on #1991
After 2 days of searching on StackOverflow and GitHub issues, I found that no actual solutions to build the local chrome with the electron app the best solution was to set the executable path and use chrome installed on the pc but many answers said that You will do it manually but I found this better to do it using "chrome-path" npm package to set path of chrome auto in mac or Linux or Windows her

[2022-01-05 02:27] leiyu-97 commented on #5352
@yxiong20  I'm using typescript in the above excample, you can try this instead.
[code]

[2022-01-05 07:28] lobbin commented on #1991
I ended up with something like this. When using `electron-builder --win zip --x64`, puppeteer will end up in app.asar.unpacked, not in app.asar with the rest of the code.

[code]

[2022-01-05 10:23] ethyaan opened #7891 "[Bug]: InterceptResolutionAction is undefined and can not be used because of `declare` keyword"
### Bug description

Steps to reproduce the problem:

1. frist try to import `import { InterceptResolutionAction } from 'puppeteer';`
2. try to use it in you typescript application. like `console.log('InterceptResolutionAction => ', InterceptResolutionAction);`
3. you will get `undefined`

the reason is this because of using `declare` keyword and at the time of compile, it will be ignored.
I guess